
/* ::::: null ::::: */

body { margin: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; font-family: Verdana,Tahoma; font-style: normal; font-variant: normal; font-weight: normal; font-size: 11px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
#widget-box { border: 1px solid rgb(140, 140, 140); position: relative; width: 208px; height: 353px; padding-bottom: 55px; }
#widget-box h1 { margin: 0px; background: transparent url('widget-bg.gif') no-repeat scroll left top; position: relative; padding-top: 2px; text-align: center; width: 100%; height: 21px; font-size: 12px; cursor: pointer; }
#widget-box a { position: relative; text-decoration: none; color: rgb(101, 101, 101); font-family: Verdana; }
#widget-box a:hover { text-decoration: underline; color: rgb(66, 94, 125); }
#widget-bottom { padding: 0px 0px 0px 43px; background: transparent url('widget-bg.gif') no-repeat scroll left bottom; position: absolute; bottom: 0px; left: 0px; width: 100%; height: 54px; }
#get-quote-box { border: 1px solid rgb(109, 109, 109); position: absolute; top: 31px; left: 45px; }
#get-quote-box input { border: 1px solid rgb(216, 216, 216); padding: 0px 0px 1px 3px; font-size: 12px; width: 118px; text-transform: uppercase; }
#get-quote-go { padding: 0px; position: absolute; top: 30px; left: 174px; width: 30px; height: 22px; text-align: center; }
#tableCaptions { position: relative; font-weight: bold; color: rgb(81, 81, 81); }
#widget-content { line-height: 1em; }
#widget-content a { color: rgb(30, 99, 176); text-decoration: underline; }
#widget-content a:hover { color: rgb(0, 0, 0); }
* { outline-color: -moz-use-text-color; outline-style: none; outline-width: 0px; }
.sanebull_red { color: rgb(204, 0, 0); }
.sanebull_green { color: rgb(0, 136, 0); }
.odd { background: rgb(241, 241, 241) none repeat scroll 0% 0%; }
