
/* ::::: http://plog.longwin.com.tw/templates/Mac-Stripe/style.css ::::: */

body { margin: 0px 0px 20px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-family: "Trebuchet MS",arial,helvetica,sans-serif; letter-spacing: 0.05em; line-height: 150%; }
#banner h1 { display: inline; margin-right: 5px; }
.qa dd { border-style: solid; border-color: rgb(204, 204, 204) rgb(223, 223, 223) rgb(223, 223, 223) rgb(204, 204, 204); border-width: 1px; margin: 0.4em 1em 2em 0.4em; padding: 0.3em; color: rgb(102, 102, 102); }
.qa dt:before { padding: 3px; content: "問："; color: rgb(51, 51, 153); }
.qa dd:before { padding: 3px; content: "答："; color: rgb(51, 51, 153); }
.qa dd {  }
.qa dt {  }
li { margin: 1px; }
a, a:link, a:visited { border-bottom: 1px dotted rgb(136, 136, 170); background-color: transparent; color: rgb(136, 136, 170); text-decoration: none; cursor: pointer; }
a:active, a:hover { border-bottom: 1px solid rgb(68, 68, 85); color: rgb(68, 68, 85); cursor: pointer; }
h1, h2, h3 { margin: 0px; padding: 0px; }
form { margin: 0px; display: inline; }
code { margin: 0px; }
pre { margin: 0px; }
.red-font { font-size: 16px; background-color: transparent; color: red; }
.blue-font { background-color: transparent; color: blue; }
.banner-font { font-size: 16px; background-color: transparent; color: red; }
.small-font { font-size: 14px; }
blockquote { border: 1px dashed rgb(170, 187, 204); padding: 10px; color: rgb(0, 0, 0); font-size: 80%; background-color: rgb(255, 255, 204); margin-left: 15px; margin-right: 0px; }
.photo { padding: 2px; color: rgb(51, 51, 51); font-size: small; font-weight: normal; line-height: 140%; }
.phototitle { border-bottom: 2px solid rgb(136, 136, 136); padding: 2px; background-image: url('stripes.png'); color: rgb(0, 0, 0); font-weight: bold; margin-top: 30px; text-align: center; }
.t_color { border: 1px solid rgb(170, 170, 170); border-collapse: collapse; }
.t_color th, .orz td { padding: 3px; }
.t_color thead tr { background-color: rgb(204, 255, 153); }
.t_color thead tr th { border: 1px solid rgb(170, 170, 170); font-weight: normal; font-size: 80%; }
.t_color tbody tr th { border: 1px solid rgb(170, 170, 170); font-weight: normal; font-size: 70%; background-color: rgb(204, 255, 153); text-align: right; }
.t_color tbody tr td { border: 1px solid rgb(170, 170, 170); font-size: 70%; }
.t_color tbody tr:hover td { background-color: rgb(51, 51, 204); color: white; }
.searchtitle { border-bottom: 2px solid rgb(136, 136, 136); padding: 1px; background-image: url('stripes.png'); color: rgb(0, 0, 0); font-weight: bold; text-align: center; }
#banner, #banner-commentspop { border-bottom: 3px solid rgb(136, 136, 136); padding: 10px 0pt 10px 15px; background-image: url('stripes.png'); color: rgb(0, 0, 0); font-size: x-large; font-weight: normal; }
#banner a, #banner a:link, #banner a:visited, #banner a:active, #banner a:hover { border: medium none ; color: rgb(0, 0, 0); font-size: 40px; text-decoration: none; }
.description { color: rgb(51, 51, 51); font-size: small; text-transform: none; }
#content { position: absolute; left: 275px; right: 65px; }
#container { border: 1px solid rgb(255, 255, 255); margin: 0pt 50px; }
#links { padding: 0px 15px 15px; margin-left: 50px; width: 200px; }
.blog { padding: 30px 15px 15px; }
.blogbody { color: rgb(51, 51, 51); line-height: 140%; text-align: justify; }
.title { font-size: large; }
#menu { text-align: center; }
.date { border-bottom: 2px solid rgb(136, 136, 136); padding: 2px; background-image: url('stripes.png'); color: rgb(51, 51, 51); font-size: medium; font-weight: bold; margin-bottom: 10px; text-align: center; }
.posted { color: rgb(0, 0, 0); display: block; font-size: small; margin-bottom: 25px; padding-top: 2px; text-align: center; }
.calendar a { border: 1px solid rgb(136, 136, 136); padding: 0pt 2px; font-weight: bold; }
.calendar table { width: 100%; }
.calendar td, .calendar th { padding: 2px; color: rgb(102, 102, 102); font-size: small; font-weight: normal; line-height: 140%; text-align: center; }
.calendarhead { border-bottom: 2px solid rgb(136, 136, 136); padding: 2px; background-image: url('stripes.png'); color: rgb(0, 0, 0); font-size: medium; font-weight: bold; text-align: center; }
.side { padding: 2px; color: rgb(51, 51, 51); font-size: small; font-weight: normal; line-height: 140%; }
.side form { margin: 0pt; }
.sidetitle { border-bottom: 2px solid rgb(136, 136, 136); padding: 2px; background-image: url('stripes.png'); color: rgb(0, 0, 0); font-weight: bold; margin-top: 30px; text-align: center; }
.syndicate { border-bottom: 2px solid rgb(136, 136, 136); padding: 2px; background-image: url('stripes.png'); font-weight: bold; margin-top: 15px; text-align: center; }
.syndicate a, .syndicate a:hover { border: medium none ; }
.powered { padding: 2px; color: rgb(102, 102, 102); font-size: small; line-height: 140%; text-align: center; }
.comments-body { border-bottom: 1px dotted rgb(170, 170, 170); margin: 10px 30px; color: rgb(102, 102, 102); line-height: 140%; padding-bottom: 10px; text-align: justify; }
.comments-post { color: rgb(102, 102, 102); display: block; font-size: small; text-align: center; }
.trackback-url { border: 1px dotted rgb(153, 153, 153); padding: 5px; color: rgb(102, 102, 102); font-size: small; font-weight: normal; line-height: 140%; }
.trackback-body { border-bottom: 1px dotted rgb(153, 153, 153); color: rgb(102, 102, 102); font-size: small; font-weight: normal; line-height: 140%; padding-bottom: 10px; padding-top: 10px; }
.trackback-post { color: rgb(102, 102, 102); font-size: x-small; font-weight: normal; }
.comments-head { border-bottom: 2px solid rgb(136, 136, 136); padding: 2px; background-image: url('stripes.png'); color: rgb(51, 51, 51); font-size: medium; font-weight: bold; margin-bottom: 10px; text-align: center; }
#author, #email, #search, #text, #url { border: 1px solid rgb(170, 170, 170); }
#text { width: 350px; }
div.side ul { position: relative; left: -20px; }
.bookmark { margin: 4px 0px 0px; text-align: center; }
.bookmark a { border: medium none ; margin: 3px; text-decoration: none; }
.bookmark img { border: medium none ; text-decoration: none; }
#content a[href$=".pdf"] { background: transparent url('362353384_27b2da60cf_m.jpg') no-repeat scroll right center; padding-right: 18px; }
#content a[href$=".doc"] { background: transparent url('362353383_86d1c5ae90_m.jpg') no-repeat scroll right center; padding-right: 18px; }
#content a[href$=".xls"] { background: transparent url('362353380_d48d22e8f8_m.jpg') no-repeat scroll right center; padding-right: 18px; }
#content a[href^="mailto:"] { background: transparent url('362353387_177cbdea21_m.jpg') no-repeat scroll right center; padding-right: 20px; }
#content a[target="_blank"] { background: transparent url('362353389_fe347a775c_m.jpg') no-repeat scroll right center; padding-right: 18px; }
textarea:focus, input:focus { border: 2px solid rgb(151, 189, 225); background-color: rgb(255, 255, 170); }

/* ::::: http://www.google.com/cse/api/branding.css ::::: */

.cse-branding-bottom, .cse-branding-right { margin: 0pt; padding: 0pt; }
.cse-branding-bottom, .cse-branding-right {  }
.cse-branding-bottom:after, .cse-branding-right:after { content: "."; display: block; height: 0pt; clear: both; visibility: hidden; }
.cse-branding-text { font-family: Arial; font-style: normal; font-variant: normal; font-weight: normal; font-size: 10px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
.cse-branding-form form { margin-bottom: 0pt; padding-bottom: 0pt; }
.cse-branding-bottom .cse-branding-logo, .cse-branding-bottom .cse-branding-text { display: block; float: left; }
.cse-branding-bottom .cse-branding-form { margin-bottom: 3px; }
.cse-branding-bottom .cse-branding-logo { padding: 0pt; }
.cse-branding-bottom .cse-branding-text { padding-top: 4px; }
.cse-branding-right .cse-branding-form { float: left; }
.cse-branding-right .cse-branding-logo, .cse-branding-right .cse-branding-text { margin-left: 4px; }
.cse-branding-right .cse-branding-form { float: left; margin-right: 4px; }
.cse-branding-right .cse-branding-logo { padding: 0pt; }
.cse-branding-right .cse-branding-text { margin-top: -4px; }
