
/* ::::: null ::::: */

body { margin: 0pt; padding: 0pt; overflow-y: hidden; }
html { overflow-y: hidden; }

/* ::::: http://www.google.com/calendar/13e584199122f2530b37523771894ffdembedcompiled.css ::::: */

html > body .goog-inline-block { display: inline-block; }
.goog-inline-block { position: relative; display: inline-block; }
* html .goog-inline-block { display: inline; }
:first-child + html .goog-inline-block { display: inline; }
.t1 { margin: 0pt 2px; overflow: hidden; font-size: 1px; height: 1px; line-height: 1px; }
.t2 { margin: 0pt 1px; overflow: hidden; font-size: 1px; height: 1px; line-height: 1px; }
.calendar-list input { padding: 0pt; display: inline; margin-bottom: 1px; }
.calendar-list span { color: rgb(0, 255, 0); font-weight: bold; }
.calendar-list label { cursor: pointer; }
.chip { overflow: hidden; position: absolute; font-size: 85%; cursor: default; color: rgb(255, 255, 255); -moz-user-select: none; }
.ie6 .chip { padding-right: 2px; }
.chip dl { border-style: solid; border-width: 0pt 1px; margin: 0pt; padding: 0pt 0pt 1px; overflow: hidden; }
.chip dt { overflow: hidden; margin-top: -1px; font-family: Verdana,Sans-serif; font-style: normal; font-variant: normal; font-weight: bold; font-size: 80%; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; white-space: nowrap; padding-left: 1px; text-align: left; }
.ie6 .chip dl { width: 100%; }
.ie6 .chip dt {  }
.ie6 .chip dd {  }
.chip dd { margin: 0pt; padding: 0pt 1px; overflow: hidden; font-family: Verdana,Sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 100%; line-height: 1.3em; font-size-adjust: none; font-stretch: normal; -x-system-font: none; text-align: left; }
.cbrd { border: 1px solid ; -moz-border-radius-topleft: 3px; -moz-border-radius-topright: 3px; -moz-border-radius-bottomright: 3px; -moz-border-radius-bottomleft: 3px; }
.cbrd dl { border-width: 0pt; }
.cbrd dt { margin-top: 0pt; }
.ct { border-style: solid; border-color: transparent; border-width: 0pt 2px 2px; height: 0pt; line-height: 0pt; font-size: 0pt; }
.ie6 .ct { border-style: solid dotted; }
.cb1, .cb2 { border-style: solid; }
.cb1 { border-width: 0pt 1px; margin: 0pt 1px; height: 1px; font-size: 1px; line-height: 1px; }
.cb2 { border-width: 0pt 0pt 1px; margin: 0pt 2px; height: 0pt; font-size: 0pt; line-height: 0pt; }
.ie6 .ct { margin-right: -2px; }
.ie6 .cb1 { margin-right: -1px; }
.ie6 .cb2 { margin-right: 0pt; }
.cro dl { padding-left: 1px; }
.cro dt { margin-top: 1px; }
.chip a:link, .chip a:visited, .chip a:active { text-decoration: none; color: rgb(255, 255, 255); }
.chip a:hover { text-decoration: underline; color: rgb(255, 255, 255); }
.cadc dt { margin-top: -2px; font-family: Verdana,Sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 100%; line-height: 1.3em; font-size-adjust: none; font-stretch: normal; -x-system-font: none; margin-bottom: -1px; }
.ciconpre { padding-left: 0pt; }
.cic { background-repeat: no-repeat; display: inline-block; margin-left: 2px; width: 9px; height: 7px; line-height: 7px; background-image: url('combined_v6.gif'); }
.ff2 .cic { display: -moz-inline-box; vertical-align: bottom; position: relative; top: -2px; }
.cic-lft, .cic-rgt { border-top: 4px solid transparent; border-bottom: 4px solid transparent; height: 0pt; width: 0pt; line-height: 0pt; font-size: 0pt; }
.ie6 .cic-lft, .ie6 .cic-rgt { border-top: 4px dotted; border-bottom: 4px dotted; }
.cic-lft { border-right: 4px solid white; background-image: none; margin-right: 2px; }
.cic-rgt { border-left: 4px solid white; position: relative; top: 3px; margin-right: 2px; margin-left: auto; margin-bottom: -8px; }
.cic-ques { margin-left: 0pt; margin-right: 2px; width: 9px; height: 9px; line-height: 9px; background-position: -56px -50px; }
.cic-prsn { background-position: -28px -50px; }
.cic-noprs { background-position: -46px -50px; }
.cic-tmr { background-position: -28px -57px; }
.cic-rcr { background-position: -37px -50px; }
.cic-spcl { background-position: -37px -57px; }
.cic-priv { background-position: -11px -64px; }
.chip .location { display: block; font-style: normal; }
.resizer { position: absolute; height: 7px; line-height: 7px; width: 100%; bottom: 0pt; cursor: s-resize; }
.rszr_icon { border-top: 3px double white; font-size: 0pt; line-height: 0pt; height: 0pt; width: 10px; margin-left: auto; margin-right: auto; }
.calendar-container { margin: 0pt; padding: 0pt; font-size-adjust: none; position: relative; }
.view-cap, .view-container-border { background-color: rgb(195, 217, 255); }
.view-container { overflow: hidden; position: relative; }
.view-container-border { padding: 0pt 8px; position: relative; }
.loading { padding: 2px; background-color: rgb(204, 68, 68); color: rgb(255, 255, 255); position: absolute; top: 0pt; right: 2px; z-index: 25000001; display: none; white-space: nowrap; }
.calendar-container.ie7 { overflow-x: hidden; }
.detail-item { margin: 0pt; padding: 0pt; }
.event-details-label { margin: 0pt; padding: 3px 0pt; display: block; clear: left; float: left; font-size: 100%; font-weight: bold; width: 7em; color: rgb(78, 78, 78); }
.event-when, .event-where, .event-description, .event-who, .event-going { padding: 3px 0pt; display: block; margin-left: 7em; }
.detail-content { padding: 1em 0pt; }
.bubble .details .title { font-weight: bold; font-size: medium; }
.bubble .detail-content { padding-bottom: 0pt; }
.bubble .separator { height: 1px; line-height: 0pt; font-size: 0pt; width: 100%; margin-top: 10px; margin-bottom: 5px; }
* html .event-detail-item { margin-right: -3px; }
* html .event-when, * html .event-where, * html .event-description, * html .event-who, * html .event-going { margin: 0pt; height: 1%; }
.cc { border: 1px solid gray; position: absolute; font-family: Arial,sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 11px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; background-color: rgb(255, 255, 255); visibility: hidden; }
.cc-titlebar { background-color: rgb(232, 238, 247); }
.cc-close { margin: 2px 2px 0pt 0pt; background: transparent url('combined_v6.gif') repeat scroll 0pt -50px; position: absolute; right: 0pt; cursor: pointer; width: 15px; height: 15px; }
.cc-title { padding: 2px; font-weight: bold; }
.wc-root { border: 0pt none ; width: 100%; height: 100%; }
.calendar-container { font-family: Arial,sans-serif; font-size: small; }
.footer { padding: 4px 0pt 2px; font-size: 85%; text-decoration: none; }
.subscribe-image { cursor: pointer; }
.menu-arrow { vertical-align: bottom; cursor: pointer; }
.header { padding: 0pt 2px; }
.header img { border: 0pt none ; vertical-align: middle; }
.today-button { padding: 0pt 1px; font-size: 85%; vertical-align: middle; }
.navSpacer { width: 100%; cursor: default; }
.date-controls {  }
.branding { text-align: right; }
.branding img {  }
.navBack { padding-left: 2px; padding-right: 2px; }
.date-nav-buttons img { width: 22px; height: 17px; }
.navForward { padding-right: 2px; }
.legend-bullet { border: 0.05em solid grey; margin: 0.2em; padding: 0pt; overflow: hidden; vertical-align: text-bottom; width: 0.9em; height: 0.9em; }
.date-buttons img { vertical-align: middle; }
.nav-table tr { margin: 0pt; padding: 0pt; }
.nav-table td { vertical-align: middle; }
.nav-table .view-tab { padding: 0pt 2px; vertical-align: bottom; }
.nav-table { white-space: nowrap; cursor: pointer; }
.arrowImg { margin-left: 5px; margin-right: 5px; }
.date-picker-on { border: 1px solid rgb(128, 128, 128); }
.date-picker-arrow-on { background-color: rgb(195, 217, 255); }
.date-top, .date-top-on, .date-top-over { font-weight: bold; padding-top: 1px; padding-left: 0.3em; padding-right: 0.3em; white-space: nowrap; }
.date-top-over { text-decoration: underline; }
.cal-menu { border: 1px solid rgb(128, 128, 128); position: absolute; left: 11px; top: 37px; z-index: 100001; }
.view-tab-unselected { background-color: rgb(232, 238, 247); }
.view-tab-selected { background-color: rgb(195, 217, 255); }
.tab-name { padding: 4px 5px 3px; white-space: nowrap; }
.tab-spacer { width: 3px; cursor: default; }
.calendar-list { border: 1px solid gray; padding: 2px; font-family: Arial,sans-serif; font-size: 9pt; background-color: rgb(255, 255, 255); width: 14em; }
.calendar-nav img { width: 15px; height: 14px; }
.calendar-list .subscribeButton { margin: 2px 0pt 0pt; width: 100%; }
.calendar-list img { cursor: pointer; margin-left: 3px; }
.bubble { position: absolute; font-size: 9pt; }
.bubble-sprite { width: 148px; height: 96px; position: absolute; background-image: url('bubble_combined.png'); }
.ie6 .bubble-sprite { background: transparent none repeat scroll 0% 0%; }
.bubble .corner { overflow: hidden; width: 25px; height: 25px; position: absolute; }
.bubble-tl { left: 0pt; top: 0pt; }
.bubble-tr { right: 0pt; top: 0pt; }
.bubble-bl { left: 0pt; bottom: 0pt; }
.bubble-br { right: 0pt; bottom: 0pt; }
.bubble-tl .bubble-sprite { left: 0pt; }
.bubble-tr .bubble-sprite { left: -25px; }
.bubble-bl .bubble-sprite { left: 0pt; top: -25px; }
.bubble-br .bubble-sprite { left: -25px; top: -25px; }
.bubble .closebutton { background: transparent url('combined_v6.gif') repeat scroll 0pt -50px; right: 10px; top: 10px; width: 15px; height: 15px; cursor: pointer; position: absolute; }
.bubble-top, .bubble-bottom { margin: 0pt 25px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; height: 24px; }
.bubble-top { border-top: 1px solid rgb(171, 171, 171); }
.bubble-bottom { border-bottom: 1px solid rgb(171, 171, 171); }
.bubble-mid { border-left: 1px solid rgb(171, 171, 171); border-right: 1px solid rgb(171, 171, 171); padding: 0pt 20px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.prong { overflow: hidden; width: 98px; height: 96px; position: absolute; }
.prong .bubble-sprite { left: -50px; top: 0pt; }
.te { padding: 1px; overflow: hidden; white-space: nowrap; }
.te-t { font-size: 91%; font-family: Arial,sans-serif; font-weight: bold; white-space: nowrap; line-height: 1.2; }
.te-rev { width: 100%; }
.te-rev-s { width: 100%; white-space: nowrap; vertical-align: bottom; }
.te-rev-spos { position: relative; }
.te-rev-scont { overflow: hidden; text-align: left; position: absolute; left: 0pt; width: 100%; top: 0pt; }
.st-bg-table { position: absolute; top: 0pt; left: 0pt; height: 100%; width: 100%; table-layout: fixed; }
.st-bg { border-left: 1px solid rgb(195, 217, 255); }
.st-bg-today { background-color: rgb(255, 255, 204); }
.st-grid { position: relative; table-layout: fixed; width: 100%; }
.st-c { padding: 1px 1px 0pt 2px; vertical-align: top; font-family: Verdana,sans-serif; }
.st-s { padding-bottom: 2px; cursor: default; }
.st-dtitle { border-top: 1px solid rgb(195, 217, 255); border-left: 1px solid rgb(195, 217, 255); overflow: hidden; background-color: rgb(232, 238, 247); color: rgb(68, 68, 68); padding-right: 2px; text-align: right; line-height: 16px; }
.st-dtitle-nonmonth { background-color: rgb(238, 238, 238); color: rgb(119, 119, 119); }
.st-dtitle-today { background-color: rgb(187, 204, 221); }
.st-wc { padding: 0pt; vertical-align: bottom; float: left; height: 16px; width: 16px; }
.st-wc-click { cursor: pointer; }
.st-c .te { cursor: pointer; }
.st-ad-n { padding: 1px 1px 1px 3px; overflow: hidden; white-space: nowrap; color: rgb(255, 255, 255); -moz-border-radius-topleft: 3px; -moz-border-radius-topright: 3px; -moz-border-radius-bottomright: 3px; -moz-border-radius-bottomleft: 3px; cursor: pointer; }
.st-ad-o { border-style: solid; border-width: 1px 0pt; margin: 0pt 1px; cursor: pointer; }
.st-ad-m { border-style: solid; border-width: 0pt 1px; margin: 0pt -1px; padding-left: 3px; }
.st-ad-i { overflow: hidden; color: rgb(255, 255, 255); white-space: nowrap; width: 100%; }
.st-ad-ml, .st-ad-mr { border-top: 4px solid transparent; border-bottom: 4px solid transparent; position: relative; top: 2px; margin-bottom: -8px; height: 0pt; width: 0pt; line-height: 0pt; font-size: 0pt; }
.st-ad-mpad { padding-left: 10px; }
.st-ad-ml { border-right: 4px solid white; margin-left: -7px; margin-right: auto; }
.st-ad-mr { border-left: 4px solid white; margin-left: auto; margin-right: 3px; }
.st-more { color: rgb(17, 42, 187); text-align: center; cursor: pointer; font-family: Arial,sans-serif; }
.st-moreul { text-decoration: underline; }
.st-moreicon { margin: 1px; background-color: rgb(208, 214, 222); color: rgb(98, 116, 135); padding-right: 5px; text-align: right; font-size: 85%; }
.drag-lasso-container { position: absolute; left: 0pt; top: 0pt; width: 0pt; height: 0pt; }
.drag-lasso { font-size: 0pt; line-height: 0pt; position: absolute; background-color: rgb(195, 217, 255); opacity: 0.5; }
.drag-event { font-family: Verdana,sans-serif; z-index: 1000; position: absolute; cursor: pointer; }
.agenda { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.agenda-padding { font-size: 1px; line-height: 1px; height: 6px; }
.agenda .scrollbox { border-top: 1px solid rgb(162, 187, 221); border-left: 1px solid rgb(162, 187, 221); border-bottom: 1px solid rgb(255, 255, 255); overflow-x: hidden; overflow-y: auto; background-color: rgb(255, 255, 255); margin-top: 6px; }
.agenda-scrollboxBoundary { background-color: rgb(195, 217, 255); }
.agenda .event { border-top: 1px solid rgb(204, 221, 238); margin: 0pt; clear: both; cursor: pointer; }
.agenda .day { border-bottom: 1px solid rgb(204, 221, 238); }
.agenda .event-summary, .agenda .event-summary-expanded { white-space: nowrap; }
.agenda .event-details { padding: 0pt; display: block; float: none; clear: both; cursor: default; }
.agenda .event-details-inner { padding: 0pt 0pt 0.3em; }
.agenda .event-details, .agenda .event-summary, .agenda .event-summary-expanded { margin: 0.3em 1em; }
.agenda .add-icon { float: right; padding-left: 1em; display: block; }
.agenda .event-time { margin: 0pt; padding: 0pt; display: block; width: 2.5em; float: left; }
.agenda .all-day .event-time { display: none; }
.agenda .event-title { margin: 0pt; overflow: hidden; display: block; clear: none; white-space: nowrap; }
.agenda .title-wrapper { margin: 0pt 0pt 0pt 2.5em; padding: 0pt; display: block; }
.agenda .all-day .title-wrapper { margin-left: 0pt; }
.agenda .event-reply-status { border: 0pt none ; margin: 0pt; padding: 0pt; display: block; width: 2em; float: left; }
.agenda .event-reply-status img { border: 0pt none ; }
.agenda .all-day .event-reply-status { width: 0pt; }
.agenda .event-declined {  }
.agenda .event-summary-expanded { font-weight: bold; }
.agenda .attendee-no { color: gray; }
.agenda .attendee-maybe { color: gray; }
.agenda .attendee-yes { color: rgb(0, 0, 0); }
.agenda .first-event {  }
.agenda .last-event {  }
.agenda .date-label { background: rgb(229, 236, 249) none repeat scroll 0% 0%; font-weight: bold; position: relative; }
.agenda .date-label, .agenda .underflow-bot, .agenda .underflow-top { padding: 0.2em 1em; }
.agenda .underflow-top { border-bottom: 1px solid rgb(204, 221, 238); }
img.agenda-web-content { border: 0pt none ; cursor: pointer; height: 16px; width: 16px; vertical-align: top; }
.agenda-wc { margin-bottom: -3px; }
.agenda-more { color: rgb(17, 42, 187); cursor: pointer; text-decoration: underline; white-space: nowrap; }
.agenda .underflow-bot, .agenda .underflow-top { color: rgb(102, 102, 102); font-style: italic; }
.ie6 .agenda .event-time { margin-right: -3px; }
.ie6 .agenda .event-title { margin: 0pt; height: 1%; overflow-x: hidden; overflow-y: visible; }
.agenda .event-links { margin-left: 7em; }
.wk-table { margin: 0pt; padding: 0pt; }
.wk-weektop { overflow: hidden; table-layout: fixed; width: 100%; background-color: rgb(195, 217, 255); font-size: 11px; line-height: 14px; }
.ie7 .wk-weektop { position: relative; }
.wk-dayname { padding: 2px 4px; font-weight: normal; color: rgb(17, 42, 187); margin-left: 4px; white-space: nowrap; }
.wk-today { border-style: solid; border-color: rgb(103, 134, 167) rgb(170, 204, 238) rgb(170, 204, 238) rgb(103, 134, 167); border-width: 1px; padding: 1px 3px; color: rgb(255, 255, 255); font-weight: bold; background-color: rgb(136, 170, 204); }
.wk-dummyth { padding: 0pt; vertical-align: top; background-color: rgb(195, 217, 255); }
.wk-allday { border-style: solid; border-color: rgb(162, 187, 221) rgb(255, 255, 255) rgb(255, 255, 255) rgb(162, 187, 221); border-width: 1px; background-color: rgb(232, 238, 247); font-size: 11px; line-height: 14px; }
.wk-allday .st-c { border-left: 3px double rgb(221, 221, 221); padding-left: 0pt; padding-right: 0pt; }
.wk-webcontent-td { font-size: 0pt; padding-left: 2px; height: 5px; }
.wk-scrolltimedevents { border-top: 1px solid rgb(162, 187, 221); border-left: 1px solid rgb(162, 187, 221); border-bottom: 1px solid rgb(255, 255, 255); padding: 0pt; position: relative; overflow-y: scroll; overflow-x: hidden; background-color: rgb(255, 255, 255); }
.tg-timedevents { table-layout: fixed; line-height: normal; width: 100%; margin-top: -1px; }
.tg-times { padding: 1px 1px 0pt 0pt; overflow: hidden; font-size: 85%; background-color: rgb(232, 238, 247); color: rgb(68, 102, 136); text-align: right; vertical-align: top; }
.tg-time { border-bottom: 1px solid rgb(221, 221, 221); padding-right: 2px; }
.tg-timesnotlast { border-right: 1px solid rgb(221, 221, 221); }
.tg-day { border-left: 3px double rgb(221, 221, 221); overflow: hidden; vertical-align: top; }
.tg-daywrapper { position: relative; margin-right: 2px; cursor: default; }
.tg-today { background-color: rgb(255, 255, 204); }
.tg-hourmarkerwrapper { position: relative; height: 1px; top: 1px; }
.tg-hourmarkers { position: absolute; width: 100%; }
.tg-dualmarker { border-top: 1px solid rgb(221, 221, 221); border-bottom: 1px dotted rgb(221, 221, 221); height: 1em; line-height: 1em; margin-bottom: 1em; }
.tg-nowmarker { border-top: 2px solid red; position: relative; line-height: 0pt; height: 0pt; margin-right: -2px; opacity: 0.4; }
.tg-nowptr { position: absolute; background-position: -60px -68px; width: 5px; height: 9px; background-image: url('combined_v6.gif'); }
.rtl .tg-nowptr { background-position: -67px -68px; }
.wk-tzlabel { overflow: hidden; color: rgb(68, 102, 136); vertical-align: bottom; text-align: center; padding-bottom: 2px; }
.wk-moreevents { padding: 8px; }
.wk-moreevents .st-c { border: medium none ; padding: 1px 2px 0pt; }
.wk-preevent { width: 25%; padding-top: 1px; }
.wk-more-prealign { text-align: right; }
.wk-postevent { width: 25%; }
.wk-more-postalign { text-align: left; }
.wk-preevent .st-ad-m { cursor: default; }
.wk-postevent .st-ad-m { cursor: default; }
.wk-sarr { background: transparent url('combined_v6.gif') no-repeat scroll 0% 0%; float: right; cursor: pointer; width: 15px; height: 13px; }
.wk-sarr-no { visibility: hidden; }
.wk-sarr-u { background-position: -182px 0pt; }
.wk-sarr-d { background-position: -182px -11px; }
.wk-sarr-ud { background-position: -182px -22px; }
.today .wk-sarr-u { background-position: -199px 0pt; }
.today .wk-sarr-d { background-position: -199px -11px; }
.today .wk-sarr-ud { background-position: -199px -22px; }
.wk-disclose { position: absolute; top: 2em; }
.wk-zip { overflow: hidden; cursor: pointer; width: 11px; height: 11px; background-image: url('combined_v6.gif'); background-position: -37px -64px; }
.goog-zippy-collapsed .wk-zip { background-position: -15px -103px; }
.rtl .goog-zippy-collapsed .wk-zip { background-position: -49px -67px; }
.mv-container { background: rgb(195, 217, 255) none repeat scroll 0% 0%; height: 100%; position: relative; white-space: nowrap; }
.st-contents, .mv-container { font-size: 11px; line-height: 14px; }
.mv-daynames-table { position: absolute; table-layout: fixed; top: 0pt; left: 0pt; width: 100%; color: rgb(17, 42, 187); }
.mv-dayname { font-weight: normal; }
.mv-event-container { background: rgb(255, 255, 255) none repeat scroll 0% 0%; overflow: hidden; position: absolute; left: 0pt; width: 100%; top: 14px; bottom: 0pt; }
.month-row { overflow: hidden; position: absolute; left: 0pt; width: 100%; }
.extraevents { padding: 1px 1px 2px 0pt; }
.dp-popup { border: 1px solid black; background: rgb(195, 217, 255) none repeat scroll 0% 0%; position: absolute; font-size: 9pt; line-height: 1em; width: 170px; z-index: 25000003; }
.dp-dayh { font-size: 78%; }
.dp-monthtable { border-bottom: 1px solid rgb(162, 187, 221); padding: 0pt; width: 100%; }
.ie .dp-monthtable { table-layout: fixed; }
.dp-cell { padding: 2px; text-align: center; font-family: Verdana,sans-serif; font-size: 85%; }
.dp-heading { color: rgb(17, 42, 187); font-weight: bold; vertical-align: middle; }
.dp-cur { font-weight: bold; padding-bottom: 4px; text-align: center; white-space: nowrap; font-size: 100%; }
.dp-prev, .dp-next { font-size: 100%; padding-bottom: 6px; cursor: pointer; }
.dp-prev { text-align: right; }
.dp-next { text-align: left; }
.dp-weekday { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.dp-weekday-selected { background: rgb(170, 204, 238) none repeat scroll 0% 0%; }
.dp-weekend { background: rgb(238, 238, 238) none repeat scroll 0% 0%; }
.dp-weekend-selected { background: rgb(153, 187, 221) none repeat scroll 0% 0%; }
.dp-with-events { font-weight: bold ! important; }
.dp-offmonth { color: rgb(136, 136, 136); }
.dp-day-left { border-left: 1px solid rgb(162, 187, 221); }
.dp-day-right { border-right: 1px solid rgb(162, 187, 221); }
.dp-dayh { border-bottom: 1px solid rgb(162, 187, 221); }
.dp-today, .dp-today-selected { border: 1px solid ; padding: 1px; color: rgb(255, 255, 255); }
.dp-today { border-color: rgb(85, 102, 119) rgb(170, 187, 204) rgb(170, 187, 204) rgb(85, 102, 119); background: rgb(153, 170, 187) none repeat scroll 0% 0%; }
.dp-today-selected { border-color: rgb(34, 68, 102) rgb(153, 187, 221) rgb(153, 187, 221) rgb(34, 68, 102); background: rgb(85, 119, 153) none repeat scroll 0% 0%; }
.dp-onhover { background-color: rgb(221, 238, 255); color: rgb(0, 0, 0); }

/* ::::: null ::::: */

* { font-weight: normal ! important; }
* { font-style: normal ! important; }
* { font-stretch: normal ! important; }

/* ::::: null ::::: */

.date-picker-off { border: 1px solid rgb(255, 255, 255); background-color: rgb(255, 255, 255); }
