/* ::::: http://www.ireading.cc/App_Themes/Default/sticker.css ::::: */

.textgray { font-size: 12px; line-height: 18px; color: rgb(102, 102, 102); }
.imgboard { border-color: rgb(219, 219, 219); }
.imgboard3 { border: 1px dashed rgb(102, 102, 102); font-size: 12px; color: rgb(102, 102, 102); }
.nameorange { font-size: 12px; color: rgb(233, 117, 1); text-decoration: none; line-height: 20px; }
