body { margin: 0px; padding: 0px; }
.linkBack { display: none; }
.postLink { display: block; position: absolute; width: 70px; height: 18px; background: url('push-pixnet.gif') no-repeat scroll 0pt -36px transparent; }
.push { background: url('push-pixnet.gif') no-repeat scroll 0% 0% transparent; width: 70px; height: 18px; }
