/* ::::: http://s.pixfs.net/f.pixnet.net/css/lang-css.css?v=472319b66c03a62edf3190b7e972b9bc ::::: */

#lang-list { font-size: 12px; font-family: arial; width: 60px; overflow: hidden; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(170, 170, 170); margin: 0pt ! important; }
#lang-list li { margin: 0pt; }
#lang-list li a { display: block; width: 60px; padding: 2px 5px; color: rgb(102, 102, 102); text-decoration: none; }
#lang-list li a:hover { background: none repeat scroll 0% 0% rgb(238, 238, 238); }
#lang-list li a.current { background: none repeat scroll 0% 0% rgb(238, 238, 238); }
#tipLang { position: fixed; z-index: 10000; background-color: rgb(238, 238, 238); border: 1px solid rgb(51, 51, 51); padding: 6px; font-size: 11px; line-height: 1.3; }
/* ::::: http://css.pixnet.in/blog/jikky/normal.css?v=1259044226 ::::: */

#comment-form table { width: 96%; margin: 0pt auto; }
#comment-form td, #comment-form th { border: 1px solid rgb(85, 85, 85); padding: 3px 5px; }
#comment-form input#send-comment { padding: 3px 5px; }
.article-content p { margin-bottom: 1em; }
#comment-form table { width: 96%; margin: 0pt auto; }
#comment-form td, #comment-form th { border: 1px solid rgb(85, 85, 85); padding: 3px 5px; }
#comment-form input#send-comment { padding: 3px 5px; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { margin: 0pt; padding: 0pt; }
table { border-collapse: collapse; border-spacing: 0pt; }
fieldset, img { border: 0pt none; }
address, caption, cite, code, dfn, em, th, var { font-style: normal; font-weight: normal; }
ol, ul { list-style: none outside none; }
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
.article-content { overflow: hidden; }
body { font: 12px arial; background: none repeat scroll 0% 0% rgb(241, 239, 201); color: rgb(102, 102, 102); }
html { overflow-x: hidden; }
a { color: rgb(180, 171, 133); text-decoration: none; }
a:hover { color: rgb(169, 128, 84); text-decoration: none; }
select { width: 170px; color: rgb(102, 102, 102); border: 1px solid rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(213, 225, 189); }
#container { width: 810px; margin: 20px auto; background: url('1188720348.jpg') repeat-y scroll left top transparent; position: relative; }
#header { background: url('1188720477.jpg') no-repeat scroll left top transparent; width: 810px; height: 400px; }
#login-bar { position: absolute; top: 10px; left: 10px; width: 300px; }
#banner {  }
#banner h1 a { font-size: 32px; font-family: "Simhei"; position: absolute; top: 80px; left: 35px; color: rgb(140, 73, 13); }
#banner h2 { position: absolute; top: 120px; left: 35px; color: rgb(102, 102, 102); width: 390px; height: 50px; overflow: hidden; }
#banner .skiplink, #banner p { display: none; }
#navigation { position: absolute; top: 1px; right: 20px; padding: 0pt; margin: 0pt; width: 365px; }
#navigation li { float: right; margin: 0pt; }
#navigation a { display: block; width: 90px; height: 27px; font-size: 0px; }
#navigation #link-album a:hover { background: url('1188720352.jpg') no-repeat scroll -272px -1px transparent; }
#navigation #link-blog a:hover { background: url('1188720352.jpg') no-repeat scroll -182px -1px transparent; }
#navigation #link-guestbook a:hover { background: url('1188720352.jpg') no-repeat scroll -92px -1px transparent; }
#navigation #link-profile a:hover { background: url('1188720352.jpg') no-repeat scroll -2px -1px transparent; }
#content { float: right; width: 580px; margin-right: 10px; }
#article-area { margin: 10px; }
#article-area h3, #view-mode, #sequence { text-align: right; }
.article { margin-bottom: 15px; border-bottom: 1px dotted rgb(170, 170, 170); }
.article-head { background: url('1188720476.jpg') no-repeat scroll center bottom transparent; text-align: center; }
.publish { font: 11px arial; text-transform: uppercase; margin-bottom: 2px; color: rgb(170, 170, 170); }
.title {  }
.title a { font-size: 18px; line-height: 1.8; color: rgb(100, 124, 46); }
.article-body { margin-top: 10px; margin-bottom: 10px; }
.article-content { font-size: 13px; font-family: "MS UI Gothic"; letter-spacing: 0.1em; line-height: 150%; color: rgb(102, 102, 102); overflow: hidden; width: 560px; }
.article-content br { letter-spacing: normal; }
.author, .bookmark { color: rgb(170, 170, 170); text-align: right; margin: 5px 10px; }
.bookmark img { width: 12px; height: 12px; }
.article-footer {  }
.back-to-top { display: none; }
.refer {  }
.forward { padding: 3px 0px; }
.user-post-box {  }
.user-post-title { color: rgb(204, 204, 204); }
.post-comment { margin: 20px 10px; }
#content .post-comment a { display: block; background: url('1188720478.jpg') no-repeat scroll left top transparent; width: 88px; height: 32px; font-size: 0px; color: rgb(255, 255, 255); }
#trackback-box {  }
#trackback-box h3 {  }
#trackback-box span {  }
#trackback-box input {  }
#trackback-text {  }
#links { float: left; width: 190px; overflow: hidden; margin-left: 10px; color: rgb(102, 102, 102); }
#links a { color: rgb(132, 146, 105); }
#links a:hover { color: rgb(149, 203, 40); }
.box { margin: 15px 0px; clear: both; }
.box-title { background: url('1188720356.jpg') no-repeat scroll left bottom transparent; height: 20px; font-size: 0px; margin-bottom: 10px; color: rgb(213, 225, 189); }
.box-text { font: 10pt verdana; }
.box li {  }
.box-more { clear: both; text-align: right; margin: 5px; }
#links .box-more a { background: none repeat scroll 0% 0% rgb(200, 213, 174); padding: 1px; }
#links .box-more a:hover {  }
.box h6 { font: 9pt verdana; margin: 5px 0px; }
#calendar .box-title, #recent-article .box-title, #latest-comment .box-title, #category .box-title, #powered .box-title { display: none; }
#headshot .box-title { background: url('1188720356.jpg') no-repeat scroll left top transparent; }
#calendar { position: absolute; left: 10px; top: 200px; width: 180px; }
#calendar table { width: 90%; margin: 10px auto; }
#calendar th { text-align: center; padding-bottom: 3px; }
#calendar td { text-align: center; padding: 2px; background: none repeat scroll 0% 0% rgb(246, 234, 181); border: 1px solid rgb(249, 226, 130); }
#murmur .box-title { background: url('1188720356.jpg') no-repeat scroll left -165px transparent; }
.murmur-time { color: rgb(170, 170, 170); }
#broadcast .box-title { background: url('1188720356.jpg') no-repeat scroll left -185px transparent; }
#broadcast ul { clear: both; padding: 3px 0px; border-bottom: 1px dotted rgb(255, 255, 255); }
#counter .box-title { background: url('1188720356.jpg') no-repeat scroll left -147px transparent; }
#feed .box-title { background: url('1188720356.jpg') no-repeat scroll left -64px transparent; }
#recent-article { position: absolute; left: 215px; top: 200px; width: 185px; height: 160px; overflow-y: auto; overflow-x: hidden; }
#hot-article .box-title { background: url('1188720356.jpg') no-repeat scroll left -250px transparent; }
#category { position: absolute; left: 615px; top: 200px; width: 185px; height: 160px; overflow-y: auto; overflow-x: hidden; }
#archive .box-title { background: url('1188720356.jpg') no-repeat scroll left -22px transparent; }
#latest-comment { position: absolute; left: 415px; top: 200px; width: 185px; height: 160px; overflow-y: auto; overflow-x: hidden; }
#latest-comment a { display: block; width: 98%; line-height: 15px; margin: 0pt; padding: 0pt; }
#latest-comment span { display: none; }
#mylink .box-title { background: url('1188720356.jpg') no-repeat scroll left -125px transparent; }
.folder {  }
#search .box-title, #announce .box-title, #crumb .box-title, .folder .box-title { color: rgb(102, 102, 102); font-size: 12px; font-family: arial; height: 15px; padding-top: 5px; padding-left: 20px; }
.folder .box-text {  }
#footer { clear: both; height: 60px; background: url('1188720351.jpg') no-repeat scroll left top rgb(241, 239, 201); padding-top: 30px; padding-left: 10px; color: rgb(102, 102, 102); }
#footer p { width: 350px; }
/* ::::: http://s.pixfs.net/blog/plugins/murmur.css?v=472319b66c03a62edf3190b7e972b9bc ::::: */

body #followed-murmurs * { margin: 0pt; padding: 0pt; border: 0pt none; font-style: normal; list-style: none outside none; text-align: left; background: none repeat scroll 0% 0% transparent; }
body #followed-murmurs a.show-all-murmurs { font-size: 12px; display: block; margin-top: 5px; text-align: center; }
/* ::::: http://style.hiiir.com/Ivy200804/css/Widget_v2.min.css ::::: */

a:focus { outline: 0pt none; }
.HiiirWidgetBox { margin: auto; font-size: 12px; background-image: url('widgetloading01.gif'); background-repeat: no-repeat; background-position: center center; }
.HiiirWidgetBox a { text-decoration: underline; display: inline; color: rgb(31, 181, 221); }
.HiiirWidgetBox a:hover { text-decoration: none; }
.HiiirCopyRight { color: rgb(153, 153, 153); text-align: center; font-size: 11px; margin: 5px 0pt 8px; }
.HiiirCopyRight { background-color: transparent; text-align: center; }
.HiiirCopyRight a { color: rgb(31, 181, 221); }
.HiiirCopyRight a:hover { text-decoration: none; }
