
/* ::::: http://www.gracechurch.org.hk/global.css ::::: */

td { font-size: 10pt; line-height: 15pt; }
a { text-decoration: none; }
a:hover { text-decoration: underline; color: rgb(255, 34, 0); }
a.bar { font-size: 10pt; line-height: 16pt; font-weight: bold; text-decoration: none; color: rgb(255, 255, 255); }
a.bar:hover { text-decoration: none; color: rgb(255, 34, 0); }
form { margin: 0px; }
ul.red { font-size: 11pt; line-height: 1.6; list-style-image: url('list_red.gif'); }
ul.yellow { font-size: 11pt; line-height: 1.6; list-style-image: url('list_yellow.gif'); }
.pagepath { font-size: 10pt; line-height: 12pt; }
.pagetitle { font-size: 14pt; line-height: 19pt; font-weight: bold; color: rgb(119, 0, 0); }
.articletitle { font-size: 16pt; line-height: 21pt; font-weight: bold; color: rgb(119, 0, 0); }
.front { font-size: 10pt; line-height: 15pt; }
.sbody { margin: 0pt auto; text-align: center; background-color: rgb(240, 240, 240); width: 650px; }
body { margin: 0pt auto; text-align: center; width: 720px; }
