
/* ::::: http://blog.css.adm.pixnet.net/userdata/styles/blog/css/choc/647646.css ::::: */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { margin: 0pt; padding: 0pt; }
table { border-collapse: collapse; border-spacing: 0pt; }
fieldset, img { border: 0pt none ; }
address, caption, cite, code, dfn, em, th, var { font-style: normal; font-weight: normal; }
ol, ul { list-style-type: none; list-style-image: none; list-style-position: outside; }
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
q:before, q:after { content: ''; }
abbr, acronym { border: 0pt none ; }
pre { font-size: 1em; }
.article-content { overflow: hidden; }
body { background-color: black; color: rgb(191, 191, 191); font-size: medium; font-family: "Georgia"; font-weight: normal; font-style: normal; }
#body-div {  }
a { color: rgb(229, 175, 211); text-decoration: none; }
a:hover { color: slateblue; text-decoration: none; font-size: 17px; }
a:visited { color: rgb(150, 167, 221); text-decoration: none; }
#authority { padding: 10px 0px; text-align: center; }
#authority a { padding: 5px 40px; background: transparent url('1213495594.gif') no-repeat scroll center center; font-size: small; color: rgb(0, 0, 0); font-weight: bold; }
#authority a:hover { background: transparent url('1213495592.gif') no-repeat scroll center center; color: rgb(255, 255, 255); text-decoration: none; font-size: small; font-weight: bold; }
#authority #newpost {  }
#authority #backstage {  }
#container { margin: 10px auto; width: 85%; }
#container2 {  }
#container3 {  }
#main {  }
#header { padding: 10px; background-image: url(http://rin0316.myweb.hinet.net/BLOG name-3.gif); background-position: right top; background-repeat: no-repeat; }
#login-bar { float: right; }
#banner {  }
#banner h1 a { padding: 10px; color: rgb(229, 175, 211); font-family: "Comic Sans MS"; font-size: 42px; font-weight: bolder; }
#banner h1 a:hover {  }
#banner .skiplink { display: none; }
#banner h2 { height: 150px; }
#blog-category { display: none; }
#navigation {  }
#navigation a {  }
#navigation a:hover {  }
#navigation li { display: none; }
#link-album {  }
#link-blog {  }
#link-guestbook {  }
#link-profile {  }
#content { padding: 10px 0px; width: 72%; float: left; }
#spotlight { padding: 10px; background: rgb(152, 102, 182) none repeat scroll 0% 0%; margin-bottom: 10px; }
#spotlight h5 { padding: 3px 0px; background: rgb(153, 153, 153) none repeat scroll 0% 0%; color: rgb(0, 0, 0); text-align: center; margin-bottom: 5px; }
#spotlight-text {  }
#article-area { border: 2px solid rgb(153, 153, 153); }
.article-area-title { padding: 3px 7px; }
#display { margin: 5px 0px; text-align: right; }
#display span {  }
#display a {  }
.article { border-bottom: 1px dashed rgb(153, 153, 153); padding: 10px; margin-bottom: 10px; }
.article-head { padding: 5px; margin-bottom: 10px; }
.publish { float: right; font-size: small; text-align: right; color: rgb(255, 160, 160); }
.month {  }
.date {  }
.day {  }
.year {  }
.time {  }
.title h2 a { padding: 0px 0px 0px 22px; background: transparent url(http://p4.p.pixnet.net/albums/userpics/4/6/657646/1207314992.jpg ) no-repeat scroll left top; font-size: large; font-weight: bold; vertical-align: super; color: rgb(229, 175, 211); }
.title h2 a:hover { text-decoration: underline; font-size: large; font-weight: bold; }
.title h2 img {  }
.article-body {  }
.bookmark { text-align: right; }
.article-content { margin: 5px 0px; line-height: 1.7; letter-spacing: 2px; }
.more {  }
.more a { background: transparent url('1213508582.gif') no-repeat scroll 0% 0%; font-size: 0px; float: right; display: block; margin-left: 10px; margin-top: 20px; text-indent: -5000px; width: 100px; height: 50px; }
.more a:visited { background: transparent url('1213508581.gif') no-repeat scroll 0% 0%; font-size: 0px; float: right; display: block; margin-left: 10px; margin-top: 20px; text-indent: -5000px; width: 100px; height: 50px; }
.author { margin: 5px 0px 0px; text-align: right; }
.article-footer { padding: 5px 10px; }
.refer { text-align: left; margin-bottom: 5px; }
.history { border-bottom: 1px dashed rgb(136, 136, 136); padding-bottom: 5px; margin-bottom: 5px; }
.forward { text-align: right; }
.back-to-top { display: none; text-align: right; }
#user-post { padding: 15px; margin-bottom: 20px; }
#trackback-box { margin-bottom: 20px; }
#comment-box {  }
.user-post-box { border: 3px solid rgb(153, 153, 153); padding: 10px; }
#trackback-title {  }
#comment-title {  }
.user-post-title { padding: 5px 10px; background: rgb(102, 102, 102) none repeat scroll 0% 0%; color: rgb(255, 255, 255); font-size: medium; margin-bottom: 10px; }
#trackback-text {  }
#comment-text {  }
.user-post-text { padding: 20px; background-color: rgb(0, 0, 0); }
#trackback-box .single-post {  }
#comment-box .single-post {  }
.single-post { padding: 10px; margin-bottom: 20px; }
.post-info { padding-bottom: 5px; margin-bottom: 10px; font-weight: bold; }
.post-text { background-color: rgb(85, 85, 85); width: auto; margin-bottom: 10px; }
#trackback-box .post-text { background-color: rgb(85, 85, 85); width: auto; margin-bottom: 10px; }
.post-text p {  }
.post-photo { border: 2px solid rgb(255, 255, 255); height: 50px; width: 50px; }
.reply-text { border-top: 2px dashed rgb(153, 153, 153); background-color: rgb(51, 51, 51); padding-top: 5px; }
.reply-text p { text-align: right; }
.secret {  }
.post-comment { margin: 5px 0px; text-align: right; font-size: medium; }
.main-list { padding: 10px; margin-bottom: 15px; }
.main-list table { margin: 10px; width: auto; }
.main-list h3 { padding: 5px 10px; background: rgb(136, 136, 136) none repeat scroll 0% 0%; margin-bottom: 10px; }
.main-list th { padding: 2px; }
.main-list td { padding: 2px; }
.main-list a {  }
#article-list {  }
#category-list {  }
#murmur-list {  }
.page { margin-bottom: 10px; text-align: center; }
#links { padding: 10px 0px; width: 25%; float: right; font-size: 16px; }
#links-row-1 {  }
#links-row-2 {  }
.box { border: 1px solid rgb(153, 153, 153); margin-bottom: 15px; }
.box-title { border-bottom: 1.5px solid rgb(134, 111, 148); padding: 4px; color: rgb(229, 175, 211); font-family: 標楷體,Georgia; font-weight: bold; text-align: center; font-size: 22px; }
.box-text { padding: 10px; }
.box-text li { margin: 5px 0px; }
.box-text a {  }
.box-text a:hover { text-decoration: underline; font-size: 16px; }
#visitor {  }
#visitor .box-title {  }
#visitor .box-text {  }
#visitor ul { overflow: hidden; }
#visitor ul li img { width: 45px; height: 45px; }
#visitor li { border: 2px solid rgb(255, 255, 255); margin: 0px 5px 5px 0px; float: left; }
#visitor .box-more {  }
#crumb {  }
#crumb .box-title {  }
#crumb .box-text {  }
#crumb ul { overflow: hidden; }
#crumb ul li { margin: 0px 1px 1px 0px; float: left; }
#crumb .box-text ul li a { display: inline; }
#crumb ul { overflow: hidden; }
#crumb li { border: 1px solid rgb(255, 255, 255); float: left; }
#crumb .box-more {  }
#announce {  }
#announce .box-title {  }
#announce .box-text {  }
#announce a {  }
#murmur {  }
#murmur .box-title {  }
#murmur .box-text {  }
#my-time {  }
#murmur-text {  }
#broadcast {  }
#broadcast .box-title {  }
#broadcast .box-text {  }
#broadcast .box-text ul { border-bottom: 1px dashed rgb(119, 119, 119); overflow: hidden; }
.broadcast-photo { border: 2px solid rgb(255, 255, 255); float: left; width: 40px; }
.broadcast-time {  }
.broadcast-text {  }
#headshot { text-align: center; }
#headshot .box-title {  }
#headshot .box-text {  }
#headshot .box-text img { border: 2px solid rgb(255, 255, 255); }
#search {  }
#search .box-title {  }
#search .box-text {  }
#search-target { background: moccasin none repeat scroll 0% 0%; color: rgb(40, 40, 40); }
#search-send {  }
#counter {  }
#counter .box-title {  }
#counter .box-text {  }
#countr .box-text span {  }
#change-theme {  }
#change-theme .box-title {  }
#change-theme .box-text {  }
#change-theme select {  }
#feed {  }
#feed .box-title {  }
#feed .box-text {  }
#feed img {  }
#calendar { text-align: center; }
#calendar .box-title {  }
#calendar .box-text {  }
#calendar table { width: 100%; }
#calendar .calMonthNav {  }
#calendar .calMonthHeader {  }
#calendar td {  }
#calendar td a { font-size: large; font-weight: bold; color: yellow; }
#calendar .box-text th { text-align: center; }
.cal-backward { text-align: left; }
.cal-forward { text-align: right; }
#sun { background-color: rgb(187, 144, 144); }
#sat { background-color: rgb(187, 144, 144); }
#calendar .box-text .today { background: rgb(136, 136, 136) none repeat scroll 0% 0%; }
#recent-article {  }
#recent-article .box-title {  }
#recent-article .box-text { padding: 0px 10px 0px 22px; vertical-align: super; line-height: 15pt; }
#recent-article .box-text :hover {  }
#recent-article .box-text a { list-style-position: outside; list-style-image: url('1207385379.gif'); }
#hotarticle {  }
#hot-article .box-title {  }
#hot-article .box-text {  }
#hot-article .box-text :hover {  }
#hot-article .box-text a {  }
#hot-article .box-text li { line-height: 18pt; width: 100%; }
#category {  }
#category .box-title {  }
#category .box-text {  }
#category .box-text h6 {  }
#category .box-text li a {  }
#archive {  }
#archive .box-title {  }
#archive .box-text {  }
#archive .box-text select {  }
#archive .box-text li a {  }
#latest-comment {  }
#latest-comment .box-title {  }
#latest-comment .box-text {  }
#latest-comment .box-text span {  }
#latest-comment .box-text li a { display: block; font-size: 12px; }
#latest-trackback {  }
#latest-trackback .boc-title {  }
#latest-trackback .box-text {  }
#latest-trackback .box-text li a {  }
#latest-trackback .box-text li span {  }
#subscription {  }
#subscription .box-title {  }
#subscription .box-text {  }
#subscription .box-text li a {  }
#subscription .box-text li span {  }
#favorite {  }
#favorite .box-title {  }
#favorite .box-text {  }
#favorite .box-text select { background-color: moccasin; color: rgb(40, 40, 40); }
#mylink {  }
#mylink .box-title {  }
#mylink .box-text { font-family: "標楷體"; }
#mylink .box-text .link-box {  }
#mylink .box-text .inner-box h6 { font-size: 20px; }
#mylink .box-text .inner-box li a { font-size: 18px; }
#mylink .box-text .inner-box li a:hover { font-size: 18px; }
.folder {  }
.folder .box-title {  }
.folder .box-text {  }
#powered {  }
#powered .box-title {  }
#powered .box-text {  }
#footer { padding: 5px 10px; clear: both; text-align: center; }
#footer p { margin: 10px; color: red; font-size: large; }
.p　 {  }
#bottom　 .bottom-skiplink　 .bottom-pixnet　 #footer #bottom {  }
