
/* ::::: http://blog.css.adm.pixnet.net/userdata/styles/blog/css/choc/644446.css ::::: */

#comment-form table { margin: 0pt auto; width: 96%; }
#comment-form td, #comment-form th { border: 1px solid rgb(85, 85, 85); padding: 3px 5px; }
#comment-form input#send-comment { padding: 3px 5px; }
.article-content p { margin-bottom: 1em; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { margin: 0pt; padding: 0pt; }
table { border-collapse: collapse; border-spacing: 0pt; }
fieldset, img { border: 0pt none ; }
address, caption, cite, code, dfn, em, th, var { font-style: normal; font-weight: normal; }
ol, ul { list-style-type: none; list-style-image: none; list-style-position: outside; }
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
q:before, q:after { content: ''; }
abbr, acronym { border: 0pt none ; }
pre { font-size: 1em; }
.article-content { overflow: hidden; }
html { background-color: white; }
body { color: rgb(102, 102, 102); font-size: small; font-family: "Verdana"; }
#body-div {  }
a { color: rgb(25, 128, 255); text-decoration: none; }
a:hover { color: rgb(223, 111, 0); text-decoration: none; }
#authority { background: rgb(255, 255, 255) none repeat scroll 0% 0%; text-align: right; margin-right: 20px; }
#authority a { padding: 0px 2px; background: transparent none repeat scroll 0% 0%; color: rgb(204, 204, 204); font-size: 11px; }
#authority a:hover { color: rgb(223, 111, 0); }
#authority #newpost {  }
#authority #backstage {  }
#container { margin: 0px auto; padding: 10px; background: white none repeat scroll 0% 0%; width: 970px; }
#container2 { padding: 0px; }
#container3 {  }
#main {  }
#login-bar { text-align: right; display: none; }
#banner { height: 174px; }
#header { padding: 10px; background: transparent url('1215432162.jpg') no-repeat scroll center center; margin-bottom: 10px; }
#banner h1 a { font-size: large; font-weight: bold; color: rgb(74, 151, 246); position: absolute; margin-left: 11px; top: 45px; }
#banner h1 a:hover { color: rgb(223, 111, 0); }
#banner h2 { font-size: small; color: rgb(74, 151, 246); position: absolute; margin-left: 11px; top: 70px; width: 245px; line-height: 160%; }
#banner .skiplink { display: none; }
#blog-category { display: none; }
#navigation { padding: 0px; background: transparent none repeat scroll 0% 0%; overflow: hidden; }
#navigation a { padding: 0px; background: transparent none repeat scroll 0% 0%; display: block; width: auto; text-align: center; color: rgb(255, 255, 255); font-weight: bold; }
#navigation a:hover { color: rgb(223, 111, 0); }
#navigation li { margin: 0px 0px 10px; float: left; padding-left: 10px; }
#link-profile {  }
#link-guestbook {  }
#link-album {  }
#link-blog {  }
#content { border-left: 1px dashed rgb(204, 204, 204); padding: 0px 10px 10px 15px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 650px; float: right; }
#spotlight { border-bottom: 1px dashed rgb(204, 204, 204); padding: 10px; background: white none repeat scroll 0% 0%; line-height: 160%; margin-bottom: 10px; }
#spotlight h5 { padding: 0px; background: white none repeat scroll 0% 0%; line-height: 160%; color: black; font-size: small; font-weight: bold; text-align: left; margin-bottom: 0px; }
#spotlight-text {  }
#article-area { border: 0px solid rgb(204, 204, 204); padding: 0px; }
.article-area-title { background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding-bottom: 5px; padding-top: 10px; padding-left: 10px; }
#display { text-align: left; padding-left: 10px; }
#display span {  }
#display a {  }
.article { padding: 10px; background: rgb(246, 246, 246) none repeat scroll 0% 0%; margin-bottom: 5px; }
.article-head { padding: 0px; margin-bottom: 10px; color: rgb(204, 204, 204); }
.publish {  }
.month {  }
.date {  }
.day {  }
.year {  }
.time {  }
.title h2 a { font-size: 16px; font-weight: bold; color: black; }
.title h2 a:hover { color: rgb(223, 111, 0); }
.title h2 img {  }
.article-body { margin-top: 20px; margin-bottom: 0px; }
.article-content { margin: 5px 0px; line-height: 160%; }
.more { margin-top: 20px; text-align: right; }
.bookmark { border-top: 0px dashed rgb(204, 204, 204); text-align: right; padding-top: 20px; }
.author { border-bottom: 0px dashed rgb(204, 204, 204); margin: 0px; text-align: right; padding-bottom: 5px; }
.forward { border-top: 1px dashed rgb(204, 204, 204); text-align: left; padding-top: 5px; }
.article-footer { padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.refer { border-top: 0px dashed rgb(204, 204, 204); border-bottom: 1px dashed rgb(204, 204, 204); text-align: left; padding-top: 5px; padding-bottom: 5px; margin-bottom: 0px; }
.history { border-bottom: 1px dashed rgb(204, 204, 204); text-align: left; padding-top: 5px; padding-bottom: 5px; margin-bottom: 0px; }
.back-to-top { text-align: right; display: none; }
#user-post { padding: 10px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; margin-bottom: 0px; }
#trackback-box { padding-left: 10px; }
#comment-box {  }
.user-post-box { border: 0px solid rgb(204, 204, 204); padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#trackback-title { text-align: left; }
#comment-title { text-align: right; }
.user-post-title { padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(51, 51, 51); font-size: small; margin-bottom: 0px; }
#trackback-text {  }
#comment-text {  }
.user-post-text { padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#trackback-box .single-post { margin-bottom: 10px; }
#comment-box .single-post { border: 0px solid rgb(204, 204, 204); margin-bottom: 30px; }
.single-post { padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; overflow: hidden; }
.post-info { border-bottom: 1px dashed rgb(204, 204, 204); background: white none repeat scroll 0% 0%; color: black; padding-top: 5px; padding-bottom: 5px; margin-bottom: 10px; font-weight: normal; }
.post-text { overflow: auto; width: 520px; float: right; margin-right: 10px; line-height: 160%; margin-bottom: 10px; }
#trackback-box .post-text { width: auto; float: none; }
.post-text p {  }
.post-photo { width: 120px; float: left; text-align: left; padding-top: 2px; padding-bottom: 7px; }
.reply-text { border: 0px solid rgb(204, 204, 204); padding: 10px; background: rgb(238, 238, 238) none repeat scroll 0% 0%; line-height: 160%; color: rgb(102, 102, 102); clear: both; margin-top: 10px; }
.reply-text p {  }
.secret { background: rgb(238, 238, 238) none repeat scroll 0% 0%; color: rgb(102, 102, 102); padding-top: 15px; }
.post-comment { margin: 10px 0px; color: black; text-align: right; padding-top: 0px; padding-bottom: 0px; font-size: 16px; font-weight: bold; }
.post-comment a { color: rgb(0, 0, 0); }
.post-comment a:hover { color: rgb(223, 111, 0); }
.main-list { padding: 10px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; margin-bottom: 10px; }
.main-list table { margin: 0px; width: 100%; }
.main-list h3 {  }
.main-list th { border: 0px solid rgb(204, 204, 204); padding: 2px; text-align: left; color: rgb(102, 102, 102); }
.main-list td { border: 1px solid rgb(204, 204, 204); padding: 2px; }
.main-list a {  }
#article-list {  }
#category-list {  }
#murmur-list {  }
.page { padding-left: 10px; padding-bottom: 10px; }
#links { padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 270px; float: left; margin-top: 0px; }
#links-row-1 {  }
#links-row-2 {  }
.box { border: 0px solid rgb(204, 204, 204); padding: 10px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(51, 51, 51); width: 250px; overflow-x: auto; line-height: 160%; margin-bottom: 10px; }
.box a { color: rgb(25, 128, 255); }
.box a:hover { color: rgb(223, 111, 0); }
.box-title { border-bottom: 0px solid rgb(0, 0, 0); padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: black; text-align: left; font-size: small; font-weight: bold; margin-bottom: 0px; }
.box-text li {  }
.box-text li { margin: 0px; }
.box-text a {  }
#murmur {  }
#murmur .box-title {  }
#murmur .box-text { line-height: 170%; width: 200px; }
#broadcast {  }
#broadcast .box-title {  }
#broadcast .box-text { padding: 0px; line-height: 170%; }
#broadcast .box-text ul { border-top: 0px dashed rgb(204, 204, 204); overflow: hidden; margin-top: 5px; padding-top: 5px; }
.broadcast-photo img { border: 0px solid rgb(238, 238, 238); float: left; width: 39px; height: 39px; margin-right: 5px; }
.broadcast-time {  }
.broadcast-text { line-height: 140%; }
#headshot { text-align: left; }
#headshot .box-title {  }
#headshot .box-text { line-height: 140%; }
#headshot .box-text img { border: 0px solid rgb(238, 238, 238); margin-top: 10px; }
#friend-apply { margin-top: 5px; }
　 #send-message {  }
　 #my-status {  }
#search {  }
#search .box-title {  }
#search .box-text {  }
#search-target {  }
#search-send {  }
#counter {  }
#counter .box-title {  }
#counter .box-text {  }
#countr .box-text span {  }
#change-theme {  }
#change-theme .box-title {  }
#change-theme .box-text {  }
#change-theme select {  }
#feed {  }
#feed .box-title {  }
#feed .box-text {  }
#feed img {  }
#calendar {  }
#calendar .box-title {  }
#calendar .box-text { line-height: 140%; }
#calendar table { text-align: center; width: 180px; }
#calendar th { text-align: center; line-height: 160%; }
#calendar .calMonthNav { text-align: right; }
#calendar .calMonthHeader { text-align: right; }
#calendar td { text-align: center; }
#calendar td a { text-align: center; text-decoration: none; }
#recent-article {  }
#recent-article .box-title {  }
#recent-article .box-text {  }
#recent-article .box-text a {  }
#hot-article {  }
#hot-article .box-title {  }
#hot-article .box-text {  }
#hot-article .box-text a {  }
#category {  }
#category .box-title {  }
#category .box-text {  }
#category .box-text h6 {  }
#category .box-text li a {  }
#archive {  }
#archive .box-title {  }
#archive .box-text {  }
#archive .box-text select {  }
#archive .box-text li a {  }
#latest-comment {  }
#latest-comment .box-title {  }
#latest-comment .box-text {  }
#latest-comment .box-text li { overflow: hidden; height: 22px; width: 250px; }
#latest-comment .box-text span {  }
#latest-comment .box-text li a {  }
#latest-trackback {  }
#latest-trackback .boc-title {  }
#latest-trackback .box-text {  }
#latest-trackback .box-text li a {  }
#latest-trackback .box-text li span {  }
#subscription {  }
#subscription .box-title {  }
#subscription .box-text {  }
#subscription .box-text li a {  }
#subscription .box-text li span {  }
#favorite {  }
#favorite .box-title {  }
#favorite .box-text { padding-bottom: 7px; }
#favorite .box-text select {  }
#mylink {  }
#mylink .box-title {  }
#mylink .box-text {  }
#my-link .box-text .link-box {  }
#my-link .box-text .link-box h6 {  }
#my-link .box-text .link-box li a {  }
#visitor {  }
#visitor .box-title {  }
#visitor .box-text { line-height: 100%; }
#visitor ul { overflow: hidden; }
#visitor img {  }
#visitor .box-text li img { border: 0px solid rgb(238, 238, 238); width: 39px; height: 39px; margin-right: 1px; }
#visitor li { float: left; }
#visitor .box-more { line-height: 140%; }
#crumb {  }
#crumb .box-title {  }
#crumb .box-text { line-height: 100%; }
#crumb ul { overflow: hidden; }
#crumb .box-text li img { border: 0px solid rgb(238, 238, 238); width: 39px; height: 39px; margin-right: 1px; }
#crumb li { float: left; }
#crumb .box-more { line-height: 140%; }
.folder {  }
.folder .box-title {  }
.folder .box-text {  }
#powered {  }
#powered .box-title {  }
#powered .box-text {  }
#footer { border-top: 1px dashed rgb(204, 204, 204); background: white none repeat scroll 0% 0%; clear: both; padding-top: 5px; text-align: right; color: rgb(102, 102, 102); }
#footer p { line-height: 160%; }
#footer #bottom { line-height: 160%; }
#visitor ul { overflow: hidden; }
#visitor li { float: left; }
#crumb ul { overflow: hidden; }
#crumb li { float: left; }
#broadcast ul { overflow: hidden; }
.broadcast-photo { float: left; margin-right: 5px; width: 45px; height: 45px; }
.single-post { overflow: hidden; }
.post-photo { width: 120px; float: left; text-align: center; }
#content { overflow: hidden; }
