
/* ::::: null ::::: */

body { margin: 0px; padding: 0px; }
img { border: medium none ; }
.linkBack { display: block; position: absolute; width: 100px; top: 20px; height: 14px; }
.postLink { background: transparent url('push-100x34.gif') no-repeat scroll 0pt -100px; display: block; position: absolute; width: 100px; height: 20px; }
.push { background: transparent url('push-100x34.gif') no-repeat scroll 0% 0%; width: 100px; height: 34px; }
.pCount { display: block; width: 38px; height: 18px; position: absolute; top: 1px; left: 61px; text-align: center; font-family: verdana,arial; font-style: normal; font-variant: normal; font-weight: normal; font-size: 14px; line-height: 18px; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
.pCount a { text-decoration: none; display: block; color: rgb(57, 102, 178); }
.pCount a:hover { background: transparent url('push-100x34.gif') repeat scroll -61px -41px; }
.button { display: block; position: absolute; left: 1px; width: 60px; height: 20px; }
.button img { border: 0px none ; height: 20px; width: 60px; }
.button:hover img { background: transparent url('push-100x34.gif') repeat scroll -1px -40px; }
.pressed img { background: transparent url('push-100x34.gif') repeat scroll -1px -70px; }
