/* ::::: http://s.blog.xuite.net/_public/plugin/css/tree/tree.css ::::: */

.ygtvtp { width: 16px; height: 22px; cursor: pointer; background: url('tp.gif') no-repeat scroll 0pt 0pt transparent; }
.ygtvlp { width: 16px; height: 22px; cursor: pointer; background: url('lp.gif') no-repeat scroll 0pt 0pt transparent; }
.ygtvitem {  }
.ygtvchildren {  }
.ygtvlabel, .ygtvlabel:link, .ygtvlabel:visited, .ygtvlabel:hover { margin-left: 2px; text-decoration: none; }
.ygtvspacer { height: 10px; width: 10px; margin: 2px; }
/* ::::: http://s.blog.xuite.net/_public/plugin/css/jqModal.css ::::: */

.jqmWindow { display: none; position: fixed; top: 17%; left: 50%; margin-left: -300px; width: 600px; background-color: rgb(238, 238, 238); color: rgb(51, 51, 51); border: 1px solid black; padding: 12px; }
/* ::::: http://s.blog.xuite.net/_public/css/css.css ::::: */

body, td, th { font-family: Arial,Helvetica,sans-serif; font-size: 9pt; color: rgb(0, 0, 0); }
body { margin: 0px; }
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: underline; color: rgb(0, 51, 204); }
.xuiteLink { position: relative; z-index: 1; }
.xuiteLink span { display: none; position: absolute; top: 1.2em; left: 0pt; background: none repeat scroll 0% 0% white; z-index: 999; border: 1px solid rgb(109, 188, 201); }
.xuiteLink span a { display: block; padding: 2px; width: 5em; text-align: left; }
.xuiteLink span a:hover { background: none repeat scroll 0% 0% rgb(187, 229, 240); }
span.xuiteLink:hover span { display: block; }
.xuiteLink {  }
span.mail { float: right; margin-top: 15px; }
span.mail li { list-style-image: url('email_forward.gif'); }
.tab_service { position: absolute; width: 260px; left: 25px; top: 65px; }
.tab_service ul { padding: 0pt; margin: 0pt; }
.tab_service li { margin: 0pt 1px 0pt 0pt; display: block; float: left; list-style-type: none; padding: 3px; color: rgb(147, 111, 74); cursor: pointer; background-color: rgb(239, 239, 239); }
.blogrank { overflow: hidden; }
#tabs11 { line-height: normal; margin-bottom: 5px; white-space: nowrap; clear: both; font-family: Helvetica; }
#tabs11 ul { margin: 0px; list-style: none outside none; padding: 0px; }
/* ::::: http://s.blog.xuite.net/_public/css/navigationBar.css ::::: */

#topmanager { position: relative; left: 0px; top: 0px; width: 100%; height: 30px; z-index: 10; }
#topmanageropen { left: 0px; top: 0px; width: 100%; position: relative; }
#topmanageropen td, #topmanageropen { font-size: 0pt; background-repeat: repeat-x; z-index: 11; }
#Layer1 { position: absolute; left: 13px; top: 24px; visibility: hidden; z-index: 20; background-color: rgb(242, 242, 242); display: block; width: 7em; }
.suckerdiv ul { margin: 0pt; padding: 0pt; list-style-type: none; border-bottom: 1px solid rgb(94, 148, 159); background-color: rgb(242, 242, 242); display: block; }
/* ::::: http://blog.xuite.net/_users/c/d/0/b/11894065/blog_707040/blog.css ::::: */

html { margin: 100px; }
body { margin: 0pt; text-align: center; font-family: "Trebuchet MS",PMingLiU,Verdana,sans-serif; background: url('47.gif') repeat-x fixed 0% 0% transparent; }
a:link { color: rgb(69, 69, 69); text-decoration: none; }
a:visited { color: rgb(74, 118, 172); text-decoration: none; }
a:hover, a:visited:hover { color: rgb(69, 69, 69); text-decoration: underline; position: relative; top: 1px; left: 1px; }
#container { position: relative; text-align: left; min-width: 970px; padding: 0pt; margin: -1px auto 0pt; }
#banner { margin: 0pt; padding: 0pt; height: 370px; background: url('46.jpg') no-repeat scroll center top transparent; }
#linksLeft { position: absolute; left: 0px; width: 195px; margin: 0pt 0pt 0pt 10px; }
#mid { position: relative; margin: 0px 215px; padding: 0pt 5px 5px; }
#footer { clear: both; font: 12px/16px PMingLiU,"Trebuchet MS",Verdana,sans-serif; color: rgb(122, 122, 122); margin: 0pt; text-align: center; }
#footer a:link, #footer a:visited { color: rgb(122, 122, 122); text-decoration: none; }
#footer a:hover, #footer a:visited:hover { color: rgb(122, 122, 122); text-decoration: underline; position: static; }
.sidetitle { font: bold 15px/180% "Trebuchet MS",PMingLiU,Verdana,sans-serif; color: white; letter-spacing: 0.2em; background: none repeat scroll 0% 0% transparent; }
.side { margin: 0pt 0pt 15px; background: url('31.gif') repeat-x scroll left top rgb(238, 238, 238); border-bottom: 3px solid rgb(163, 210, 231); border-left: 3px solid rgb(163, 210, 231); border-right: 3px solid rgb(163, 210, 231); }
.side li { margin-left: 20px; list-style-position: outside; }
.blogname { font: bold 22px Verdana,PMingLiU,sans-serif; color: rgb(122, 122, 122); background: none repeat scroll 0% 0% transparent; padding-left: 10px; }
.blogName a:link, .blogName a:visited, .blogName a:hover, .blogName a:visited:hover { color: rgb(122, 122, 122); text-decoration: none; }
.blogemotion { visibility: hidden; }
.blogfavo { visibility: hidden; }
.description { font: small-caps 600 15px "Cataneo BT","Trebuchet MS",Verdana,sans-serif; color: rgb(83, 172, 210); background: none repeat scroll 0% 0% transparent; padding-left: 10px; }
.menulist { padding-top: 5px; width: 100%; }
.menu { padding-top: 5px; float: right; padding-right: 80px; }
.logo { visibility: hidden; }
#content { margin-bottom: 10px; padding: 5px 10px; border: medium solid rgb(163, 210, 231); background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.title { background: none repeat scroll 0% 0% transparent; padding: 5px 0pt 0pt; width: 100%; height: 25px; border-top: 1px dashed rgb(163, 210, 231); }
span.titlename { font: small-caps bold 15px PMingLiU,"Trebuchet MS",Verdana,sans-serif; color: rgb(122, 122, 122); background: none repeat scroll 0% 0% transparent; letter-spacing: 0.1em; }
span.titledate { float: right; font-size: 11px; color: rgb(122, 122, 122); background: none repeat scroll 0% 0% transparent; height: 25px; }
.blogrank { line-height: 200%; color: rgb(102, 102, 102); background: none repeat scroll 0% 0% transparent; padding-top: 10px; width: 100%; }
span.counter { float: right; font-size: 12px; line-height: 125%; background: none repeat scroll 0% 0% transparent; }
span.counter li { list-style-image: url('3398955_37.gif'); }
span.category { float: right; font-size: 12px; line-height: 125%; background: none repeat scroll 0% 0% transparent; }
span.category li { list-style: none outside url('3398955_36.gif'); }
span.rank {  }
.blogbody { color: rgb(102, 102, 102); margin-top: 10px; background: none repeat scroll 0% 0% transparent; width: 100%; overflow: auto; }
.blogbody a:link, .blogbody a:visited { color: coral; text-decoration: underline; }
.blogbody a:hover, .blogbody a:visited:hover { color: rgb(69, 69, 69); text-decoration: underline; position: relative; top: 1px; left: 1px; }
.posted { width: 100%; text-align: right; }
.selectbar { text-align: center; width: 100%; }
.trackbacktitle { font-size: 12px; line-height: 150%; background: none repeat scroll 0% 0% cornsilk; margin: 15px 0pt 0pt; position: relative; width: 100%; height: 18px; border-top: 1px solid coral; border-bottom: 1px solid coral; }
.trackbacktitle a:link, .trackbacktitle a:visited { color: rgb(102, 102, 102); text-decoration: none; }
.trackbacktitle a:hover, .trackbacktitle a:visited:hover { color: rgb(102, 102, 102); text-decoration: underline; position: static; }
.trackbackurl { color: rgb(102, 102, 102); margin-top: 15px; padding: 0pt 10px; width: 100%; }
.comment { text-align: right; }
span.commenttitle { font-size: 12px; color: rgb(204, 102, 0); line-height: 150%; background: none repeat scroll 0% 0% aliceblue; margin-top: 15px; width: 100%; border-top: 1px solid rgb(163, 210, 231); border-bottom: 1px solid rgb(163, 210, 231); text-align: left; }
span.commenttitle li { list-style-image: url('bulletmessagelist.gif'); }
span.commentbutton {  }
.personaltitle { text-align: center; font: bold 15px/180% "Trebuchet MS",Verdana,PMingLiU,sans-serif; color: white; letter-spacing: 0.2em; background: url('60.gif') no-repeat scroll 0% 0% transparent; }
.pTitle { padding: 0pt; }
.pTitle li { list-style: none outside url('untitled'); }
.avatar { background: url('108.gif') no-repeat scroll 0% 0% rgb(255, 255, 255); margin: 0pt 0pt 15px; border-bottom: 3px solid coral; line-height: 125%; }
.avatarPhoto { padding-top: 10px; text-align: center; }
.avatarDesciption { color: rgb(102, 102, 102); background: none repeat scroll 0% 0% transparent; padding: 0pt 10px; text-align: left; }
.avatarbutton { text-align: center; }
.personallink { display: block; width: 195px; margin: 0pt; }
.plink { padding: 5px 0pt 0pt 10px; }
.plink li { list-style-image: url('9.gif'); }
.pfriend { padding: 5px 0pt 0pt 10px; }
.pfriend li { list-style-image: url('9.gif'); }
.pphoto { padding: 5px 0pt 0pt 10px; }
.pphoto li { list-style-image: url('9.gif'); }
.pboard { padding: 5px 0pt 0pt 10px; }
.pboard li { list-style-image: url('9.gif'); }
.categoryTitle li { list-style: none outside url('untitled'); }
.categoryTitle { text-align: center; background: url('60.gif') no-repeat scroll 0% 0% transparent; }
.categorySide { font: 12px/150% "Trebuchet MS",Verdana,PMingLiU,sans-serif; color: rgb(122, 122, 122); }
.articleTitle li { list-style: none outside url('untitled'); }
.articleTitle { text-align: center; background: url('60.gif') no-repeat scroll 0% 0% transparent; }
.articleSide li { list-style: none outside url('10.gif'); }
.articleSide { font: 12px/150% "Trebuchet MS",Verdana,PMingLiU,sans-serif; color: rgb(122, 122, 122); }
.countTitle li { list-style: none outside url('untitled'); }
.countTitle { text-align: center; background: url('60.gif') no-repeat scroll 0% 0% transparent; }
.countSide { text-align: center; font: 12px/150% "Trebuchet MS",Verdana,PMingLiU,sans-serif; color: rgb(122, 122, 122); }
#mid { margin: 0px 0px 0px 215px; }
#xuitelogo {  }
/* ::::: http://s.blog.xuite.net/_public/plugin/css/tree/tree.css ::::: */

.ygtvtp { width: 16px; height: 22px; cursor: pointer; background: url('tp.gif') no-repeat scroll 0pt 0pt transparent; }
.ygtvlp { width: 16px; height: 22px; cursor: pointer; background: url('lp.gif') no-repeat scroll 0pt 0pt transparent; }
.ygtvitem {  }
.ygtvchildren {  }
.ygtvlabel, .ygtvlabel:link, .ygtvlabel:visited, .ygtvlabel:hover { margin-left: 2px; text-decoration: none; }
.ygtvspacer { height: 10px; width: 10px; margin: 2px; }
