body { margin: 0px; padding: 0px; }
.linkBack { display: none; }
.postLink { display: block; position: absolute; width: 100px; height: 20px; background: url('push-100x34.gif') no-repeat scroll 0pt -100px transparent; }
.push { background: url('push-100x34.gif') no-repeat scroll 0% 0% transparent; width: 100px; height: 20px; }
