
/* ::::: http://learn-house.idv.tw/templates/connections/style.css ::::: */

body { margin: 0pt; padding: 0pt; background: rgb(243, 246, 237) none repeat scroll 0% 0%; font-family: 'Trebuchet MS',Georgia,Times,Times New Roman,sans-serif; font-size: 0.9em; text-align: center; color: rgb(41, 48, 59); line-height: 1.3em; }
a { color: rgb(144, 157, 115); text-decoration: none; }
a:visited { color: rgb(138, 50, 7); }
a:hover { color: rgb(117, 50, 6); text-decoration: underline; }
input, textarea { border: 1px solid rgb(225, 214, 198); background: rgb(243, 246, 237) none repeat scroll 0% 0%; }
#rap { margin: 0pt auto; padding: 0px 8px; background: rgb(255, 255, 255) url('rap.jpg') repeat-y scroll center center; width: 760px; text-align: left; font-family: Trebuchet MS,Georgia,Arial,serif; font-size: 0.9em; }
#header { border: 0px solid rgb(255, 204, 153); margin: 0pt auto; padding: 0pt; background: rgb(255, 255, 255) url('top.jpg') no-repeat scroll center bottom; height: 183px; width: 760px; }
#main { margin: 0pt auto; padding: 0pt; background: transparent url('content_bg.gif') repeat scroll 0% 0%; width: 740px; }
#content { margin: 0pt; padding: 5px; overflow: hidden; width: 535px; float: left; display: inline; }
#sidebar { margin: 0pt; padding: 0px; width: 186px; float: right; font-size: 1em; color: rgb(51, 51, 51); display: inline; }
a img { border: medium none ; }
acronym, abbr { border-bottom: 1px dotted rgb(12, 107, 240); }
acronym, abbr, span.caps { cursor: help; letter-spacing: 0.07em; }
code { font-size: 1em; font-style: italic; }
blockquote { margin: 15px 30px 0pt 45px; padding: 0pt 0pt 0pt 45px; background: transparent url('blockquote.gif') no-repeat scroll left top; font-style: italic; }
cite { font-size: 0.9em; font-style: normal; }
h3 { margin: 0pt; padding: 0pt; font-size: 1.3em; }
p { margin: 0pt 0pt 1em; padding: 0pt; line-height: 1.5em; }
h1, h2, h3, h4 { font-family: Georgia,"Lucida Sans Unicode",lucida,Verdana,sans-serif; font-weight: normal; letter-spacing: 1px; text-transform: capitalize; }
#header h1 { margin: 0pt; padding: 10px 20px 0pt 0pt; font-size: 1.6em; text-align: right; }
#header h1 a { color: rgb(181, 192, 157); text-decoration: none; }
#header h1 a:hover { color: rgb(247, 243, 237); }
#header #desc { margin: 0pt; padding: 0pt 20px 0pt 0pt; font-weight: normal; font-style: italic; font-size: 1em; color: rgb(181, 192, 157); text-align: right; }
#sidebar h2 { border: 0px solid rgb(204, 204, 204); margin: 10px 0pt 0pt; padding: 2px; background: transparent url('sidenav_top.jpg') no-repeat scroll center center; font-size: 1em; color: rgb(103, 110, 4); text-align: center; height: 22px; font-weight: bold; }
#sidebar ul { border-style: solid; border-color: rgb(243, 246, 237) rgb(225, 214, 198) rgb(225, 214, 198); border-width: 1px; margin: 0pt; padding: 5px 5px 20px; background: rgb(243, 246, 237) url('sidenav_bottom.jpg') no-repeat scroll center bottom; list-style-type: none; font-size: 0.9em; }
#pagenav { list-style-type: none; list-style-image: none; list-style-position: outside; }
#sidebar ul li { margin: 0.1em 0pt 0pt; padding: 0pt; }
#sidebar ul li a { border: medium none ; text-decoration: none; }
#sidebar ul li a:link { color: rgb(144, 157, 115); }
#sidebar ul li a:visited { color: rgb(153, 153, 153); }
#sidebar ul li a:hover, #sidebar ul li a:active { color: rgb(153, 0, 0); }
#sidebar ul ul { border: medium none ; margin: 0pt; padding: 5px; background: transparent none repeat scroll 0% 0%; list-style-type: none; font-size: 1em; }
#sidebar ul ul li { margin: 0pt 0pt 0pt 10px; padding: 0pt 0pt 0pt 10px; background: transparent url('subcat_bullet.gif') no-repeat scroll left center; }
#content ul { margin-left: 0pt; padding-left: 45px; list-style-type: none; }
#content ul li { background: transparent url('bullet.gif') no-repeat scroll 0pt 7px; padding-left: 1.5em; }
.post, .page { margin: 0pt 0pt 30px; }
.page { margin: 25px -5px 0pt 27px; }
.post-info, .page-info { margin: 0pt; padding: 0pt; font-size: 0.85em; font-family: Verdana,Arial,Sans-Serif; color: rgb(51, 51, 51); }
.page-info { text-align: center; }
.post-info a { color: rgb(153, 0, 0); }
.post-info a:hover { color: rgb(0, 0, 0); }
.post-content, .page-content { border-top: 1px solid rgb(187, 196, 163); margin: 3px 0pt; padding: 10px 0pt; font-family: Georgia,Verdana,Arial,serif; font-size: 12px; }
.page-content {  }
.post-title, .page-title { margin: 0pt; font-family: Georgia,Arial,Serif; font-size: 1.3em; font-weight: bold; }
.page-title { font-size: 1.6em; font-weight: normal; }
#content .page-title a, .post-title a:link, .post-title a:visited, .post-title a:hover, .post-title a:active { text-decoration: none; color: rgb(103, 110, 4); }
.post-date { margin: 3px 10px 0pt 0pt; padding: 8px 3px; background: rgb(231, 235, 222) none repeat scroll 0% 0%; float: left; color: rgb(187, 196, 163); font-family: Georgia,'Lucida sans ms',Verdana,Arial,Helvetica,sans-serif; font-size: 0.9em; text-align: center; font-weight: bold; width: 55px; line-height: 1em; }
#footer { border-top: 1px solid rgb(187, 196, 163); margin: 0pt auto; padding: 7px 0pt; clear: both; font-size: 0.8em; color: rgb(153, 153, 153); text-align: center; width: 740px; }
#footer a { border: medium none ; color: rgb(122, 118, 54); }
.commentlist { font-size: 1em; font-weight: normal; }
#commentform { margin: 0pt 0pt 0pt 40px; }
#commentform textarea { width: 80%; }
#commentform p { margin: 0pt 0pt 1em; }
#comments, #respond { margin: 3em 0pt 1em 40px; text-transform: uppercase; color: rgb(103, 110, 4); font-family: verdana,helvetica,sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 0.9em; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
.commentlist li { border: 1px solid rgb(225, 214, 198); margin: 5px 0pt; padding: 10px 10px 20px; background: rgb(243, 246, 237) url('comments_bottom.jpg') repeat-x scroll center bottom; }
.commentlist .alt {  }
#topnav { margin: 0pt auto; padding: 12px 20px 0pt 0pt; list-style-type: none; list-style-image: none; list-style-position: outside; font-size: 0.9em; text-align: right; font-family: Verdana,Arial,Sans-Serif; }
#topnav li { margin: 0pt; padding: 0pt; list-style-type: none; list-style-image: none; list-style-position: outside; display: inline; font-weight: bold; }
#topnav li a:link, #topnav li a:visited { text-decoration: none; color: rgb(187, 196, 163); }
#topnav li a:hover, #topnav li a:active { color: rgb(247, 243, 237); }
.calMonthToday { border: 1px dotted rgb(102, 153, 51); background-color: rgb(238, 238, 238); }
.pager { text-align: center; margin-bottom: 20px; margin-top: 20px; font-size: 12px; padding-top: 10px; padding-bottom: 10px; }
.pager .pagerLinkPrevPage, .pagerLink, .pagerLinkNextPage { padding: 2px 6px; }
.pager .pagerLinkPrevPage { margin-right: 20px; }
.pager .pagerLinkNextPage { margin-left: 20px; }
.pager .pagerCurrent { border-color: rgb(153, 153, 153); padding: 2px 6px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; font-weight: bold; font-size: 13px; vertical-align: top; color: rgb(255, 0, 132); }
#CommentForm fieldset { border: 2px solid rgb(212, 208, 205); padding-top: 10px; margin-top: 10px; padding-left: 10px; padding-bottom: 10px; }
#CommentForm legend { padding: 2px 4px; color: rgb(82, 81, 80); background-color: rgb(255, 255, 255); font-weight: bold; }
#CommentForm label { width: 13em; display: block; clear: both; float: left; margin-top: 8px; margin-bottom: 0px; }
#CommentForm input { margin-top: 8px; margin-bottom: 8px; }
#Submit { margin-top: 8px; margin-bottom: 8px; margin-left: 6em; }
#CommentForm textarea { margin-top: 8px; margin-bottom: 0px; }
