
/* ::::: http://public.blogbus.com/blogbus/skin_css/sys/50153.css ::::: */

body { margin: 0pt; padding: 0pt; text-align: center; background: url('bg_body.jpg') repeat-y scroll center center rgb(173, 231, 255); font-family: Arial,Helvetica,"宋体",sans-serif; color: rgb(136, 136, 136); font-size: 12px; }
.clear { clear: both; height: 0pt; line-height: 0pt; font-size: 0pt; visibility: hidden; }
img { border: medium none; }
a { color: rgb(220, 178, 12); }
a:hover { color: rgb(204, 204, 204); }
#index { margin: 0pt auto; text-align: left; background: url('bg_bottom.jpg') no-repeat scroll center bottom transparent; }
#detail { margin: 0pt auto; text-align: left; background: url('bg_bottom.jpg') no-repeat scroll center bottom transparent; }
#container { width: 1000px; margin: 0pt auto; text-align: left; background: url('bg_top.jpg') no-repeat scroll center top transparent; }
#outerContent { float: right; width: 660px; margin-right: 20px; }
#outerSidebar { float: left; display: inline; width: 240px; padding: 0pt; margin: -166px 0pt 0pt 47px; }
#footer { overflow: hidden; padding: 20px 0pt 5px; margin-top: 20px; text-align: center; color: rgb(255, 255, 255); font-weight: bold; }
#footer a { color: rgb(255, 255, 255); text-decoration: none; }
#footer a:hover { color: rgb(204, 204, 204); }
#header { height: 180px; overflow: hidden; }
h1.blogName { margin: 60px 50px 0pt 328px; font-size: 35px; line-height: 35px; font-family: Arial,Helvetica,"宋体",sans-serif; text-align: right; }
.blogName a { text-decoration: none; color: rgb(255, 255, 255); }
.blogName a:hover { color: rgb(153, 153, 153); }
.description { margin: 20px 40px 0pt 332px; font-size: 14px; color: rgb(153, 153, 153); text-align: right; }
#posts { margin: 0pt; padding: 0pt; font-family: Verdana,Arial,Helvetica,"宋体",sans-serif; }
#posts li { margin: 0pt; padding: 0pt; list-style: none outside none; width: 660px; }
#posts li .postHeader { height: 75px; margin: 0pt; padding: 0pt; background: url('bg_main_top.png') no-repeat scroll left bottom transparent; overflow: hidden; filter: none ! important; }
#posts li .postBody { width: 600px; margin: 0pt; padding: 0pt 30px; background: url('bg_main_body.png') repeat-y scroll left center transparent; filter: none ! important; }
#posts li .postFooter { width: 600px; height: 62px; margin: 0pt; padding: 13px 30px 0pt; background: url('bg_main_bottom.png') no-repeat scroll left top transparent; filter: none ! important; }
#detail #posts li .postFooter { padding-top: 6px; }
.postHeader a { position: relative; }
.postHeader h2 { margin: 40px 0pt 0pt 30px; padding: 0pt; font-size: 18px; line-height: 20px; color: rgb(123, 199, 67); overflow: hidden; word-wrap: break-word; }
.postHeader h2 a { color: rgb(123, 199, 67); text-decoration: none; }
.postHeader h2 a:hover { color: rgb(220, 178, 12); }
.postHeader h5 { margin: -15px 30px 0pt 0pt; padding: 0pt; font-size: 10px; font-weight: bold; font-family: Arial,Helvetica,sans-serif; text-align: right; color: rgb(77, 156, 213); }
.postFooter { color: rgb(204, 204, 204); }
.postFooter a { color: rgb(204, 204, 204); text-decoration: none; position: relative; }
.postFooter a:hover { color: rgb(124, 201, 45); }
.postFooter .category {  }
.postFooter .category a { color: rgb(220, 178, 12); }
.postFooter .category a:hover { color: rgb(204, 204, 204); }
.postFooter .author a { color: rgb(124, 201, 45); }
.postFooter .author a:hover { color: rgb(204, 204, 204); }
.postFooter input { width: 80%; border: medium none; height: 14px; line-height: 14px; color: rgb(153, 153, 153); background: none repeat scroll 0% 0% transparent; }
.postBody { line-height: 150%; font-size: 13px; word-wrap: break-word; }
.postBody a { position: relative; }
.postBody .entry { margin: 0pt; padding: 0pt; }
.postBody p { margin: 0pt; padding: 0pt 0pt 20px; }
.postBody br { letter-spacing: normal; }
#content #posts li .postBody ul, ol { margin: 0pt 0pt 0pt 20px; padding: 0pt; }
#content #posts li .postBody li { margin: 0pt; padding: 0pt 2px; list-style-position: inside; }
#content #posts li .postBody ul li { list-style: disc outside none; }
#content #posts li .postBody ol li { list-style: decimal outside none; }
#outerSidebar a { color: rgb(153, 153, 153); }
#outerSidebar a:hover { color: rgb(123, 199, 67); }
#outerSidebar .author { color: rgb(124, 201, 45); }
.module { font-size: 12px; margin-bottom: 30px; }
.module a { text-decoration: none; position: relative; }
.module h2 { width: 205px; height: 37px; margin: 0pt; padding: 13px 0pt 0pt 35px; background: url('bg_side_top.png') no-repeat scroll center bottom transparent; filter: none ! important; font-size: 14px; line-height: 14px; font-family: "微软雅黑","Microsoft YaHei",Verdana,"宋体",san-serif; color: rgb(119, 119, 119); }
.module .modBody { width: 210px; padding: 0pt 15px; margin: 0pt; background: url('bg_side_body.png') repeat-y scroll center center transparent; filter: none ! important; word-wrap: break-word; }
.module .modBody ul, li { margin: 0pt; padding: 0pt; list-style: none outside none; }
.module .modBody ul li { padding: 2px 0pt; color: rgb(136, 136, 136); letter-spacing: 0.1em; }
.module .modBottom { width: 240px; height: 35px; background: url('bg_side_bottom.png') no-repeat scroll center top transparent; filter: none ! important; }
#login .modBody {  }
#login li span { margin: 0pt 10px 0pt 20px; letter-spacing: 0.3em; }
#calendar h2 { display: none; }
#calendar .modBody { background: none repeat scroll 0% 0% transparent; filter: none; }
#calendar .modBottom { background: none repeat scroll 0% 0% transparent; filter: none; display: none; }
#calendar table { width: 100%; }
#calendar td a { color: rgb(44, 181, 233); }
#calendar td a:hover { color: rgb(124, 201, 45); }
#calendar .week td { height: 20px; text-align: center; vertical-align: middle; color: rgb(204, 204, 204); }
#calendar .week td.d0 {  }
#calendar .week td.d6 {  }
#calendar .day td { height: 20px; text-align: center; vertical-align: middle; color: rgb(208, 208, 208); }
#calendar .day td.today { color: rgb(124, 201, 45); font-weight: bold; }
#calendar .calendarHead td { text-align: center; padding: 4px 0pt; color: rgb(204, 204, 204); font-weight: bold; font-size: 13px; }
#calendar .calendarHead td a { color: rgb(204, 204, 204); }
#profile { overflow: hidden; }
#profile h3 { font-size: 14px; margin: 0pt; padding: 3px 0pt; }
#profile a img { border: 2px solid rgb(255, 255, 255); }
#search h2 { display: none; }
#search .modBody { background: none repeat scroll 0% 0% transparent; filter: none; }
#search .modBottom { background: none repeat scroll 0% 0% transparent; filter: none; display: none; }
#search input.textField { width: 154px; border: 1px solid rgb(218, 218, 218); height: 17px; line-height: 17px; color: rgb(153, 153, 153); }
#search input.button { border: 4px solid rgb(163, 224, 100); height: 24px; line-height: 16px; font-size: 12px; background: none repeat scroll 0% 0% rgb(163, 224, 100); color: rgb(255, 255, 255); }
#tags ul li { display: inline; white-space: normal; margin: 0pt 10px 0pt 0pt; letter-spacing: normal; }
#tags ul li span { display: none; }
#tags ul li a { padding: 2px 3px; }
#tags ul li a:hover { color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(163, 224, 100); }
#meta h2 { display: none; }
#meta .modBody { background: none repeat scroll 0% 0% transparent; filter: none; }
#meta .modBottom { background: none repeat scroll 0% 0% transparent; filter: none; display: none; }
#custom { padding: 15px; overflow: hidden; }
.more { margin: 5px 0pt 0pt; font-weight: bold; }
.context { margin: 0pt 0pt 2px; color: rgb(204, 204, 204); padding: 0pt 20px; text-align: right; }
.context a { text-decoration: none; }
.pageNavi { margin: 20px 0pt 0pt 30px; }
.pageNavi a { text-decoration: none; }
.pageNavi span { font-weight: bold; }
#trackbacks { margin: 0pt 10px 40px; padding: 0pt 10px 10px; }
#trackbacks h2 { margin: 40px 0pt 20px; padding: 5px; font-size: 18px; line-height: 20px; color: rgb(123, 199, 67); overflow: hidden; word-wrap: break-word; border-bottom: 1px dotted rgb(240, 240, 240); }
#trackbacks .desc { margin: 0pt 5px 15px; }
#trackbacks li { margin: 0pt 5px 15px; }
#trackbacks li h3 { margin: 0pt 0pt 2px; font-weight: normal; font-size: 12px; }
#trackbacks li .blogName { font-weight: bold; font-size: 14px; color: rgb(153, 153, 153); }
#trackbacks li .time { font-size: 10px; color: rgb(204, 204, 204); }
#comments { margin: 0pt 10px 40px; padding: 0pt 10px 10px; }
#comments h2 { margin: 40px 0pt 20px; padding: 5px; font-size: 18px; line-height: 20px; color: rgb(123, 199, 67); overflow: hidden; word-wrap: break-word; border-bottom: 1px dotted rgb(240, 240, 240); }
#comments li { margin: 0pt 5px 20px; letter-spacing: 0.1em; line-height: 160%; font-size: 13px; word-wrap: break-word; }
#comments li br { letter-spacing: normal; }
#comments li a { color: rgb(153, 153, 153); text-decoration: none; }
#comments li a:hover { color: rgb(132, 207, 238); }
#comments li .menubar { color: rgb(153, 153, 153); letter-spacing: normal; }
#comments li .menubar .author { color: rgb(124, 201, 45); }
#comments li .menubar .author a { color: rgb(124, 201, 45); }
#comments li .menubar .author a:hover { color: rgb(153, 153, 153); }
#commentForm { margin: 0pt 10px 40px; padding: 0pt 10px 10px; }
#commentForm h2 { margin: 40px 0pt 20px; padding: 5px; font-size: 18px; line-height: 20px; color: rgb(123, 199, 67); overflow: hidden; word-wrap: break-word; border-bottom: 1px dotted rgb(240, 240, 240); }
#commentForm form { margin: 0pt 5px; }
#commentForm div { margin-bottom: 10px; }
#commentForm label { width: 40px; display: block; padding-top: 7px; float: left; vertical-align: bottom; }
#commentForm input.textField { width: 154px; border: 1px solid rgb(218, 218, 218); height: 17px; line-height: 17px; color: rgb(153, 153, 153); }
#commentForm textarea { margin-left: 40px; width: 300px; border: 1px solid rgb(218, 218, 218); overflow: auto; color: rgb(153, 153, 153); }
#commentForm input.button { margin-left: 40px; border: 4px solid rgb(163, 224, 100); height: 24px; line-height: 16px; font-size: 12px; background: none repeat scroll 0% 0% rgb(163, 224, 100); color: rgb(255, 255, 255); }
.reCmtBody { padding: 10px; margin: 10px 0pt; border: 1px dotted rgb(255, 255, 255); }
.reCmtBody span { font-weight: bold; }
.reCmtBody .author { font-weight: bold; font-style: normal; }
.reCmtBody .time { font-size: 9px; text-align: right; color: rgb(204, 204, 204); }

/* ::::: null ::::: */

#SGSmain { position: fixed; z-index: 32767; top: 0pt; right: 0pt; padding: 0pt 0pt 0pt 20px; min-height: 20px; background: url('undefined') no-repeat scroll 2px 2px transparent; }

/* ::::: null ::::: */

#SGSmain.subscribed { background: url('undefined') no-repeat scroll 2px 2px transparent; }

/* ::::: null ::::: */

#SGSmain.subscribed:hover { background: none repeat scroll 0% 0% transparent; }

/* ::::: null ::::: */

#SGSmain.notSubscribed { background: url('undefined') no-repeat scroll 2px 2px transparent; }

/* ::::: null ::::: */

#SGSmain.subscribed:hover { background: none repeat scroll 0% 0% transparent; }

/* ::::: null ::::: */

#SGSmain:hover { padding: 0pt; }

/* ::::: null ::::: */

#SGSmain > div { display: none; }

/* ::::: null ::::: */

#SGSmain:hover > div { display: block; padding: 1px 0pt; background: none repeat scroll 0% 0% rgb(255, 255, 255); -moz-border-radius: 0pt 0pt 0pt 5px; border-style: solid; border-color: rgb(0, 0, 0); border-width: 0pt 0pt 2px 2px; }

/* ::::: null ::::: */

#SGSmain a { display: block; margin: 0pt 0pt 0pt 3px; padding: 2px 10px 2px 7px; font-family: "Verdana"; font-size: 12px; line-height: 14px; font-weight: normal; text-decoration: none; color: rgb(0, 0, 0); text-align: left; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 0pt none; }

/* ::::: null ::::: */

#SGSmain a:hover { background-color: rgb(255, 136, 0); color: rgb(0, 0, 0); }

/* ::::: null ::::: */

#SGSmain a.abonne { background-color: rgb(0, 0, 0); color: rgb(238, 238, 238); }

/* ::::: null ::::: */

#SGSmain a.abonne:hover { padding: 0px 10px 0px 6px; background-color: rgb(238, 238, 238); color: rgb(0, 0, 0); border-style: solid; border-color: rgb(255, 136, 0); border-width: 2px 0pt 2px 2px; }

/* ::::: null ::::: */

#SGSheader { margin: -2px 0pt 0pt; font-size: 9px; font-family: sans-serif; background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); }
#SGSheader a { display: inline ! important; font-size: 9px; font-family: sans-serif; text-decoration: underline; padding: 0pt; margin: 0pt; background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); }

/* ::::: null ::::: */

#SGSfooter { text-align: right; margin-right: 2px; font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0); }
#SGSfooter a { display: inline ! important; font-size: 9px; padding: 1px; margin: 0pt 2px; color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); }
#SGSfooter a:hover { color: rgb(0, 0, 0); background-color: rgb(255, 136, 0); }

/* ::::: null ::::: */

#SGSoptions { margin: 0pt 2px; font-family: sans-serif; }
#SGSoptions, #SGSoptions * { color: rgb(0, 0, 0); }
#SGSoptions div { margin: 0pt 2px; }
#SGSoptions a { display: inline; text-decoration: underline; margin: 0pt; padding: 0pt; }
#SGSoptions p { color: rgb(0, 0, 0); margin: 0pt 2px; }
#SGSoptions ul { margin: 0pt 0pt 0pt 1.25em; }
#SGSoptions li { margin-bottom: 3px; }
#SGSoptions li span { height: 9px; }
#SGSoptions p:hover, #SGSoptions p:hover a, #SGSoptions li:hover { background-color: rgb(255, 136, 0); }
#SGSoptions li.active { font-weight: bold; }
#SGSoptions li.active td { font-weight: normal; }
#SGSoptions .back, #SGSoptions .light, #SGSoptions .front, #SGSoptions .high { border: thin solid rgb(0, 0, 0); }

/* ::::: null ::::: */

#SGSinfo { text-align: center ! important; background-color: rgb(255, 136, 0); color: rgb(0, 0, 0); -moz-border-radius: 2px 2px 2px 2px; }

/* ::::: null ::::: */

#Chrome .front { background-color: rgb(66, 119, 207); }
#Chrome .back { background-color: rgb(225, 236, 254); }
#Chrome .light { background-color: rgb(255, 255, 255); }
#Chrome .high { background-color: rgb(255, 221, 34); }

/* ::::: null ::::: */

#Userscripts .front { background-color: rgb(0, 0, 0); }
#Userscripts .back { background-color: rgb(255, 255, 255); }
#Userscripts .light { background-color: rgb(238, 238, 238); }
#Userscripts .high { background-color: rgb(255, 136, 0); }

/* ::::: null ::::: */

#Flickr .front { background-color: rgb(0, 99, 220); }
#Flickr .back { background-color: rgb(255, 255, 255); }
#Flickr .light { background-color: rgb(255, 255, 255); }
#Flickr .high { background-color: rgb(255, 0, 132); }

/* ::::: null ::::: */

.hidden { display: none; }

/* ::::: null ::::: */

@media print {
  #SGSmain { display: none; }
}

/* ::::: null ::::: */

#SGSmain.partSubscribed { background: url('undefined') no-repeat scroll 2px 2px transparent; }

/* ::::: null ::::: */

#SGSmain.partSubscribed:hover { background: none repeat scroll 0% 0% transparent; }

/* ::::: http://public.blogbus.com/imgs/picobox/picobox.css ::::: */

#picoboxMask { position: absolute; width: 100%; height: 100%; display: none; background-color: rgb(0, 0, 0); opacity: 0.2; left: 0pt; top: 0pt; z-index: 4000; }
#picobox { width: 400px; padding: 2px; height: 300px; position: absolute; left: 50%; top: 50%; margin-left: -200px; margin-top: -150px; background-color: rgb(255, 255, 255); z-index: 4001; border: 3px solid rgb(102, 102, 102); overflow: hidden; display: none; }
#picobox h1.picoboxTitle { height: 2em; line-height: 2em; background-color: rgb(238, 255, 238); padding: 0pt 0.5em; position: relative; margin: 0pt; font-size: 12px; }
#picobox h1.picoboxTitle a { text-decoration: none; color: rgb(204, 0, 0); line-height: 2em; text-align: center; right: 2px; top: 0px; position: absolute; width: 2em; height: 2em; }
#picobox div.picoboxBody { font-size: 12px; padding: 2px; }
#frontLogin { font-size: 12px; color: rgb(102, 102, 102); padding: 0pt 8px; }
#frontLogin #frontLoginArea { padding: 20px 2px 0pt; }
#frontLogin #frontLoginArea form { margin: 0pt; }
#frontLogin #frontLoginArea table { font-size: 12px; }
#frontLogin #frontLoginArea table th { padding-bottom: 10px; }
#frontLogin #frontLoginArea table td { padding-bottom: 10px; }
#frontLogin #frontLoginArea table td .input { height: 18px; width: 210px; border: 1px solid rgb(204, 204, 204); }
#frontLogin #frontLoginArea table td .button { background: url('bg_button_4.gif') no-repeat scroll center bottom transparent; border: medium none; color: rgb(27, 111, 1); font-size: 12px; height: 25px; line-height: 25px; width: 55px; }

/* ::::: http://public.blogbus.com/imgs/picobox/picobox_beauty/picobox_beauty.css ::::: */

#picobox { font-family: Tahoma,Verdana,Arial,Helvetica,"宋体",sans-serif; }
#picobox td { font-size: 1px; line-height: 1px; padding: 0pt; }
#picobox .top { background: url('rounded-top.png') repeat-x scroll 0pt 0pt transparent; height: 7px; }
#picobox .right { background: url('rounded-right.png') repeat-y scroll 0pt 0pt transparent; width: 9px; }
#picobox .bottom { background: url('rounded-bottom.png') repeat-x scroll 0pt 0pt transparent; height: 9px; }
#picobox .left { background: url('rounded-left.png') repeat-y scroll 0pt 0pt transparent; width: 7px; }
#picobox .rc_lt { width: 7px; height: 7px; background: url('rounded-lt.png') no-repeat scroll 0pt 0pt transparent; }
#picobox .rc_rt { width: 9px; height: 7px; background: url('rounded-rt.png') no-repeat scroll 0pt 0pt transparent; }
#picobox .rc_lb { width: 7px; height: 9px; background: url('rounded-lb.png') no-repeat scroll 0pt 0pt transparent; }
#picobox .rc_rb { width: 9px; height: 9px; background: url('rounded-rb.png') no-repeat scroll 0pt 0pt transparent; }
#picobox td.content { background: none repeat scroll 0% 0% rgb(255, 255, 255); vertical-align: top; text-align: left; font-size: 12px; line-height: 2em; }
#picobox #picoboxInner td { font-size: 12px; line-height: 2em; }
#picobox { border: medium none; background: none repeat scroll 0% 0% transparent; }
#picoboxInner h1.picoboxTitle { background: url('popup_heading.gif') no-repeat scroll 0pt 0pt transparent; position: relative; padding: 0pt 0pt 0pt 12px; }
#picoboxInner h1.picoboxTitle div { background: url('popup_heading.gif') no-repeat scroll right 0pt transparent; height: 21px; line-height: 21px; color: rgb(255, 255, 255); overflow: hidden; }
#picoboxInner h1.picoboxTitle a.close { position: absolute; right: 6px; top: 0px; line-height: 1em; font-size: 13px; color: rgb(255, 255, 255); padding: 3px; height: auto; width: auto; text-decoration: none; }
