
/* ::::: http://gate.jiaoyou.com:82/gate/big5/www.jiaoyou.com/images/global.css ::::: */

.p_border_1 { border: 1px solid rgb(255, 255, 255); }
.p_border_2 { border: 5px solid rgb(255, 255, 255); }
.p_border_3 { border-right: 4px solid rgb(239, 239, 239); border-bottom: 3px solid rgb(239, 239, 239); }
.p_border_4 { border: 1px solid rgb(221, 221, 221); }
.p_letter_bg_1 { background-image: url('letter_bg.gif'); line-height: 25px; font-size: 14px; }
.p_letter_bg_2 { background-image: url('letter_bg_2.gif'); line-height: 25px; font-size: 14px; }
.p_padding_1 { padding: 15px 40px 10px; }
.p_padding_2 { padding: 8px 10px 10px; }
.p_line_row_1 { border-bottom: 3px solid rgb(221, 221, 221); }
.p_line_row_2 { border-bottom: 3px solid rgb(255, 204, 51); }
body, select, textarea, input { font-size: 12px; }
table, td, tr, th { font-size: 12px; }
span, strong, font { line-height: 130%; }
body { margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(0, 0, 0); text-align: center; }
body, span, strong, font, p, div, select, textarea, input, h1, h2, h3, h4, h5, h6, table, td, tr, th { font-family: "宋體","Verdana","tahoma","Arial","sans-serif"; }
div, form, img, ul, ol, dl, dt, dd, h1, h2, h3, h4, h5, h6 { border: 0px none ; margin: 0px; padding: 0px; }
input {  }
.cRed { color: red; }
a.cRed:link { color: red; }
a.cRed:visited { color: red; }
a.cRed:hover { color: rgb(188, 41, 49); }
.cRed a { color: red; }
.cRed a:hover { color: rgb(188, 41, 49); }
.cDRed { color: rgb(188, 41, 49); }
a.cDRed:link { color: rgb(188, 41, 49); }
a.cDRed:visited { color: rgb(188, 41, 49); }
.cDRed a { color: rgb(188, 41, 49); }
.cBlue { color: rgb(31, 58, 135); }
a.cBlue:link { color: rgb(31, 58, 135); }
a.cBlue:visited { color: rgb(31, 58, 135); }
.cBlue a { color: rgb(31, 58, 135); }
.cGray66 { color: rgb(102, 102, 102); }
a.cGray66:link { color: rgb(102, 102, 102); }
a.cGray66:visited { color: rgb(102, 102, 102); }
.cGray66 a { color: rgb(102, 102, 102); }
.cDGray { color: rgb(102, 102, 102); }
a.cDGray:link { color: rgb(102, 102, 102); }
a.cDGray:visited { color: rgb(102, 102, 102); }
.cDGray a { color: rgb(102, 102, 102); }
.cWhite { color: rgb(255, 255, 255); }
a.cWhite:link { color: rgb(255, 255, 255); }
a.cWhite:visited { color: rgb(255, 255, 255); }
a.cWhite:hover { color: rgb(255, 255, 0); }
.cWhite a { color: rgb(255, 255, 255); }
.cWhite a:hover { color: rgb(255, 255, 0); }
.cBlack { color: rgb(0, 0, 0); }
a.cBlack:link { color: rgb(0, 0, 0); }
a.cBlack:visited { color: rgb(0, 0, 0); }
a.cBlack:hover { color: rgb(188, 41, 49); }
.cBlack a { color: rgb(0, 0, 0); }
.cBlack a:hover { color: rgb(188, 41, 49); }
.cGrayCC { color: rgb(204, 204, 204); }
.cGrayEF { color: rgb(239, 239, 239); }
.cGray99 { color: rgb(153, 153, 153); }
.bgF5 { background-color: rgb(245, 245, 245); }
.bgEF { background-color: rgb(239, 239, 239); }
.bgCC { background-color: rgb(204, 204, 204); }
.bgDD { background-color: rgb(221, 221, 221); }
.bgFF { background-color: rgb(255, 255, 255); }
.bg66 { background-color: rgb(102, 102, 102); }
.bg99 { background-color: rgb(153, 153, 153); }
.fB { font-weight: bold; }
.fI { font-style: italic; }
.fN { font-weight: normal; }
.f12px { font-size: 12px; }
.f13px { font-size: 13px; }
.f14px { font-size: 14px; }
.f15px { font-size: 15px; }
.padding_2 { padding: 2px; }
.padding_3 { padding: 2px; }
.padding_5 { padding: 5px; }
.padding_8 { padding: 8px; }
.underLine { text-decoration: underline; }
.unLine { text-decoration: none; }
.unLine a { text-decoration: none; }
.unLine a:hover { text-decoration: underline; }
.float_left { float: left; }
.float_right { float: right; }
.clear { margin: 0pt; padding: 0pt; clear: both; font-size: 1px; line-height: 1px; }
.align_left { text-align: left; }
.align_center { margin: auto; text-align: center; }
.align_right { text-align: right; }
.margin_auto { margin: auto; }
.hidden { display: none; }
.noBorder { border-style: none; }
.percent_100 { width: 100%; }
.line_height_150 { line-height: 150%; }
.break_all {  }
li { margin-top: 2px; margin-bottom: 2px; margin-left: 30px; padding-top: 0px; padding-bottom: 0px; }
.menu ul { border: 1px solid rgb(255, 204, 0); margin: 0px; padding: 5px; list-style-type: none; list-style-image: none; list-style-position: outside; background-color: rgb(255, 255, 255); }
.menu li { margin: 1px; }
.menu li a { display: block; width: 100%; padding-top: 3px; padding-bottom: 3px; background-color: rgb(246, 246, 246); text-decoration: none; }
.menu li a:hover { background-color: rgb(255, 204, 0); color: rgb(255, 255, 255); }
.addressBar { padding-right: 1px; }
.addressBar ul { margin: 0px; padding: 0px; list-style-type: none; list-style-image: none; list-style-position: outside; }
.addressBar li { margin: 0px 0px 0px 3px; padding: 0px; float: left; }
.addressBar .separator {  }
.block { padding: 5px; }
.panel { margin: 0px; padding: 5px 0px 0px; clear: both; }
.panelTitle { margin: 0px 0px 1px; padding: 4px 4px 1px; text-decoration: none; font-weight: bold; }
.item { margin-bottom: 5px; margin-top: 5px; padding-top: 2px; padding-left: 10px; padding-right: 4px; line-height: 180%; }
.itemTitle { margin-bottom: 5px; padding-top: 2px; padding-left: 10px; line-height: 180%; font-size: 13px; font-weight: bolder; }
.row { margin-top: 5px; }
.textButton { margin: 1px; }
.textButtonOver { border-style: solid; border-color: rgb(255, 255, 255) rgb(102, 102, 102) rgb(102, 102, 102) rgb(255, 255, 255); border-width: 1px; margin: 0px; }
.textButtonDown { border-style: solid; border-color: rgb(102, 102, 102) rgb(255, 255, 255) rgb(255, 255, 255) rgb(102, 102, 102); border-width: 1px; margin: 0px; }
.calendar { font-size: 12px; }
.calendar a { text-decoration: none; }
.calendar .calendar_title {  }
.calendar .calendar_body {  }
.calendar .calendar_body a { display: block; width: 100%; }
.calendar .calendar_body a:hover, .calendar .calendar_curDay { background-color: rgb(221, 221, 221); background-image: url('check.gif'); background-repeat: no-repeat; background-position: center center; }
.calendar .calendar_week { background-color: rgb(204, 204, 204); width: 14%; }
.calendar .calendar_otherMonthDay { background-color: rgb(239, 239, 239); }
.calendar .calendar_thisMonthDay { background-color: rgb(247, 247, 247); }
.calendar .calendar_thisDay { background-color: rgb(255, 255, 153); background-image: url('today.gif'); background-repeat: no-repeat; background-position: center center; }
.calendar td { height: 20px; line-height: 20px; }
.calendar a { height: 20px; line-height: 20px; }

/* ::::: http://gate.jiaoyou.com:82/gate/big5/www.jiaoyou.com/templates/style/1/css.css ::::: */

a { color: rgb(0, 102, 0); text-decoration: none; }
a:hover { color: rgb(255, 153, 0); text-decoration: none; }
.panel_1 .panelTitle, .panel_3 .panelTitle { background-color: rgb(196, 229, 163); color: rgb(0, 0, 0); }
.panel_1 .block { border: 1px solid rgb(196, 229, 163); background-color: rgb(255, 255, 255); }
.panel_2 .panelTitle, .panel_4 .panelTitle { background-image: url('bg_yellow.gif'); background-color: rgb(255, 153, 0); color: rgb(255, 255, 255); }
.panel_2 .block { border: 1px solid rgb(255, 153, 0); background-color: rgb(255, 255, 255); }
.itemTitle { background-color: rgb(229, 243, 207); }
.border_1 { border: 1px solid rgb(196, 229, 163); }
.border_2 { border: 1px dotted rgb(255, 204, 0); }
.border_3 { border: 1px dotted rgb(204, 204, 204); }
.border_4 { border: 3px solid rgb(215, 229, 202); }
.border_5 { border: 1px solid rgb(255, 204, 0); }
.border_6 { border: 1px solid rgb(204, 204, 204); }
.bg_1 { background-color: rgb(253, 251, 223); }
.bg_2 { background-color: rgb(237, 248, 226); }
.bg_4 { background-image: url('content_bg.gif'); }
.bg_5 { background-color: rgb(237, 253, 208); }
.bg_8 { background-color: rgb(124, 194, 13); }
.bg_10 { background-color: rgb(196, 229, 163); }
.bg_12 { background-color: rgb(229, 243, 207); }
.bg_13 { background-color: rgb(255, 153, 0); }
.line_row_1 { border-top: 1px solid rgb(196, 229, 163); }
.line_row_2 { border-top: 5px solid rgb(124, 194, 13); }
.line_row_3 { border-bottom: 5px solid rgb(124, 194, 13); }
.line_row_4 { border-bottom: 3px solid rgb(124, 194, 13); }
.line_row_5 { background-image: url('dot_1.gif'); background-repeat: repeat-x; background-position: center bottom; }
.line_row_6 { background-image: url('dot_1.gif'); background-repeat: repeat-x; background-position: center center; }
.line_row_7 { border-bottom: 1px dotted rgb(196, 229, 163); }
.line_row_8 { border-top: 1px solid rgb(239, 239, 239); }
.line_row_9 { border-bottom: 1px dotted rgb(204, 204, 204); }
.line_row_10 { border-bottom: 1px solid rgb(204, 204, 204); }
.line_col_1 { border-right: 1px solid rgb(196, 229, 163); }
.line_col_2 { border-right: 1px dotted rgb(204, 204, 204); }
left_padding { padding-left: 2px; padding-right: 2px; }
.big_title { font-size: 26px; font-family: "Verdana","tahoma","Arial","sans-serif","宋體","新宋體","黑體","倣宋體","隸書"; font-weight: bolder; }
.bar_1 { background-image: url('bg_01.gif'); background-repeat: repeat-x; height: 30px; }
.bar_2 { background-image: url('activity_header_bg.gif'); background-repeat: repeat-x; height: 28px; }
.selectLabel ul { margin: 0px; padding: 0px; list-style-type: none; list-style-image: none; list-style-position: outside; }
.selectLabel li { margin: 0px 3px 0px 0px; padding: 5px 5px 1px; float: left; height: 15px; }
.selectLabel .navBarSelected { border-top: 1px solid rgb(124, 194, 13); border-left: 1px solid rgb(124, 194, 13); border-right: 1px solid rgb(124, 194, 13); color: rgb(255, 255, 255); font-weight: bold; background-color: rgb(124, 194, 13); background-image: url('bg_green.gif'); }
.selectLabel .navBarSelected a { color: rgb(255, 255, 255); text-decoration: none; }
.selectLabel .navBarSelected a:hover { color: rgb(255, 255, 0); }
.selectLabel .navBarUnselected { border-top: 1px solid rgb(124, 194, 13); border-left: 1px solid rgb(124, 194, 13); border-right: 1px solid rgb(124, 194, 13); background-color: rgb(226, 247, 205); }
.selectLabel_3 { padding-right: 1px; font-size: 14px; }
.selectLabel_3 ul { margin: 0px; padding: 0px; list-style-type: none; list-style-image: none; list-style-position: outside; }
.selectLabel_3 li { padding: 5px; float: left; margin-right: 3px; margin-bottom: 0px; margin-left: 0px; height: 15px; }
.selectLabel_3 .navBarSelected { font-weight: bold; background-color: rgb(255, 255, 255); }
.selectLabel_3 .navBarSelected a { text-decoration: none; }
.selectLabel_3 .navBarSelected a:hover {  }
.selectLabel_3 .navBarUnselected { background-color: rgb(255, 255, 255); }
.selectLabel_2 ul {  }
.selectLabel_2 li { margin-top: 8px; margin-bottom: 8px; }
.selectLabel_2 .navBarSelected { font-weight: bold; }
.selectLabel_2 .navBarSelected a { text-decoration: none; }
.selectLabel_2 .navBarSelected a:hover {  }
.selectLabel_2 .navBarUnselected {  }
.button_1 { border: 1px solid rgb(0, 102, 0); background: rgb(196, 229, 163) url('button_bg_1.gif') repeat-x scroll 0px 0px; padding-top: 2px; padding-bottom: 0px; height: 19px; color: rgb(255, 255, 255); font-weight: bold; font-size: 12px; }
.button_2 { border: 1px solid rgb(0, 102, 0); background: rgb(253, 251, 223) url('button_bg_2.gif') repeat-x scroll 0px 0px; padding-top: 2px; padding-bottom: 0px; height: 19px; color: rgb(255, 255, 255); font-weight: bold; font-size: 12px; }
.search_bg_user { background: transparent url('search_bg_user.gif') no-repeat scroll 0pt 1px; padding-left: 18px; }
.cOrange { color: rgb(255, 153, 0); }
.itemList_circle {  }
.itemList_circle li { list-style-type: circle; }
.btn_1 { border-style: solid; border-color: rgb(255, 255, 255) rgb(0, 102, 0) rgb(0, 102, 0) rgb(255, 255, 255); border-width: 1px; background-image: url('impbnt_bg.gif'); text-align: center; font-weight: bold; color: rgb(255, 255, 255); }
.btn_1 a { color: rgb(255, 255, 255); }
.btn_1 a:hover { color: rgb(255, 255, 0); }
.btn_2 { border: 1px solid rgb(0, 102, 0); background-image: url('impbnt_bg_2.gif'); text-align: center; color: rgb(0, 0, 0); }
.btn_2 a { border: 1px solid rgb(239, 239, 239); padding: 3px 10px 1px; color: rgb(0, 102, 0); display: block; }
.btn_2 a:hover { color: rgb(255, 153, 0); }
.left_padding { padding-left: 2px; padding-right: 2px; }

/* ::::: http://gate.jiaoyou.com:82/gate/big5/www.jiaoyou.com/js/floatDiv/dialog.css ::::: */

.dialog_window { border: 1px solid rgb(0, 0, 0); background-color: rgb(255, 255, 255); }
.dialog_title_box { margin: 1px; background-color: rgb(103, 149, 180); color: rgb(255, 255, 255); font-weight: bold; font-size: 12px; cursor: move; }
.dialog_body { margin: 1px; background-color: rgb(255, 255, 255); }
#dialog_msg { font-size: 12px; }
#dialog_button_box { text-align: center; padding-bottom: 10px; }
#dialog_button_box div { margin: auto; width: 62px; }
#dialog_button_text { background-image: url('smb_btn_bg.gif'); background-repeat: no-repeat; background-position: center center; display: block; width: 62px; height: 22px; line-height: 22px; color: rgb(0, 0, 0); text-decoration: none; font-size: 12px; }

/* ::::: null ::::: */

body { text-align: center; }
#body { margin: 0px auto; font-size: 12px; width: 770px; text-align: left; }
