
/* ::::: http://advosys.ca/viewpoints/wp-content/themes/advosys01/style.css ::::: */

a { font-family: verdana,helvetica,sans-serif; font-size: 12px; font-weight: 400; }
a:link, a:visited { text-decoration: none; color: rgb(37, 87, 173); }
a:hover { text-decoration: none; color: red; }
a:active { color: rgb(0, 102, 204); }
a img { border: medium none ; margin: 0pt; padding: 0pt; text-decoration: none; }
html, body { font-family: verdana,helvetica,arial,sans-serif; font-size: 12px; font-weight: 400; color: rgb(0, 0, 0); background-image: url('master-bg.jpg'); }
body { border: 1px solid rgb(0, 0, 0); margin: 15px 30px; padding: 0pt; background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(0, 0, 0); }
h1 { margin: 0pt; padding: 10px 10px 10px 20px; background: transparent none repeat scroll 0% 0%; font-size: 22px; font-weight: 400; text-align: left; color: rgb(255, 255, 255); }
h1 a { background: transparent none repeat scroll 0% 0%; font-size: 1.5em; font-weight: 400; text-decoration: none; color: rgb(255, 255, 255); }
h1 a:hover { background: transparent none repeat scroll 0% 0%; text-decoration: none; color: rgb(255, 255, 255); }
h5 { border: medium none ; margin: 4px; padding: 2px 5px 1px; font-size: 15px; font-weight: 700; }
#head #description { padding: 0pt 30px 10px; color: rgb(255, 255, 255); font-size: 14px; font-weight: 400; }
form.qs { margin: 0pt; padding: 0pt; position: absolute; top: 95px; right: 50px; text-align: right; }
form.qs p { margin: 0pt; padding: 0pt; background: transparent none repeat scroll 0% 0%; font-size: 11px; font-weight: 400; color: rgb(255, 255, 255); }
form.qs input.button { border: 1px solid rgb(192, 211, 226); margin: 0pt; padding: 0pt; background: rgb(249, 249, 255) none repeat scroll 0% 0%; font-size: 11px; font-weight: 400; width: 30px; color: rgb(0, 0, 0); }
form.qs input.submitbtn { border: 1px solid rgb(192, 211, 226); margin: 0pt; padding: 0pt; background: rgb(249, 249, 255) none repeat scroll 0% 0%; font-size: 11px; font-weight: 700; width: 30px; color: rgb(0, 0, 0); }
form.qs input.textfield { border: 1px solid rgb(0, 0, 0); margin: 0pt; padding: 0pt; font-size: 11px; font-weight: 400; }
#head { background: rgb(25, 25, 112) url('bg1.jpg') repeat scroll 0% 0%; }
#navigation { background: transparent url('navbg.jpg') repeat-x scroll 0% 0%; height: 2.2em; line-height: 2.2em; color: rgb(255, 255, 255); }
#navigation li { border-right: 1px solid rgb(255, 255, 255); float: left; list-style-type: none; white-space: nowrap; }
#navigation li a { padding: 0pt 10px; background: inherit inherit inherit inherit inherit; display: block; font-size: 0.8em; font-weight: 400; text-transform: uppercase; text-decoration: none; -moz-background-clip: inherit; -moz-background-origin: inherit; -moz-background-inline-policy: inherit; color: rgb(255, 255, 255); }
* html #navigation a { width: 1%; }
#navigation .selected, #navigation a:hover { color: rgb(255, 255, 255); text-decoration: none; }
.entry { margin-bottom: 3em; margin-top: 0pt; }
.entrymeta { color: rgb(144, 144, 144); }
.entry img { border: 1px solid rgb(204, 204, 204); margin: 5px; padding: 5px; }
.postedby { padding: 3px 3px 3px 20px; background: rgb(255, 255, 255) url('user.gif') no-repeat scroll 0% 0%; }
.filedto { padding: 3px 3px 3px 20px; background: rgb(255, 255, 255) url('post.gif') no-repeat scroll 0% 0%; }
.commentslink { padding: 3px 3px 3px 20px; background: rgb(255, 255, 255) url('packaged.gif') no-repeat scroll 0% 0%; }
.sec-a { padding: 0pt 18px; background: rgb(239, 242, 239) none repeat scroll 0% 0%; float: left; width: 775px; }
.interarticle { padding: 12px; }
div.path { margin: 25px 20px 10px 200px; padding: 0pt; font-size: 11px; font-weight: 400; }
div.path a { font-size: 11px; font-weight: 400; }
td.main { vertical-align: top; width: 30%; position: absolute; }
div.main { margin: 5px 190px 15px 180px; padding: 5px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; font-size: 12px; font-weight: 400; color: rgb(0, 0, 0); line-height: 15pt; }
div.main h3 { font-size: 16px; font-weight: 400; }
div.main h4 { margin: 12pt 90px 6px 0pt; font-size: 12px; font-weight: 700; }
div.main h2 { border-bottom: 1px dashed rgb(37, 87, 173); margin: 5px 0pt 10px; font-family: verdana,arial,helvetica,sans-serif; color: rgb(37, 87, 173); font-size: 22px; font-weight: 400; padding-bottom: 7px; }
div.main h2 a { font-family: verdana,arial,helvetica,sans-serif; font-size: 22px; text-decoration: none; color: rgb(37, 87, 173); }
div.main h2 span.top { font-size: 14px; font-weight: 400; }
div.main h2 span.top a { font-size: 16px; font-weight: 400; text-decoration: none; }
div.main p { margin: 0pt 0pt 12px; padding: 0pt; }
div.main table { font-family: verdana,helvetica,arial,sans-serif; font-size: 12px; font-weight: 400; line-height: 17px; margin-left: 10px; }
div.main td { margin: 0pt; padding: 0pt 5px; }
div.main ul { margin: 10px 100px 10px 60px; padding: 0pt; list-style-type: square; }
div.main ul.none { list-style-type: none; }
div.main li { margin: 1px 0pt; padding: 0pt; }
div.navboxwrapleft { border-right: 0pt solid rgb(204, 204, 204); margin: 0pt; padding: 0pt 25px 25px 5px; float: left; width: 160px; }
div.navboxleft { margin: 10px 0pt 0pt 1px; padding: 0pt; background: rgb(235, 240, 246) none repeat scroll 0% 0%; font-weight: 400; line-height: 16px; }
div.navboxleft ul { margin: 0pt 0pt 10px 8px; padding: 2px; list-style-type: none; }
div.navboxleft li { border-bottom: thin dotted rgb(204, 204, 204); margin: 0pt; padding: 1px 5px 5px 0pt; background-repeat: no-repeat; background-position: left center; }
div.navboxleft li:hover { background-repeat: no-repeat; background-position: left center; color: rgb(153, 201, 255); }
div.navboxleft li.active { background-repeat: no-repeat; background-position: left center; color: rgb(0, 0, 0); }
div.navboxleft li.extern { background-repeat: no-repeat; background-position: left center; text-decoration: none; }
div.navboxleft li.extern:hover { background-repeat: no-repeat; background-position: right center; }
div.navboxleft div.grey { border: 1px solid rgb(192, 211, 226); margin: -1px 0pt 0pt; padding: 0pt 0pt 20px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(0, 0, 0); }
div.navboxwrapright { border-left: 0pt solid rgb(204, 204, 204); margin: 0pt 0pt 0pt 9px; padding: 0pt 15px 20px 0pt; float: right; width: 165px; }
div.navboxright { margin: 10px 0pt 10px 10px; padding: 0pt; background: rgb(255, 255, 255) none repeat scroll 0% 0%; font-size: 11px; font-weight: 400; line-height: 17px; }
div.navboxright h5 a { border-bottom: 1px solid rgb(0, 0, 0); margin: 0pt 0pt 10px; padding: 10px 0pt 2px; color: rgb(0, 0, 0); font-size: 1.2em; width: 93%; }
div.navboxright ul { margin: 0pt; padding: 0pt; list-style-type: none; }
div.navboxright li { border-bottom: thin dotted rgb(204, 204, 204); margin: 0pt; padding: 1px 5px 5px 0pt; background-repeat: no-repeat; background-position: left center; }
div.navboxright div.impressum { margin: 20px 0pt 0pt; padding: 0pt; background: rgb(249, 249, 255) none repeat scroll 0% 0%; color: rgb(0, 0, 0); }
.box { border: 1px solid silver; margin: 0pt 95px 10px 10px; padding: 10px; background: rgb(250, 251, 252) none repeat scroll 0% 0%; color: rgb(80, 80, 80); line-height: 1.5em; }
.box a { color: rgb(80, 80, 80); }
ol#commentlist { margin: 15px 0pt 0pt; padding: 0pt; list-style-type: none; list-style-image: none; list-style-position: outside; }
.commentname a { text-decoration: underline; font-family: "Trebuchet MS","Lucida Grande",verdana,helvetica,arial,sans-serif; font-style: normal; font-variant: normal; font-weight: bold; font-size: 110%; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
.commenttext { background: rgb(63, 70, 74) none no-repeat scroll left top; min-height: 90px; color: rgb(204, 204, 204); }
* html .commenttext, * html .commenttext-admin { overflow: visible; height: 90px; }
.commentp { padding: 20px 10px 10px; margin-left: 65px; }
.commenttext p { margin: 0pt 0pt 10px; padding: 0pt; }
#commentblock h2 { font-size: 140%; }
#commentsform p { margin-top: 5px; margin-bottom: 5px; }
h3.entrytitle, h3 { margin: 0pt; padding: 0pt; font-size: 160%; font-weight: 400; line-height: 100%; }
h3.entrytitle a, h3.entrytitle a:visited, h3 a { color: rgb(255, 255, 255); text-decoration: none; }
h3.entrytitle a:hover, h3 a:hover { text-decoration: underline; }
#content code { border: 1px solid silver; margin: 0pt 0pt 20px; padding: 5px; overflow: auto; display: block; background-color: rgb(238, 238, 238); font-size: 100%; color: rgb(0, 0, 0); text-align: left; width: 500px; font-family: courier,'Courier New',monospace; }
#commentblock code { padding: 5px; display: block; margin-bottom: 10px; color: rgb(204, 204, 204); }
div.footer { margin: 0pt; padding: 5px 0pt; background: rgb(255, 255, 255) none repeat scroll 0% 0%; clear: both; font-size: 0.9em; color: rgb(0, 102, 204); }
div.footer p { margin: 0pt; padding: 0pt; text-align: center; }
div.footer a { background: inherit inherit inherit inherit inherit; color: rgb(0, 0, 0); -moz-background-clip: inherit; -moz-background-origin: inherit; -moz-background-inline-policy: inherit; }
div.footer a:hover { background: inherit inherit inherit inherit inherit; color: rgb(0, 102, 204); -moz-background-clip: inherit; -moz-background-origin: inherit; -moz-background-inline-policy: inherit; text-decoration: underline; }
h1 a:link, h1 a:visited, h1 a:active { background: transparent none repeat scroll 0% 0%; color: rgb(255, 255, 255); text-decoration: none; }
div.navboxleft h5, div.navboxright h5 { border-bottom: thin dotted rgb(204, 204, 204); margin: 4px 0pt 5px 3px; padding: 3px 4px 3px 3px; background: transparent url('navboxhead.jpg') repeat-x scroll 0% 0%; color: rgb(37, 87, 194); font-size: 1.1em; font-weight: 700; text-transform: none; }
div.navboxleft div.impressum div.active div.navboxright div.impressum div.active { border: 1px solid rgb(255, 201, 201); margin: -1px; padding: 0pt; }
#commentblock ol li, .entrybody { margin-bottom: 30px; }
h2.archives, .entrybody p { margin-bottom: 10px; }
