/* ::::: http://l.yimg.com/f/i/tw/blog/css/blog_global081113.css ::::: */

body { margin: 0pt 0pt 16px; padding: 0pt; background: white none repeat scroll 0% 0%; font-family: "Arial","MingLiU","PMingLiU"; font-size: 80%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
input, select, option, textarea { font-family: "Arial","MingLiU","PMingLiU"; }
h1, h2, h3, h4, h5, h6, th, blockquote, p, ul, li, form, fieldset { margin: 0pt; padding: 0pt; font-size: 100%; font-weight: normal; list-style-type: none; list-style-image: none; list-style-position: outside; }
th, td { text-align: left; font-weight: normal; }
strong { font-size: 100%; font-style: normal; text-decoration: none; }
table { border-collapse: collapse; width: 100%; }
p, span {  }
a img { border: medium none ; }
a { color: rgb(0, 0, 187); }
a:visited { color: rgb(57, 135, 198); }
a:hover { color: red; }
a:active { color: red; }
.thrcol { width: 100%; }
.thrcol[class] { min-width: 930px; }
.ycnt3col { margin: 0pt 10px; }
.ycnt3col:after { content: "."; height: 0pt; visibility: hidden; display: block; clear: both; }
.thrcol .yc3main { width: 100%; float: left; margin-left: -160px; }
.thrcol .yc3mainbd { margin-left: 160px; }
.thrcol .yc3pri { width: 100%; float: right; margin-right: -160px; }
.thrcol .yc3pribd { margin-right: 160px; }
.thrcol .yc3subbd { width: 150px; float: right; }
.thrcol .yc3sec { width: 150px; }
.thrcol .yc3sub { z-index: 1; }
.thrcol .yc3pri, .thrcol .yc3main { z-index: 10; }
.ycntmod { overflow: hidden; width: 100%; position: relative; margin-bottom: 10px; }
.ycntmod .rctop { background: transparent url('mod_nw.gif') no-repeat scroll left top; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; margin-right: 5px; }
.ycntmod .rctop div { background: transparent url('mod_ne.gif') no-repeat scroll right top; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; height: 5px; font-size: 0pt; position: relative; right: -5px; }
.ycntmod .rcbtm { background: transparent url('mod_sw.gif') no-repeat scroll left bottom; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; margin-right: 5px; }
.ycntmod .rcbtm div { background: transparent url('mod_se.gif') no-repeat scroll right bottom; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; height: 5px; font-size: 0pt; position: relative; right: -5px; }
.ycntmod .rcl { background: transparent url('mod_left.gif') repeat-y scroll 0% 0%; padding-left: 5px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.ycntmod .rcr { background: transparent url('mod_right.gif') repeat-y scroll right center; padding-right: 5px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.ycntmod .text { position: relative; }
.yc3pribd .ycntmod { overflow: visible; }
.yc3pribd .ycntmod .yblogcnt { overflow: hidden; }
.ycntmod .mhd { height: 30px; }
.ycntmod .mhd h3 { padding: 8px 0pt 0pt 8px; font-size: 120%; }
.ycntmod .mbd { padding: 5px; }
.ycntmod .mft, .ycntmod .pagination { padding: 5px 0pt; text-align: center; font-family: verdana; }
.ycntmod .mft strong, .ycntmod .pagination strong { margin: 0pt 3px; font-weight: normal; }
.ycntmod .mbd ul.list { padding-left: 5px; }
.ycntmod .mbd ul.list li { background: transparent url('bullet.gif') no-repeat scroll left 0.6em; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; padding-left: 10px; margin-bottom: 5px; color: rgb(102, 102, 102); }
.ycntmod .mbd ul.list li a { margin-right: 5px; }
.ycntmod .mbd ul.list li.more { margin: 10px 0pt 0pt 10px; background: transparent url('arrow_more.gif') no-repeat scroll 45px center; text-align: right; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.ycntmod .mbd ul.list li.more a { margin: 0pt; }
span.prev { background: transparent url('arrow_page_prev.gif') no-repeat scroll left center; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; padding-left: 10px; }
span.next { background: transparent url('arrow_page_next.gif') no-repeat scroll right center; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; padding-right: 10px; }
#yblogtitle .thd, #yblogtitle .tft, .yblogcnt .blgtitlebar, .yblogcnt .blgfolderbar, .yblogcnt .msgcontent, #yarticle .more, #yartsum .more, #yphtlist .more, .actbtns, .yvstrcmnt, .ycmntreply, #ysbscrblist .actionbar, #ycmntlist .actionbar, #yphtsingle .mhd {  }
#yblogtitle .thd:after, #yblogtitle .tft:after, .yblogcnt .blgtitlebar:after, .yblogcnt .blgfolderbar:after, .yblogcnt .msgcontent:after, #yarticle .more:after, #yartsum .more:after, #yphtlist .more:after, .actbtns:after, .yvstrcmnt:after, .ycmntreply:after, #ysbscrblist .actionbar:after, #ycmntlist .actionbar:after, #yphtsingle .mhd:after { content: "."; height: 0pt; visibility: hidden; display: block; clear: both; }
#yblogtitle .mbd { background: rgb(204, 255, 204) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#yblogtitle .thd, #yblogtitle .tft {  }
#yblogtitle .thd h1 { display: inline; font-size: 120%; }
#yblogtitle .thd, #yblogtitle .tbd { margin-bottom: 5px; }
#yblogtitle .tbd p { display: inline; line-height: 1.5em; }
#yblogtitle .tft { text-align: right; padding-bottom: 5px; position: relative; }
#yblogtitle .tft div { float: right; margin-left: 5px; }
#yblogtitle .tft div a span { display: none; }
div#btnsbsrb a, div#btnsbsrb_nologin a { background: transparent url('btn_subscribe.gif') no-repeat scroll 0% 0%; overflow: hidden; display: block; width: 89px; height: 22px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#ypopsub { border: 1px solid black; background: rgb(255, 255, 255) none repeat scroll 0% 0%; position: absolute; visibility: hidden; width: 600px; height: auto; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#ypopsub iframe { display: none; }
#ypopsub .popclose { background: rgb(243, 243, 243) none repeat scroll 0% 0%; text-align: right; margin-bottom: 10px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#ypopsub #closeme { padding: 5px; line-height: 1.8em; cursor: pointer; }
#ymodprf .mbd { padding: 0pt 0pt 5px; text-align: center; }
#ymodprf #yprf { text-align: center; }
#ymodprf #yprflg { margin: 5px auto; }
#ymodprf #yprfsm a img { margin: 0pt 1px 5px; display: inline; width: 40px; }
#ymodprf .nickname { padding-bottom: 5px; }
#ymodprf .horos { padding-bottom: 5px; }
#ymodcal .selyr { padding: 5px 0pt 0pt 3px; width: 45%; float: left; }
#ymodcal .selmn { padding: 5px 3px 0pt; float: right; text-align: right; }
#ymodcal .mhd a { text-decoration: none; font-weight: bold; }
#ymodcal .mhd span a { font-size: 70%; font-weight: normal; }
#ymodcal .mbd td strong { font-weight: bold; text-decoration: underline; }
#ymodcal .mhd .text .selyr, #ymodcal .mhd .text .selmn { position: relative; }
#ymodcal .mbd { padding: 5px 0pt; }
#ymodcal table { background: transparent none repeat scroll 0% 0%; font-size: 88%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#ymodcal th, #ymodcal td { text-align: center; }
#ymodcal th { font-weight: bold; }
#ymodcal form {  }
#ymodmsgbd .mhd h3 { font-weight: normal; }
#ymodrss .mhd { height: auto; }
#ymodrss .mhd .text { padding: 5px; }
#ymodrss .mhd span { display: block; position: relative; margin-left: 1px; margin-right: 1px; }
#ymodrss .mhd span a { background: transparent none repeat scroll 0% 0%; display: block; text-indent: -5000px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#rssmyy { margin: 0pt; background: transparent url('addtomyyahoo3.gif') no-repeat scroll left center; overflow: hidden; width: 62px; height: 17px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; text-decoration: none; float: left; }
#rssfeed { margin: 0pt; background: transparent url('rss.gif') no-repeat scroll left center; overflow: hidden; width: 28px; height: 17px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; text-decoration: none; float: left; }
#rssfaq { margin: 0pt; background: transparent url('rss_faq.gif') no-repeat scroll left center; overflow: hidden; width: 13px; height: 17px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; text-decoration: none; }
#ymodstats li { line-height: 1.5em; }
#ymodupdate .mbd .date { background: transparent url('update_img.gif') no-repeat scroll left center; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; padding-left: 20px; font-size: 86%; font-family: verdana; }
#yarticle .yblogcnt { border-bottom: 1px dotted rgb(204, 204, 204); padding: 5px 0pt 10px; }
.yblogcnt .blgtitlebar { margin-bottom: 10px; }
.yblogcnt .blgtitlebar h2 { font-size: 126%; font-weight: bold; }
#yarticle .yblogcnt p { line-height: 1.5em; padding-bottom: 1em; }
#ypartsingle #yarticle .yblogcnt { border-bottom: medium none; }
.yblogcnt .mngbtns { float: right; }
.yblogcnt .mngbtns div { padding: 0pt 5px; float: left; margin-left: 5px; }
.yblogcnt .mngbtns div a { color: rgb(0, 0, 0); text-decoration: none; }
.yblogcnt .mngbtns div a:hover { color: rgb(255, 0, 0); }
div.btnblgedit, div.btnblgdel, div.btnblgreport { border-style: solid; border-color: rgb(204, 204, 204) rgb(153, 153, 153) rgb(153, 153, 153) rgb(204, 204, 204); border-width: 2px; }
div.btnblgdel, div.btnblgreport { background: rgb(255, 196, 225) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.yblogcnt .blgfolderbar { margin: 20px 0pt 10px; }
.yblogcnt .blgfolderbar .folder { float: left; }
.yblogcnt .blgfolderbar .date { text-align: right; font-family: verdana; font-style: normal; font-variant: normal; font-weight: normal; font-size: 80%; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; margin-top: 1px; }
.yblogcnt .msgcontent b, .yblogcnt .msgcontent strong { font-weight: bold; }
.yblogcnt .msgcontent { margin-bottom: 5px; }
.actbtns { margin-bottom: 5px; }
.actbtns div { float: right; margin-left: 5px; }
.actbtns div span { display: none; }
div.btncomment a { background: transparent url('reply_btn.gif') no-repeat scroll 0% 0%; display: block; height: 18px; width: 68px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
div.btntrackback a { background: transparent url('btn_trackback.gif') no-repeat scroll 0% 0%; display: block; height: 18px; width: 68px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.browsebtns { margin: 10px 0pt; text-align: right; }
.browsebtns span { margin-left: 5px; font-size: 120%; }
.toggle_item { overflow: hidden; }
.toggle_item.visible .cmntbd { display: block; }
.toggle_item.visible a.norgie { background: transparent url('norgie_close.gif') no-repeat scroll left center; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; padding-left: 15px; }
.toggle_item .cmnthd { border-bottom: 1px dotted rgb(204, 204, 204); line-height: 2em; }
.toggle_item .cmnthd a { margin-right: 2px; }
.yvstrcmnt { border-bottom: 1px dotted rgb(204, 204, 204); padding: 10px 0pt; }
.yvstrcmnt .vstrthumb { float: left; padding-right: 5px; }
.yvstrcmnthd { font-family: verdana; margin-bottom: 5px; }
.yvstrcmnthd div { display: inline; }
.yvstrcmnthd a, .yvstrcmnthd cite { padding: 0pt 2px; font-style: normal; }
.reportbtns span { border-style: solid; border-color: rgb(204, 204, 204) rgb(153, 153, 153) rgb(153, 153, 153) rgb(204, 204, 204); border-width: 2px; padding: 0pt 5px; background: rgb(255, 196, 225) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; margin-left: 2px; }
.reportbtns span a { text-decoration: none; white-space: nowrap; }
#yartcmt .yvstrcmntbd, #yarttrk .yvstrcmntbd { margin-left: 45px; }
.ycmntreply { border: 1px solid rgb(204, 204, 204); padding: 5px; margin-top: 5px; }
#rtemodule { margin: 5px 0pt; padding-bottom: 10px; }
#rtemodule .privacy { padding: 8px 10px; }
#rtemodule .privacy input {  }
.rteContainer { border: 1px solid rgb(179, 179, 179); width: 99.5%; margin-bottom: 5px; }
.rteContainer[class] { float: left; }
#rteToolbar { border-top: 1px solid rgb(255, 255, 255); border-left: 1px solid rgb(255, 255, 255); background: rgb(215, 215, 215) url('toolbar_gradient.gif') repeat-x scroll center top; float: left; width: 99.8%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#rteToolbar .btn, #rteToolbar .over, #rteToolbar .down, #rteToolbar .sep { display: block; float: left; }
#rteToolbar .btn { padding: 3px; }
#rteToolbar .sep { border-style: solid; border-color: rgb(187, 187, 187) rgb(255, 255, 255) rgb(255, 255, 255) rgb(187, 187, 187); border-width: 1px; height: 20px; margin-top: 3px; }
#rteToolbar img { display: block; }
#rteClrPlt, #rteSmiley, #rteFlush, #rteList { border: 1px solid rgb(115, 115, 115); position: absolute; visibility: hidden; top: 0pt; }
#rteClrPlt { width: 170px; height: 168px; }
#rteSmiley { width: 120px; height: 190px; }
#rteFlush { background: rgb(255, 255, 255) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; width: 110px; }
#rteList { background: rgb(255, 255, 255) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; width: 130px; }
#rte { clear: both; width: 100%; }
#rteEdit { height: 150px; width: 99.5%; }
#rteCnt { height: 150px; width: 100%; }
#postrte #caption { margin-bottom: 10px; vertical-align: middle; }
#rteNote { text-align: right; float: right; line-height: 1.5em; }
#postrte .action { clear: both; text-align: center; }
#ymodsearch .textfield { width: 80px; }
#ymodsearch .submit { width: 40px; }
#ymodsearch label { font-size: 85%; }
#yblast { margin: -25px 0pt 0pt; position: relative; }
#yblast .text, #yblast .bg { padding: 10px 30px; overflow: hidden; width: 480px; height: 35px; }
#yblast .text { margin: -55px 0pt 0pt; }
a, a:link, a:visited { color: rgb(75, 151, 173); }
a:hover { color: rgb(136, 208, 230); }
#yhtw_masthead { background: rgb(197, 197, 197) none repeat scroll 0% 0%; color: rgb(102, 102, 102); -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#yhtw_masthead a, #yhtw_masthead a:link, #yhtw_masthead a:visited, #yhtw_masthead a:hover { color: rgb(255, 255, 255); }
body { background: rgb(246, 246, 246) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.yc3sec .mhd, .yc3subbd .mhd { background: rgb(227, 227, 227) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; color: rgb(106, 143, 154); }
.yc3sec .mbd, .yc3subbd .mbd, .yc3sec .mft, .yc3subbd .mft { background: rgb(246, 246, 246) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; color: rgb(102, 102, 102); }
.yc3pribd .mbd, .yc3pribd .mft, #yreplymsg table, #ysbscrblist table, #ybloginfo table, #yusrinfo table, #yusrintro p { background: rgb(255, 255, 255) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; color: rgb(102, 102, 102); }
#yblogtitle .mbd, #yblogtitle .mft { background-color: rgb(164, 164, 164); color: rgb(102, 102, 102); }
#yblogtitle h1 { color: rgb(51, 51, 51); }
/* ::::: http://l.yimg.com/f/i/tw/blog/css/yhtw_masthead_super_slim_11b.css ::::: */

#yhtw_masthead { padding: 0pt 10px; background: rgb(156, 156, 156) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; min-height: 30px; font-family: "MingLiU","PMingLiU"; margin-bottom: 20px; }
#yhtw_masthead[id] { position: relative; z-index: 999; }
#yhtw_masthead .mhlogo { height: auto; display: inline; float: left; }
#yhtw_masthead .mhuser { border-left: 1px solid rgb(222, 222, 222); padding: 6px 0pt 4px 4px; height: auto; display: inline; float: left; }
#yhtw_masthead .mhuser p { display: inline; }
#yhtw_masthead .mhuser div { display: inline; color: white; font-size: 12px; }
#yhtw_masthead .mhuser div a, #xyhtw_masthead .mhuser div b { color: white; }
#yhtw_masthead .mhlogo img { border: 0px solid white; height: 30px; vertical-align: middle; position: relative; }
#yhtw_masthead .mhlogo a { text-decoration: none; font-weight: bold; color: white; }
#yhtw_masthead .mhsch { float: right; position: relative; margin-top: 7px; }
#yhtw_masthead .mhsch div { color: rgb(255, 255, 255); text-align: right; font-size: 12px; width: 22em; }
#yhtw_masthead .mhsch a { margin: 0pt 1px; color: rgb(255, 255, 255); }
#yhtw_masthead .mhsch b { margin: 0pt 1px; color: rgb(255, 255, 255); font-weight: normal; }
#yhtw_masthead .masthead_function { font-size: 12px; position: relative; }
#yhtw_masthead .masthead_function strong { font-weight: normal; color: rgb(255, 255, 255); text-decoration: underline; cursor: pointer; padding-bottom: 5px; }
#yhtw_masthead .masthead_function span { border: 1px solid rgb(222, 222, 222); background: white none repeat scroll 0% 0%; display: none; position: absolute; top: 1em; left: 0pt; text-align: left; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#yhtw_masthead span.masthead_function:hover span { display: block; }
#yhtw_masthead .masthead_function span a { border-bottom: 1px solid rgb(240, 240, 240); padding: 5px 4px 3px; color: rgb(0, 0, 187) ! important; display: block; min-width: 5.5em; text-decoration: none; }
#yhtw_masthead .masthead_function span a:hover { background: rgb(255, 255, 204) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; text-decoration: underline; }
#yhtw_masthead .masthead_function {  }
#yhtw_mastfoot { border-top: 1px solid rgb(199, 199, 199); margin: 0pt auto; padding: 5px 0pt; clear: both; color: rgb(119, 119, 119); font-size: 12px; font-family: "Arial","MingLiU","PMingLiU"; text-align: left; }
#yhtw_mastfoot:after { content: "."; display: block; height: 0pt; visibility: hidden; clear: both; }
#yhtw_mastfoot a { color: rgb(0, 0, 187); }
#yhtw_mastfoot a:hover { color: red; }
#yhtw_mastfoot .cp { float: left; }
#yhtw_mastfoot .ln { float: right; }
#yhtw_mastfoot .ln a { border-left: 1px solid rgb(170, 170, 170); padding: 0pt 1px 0pt 5px; }
#yhtw_mastfoot .ln a:first-child { border-left: 0pt none; }
/* ::::: http://l.yimg.com/f/i/tw/blog/css/cat4_11.css ::::: */

a, a:link, a:visited { color: rgb(0, 141, 176); }
a:hover { color: rgb(0, 187, 233); }
#yhtw_masthead { background: rgb(9, 70, 110) none repeat scroll 0% 0%; color: rgb(255, 255, 255); -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; opacity: 0.5; }
#yhtw_masthead a, #yhtw_masthead a:link, #yhtw_masthead a:visited, #yhtw_masthead a:hover { color: rgb(251, 234, 168); }
body { background: rgb(51, 203, 204) url('cat4_11.jpg') no-repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.yc3sec .mhd, .yc3subbd .mhd, .yc3sec .mhd a, .yc3subbd .mhd a, .yc3sec .mhd a:link, .yc3subbd .mhd a:link, .yc3sec .mhd a:visited, .yc3subbd .mhd a:visited { background: rgb(154, 228, 213) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; color: rgb(51, 51, 51); }
.yc3sec .mhd a, .yc3subbd .mhd a, .yc3sec .mhd a:link, .yc3subbd .mhd a:link, .yc3sec .mhd a:visited, .yc3subbd .mhd a:visited { background: transparent none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.yc3sec .mbd, .yc3subbd .mbd, .yc3sec .mft, .yc3subbd .mft { background: rgb(255, 255, 255) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; color: rgb(102, 102, 102); }
.yc3pribd .mbd, .yc3pribd .mft, #yreplymsg table, #ysbscrblist table, #ybloginfo table, #yusrinfo table, #yusrintro p { background: rgb(255, 255, 255) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; color: rgb(102, 102, 102); }
#ymodcal .mbd td strong { color: rgb(255, 180, 0); }
#yblogtitle .mbd, #yblogtitle .mft { background-color: rgb(107, 170, 175); color: rgb(51, 51, 51); }
#yblogtitle h1 { color: rgb(255, 255, 255); }
body { background-image: url('f23_20081109025206680.jpg'); background-repeat: repeat-y; }
#yblogtitle .rctop, #yblogtitle .rctop div, #yblogtitle .rcl, #yblogtitle .rcr, #yblogtitle .rcbtm, #yblogtitle .rcbtm div {  }
.yc3sec .mbd, .yc3subbd .mbd, .yc3sec .mft, .yc3subbd .mft { background: rgb(255, 255, 255) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.yc3subbd .rctop, .yc3subbd .rctop div, .yc3subbd .rcl, .yc3subbd .rcr, .yc3subbd .rcbtm, .yc3subbd .rcbtm div, .yc3sec .rctop, .yc3sec .rctop div, .yc3sec .rcl, .yc3sec .rcr, .yc3sec .rcbtm, .yc3sec .rcbtm div {  }
.yc3pribd .mbd, .yc3pribd .mft, #yreplymsg table, #ysbscrblist table, #ybloginfo table, #yusrinfo table, #yusrintro p { background: rgb(255, 255, 255) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.yc3pribd .rctop, .yc3pribd .rctop div, .yc3pribd .rcl, .yc3pribd .rcr, .yc3pribd .rcbtm, .yc3pribd .rcbtm div {  }
#yblast .bg { background: transparent url('blast_bg2.gif') no-repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.ycnt3col { position: relative ! important; }
.ysm { border: 1px solid rgb(151, 171, 188); margin: 5px; padding: 1px 5px; overflow: hidden; position: relative; font-size: 13px; line-height: 1.4; min-height: 10px; }
.ysm * { cursor: pointer; }
.ysm .ysmlabel { position: absolute; top: 2px; right: 5px; }
.ysm .ysmlabel a { text-decoration: none; font-size: 12px; }
