
/* ::::: http://zh.wikipedia.org/skins-1.5/common/shared.css?203xx ::::: */

.mw-plusminus-null { color: rgb(170, 170, 170); }
.texvc { direction: ltr; unicode-bidi: embed; }
img.tex { vertical-align: middle; }
span.texhtml { font-family: serif; }
#wikiPreview.ontop { margin-bottom: 1em; }
#toolbar, #wpTextbox1 { clear: both; }
div#mw-js-message { border: 1px solid rgb(221, 221, 221); margin: 1em 5%; padding: 0.5em 2.5%; background-color: rgb(252, 252, 252); }
.editsection { float: right; margin-left: 5px; }
table.filehistory { border: 1px solid rgb(204, 204, 204); border-collapse: collapse; }
table.filehistory th, table.filehistory td { border: 1px solid rgb(204, 204, 204); padding: 0pt 0.2em; vertical-align: top; }
table.filehistory th { text-align: left; }
table.filehistory td.mw-imagepage-filesize, table.filehistory th.mw-imagepage-filesize { white-space: nowrap; }
table.filehistory td.filehistory-selected { font-weight: bold; }
li span.deleted, span.history-deleted { text-decoration: line-through; color: rgb(136, 136, 136); font-style: italic; }
body.ltr td.mw-label { text-align: right; }
body.ltr td.mw-input { text-align: left; }
body.ltr td.mw-submit { text-align: left; }
body.rtl td.mw-label { text-align: left; }
body.rtl td.mw-input { text-align: right; }
body.rtl td.mw-submit { text-align: right; }
td.mw-label { vertical-align: top; }
td.mw-submit { white-space: nowrap; }
body.rtl .thumbcaption { text-align: right; }
body.rtl .magnify { float: left; }
body.ltr .thumbcaption { text-align: left; }
body.ltr .magnify { float: right; }
.mw-hidden-cats-hidden { display: none; }
.catlinks-allhidden { display: none; }
p.mw-ipb-conveniencelinks, p.mw-protect-editreasons, p.mw-filedelete-editreasons, p.mw-delete-editreasons { font-size: 90%; float: right; }
div.searchresult { font-size: 95%; width: 38em; }
.mw-search-results li { padding-bottom: 1em; list-style-type: none; list-style-image: none; list-style-position: outside; }
.mw-search-result-data { color: green; font-size: 97%; }
td#mw-search-menu { padding-left: 6em; font-size: 85%; }
div#mw-search-interwiki { border: 1px solid rgb(170, 170, 170); float: right; width: 18em; margin-top: 2ex; }
div#mw-search-interwiki li { font-size: 95%; }
.mw-search-interwiki-more { float: right; font-size: 90%; }
span.searchalttitle { font-size: 95%; }
div.searchdidyoumean { font-size: 127%; margin-bottom: 1ex; margin-top: 1ex; color: rgb(204, 0, 0); }
div.searchdidyoumean em { font-weight: bold; }
.searchmatch { font-weight: bold; }
div.searchresults { border: 1px solid darkblue; padding: 10px 20px; }
.mw-userrights-disabled { color: rgb(136, 136, 136); }
table.mw-userrights-groups * td, table.mw-userrights-groups * th { padding-right: 1.5em; }
.os-suggest { border: 1px solid rgb(170, 170, 170); overflow-y: auto; overflow-x: hidden; position: absolute; top: 0px; left: 0px; width: 0px; background-color: window; z-index: 99; visibility: hidden; font-size: 95%; }
table.os-suggest-results { border: 0pt none ; font-size: 95%; cursor: pointer; border-collapse: collapse; width: 100%; }
td.os-suggest-result, td.os-suggest-result-hl { padding: 2px; white-space: nowrap; background-color: window; color: windowtext; }
td.os-suggest-result-hl, td.os-suggest-result-hl-webkit { background-color: rgb(76, 89, 166); color: white; }
td.os-suggest-result-hl { background-color: highlight; color: highlighttext; }
.os-suggest-toggle { position: relative; left: 1ex; font-size: 65%; }
.os-suggest-toggle-def { position: absolute; top: 0px; left: 0px; font-size: 65%; visibility: hidden; }
.autocomment { color: gray; }
#pagehistory .history-user { margin-left: 0.4em; margin-right: 0.2em; }
#pagehistory span.minor { font-weight: bold; }
#pagehistory li { border: 1px solid white; }
#pagehistory li.selected { border: 1px dashed rgb(170, 170, 170); background-color: rgb(249, 249, 249); }
table.mw-listgrouprights-table, table.mw-statistics-table { border: 1px solid rgb(204, 204, 204); border-collapse: collapse; }
table.mw-listgrouprights-table tr { vertical-align: top; }
table.mw-listgrouprights-table td, table.mw-listgrouprights-table th, table.mw-statistics-table td, table.mw-statistics-table th { border: 1px solid rgb(204, 204, 204); padding: 0.5em 0.2em; }
td.mw-statistics-numbers { text-align: right; }
h4.mw-specialpagesgroup { margin: 0.3em 0em 0em; padding: 2px; background-color: rgb(220, 220, 220); }
.mw-specialpagerestricted { font-weight: bold; }
#shared-image-dup, #shared-image-conflict { font-style: italic; }
table.mw-emailuser-table { width: 98%; }
td#mw-emailuser-sender, td#mw-emailuser-recipient { font-weight: bold; }
div.mw-warning-with-logexcerpt { border: 2px solid rgb(47, 111, 171); padding: 3px; margin-bottom: 3px; }
div.mw-warning-with-logexcerpt ul li { font-size: 90%; }
span.mw-revdelundel-link, strong.mw-revdelundel-link { font-family: monospace; font-size: smaller; }
a.feedlink { background: transparent url('feed-icon.png') no-repeat scroll left center; padding-left: 16px; }

/* ::::: http://zh.wikipedia.org/skins-1.5/monobook/main.css?203xx ::::: */

#column-content { margin: 0pt 0pt 0.6em -12.2em; padding: 0pt; width: 100%; float: right; }
#content { margin: 2.8em 0pt 0pt 12.2em; padding: 0pt 1em 1em; position: relative; z-index: 2; }
#column-one { padding-top: 160px; }
#content { border-style: solid none solid solid; border-color: rgb(170, 170, 170) -moz-use-text-color rgb(170, 170, 170) rgb(170, 170, 170); border-width: 1px medium 1px 1px; background: white none repeat scroll 0% 0%; color: black; line-height: 1.5em; }
body { margin: 0pt; padding: 0pt; background: rgb(249, 249, 249) url('headbg.jpg') no-repeat scroll 0pt 0pt; font-family: sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: x-small; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; color: black; }
#globalWrapper { margin: 0pt; padding: 0pt; font-size: 127%; width: 100%; }
.visualClear { clear: both; }
table { font-size: 100%; color: black; background-color: white; }
fieldset table { background: transparent none repeat scroll 0% 0%; }
a { background: transparent none repeat scroll 0% 0%; text-decoration: none; color: rgb(0, 43, 184); }
a:visited { color: rgb(90, 54, 150); }
a:active { color: rgb(250, 167, 0); }
a:hover { text-decoration: underline; }
a.stub { color: rgb(119, 34, 51); }
a.new, #p-personal a.new { color: rgb(186, 0, 0); }
a.new:visited, #p-personal a.new:visited { color: rgb(165, 88, 88); }
img { border: medium none ; vertical-align: middle; }
p { margin: 0.4em 0pt 0.5em; line-height: 1.5em; }
p img { margin: 0pt; }
hr { border: 0pt none ; margin: 0.2em 0pt; height: 1px; color: rgb(170, 170, 170); background-color: rgb(170, 170, 170); }
h1, h2, h3, h4, h5, h6 { border-bottom: 1px solid rgb(170, 170, 170); margin: 0pt; background: transparent none repeat scroll 0% 0%; color: black; font-weight: normal; padding-top: 0.5em; padding-bottom: 0.17em; }
h1 { font-size: 188%; }
h1 .editsection { font-size: 53%; }
h2 { font-size: 150%; }
h2 .editsection { font-size: 67%; }
h3, h4, h5, h6 { border-bottom: medium none; font-weight: bold; }
h3 { font-size: 132%; }
h3 .editsection { font-size: 76%; font-weight: normal; }
h4 { font-size: 116%; }
h4 .editsection { font-size: 86%; font-weight: normal; }
h5 { font-size: 100%; }
h5 .editsection { font-weight: normal; }
h6 { font-size: 80%; }
h6 .editsection { font-size: 125%; font-weight: normal; }
ul { margin: 0.3em 0pt 0pt 1.5em; padding: 0pt; line-height: 1.5em; list-style-type: square; list-style-image: url('bullet.gif'); }
ol { margin: 0.3em 0pt 0pt 3.2em; padding: 0pt; line-height: 1.5em; list-style-image: none; }
li { margin-bottom: 0.1em; }
dt { font-weight: bold; margin-bottom: 0.1em; }
dl { margin-top: 0.2em; margin-bottom: 0.5em; }
dd { line-height: 1.5em; margin-left: 2em; margin-bottom: 0.1em; }
fieldset { border: 1px solid rgb(47, 111, 171); margin: 1em 0pt; padding: 0pt 1em 1em; line-height: 1.5em; }
fieldset.nested { margin: 0pt 0pt 0.5em; padding: 0pt 0.5em 0.5em; }
legend { padding: 0.5em; font-size: 95%; }
form { border: medium none ; margin: 0pt; }
textarea { padding: 0.1em; width: 100%; }
input.historysubmit { padding: 0pt 0.3em 0.3em ! important; font-size: 94%; cursor: pointer; height: 1.7em ! important; margin-left: 1.6em; }
select { vertical-align: top; }
abbr, acronym, .explain { border-bottom: 1px dotted black; background: transparent none repeat scroll 0% 0%; color: black; cursor: help; }
q { font-family: Times,"Times New Roman",serif; font-style: italic; }
code { background-color: rgb(249, 249, 249); }
pre { border: 1px dashed rgb(47, 111, 171); padding: 1em; color: black; background-color: rgb(249, 249, 249); line-height: 1.1em; }
#siteSub { display: none; }
#jump-to-nav { display: none; }
#contentSub, #contentSub2 { margin: 0pt 0pt 1.4em 1em; font-size: 84%; line-height: 1.2em; color: rgb(125, 125, 125); width: auto; }
span.subpages { display: block; }
#bodyContent h1, #bodyContent h2 { margin-bottom: 0.6em; }
#bodyContent h3, #bodyContent h4, #bodyContent h5 { margin-bottom: 0.3em; }
#firstHeading { margin-bottom: 0.1em; line-height: 1.2em; padding-bottom: 0pt; }
.usermessage { border: 1px solid rgb(255, 165, 0); margin: 2em 0pt 1em; padding: 0.5em 1em; background-color: rgb(255, 206, 123); color: black; font-weight: bold; vertical-align: middle; }
#siteNotice { padding: 0pt 0.9em; text-align: center; font-size: 95%; }
#siteNotice p { margin: 0pt; padding: 0pt; }
.success { color: green; font-size: larger; }
.error { color: red; font-size: larger; }
.errorbox, .successbox { border: 2px solid ; padding: 0.5em 1em; font-size: larger; float: left; margin-bottom: 2em; color: rgb(0, 0, 0); }
.errorbox { border-color: red; background-color: rgb(255, 242, 242); }
.successbox { border-color: green; background-color: rgb(221, 255, 221); }
.errorbox h2, .successbox h2 { border: medium none ; margin: 0pt 0.5em 0pt 0pt; font-size: 1em; font-weight: bold; display: inline; }
.catlinks { border: 1px solid rgb(170, 170, 170); padding: 5px; background-color: rgb(249, 249, 249); margin-top: 1em; clear: both; }
.documentDescription { margin: 1em 0pt; font-weight: bold; display: block; line-height: 1.5em; }
.documentByLine { text-align: right; font-size: 90%; clear: both; font-weight: normal; color: rgb(118, 121, 124); }
.center { width: 100%; text-align: center; }
.center * { margin-left: auto; margin-right: auto; }
.small, .small * { font-size: 94%; }
table.small { font-size: 100%; }
#toc, .toc, .mw-warning { border: 1px solid rgb(170, 170, 170); padding: 5px; background-color: rgb(249, 249, 249); font-size: 95%; }
#toc h2, .toc h2 { border: medium none ; padding: 0pt; display: inline; font-size: 100%; font-weight: bold; }
#toc #toctitle, .toc #toctitle, #toc .toctitle, .toc .toctitle { text-align: center; }
#toc ul, .toc ul { list-style-type: none; list-style-image: none; margin-left: 0pt; padding-left: 0pt; text-align: left; }
#toc ul ul, .toc ul ul { margin: 0pt 0pt 0pt 2em; }
#toc .toctoggle, .toc .toctoggle { font-size: 94%; }
.mw-warning { margin-left: 50px; margin-right: 50px; text-align: center; }
div.floatright, table.floatright { border: 0pt none ; margin: 0pt 0pt 0.5em 0.5em; clear: right; float: right; position: relative; }
div.floatright p { font-style: italic; }
div.floatleft, table.floatleft { border: 0pt none ; margin: 0pt 0.5em 0.5em 0pt; float: left; clear: left; position: relative; }
div.floatleft p { font-style: italic; }
div.thumb { border-style: solid; border-color: white; margin-bottom: 0.5em; width: auto; }
div.thumbinner { border: 1px solid rgb(204, 204, 204); padding: 3px ! important; overflow: hidden; background-color: rgb(249, 249, 249); font-size: 94%; text-align: center; }
html .thumbimage { border: 1px solid rgb(204, 204, 204); }
html .thumbcaption { border: medium none ; padding: 3px ! important; text-align: left; line-height: 1.4em; font-size: 94%; }
div.magnify { border: medium none  ! important; background: transparent none repeat scroll 0% 0% ! important; float: right; }
div.magnify a, div.magnify img { border: medium none  ! important; background: transparent none repeat scroll 0% 0% ! important; display: block; }
div.tright { border-width: 0.5em 0pt 0.8em 1.4em; clear: right; float: right; }
div.tleft { border-width: 0.5em 1.4em 0.8em 0pt; float: left; clear: left; margin-right: 0.5em; }
img.thumbborder { border: 1px solid rgb(221, 221, 221); }
.hiddenStructure { display: none; }
table.rimage { float: right; position: relative; margin-left: 1em; margin-bottom: 1em; text-align: center; }
.toccolours { border: 1px solid rgb(170, 170, 170); padding: 5px; background-color: rgb(249, 249, 249); font-size: 95%; }
.special li { margin: 0pt; padding: 0pt; line-height: 1.4em; }
#bodyContent a.external, #bodyContent a[href^="gopher://"] { background: transparent url('external.png') no-repeat scroll right center; padding-right: 13px; }
#bodyContent a[href^="https://"], .link-https { background: transparent url('lock_icon.gif') no-repeat scroll right center; padding-right: 16px; }
#bodyContent a[href^="mailto:"], .link-mailto { background: transparent url('mail_icon.gif') no-repeat scroll right center; padding-right: 18px; }
#bodyContent a[href^="news://"] { background: transparent url('news_icon.png') no-repeat scroll right center; padding-right: 18px; }
#bodyContent a[href^="ftp://"], .link-ftp { background: transparent url('file_icon.gif') no-repeat scroll right center; padding-right: 18px; }
#bodyContent a[href^="irc://"], #bodyContent a.extiw[href^="irc://"], .link-irc { background: transparent url('discussionitem_icon.gif') no-repeat scroll right center; padding-right: 18px; }
#bodyContent a.external[href$=".ogg"], #bodyContent a.external[href$=".OGG"], #bodyContent a.external[href$=".mid"], #bodyContent a.external[href$=".MID"], #bodyContent a.external[href$=".midi"], #bodyContent a.external[href$=".MIDI"], #bodyContent a.external[href$=".mp3"], #bodyContent a.external[href$=".MP3"], #bodyContent a.external[href$=".wav"], #bodyContent a.external[href$=".WAV"], #bodyContent a.external[href$=".wma"], #bodyContent a.external[href$=".WMA"], .link-audio { background: transparent url('audio.png') no-repeat scroll right center; padding-right: 13px; }
#bodyContent a.external[href$=".ogm"], #bodyContent a.external[href$=".OGM"], #bodyContent a.external[href$=".avi"], #bodyContent a.external[href$=".AVI"], #bodyContent a.external[href$=".mpeg"], #bodyContent a.external[href$=".MPEG"], #bodyContent a.external[href$=".mpg"], #bodyContent a.external[href$=".MPG"], .link-video { background: transparent url('video.png') no-repeat scroll right center; padding-right: 13px; }
#bodyContent a.external[href$=".pdf"], #bodyContent a.external[href$=".PDF"], #bodyContent a.external[href*=".pdf#"], #bodyContent a.external[href*=".PDF#"], #bodyContent a.external[href*=".pdf?"], #bodyContent a.external[href*=".PDF?"], .link-document { background: transparent url('document.png') no-repeat scroll right center; padding-right: 12px; }
#bodyContent a.extiw, #bodyContent a.extiw:active { padding: 0pt; background: transparent none repeat scroll 0% 0%; color: rgb(51, 102, 187); }
#bodyContent a.external { color: rgb(51, 102, 187); }
#bodyContent .plainlinks a { padding: 0pt ! important; background: transparent none repeat scroll 0% 0% ! important; }
.portlet { border: medium none ; margin: 0pt 0pt 0.5em; padding: 0pt; overflow: hidden; float: none; width: 11.6em; }
.portlet h4 { font-size: 95%; font-weight: normal; white-space: nowrap; }
.portlet h5 { padding: 0pt 1em 0pt 0.5em; background: transparent none repeat scroll 0% 0%; display: inline; height: 1em; text-transform: lowercase; font-size: 91%; font-weight: normal; white-space: nowrap; }
.portlet h6 { border-style: solid solid none; border-color: rgb(47, 111, 171); border-width: 1px; padding: 0pt 1em; background: rgb(255, 174, 46) none repeat scroll 0% 0%; text-transform: lowercase; display: block; font-size: 1em; height: 1.2em; font-weight: normal; white-space: nowrap; }
.pBody { border: 1px solid rgb(170, 170, 170); padding: 0pt 0.8em 0.3em 0.5em; font-size: 95%; background-color: white; color: black; border-collapse: collapse; }
.portlet h1, .portlet h2, .portlet h3, .portlet h4 { margin: 0pt; padding: 0pt; }
.portlet ul { line-height: 1.5em; list-style-type: square; list-style-image: url('bullet.gif'); font-size: 95%; }
.portlet li { margin: 0pt; padding: 0pt; }
#p-logo { overflow: visible; top: 0pt; left: 0pt; position: absolute; z-index: 3; height: 155px; width: 12em; }
#p-logo h5 { display: none; }
#p-logo a, #p-logo a:hover { display: block; height: 155px; width: 12.2em; background-repeat: no-repeat; background-position: 35% 50% ! important; text-decoration: none; }
#p-search { position: relative; z-index: 3; }
input.searchButton { margin-top: 1px; font-size: 95%; }
#searchGoButton { padding-left: 0.5em; padding-right: 0.5em; font-weight: bold; }
#searchInput { margin: 0pt; width: 10.9em; font-size: 95%; }
#p-search .pBody { padding: 0.5em 0.4em 0.4em; text-align: center; }
#p-search #searchform div div { margin-top: 0.4em; font-size: 95%; }
#p-personal { position: absolute; left: 0pt; top: 0pt; z-index: 0; }
#p-personal { border: medium none ; margin: 0pt; padding: 0pt; background: transparent none repeat scroll 0% 0%; overflow: visible; width: 100%; white-space: nowrap; line-height: 1.2em; }
#p-personal h5 { display: none; }
#p-personal .portlet, #p-personal .pBody { border: medium none ; margin: 0pt; padding: 0pt; background: transparent none repeat scroll 0% 0%; overflow: visible; z-index: 0; }
#p-personal ul { border: medium none ; margin: 0pt; padding: 0pt 2em 0pt 3em; background: transparent none repeat scroll 0% 0%; line-height: 1.4em; color: rgb(47, 111, 171); text-align: right; list-style-type: none; list-style-image: none; list-style-position: outside; z-index: 0; cursor: default; }
#p-personal li { border: medium none ; padding: 0pt; background: transparent none repeat scroll 0% 0%; z-index: 0; display: inline; color: rgb(47, 111, 171); margin-left: 1em; line-height: 1.2em; }
#p-personal li a { background: transparent none repeat scroll 0% 0%; text-decoration: none; color: rgb(0, 88, 150); padding-bottom: 0.2em; }
#p-personal li a:hover { background-color: white; padding-bottom: 0.2em; text-decoration: none; }
#p-personal li.active a:hover { background-color: transparent; }
li#pt-userpage, li#pt-anonuserpage, li#pt-login { background: transparent url('user.gif') no-repeat scroll left top; padding-left: 20px; text-transform: none; }
#p-personal ul { text-transform: lowercase; }
#p-personal li.active { font-weight: bold; }
#p-cactions { margin: 0pt; background: transparent none repeat scroll 0% 0%; overflow: visible; position: absolute; top: 1.3em; left: 11.5em; white-space: nowrap; width: 76%; line-height: 1.1em; border-collapse: collapse; padding-left: 1em; list-style-type: none; list-style-image: none; list-style-position: outside; font-size: 95%; }
#p-cactions ul { list-style-type: none; list-style-image: none; list-style-position: outside; }
#p-cactions li { border-style: solid solid none; border-color: rgb(170, 170, 170) rgb(170, 170, 170) -moz-use-text-color; border-width: 1px 1px medium; margin: 0pt 0.3em 0pt 0pt; padding: 0pt 0pt 0.1em; background: white none repeat scroll 0% 0%; overflow: visible; display: inline; }
#p-cactions li.selected { border-color: rgb(250, 189, 35); padding: 0pt 0pt 0.2em; font-weight: bold; }
#p-cactions li a { border: medium none ; margin: 0pt; padding: 0pt 0.8em 0.3em; background-color: rgb(251, 251, 251); color: rgb(0, 43, 184); position: relative; z-index: 0; text-decoration: none; }
#p-cactions li.selected a { padding: 0pt 1em 0.2em ! important; z-index: 3; background-color: white; }
#p-cactions .new a { color: rgb(186, 0, 0); }
#p-cactions li a:hover { z-index: 3; text-decoration: none; background-color: white; }
#p-cactions h5 { display: none; }
#p-cactions li.istalk { margin-right: 0pt; }
#p-cactions li.istalk a { padding-right: 0.5em; }
#p-cactions #ca-addsection a { padding-left: 0.4em; padding-right: 0.4em; }
li#ca-talk { margin-right: 1.6em; }
li#ca-watch, li#ca-unwatch, li#ca-varlang-0, li#ca-print { margin-left: 1.6em; }
#p-cactions .pBody { border: 0pt none ; padding: 0pt; font-size: 1em; background-color: transparent; color: inherit; border-collapse: inherit; }
#p-cactions .hiddenStructure { display: none; }
#p-cactions li a { text-transform: lowercase; }
#p-lang { position: relative; z-index: 3; }
#t-ispermalink, #t-iscite { color: rgb(153, 153, 153); }
#footer { border-top: 1px solid rgb(250, 189, 35); border-bottom: 1px solid rgb(250, 189, 35); margin: 0.6em 0pt 1em; padding: 0.4em 0pt 1.2em; background-color: white; text-align: center; font-size: 90%; }
#footer li { margin: 0pt 1.3em; display: inline; }
#f-poweredbyico, #f-copyrightico { margin: 0pt 8px; position: relative; top: -2px; }
#f-poweredbyico { float: right; height: 1%; }
#f-copyrightico { float: left; height: 1%; }
#preftoc { margin: 0pt; padding: 0pt; width: 100%; clear: both; }
#preftoc li { background-color: rgb(240, 240, 240); color: rgb(0, 0, 0); }
#preftoc li { border-style: solid solid none; border-color: rgb(255, 255, 255) rgb(113, 111, 100) -moz-use-text-color rgb(255, 255, 255); border-width: 1px 1px 0pt; margin: 1px -2px 1px 2px; padding: 2px 0pt 3px; float: left; position: relative; white-space: nowrap; list-style-type: none; list-style-image: none; z-index: 3; }
#preftoc li.selected { border-style: solid solid none; border-color: rgb(170, 170, 170) rgb(170, 170, 170) -moz-use-text-color; border-width: 1px 1px medium; font-weight: bold; background-color: rgb(249, 249, 249); cursor: default; top: 1px; padding-top: 2px; margin-right: -3px; }
#preftoc > li.selected { top: 2px; }
#preftoc a, #preftoc a:active { padding: 0pt 0.7em; display: block; color: rgb(0, 0, 0); position: relative; text-decoration: none; }
#preftoc li.selected a { cursor: default; text-decoration: none; }
#prefcontrol { padding-top: 2em; clear: both; }
#preferences { border: 1px solid rgb(170, 170, 170); margin: 0pt; padding: 1.5em; clear: both; background-color: rgb(249, 249, 249); }
.prefsection { border: medium none ; margin: 0pt; padding: 0pt; }
.prefsection fieldset { border: 1px solid rgb(170, 170, 170); float: left; margin-right: 2em; }
.prefsection legend { font-weight: bold; }
.prefsection table, .prefsection legend { background-color: rgb(249, 249, 249); }
.mainLegend { display: none; }
div.prefsectiontip { padding: 0.2em 2em; font-size: x-small; color: rgb(102, 102, 102); }
.btnSavePrefs { font-weight: bold; padding-left: 0.3em; padding-right: 0.3em; }
.preferences-login { clear: both; margin-bottom: 1.5em; }
.prefcache { font-size: 90%; margin-top: 2em; }
div#userloginForm form, div#userlogin form#userlogin2 { border: 1px solid rgb(170, 170, 170); margin: 0pt 3em 1em 0pt; padding: 1.5em 2em; clear: both; background-color: rgb(249, 249, 249); float: left; }
.rtl div#userloginForm form, .rtl div#userlogin form#userlogin2 { float: right; }
div#userloginForm table, div#userlogin form#userlogin2 table { background-color: rgb(249, 249, 249); }
div#userloginForm h2, div#userlogin form#userlogin2 h2 { padding-top: 0pt; }
div#userlogin .captcha, div#userloginForm .captcha { border: 1px solid rgb(187, 187, 187); padding: 1.5em 2em; background-color: white; }
#loginend, #signupend { clear: both; }
#userloginprompt, #languagelinks { font-size: 85%; }
#login-sectiontip { font-size: 85%; line-height: 1.2; padding-top: 2em; }
#userlogin .loginText, #userlogin .loginPassword { width: 12em; }
#userloginlink a, #wpLoginattempt, #wpCreateaccount { font-weight: bold; }
* > html #p-cactions li { border: medium none ; }
* > html #p-cactions li a { border-style: solid solid none; border-color: rgb(170, 170, 170) rgb(170, 170, 170) -moz-use-text-color; border-width: 1px 1px medium; }
* > html #p-cactions li.selected a { border-color: rgb(250, 189, 35); }
* > html #f-poweredbyico, * > html #f-copyrightico { width: 88px; }
* > html #bodyContent, * > html #bodyContent pre { overflow-x: auto; width: 100%; padding-bottom: 25px; }
* html #footer { margin-top: 0pt; }
* html #column-content { display: inline; margin-bottom: 0pt; }
* html div.editsection { font-size: smaller; }
#pagehistory li.selected { position: relative; }
* > html #column-content { float: none; }
* > html #column-one { position: absolute; left: 0pt; top: 0pt; }
* > html #footer { margin-left: 13.2em; }
.redirectText { margin: 5px; font-size: 150%; }
.printfooter { display: none; }
.not-patrolled { background-color: rgb(255, 255, 170); }
div.patrollink { clear: both; font-size: 75%; text-align: right; }
span.newpage, span.minor, span.bot { font-weight: bold; }
span.unpatrolled { font-weight: bold; color: red; }
.sharedUploadNotice { font-style: italic; }
span.updatedmarker { color: black; background-color: rgb(0, 255, 0); }
table.gallery { border: 1px solid rgb(204, 204, 204); margin: 2px; padding: 2px; background-color: white; }
table.gallery tr { vertical-align: top; }
table.gallery td { border: 2px solid white; vertical-align: top; background-color: rgb(249, 249, 249); }
table.gallery td.galleryheader { text-align: center; font-weight: bold; }
table.gallery caption { font-weight: bold; }
div.gallerybox { margin: 2px; }
div.gallerybox div.thumb { border: 1px solid rgb(204, 204, 204); margin: 2px; text-align: center; }
div.gallerytext { padding: 2px 4px; overflow: hidden; font-size: 94%; }
span.comment { font-style: italic; }
span.changedby { font-size: 95%; }
.previewnote { border-bottom: 1px solid rgb(170, 170, 170); text-indent: 3em; color: rgb(204, 0, 0); padding-bottom: 1em; margin-bottom: 1em; }
.previewnote p { margin: 0pt; padding: 0pt; }
.editExternally { border: 1px solid gray; padding: 3px; background-color: rgb(255, 255, 255); margin-top: 0.5em; float: left; font-size: small; text-align: center; }
.editExternallyHelp { font-style: italic; color: gray; }
.toggle { margin-left: 2em; text-indent: -2em; }
table.mw_metadata { font-size: 0.8em; margin-left: 0.5em; margin-bottom: 0.5em; width: 300px; }
table.mw_metadata caption { font-weight: bold; }
table.mw_metadata th { font-weight: normal; }
table.mw_metadata td { padding: 0.1em; }
table.mw_metadata { border: medium none ; border-collapse: collapse; }
table.mw_metadata td, table.mw_metadata th { border: 1px solid rgb(170, 170, 170); text-align: center; padding-left: 0.1em; padding-right: 0.1em; }
table.mw_metadata th { background-color: rgb(249, 249, 249); }
table.mw_metadata td { background-color: rgb(252, 252, 252); }
table.collapsed tr.collapsable { display: none; }
ul#filetoc { border: 1px solid rgb(170, 170, 170); padding: 5px; text-align: center; background-color: rgb(249, 249, 249); font-size: 95%; margin-bottom: 0.5em; margin-left: 0pt; margin-right: 0pt; }
#filetoc li { display: inline; list-style-type: none; padding-right: 2em; }
input#wpSummary { width: 80%; }
input#wpSave, input#wpDiff { margin-right: 0.33em; }
#wpSave { font-weight: bold; }
table.revisionform_default { border: 1px solid rgb(0, 0, 0); }
table.revisionform_focus { border: 1px solid rgb(0, 0, 0); background-color: rgb(0, 187, 255); }
tr.revision_tr_default { background-color: rgb(238, 238, 238); }
tr.revision_tr_first { background-color: rgb(221, 221, 221); }
p.revision_saved { color: green; font-weight: bold; }
#mw_trackbacks { border: 1px solid rgb(187, 187, 255); padding: 0.2em; background-color: rgb(238, 238, 255); }
#allmessagestable th { background-color: rgb(178, 178, 255); }
#allmessagestable tr.orig { background-color: rgb(255, 226, 226); }
#allmessagestable tr.new { background-color: rgb(226, 255, 226); }
#allmessagestable tr.def { background-color: rgb(240, 240, 255); }
div.noarticletext { border: 1px solid rgb(204, 204, 204); padding: 0.2em 1em; background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(0, 0, 0); }
div#searchTargetContainer { background: white none repeat scroll 0% 0%; left: 10px; top: 10px; width: 90%; }
div#searchTarget { border: 1px solid blue; margin: 5px; padding: 3px; background: rgb(240, 240, 240) none repeat scroll 0% 0%; }
div#searchTarget ul li { list-style-type: none; list-style-image: none; list-style-position: outside; }
div#searchTarget ul li:before { color: orange; content: "» "; }
div#searchTargetHide { border: 1px solid black; padding: 2px; background: rgb(220, 220, 220) none repeat scroll 0% 0%; float: right; }
#powersearch p { margin-top: 0px; }
div.multipageimagenavbox { border: 1px solid silver; margin: 1em; padding: 4px; background: rgb(240, 240, 240) none repeat scroll 0% 0%; }
div.multipageimagenavbox div.thumb { border: medium none ; margin-left: 2em; margin-right: 2em; }
div.multipageimagenavbox hr { margin: 6px; }
table.multipageimage td { text-align: center; }
table#sv-ext, table#sv-hooks, table#sv-software { margin: 1em; padding: 0em; }
#sv-ext td, #sv-hooks td, #sv-software td, #sv-ext th, #sv-hooks th, #sv-software th { border: 1px solid rgb(160, 160, 160); padding: 0pt 0.15em; }
#sv-ext th, #sv-hooks th, #sv-software th { padding: 0pt 0.15em; background-color: rgb(240, 240, 240); color: black; }
tr.sv-space { border: medium none ; height: 0.8em; }
tr.sv-space td { display: none; }
.TablePager { min-width: 80%; }
.TablePager_nav a { text-decoration: none; }
.TablePager { border-collapse: collapse; }
.TablePager, .TablePager td, .TablePager th { border: 1px solid rgb(170, 170, 170); padding: 0pt 0.15em; }
.TablePager th { background-color: rgb(238, 238, 255); }
.TablePager td { background-color: rgb(255, 255, 255); }
.TablePager tr:hover td { background-color: rgb(238, 238, 255); }
.imagelist td, .imagelist th { white-space: nowrap; }
.imagelist .TablePager_col_links { background-color: rgb(238, 238, 255); }
.imagelist .TablePager_col_img_description { white-space: normal; }
.imagelist th.TablePager_sort { background-color: rgb(204, 204, 255); }
.templatesUsed { margin-top: 1.5em; }
.mw-summary-preview { margin: 0.1em 0pt; }
div.mw-lag-warn-normal, div.mw-lag-warn-high { margin: 3px auto; padding: 3px; text-align: center; }
div.mw-lag-warn-normal { border: 1px solid rgb(255, 204, 102); background-color: rgb(255, 255, 204); }
div.mw-lag-warn-high { border: 2px solid rgb(255, 0, 51); font-weight: bold; background-color: rgb(255, 204, 204); }
.MediaTransformError { padding: 0.1em; background-color: rgb(204, 204, 204); }
.MediaTransformError td { text-align: center; vertical-align: middle; font-size: 90%; }
div#mw-search-interwiki-caption { text-align: center; font-weight: bold; font-size: 95%; }
.mw-search-interwiki-project { padding: 0.15em 0.15em 0.2em 0.2em; background: rgb(202, 232, 255) none repeat scroll 0% 0%; font-size: 97%; text-align: left; }
.os-suggest { font-size: 127%; }

/* ::::: http://zh.wikipedia.org/w/index.php?title=MediaWiki:Common.css&usemsgcache=yes&ctype=text%2Fcss&smaxage=2678400&action=raw&maxage=2678400 ::::: */

ol.references { font-size: 100%; }
.references-small { font-size: 90%; }
sup.reference { white-space: nowrap; }
.references-2column { font-size: 90%; -moz-column-count: 2; }
.same-bg { background: transparent none repeat scroll 0% 0%; }
ol.references > li:target, sup.reference:target { background-color: rgb(221, 238, 255); }
table.wikitable, table.prettytable { border: 1px solid rgb(170, 170, 170); background: rgb(249, 249, 249) none repeat scroll 0% 0%; border-collapse: collapse; margin-top: 1em; margin-bottom: 1em; }
table.wikitable th, table.wikitable td, table.prettytable th, table.prettytable td { border: 1px solid rgb(170, 170, 170); padding: 0.2em; }
table.wikitable th, table.prettytable th { background: rgb(242, 242, 242) none repeat scroll 0% 0%; text-align: center; }
table.wikitable caption, table.prettytable caption { margin-left: inherit; margin-right: inherit; }
.notice { margin: 1em; padding: 0.2em; text-align: justify; }
#disambig { border-top: 3px double rgb(204, 204, 204); border-bottom: 3px double rgb(204, 204, 204); }
#spoiler { border-top: 2px solid rgb(221, 221, 221); border-bottom: 2px solid rgb(221, 221, 221); }
.Talk-Notice { border: 1px solid rgb(192, 192, 144); background-color: rgb(248, 234, 186); margin-bottom: 3px; width: 80%; border-spacing: 3px; margin-left: auto; margin-right: auto; }
.Talk-Notice:after { content: "The CSS for this template should be changed. See [[Wikipedia:Template Standardisation]]."; }
.Talk-Notice td { background: inherit inherit inherit inherit inherit; -moz-background-clip: inherit; -moz-background-origin: inherit; -moz-background-inline-policy: inherit; }
.allpagesredirect { font-style: italic; }
.Use_Default_Date_Convention { display: inline; }
.Use_AD_and_BC { display: none; }
.Use_BCE_and_CE { display: none; }
.audiolink a { background: transparent url('loudspeaker.png') no-repeat scroll left center ! important; padding-left: 16px ! important; padding-right: 0pt ! important; }
div.listenlist { background: transparent url('30px-gnome-speakernotes.png') repeat scroll 0% 0%; padding-left: 40px; }
div.videolist { background: transparent url('40px-video.svg.png') repeat scroll 0% 0%; padding-left: 50px; }
div.multivideolist { background: transparent url('40px-filmroll-small.png') repeat scroll 0% 0%; padding-left: 50px; }
div.medialist { margin: 1em; min-height: 50px; background-position: left top; background-repeat: no-repeat; }
div.medialist ul { margin: 0pt; list-style-type: none; list-style-image: none; }
div.medialist ul li { padding-bottom: 0.5em; }
div.medialist ul li li { font-size: 91%; padding-bottom: 0pt; }
.plainlinksneverexpand { padding: 0pt ! important; background: transparent none repeat scroll 0% 0% ! important; }
.plainlinksneverexpand .urlexpansion { display: none ! important; }
.plainlinksneverexpand a { padding: 0pt ! important; background: transparent none repeat scroll 0% 0% ! important; }
.plainlinksneverexpand a.external.text:after { display: none ! important; }
.plainlinksneverexpand a.external.autonumber:after { display: none ! important; }
.infobox { border: 1px solid rgb(170, 170, 170); padding: 0.2em; background-color: rgb(249, 249, 249); color: black; margin-bottom: 0.5em; margin-left: 1em; float: right; clear: right; }
.infobox td, .infobox th { vertical-align: top; }
.infobox caption { font-size: larger; margin-left: inherit; }
.infobox.bordered { border-collapse: collapse; }
.infobox.bordered td, .infobox.bordered th { border: 1px solid rgb(170, 170, 170); }
.infobox.bordered .borderless td, .infobox.bordered .borderless th { border: 0pt none ; }
.infobox.sisterproject { width: 20em; font-size: 90%; }
.infobox.bordered .mergedtoprow td, .infobox.bordered .mergedtoprow th { border-style: solid solid none none; border-color: rgb(170, 170, 170) rgb(170, 170, 170) -moz-use-text-color -moz-use-text-color; border-width: 1px 1px 0pt 0pt; }
.infobox.bordered .mergedrow td, .infobox.bordered .mergedrow th { border-style: none solid none none; border-color: -moz-use-text-color rgb(170, 170, 170) -moz-use-text-color -moz-use-text-color; border-width: 0pt 1px 0pt 0pt; }
.infobox.geography { text-align: left; border-collapse: collapse; line-height: 1.2em; font-size: 90%; }
.infobox.geography td, .infobox.geography th { border-top: 1px solid rgb(170, 170, 170); padding: 0.4em 0.6em; }
.infobox.geography .mergedtoprow td, .infobox.geography .mergedtoprow th { border-top: 1px solid rgb(170, 170, 170); padding: 0.4em 0.6em 0.2em; }
.infobox.geography .mergedrow td, .infobox.geography .mergedrow th { border: 0pt none ; padding: 0pt 0.6em 0.2em; }
.infobox.geography .mergedbottomrow td, .infobox.geography .mergedbottomrow th { border-top: 0pt none; border-bottom: 1px solid rgb(170, 170, 170); padding: 0pt 0.6em 0.4em; }
.infobox.geography .maptable td, .infobox.geography .maptable th { border: 0pt none ; padding: 0pt; }
.IPA { font-family: "Segoe UI","Chrysanthi Unicode","Doulos SIL","Gentium","GentiumAlt","Code2000","TITUS Cyberbit Basic","DejaVu Sans","Bitstream Cyberbit","Arial Unicode MS","Lucida Sans Unicode","Hiragino Kaku Gothic Pro","Matrix Unicode"; }
.Unicode { font-family: "Segoe UI","TITUS Cyberbit Basic","Code2000","Doulos SIL","Chrysanthi Unicode","Bitstream Cyberbit","Bitstream CyberBase","Thryomanes","Gentium","GentiumAlt","Visual Geez Unicode","Lucida Grande","Arial Unicode MS","Microsoft Sans Serif","Lucida Sans Unicode"; }
.latinx { font-family: "TITUS Cyberbit Basic","Code2000","Microsoft Sans Serif"; }
.polytonic, .interwiki-el a { font-family: "Athena","Gentium","Palatino Linotype","Segoe UI","Arial Unicode MS","Lucida Sans Unicode","Lucida Grande","Code2000"; }
.mufi { font-family: "Alphabetum","Cardo","LeedsUni","Junicode","TITUS Cyberbit Basic","ALPHA-Demo"; }
.interwiki-ja a { font-family: "Meiryo","MS PMincho","MS Mincho","MS PGothic","MS Gothic","Arial Unicode MS"; }
.interwiki-ko a { font-family: "Malgun Gothic","Gulim","Dotum","Arial Unicode MS"; }
.interwiki-ru a, .interwiki-uk a, .interwiki-be a, .interwiki-bg a, .interwiki-sr a, .interwiki-mk a, .interwiki-os a, .interwiki-tg a, .interwiki-mo a, .interwiki-kk a, .interwiki-ky a, .interwiki-tt a, .interwiki-ba a, .interwiki-cv a, .interwiki-mn a, .interwiki-xal a, .interwiki-udm a, .interwiki-ab a, .interwiki-av a, .interwiki-ce a { font-family: "Times CY","Times New Roman",Times,serif; }
.interwiki-ar a, .interwiki-fa a, .interwiki-ur a, .interwiki-ug a { font-family: "Arial Unicode MS","Microsoft Sans Serif","Times New Roman",Times,serif; direction: rtl; }
.interwiki-he a, .interwiki-yi a { font-family: Cardo,"Arial Unicode MS",Code2000,David,"Times New Roman",Times,serif; direction: rtl; }
.interwiki-af a, .interwiki-als a, .interwiki-an a, .interwiki-ang a, .interwiki-ast a, .interwiki-az a, .interwiki-ba a, .interwiki-bat-smg a, .interwiki-bm a, .interwiki-br a, .interwiki-bs a, .interwiki-ca a, .interwiki-ceb a, .interwiki-co a, .interwiki-cs a, .interwiki-csb a, .interwiki-cy a, .interwiki-da a, .interwiki-de a, .interwiki-en a, .interwiki-eo a, .interwiki-es a, .interwiki-et a, .interwiki-eu a, .interwiki-ff a, .interwiki-fi a, .interwiki-fiu-vro a, .interwiki-fo a, .interwiki-fr a, .interwiki-frp a, .interwiki-fur a, .interwiki-fy a, .interwiki-ga a, .interwiki-gd a, .interwiki-gl a, .interwiki-gv a, .interwiki-ha a, .interwiki-hr a, .interwiki-ht a, .interwiki-hu a, .interwiki-ia a, .interwiki-id a, .interwiki-ie a, .interwiki-ilo a, .interwiki-io a, .interwiki-is a, .interwiki-it a, .interwiki-jbo a, .interwiki-jv a, .interwiki-kg a, .interwiki-ksh a, .interwiki-ku a, .interwiki-kw a, .interwiki-la a, .interwiki-lad a, .interwiki-lb a, .interwiki-li a, .interwiki-lij a, .interwiki-lmo a, .interwiki-ln a, .interwiki-lt a, .interwiki-lv a, .interwiki-map-bms a, .interwiki-mi a, .interwiki-ms a, .interwiki-na a, .interwiki-nap a, .interwiki-nds a, .interwiki-nl a, .interwiki-nn a, .interwiki-no a, .interwiki-nrm a, .interwiki-oc a, .interwiki-om a, .interwiki-os a, .interwiki-pam a, .interwiki-pl a, .interwiki-pms a, .interwiki-pt a, .interwiki-rm a, .interwiki-ro a, .interwiki-sc a, .interwiki-scn a, .interwiki-sco a, .interwiki-se a, .interwiki-simple a, .interwiki-sk a, .interwiki-sl a, .interwiki-so a, .interwiki-sq a, .interwiki-su a, .interwiki-sv a, .interwiki-sw a, .interwiki-tet a, .interwiki-tpi a, .interwiki-tk a, .interwiki-tl a, .interwiki-tw a, .interwiki-tr a, .interwiki-uz a, .interwiki-vec a, .interwiki-vi a, .interwiki-wa a, .interwiki-war a, .interwiki-wo a, .interwiki-yo a, .interwiki-cdo a, .interwiki-zh-min-nan a { font-family: "Times New Roman",Times,serif; }
#wpSave { font-weight: bold; }
.hiddenStructure { display: none; speak: none; }
.nounderlines a { text-decoration: none; }
#EnWpMainPage { width: 100%; margin-top: 1em; }
#EnWpMainPage h2 { border: 0pt none ; margin: 0pt; padding: 0pt; font-size: 130%; font-weight: bold; }
#EnWpMpMargin { margin-right: 13.8em; }
#EnWpMpCol1 { float: left; clear: left; width: 50%; }
#EnWpMpCol2 { width: 49.9%; float: left; }
#EnWpMpBrowse { border: 1px solid rgb(199, 199, 199); background: rgb(248, 252, 255) url('mp-three-books.png') no-repeat scroll 180% 9%; }
#EnWpMpBrowseCats li { font-size: 85%; margin-left: 1em; line-height: 1.5; }
#EnWpMpBrowseCats h3 { margin: 0.2em 0pt 0.1em -0.8em; padding: 0pt; font-size: 120%; font-weight: normal; }
#EnWpMpBrowseCats h3 a { font-weight: bold; }
#EnWpMpBook { background-image: url('mp-open-book.png'); }
#EnWpMpFeaturedPic { margin: 0pt 0pt 0.5em; text-align: center; font-size: 85%; font-weight: bold; }
#EnWpMpFeaturedPic h2 { font-size: 145%; text-align: left; }
.EnWpMpBrowseRight { float: right; width: 12.7em; }
.EnWpMpBrowseBottom { margin: 1em 0pt; }
.EnWpMpBrowseBottom #EnWpMpBrowseCats li, .EnWpMpBrowseBottom #EnWpMpUsefulLinks, .EnWpMpBrowseBottom #EnWpMpFeaturedPic { margin: 0pt; float: left; width: 24%; line-height: normal; }
.EnWpMpBrowseBottom #EnWpMpBrowseCats h3 { margin-left: 0pt; }
#EnWpMpUsefulLinks { clear: left; }
#EnWpMpSearch { background: transparent url('mp-magnifying-glass.png') no-repeat scroll right top; }
#EnWpMpSearch input { vertical-align: middle; }
#EnWpMpSearchInner { float: right; width: 20em; text-align: center; }
#bodySearchMP { margin: 0pt; padding: 0pt; }
#bodySearchMP .bodySearchWrap { padding: 0.8em 0pt; float: right; width: 17.5em; text-align: left; }
#bodySearchMP label { display: block; font-size: 95%; font-weight: bold; margin-bottom: -0.2em; }
#bodySearchMP .bodySearchBtnGo { font-weight: bold; padding-left: 0.3em; padding-right: 0.3em; margin-left: 0.5em; }
.EnWpMpContentBox { border: 1px solid ; margin-bottom: 0.9em; }
#EnWpMpCol2 .EnWpMpContentBox { margin-left: 0.9em; }
.EnWpMpImage { margin: 0pt 0pt 0.2em 0.2em; float: right; }
.EnWpMpImage img { position: relative; z-index: 3; }
#EnWpMpSisterProjects { float: left; width: 49%; }
.EnWpMpSisterProject { margin: 0pt; float: left; width: 17em; height: 5.5em; }
.EnWpMpSisterImg { float: left; width: 40px; height: 100%; }
#EnWpMpOtherLangs { margin-left: 50%; }
#EnWpMainPageNoCSS { display: none; }
#EnWpMpBook2 { background-image: url('mp-open-book2.png'); }
#EnWpMpSearch2 { background: transparent url('mp-magnifying-glass2.png') no-repeat scroll right top; }
.charboxblack a:link, .charboxblack a:hover, .charboxblack a:visited, .charboxblack a:active { color: black; }
.charboxsilver a:link, .charboxsilver a:hover, .charboxsilver a:visited, .charboxsilver a:active { color: silver; }
.charboxgray a:link, .charboxgray a:hover, .charboxgray a:visited, .charboxgray a:active { color: gray; }
.charboxwhite a:link, .charboxwhite a:hover, .charboxwhite a:visited, .charboxwhite a:active { color: white; }
.charboxmaroon a:link, .charboxmaroon a:hover, .charboxmaroon a:visited, .charboxmaroon a:active { color: maroon; }
.charboxred a:link, .charboxred a:hover, .charboxred a:visited, .charboxred a:active { color: red; }
.charboxpurple a:link, .charboxpurple a:hover, .charboxpurple a:visited, .charboxpurple a:active { color: purple; }
.charboxfuchsia a:link, .charboxfuchsia a:hover, .charboxfuchsia a:visited, .charboxfuchsia a:active { color: fuchsia; }
.charboxgreen a:link, .charboxgreen a:hover, .charboxgreen a:visited, .charboxgreen a:active { color: green; }
.charboxlime a:link, .charboxlime a:hover, .charboxlime a:visited, .charboxlime a:active { color: lime; }
.charboxolive a:link, .charboxolive a:hover, .charboxolive a:visited, .charboxolive a:active { color: olive; }
.charboxyellow a:link, .charboxyellow a:hover, .charboxyellow a:visited, .charboxyellow a:active { color: yellow; }
.charboxnavy a:link, .charboxnavy a:hover, .charboxnavy a:visited, .charboxnavy a:active { color: navy; }
.charboxblue a:link, .charboxblue a:hover, .charboxblue a:visited, .charboxblue a:active { color: blue; }
.charboxteal a:link, .charboxteal a:hover, .charboxteal a:visited, .charboxteal a:active { color: teal; }
.charboxaqua a:link, .charboxaqua a:hover, .charboxaqua a:visited, .charboxaqua a:active { color: aqua; }
.allpagesredirect a:link { color: rgb(0, 102, 255); }
.tickerDiffLink {  }
.tickerMiscLink {  }
.tickerList ul, .tickerList ul li { list-style-type: none; list-style-image: none; list-style-position: outside; text-indent: -2em; margin-left: 2em; text-align: left; }
.tickerList ul ul, .tickerList ul ul li { list-style-type: none; list-style-image: none; list-style-position: outside; text-indent: 0pt; margin-left: 1.5em; text-align: left; }
.tickerEntry_deleted {  }
.tickerEntry_replaced {  }
.tickerEntry_tagged {  }
.tickerEntry_redir {  }
.tickerEntry_recat {  }
.tickerEntry_notify {  }
.tickerEntry_changed {  }
.tickerAction_deleted:before { background: pink none repeat scroll 0% 0%; content: "(×)"; color: rgb(255, 0, 0); font-family: monospace; font-weight: bold; font-size: 100%; }
.tickerAction_replaced:before { content: " REPL "; color: rgb(204, 136, 255); font-family: monospace; font-weight: bold; font-size: 100%; }
.tickerAction_addedBad:before { content: " +VfD "; color: rgb(255, 136, 0); font-family: monospace; font-weight: bold; font-size: 100%; }
.tickerAction_removedBad:before { content: " -VfD "; color: rgb(0, 187, 0); font-family: monospace; font-weight: bold; font-size: 100%; }
.tickerAction_addedGood:before { content: " +OK  "; color: rgb(0, 187, 0); font-family: monospace; font-weight: bold; font-size: 100%; }
.tickerAction_removedGood:before { content: " -OK  "; color: rgb(255, 136, 0); font-family: monospace; font-weight: bold; font-size: 100%; }
.tickerUsage { font-size: 80%; }
.tickerTemplateEntry { font-weight: bold; }
.tickerSubEntry {  }
.tickerMinorEntry { color: rgb(102, 102, 102); }
.tickerMinorEntry a, .tickerMinorEntry a:link, .tickerMinorEntry a:visited { color: rgb(102, 102, 153); }
#bodyContent .tickerMinorEntry a.extiw, #bodyContent .tickerMinorEntry a.extiw:link, #bodyContent .tickerMinorEntry a.extiw:visited { color: rgb(102, 102, 153); }
.toccolours { border: 1px solid rgb(170, 170, 170); padding: 5px; background-color: rgb(249, 249, 249); font-size: 95%; }
#bodyContent .plainlinks a { padding: 0pt ! important; }
#p-nav h5 { display: none; }
.portlet a { text-decoration: none; }
.portlet a:hover { text-decoration: underline; }
#p-nav .pBody { padding-right: 0pt; }
#p-nav a { display: block; width: 100%; }
#editpage-specialchars a { text-decoration: none; }
#editpage-specialchars a:hover { text-decoration: underline; }
div.thumb div a img { background-color: rgb(249, 249, 249); }
#file img { background: transparent url('checker-16x16.png') repeat scroll 0% 0%; }
#spoken { background: transparent none repeat scroll 0% 0%; position: absolute; float: right; text-align: right; font-size: 90%; right: 0pt; z-index: 1; border-bottom-style: none; top: -2.2em; display: block ! important; }
.plainlinksneverexpand a.external.text:after { display: none ! important; }
div.Boxmerge, div.NavFrame { border: 1px solid rgb(170, 170, 170); margin: 0px; padding: 2px; border-collapse: collapse; font-size: 95%; }
div.Boxmerge div.NavFrame { border-style: hidden; }
div.NavFrame + div.NavFrame, div.NavFrame + table.collapsible, table.collapsible + div.NavFrame, table.collapsible + table.collapsible { border-top-style: hidden; }
div.NavPic { margin: 0px; padding: 2px; background-color: rgb(255, 255, 255); float: left; }
div.NavFrame div.NavHead { height: 1.6em; font-weight: bold; font-size: 100%; text-align: center; background-color: rgb(239, 239, 239); cursor: pointer; }
div.NavFrame p { font-size: 100%; }
div.NavFrame div.NavContent { font-size: 100%; }
div.NavFrame div.NavContent p { font-size: 100%; }
div.NavEnd { margin: 0px; padding: 0px; line-height: 1px; clear: both; }
span.NavToggle { float: right; display: none; text-align: right; font-weight: normal; font-size: smaller; }
table.ambox { border-style: solid; border-color: rgb(170, 170, 170) rgb(170, 170, 170) rgb(170, 170, 170) rgb(30, 144, 255); border-width: 1px 1px 1px 10px; margin: 0pt auto; background: rgb(251, 251, 251) none repeat scroll 0% 0%; width: 80%; border-collapse: collapse; }
table.ambox th, table.ambox td { padding: 0.25em 0.5em; }
table.ambox td.ambox-image { padding: 2px 0px 2px 0.5em; width: 52px; text-align: center; }
table.ambox td.ambox-imageright { padding: 2px 4px 2px 0px; width: 52px; text-align: center; }
table.ambox-notice { border-left: 10px solid rgb(30, 144, 255); }
table.ambox-serious { border-left: 10px solid rgb(178, 34, 34); }
table.ambox-content { border-left: 10px solid rgb(242, 133, 0); }
table.ambox-style { border-left: 10px solid rgb(244, 196, 48); }
table.ambox-merge { border-left: 10px solid rgb(153, 50, 204); }
table.ambox-growth { border-left: 10px solid rgb(34, 139, 34); }
table.ambox-protection { border-left: 10px solid rgb(187, 187, 170); }
table.ambox-talk { border-left: 10px solid rgb(24, 231, 248); }
table.ambox.ambox-mini { margin: 0pt 0pt 0pt 1em; float: right; clear: right; width: 25%; }
.geo-default { display: inline; }
.geo-nondefault { display: none; }
.geo-dms { display: inline; }
.geo-dec { display: inline; }
.geo-multi-punct { display: none; }
.longitude .latitude { white-space: nowrap; }
.geo {  }
#content span.coordinates a.external.text:after, #content span.coordinates a.external.autonumber:after { content: ""; }
#coordinates { border: medium none ; margin: 0em; padding: 0em; background: transparent none repeat scroll 0% 0%; position: absolute; z-index: 1; right: 12px; top: 1.3em; float: right; line-height: 1.5em; text-align: right; text-indent: 0pt; font-size: 85%; text-transform: none; white-space: normal; }
#coordinates a[href^="http://"] { background: transparent url('gnome-globe.png') no-repeat scroll right center; padding-right: 18px ! important; }
#catlinks { border: 1px solid rgb(170, 170, 170); padding: 5px; background-color: rgb(249, 249, 249); margin-top: 1em; clear: both; }
table.navbox { border: 1px solid rgb(170, 170, 170); margin: auto; padding: 2px; background-color: rgb(249, 249, 249); clear: both; font-size: 90%; text-align: center; width: 100%; }
table.navbox + table.navbox { margin-top: -1px; }
.navbox-title, .navbox-abovebelow, table.navbox th { text-align: center; padding-left: 1em; padding-right: 1em; }
.navbox-group { white-space: nowrap; text-align: right; font-weight: bold; padding-left: 1em; padding-right: 1em; }
.navbox, .navbox-subgroup { background: rgb(253, 253, 253) none repeat scroll 0% 0%; }
.navbox-title, table.navbox th { background: rgb(204, 204, 255) none repeat scroll 0% 0%; }
.navbox-abovebelow, .navbox-group, .navbox-subgroup .navbox-title { background: rgb(221, 221, 255) none repeat scroll 0% 0%; }
.navbox-subgroup .navbox-group, .navbox-subgroup .navbox-abovebelow { background: rgb(230, 230, 255) none repeat scroll 0% 0%; }
.navbox-even { background: rgb(247, 247, 247) none repeat scroll 0% 0%; }
.navbox-odd { background: transparent none repeat scroll 0% 0%; }
table.navbox tr:not(:first-child) th { background-color: rgb(221, 221, 255); }
#toolbar { border: 1px solid rgb(170, 170, 170); }
.editsection { font-weight: normal ! important; margin-left: 1em; }
.noedit { padding-top: 1px; }
.noedit .editsection { display: none; }
.messagebox { border: 1px solid rgb(170, 170, 170); margin: 0pt auto 1em; padding: 0.2em; background-color: rgb(249, 249, 249); width: 80%; }
.messagebox.merge { border: 1px solid rgb(192, 184, 204); background-color: rgb(240, 229, 255); text-align: center; }
.messagebox.cleanup { border: 1px solid rgb(159, 159, 255); background-color: rgb(239, 239, 255); text-align: center; }
.messagebox.standard-talk { border: 1px solid rgb(192, 192, 144); background-color: rgb(248, 234, 186); }
.messagebox.nested-talk { border: 1px solid rgb(192, 192, 144); margin: 2px 4px; background-color: rgb(248, 234, 186); width: 100%; }
.messagebox.small { margin: 0pt 0pt 1em 1em; width: 238px; font-size: 85%; float: right; clear: both; line-height: 1.25em; }
.messagebox.small-talk { margin: 0pt 0pt 1em 1em; background: rgb(248, 234, 186) none repeat scroll 0% 0%; width: 238px; font-size: 85%; float: right; clear: both; line-height: 1.25em; }
.template-documentation { border: 1px solid rgb(170, 170, 170); margin: 1em 0pt 0pt; padding: 5px; clear: both; background-color: rgb(236, 252, 244); }
#bodyContent a.external[href$=".pdf"], #bodyContent a.external[href*=".pdf?"], #bodyContent a.external[href*=".pdf#"], #bodyContent a.external[href$=".PDF"], #bodyContent a.external[href*=".PDF?"], #bodyContent a.external[href*=".PDF#"] { background: transparent url('15px-icons-mini-file_acrobat.gif') no-repeat scroll right center; padding-right: 16px; }
span.PDFlink a { background: transparent url('15px-icons-mini-file_acrobat.gif') no-repeat scroll right center ! important; padding-right: 17px ! important; }
span.geolink a { background: transparent url('monobook-globe.png') no-repeat scroll right center ! important; padding-right: 11px ! important; }
.TipTrackButton_tip, .TipMouseButton_tip, .TipClickButton_tip, .TipTrack_tip, .TipMouse_tip, .TipClick_tip { border: 1px solid rgb(136, 136, 170); padding: 0.5em; background: rgb(247, 248, 255) none repeat scroll 0% 0%; }
span.lanLabel { color: rgb(119, 119, 119); padding-left: 0.5em; }
tt span.minor { margin: 0pt -2px 0pt -3px; font-size: 12px; }
tt span.newpage { margin: 0pt 1px 0pt -6px; font-size: 12px; }
tt span.bot { margin: 0pt -6px 0pt 1px; font-size: 12px; }
div.user-block { border: 1px solid rgb(169, 169, 169); padding: 5px; background-color: rgb(255, 239, 213); }
@media screen, handheld, projection {
  cite .printonly { display: none; }
}
.plainlinksneverexpand a.external.text:after { display: none ! important; }
.plainlinksneverexpand a.external.autonumber:after { display: none ! important; }
.plainlinksneverexpand a.external.text:after { display: none ! important; }
.plainlinksneverexpand a.external.autonumber:after { display: none ! important; }
.messagebox { border: 1px solid rgb(170, 170, 170); margin: 0pt auto 1em; padding: 0.2em; background-color: rgb(249, 249, 249); width: 80%; }
.messagebox.merge { border: 1px solid rgb(192, 184, 204); background-color: rgb(240, 229, 255); text-align: center; }
.messagebox.cleanup { border: 1px solid rgb(159, 159, 255); background-color: rgb(239, 239, 255); text-align: center; }
.messagebox.standard-talk { border: 1px solid rgb(192, 192, 144); margin: 4px auto; background-color: rgb(248, 234, 186); }
.messagebox.nested-talk { border: 1px solid rgb(192, 192, 144); margin: 2px 0pt 0pt; padding: 2px; background-color: rgb(248, 234, 186); width: 100%; }
.messagebox.small { margin: 0pt 0pt 1em 1em; width: 238px; font-size: 85%; float: right; clear: both; line-height: 1.25em; }
.messagebox.small-talk { margin: 0pt 0pt 1em 1em; background: rgb(248, 234, 186) none repeat scroll 0% 0%; width: 238px; font-size: 85%; float: right; clear: both; line-height: 1.25em; }
th.mbox-text, td.mbox-text { border: medium none ; padding: 0.25em 0.9em; width: 100%; }
td.mbox-image { border: medium none ; padding: 2px 0pt 2px 0.9em; text-align: center; }
td.mbox-imageright { border: medium none ; padding: 2px 0.9em 2px 0pt; text-align: center; }
table.ambox { border-style: solid; border-color: rgb(170, 170, 170) rgb(170, 170, 170) rgb(170, 170, 170) rgb(30, 144, 255); border-width: 1px 1px 1px 10px; margin: -1px 10% 0px; background: rgb(251, 251, 251) none repeat scroll 0% 0%; }
.ambox th.mbox-text, .ambox td.mbox-text { border: medium none ; padding: 0.25em 0.5em; width: 100%; }
.ambox td.mbox-image { border: medium none ; padding: 2px 0pt 2px 0.5em; text-align: center; }
.ambox td.mbox-imageright { border: medium none ; padding: 2px 0.5em 2px 0pt; text-align: center; }
table.ambox-notice { border-left: 10px solid rgb(30, 144, 255); }
table.ambox-speedy { border-left: 10px solid rgb(178, 34, 34); background: rgb(255, 238, 238) none repeat scroll 0% 0%; }
table.ambox-serious, table.ambox-delete { border-left: 10px solid rgb(178, 34, 34); }
table.ambox-content { border-left: 10px solid rgb(242, 133, 0); }
table.ambox-style { border-left: 10px solid rgb(244, 196, 48); }
table.ambox-merge, table.ambox-move { border-left: 10px solid rgb(153, 50, 204); }
table.ambox-protection { border-left: 10px solid rgb(187, 187, 170); }
table.imbox { border: 3px solid rgb(30, 144, 255); margin: 4px 10%; background: rgb(251, 251, 251) none repeat scroll 0% 0%; border-collapse: collapse; }
.imbox .mbox-text .imbox { margin: 0pt -0.5em; }
.mbox-inside .imbox { margin: 4px; }
table.imbox-notice { border: 3px solid rgb(30, 144, 255); }
table.imbox-speedy { border: 3px solid rgb(178, 34, 34); background: rgb(255, 238, 238) none repeat scroll 0% 0%; }
table.imbox-delete { border: 3px solid rgb(178, 34, 34); }
table.imbox-content { border: 3px solid rgb(242, 133, 0); }
table.imbox-style { border: 3px solid rgb(244, 196, 48); }
table.imbox-move { border: 3px solid rgb(153, 50, 204); }
table.imbox-protection { border: 3px solid rgb(187, 187, 170); }
table.imbox-license { border: 3px solid rgb(136, 136, 170); background: rgb(247, 248, 255) none repeat scroll 0% 0%; }
table.imbox-featured { border: 3px solid rgb(203, 161, 53); }
table.cmbox { border: 1px solid rgb(170, 170, 170); margin: 3px 10%; background: rgb(223, 232, 255) none repeat scroll 0% 0%; border-collapse: collapse; }
table.cmbox-notice { background: rgb(223, 232, 255) none repeat scroll 0% 0%; }
table.cmbox-speedy { border: 4px solid rgb(178, 34, 34); background: rgb(255, 219, 219) none repeat scroll 0% 0%; margin-top: 4px; margin-bottom: 4px; }
table.cmbox-delete { background: rgb(255, 219, 219) none repeat scroll 0% 0%; }
table.cmbox-content { background: rgb(255, 231, 206) none repeat scroll 0% 0%; }
table.cmbox-style { background: rgb(255, 249, 219) none repeat scroll 0% 0%; }
table.cmbox-move { background: rgb(241, 208, 255) none repeat scroll 0% 0%; }
table.cmbox-protection { background: rgb(239, 239, 225) none repeat scroll 0% 0%; }
table.ombox { border: 1px solid rgb(170, 170, 170); margin: 4px 10%; background: rgb(249, 249, 249) none repeat scroll 0% 0%; border-collapse: collapse; }
table.ombox-small { margin: 4px 0pt 4px 1em; clear: right; float: right; width: 238px; font-size: 88%; line-height: 1.25em; }
table.ombox-notice { border: 1px solid rgb(170, 170, 170); }
table.ombox-speedy { border: 2px solid rgb(178, 34, 34); background: rgb(255, 238, 238) none repeat scroll 0% 0%; }
table.ombox-delete { border: 2px solid rgb(178, 34, 34); }
table.ombox-content { border: 1px solid rgb(242, 133, 0); }
table.ombox-style { border: 1px solid rgb(244, 196, 48); }
table.ombox-move { border: 1px solid rgb(153, 50, 204); }
table.ombox-protection { border: 2px solid rgb(187, 187, 170); }
table.tmbox { border: 1px solid rgb(192, 192, 144); margin: 4px 10%; background: rgb(248, 234, 186) none repeat scroll 0% 0%; border-collapse: collapse; }
table.tmbox-small { margin: 4px 0pt 4px 1em; clear: right; float: right; width: 238px; font-size: 88%; line-height: 1.25em; }
.mbox-inside .tmbox { margin: 2px; }
table.tmbox-speedy { border: 2px solid rgb(178, 34, 34); background: rgb(255, 238, 238) none repeat scroll 0% 0%; }
table.tmbox-delete { border: 2px solid rgb(178, 34, 34); }
table.tmbox-content { border: 2px solid rgb(242, 133, 0); }
table.tmbox-style { border: 2px solid rgb(244, 196, 48); }
table.tmbox-move { border: 2px solid rgb(153, 50, 204); }
table.tmbox-protection, table.tmbox-notice { border: 1px solid rgb(192, 192, 144); }
.mcBoto { border-style: solid; border-color: rgb(240, 208, 255) rgb(176, 144, 224) rgb(144, 112, 192) rgb(240, 208, 255); border-width: 0.15em; padding: 0.2em 0.3em; background-color: rgb(208, 176, 255); -moz-border-radius-topleft: 0.5em; -moz-border-radius-topright: 0.5em; -moz-border-radius-bottomright: 0em; -moz-border-radius-bottomleft: 0em; cursor: pointer; display: inline; margin-right: 0.1em; position: relative; }
.mcBoto a, .mcBoto strong { padding: 0pt ! important; background: transparent none repeat scroll 0% 0% ! important; color: rgb(112, 80, 160) ! important; font-size: 90%; font-weight: bold; text-decoration: none ! important; }
.mcBoto a:hover, .mcBoto strong:hover { color: black ! important; text-decoration: underline ! important; }
.mcBotoSel { border-style: solid; border-color: rgb(176, 144, 224) rgb(112, 80, 160) rgb(144, 112, 192) rgb(176, 144, 224); border-width: 0.15em; padding: 0.2em 0.3em; background-color: rgb(144, 112, 192); -moz-border-radius-topleft: 0.5em; -moz-border-radius-topright: 0.5em; -moz-border-radius-bottomright: 0em; -moz-border-radius-bottomleft: 0em; cursor: default; display: inline; margin-right: 0.1em; position: relative; color: white; }
.mcBotoSel a { padding: 0pt ! important; background: transparent none repeat scroll 0% 0% ! important; color: white ! important; cursor: default; font-size: 90%; font-weight: bold; text-decoration: none ! important; }
.mcContingut { border-style: solid; border-color: rgb(144, 112, 192) rgb(112, 80, 160) rgb(112, 80, 160) rgb(144, 112, 192); border-width: 0.2em; padding: 1em; background-color: rgb(248, 248, 255); -moz-border-radius-topleft: 0em; -moz-border-radius-topright: 0.5em; -moz-border-radius-bottomright: 0.5em; -moz-border-radius-bottomleft: 0em; position: static; }
.mcPestanya { border-color: rgb(112, 80, 160) rgb(176, 144, 224) rgb(176, 144, 224) rgb(112, 80, 160); background-color: rgb(248, 248, 255); width: 100%; }
.mcVerd .mcBoto { border-color: rgb(192, 240, 144) rgb(144, 208, 96) rgb(117, 192, 69) rgb(192, 240, 144); background-color: rgb(165, 224, 133); }
.mcVerd .mcBoto a, .mcVerd .mcBoto strong { color: rgb(96, 176, 48) ! important; font-size: 90%; }
.mcVerd .mcBoto a:hover, .mcVerd .mcBoto strong:hover { color: black ! important; text-decoration: underline; }
.mcVerd .mcBotoSel { border-color: rgb(144, 208, 96) rgb(96, 176, 48) rgb(117, 192, 69) rgb(144, 208, 96); background-color: rgb(117, 192, 69); }
.mcVerd .mcContingut { border-color: rgb(117, 192, 69) rgb(96, 176, 48) rgb(96, 176, 48) rgb(117, 192, 69); background-color: rgb(245, 255, 250); }
.mcVerd .mcPestanya { border-color: rgb(96, 176, 48) rgb(144, 208, 96) rgb(144, 208, 96) rgb(96, 176, 48); background-color: rgb(245, 255, 250); }
.mcVermell .mcBoto { border-color: rgb(255, 204, 204) rgb(255, 136, 136) rgb(255, 0, 0) rgb(255, 204, 204); background-color: rgb(255, 170, 170); }
.mcVermell .mcBoto a, .mcVermell .mcBoto strong { color: rgb(204, 0, 0) ! important; font-size: 90%; }
.mcVermell .mcBoto a:hover .mcVermell .mcBoto strong:hover { color: black ! important; text-decoration: underline; }
.mcVermell .mcBotoSel { border-color: rgb(255, 136, 136) rgb(204, 0, 0) rgb(255, 0, 0) rgb(255, 136, 136); background-color: rgb(255, 0, 0); }
.mcVermell .mcContingut { border-color: rgb(255, 0, 0) rgb(204, 0, 0) rgb(204, 0, 0) rgb(255, 0, 0); background-color: rgb(255, 250, 250); }
.mcVermell .mcPestanya { border-color: rgb(204, 0, 0) rgb(255, 0, 0) rgb(255, 0, 0) rgb(204, 0, 0); background-color: rgb(255, 250, 250); }
.mcBlau .mcBoto { border-color: rgb(200, 214, 233) rgb(136, 171, 222) rgb(91, 141, 214) rgb(200, 214, 233); background-color: rgb(167, 193, 230); }
.mcBlau .mcBoto a, .mcBlau .mcBoto strong { color: rgb(51, 121, 222) ! important; font-size: 90%; }
.mcBlau .mcBoto a:hover .mcBlau .mcBoto strong:hover { color: black ! important; text-decoration: underline; }
.mcBlau .mcBotoSel { border-color: rgb(136, 171, 222) rgb(51, 121, 222) rgb(91, 141, 214) rgb(136, 171, 222); background-color: rgb(91, 141, 214); }
.mcBlau .mcContingut { border-color: rgb(91, 141, 214) rgb(51, 121, 222) rgb(51, 121, 222) rgb(91, 141, 214); background-color: rgb(240, 248, 255); }
.mcBlau .mcPestanya { border-color: rgb(51, 121, 222) rgb(136, 171, 222) rgb(136, 171, 222) rgb(51, 121, 222); background-color: rgb(240, 248, 255); }
.mcGroc .mcBoto { border-color: rgb(254, 244, 188) rgb(255, 233, 119) rgb(255, 225, 71) rgb(254, 244, 188); background-color: rgb(255, 241, 164); }
.mcGroc .mcBoto a, .mcGroc .mcBoto strong { color: rgb(255, 216, 19) ! important; font-size: 90%; }
.mcGroc .mcBoto a:hover .mcGroc .mcBoto strong:hover { color: black ! important; text-decoration: underline; }
.mcGroc .mcBotoSel { border-color: rgb(255, 233, 119) rgb(255, 216, 19) rgb(255, 225, 71) rgb(255, 233, 119); background-color: rgb(255, 225, 71); }
.mcGroc .mcContingut { border-color: rgb(255, 225, 71) rgb(255, 216, 19) rgb(255, 216, 19) rgb(255, 225, 71); background-color: rgb(255, 252, 232); }
.mcGroc .mcPestanya { border-color: rgb(255, 216, 19) rgb(136, 171, 222) rgb(136, 171, 222) rgb(255, 216, 19); background-color: rgb(255, 252, 232); }
.mcTaronja .mcBoto { border-color: rgb(255, 208, 164) rgb(255, 172, 93) rgb(255, 157, 66) rgb(255, 208, 164); background-color: rgb(255, 189, 127); }
.mcTaronja .mcBoto a, .mcTaronja .mcBoto strong { color: rgb(255, 130, 14) ! important; font-size: 90%; }
.mcTaronja .mcBoto a:hover .mcTaronja .mcBoto strong:hover { color: black ! important; text-decoration: underline; }
.mcTaronja .mcBotoSel { border-color: rgb(255, 172, 93) rgb(255, 130, 14) rgb(255, 157, 66) rgb(255, 172, 93); background-color: rgb(255, 157, 66); }
.mcTaronja .mcContingut { border-color: rgb(255, 157, 66) rgb(255, 130, 14) rgb(255, 130, 14) rgb(255, 157, 66); background-color: rgb(255, 238, 221); }
.mcTaronja .mcPestanya { border-color: rgb(255, 130, 14) rgb(255, 172, 93) rgb(255, 172, 93) rgb(255, 130, 14); background-color: rgb(255, 238, 221); }

/* ::::: http://zh.wikipedia.org/w/index.php?title=MediaWiki:Monobook.css&usemsgcache=yes&ctype=text%2Fcss&smaxage=2678400&action=raw&maxage=2678400 ::::: */

body.page-首页 #deleteconfirm, body.page-首页 #t-cite, body.page-首页 #lastmod, body.page-首页 #siteSub, body.page-首页 h1.firstHeading { display: none ! important; }
#siteNotice { margin-top: 5px; padding-left: 4px; font-style: italic; text-align: center; }
#content { background: rgb(248, 252, 255) none repeat scroll 0% 0%; }
#content div.thumb { border-color: rgb(248, 252, 255); }
.ns-0 * #content { background: white none repeat scroll 0% 0%; }
#mytabs li { background: rgb(248, 252, 255) none repeat scroll 0% 0%; }
.ns-0 * #mytabs li { background: white none repeat scroll 0% 0%; }
#mytabs li a { background-color: rgb(248, 252, 255); }
.ns-0 * #mytabs li a { background-color: white; }
#p-cactions li a, #p-cactions li a:hover, #p-cactions li.selected a { background-color: rgb(248, 252, 255); }
.ns-0 * #p-cactions li a { background-color: rgb(251, 251, 251); }
.ns-0 * #p-cactions li.selected a, .ns-0 * #p-cactions li a:hover { background-color: white; }
.ns-0 * #content div.thumb { border-color: white; }
#siteSub { color: rgb(0, 0, 0); display: inline; font-size: 92%; font-weight: normal; }
#siteSub .editsection { font-size: 100%; }
#bodyContent #siteSub a { color: rgb(0, 0, 0); text-decoration: none; background-color: transparent; background-image: none; padding-right: 0pt; }
#siteSub .editsection a { color: rgb(0, 43, 184) ! important; }
#siteSub .editsection a:hover { text-decoration: underline ! important; }
#ca-edit a { font-weight: bold ! important; }
div.alreadyloggedin { color: red; font-weight: bold; }
@media print {
  .editlink, .noprint, .metadata, .dablink { display: none; }
  #content { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
}
.diffchange { font-weight: bold; background-color: inherit; }
td.diff-addedline, td.diff-deletedline, td.diff-context { font-size: 85%; color: inherit; }
#pt-login { font-weight: bold; font-size: 110%; }
form#userlogin { border: 2px solid rgb(255, 204, 102); padding: 1em 1em 0.7em; float: left; background-color: rgb(255, 255, 230); color: rgb(0, 0, 0); margin-right: 2em; }
form#userlogin table { float: left; background-color: rgb(255, 255, 230); color: rgb(0, 0, 0); }
p.error { font-weight: bold; }
#bodyContent { font-size: 118%; }
.portlet h5, .portlet ul, #toc .toctoggle { font-size: 100%; }
.pBody, #footer, div.thumb div { font-size: 95%; }
h2 { font-weight: bold; }
#sharedUploadNotice { font-style: normal; }
#siteNotice { font-style: normal; }
#siteNotice table { background: transparent none repeat scroll 0% 0%; }
li.FA { list-style-image: url('monobook-bullet-star.png'); }
li.GA { list-style-image: url('monobook-bullet-ga.png'); }
strong.mw-plusminus-neg { color: rgb(204, 0, 0); }
.mw-plusminus-pos { color: rgb(0, 102, 0); }
.mw-plusminus-neg { color: rgb(153, 0, 0); }

/* ::::: http://zh.wikipedia.org/w/index.php?title=-&action=raw&maxage=2678400&gen=css ::::: */

a.new, #quickbar a.new { color: rgb(204, 34, 0); }
