
/* ::::: http://www.xdowns.com/css/index.css ::::: */

body { margin: 0pt; background: rgb(239, 244, 248) none repeat scroll 0% 0%; font-size: 12px; font-weight: normal; font-family: Verdana,Arial,Helvetica,sans-serif; color: rgb(24, 55, 120); }
* {  }
form, p, h1, h2, h3, ul, li { margin: 0pt; padding: 0pt; font-size: 12px; font-weight: normal; }
ul { list-style-type: none; list-style-image: none; list-style-position: outside; }
li { color: rgb(24, 55, 120); }
a:link, a:visited, a:hover, a:active { color: rgb(31, 58, 135); text-decoration: none; }
a:hover { text-decoration: underline; }
.x { border-top: 1px solid transparent ! important; clear: both; }
.green, .green a:link, .green a:visited, .green a:hover, .bd32r li p a:link, .bd32r li p a:visited, .bd32r li p a:hover { color: rgb(12, 144, 0); text-decoration: none; }
.green a:hover, .bd32r li p a:hover { text-decoration: underline; }
.hue { color: rgb(153, 153, 153); font-size: 12px; }
.bd1, .bd2, .bd3, .ad1, .bd5, .bd55, .bd6, .footer { margin: 0pt auto; width: 950px; }
.bd2 { margin-top: 3px; }
.bd3 { margin-top: 10px; }
.ad1 { border: 1px solid rgb(223, 223, 223); padding: 8px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 932px; margin-top: 10px; }
.logo, .bd21l, .bd21rl, .bd22l, .bd3l, .bd3rl, .searchl, .bd32l, .bd32r li, .bd4l, .bd6 li, .co_contentdh li { float: left; }
.logor, .bd21r, .bd21rr, .bd22r, .bd3r, .bd3rr, .searchr, .bd32r, .bd4r { float: right; }
.logo { width: 159px; }
.logor { width: 791px; }
.logor1, .logor2 { border-style: none none solid solid; border-color: -moz-use-text-color -moz-use-text-color rgb(255, 255, 255) rgb(255, 255, 255); border-width: 0pt 0pt 1px 5px; }
.logor1 { padding: 0pt 8px; background: rgb(102, 154, 204) none repeat scroll 0% 0%; height: 21px; line-height: 21px; font-size: 14px; font-weight: bold; color: rgb(255, 255, 255); }
.logor1 a:link, .logor1 a:visited, .logor1 a:hover { color: rgb(255, 255, 255); text-decoration: none; }
.logor1 a:hover { text-decoration: underline; }
.logor2 { background: rgb(223, 223, 223) none repeat scroll 0% 0%; text-align: center; height: 16px; line-height: 16px; }
.logor2 a:link, .logor2 a:visited, .logor2 a:hover { color: rgb(0, 68, 221); text-decoration: underline; }
.logor2 a:hover { text-decoration: none; }
.bd2 a:link, .bd2 a:visited, .bd2 a:hover { color: rgb(12, 144, 0); text-decoration: none; }
.bd2 a:hover { text-decoration: underline; }
.bd21l, .bd21rl, .bd21rr, .bd22l, .bd22r, .bd23 { border: 1px solid rgb(221, 223, 220); background: rgb(245, 255, 244) none repeat scroll 0% 0%; height: 19px; line-height: 19px; }
.bd21l p, .bd21rl p, .bd21rr p, .bd22l p, .bd22r p, .bd23 p { border-left: 5px solid rgb(15, 142, 1); padding-left: 5px; color: rgb(12, 144, 0); }
.bd21l { width: 401px; font-size: 13px; }
.bd21r { width: 541px; }
.bd21rl { width: 539px; font-size: 14px; }
.bd21rr { width: 100px; font-size: 14px; }
.bd22l { width: 493px; font-size: 14px; }
.bd22r { width: 446px; font-size: 14px; }
.bd23 { width: 948px; font-size: 14px; }
.bd3l { width: 203px; }
.bd3r { width: 734px; }
.bd3rl { width: 539px; }
.bd3rr { width: 182px; }
.title_all { border-bottom: 1px solid rgb(199, 215, 228); background: transparent url('tbg.gif') repeat-x scroll center center; height: 21px; }
.title_all p { background: transparent url('tr_1.gif') no-repeat scroll left center; line-height: 19px; font-weight: bold; font-size: 12px; color: rgb(0, 77, 38); padding-left: 10px; float: left; }
.title_all p strong { float: left; width: 300px; }
.title_all p em { float: right; font-style: normal; width: 50px; font-weight: normal; }
.title_all h1 { border: 1px solid rgb(255, 255, 255); font-size: 12px; padding-left: 8px; line-height: 19px; }
.co_area1, .co_area2, .bd32, .bd4l, .bd4r, .bd5, .bd6, .footer { border: 1px solid rgb(199, 215, 228); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.co_area2, .bd32, .ad2, .bd4, .bd5, .bd6, .footer { margin-top: 8px; }
.co_content1, .co_content2, .co_content3 { padding-left: 8px; padding-top: 4px; background-attachment: fixed; background-image: url('trbg.gif'); background-repeat: repeat-x; background-position: center top; }
.co_content4, .co_contentdh { padding: 8px; }
.co_content1 p { line-height: 120%; }
.co_content1 p span { color: rgb(12, 144, 0); }
.co_content1 li, .co_content2 li { overflow: hidden; font-size: 13px; }
.co_content3 li, .co_contentdh li { height: 20px; line-height: 20px; }
.co_content3 li { overflow: hidden; font-size: 13px; }
.co_content4 { text-align: center; }
.co_content4 img, .ad3 { border: 1px solid rgb(223, 223, 223); margin-top: 8px; }
.co_content4 p { margin: 8px 0pt; line-height: 120%; }
.co_contentdh li { float: left; width: 85px; }
.ad3 { height: 74px; text-align: center; }
.search, .searchl, .searchr { height: 36px; }
.search { background: transparent url('search_02.gif') repeat-x scroll 0% 0%; }
.searchl { background: transparent url('search_01.gif') no-repeat scroll left center; width: 384px; padding-left: 32px; line-height: 36px; }
.searchl strong { font-size: 14px; }
.searchl p {  }
.searchl input, .searchl select { border: 1px solid rgb(223, 223, 223); width: 172px; height: 17px; }
.searchl select { width: 140px; height: 19px; }
.searchr { background: transparent url('search_03.gif') no-repeat scroll right center; width: 108px; padding-right: 10px; }
.searchr input { border: 0pt none ; background: transparent url('search_btn.gif') repeat scroll 0% 0%; width: 105px; height: 24px; line-height: 24px; font-size: 14px; font-weight: normal; margin-top: 0.4em; }
.bd32l { border-style: solid none solid solid; border-color: rgb(255, 255, 255) -moz-use-text-color rgb(255, 255, 255) rgb(255, 255, 255); border-width: 1px 0pt 1px 1px; padding: 8px 2px; background: rgb(206, 218, 232) none repeat scroll 0% 0%; width: 22px; height: 146px; text-align: center; font-size: 14px; color: rgb(24, 55, 120); line-height: 180%; }
.bd32r { border-right: 1px solid rgb(255, 255, 255); background: rgb(229, 236, 244) none repeat scroll 0% 0%; width: 702px; height: 112px; text-align: center; }
.bd32r li { border-style: solid none solid solid; border-color: rgb(255, 255, 255) -moz-use-text-color rgb(255, 255, 255) rgb(255, 255, 255); border-width: 1px 0pt 1px 1px; width: 99px; height: 55px; }
.bd32r li h1 { border-bottom: 1px solid rgb(255, 255, 255); background: rgb(206, 218, 232) none repeat scroll 0% 0%; height: 18px; line-height: 18px; font-size: 12px; }
.bd32r li p { padding: 2px; background: rgb(229, 236, 244) none repeat scroll 0% 0%; height: 36px; line-height: 150%; }
.ad2 { border: 1px solid rgb(223, 223, 223); padding: 5px; text-align: center; }
.bd4l, .bd4r { width: 361px; }
.bd5, .bd6 { padding: 5px 10px; width: 928px; line-height: 180%; }
.bd5 strong { color: rgb(12, 144, 0); font-size: 14px; }
.bd6 { padding: 5px; width: 938px; }
.bd6 li { border: 0px solid rgb(204, 204, 204); margin: 5px 6px; width: 88px; height: 31px; }
.path { border-bottom: 1px dashed rgb(223, 223, 223); margin: 8px auto 0pt; width: 950px; height: 20px; line-height: 20px; font-weight: normal; }
.footer { padding: 10px; color: rgb(153, 153, 153); text-align: center; line-height: 200%; width: 928px; }
.footer a:link, .footer a:visited, .footer a:hover { color: rgb(153, 153, 153); text-decoration: none; }
.footer a:hover { text-decoration: underline; }
.bd55 { border: 1px solid rgb(202, 201, 201); background: rgb(242, 242, 242) none repeat scroll 0% 0%; color: rgb(255, 255, 255); padding-bottom: 12px; }
.bd55 p { margin: 0pt; padding: 0pt 12px; background: transparent url('title_link_bg.gif') repeat-y scroll 0% 0%; line-height: 25px; height: 25px; font-size: 14px; font-weight: bold; }
.bd55 p a { display: block; float: right; font-size: 12px; color: rgb(88, 91, 127); font-weight: normal; text-decoration: none; }
.bd55 { margin-top: 4px; clear: both; }
.bd55 a { border: 1px solid rgb(242, 242, 242); margin: 0pt 4px; padding: 2px 4px; overflow: hidden; font-weight: normal; text-align: center; width: 75px; text-decoration: none; color: rgb(0, 0, 0); float: left; height: 14px; line-height: 14px; display: block; }
.bd55 a:hover { border: 1px solid rgb(202, 201, 201); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }

/* ::::: http://www.xdowns.com/css/download.css ::::: */

.dol { float: left; }
.dor { float: right; }
.dol { border: 1px solid rgb(199, 215, 228); width: 598px; }
.dor { border: 1px solid rgb(223, 223, 223); background: rgb(238, 238, 238) none repeat scroll 0% 0%; width: 338px; }
.dol_con, .dor_con { padding: 8px; }
.dol_con p { border-bottom: 1px dashed rgb(223, 223, 223); padding: 3px 0pt; margin-bottom: 8px; line-height: 150%; }
.dol_con p span { color: rgb(255, 102, 0); }
.dol_con p span a:link, .dol_con p span a:visited, .dol_con p span a:hover { color: rgb(255, 102, 0); text-decoration: none; }
.dol_con p span a:hover { text-decoration: underline; }
.dol_con p em { font-style: normal; color: rgb(12, 144, 0); }
.dol_con li, .dol_con h1 { height: 20px; line-height: 20px; }
.dol_con h1 { font-size: 14px; color: rgb(255, 102, 0); font-weight: normal; }
.dor_con { line-height: 150%; }

/* ::::: http://www.xdowns.com/css/softinfo.css ::::: */

.co_content52, .co_content5, .co_content6, .co_content7, .co_content8 { padding: 8px; }
.co5l { float: left; }
.co5r { float: right; }
.co5r, .co_content52 { text-align: center; }
.co5l { border-right: 1px solid rgb(223, 223, 223); width: 500px; }
.co5l li { border-bottom: 1px dashed rgb(223, 223, 223); height: 25px; line-height: 25px; }
.co5r { width: 206px; padding-top: 30px; }
.co5r img { border: 1px solid rgb(223, 223, 223); }
.co_content52 { background: rgb(238, 238, 238) none repeat scroll 0% 0%; color: rgb(12, 144, 0); height: 20px; line-height: 25px; }
.co_content6 p { margin: 5px 0pt; line-height: 150%; }
.co_content7 h1, .co_content7 h2, .co_content7 p { margin: 5px 0pt; }
.co_content7 h1 { font-size: 12px; font-weight: normal; }
.co_content7 h2 { font-size: 16px; font-weight: normal; }
.co_content7 p { color: rgb(255, 102, 0); }
.co_content7 h2 a:link, .co_content7 h2 a:visited, .co_content7 h2 a:hover { color: rgb(12, 144, 0); text-decoration: none; }
.co_content7 h2 a:hover { text-decoration: underline; }
.co_content8 li { line-height: 20px; color: rgb(24, 55, 120); }
.co_content8 li a:link, .co_content8 li a:visited, .co_content8 li a:hover { color: rgb(255, 102, 0); text-decoration: none; }
.co_content8 li a:hover { text-decoration: underline; }
.co_area4 { border: 1px solid rgb(223, 223, 223); background: rgb(238, 238, 238) none repeat scroll 0% 0%; height: 25px; padding-left: 8px; line-height: 25px; }
#dotx { border: 1px solid rgb(212, 2, 0); margin: 17px auto 15px; width: 608px; color: rgb(212, 2, 0); background-color: rgb(253, 245, 245); }
.dott { margin-top: 3px; width: 600px; line-height: 20px; }

/* ::::: http://www.xdowns.com/css/softlist.css ::::: */

.co_area3 { border: 1px solid rgb(199, 215, 228); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.co_area3, .co_area4 { margin-top: 8px; }
.co_contentdh, .co_list, .co_pictj { padding: 8px; }
.co_list, .co_page { margin-bottom: 8px; }
.co_contentdh li, .co_lstbom li { height: 20px; line-height: 20px; }
.co_contentdh li, .co_lstbom li, .co_pictj li { float: left; }
.co_contentdh li { float: left; width: 85px; }
.co_lst { border-bottom: 1px dashed rgb(223, 223, 223); background: rgb(244, 244, 244) none repeat scroll 0% 0%; height: 20px; }
.co_lst li { border-left: 1px solid rgb(223, 223, 223); float: left; width: 85px; line-height: 19px; color: rgb(153, 153, 153); text-align: center; font-size: 10px; }
.co_lst li.softname { border: 0pt none ; width: 100%; text-align: left; font-size: 12px; }
.co_lst li.softname a:link { text-decoration: none; }
.co_lst li.softname a:visited, .co_lst li.softname a:hover { color: rgb(12, 144, 0); text-decoration: none; }
.co_lst li.softname a:hover { text-decoration: underline; }
.co_lstcon { padding: 8px 0pt; line-height: 150%; }
.co_lstbom { border-top: 1px dashed rgb(223, 223, 223); height: 20px; }
.co_lstbom li { width: 250px; padding-left: 10px; color: rgb(153, 153, 153); }
.co_lstbom li.r2 { width: 400px; }
.co_page { background: rgb(244, 244, 244) none repeat scroll 0% 0%; height: 20px; line-height: 20px; text-align: center; }
.co_pictj li { padding: 3px; width: 137px; text-align: center; }
.co_pictj li img { border: 1px solid rgb(223, 223, 223); }
.co_pictj li p { margin: 8px 0pt; text-align: center; }

/* ::::: http://www.xdowns.com/css/softlistall.css ::::: */

.co_arealistall { border-style: none solid solid; border-color: -moz-use-text-color rgb(199, 215, 228) rgb(199, 215, 228); border-width: 0pt 1px 1px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.co_arealistall { margin-top: 8px; }
.co_contentdh, .co_listall { padding: 8px; }
.co_list, .co_listall { margin-bottom: 8px; }
.co_contentdh li, .co_lar li, .co_labom { height: 20px; line-height: 20px; }
.co_contentdh li, .co_lal, .co_contentdh li { float: left; }
.co_lar { float: right; }
.co_contentdh li { width: 85px; }
.co_lal { width: 140px; text-align: center; }
.co_lal img { border: 1px solid rgb(223, 223, 223); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.co_lal p { margin: 10px 0pt; line-height: 150%; }
.co_lar { width: 560px; }
.co_lar li em { font-style: normal; }
.co_lar li em a:link, .co_lar li em a:visited, .co_lar li em a:hover { color: rgb(12, 144, 0); text-decoration: none; }
.co_lar li em a:hover { text-decoration: underline; }
.co_lar li span { color: rgb(153, 153, 153); }
.co_labom { clear: both; text-align: right; }
.title_listall { border-top: 1px solid rgb(199, 215, 228); border-bottom: 1px solid rgb(199, 215, 228); background: transparent url('tbg.gif') repeat-x scroll center center; height: 21px; }
.title_listall p { border: 1px solid rgb(255, 255, 255); line-height: 19px; font-size: 12px; font-weight: bold; color: rgb(24, 55, 120); padding-left: 8px; }
.title_listall p strong { float: left; }
.title_listall p span { background: transparent url('rss.gif') no-repeat scroll left center; float: right; font-style: normal; font-size: 12px; width: 130px; font-weight: normal; text-align: right; }

/* ::::: http://www.xdowns.com/css/searchpage.css ::::: */

body { margin: 0pt; font-family: "Trebuchet MS",Arial,Helvetica,sans-serif; }
#centerright { width: 568px; float: left; height: 100%; }
#search { width: 568px; height: 30px; }
#searchleft { width: 24px; float: left; margin-left: 4px; }
#searchcentersize { margin: 8px 0px 0px 4px ! important; width: 40px; color: rgb(6, 96, 159); float: left; font-weight: bold; }
.textbox { border: 1px solid rgb(102, 102, 102); margin: 2px; background: rgb(255, 255, 240) none repeat scroll 0% 0%; font-family: Tahoma,sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; vertical-align: middle; }
#searchall { float: left; }
#searchcenter { margin: 2px 0px 0px ! important; float: left; }
#searchcenterphoto { margin: 2px 0px 0px 4px; float: left; width: 60px; }
#dl_centerlist { margin: 0pt auto; background: transparent url('table_bg.gif') repeat scroll 0% 0%; overflow: hidden; width: 928px; }
#sideleft { background: transparent url('sky-cn.jpg') repeat scroll 0% 0%; width: 198px; float: left; height: 100%; }
#sideright { width: 568px; float: left; }
#dl_centerlist:after { content: '[DO NOT LEAVE IT IS NOT REAL]'; display: block; height: 0pt; clear: both; visibility: hidden; }
#dl_centerlist { display: inline-block; }
#dl_centerlist { display: block; }
#searchall { float: left; }
#searchcenter { margin: 2px 0px 0px ! important; float: left; }
#searchcenterphoto { margin: 2px 0px 0px 4px; float: left; width: 60px; }
#clinch1 { padding: 10px; color: rgb(153, 153, 153); text-align: center; line-height: 200%; width: 928px; }
#searchpagecenter { margin: 0px 6px; width: 928px; height: 100%; }
#searchpage { width: 928px; float: left; }
#searchpageleft { width: 720px; height: 30px; float: left; }
#searchpageright { width: 198px; height: 22px ! important; text-align: center; padding-top: 8px; font-weight: bold; font-size: 14px; float: left; }
#searchpageResult { border-top: 3px solid; padding: 6px 3px 0px; background: transparent url('linex.gif') repeat scroll 0% 0%; width: 928px ! important; height: 63px ! important; float: left; text-align: left; }
#searchpageTitle { padding: 8px 3px 0px; width: 928px ! important; float: left; text-align: left; height: 27px ! important; color: rgb(6, 96, 159); font-size: 14px; }
#searchpageContent { padding: 0px 3px; text-align: left; color: rgb(6, 96, 159); font-size: 13px; float: left; }
#searchall { float: left; }
#searchcenter { margin: 2px 0px 0px ! important; float: left; }
#searchcenterphoto { margin: 2px 0px 0px 4px; float: left; width: 60px; }
#searchpageName { border-bottom: 1px dashed; padding: 8px 3px 0px; width: 928px ! important; height: 22px ! important; float: left; color: rgb(0, 136, 0); text-align: left; }
#searchpageReadList { padding: 8px 3px 0px; width: 928px ! important; height: 27px ! important; float: left; text-align: right; }

/* ::::: http://www.xdowns.com/css/article.css ::::: */

h2, h3, h4, h5, h6 { color: rgb(37, 130, 164); font-size: 2em; font-family: Arial,Verdana,Serif; }
