
/* ::::: http://s.blog.xuite.net/_public/plugin/css/tree/tree.css ::::: */

.ygtvtn { background: transparent url('tn.gif') no-repeat scroll 0pt 0pt; width: 16px; height: 22px; }
.ygtvtm { background: transparent url('tm.gif') no-repeat scroll 0pt 0pt; width: 16px; height: 22px; cursor: pointer; }
.ygtvtmh { background: transparent url('tmh.gif') no-repeat scroll 0pt 0pt; width: 16px; height: 22px; cursor: pointer; }
.ygtvtp { background: transparent url('tp.gif') no-repeat scroll 0pt 0pt; width: 16px; height: 22px; cursor: pointer; }
.ygtvtph { background: transparent url('tph.gif') no-repeat scroll 0pt 0pt; width: 16px; height: 22px; cursor: pointer; }
.ygtvln { background: transparent url('ln.gif') no-repeat scroll 0pt 0pt; width: 16px; height: 22px; }
.ygtvlm { background: transparent url('lm.gif') no-repeat scroll 0pt 0pt; width: 16px; height: 22px; cursor: pointer; }
.ygtvlmh { background: transparent url('lmh.gif') no-repeat scroll 0pt 0pt; width: 16px; height: 22px; cursor: pointer; }
.ygtvlp { background: transparent url('lp.gif') no-repeat scroll 0pt 0pt; width: 16px; height: 22px; cursor: pointer; }
.ygtvlph { background: transparent url('lph.gif') no-repeat scroll 0pt 0pt; width: 16px; height: 22px; cursor: pointer; }
.ygtvloading { background: transparent url('loading.gif') no-repeat scroll 0pt 0pt; width: 16px; height: 22px; }
.ygtvdepthcell { background: transparent url('vline.gif') no-repeat scroll 0pt 0pt; width: 16px; height: 22px; }
.ygtvblankdepthcell { width: 16px; height: 22px; }
.ygtvitem {  }
.ygtvchildren {  }
* html .ygtvchildren { height: 2%; }
.ygtvlabel, .ygtvlabel:link, .ygtvlabel:visited, .ygtvlabel:hover { margin-left: 2px; text-decoration: none; }
.ygtvspacer { margin: 2px; height: 10px; width: 10px; }

/* ::::: http://s.blog.xuite.net/_public/plugin/css/jqModal.css ::::: */

.jqmWindow { border: 1px solid black; padding: 12px; display: none; position: fixed; top: 17%; left: 50%; margin-left: -300px; width: 600px; background-color: rgb(238, 238, 238); color: rgb(51, 51, 51); }
.jqmOverlay { background-color: rgb(0, 0, 0); }
* iframe.jqm { position: absolute; top: 0pt; left: 0pt; z-index: -1; }
* html .jqmWindow { position: absolute; }

/* ::::: http://s.blog.xuite.net/_public/css/css.css ::::: */

body, td, th { font-family: Arial,Helvetica,sans-serif; font-size: 9pt; color: rgb(0, 0, 0); }
body { margin: 0px; }
.gText { color: rgb(153, 153, 153); }
.ggText { color: rgb(85, 85, 85); }
.gbText { color: rgb(153, 153, 153); font-weight: bold; }
.bText { font-weight: bold; }
.wbtext { color: rgb(255, 255, 255); font-weight: bold; font-size: 10pt; }
.wText { color: rgb(255, 255, 255); line-height: 14pt; }
.rbText { font-size: 14pt; color: rgb(255, 0, 0); font-weight: bold; }
.blueText { font-size: 10pt; color: rgb(68, 65, 132); }
.color1Text { font-size: 10pt; color: rgb(186, 118, 11); }
.color2Text { font-size: 10pt; color: rgb(81, 99, 119); }
.redText { font-size: 10pt; color: rgb(207, 73, 46); }
.nbredText { font-size: 9pt; color: rgb(207, 73, 46); font-weight: bold; }
.sredText { font-size: 8pt; color: rgb(207, 73, 46); }
.button { border: 1px solid ; font-family: "Arial","Helvetica","sans-serif"; font-size: 11px; font-style: normal; line-height: normal; color: rgb(0, 0, 0); background-color: rgb(255, 227, 210); padding-top: 0px; }
.text-form_1 { border: 1px solid rgb(153, 51, 51); font-family: "Arial","Helvetica","sans-serif"; font-size: 9pt; color: rgb(0, 0, 0); padding-top: 3px; background-color: rgb(255, 250, 240); }
.text_list { border: medium none ; font-family: "Arial","Helvetica","sans-serif"; font-size: 8pt; }
.input { border: 1px solid rgb(0, 0, 0); font-family: "Arial","Helvetica","sans-serif"; font-size: 9pt; }
.gtable { border: 1px solid rgb(204, 204, 204); font-family: "Arial","Helvetica","sans-serif"; font-size: 9pt; }
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: underline; color: rgb(0, 51, 204); }
.xuiteLink { position: relative; z-index: 1; }
.xuiteLink span { border: 1px solid rgb(109, 188, 201); background: white none repeat scroll 0% 0%; display: none; position: absolute; top: 1.2em; left: 0pt; z-index: 999; }
.xuiteLink span a { padding: 2px; display: block; width: 5em; text-align: left; }
.xuiteLink span a:hover { background: rgb(187, 229, 240) none repeat scroll 0% 0%; }
span.xuiteLink:hover span { display: block; }
.xuiteLink span.block { display: block; z-index: 9999999; }
.xuiteLink {  }
.reply_info { border: 1px dotted rgb(51, 51, 51); margin: 1.2em; padding: 1.2em; width: 70%; }
span.mail { float: right; margin-top: 15px; }
span.mail li { list-style-image: url('email_forward.gif'); }
.hotArticleTitle li { list-style-image: url('bulletpersonal.gif'); }
.hotArticleSide li { list-style-image: url('blogicon19.gif'); }
.myChannelTitle li { list-style-image: url('bulletpersonal.gif'); }
#xuite_blog_feedControl { font-size: 8pt; overflow-y: auto; overflow-x: hidden; height: 300px; }
#xuite_blog_feedControl li { list-style-image: url('blogicon19.gif'); }
#xuite_blog_feedControl #feed_summary { padding-left: 18px; }
#xuite_blog_feedControl #feed_blog_name { padding-left: 18px; }
.gbookSide { font-size: 11pt; overflow-y: auto; overflow-x: hidden; height: 300px; }
.gbookSide .odd { background: rgb(223, 230, 234) none repeat scroll 0% 0%; }
.title h1 { display: none; }

/* ::::: http://s.blog.xuite.net/_public/css/navigationBar.css ::::: */

#topmanager { position: relative; left: 0px; top: 0px; width: 100%; height: 30px; z-index: 10; }
#topmanager1 { position: relative; left: 0px; top: 0px; width: 100%; height: 30px; z-index: 10; }
#topmanageropen { left: 0px; top: 0px; width: 100%; height: 6px; position: relative; }
#Layer1 { position: absolute; left: 13px; top: 24px; visibility: hidden; z-index: 20; background-color: rgb(242, 242, 242); display: block; width: 7em; }
#Layer2 { position: absolute; left: 13px; top: 24px; visibility: hidden; z-index: 20; background-color: rgb(242, 242, 242); display: block; width: 7em; }
.suckerdiv ul { border-bottom: 1px solid rgb(94, 148, 159); margin: 0pt; padding: 0pt; list-style-type: none; background-color: rgb(242, 242, 242); display: block; }
.suckerdiv ul li { position: relative; }
.suckerdiv ul li ul { left: 139px; position: absolute; width: 150px; top: 0px; display: none; }
.suckerdiv ul li ul li ul { left: 159px; }
.suckerdiv ul li a { border-style: solid solid none; border-color: rgb(255, 255, 255) rgb(255, 255, 255) -moz-use-text-color; border-width: 1px 1px 0pt; padding: 1px 5px; background: rgb(242, 242, 242) none repeat scroll 0% 0%; display: block; color: rgb(0, 0, 102); text-decoration: none; font-size: 12px; line-height: 13pt; }
.suckerdiv ul li a:visited { color: rgb(51, 51, 51); }
.suckerdiv ul li a:hover { background-color: rgb(51, 102, 204); color: rgb(255, 255, 255); text-decoration: none; }
* html .suckerdiv ul li { float: left; height: 1%; display: block; }
* html .suckerdiv ul li a { height: 1%; }

/* ::::: http://s.blog.xuite.net/_theme/skin/background/10005/style.css ::::: */

html {  }
body { margin: 0px; text-align: center; background-image: url('blogbg_1.gif'); background-color: rgb(250, 200, 65); background-attachment: fixed; background-repeat: repeat; }
a { color: rgb(242, 253, 31); text-decoration: none; }
a:link { color: rgb(242, 253, 31); text-decoration: none; }
a:visited { color: rgb(242, 253, 31); text-decoration: none; }
a:active { color: rgb(242, 253, 31); text-decoration: none; }
a:hover { color: rgb(70, 107, 0); text-decoration: none; }
#container { margin: 0px auto; padding: 0px; position: relative; text-align: left; min-width: 990px; background-image: url('blogbg_top.gif'); background-repeat: no-repeat; }
#banner { margin: 0px; text-align: center; height: 240px; }
#linksLeft { position: absolute; left: 50px; width: 180px; }
#linksRight { position: absolute; right: 50px; width: 180px; }
#mid { border: 1px solid rgb(93, 141, 4); margin: 0pt 240px; }
#footer { clear: both; text-align: center; font-size: 13px; color: rgb(115, 115, 115); font-family: "Verdana","Arial","Helvetica","sans-serif"; line-height: 16px; }
.sidetitle { border: 0px solid rgb(72, 94, 120); padding-top: 8px; color: rgb(255, 255, 255); line-height: 22px; font-family: Verdana,Arial,Helvetica,sans-serif; vertical-align: bottom; letter-spacing: 0.1em; font-size: 13px; margin-top: 0px; }
.side { border: 1px solid rgb(93, 141, 4); padding: 4px; font-size: 12px; font-weight: normal; line-height: 140%; font-family: Verdana,Arial,Helvetica,sans-serif; margin-bottom: 10px; }
.side li { margin-left: 20px; list-style-position: outside; }
.spacer { clear: both; }
.blogname { font-size: 22px; font-weight: bold; position: absolute; top: 130px; left: 535px; }
.blogname a:link { color: rgb(255, 255, 255); text-decoration: none; }
.blogname a:visited { color: rgb(255, 255, 255); text-decoration: none; }
.blogname a:active { color: rgb(5, 95, 0); text-decoration: none; }
.blogname a:hover { color: rgb(5, 95, 0); text-decoration: none; }
.blogemotion {  }
.description { font-size: 15px; color: rgb(242, 253, 31); position: absolute; top: 160px; left: 535px; }
.menulist { padding-top: 3px; width: 100%; }
.menu { padding-top: 5px; float: right; padding-right: 250px; }
.menu a:link { color: rgb(59, 91, 4); text-decoration: none; }
.menu a:visited { color: rgb(59, 91, 4); text-decoration: none; }
.menu a:active { color: rgb(59, 91, 4); text-decoration: none; }
.menu a:hover { color: rgb(70, 107, 0); text-decoration: none; }
.logo { visibility: visible; padding-top: 0px; float: right; padding-right: 0px; position: absolute; top: 3px; left: 130px; }
#content { border: 0px solid rgb(181, 218, 67); margin: 5px; padding: 5px; }
.title { background: rgb(93, 141, 4) none repeat scroll 0% 0%; width: 100%; height: 25px; padding-top: 5px; }
span.titlename { font-size: 15px; color: rgb(242, 253, 31); padding-left: 5px; }
span.titledate { float: right; height: 25px; padding-right: 10px; font-family: "Verdana","Arial","Helvetica","sans-serif"; font-size: 11px; color: rgb(204, 204, 204); }
.blogrank { width: 100%; line-height: 200%; margin-top: 10px; }
span.counter { float: right; margin-top: 15px; font-size: 12px; color: rgb(115, 115, 115); }
span.counter li { list-style-image: url('bulletcounter.gif'); }
span.category { float: right; margin-top: 15px; }
span.category li { list-style-image: url('bulletcontentarticle.gif'); }
.blogbody { width: 100%; }
.posted { width: 100%; text-align: right; }
.selectbar { width: 100%; text-align: center; }
.trackbacktitle { border-top: 1px dotted rgb(93, 141, 4); border-bottom: 1px dotted rgb(93, 141, 4); position: relative; width: 100%; margin-top: 20px; margin-bottom: 5px; font-size: 12px; color: rgb(93, 141, 4); height: 24px; }
.trackbacktitle li { list-style-image: url('blogicon31a.gif'); }
.trackbackurl { background: rgb(141, 181, 0) none repeat scroll 0% 0%; width: 100%; padding-top: 20px; padding-bottom: 20px; text-indent: 10px; }
.trackbackdate { width: 100%; text-align: right; font-family: "Verdana","Arial","Helvetica","sans-serif"; font-size: 11px; color: rgb(115, 115, 115); }
.trackbackcontent { border-bottom: 1px dotted rgb(93, 141, 4); width: 100%; line-height: 150%; margin-top: 5px; }
.comment { border-top: 1px dotted rgb(93, 141, 4); border-bottom: 1px dotted rgb(93, 141, 4); width: 100%; font-size: 12px; color: rgb(93, 141, 4); height: 24px; margin-top: 20px; padding-top: 5px; padding-bottom: 0px; }
span.commenttitle {  }
span.commenttitle li { list-style-image: url('bulletmessagelist.gif'); }
span.commentbutton { float: right; }
.author { width: 100%; }
span.authorname {  }
span.commentdate { float: right; text-align: right; font-family: "Verdana","Arial","Helvetica","sans-serif"; font-size: 11px; color: rgb(115, 115, 115); }
.commenttext { width: 100%; margin-top: 10px; margin-bottom: 10px; }
.commentedit { border-bottom: 1px dotted rgb(93, 141, 4); width: 100%; }
span.email {  }
span.line {  }
span.urlicon {  }
span.url {  }
.pTitle li { list-style-image: url('blog011_1.gif'); }
.pTitle {  }
.personaltitle { border: 0px solid rgb(72, 94, 120); padding-top: 8px; color: rgb(255, 255, 255); line-height: 22px; font-family: Verdana,Arial,Helvetica,sans-serif; vertical-align: bottom; letter-spacing: 0.1em; font-size: 13px; margin-top: 0px; }
.avatar { border: 1px solid rgb(93, 141, 4); padding: 4px; font-size: 12px; font-weight: normal; line-height: 140%; font-family: Verdana,Arial,Helvetica,sans-serif; margin-bottom: 10px; }
.avatarPhoto { text-align: center; }
.avatarID {  }
.avatarDesciption {  }
.avatarbutton { text-align: center; }
.personallink { margin: 0px; display: block; width: 150px; }
.plink ul { margin: 0pt 0px; padding: 0px 2px 0px 20px; list-style-type: none; display: block; float: left; }
.plink li { margin: 0px; padding: 0pt 0pt 0pt 0px; list-style-image: url('blogicon19.gif'); }
.plink { padding: 0pt 0pt 0pt 0px; width: 90px; }
.pphoto ul { margin: 0pt 0px; padding: 0px 2px 0px 20px; list-style-type: none; display: block; float: left; }
.pphoto li { margin: 0px; padding: 0pt 0pt 0pt 0px; list-style-image: url('blogicon19.gif'); }
.pphoto { padding: 0pt 0pt 0pt 0px; width: 90px; }
.pfriend ul { margin: 0pt 0px; padding: 0px 2px 0px 20px; list-style-type: none; display: block; float: left; }
.pfriend li { margin: 0px; padding: 0pt 0pt 0pt 0px; list-style-image: url('blogicon19.gif'); }
.pfriend { padding: 0pt 0pt 0pt 0px; width: 90px; }
.pboard ul { margin: 0pt 0px; padding: 0px 2px 0px 20px; list-style-type: none; display: block; float: left; }
.pboard li { margin: 0px; padding: 0pt 0pt 0pt 0px; list-style-image: url('blogicon19.gif'); }
.pboard { padding: 0pt 0pt 0pt 0px; width: 90px; }
.categoryTitle li { list-style-image: url('blog011_1.gif'); padding-left: 0px; padding-top: 0px; visibility: visible; }
.categoryTitle {  }
.categorySide li { list-style-image: url('blogicon19.gif'); }
.categorySide {  }
.calendarTitle li { list-style-image: url('blog011_1.gif'); padding-left: 0px; padding-top: 0px; visibility: visible; }
.calendarTitle {  }
calendarside li { list-style-image: url('blogicon19.gif'); }
.calendarSide {  }
.calMonth { width: 95%; }
.calMonthNav {  }
.calMonthBackward {  }
.calMonthCurrent { font-size: 12px; font-weight: bold; color: rgb(0, 0, 0); font-family: "Verdana","Arial","Helvetica","sans-serif"; }
.calMonthForward { color: rgb(253, 179, 1); font-family: "Verdana","Arial","Helvetica","sans-serif"; font-size: 12px; }
.calMonthHeader {  }
.calMonthDay { font-size: 10px; color: rgb(153, 153, 153); text-align: center; font-family: "Verdana","Arial","Helvetica","sans-serif"; }
.calMonthToday { font-size: 11px; text-align: center; }
.calholiday { font-size: 11px; color: rgb(253, 179, 1); text-align: center; font-family: "Verdana","Arial","Helvetica","sans-serif"; }
.calenderbutton { text-align: right; }
.searchTitle li { list-style-image: url('blog011_1.gif'); padding-left: 0px; padding-top: 0px; visibility: visible; }
.searchTitle {  }
.searchSide { text-align: center; }
.searchbutton { padding: 2px; text-align: center; }
.chatTitle li { list-style-image: url('blog011_1.gif'); padding-left: 0px; padding-top: 0px; visibility: visible; }
.chatTitle {  }
.chatSide {  }
.bloglistTitle li { list-style-image: url('blog011_1.gif'); padding-left: 0px; padding-top: 0px; visibility: visible; }
.bloglistTitle {  }
.bloglistSide li { list-style-image: url('blogicon19.gif'); }
.bloglistSide {  }
.epaperTitle li { list-style-image: url('blog011_1.gif'); padding-left: 0px; padding-top: 0px; visibility: visible; }
.epaperTitle {  }
.epaperSide { text-align: center; }
.epaperbutton { padding: 2px; text-align: center; }
.customTitle li { list-style-image: url('blog011_1.gif'); padding-left: 0px; padding-top: 0px; visibility: visible; }
.customTitle {  }
.customSide {  }
.resourceTitle li { list-style-image: url('blog011_1.gif'); padding-left: 0px; padding-top: 0px; visibility: visible; }
.resourceTitle {  }
.resourceSide { text-align: center; }
.paintTitle li { list-style-image: url('blog011_1.gif'); padding-left: 0px; padding-top: 0px; visibility: visible; }
.paintTitle {  }
.paintSide { text-align: center; }
.musicTitle li { list-style-image: url('blog011_1.gif'); padding-left: 0px; padding-top: 0px; visibility: visible; }
.musicTitle {  }
.musicSide {  }
.musicbutton { padding: 2px; text-align: left; }
.articleTitle li { list-style-image: url('blog011_1.gif'); padding-left: 0px; padding-top: 0px; visibility: visible; }
.articleTitle {  }
.articleSide li { list-style-image: url('blogicon19.gif'); }
.articleSide {  }
.messageTitle li { list-style-image: url('blog011_1.gif'); padding-left: 0px; padding-top: 0px; visibility: visible; }
.messageTitle {  }
.messageSide { text-indent: -3ex; margin-left: 3ex; }
.date { font-family: "Verdana","Arial","Helvetica","sans-serif"; font-size: 11px; color: rgb(115, 115, 115); }
.countTitle li { list-style-image: url('blog011_1.gif'); padding-left: 0px; padding-top: 0px; visibility: visible; }
.countTitle {  }
.countSide {  }
.rssrollTitle li { list-style-image: url('blog011_1.gif'); padding-left: 0px; padding-top: 0px; visibility: visible; }
.rssrollTitle {  }
.rssrollSide li { list-style-image: url('blogicon19.gif'); }
.rssrollSide {  }
.backbtn li { list-style-image: url('blog038.gif'); }
.backbtn { text-align: right; }
.morebtn li { list-style-image: url('blog037.gif'); }
.morebtn { text-align: right; }
.rankTitle li { list-style-image: url('blog011_1.gif'); padding-left: 0px; padding-top: 0px; visibility: visible; }
.rankTitle {  }
.rankSide {  }
.albumTitle li { list-style-image: url('blog011_1.gif'); padding-left: 0px; padding-top: 0px; visibility: visible; }
.albumTitle {  }
.albumSide {  }
.linkTitle li { list-style-image: url('blog011_1.gif'); padding-left: 0px; padding-top: 0px; visibility: visible; }
.linkTitle {  }
.linkSide li { list-style-image: url('blogicon19.gif'); }
.linkSide {  }
.pvlog ul { margin: 0pt 0px; padding: 0px 2px 0px 20px; list-style-type: none; display: block; float: left; }
.pvlog li { margin: 0px; padding: 0pt 0pt 0pt 0px; list-style-image: url('blogicon19.gif'); }
.pboard { padding: 0pt 0pt 0pt 0px; width: 90px; }
.page { margin-top: 10px; margin-bottom: 10px; font-size: 12px; color: rgb(70, 107, 0); line-height: 24px; vertical-align: middle; }
.page a:link, .page a:visited, .page a:active { font-size: 12px; color: rgb(242, 253, 31); line-height: 24px; text-decoration: none; }
.page a:hover { font-size: 12px; color: rgb(70, 107, 0); line-height: 24px; text-decoration: underline; }
.reply_info { border: 1px dotted rgb(115, 115, 115); margin: 1.2em; padding: 1.2em; width: 70%; }
.friendTitle li {  }
.friendTitle {  }
.LoveFriendSide {  }
.LoveFriendSide select { color: rgb(51, 51, 51); font-size: 13px; }
.LoveBlogTitle li {  }
.LoveBlogTitle {  }
.LoveBlogSide {  }
.LoveBlogSide select { color: rgb(51, 51, 51); font-size: 13px; }
span.mail { float: right; margin-top: 15px; }
span.mail li { list-style-image: url('email_forward.gif'); }

/* ::::: null ::::: */

#mid { margin: 0px 50px 0px 240px; }

/* ::::: null ::::: */

#xuitelogo {  }

/* ::::: http://s.blog.xuite.net/_public/plugin/css/tree/tree.css ::::: */

.ygtvtn { background: transparent url('tn.gif') no-repeat scroll 0pt 0pt; width: 16px; height: 22px; }
.ygtvtm { background: transparent url('tm.gif') no-repeat scroll 0pt 0pt; width: 16px; height: 22px; cursor: pointer; }
.ygtvtmh { background: transparent url('tmh.gif') no-repeat scroll 0pt 0pt; width: 16px; height: 22px; cursor: pointer; }
.ygtvtp { background: transparent url('tp.gif') no-repeat scroll 0pt 0pt; width: 16px; height: 22px; cursor: pointer; }
.ygtvtph { background: transparent url('tph.gif') no-repeat scroll 0pt 0pt; width: 16px; height: 22px; cursor: pointer; }
.ygtvln { background: transparent url('ln.gif') no-repeat scroll 0pt 0pt; width: 16px; height: 22px; }
.ygtvlm { background: transparent url('lm.gif') no-repeat scroll 0pt 0pt; width: 16px; height: 22px; cursor: pointer; }
.ygtvlmh { background: transparent url('lmh.gif') no-repeat scroll 0pt 0pt; width: 16px; height: 22px; cursor: pointer; }
.ygtvlp { background: transparent url('lp.gif') no-repeat scroll 0pt 0pt; width: 16px; height: 22px; cursor: pointer; }
.ygtvlph { background: transparent url('lph.gif') no-repeat scroll 0pt 0pt; width: 16px; height: 22px; cursor: pointer; }
.ygtvloading { background: transparent url('loading.gif') no-repeat scroll 0pt 0pt; width: 16px; height: 22px; }
.ygtvdepthcell { background: transparent url('vline.gif') no-repeat scroll 0pt 0pt; width: 16px; height: 22px; }
.ygtvblankdepthcell { width: 16px; height: 22px; }
.ygtvitem {  }
.ygtvchildren {  }
* html .ygtvchildren { height: 2%; }
.ygtvlabel, .ygtvlabel:link, .ygtvlabel:visited, .ygtvlabel:hover { margin-left: 2px; text-decoration: none; }
.ygtvspacer { margin: 2px; height: 10px; width: 10px; }
