
/* ::::: null ::::: */

a:link { color: rgb(51, 102, 153); text-decoration: none; }
a:visited { color: rgb(102, 102, 153); text-decoration: none; }
a:hover { color: rgb(153, 51, 153); font-weight: normal; text-decoration: none; }
a:active { color: rgb(153, 102, 102); font-weight: normal; }
a.submenu:active { text-decoration: none; font-family: "新細明體"; font-size: 14pt; }
a.submenu:hover { color: rgb(71, 125, 167); text-decoration: none; }
a.submenu:link { color: rgb(71, 125, 167); text-decoration: none; }
a.submenu:visited { color: rgb(71, 125, 167); text-decoration: none; }
a.link:active { color: rgb(102, 102, 102); text-decoration: none; }
a.link:hover { color: rgb(102, 102, 102); text-decoration: none; }
a.link:link { color: rgb(102, 102, 102); text-decoration: none; }
a.link:visited { color: rgb(102, 102, 102); text-decoration: none; }
td { font-family: "Verdana","Arial","Helvetica","sans-serif"; font-size: 12px; }
.attention { font-family: "Verdana","Arial","Helvetica","sans-serif"; font-size: 9px; font-style: normal; }
.pdetail { font-size: 12px; }

/* ::::: null ::::: */

.Shading1 { width: 100%; }

/* ::::: null ::::: */

.menubar {  }

/* ::::: null ::::: */

.Shading1 { width: 100%; }
.UpperCategoryCSS { font-family: "新細明體","Verdana","Arial","Helvetica","sans-serif"; color: rgb(230, 0, 0); font-size: 12px; }
.CategoryCSS { font-family: "MS Gothic","SimHei","微軟正黑體","標楷體","新細明體","Verdana","Arial"; color: rgb(187, 0, 0); font-size: 28px; font-weight: bold; }

/* ::::: null ::::: */

#dhtmltooltip { border: 1px solid black; padding: 2px; position: absolute; left: -300px; width: 150px; background-color: lightyellow; visibility: hidden; z-index: 100; }
#dhtmlpointer { position: absolute; left: -300px; z-index: 101; visibility: hidden; }
.text-c { font-family: "細明體"; font-size: 10pt; }
.title-c { font-family: "細明體"; font-size: 15pt; }
.text-e { font-family: "Verdana","Arial","Helvetica","sans-serif"; font-size: 9pt; }
.InputClass { border-color: rgb(195, 171, 155); border-width: 1px; font-size: 12px; color: rgb(102, 102, 102); font-family: "MS Sans Serif",Geneva,sans-serif; background-color: rgb(251, 245, 241); }

/* ::::: null ::::: */

.textCSS { font-family: "Verdana","Arial","Helvetica","sans-serif"; color: rgb(34, 34, 34); font-size: 13px; }
.AttachTextCSS { font-family: "Verdana","Arial","Helvetica","sans-serif"; color: rgb(64, 0, 64); font-size: 12px; }
.InputClass { border-color: rgb(195, 171, 155); border-width: 1px; font-size: 12px; color: rgb(102, 102, 102); font-family: "MS Sans Serif",Geneva,sans-serif; background-color: rgb(251, 245, 241); }
.Shading1 { width: 100%; }
.floatclear { clear: both; display: inline-block; width: 100%; }
* html .floatclear { height: 1%; width: auto; }
.floatclear { display: table; }
#byline { border-top: 1px dotted rgb(119, 119, 119); margin: 1em 0pt; padding: 0.25em 0pt; clear: both; color: rgb(119, 119, 119); }
div.clearer_Left { clear: left; line-height: 0pt; height: 0pt; width: 1px; }
div.clearer_Right { clear: right; line-height: 0pt; height: 0pt; width: 1px; }
div.item_Left { border: 0px solid ; padding: 5px; float: left; width: auto; }
div.item_Left img { margin: 5px; float: left; }
div.item_Right { border: 0px solid ; padding: 5px; float: right; width: auto; display: table; }
div.item_Right img { margin: 5px; float: right; }
div.item_Center { border: 0px solid ; padding: 5px; width: 100%; }
div.item_Center img { margin: 5px; }
.Caption { font-family: "Verdana","Arial","Helvetica","sans-serif"; color: rgb(68, 68, 68); font-size: 12px; }
.UpperCategoryCSS { font-family: "Verdana","Arial","Helvetica","sans-serif"; color: rgb(230, 0, 0); font-size: 12px; }
