
/* ::::: null ::::: */

body { margin: 0px; background: rgb(158, 182, 216) none repeat scroll 0% 0%; color: rgb(51, 51, 51); font-family: verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif,新細明體; font-style: normal; font-variant: normal; font-weight: normal; font-size: 13px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
a:link, body_alink { color: rgb(105, 140, 195); text-decoration: none; }
a:visited, body_avisited { color: rgb(51, 51, 51); text-decoration: none; }
a:hover, a:active, body_ahover { color: rgb(255, 102, 0); text-decoration: none; }
.page { background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(51, 51, 51); }
td, th, p, li { background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(51, 51, 51); font-family: verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif,新細明體; font-style: normal; font-variant: normal; font-weight: normal; font-size: 13px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
.tborder { border: 1px solid rgb(105, 140, 195); background: rgb(214, 224, 239) none repeat scroll 0% 0%; color: rgb(51, 51, 51); }
.tcat { background: rgb(105, 140, 195) none repeat scroll 0% 0%; color: rgb(239, 239, 239); font-family: verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif,新細明體; font-style: normal; font-variant: normal; font-weight: normal; font-size: 13px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
.tcat a:link, .tcat_alink { color: rgb(255, 255, 255); text-decoration: none; }
.tcat a:visited, .tcat_avisited { color: rgb(255, 255, 255); text-decoration: none; }
.tcat a:hover, .tcat a:active, .tcat_ahover { color: rgb(255, 255, 255); text-decoration: none; }
.thead { background: rgb(239, 239, 239) none repeat scroll 0% 0%; color: rgb(51, 51, 51); font-family: verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif,新細明體; font-style: normal; font-variant: normal; font-weight: normal; font-size: 13px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
.thead a:link, .thead_alink { color: rgb(51, 51, 51); text-decoration: none; }
.thead a:visited, .thead_avisited { color: rgb(51, 51, 51); text-decoration: none; }
.thead a:hover, .thead a:active, .thead_ahover { color: rgb(255, 102, 0); text-decoration: none; }
.tfoot { background: rgb(105, 140, 195) none repeat scroll 0% 0%; color: rgb(224, 224, 246); font-family: verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif,新細明體; font-style: normal; font-variant: normal; font-weight: normal; font-size: 13px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
.tfoot a:link, .tfoot_alink { color: rgb(255, 255, 255); text-decoration: none; }
.tfoot a:visited, .tfoot_avisited { color: rgb(255, 255, 255); text-decoration: none; }
.tfoot a:hover, .tfoot a:active, .tfoot_ahover { color: rgb(255, 102, 0); text-decoration: none; }
.alt1, .alt1Active { background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(51, 51, 51); font-family: verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif,新細明體; font-style: normal; font-variant: normal; font-weight: normal; font-size: 13px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
.alt1 a:link, .alt1_alink, .alt1Active a:link, .alt1Active_alink { color: rgb(21, 59, 124); text-decoration: none; }
.alt1 a:visited, .alt1_avisited, .alt1Active a:visited, .alt1Active_avisited { color: rgb(142, 163, 199); text-decoration: none; }
.alt1 a:hover, .alt1 a:active, .alt1_ahover, .alt1Active a:hover, .alt1Active a:active, .alt1Active_ahover { color: rgb(255, 102, 0); text-decoration: none; }
.alt2, .alt2Active { background: rgb(241, 241, 241) none repeat scroll 0% 0%; color: rgb(51, 51, 51); font-family: verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif,新細明體; font-style: normal; font-variant: normal; font-weight: normal; font-size: 13px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
.alt2 a:link, .alt2_alink, .alt2Active a:link, .alt2Active_alink { color: rgb(21, 59, 124); text-decoration: none; }
.alt2 a:visited, .alt2_avisited, .alt2Active a:visited, .alt2Active_avisited { color: rgb(51, 51, 51); text-decoration: none; }
.alt2 a:hover, .alt2 a:active, .alt2_ahover, .alt2Active a:hover, .alt2Active a:active, .alt2Active_ahover { color: rgb(255, 102, 0); text-decoration: none; }
td.inlinemod { background: rgb(240, 241, 243) none repeat scroll 0% 0%; color: rgb(0, 0, 0); }
.wysiwyg { background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(51, 51, 51); font-family: verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif,新細明體; font-style: normal; font-variant: normal; font-weight: normal; font-size: 13px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
.wysiwyg a:link, .wysiwyg_alink { color: rgb(0, 51, 102); text-decoration: none; }
.wysiwyg a:visited, .wysiwyg_avisited { color: rgb(51, 51, 51); text-decoration: none; }
.wysiwyg a:hover, .wysiwyg a:active, .wysiwyg_ahover { color: rgb(255, 102, 0); text-decoration: none; }
textarea, .bginput { font-family: verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif,新細明體; font-style: normal; font-variant: normal; font-weight: normal; font-size: 13px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
.button { font-family: verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif,新細明體; font-style: normal; font-variant: normal; font-weight: normal; font-size: 13px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
select { font-family: verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif,新細明體; font-style: normal; font-variant: normal; font-weight: normal; font-size: 13px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
option, optgroup { font-size: 13px; font-family: verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif,新細明體; }
.smallfont { font-family: verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif,新細明體; font-style: normal; font-variant: normal; font-weight: normal; font-size: 13px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
.time { color: rgb(102, 102, 134); }
.navbar { padding: 1px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.highlight { color: rgb(255, 102, 0); font-weight: bold; }
.fjsel { background: rgb(62, 92, 146) none repeat scroll 0% 0%; color: rgb(224, 224, 246); }
.fjdpth0 { background: rgb(247, 247, 247) none repeat scroll 0% 0%; color: rgb(0, 0, 0); }
.panel { border: 2px outset ; padding: 10px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(51, 51, 51); }
.panelsurround { border: 1px solid rgb(111, 105, 96); background: rgb(240, 241, 243) none repeat scroll 0% 0%; color: rgb(51, 51, 51); }
legend { color: rgb(34, 34, 156); font-family: verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif,新細明體; font-style: normal; font-variant: normal; font-weight: normal; font-size: 13px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
.vbmenu_control { padding: 3px 6px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(51, 51, 51); font-family: verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif,新細明體; font-style: normal; font-variant: normal; font-weight: bold; font-size: 13px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; white-space: nowrap; }
.vbmenu_control a:link, .vbmenu_control_alink { color: rgb(51, 51, 51); text-decoration: none; }
.vbmenu_control a:visited, .vbmenu_control_avisited { color: rgb(51, 51, 51); text-decoration: none; }
.vbmenu_control a:hover, .vbmenu_control a:active, .vbmenu_control_ahover { color: rgb(51, 51, 51); text-decoration: none; }
.vbmenu_popup { border: 1px solid rgb(11, 25, 140); background: rgb(236, 236, 236) none repeat scroll 0% 0%; color: rgb(51, 51, 51); font-family: verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif,新細明體; font-style: normal; font-variant: normal; font-weight: normal; font-size: 13px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
.vbmenu_option { background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(51, 51, 51); font-family: verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif,新細明體; font-style: normal; font-variant: normal; font-weight: normal; font-size: 13px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; white-space: nowrap; cursor: pointer; }
.vbmenu_option a:link, .vbmenu_option_alink { color: rgb(21, 59, 124); text-decoration: none; }
.vbmenu_option a:visited, .vbmenu_option_avisited { color: rgb(51, 51, 51); text-decoration: none; }
.vbmenu_option a:hover, .vbmenu_option a:active, .vbmenu_option_ahover { color: rgb(51, 51, 51); text-decoration: none; }
.vbmenu_hilite { background: rgb(105, 140, 195) none repeat scroll 0% 0%; color: rgb(51, 51, 51); font-family: verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif,新細明體; font-style: normal; font-variant: normal; font-weight: normal; font-size: 13px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
.vbmenu_hilite a:link, .vbmenu_hilite_alink { color: rgb(255, 255, 255); text-decoration: none; }
.vbmenu_hilite a:visited, .vbmenu_hilite_avisited { color: rgb(255, 255, 255); text-decoration: none; }
.vbmenu_hilite a:hover, .vbmenu_hilite a:active, .vbmenu_hilite_ahover { color: rgb(255, 255, 255); text-decoration: none; }
.bigusername { font-size: 14pt; }
td.thead, div.thead { padding: 4px; }
.pagenav a { text-decoration: none; }
.pagenav td { padding: 2px 4px; }
.fieldset { margin-bottom: 6px; }
.fieldset, .fieldset td, .fieldset p, .fieldset li { font-size: 12px; }
.pib { border-top: 1px solid rgb(255, 255, 255); border-left: 1px solid rgb(255, 255, 255); padding: 3px; }
.pibu { border: 1px solid rgb(201, 201, 201); background-color: rgb(237, 237, 237); margin-top: 2px; }
form { display: inline; }
label { cursor: default; }
.normal { font-weight: normal; }
.inlineimg { vertical-align: baseline; }
.my_link:link { color: red; text-decoration: none; }
.my_link:visited { color: red; text-decoration: none; }
.my_link:hover { color: red; text-decoration: none; }
