
/* ::::: http://m.bestofmedia.com/s/30441/tomshardware/css/main.css ::::: */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { margin: 0pt; padding: 0pt; }
table { border-collapse: collapse; border-spacing: 0pt; }
fieldset, img { border: 0pt none ; }
address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal; }
ol, ul { list-style-type: none; list-style-image: none; list-style-position: outside; }
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
q:before, q:after { content: ''; }
abbr, acronym { border: 0pt none ; }
body { background: rgb(103, 165, 216) url('bg-page.jpg') repeat-x scroll left top; text-align: center; font-size: 12px; font-family: Verdana,Tahoma,"Nimbus Sans L",arial,sans-serif; color: rgb(55, 55, 55); }
p, ul { line-height: 18px; }
h4, h3 { font-size: 18px; color: rgb(24, 147, 212); font-weight: bold; }
a { text-decoration: none; color: rgb(24, 147, 212); outline-color: -moz-use-text-color; outline-style: none; outline-width: medium; }
a:hover { text-decoration: underline; }
.clearfix:after { overflow: hidden; content: "."; display: block; height: 0pt; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
#container { margin: 5px auto 0pt; text-align: left; width: 998px; min-width: 998px; z-index: 1; }
#contentGeneric { border-style: none solid; border-color: -moz-use-text-color rgb(0, 0, 0); border-width: 0pt 1px; background: rgb(255, 255, 255) url('bg-content.gif') repeat-y scroll left top; }
* html #contentGeneric { background-position: 1px top; }
* + html #contentGeneric { background-position: 1px top; }
#contentInside { background: transparent url('bg-contentinside.gif') repeat-x scroll left top; }
#breadcrumbs { padding: 10px; background: rgb(255, 255, 255) url('bg-contentinside.gif') repeat-x scroll left top; font-size: 11px; color: rgb(163, 163, 163); }
#breadcrumbs a { color: rgb(163, 163, 163); }
#breadcrumbs strong { font-weight: 700; }
#main { width: 795px; float: right; }
#sidebar { border-top: 2px solid rgb(202, 202, 201); background: rgb(255, 255, 255) none repeat scroll 0% 0%; text-align: center; width: 190px; padding-left: 1px; float: left; }
#internalMain { position: relative; width: 484px; float: left; z-index: 0; }
#internalSidebar { width: 300px; float: right; text-align: center; }
#internalSidebar #advertRight, #internalSidebar #advertRightWhite, #advertRightWhite div.advert { margin-bottom: 15px; }
#footer { border: 1px solid rgb(0, 0, 0); padding: 10px; background: rgb(90, 90, 90) url('bg-footer.gif') repeat-x scroll left bottom; text-align: center; font-size: 11px; line-height: 1.5em; }
#footer * { color: rgb(24, 147, 212); }
#footer .strong { color: rgb(255, 255, 255); }
#footer #logoFooter { float: right; text-align: right; }
#lang-sites, #lang-current span, #lang-current a { margin: 0pt 2px; display: block; float: left; color: rgb(255, 255, 255); font-weight: 700; }
#lang-site { display: block; float: left; width: 25px; height: 13px; background-image: url('header-th.png'); background-repeat: no-repeat; }
#lang-other { margin: 0pt 0pt 0pt 3px; display: block; float: left; }
.langs a { margin: 0pt 0pt 0pt 4px; background: transparent url('header-th.png') no-repeat scroll left top; width: 21px; height: 13px; float: left; }
.langs a span { display: none; }
#footer .langs { margin: 0pt auto; width: 150px; }
.langs .lang-1, .langs .lang-2, .langs .lang-3, .langs .lang-20, .langs .lang-22 { background-position: left top; }
.langs .lang-15 { background-position: -25px top; }
.langs .lang-16 { background-position: -50px top; }
.langs .lang-17 { background-position: -75px top; }
.langs .lang-pl { background-position: -100px top; }
.langs .lang-ru { background-position: -125px top; }
.langs .lang-sw { background-position: -150px top; }
.langs .lang-tu { background-position: -175px top; }
.langs .lang-12 { background-position: -200px top; }
.langs .lang-14 { background-position: -225px top; }
.langs .lang-ir { background-position: -250px top; }
.langs .lang-hu { background-position: -275px top; }
.langs .lang-18, .langs .lang-21 { background-position: -300px top; }
#header a { color: rgb(255, 255, 255); }
#header #header-top { height: 16px; }
#header #header-top #changeLanguage { font-size: 11px; float: right; margin-right: 1px; color: rgb(255, 255, 255); }
#header #header-top #changeLanguage img { vertical-align: top; }
#header #header-top #changeLanguage .arrow-toggle { background: transparent url('th.png') no-repeat scroll left -13px; display: block; float: left; margin-left: 3px; width: 13px; height: 13px; }
#header #header-top #changeLanguage .arrow-right { background-position: left -26px; }
#header #header-top #changeLanguage a#arrow-toggle:hover { text-decoration: none; }
#header #header-banner { border-style: solid solid none; border-color: rgb(0, 0, 0) rgb(0, 0, 0) -moz-use-text-color; border-width: 1px 1px 0pt; }
#header #header-banner .header-inside { border: 1px solid rgb(255, 255, 255); background: rgb(255, 255, 255) url('bg-headerrptx.png') repeat-x scroll left -78px; height: 116px; z-index: 1; }
#header #header-banner div.h1 a { margin: 0pt 5px; background: transparent url('tomshardware.jpg') no-repeat scroll left top; overflow: hidden; display: block; text-indent: -999px; width: 239px; height: 116px; float: left; }
#header #header-banner div.h1 a:hover { text-decoration: none; }
#header #header-banner #header-advert { margin: 11px 0pt 0pt 10px; width: 728px; height: 90px; z-index: 15; left: 260px; top: 10px; float: left; }
#header #header-banner #header-advert a { color: rgb(24, 147, 212); }
#header #header-menu { border-style: none solid; border-color: -moz-use-text-color rgb(0, 0, 0); border-width: 0pt 1px; }
#header #header-menu .header-inside { border: 1px solid rgb(255, 255, 255); background: transparent url('bg-headerrptx.png') repeat-x scroll left top; height: 34px; }
#header #header-menu #header-sections { border-left: 1px solid rgb(61, 61, 60); background: transparent url('bg-headermainmenu.png') repeat-x scroll left top; float: left; }
#header #header-menu #header-sections li { border-right: 1px solid rgb(61, 61, 60); float: left; font-size: 11px; height: 33px; line-height: 32px; text-transform: uppercase; padding-top: 1px; }
#header #header-menu #header-sections li a { border-left: 1px solid rgb(255, 255, 255); padding: 0pt 5px; height: 32px; display: block; font-weight: 700; position: relative; z-index: 0; }
#header #header-menu #header-sections li a:hover { text-decoration: none; }
#header #header-menu #header-sections li.active { background: transparent url('bg-headermainmenu.png') repeat-x scroll left bottom; font-weight: 700; }
#header #header-menu #header-sections li.active a { border-left: 0pt none; }
#header #header-menu #header-sections li.active a:hover { border-left: 0pt none; background: transparent url('bg-headermainmenu.png') repeat-x scroll left bottom; color: rgb(255, 255, 255); text-decoration: underline; }
.triggerTopmenu { background: transparent url('header-th.png') no-repeat scroll left -166px; overflow: hidden; display: block; width: 18px; height: 17px; text-indent: -999px; position: absolute; z-index: 6; top: 8px; right: 5px; }
#header #header-menu #header-sections li a.topmenu { padding-right: 28px; }
#header #header-menu #header-sections li a.topmenu:hover .triggerTopmenu { background-position: left -183px; }
#header #header-menu #header-sections li { position: relative; z-index: 15; }
#header #header-menu #header-sections li .wrapperTopmenuOff, #header #header-menu #header-sections li .wrapperTopmenuOn { padding: 2px 0pt 0pt 2px; position: absolute; z-index: 12; display: none; top: 35px; left: 0pt; }
#header #header-menu #header-sections li .wrapperTopmenuOn { display: block; }
#header #header-menu #header-sections li .shadowTopmenu { margin: -1px -4px -4px 0pt; padding: 0pt 4px 4px 0pt; background: transparent url('shadowalpha.png') no-repeat scroll right bottom; position: absolute ! important; z-index: 11; }
#header #header-menu #header-sections li ul { border-style: none solid solid; border-color: -moz-use-text-color rgb(211, 211, 211) rgb(211, 211, 211); border-width: 0pt 1px 1px; padding: 1px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; display: block; position: relative ! important; z-index: 13; top: -2px; left: -2px; float: none; opacity: 0.96; }
#header #header-menu #header-sections li li { border-style: none none solid; border-color: -moz-use-text-color -moz-use-text-color rgb(211, 211, 211); border-width: medium medium 1px; margin: 0pt; background: rgb(247, 247, 247) none repeat scroll 0% 0%; display: block; float: none; height: auto; line-height: 1.1em; text-transform: none; }
#header #header-menu #header-sections li li.last { border-bottom: 1px solid rgb(247, 247, 247); }
#header #header-menu #header-sections li li a, #header #header-menu #header-sections li.active li a { margin: 0pt; padding: 8px 20px; background: transparent url('redarrows.gif') no-repeat scroll 6px 12px; float: none; font-size: 11px; font-weight: normal; color: rgb(19, 120, 224); display: block; height: auto; width: auto ! important; }
* + html #header #header-menu #header-sections li li a, * + html #header #header-menu #header-sections li.active li a { min-width: 100%; }
#header #header-menu #header-sections li li a:hover { background: transparent url('redarrows.gif') no-repeat scroll 6px 12px; text-decoration: none; color: rgb(111, 111, 109); }
#header-media { float: right; line-height: 33px; height: 33px; color: rgb(255, 255, 255); }
#header-media a { float: left; display: block; color: rgb(255, 255, 255); margin-right: 6px; }
#header-media a#header-media-rss { background: transparent url('header-th.png') no-repeat scroll -3px -39px; padding-left: 25px; }
#header-media a#header-media-letter { background: transparent url('header-th.png') no-repeat scroll 6px -71px; padding-left: 38px; }
.header-pipe { display: block; float: left; }
#header #header-tools { border-style: none solid; border-color: -moz-use-text-color rgb(0, 0, 0); border-width: 0pt 1px; }
#header-tools .header-inside { border-style: none solid solid; border-color: -moz-use-text-color rgb(255, 255, 255) rgb(255, 255, 255); border-width: 0pt 1px 1px; background: rgb(51, 51, 51) url('bg-headerrptx.png') repeat-x scroll left -34px; height: 44px; line-height: 44px; }
#header-tools fieldset { float: left; margin-top: 12px; }
#header-tools fieldset label { padding: 0pt 10px 3px 25px; background: transparent url('header-th.png') no-repeat scroll -4px -101px; line-height: 18px; height: 18px; margin-left: 12px; display: block; float: left; color: rgb(255, 255, 255); }
#header-tools fieldset #searchField { border: 1px solid rgb(103, 103, 103); margin: 0pt 10px 0pt 0pt; display: block; float: left; }
#header-tools fieldset #searchOptions { border: 1px solid rgb(103, 103, 103); margin: -1px 5px 0pt 0pt; display: block; float: left; }
#header-tools #header-okSearch { float: left; margin-top: -1px; }
#header ul.espace-membre { float: right; margin-right: 8px; }
#header ul.espace-membre li { display: inline; }
#header ul.espace-membre li a { background: transparent url('header-th.png') no-repeat scroll -4px -124px; float: left; display: block; padding-left: 20px; height: 40px; line-height: 40px; }
#header ul.espace-membre li span.separation { padding: 0pt 8px; float: left; display: block; height: 40px; line-height: 40px; color: rgb(255, 255, 255); }
#advertRight { background: rgb(244, 244, 244) none repeat scroll 0% 0%; text-align: center; color: rgb(163, 163, 163); font-size: 10px; }
#advertRightWhite { background: transparent none repeat scroll 0% 0%; text-align: center; color: rgb(163, 163, 163); font-size: 10px; }
.advertText { color: rgb(163, 163, 163); font-size: 10px; }
.advertRight { text-align: right; padding-right: 3px; }
.basicCentral { width: 464px; margin-left: 10px; }
.basicCentral-elm { margin-bottom: 25px; }
.basicShadow { background: transparent url('shadow-bottom.png') no-repeat scroll right bottom; padding-bottom: 10px; margin-left: 10px; }
.basicShadow .in2 { padding: 0pt 20px 10px 5px; background: transparent url('shadow-right.png') repeat-y scroll right top; }
.basicRight { background: rgb(255, 255, 255) url('bg-basicright.gif') repeat-x scroll left bottom; text-align: left; padding-bottom: 24px; margin-bottom: 10px; margin-right: 2px; }
.basicSidebar { background: transparent url('bg-slidemenu.gif') repeat-y scroll left top; margin-top: 15px; padding-right: 2px; text-align: left; }
.basicSidebar .basicSidebar-elm { border-bottom: 1px solid rgb(171, 171, 171); background: rgb(255, 255, 255) url('bg-basicsidebar-elm.gif') repeat-x scroll left bottom; }
.basicGradiant { padding: 10px 5px; background: rgb(221, 220, 220) url('bg-gradiant.gif') repeat-x scroll left top; }
#forumHome, .pyjama { border: 1px solid rgb(215, 215, 215); margin: 5px 0pt 2px; }
#forumHome ul, .pyjama ul { overflow: hidden; line-height: 1.1em; }
#forumHome ul li, .pyjama ul li { padding: 5px 4px 5px 13px; }
#forumHome ul li.forumHome-odd, .pyjama ul li.pyjama-odd { background-color: rgb(240, 239, 239); }
#forumHome .forumHome-nb, .pyjama .pyjama-nb { color: rgb(189, 193, 197); }
#forumHome .seeAll, .pyjama .seeAll { margin: 10px 0pt; padding-right: 10px; }
.title2 { margin: 18px 0pt 10px; background: transparent url('bg-title2.png') no-repeat scroll right 5px; font-size: 14px; color: rgb(175, 38, 30); font-weight: 700; text-transform: uppercase; }
.title2 a, .title2 span { background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(175, 38, 30); }
.title2 a:hover { color: rgb(175, 38, 30); text-decoration: none; }
.title2 a.picto-18, span.picto-18 { padding: 0pt 5px 0pt 25px; }
.title2 a.picto-21, span.picto-21 { padding: 0pt 5px 0pt 25px; }
.title2 a.picto-23, span.picto-23 { padding: 0pt 5px 0pt 25px; }
.picto-18, .title2 a.picto-18, .title2 span.picto-18 { background: rgb(255, 255, 255) url('picto-18.gif') no-repeat scroll 0% 0%; }
.picto-21, .title2 a.picto-21, .title2 span.picto-21 { background: rgb(255, 255, 255) url('picto-21.gif') no-repeat scroll 0% 0%; }
.picto-23, .title2 a.picto-23, .title2 span.picto-23 { background: rgb(255, 255, 255) url('picto-23.gif') no-repeat scroll 0% 0%; }
.news_day .picto-23, .news-elm .picto-21, .news-elm .picto-18 { padding: 5px 0pt 5px 25px; }
.news_day .title3 { display: inline; }
.title2Bis { background: transparent url('bg-title2.png') no-repeat scroll left -10px; font-size: 14px; color: rgb(175, 38, 30); font-weight: 700; padding-left: 50px; text-transform: uppercase; margin-bottom: 5px; display: block; }
a.title2Bis:hover { text-decoration: none; }
.titleSidebar { background: transparent url('bg-titlesidebar.gif') no-repeat scroll left center; overflow: hidden; font-size: 12px; font-weight: 700; color: rgb(255, 255, 255); text-transform: uppercase; line-height: 25px; height: 25px; padding-left: 50px; }
.title3 { font-size: 14px; font-weight: 700; display: block; }
.title3_picto { font-size: 14px; font-weight: 700; display: block; text-indent: 25px; }
.title3Bis { font-size: 14px; font-weight: 700; display: block; color: rgb(175, 38, 30); margin-bottom: 10px; }
.title4 { font-weight: 700; display: block; }
.titleMea { margin: 18px 0pt 10px; padding: 0pt 14px 0pt 0pt; background: transparent url('bg-title2.gif') no-repeat scroll right bottom; font-size: 10px; color: rgb(163, 163, 163); font-weight: 700; text-align: right; }
.titleMea span { padding: 0pt 5px; background-color: rgb(255, 255, 255); text-align: right; }
.titleMea .h4 { font-weight: 700; font-size: 14px; }
.meaListing { background: transparent url('shadow-bottom.png') no-repeat scroll right bottom; padding-bottom: 10px; }
.meaListing .in2 { padding: 0pt 20px 10px 5px; background: transparent url('shadow-right.png') repeat-y scroll right top; }
.meaListing .content .imgMea { display: block; float: left; width: 110px; height: 53px; text-align: center; }
.meaListing .content .imgMea img { width: 80px; height: 60px; }
.meaListing .content .texteMea { padding: 0pt 0pt 0pt 10px; float: left; width: 270px; }
.simplePagination-previous { float: left; text-align: left; padding-left: 10px; }
.simplePagination-previous a { background: transparent url('previous.gif') no-repeat scroll left center; padding-left: 10px; }
.simplePagination-previous span { padding-left: 10px; }
.simplePagination-next { float: right; text-align: right; padding-right: 10px; }
.simplePagination-next a { background: transparent url('next.gif') no-repeat scroll right center; padding-right: 10px; }
.simplePagination-next span { padding-right: 10px; }
.pagination li { margin: 0pt 1px; background: transparent url('bg-pagination.gif') no-repeat scroll left top; float: left; height: 20px; width: 20px; line-height: 20px; text-align: center; font-size: 13px; font-weight: 700; color: rgb(175, 38, 30); }
.pagination li.current a { color: rgb(175, 38, 30); }
.pagination li a { display: block; height: 20px; width: 20px; }
.pagination li.paginationLegende { background: transparent none repeat scroll 0% 0%; width: auto; text-align: left; color: rgb(55, 55, 55); font-size: 12px; padding-right: 10px; }
.pagination li.next { background: transparent url('next.gif') no-repeat scroll center center; overflow: hidden; text-indent: -999px; }
.pagination li.prev { background: transparent url('previous.gif') no-repeat scroll center center; overflow: hidden; text-indent: -999px; }
.dropMenu { position: relative; z-index: 3; }
.dropMenu2 { margin-left: auto; margin-right: auto; width: 300px; }
.dropMenu ol, .dropMenu li { margin: 0pt; padding: 0pt; list-style-type: none; list-style-image: none; list-style-position: outside; }
.dropMenu .dropMenu-panel li { border-style: none none solid; border-color: -moz-use-text-color -moz-use-text-color rgb(223, 223, 223); border-width: medium medium 1px; display: block; text-decoration: none; }
.dropMenu .dropMenu-title { background: transparent url('bg-dropmenu-title.gif') no-repeat scroll left top; height: 35px; line-height: 35px; padding-left: 15px; display: block; white-space: nowrap; width: 280px; }
.dropMenu .dropMenu-title, .dropMenu .dropMenu-title:hover { text-decoration: none; }
.dropMenu .dropMenu-title span { background: transparent url('bg-dropmenu-title.gif') no-repeat scroll right top; padding-right: 40px; display: block; }
.dropMenu .hover { background-position: left -35px; }
.dropMenu .hover span { background-position: right -35px; }
.dropMenu .dropMenu-panel { border: 1px solid rgb(223, 223, 223); background: rgb(246, 246, 246) none repeat scroll 0% 0%; position: absolute; white-space: nowrap; z-index: 4; top: 29px; left: 2px; overflow-y: auto; height: auto ! important; max-height: 210px; width: 550px; display: none; }
.dropMenu .dropMenu-view { display: block; }
.dropMenu .dropMenu-panel a, .dropMenu .dropMenu-panel span { padding: 5px 10px; display: block; text-decoration: none; }
.dropMenu .dropMenu-panel span { border-bottom: 1px solid rgb(223, 223, 223); }
.dropMenu .dropMenu-panel a, .dropMenu .dropMenu-panel a:visited, .dropMenu .dropMenu-panel a:visited, .dropMenu .dropMenu-panel .actualSection { padding-left: 20px; }
.dropMenu .dropMenu-panel a:hover { background-color: rgb(209, 221, 229); text-decoration: none; position: static; }
.dropMenu .dropMenu-panel a, .dropMenu .dropMenu-panel span { padding: 5px 0pt 5px 20px; display: block; height: auto; width: auto ! important; }
.dropMenu .dropMenu-panel span { border: medium none ; background: transparent none repeat scroll 0% 0%; }
.dropMenu a b { color: rgb(0, 0, 0); font-weight: normal; }
#blockThema li { border-bottom: 2px solid rgb(255, 255, 255); float: left; line-height: 1.1em; text-align: center; }
#blockThema li a { border: 1px solid rgb(215, 215, 215); float: left; display: block; width: 97px; height: 29px; padding-top: 53px; font-size: 11px; }
.condensedVision li { border-bottom: 1px dotted rgb(193, 193, 193); padding: 10px 0pt 10px 5px; }
.condensedVision .first { padding-top: 0pt; }
.condensedVision .last { background: transparent none repeat scroll 0% 0%; }
.condensedVision li p { float: right; width: 329px; }
.vignette { margin: 0pt 10px 10px 0pt; float: left; display: block; width: 120px; }
.dateElm { font-size: 11px; color: rgb(163, 163, 163); }
a.seeAll { background: transparent url('redarrows.gif') no-repeat scroll left center; float: right; padding-left: 15px; display: block; margin-top: 8px; }
ul.sidebarList li { border-bottom: 1px solid rgb(193, 192, 192); }
ul.sidebarList li a { border-top: 1px solid rgb(255, 255, 255); padding: 5px 5px 5px 10px; display: block; }
a.redButton { padding: 0pt 0pt 0pt 25px; background: transparent url('redbutton.gif') no-repeat scroll left top; color: rgb(255, 255, 255); display: block; float: left; cursor: pointer; }
a.redButton span { padding: 0pt 28px 0pt 0pt; background: transparent url('redbutton.gif') no-repeat scroll right top; height: 36px; line-height: 36px; display: block; float: left; }
a.redButton:hover { background-position: left -36px; }
a.redButton:hover span { background-position: right -36px; }
.withArrows { background: rgb(41, 145, 213) url('bt-witharrows.png') no-repeat scroll left center; display: block; float: left; padding-left: 20px; color: rgb(255, 255, 255); }
.withArrows span { background: transparent url('bt-witharrows.png') no-repeat scroll right center; height: 23px; line-height: 23px; display: block; float: left; padding-right: 20px; }
.withArrows span a, .withArrows span a:hover, .withArrows span a:visited { color: rgb(255, 255, 255); }
.meaHome { text-align: center; }
.meaHome .mea-titleSection { padding: 5px 0pt; font-weight: 700; font-size: 13px; }
.meaHome .mea-imageSection img { border: 1px solid rgb(162, 165, 170); width: 150px; }
.meaHome .mea-priceSection { padding: 5px 0pt; color: rgb(163, 163, 163); }
.meaHome .mea-priceSection a { color: rgb(175, 38, 30); font-size: 14px; font-weight: 700; }
.meaSeparation { border-style: solid none; border-color: rgb(203, 203, 203) -moz-use-text-color rgb(255, 255, 255); border-width: 1px 0pt; margin: 10px auto; height: 0pt; width: 150px; }
.mea-products-inline { float: left; width: 250px; margin-right: 10px; }
.mea-products-inline img { margin: 0pt 10px 10px 0pt; width: 65px; height: 65px; display: block; float: left; }
.mea-products-inline strong { display: block; font-weight: bold; color: rgb(24, 147, 212); font-size: 14px; margin-bottom: 5px; }
.mea-products-inline .mea-price { color: rgb(163, 163, 163); }
.mea-products-inline .mea-price span { color: rgb(175, 38, 30); font-size: 15px; }
.chartsRight { margin: 5px 0pt 2px; }
.chartsCategory { font-weight: 700; margin-top: 10px; }
.chartsRight table { border: 1px solid rgb(215, 215, 215); }
.chartsRight tr { vertical-align: top; }
.chartsRight td { border-left: 1px solid rgb(215, 215, 215); padding: 5px; line-height: 1.1em; text-align: center; width: 98px; font-size: 11px; }
.chartsRight td.first { border-left: 0pt none; }
.chartsRight td a img { width: 95px; }
.chartsRight td a:hover img { text-decoration: none; }
#sidebar .BOM-slideMenu { border-bottom: 1px solid rgb(171, 171, 171); background: transparent url('bg-slidemenu.gif') repeat scroll 0% 0%; text-align: left; padding-right: 1px; }
#sidebar a.BOM-slideMenu-head { background: rgb(255, 255, 255) url('bg-slidemenuhead.png') no-repeat scroll left top; overflow: hidden; display: block; height: 31px; line-height: 31px; text-transform: uppercase; color: rgb(55, 55, 55); padding-left: 15px; font-size: 11px; }
#sidebar a.BOM-slideMenu-active { background-position: 0pt -31px; color: rgb(255, 255, 255); }
#sidebar .BOM-slideMenu ul { padding: 2px 1px 0pt; background: rgb(255, 255, 255) url('dotted.gif') repeat-x scroll left top; }
#sidebar .BOM-slideMenu ul li { margin: 0pt 1px; background: rgb(244, 244, 244) url('bg-title2.png') no-repeat scroll left 16px; overflow: hidden; height: 24px; line-height: 24px; }
#sidebar .BOM-slideMenu ul li a { background: transparent url('red-arrow.gif') no-repeat scroll 10px center; padding-left: 20px; }
#sidebar .BOM-slideMenu ul li span { background: transparent url('bg-selectedsection.gif') repeat-x scroll right top; padding-left: 10px; display: block; color: rgb(0, 0, 0); margin-bottom: 1px; }
#themaTabs { border: 1px solid rgb(215, 215, 215); margin-bottom: 1px; }
#themaTabs .BOM-multitabs-header ul li { border: 1px solid rgb(255, 255, 255); display: block; float: left; line-height: 18px; }
#themaTabs .BOM-multitabs-header ul li a { background: rgb(227, 227, 227) url('bg-thematabs.png') repeat-x scroll left top; display: block; height: 18px; line-height: 18px; font-size: 11px; float: left; color: rgb(55, 55, 55); text-align: center; }
#themaTabs .BOM-multitabs-header ul li a.BOM-multitabs-selectTab { background: rgb(24, 147, 212) url('bg-thematabs.png') repeat-x scroll left bottom; color: rgb(255, 255, 255); }
#themaTabs .BOM-multitabs-header ul li a.BOM-multitabs-selectTab:hover { text-decoration: none; }
#themaTabs .BOM-multitabs-tab { display: none; }
#themaTabs .BOM-multitabs-selectTab { display: block; }
#themaTabs .BOM-multitabs-in3 { padding: 10px; }
a.actualPage { color: red; }
#rc li a { padding: 0pt; background: transparent none repeat scroll 0% 0%; }
#rc a span { display: block; line-height: 18px; padding-left: 26px; }
#rc a img { display: block; float: left; }
.basicMainDotted { padding: 0pt 0pt 20px; background: transparent url('dottedlight.gif') repeat-x scroll left bottom; margin-bottom: 15px; }
#pageOverlay, #myModal-loader { position: fixed; top: 0pt; left: 0pt; z-index: 9990; width: 100%; height: 500px; background-color: rgb(255, 255, 255); }
#myModal-loader { background: transparent url('ajax-loading.gif') no-repeat scroll left top; z-index: 9991; width: 100px; height: 100px; }
#myModal { padding: 0pt 6px 6px 0pt; background: transparent url('shadowalpha.png') no-repeat scroll right bottom; text-align: left; position: fixed; top: 50%; left: 30%; z-index: 9992; }
* html #myModal, * html #pageOverlay, * html #myModal-loader { position: absolute; }
#myModal .validForm .smooth { color: rgb(0, 0, 0); font-size: 11px; display: block; margin-bottom: 15px; }
#myModal .validForm { padding: 5px 5px 0pt 0pt; }
#myModal .validForm li { padding: 3px 0pt; clear: both; }
#myModal .validForm li input { border: 1px solid rgb(127, 157, 185); height: 18px; width: 180px; }
#myModal .validForm li input[type="radio"] { border: medium none ; }
#myModal .validForm li label { display: block; float: left; padding-right: 10px; width: 40%; font-size: 12px; font-weight: 700; text-align: right; }
#myModal .validForm li label.radio { display: inline; float: none; width: auto; font-weight: 400; }
#myModal .validForm li select { border: 1px solid rgb(127, 157, 185); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#myModal .validForm li option { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#myModal .validForm li .validFormOK { border: 1px solid rgb(119, 158, 4); padding: 1px 25px 2px 1px; background: rgb(255, 255, 255) url('bt-ok.gif') no-repeat scroll right center; width: 155px; }
#myModal .validForm li .validFormKO { border: 1px solid rgb(209, 38, 38); padding: 1px 25px 2px 1px; background: rgb(255, 255, 255) url('bt-error.gif') no-repeat scroll right center; width: 155px; }
#myModal .validForm li .validFormFieldTextKO { margin: 15px 0pt 10px; padding: 2px; background: rgb(209, 38, 38) none repeat scroll 0% 0%; font-size: 10px; color: rgb(255, 255, 255); font-weight: 700; min-height: 15px; width: 100%; }
#myModal .validForm .validFormAjaxKO { font-weight: 700; font-size: 11px; color: rgb(209, 38, 38); }
#myModal .validForm .validFormAjaxOK { font-weight: 700; font-size: 11px; color: rgb(119, 158, 4); }
#myModal .validForm .basicMainDotted { padding-bottom: 5px; }
#myModal .submitForm { border: medium none ; background: transparent url('bt-submit.gif') no-repeat scroll left top; overflow: hidden; width: 89px; height: 25px; float: right; text-indent: -9999px; cursor: pointer; }
#myModal #ajaxLoading { background: transparent url('ajax-loaderlittle.gif') no-repeat scroll left top; position: absolute; bottom: 9px; right: 20px; display: block; width: 16px; height: 16px; }
#myModal #modalNicks { border-left: 1px solid rgb(127, 157, 185); background: rgb(255, 255, 255) url('shadowalpha.png') repeat scroll right bottom; position: absolute; width: 187px; float: right; left: 173px; font-size: 11px; }
* html #myModal #modalNicks { left: 171px; }
#myModal #modalNicks span { display: block; margin-bottom: 5px; }
#myModal .validForm #getFreeNicks li { border-right: 1px solid rgb(127, 157, 185); border-bottom: 1px solid rgb(127, 157, 185); padding: 0pt; background: rgb(255, 255, 255) none repeat scroll 0% 0%; overflow: hidden; width: 180px; display: block; }
#getFreeNicks li a { padding: 2px 5px; display: block; cursor: pointer; color: rgb(0, 0, 0); text-decoration: none; }
#getFreeNicks li a:hover { background-color: rgb(229, 232, 235); }
#myModal-content { border: 2px solid rgb(191, 191, 191); padding: 5px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; -moz-border-radius-bottomright: 5px; -moz-border-radius-bottomleft: 5px; margin-top: -4px; position: relative; min-height: 140px; }
#myModal-content h5 { padding: 10px; background-color: rgb(238, 239, 241); color: rgb(175, 38, 29); -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; -moz-border-radius-bottomright: 0pt; -moz-border-radius-bottomleft: 0pt; margin-bottom: 10px; font-weight: 700; font-size: 16px; }
#myModal-close { background: transparent url('bt-close2.png') no-repeat scroll left top; overflow: hidden; position: absolute; top: 15px; right: 22px; display: block; width: 15px; height: 15px; text-indent: -999px; cursor: pointer; }
.news-elm { padding: 10px 0pt; background: transparent url('dottedlight.gif') repeat-x scroll left bottom; }
.mailAmi fieldset { border: 0pt none ; margin: 0pt; padding: 0pt; }
.mailAmi legend { margin: 0pt; padding: 10px 0pt; display: block; text-align: center; font-size: 16px; font-weight: 700; color: rgb(85, 146, 0); }
.mailAmi .interlignage { padding: 10px 0pt; }
.mailAmi .interlignage label { font-weight: 700; }
.mailAmi .interlignage input { border: 1px solid rgb(0, 0, 0); width: 50%; }
#popinMailAmi { border-style: solid; border-color: rgb(194, 202, 207); border-width: 1px 3px 3px 1px; padding: 10px; background: rgb(255, 255, 255) url('bg-popin.png') repeat-x scroll left top; position: absolute; z-index: 300; margin-left: 100px; width: 400px; height: 350px; }
.smooth { color: rgb(173, 182, 185); font-size: 11px; }
#forumForm { position: relative; }
#forumForm li { display: block; padding-bottom: 5px; }
#forumForm label { display: block; }
#forumForm #sujet { width: 65%; }
#forumForm textarea { width: 100%; height: 70px; }
#forumForm #catListing { display: none; float: left; width: 45%; }
#forumForm #subCatListing { display: none; float: left; width: 45%; padding-left: 15px; }
#forumForm a.withArrows { float: right; opacity: 0.5; cursor: pointer; }
#forumForm a.showWithArrows { opacity: 1; }
#forumForm #forumFormTooltip { border: 1px solid rgb(216, 216, 216); padding: 2px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; position: absolute; z-index: 10; top: 55px; display: block; width: 266px; color: rgb(0, 0, 0); font-size: 10px; line-height: 1.6em; }
#forumForm #forumFormTooltip span { padding: 3px; background: rgb(243, 245, 240) none repeat scroll 0% 0%; display: block; text-align: justify; }
div.google p { float: left; width: 24%; }
#ad-1 { background: transparent url('loader.gif') no-repeat scroll center center; min-height: 90px; }
* html #ad-1 { height: 90px; }
#ad-2 { background: transparent url('loader.gif') no-repeat scroll center center; min-height: 250px; }
* html #ad-2 { height: 250px; }
#ad-8 { background: transparent url('loader.gif') no-repeat scroll center center; }
#ad-4 { background: transparent url('loader.gif') no-repeat scroll center center; min-height: 250px; }
* html #ad-4 { background: transparent url('loader.gif') no-repeat scroll center center; height: 250px; }
.bloc_newsletter { text-align: left; margin-bottom: 10px; }
.title_newsletter { background: transparent url('onglet_newsletter_bloc.png') no-repeat scroll left center; color: white; line-height: 22px; height: 22px; width: 139px; font-weight: bold; font-size: 15px; padding-left: 5px; }
.content_newsletter { border: 1px solid rgb(173, 39, 30); padding: 5px; background-color: rgb(236, 238, 240); }
.title2Bis a, .title2Bis a:hover, .title2Bis a:visited { text-decoration: none; color: rgb(175, 38, 30); }
.games-partners .odd, .games-partners .even { padding: 3px 10px 0pt 0pt; text-align: left; width: 50%; vertical-align: top; }
.games-partners .even {  }
.games-partners .title { font-weight: bold; font-size: 12px; color: rgb(4, 33, 62); display: block; }
.games-partners .odd { width: 150px; }
.games-partners .i { margin: 0pt 5px 0pt 0pt; background: transparent none repeat scroll 0% 0%; height: 52px; float: left; }

/* ::::: http://m.bestofmedia.com/s/30441/tomshardware/css/news.css ::::: */

#internalMain { position: static; width: 620px; float: left; z-index: 0; }
#internalSidebar { width: 336px; float: right; text-align: center; padding-bottom: 15px; }
.basicCentral { width: 604px; }
#main { width: 985px; }
#contentGeneric { background: rgb(93, 101, 104) url('bg-contentnew.gif') repeat-y scroll left top; }
blockquote, #news-content blockquote { border-style: dashed; border-width: 1px; padding: 4px; font-family: Arial; font-weight: bold; font-style: italic; font-size: 14px; text-align: justify; margin-left: 0pt; margin-right: 0pt; margin-bottom: 15px; background-color: rgb(221, 221, 221); clear: both; }
div.avatar { margin: 0pt 10px 4px 0pt; background: rgb(255, 255, 255) url('default.gif') no-repeat scroll left top; width: 50px; height: 50px; float: left; }
div.avatar img { border: 1px solid rgb(239, 239, 239); width: 50px; height: 50px; }
#news-content h3 { font-weight: bold; color: rgb(0, 0, 0); font-size: 13px; margin-bottom: 1.5em; }
#news-content { line-height: 1.5em; }
#news-content p { margin-bottom: 1.5em; }
#newsCateg-first { margin: 10px 0pt; padding: 10px; }
#newsCateg-first img { margin: 0pt 8px 0pt 0pt; float: left; }
#newsCateg-first p { text-align: justify; }
.comment { background: transparent url('bg-toolbarnews.png') no-repeat scroll left -64px; display: block; height: 32px; line-height: 32px; float: left; padding-left: 35px; }
#nbComment { position: absolute; right: 0pt; bottom: 10px; }
.greyBox { margin: 10px 0pt; padding: 10px; background-color: rgb(245, 244, 244); }
.greyBoxL { float: left; width: 55%; }
.greyBoxL li { margin-left: 5px; font-size: 11px; }
.greyBoxL strong, #header-news-thema strong, #header-news-thema2 strong { font-weight: 700; }
.greyBoxR { float: right; width: 45%; text-align: right; }
#header-news-thema { float: right; width: 200px; }
#header-news-thema .title { color: rgb(175, 38, 30); display: block; text-align: right; font-size: 11px; margin-bottom: 3px; }
#header-news-thema ul { float: right; }
#header-news-thema ul li { float: left; }
#header-news-thema ul li a { overflow: hidden; float: left; display: block; width: 59px; height: 54px; text-indent: -999px; margin-left: 5px; }
#header-news-infos { font-size: 11px; color: rgb(163, 163, 163); float: left; }
#form_cont { display: none; }
.adInNews { border-top: 1px solid rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); margin: 0pt auto 5px; padding: 5px 0pt; text-align: center; width: 450px; }
.adInNewsText { margin: 0pt auto; text-align: right; width: 450px; }
.toolbarNews li, .toolbarNews a { display: block; float: left; line-height: 32px; height: 32px; }
.toolbarNews .langs a { height: 13px; }
.toolbarNews li { margin-right: 15px; }
.toolbarNews li.toolbarNews-print, .toolbarNews li.toolbarNews-send, .toolbarNews li.toolbarNews-comment, .toolbarNews li.toolbarNews-bookmark { background: transparent url('bg-toolbarnews.png') no-repeat scroll left top; padding-left: 32px; }
.toolbarNews li.toolbarNews-send { background-position: left -32px; }
.toolbarNews li.toolbarNews-comment { background-position: left -64px; }
.toolbarNews li.toolbarNews-bookmark { background-position: left -96px; }
.translated-content { padding: 10px 0pt 0pt; }
.translated-content .translated-content-text { margin: -9px 0pt 0px; color: rgb(0, 0, 0); float: left; font-size: 10px; }
.deliciousIcon, .facebookIcon, .diggitIcon { margin: 0pt 0pt 0pt 10px; background: transparent url('web2tools-sprite.gif') no-repeat scroll -32px top; float: right; width: 16px; height: 16px; }
.facebookIcon { background-position: -16px top; }
.diggitIcon { background-position: 0px top; }
.splitCols-left {  }
.splitCols-right { float: right; width: 336px; }
.splitCols li { margin: 5px 0pt; padding: 5px; line-height: 1.1em; }
.adCentral { padding: 10px 0pt 0pt; text-align: center; }
#contentResume-top { padding-top: 5px; }
#contentResume-top .tableContent-title, #contentResume-top .dropMenu { float: left; }
#contentResume-top .tableContent-title { display: block; font-weight: 700; color: rgb(0, 0, 0); height: 35px; line-height: 35px; padding-right: 10px; }
ul.paginationReviews { margin-top: 15px; }
ul.paginationReviews li.prev { float: left; margin-top: -20px; }
ul.paginationReviews li.prev a { padding: 0pt 5px 5px 10px; background: transparent url('previous.gif') no-repeat scroll left center; }
ul.paginationReviews li.prev span { padding: 3px 0px 0px 20px; background: transparent none repeat scroll 0% 0%; display: block; font-weight: bold; }
ul.paginationReviews li.next { float: right; text-align: right; margin-top: -20px; }
ul.paginationReviews li.next a { padding: 0pt 10px 5px 5px; background: transparent url('next.gif') no-repeat scroll right center; text-align: right; display: block; }
ul.paginationReviews li.next span { padding: 3px 20px 0px 0px; background: transparent none repeat scroll 0% 0%; text-align: right; display: block; font-weight: bold; margin-top: -8px; }
#pricerunner { width: 120px; float: right; margin-left: 10px; }
#pricerunner p { font-weight: normal; font-size: 11px; color: rgb(24, 147, 212); }
#pricerunner table { width: 100%; }
#pricerunner table tr td img { width: 120px; }
#pricerunner table tr td .price { font-size: 15px; font-weight: bold; color: rgb(175, 38, 30); }
.table-wrapper { margin-bottom: 15px; }
#news-content strong, #news-content strong * { font-weight: bold; }
#news-content em, #news-content em * { font-style: italic; }
#news-content table { margin: 0pt auto; border-collapse: collapse; clear: both; }
#news-content table caption { margin: 0pt auto; padding: 4px; background-color: rgb(58, 58, 56); color: rgb(255, 255, 255); font-size: 1.1em; font-weight: bold; text-align: center; }
#news-content table td, #news-content table th { border: 1px solid white; padding: 4px; text-align: center; }
#news-content table th a { color: rgb(255, 255, 255); }
#news-content table td.spipleft { text-align: left; }
#news-content table .row_first { background: transparent url('bg-th.gif') repeat-x scroll left top; }
#news-content table .row_odd { background: rgb(239, 239, 239) none repeat scroll 0% 0%; }
#news-content ul { padding-left: 10px; margin-left: 20px; list-style-type: disc; margin-bottom: 1.5em; }
#news-content ul.paginationReviews { margin: 0pt 15px 0pt 0pt; padding: 0pt; list-style-type: none; }
#news-content ul.halfLeft, #news-content ul.halfRight { margin: 0pt; padding: 0pt; list-style-type: none; }
#news-content ol { padding-left: 10px; margin-left: 20px; list-style-type: decimal; margin-bottom: 1.5em; }
#news-content h4 { font-size: 13px; margin-bottom: 15px; color: rgb(0, 0, 0); }
#news-content table.editorTblStyleStyle1 * { color: rgb(0, 0, 0); }
#news-content table.editorTblStyleStyle1 table, #news-content table.editorTblStyleStyle1 tr, #news-content table.editorTblStyleStyle1 th, #news-content table.editorTblStyleStyle1 td { border: 1px solid rgb(173, 182, 185); }
#news-content table.editorTblStyleStyle1 th { font-weight: normal; background-color: rgb(239, 239, 239); }
#news-content table.editorTblStyleStyle2 * { color: rgb(0, 0, 0); }
#news-content table.editorTblStyleStyle2 th { font-weight: bold; color: white; background-color: rgb(55, 55, 55); }
#news-content table.editorTblStyleStyle2 tr.tblEven td { background-color: rgb(239, 239, 239); }
#news-content table.editorTblStyleStyle2 table, #news-content table.editorTblStyleStyle2 tr, #news-content table.editorTblStyleStyle2 th, #news-content table.editorTblStyleStyle2 td { border: 1px solid white; }
#news-content table.editorTblStyleStyle3 * { color: rgb(0, 0, 0); }
#news-content table.editorTblStyleStyle3 caption { color: rgb(255, 255, 255); }
#news-content table.editorTblStyleStyle3 table, #news-content table.editorTblStyleStyle3 tr, #news-content table.editorTblStyleStyle3 th, #news-content table.editorTblStyleStyle3 td { border: 1px solid white; }
#news-content table.editorTblStyleStyle3 th { font-weight: bold; color: white; background-color: rgb(51, 102, 153); }
#news-content table.editorTblStyleStyle3 tr.tblEven td { background-color: rgb(197, 217, 241); }
#news-content table.editorTblStyleStyle4 * { color: rgb(0, 0, 0); }
#news-content table.editorTblStyleStyle4 table, #news-content table.editorTblStyleStyle4 tr, #news-content table.editorTblStyleStyle4 th, #news-content table.editorTblStyleStyle4 td { border: 1px solid white; }
#news-content table.editorTblStyleStyle4 th { font-weight: bold; color: white; background-color: rgb(51, 102, 153); }
#news-content table.editorTblStyleStyle4 tr.tblEven td { background-color: rgb(239, 239, 239); }
#news-content table.editorTblStyleStyle5 * { color: rgb(0, 0, 0); }
#news-content table.editorTblStyleStyle5 table, #news-content table.editorTblStyleStyle5 tr, #news-content table.editorTblStyleStyle5 th, #news-content table.editorTblStyleStyle5 td { border: 1px solid white; }
#news-content table.editorTblStyleStyle5 th { font-weight: bold; color: white; background-color: rgb(119, 158, 4); }
#news-content table.editorTblStyleStyle5 tr.tblEven td { background-color: rgb(239, 239, 239); }
#news-content table.editorTblSize10 { width: 10%; }
#news-content table.editorTblSize20 { width: 20%; }
#news-content table.editorTblSize30 { width: 30%; }
#news-content table.editorTblSize40 { width: 40%; }
#news-content table.editorTblSize50 { width: 50%; }
#news-content table.editorTblSize60 { width: 60%; }
#news-content table.editorTblSize70 { width: 70%; }
#news-content table.editorTblSize80 { width: 80%; }
#news-content table.editorTblSize90 { width: 90%; }
#news-content li { list-style-position: inside; }
.imgLeft { float: left; margin-left: 0px; }
.imgRight { float: right; }
.imgCenter { margin: 0pt auto; text-align: center; display: block; }
.imgContent { margin: 0pt 15px 15px; text-align: center; }
td.imgContent { padding: 10px; vertical-align: top; text-align: center; }
.imgContent .spipLegend { margin: 5px auto 0pt; font-size: 10px; display: block; text-align: center; }
.imgContent .spipLegend a { font-size: 10px; }
.imgContent .spipLegend img { margin: 0pt 0pt -10px; padding: 0pt; display: inline; }
.imgTab { margin: 10px auto; }
#nav ul { margin: 0pt; padding: 0pt; list-style-type: none; list-style-image: none; list-style-position: outside; line-height: 1; z-index: 1; }
#nav li ul { padding: 5px; background: rgb(240, 240, 240) none repeat scroll 0% 0%; position: absolute; width: 130px; left: -999em; margin-top: 25px; }
#nav li:hover ul, #nav li.sfhover ul { left: auto; }
#web2Tools { padding-top: 10px; text-align: right; }
ul.topRecherche li { display: inline; padding-right: 10px; }
.listingProduct .vignette { border: 1px solid rgb(210, 222, 229); margin: 0pt 5px 5px 0pt; overflow: hidden; display: block; float: left; width: 60px; }
.listingProduct .vignette img { width: 60px; }
.listingProduct .productName { display: block; width: 453px; }
.listingProduct .bestPrice { color: rgb(173, 182, 185); }
.listingProduct .bestPrice .price { color: rgb(194, 11, 41); font-weight: bold; }
#topConsultation .oneTopConsultation { padding: 0pt 0pt 0pt 10px; }
#topConsultation .oneTopConsultation { padding: 3px 3px 0pt; overflow: hidden; float: left; width: 190px; text-align: center; height: 150px; }
#topConsultation .borderB { border-bottom: 1px dotted rgb(177, 190, 202); }
#topConsultation .borderR { border-right: 1px dotted rgb(177, 190, 202); }
#topConsultation .price { color: rgb(194, 11, 41); font-weight: bold; }
#nombrePhotos { text-align: center; padding-bottom: 10px; }
#listeVignette { line-height: 12px; height: 12px; margin-top: 10px; }
#listeVignette li { display: inline; line-height: 20px; }
#listeVignette li a { padding: 0px 13px 0pt 0pt; background: transparent url('bt-vignette.gif') no-repeat scroll left top; font-size: 10px; }
#listeVignette li a:hover { background-position: left -13px; text-decoration: none; }
#listeVignette li.active a, #listeVignette li.active a:hover { background-position: left -26px; text-decoration: none; }
#blockVignette { padding: 0pt 6px 6px 0px; background: transparent url('shadowalpha.png') no-repeat scroll right bottom; position: absolute; z-index: 100; top: 0pt; left: 0pt; }
#containerVignette { border: 1px solid rgb(255, 255, 255); background: rgb(255, 255, 255) url('ajax-loaderlittle.gif') no-repeat scroll center center; min-width: 50px; min-height: 50px; height: auto ! important; width: auto ! important; }
#containerVignette img { vertical-align: middle; }
#tableauPhotoReportage { margin: 10px auto; }
#tableauPhotoReportage ul.pagination { margin-left: 242px; }
#contenuPhotoReportage { padding: 10px; margin-bottom: 10px; }
#tableauPhotoReportage ul.paginationphotoreportage { margin-top: 15px; list-style-type: none; }
#tableauPhotoReportage ul.paginationphotoreportage li.prev { float: left; margin-top: -20px; width: 45%; }
#tableauPhotoReportage ul.paginationphotoreportage li.prev a { padding: 5px 5px 5px 10px; background: transparent url('previous.gif') no-repeat scroll left center; }
#tableauPhotoReportage ul.paginationphotoreportage li.next { float: right; margin-top: -20px; width: 45%; text-align: right; }
#tableauPhotoReportage ul.paginationphotoreportage li.next a { padding: 5px 10px 5px 5px; background: transparent url('next.gif') no-repeat scroll right center; }
#main .oneThumbRelative { margin: 10px 11px 0pt; float: left; text-align: center; width: 130px; }
#main .oneThumbRelative .imgThumb { overflow: hidden; width: 130px; height: 90px; line-height: 90px; display: block; }
#main .oneThumbRelative .imgThumb:hover { text-decoration: none; }
#main .oneThumbRelative .imgThumb img { display: inline; vertical-align: middle; }
#main .oneThumbRelative .legendThumb { margin-top: 5px; }
#main .oneThumbRelative .legendThumb p { color: rgb(173, 182, 185); font-size: 11px; }
.basicSidebar .oneThumbRelative { margin: 10px 0pt; }
.basicSidebar .oneThumbRelative .imgThumb { border: 1px solid rgb(210, 222, 229); overflow: hidden; width: 120px; height: 80px; margin-right: 10px; display: block; float: left; text-align: center; }
.basicSidebar .oneThumbRelative .imgThumb img {  }
.basicSidebar .oneThumbRelative .legendThumb { padding-top: 15px; float: left; width: 135px; }
.basicSidebar .oneThumbRelative .legendThumb p { color: rgb(173, 182, 185); }
.evaluation { border-left: 1px solid rgb(203, 204, 205); border-right: 1px solid rgb(203, 204, 205); margin: 15px 0pt; clear: both; display: block; width: 100%; }
.orangeFanGreyBg { border-top: 1px solid rgb(203, 204, 205); border-bottom: 1px solid rgb(203, 204, 205); background-image: url('orange_fan_grey_bg.gif'); background-repeat: no-repeat; background-position: 2px 1px; padding-left: 25px; font-size: 14px; font-weight: bold; padding-top: 1px; height: 18px; background-color: rgb(203, 204, 205); }
.evaluation .encadreBordsGrisSansBordsHt { padding: 7px 12px; font-weight: bold; }
.evaluation .encadreGrisAvecBords { border-top: 1px solid rgb(222, 222, 222); border-bottom: 1px solid rgb(222, 222, 222); margin: 0pt; padding: 0pt; height: 20px; background-color: rgb(239, 239, 239); font-size: 12px; font-weight: bold; }
#news-content .evaluation ul li { list-style-type: none; list-style-image: none; list-style-position: outside; }
#news-content .evaluation ul.listingInLine { margin: 0pt; padding: 3px 0pt; }
#news-content .evaluation ul.listingInLine li { border: 0px solid red; margin: 0pt 0pt 0pt 10px; padding: 0pt; width: 278px; text-align: center; float: left; }
#news-content .evaluation ul.listing { margin: 0pt; padding: 0pt; }
#news-content .evaluation ul.listing li { border: 0px solid blue; margin: 0pt; width: 219px; padding-left: 31px; text-align: left; }
#news-content li.evalPlus { background-image: url('eval_plus.gif'); background-repeat: no-repeat; background-position: 10px 2px; }
#news-content li.evalMoins { background-image: url('eval_moins.gif'); background-repeat: no-repeat; background-position: 10px 2px; }
.StripesBg { border-style: none solid solid; border-color: -moz-use-text-color rgb(222, 222, 222) rgb(222, 222, 222); border-width: 0pt 1px 1px; clear: both; float: left; background-image: url('bg_grey_border.gif'); background-position: 283px 0px; background-repeat: repeat-y; padding-top: 5px; padding-bottom: 7px; width: 100%; }
.tablo-title, th { border: 1px solid white; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 12px; font-weight: bold ! important; text-align: center; color: rgb(255, 255, 255); text-decoration: none ! important; background-color: rgb(51, 102, 153); }
.tablo tr { border: 1px solid white; height: 20px; }
.pointerhand { cursor: pointer; }
table.tablo { border: 1px solid white; margin: 10px auto; background-color: rgb(255, 255, 255); width: 450px; }
.tablo td { border: 1px solid white; padding: 5px; }
.selection { border-width: 1px; color: rgb(0, 0, 0); font-size: 12px; font-weight: normal; }
tr.myrow, td.myrow, .tablo tr { border: 1px solid white; background-color: rgb(255, 255, 255); }
tr.myrowt, td.myrowt { border: 1px solid white; background-color: rgb(51, 102, 153); }
tr.myrowo, td.myrowo { border: 1px solid white; background-color: rgb(239, 239, 239); }
tr.myrowt th { border: 1px solid white; width: 100%; }
.insideNews ul { margin: 1.5em 0pt 0pt 3em; list-style-type: disc; list-style-image: none; list-style-position: outside; }
.insideNews ul li { padding: 3px 0pt 0pt; }
a.termeLexique { background: transparent url('lexique_th.gif') no-repeat scroll right center; text-decoration: none; color: rgb(6, 108, 182); padding-right: 6px; padding-top: 8px; }
#BOM-Lexique { padding: 0pt 6px 6px 0px; background: transparent url('shadowalpha.png') no-repeat scroll right bottom; width: 400px; text-align: left; position: absolute; top: 50%; left: 30%; z-index: 20; }
#BOM-Lexique table { border: 1px solid silver; padding: 3px; background: white none repeat scroll 0% 0%; width: 404px; -moz-border-radius-topleft: 10px; -moz-border-radius-topright: 10px; -moz-border-radius-bottomright: 10px; -moz-border-radius-bottomleft: 10px; margin-left: -4px; margin-top: -4px; position: relative; }
#BOM-Lexique-strong { padding-left: 4px; font-weight: bold; }
#BOM-Lexique table th { margin: 1px; padding: 5px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; font-weight: bold; font-size: 13px; color: black; text-align: left; display: block; }
#BOM-Lexique-close { background: transparent url('bt-close.gif') no-repeat scroll left top; overflow: hidden; position: absolute; top: 3px; right: 12px; display: block; width: 14px; height: 14px; text-indent: -999px; }
#BOM-Lexique-logo { background: transparent url('logo_lexique.png') no-repeat scroll right top; overflow: hidden; top: 3px; right: 32px; width: 30px; height: 30px; display: block; text-indent: -999px; float: left; }
#BOM-Lexique-link { padding: 3px; text-align: right; display: block; color: rgb(80, 167, 234); }
#BOM-Lexique-def { padding: 5px; }
#BOM-Lexique-nameHead { font-weight: 700; color: rgb(80, 167, 234); }
#BOM-Lexique-nameFooter { font-weight: 700; color: rgb(80, 167, 234); }
span.BOM-Lexique-notVisibleData { display: none; }
div#topConsultation { position: relative; z-index: 100; }
.oneTopConsultation { border: 0px solid red; padding: 8px 1px; text-align: center; float: left; width: 190px; height: 140px; margin-left: 3px; background-color: rgb(255, 255, 255); }
.borderR { border-right: 1px dotted rgb(177, 190, 202); }
.borderHGR { border-style: solid solid none; border-color: rgb(215, 215, 215) rgb(215, 215, 215) -moz-use-text-color; border-width: 1px 1px 0pt; background-color: rgb(255, 255, 255); z-index: 20; height: 150px; }
.price { padding: 5px 0pt; font-weight: bold; color: rgb(194, 11, 41); display: block; font-size: 12px; }
.opaciteMoin { opacity: 0.2; height: 100%; }
div.tablauxPrix { border: 1px solid rgb(215, 215, 215); position: absolute; background-color: rgb(255, 255, 255); width: 100%; left: 0px; top: 153px; z-index: 2; }
div.comparateurv2 { border: 1px solid rgb(221, 221, 221); margin: 0pt auto; padding: 1px; width: 90%; }
div.comparateurv2 .spip { font-size: 11px; }
div.tablauxPrix div.comparateurv2 { border: 0pt none ; width: 100%; }
div.comparateurv2 table { width: 100%; }
div.comparateurv2 th { border: 1px solid rgb(255, 255, 255); background: rgb(235, 235, 235) none repeat scroll 0% 0%; text-align: center; color: rgb(0, 0, 0); }
div.comparateurv2 th a.compar_link { text-align: left; display: block; width: 340px; float: left; }
div.comparateurv2 th p { text-align: right; float: right; color: rgb(0, 0, 0); font-weight: lighter; margin-top: 5px; }
div.comparateurv2 th p strong { font-weight: 700; }
div.comparateurv2 .row_first th { background: transparent url('bg-th-red.gif') repeat-x scroll left top; color: rgb(255, 255, 255); }
div.comparateurv2 th a { color: rgb(19, 120, 224); font-weight: lighter; }
div.comparateurv2 strong.compar_total { color: rgb(201, 37, 59); text-decoration: underline; font-weight: 700; }
div.comparateurv2 tr#rowUnderlined { background-color: rgb(125, 125, 125); color: rgb(255, 255, 255); cursor: pointer; }
div.comparateurv2 tr#rowUnderlined strong.compar_total { color: rgb(255, 255, 255); }
div.comparateurv2 td.compar_cp { background: transparent url('bg-comparov2.gif') no-repeat scroll right bottom; height: 45px; }
div.comparateurv2 td.compar_cp input { margin: 0px; vertical-align: middle; display: inline-block; }
div.comparateurv2 td.compar_cp label { font-weight: 700; color: rgb(0, 0, 0); z-index: 100; }
div.comparateurv2 div.lesprixV2 { position: relative; }
div.comparateurv2 .cpSuggest { border-style: none solid solid; border-color: -moz-use-text-color rgb(221, 221, 221) rgb(221, 221, 221); border-width: 0pt 1px 1px; margin: 34px 0pt 0pt; background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 350px; position: absolute; top: 0pt; right: 0pt; opacity: 0.95; text-align: right; }
div.comparateurv2 .cpSuggest li { border-top: 1px solid rgb(221, 221, 221); margin: 0pt; padding: 5px; cursor: pointer; }
div.comparateurv2 a.closeSuggest { background: transparent url('bt-close-compar.gif') no-repeat scroll 0% 0%; height: 14px; width: 14px; position: absolute; top: 42px; right: 330px; text-indent: -999px; z-index: 10; }
#logoNum { float: right; }
#logoNum span { font-style: italic; float: left; }
#sommairePagi { float: left; font-weight: bold; line-height: 35px; margin-right: 10px; }
#news-content ul.paginationReviewsNum { margin: 0pt; padding: 0pt; list-style-type: none; }
ul.paginationReviewsNum li { float: left; width: 30%; }
ul.paginationReviewsNum li.mid { margin: 0pt auto; text-align: center; width: 20%; float: none; }
ul.paginationReviewsNum li.next { text-align: right; float: right; }
ul.paginationReviewsNum li.prev a { padding: 0pt 5px 5px 10px; background: transparent url('previous.gif') no-repeat scroll left center; }
ul.paginationReviewsNum li.next a { padding: 0pt 10px 5px 5px; background: transparent url('next.gif') no-repeat scroll right center; }
#encadre { margin: 0pt 0pt 15px 15px; padding: 10px; background: rgb(239, 239, 239) none repeat scroll 0% 0%; float: right; width: 178px; font-size: 10px; }
#encadre h5 { margin: 0pt 0pt 5px; padding: 0pt; font-size: 16px; color: rgb(10, 113, 214); text-align: center; }
#encadre span.imgContent { margin: 0pt; padding: 0pt; display: block; float: none; text-align: center; }
#encadre span.imgContent .spipLegend { display: none; }
#header-news-infos { font-size: 10px; padding-top: 2px; }
#header-news-tools { float: right; }
#header-news-tools ul li { display: inline; color: rgb(17, 67, 118); }
#header-news-tools ul li a { background: transparent url('header-news-tools.png') no-repeat scroll left 1px; font-size: 9px; padding-left: 20px; }
#header-news-tools ul li #printTools { padding: 1px 0pt 1px 20px; background-position: left -10px; }
#header-news-tools ul li #commentTools { background-position: left -25px; }
#header-news-tools ul li #bookmarkTools { background-position: left -38px; padding-left: 15px; }
#header-nextNews { background: transparent url('header-news-tools.png') no-repeat scroll right -65px; position: absolute; right: 0pt; top: 10px; font-size: 14px; font-weight: bold; padding-right: 25px; }
#header-news { margin-bottom: 10px; }
.price { display: inline; }
a.price:visited { color: rgb(194, 11, 41); }
.greyTables h4, .greyTablesHalf h4 { padding: 5px 0pt 5px 20px; background-color: rgb(203, 210, 217); font-size: 12px; font-weight: bold; color: rgb(0, 0, 0); }
.greyTablesHalf { width: 308px; float: left; margin-right: 2px; }
.btmGreyTables { padding: 5px 0pt 5px 20px; background-color: rgb(236, 238, 240); }
.simplePagination { margin-top: 10px; }
.simplePagination-previous a, .simplePagination-next a { background: transparent none repeat scroll 0% 0%; padding-left: 0pt; }
.simplePagination-previous a.newsPrev { background: transparent url('header-news-tools.png') no-repeat scroll left -50px; padding-left: 20px; }
.simplePagination-next a.newsNext { background: transparent url('header-news-tools.png') no-repeat scroll right -67px; padding-right: 25px; }
.titleNewsSidebar { margin: 5px 0pt; background: transparent url('bg-newssidebartitle.png') repeat-y scroll right top; line-height: 22px; font-size: 12px; font-weight: bold; color: rgb(60, 59, 59); }
.titleNewsSidebar span { display: block; float: left; width: 31px; height: 25px; margin-right: 5px; background-image: url('bg-pictosidebar.png'); background-repeat: no-repeat; }
.titleNewsSidebar span.articles { background-position: left top; }
.titleNewsSidebar span.charts { height: 32px; background-position: left -30px; }
.titleNewsSidebar span.news { background-position: left -63px; }
#newsPage .dropMenuv2 { margin: 0pt 18px 0pt 0pt; float: right; }
#newsPage .dropMenuv2 .dropMenu-title { width: 110px; }

/* ::::: http://m.bestofmedia.com/s/30441/tomshardware/css/tw.css ::::: */

#lang-site { background-position: -75px top; width: 21px; }
#header #header-banner div.h1 a { overflow: hidden; display: block; text-indent: -999px; width: 239px; height: 116px; }
#header #header-menu #header-sections li a { border-left: 1px solid rgb(255, 255, 255); padding: 0pt 10px 0pt 22px; height: 32px; display: block; font-weight: bold; letter-spacing: 12px; position: relative; z-index: 5; }
#header #header-menu #header-sections li.active a:hover { border-left: 0pt none; background-color: transparent; background-image: url('bg-headermenuactive.gif'); background-repeat: repeat-x; background-attachment: scroll; text-decoration: none; }
.condensedVision li p.plain { width: 100%; }

/* ::::: http://www.tomshardware.tw/css/migration.css ::::: */

#news-content h4 { font-weight: bold; color: rgb(55, 55, 55); font-size: 13px; line-height: 16px; margin-bottom: 1.5em; }
#news-content h5 { font-weight: bold; color: rgb(55, 55, 55); margin-bottom: 1.5em; font-size: 13px; line-height: 16px; }
#news-content h6 { border: 1px dotted rgb(189, 193, 197); padding: 5px 5px 5px 10px; font-weight: bold; color: rgb(55, 55, 55); margin-bottom: 1.5em; font-size: 10px; line-height: 12px; }
#news-content table { margin: 0pt auto 1.5em; }
#news-content table tbody td, #news-content table tbody th { border: 1px solid rgb(163, 163, 163); padding: 5px; }
#news-content table tbody th { background: transparent url('bg-th.gif') repeat-x scroll left top; color: rgb(255, 255, 255); font-weight: bold; text-align: center; }
.supReview:after { overflow: hidden; content: "."; display: block; height: 0pt; clear: both; visibility: hidden; }
.supReview { display: inline-block; }
* html .supReview { height: 1%; }
.supReview { display: block; }
p.left img { float: left; }
p.right img { float: right; }
p.supReview img { border: 1px solid rgb(163, 163, 163); margin: 5px 10px 0pt 0pt; }
