
/* ::::: http://tw.yimg.com/i/tw/blog/css/blog_global080610.css ::::: */

body { margin: 0pt 0pt 16px; padding: 0pt; background: white none repeat scroll 0% 0%; font-family: "Arial","MingLiU","PMingLiU"; font-size: 80%; }
fieldset { border-width: 0pt; margin: 0pt; padding: 0pt; }
input, select, option, textarea { font-family: "Arial","MingLiU","PMingLiU"; }
h1, h2, h3, h4, h5, h6, th, blockquote, p, ul, li, form, fieldset { margin: 0pt; padding: 0pt; font-size: 100%; font-weight: normal; list-style-type: none; list-style-image: none; list-style-position: outside; }
th, td { text-align: left; font-weight: normal; }

table { border-collapse: collapse; width: 100%; }
p, span {  }
a img { border: medium none ; }
a { color: rgb(0, 0, 187); }
a:visited { color: rgb(57, 135, 198); }
a:hover { color: red; }
a:active { color: red; }
.thrcol { width: 100%; }
.thrcol[class] { min-width: 930px; }
.ycnt3col { margin: 0pt 10px; }
.ycnt3col:after { content: "."; height: 0pt; visibility: hidden; display: block; clear: both; }
.thrcol .yc3main { width: 100%; float: left; margin-left: -160px; }
.thrcol .yc3mainbd { margin-left: 160px; }
.thrcol .yc3pri { width: 100%; float: right; margin-right: -160px; }
.thrcol .yc3pribd { margin-right: 160px; }
.thrcol .yc3subbd { width: 150px; float: right; }
.thrcol .yc3sec { width: 150px; }
.thrcol .yc3sub { z-index: 1; }
.thrcol .yc3pri, .thrcol .yc3main { z-index: 10; }
.twocolga #yhtw_mastfoot, .twocoldr #yhtw_mastfoot { margin: 0pt auto; width: 750px; }
.twocolga, .twocoldr {  }
.twocolga[class], .twocoldr[class] { min-width: 750px; }
.twocolga .ycnt3col, .twocoldr .ycnt3col { margin: 0pt auto; width: 750px; text-align: left; }
.twocolga .yc3main { width: 100%; float: left; margin-left: -160px; }
.twocolga .yc3mainbd { margin-left: 160px; }
.twocolga .yc3pri { width: 100%; }
.twocolga .yc3subbd { width: 150px; float: right; }
.twocolga .yc3sec { display: none; }
.twocoldr .yc3main { width: 100%; float: right; margin-right: -160px; }
.twocoldr .yc3mainbd { margin-right: 160px; }
.twocoldr .yc3pri { width: 100%; }
.twocoldr .yc3subbd { width: 150px; }
.twocoldr .yc3sec { display: none; }
.ycntmod { overflow: hidden; width: 100%; position: relative; margin-bottom: 10px; }
.ycntmod .rctop { background: transparent url('mod_nw.gif') no-repeat scroll left top; margin-right: 5px; }
.ycntmod .rctop div { background: transparent url('mod_ne.gif') no-repeat scroll right top; height: 5px; font-size: 0pt; position: relative; right: -5px; }
.ycntmod .rcbtm { background: transparent url('mod_sw.gif') no-repeat scroll left bottom; margin-right: 5px; }
.ycntmod .rcbtm div { background: transparent url('mod_se.gif') no-repeat scroll right bottom; height: 5px; font-size: 0pt; position: relative; right: -5px; }
.ycntmod .rcl { background: transparent url('mod_left.gif') repeat-y scroll 0% 0%; padding-left: 5px; }
.ycntmod .rcr { background: transparent url('mod_right.gif') repeat-y scroll right center; padding-right: 5px; }
.ycntmod .text { position: relative; }
.yc3pribd .ycntmod { overflow: visible; }
.yc3pribd .ycntmod .yblogcnt { overflow: hidden; }
.ycntmod .mhd { height: 30px; }
.ycntmod .mhd h3 { padding: 8px 0pt 0pt 8px; font-size: 120%; }
.ycntmod .mbd { padding: 5px; }
.ycntmod .mft, .ycntmod .pagination { padding: 5px 0pt; text-align: center; font-family: verdana; }
.ycntmod .mft strong, .ycntmod .pagination strong { margin: 0pt 3px; font-weight: normal; }
.ycntmod .mft a, .ycntmod .pagination a { margin: 0pt 3px; }
.ycntmod .mbd ul.list { padding-left: 5px; }
.ycntmod .mbd ul.list li { background: transparent url('bullet.gif') no-repeat scroll left 0.6em; padding-left: 10px; margin-bottom: 5px; color: rgb(102, 102, 102); }
.ycntmod .mbd ul.list li a { margin-right: 5px; }
.ycntmod .mbd ul.list li.more { margin: 10px 0pt 0pt 10px; background: transparent url('arrow_more.gif') no-repeat scroll 45px center; text-align: right; }
.ycntmod .mbd ul.list li.more a { margin: 0pt; }
span.prev { background: transparent url('arrow_page_prev.gif') no-repeat scroll left center; padding-left: 10px; }
span.next { background: transparent url('arrow_page_next.gif') no-repeat scroll right center; padding-right: 10px; }
#yblogtitle .thd, #yblogtitle .tft, .yblogcnt .blgtitlebar, .yblogcnt .blgfolderbar, .yblogcnt .msgcontent, #yarticle .more, #yartsum .more, #yphtlist .more, .actbtns, .yvstrcmnt, .ycmntreply, #ysbscrblist .actionbar, #ycmntlist .actionbar, #yphtsingle .mhd {  }
#yblogtitle .thd:after, #yblogtitle .tft:after, .yblogcnt .blgtitlebar:after, .yblogcnt .blgfolderbar:after, .yblogcnt .msgcontent:after, #yarticle .more:after, #yartsum .more:after, #yphtlist .more:after, .actbtns:after, .yvstrcmnt:after, .ycmntreply:after, #ysbscrblist .actionbar:after, #ycmntlist .actionbar:after, #yphtsingle .mhd:after { content: "."; height: 0pt; visibility: hidden; display: block; clear: both; }
#yblogtitle .mbd { background: rgb(204, 255, 204) none repeat scroll 0% 0%; }
#yblogtitle .thd, #yblogtitle .tft {  }
#yblogtitle .thd h1 { display: inline; font-size: 120%; }
#yblogtitle .thd, #yblogtitle .tbd { margin-bottom: 5px; }
#yblogtitle .tbd p { display: inline; line-height: 1.5em; }
#yblogtitle .tft { text-align: right; padding-bottom: 5px; position: relative; }
#yblogtitle .tft div { float: right; margin-left: 5px; }
div.edit, div.leavemsg { display: inline; margin-left: 5px; }
* html div.edit a { background: transparent url('btn_edit.gif') no-repeat scroll left top; overflow: hidden; display: inline-block; width: 13px; height: 13px; }
* html div.edit a span { display: block; font-size: 0pt; padding-left: 15px; }
div.edit[class] a { background: transparent url('btn_edit.gif') no-repeat scroll left center; padding-left: 15px; }
div.edit[class] a span { display: none; }
#yblogtitle .tft div a span { display: none; }
div.btncompose a { background: transparent url('btn_postblog.gif') no-repeat scroll 0% 0%; overflow: hidden; display: block; width: 76px; height: 22px; }
div.btnphoto a { background: transparent url('btn_ulimg.gif') no-repeat scroll 0% 0%; overflow: hidden; display: block; width: 76px; height: 22px; }
div.btnsetup a { background: transparent url('btn_setupblog.gif') no-repeat scroll 0% 0%; overflow: hidden; display: block; width: 92px; height: 22px; }
div#btnsbsrb a, div#btnsbsrb_nologin a { background: transparent url('btn_subscribe.gif') no-repeat scroll 0% 0%; overflow: hidden; display: block; width: 89px; height: 22px; }
#ypopsub { border: 1px solid black; background: rgb(255, 255, 255) none repeat scroll 0% 0%; position: absolute; visibility: hidden; width: 600px; height: auto; }
#ypopsub iframe { display: none; }
#ypopsub .popclose { background: rgb(243, 243, 243) none repeat scroll 0% 0%; text-align: right; margin-bottom: 10px; }
#ypopsub #closeme { padding: 5px; line-height: 1.8em; cursor: pointer; }
#yblgsubpop { margin: 0pt 10px; width: 95%; }
#yblgsubpop .mhd { background: rgb(183, 237, 241) none repeat scroll 0% 0%; }
#yblgsubpop .mhd h3 { font-weight: bold; }
#yblgsubpop .rcbd { border-style: solid; border-color: rgb(204, 204, 204); border-width: 0pt 1px; padding: 0pt 5px; }
#yblgsubpop .mbd h3 { padding: 5px 10px; background: rgb(219, 246, 248) none repeat scroll 0% 0%; }
#yblgsubpop table, #yblgsubpop th, #yblgsubpop td { border: 1px solid rgb(230, 230, 230); line-height: 1.5em; }
#yblgsubpop th { padding: 5px; background: rgb(243, 243, 243) none repeat scroll 0% 0%; text-align: right; vertical-align: middle; }
#yblgsubpop td { padding: 5px; vertical-align: top; }
input#blog_id, input#remark { width: 300px; }
#yblgsubpop b { padding-left: 5px; color: rgb(255, 0, 0); font-weight: normal; }
#yblgsubpop p { padding: 10px 0pt; text-align: center; }
.invisible .newcat { display: none; }
.visible .newcat { display: block; }
#ymodprf .mbd { padding: 0pt 0pt 5px; text-align: center; }
#ymodprf #yprf { text-align: center; }
#ymodprf #yprflg { margin: 5px auto; }
#ymodprf #yprfsm a img { margin: 0pt 1px 5px; display: inline; width: 40px; }
#ymodprf .nickname { padding-bottom: 5px; }
#ymodprf .horos { padding-bottom: 5px; }
div.btnulprfphoto, div.btneditprf { margin: 0pt auto; text-align: center; width: 102px; }
div.btnulprfphoto { margin-bottom: 5px; }
div.btnulprfphoto a { background: transparent url('btn_profileimg.gif') no-repeat scroll center top; display: block; height: 22px; }
div.btneditprf a { background: transparent url('btn_profile.gif') no-repeat scroll center top; display: block; height: 22px; }
div.btnulprfphoto a span, div.btneditprf a span { display: none; }
#ymodcal .selyr { padding: 5px 0pt 0pt 3px; width: 45%; float: left; }
#ymodcal .selmn { padding: 5px 3px 0pt; float: right; text-align: right; }
#ymodcal .mhd a { text-decoration: none; font-weight: bold; }
#ymodcal .mhd span a { font-size: 70%; font-weight: normal; }
#ymodcal .mbd td strong { font-weight: bold; text-decoration: underline; }
#ymodcal .mhd .text .selyr, #ymodcal .mhd .text .selmn { position: relative; }
#ymodcal .mbd { padding: 5px 0pt; }
#ymodcal table { background: transparent none repeat scroll 0% 0%; font-size: 88%; }
#ymodcal th, #ymodcal td { text-align: center; }
#ymodcal th { font-weight: bold; }
#ymodcal form {  }
#ymodmsgbd .mhd h3 { font-weight: normal; }
#ymodalbm .mhd h3 { font-weight: normal; }
#ymodrss .mhd { height: auto; }
#ymodrss .mhd .text { padding: 5px; }
#ymodrss .mhd span { display: block; position: relative; margin-left: 1px; margin-right: 1px; }
#ymodrss .mhd span a { background: transparent none repeat scroll 0% 0%; display: block; text-indent: -5000px; }
#rssmyy { margin: 0pt; background: transparent url('addtomyyahoo3.gif') no-repeat scroll left center; overflow: hidden; width: 62px; height: 17px; text-decoration: none; float: left; }
#rssfeed { margin: 0pt; background: transparent url('rss.gif') no-repeat scroll left center; overflow: hidden; width: 28px; height: 17px; text-decoration: none; float: left; }
#rssfaq { margin: 0pt; background: transparent url('rss_faq.gif') no-repeat scroll left center; overflow: hidden; width: 13px; height: 17px; text-decoration: none; }
#ymodstats li { line-height: 1.5em; }
#ymodupdate .mbd .date { background: transparent url('update_img.gif') no-repeat scroll left center; padding-left: 20px; font-size: 86%; font-family: verdana; }
#ybloginfo .mhd h3 { float: left; font-weight: bold; }
#ybloginfo .reportbtns { margin: 5px; float: right; }
#ybloginfo .mbd { padding: 5px 0pt; }
table#bloginfo, table#usrinfo { border-style: solid; border-color: rgb(204, 204, 204); border-width: 1px 0pt 0pt 1px; }
table#bloginfo th, table#bloginfo td, table#usrinfo th, table#usrinfo td { border-style: solid; border-color: rgb(204, 204, 204); border-width: 0pt 1px 1px 0pt; padding: 10px; }
table#bloginfo th { background: rgb(243, 243, 243) none repeat scroll 0% 0%; width: 9em; }
table#usrinfo th { background: rgb(243, 243, 243) none repeat scroll 0% 0%; text-align: right; width: 5em; }
#yusrinfo .mhd h3 { font-weight: bold; }
#yusrintro .mhd h3 { font-weight: bold; }
#yusrintro .mbd { border: 1px solid rgb(204, 204, 204); padding: 0pt; }
#yusrintro .mbd p { padding: 5px; }
#yarticle .yblogcnt { border-bottom: 1px dotted rgb(204, 204, 204); padding: 5px 0pt 10px; }
.yblogcnt .blgtitlebar { margin-bottom: 10px; }
.yblogcnt .blgtitlebar h2 { font-size: 126%; font-weight: bold; }
.yblogcnt .blgtitlebar h2 a { padding-right: 5px; }
#yarticle .yblogcnt p { line-height: 1.5em; padding-bottom: 1em; }
#ypartsingle #yarticle .yblogcnt { border-bottom: medium none; }
.yblogcnt .mngbtns { float: right; }
.yblogcnt .mngbtns div { padding: 0pt 5px; float: left; margin-left: 5px; }
.yblogcnt .mngbtns div a { color: rgb(0, 0, 0); text-decoration: none; }
.yblogcnt .mngbtns div a:hover { color: rgb(255, 0, 0); }
div.btnblgedit, div.btnblgdel, div.btnblgreport { border-style: solid; border-color: rgb(204, 204, 204) rgb(153, 153, 153) rgb(153, 153, 153) rgb(204, 204, 204); border-width: 2px; }
div.btnblgedit { background: rgb(224, 224, 194) none repeat scroll 0% 0%; }
div.btnblgdel, div.btnblgreport { background: rgb(255, 196, 225) none repeat scroll 0% 0%; }
.yblogcnt .blgfolderbar { margin: 20px 0pt 10px; }
.yblogcnt .blgfolderbar .folder { float: left; }
.yblogcnt .blgfolderbar .date { text-align: right; font-family: verdana; font-style: normal; font-variant: normal; font-weight: normal; font-size: 80%; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; margin-top: 1px; }
.yblogcnt .msgcontent b, .yblogcnt .msgcontent strong { font-weight: bold; }
.yblogcnt .msgcontent { margin-bottom: 5px; }
.yblogcnt .msgcontent .artimg img { display: block; max-width: 500px; margin-bottom: 20px; }
.yblogcnt .msgcontent .artthumb { margin: 0pt 5px 10px 0pt; float: left; }
#yarticle .more, #yartsum .more, #yphtlist .more { padding: 5px 0pt; }
#yarticle .more a, #yartsum .more a, #yphtlist .more a { background: transparent url('arrow_more.gif') no-repeat scroll left center; float: right; padding-left: 12px; }
.actbtns { margin-bottom: 5px; }
.actbtns div { float: right; margin-left: 5px; }
.actbtns div span { display: none; }
div.btncomment a { background: transparent url('reply_btn.gif') no-repeat scroll 0% 0%; display: block; height: 18px; width: 68px; }
div.btntrackback a { background: transparent url('btn_trackback.gif') no-repeat scroll 0% 0%; display: block; height: 18px; width: 68px; }
.showcmnt { text-align: right; }
.showcmnt span { border-right: 1px solid rgb(0, 0, 0); padding-right: 5px; font-family: verdana; font-size: 90%; }
.showcmnt span:last-child { border: medium none ; }
.showcmnt span a { padding: 0pt 2px; font-size: 110%; }
.browsebtns { margin: 10px 0pt; text-align: right; }
.browsebtns span { margin-left: 5px; font-size: 120%; }
span.prevart { background: transparent url('arrow_page_prev.gif') no-repeat scroll left center; padding-left: 10px; }
span.nextart { background: transparent url('arrow_page_next.gif') no-repeat scroll right center; padding-right: 10px; }
table.displayalbum { border-bottom: 1px dotted rgb(204, 204, 204); margin-bottom: 5px; }
table.displayalbum td { padding: 8px 0pt; text-align: center; }
table.displayalbum a img { margin: 0pt auto 5px; display: block; }
#yjntlist .mbd { padding-top: 0pt; }
table.jointlist td { border-right: 1px solid rgb(204, 204, 204); border-bottom: 1px dotted rgb(204, 204, 204); padding: 5px; width: 50%; }
table.jointlist tr + tr > td { border-bottom: medium none; }
table.jointlist td + td { border-right: medium none; }
#yjntlist h2 { font-family: verdana; font-style: normal; font-variant: normal; font-weight: bold; font-size: 120%; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; margin-bottom: 5px; }
#yjntlist .date { font-family: verdana; font-style: normal; font-variant: normal; font-weight: normal; font-size: 90%; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; text-align: right; margin-bottom: 5px; }
#yjntlist p { margin-bottom: 5px; }
#yjntlist .user { background: transparent url('user.gif') no-repeat scroll left center; float: right; padding-left: 15px; }
#yjntlist .noContent { margin: 10px 0pt; }
.toggle_item { overflow: hidden; }
.toggle_item.visible .cmntbd { display: block; }
.toggle_item.invisible .cmntbd { display: none; }
.toggle_item.visible a.norgie { background: transparent url('norgie_close.gif') no-repeat scroll left center; padding-left: 15px; }
.toggle_item.invisible a.norgie { background: transparent url('norgie_open.gif') no-repeat scroll left center; padding-left: 15px; }
.toggle_item .hide { display: none; }
.toggle_item .cmnthd { border-bottom: 1px dotted rgb(204, 204, 204); line-height: 2em; }
.toggle_item .cmnthd a { margin-right: 2px; }
.yvstrcmnt { border-bottom: 1px dotted rgb(204, 204, 204); padding: 10px 0pt; }
.yvstrcmnt .vstrthumb { float: left; padding-right: 5px; }
.yvstrcmnthd { font-family: verdana; margin-bottom: 5px; }
.yvstrcmnthd div { display: inline; }
div.btncmntdel { border-style: solid; border-color: rgb(204, 204, 204) rgb(153, 153, 153) rgb(153, 153, 153) rgb(204, 204, 204); border-width: 2px; padding: 0pt 5px; background: rgb(255, 196, 225) none repeat scroll 0% 0%; float: right; margin-left: 5px; }
div.btncmntdel a { padding: 0pt; text-decoration: none; }
.yvstrcmnthd a, .yvstrcmnthd cite { padding: 0pt 2px; font-style: normal; }
.reportbtns span { border-style: solid; border-color: rgb(204, 204, 204) rgb(153, 153, 153) rgb(153, 153, 153) rgb(204, 204, 204); border-width: 2px; padding: 0pt 5px; background: rgb(255, 196, 225) none repeat scroll 0% 0%; margin-left: 2px; }
.reportbtns span a { text-decoration: none; white-space: nowrap; }
#yartcmt .yvstrcmntbd, #yarttrk .yvstrcmntbd { margin-left: 45px; }
div.btncmntre { border-style: solid; border-color: rgb(204, 204, 204) rgb(153, 153, 153) rgb(153, 153, 153) rgb(204, 204, 204); border-width: 2px; padding: 0pt 5px; background: rgb(224, 224, 194) none repeat scroll 0% 0%; float: right; }
div.btncmntre a { padding: 0pt; text-decoration: none; }
.ycmntreply { border: 1px solid rgb(204, 204, 204); padding: 5px; margin-top: 5px; }
#ymsgboard .mhd q, #yarticle .mhd q { border-style: solid; border-color: rgb(255, 255, 255) rgb(0, 0, 0) rgb(0, 0, 0) rgb(255, 255, 255); border-width: 2px; padding: 0pt 5px; background: rgb(212, 208, 200) none repeat scroll 0% 0%; display: block; float: right; position: relative; margin-right: 5px; font-size: 120%; margin-top: 5px; }
#ymsgboard .mhd q a, #yarticle .mhd q a { text-decoration: none; }
.yvstrcmnthd .cmntmsginfo { float: right; width: 42%; }
.yvstrcmnthd .date { padding: 3px 5px 0pt 0pt; float: right; font-size: 90%; margin-left: 5px; white-space: nowrap; }
.cmntmsginfo img { float: right; margin-top: 2px; }
.yvstrcmntbd .vstrthumblg { margin: 0pt 5px 5px 0pt; float: left; }
#ymsgboard .ycmntreply, #ymngmsg .ycmntreply { margin-left: 100px; clear: left; }
#ymngmsg .mhd q { padding: 6px 5px 0pt 0pt; display: block; position: relative; float: right; }
#ymngmsg .mhd span a { text-decoration: none; }
span.btnmsgdel, span.btnmsgcnl { border-style: solid; border-color: rgb(204, 204, 204) rgb(153, 153, 153) rgb(153, 153, 153) rgb(204, 204, 204); border-width: 2px; padding: 0pt 5px; }
span.btnmsgdel { background: rgb(255, 196, 225) none repeat scroll 0% 0%; }
span.btnmsgcnl { background: rgb(224, 224, 194) none repeat scroll 0% 0%; }
#ymngmsg .mbd { padding: 0pt; }
#ymngmsg .actionbar { padding: 5px 0pt; background: rgb(243, 243, 243) none repeat scroll 0% 0%; text-align: right; height: 1.8em; }
#ymngmsg .actionbar span, #yphtgallery .makeselect span, #ysbscrblist .makeselect span { border-left: 1px solid rgb(0, 0, 0); padding: 0pt 5px; cursor: pointer; text-decoration: underline; }
#ymngmsg .actionbar span:first-child, #yphtgallery .makeselect span:first-child, #ysbscrblist .makeselect span:first-child { border: medium none ; }
#ymngmsg .yvstrcmnt { padding: 10px 5px; }
#ymngmsg .btncmntre { margin-left: 5px; }
#ymngmsg .cmntmsginfo label { float: right; }
#ysbscrblist table#datatable th { text-align: center; }
#ysbscrblist .mhd h3 { float: left; margin-right: 10px; }
#ysbscrblist .mhd select { float: left; margin-top: 5px; }
#ysbscrblist .mhd a.rss { margin: 10px 10px 0pt; float: right; }
#ysbscrblist .actionbar { padding: 10px 0pt 5px; position: relative; text-align: right; height: 1.8em; }
#ysbscrblist .actionbar .makeselect, #yphtgallery .actionbar .makeselect { float: left; }
#ysbscrblist .mbd .text, #yphtgallery .mbd .text { z-index: 10; }
#ysbscrblist .mft .text, #yphtgallery .mft .text { z-index: 1; }
.menubutton { border-style: solid; border-color: rgb(204, 204, 204) rgb(153, 153, 153) rgb(153, 153, 153) rgb(204, 204, 204); border-width: 2px; background: rgb(230, 230, 230) url('downplain_1.gif') no-repeat scroll 100% 50%; margin-right: 5px; }
.menubutton button { border: medium none ; background: transparent none repeat scroll 0% 0%; padding-right: 12px; }
span.delbtn, span.blbtn, span.replybtn { border-style: solid; border-color: rgb(204, 204, 204) rgb(153, 153, 153) rgb(153, 153, 153) rgb(204, 204, 204); border-width: 2px; background: rgb(255, 196, 225) none repeat scroll 0% 0%; }
span.replybtn { background: rgb(204, 204, 204) none repeat scroll 0% 0%; border-top-color: rgb(238, 238, 238); border-left-color: rgb(238, 238, 238); }
span.delbtn button, span.blbtn button { border: medium none ; background: transparent none repeat scroll 0% 0%; cursor: pointer; }
span.replybtn button { border: medium none ; background: transparent none repeat scroll 0% 0%; cursor: pointer; }
.buttonmenu { border: 1px solid rgb(193, 193, 193); background: rgb(246, 246, 246) none repeat scroll 0% 0%; width: 150px; position: absolute; top: 0pt; visibility: hidden; }
.buttonmenu strong { display: none; }
.buttonmenu ul { border: 1px solid rgb(102, 102, 102); padding: 5px; }
.buttonmenu li { padding: 5px; display: block; width: auto; cursor: pointer; }
.buttonmenu li:hover, .buttonmenu li.hover { border: 1px solid rgb(193, 193, 193); background: rgb(230, 230, 230) none repeat scroll 0% 0%; }
table#datatable { border-style: solid; border-color: rgb(204, 204, 204); border-width: 1px 0pt 0pt 1px; margin: 5px 0pt; }
table#datatable th { border-right: 1px solid rgb(204, 204, 204); border-bottom: 1px solid rgb(204, 204, 204); padding: 5px; background: rgb(230, 230, 230) none repeat scroll 0% 0%; text-align: left; }
table#datatable td { border-right: 1px solid rgb(204, 204, 204); border-bottom: 1px solid rgb(204, 204, 204); padding: 10px; vertical-align: top; text-align: left; }
table#datatable .c1 { width: 20px; }
table#datatable .c2 { width: 100px; }
table#datatable .c4 { width: 100px; }
#ysbscrblist .user { background: transparent url('user.gif') no-repeat scroll left center; padding-left: 15px; }
#ycmntlist legend { display: none; }
#ycmntlist .mbd { padding: 5px 0pt; }
#ycmntlist .listhd ul { margin: 10px 0pt 0pt 8px; font-size: 120%; }
#ycmntlist .listhd li { display: inline; margin-right: 2px; line-height: 1.5em; }
#ycmntlist .listhd li a { background: rgb(238, 255, 204) none repeat scroll 0% 0%; text-decoration: none; }
#ycmntlist .listhd li strong, .listhd li a { border-style: solid solid none; border-color: rgb(204, 204, 204) rgb(204, 204, 204) -moz-use-text-color; border-width: 1px 1px medium; padding: 8px 10px 5px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#ycmntlist .listhd li strong { border-bottom: 1px solid rgb(255, 255, 255); padding: 9px 10px 3px; }
.listbd { border: 1px solid rgb(204, 204, 204); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#ycmntlist .actionbar { padding: 10px 5px; text-align: right; }
#ycmntlist .takeaction { float: left; }
#ycmntlist .takeaction[class] { position: relative; top: 2px; }
#ycmntlist .takeaction span { margin-left: 5px; }
.actionbar em { padding: 0pt 2px; font-style: normal; font-weight: bold; font-family: verdana; color: rgb(255, 0, 0); }
#ycmntlist table#datatable { border-width: 1px 0pt 0pt; margin: 0pt; }
#ycmntlist th, #ycmntlist td {  }
#ycmntlist th + th + th + th, #ycmntlist td + td + td { border-right: medium none; }
#ycmntlist th span { text-decoration: underline; cursor: pointer; }
#ycmntlist h4 { margin: 0pt 0pt 5px; font-size: 122%; }
#ycmntlist h4 a { text-decoration: none; }
#ycmntlist h4 a:hover { text-decoration: underline; }
#ycmntlist .private { padding: 0pt 10px; background: transparent url('private_ico.gif') no-repeat scroll 0% 0%; vertical-align: middle; display: inline-block; height: 1em; }
#ycmntlist td .takeaction { padding: 10px 0pt 0pt; float: none; text-align: right; }
#ycmntlist .reply, #ymsgboard .reply { margin: 10px 0pt 0pt 20px; padding: 10px; background: rgb(238, 238, 238) none repeat scroll 0% 0%; clear: both; display: block; }
#yphtgallery .mhd q, #yphtsingle .mhd q { border-style: solid; border-color: rgb(255, 255, 255) rgb(0, 0, 0) rgb(0, 0, 0) rgb(255, 255, 255); border-width: 2px; padding: 0pt 5px; background: rgb(212, 208, 200) none repeat scroll 0% 0%; display: block; float: right; position: relative; margin-right: 5px; font-size: 120%; margin-top: 5px; }
#yphtgallery .mhd q a, #yphtsingle .mhd q a { text-decoration: none; }
#yphtgallery .mhd h3 { float: left; margin-right: 10px; }
#yphtgallery .mhd select { margin-top: 5px; float: left; }
#yphtgallery .mhd a.rss { margin: 10px 10px 0pt; float: right; }
#yphtgallery .mbd { padding: 0pt; }
#yphtgallery .actionbar { padding: 10px 5px 5px 0pt; background: rgb(243, 243, 243) none repeat scroll 0% 0%; text-align: right; position: relative; height: 1.8em; }
#yphtgallery table#datatable, #yphtgallery table#datatable td { border: medium none ; margin: 0pt; text-align: center; }
#yphtgallery table#datatable td img, #yphtgallery table#datatable td label { margin: 0pt auto; display: block; }
#yphtgallery td input { width: 100%; cursor: pointer; }
#yphtgallery .takeaction button, #yphtsingle .takeaction button, #ysbscrblist .takeaction button, #ycmntlist .actionbar button { cursor: pointer; }
span.pubbtn, span.editbtn { border-style: solid; border-color: rgb(204, 204, 204) rgb(153, 153, 153) rgb(153, 153, 153) rgb(204, 204, 204); border-width: 2px; background: rgb(224, 224, 194) none repeat scroll 0% 0%; }
span.pubbtn button, span.editbtn button { border: medium none ; background: transparent none repeat scroll 0% 0%; }
#yphtsingle .mhd {  }
#yphtsingle .mbd { padding: 5px 0pt; }
#yphtsingle h2 { font-size: 126%; }
#yphtsingle h2 a { padding: 0pt 5px; }
#yphtsingle .date { text-align: right; padding-right: 5px; font-family: verdana; }
#yphtsingle .actionbar { padding: 10px 5px 5px 0pt; text-align: right; position: relative; }
#yphtsingle .phtcontent { margin: 10px 0pt; text-align: center; }
.phtcontent img { margin: 0pt auto 5px; display: block; }
#yphtsingle .browsebtns { padding-right: 5px; }
#yphtsingle #yartcmt { padding: 0pt 5px; }
#slideshow_ctnr { text-align: center; }
#slideshow_img { margin: 10px auto 5px; }
#slideshow_ctnr td { font-size: 80%; }
#slideshow_ctnr button { font-size: 11px; height: 2.5em; width: 3em; }
#yphtsingle table { width: auto; }
#yleavemsg .rcbtm, #yreplymsg .rcbtm {  }
#yleavemsg .mbd { padding: 5px 0pt; }
#yleavemsg legend { display: none; }
#yleavemsg th, #yreplymsg th { background: rgb(243, 243, 243) none repeat scroll 0% 0%; vertical-align: top; width: 6em; text-align: right; }
#yleavemsg table, #yreplymsg table { border-style: solid; border-color: rgb(204, 204, 204); border-width: 1px 0pt 0pt 1px; }
#yleavemsg th, #yleavemsg td, #yreplymsg th, #yreplymsg td { border-style: solid; border-color: rgb(204, 204, 204); border-width: 0pt 1px 1px 0pt; padding: 10px; }
#yleavemsg #post_public, #yleavemsg #post_hidden, #yreplymsg #post_public, #yreplymsg #post_hidden { margin-right: 5px; }
#yleavemsg .validate_img { display: block; }
#yreplymsg .mbd { padding: 0pt; }
#yreplymsg .yvstrcmnt { border-style: solid solid none; border-color: rgb(204, 204, 204) rgb(204, 204, 204) -moz-use-text-color; border-width: 1px 1px medium; padding: 10px 5px; }
#rtemodule { margin: 5px 0pt; padding-bottom: 10px; }
#rtemodule .privacy { padding: 8px 10px; }
#rtemodule .privacy input {  }
#ypost th { white-space: nowrap; }
.rteContainer { border: 1px solid rgb(179, 179, 179); width: 99.5%; margin-bottom: 5px; }
.rteContainer[class] { float: left; }
#rteToolbar { border-top: 1px solid rgb(255, 255, 255); border-left: 1px solid rgb(255, 255, 255); background: rgb(215, 215, 215) url('toolbar_gradient.gif') repeat-x scroll center top; float: left; width: 99.8%; }
#rteToolbar .btn, #rteToolbar .over, #rteToolbar .down, #rteToolbar .sep { display: block; float: left; }
#rteToolbar .btn { padding: 3px; }
#rteToolbar .over { border-style: solid; border-color: rgb(255, 255, 255) rgb(179, 179, 179) rgb(179, 179, 179) rgb(255, 255, 255); border-width: 1px; padding: 2px; }
#rteToolbar .down { border-style: solid; border-color: rgb(179, 179, 179) rgb(255, 255, 255) rgb(255, 255, 255) rgb(179, 179, 179); border-width: 1px; padding: 2px; }
#rteToolbar .sep { border-style: solid; border-color: rgb(187, 187, 187) rgb(255, 255, 255) rgb(255, 255, 255) rgb(187, 187, 187); border-width: 1px; height: 20px; margin-top: 3px; }
#rteToolbar img { display: block; }
#rteClrPlt, #rteSmiley, #rteFlush, #rteList { border: 1px solid rgb(115, 115, 115); position: absolute; visibility: hidden; top: 0pt; }
#rteClrPlt { width: 170px; height: 168px; }
#rteSmiley { width: 120px; height: 190px; }
#rteFlush { background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 110px; }
#rteList { background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 130px; }
#rte { clear: both; width: 100%; }
#rteEdit { height: 150px; width: 99.5%; }
#rteCnt { height: 150px; width: 100%; }
#postrte #caption { margin-bottom: 10px; vertical-align: middle; }
#rteNote { text-align: right; float: right; line-height: 1.5em; }
#postrte .action { clear: both; text-align: center; }
.hidecont { overflow: hidden; display: inline-block; width: 0pt; height: 0pt; position: relative; font-size: 0pt; text-indent: -5000px; line-height: 0pt; }
.multi-col { clear: both; }
.multi-col:after { content: "."; clear: both; display: block; height: 0px; visibility: hidden; }
a.btn { margin: 2px; background: transparent url('button.gif') no-repeat scroll 0% 0%; overflow: hidden; vertical-align: middle; display: inline-block; width: 89px; height: 22px; position: relative; font-size: 0pt; text-indent: -5000px; line-height: 0pt; cursor: pointer; }
#ysearchin .mhd h3 span { margin: 0pt 5px; font-size: 107%; }
#ysearchin hr { border-style: dashed none none; border-color: rgb(204, 204, 204) -moz-use-text-color -moz-use-text-color; border-width: 1px 0pt 0pt; height: 0px; }
#ysearchin .pricol { float: left; }
#ysearchin .seccol { float: right; }
#ysearchin .pricol em { margin: 0pt 5px 0pt 0pt; font-size: 122%; font-weight: bold; font-style: normal; }
#ysearchin .pricol strong { color: red; font-weight: bold; }
#ysearchin ul.list-photo { margin: 5px 0pt 15px; }
#ysearchin .list-photo li { margin: 0pt; overflow: hidden; float: left; text-align: center; width: 24%; height: 170px; }
#ysearchin .list-photo li.firstcol { clear: both; }
#ysearchin .list-photo li h4 { margin: 5px 0pt; font-size: 122%; }
#ysearchin cite { display: block; clear: both; text-align: right; font-style: normal; }
#ysearchin q { color: red; }
#ysearchin .list-photo li.firstcol { clear: both; }
#ysearchin dl.list-article { margin: 10px 0pt 0pt 10px; clear: both; }
#ysearchin .list-article dt .pricol { font-size: 122%; }
#ysearchin .list-article dt .seccol { padding: 5px 0pt 0pt; font-size: 85%; color: rgb(102, 102, 102); }
#ysearchin .list-article dd { margin: 10px 0pt 10px 1em; }
#ysearchin .list-article dd img { margin: 0pt 10px 0pt 0pt; float: left; }
#ysearchin .lock_art { padding: 0pt 15px 0pt 0pt; background: transparent url('private_ico.gif') no-repeat scroll 100% 30%; }
#ysearchin .lock_photo { padding: 0pt 0pt 0pt 15px; background: transparent url('private_ico.gif') no-repeat scroll 0pt 30%; }
#ysearchin b { color: red; font-weight: normal; }
#ysearchin a b { color: red; text-decoration: underline; font-weight: normal; }
#ymodsearch .textfield { width: 80px; }
#ymodsearch .submit { width: 40px; }
#ymodsearch label { font-size: 85%; }
#ymodlogin .textfield { width: 80px; }
#ymodlogin label { padding: 0pt 0pt 5px; display: block; font-size: 92%; }
#ymodlogin label.submit { text-align: right; font-size: 100%; }
#ymodlogin input.submit { width: 40px; }
#ymodlogin ul { margin: 10px 0pt; }
#ymodlogin li { line-height: 2em; font-size: 92%; }
.modlogo { margin-top: 10px; }
.modlogo img { vertical-align: middle; margin-right: 5px; }
.modlogo a, .modlogo a:link, .modlogo a:hover, .modlogo a:visited { text-decoration: none; font-weight: bold; color: black; font-size: 92%; }
#yblast { margin: -25px 0pt 0pt; position: relative; }
#yblast .text, #yblast .bg { padding: 10px 30px; overflow: hidden; width: 480px; height: 35px; }
#yblast .text { margin: -55px 0pt 0pt; }
#yblast a.edit { background: transparent url('btn_edit.gif') repeat scroll 0% 0%; width: 13px; height: 13px; }
#yblast .bg1 { background: transparent url('blast_bg1.gif') no-repeat scroll 0% 0%; }
#yblast .bg2 { background: transparent url('blast_bg2.gif') no-repeat scroll 0% 0%; }
#yblast .bg3 { background: transparent url('blast_bg3.gif') no-repeat scroll 0% 0%; }
#yblast .bg4 { background: transparent url('blast_bg4.gif') no-repeat scroll 0% 0%; }
#yblast .bg5 { background: transparent url('blast_bg5.gif') no-repeat scroll 0% 0%; }
#yblast .bg6 { background: transparent url('blast_bg6.gif') no-repeat scroll 0% 0%; }
#yblast .bg7 { background: transparent url('blast_bg6.gif') no-repeat scroll 0% 0%; }
ul.paging { padding: 10px 0pt 20px; text-align: center; }
ul.paging li { border: medium none ; margin: 0pt 3px; display: inline; font-family: Arial,Helvetica,sans-serif; }
ul.paging li a { background: transparent none repeat scroll 0% 0%; }
ul.paging li.prev a { padding: 0pt 10px 0pt 0pt; background: transparent url('paging_prev.gif') no-repeat scroll 100% 10%; font-size: 114%; }
ul.paging li.next a { padding: 0pt 0pt 0pt 10px; background: transparent url('paging_next.gif') no-repeat scroll 0pt 10%; font-size: 114%; }
#yphotoeditb .photo_item { background: transparent url('dotted_h_mindex.gif') repeat-x scroll 0% 0%; }
#yphotoeditb .no1 { background: transparent none repeat scroll 0% 0%; }
#yphotoeditb .photo { margin: 5px 40px; float: left; }
#yphotoeditb .textfield { width: 200px; }
#yphotoeditb ul { padding: 15px 0pt 0pt; float: left; }
#yphotoeditb li { margin: 5px 0pt; }
#yphotoeditb .actionbar { margin: 20px 0pt 0pt; padding: 5px; background: rgb(238, 238, 238) none repeat scroll 0% 0%; text-align: center; }
.hidecont { overflow: hidden; display: inline-block; width: 0pt; height: 0pt; position: relative; font-size: 0pt; text-indent: -5000px; line-height: 0pt; }
.showborder { border: 1px dotted red; }
.multi-col { clear: both; }
.multi-col:after { content: "."; clear: both; display: block; height: 0px; visibility: hidden; }
a.btn { margin: 2px; background: transparent url('button.gif') no-repeat scroll 0% 0%; overflow: hidden; vertical-align: middle; display: inline-block; width: 89px; height: 22px; position: relative; font-size: 0pt; text-indent: -5000px; line-height: 0pt; cursor: pointer; }
a.infobtn { background: transparent url('info.gif') no-repeat scroll left top; width: 15px; height: 18px; }
#ypreviewmsg .yvstrcmnt { border-bottom: medium none; }
a.rss { background: transparent url('rss.gif') no-repeat scroll left top; width: 28px; height: 13px; }
.imagecheck .all_field { border: 1px solid rgb(230, 230, 230); margin: 10px 0pt 0pt; padding: 5px; }
.imagecheck .inputtext { margin: 5px 0pt; display: block; }
.imagecheck .textfield { width: 7em; }
.imagecheck .form_btn { padding: 20px 0pt 0pt; display: block; text-align: center; }
.info_error { padding: 0pt 0pt 10px 25px; background: transparent url('icon_announce.gif') no-repeat scroll 5px 2px; font-size: 122%; color: red; font-weight: bold; }
#foldermenu { z-index: 10; position: absolute; }
span.private_mesg { color: rgb(255, 102, 51); }
.yvstrcmnt ol li, .msgcontent ol li { list-style-type: decimal; list-style-image: none; list-style-position: outside; text-indent: 2em; }
.yvstrcmnt ul li, .msgcontent ul li { list-style-type: disc; list-style-image: none; list-style-position: outside; text-indent: 2em; }
a, a:link, a:visited { color: rgb(75, 151, 173); }
a:hover { color: rgb(136, 208, 230); }
#yhtw_masthead { background: rgb(197, 197, 197) none repeat scroll 0% 0%; color: rgb(102, 102, 102); }
#yhtw_masthead a, #yhtw_masthead a:link, #yhtw_masthead a:visited, #yhtw_masthead a:hover { color: rgb(255, 255, 255); }
body { background: rgb(246, 246, 246) none repeat scroll 0% 0%; }
.yc3sec .mhd, .yc3subbd .mhd { background: rgb(227, 227, 227) none repeat scroll 0% 0%; color: rgb(106, 143, 154); }
.yc3sec .mbd, .yc3subbd .mbd, .yc3sec .mft, .yc3subbd .mft { background: rgb(246, 246, 246) none repeat scroll 0% 0%; color: rgb(102, 102, 102); }
.yc3pribd .mhd { background: rgb(205, 205, 205) none repeat scroll 0% 0%; color: rgb(51, 51, 51); }
.yc3pribd .mbd, .yc3pribd .mft, #yreplymsg table, #ysbscrblist table, #ybloginfo table, #yusrinfo table, #yusrintro p { background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(102, 102, 102); }
#calendar .bd td strong { color: rgb(51, 51, 51); }
#yblogtitle .mbd, #yblogtitle .mft { background-color: rgb(164, 164, 164); color: rgb(102, 102, 102); }
#yblogtitle h1 { color: rgb(51, 51, 51); }

/* ::::: http://tw.yimg.com/i/tw/blog/css/yhtw_masthead_super_slim_10b.css ::::: */

#yhtw_masthead { padding: 0pt 10px; background: rgb(156, 156, 156) none repeat scroll 0% 0%; min-height: 30px; font-family: "MingLiU","PMingLiU"; margin-bottom: 20px; }
#xyhtw_masthead { min-width: 700px; }
#yhtw_masthead[id] { position: relative; z-index: 999; }
#yhtw_masthead .mhlogo { height: auto; display: inline; }
#yhtw_masthead .mhuser { border-left: 1px solid rgb(222, 222, 222); padding: 6px 0pt 4px 4px; height: auto; display: inline; }
#yhtw_masthead .mhuser p { display: inline; }

#yhtw_masthead .mhuser div { display: inline; color: white; font-size: 12px; }
#yhtw_masthead .mhuser div a, #xyhtw_masthead .mhuser div b { color: white; }
#yhtw_masthead .mhlogo img { border: 0px solid white; height: 30px; vertical-align: middle; position: relative; }
#yhtw_masthead .mhlogo a { text-decoration: none; font-weight: bold; color: white; }
#yhtw_masthead .mhsch { float: right; position: relative; margin-top: -23px; }
#yhtw_masthead .mhsch div { color: rgb(255, 255, 255); text-align: right; font-size: 12px; width: 22em; }
#yhtw_masthead .mhsch a { margin: 0pt 1px; color: rgb(255, 255, 255); }
#yhtw_masthead .mhsch b { margin: 0pt 1px; color: rgb(255, 255, 255); font-weight: normal; }
#yhtw_masthead .masthead_function { font-size: 12px; position: relative; }
#yhtw_masthead .masthead_function strong { font-weight: normal; color: rgb(255, 255, 255); text-decoration: underline; cursor: pointer; padding-bottom: 5px; }
#yhtw_masthead .masthead_function span { border: 1px solid rgb(222, 222, 222); background: white none repeat scroll 0% 0%; display: none; position: absolute; top: 1em; left: 0pt; text-align: left; }
#yhtw_masthead span.masthead_function:hover span { display: block; }
#yhtw_masthead .masthead_function span a { border-bottom: 1px solid rgb(240, 240, 240); padding: 5px 4px 3px; color: rgb(0, 0, 187) ! important; display: block; min-width: 5.5em; text-decoration: none; }
#yhtw_masthead .masthead_function span a:hover { background: rgb(255, 255, 204) none repeat scroll 0% 0%; text-decoration: underline; }
#yhtw_masthead .masthead_function span.block { display: block; }
#yhtw_masthead .masthead_function {  }
#yhtw_mastfoot { border-top: 1px solid rgb(199, 199, 199); margin: 0pt auto; padding: 5px 0pt; clear: both; color: rgb(119, 119, 119); font-size: 12px; font-family: "Arial","MingLiU","PMingLiU"; text-align: left; }
#yhtw_mastfoot:after { content: "."; display: block; height: 0pt; visibility: hidden; clear: both; }
#yhtw_mastfoot a { color: rgb(0, 0, 187); }
#yhtw_mastfoot a:hover { color: red; }
#yhtw_mastfoot .cp { float: left; }
#yhtw_mastfoot .ln { float: right; }
#yhtw_mastfoot .ln a { border-left: 1px solid rgb(170, 170, 170); padding: 0pt 1px 0pt 5px; }
#yhtw_mastfoot .ln a:first-child { border-left: 0pt none; }
#yhtw_mastfoot .ln a.first-child { border-left: 0pt none; }
#yhtw_mastfoot .cb { clear: both; }
#yhtw_mastfoot .other { clear: both; margin-top: 1em; }

/* ::::: http://tw.yimg.com/i/tw/blog/css/cat4_13.css ::::: */

a, a:link, a:visited { color: rgb(0, 141, 176); }
a:hover { color: rgb(0, 187, 233); }
#yhtw_masthead { background: rgb(9, 70, 110) none repeat scroll 0% 0%; color: rgb(255, 255, 255); opacity: 0.5; }
#yhtw_masthead a, #yhtw_masthead a:link, #yhtw_masthead a:visited, #yhtw_masthead a:hover { color: rgb(251, 234, 168); }
body { background: rgb(194, 152, 198) url('cat4_13.jpg') no-repeat scroll 0% 0%; }
.yc3sec .mhd, .yc3subbd .mhd, .yc3sec .mhd a, .yc3subbd .mhd a, .yc3sec .mhd a:link, .yc3subbd .mhd a:link, .yc3sec .mhd a:visited, .yc3subbd .mhd a:visited { background: rgb(194, 129, 195) none repeat scroll 0% 0%; color: rgb(123, 35, 138); }
.yc3sec .mhd a, .yc3subbd .mhd a, .yc3sec .mhd a:link, .yc3subbd .mhd a:link, .yc3sec .mhd a:visited, .yc3subbd .mhd a:visited { background: transparent none repeat scroll 0% 0%; }
.yc3sec .mbd, .yc3subbd .mbd, .yc3sec .mft, .yc3subbd .mft { background: rgb(245, 231, 246) none repeat scroll 0% 0%; color: rgb(102, 102, 102); }
.yc3pribd .mhd { background: rgb(194, 129, 195) none repeat scroll 0% 0%; color: rgb(123, 35, 138); }
.yc3pribd .mbd, .yc3pribd .mft, #yreplymsg table, #ysbscrblist table, #ybloginfo table, #yusrinfo table, #yusrintro p { background: rgb(245, 231, 246) none repeat scroll 0% 0%; color: rgb(102, 102, 102); }
#ymodcal .mbd td strong { color: rgb(255, 180, 0); }
#yblogtitle .mbd, #yblogtitle .mft { background-color: rgb(153, 116, 193); color: rgb(73, 37, 113); }
#yblogtitle h1 { color: rgb(255, 255, 255); }

/* ::::: null ::::: */

#yblast { display: none; }
a, a:link, a:visited { color: rgb(103, 118, 128); }
a:hover { color: rgb(133, 157, 172); }
a { text-decoration: none; }
a:hover { position: relative; top: 3px; left: 3px; }
body { background: rgb(219, 235, 172) url('knwi913pd4.jpg') no-repeat scroll 0% 0%; }
#yhtw_masthead { background: rgb(134, 128, 117) none repeat scroll 0% 0%; color: rgb(240, 240, 240); opacity: 0.5; }
#yhtw_masthead a, #yhtw_masthead a:link, #yhtw_masthead a:visited, #yhtw_masthead a:hover { color: rgb(240, 240, 240); }
.yc3sec .mhd, .yc3subbd .mhd, .yc3sec .mhd a, .yc3subbd .mhd a, .yc3sec .mhd a:link, .yc3subbd .mhd a:link, .yc3sec .mhd a:visited, .yc3subbd .mhd a:visited { background: rgb(217, 217, 217) none repeat scroll 0% 0%; color: rgb(78, 78, 78); }
.yc3sec .mbd, .yc3subbd .mbd, .yc3sec .mft, .yc3subbd .mft { background: rgb(217, 217, 217) none repeat scroll 0% 0%; color: rgb(51, 51, 51); }
.yc3pribd .mhd { background: rgb(186, 186, 186) none repeat scroll 0% 0%; color: rgb(78, 78, 78); }
.yc3pribd .mbd, .yc3pribd .mft, #yreplymsg table, #ysbscrblist table, #ybloginfo table, #yusrinfo table, #yusrintro p { background: rgb(217, 217, 217) none repeat scroll 0% 0%; color: rgb(51, 51, 51); }
#ymodcal .mbd td strong { color: rgb(255, 255, 255); }
#yblogtitle .mbd, #yblogtitle .mft { background: rgb(130, 130, 130) none repeat scroll 0% 0%; color: rgb(221, 221, 221); }
#yblogtitle h1 { color: rgb(255, 255, 255); }
#yblast { display: none; }
body { background-color: rgb(255, 255, 255); background-image: url('knwi913pd4.jpg'); background-repeat: repeat; background-attachment: fixed; }
body {  }
a:hover {  }
#ymodprf .horos img { display: none; }
　 #yblogtitle .rctop, #blogtitle .rctop div, #yblogtitle .rcl, #yblogtitle .rcr, #yblogtitle .rcbtm, #yblogtitle .rcbtm div {  }
　 .yc3pribd .rctop, .yc3pribd .rctop div, .yc3pribd .rcl, .yc3pribd .rcr, .yc3pribd .rcbtm, .yc3pribd .rcbtm div {  }
　 .yc3subbd .rctop, .yc3subbd .rctop div, .yc3subbd .rcl, .yc3subbd .rcr, .yc3subbd .rcbtm, .yc3subbd .rcbtm div, .yc3sec .rctop, .yc3sec .rctop div, .yc3sec .rcl, .yc3sec .rcr, .yc3sec .rcbtm, .yc3sec .rcbtm div {  }
.ycntmod .mbd ul.list li { background: transparent url('20069122020758759.gif') no-repeat scroll left 0.1em; padding-left: 15px; margin-bottom: 3px; }
.ycntmod .mbd ul.list li.more { margin: -3px 0pt 0pt -3px; background: transparent url('200691220221525306.gif') no-repeat scroll 48px center; text-align: right; }
#ymodupdate .mbd .date { background: transparent url('20069122021639066.gif') no-repeat scroll left center; padding-left: 10px; font-size: 100%; font-family: verdana; }
.yblogcnt .blgtitlebar { margin-bottom: 10px; }
.yblogcnt .blgtitlebar h2 { background: transparent url('gridmove_1.gif') no-repeat scroll 0% 0%; font-size: 160%; font-weight: bold; padding-left: 32px; }
html {  }
.ycnt3col { position: relative ! important; }

/* ::::: null ::::: */

.ysm { border: 1px solid rgb(151, 171, 188); margin: 5px; padding: 1px 5px; overflow: hidden; position: relative; font-size: 13px; line-height: 1.4; min-height: 10px; }
.ysm * { cursor: pointer; }
.ysm .ysmlabel { position: absolute; top: 2px; right: 5px; }
.ysm .ysmlabel a { text-decoration: none; font-size: 12px; }
.ysm dl { margin: 0pt; padding: 0pt 0pt 6px; text-align: left; }
.ysm dl.last { padding-bottom: 0pt; }
.ysm dl address { margin-left: 5px; font-family: Arial; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: 1; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
.ysm dt a {  }
.ysm dt address { display: inline; }
.ysm dd { margin: 0pt; font-size: 12px; }
.ysm dd address { display: none; }
.ysm-vertical {  }
.ysm-vertical .ysmlabel { margin: 0pt auto; position: static; display: block; text-align: center; }
.ysm-vertical dt address { display: none; }
.ysm-vertical dd address { display: inline; }

/* ::::: null ::::: */

a.smaplink img { padding: 0pt 4px 0pt 2px; width: 31px; height: 13px; }

/* ::::: http://tw.yimg.com/i/tw/blog/kmodule/kmodule.css ::::: */

.yvstrcmnt { position: relative; }
.kmodule_left { margin: 0pt 0px 5px 0pt; float: left; width: 70px; }
.kmodule_words { position: relative; left: -6px; }
.kmodule_con { font-family: verdana; margin-bottom: 5px; margin-right: 5px; margin-left: 80px; }
.kmodule_con ul.lista { margin-top: 10px; padding-left: 0px; }
.kmodule_con ul.lista li { background: transparent url('bullet.gif') no-repeat scroll left center; list-style-type: none; margin-bottom: 5px; color: rgb(102, 102, 102); }
.kmodule_con ul.lista li a { margin-left: -15px; }
.kmodule_more { background: transparent url('arrow_more.gif') no-repeat scroll left center; font-family: verdana; margin-bottom: 5px; margin-right: 10px; margin-left: 80%; }
.kmodule_more a { margin-left: 20px; }
