
/* ::::: http://www.blogger.com/v-css/824041076-cmtfp.css ::::: */

body { margin: 0pt; background: transparent none repeat scroll 0% 0%; font-family: "Trebuchet MS",Verdana,Arial,Sans-serif; font-size: 13px; }
p { margin: 0pt; }
h3 { margin: 5px 0pt; }
label { font-weight: bold; }
.postCommentButtonHolder { margin: 0.5em 0pt 0pt; }
.dialog { position: absolute; width: 373px; color: rgb(0, 0, 0); }
.dialog h3 { margin: 5px 0pt 10px; }
.dialog h4 { margin: 2px 0pt; }
.dialog img { margin: 2px 0pt; }
.dialog input { margin: 2px 0pt; position: relative; }
.dialogField { width: 280px; }
.dialog .group { margin: 5px 0pt; }
.dialog .top { margin: 0px; padding: 8px 15px 5px; background: transparent url('s_top_373.png') no-repeat scroll left top; font-size: 90%; }
.dialog .top h3 { font-size: 15px; }
#captchaHolder .top, #openIdIdentityHolder .top, #genericOpenIdIdentityHolder .top, #nameUrlIdentityHolder .top { height: 200px; }
.dialog .bottom { background: transparent url('s_bottom_373.png') no-repeat scroll left bottom; height: 8px; font-size: 8px; }
.dialog .errorMsg { padding: 5px 10px; background: rgb(255, 153, 153) none repeat scroll 0% 0%; color: rgb(102, 0, 0); }
img.close { margin: 5px 0pt; position: relative; float: right; cursor: pointer; }
img#captcha-img { border: 1px solid rgb(221, 221, 221); padding: 5px 30px; background: rgb(255, 255, 255) none repeat scroll 0% 50%; }
.shown-openid-url { color: rgb(136, 136, 136); font-style: italic; }
#openIdUriDisplayUsername { color: rgb(0, 0, 0); }
#postCommentSubmit { font-weight: bold; }
#id-error, #empty-error, #captcha-error, #openIdDialogErrorHolder, #genericOpenIdDialogErrorHolder, #nameUrlDialogErrorHolder { margin-left: 10px; color: rgb(255, 51, 0); }
div.errormsg { color: rgb(255, 51, 0); display: inline; }
#commentBodyField { margin: 5px 0pt; width: 98%; }
.extraInfo { color: rgb(136, 136, 136); font-size: 80%; }
#LJLabel, #WPLabel, #TPLabel, #AIMLabel, #edit-profile-error, #main-status-holder, #main-error-holder, #identityHolder, #captchaHolder, #identityHolder .dialog { display: none; }
#main-status-holder, #main-error-holder { margin-top: 5px; }
#editButton { display: none; font-size: 85%; height: 20px; }
#info-wrap { width: 80%; }
.error div.errormsg { color: rgb(255, 255, 255); display: inline; }
table { border-style: none; border-width: 0px; font-size: 100%; border-spacing: 0px; border-collapse: collapse; }
table.td { border-style: none; border-width: 0px; padding: 0px; }
table.status-msg { margin: auto; width: auto; }
table.status-msg td.corner { margin: 0pt; height: 1px; width: 1px; line-height: 1px; background-color: transparent; }
table.status-msg td.stretch { margin: 0pt; height: 2px; line-height: 2px; }
.status-msg a { text-decoration: underline; padding-left: 0.2em; }
.noInfo { visibility: hidden; }
.error .msgcolor { background-color: rgb(204, 0, 0); color: rgb(255, 255, 255); visibility: visible; font-weight: bold; }
.status .msgcolor { background-color: rgb(255, 241, 168); color: rgb(0, 0, 0); visibility: visible; }
table.status-msg img { display: block; }
.saved { padding: 0px 5px; }
div#info-wrap { margin-bottom: 4px; margin-top: 4px; }
#subscribe { margin-right: 5px; }
#allHolder { width: 98%; }
#subscribeButtonHolder { float: right; margin-top: 5px; margin-right: 5px; }
#main-error, #main-status { padding: 2px 6px; }
.r { margin: 0pt; padding: 0pt; clear: both; display: block; height: 1px; line-height: 1px; font-size: 1px; }
dl { display: block; }
#comments-block { background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(0, 0, 0); }
#comments-block dl dd { overflow: auto; height: 135px; padding-bottom: 1px; }
#preview-actions { margin-top: 15px; }
#comments-block a:link, #comments-block a:visited, #comments-block a:active, #comments-block a:hover { color: blue; }
#comments-block { margin: 0pt; }
#comments-block dd { padding-bottom: 0.75em; }
#comments-block dd, #comments-block dd p { margin: 0pt 0pt 0.75em; line-height: 140%; }
#comments-block dt.collapsed { border-bottom: 1px solid rgb(204, 204, 204) ! important; margin: 0pt 0pt 4px; font-size: 100%; }
#comments-block dt.collapsed img { display: none; }
#comments-block dt.collapsed img.comment-icon { display: inline; }
#comments-block dd.collapsed { display: none; }
.comment-timestamp { margin: -0.25em 0pt 1em; color: rgb(119, 119, 119); font-size: 90%; }
.deleted-comment { font-style: italic; color: gray; }
#preview-main, #preview-header { background: transparent none repeat scroll 0% 0%; }
#preview-image { display: none; float: none; margin-bottom: 0pt; }
#preview-profile { float: right; }
#preview-main, #preview-header { border: 1px solid rgb(153, 153, 153); padding: 1em; }
#preview-main { border-top: 0pt none; padding-top: 0pt; margin-top: 0pt; }
#preview-header { border-bottom: 0pt none; padding-top: 0.25em ! important; padding-bottom: 0pt; margin-bottom: 0pt; }
#preview-actions { font-size: 95%; margin-bottom: 0pt ! important; white-space: nowrap; }
#preview-actions a { margin: 0pt; padding: 0pt; }
#preview-actions .lnk { margin: 0pt; display: block; width: 47%; }
#preview-actions .left { float: left; }
#preview-actions .right { float: right; margin-left: 0.2em; text-align: right; }
#preview-body { border-bottom: 0pt none; padding-top: 1em; }
.comment-icon { line-height: 16px; display: inline; }
.blogger-comment { background: transparent url('comment_sprite.gif') no-repeat scroll -45px -117px; width: 16px; height: 16px; }
.openid-comment { background: transparent url('comment_sprite.gif') no-repeat scroll -45px -149px; width: 16px; height: 16px; }
.anon-comment { background: transparent url('comment_sprite.gif') no-repeat scroll -45px -101px; width: 16px; height: 16px; }
#allHolder.previewMode #postCommentButtonHolder { margin-top: 225px; position: relative; }
#allHolder.previewMode #postCommentPreview, #allHolder.previewMode #subscribeButton, #allHolder.previewMode #identityControlsHolder, #allHolder.previewMode textarea, #allHolder.previewMode select { display: none; }
#allHolder #previewHolder { display: none; }
#allHolder.previewMode #previewHolder { display: block; }
div.profile-image-container img { display: none; }

/* ::::: null ::::: */

#allHolder.previewMode .dialog .top { height: 205px; }
body { color: rgb(51, 51, 51); font-family: arial,helvetica,clean,sans-serif; }
a:link, a:visited, a:active, a:hover { color: rgb(51, 102, 153); }
