
/* ::::: null ::::: */

body {  }

/* ::::: null ::::: */

html, body { border: 0px none ; margin: 0px; padding: 0px 0px 0px 1px; background-color: transparent; }
body, .questionText, .answerText { color: rgb(51, 51, 51); }
.answerText, .resultText, .resultBar, .pollStats, .voteButton, a, .errormsg { font-size: 12px; }
.questionText { font-weight: bold; }
a:link, a:visited, a:hover, a:active { color: rgb(51, 102, 153); }
.pollStats { border: medium none ; color: silver; }
.resultBar { border: medium none ; margin-top: 1px; margin-bottom: 1px; padding-top: 1px; padding-bottom: 1px; background-color: rgb(51, 102, 153); white-space: nowrap; }
td.answerText { border: 0px none ; overflow: hidden; padding-left: 0px; padding-top: 2px; white-space: nowrap; }
td.answerText > div { overflow: hidden; }
.resultText { border: 1px solid rgb(51, 102, 153); color: rgb(183, 183, 183); padding-top: 2px; white-space: nowrap; }
td input { height: 13px ! important; }
div.errormsg { border: medium none ; color: rgb(153, 0, 0); }
div.questionText { display: none; }
