
/* ::::: http://metamuse.googlepages.com/base-min.css ::::: */

h1 { font-size: 138.5%; }
h2 { font-size: 123.1%; }
h3 { font-size: 108%; }
h1, h2, h3 { margin: 1em 0pt; }
h1, h2, h3, h4, h5, h6, strong { font-weight: bold; }
abbr, acronym { border-bottom: 1px dotted rgb(0, 0, 0); cursor: help; }
em { font-style: italic; }
blockquote, ul, ol, dl { margin: 1em; }
ol, ul, dl { margin-left: 2em; }
ol li { list-style-type: decimal; list-style-image: none; list-style-position: outside; }
ul li { list-style-type: disc; list-style-image: none; list-style-position: outside; }
dl dd { margin-left: 1em; }
th, td { border: 1px solid rgb(0, 0, 0); padding: 0.5em; }
th { font-weight: bold; text-align: center; }
caption { margin-bottom: 0.5em; text-align: center; }
p, fieldset, table, pre { margin-bottom: 1em; }
input[type="text"], input[type="password"], textarea { width: 12.25em; }

/* ::::: http://metamuse.googlepages.com/fonts-min.css ::::: */

body { font-family: arial,helvetica,clean,sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 13px; line-height: 1.231; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
select, input, button, textarea { font-family: arial,helvetica,clean,sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 99%; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
table { font-size: inherit; }
pre, code, kbd, samp, tt { font-family: monospace; line-height: 100%; }

/* ::::: http://metamuse.googlepages.com/reset-fonts-grids.css ::::: */

html { background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(0, 0, 0); }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin: 0pt; padding: 0pt; }
table { border-collapse: collapse; border-spacing: 0pt; }
fieldset, img { border: 0pt none ; }
address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal; }
li { list-style-type: none; list-style-image: none; list-style-position: outside; }
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
q:before, q:after { content: ''; }
abbr, acronym { border: 0pt none ; font-variant: normal; }
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }
input, textarea, select { font-family: inherit; font-size: inherit; font-weight: inherit; }
input, textarea, select {  }
legend { color: rgb(0, 0, 0); }
del, ins { text-decoration: none; }
body { font-family: arial,helvetica,clean,sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 13px; line-height: 1.231; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
select, input, button, textarea { font-family: arial,helvetica,clean,sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 99%; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
table { font-size: inherit; }
pre, code, kbd, samp, tt { font-family: monospace; line-height: 100%; }
body { text-align: center; }
#ft { clear: both; }
#doc, #doc2, #doc3, #doc4, .yui-t1, .yui-t2, .yui-t3, .yui-t4, .yui-t5, .yui-t6, .yui-t7 { margin: auto; text-align: left; width: 57.69em; min-width: 750px; }
#doc2 { width: 73.076em; }
#doc3 { margin: auto 10px; width: auto; }
#doc4 { width: 74.923em; }
.yui-b { position: relative; }
.yui-b {  }
#yui-main .yui-b { position: static; }
#yui-main, .yui-g .yui-u .yui-g { width: 100%; }
.yui-t1 #yui-main, .yui-t2 #yui-main, .yui-t3 #yui-main { float: right; margin-left: -25em; }
.yui-t4 #yui-main, .yui-t5 #yui-main, .yui-t6 #yui-main { float: left; margin-right: -25em; }
.yui-t1 .yui-b { float: left; width: 12.3077em; }
.yui-t1 #yui-main .yui-b { margin-left: 13.3077em; }
.yui-t2 .yui-b { float: left; width: 13.8461em; }
.yui-t2 #yui-main .yui-b { margin-left: 14.8461em; }
.yui-t3 .yui-b { float: left; width: 23.0769em; }
.yui-t3 #yui-main .yui-b { margin-left: 24.0769em; }
.yui-t4 .yui-b { float: right; width: 13.8456em; }
.yui-t4 #yui-main .yui-b { margin-right: 14.8456em; }
.yui-t5 .yui-b { float: right; width: 18.4615em; }
.yui-t5 #yui-main .yui-b { margin-right: 19.4615em; }
.yui-t6 .yui-b { float: right; width: 23.0769em; }
.yui-t6 #yui-main .yui-b { margin-right: 24.0769em; }
.yui-t7 #yui-main .yui-b { margin: 0pt 0pt 1em; display: block; }
#yui-main .yui-b { float: none; width: auto; }
.yui-gb .yui-u, .yui-g .yui-gb .yui-u, .yui-gb .yui-g, .yui-gb .yui-gb, .yui-gb .yui-gc, .yui-gb .yui-gd, .yui-gb .yui-ge, .yui-gb .yui-gf, .yui-gc .yui-u, .yui-gc .yui-g, .yui-gd .yui-u { float: left; }
.yui-g .yui-u, .yui-g .yui-g, .yui-g .yui-gb, .yui-g .yui-gc, .yui-g .yui-gd, .yui-g .yui-ge, .yui-g .yui-gf, .yui-gc .yui-u, .yui-gd .yui-g, .yui-g .yui-gc .yui-u, .yui-ge .yui-u, .yui-ge .yui-g, .yui-gf .yui-g, .yui-gf .yui-u { float: right; }
.yui-g div.first, .yui-gb div.first, .yui-gc div.first, .yui-gd div.first, .yui-ge div.first, .yui-gf div.first, .yui-g .yui-gc div.first, .yui-g .yui-ge div.first, .yui-gc div.first div.first { float: left; }
.yui-g .yui-u, .yui-g .yui-g, .yui-g .yui-gb, .yui-g .yui-gc, .yui-g .yui-gd, .yui-g .yui-ge, .yui-g .yui-gf { width: 49.1%; }
.yui-gb .yui-u, .yui-g .yui-gb .yui-u, .yui-gb .yui-g, .yui-gb .yui-gb, .yui-gb .yui-gc, .yui-gb .yui-gd, .yui-gb .yui-ge, .yui-gb .yui-gf, .yui-gc .yui-u, .yui-gc .yui-g, .yui-gd .yui-u { width: 32%; margin-left: 1.99%; }
.yui-gb .yui-u {  }
.yui-gc div.first, .yui-gd .yui-u { width: 66%; }
.yui-gd div.first { width: 32%; }
.yui-ge div.first, .yui-gf .yui-u { width: 74.2%; }
.yui-ge .yui-u, .yui-gf div.first { width: 24%; }
.yui-g .yui-gb div.first, .yui-gb div.first, .yui-gc div.first, .yui-gd div.first { margin-left: 0pt; }
.yui-g .yui-g .yui-u, .yui-gb .yui-g .yui-u, .yui-gc .yui-g .yui-u, .yui-gd .yui-g .yui-u, .yui-ge .yui-g .yui-u, .yui-gf .yui-g .yui-u { width: 49%; }
.yui-g .yui-g .yui-u { width: 48.1%; }
.yui-g .yui-gb div.first, .yui-gb .yui-gb div.first {  }
.yui-g .yui-gc div.first, .yui-gd .yui-g { width: 66%; }
.yui-gb .yui-g div.first {  }
.yui-gb .yui-gc div.first, .yui-gb .yui-gd div.first {  }
.yui-gb .yui-gb .yui-u, .yui-gb .yui-gc .yui-u {  }
.yui-g .yui-gb .yui-u {  }
.yui-gb .yui-gd .yui-u {  }
.yui-gb .yui-gd div.first {  }
.yui-g .yui-gc .yui-u, .yui-gb .yui-gc .yui-u { width: 32%; margin-right: 0pt; }
.yui-gb .yui-gc div.first { width: 66%; }
.yui-gb .yui-ge .yui-u, .yui-gb .yui-gf .yui-u { margin: 0pt; }
.yui-gb .yui-gb .yui-u {  }
.yui-gb .yui-g div.first, .yui-gb .yui-gb div.first {  }
.yui-gc .yui-g .yui-u, .yui-gd .yui-g .yui-u {  }
.yui-gb .yui-gd div.first { width: 32%; }
.yui-g .yui-gd div.first {  }
.yui-ge .yui-g { width: 24%; }
.yui-gf .yui-g { width: 74.2%; }
.yui-gb .yui-ge div.yui-u, .yui-gb .yui-gf div.yui-u { float: right; }
.yui-gb .yui-ge div.first, .yui-gb .yui-gf div.first { float: left; }
.yui-gb .yui-ge .yui-u, .yui-gb .yui-gf div.first {  }
.yui-gb .yui-ge div.first, .yui-gb .yui-gf .yui-u {  }
.yui-ge div.first .yui-gd .yui-u { width: 65%; }
.yui-ge div.first .yui-gd div.first { width: 32%; }
#bd:after, .yui-g:after, .yui-gb:after, .yui-gc:after, .yui-gd:after, .yui-ge:after, .yui-gf:after { content: "."; display: block; height: 0pt; clear: both; visibility: hidden; }
#bd, .yui-g, .yui-gb, .yui-gc, .yui-gd, .yui-ge, .yui-gf {  }

/* ::::: http://metamuse.googlepages.com/white-coffee.css ::::: */

#navbar-iframe { opacity: 0; }
#navbar-iframe:hover { opacity: 1; }
#navbar-iframe { height: 0px; visibility: hidden; display: none; }
body { color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); margin-top: 25px; margin-bottom: 25px; }
a:link, a:visited, a abbr { color: rgb(51, 102, 153); text-decoration: none; }
a:hover { color: rgb(102, 0, 0); text-decoration: underline; }
#bar { border-top: 1px solid rgb(153, 153, 153); border-left: 1px solid rgb(153, 153, 153); border-right: 1px solid rgb(153, 153, 153); width: 940px; margin-right: auto; margin-left: auto; height: 30px; }
#bar ul { list-style-type: none; }
#bar li { list-style-type: none; float: left; line-height: 30px; margin-top: -1px; margin-left: -1px; }
#bar a:link, #bar a:visited, #bar a:hover { border: 1px solid rgb(153, 153, 153); display: block; padding-right: 1em; padding-left: 1em; }
#bar li a:hover { border-bottom: 1px solid rgb(244, 244, 244); background-color: rgb(244, 244, 244); }
#outer-wrapper { border: 1px solid rgb(153, 153, 153); width: 940px; margin-right: auto; margin-left: auto; background-color: rgb(244, 244, 244); }
#header {  }
h1.title { padding-top: 15px; font-size: 189%; margin-right: 10px; margin-left: 10px; font-family: "Times New Roman",Times,serif; font-weight: bold; }
h1.title a, h1.title a:visited { text-decoration: none; color: rgb(255, 255, 255); }
h1.title a:hover { color: rgb(255, 255, 255); text-decoration: underline; }
#header .description { font-size: 85%; padding-right: 10px; padding-left: 10px; }
#header h2 { margin: 0pt 10px 0.1em; line-height: 1.5em; font-size: 80%; }
#header .widget { border: 1px solid rgb(153, 153, 153); margin: 10px; color: rgb(255, 255, 255); padding-bottom: 15px; background-color: rgb(51, 51, 51); }
.clear { clear: both; text-align: center; }
#content-wrapper { border: 1px solid rgb(204, 204, 204); margin: 25px auto; background-color: rgb(255, 255, 255); width: 878px; }
#main-wrapper { border-right: 1px solid rgb(204, 204, 204); overflow: hidden; width: 528px; float: left; background-color: rgb(255, 255, 255); text-align: left; }
#sidebar-wrapper { border-top: 1px solid rgb(204, 204, 204); border-left: 1px solid rgb(204, 204, 204); overflow: hidden; float: left; width: 349px; text-align: left; margin-left: -1px; }
#site-search { background-image: url('upper_right_shadow.gif'); background-repeat: no-repeat; background-position: left top; width: 350px; float: left; background-color: rgb(244, 244, 244); margin-top: -1px; margin-right: -1px; padding-top: 10px; padding-bottom: 10px; }
h2, h3 {  }
#main { padding: 10px; line-height: 1.5em; }
.date-header { color: rgb(51, 51, 51); background-color: rgb(204, 204, 204); text-align: right; padding-right: 10px; font-size: 85%; line-height: 2em; }
.post { margin-bottom: 0.5em; }
.post-title { font-weight: bold; padding-top: 8px; font-family: "Times New Roman",Times,serif; padding-bottom: 8px; font-size: 138.5%; }
.post-title a, .post-title a:visited, .post-title strong { text-decoration: none; color: rgb(51, 102, 153); font-weight: bold; }
.post-body { padding-bottom: 15px; text-align: left; }
.post-body div {  }
.post-header-line-1 { font-size: 85%; color: rgb(102, 102, 102); padding-bottom: 1em; }
.post-header-line-1 span { margin-right: 5px; }
p.post-footer-line { font-size: 85%; }
.post-footer-line span {  }
.post-body img { margin: 4px; }
.post-body blockquote { margin: 1em; padding: 1em; background-color: rgb(238, 238, 238); }
.post-body blockquote p { margin: 0.75em 0pt 0pt 0.75em; }
p.breadcrumbs { padding: 1em 0pt; }
p.comment-footer { padding-bottom: 1em; }
#comments { border-bottom-color: rgb(153, 153, 153); }
#comments h4 { border-top: 1px solid rgb(204, 204, 204); color: rgb(102, 102, 102); font-weight: bold; padding-top: 1em; }
#comments-block { padding-top: 1em; padding-bottom: 1em; }
#comments-block dt {  }
#comments-block dd.comment-footer { padding-bottom: 1em; }
#comments-block dd.comment-footer { font-size: 85%; }
#comments-block dd p {  }
.deleted-comment { font-style: italic; color: gray; }
.feed-links { clear: both; line-height: 2.5em; }
#blog-pager-newer-link { float: left; }
#blog-pager-older-link { float: right; }
#blog-pager { text-align: center; }
#sidebar-wrapper div { overflow: hidden; }
#sidebar { border-bottom: 1px solid rgb(204, 204, 204); }
#sidebar .widget { margin: 5px; }
#sidebar-1 { border-right: 1px solid rgb(204, 204, 204); float: left; width: 130px; margin-top: 5px; margin-bottom: 5px; }
#sidebar-1 .widget { margin-left: 5px; margin-right: 5px; }
#sidebar-2 { border-left: 1px solid rgb(204, 204, 204); float: left; width: 218px; left: -1px; margin-left: -1px; margin-top: 5px; margin-bottom: 5px; }
#sidebar-2 .widget { margin-right: 5px; margin-left: 5px; }
#sidebar-3, #sidebar-4 { border-top: 3px double rgb(204, 204, 204); clear: both; }
#sidebar-3 .widget, #sidebar-4 .widget { border-bottom: 1px solid rgb(204, 204, 204); margin: 5px; padding-top: 5px; padding-bottom: 5px; }
#sidebar-3 ul { padding-left: 2em; }
#sidebar-3 li { list-style-type: disc; padding-top: 5px; }
#sidebar-wrapper .section {  }
.sidebar h2 { font-weight: bold; font-size: 138.5%; color: rgb(153, 153, 153); font-family: "Times New Roman",Times,serif; }
.sidebar a:link, .sidebar a:visited { color: rgb(51, 102, 153); text-decoration: none; }
.sidebar a:hover { color: rgb(51, 102, 153); text-decoration: underline; }
.sidebar {  }
.sidebar .widget { margin-top: 5px; margin-bottom: 1em; }
.sidebar .widget-content {  }
.Profile .widget-content { background-color: rgb(204, 204, 204); }
.profile-img { margin: 0pt 5px 5px 0pt; padding: 4px; float: left; }
.profile-data { margin: 0pt; text-transform: uppercase; letter-spacing: 0.1em; font-weight: bold; line-height: 1.6em; font-size: 78%; }
.profile-datablock { margin: 0.5em 0pt; }
.profile-textblock { margin: 0.5em 0pt; line-height: 1.6em; }
.Feed ul { padding-left: 2em; }
.Feed li { list-style-type: disc; list-style-image: none; list-style-position: outside; }
#footer { border-top: 3px double rgb(153, 153, 153); padding: 10px; background-color: rgb(255, 255, 255); color: rgb(102, 102, 102); clear: both; text-align: center; top: -1px; position: relative; }
#footer h2 { border-bottom: 3px double rgb(153, 153, 153); color: rgb(153, 153, 153); font-size: 138.5%; font-family: "Times New Roman",Times,serif; font-weight: bold; }
#footer .widget {  }
#claim { border-top: 1px solid rgb(128, 128, 128); padding: 3px; line-height: 2em; background-color: rgb(21, 21, 21); text-align: right; color: rgb(255, 255, 255); }
body#layout #header { margin: 0px; width: 100%; }
body#layout #content-wrapper { margin: 0px; width: 100%; }
body#layout #main-wrapper { margin-left: 0px; margin-right: 0px; width: 60%; }
body#layout sidebar-main-wrapper { margin-left: 0px; margin-right: 0px; width: 30%; }
body#layout #sidebar-wrapper-left { margin-left: 0px; margin-right: 0px; width: 50%; }
body#layout #sidebar-wrapper { margin-left: 0px; margin-right: 0px; width: 50%; }
body#layout #footer { margin-left: 0px; margin-right: 0px; width: 100%; }
body#layout #g-search { display: none; }
body#layout #claim { margin-left: 0px; margin-right: 0px; width: 100%; }

/* ::::: null ::::: */

pre { border: 1px inset ; margin: 0px; padding: 6px; overflow: auto; width: 480px; text-align: left; }
body#layout div { background-image: none; background-color: rgb(0, 0, 0); }
body#layout #outer-wrapper, body#layout #header-wrapper, body#layout #footer-wrapper, body#layout #content-wrapper, body#layout #related-wrapper { width: 100%; }
body#layout .sidebar {  }
body#layout #main-wrapper, body#layout #sidebar-wrapper { width: 49%; }
body#layout #bar { display: none; }

/* ::::: null ::::: */

span.fullpost { display: inline; }

/* ::::: http://www.blogger.com/widgets/2300090209-widget_css_bundle.css ::::: */

#ArchiveList .toggle { cursor: pointer; font-family: Arial,sans-serif; }
#ArchiveList .toggle-open { line-height: 0.6em; }
#ArchiveList { text-align: left; }
#ArchiveList a.post-count-link, #ArchiveList a.post-count-link:link, #ArchiveList a.post-count-link:visited { text-decoration: none; }
#ArchiveList a.toggle, #ArchiveList a.toggle:link, #ArchiveList a.toggle:visited, #ArchiveList a.toggle:hover { color: inherit; text-decoration: none; }
.BlogArchive #ArchiveList ul li { border-width: 0pt; background: transparent none repeat scroll 0% 0%; list-style-type: none; list-style-image: none; list-style-position: outside; padding-left: 15px; text-indent: -15px; margin-left: 0pt; }
.BlogArchive #ArchiveList ul ul li { padding-left: 1.2em; }
.BlogArchive #ArchiveList ul { border-width: 0pt; margin: 0pt; padding: 0pt; list-style-type: none; list-style-position: outside; list-style-image: none; }
.BlogArchive #ArchiveList ul ul { margin-top: 5px; }
.BlogArchive #ArchiveList ul.posts li { padding-left: 1.3em; }
#ArchiveList .collapsed ul { display: none; }
.backlink-toggle-zippy { background: transparent url('triangle_ltr.gif') no-repeat scroll left center; padding-right: 11px; margin-right: 0.1em; cursor: pointer; }
.expanded-backlink .backlink-toggle-zippy { background-image: url('triangle_open.gif'); }
.collapsed-backlink .collapseable { display: none; }
.status-msg-wrap { margin: 10px auto; font-size: 110%; width: 90%; position: relative; }
.status-msg-border { border: 1px solid rgb(0, 0, 0); opacity: 0.4; width: 100%; position: relative; }
.status-msg-bg { background-color: rgb(204, 204, 204); opacity: 0.8; width: 100%; position: relative; z-index: 1; }
.status-msg-body { padding: 0.3em 0pt; text-align: center; width: 100%; position: absolute; z-index: 4; }
.status-msg-hidden { padding: 0.3em 0pt; visibility: hidden; }
.status-msg-wrap a { padding-left: 0.4em; text-decoration: underline; }
.reactions-label { margin: 3px 0pt 0pt; }
.reactions-label-cell { line-height: 2.3em; }
.reactions-iframe { border: 0pt none ; background: transparent none repeat scroll 0% 0%; height: 2.3em; width: 100%; }
#comments .blogger-comment-icon, .blogger-comment-icon { background: transparent url('b16-rounded.gif') no-repeat scroll left center; line-height: 16px; padding-left: 20px; }
#comments .openid-comment-icon, .openid-comment-icon { background: transparent url('openid16-rounded.gif') no-repeat scroll left center; line-height: 16px; padding-left: 20px; }
#comments .anon-comment-icon, .anon-comment-icon { background: transparent url('anon16-rounded.gif') no-repeat scroll left center; line-height: 16px; padding-left: 20px; }
.comment-form { max-width: 425px; }
.paging-control-container { margin: 0pt 6px 0pt 0pt; float: right; font-size: 80%; }
.unneeded-paging-control { visibility: hidden; }
.follower-grid { width: 150px; }
.follower { margin: 2px; width: 32px; height: 32px; float: left; }
.follower-img { margin: 2px; float: left; }
.follow-this { margin: 0.5em 0.5em 0.5em 0pt; font-weight: bold; }
.followers-canvas { margin: 0.5em 0.5em 0.5em 0pt; font-weight: bold; }
.clear { clear: both; }
.subscribe-feed-title { float: left; }
.subscribe { cursor: pointer; color: rgb(153, 153, 153); }
.subscribe a { color: rgb(153, 153, 153); }
.subscribe-wrapper { margin: 0.5em; padding: 0pt; position: relative; }
div.subscribe { margin: 0pt; padding: 0pt; text-align: left; cursor: pointer; width: 144px; z-index: 20; }
.subscribe-type-POST { z-index: 10; }
div.subscribe div.top { padding: 4px 5px 1px; font-size: 1em; width: 144px; }
html > body div.subscribe div.top { background: transparent url('s_top.png') no-repeat scroll left top; }
span.inner { margin: 0pt; padding: 0pt; }
.feed-icon { vertical-align: baseline; display: inline; }
div.subscribe div.bottom { height: 3px; font-size: 3px; line-height: 0pt; }
.subscribe-wrapper .expanded { position: absolute; top: 0pt; }
html > body div.subscribe div.bottom { background: transparent url('s_bottom.png') no-repeat scroll left bottom; width: 144px; margin-bottom: 0pt; padding-bottom: 0pt; }
.feed-reader-links { margin: 10px 20px; padding: 0pt; list-style-type: none; list-style-image: none; list-style-position: outside; position: relative; }
.feed-reader-links li { margin-top: 5px; }
.subscribe-dropdown-arrow { float: right; margin-top: 4px; margin-right: 14px; }
ul.feed-reader-links { margin: 0pt; padding: 0pt; list-style-type: none; list-style-image: none; list-style-position: outside; }
ul.feed-reader-links li { margin-top: 5px; }
a.feed-reader-link { margin: 0.5em; display: block; text-decoration: none; font-weight: normal; z-index: 1000; }
.feed-reader-link img { border: 0pt none ; display: inline; }
.blog-list-container ul { padding-left: 0pt; }
.blog-list-container ul li { padding-left: 0pt; list-style-type: none; list-style-position: outside; list-style-image: none; clear: left; }
.blog-list-container a { text-decoration: none; }
.blog-list-container a:hover { text-decoration: underline; }
.blog-list-container .blog-content { margin: 0pt 0pt 5px 5px; float: left; text-indent: 0pt; width: 85%; }
.blog-list-container .blog-title { margin: 2px 0pt 0pt; font-weight: bold; line-height: 16px; }
.blog-list-container .blog-icon { float: left; margin-top: 2px; vertical-align: top; text-indent: 0pt; width: 16px; }
.blog-list-container .item-content { font-size: 95%; line-height: 1.3em; }
.blog-list-container .item-thumbnail { margin: 2px 5px 5px 0pt; float: left; }
.blog-list-container .item-time { font-size: 95%; font-style: italic; clear: left; }
.blog-list-title { font-weight: bold; }
.blog-list-container .show-option { font-size: 75%; text-align: right; }
div.gsc-control { width: 100%; }
.cse-status { margin: 10px; padding: 4px; color: rgb(103, 103, 103); font-size: 11px; }
#uds-searchControl { margin: 1em; position: relative; }
#uds-searchClearResults { border-style: solid; border-width: 1px; padding: 0pt; position: absolute; top: 15px; right: -3px; display: none; height: 9px; width: 9px; }
#uds-searchControl .gsc-results { border-style: solid; border-width: 1px; padding: 1em 1em 0pt; width: auto; }
#uds-searchControl .gsc-resultsHeader { display: none; }
#uds-searchControl .gsc-tabsArea { float: left; position: relative; top: 1px; padding-right: 10px; }
#uds-searchControl .gsc-tabHeader { float: left; line-height: 1.7; }
#uds-searchControl .gsc-tabHeader.gsc-tabhActive { border-style: solid; border-width: 2px 1px 0pt; font-weight: bold; }
#uds-searchControl .gsc-tabHeader.gsc-tabhInactive { border-style: solid; border-width: 0pt; padding-top: 2px; }
#uds-searchControl .gsc-resultsbox-visible { clear: left; }
#uds-searchControl .gs-result .gs-title, #uds-searchControl .gsc-results .gsc-trailing-more-results { line-height: 1.5em; }
#uds-searchControl .gs-relativePublishedDate, #uds-searchControl .gs-publishedDate { line-height: 1.3em; }
#uds-searchControl .gs-result a.gs-visibleUrl, #uds-searchControl .gs-result .gs-visibleUrl { line-height: 1.3em; font-size: 95%; }
#uds-searchControl .gs-result .gs-snippet { margin: 0.25em 0pt; line-height: 1.2em; }
#uds-searchControl .gs-no-results-result .gs-snippet, #uds-searchControl .gs-error-result .gs-snippet { border: medium none ; background-color: transparent; font-style: italic; }
.quickedit { cursor: pointer; }
.newsBar-status { margin: 10px; padding: 4px; color: rgb(103, 103, 103); font-size: 11px; }
img.gsc-branding-img-noclear { display: inline; }
.slideshow-status { margin: 10px; padding: 4px; color: rgb(103, 103, 103); font-size: 11px; }
.slideshow-container { margin: auto; text-transform: none; font-family: Arial,sans-serif; letter-spacing: normal; word-spacing: normal; width: 150px; height: 150px; clear: both; }
img.gsc-branding-img-noclear { display: inline; }
.slideshow-container img { display: inline; }
div.floatingPlayer_gsvb div.playerInnerBox_gsvb .player_gsvb { width: 320px; height: 260px; }
.videoBar-status { margin: 10px; padding: 4px; color: rgb(103, 103, 103); font-size: 11px; }
.videoBar-container { margin: auto; text-transform: none; font-family: Arial,sans-serif; letter-spacing: normal; word-spacing: normal; clear: both; }

/* ::::: http://www.blogger.com/v-css/3727950723-blog_controls.css ::::: */

.item-control { display: none; }
.item-control a, .item-action a { text-decoration: none ! important; }
.widget-item-control { float: right; }
.icon-action { border-style: none ! important; margin: 0pt 0pt -5px 0.5em ! important; }
.delete-comment-icon { padding: 7px; background: transparent url('icon_delete13.gif') no-repeat scroll left center; }
@media all {
  .BLOG_mobile_video_class { display: none; }
}
@media handheld {
  .BLOG_mobile_video_class { display: inline; }
  .BLOG_video_class { display: none; }
}

/* ::::: http://www.blogger.com/dyn-css/authorization.css?targetBlogID=11266944&zx=5310b97f-e10e-45a6-abad-47b8a1c0dd7e ::::: */

span.following-not-admin { display: inline; }
div.following-follow-this { display: block; }

/* ::::: null ::::: */

#navbar-iframe { display: block; }
