
/* ::::: http://play.blogger.com/v-css/221580054-play.css ::::: */

html { overflow: hidden; }
body { margin: 0pt; padding: 0pt; background: rgb(33, 39, 43) none repeat scroll 0% 0%; overflow: hidden; font-family: "Trebuchet MS",Arial,sans-serif; }
body * { -moz-user-select: none; }
a { color: rgb(102, 153, 255); }
#stage { width: 100%; }
.substage { position: absolute; width: 100%; }
.gadget .substage { top: 5px; }
.substage img { border: 10px solid white; margin: 0pt auto; display: block; position: relative; cursor: pointer; }
.gadget .substage img { border-width: 5px; }
.substage img.loading { border-color: rgb(33, 39, 43); cursor: default; }
#footer { border-top: 1px solid rgb(24, 24, 24); overflow: hidden; position: absolute; bottom: 0pt; left: 0pt; height: 54px; width: 100%; z-index: 2; }
#footer table { width: 100%; }
#footer td { padding: 6px; background: rgb(0, 0, 0) none repeat scroll 0% 0%; color: rgb(255, 255, 255); vertical-align: top; }
#footer a { position: relative; }
.gadget #footer { height: 33px; visibility: hidden; }
.gadget #footer td { padding: 4px 1px; background-color: transparent; background-image: url('bg_black75.png'); }
#logo_cell { width: 50%; }
#control_buttons_cell { width: 168px; }
#slider_cell { width: 35%; }
#link_cell { width: 15%; text-align: right; }
.gadget #logo_cell, .gadget #link_cell, .gadget #slider_cell { display: none; }
.gadget #control_buttons_cell { width: 134px; }
#logo { text-decoration: none; }
#control_buttons_holder { float: left; width: 168px; }
.gadget #control_buttons_holder { margin: 0pt auto; width: 134px; float: none; }
.control_button { margin: 0pt 3px; display: inline; float: left; width: 50px; height: 40px; outline-color: -moz-use-text-color; outline-style: none; outline-width: medium; background-image: url('buttons.png'); }
.gadget .control_button { margin: 0pt 1px; width: 40px; height: 25px; background-image: url('buttons_small.png'); }
#next_btn { background-position: 0px 0px; }
#next_btn:hover { background-position: -50px 0px; }
#next_btn:active { background-position: -100px 0px; }
#pause_btn { background-position: 0px -40px; }
#pause_btn:hover { background-position: -50px -40px; }
#pause_btn:active { background-position: -100px -40px; }
#play_btn { background-position: 0px -80px; }
#play_btn:hover { background-position: -50px -80px; }
#play_btn:active { background-position: -100px -80px; }
#prev_btn { background-position: 0px -120px; }
#prev_btn:hover { background-position: -50px -120px; }
#prev_btn:active { background-position: -100px -120px; }
.gadget #next_btn, .gadget #next_btn:hover, .gadget #next_btn:active { background-position: 0px 0px; }
.gadget #pause_btn, .gadget #pause_btn:hover, .gadget #pause_btn:active { background-position: 0px -25px; }
.gadget #play_btn, .gadget #play_btn:hover, .gadget #play_btn:active { background-position: 0px -50px; }
.gadget #prev_btn, .gadget #prev_btn:hover, .gadget #prev_btn:active { background-position: 0px -75px; }
#slider_holder { margin: 11px 0pt; width: 168px; height: 20px; }
.slider_icon { width: 26px; height: 20px; float: left; outline-color: -moz-use-text-color; outline-style: none; outline-width: medium; }
#slow_icon { background: transparent url('slider.png') repeat scroll 0pt 0pt; }
#fast_icon { background: transparent url('slider.png') repeat scroll -126px 0pt; }
#speed_slider { padding: 0pt; background: transparent url('slider.png') repeat scroll -26px 0pt; width: 100px; height: 20px; float: left; }
#speed_slider .goog-slider-horizontal { overflow: hidden; width: 100%; height: 100%; position: relative; }
#speed_slider .goog-slider-horizontal .goog-slider-thumb { padding: 0pt; background: transparent url('slider_thumb.gif') no-repeat scroll center center; overflow: hidden; width: 18px; height: 20px; position: absolute; cursor: pointer; }
#speed_slider .goog-slider-horizontal:focus { outline-color: -moz-use-text-color; outline-style: none; outline-width: medium; }
#link_cell a { white-space: nowrap; font-size: 10px; line-height: 1; display: block; }
#info { border-top: 1px solid rgb(17, 17, 17); display: none; position: absolute; left: 0pt; right: 0pt; bottom: 54px; color: rgb(255, 255, 255); font-size: 14px; line-height: 1.3; }
#info table { width: 100%; }
#info table td { vertical-align: top; background-image: url('bg_black75.png'); }
#info .info-cell { padding: 10px 20px; min-height: 12em; }
#info table td a { position: relative; }
h2 { margin: 0pt; line-height: 1.1; font-size: 135%; }
#post-date { color: rgb(102, 102, 102); font-size: 85%; }
#profile-photo { border: 1px solid rgb(33, 39, 43); float: left; display: block; width: 80px; }
#profile-photo-link { display: block; float: left; }
#display-name { color: rgb(255, 251, 151); }
.profile-wrapper { display: none; }
#post-body-link, #profile-link { display: block; font-size: 90%; }
#display-name, .profile-wrapper, #about-me, #profile-link { margin: 0pt 0pt 0pt 100px; }
#debug { position: absolute; top: 2px; right: 5px; font-size: 13px; color: rgb(153, 153, 153); }
#debug strong { color: rgb(102, 102, 102); }
