
/* ::::: null ::::: */

.code { font-family: "Courier New","Courier","mono"; font-size: 16px; color: rgb(0, 0, 0); background-color: rgb(204, 204, 204); }

/* ::::: null ::::: */

.shell { font-family: "Courier New","Courier","mono"; font-size: 16px; color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); }
