/* ::::: http://l.yimg.com/f/i/tw/blog/css/blog_global081113.css ::::: */

body { font-family: "Arial","MingLiU","PMingLiU"; font-size: 80%; margin: 0pt 0pt 16px; padding: 0pt; background: none repeat scroll 0% 0% white; }
input, select, option, textarea { font-family: "Arial","MingLiU","PMingLiU"; }
h1, h2, h3, h4, h5, h6, th, blockquote, p, ul, li, form, fieldset { margin: 0pt; padding: 0pt; font-size: 100%; font-weight: normal; list-style: none outside none; }
th, td { text-align: left; font-weight: normal; }
strong { font-size: 100%; font-style: normal; text-decoration: none; }
table { border-collapse: collapse; width: 100%; }
p, span {  }
a img { border: medium none; }
a { color: rgb(0, 0, 187); }
a:visited { color: rgb(57, 135, 198); }
a:hover { color: red; }
a:active { color: red; }
.thrcol { width: 100%; }
.thrcol[class] { min-width: 930px; }
.ycnt3col { margin: 0pt 10px; }
.ycnt3col:after { content: "."; height: 0pt; visibility: hidden; display: block; clear: both; }
.thrcol .yc3main { width: 100%; float: left; margin-left: -160px; }
.thrcol .yc3mainbd { margin-left: 160px; }
.thrcol .yc3pri { width: 100%; float: right; margin-right: -160px; }
.thrcol .yc3pribd { margin-right: 160px; }
.thrcol .yc3subbd { width: 150px; float: right; }
.thrcol .yc3sec { width: 150px; }
.thrcol .yc3sub { z-index: 1; }
.thrcol .yc3pri, .thrcol .yc3main { z-index: 10; }
.ycntmod { width: 100%; position: relative; margin-bottom: 10px; overflow: hidden; }
.ycntmod .rctop { background: url('mod_nw.gif') no-repeat scroll left top transparent; margin-right: 5px; }
.ycntmod .rctop div { background: url('mod_ne.gif') no-repeat scroll right top transparent; height: 5px; font-size: 0pt; position: relative; right: -5px; }
.ycntmod .rcbtm { background: url('mod_sw.gif') no-repeat scroll left bottom transparent; margin-right: 5px; }
.ycntmod .rcbtm div { background: url('mod_se.gif') no-repeat scroll right bottom transparent; height: 5px; font-size: 0pt; position: relative; right: -5px; }
.ycntmod .rcl { padding-left: 5px; background: url('mod_left.gif') repeat-y scroll 0% 0% transparent; }
.ycntmod .rcr { padding-right: 5px; background: url('mod_right.gif') repeat-y scroll right center transparent; }
.ycntmod .text { position: relative; }
.yc3pribd .ycntmod { overflow: visible; }
.yc3pribd .ycntmod .yblogcnt { overflow: hidden; }
.ycntmod .mhd { height: 30px; }
.ycntmod .mhd h3 { font-size: 120%; padding: 8px 0pt 0pt 8px; }
.ycntmod .mbd { padding: 5px; }
.ycntmod .mft, .ycntmod .pagination { text-align: center; font-family: verdana; padding: 5px 0pt; }
.ycntmod .mbd ul.list { padding-left: 5px; }
.ycntmod .mbd ul.list li { background: url('bullet.gif') no-repeat scroll left 0.6em transparent; padding-left: 10px; margin-bottom: 5px; color: rgb(102, 102, 102); }
.ycntmod .mbd ul.list li a { margin-right: 5px; }
.ycntmod .mbd ul.list li.more { margin: 10px 0pt 0pt 10px; text-align: right; background: url('arrow_more.gif') no-repeat scroll 45px center transparent; }
.ycntmod .mbd ul.list li.more a { margin: 0pt; }
span.prev { background: url('arrow_page_prev.gif') no-repeat scroll left center transparent; padding-left: 10px; }
span.next { background: url('arrow_page_next.gif') no-repeat scroll right center transparent; padding-right: 10px; }
#yblogtitle .thd, #yblogtitle .tft, .yblogcnt .blgtitlebar, .yblogcnt .blgfolderbar, .yblogcnt .msgcontent, #yarticle .more, #yartsum .more, #yphtlist .more, .actbtns, .yvstrcmnt, .ycmntreply, #ysbscrblist .actionbar, #ycmntlist .actionbar, #yphtsingle .mhd {  }
#yblogtitle .thd:after, #yblogtitle .tft:after, .yblogcnt .blgtitlebar:after, .yblogcnt .blgfolderbar:after, .yblogcnt .msgcontent:after, #yarticle .more:after, #yartsum .more:after, #yphtlist .more:after, .actbtns:after, .yvstrcmnt:after, .ycmntreply:after, #ysbscrblist .actionbar:after, #ycmntlist .actionbar:after, #yphtsingle .mhd:after { content: "."; height: 0pt; visibility: hidden; display: block; clear: both; }
#yblogtitle .mbd { background: none repeat scroll 0% 0% rgb(204, 255, 204); }
#yblogtitle .thd, #yblogtitle .tft {  }
#yblogtitle .thd h1 { display: inline; font-size: 120%; }
#yblogtitle .thd, #yblogtitle .tbd { margin-bottom: 5px; }
#yblogtitle .tbd p { display: inline; line-height: 1.5em; }
#yblogtitle .tft { text-align: right; padding-bottom: 5px; position: relative; }
#yblogtitle .tft div { float: right; margin-left: 5px; }
#yblogtitle .tft div a span { display: none; }
div#btnsbsrb a, div#btnsbsrb_nologin a { display: block; width: 89px; height: 22px; overflow: hidden; background: url('btn_subscribe.gif') no-repeat scroll 0% 0% transparent; }
#ypopsub { position: absolute; visibility: hidden; width: 600px; height: auto; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid black; }
#ypopsub iframe { display: none; }
#ypopsub .popclose { text-align: right; margin-bottom: 10px; background: none repeat scroll 0% 0% rgb(243, 243, 243); }
#ypopsub #closeme { line-height: 1.8em; padding: 5px; cursor: pointer; }
#ymodprf .mbd { padding: 0pt 0pt 5px; text-align: center; }
#ymodprf #yprf { text-align: center; }
#ymodprf #yprflg { margin: 5px auto; }
#ymodprf #yprfsm a img { display: inline; width: 40px; margin: 0pt 1px 5px; }
#ymodprf .nickname { padding-bottom: 5px; }
#ymodprf .horos { padding-bottom: 5px; }
#ymodcal .selyr { width: 45%; float: left; padding: 5px 0pt 0pt 3px; }
#ymodcal .selmn { float: right; text-align: right; padding: 5px 3px 0pt; }
#ymodcal .mhd a { text-decoration: none; font-weight: bold; }
#ymodcal .mhd span a { font-size: 70%; font-weight: normal; }
#ymodcal .mbd td strong { font-weight: bold; text-decoration: underline; }
#ymodcal .mhd .text .selyr, #ymodcal .mhd .text .selmn { position: relative; }
#ymodcal .mbd { padding: 5px 0pt; }
#ymodcal table { font-size: 88%; background: none repeat scroll 0% 0% transparent; }
#ymodcal th, #ymodcal td { text-align: center; }
#ymodcal th { font-weight: bold; }
#ymodcal form {  }
#ymodmsgbd .mhd h3 { font-weight: normal; }
#ymodrss .mhd { height: auto; }
#ymodrss .mhd .text { padding: 5px; }
#ymodrss .mhd span { display: block; position: relative; margin-left: 1px; margin-right: 1px; }
#ymodrss .mhd span a { display: block; text-indent: -5000px; background: none repeat scroll 0% 0% transparent; }
#rssmyy { margin: 0pt; width: 62px; height: 17px; background: url('addtomyyahoo3.gif') no-repeat scroll left center transparent; overflow: hidden; text-decoration: none; float: left; }
#rssfeed { margin: 0pt; width: 28px; height: 17px; background: url('rss.gif') no-repeat scroll left center transparent; overflow: hidden; text-decoration: none; float: left; }
#rssfaq { margin: 0pt; width: 13px; height: 17px; background: url('rss_faq.gif') no-repeat scroll left center transparent; overflow: hidden; text-decoration: none; }
#ymodstats li { line-height: 1.5em; }
#ymodupdate .mbd .date { background: url('update_img.gif') no-repeat scroll left center transparent; padding-left: 20px; font-size: 86%; font-family: verdana; }
#yarticle .yblogcnt { border-bottom: 1px dotted rgb(204, 204, 204); padding: 5px 0pt 10px; }
.yblogcnt .blgtitlebar { margin-bottom: 10px; }
.yblogcnt .blgtitlebar h2 { font-size: 126%; font-weight: bold; }
#yarticle .yblogcnt p { line-height: 1.5em; padding-bottom: 1em; }
#ypartsingle #yarticle .yblogcnt { border-bottom: medium none; }
.yblogcnt .mngbtns { float: right; }
.yblogcnt .mngbtns div { float: left; margin-left: 5px; padding: 0pt 5px; }
.yblogcnt .mngbtns div a { color: rgb(0, 0, 0); text-decoration: none; }
.yblogcnt .mngbtns div a:hover { color: rgb(255, 0, 0); }
div.btnblgedit, div.btnblgdel, div.btnblgreport { border-width: 2px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; border-color: rgb(204, 204, 204) rgb(153, 153, 153) rgb(153, 153, 153) rgb(204, 204, 204); }
div.btnblgdel, div.btnblgreport { background: none repeat scroll 0% 0% rgb(255, 196, 225); }
.yblogcnt .blgfolderbar { margin: 20px 0pt 10px; }
.yblogcnt .blgfolderbar .folder { float: left; }
.yblogcnt .blgfolderbar .date { text-align: right; font: 80% verdana; margin-top: 1px; }
.yblogcnt .msgcontent b, .yblogcnt .msgcontent strong { font-weight: bold; }
.yblogcnt .msgcontent { margin-bottom: 5px; }
.actbtns { margin-bottom: 5px; }
.actbtns div { float: right; margin-left: 5px; }
.actbtns div span { display: none; }
div.btncomment a { display: block; height: 18px; width: 68px; background: url('reply_btn.gif') no-repeat scroll 0% 0% transparent; }
div.btntrackback a { display: block; height: 18px; width: 68px; background: url('btn_trackback.gif') no-repeat scroll 0% 0% transparent; }
.browsebtns { text-align: right; margin: 10px 0pt; }
.browsebtns span { margin-left: 5px; font-size: 120%; }
.toggle_item { overflow: hidden; }
.toggle_item.visible .cmntbd { display: block; }
.toggle_item.visible a.norgie { background: url('norgie_close.gif') no-repeat scroll left center transparent; padding-left: 15px; }
.toggle_item .cmnthd { line-height: 2em; border-bottom: 1px dotted rgb(204, 204, 204); }
.toggle_item .cmnthd a { margin-right: 2px; }
#ymodsearch .textfield { width: 80px; }
#ymodsearch .submit { width: 40px; }
#ymodsearch label { font-size: 85%; }
#yblast { position: relative; margin: -25px 0pt 0pt; }
#yblast .text, #yblast .bg { overflow: hidden; padding: 10px 30px; width: 480px; height: 35px; }
#yblast .text { margin: -55px 0pt 0pt; }
.yvstrcmnt ul li, .msgcontent ul li { list-style: disc outside none; text-indent: 2em; }
a, a:link, a:visited { color: rgb(75, 151, 173); }
a:hover { color: rgb(136, 208, 230); }
#yhtw_masthead { color: rgb(102, 102, 102); background: none repeat scroll 0% 0% rgb(197, 197, 197); }
#yhtw_masthead a, #yhtw_masthead a:link, #yhtw_masthead a:visited, #yhtw_masthead a:hover { color: rgb(255, 255, 255); }
body { background: none repeat scroll 0% 0% rgb(246, 246, 246); }
.yc3sec .mhd, .yc3subbd .mhd { background: none repeat scroll 0% 0% rgb(227, 227, 227); color: rgb(106, 143, 154); }
.yc3sec .mbd, .yc3subbd .mbd, .yc3sec .mft, .yc3subbd .mft { background: none repeat scroll 0% 0% rgb(246, 246, 246); color: rgb(102, 102, 102); }
.yc3pribd .mbd, .yc3pribd .mft, #yreplymsg table, #ysbscrblist table, #ybloginfo table, #yusrinfo table, #yusrintro p { background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(102, 102, 102); }
#yblogtitle .mbd, #yblogtitle .mft { background-color: rgb(164, 164, 164); color: rgb(102, 102, 102); }
#yblogtitle h1 { color: rgb(51, 51, 51); }
/* ::::: http://l.yimg.com/f/i/tw/blog/css/yhtw_masthead_super_slim_11b.css ::::: */

#yhtw_masthead { background: none repeat scroll 0% 0% rgb(156, 156, 156); min-height: 30px; font-family: "MingLiU","PMingLiU"; padding: 0pt 10px; margin-bottom: 20px; }
#yhtw_masthead[id] { position: relative; z-index: 999; }
#yhtw_masthead .mhlogo { height: auto; display: inline; float: left; }
#yhtw_masthead .mhuser { height: auto; display: inline; border-left: 1px solid rgb(222, 222, 222); padding: 6px 0pt 4px 4px; float: left; }
#yhtw_masthead .mhuser div { display: inline; color: white; font-size: 12px; }
#yhtw_masthead .mhuser div a, #xyhtw_masthead .mhuser div b { color: white; }
#yhtw_masthead .mhlogo img { border: 0px solid white; height: 30px; vertical-align: middle; position: relative; }
#yhtw_masthead .mhlogo a { text-decoration: none; font-weight: bold; color: white; }
#yhtw_masthead .mhsch { float: right; position: relative; margin-top: 7px; }
#yhtw_masthead .mhsch div { color: rgb(255, 255, 255); text-align: right; font-size: 12px; width: 22em; }
#yhtw_masthead .mhsch a { color: rgb(255, 255, 255); margin: 0pt 1px; }
#yhtw_masthead .mhsch b { color: rgb(255, 255, 255); margin: 0pt 1px; font-weight: normal; }
#yhtw_masthead .masthead_function { font-size: 12px; position: relative; }
#yhtw_masthead .masthead_function strong { font-weight: normal; color: rgb(255, 255, 255); text-decoration: underline; cursor: pointer; padding-bottom: 5px; }
#yhtw_masthead .masthead_function span { display: none; position: absolute; top: 1em; left: 0pt; text-align: left; background: none repeat scroll 0% 0% white; border: 1px solid rgb(222, 222, 222); }
#yhtw_masthead span.masthead_function:hover span { display: block; }
#yhtw_masthead .masthead_function span a { color: rgb(0, 0, 187) ! important; display: block; min-width: 5.5em; padding: 5px 4px 3px; text-decoration: none; border-bottom: 1px solid rgb(240, 240, 240); }
#yhtw_masthead .masthead_function span a:hover { background: none repeat scroll 0% 0% rgb(255, 255, 204); text-decoration: underline; }
#yhtw_masthead .masthead_function {  }
#yhtw_mastfoot { clear: both; border-top: 1px solid rgb(199, 199, 199); color: rgb(119, 119, 119); font-size: 12px; font-family: "Arial","MingLiU","PMingLiU"; padding: 5px 0pt; text-align: left; margin: 0pt auto; }
#yhtw_mastfoot:after { content: "."; display: block; height: 0pt; visibility: hidden; clear: both; }
#yhtw_mastfoot a { color: rgb(0, 0, 187); }
#yhtw_mastfoot a:hover { color: red; }
#yhtw_mastfoot .cp { float: left; }
#yhtw_mastfoot .ln { float: right; }
#yhtw_mastfoot .ln a { padding: 0pt 1px 0pt 5px; border-left: 1px solid rgb(170, 170, 170); }
#yhtw_mastfoot .ln a:first-child { border-left: 0pt none; }
/* ::::: http://l.yimg.com/f/i/tw/blog/css/ssharing_v1.css ::::: */

#bigcontainer .wsharing { width: 160px; font-size: 10pt; position: relative; text-align: left; line-height: 100%; letter-spacing: 0pt; z-index: 2; }
#bigcontainer .wsharing.bottom { float: right; margin: 40px 0px 0px; }
#bigcontainer .wsharing a { color: rgb(0, 102, 153); letter-spacing: 0pt; background: none repeat scroll 0% 0% transparent; }
#bigcontainer .wsharing a:hover { color: rgb(255, 51, 0); }
#bigcontainer .wsharing .endrc { width: 20px; height: 25px; background: url('univshar_btn_175.gif') no-repeat scroll right top transparent; display: block; float: right; }
#bigcontainer .wsharing .hd { height: 25px; cursor: pointer; padding: 0px; background: url('univshar_btn_175.gif') no-repeat scroll 0% 0% transparent; }
#bigcontainer .wsharing .hd h5 { padding-left: 10px; background: none repeat scroll 0% 0% transparent; border: medium none; font-weight: bold; color: rgb(2, 51, 152); margin: 4px 0px 0px; display: block; font-size: 12px; float: left; width: 30px; }
#bigcontainer .wsharing .shortcut a { display: block; margin-left: 7px; width: 16px; height: 16px; float: left; text-indent: -5000px; text-align: left; overflow: hidden; background: url('univshar_ico.gif') no-repeat scroll 0% 0% transparent; margin-top: 4px; }
#bigcontainer .wsharing .bd { width: 175px; position: absolute; top: 25px; left: 0px; display: none; text-align: left; }
#bigcontainer .wsharing .bd ul { width: 175px; padding: 6px 0pt; background: url('univshar_bg_175.gif') no-repeat scroll 0% 0% transparent; height: 145px; }
#bigcontainer .wsharing .bd li { margin: 0pt 3px; padding: 0pt 0pt 6px 18px; list-style: none outside none; background: url('univshar_ico.gif') no-repeat scroll 0% 0% transparent; }
#bigcontainer .wsharing li.plurk, #bigcontainer .wsharing a.plurk { background-position: 0pt -26px; }
#bigcontainer .wsharing li.yim, #bigcontainer .wsharing a.yim { background-position: 0pt -156px; }
body { background: url('bg1.jpg') repeat-x scroll 0% 0% rgb(255, 255, 255); }
.yc3sec .mhd, .yc3subbd .mhd { background: none repeat scroll 0% 0% rgb(194, 205, 149); color: rgb(102, 102, 102); }
#yblogtitle .mbd, #yblogtitle .mft { background-color: rgb(194, 205, 149); color: rgb(102, 102, 102); }
body { background-color: rgb(255, 255, 208); }
body { background-image: url('f23_20080610105556342.jpg'); background-repeat: repeat; }
#yblogtitle .mbd, #yblogtitle .mft { background-color: rgb(255, 255, 208); }
#yblogtitle .rctop, #yblogtitle .rctop div, #yblogtitle .rcl, #yblogtitle .rcr, #yblogtitle .rcbtm, #yblogtitle .rcbtm div {  }
#yblogtitle .text { color: rgb(255, 255, 208); }
#yblogtitle .mbd { background-image: url('f23_20080622123937878.jpg'); background-repeat: no-repeat; }
#yblogtitle .rctop, #yblogtitle .rctop div, #yblogtitle .rcl, #yblogtitle .rcr, #yblogtitle .rcbtm, #yblogtitle .rcbtm div {  }
.yc3sec .mbd, .yc3subbd .mbd, .yc3sec .mft, .yc3subbd .mft { background: none repeat scroll 0% 0% rgb(255, 255, 208); }
.yc3subbd .rctop, .yc3subbd .rctop div, .yc3subbd .rcl, .yc3subbd .rcr, .yc3subbd .rcbtm, .yc3subbd .rcbtm div, .yc3sec .rctop, .yc3sec .rctop div, .yc3sec .rcl, .yc3sec .rcr, .yc3sec .rcbtm, .yc3sec .rcbtm div {  }
.text { color: rgb(167, 97, 0); }
.yc3pribd .mbd, .yc3pribd .mft, #yreplymsg table, #ysbscrblist table, #ybloginfo table, #yusrinfo table, #yusrintro p { background: none repeat scroll 0% 0% rgb(255, 255, 208); }
.yc3pribd .rctop, .yc3pribd .rctop div, .yc3pribd .rcl, .yc3pribd .rcr, .yc3pribd .rcbtm, .yc3pribd .rcbtm div {  }
.yc3pribd .text { color: rgb(79, 138, 71); }
#yblast .bg { background: url('blast_bg1.gif') no-repeat scroll 0% 0% transparent; }
.ycnt3col { position: relative ! important; }
.ysm { overflow: hidden; border: 1px solid rgb(151, 171, 188); position: relative; font-size: 13px; line-height: 1.4; margin: 5px; padding: 1px 5px; min-height: 10px; }
.ysm * { cursor: pointer; }
.ysm .ysmlabel { position: absolute; top: 2px; right: 5px; }
.ysm .ysmlabel a { text-decoration: none; font-size: 12px; }
.ysm dl { text-align: left; margin: 0pt; padding: 0pt 0pt 6px; }
.ysm dl.last { padding-bottom: 0pt; }
.ysm dl address { margin-left: 5px; font: 12px/1 Arial; }
.ysm dt a {  }
.ysm dt address { display: inline; }
.ysm dd { font-size: 12px; margin: 0pt; }
.ysm dd address { display: none; }
.msgcontent .wsharing ul li { text-indent: 0pt; }
/* ::::: http://l.yimg.com/f/i/tw/blog/kmodule/kmodule.css ::::: */

