/* ::::: http://www.gs-battery.com.tw/in.css ::::: */

body { margin: 0px; }
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
td { font-family: Geneva,Arial,Helvetica,sans-serif; font-size: 12px; line-height: 18px; color: rgb(117, 110, 91); text-decoration: none; border-width: 1px; }
a:link { color: rgb(0, 102, 255); text-decoration: none; }
a:visited { text-decoration: none; color: rgb(0, 102, 255); }
a:hover { text-decoration: none; color: rgb(0, 153, 255); }
a:active { text-decoration: none; color: rgb(0, 153, 255); }
.style65 { color: rgb(0, 121, 190); }
.style55 { color: rgb(56, 50, 44); }
.style66 { color: rgb(56, 50, 44); font-weight: bold; }
body { margin: 0px; }
/* ::::: http://www.gs-battery.com.tw/language.css ::::: */

.language { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 11px; font-style: normal; color: rgb(131, 106, 73); letter-spacing: 1px; word-spacing: 8px; clip: rect(auto, auto, auto, auto); margin-top: 2px; margin-right: 12px; margin-bottom: 2px; padding: 2px; }
/* ::::: http://www.gs-battery.com.tw/toptype.css ::::: */

body, td, th { color: rgb(131, 106, 73); }
/* ::::: http://www.gs-battery.com.tw/menu-about.css ::::: */

.menu-about { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 12px; font-style: normal; font-weight: bold; color: rgb(43, 63, 69); }
a:link { text-decoration: none; color: rgb(0, 102, 255); }
a:visited { text-decoration: none; color: rgb(0, 102, 255); }
a:hover { text-decoration: none; color: rgb(0, 153, 255); }
a:active { text-decoration: none; color: rgb(0, 153, 255); }
/* ::::: http://www.gs-battery.com.tw/* ::::: */

.style4 { color: rgb(0, 121, 190); font-size: 12px; }
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
body { margin: 0px; }
/* ::::: http://www.gs-battery.com.tw/* ::::: */

.style2 { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 10px; color: rgb(58, 46, 33); }
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
