
/* ::::: http://s.yeeyan.com:443/css/cmain.css?0177 ::::: */

* { margin: 0pt; padding: 0pt; font-family: Verdana,arial,sans-serif; }
body { color: rgb(51, 51, 51); font-size: 13px; position: relative; }
* html body { font-size: 12px; position: relative; }
em { font-style: normal; }
a { color: rgb(46, 106, 177); text-decoration: underline; }
a img { border: medium none ; text-decoration: none; }
.panel a:visited, #leftgroup a:visited, .mtable a:visited, .item h3 a:visited { color: rgb(117, 90, 155); }
ul { list-style-type: none; }
h2 { font-size: 18px; }
h3 { font-size: 14px; }
.right { text-align: right; }
.left { text-align: left; }
.red { color: rgb(245, 89, 18) ! important; }
.blue { color: rgb(37, 108, 180) ! important; }
.green { color: rgb(109, 171, 2) ! important; }
.yellow { color: rgb(255, 255, 0) ! important; }
.grey { color: rgb(136, 136, 136) ! important; }
.dgrey { color: rgb(85, 85, 85) ! important; }
.dark { color: rgb(51, 51, 51) ! important; }
.brown { color: rgb(106, 52, 31) ! important; }
.bglight { background-color: rgb(245, 245, 245) ! important; }
.bggrey { background-color: rgb(238, 238, 238) ! important; }
.bgpale { background-color: rgb(227, 236, 243) ! important; }
.bgwhite { background-color: rgb(255, 255, 255) ! important; }
.bgpink { background-color: rgb(255, 225, 217) ! important; }
.bgdp { background-color: rgb(255, 195, 179) ! important; }
.bgyw { background-color: rgb(255, 244, 217) ! important; }
.bgdy { background-color: rgb(255, 233, 179) ! important; }
.bgsky { background-color: rgb(179, 221, 255) ! important; }
.bgblue { background-color: rgb(53, 124, 196) ! important; }
.bgdb { background-color: rgb(153, 204, 255) ! important; }
.bglb { background-color: rgb(228, 242, 253) ! important; }
.bgllb { background-color: rgb(243, 249, 253); }
.bggreen { background-color: rgb(153, 204, 153) ! important; }
.bgGw { background: rgb(238, 238, 238) url('gradient-white.png') repeat-x scroll 0% 0%; }
.smalltxt { font-size: 0.9em ! important; }
.smallertxt { font-size: 0.8em ! important; }
.indent { margin-left: 15px; }
.greentitle { font-weight: 700; color: rgb(85, 118, 48); font-size: 1.1em; }
#container { margin: 0pt auto; width: 920px; }
.homegroup td { padding: 10px; width: 50%; }
.mGroups img { border: 1px solid rgb(204, 204, 204); padding: 1px; float: left; }
.mGroups p { margin: 5px 0pt 0pt 64px; }
#topnav { margin: 0pt 0pt 2px; }
.groupDiv p b { color: rgb(85, 118, 48); font-size: 14px; }
.groupDiv img { border: 1px solid rgb(204, 204, 204); margin: 5px 0pt 0pt 10px; padding: 1px; }
.groupDiv li { font-size: 1em; margin-left: 5px; }
.catDiv { width: 330px; height: 178px; float: left; }
.catDiv h2 a { color: rgb(85, 118, 48); font-size: 16px; margin-left: 10px; }
.catDiv img { border: 1px solid rgb(204, 204, 204); margin: 12px 0pt 0pt 15px; padding: 1px; width: 80px; float: left; }
.catDiv div { margin: 0pt 10px 0pt 105px; }
.catDiv li { font-size: 1em; display: inline; line-height: 24px; margin-right: 10px; }
.subcat { padding: 8px; margin-top: 30px; }
.subcat b { font-size: 12px; margin-left: 10px; }
.subcat .logo { border: 1px solid rgb(204, 204, 204); padding: 1px; width: 36px; vertical-align: -10px; margin-right: 5px; }
.subcat h3 { font-size: 16px; }
.subcat .block { border-right: 1px solid rgb(221, 221, 221); border-bottom: 1px solid rgb(204, 204, 204); padding: 8px; background-color: rgb(255, 255, 255); margin-bottom: 12px; }
.subcat ul { padding: 8px 0pt 0pt 18px; }
.subcat li { font-size: 1em; display: inline; line-height: 1.8em; margin-right: 18px; }
#categories { margin: 10px 10px 5px; padding: 5px; background-color: rgb(179, 221, 255); }
#categories td { padding: 4px 8px 6px 20px; }
#indexTop { border: 1px solid rgb(221, 221, 221); margin: 15px 0pt 15px 5px; padding: 15px; }
#header { margin: 5px 0pt 0pt; padding: 0pt; background-color: rgb(255, 255, 255); }
#headernav { padding: 8px 0pt 0pt 10px; }
#headernav li { font-size: 14px; margin-left: 1px; float: left; font-weight: 700; }
#headernav li a { border: 2px solid rgb(212, 236, 252); padding: 4px 2px 3px; float: left; text-decoration: none; color: rgb(100, 124, 180); text-align: center; width: 80px; background-color: rgb(243, 249, 253); }
* html #headernav li a { padding: 4px 0pt 3px; width: 84px; }
#headernav .highlight a { border: 2px solid rgb(196, 220, 236); background-color: rgb(212, 236, 252) ! important; color: rgb(85, 85, 85); font-weight: 700; }
#headernav a:hover { background-color: rgb(212, 236, 252) ! important; }
#headernav .headermenu a { background: rgb(243, 249, 253) url('down_001.gif') no-repeat scroll right bottom; }
#headernav .darkmenu a { border: 2px solid rgb(37, 108, 180); background: rgb(53, 124, 196) url('down_001.gif') no-repeat scroll right bottom; color: rgb(255, 255, 255); }
#headernav .darkmenu a:hover { background-color: rgb(21, 92, 164) ! important; }
.menuwrapper { display: none; width: 118px; opacity: 0.9 ! important; z-index: 1000000; }
.menuitem { border-left: 1px solid rgb(221, 221, 221); border-right: 1px solid rgb(102, 102, 102); border-bottom: 1px solid rgb(102, 102, 102); padding: 8px 0pt; background-color: rgb(255, 255, 255); font-size: 0.9em; }
.menuitem li { margin: 3px 0pt; display: block ! important; }
.menuitem li a { padding: 4px 15px 5px 20px; display: block; width: 100%; }
.menuitem li a:hover { background: rgb(243, 243, 243) url('groupnav.gif') repeat-x scroll 0% 0%; color: rgb(255, 255, 0); }
.menuitem .divider { border-top: 1px solid rgb(204, 204, 204); margin-top: 8px; padding-top: 5px; }
#hotsearch { padding: 0pt 10px 10px 20px; }
#hotsearch li { margin: 0pt ! important; padding: 0pt 3px; display: inline; line-height: 1.8em; }
#nav_list li { margin: 0pt 0pt 0pt 3px; display: inline; font-size: 0.9em; color: rgb(255, 255, 255); }
#nav_list li img { vertical-align: -2px; }
#header span { margin: 0pt 0pt 0pt -20px; font-size: 0.9em; }
#logo { margin: -18px 0pt 0pt 12px; float: left; }
.submit { margin: 20px 0pt 10px; text-align: center; }
#main { padding-top: 10px; position: relative; }
#layoutleft { margin: 5px 0pt 0pt; float: left; }
#layoutmid { padding: 5px 0pt 10px; }
#pagination { margin-left: 10px; }
#pagination img { margin: 1px 0pt 0pt; text-decoration: none; vertical-align: -2px; }
#pagination em, #pagination a { margin: 0pt 2px; font-weight: 700; }
#pagination em { border: 1px solid rgb(194, 225, 103); padding: 2px 13px 0pt; background-color: rgb(194, 225, 103); color: rgb(51, 51, 51); }
#pagination a { border: 1px solid rgb(204, 204, 204); padding: 1px 13px; background-color: rgb(255, 255, 255); text-decoration: none; }
#commonLeft { margin: 30px 15px 0pt 0pt; float: right; font-size: 1.1em; }
#footer { border-top: 1px solid rgb(204, 204, 204); padding: 5px; clear: both; font-size: 0.9em; text-align: center; }
#leftmenu { width: 100%; font-weight: 700; font-size: 1em; }
#topsearch { padding: 4px 10px 3px 4px; margin-top: -4px; text-align: right; background-color: rgb(53, 124, 196) ! important; }
#topsearch tr { border: 1px solid red; margin: 0pt; padding: 0pt; }
#topsearch #submit { padding: 0pt; width: 50px; font-size: 12px ! important; line-height: 14px; }
#announcement { border: 1px solid rgb(255, 235, 205); padding: 2px 10px 0pt; font-size: 0.9em; }
#dzleft { margin-right: 445px; z-index: 1000; }
.dz_in { border: 3px solid rgb(197, 220, 236); overflow: hidden; }
#dzright { overflow: auto; width: 445px; float: right; background-color: rgb(238, 238, 238); }
#article_body { padding: 10px 20px; position: relative; }
#article_body img { max-width: 520px; height: auto; }
#article_body .bodytag { border-bottom: 1px dotted rgb(51, 85, 51); text-decoration: none; color: rgb(51, 85, 51); }
#article_body .bodytag em { font-style: normal ! important; }
#dzleft #article_body { font-size: 12px ! important; font-family: serif ! important; line-height: 24px ! important; letter-spacing: 0pt ! important; word-spacing: 1px ! important; }
#dzleft #article_body p { margin: 4px 0pt; padding: 0pt; }
#dzleft #article_body blockquote { margin: 0pt; padding: 15px ! important; }
#favoriteDiv { border: 1px solid rgb(195, 217, 234); padding: 2px 10px 5px; margin-top: 25px; width: 560px; }
#ratingDiv { border: 1px solid rgb(228, 242, 253); margin: 10px 0pt 5px 25px; padding: 0pt; }
#slider2 { margin: 0pt 5px 0pt 100px; }
#area2 { margin: 0pt; padding: 0pt; background: transparent url('rating_bg.gif') repeat-x scroll left 10px; position: relative; height: 20px ! important; width: 330px; }
#knob2 { background: transparent url('cursor.gif') no-repeat scroll left top; position: absolute; cursor: pointer; top: 2px; width: 10px; height: 18px; }
#rating_tip { padding: 2px 0pt; background: transparent url('rating_tip_bg.gif') no-repeat scroll left top; position: absolute; display: none; font-size: 12px; width: 128px; top: 0pt; }
* html #rating_tip { font-size: 11px; }
.rating_number { padding: 3px; font-size: 32px; font-weight: 700; }
#rchart { width: 400px; }
.rchart_top { background: transparent url('bar_top_001.gif') no-repeat scroll left bottom; height: 10px; width: 30px; float: left; }
#rchart_base { background: transparent url('bar_base.gif') no-repeat scroll left top; height: 3px; }
.rbar { background: transparent url('bar.gif') repeat-y scroll 0% 0%; float: left; width: 30px; height: 26px; font-size: 10px; text-align: center; color: rgb(255, 255, 255); }
* html .rbar { height: 27px; }
.rbartop { background-color: rgb(228, 242, 253); font-size: 1px; }
#related_area a { color: rgb(80, 51, 5); }
.areaBox { width: 285px; float: left; }
.areaBox ul { border: 1px solid rgb(221, 221, 221); margin: 5px 0pt 0pt 5px; background-color: rgb(245, 245, 245); }
#article_stats { padding: 0pt 10px 0pt 2px; margin-top: 20px; font-size: 0.9em; }
#article_stats li { margin: 8px 0pt 3px 8px; }
#article_stats b { margin-left: 10px; color: rgb(245, 89, 18); }
#content_list { padding: 0pt 10px; position: relative; }
#content_list h2 { padding: 5px 0pt 0pt 10px; color: rgb(85, 85, 85); font-size: 1.5em; }
#content_nav { border-top: 1px solid rgb(221, 221, 221); margin: 2px 10px 10px 20px; padding: 8px; font-size: 0.9em; }
#content_nav img { margin: 0pt 2px; vertical-align: -2px; }
#api h2 { margin: 0pt 0pt 20px; }
#api ul { border: 1px solid rgb(204, 204, 204); padding: 20px; }
#api div { border-left: 8px solid rgb(238, 238, 238); margin: 20px 0pt 0pt; padding-left: 5px; }
#api p { padding: 10px; }
#api table { margin: 0pt auto; width: 90%; }
#widget_control { padding: 10px; float: right; width: 200px; }
#all_tags { padding: 20px; }
#all_tags h2 { padding: 0pt 0pt 20px; font-size: 1.1em; }
#all_tags table td { padding: 10px 15px; }
.all_tags_box { padding: 20px; font-size: 1.1em; line-height: 2.8em; background-color: rgb(255, 255, 255); }
#tag_box a:hover { background: rgb(255, 255, 0) none repeat scroll 0% 0%; }
#tag_box div { margin: 0pt; padding: 2px; display: inline; }
.msglist { margin: 8px 5px 10px; width: 100%; }
.msglist th { padding: 3px; background-color: rgb(238, 238, 238); }
.msglist td { border-right: 1px solid rgb(238, 238, 238); border-bottom: 1px solid rgb(238, 238, 238); padding: 3px; }
.msgtitle li div { padding: 0pt 2px 0pt 0pt; float: left; width: 80px; text-align: right; font-weight: 700; }
.contactlist li div { padding: 0pt 5px 0pt 0pt; float: left; width: 180px; text-align: right; font-weight: 700; }
.msgbody { margin: 10px 0pt 0pt 50px; padding: 20px; background-color: rgb(238, 238, 238); }
.myBox { padding: 15px; }
.space_extra { margin: 15px 5px 5px 10px; }
.space_assets { margin: 1px 0pt 18px; padding: 15px; }
.space_assets h2 { padding: 2px; font-size: 1.1em; color: rgb(78, 70, 63); }
.space_assets li { margin: 10px 10px 2px 20px; }
.heading { border-bottom: 1px solid rgb(218, 218, 218); margin: 5px 0pt 8px; padding: 5px 5px 3px; background: rgb(243, 243, 243) url('menu_bg.gif') repeat-x scroll 0% 0%; color: rgb(78, 70, 63); clear: both; font-size: 1em; }
.userprofile { padding: 10px 15px; margin-top: 22px; }
.userprofile img { margin: 0pt 0pt 5px 5px; vertical-align: baseline; }
.userprofile li { margin: 4px 0pt 0pt 5px; font-size: 0.9em; }
.userprofile li img { margin: 0pt 2px 0pt 0pt; vertical-align: -3px; }
#collection { border: 2px solid rgb(238, 238, 238); padding: 25px; }
#collection #index { border: 1px solid rgb(204, 204, 204); padding: 20px 30px 20px 50px; background-color: rgb(243, 243, 243); }
#collection #index li { margin: 3px; }
#collection #index h3 { margin: 5px; font-size: 1.4em; }
#collection h2 { font-size: 2.5em; }
#collection h3 { border-bottom: 1px solid rgb(238, 238, 238); margin-top: 30px; font-size: 1em; }
.usermenu { margin: 0pt 0pt 20px; padding: 10px; }
.usermenu #title { padding: 8px; background-color: rgb(255, 255, 255); margin-left: 64px; }
.usermenu img { border: 1px solid rgb(238, 238, 238); padding: 1px; float: left; margin-right: 10px; }
.usermenu h2 { font-size: 1.4em; }
.usermenu ul { margin: 5px 0pt 5px 5px; font-size: 1em; }
.usermenu li { padding: 2px 5px; display: inline; }
.usernews { padding: 0pt 0pt 10px; margin-top: 25px; }
.usernews li { margin: 3px 3px 1px; padding: 3px; font-size: 0.9em; }
.actionLink { padding: 5px; text-align: center; }
#spaceRight { padding: 15px 0pt 0pt; }
.iconlist ul li { float: left; font-size: 0.9em; }
.iconlist ul li div { margin: 0pt; padding: 0pt; text-align: center; float: left; width: 78px; height: 85px; }
.iconlist img { border: 1px solid rgb(204, 204, 204); margin: 0pt 0pt 3px; padding: 1px; background-color: rgb(255, 255, 255); }
.iconlist span { width: 50px; }
#breadcrumb { position: absolute; color: rgb(102, 102, 102); top: 8px; left: 0pt; width: 920px; font-size: 0.9em; }
#mbread { color: rgb(102, 102, 102); font-size: 0.9em; }
#breadcrumb span { margin: 3px 5px; }
#mbread span { margin: 3px 5px; line-height: 1.5em; }
#second_nav { margin: 0pt 15px 1px 20px; padding: 10px; font-weight: 700; }
#second_nav li { display: inline; margin-left: 18px; }
#second_nav li a:hover { color: red; }
.item { margin: 12px 0pt 15px 5px; padding: 5px; }
.eventView .item { padding: 10px; background-color: rgb(255, 255, 255); }
.withThumb { margin-right: 200px; }
.thumb { border: 1px solid rgb(204, 204, 204); margin: 0pt 5px 5px 0pt; padding: 2px; float: left; }
.minithumb { margin: 0pt 10px 0pt 0pt; float: left; height: 35px; }
.thumb2 { margin-top: 30px; }
.item h3 { border-bottom: 1px solid rgb(223, 223, 223); padding: 15px 5px 5px 3px; color: rgb(51, 51, 51); }
.item h3 img { margin: 0pt 0pt 0pt 3px; vertical-align: -4px; }
.showUL a { text-decoration: underline ! important; }
.noUL a { text-decoration: none ! important; }
.item h1 { border-style: solid; border-color: rgb(255, 255, 255) rgb(255, 255, 255) rgb(223, 223, 223); border-width: 1px; padding: 5px 0pt 3px; font-size: 1.5em; color: rgb(51, 51, 51); }
.item h1 img { vertical-align: -1px; margin-left: 5px; }
.item #readCount { padding: 2px 6px 2px 5px; display: inline; font-size: 0.7em; }
.item #readCount b { margin: 0pt 3px 0pt 0pt; font-size: 1.4em; font-weight: 700; }
.related { border-style: solid; border-color: rgb(204, 204, 204) rgb(238, 238, 238) rgb(238, 238, 238) rgb(204, 204, 204); border-width: 1px; margin: 25px 0pt 0pt; padding: 1px; }
#rightSide .related h3 { margin: 18px 0pt 6px 8px; color: rgb(85, 118, 48); }
.itemfrom { padding: 5px 5px 2px 20px; margin-bottom: 12px; color: rgb(136, 136, 136); font-size: 0.9em; }
.itemfrom img { margin: 0pt 5px; }
.itemscore .avatar, .mini { border: 1px solid rgb(204, 204, 204); margin: 0pt; padding: 1px; width: 16px; height: 16px; vertical-align: -6px; }
.itemscore { border-top: 1px solid rgb(239, 239, 239); padding: 3px 0pt 2px 20px; font-size: 0.9em; }
#project_nav { margin: 0pt 0pt 10px; padding: 2px 10px; text-align: center; font-size: 0.9em; }
.itembody { padding: 10px 15px 10px 20px; line-height: 1.8em; position: relative; color: rgb(51, 51, 51); }
.ymsgbody { padding: 10px 15px 10px 20px; line-height: 1.8em; color: rgb(51, 51, 51); }
#new_input { overflow: visible; position: absolute; width: 16px ! important; height: 16px ! important; display: none; z-index: 30000; }
#new_input_handle { margin: 0pt; padding: 0pt; background: rgb(255, 255, 255) url('pin_add.gif') repeat scroll 0% 0%; width: 17px; height: 17px; }
#new_input_box { width: 380px; background-color: rgb(48, 48, 48); position: absolute; top: 12px; left: 12px; color: rgb(238, 238, 238); z-index: 1000000; }
#inline_notation { float: right; color: rgb(43, 105, 178); margin-top: 5px; }
#inline_notation img { vertical-align: -5px; margin-left: 10px; }
#new_inline_errtype { margin: 15px 5px 10px; }
#new_input_box h4 { color: rgb(255, 255, 0); font-size: 14px; }
#imenu { position: absolute; top: 0pt; left: -44px; z-index: 1000000; }
#imenu_left { padding: 14px 10px 18px 13px; background: rgb(255, 255, 255) url('tools_bg.gif') no-repeat scroll 0% 0%; }
#imenu_right { border: 1px solid rgb(136, 136, 136); padding: 3px; position: absolute; top: 48px; left: 45px; background-color: rgb(255, 255, 255); display: none; opacity: 0.8 ! important; z-index: 2000; width: 100px; }
.editableIC { cursor: pointer; z-index: 10000; }
.onlyIC { z-index: 10000; }
#icomment { border: 1px solid rgb(204, 204, 204); overflow: visible; margin-top: 8px; z-index: 1000; position: relative; }
#icomment img { max-width: 380px; height: auto; }
#icomment .myTips { padding: 1px; width: 16px; height: 16px; position: absolute; }
.ic_alert { background: rgb(48, 48, 48) url('arrow_turn_left.png') no-repeat scroll -2px -2px; color: rgb(204, 204, 204); padding-left: 14px; }
.ic_wrapper { padding: 8px; margin-top: 4px; color: rgb(51, 51, 51); background-color: rgb(238, 238, 238); }
.ic_icon { border: 1px solid rgb(136, 136, 136); padding: 1px; width: 20px; height: 20px; vertical-align: -5px; margin-right: 5px; }
.ic_title { font-size: 14px; color: rgb(45, 107, 180); }
.ic_quote { margin: 5px; padding: 5px; color: rgb(136, 136, 136); }
.ic_body { margin: 10px 5px 5px; }
.itembody ul { list-style-type: circle; }
.reference { padding: 8px 20px 10px 40px; margin-top: 5px; }
.reference h3 { color: rgb(102, 102, 102); margin-bottom: 4px; }
.reference li { padding-top: 8px; }
#ref_group img { margin: 0pt 0pt 0pt 2px; vertical-align: -2px; }
.vote_bar { margin: 5px 5px 0pt; float: right; width: 50px; height: 4px; background-color: rgb(243, 162, 138); font-size: 1px; }
.vote_up_bar { background-color: rgb(127, 217, 8); height: 100%; }
.vote_wait { float: right; margin-right: 3px; visibility: hidden; }
#new_comment { border: 1px solid rgb(181, 213, 234); padding: 10px 10px 0pt 15px; background-color: rgb(227, 236, 243); font-size: 1.1em; text-align: center; }
.comment_counter { float: left; font-size: 2em; width: 48px; padding-right: 3px; text-align: center; color: rgb(136, 136, 136); font-weight: 700; }
.comment_avatar { border: 1px solid rgb(204, 204, 204); padding: 1px; width: 40px; height: 40px; float: left; }
.comments .comment { margin: 0pt 0pt 10px 105px; padding: 4px 0pt 10px; }
.comments .content { padding: 10px 30px 8px 35px; }
.comments .reply { padding: 10px; margin-left: 20px; }
.continue { text-align: right; margin-right: 10px; }
.continueAction { font-size: 0.9em; float: right; line-height: 0.9em; text-decoration: none; }
#rightSide { padding: 10px 0pt 0pt 10px; }
#rightSide h3 { margin: 25px 0pt 6px; color: rgb(85, 118, 48); }
#rightSide div { margin-bottom: 18px; }
#rightSide .panel .favorite a { margin-left: 20px; }
#rightSide .panel b { color: rgb(102, 102, 102); }
#rightSide .panel p { padding: 2px 5px 0pt 8px; }
#rightSide .panel ul { padding: 0pt 5px 2px; }
#rightSide .panel li { margin: 2px 0pt 8px 5px; padding: 1px 3px; }
#rightSide .panel li div { margin: 0pt; padding: 3px 10px; text-align: right; font-size: 0.9em; }
#reader_list div { padding: 5px; float: right; width: 150px; text-align: center; }
#reader_list li { margin: 0pt 170px 0pt 30px; padding: 0pt; background-color: rgb(255, 255, 255); }
.groupmembers { margin: 0pt 0pt 0pt 68px; }
#groupSummary { margin: 0pt 0pt 0pt 65px; padding: 15px 20px 10px; }
#groupSummary li { margin: 0pt; padding: 0pt 2px; display: inline; font-weight: 700; }
#groupSummary h2 { font-size: 1.5em; }
#groupSummary a { margin: 0pt; padding: 0pt; }
#catright { float: left; width: 220px; }
#catmenu { padding-top: 15px; font-size: 1.1em; }
#catmenu li { margin: 0pt; padding: 0pt 2px 0pt 10px; display: inline; font-weight: 700; }
#groupAvatar { margin: 0pt; text-align: left; float: left; width: 68px; font-size: 0.9em; color: rgb(136, 136, 136); }
#groupAvatar img { border: 1px solid rgb(204, 204, 204); padding: 1px; background-color: rgb(255, 255, 255); }
.groupItems { margin: 11px 0pt 0pt; padding: 20px 10px 5px 20px; }
* html .groupItems { margin-top: 37px; }
.SR { margin: 15px 0pt 5px; }
.SR em { color: rgb(245, 89, 18); }
.SRGroup div { padding: 0pt 0pt 5px 65px; }
.SR img { border: 1px solid rgb(204, 204, 204); padding: 1px; float: left; }
.searchDiv { margin: 10px 25px 0pt 0pt; float: right; width: 180px; }
.searchDiv p { padding: 3px; margin-top: 8px; }
#signup { padding: 3px; margin-top: 40px; }
#facewall { margin: 25px 0pt 0pt; padding: 10px; }
#facewall img { border: 1px solid rgb(204, 204, 204); margin: 0pt; padding: 1px; width: 48px; height: 48px; }
.mButton { border: 1px solid rgb(255, 215, 0) ! important; margin: 0pt 1px 0pt 0pt; padding: 3px 8px; text-align: center; font-weight: 400 ! important; font-size: 14px ! important; cursor: pointer; color: rgb(50, 32, 32) ! important; background-color: rgb(255, 237, 126); text-decoration: none; line-height: 0.9em; }
.mButton:hover { border: 1px solid rgb(255, 255, 0) ! important; background-color: rgb(255, 244, 176); }
#commentLogin td { padding: 5px 20px; text-align: left; }
fieldset { border: 1px solid rgb(221, 221, 221); margin: 1em 0pt; padding: 15px; font-size: 1.2em; }
* html fieldset { padding-top: 0pt; }
legend { padding: 10px 0.5em; font-size: 1.2em; font-weight: 700; letter-spacing: 0.1em; line-height: 1; color: rgb(85, 118, 48); }
* html legend { padding: 0pt 0.5em; margin-bottom: 15px; }
fieldset span { margin: 3px 3em 0pt 8em; color: rgb(136, 136, 136); font-size: 0.8em; display: block; }
fieldset label { padding: 0.2em 0.8em 0.2em 0pt; float: left; width: 8em; text-align: right; display: block; font-weight: 700; }
.normalLabel { float: none; width: 90%; text-align: left; font-weight: 400; }
fieldset div { margin: 0.2em 0pt 0.8em; padding: 0.5em 0pt; }
fieldset .submit { margin: 1em 0pt 0pt 5em; font-weight: 700; }
.errorMsg { border: 1px solid rgb(245, 89, 18); padding: 10px 20px; background-color: rgb(238, 221, 221); }
.noticeMsg { border: 1px solid rgb(136, 136, 136); padding: 10px 20px; background-color: rgb(221, 221, 255); }
.orgCol { padding: 5px; width: 768px; }
#transDiv iframe { padding-top: 5px; min-height: 260px; }
.orgCol .orgIframe, .offscreen { width: 764px; height: 288px; }
* html .orgCol .orgIframe { width: 768px; }
.orgIframe { z-index: 1000; }
#transContent, #orgContent { position: absolute; left: 5px; top: 5px; }
.offscreen { z-index: -1; }
.editorCol { width: 220px; float: right; }
.editorCol h1 { padding: 0pt 5px 0pt 0pt; text-align: left; font-size: 0.9em; font-weight: 400; }
.editorCol li { margin: 2px 0pt 0pt 2px; padding: 3px; float: right; font-size: 1em; }
.editorCol li label { margin-right: 15px; font-weight: 700; color: red; }
.editorCol #transResult { border: 1px solid rgb(136, 136, 136); margin: 0pt 6px 0pt 0pt; padding: 5px; overflow: auto; height: 68px; background-color: rgb(221, 255, 221); color: red; }
.transTitleDiv { margin: 18px 0pt 0pt; padding: 2px; font-size: 1em; }
.transTitleDiv h3 { margin: 3px 0pt 5px; }
.transTitleDiv p { margin: 20px 10px 5px 0pt; }
.transTitleDiv span { font-size: 0.6em; }
.transTitleDiv input { margin: 5px; width: 15em; }
#transWrapper { margin: 8px 0pt 0pt; }
#transDiv { padding: 0pt; overflow: hidden; }
.olt { padding: 0pt; width: 98%; }
.olt th { border-bottom: 1px solid rgb(238, 238, 238); color: rgb(136, 136, 136); }
.olt td { border-bottom: 1px dotted rgb(238, 238, 238); padding: 5px 5px 5px 0pt; text-align: center; }
.pl { font-family: Arial,Helvetica,sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; font-size-adjust: none; font-stretch: normal; -x-system-font: none; line-height: 150%; color: rgb(102, 102, 102); }
#user_guide { background-color: rgb(255, 248, 204); }
#user_guide .screenshot { margin: 2px; float: right; }
#user_guide img { margin: 0pt 3px 0pt 2px; }
#user_guide strong { font-weight: 400; color: rgb(245, 89, 18); }
#googleSearchUnitIframe { padding: 15px 0pt 0pt 30px; background-color: rgb(255, 255, 255); }
#WaitDialog { border: 2px solid rgb(51, 51, 51); padding: 80px; background-color: rgb(255, 255, 221); top: 230px; right: 300px; visibility: hidden; position: absolute; z-index: 10000; }
#MDialog { border: 2px solid rgb(53, 124, 196); background: rgb(255, 255, 255) url('blue.jpg') repeat-x scroll center bottom; top: 180px; left: 220px; width: 480px; position: absolute; z-index: 10000; }
.iconp { margin: 15px 0pt 0pt 25px; padding: 10px 0pt 8px 75px; background: transparent url('icons.png') no-repeat scroll 0% 0%; }
.iconp b { font-size: 24px; }
.iconp li { margin: 4px 0pt 0pt 20px; list-style-type: disc; }
#bnav { padding: 10px 20px; margin-top: 30px; }
#bnav div { padding-left: 20px; padding-right: 20px; }
#bnav ul { float: left; width: 100px; }
#bnav li { padding: 5px 0pt 0pt 10px; }
#bnav em { margin: 10px; font-size: 22px; float: left; }
#bnav a { color: rgb(51, 51, 51); }
#tqDiv { border: 1px solid rgb(51, 51, 51); width: 480px; height: 350px; left: 200px; top: 100px; visibility: hidden; }
#agreement { border: 1px solid rgb(136, 136, 136); margin: 20px; padding: 15px; background-color: rgb(255, 255, 255); }
#workshopMsg { border: 1px solid rgb(204, 204, 204); padding: 15px; background-color: rgb(243, 243, 243); }
.mtable { padding: 10px 20px; margin-top: 5px; width: 99%; text-align: left; }
.mtable th { padding: 2px 0pt 2px 20px; font-size: 1em; background-color: rgb(217, 238, 255); color: rgb(102, 102, 102); }
.mtable td { border-left: 1px solid rgb(204, 204, 204); border-bottom: 1px solid rgb(204, 204, 204); padding: 4px 3px 5px 8px; font-size: 0.9em; }
.gtable { margin: 0pt auto; text-align: left; background-color: rgb(255, 255, 255); width: 99%; }
.gtable th { border-right: 1px solid rgb(255, 255, 255); border-bottom: 1px solid rgb(204, 204, 204); padding: 2px 8px; font-size: 0.9em; color: rgb(102, 102, 102); font-weight: 700; background-color: rgb(232, 232, 232); text-align: center; }
.gtable .action { padding: 5px; text-align: center; background-color: rgb(255, 244, 217); visibility: hidden; }
.gtable img { border: 1px solid rgb(204, 204, 204); padding: 1px; width: 100px; }
.gtable .avatar { border: 1px solid rgb(204, 204, 204); padding: 1px; width: 16px; height: 16px; margin-bottom: -3px; }
.gtable td { border-bottom: 1px solid rgb(221, 221, 221); padding: 8px 4px 4px 8px; font-size: 0.9em; }
#mySlide { border: 1px solid rgb(204, 204, 204); margin: 0pt 8px; height: 105px; background-color: rgb(243, 243, 243); }
#mySlideCaption { padding: 20px 10px 0pt 0pt; margin-left: 135px; }
#mySlideImg { margin: 8px 0pt 8px 15px; float: left; width: 120px; }
.homeDiv h3 { margin: 0pt 0pt 1px 10px; color: rgb(51, 51, 51); }
.homeDiv { padding: 6px 4px 4px; margin-bottom: 15px; }
#homeTop { margin: 0pt 320px 10px 0pt; padding: 15px 15px 5px; }
#homeleft { overflow: hidden; float: left; width: 600px; }
#topTranslators li { border: 1px solid rgb(204, 204, 204); margin: 5px 6px 3px 2px; background: rgb(243, 249, 253) url('star.gif') no-repeat scroll 5px 2px; text-decoration: none; width: 72px; float: left; }
#topTranslators .logo { border: 1px solid rgb(204, 204, 204); margin: 8px 0pt 5px; padding: 1px; }
#topTranslators p { padding-bottom: 3px; text-align: center; }
#box6 { position: absolute; width: 240px; }
.mask6 { overflow: hidden; position: absolute; left: 60px; width: 240px; height: 180px; }
* html .mask6 { left: 5px; }
.thumbs { width: 54px; }
.thumbs div { margin: 0pt 0pt 4px; display: block; width: 54px; height: 42px; }
.thumbs div img { border: medium none ; display: block; width: 100%; height: 100%; }
.info { background: rgb(0, 0, 0) none repeat scroll 0% 0%; width: 100%; height: 25px; position: absolute; }
.info p, .info h4 { padding: 8px; color: rgb(255, 255, 255); font-family: Arial; }
.info h4 { font-size: 12px; }
.info h4 a { color: rgb(255, 255, 255); text-decoration: none; }
#homeright { margin-left: 610px; }
#authhome { padding: 10px 20px 5px 15px; color: rgb(0, 0, 0); }
#authhome div p a { background: transparent url('main.gif') no-repeat scroll 0% 0%; padding-left: 22px; }
#authhome div { border: 1px solid rgb(228, 242, 253); }
.homeBox { margin: 8px 0pt 5px; padding: 8px; background-color: rgb(255, 255, 255); font-size: 1em; }
.homeBox table td div p { margin: 2px 0pt 0pt 5px; }
.homeBox h3 { margin: 5px 0pt 5px 3px; color: rgb(51, 51, 51); display: block; }
.homeBox ul { padding: 8px 0pt 0pt 5px; }
.homeBox li { padding: 5px 0pt 5px 10px; color: rgb(51, 51, 51); }
.announce { margin: 0pt; padding: 0pt; }
.announce li { margin-left: 20px; list-style-type: disc; }
#joinin { padding: 3px 4px 5px; font-size: 1em; color: rgb(100, 124, 180); }
#joinin label { width: 110px; text-align: right; float: left; }
#joinin input { margin-left: 5px; }
.more_content { margin: 10px 0pt 5px; padding: 0pt 20px 0pt 18px; background: transparent url('plus.png') no-repeat scroll 7px 3px; font-size: 1em; float: right; }
.border { border: 1px solid rgb(238, 238, 238); }
.bborder { border: 1px solid rgb(181, 213, 234); }
#form_box { border: 1px solid rgb(214, 214, 214); margin: 10px 0pt 2px; padding: 1em; background: rgb(248, 248, 248) none repeat scroll 0% 0%; font-weight: 700; }
#form_box div { padding: 0.2em 0.5em; height: 25px; }
#form_box div.text { overflow: auto; height: 225px; }
#form_box div.hr { border-bottom: 2px solid rgb(226, 226, 225); height: 0pt; margin-top: 0pt; margin-bottom: 7px; }
#form_box textarea { width: 370px; height: 200px; font-size: 1em; }
#form_box p { margin: 4px 0pt; float: left; width: 80px; }
.spacelist li { padding-top: 8px ! important; padding-bottom: 5px ! important; }
.orange_bullet li { background: transparent url('bullet_orange.gif') no-repeat scroll -5px 0pt; padding-left: 12px; margin-top: 8px; }
.blue_bullet li { background: transparent url('bullet_blue.gif') no-repeat scroll 0pt 4px; padding-left: 20px ! important; }
.tags0 { color: rgb(245, 89, 18); font-size: 1.3em; }
.tags1 { color: rgb(152, 17, 162); font-size: 1.3em; }
.tags2 { color: rgb(0, 119, 119); font-size: 1.2em; }
.tags3 { color: rgb(0, 153, 153); font-size: 1.2em; }
.tags4 { color: rgb(34, 85, 0); font-size: 1.1em; }
.tags5 { color: rgb(51, 102, 0); font-size: 1.1em; }
.tags6 { color: rgb(136, 68, 68); font-size: 1.1em; }
.tags7 { color: rgb(153, 102, 102); font-size: 1em; }
.tags8 { color: rgb(51, 51, 51); font-size: 1em; }
.tags9 { font-size: 1em; }
.sss { border: 1px solid rgb(204, 204, 204); padding: 1px; width: 150px; }
#sourceBox { margin: 30px 10px 0pt 0pt; }
#sourceBox img { border: 1px solid rgb(204, 204, 204); margin: 0pt 10px 0pt 0pt; padding: 1px; float: left; width: 204px; }
#sourceBox #sourceMeta { margin-left: 217px; }
.sourceDiv { border: 1px solid rgb(238, 238, 238); margin: 25px 10px 15px 20px; }
.sourceDiv h2 { padding: 3px; background: rgb(238, 238, 238) url('gradient-glossy.png') repeat-x scroll 0% 0%; }
.sourceDiv li { margin: 10px 40px 0pt; }
#source_abstract, #source_translation { margin: 10px 0pt; padding: 10px 0pt; }
#source_abstract h4, #source_translation h4 { font-size: 13px; font-weight: 700; margin-bottom: 10px; }
#source_abstract ul li { padding: 0pt 0pt 10px; }
#source_abstract ul li h2 { font-size: 100%; }
#source_abstract ul li p { padding: 10px 0pt; }
#source_translation ul li { padding: 0pt 0pt 15px 30px; }
#source_translation ul li img { border: 1px solid rgb(204, 204, 204); padding: 1px; float: left; margin-right: 10px; width: 30px; }
#eventBox { padding: 0pt 10px 10px; }
.eventlist { padding-top: 28px; }
.eventItem { margin: 5px 0pt; padding: 0pt; }
.eventBlock { padding: 5px; float: left; cursor: pointer; }
.eventOnly { padding: 5px; float: right; clear: both; background-color: rgb(238, 238, 238); }
.eventBlock .avatar, .eventOnly .avatar { border: 1px solid rgb(204, 204, 204); margin: 0pt 5px 5px 0pt; padding: 1px; float: left; width: 32px; height: 32px; }
.eventTitle { padding: 10px; overflow: hidden; }
.eventBlock .eventTitle { background: rgb(255, 255, 255) url('down_001.gif') no-repeat scroll right bottom; }
.eventContent { padding: 10px; margin-top: 10px; }
.eventContent p { padding: 8px 8px 0pt 10px; }
.eventView { border: 1px solid rgb(204, 204, 204); margin: 0pt 30px; display: none; background-color: rgb(255, 255, 255); }
.event_type_MsgEvent { background: transparent url('actions_s.jpg') no-repeat scroll -32px -11px; }
.event_type_TransPublished { background: transparent url('actions_s.jpg') no-repeat scroll -32px -37px; }
.event_type_RecPicked, .event_type_RecMade { background: transparent url('actions_s.jpg') no-repeat scroll -32px -63px; }
.event_type_MsgEventGroup { background: transparent url('actions_s.jpg') no-repeat scroll -102px -37px; }
.roundC { -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; -moz-border-radius-bottomright: 5px; -moz-border-radius-bottomleft: 5px; }
.roundSC { -moz-border-radius-topleft: 3px; -moz-border-radius-topright: 3px; -moz-border-radius-bottomright: 3px; -moz-border-radius-bottomleft: 3px; }
.roundTop { -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; }
.tool-tip { color: rgb(255, 255, 255); width: 139px; z-index: 13000; }
.tool-title { margin: 0pt; padding: 8px 8px 4px; background: transparent url('bubble.png') repeat scroll left top; font-weight: 700; font-size: 1.1em; color: rgb(159, 212, 255); }
.tool-text { padding: 4px 8px 8px; background: transparent url('bubble.png') repeat scroll right bottom; }
#iwant { padding: 4px; float: right; }
.req_box { width: 218px; }
.myInline { border: 1px solid rgb(85, 118, 48); margin: 15px 20px 0pt 0pt; padding: 5px; background-color: rgb(255, 255, 255); font-size: 1.1em; cursor: pointer; }
#mytags { margin-right: 0pt; }
#populartags span { padding-right: 4px; }
#tagsSaved { border: 1px solid red; padding: 3px; visibility: hidden; display: none; background-color: rgb(255, 225, 217); }
#catTable { font-size: 1.1em; width: 99%; }
#catTable td { border-left: 2px solid rgb(238, 238, 238); padding: 3px; }
.mTab { padding: 6px 0pt 0pt; margin-top: 5px; }
.mTab li { font-size: 1.1em; margin-right: 4px; float: left; font-weight: 700; }
.mTab li a { border-bottom: 2px solid rgb(255, 233, 179); padding: 4px 28px; float: left; text-decoration: none; color: rgb(136, 136, 136); text-align: center; background-color: rgb(255, 233, 179); }
* html .mTab li a { padding: 5px 0pt 0pt; width: 185px; }
.mTab .highlight a { border-bottom: 2px solid rgb(232, 232, 232); background: rgb(232, 232, 232) none repeat scroll 0% 0% ! important; color: rgb(51, 51, 51); font-weight: 700; }
.mTab a:hover { background-color: rgb(255, 249, 195); }
#cwizard { padding: 20px 0pt 5px; }
#cwizard li { border: 1px solid rgb(204, 204, 204); padding: 30px 100px; display: inline; color: rgb(51, 51, 51); font-size: 5em; }
#cwizard .highlight { background-color: rgb(238, 238, 238); color: rgb(102, 102, 102); }
#recommendTab { border: 1px solid rgb(136, 136, 136); padding: 2px; float: right; }
#recommendTab ul { margin: 0pt 5px; font-weight: 700; line-height: 1.8em; }
#recommendTab li { margin: 0pt; padding: 3px 4px; display: inline; color: rgb(136, 136, 136); }
#recommendTab img { border: 1px dotted rgb(221, 221, 221); }
#user_stats li { display: inline; margin-left: 8px; }
#user_stats li a { text-decoration: underline; }
.ymsg_list { margin: 5px 10px; }
.ymsg_list li { padding: 3px; margin-top: 5px; }
.topList { float: left; width: 380px; }
.topList ol { list-style-type: decimal; list-style-position: inside; line-height: normal; color: rgb(136, 136, 136); }
.translator0 { background-color: rgb(255, 255, 255); }
.translator1 { background-color: rgb(255, 245, 238); }
.translator2 { background-color: rgb(250, 240, 230); }
.translator3 { background-color: rgb(250, 235, 215); }
.translator4 { background-color: rgb(255, 228, 196); }
.translator5 { background-color: rgb(224, 255, 255); }
.translator6 { background-color: rgb(175, 238, 238); }
.translator7 { background-color: rgb(209, 239, 209); }
.translator8 { background-color: rgb(127, 255, 212); }
.translator9 { background-color: rgb(255, 246, 188); }
.mootabs_title { margin: 0pt; list-style-type: none; height: 28px; font-weight: 700; }
* html .mootabs_title { height: 30px; }
.mootabs_title li { border-style: solid; border-color: rgb(212, 236, 252) rgb(212, 236, 252) rgb(196, 220, 236); border-width: 2px; padding: 2px 6px; float: left; background-color: rgb(243, 249, 253); margin-right: 5px; cursor: pointer; color: rgb(102, 102, 102); font-size: 14px; line-height: 24px; height: 22px; }
.mootabs_title li.active { border-style: solid; border-color: rgb(196, 220, 236) rgb(196, 220, 236) rgb(255, 255, 255); border-width: 2px; background-color: rgb(255, 255, 255) ! important; z-index: 10000000; }
.mootabs_title li.mhover { background-color: rgb(212, 236, 252); }
.mootabs_header { border-bottom: 2px solid rgb(196, 220, 236); height: 34px; margin-bottom: -30px; }
* html .mootabs_header { margin-bottom: -32px; }
.mootabs_body { border-style: none solid solid; border-color: -moz-use-text-color rgb(196, 220, 236) rgb(196, 220, 236); border-width: 0pt 2px 2px; }
* html .mootabs_body { margin-top: -2px; }
.mootabs_panel { overflow: auto; display: none; }
.welcome_list { color: rgb(53, 124, 196); list-style-image: none; list-style-position: inside; }
.welcome_list li { padding: 15px 0pt; }
.welcome_list li ul { padding: 2px 15px; }
.welcome_list li ul.welcome_list_topreads li { float: left; width: 50%; }
.welcome_list li ul li { padding: 2px 0pt; }
.welcome_list li h3 { margin: 0pt; color: rgb(85, 85, 85); font-weight: 700; }
.reportButton { z-index: 30; }
.reportBox { border: 1px solid rgb(127, 157, 217); padding: 2px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; z-index: 999; }
.reportBox select { border: medium none ; }
.reportBox select option { border-left: medium none; border-right: medium none; }
#wtopnav h2 { font-size: 1.5em; color: rgb(245, 89, 18); margin-top: 0pt; }
#p-navigation { margin-top: 10px; float: right; }
#p-navigation ul li { margin: 0pt; padding: 0pt; float: left; font-weight: 400; font-size: 1.1em; color: rgb(127, 186, 255); list-style-type: none; list-style-image: none; list-style-position: outside; }
#p-navigation ul li a { margin: 0pt; padding: 4px 9px; color: rgb(102, 102, 102); font-family: 'Trebuchet MS',Georgia,Verdana,Sans-serif,Arial; }
* html #p-navigation ul li a { display: block; position: relative; }
#mainmenu_spacer { border-top: 2px solid rgb(255, 136, 0); height: 10px; margin-top: 3px; }
#p-search { margin-top: 12px; float: right; }
#p-search form #searchInput { border: 1px solid rgb(187, 187, 187); background: rgb(247, 247, 247) none repeat scroll 0% 0%; font-size: 100%; width: 6em; text-align: left; vertical-align: middle; }
#p-search form #searchGoButton, #p-search form #mw-searchButton { margin: 0pt; padding: 0pt; font-family: Verdana,Sans-serif,Arial; vertical-align: middle; font-size: 100%; color: rgb(85, 85, 85); text-decoration: none; }
#lib_head { border: 1px solid rgb(53, 124, 196); margin: 5px 0pt 20px; padding: 5px 5px 0pt; }
#lib_head .left { float: left; width: 70px; text-align: right; font-weight: 700; line-height: 20px; }
#lib_head .right { text-align: left; margin-left: 88px; }
#lib_head .right li { display: inline; margin-right: 8px; line-height: 20px; }
#equalizer { padding: 20px; margin-bottom: 10px; }
#equalizer li { display: block; clear: left; width: 100%; height: 15px; line-height: 13px; margin-bottom: 5px; }
#equalizer .eWrapper { float: left; width: 95%; }
#equalizer .equalizerItem { border: 1px solid rgb(66, 156, 0); background-color: rgb(66, 156, 0); background-image: url('bg_equalizer.gif'); background-position: 1px 13px; }
#equalizer li .V100 { border-color: rgb(66, 156, 0); background-color: rgb(66, 156, 0); background-position: 0pt 0pt; }
#equalizer li .V200 { border-color: rgb(18, 160, 210); background-color: rgb(18, 160, 210); background-position: 0pt 49px; }
#equalizer li .V300 { border-color: rgb(200, 95, 4); background-color: rgb(200, 95, 4); background-position: 0pt 31px; }
.MultiBoxContainer { border: 10px solid rgb(48, 48, 48); position: absolute; margin-top: 0pt; background-color: rgb(255, 255, 255); display: none; z-index: 90000; }
.MultiBoxLoading { background: transparent url('loading.gif') no-repeat scroll center center; }
.MultiBoxContent { overflow: hidden; position: relative; width: 100%; height: 100%; }
.MultiBoxClose { background: transparent url('close.png') no-repeat scroll 0% 0%; position: absolute; top: -20px; right: -20px; width: 24px; height: 24px; cursor: pointer; }
.MultiBoxControlsContainer { overflow: hidden; height: 0pt; position: relative; }
.MultiBoxControls { width: 100%; height: auto; position: relative; background-color: rgb(48, 48, 48); }
.MultiBoxPrevious { background: transparent url('left.png') no-repeat scroll 0% 0%; position: absolute; width: 24px; height: 24px; left: 0pt; margin-top: 5px; cursor: pointer; }
.MultiBoxNext { background: transparent url('right.png') no-repeat scroll 0% 0%; position: absolute; width: 24px; height: 24px; right: 0pt; margin-top: 5px; cursor: pointer; }
.MultiBoxNextDisabled { background: transparent url('rightdisabled.png') no-repeat scroll 0% 0%; cursor: default; }
.MultiBoxPreviousDisabled { background: transparent url('leftdisabled.png') no-repeat scroll 0% 0%; cursor: default; }
.MultiBoxTitle { margin: 10px 0pt 0pt 35px; position: relative; float: left; font-size: 11px; color: rgb(255, 255, 255); font-weight: 700; text-align: left; }
.MultiBoxNumber { margin: 10px 35px 0pt 0pt; position: relative; width: 50px; float: right; font-size: 11px; color: rgb(255, 255, 255); text-align: right; }
.MultiBoxDescription { margin: 0pt 35px; clear: left; position: relative; padding-top: 5px; font-size: 11px; color: rgb(255, 255, 255); text-align: left; }
.noNL a, .msglist td a, .iconlist a, .item h3 a, .item h1 a, #imenu a, #facewall a, .homeBox li a, #recommendTab a, #translations a { text-decoration: none; }
.clear, #middle, #rightSide .panel { clear: both; }
.hidden, #submit_rating { display: none; }
.center, #topTranslators, #new_ymsg { text-align: center; }
.white, #topsearch a { color: rgb(255, 255, 255) ! important; }
.lighttxt, #groupSummary ul, #catmenu ul { color: rgb(136, 136, 136); }
.btxt, .itembody h2 { font-size: 1.1em; }
.bigtxt, fieldset input { font-size: 1.2em; }
.biggertxt, #authhome h2 { font-size: 1.3em; }
.italic, #article_body em { font-style: italic; }
.bold, #breadcurrent { font-weight: 700; }
.groupDiv, .editorCol ul { margin: 10px 0pt; }
.groupDiv ul, .inner { margin: 5px; }
.catDiv ul, #widget_control p, .mootabs_panel li { padding: 5px; }
#layoutright, .setting { float: right; }
#commonLeft li, #lib_head h2 { margin: 0pt 0pt 15px; }
#announcement li, .itembody p, #transDiv p { margin: 5px 0pt; }
#org_body, .item li p { padding: 3px; }
#content, .itembody img { position: relative; }
#content_nav li, #ref_group li { padding: 0pt 2px; display: inline; }
#tag_box a, #joinin a { margin: 0pt 2px; }
.msglist .shaded, .eventOnly .eventTitle { background-color: rgb(238, 238, 238); }
.space_assets li a, #new_inline_errtype input { margin-right: 10px; }
.item li p img, .item h4 img, #project_nav img { vertical-align: -4px; }
#rightSide h2, fieldset .checkbox { margin: 20px 0pt 0pt; }
#articlebody, #authhome div p { margin-top: 8px; }
.itembody ul, .itembody ol, .itembody blockquote { margin-left: 30px; }
#ref_group, .homeBox table td { padding: 8px; }
.comments, #p-navigation ul { margin: 0pt; }
#catright div, #lib_head .row { margin: 10px; }
.faces img, .dborder { border: 1px solid rgb(204, 204, 204); }
.faces p, #signup p { margin-top: 10px; }
#signup img, .face { height: 32px; width: 32px; }
#box6 span, .mootabs_panel.active { display: block; }
#handles6_1, #equalizer label, #equalizer .equalizerItem { float: left; }
* html #iwant, .req_count { padding: 2px; }
#savetags, #canceltags { visibility: hidden; }
#equalizer li .V400, #equalizer li .V500, #equalizer li .V600, #equalizer li .V700, #equalizer li .V800, #equalizer li .V900, #equalizer li .V1000 { border-color: rgb(189, 7, 3); background-color: rgb(189, 7, 3); background-position: 0pt 80px; }
