
/* ::::: http://www.51cto.com/images/art/css/master_top.css ::::: */

* { margin: 0pt; padding: 0pt; }
body { margin: 0pt auto; padding: 0pt; background: rgb(255, 255, 255) none repeat scroll 0% 0%; font-family: 宋体; font-size: 12px; color: rgb(0, 0, 0); }
img, a img { border: 0pt none ; margin: 0pt; padding: 0pt; }
h1, h2, h3, h4, h5, h6 { margin: 0pt; padding: 0pt; font-weight: normal; }
ul, ol { list-style-type: none; list-style-image: none; list-style-position: outside; }
li { background: transparent url('dt.gif') no-repeat scroll left center; list-style-type: none; list-style-image: none; list-style-position: outside; padding-left: 8px; padding-top: 1px; }
table, td, input { font-size: 12px; }
a { outline-style: none; color: rgb(0, 0, 0); text-decoration: none; }
a:hover { color: rgb(204, 0, 0); text-decoration: underline; }
.top { height: 39px; margin-bottom: 6px; background-image: url('top_bg.gif'); background-repeat: repeat-x; }
.top_nav { width: 960px; height: 35px; margin-left: auto; margin-right: auto; }
.top_nav_logo { background: rgb(255, 255, 255) url('top_logo.gif') repeat scroll 0% 0%; width: 222px; float: left; height: 35px; }
.top_nav_r { width: 700px; float: right; padding-top: 15px; color: rgb(105, 105, 105); text-align: right; }
.top_nav_r a { padding: 2px; color: rgb(105, 105, 105); text-decoration: none; }
.top_nav_r a:hover { background: rgb(74, 74, 74) none repeat scroll 0% 0%; text-decoration: none; color: rgb(255, 255, 255); }
.top_nav_r li { float: right; }
.top_nav_r1 { background-image: url('nav_ico1.gif'); background-repeat: no-repeat; background-position: right center; width: 100px; }
.top_nav_r1 a { padding: 2px 8px 2px 2px; width: 100px; color: rgb(105, 105, 105); text-decoration: none; }
.top_nav_r1 a:hover { background: rgb(74, 74, 74) none repeat scroll 0% 0%; width: 100px; text-decoration: none; color: rgb(255, 255, 255); }
.subMenu1 { border: 1px solid rgb(206, 206, 206); padding: 0px 4px 0px 7px; width: 51px; text-align: center; position: absolute; left: 812px; top: 116px; display: none; background-color: rgb(255, 255, 255); }
.subMenu2 { border: 1px solid rgb(206, 206, 206); padding: 0px 4px 0px 7px; width: 51px; text-align: center; position: absolute; left: 883px; top: 116px; display: none; background-color: rgb(255, 255, 255); }
.subMenu1 a { margin: 4px 0px; line-height: 18px; text-align: left; display: block; width: 53px; height: 17px; padding-top: 1px; color: rgb(0, 0, 0); text-decoration: none; }
.subMenu1 a.lcnew { text-decoration: none; }
.subMenu1 a:hover { text-decoration: none; background-image: url('nav_bg1.gif'); background-repeat: no-repeat; color: rgb(204, 0, 0); }
.subMenu1 li { background: transparent none repeat scroll 0% 0%; list-style-type: none; list-style-image: none; list-style-position: outside; padding-left: 0px; }
.subMenu2 a { margin: 4px 0px; line-height: 18px; text-align: left; display: block; width: 53px; height: 17px; padding-top: 1px; color: rgb(0, 0, 0); text-decoration: none; }
.subMenu2 a.lcnew { text-decoration: none; }
.subMenu2 a:hover { text-decoration: none; background-image: url('nav_bg1.gif'); background-repeat: no-repeat; color: rgb(204, 0, 0); }
.subMenu2 li { background: transparent none repeat scroll 0% 0%; list-style-type: none; list-style-image: none; list-style-position: outside; padding-left: 0px; }

/* ::::: http://www.51cto.com/images/art/css/master.css ::::: */

body { margin: 0pt auto; padding: 0pt; background: rgb(255, 255, 255) none repeat scroll 0% 0%; font-family: 宋体; font-size: 12px; color: rgb(0, 0, 0); }
body > div { margin-right: auto; margin-left: auto; }
div, form, ul, ol, li, span, p { border: 0pt none ; margin: 0pt; padding: 0pt; }
img, a img { border: 0pt none ; margin: 0pt; padding: 0pt; }
h1, h2, h3, h4, h5, h6 { margin: 0pt; padding: 0pt; font-weight: normal; }
ul, ol, li { list-style-type: none; list-style-image: none; list-style-position: outside; }
table, td, input { font-size: 12px; }
.non { display: none; }
a { outline-style: none; color: rgb(0, 0, 0); text-decoration: none; }
a:hover { color: rgb(204, 0, 0); text-decoration: underline; }
a.fd { outline-style: none; color: rgb(57, 101, 136); text-decoration: none; }
a.fd :hover { color: rgb(204, 0, 0); text-decoration: underline; }
.banner { border: 1px solid rgb(211, 211, 211); width: 958px; height: 90px; margin-left: auto; margin-right: auto; margin-bottom: 10px; }
.banner_l { border-right: 1px solid rgb(211, 211, 211); width: 760px; height: 90px; float: left; }
.banner_r { width: 190px; line-height: 20px; float: right; color: rgb(105, 105, 105); padding-top: 6px; }
.banner_r a { color: rgb(105, 105, 105); text-decoration: none; }
.banner_r a.lcnew { text-decoration: none; }
.banner_r a:hover { text-decoration: underline; color: rgb(204, 0, 0); }
.subNav { border-bottom: 1px solid rgb(211, 211, 211); width: 960px; height: 28px; padding-top: 2px; margin-left: auto; margin-right: auto; margin-bottom: 10px; }
.subNav_logo { width: 93px; height: 24px; float: left; }
.subNav_l { width: 610px; float: left; margin-left: 18px; padding-top: 10px; }
.subNav_l a { padding: 2px; color: rgb(0, 0, 0); text-decoration: none; }
.subNav_l a:hover { background: rgb(74, 74, 74) none repeat scroll 0% 0%; text-decoration: none; color: rgb(255, 255, 255); }
.subNav_r { width: 199px; float: right; height: 24px; }
.subNav_r_l { width: 142px; float: left; }
.subNav_r_BTn { width: 50px; height: 24px; float: right; }
.text { width: 140px; height: 20px; }
.wrap { width: 960px; margin-left: auto; margin-right: auto; margin-bottom: 20px; }
.m_l { border: 1px solid rgb(183, 183, 183); width: 638px; float: left; }
.m_l_menu { border-bottom: 1px solid rgb(211, 211, 211); padding: 10px 0pt 0pt 7px; height: 18px; color: rgb(82, 82, 82); }
.m_l_menu a { color: rgb(82, 82, 82); text-decoration: none; }
.m_l_menu a:hover { text-decoration: underline; color: rgb(204, 0, 0); }
.m_l_cont { padding: 0pt 20px; background-color: rgb(248, 248, 248); }
.m_l_cont_title { border-bottom: 1px solid rgb(211, 211, 211); padding: 18px 0pt 6px; text-align: center; }
.m_l_cont_title h3 { font-family: "黑体"; font-size: 20px; }
.m_l_cont_note { padding: 6px 0pt 16px; text-align: center; color: rgb(82, 82, 82); }
.m_l_cont_note a { color: rgb(204, 0, 0); text-decoration: none; }
.m_l_cont_note a:hover { text-decoration: underline; color: rgb(204, 0, 0); }
.m_l_cont_note1 { border: 1px dashed rgb(211, 211, 211); padding: 6px 12px 4px; background-color: rgb(255, 255, 255); line-height: 24px; color: rgb(0, 102, 0); }
.m_l_cont_note1 a { color: rgb(14, 96, 172); text-decoration: underline; }
.m_l_cont_note1 a:hover { text-decoration: underline; color: rgb(204, 0, 0); }
.m_l_cont_note1_r { text-align: right; }
.m_l_cont_text { padding: 6px 0pt; font-size: 14px; line-height: 26px; }
.m_l_cont_text a { color: rgb(0, 0, 255); text-decoration: underline; }
.m_l_cont_text a:hover { text-decoration: underline; color: rgb(204, 0, 0); }
.m_l_cont_text ul { line-height: 30px; padding-left: 20px; color: rgb(0, 0, 255); }
.m_l_cont_text ol { line-height: 30px; padding-left: 20px; color: rgb(0, 0, 0); }
.m_l_cont_text ol li { color: rgb(0, 0, 0); background-image: url('dt1.gif'); background-repeat: no-repeat; padding-left: 14px; }
.m_l_cont_text p { margin: 10px 0pt; text-indent: 28px; }
.m_l_cont_text_note { text-align: right; font-size: 12px; }
.m_l_cont_tips { border-top: 1px solid rgb(211, 211, 211); border-bottom: 1px solid rgb(211, 211, 211); padding: 13px 0pt 8px; text-align: center; }
.m_l_cont_tips a { color: rgb(0, 0, 0); text-decoration: underline; }
.m_l_cont_tips a:hover { text-decoration: underline; color: rgb(204, 0, 0); }
.m_l_list { padding: 0pt 20px; height: 156px; background-color: rgb(248, 248, 248); }
.m_l_list_l { width: 290px; float: left; padding-top: 10px; line-height: 24px; color: rgb(57, 101, 136); }
.m_l_list_l a { color: rgb(57, 101, 136); text-decoration: none; }
.m_l_list_l a:hover { text-decoration: underline; color: rgb(204, 0, 0); }
.m_l_list_l1 { font-size: 14px; font-weight: bold; color: rgb(0, 102, 0); padding-left: 4px; }
.m_l_list_l1 a { color: rgb(0, 102, 0); text-decoration: none; }
.m_l_list_l1 a:hover { text-decoration: underline; color: rgb(204, 0, 0); }
.m_l_list_r { width: 290px; float: right; padding-top: 10px; line-height: 24px; color: rgb(57, 101, 136); }
.m_l_list_r a { color: rgb(57, 101, 136); text-decoration: none; }
.m_l_list_r a:hover { text-decoration: underline; color: rgb(204, 0, 0); }
.m_l_list_r1 { font-size: 14px; font-weight: bold; color: rgb(0, 102, 0); padding-left: 4px; }
.m_l_list_r1 a { color: rgb(0, 102, 0); text-decoration: none; }
.m_l_list_r1 a:hover { text-decoration: underline; color: rgb(204, 0, 0); }
.m_l_list_hot { height: 106px; background-color: rgb(255, 255, 255); padding-left: 16px; }
.m_l_list_hot1 { border: 1px solid rgb(183, 183, 183); margin: 12px 8px 10px; padding: 1px; width: 100px; height: 80px; float: left; }
.m_l_comm { border-top: 1px solid rgb(211, 211, 211); border-bottom: 1px solid rgb(211, 211, 211); padding: 0pt 20px; height: 30px; }
.m_l_comm_l { width: 430px; float: left; line-height: 20px; padding-top: 10px; }
.m_l_comm_l a { color: rgb(57, 101, 136); text-decoration: none; }
.m_l_comm_l a:hover { text-decoration: underline; color: rgb(57, 101, 136); }
.m_l_comm_l1 { font-size: 14px; font-weight: bold; color: rgb(57, 101, 136); }
.m_l_comm_l_view { border: 0px none ; width: 95px; height: 21px; background-image: url('view_bg.gif'); padding-top: 6px; font-weight: bold; color: rgb(57, 101, 136); }
.m_l_comm_r { width: 120px; height: 45px; float: right; }
.m_l_comm_r_good { width: 54px; height: 45px; float: left; background-image: url('good_bg.gif'); text-align: center; margin-top: 6px; }
.m_l_comm_r_good1 { font-size: 17px; font-weight: bold; color: rgb(169, 0, 0); padding-top: 7px; }
.m_l_comm_r_good2 { padding-top: 5px; }
.m_l_comm_r_good3 { width: 54px; height: 45px; float: left; background-image: url('good_bg.gif'); text-align: center; margin-top: 6px; margin-left: 7px; }
.m_l_Comments { border-bottom: 1px solid rgb(211, 211, 211); padding: 16px 20px 14px; background-color: rgb(248, 248, 248); }
.m_l_Comments td { padding: 6px 4px 4px 8px; line-height: 18px; }
.m_l_Comments1 { padding: 16px 20px 14px; background-color: rgb(248, 248, 248); }
.m_l_Comments2 { height: 86px; padding-top: 12px; }
.m_r { border: 1px solid rgb(170, 202, 238); width: 310px; float: right; }
.m_r_news { border-bottom: 1px solid rgb(226, 226, 226); padding: 10px 12px 0px; height: 16px; background-image: url('sidebar_bg.gif'); }
.m_r_news a { padding-bottom: 8px; color: rgb(57, 101, 136); text-decoration: none; }
.m_r_news a:hover { text-decoration: underline; color: rgb(204, 0, 0); }
.m_r_news h2 { font-weight: bold; font-size: 12px; }
.m_r_news_l { float: left; }
.m_r_news_r { float: right; }
.m_r_news_list { border-bottom: 1px solid rgb(170, 202, 238); padding: 6px 12px 2px 10px; line-height: 24px; }
.m_r_news_im { padding: 13px 32px 0px; height: 114px; background-color: rgb(238, 238, 238); }
.m_r_news_im_l, m_r_news_im_r { width: 104px; float: left; }
.m_r_news_im_l1 { border: 1px solid rgb(183, 183, 183); padding: 1px; width: 100px; height: 80px; background-color: rgb(255, 255, 255); }
.m_r_news_im_l2 { text-align: center; padding-top: 8px; }
.m_r_news_im_r { float: right; }
.m_r_book_im { padding: 9px 12px 0px; height: 158px; background-color: rgb(238, 238, 238); }
.m_r_book_im_l { border: 1px solid rgb(183, 183, 183); width: 98px; height: 144px; float: left; }
.m_r_book_im_r { width: 170px; line-height: 22px; float: right; padding-top: 2px; }
.m_r_book_im_r h2 { font-weight: bold; font-size: 12px; }
.m_r_book_im_r1 { color: rgb(80, 80, 80); line-height: 20px; }
.m_r_Alerts { padding: 10px; height: 22px; }
.m_r_Alerts1 { float: left; width: 140px; }
.m_r_Alerts2 { float: left; width: 54px; padding-top: 8px; padding-left: 4px; }
.m_r_Alerts2 a { padding-bottom: 8px; color: rgb(255, 0, 0); text-decoration: none; }
.m_r_Alerts2 a:hover { text-decoration: underline; color: rgb(204, 0, 0); }
.m_r_Alerts3 { float: left; width: 44px; }
.m_r_banner { border-bottom: 1px solid rgb(170, 202, 238); padding: 5px; width: 300px; height: 258px; }
.foot { border-top: 1px solid rgb(0, 0, 0); width: 960px; margin-left: auto; margin-right: auto; padding-top: 15px; height: 25px; text-align: center; }
.text { border: 1px solid rgb(96, 96, 96); width: 140px; height: 19px; background-color: rgb(255, 255, 255); }
.test1 { border: 1px solid rgb(178, 178, 178); width: 133px; height: 17px; background-color: rgb(255, 255, 255); }
.test2 { border: 1px solid rgb(178, 178, 178); width: 100%; height: 71px; background-color: rgb(255, 255, 255); }
.test3 { border: 1px solid rgb(178, 178, 178); width: 45px; height: 17px; background-color: rgb(255, 255, 255); }
.test4 { border: 1px solid rgb(170, 170, 170); width: 40px; height: 20px; padding-top: 2px; text-align: center; }
.fa { font-size: 12px; color: rgb(204, 0, 0); }
.fb { color: rgb(96, 96, 96); }
.fc { font-weight: bold; }
.fd { color: rgb(204, 0, 0); }
.cle { font-family: sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 0px; line-height: 0px; font-size-adjust: none; font-stretch: normal; -x-system-font: none; clear: both; display: block; }
