/* ::::: http://bbs.kenapple.com/forumdata/cache/style_3_common.css?RR2 ::::: */

* { word-wrap: break-word; }
body { background: rgb(168, 171, 174) url('bg.png') repeat-x scroll center 0pt; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; text-align: center; }
body, td, input, textarea, select, button { color: rgb(68, 68, 68); font-family: Verdana,Helvetica,Arial,sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: 1.6em; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
input, select, button { vertical-align: middle; }
body, ul, li, dl, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset { margin: 0pt; padding: 0pt; }
h1, h2, h3, h4, h5, h6 { font-size: 1em; }
ul li { list-style-type: none; list-style-image: none; list-style-position: outside; }
a { text-decoration: none; color: rgb(68, 68, 68); }
a:hover { text-decoration: underline; }
a img { border: medium none ; }
em, cite, strong, th { text-align: left; font-style: normal; }
table { empty-cells: show; border-collapse: collapse; }
.pipe { margin: 0pt 5px; }
.lighttxt, .lighttxt a, .pipe { color: rgb(142, 142, 142); }
.smalltext { font-size: 0.83em; font-family: Verdana,Helvetica,Arial,sans-serif; }
.noborder, .noborder td { border: medium none  ! important; }
.right { float: right; }
.left { float: left; }
#ajaxwaitid { background: rgb(221, 0, 0) none repeat scroll 0% 0%; overflow: hidden; display: none; position: absolute; z-index: 100; top: 0pt; right: 0pt; width: 100px; height: 1.6em; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; line-height: 1.6em; color: rgb(255, 255, 255); }
.s_clear:after { content: "."; display: block; height: 0pt; clear: both; visibility: hidden; }
.s_clear {  }
.wrap { margin: 0pt auto; text-align: left; }
#wrap { border: 0pt solid rgb(0, 0, 0); min-height: 450px; background-color: rgb(245, 245, 245); clear: both; }
.wrap, #nav { width: 980px; }
#header { border-bottom: 0px solid rgb(0, 0, 0); background: transparent url('top-bg.png') no-repeat scroll center bottom; margin-bottom: 8px; min-width: 980px; width: 100%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#header .wrap { padding: 24px 0pt 22px; position: relative; }
#header h2 { float: left; }
#umenu { position: absolute; right: 0pt; top: 0pt; line-height: 20px; }
#umenu a { margin: 0pt 6px; }
#umenu, #umenu a, #umenu .pipe { color: rgb(68, 68, 68); }
#rightinfo { float: left; }
#footlink { float: right; text-align: right; }
#footer, #footer a { color: rgb(51, 51, 51); }
#menu { position: absolute; right: 0pt; bottom: 0pt; height: 26px; }
#menu li { display: inline; float: left; margin-left: 5px; }
#menu a { border-style: solid; border-color: -moz-use-text-color; border-width: 1px 1px 0pt; padding: 0pt 14px; background: transparent none repeat scroll 0% 0%; overflow: hidden; float: left; height: 25px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; line-height: 25px; color: rgb(255, 255, 255); text-decoration: none; }
#menu a:hover { border-color: rgb(0, 0, 0); background-color: rgb(85, 85, 85); color: rgb(51, 51, 51); }
#menu li.current a { border-color: rgb(0, 0, 0); height: 26px; background-color: rgb(85, 85, 85); color: rgb(51, 51, 51); }
#nav { margin: -8px auto 0pt; background: transparent url('icon_nav.gif') no-repeat scroll 0pt 50%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; text-align: left; text-indent: 25px; line-height: 3em; }
#nav, #nav a { color: rgb(51, 51, 51); }
.mainbox table { width: 100%; }
.postbtn, .replybtn, #modopt, #modopttmp { float: left; margin-right: 10px; color: rgb(0, 0, 0); cursor: pointer; }
.postbtn, .replybtn { background: transparent url('newtopic.gif') no-repeat scroll 0pt 0pt; overflow: hidden; width: 67px; height: 30px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; font-size: 14px; font-weight: 700; line-height: 28px; text-align: center; }
.replybtn { background-image: url('reply.gif'); }
.postbtn a, .replybtn a { display: block; padding-left: 5px; color: rgb(255, 255, 255); letter-spacing: 5px; }
.postbtn a:hover, .replybtn a:hover { text-decoration: none; }
.pages, .pageback { padding: 2px 0pt; float: right; }
.pages a, .pages strong, .pageback a { border: 1px solid ; padding: 0pt 6px; overflow: hidden; float: left; margin-right: 2px; height: 20px; line-height: 20px; }
.pages a, .pageback a { border-color: rgb(225, 225, 225); background-color: rgb(245, 245, 245); color: rgb(0, 0, 0); }
.pages a:hover, .pageback a:hover { text-decoration: none; }
.pageback a { background: rgb(245, 245, 245) url('arrow_left.gif') no-repeat scroll 0pt 50%; padding-left: 16px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.pages a:hover, .pageback a, .pages a.next { border-color: rgb(0, 0, 0); }
.popupmenu_popup { border: 1px solid rgb(207, 207, 207); padding: 10px; background: rgb(251, 251, 251) none repeat scroll 0% 0%; overflow: hidden; text-align: left; line-height: 1.4em; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.postmenu { width: 100px; }
.postmenu li, #visitedforums_menu li { background: transparent url('folder_s.gif') no-repeat scroll 3px 50%; float: left; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.postmenu li.poll { background-image: url('pollsmall.gif'); }
.postmenu li.trade { background-image: url('tradesmall.gif'); }
.postmenu li.reward { background-image: url('rewardsmall.gif'); }
.postmenu li.activity { background-image: url('activitysmall.gif'); }
.postmenu li.debate { background-image: url('debatesmall.gif'); }
.postmenu li.video { background-image: url('videosmall.gif'); }
.postmenu a, #visitedforums_menu a { border-bottom: 1px solid rgb(225, 225, 225); padding: 5px 0pt 5px 25px; display: block; width: 75px; }
.postmenu a:hover, #visitedforums_menu a:hover { text-decoration: none; color: rgb(0, 0, 0); border-bottom-color: rgb(239, 239, 239); }
html { background: rgb(168, 171, 174) url('bg.png') repeat-x scroll center 0pt; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#header .wrap { padding: 0pt ! important; background: transparent url('city.gif') no-repeat scroll 430px 46px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; height: 170px; position: relative; }
#header { margin: 0pt auto; width: 1000px; }
#header h2 a img { position: absolute; left: 18px; top: 22px; }
#umenu { text-align: right; padding-right: 15px; top: 105px; }
#menu { border-left: 1px solid rgb(255, 255, 255); border-right: 1px solid rgb(255, 255, 255); background: transparent url('menu-bg.png') repeat-x scroll 0% 0%; overflow: hidden; width: 978px; position: absolute; left: 0pt; bottom: 0pt; height: 36px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#menu ul { padding: 0pt 20px; }
#menu li { margin: 0pt 6px; }
#menu a { border: medium none ; font-size: 14px; letter-spacing: 1px; text-align: center; height: 36px; line-height: 36px; }
#menu a:hover { background-color: transparent; color: rgb(239, 240, 242); }
#menu li.current a { padding: 0pt; background: transparent url('cover.png') no-repeat scroll center 5px; overflow: hidden; font-weight: bold; color: rgb(68, 68, 68); width: 91px; height: 36px; line-height: 38px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#menu li.current a:hover { color: rgb(51, 51, 51); }
#big-wrap { margin: 0pt auto; background: transparent url('big-wrap.png') repeat-y scroll center 0pt; width: 1000px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#nav { margin: 0pt auto; background: transparent url('sub-cat.png') repeat-x scroll 0pt 100%; overflow: hidden; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; padding-left: 20px; width: 960px; line-height: 36px; text-indent: 0pt; height: 41px; }
#nav a { color: rgb(204, 51, 0); font-weight: bold; }
.postbtn, .replybtn { width: 97px; height: 35px; line-height: 31px; padding-right: 10px; }
.forumcontrol { margin: 0pt 10px; }
.forumcontrol .modaction { background: rgb(247, 247, 247) none repeat scroll 0% 0% ! important; -moz-background-clip: border ! important; -moz-background-origin: padding ! important; -moz-background-inline-policy: continuous ! important; }
.threadad td.postauthor { height: 0px ! important; }
.postbtn a, .replybtn a { color: rgb(239, 240, 242); }
.postbtn a:hover, .replybtn a:hover { color: rgb(255, 255, 255); }
.postbtn { background-image: url('post.gif'); }
.headermenu_popup li, .postmenu a, #visitedforums_menu a { border-bottom-color: rgb(172, 172, 172); color: rgb(0, 0, 0); }
.viewthread td.postcontent { background: rgb(255, 255, 255) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.forumcontrol td { padding: 15px 15px 5px ! important; background: rgb(247, 247, 247) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.postmenu a, #visitedforums_menu a { border-bottom: 1px solid rgb(234, 234, 234); color: rgb(85, 85, 85); }
.postmenu a:hover, #visitedforums_menu a:hover { border-bottom: 1px solid rgb(234, 234, 234); color: rgb(204, 51, 0); }
.pages a, .pageback a { border: 1px solid rgb(204, 204, 204) ! important; background: rgb(255, 255, 255) none repeat scroll 0% 0% ! important; -moz-background-clip: border ! important; -moz-background-origin: padding ! important; -moz-background-inline-policy: continuous ! important; }
#footer { margin: 0pt auto; padding: 0pt; background: rgb(168, 171, 174) url('footer.png') repeat-y scroll 0pt 0pt; width: 1000px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#footer h2 { margin: 0pt auto; background: rgb(245, 245, 245) url('f-city.gif') no-repeat scroll 480px bottom; width: 980px; height: 100px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#footer h2 img { margin: 60px 0pt 0pt 30px; float: left; }
#footer .wrap { background: rgb(39, 39, 39) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; width: 978px; color: rgb(255, 255, 255); }
#footer .wrap a { color: rgb(255, 255, 255); }
#rightinfo, #footlink { padding: 10px; height: 40px; }
#footer .pipe { color: rgb(105, 105, 105); }
#footer .pipe { color: rgb(105, 105, 105); }
#footer-btm { background: rgb(168, 171, 174) url('footer-btm.png') no-repeat scroll 0pt 0pt; width: 100%; height: 40px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
/* ::::: http://bbs.kenapple.com/forumdata/cache/style_3_viewthread.css?RR2 ::::: */

.forumcontrol {  }
.forumcontrol table { background: rgb(239, 239, 239) none repeat scroll 0% 0%; width: 100%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.forumcontrol td { padding: 15px; }
.forumcontrol .narrow td { padding: 0pt 15px 5px; }
.forumcontrol .modaction { background: rgb(225, 225, 225) none repeat scroll 0% 0%; width: 140px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.userinfopanel { border: 1px solid rgb(207, 207, 207); margin: -1px 0pt 0pt 9px; background: rgb(245, 245, 245) none repeat scroll 0% 0%; position: absolute; z-index: 9999; width: 500px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; opacity: 0.99; }
.popavatar { float: left; width: 150px; }
.popavatar p { padding: 0pt 10px; }
.popuserinfo { padding: 5px 0pt; float: left; width: 350px; }
.imicons img { margin: 0pt 8px 0pt 0pt; vertical-align: middle; }
.userinfopanel p { margin: 0pt ! important; padding: 0pt ! important; text-align: left; }
.userinfopanel p a { color: rgb(0, 0, 0); }
.userinfopanel dl { margin: 5px 0pt; padding: 5px 0pt; }
.postauthor .userinfopanel dt { width: 70px; }
.postauthor .userinfopanel dd { width: 100px; }
.userinfopanel .avatar { margin: 0pt 0pt 10px ! important; }
.profile_side li { margin: 5px 0pt; background-position: 0pt 50%; background-repeat: no-repeat; text-indent: 22px; }
.profile_side li.pm { background-image: url('pmto.gif'); }
.profile_side li.buddy { background-image: url('addbuddy.gif'); }
.viewthread {  }
.threadfix { padding-bottom: 0pt ! important; min-height: 300px ! important; }
.viewthread table, #pmprompt table, #forumlinks, #pmlist, #specialpost, #newpost, #editpost { table-layout: fixed; }
.viewthread td.postcontent, .viewthread td.postauthor { border: medium none ; padding: 0pt 1px; overflow: hidden; vertical-align: top; }
.viewthread td.postcontent { padding: 0pt 15px; }
.mainbox td.postauthor { padding: 0pt; background: rgb(239, 239, 239) none repeat scroll 0% 0%; overflow: hidden; width: 170px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.postauthor .avatar { margin: 10px 20px; }
.postauthor p, .postauthor dl.profile { margin: 5px 10px 5px 20px; }
.postauthor p.customstatus { color: rgb(59, 59, 59); }
.postauthor p em, .postauthor dt em { color: rgb(68, 68, 68); }
.postauthor dd, .postauthor dt { overflow: hidden; height: 1.6em; line-height: 1.6em; float: left; }
.postauthor dt { margin-right: 5px; width: 50px; }
.postauthor dd { width: 80px; }
.posterinfo, .postmessage, .postact {  }
.postinfo { border-bottom: 1px dashed rgb(225, 225, 225); overflow: hidden; color: rgb(59, 59, 59); margin-bottom: 10px; line-height: 36px; height: 36px; }
.postinfo strong a { border: 1px solid rgb(245, 245, 245); padding: 0pt 6px; float: right; height: 24px; font-weight: 100; color: rgb(68, 68, 68); line-height: 24px; margin-top: 4px; }
.postinfo strong a:hover { border: 1px solid rgb(0, 0, 0); text-decoration: none; }
.postinfo em { color: rgb(0, 0, 0); margin-right: 4px; }
.posterinfo { color: rgb(142, 142, 142); margin-right: auto; }
.authicon { margin-bottom: -4px; cursor: pointer; }
.posterinfo a, .posterinfo em { margin: 0pt 4px; color: rgb(68, 68, 68); }
.postmessage { clear: left; }
.postmessage * { line-height: normal; }
.postmessage h1, .postmessage h2 { margin: 8px 0pt; font-size: 1.17em; }
.postmessage h1 a { font-weight: 400; color: rgb(68, 68, 68); }
#threadtitle { border-bottom: 1px dashed rgb(225, 225, 225); margin-bottom: 8px; }
.defaultpost { padding-bottom: 1em; }
.t_msgfont, .t_msgfont td { font-size: 14px; line-height: 1.6em; }
.t_msgfont a { color: rgb(0, 0, 0); }
.t_msgfont *, .t_bigfont .t_msgfont * { line-height: normal; }
.signatures { padding: 20px 0pt 10px; background: transparent url('sigline.gif') no-repeat scroll 0pt 0pt; overflow: hidden; color: rgb(59, 59, 59); line-height: 1.6em; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.signatures * { line-height: normal; }
.postactions { border-top: 1px dashed rgb(225, 225, 225); padding: 0pt 10px 0pt 0pt; }
.postactions p { float: right; }
.postactions p a { margin-right: 6px; }
.postact { line-height: 36px; }
.postact em { float: left; }
.postact em a { padding: 5px 10px 5px 25px; }
.fastreply { background: transparent url('fastreply.gif') no-repeat scroll 0pt 50%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.repquote { background: transparent url('repquote.gif') no-repeat scroll 0pt 50%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.threadad {  }
.threadad td.postauthor { padding: 0pt; background: rgb(225, 225, 225) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; height: 6px; }
.adcontent { background: rgb(239, 239, 239) none repeat scroll 0% 0%; overflow: hidden; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.useraction { margin: 20px auto; height: 50px; width: 165px; clear: both; display: block; }
.useraction a { padding: 30px 0pt 0pt; background: transparent url('ajaxaction.gif') no-repeat scroll 0pt 0pt; float: left; margin-right: 10px; text-align: center; height: 20px; width: 45px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#emailfriend { background-position: 0pt -50px; }
#ratelink { background-position: 0pt -100px; }
.pagecontrol { float: right; width: 160px; }
.print { background: transparent url('printpost.gif') no-repeat scroll 0pt 10px; padding-left: 20px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.msgfsize * { float: left; }
.msgfsize small, .msgfsize big { width: 20px; text-indent: -9999px; cursor: pointer; }
.msgfsize small { background: transparent url('text_common.gif') no-repeat scroll 7px 8px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.msgfsize big { background: transparent url('text_zoom.gif') no-repeat scroll 0pt 8px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.t_msgfontfix table, .specialmsg table { margin-left: 1px; }
.defaultpost { height: auto ! important; min-height: 320px ! important; }
.signatures { max-height: 280px; }
.t_msgfontfix { min-height: 100px; }
