/* ::::: http://static.opensuse.org/hosts/forums.o.o/css/style.css ::::: */

/* ::::: http://static.opensuse.org/c/css/yaml/core/base.css ::::: */

@media all {
	* { margin: 0pt; padding: 0pt; }
	option { padding-left: 0.4em; }
	html { height: 100%; }
	body { background: rgb(255, 255, 255) none repeat scroll 0% 0%; min-height: 101%; font-size: 100.01%; color: rgb(0, 0, 0); -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; text-align: left; }
	fieldset, img { border: 0pt solid ; }
	ul, ol, dl { margin: 0pt 0pt 1em 1em; }
	li { margin-left: 1.5em; line-height: 1.5em; }
	#main { clear: both; width: auto; }
	#col1 { float: left; width: 200px; }
	#col3 { margin: 0pt 200px; width: auto; }
	#col1 { z-index: 3; }
	#col3 { z-index: 1; }
	#col1_content { z-index: 4; }
	#col3_content { z-index: 2; }
	#col1_content, #col2_content, #col3_content { position: relative; }
	.clearfix:after { content: "."; display: block; height: 0pt; clear: both; visibility: hidden; }
	.clearfix { display: block; }
	#ie_clearing { display: none; }
	.subcolumns, .subcolumns_oldgecko { overflow: hidden; width: 100%; }
	.c50l, .c25l, .c33l, .c38l, .c66l, .c75l, .c62l { float: left; }
	.c50r, .c25r, .c33r, .c38r, .c66r, .c75r, .c62r { float: right; margin-left: -5px; }
	.c50l, .c50r { width: 50%; }
	.subcl { padding: 0pt 1em 0pt 0pt; }
	.subcr { padding: 0pt 0pt 0pt 1em; }
}
/* ::::: http://static.opensuse.org/c/css/common/basemod_opensuse.css ::::: */

@media screen {
	body { background: rgb(255, 255, 255) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; min-width: 800px; }
	#logo { margin-bottom: 10px; }
	#logo_content { overflow: hidden; min-height: 85px; height: 3em; text-align: center; vertical-align: middle; }
	#logo_content img { border: 0pt none ; margin: 0pt; padding: 0pt; width: 100%; max-width: 129px; }
	#banner_green, #banner_orange, #banner_darkgrey, #banner_blue { position: relative; float: left; margin-bottom: 10px; width: 100%; }
	#banner_content { border: 0pt none ; min-height: 85px; height: 3em; }
	#slogan { padding: 26px 0pt 26px 20px; }
	#pt-personal { text-align: right; font-weight: bold; font-size: 90%; margin-right: 15px; white-space: nowrap; }
	#pt-personal a { text-decoration: none; }
	#searchbox { margin: 10px 15px 0pt 0pt; white-space: nowrap; float: right; }
	#page_actions { margin: 0pt 11em 0pt 0pt; padding: 0pt; width: auto; position: relative; top: 0pt; left: 0pt; text-align: left; font-weight: normal; font-size: 85%; }
	body { text-align: center; }
	#page_margins { text-align: left; }
	#main { margin: 0pt; padding: 0pt; background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(0, 0, 0); -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
	#col1 { width: 14em; }
	#col1_content { background: rgb(255, 255, 255) none repeat scroll 0% 0%; margin-left: 10px; margin-right: 10px; color: rgb(0, 0, 0); -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
	#col3 { margin-left: 14em; margin-right: 10px; min-width: 20em; }
	#col3_content { margin: 0pt; background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(0, 0, 0); -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
	#contentarea { position: relative; padding-left: 4px; float: left; width: 99.3%; }
	#page_footer { text-align: center ! important; font-size: smaller ! important; }
}
/* ::::: http://static.opensuse.org/c/css/yaml/screen/content_default.css ::::: */

@media all {
	html * { font-size: 100.01%; }
	body { font-family: 'Trebuchet MS',Verdana,Helvetica,Arial,sans-serif; font-size: 75%; }
	ul, ol, dl { margin: 0pt 0pt 1em 1em; line-height: 1.5em; }
	li { margin-left: 1.5em; line-height: 1.5em; }
	strong, b { font-weight: bold; }
	em, i { font-style: italic; }
	pre, code { font-family: monospace; font-size: 1.1em; }
	a { color: rgb(153, 0, 0); text-decoration: none; }
	a:focus, a:hover, a:active { background-color: rgb(255, 238, 238); text-decoration: underline; }
	table { width: auto; border-collapse: collapse; margin-bottom: 0.5em; }
	th, td { padding: 0.5em; }
	hr { border-style: none none solid; border-color: -moz-use-text-color -moz-use-text-color rgb(0, 0, 0); border-width: 0pt 0pt 1px; margin: 0pt 0pt 0.5em; padding: 0pt 0pt 0.5em; background: transparent none repeat scroll 0% 0%; color: rgb(255, 255, 255); -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
}
/* ::::: http://static.opensuse.org/c/css/common/contentmod_opensuse.css ::::: */

.navlist { margin: 0pt; padding: 0.5em 0.3em 0pt 0pt; }
a { border: medium none ; }
a, a:hover { color: rgb(119, 119, 119); }
a:hover, a:focus { background-color: transparent; }
#main a[href^="http:"], #main a[href^="https:"] { padding-left: 0pt; background-image: none; }
#contentarea a { color: rgb(42, 77, 102); text-decoration: underline; }
#contentarea a:visited { color: rgb(73, 135, 179); }
#contentarea a:hover { color: rgb(61, 112, 148); }
input { margin: 5px; }
input[type="submit"] { cursor: pointer; }
img { border: medium none ; vertical-align: middle; }
table { width: auto; }
table td, table th { padding: 0.2em 1.2em; }
/* ::::: http://static.opensuse.org/hosts/forums.o.o/css/contentadd_style.css ::::: */

body { font-family: Arial,sans-serif; }
#contentarea, #col1_content, #col2_content, #col3_content { position: static; }
.navlist, #rightnav ul { list-style-image: url('lidot_double_green.png'); }
hr { border-bottom: 1px solid rgb(204, 204, 204); }
input, textarea { border: 1px solid rgb(102, 153, 0); }
input[type="text"]:focus, textarea:focus { border-color: rgb(102, 153, 0); }
input[type="submit"] { background-color: rgb(217, 229, 191); color: rgb(0, 0, 0); }
pre { border: 2px dashed rgb(178, 204, 127); margin: 0pt 0pt 1em 1em; padding: 0.5em; background: rgb(240, 240, 244) none repeat scroll 0% 50%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; color: rgb(0, 0, 0); display: block; }
ul { list-style-image: url('lidot_wiki_001.png'); }
#bodyContent { padding: 0.5em 1.5em; }
#contentarea table { border-collapse: separate; }
#pt-personal { color: rgb(217, 229, 191); }
#pt-personal a { color: rgb(217, 229, 191); }
table td, table th { padding: 0pt; }
table {  }
table table th, table table td { padding-right: 0pt; padding-left: 0pt; }
.tborder { width: 100%; }
.tborder td { border-bottom: 1px solid rgb(221, 221, 221); }
.tborder table td { border-bottom: 0px none; }
.smallfont { font-size: 1em; }
td.tcat { padding: 0.5em 1em 0.3em; font-size: 1.3em; font-weight: bold; color: rgb(102, 102, 102); }
td.tcat .smallfont, td.tcat span { font-size: 0.8em; }
td.tfoot div { margin: 0.5em 0pt; }
td.tcat, .vbmenu_control, #imod { background: rgb(245, 245, 245) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#bodyContent a[href^="http://"], #bodyContent a[href^="gopher://"] { background: transparent none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; padding-right: 0pt; }
.tborder tbody table { margin: 0.2em 0pt; }
#main a[href^="http:"], #main a[href^="https:"] { background-image: none; padding-left: 0pt; text-decoration: none; }
.thead { border-top: 1px solid rgb(204, 204, 204); padding: 0.3em; background: rgb(224, 224, 224) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; font-weight: bold; color: rgb(153, 153, 153); }
#pt-personal a {  }
select { border: 1px solid rgb(153, 153, 153); }
.alt1 { background: rgb(238, 238, 238) none repeat scroll 0% 0%; padding-left: 0.5em; padding-right: 0.5em; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.alt1, .alt1Active {  }
.alt2, #threadtools { background: rgb(245, 245, 245) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
td.alt2 { padding: 0.5em; }
.post_controle_wrapper { width: 100%; }
.post_controle_wrapper td {  }
.vbmenu_popup {  }
#contentarea a { text-decoration: none; }
.vbmenu_popup table { border-top: 0pt none; border-bottom: 2px solid rgb(153, 153, 153); background: rgb(204, 204, 204) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.vbmenu_popup td { padding: 0.5em; text-align: left; }
.vbmenu_popup td a:link { text-decoration: none ! important; }
.vbmenu_popup .thead {  }
td.vbmenu_option { background-color: rgb(204, 204, 204); }
.vbmenu_control { background: rgb(244, 244, 244) none repeat scroll 0% 0%; text-align: left; padding-left: 0.5em; padding-right: 0.5em; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.vbmenu_control a {  }
#posts table { width: 100%; }
.box_content input { margin: 0pt; padding: 0.1em; font-size: 0.9em; }
.box_content label { font-size: 1em; }
/* ::::: http://static.opensuse.org/c/css/common/opensuse_boxes.css ::::: */

.darkgrey_box, .darkgrey_box_double, .orange_box, .orange_box_double, .green_box, .green_box_double, .blue_box, .blue_box_double, .grey_box, .grey_box_double {  }
.box_top_row { display: block; height: 10px; clear: both; }
.box_title_row { display: block; }
.box_title { margin: 0pt; padding: 0pt 0.8em 8px; display: block; text-align: center; font-weight: bold; }
.box_left { position: relative; float: left; width: 10px; height: 10px; display: block; }
.box_right { position: relative; float: right; width: 10px; height: 10px; display: block; }
#bodyContent { min-height: 30.2em; }
.box_content { border-left: 1px solid rgb(224, 224, 224); border-right: 1px solid rgb(224, 224, 224); padding: 0.5em 0.8em; background: rgb(252, 252, 252) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; display: block; }
.box_bottom_row { background: transparent url('bottom_middle.png') repeat-x scroll left top; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; display: block; height: 10px; clear: both; }
.box_bottom_row .box_left { background: transparent url('bottom_left_corner.png') no-repeat scroll left top; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.box_bottom_row .box_right { background: transparent url('bottom_right_corner.png') no-repeat scroll right top; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.box_footer_row { display: block; }
.box_footer { margin: 0pt; padding: 8px 0.8em 0pt; display: block; }
.grey_box .box_top_row, .grey_box_double .box_top_row { background: transparent url('top_middle.png') repeat-x scroll left bottom; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.grey_box .box_top_row .box_left, .grey_box_double .box_top_row .box_left { background: transparent url('top_left_corner.png') no-repeat scroll left bottom; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.grey_box .box_top_row .box_right, .grey_box_double .box_top_row .box_right { background: transparent url('top_right_corner.png') no-repeat scroll right bottom; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.grey_box .box_title_row, .grey_box_double .box_title_row { background: rgb(224, 224, 224) url('title_right.png') repeat-y scroll right top; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.grey_box .box_title, .grey_box_double .box_title { background: transparent url('title_left.png') repeat-y scroll left top; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.grey_box_double .box_footer_row { background: rgb(224, 224, 224) url('title_right.png') repeat-y scroll right top; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.grey_box_double .box_footer { background: transparent url('title_left.png') repeat-y scroll left top; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.grey_box_double .box_bottom_row { background: transparent url('bottom_middle_grey.png') repeat-x scroll left top; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.grey_box_double .box_bottom_row .box_left { background: transparent url('bottom_left_corner_grey.png') no-repeat scroll left top; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.grey_box_double .box_bottom_row .box_right { background: transparent url('bottom_right_corner_grey.png') no-repeat scroll right top; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.grey_box .box_bottom_row { background: transparent url('bottom_middle.png') repeat-x scroll left top; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.grey_box .box_bottom_row .box_left { background: transparent url('bottom_left_corner.png') no-repeat scroll left top; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.grey_box .box_bottom_row .box_right { background: transparent url('bottom_right_corner.png') no-repeat scroll right top; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.green_box .box_top_row, .green_box_double .box_top_row { background: transparent url('top_middle_001.png') repeat-x scroll left bottom; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.green_box .box_top_row .box_left, .green_box_double .box_top_row .box_left { background: transparent url('top_left_corner_001.png') no-repeat scroll left bottom; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.green_box .box_top_row .box_right, .green_box_double .box_top_row .box_right { background: transparent url('top_right_corner_001.png') no-repeat scroll right bottom; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.green_box .box_title_row, .green_box_double .box_title_row { background: rgb(102, 153, 0) url('title_right_001.png') repeat-y scroll right top; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.green_box .box_title, .green_box_double .box_title { background: transparent url('title_left_001.png') repeat-y scroll left top; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; color: rgb(255, 255, 255); }
.green_box_double .box_bottom_row { background: transparent url('bottom_middle_green.png') repeat-x scroll left top; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.green_box_double .box_bottom_row .box_left { background: transparent url('bottom_left_corner_green.png') no-repeat scroll left top; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.green_box_double .box_bottom_row .box_right { background: transparent url('bottom_right_corner_green.png') no-repeat scroll right top; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.green_box .box_bottom_row { background: transparent url('bottom_middle.png') repeat-x scroll left top; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.green_box .box_bottom_row .box_left { background: transparent url('bottom_left_corner.png') no-repeat scroll left top; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.green_box .box_bottom_row .box_right { background: transparent url('bottom_right_corner.png') no-repeat scroll right top; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#logo .box_content_row { border: 0pt none ; background: rgb(252, 252, 252) url('title_right_002.png') repeat-y scroll right top; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#logo .box_content { border: 0pt none ; background: transparent url('title_left_002.png') repeat-y scroll left top; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#logo .box_bottom_row { background: transparent url('bottom_middle_grey_001.png') repeat-x scroll left top; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; height: 14px; }
#logo .box_left { background: transparent url('bottom_left_corner_grey_001.png') no-repeat scroll left top; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; height: 14px; }
#logo .box_right { background: transparent url('bottom_right_corner_grey_001.png') no-repeat scroll right top; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; height: 14px; }
#banner_green .box_content_row { background: rgb(102, 153, 0) url('title_right_003.png') repeat-y scroll right top; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#banner_green .box_content { background: transparent url('title_left_003.png') repeat-y scroll left top; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#banner_green .box_bottom_row { background: transparent url('bottom_middle_green_001.png') repeat-x scroll left top; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; height: 14px; }
#banner_green .box_left { background: transparent url('bottom_left_corner_green_001.png') no-repeat scroll left top; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; height: 14px; }
#banner_green .box_right { background: transparent url('bottom_right_corner_green_001.png') no-repeat scroll right top; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; height: 14px; }
.footer_table { clear: both; }
