
/* ::::: http://mypaper.pchome.com.tw/css/style/blog4.css ::::: */

body { margin: 0px; background: rgb(215, 227, 197) none repeat scroll 0% 0%; font-family: arial; color: rgb(68, 68, 68); font-size: 13px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
a { color: rgb(98, 163, 13); }
a:hover { text-decoration: none; color: rgb(85, 85, 85); }
.btn01 {  }
#container1 { margin: auto; background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 900px; position: relative; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#container2 {  }
#container_map { margin: auto; background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 900px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#banner { background: rgb(143, 215, 40) none repeat scroll 0% 0%; height: 100px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#pageheader {  }
#pageheader h1 { margin: 0px; padding: 10px 0pt 0pt 20px; font-size: 19px; }
#pageheader h1 a { color: rgb(255, 255, 255); }
#pageheader .description { position: absolute; font-size: 11px; top: 40px; left: 20px; z-index: 10; font-weight: normal; color: rgb(102, 102, 102); }
#pageheader #description2 .description {  }
.service ul li { padding: 0pt 0pt 0pt 10px; display: inline; }
.service { position: absolute; top: 70px; left: 0px; width: 100%; z-index: 10; }
.serviceList { margin: 0px; padding: 0px; }
.serviceList a { color: rgb(54, 54, 54); }
.service .service1 { padding: 5px 0pt 5px 10px; float: left; }
.service .service2 { padding: 5px 20px 5px 0pt; float: right; }
#main2 {  }
#content { border-left: 1px solid rgb(230, 230, 230); border-right: 1px solid rgb(230, 230, 230); margin: 0px 0px 0px 190px; padding: 9px; background: rgb(247, 247, 247) none repeat scroll 0% 0%; overflow: hidden; float: left; display: inline; width: 500px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#content2 { border-left: 1px solid rgb(230, 230, 230); border-right: 1px solid rgb(230, 230, 230); margin: 0px 0px 0px 190px; padding: 9px; background: rgb(247, 247, 247) none repeat scroll 0% 0%; overflow: hidden; width: 500px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.date { margin: 10px 0pt 0pt; padding: 8px; text-align: left; font-size: 11px; color: rgb(136, 136, 136); }
.datediv {  }
.blogbody { border-bottom: 1px dotted rgb(204, 204, 204); padding: 0pt 8px 10px; margin-bottom: 7px; }
.blogbody2 {  }
.articletext {  }
.articletext h3 { margin: 0pt; width: 430px; color: rgb(0, 0, 0); }
.articletext h3 a { color: rgb(115, 192, 5); text-decoration: none; }
.articletext .title { margin: 0pt 0pt 8px; font-size: 19px; font-weight: bold; }
.articletext .innertext { padding: 10px 0pt 0pt; background: transparent url('dot.gif') repeat-x scroll center top; font-size: 13px; line-height: 20px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.articletext .extended { font-size: 12px; margin-top: 15px; line-height: 20px; }
.extended a { border-bottom: 1px dotted rgb(153, 153, 153); text-decoration: none; }
.extended a:hover { border-bottom: 0px dotted rgb(255, 255, 255); }
.posted { font-size: 12px; color: rgb(153, 153, 153); }
#article_tag { margin: 20px 0pt 0pt; padding: 0pt 0pt 0pt 33px; background: transparent url('icon_tag.gif') no-repeat scroll 0px 3px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#article_author { margin: 0pt 0pt 5px; padding: 0pt 0pt 10px; background: transparent url('dot.gif') repeat-x scroll center bottom; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#ppage-title { margin: 0pt 0pt 5px; padding: 0pt 0pt 3px; background: transparent url('dot.gif') repeat-x scroll center bottom; height: 30px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#ppage-title .left { float: left; }
#ppage-title .right { float: right; line-height: 30px; font-size: 12px; }
#ppage-title .right-input { width: 85px; }
#ppage-title .ppage-title { font-size: 16px; font-weight: bold; line-height: 30px; padding-right: 8px; color: rgb(110, 182, 7); }
.comments-head { padding: 5px 0pt; font-size: 12px; text-align: right; }
.comments-body { margin: 0pt 0pt 10px; padding: 8px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.comments-body form {  }
.total-comments-div { margin: 5px 0pt; line-height: 20px; }
.comments-date { font-size: 11px; text-align: right; color: rgb(153, 153, 153); }
.comments-reply { margin: 8px; padding: 8px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.comments-reply textarea { width: 430px; height: 80px; }
.comments-reply-tit { color: rgb(157, 204, 69); font-size: 15px; font-weight: bold; line-height: 23px; }
.comments-post-tit { font-size: 15px; font-weight: bold; line-height: 25px; margin-top: 8px; }
.comments-post-tit span { font-size: 12px; font-weight: normal; padding-left: 5px; }
.comments-post { padding: 0pt 0pt 5px; background: transparent url('dot.gif') repeat-x scroll center bottom; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.comments-post span { color: rgb(255, 51, 0); }
.comments-post a { margin: 0pt 3px 0pt 0pt; text-decoration: none; font-size: 15px; font-weight: bold; }
.postuser img { border: 1px solid rgb(255, 255, 255); margin: 0pt 3px 0pt 0pt; height: 25px; width: 25px; }
#text { width: 300px; }
#comments-form { padding: 8px; clear: both; text-align: center; }
#comments-form .tit { float: left; width: 120px; text-align: right; }
#comments-form .ip { float: left; text-align: left; font-size: 11px; line-height: 18px; color: rgb(153, 153, 153); }
#comments-form .ip span { padding: 0pt 0pt 5px; font-size: 15px; line-height: 20px; color: rgb(34, 34, 34); }
#comments-form .ip input { height: 15px; font-size: 12px; width: 300px; }
#comments-form .ip textarea { font-size: 12px; width: 300px; height: 80px; }
#comments-recom { padding: 5px; float: left; height: 75px; text-align: center; line-height: 17px; width: 67px; font-size: 12px; }
#comments-recom img { width: 40px; height: 40px; }
#comments-trackback { margin: 15px 0pt 8px; clear: both; height: 55px; }
#comments-trackback img { width: 40px; height: 40px; }
#comments-trackback .left { padding: 5px; float: left; }
#comments-trackback .right { float: left; width: 420px; font-size: 12px; line-height: 18px; color: rgb(153, 153, 153); }
#comments-trackback .name { font-size: 12px; line-height: 20px; color: rgb(68, 68, 68); }
#comments-trackback .name a { font-weight: bold; font-size: 13px; margin-right: 3px; }
#content-i { padding: 10px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 880px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#content-i .cb { clear: both; }
#content-i .subtit { border-bottom: 2px solid rgb(119, 119, 119); margin: 8px auto auto; background: transparent url('ttab_bg.gif') no-repeat scroll 0% 0%; font-size: 15px; font-weight: bold; line-height: 28px; width: 790px; color: rgb(253, 250, 216); -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; padding-left: 12px; }
#info-author { margin: auto auto 20px; padding: 8px; background: rgb(245, 245, 245) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; width: 787px; }
#info-author .pic { padding: 10px; float: left; width: 120px; }
#info-author .pic img { border: 3px solid rgb(255, 255, 255); }
#info-author .dis { float: left; }
#info-author .tit { margin: 15px 0pt 6px; padding: 0pt 0pt 0pt 20px; background: transparent url('foot.gif') no-repeat scroll 0px 2px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; font-size: 15px; font-weight: bold; }
#info-author .bname { padding: 3px 0pt 15px; font-size: 13px; line-height: 20px; }
#info-author .bname a { font-weight: bold; }
#info-author .intro { font-size: 13px; font-weight: bold; line-height: 20px; }
#info-author .cb { clear: both; }
#info-author-list { margin: auto; width: 90%; clear: both; font-size: 15px; line-height: 25px; padding-top: 8px; }
#info-author-list .l { float: left; width: 100px; text-align: right; font-size: 13px; color: rgb(136, 136, 136); }
#info-author-list .r { float: left; font-weight: bold; }
#content-f { padding: 10px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 880px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.comments-body-f { margin: 5px; padding: 8px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; width: 405px; float: left; }
#friends-list { clear: both; height: 110px; }
#friends-list .pic { padding: 5px; float: left; width: 110px; }
#friends-list .dis { float: left; width: 285px; }
#friends-list .tit { margin: 15px 0pt 6px; padding: 0pt 0pt 0pt 20px; background: transparent url('foot.gif') no-repeat scroll 0px 2px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; font-size: 15px; font-weight: bold; }
#friends-list .rel { font-size: 13px; height: 35px; color: rgb(119, 119, 119); }
#content-c { padding: 10px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 880px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#comments-page { margin: auto; padding: 5px; width: 90%; }
#comments-page .comments-head { padding: 5px 0pt; font-size: 12px; text-align: right; }
#comments-page .comments-body { margin: 0pt 0pt 10px; padding: 8px; background: rgb(247, 247, 247) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#comments-page .comments-body form {  }
#comments-page .comments-body .ip input { width: 550px; }
#comments-page .comments-body .ip textarea { border: 1px solid rgb(153, 153, 153); margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 550px; height: 110px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#comments-page .total-comments-div { margin: 5px; line-height: 20px; }
#comments-page .comments-date { font-size: 11px; text-align: right; color: rgb(153, 153, 153); }
#comments-page .comments-reply { margin: 8px; padding: 8px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#comments-page .comments-reply-tit { color: rgb(157, 204, 69); font-size: 15px; font-weight: bold; line-height: 23px; }
#comments-page .comments-post-tit { font-size: 15px; font-weight: bold; line-height: 25px; margin-top: 8px; }
#comments-page .comments-post-tit span { font-size: 12px; font-weight: normal; padding-left: 5px; }
#comments-page .comments-post { padding: 0pt 0pt 5px; background: transparent url('dot.gif') repeat-x scroll center bottom; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#comments-page .comments-post a { margin: 0pt 3px 0pt 0pt; text-decoration: none; font-size: 15px; font-weight: bold; }
#comments-page .postuser img { border: 1px solid rgb(255, 255, 255); margin: 0pt 3px 0pt 0pt; height: 25px; width: 25px; }
#content-cato { margin: auto auto 10px; padding: 10px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 480px; clear: both; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; height: 90px; }
#content-cato .lf { float: left; width: 100px; }
#content-cato .rf { font-size: 12px; line-height: 18px; }
#content-cato .atit { font-size: 15px; font-weight: bold; line-height: 23px; }
#content-cato .date { font-size: 11px; color: rgb(136, 136, 136); text-align: right; }
#content-srch { margin: auto auto 10px; padding: 10px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 490px; clear: both; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; height: 100px; }
#content-srch .lf {  }
#content-srch .lf img { margin: 5px 10px 5px 0pt; float: left; }
#content-srch .rf { font-size: 12px; line-height: 18px; }
#content-srch .rf span { padding: 0pt 2px; color: rgb(255, 102, 0); font-weight: bold; }
#content-srch .atit { font-size: 15px; font-weight: bold; line-height: 23px; }
#content-srch .date { margin: 30px 0pt 0pt; font-size: 11px; color: rgb(136, 136, 136); line-height: 0px; }
#content-srch .tag { margin: 8px 0pt 0pt; padding: 0pt 0pt 0pt 33px; background: transparent url('icon_tag.gif') no-repeat scroll 0px 3px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; float: left; }
.comments-body-st { padding: 5px 0pt 8px; }
.comments-body-st span { padding: 0pt 2px; color: rgb(255, 102, 0); font-weight: bold; font-size: 15px; }
.comments-body-s { margin: 0pt 0pt 10px; padding: 8px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.comments-links { color: rgb(153, 153, 153); font-size: 15px; }
.comments-links ul li { margin: 8px 0pt; }
.comments-links .bkc { margin-left: 10px; font-size: 12px; }
#divThird { position: absolute; left: 0px; top: 100px; width: 190px; }
#divThird2 {  }
#links { width: 190px; float: right; }
#links2 {  }
.sidetitle { border-bottom: 2px solid rgb(141, 198, 63); background: rgb(230, 230, 230) none repeat scroll 0% 0%; line-height: 29px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; color: rgb(71, 71, 71); padding-left: 10px; font-size: 15px; }
.side { padding: 5px 10px 10px; line-height: 20px; }
.calendar { font-size: 10px; }
#boxMySpace {  }
#boxMySpace .boxMySpace0 {  }
#boxMySpace .boxMySpace0 .sidetitle {  }
#boxMySpace .boxMySpace1 {  }
#boxMySpace .boxMySpace1 .side {  }
#boxMySpace .boxMySpaceImg { text-align: center; line-height: 20px; }
#boxMySpace .boxMySpaceImg img { border: 3px solid rgb(255, 255, 255); }
#boxMySpace .boxMySpaceName { text-align: center; }
#boxMySpace .boxMySpaceDis {  }
#boxMySpace .addFriend { background: transparent url('icon_addf.gif') no-repeat scroll 45px 4px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; text-align: center; }
#boxMySpace .addHeart { background: transparent url('icon_addh.gif') no-repeat scroll 45px 4px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; text-align: center; }
#boxMySpace .addThumb { background: transparent url('icon_addt.gif') no-repeat scroll 45px 4px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; text-align: center; }
#boxMySpace ul { margin-left: 10px; padding-left: 10px; line-height: 25px; }
#boxMySpace li span { font-size: 15px; font-weight: bold; }
#boxProfile {  }
#boxProfile .boxProfile0 {  }
#boxProfile .boxProfile0 .sidetitle {  }
#boxProfile .boxProfile1 {  }
#boxProfile .boxProfile1 .side {  }
#boxProfile .boxProfile1 .side .boxProfileImg {  }
#boxProfile .boxProfile1 .side .boxProfileLink {  }
#boxProfile .boxProfile1 .side select {  }
#boxSlideShow {  }
#boxSlideShow .boxSlideShow0 {  }
#boxSlideShow .boxSlideShow0 .sidetitle {  }
#boxSlideShow .boxSlideShow1 {  }
#boxSlideShow .boxSlideShow1 .side {  }
#boxNewArticle {  }
#boxNewArticle .boxNewArticle0 {  }
#boxNewArticle .boxNewArticle0 .sidetitle {  }
#boxNewArticle .boxNewArticle1 {  }
#boxNewArticle .boxNewArticle1 .side {  }
#boxSticker {  }
#boxSticker .boxSticker0 {  }
#boxSticker .boxSticker0 .sidetitle {  }
#boxSticker .boxSticker1 {  }
#boxSticker .boxSticker1 .side {  }
#boxCategory {  }
#boxCategory .boxCategory0 {  }
#boxCategory .boxCategory0 .sidetitle {  }
#boxCategory .boxCategory1 {  }
#boxCategory .boxCategory1 .side {  }
#boxCategory .more { margin: 5px 0pt 0pt; text-align: right; font-size: 12px; }
#boxCategory .more a { color: rgb(111, 111, 111); }
#boxCategory .more span { font-size: 9px; }
#boxDate {  }
#boxDate .boxDate0 {  }
#boxDate .boxDate0 .sidetitle {  }
#boxDate .boxDate1 {  }
#boxDate .boxDate1 .side {  }
#boxSearch {  }
#boxSearch .boxSearch0 {  }
#boxSearch .boxSearch0 .sidetitle {  }
#boxSearch .boxSearch1 {  }
#boxSearch .boxSearch1 .side {  }
#scupioSearch {  }
#scupioSearch .scupioSearch0 {  }
#scupioSearch .scupioSearch0 .sidetitle {  }
#scupioSearch .scupioSearch1 {  }
#scupioSearch .scupioSearch1 .side {  }
#boxNewComment {  }
#boxNewComment .boxNewComment0 {  }
#boxNewComment .boxNewComment0 .sidetitle {  }
#boxNewComment .boxNewComment1 {  }
#boxNewComment .boxNewComment1 .side {  }
#boxMap {  }
#boxMap .boxMap0 {  }
#boxMap .boxMap0 .sidetitle { height: 29px; }
#boxMap .boxMap0 .sidetitle .lt { float: left; }
#boxMap .boxMap0 .sidetitle .rb { padding: 5px 5px 0pt 0pt; float: right; }
#boxMap .boxMap1 {  }
#boxMap .boxMap1 .side {  }
#boxFolder {  }
#boxFolder .boxFolder0 {  }
#boxFolder .boxFolder0 .sidetitle {  }
#boxFolder .boxFolder1 {  }
#boxFolder .boxFolder1 .side {  }
#boxFolder .more { margin: 5px 0pt 0pt; text-align: right; font-size: 12px; }
#boxFolder .more a { color: rgb(111, 111, 111); }
#boxFolder .more span { font-size: 9px; }
#boxFolder .comment { margin: 5px 0pt 7px; font-size: 12px; line-height: 18px; }
#boxFolder .comment a { font-size: 13px; }
#boxFolder .comment_name {  }
#boxCounter {  }
#boxCounter .boxCounter0 {  }
#boxCounter .boxCounter0 .sidetitle {  }
#boxCounter .boxCounter1 {  }
#boxCounter .boxCounter1 .side {  }
.syndicate {  }
#footer { background: rgb(230, 230, 230) none repeat scroll 0% 0%; height: 40px; clear: both; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; text-align: center; color: rgb(136, 136, 136); font-size: 11px; padding-top: 10px; line-height: 18px; }
#footer a { font-size: 12px; color: rgb(102, 102, 102); }
#nvbar { border-bottom: 1px solid rgb(204, 204, 204); margin: 20px 0pt 0pt; padding: 0pt 0pt 0pt 10px; height: 29px; clear: both; }
#nvbar .tab_on a { border-top: 1px solid rgb(204, 204, 204); border-left: 1px solid rgb(204, 204, 204); border-right: 1px solid rgb(204, 204, 204); margin: 0pt 3px 0pt 0pt; background: rgb(255, 255, 255) none repeat scroll 0% 0%; line-height: 29px; font-weight: bold; padding-left: 13px; padding-right: 13px; float: left; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; text-decoration: none; color: rgb(68, 68, 68); }
#nvbar .tab a { border: 1px solid rgb(204, 204, 204); margin: 0pt 3px 0pt 0pt; background: rgb(236, 236, 236) none repeat scroll 0% 0%; line-height: 28px; padding-left: 13px; padding-right: 13px; float: left; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; color: rgb(136, 136, 136); }
#page { margin: 20px 0pt 5px; background: transparent url('dot.gif') repeat-x scroll center top; font-size: 12px; text-align: center; width: 100%; padding-top: 8px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; clear: both; line-height: 23px; }
#page a { text-decoration: none; }
#page a:hover { border-bottom: 0px none; text-decoration: underline; }
#page span { font-size: 16px; line-height: 24px; }
#dig_style {  }
.comments-links .bkc { margin-left: 10px; font-size: 12px; }

/* ::::: http://mypaper.pchome.com.tw/css/bar_style_new.css ::::: */

body { margin: 0px; font-family: "Arial","0"; }
form { margin: 0px; }
.left { float: left; }
.right { float: right; }
#top { border-top: 2px solid rgb(160, 206, 70); background: rgb(255, 255, 255) url('bg_bar.gif') repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; height: 47px; }
.logo { margin: 0px; padding: 0px; overflow: hidden; height: 47px; float: left; }
#login { color: rgb(93, 93, 93); font-size: 12px; float: left; padding-top: 0px; line-height: 47px; }
#login a { color: rgb(30, 136, 217); text-decoration: none; }
#login a:hover { text-decoration: underline; }
#search { float: right; height: 47px; color: rgb(110, 110, 110); font-size: 12px; width: 245px; }
#search .ip { padding: 2px 8px 2px 14px; background: rgb(230, 230, 230) url('bg_search.gif') no-repeat scroll left center; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#search .select { border: 1px solid rgb(174, 174, 174); padding: 2px; font-size: 12px; color: rgb(33, 33, 33); background-color: rgb(255, 255, 255); height: 20px; margin-right: 2px; }
#search .fill { border: 1px solid rgb(174, 174, 174); padding: 2px 0pt 0pt 3px; font-size: 11px; color: rgb(33, 33, 33); background-color: rgb(255, 255, 255); height: 16px; width: 81px; }
#search .service_bar { font-size: 12px; color: rgb(215, 215, 215); margin-top: 3px; margin-left: 35px; }
#search .service_bar a { margin: 0pt 5px; color: rgb(110, 110, 110); text-decoration: none; }

/* ::::: http://mypaper.pchome.com.tw/css/dig_style.css ::::: */

#dig_style { margin: -55px 0pt 0pt 445px; position: absolute; z-index: 100; }
#dig_style a { background: rgb(250, 246, 201) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; color: rgb(71, 71, 71); }
#dig_style a:hover { background: rgb(218, 218, 218) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#dig_style .bg { padding: 5px; background: rgb(250, 246, 201) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; text-align: center; }
#dig_style .count { font-size: 16px; font-weight: bold; color: rgb(141, 198, 63); text-decoration: none; }
#dig_style .count a { color: rgb(141, 198, 63); text-decoration: none; }
#dig_style .dt11 { font-size: 11px; }
#dig_style .ct11 { padding: 2px 0pt 0pt; font-size: 11px; }

/* ::::: http://mypaperimg.pchome.com.tw/newroot/s/o/sophia525/style/blog.css?1247539120 ::::: */

body { margin: 0px; font-family: arial; color: rgb(68, 68, 68); font-size: 13px; background-image: url('back_img.jpg'); background-repeat: repeat; background-color: rgb(0, 204, 255); }
a { color: rgb(98, 163, 13); }
.articletext h3 a { color: rgb(98, 163, 13); text-decoration: none; }
.service { position: absolute; top: 420px; width: 100%; z-index: 10; }
#banner { height: 450px; background-image: url('title.jpg'); background-color: rgb(143, 215, 40); }
#pageheader h1 a { color: rgb(255, 204, 0); }
#pageheader .description { position: absolute; font-size: 11px; top: 40px; left: 20px; z-index: 10; font-weight: normal; color: rgb(255, 255, 0); }
.serviceList a { color: rgb(54, 54, 54); }
.sidetitle { border-bottom: medium none; color: rgb(71, 71, 71); line-height: 29px; background-image: url('banner.jpg'); padding-left: 10px; font-size: 15px; background-color: rgb(230, 230, 230); }
#divThird { position: absolute; left: 0px; top: 450px; width: 190px; }
.articletext .innertext { padding: 10px 0pt 0pt; background: transparent url('dot_001.gif') repeat-x scroll center top; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; font-size: 13px; line-height: 20px; }
