body { margin: 0pt; background: none repeat scroll 0% 0% transparent; color: black; }
.r { font-family: Arial,Helvetica,sans-serif; font-size: 12px; white-space: nowrap; overflow: hidden; }
img { border-style: none; }
.r { width: 182px; }
table { border-collapse: collapse; }
.b { background-color: rgb(255, 255, 255); width: 182px; height: 34px; overflow: hidden; }
a.a:link { text-decoration: none; color: blue; }
a.a:link:hover { text-decoration: underline; }
.a { font-weight: bold; }
