a { color: rgb(255, 255, 255); }
body, table, div, ul, li { margin: 0pt; padding: 0pt; }
#tlc .rc_bg div { background-color: rgb(0, 0, 0); }
#trc .rc_bg div { background-color: rgb(0, 0, 0); }
#blc .rc_bg div { background-color: rgb(0, 0, 0); }
#brc .rc_bg div { background-color: rgb(0, 0, 0); }
.bg { background-color: rgb(0, 0, 0); border-color: rgb(0, 0, 0); border-style: solid; border-width: 0px; height: 18px; position: absolute; width: 18px; }
#ads { height: 59px; left: 1px; position: absolute; top: 0px; width: 232px; }
#ads ul { list-style: none outside none; }
#ads ul li { clear: both; float: left; height: 57px; line-height: 0; padding: 1px 4px; overflow: hidden; width: 224px; }
.adt { font-size: 13px; line-height: 15px; }
.adb { color: rgb(204, 204, 204); font-size: 12px; line-height: 14px; }
.adu { color: rgb(153, 153, 153); font-size: 10px; line-height: 12px; overflow: hidden; text-decoration: underline; white-space: nowrap; }
.adus { cursor: pointer; }
