/* ::::: http://s.pixfs.net/f.pixnet.net/css/lang-css.css?v=2549034513 ::::: */

/* ::::: http://s.pixfs.net/f.pixnet.net/css/iframe-popup.css?v=2549034513 ::::: */

/* ::::: http://s.pixfs.net/blog/plugins/plugins.min.css?v=2549034513 ::::: */

#user-info .box-text { padding-left: 15px; }
#user-info .user-img { display: block; float: left; margin: 0pt 15px 0pt 0pt; width: 100px; }
#user-info .user-action { float: left; }
#user-info .user-action input { display: block; margin: 0pt 0pt 5px; padding: 1px 3px; }
#user-info dl { clear: both; }
#user-info dl dd { margin: 0pt 0pt 6px; }
#user-info dl dd a { display: inline; }
#user-info dl dt { opacity: 0.6; padding-right: 2px; font-weight: bold; margin: 0pt; float: left; }
/* ::::: http://s.pixfs.net/f.pixnet.net/comment/openid-comment.css?v=2549034513 ::::: */

#container #main #content #user-post #comment-area * { letter-spacing: 0px; height: auto; width: auto; padding: 0pt; margin: 0pt; text-decoration: none; border: 0pt none; font-weight: normal; list-style: none outside none; text-align: left; font-size: 12px; line-height: 18px; color: rgb(0, 0, 0); background: none repeat scroll 0% 0% transparent; }
#container #main #content #user-post #comment-box #comment-area { margin: 20px auto; color: rgb(85, 85, 85); padding: 5px; border-radius: 5px 5px 5px 5px; font-size: 12px; line-height: 25px; font-family: "Tahoma"; text-decoration: none; width: 470px; position: relative; clear: both; background: url('40.png') repeat scroll 0% 0% transparent; }
#container #main #content #user-post #comment-box #comment-area a { text-decoration: none; }
#container #main #content #user-post #comment-box #comment-area-2 { background: none repeat scroll 0% 0% rgb(245, 245, 245); width: 470px; border-top: 1px solid rgb(221, 221, 221); }
#container #main #content #user-post #comment-box .comment-identity { background: none repeat scroll 0% 0% rgb(230, 230, 230); border-right: 1px solid rgb(221, 221, 221); border-width: 1px; border-style: solid; border-color: rgb(243, 243, 243) rgb(221, 221, 221) rgb(221, 221, 221); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; padding: 6px 0px 0px 10px; height: 44px; }
#container #main #content #user-post #comment-box .choose-identity { width: 362px; height: 28px; background: url('choose-identity.jpg') no-repeat scroll left top transparent; margin-top: 4px; }
#container #main #content #user-post #comment-box .choose-identity a { display: block; float: left; height: 28px; }
#container #main #content #user-post #comment-box .choose-identity a.openid-pixnet { width: 69px; }
#container #main #content #user-post #comment-box .choose-identity a.openid-facebook { width: 76px; }
#container #main #content #user-post #comment-box .choose-identity a.openid-yahoo { width: 69px; }
#container #main #content #user-post #comment-box .choose-identity a.openid-google { width: 69px; }
#container #main #content #user-post #comment-box .choose-identity a.openid-msn { width: 79px; }
#container #main #content #user-post #comment-box .choose-identity a:hover { background-image: url('choose-identity-hover.jpg'); }
#container #main #content #user-post #comment-box .choose-identity a.openid-pixnet:hover { background-position: 0px 0px; }
#container #main #content #user-post #comment-box .choose-identity a.openid-facebook:hover { background-position: -69px 0px; }
#container #main #content #user-post #comment-box .choose-identity a.openid-yahoo:hover { background-position: -145px 0px; }
#container #main #content #user-post #comment-box .choose-identity a.openid-google:hover { background-position: -214px 0px; }
#container #main #content #user-post #comment-box .choose-identity a.openid-msn:hover { background-position: -283px 0px; }
#container #main #content #user-post #comment-box #comment-area iframe { overflow: hidden; position: absolute; top: 17px; right: 10px; width: 86px; height: 32px; border: 0pt none ! important; }
#container #main #content #user-post #comment-box .comment-body { border-right: 1px solid rgb(230, 230, 230); border-width: 1px; border-style: solid; border-color: rgb(255, 255, 255) rgb(230, 230, 230) rgb(230, 230, 230); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; padding: 7px 10px 0px; }
#container #main #content #user-post #comment-box .comment-body p { margin: 0pt 0pt 8px; line-height: 18px; }
#container #main #content #user-post #comment-box .comment-body p b { font-weight: bold; }
#container #main #content #user-post #comment-box .comment-textarea { border: 1px solid rgb(232, 232, 232); background: none repeat scroll 0% 0% rgb(255, 255, 255); width: 445px; border-radius: 5px 5px 5px 5px; margin: 5px 0px 0px; }
#container #main #content #user-post #comment-box .comment-textarea textarea { margin: 0px; width: 435px; border-radius: 5px 5px 5px 5px; padding: 5px 0px 0px 10px; font-size: 12px; color: rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 0pt none; height: 100px; font-family: "Tahoma"; line-height: 16px; }
#container #main #content #user-post #comment-box .private-message { text-align: right; margin: 0px 10px 8px 0px; line-height: 12px; }
#container #main #content #user-post #comment-box .private-message input { margin-right: 5px; position: relative; bottom: -2px; }
#container #main #content #user-post #comment-box .private-notice { background: none repeat scroll 0% 0% rgb(255, 253, 234); border-top: 1px solid rgb(247, 230, 179); color: rgb(179, 151, 91); text-align: center; padding: 3px 0px 5px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }
#container #main #content #user-post #comment-box .captcha { overflow: hidden; margin-top: 5px; line-height: 16px; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(232, 232, 232); padding: 7px; position: relative; }
#container #main #content #user-post #comment-box .captcha img { border: 0px none; float: left; margin-right: 18px; }
#container #main #content #user-post #comment-box .captcha input { margin-top: 5px; }
#container #main #content #user-post #comment-box .captcha input, #container #main #content #user-post #comment-box .extra input { width: 190px; height: 19px; background: url('input-text.jpg') repeat-x scroll left top rgb(255, 255, 255); border: 1px solid rgb(232, 232, 232); border-radius: 5px 5px 5px 5px; }
#container #main #content #user-post #comment-box a.reload-captcha { display: block; height: 22px; width: 80px; padding-right: 15px; font-size: 12px; position: absolute; top: 7px; right: 10px; color: rgb(170, 170, 170); background: url('reload-captcha.jpg') no-repeat scroll right 4px transparent; }
#container #main #content #user-post #comment-box a.reload-captcha:hover { background: url('reload-captcha.jpg') no-repeat scroll right -16px transparent; }
#container #main #content #user-post #comment-box #comment-area button { text-align: center; border: 1px solid rgb(204, 204, 204); border-radius: 5px 5px 5px 5px; background: url('button.jpg') repeat-x scroll left bottom rgb(255, 255, 255); padding: 0px 6px; height: 25px; font-weight: bold ! important; }
#container #main #content #user-post #comment-box input { font-family: "Tahoma"; color: rgb(0, 0, 0); padding: 3px 10px; font-size: 12px; }
#container #main #content #user-post #comment-box .comment-extra { overflow: hidden; padding: 5px 0px; cursor: default; }
#container #main #content #user-post #comment-box .comment-extra div { float: left; margin-top: 3px; }
#container #main #content #user-post #comment-box .comment-extra button { float: right; }
#container #main #content #user-post #comment-box .extra { border: 1px solid rgb(232, 232, 232); background: none repeat scroll 0% 0% rgb(255, 255, 255); padding: 7px 0px 7px 7px; margin-bottom: 10px; }
#container #main #content #user-post #comment-box .extra input { margin-right: 7px; }
#container #main #content #user-post #comment-box span.invisible { display: none; }
#container #main #content #user-post #comment-box input.comment-name { width: 425px; height: 19px; background: url('input-text.jpg') repeat-x scroll left top rgb(255, 255, 255); border: 1px solid rgb(232, 232, 232); border-radius: 5px 5px 5px 5px; }
/* ::::: http://css.pixnet.in/blog/lagunawang/normal.css?v=1270955626 ::::: */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { margin: 0pt; padding: 0pt; }
ol, ul { list-style: none outside none; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 400; }
.article-content { overflow: hidden; line-height: 160%; }
body { font-family: "Century Gothic"; font-size: 12px; color: rgb(102, 102, 102); background-image: url('49a183e89706e.jpg'); background-color: rgb(0, 0, 0); background-repeat: no-repeat; background-position: right bottom; background-attachment: fixed; }
a { text-decoration: none; color: rgb(204, 204, 204); }
#container { background: url('normal.css') repeat-x scroll left top transparent; }
#container2 { position: relative; width: 1030px; background: url('normal.css') repeat-y scroll center top transparent; margin: 0pt auto; }
#container3 { background: url('normal.css') no-repeat scroll 10px 235px transparent; }
#main { padding: 0pt 20px; }
#main:after { content: "."; height: 0pt; display: block; clear: both; visibility: hidden; overflow: hidden; }
#header { height: 235px; background: url('none') no-repeat scroll left top transparent; }
#login-bar { text-align: right; padding: 3px 20px 0pt 0pt; }
#banner { padding: 119px 180px 0pt 20px; }
#banner h1 a { font-size: xx-large; font-family: Simhei; color: rgb(255, 255, 255); position: absolute; top: 97px; left: 50px; display: block; width: 470px; }
.skiplink { position: absolute; top: 4px; left: 20px; }
#banner h2 { position: absolute; top: 140px; left: 50px; color: rgb(255, 255, 255); width: 630px; }
#blog-category { position: absolute; top: 4px; left: 85px; }
#navigation { position: absolute; background: url('4927c335d9c19.png') no-repeat scroll left top transparent; left: 720px; top: 190px; width: 200px; height: 50px; opacity: 0.8; }
#link-profile a, #link-album a, #link-guestbook a, #link-blog a { display: block; height: 20px; font-size: 0pt; }
#link-profile a:hover, #link-album a:hover, #link-guestbook a:hover, #link-blog a:hover { display: block; text-decoration: none; height: 20px; font-size: 0pt; }
#link-album { position: absolute; width: 60px; left: 0pt; top: 10px; }
#link-blog { position: absolute; width: 50px; left: 0pt; top: 25px; }
#link-guestbook { position: absolute; width: 110px; left: 90px; top: 10px; }
#link-profile { position: absolute; width: 80px; left: 90px; top: 25px; }
#link-album a:hover { background-position: 0pt 43px; }
#link-blog a:hover { background-position: 310px 43px; font-size: 12px; }
#link-guestbook a:hover { background-position: 232px 43px; }
#link-profile a:hover { background-position: 77px -2px; }
#content { width: 700px; float: left; background-color: transparent; color: rgb(204, 204, 204); }
#article-area { margin-top: 65px; }
.article { margin-bottom: 35px; }
.publish { background: url('normal.css') no-repeat scroll left top transparent; text-align: right; letter-spacing: 1px; color: rgb(153, 153, 153); padding: 2px 15px 1px 0pt; }
.publish span { margin-right: 3px; }
.title { font-family: Simhei; background: url('normal.css') no-repeat scroll left top transparent; color: rgb(187, 187, 187); font-size: 24pt; font-style: normal; margin: 3px 10px; padding: 10px 0pt 8px 37px; }
.title a { color: rgb(255, 255, 255); font-weight: bolder; }
.title a:hover { color: rgb(255, 255, 255); }
.article-body { padding: 0pt 25px; }
.author { border-bottom: 1px dashed rgb(102, 102, 102); text-align: right; margin: 5px 0pt; padding: 0pt 10px 5px; }
.article-footer { color: rgb(153, 153, 153); margin: 0pt 15px; }
.refer { border-bottom: 1px dashed rgb(204, 204, 204); padding: 0pt 0pt 5px; }
.forward { margin-top: 5px; }
.back-to-top a { background: none repeat scroll 0% 0% rgb(153, 153, 153); color: rgb(0, 0, 0); padding: 1px 3px; }
.back-to-top a:hover { color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(0, 134, 190); }
#spotlight { background: none repeat scroll 0% 0% rgb(238, 238, 238); width: 600px; position: relative; top: -9px; right: -54px; z-index: 5000; }
#spotlight h5 { background: none repeat scroll 0% 0% rgb(102, 102, 102); color: rgb(204, 204, 204); font-size: 14px; font-family: Simhei; text-align: center; padding: 7px 0pt 4px; }
#spotlight-text { background: none repeat scroll 0% 0% rgb(51, 51, 51); padding: 5px 30px 10px; }
#links { width: 240px; overflow: hidden; float: right; margin-top: 10px; background-color: transparent; color: rgb(204, 204, 204); }
.box { margin-bottom: 15px; }
.box-title { background: url('normal.css') no-repeat scroll left top transparent; font-family: Simhei; font-size: 16px; color: rgb(102, 102, 102); margin-bottom: 3px; padding: 5px 5px 0pt 22px; }
.box-text { background: url('normal.css') no-repeat scroll left bottom transparent; padding: 0pt 7px 7px; }
.box-text a { display: block; width: 97%; border-bottom: 1px dashed rgb(102, 102, 102); color: rgb(0, 0, 0); padding: 4px 3px 3px; }
#links .box-text a:hover { background: none repeat scroll 0% 0% rgb(204, 204, 204); color: rgb(0, 0, 0); opacity: 0.8; }
#feed a { border: 0pt none; padding: 1px; }
.user-post-title { background: url('normal.css') no-repeat scroll left top transparent; font-size: large; font-family: Simhei; margin: 0pt 0pt 7px; padding: 22px 0pt 0pt 10px; }
#trackback-url { text-align: right; padding-right: 25px; }
.user-post-text { margin: 0pt 25px; }
.post-comment a { display: block; width: 143px; height: 101px; background: url('normal.css') no-repeat scroll left top transparent; color: rgb(204, 204, 204); text-indent: -5000px; margin: 10px auto; }
.post-comment a:hover { background: url('normal.css') no-repeat scroll left top transparent; }
.post-comment a:focus { outline: medium none; }
fieldset, img, abbr, acronym { border: 0pt none; }
#navigation li, #visitor li, #crumb li { float: left; font-size: 12px; color: rgb(255, 255, 255); }
#view-mode, .bookmark, .back-to-top, .box-more, #latest-comment a { text-align: right; }
#header h1 a { color: rgb(102, 51, 0); font-size: 24pt; }
#header h1 { font-size: 24pt; }
#content a:hover, #content a:active, #content a:hover, #content a:active, #content a:hover, #content a:active, #content a:hover, #content a:active, #content a:hover, #content a:active, #content a:hover, #content a:active, #content a:hover, #content a:active, #content a:hover, #content a:active, #content a:hover, #content a:active, #content a:hover, #content a:active, #content a:hover, #content a:active, #content a:hover, #content a:active, #content a:hover, #content a:active, #content a:hover, #content a:active, #content a:hover, #content a:active, #content a:hover, #content a:active, #content a:hover, #content a:active, #content a:hover, #content a:active, #content a:hover, #content a:active, #content a:hover, #content a:active, #content a:hover, #content a:active, #content a:hover, #content a:active, #content a:hover, #content a:active, #content a:hover, #content a:active, #content a:hover, #content a:active, #content a:hover, #content a:active, #content a:hover, #content a:active, #content a:hover, #content a:active, #content a:hover, #content a:active, #content a:hover, #content a:active, #content a:hover, #content a:active, #content a:hover, #content a:active, #content a:hover, #content a:active, #content a:hover, #content a:active, #content a:hover, #content a:active, #content a:hover, #content a:active, #content a:hover, #content a:active, #content a:hover, #content a:active { color: rgb(187, 187, 187); }
#header a:hover, #content a, #content a:link, #content a:visited, #content a, #content a:link, #content a:visited, #content a, #content a:link, #content a:visited, #content a, #content a:link, #content a:visited, #content a, #content a:link, #content a:visited, #content a, #content a:link, #content a:visited, #content a, #content a:link, #content a:visited, #content a, #content a:link, #content a:visited, #content a, #content a:link, #content a:visited, #content a, #content a:link, #content a:visited, #content a, #content a:link, #content a:visited, #content a, #content a:link, #content a:visited, #content a, #content a:link, #content a:visited, #content a, #content a:link, #content a:visited, #content a, #content a:link, #content a:visited, #content a, #content a:link, #content a:visited, #content a, #content a:link, #content a:visited, #content a, #content a:link, #content a:visited, #content a, #content a:link, #content a:visited, #content a, #content a:link, #content a:visited, #content a, #content a:link, #content a:visited, #content a, #content a:link, #content a:visited, #content a, #content a:link, #content a:visited, #content a, #content a:link, #content a:visited, #content a, #content a:link, #content a:visited, #content a, #content a:link, #content a:visited, #content a, #content a:link, #content a:visited, #content a, #content a:link, #content a:visited, #content a, #content a:link, #content a:visited, #content a, #content a:link, #content a:visited, #content a, #content a:link, #content a:visited, #content a, #content a:link, #content a:visited, #content a, #content a:link, #content a:visited, #content a, #content a:link, #content a:visited, #content a, #content a:link, #content a:visited, #content a, #content a:link, #content a:visited, #content a, #content a:link, #content a:visited, #content a, #content a:link, #content a:visited { color: rgb(102, 102, 102); }
a:hover, #header a, #links a, #header h2, #comment-form th, #header h2, #comment-form th, #header h2, #comment-form th, #header h2, #comment-form th, #header h2, #comment-form th, #header h2, #comment-form th, #header h2, #comment-form th, #header h2, #comment-form th, #header h2, #comment-form th, #header h2, #comment-form th, #header h2, #comment-form th, #header h2, #comment-form th, #header h2, #comment-form th, #header h2, #comment-form th, #header h2, #comment-form th, #header h2, #comment-form th, #header h2, #comment-form th, #header h2, #comment-form th, #header h2, #comment-form th, #header h2, #comment-form th, #header h2, #comment-form th, #header h2, #comment-form th, #header h2, #comment-form th, #header h2, #comment-form th, #header h2, #comment-form th, #header h2, #comment-form th, #header h2, #comment-form th, #header h2, #comment-form th, #header h2, #comment-form th, #header h2, #comment-form th, #header h2, #comment-form th, #header h2, #comment-form th, #header h2, #comment-form th, #header h2, #comment-form th, #header h2, #comment-form th, #header h2, #comment-form th, #header h2, #comment-form th, #header h2, #comment-form th, #header h2, #comment-form th, #header h2, #comment-form th, #header h2, #comment-form th { color: rgb(204, 204, 204); }
/* ::::: http://s.pixfs.net/f.pixnet.net/css/iframe-popup.css?v=2549034513 ::::: */

/* ::::: http://s.pixfs.net/common/toolbar/toolbar.css?v=2549034513 ::::: */

html { padding-bottom: 35px; }
button::-moz-focus-inner { border: 0pt none; padding: 0pt; }
/* ::::: http://s.pixfs.net/common/toolbar/userinfo.css?v=2549034513 ::::: */

/* ::::: http://s.pixfs.net/common/toolbar/popupsetting.css?v=2549034513 ::::: */

/* ::::: http://static.anobii.com/anobi/live/css/blogbadge.css?100002 ::::: */

