/* ::::: http://statics.plurk.com/e005c30aff63557a867ceb517f1be276.css.cgz? ::::: */

.qualifier { padding: 0pt 3px; color: white; margin: 0pt 3px 0pt 4px; }
body { margin: 0pt; padding: 0pt; font: 11px 'Lucida Grande','Lucida Sans Unicode','Lucida Sans Regular',Tahoma,Verdana,sans-serif; background-color: rgb(207, 104, 47); color: white; }
.user_info { padding: 3px 2px; }
.user_info .karma { float: right; font-size: 9px; }
.user_info .cnt { padding-top: 2px; overflow: hidden; }
#profile_pic { float: left; margin-right: 5px; }
.user_info img { border: 1px solid white; }
.info { padding: 0pt 0pt 1px; }
.plurk-plurks { width: auto; position: relative; text-align: left; padding-bottom: 0pt; }
a { text-decoration: none; }
.plurk-plurks a { padding: 0pt ! important; background: none repeat scroll 0% 0% transparent; text-decoration: underline; }
a:hover { text-decoration: underline; }
.plurk-timeline { clear: both; overflow-x: hidden; overflow-y: auto; background: none repeat scroll 0% 0% rgb(202, 231, 253); word-wrap: break-word; padding: 1px; }
.plurk-nickname { text-decoration: none ! important; font-weight: bold; }
.plurk-message { padding: 8px 3px; position: relative; }
.plurk-meta { font-size: 0.9em; text-align: right; padding-top: 2px; }
.action { padding: 5px 2px 8px; text-align: center; background-color: rgb(239, 20, 77) ! important; }
.action a { text-decoration: underline; color: rgb(255, 255, 255); font-size: 10px; }
#to_see_more { text-align: center; background-color: rgb(255, 255, 204); color: rgb(51, 51, 51) ! important; padding: 5px 0pt 10px; }
#to_see_more a { color: rgb(0, 0, 0) ! important; }
.qualifier { margin: 0pt ! important; color: white ! important; }
.big { font-size: 13px ! important; font-weight: bold; padding-right: 3px; }
.plurk-timeline img { border: 0pt none; }
body { background-color: rgb(207, 104, 47); color: rgb(245, 224, 213) ! important; }
.user_info { border-bottom: 1px solid rgb(227, 164, 129); }
.plurk-timeline { background-color: rgb(202, 231, 253); border-bottom: 1px solid rgb(227, 164, 129); }
a { color: rgb(255, 255, 255); }
.plurk-plurks, .plurk-plurks a { color: rgb(17, 17, 17) ! important; }
.plurk-message { border-bottom: 1px solid rgb(168, 215, 252); }
.plurk-meta, .plurk-meta a { color: rgb(9, 141, 242) ! important; }
.action { background-color: rgb(157, 79, 36); }
