html { overflow: auto; }
body { border: medium none; margin: 0pt; padding: 0pt; }
#box { width: 200px; height: 250px; margin: 0pt auto; padding: 0pt; background: url('featurecard-bg.png') no-repeat scroll center top rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 16px; overflow: auto; position: relative; }
.hide { text-indent: -10000px; }
h1, p, a, ol, li { font: 1em/1.2em sans-serif; margin: 0pt; padding: 0pt; }
ol { list-style: none outside none; position: absolute; top: 75px; left: 52px; width: 148px; height: 88px; }
li { list-style: none inside none; display: block; height: 22px; overflow: hidden; }
#download { display: block; position: absolute; left: 23px; top: 172px; width: 154px; height: 56px; color: rgb(0, 0, 0); text-decoration: none; }
#name { display: block; position: absolute; left: 6px; top: 10px; height: 22px; font-weight: bold; font-size: 1.15em; }
#tell { display: block; position: absolute; left: 6px; top: 32px; font-size: 0.85em; }
