/* lagunawang : Sun, 11 Apr 2010 11:13:36 +0800 */
樣式名稱：回憶的11號月台之入夜時分
作者：Mr.Rock
作者網站：謬詩の左眼#Mr.Rock-blog:http://mrwu.pixnet.net/blog
如有更改或建議請留言給我謝謝。
適用：IE6、IE7、Firefox、Opera。
2008.12.7更新CSS版本
-----------------------------------------------------------------------------------------------------------------------------------------------
code, .code { display: block; /* fixes a strange ie margin bug */ font-family: Courier New; font-size: 8pt; overflow:auto; background: #f0f0f0 url(http://img504.imageshack.us/img504/599/codebg1742178.gif) left top repeat-y; border: 1px solid #ccc; padding: 10px 10px 10px 21px; max-height:200px; line-height: 1.2em; } 


#comment-form table {
width:96%;
margin:0 auto;
}

#comment-form td,#comment-form th {
border:1px solid #555;
padding:3px 5px;
}

#comment-form input#send-comment {
padding:3px 5px;
}

.article-content p {
margin-bottom:1em;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
margin:0;
padding:0;
}

table {
border-collapse:collapse;
border-spacing:0;
}

address,caption,cite,code,dfn,em,th,var {
font-style:normal;
font-weight:400;
}

ol,ul {
list-style:none;
}

caption,th {
text-align:left;
}

h1,h2,h3,h4,h5,h6 {
font-size:100%;
font-weight:400;
}

q:before,q:after {
content:'';
}

pre {
font-size:1em;
}

.article-content {
_height:1%;
overflow:hidden;
_overflow:none;
line-height:160%;
}

body {
font-family:"Century Gothic";
font-size:12px;
color:#666;
background-image:url(http://p4.p.pixnet.net/albums/userpics/4/0/268140/49a183e89706e.jpg);
background-color:#000;
background-repeat:no-repeat;
background-position:bottom right;
background-attachment:fixed;
}

a {
text-decoration:none;
color:#ccc;
}

#authority {
height:34px;
background:url() repeat-x left top;
margin-left:-139px;
padding:1px 0 0 50%;
}

#authority a {
display:block;
width:139px;
height:21px;
background:url() no-repeat center top;
float:left;
font-weight:700;
text-align:center;
padding-top:8px;
margin-right:10px;
}

#authority a:hover {
background:url() no-repeat center top;
color:#fff;
}

#container {
background:url() repeat-x left top;
}

#container2 {
position:relative;
width:1030px;
background:url() repeat-y center top;
margin:0 auto;
}

#container3 {
background:url() no-repeat 10px 235px;
}

#main {
_height:1px;
padding:0 20px;
}

#main:after {
content:".";
height:0;
display:block;
clear:both;
visibility:hidden;
overflow:hidden;
}

#header {
height:235px;
background:url() no-repeat left top;
background-image:url(none);
background-color:transparent;
background-position:top left;
background-repeat:no-repeat;
}

#login-bar {
text-align:right;
padding:3px 20px 0 0;
}

#banner {
padding:119px 180px 0 20px;
}

#banner h1 a {
font-size:xx-large;
font-family:Simhei;
color:#fff;
position:absolute;
top:97px;
left:50px;
display:block;
width:470px;
}

.skiplink {
position:absolute;
top:4px;
_top:6px;
left:20px;
}

#banner h2 {
position:absolute;
top:140px;
left:50px;
color:#fff;
width:630px;
}

#blog-category {
position:absolute;
top:4px;
left:85px;
}

#navigation {
position:absolute;
background:url(http://p3.p.pixnet.net/albums/userpics/3/1/1730531/4927c335d9c19.png) no-repeat top left;
left:720px;
top:190px;
width:200px;
height:50px;
filter:alpha(opacity=80);
opacity:0.8;
}

#link-profile a,#link-album a,#link-guestbook a,#link-blog a {
display:block;
height:20px;
font-size:0;
color:#;
}

#link-profile a:hover,#link-album a:hover,#link-guestbook a:hover,#link-blog a:hover {
display:block;
text-decoration:none;
height:20px;
font-size:0;
color:#;
}

#link-album {
position:absolute;
width:60px;
left:0;
top:10px;
}

#link-blog {
position:absolute;
width:50px;
left:0;
top:25px;
}

#link-guestbook {
position:absolute;
width:110px;
left:90px;
top:10px;
}

#link-profile {
position:absolute;
width:80px;
left:90px;
top:25px;
}

#link-album a:hover {
background-position:0 43px;
}

#link-blog a:hover {
background-position:310px 43px;
font-size:12px;
color:#;
}

#link-guestbook a:hover {
background-position:232px 43px;
}

#link-profile a:hover {
background-position:77px -2px;
}

#content {
width:700px;
float:left;
background-color:transparent;
color:#ccc;
}

#article-area {
margin-top:65px;
}

.article {
margin-bottom:35px;
}

.publish {
background:url() no-repeat left top;
text-align:right;
letter-spacing:1px;
color:#999;
padding:2px 15px 1px 0;
}

.publish span {
margin-right:3px;
}

.title {
font-family:Simhei;
background:url() no-repeat left top;
color:#bbb;
font-size:24pt;
font-weight:null;
font-style:normal;
margin:3px 10px;
padding:10px 0 8px 37px;
}

.title a {
color:#fff;
font-weight:bolder;
}

.title a:hover {
color:#fff;
}

.article-body {
padding:0 25px;
}

.bookmark img {
filter:gray;
}

.author {
border-bottom:1px dashed #666;
text-align:right;
margin:5px 0;
padding:0 10px 5px;
}

.article-footer {
color:#999;
margin:0 15px;
}

.refer {
border-bottom:1px dashed #ccc;
padding:0 0 5px;
}

.history {
border-bottom:1px dashed #ccc;
padding:5px 0;
}

.forward {
margin-top:5px;
}

.back-to-top a {
background:#999;
color:#000;
padding:1px 3px;
}

.back-to-top a:hover {
color:#fff;
background:#0086be;
}

.main-list table {
border-collapse:collapse;
width:97%;
margin:10px;
}

.main-list h3 {
background:url() no-repeat left top;
font-size:large;
font-family:SImhei;
padding:24px 0 0 10px;
}

.main-list td,.main-list th {
border:1px solid #ccc;
padding:5px;
}

#spotlight {
background:#eee;
width:600px;
position:Relative;
top:-9px;
right:-54px;
z-index:5000;
}

#spotlight h5 {
background:#666;
color:#ccc;
font-size:14px;
font-family:Simhei;
text-align:Center;
padding:7px 0 4px;
}

#spotlight-text {
background:#333;
padding:5px 30px 10px;
}

#links {
width:240px;
overflow:hidden;
float:right;
margin-top:10px;
background-color:transparent;
color:#ccc;
}

.box {
margin-bottom:15px;
}

.box-title {
background:url() no-repeat left top;
font-family:Simhei;
font-size:16px;
color:#666;
margin-bottom:3px;
padding:5px 5px 0 22px;
}

.box-text {
background:url() no-repeat left bottom;
_height:1px;
padding:0 7px 7px;
}

#links .box .box-more a {
display:inline;
border:0;
color:#ccc;
padding:2px 4px 1px;
}

.box-text a {
display:block;
width:97%;
border-bottom:1px dashed #666;
color:#000;
padding:4px 3px 3px;
}

#links .box-text a:hover {
background:#ccc;
color:#000;
filter:alpha(opacity=80);
opacity:0.8;
}

#calendar table {
width:90%;
margin:0 auto;
}

#calendar td,#calendar th {
text-align:center;
background:#333;
border:1px solid #dff6fe;
filter:alpha(opacity=70);
opacity:0.7;
}

#calendar a {
display:block;
background:#999;
border:0;
color:#000;
padding:0;
}

#calendar a:hover {
background:#999;
}

#murmur .box-text {
_height:1%;
overflow:hidden;
}

#my-photo {
width:90px;
text-align:center;
float:left;
}

#my-status {
width:107px;
float:right;
}

#feed a {
border:0;
padding:1px;
}

#links #latest-trackback .box-text a {
border-bottom:0;
text-align:left;
}

#links #subscription .box-text li a {
border:0;
text-align:left;
}

#mylink ul {
margin-bottom:7px;
}

#search .box-text {
text-align:center;
}

#search a {
display:inline;
}

#powered .box-text {
text-align:Center;
filter:alpha(opacity=40);
opacity:0.4;
}

#powered .box-text a {
border:0;
padding:0;
}

.user-post-title {
background:url() no-repeat left top;
font-size:large;
font-family:Simhei;
margin:0 0 7px;
padding:22px 0 0 10px;
}

#trackback-url {
text-align:right;
padding-right:25px;
}

.user-post-text {
margin:0 25px;
}

.single-post {
background:#333;
margin-bottom:20px;
_height:1%;
overflow:hidden;
_overflow:none;
padding-bottom:5px;
}

.post-info {
background:#666;
color:#999;
margin:0 0 5px;
padding:3px 5px;
}

.user-name {
font-size:large;
font-family:Georgia;
font-weight:700;
}

.post-photo {
width:120px;
float:left;
text-align:center;
}

.post-photo img {
border:3px solid #fff;
filter:alpha(opacity=60);
-moz-opacity:0.6;
opacity:0.6;
}

.post-photo a:hover img {
filter:alpha(opacity=100);
-moz-opacity:1;
opacity:1;
}

.post-text {
width:413px;
float:right;
margin-right:6px;
_margin-right:3px;
line-height:120%;
color:#ccc;
}

.post-text p {
font-weight:700;
color:#fff;
}

#trackback-box .post-text {
float:none;
width:auto;
padding:0 0 7px 7px;
}

.reply-text {
clear:both;
background:#ccc;
color:#333;
margin:0 7px 7px;
padding:2px 7px 5px;
}

.secret {
font-size:large;
font-weight:700;
padding:5px;
}

.post-comment a {
display:block;
width:143px;
height:101px;
background:url() no-repeat left top;
color:#ccc;
text-indent:-5000px;
margin:10px auto;
}

.post-comment a:hover {
background:url() no-repeat left top;
}

.post-comment a:focus {
outline:none;
}

.page {
text-align:center;
margin:5px 0;
}

#footer {
clear:both;
background:url() no-repeat left bottom;
min-height:60px;
_height:60px;
text-align:center;
padding:0 0 10px;
}

#headshot-img {
width:100px;
float:left;
text-align:center;
filter:alpha(opacity=85);
opacity:0.85;
}

#headshot a {
display:inline;
border:0;
color:#000;
filter:alpha(opacity=40);
opacity:0.4;
}

.broadcast-time span {
display:block;
}

#broadcast ul {
_height:1%;
overflow:hidden;
_overflow:none;
border-bottom:1px dashed #666;
padding:5px 0;
}

#broadcast a {
border:0;
display:inline;
padding:0;
}

.broadcast-photo {
float:left;
width:50px;
text-align:center;
}

#visitor a,#crumb a {
border:0;
display:INLINE;
}

#latest-trackback {
word-break:break-all;
}

.article-content img {
border:1px solid #000;
}

#visitor li img,#crumb li img {
width:44px;
height:44px;
filter:alpha(opacity=70);
opacity:0.7;
}

fieldset,img,abbr,acronym {
border:0;
}

#navigation li,#visitor li,#crumb li {
float:left;
font-size:12px;
color:#fff;
}

#view-mode,.bookmark,.back-to-top,.box-more,#latest-comment a {
text-align:right;
}

#murmur .box-more,#category ul {
margin-bottom:6px;
}

#latest-comment span,.reply-text p {
font-weight:700;
}

#latest-trackback li,#links #subscription .box-text li {
border-bottom:1px dashed #fff;
text-align:right;
margin:0 0 3px;
padding:0 0 3px;
}

.broadcast-text,#visitor .box-more,#crumb .box-more {
clear:both;
}

#headshot .box-text,#visitor .box-text,#crumb .box-text {
_height:1%;
overflow:hidden;
_overflow:none;
}

#header h1 a {
color:#630;
font-size:24pt;
}

#header h1 {
font-size:24pt;
}

.post-info a,#footer a {
color:#fff;
font-weight:700;
}

#header h1 a:link,#header h1 a:visted,#header h1 a:hover,#header h1 a:active {
color:#630;
}

#header h1 a:link,#header h1 a:visted,#header h1 a:hover,#header h1 a:active,#content a,#content a:link,#content a:visited,#header h1 a:link,#header h1 a:visted,#header h1 a:hover,#header h1 a:active,#content a,#content a:link,#content a:visited,#content a,#content a:link,#content a:visited {
color:#999;
}

#content a:hover,#content a:active,#content a:hover,#content a:active,#content a:hover,#content a:active,#content a:hover,#content a:active,#content a:hover,#content a:active,#content a:hover,#content a:active,#content a:hover,#content a:active,#content a:hover,#content a:active,#content a:hover,#content a:active,#content a:hover,#content a:active,#content a:hover,#content a:active,#content a:hover,#content a:active,#content a:hover,#content a:active,#content a:hover,#content a:active,#content a:hover,#content a:active,#content a:hover,#content a:active,#content a:hover,#content a:active,#content a:hover,#content a:active,#content a:hover,#content a:active,#content a:hover,#content a:active,#content a:hover,#content a:active,#content a:hover,#content a:active,#content a:hover,#content a:active,#content a:hover,#content a:active,#content a:hover,#content a:active,#content a:hover,#content a:active,#content a:hover,#content a:active,#content a:hover,#content a:active,#content a:hover,#content a:active,#content a:hover,#content a:active,#content a:hover,#content a:active,#content a:hover,#content a:active,#content a:hover,#content a:active,#content a:hover,#content a:active,#content a:hover,#content a:active,#content a:hover,#content a:active,#content a:hover,#content a:active,#content a:hover,#content a:active {
color:#bbb;
}

#header a:hover,#content a,#content a:link,#content a:visited,#content a,#content a:link,#content a:visited,#content a,#content a:link,#content a:visited,#content a,#content a:link,#content a:visited,#content a,#content a:link,#content a:visited,#content a,#content a:link,#content a:visited,#content a,#content a:link,#content a:visited,#content a,#content a:link,#content a:visited,#content a,#content a:link,#content a:visited,#content a,#content a:link,#content a:visited,#content a,#content a:link,#content a:visited,#content a,#content a:link,#content a:visited,#content a,#content a:link,#content a:visited,#content a,#content a:link,#content a:visited,#content a,#content a:link,#content a:visited,#content a,#content a:link,#content a:visited,#content a,#content a:link,#content a:visited,#content a,#content a:link,#content a:visited,#content a,#content a:link,#content a:visited,#content a,#content a:link,#content a:visited,#content a,#content a:link,#content a:visited,#content a,#content a:link,#content a:visited,#content a,#content a:link,#content a:visited,#content a,#content a:link,#content a:visited,#content a,#content a:link,#content a:visited,#content a,#content a:link,#content a:visited,#content a,#content a:link,#content a:visited,#content a,#content a:link,#content a:visited,#content a,#content a:link,#content a:visited,#content a,#content a:link,#content a:visited,#content a,#content a:link,#content a:visited,#content a,#content a:link,#content a:visited,#content a,#content a:link,#content a:visited,#content a,#content a:link,#content a:visited,#content a,#content a:link,#content a:visited,#content a,#content a:link,#content a:visited,#content a,#content a:link,#content a:visited,#content a,#content a:link,#content a:visited {
color:#666;
}

a:hover,#header a,#links a,#header h2,#comment-form th,#header h2,#comment-form th,#header h2,#comment-form th,#header h2,#comment-form th,#header h2,#comment-form th,#header h2,#comment-form th,#header h2,#comment-form th,#header h2,#comment-form th,#header h2,#comment-form th,#header h2,#comment-form th,#header h2,#comment-form th,#header h2,#comment-form th,#header h2,#comment-form th,#header h2,#comment-form th,#header h2,#comment-form th,#header h2,#comment-form th,#header h2,#comment-form th,#header h2,#comment-form th,#header h2,#comment-form th,#header h2,#comment-form th,#header h2,#comment-form th,#header h2,#comment-form th,#header h2,#comment-form th,#header h2,#comment-form th,#header h2,#comment-form th,#header h2,#comment-form th,#header h2,#comment-form th,#header h2,#comment-form th,#header h2,#comment-form th,#header h2,#comment-form th,#header h2,#comment-form th,#header h2,#comment-form th,#header h2,#comment-form th,#header h2,#comment-form th,#header h2,#comment-form th,#header h2,#comment-form th,#header h2,#comment-form th,#header h2,#comment-form th,#header h2,#comment-form th,#header h2,#comment-form th,#header h2,#comment-form th {
color:#ccc;
}