/* ::::: http://l.yimg.com/f/i/tw/blog/css/blog_global081113.css ::::: */

body { font-family: "Arial","MingLiU","PMingLiU"; font-size: 80%; margin: 0pt 0pt 16px; padding: 0pt; background: none repeat scroll 0% 0% white; }
input, select, option, textarea { font-family: "Arial","MingLiU","PMingLiU"; }
h1, h2, h3, h4, h5, h6, th, blockquote, p, ul, li, form, fieldset { margin: 0pt; padding: 0pt; font-size: 100%; font-weight: normal; list-style: none outside none; }
th, td { text-align: left; font-weight: normal; }
strong { font-size: 100%; font-style: normal; text-decoration: none; }
table { border-collapse: collapse; width: 100%; }
p, span {  }
a img { border: medium none; }
a { color: rgb(0, 0, 187); }
a:visited { color: rgb(57, 135, 198); }
a:hover { color: red; }
a:active { color: red; }
.ycnt3col { margin: 0pt 10px; }
.ycnt3col:after { content: "."; height: 0pt; visibility: hidden; display: block; clear: both; }
.twocolga #yhtw_mastfoot, .twocoldr #yhtw_mastfoot { width: 750px; margin: 0pt auto; }
.twocolga, .twocoldr {  }
.twocolga[class], .twocoldr[class] { min-width: 750px; }
.twocolga .ycnt3col, .twocoldr .ycnt3col { width: 750px; text-align: left; margin: 0pt auto; }
.twocoldr .yc3main { width: 100%; float: right; margin-right: -160px; }
.twocoldr .yc3mainbd { margin-right: 160px; }
.twocoldr .yc3pri { width: 100%; }
.twocoldr .yc3subbd { width: 150px; }
.twocoldr .yc3sec { display: none; }
.ycntmod { width: 100%; position: relative; margin-bottom: 10px; overflow: hidden; }
.ycntmod .rctop { background: url('mod_nw.gif') no-repeat scroll left top transparent; margin-right: 5px; }
.ycntmod .rctop div { background: url('mod_ne.gif') no-repeat scroll right top transparent; height: 5px; font-size: 0pt; position: relative; right: -5px; }
.ycntmod .rcbtm { background: url('mod_sw.gif') no-repeat scroll left bottom transparent; margin-right: 5px; }
.ycntmod .rcbtm div { background: url('mod_se.gif') no-repeat scroll right bottom transparent; height: 5px; font-size: 0pt; position: relative; right: -5px; }
.ycntmod .rcl { padding-left: 5px; background: url('mod_left.gif') repeat-y scroll 0% 0% transparent; }
.ycntmod .rcr { padding-right: 5px; background: url('mod_right.gif') repeat-y scroll right center transparent; }
.ycntmod .text { position: relative; }
.yc3pribd .ycntmod { overflow: visible; }
.yc3pribd .ycntmod .yblogcnt { overflow: hidden; }
.ycntmod .mhd { height: 30px; }
.ycntmod .mhd h3 { font-size: 120%; padding: 8px 0pt 0pt 8px; }
.ycntmod .mbd { padding: 5px; }
.ycntmod .mft, .ycntmod .pagination { text-align: center; font-family: verdana; padding: 5px 0pt; }
.ycntmod .mbd ul.list { padding-left: 5px; }
.ycntmod .mbd ul.list li { background: url('bullet.gif') no-repeat scroll left 0.6em transparent; padding-left: 10px; margin-bottom: 5px; color: rgb(102, 102, 102); }
.ycntmod .mbd ul.list li a { margin-right: 5px; }
.ycntmod .mbd ul.list li.more { margin: 10px 0pt 0pt 10px; text-align: right; background: url('arrow_more.gif') no-repeat scroll 45px center transparent; }
.ycntmod .mbd ul.list li.more a { margin: 0pt; }
span.prev { background: url('arrow_page_prev.gif') no-repeat scroll left center transparent; padding-left: 10px; }
span.next { background: url('arrow_page_next.gif') no-repeat scroll right center transparent; padding-right: 10px; }
#yblogtitle .thd, #yblogtitle .tft, .yblogcnt .blgtitlebar, .yblogcnt .blgfolderbar, .yblogcnt .msgcontent, #yarticle .more, #yartsum .more, #yphtlist .more, .actbtns, .yvstrcmnt, .ycmntreply, #ysbscrblist .actionbar, #ycmntlist .actionbar, #yphtsingle .mhd {  }
#yblogtitle .thd:after, #yblogtitle .tft:after, .yblogcnt .blgtitlebar:after, .yblogcnt .blgfolderbar:after, .yblogcnt .msgcontent:after, #yarticle .more:after, #yartsum .more:after, #yphtlist .more:after, .actbtns:after, .yvstrcmnt:after, .ycmntreply:after, #ysbscrblist .actionbar:after, #ycmntlist .actionbar:after, #yphtsingle .mhd:after { content: "."; height: 0pt; visibility: hidden; display: block; clear: both; }
#yblogtitle .mbd { background: none repeat scroll 0% 0% rgb(204, 255, 204); }
#yblogtitle .thd, #yblogtitle .tft {  }
#yblogtitle .thd h1 { display: inline; font-size: 120%; }
#yblogtitle .thd, #yblogtitle .tbd { margin-bottom: 5px; }
#yblogtitle .tbd p { display: inline; line-height: 1.5em; }
#yblogtitle .tft { text-align: right; padding-bottom: 5px; position: relative; }
#yblogtitle .tft div { float: right; margin-left: 5px; }
#yblogtitle .tft div a span { display: none; }
div#btnsbsrb a, div#btnsbsrb_nologin a { display: block; width: 89px; height: 22px; overflow: hidden; background: url('btn_subscribe.gif') no-repeat scroll 0% 0% transparent; }
#ypopsub { position: absolute; visibility: hidden; width: 600px; height: auto; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid black; }
#ypopsub iframe { display: none; }
#ypopsub .popclose { text-align: right; margin-bottom: 10px; background: none repeat scroll 0% 0% rgb(243, 243, 243); }
#ypopsub #closeme { line-height: 1.8em; padding: 5px; cursor: pointer; }
#ymodprf .mbd { padding: 0pt 0pt 5px; text-align: center; }
#ymodprf #yprf { text-align: center; }
#ymodprf #yprflg { margin: 5px auto; }
#ymodprf .nickname { padding-bottom: 5px; }
#ymodprf .horos { padding-bottom: 5px; }
#ymodcal .selyr { width: 45%; float: left; padding: 5px 0pt 0pt 3px; }
#ymodcal .selmn { float: right; text-align: right; padding: 5px 3px 0pt; }
#ymodcal .mhd a { text-decoration: none; font-weight: bold; }
#ymodcal .mhd span a { font-size: 70%; font-weight: normal; }
#ymodcal .mbd td strong { font-weight: bold; text-decoration: underline; }
#ymodcal .mhd .text .selyr, #ymodcal .mhd .text .selmn { position: relative; }
#ymodcal .mbd { padding: 5px 0pt; }
#ymodcal table { font-size: 88%; background: none repeat scroll 0% 0% transparent; }
#ymodcal th, #ymodcal td { text-align: center; }
#ymodcal th { font-weight: bold; }
#ymodcal form {  }
#ymodmsgbd .mhd h3 { font-weight: normal; }
#ymodrss .mhd { height: auto; }
#ymodrss .mhd .text { padding: 5px; }
#ymodrss .mhd span { display: block; position: relative; margin-left: 1px; margin-right: 1px; }
#ymodrss .mhd span a { display: block; text-indent: -5000px; background: none repeat scroll 0% 0% transparent; }
#rssmyy { margin: 0pt; width: 62px; height: 17px; background: url('addtomyyahoo3.gif') no-repeat scroll left center transparent; overflow: hidden; text-decoration: none; float: left; }
#rssfeed { margin: 0pt; width: 28px; height: 17px; background: url('rss.gif') no-repeat scroll left center transparent; overflow: hidden; text-decoration: none; float: left; }
#rssfaq { margin: 0pt; width: 13px; height: 17px; background: url('rss_faq.gif') no-repeat scroll left center transparent; overflow: hidden; text-decoration: none; }
#ymodstats li { line-height: 1.5em; }
#ymodupdate .mbd .date { background: url('update_img.gif') no-repeat scroll left center transparent; padding-left: 20px; font-size: 86%; font-family: verdana; }
#yarticle .yblogcnt { border-bottom: 1px dotted rgb(204, 204, 204); padding: 5px 0pt 10px; }
.yblogcnt .blgtitlebar { margin-bottom: 10px; }
.yblogcnt .blgtitlebar h2 { font-size: 126%; font-weight: bold; }
#ypartsingle #yarticle .yblogcnt { border-bottom: medium none; }
.yblogcnt .mngbtns { float: right; }
.yblogcnt .mngbtns div { float: left; margin-left: 5px; padding: 0pt 5px; }
.yblogcnt .mngbtns div a { color: rgb(0, 0, 0); text-decoration: none; }
.yblogcnt .mngbtns div a:hover { color: rgb(255, 0, 0); }
div.btnblgedit, div.btnblgdel, div.btnblgreport { border-width: 2px; border-style: solid; border-color: rgb(204, 204, 204) rgb(153, 153, 153) rgb(153, 153, 153) rgb(204, 204, 204); }
div.btnblgdel, div.btnblgreport { background: none repeat scroll 0% 0% rgb(255, 196, 225); }
.yblogcnt .blgfolderbar { margin: 20px 0pt 10px; }
.yblogcnt .blgfolderbar .folder { float: left; }
.yblogcnt .blgfolderbar .date { text-align: right; font: 80% verdana; margin-top: 1px; }
.yblogcnt .msgcontent b, .yblogcnt .msgcontent strong { font-weight: bold; }
.yblogcnt .msgcontent { margin-bottom: 5px; }
.actbtns { margin-bottom: 5px; }
.actbtns div { float: right; margin-left: 5px; }
.actbtns div span { display: none; }
div.btncomment a { display: block; height: 18px; width: 68px; background: url('reply_btn.gif') no-repeat scroll 0% 0% transparent; }
div.btntrackback a { display: block; height: 18px; width: 68px; background: url('btn_trackback.gif') no-repeat scroll 0% 0% transparent; }
.browsebtns { text-align: right; margin: 10px 0pt; }
.browsebtns span { margin-left: 5px; font-size: 120%; }
.toggle_item { overflow: hidden; }
.toggle_item.visible .cmntbd { display: block; }
.toggle_item.visible a.norgie { background: url('norgie_close.gif') no-repeat scroll left center transparent; padding-left: 15px; }
.toggle_item .cmnthd { line-height: 2em; border-bottom: 1px dotted rgb(204, 204, 204); }
.toggle_item .cmnthd a { margin-right: 2px; }
.yvstrcmnt { padding: 10px 0pt; border-bottom: 1px dotted rgb(204, 204, 204); }
#rtemodule { margin: 5px 0pt; padding-bottom: 10px; }
#rtemodule .privacy { padding: 8px 10px; }
#rtemodule .privacy input {  }
.rteContainer { width: 99.5%; border: 1px solid rgb(179, 179, 179); margin-bottom: 5px; }
.rteContainer[class] { float: left; }
#rteToolbar { float: left; width: 99.8%; background: url('toolbar_gradient.gif') repeat-x scroll center top rgb(215, 215, 215); border-left: 1px solid rgb(255, 255, 255); border-top: 1px solid rgb(255, 255, 255); }
#rteToolbar .btn, #rteToolbar .over, #rteToolbar .down, #rteToolbar .sep { display: block; float: left; }
#rteToolbar .btn { padding: 3px; }
#rteToolbar .sep { border-width: 1px; border-style: solid; border-color: rgb(187, 187, 187) rgb(255, 255, 255) rgb(255, 255, 255) rgb(187, 187, 187); height: 20px; margin-top: 3px; }
#rteToolbar img { display: block; }
#rteClrPlt, #rteSmiley, #rteFlush, #rteList { border: 1px solid rgb(115, 115, 115); position: absolute; visibility: hidden; top: 0pt; }
#rteClrPlt { width: 170px; height: 168px; }
#rteSmiley { width: 120px; height: 190px; }
#rteFlush { background: none repeat scroll 0% 0% rgb(255, 255, 255); width: 110px; }
#rteList { background: none repeat scroll 0% 0% rgb(255, 255, 255); width: 130px; }
#rte { clear: both; width: 100%; }
#rteEdit { height: 150px; width: 99.5%; }
#rteCnt { height: 150px; width: 100%; }
#postrte #caption { margin-bottom: 10px; vertical-align: middle; }
#rteNote { text-align: right; float: right; line-height: 1.5em; }
#postrte .action { clear: both; text-align: center; }
#yblast { position: relative; margin: -25px 0pt 0pt; }
#yblast .text, #yblast .bg { overflow: hidden; padding: 10px 30px; width: 480px; height: 35px; }
#yblast .text { margin: -55px 0pt 0pt; }
.yvstrcmnt ul li, .msgcontent ul li { list-style: disc outside none; text-indent: 2em; }
a, a:link, a:visited { color: rgb(75, 151, 173); }
a:hover { color: rgb(136, 208, 230); }
#yhtw_masthead { color: rgb(102, 102, 102); background: none repeat scroll 0% 0% rgb(197, 197, 197); }
#yhtw_masthead a, #yhtw_masthead a:link, #yhtw_masthead a:visited, #yhtw_masthead a:hover { color: rgb(255, 255, 255); }
body { background: none repeat scroll 0% 0% rgb(246, 246, 246); }
.yc3sec .mhd, .yc3subbd .mhd { background: none repeat scroll 0% 0% rgb(227, 227, 227); color: rgb(106, 143, 154); }
.yc3sec .mbd, .yc3subbd .mbd, .yc3sec .mft, .yc3subbd .mft { background: none repeat scroll 0% 0% rgb(246, 246, 246); color: rgb(102, 102, 102); }
.yc3pribd .mbd, .yc3pribd .mft, #yreplymsg table, #ysbscrblist table, #ybloginfo table, #yusrinfo table, #yusrintro p { background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(102, 102, 102); }
#yblogtitle .mbd, #yblogtitle .mft { background-color: rgb(164, 164, 164); color: rgb(102, 102, 102); }
#yblogtitle h1 { color: rgb(51, 51, 51); }
/* ::::: http://l.yimg.com/f/i/tw/blog/css/yhtw_masthead_super_slim_11b.css ::::: */

#yhtw_masthead { background: none repeat scroll 0% 0% rgb(156, 156, 156); min-height: 30px; font-family: "MingLiU","PMingLiU"; padding: 0pt 10px; margin-bottom: 20px; }
#yhtw_masthead[id] { position: relative; z-index: 999; }
#yhtw_masthead .mhlogo { height: auto; display: inline; float: left; }
#yhtw_masthead .mhuser { height: auto; display: inline; border-left: 1px solid rgb(222, 222, 222); padding: 6px 0pt 4px 4px; float: left; }
#yhtw_masthead .mhuser p { display: inline; }
#yhtw_masthead .mhuser div { display: inline; color: white; font-size: 12px; }
#yhtw_masthead .mhuser div a, #xyhtw_masthead .mhuser div b { color: white; }
#yhtw_masthead .mhlogo img { border: 0px solid white; height: 30px; vertical-align: middle; position: relative; }
#yhtw_masthead .mhlogo a { text-decoration: none; font-weight: bold; color: white; }
#yhtw_masthead .mhsch { float: right; position: relative; margin-top: 7px; }
#yhtw_masthead .mhsch div { color: rgb(255, 255, 255); text-align: right; font-size: 12px; width: 22em; }
#yhtw_masthead .mhsch a { color: rgb(255, 255, 255); margin: 0pt 1px; }
#yhtw_masthead .mhsch b { color: rgb(255, 255, 255); margin: 0pt 1px; font-weight: normal; }
#yhtw_masthead .masthead_function { font-size: 12px; position: relative; }
#yhtw_masthead .masthead_function strong { font-weight: normal; color: rgb(255, 255, 255); text-decoration: underline; cursor: pointer; padding-bottom: 5px; }
#yhtw_masthead .masthead_function span { display: none; position: absolute; top: 1em; left: 0pt; text-align: left; background: none repeat scroll 0% 0% white; border: 1px solid rgb(222, 222, 222); }
#yhtw_masthead span.masthead_function:hover span { display: block; }
#yhtw_masthead .masthead_function span a { color: rgb(0, 0, 187) ! important; display: block; min-width: 5.5em; padding: 5px 4px 3px; text-decoration: none; border-bottom: 1px solid rgb(240, 240, 240); }
#yhtw_masthead .masthead_function span a:hover { background: none repeat scroll 0% 0% rgb(255, 255, 204); text-decoration: underline; }
#yhtw_masthead .masthead_function {  }
#yhtw_mastfoot { clear: both; border-top: 1px solid rgb(199, 199, 199); color: rgb(119, 119, 119); font-size: 12px; font-family: "Arial","MingLiU","PMingLiU"; padding: 5px 0pt; text-align: left; margin: 0pt auto; }
#yhtw_mastfoot:after { content: "."; display: block; height: 0pt; visibility: hidden; clear: both; }
#yhtw_mastfoot a { color: rgb(0, 0, 187); }
#yhtw_mastfoot a:hover { color: red; }
#yhtw_mastfoot .cp { float: left; }
#yhtw_mastfoot .ln { float: right; }
#yhtw_mastfoot .ln a { padding: 0pt 1px 0pt 5px; border-left: 1px solid rgb(170, 170, 170); }
#yhtw_mastfoot .ln a:first-child { border-left: 0pt none; }
/* ::::: http://l.yimg.com/f/i/tw/blog/css/cat9_4.css ::::: */

a, a:link, a:visited { color: rgb(111, 95, 6); }
a:hover { color: rgb(167, 125, 26); }
#yhtw_masthead { color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(134, 128, 117); opacity: 0.5; }
#yhtw_masthead a, #yhtw_masthead a:link, #yhtw_masthead a:visited, #yhtw_masthead a:hover { color: rgb(221, 221, 221); }
body { background: url('cat9_4.gif') repeat scroll 0% 0% rgb(196, 193, 183); }
.yc3sec .mhd, .yc3subbd .mhd, .yc3sec .mhd a, .yc3subbd .mhd a, .yc3sec .mhd a:link, .yc3subbd .mhd a:link, .yc3sec .mhd a:visited, .yc3subbd .mhd a:visited { opacity: 0.25; color: rgb(74, 72, 12); }
.yc3sec .mhd a, .yc3subbd .mhd a, .yc3sec .mhd a:link, .yc3subbd .mhd a:link, .yc3sec .mhd a:visited, .yc3subbd .mhd a:visited { background: none repeat scroll 0% 0% transparent; }
.yc3sec .mbd, .yc3subbd .mbd, .yc3sec .mft, .yc3subbd .mft { color: rgb(119, 119, 119); background: none repeat scroll 0% 0% rgb(214, 212, 205); }
.yc3pribd .mbd, .yc3pribd .mft, #yreplymsg table, #ysbscrblist table, #ybloginfo table, #yusrinfo table, #yusrintro p { background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(102, 102, 102); }
#ymodcal .mbd td strong { color: rgb(120, 115, 99); }
#yblogtitle .mbd, #yblogtitle .mft { background: none repeat scroll 0% 0% rgb(125, 122, 111); color: rgb(239, 237, 221); }
#yblogtitle h1 { color: rgb(247, 242, 209); }
#yblast .bg { background: url('blast_bg1.gif') no-repeat scroll 0% 0% transparent; }
.ycnt3col { position: relative ! important; }
.ysm { overflow: hidden; border: 1px solid rgb(151, 171, 188); position: relative; font-size: 13px; line-height: 1.4; margin: 5px; padding: 1px 5px; min-height: 10px; }
.ysm * { cursor: pointer; }
.ysm .ysmlabel { position: absolute; top: 2px; right: 5px; }
.ysm .ysmlabel a { text-decoration: none; font-size: 12px; }
/* ::::: http://l.yimg.com/f/i/tw/blog/kmodule/kmodule.css ::::: */

.yvstrcmnt { position: relative; }
.kmodule_left { float: left; width: 70px; margin: 0pt 0px 5px 0pt; }
.kmodule_words { position: relative; left: -6px; }
.kmodule_con { font-family: verdana; margin-bottom: 5px; margin-right: 5px; margin-left: 80px; }
.kmodule_con ul.lista { margin-top: 10px; padding-left: 0px; }
.kmodule_con ul.lista li { list-style-type: none; background: url('bullet.gif') no-repeat scroll left center transparent; margin-bottom: 5px; color: rgb(102, 102, 102); }
.kmodule_con ul.lista li a { margin-left: -15px; }
.kmodule_more { font-family: verdana; margin-bottom: 5px; margin-right: 10px; margin-left: 80%; background: url('arrow_more.gif') no-repeat scroll left center transparent; }
.kmodule_more a { margin-left: 20px; }
