/* ::::: file:///D:/0a.%E8%BB%9F%E9%AB%94/3.%E7%B6%B2%E8%B7%AF/6.%E7%80%8F%E8%A6%BD%E5%B7%A5%E5%85%B7%20(telnet%20ssh%E9%80%A3%E7%B7%9A%20%E9%81%A0%E7%AB%AF%E6%A1%8C%E9%9D%A2%20ftp)/FirefoxPortable/Data/profile/zotero/storage/9WDE67TB/viewthread.css ::::: */

* { word-wrap: break-word; }
body { background: none repeat scroll 0% 0% rgb(255, 255, 255); text-align: center; }
body, td, input, textarea, select, button { color: rgb(0, 0, 0); font: 13px/1.6em Helvetica,Arial,sans-serif; }
body, ul, dl, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset { margin: 0pt; padding: 0pt; }
h1, h2, h3, h4, h5, h6 { font-size: 1em; }
#menu li, .popupmenu_popup li, #announcement li, .portalbox li, .tabs li, .postmessage fieldset li, .side li, .formbox li, .notice li { list-style: none outside none; }
a { color: rgb(0, 0, 0); text-decoration: none; }
a:hover { text-decoration: underline; }
a img { border: medium none; }
em, cite, strong, th { font-style: normal; font-weight: normal; }
table { empty-cells: show; border-collapse: collapse; }
.wrap { width: 98%; text-align: left; margin: 0pt auto; }
#header { width: 100%; overflow: hidden; }
#header h2 { float: left; padding: 5px 0pt; }
#footer { border-top: 1px solid rgb(157, 179, 197); background: none repeat scroll 0% 0% rgb(232, 243, 253); color: rgb(102, 102, 102); padding: 12px 0pt; }
#footlinks { float: right; margin-top: -3px; text-align: right; }
#footer img { float: left; margin: 0pt 10px 0pt 0pt; }
#copyright, #debuginfo { font: 0.83em/1.5em Verdana,Arial,Helvetica,sans-serif; }
#copyright strong, #copyright em { font-weight: bold; }
#copyright strong a { color: rgb(9, 84, 166); }
#copyright em { color: rgb(255, 157, 37); }
.scrolltop { cursor: pointer; }
#menu { height: 31px; border: 1px solid rgb(202, 217, 234); background: url('menu_bg.gif@22') repeat-x scroll 0% 0% rgb(255, 255, 255); }
#menu ul { float: right; padding: 4px 10px 0pt; border-right: 1px solid rgb(255, 255, 255); }
#menu li { float: left; }
#menu li a { text-decoration: none; float: left; color: rgb(51, 51, 51); padding: 4px 8px 3px; background: url('menu_itemline.gif@22') no-repeat scroll 0pt 6px transparent; }
#foruminfo { width: 100%; overflow: hidden; margin: 10px 0pt; color: rgb(102, 102, 102); }
#userinfo, #foruminfo #nav { float: left; padding-left: 5px; }
#forumstats, #headsearch { float: right; text-align: right; padding-right: 5px; }
#foruminfo a { color: rgb(0, 102, 153); }
#nav { margin: 10px 5px; }
#foruminfo #nav { margin: 0pt; }
#nav a { font-weight: bold; color: rgb(0, 102, 153); }
.headactions { float: right; line-height: 1em; padding: 10px 10px 0pt 0pt; }
.mainbox .headactions { color: rgb(255, 255, 255); }
.mainbox .headactions a, .mainbox .headactions span, .mainbox .headactions strong { background: url('headactions_line.gif@22') no-repeat scroll 100% 50% transparent; padding-right: 10px; margin-right: 8px; color: rgb(255, 255, 255); }
.pages_btns { width: 100%; padding: 0pt 0pt 8px; overflow: hidden; }
.postbtn, .replybtn { float: right; }
.postbtn { margin-left: 10px; cursor: pointer; }
.pages, .threadflow { float: left; border: 1px solid rgb(202, 217, 234); background: none repeat scroll 0% 0% rgb(247, 247, 247); height: 24px; line-height: 26px; color: rgb(153, 153, 153); overflow: hidden; }
.threadflow { margin-right: 5px; padding: 0pt 5px; }
#menu a.notabs { background: none repeat scroll 0% 0% transparent; }
.headactions a.notabs { background: none repeat scroll 0% 0% transparent; margin-right: 0px; padding-right: 0px; }
.mainbox { background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(157, 179, 197); padding: 1px; margin-bottom: 10px; }
.mainbox h1, .mainbox h3, .mainbox h6 { line-height: 31px; padding-left: 1em; background: url('header_bg.gif@22') repeat-x scroll 0pt 0pt rgb(47, 88, 156); color: rgb(255, 255, 255); }
.mainbox table { width: 100%; }
.mainbox tbody th, .mainbox tbody td { border-top: 1px solid rgb(202, 217, 234); padding: 5px; }
.mainbox tbody cite, .mainbox tbody em { line-height: 1.3em; }
.viewthread { padding-bottom: 1px; }
.viewthread table, #pmprompt table, #forumlinks, #pmlist, #specialpost, #newpost, #editpost { table-layout: fixed; }
.viewthread ins, .mainbox ins { display: block; text-align: center; text-decoration: none; margin-bottom: 1px; background: none repeat scroll 0% 0% rgb(247, 247, 247); border-bottom: 1px solid rgb(202, 217, 234); line-height: 26px; }
.viewthread ins, .viewthread ins a { color: rgb(0, 153, 0); }
.viewthread td.postcontent, .viewthread td.postauthor { vertical-align: top; padding: 0pt 1px; border: medium none; overflow: hidden; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.postinfo { color: rgb(102, 102, 102); border-bottom: 1px solid rgb(202, 217, 234); padding: 0pt 5px; line-height: 26px; height: 26px; overflow: hidden; }
.postinfo strong, .postinfo em { float: right; line-height: 26px ! important; cursor: pointer; padding: 0pt 3px; color: rgb(0, 102, 153); }
.postinfo strong { margin-left: 5px; color: rgb(0, 153, 0); font-weight: bold; }
.postinfo strong sup { font-weight: normal; margin-left: 1px; color: rgb(153, 153, 153); }
.postinfo a { color: rgb(0, 102, 153); }
.postmessage { padding: 10px; overflow-x: hidden; }
.postmessage *, .pmmessage *, .register * { line-height: normal; }
.defaultpost { height: auto ! important; min-height: 100px ! important; }
.postmessage h2 { font-size: 1.17em; margin-bottom: 0.5em; }
.t_msgfont, .t_msgfont td { font-size: 14px; line-height: 1.6em; }
.t_msgfont *, .t_smallfont *, .t_bigfont * { line-height: normal; }
.t_msgfont a, .t_smallfont a, .t_bigfont a { color: rgb(0, 102, 153); }
.signatures { overflow: hidden; max-height: 60px; background: url('sigline.gif@22') no-repeat scroll 0pt 0pt transparent; margin: 10px; padding-top: 20px; color: rgb(102, 102, 102); line-height: 1.6em; }
.signatures * { line-height: normal; }
.postactions { border-top: 1px solid rgb(232, 232, 232); background: none repeat scroll 0% 0% rgb(247, 247, 247); line-height: 30px; height: 30px; padding: 0pt 10px; }
.postactions strong { cursor: pointer; }
.postactions p { float: right; }
.blockcode, .quote { font-size: 12px; margin: 10px 20px; border-style: solid; border-color: rgb(202, 217, 234); border-width: 4px 1px 1px; background: url('portalbox_bg.gif@22') repeat-x scroll 0pt 0pt rgb(255, 255, 255); overflow: hidden; }
.blockcode h5, .quote h5 { border-width: 1px; border-style: solid; border-color: rgb(255, 255, 255) rgb(255, 255, 255) rgb(202, 217, 234); line-height: 26px; padding-left: 5px; color: rgb(102, 102, 102); }
.blockcode code, .quote blockquote { margin: 1em 1em 1em 3em; line-height: 1.6em; }
.mainbox td.postauthor { width: 180px; background: none repeat scroll 0% 0% rgb(232, 243, 253); padding: 5px; overflow: hidden; }
.postauthor cite { font-weight: bold; display: block; border-bottom: 1px solid rgb(202, 217, 234); height: 21px; overflow: hidden; margin-bottom: 5px; }
div.avatar { margin: 5px; text-align: center; width: 160px; overflow: hidden; }
.postauthor dt { float: left; margin-right: 0.5em; color: rgb(102, 102, 102); }
.postauthor dd, .postauthor dt { height: 1.6em; line-height: 1.6em; }
.postauthor dd { overflow: hidden; }
.postauthor p { margin: 0pt 10px; }
.postauthor p em, .postauthor dt em { color: rgb(0, 153, 0); }
.postauthor ul { margin: 5px 10px; line-height: 1.6em; overflow: hidden; }
.postauthor li { text-indent: 22px; width: 49.5%; height: 1.6em; overflow: hidden; float: left; background-position: 0pt 50%; background-repeat: no-repeat; }
.postauthor li.pm { background-image: url('buddy_sendpm.gif@22'); }
.postauthor li.buddy { background-image: url('user_add.gif@22'); }
.postauthor li.space { background-image: url('forumlink.gif@22'); }
.postauthor li.online { background-image: url('user_online.gif@22'); color: rgb(0, 153, 0); }
.postauthor li.offline { color: rgb(102, 102, 102); background-image: url('user_offline.gif@22'); }
.dropmenu { padding-right: 15px ! important; background-image: url('arrow_down.gif@22') ! important; background-position: 100% 50% ! important; background-repeat: no-repeat ! important; cursor: pointer; }
.popupmenu_popup { text-align: left; line-height: 1.4em; padding: 10px; overflow: hidden; border: 1px solid rgb(202, 217, 234); background: url('portalbox_bg.gif@22') repeat-x scroll 0pt 1px rgb(255, 255, 255); }
.headermenu_popup { width: 170px; }
.headermenu_popup li { float: left; width: 7em; line-height: 24px; height: 24px; overflow: hidden; border-bottom: 1px solid rgb(232, 232, 232); }
.newspecialmenu { width: 100px; }
.newspecialmenu li { background: url('folder_s.gif@22') no-repeat scroll 3px 50% transparent; float: left; }
.newspecialmenu li.poll { background-image: url('pollsmall.gif@22'); }
.newspecialmenu li.trade { background-image: url('tradesmall.gif@22'); }
.newspecialmenu li.reward { background-image: url('rewardsmall.gif@22'); }
.newspecialmenu li.activity { background-image: url('activitysmall.gif@22'); }
.newspecialmenu li.debate { background-image: url('debatesmall.gif@22'); }
.newspecialmenu li.video { background-image: url('videosmall.gif@22'); }
.newspecialmenu a { float: left; width: 75px; border-bottom: 1px solid rgb(232, 232, 232); padding: 5px 0pt 5px 25px; }
.newspecialmenu a:hover { text-decoration: none; color: rgb(0, 102, 153); border-bottom-color: rgb(202, 217, 234); }
#forumlist_menu { padding: 10px 30px 10px 20px; }
#forumlist_menu dl { padding: 5px 0pt; }
#forumlist_menu dt a { font-weight: bold; color: rgb(102, 102, 102); }
#forumlist_menu dd { padding-left: 1em; }
#forumlist_menu li.current a { font-weight: bold; }
#forumlist_menu li a { font-weight: normal; color: rgb(0, 102, 153); }
.userinfopanel { border: 1px solid rgb(202, 217, 234); width: 140px; background: url('portalbox_bg.gif@22') repeat-x scroll 0pt 0pt rgb(255, 255, 255); padding: 10px; }
.imicons { text-align: center; border: 1px solid rgb(232, 232, 232); background: none repeat scroll 0% 0% rgb(255, 255, 255); padding: 4px 1px; }
.imicons img { vertical-align: middle; }
.userinfopanel p { text-align: left; margin: 0pt; }
.userinfopanel p a { color: rgb(0, 102, 153); }
.userinfopanel dl { border-bottom: 1px solid rgb(232, 232, 232); margin: 5px 0pt; padding: 5px 0pt; }
.postauthor cite a { float: left; padding: 5px; border-style: solid; border-color: rgb(232, 243, 253); border-width: 1px 1px 0pt; height: 10px; overflow: hidden; }
input, textarea { border-width: 1px; background: none repeat scroll 0% 0% rgb(255, 255, 255); border-color: rgb(221, 221, 221); padding: 2px; }
#ad_headerbanner { float: right; margin-top: 15px; }
.ad_textlink1 { float: left; white-space: nowrap; }
.ad_textlink1, .ad_textlink2 { padding-left: 25px; background: url('ad_icon.gif@22') no-repeat scroll 0pt 50% transparent; }
.ad_footerbanner { text-align: center; clear: both; margin: 5px; }
#ajaxwaitid { position: absolute; display: none; z-index: 100; width: 100px; height: 1.6em; top: 0px; right: 0px; line-height: 1.6em; overflow: hidden; background: none repeat scroll 0% 0% rgb(221, 0, 0); color: rgb(255, 255, 255); }
#SGSmain { position: fixed; z-index: 32767; top: 0pt; right: 0pt; padding: 0pt 0pt 0pt 20px; min-height: 20px; background: url('dkkhgkh4zctcyzgo6f6iyypaqfgyy02xksalemv34telyrynescqyhlvwkgczspgmceay7cg04uk48lasdhra8mvqpef0gagqyywsrlycncwskckapiyeaowaaaaaaaaaaaa==@22') no-repeat scroll 2px 2px transparent; }
#SGSmain:hover { padding: 0pt; }
#SGSmain > div { display: none; }
#SGSmain:hover > div { display: block; padding: 1px 0pt; background: none repeat scroll 0% 0% rgb(255, 255, 255); border-radius: 0pt 0pt 0pt 5px; border-style: solid; border-color: rgb(0, 0, 0); border-width: 0pt 0pt 2px 2px; }
#SGSmain a { display: block; margin: 0pt 0pt 0pt 3px; padding: 2px 10px 2px 7px; font-family: "Verdana"; font-size: 12px; line-height: 14px; font-weight: normal; text-decoration: none; color: rgb(0, 0, 0); text-align: left; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 0pt none; }
#SGSmain a:hover { background-color: rgb(255, 136, 0); color: rgb(0, 0, 0); }
#SGSheader { margin: -2px 0pt 0pt; font-size: 9px; font-family: sans-serif; background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); }
#SGSheader a { display: inline ! important; font-size: 9px; font-family: sans-serif; text-decoration: underline; padding: 0pt; margin: 0pt; background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); }
@media print {
  #SGSmain { display: none; }
}
#SGSmain.noFeed { background: url('gbbn5+xqaaaabjru5erkjggg==@22') no-repeat scroll 2px 2px transparent; }
#SGSmain.noFeed:hover { background: none repeat scroll 0% 0% transparent; }
