
/* ::::: http://www.ccgn.nl/ft-book/rszl/Jesus/images/common.css ::::: */

a { color: rgb(0, 0, 128); font-family: "冼极"; font-size: 12pt; text-decoration: none; }
a:hover { color: rgb(190, 14, 40); font-family: "冼极"; font-size: 12pt; text-decoration: underline; }
a:active { color: rgb(204, 0, 0); font-family: "冼极"; font-size: 12pt; text-decoration: underline; }
body { font-family: "冼极"; font-size: 14pt; line-height: 14pt; }
td { font-family: "冼极"; font-size: 14pt; line-height: 14pt; }
p { font-family: "冼极"; font-size: 14pt; line-height: 14pt; }
font { font-family: "冼极"; font-size: 12pt; line-height: 14pt; }
