
/* ::::: http://www.thywords.com/themes/awonline/style/style.css ::::: */

body { margin: 0px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); }
font { font-size: 10pt; line-height: 140%; font-family: 新細明體,細明體,Verdana,Helvetica; }
a { color: rgb(0, 51, 153); }
a:hover { color: rgb(204, 0, 0); }
li { list-style-type: square; }
td { font-size: 10pt; line-height: 140%; font-family: 新細明體,細明體,Verdana,Helvetica; }
th { font-size: 10pt; color: rgb(255, 255, 255); background-color: rgb(77, 147, 181); text-align: center; letter-spacing: 2px; padding-top: 5px; }
p { font-size: 10pt; line-height: 140%; font-family: 新細明體,細明體,Verdana,Helvetica; }
div { font-size: 10pt; line-height: 140%; font-family: 新細明體,細明體,Verdana,Helvetica; }
input { font-size: 10pt; line-height: 140%; font-family: 新細明體,細明體,Verdana,Helvetica; }
textarea { font-size: 10pt; line-height: 140%; font-family: 新細明體,細明體,Verdana,Helvetica; }
form { font-size: 10pt; line-height: 140%; font-family: 新細明體,細明體,Verdana,Helvetica; }
.TableHead1 { padding: 5px; font-size: 9pt; color: rgb(0, 51, 102); line-height: 200%; font-family: "Arial","Helvetica","sans-serif"; height: 25px; background-color: rgb(215, 230, 227); }
.TableHead2 { padding: 5px; font-size: 9pt; color: rgb(0, 51, 102); line-height: 200%; font-family: "Arial","Helvetica","sans-serif"; height: 25px; background-color: rgb(255, 255, 255); }
.TableContent1 { padding: 5px; font-size: 8pt; color: rgb(0, 102, 153); line-height: 160%; font-family: "Arial","Helvetica","sans-serif"; text-decoration: none; }
.TableContent2 { padding: 8px; font-size: 9pt; color: rgb(0, 51, 102); line-height: 200%; font-family: "Arial","Helvetica","sans-serif"; }
.TableContent3 { padding: 5px; font-size: 8pt; color: rgb(0, 102, 153); line-height: 160%; font-family: "Arial","Helvetica","sans-serif"; }
.whiteLinkCopy { font-size: 9pt; color: rgb(255, 255, 255); line-height: 140%; font-family: "Arial","Helvetica","sans-serif"; }
.whiteLinkCopy2 { font-size: 9pt; color: rgb(255, 255, 255); line-height: 140%; font-family: "Arial","Helvetica","sans-serif"; background-color: rgb(77, 147, 181); }
.info { font-size: 8pt; color: rgb(0, 0, 0); line-height: 170%; font-family: "Arial","Helvetica","sans-serif"; text-decoration: none; }
.textStyle { border: 1px solid ; padding: 3px 10px 3px 3px; font-size: 8pt; color: rgb(9, 24, 97); font-family: 'MS Sans Serif',Geneva,sans-serif; background-color: rgb(255, 255, 255); }
.title { background: transparent none repeat scroll 0% 0%; font-size: 12pt; color: rgb(0, 0, 0); font-family: 新細明體,細明體,Verdana,Helvetica; text-decoration: none; }
.content { background: transparent none repeat scroll 0% 0%; font-size: 10pt; color: rgb(0, 0, 0); line-height: 140%; font-family: 新細明體,細明體,Verdana,Helvetica; }
.storytitle { background: transparent none repeat scroll 0% 0%; font-size: 10pt; color: rgb(54, 54, 54); font-family: 新細明體,細明體,Verdana,Helvetica; text-decoration: none; }
.storycat { background: transparent none repeat scroll 0% 0%; font-size: 12pt; color: rgb(0, 0, 0); font-family: 新細明體,細明體,Verdana,Helvetica; text-decoration: underline; }
.boxtitle { background: transparent none repeat scroll 0% 0%; font-weight: bold; font-size: 10pt; color: rgb(54, 54, 54); line-height: 140%; font-family: 新細明體,細明體,Verdana,Helvetica; text-decoration: none; }
.boxcontent { background: transparent none repeat scroll 0% 0%; font-size: 10pt; color: rgb(0, 0, 0); line-height: 140%; font-family: 新細明體,細明體,Verdana,Helvetica; }
.option { background: transparent none repeat scroll 0% 0%; font-size: 12pt; color: rgb(0, 0, 0); font-family: 新細明體,細明體,Verdana,Helvetica; text-decoration: none; }
.tiny { background: transparent none repeat scroll 0% 0%; font-size: 8pt; color: rgb(0, 0, 0); font-family: 新細明體,細明體,Verdana,Helvetica; text-decoration: none; }
.tiny1 { background: transparent none repeat scroll 0% 0%; font-size: 8pt; color: rgb(0, 51, 102); font-family: "Arial","Helvetica","sans-serif"; text-decoration: none; }
.aaa { font-size: 12pt; line-height: 140%; font-family: "新細明體","細明體","標楷體"; }
.navHead1 { font-weight: normal; font-size: 9pt; color: rgb(0, 51, 102); line-height: 200%; text-decoration: none; }
.navHead1-2 { font-weight: normal; font-size: 9pt; color: rgb(0, 51, 102); line-height: 140%; font-family: "Arial","Helvetica","sans-serif"; text-decoration: none; }
.navHead1Copy { font-weight: normal; font-size: 9pt; color: rgb(0, 51, 102); font-family: "Arial","Helvetica","sans-serif"; }
.navHead2 { font-size: 8pt; color: rgb(0, 102, 153); line-height: 200%; font-family: "Arial","Helvetica","sans-serif"; text-decoration: none; }
.navHead2-2 { font-size: 8pt; color: rgb(0, 102, 153); line-height: 140%; font-family: "Arial","Helvetica","sans-serif"; text-decoration: none; }
.navHead2Copy { font-size: 8pt; color: rgb(153, 153, 153); line-height: 200%; font-family: "Arial","Helvetica","sans-serif"; text-decoration: none; }
.navHead2Copy1 { font-size: 8pt; color: rgb(102, 102, 102); line-height: 200%; font-family: "Arial","Helvetica","sans-serif"; text-decoration: none; }
.relatedLinkCopy { font-size: 9pt; color: rgb(255, 0, 0); line-height: 140%; font-family: "Arial","Helvetica","sans-serif"; text-decoration: none; }
.onsale1 { font-size: 10pt; color: rgb(255, 210, 0); line-height: 100%; font-family: "新細明體","Helvetica","sans-serif"; text-decoration: none; }
.onsale2 { font-size: 8pt; color: rgb(134, 182, 207); line-height: 100%; font-family: "Arial","Helvetica","sans-serif"; text-decoration: none; }
.dotstyle { color: rgb(204, 204, 204); }
.row1 { font-size: 9pt; color: rgb(0, 51, 102); background-color: rgb(255, 255, 255); line-height: 140%; font-family: "Arial","Helvetica","sans-serif"; font-weight: normal; text-decoration: none; }
.row2 { font-size: 9pt; color: rgb(0, 51, 102); background-color: rgb(235, 235, 235); line-height: 140%; font-family: "Arial","Helvetica","sans-serif"; font-weight: normal; text-decoration: none; }
.row3 { font-size: 9pt; color: rgb(0, 0, 0); background-color: rgb(235, 238, 225); line-height: 140%; font-family: "Arial","Helvetica","sans-serif"; font-weight: normal; text-decoration: none; }
.MainTable1 { background-color: rgb(255, 255, 255); }
.TopTable1 { background-color: rgb(255, 255, 255); padding-bottom: 5px; padding-top: 5px; }
.MiddleTable1 { background-color: rgb(255, 255, 255); }
.MiddleLeftBg { background-color: rgb(215, 230, 227); }
.MiddleRightBg { background-color: rgb(215, 230, 227); }
.MainMenu { background-color: rgb(255, 255, 255); }
.BlockHead1 { font-size: 9pt; color: rgb(255, 255, 255); background-color: rgb(135, 182, 205); line-height: 140%; font-family: "Arial","Helvetica","sans-serif"; }
.BlockContent1 { padding: 5px; font-size: 8pt; color: rgb(0, 102, 153); background-color: rgb(215, 230, 227); line-height: 160%; font-family: "Arial","Helvetica","sans-serif"; text-decoration: none; }
.bgcolor1 { background-color: rgb(255, 255, 255); }
.bgcolor2 { background-color: rgb(135, 182, 205); }
.bgcolor3 { background-color: rgb(192, 192, 192); }
.bgcolor4 { background-color: rgb(192, 192, 192); }
.textcolor1 { color: rgb(0, 0, 0); }
.textcolor2 { color: rgb(0, 0, 0); }
.textcolor3 { color: rgb(111, 0, 221); }
.textcolor4 { color: rgb(170, 77, 151); }
.TableHead1Text1 { font-size: 9pt; color: rgb(0, 51, 102); font-family: "Arial","Helvetica","sans-serif"; text-decoration: none; }
.TableHead1Text2 { font-size: 9pt; color: rgb(0, 102, 153); font-family: "Arial","Helvetica","sans-serif"; text-decoration: none; }
.TableHead3 { padding: 3px 5px; font-size: 9pt; color: rgb(0, 0, 0); font-family: "Arial","Helvetica","sans-serif"; background-color: rgb(135, 182, 205); text-align: center; }
.FootTable1 { background-color: rgb(255, 255, 255); }
.info1 { font-size: 8pt; color: rgb(0, 0, 0); line-height: 170%; font-family: "Arial","Helvetica","sans-serif"; text-decoration: none; text-align: left; }
.BlockHead2 { font-size: 9pt; color: rgb(255, 255, 255); background-color: rgb(135, 182, 205); line-height: 140%; font-family: "Arial","Helvetica","sans-serif"; }
.BlockContent2 { padding: 5px; font-size: 8pt; color: rgb(0, 102, 153); background-color: rgb(255, 255, 255); line-height: 160%; font-family: "Arial","Helvetica","sans-serif"; text-decoration: none; }
.Warning { font-size: 9pt; color: rgb(255, 0, 0); line-height: 140%; font-family: "Arial","Helvetica","sans-serif"; text-decoration: none; font-weight: bold; }
.mypagertable { border: 1pt solid rgb(77, 147, 181); border-collapse: collapse; }
.tenorpdtitle { font-size: 9pt; color: rgb(255, 255, 0); line-height: 140%; font-family: "Arial","Helvetica","sans-serif"; text-decoration: none; font-weight: bold; }
.AdminFuncMenu { background: rgb(213, 230, 238) none repeat scroll 0% 0%; font-size: 10pt; color: rgb(0, 51, 102); line-height: 140%; font-family: "新細明體","細明體","Verdana","Helvetica"; text-align: center; width: 120px; text-decoration: none; }
.AdminMenu { font-size: 12pt; color: rgb(0, 51, 102); line-height: 140%; font-weight: bold; font-family: "新細明體","細明體","Verdana","Helvetica"; text-align: center; width: 100%; text-decoration: none; }
.toptitle { font-size: 12pt; color: rgb(74, 147, 181); font-family: 新細明體,細明體,Verdana,Helvetica; text-align: center; font-weight: bold; letter-spacing: 2px; text-decoration: none; }
.undertitle { font-size: 11pt; color: rgb(74, 147, 181); font-family: 新細明體,細明體,Verdana,Helvetica; text-align: center; font-weight: bold; letter-spacing: 2px; padding-top: 5px; padding-bottom: 2px; text-decoration: none; }
.categorylinktext { font-size: 10pt; color: rgb(0, 51, 153); font-family: 新細明體,細明體,Verdana,Helvetica; text-align: center; letter-spacing: 1px; text-decoration: underline; }
.tablefram { border-top: 1pt solid rgb(135, 182, 205); border-left: 1pt solid rgb(135, 182, 205); }
.formtab { text-indent: 5pt; }
.tabletitletext { border-right: 1pt solid rgb(135, 182, 205); border-bottom: 1pt solid rgb(135, 182, 205); font-size: 10pt; color: rgb(27, 52, 65); font-family: 新細明體,細明體,Verdana,Helvetica; text-align: center; padding-top: 5px; background-color: rgb(213, 230, 238); }
.tablecontent { border-right: 1pt solid rgb(135, 182, 205); border-bottom: 1pt solid rgb(135, 182, 205); font-size: 10pt; color: rgb(0, 0, 0); font-family: 新細明體,細明體,Verdana,Helvetica; text-align: left; padding-top: 5px; }
.notabletitle { font-size: 10pt; color: rgb(0, 0, 0); font-family: 新細明體,細明體,Verdana,Helvetica; text-align: left; letter-spacing: 1px; padding-top: 5px; }
.notablecontent { font-size: 10pt; color: rgb(0, 0, 0); font-family: 新細明體,細明體,Verdana,Helvetica; padding-top: 5px; }
.mypagertitle { font-size: 10pt; color: rgb(27, 52, 65); font-family: 新細明體,細明體,Verdana,Helvetica; text-align: center; padding-top: 5px; background-color: rgb(173, 206, 222); }
.mypagercontent { font-size: 10pt; color: rgb(0, 0, 0); font-family: 新細明體,細明體,Verdana,Helvetica; text-align: center; padding-top: 5px; }
.faqtitletext { font-size: 10pt; color: rgb(0, 102, 153); font-family: 新細明體,細明體,Verdana,Helvetica; font-weight: bold; text-align: center; padding-top: 5px; }
.fieldtitle { font-size: 10pt; color: rgb(0, 0, 0); font-family: 新細明體,細明體,Verdana,Helvetica; font-weight: bold; text-align: left; letter-spacing: 1px; padding-top: 5px; padding-bottom: 5px; }
.funlinktext { font-size: 10pt; color: rgb(0, 51, 153); font-family: 新細明體,細明體,Verdana,Helvetica; text-align: center; text-decoration: underline; }
.filltext { font-size: 10pt; color: rgb(255, 0, 0); font-family: 新細明體,細明體,Verdana,Helvetica; }
.pstext { font-size: 9pt; color: rgb(51, 51, 51); font-family: 新細明體,細明體,Verdana,Helvetica; text-align: left; }
