
/* ::::: http://en.kioskea.net/template/forum.css?200901071727 ::::: */

#bloc_choix ul#actions { margin: 0pt; padding: 10px 0pt 15px; list-style-type: none; }
#bloc_choix ul#actions li { margin: 0pt; padding: 0pt; display: inline; background-image: none; }
#bloc_choix ul#actions li a { padding: 10px 15px 15px 40px; color: rgb(51, 95, 184); font-size: 12px; font-weight: bold; float: left; text-decoration: none; }
#bloc_17 { margin: 8px 0pt 0pt 6px; overflow: hidden; float: left; width: 673px; color: rgb(110, 110, 110); }
#bloc_17 a { overflow: hidden; color: rgb(10, 99, 182); font-weight: normal; font-size: 12px; }
#bloc_17 a.membre { color: rgb(10, 99, 182); font-size: 12px; }
#bloc_17 a.membre:hover, #bloc_17 a.membre:focus { color: rgb(50, 124, 197); font-size: 12px; }
#bloc_17 a.anon { color: black; font-size: 12px; }
#bloc_17 a.anon:hover, #bloc_17 a.anon:focus { color: gray; font-size: 12px; }
#bloc_17 .disc_close, #bloc_17 .close { padding: 2px 2px 2px 20px; background: transparent url('sprite_picto.png') no-repeat scroll 0pt -88px; font-size: 12px; display: block; }
#bloc_17 a.disc_ok, #bloc_17 .ok { padding: 2px 2px 2px 20px; background: transparent url('sprite_picto.png') no-repeat scroll 0pt -43px; font-size: 12px; display: block; }
#bloc_17 a.disc_reg, #bloc_17 .reg { padding: 2px 2px 2px 20px; background: transparent url('sprite_picto.png') no-repeat scroll 0pt 2px; font-size: 12px; display: block; }
#bloc_17 a.disc_sup { padding: 2px 2px 2px 20px; background: transparent url('sprite_picto.png') no-repeat scroll 0pt -133px; display: block; }
#bloc_17 a.disc_wait, #bloc_17 .wait { padding: 2px 2px 2px 20px; background: transparent url('sprite_picto.png') no-repeat scroll 0pt -178px; font-size: 12px; display: block; }
#bloc_17 a.theme { font-size: 10px; }
#bloc_17 a:hover, #bloc_17 a:focus { color: rgb(50, 124, 197); text-decoration: none; }
#bloc_17 .discactu { padding: 4px 7px 4px 20px; background: transparent url('sprite_picto.png') no-repeat scroll 0pt -770px; display: block; float: right; }
#bloc_17 .foot { padding: 4px; display: block; color: black; }
#bloc_17 .foot2 { padding: 4px; display: block; color: black; }
#bloc_17 .foot2 table { background-color: transparent; }
#bloc_17 .foot2 table td { border: medium none ; width: 50%; }
#bloc_17 table { padding: 0pt; vertical-align: top; background-color: white; }
#bloc_17 table tr.suppr { background-color: rgb(212, 208, 200); }
#bloc_17 table tr.supprb { background-color: rgb(204, 202, 196); }
#bloc_17 table tr.z { background-color: rgb(233, 238, 249); }
#bloc_17 table td { padding: 0pt 2px; vertical-align: top; }
#bloc_17 td.answer div { float: right; }
#bloc_17 td.answer div.zero { color: red; }
#bloc_17 td span { font-size: 11px; }
#bloc_17 td .red { color: red; }
#bloc_17 td .date { color: black; }
#bloc_17 td .gris { color: gray; }
#bloc_17 td.auth, #bloc_17 td.answer { font-size: 10px; color: black; }
#bloc_17 td.sub_tit { border-bottom: 1px solid rgb(204, 204, 204); padding: 0pt 0pt 8px; color: rgb(153, 153, 153); font-family: Arial; font-weight: bold; font-size: 13px; font-variant: small-caps; }
#bloc_17 td.sub_tit a.down { border: medium none ; padding: 3px 12px 3px 3px; background: transparent url('flechebas.png') no-repeat scroll 100% 50%; display: block; font-weight: bold; text-align: right; color: rgb(153, 153, 153); }
#bloc_17 td.sub_tit a.up { border: medium none ; padding: 3px 12px 3px 3px; background: transparent url('flechebas.png') no-repeat scroll 100% 50%; display: block; font-weight: bold; text-align: right; color: rgb(153, 153, 153); }
#bloc_17 .omsg { padding: 0pt 0pt 2px 20px; background: transparent url('sprite_picto.png') no-repeat scroll 0pt -505px; display: block; margin-bottom: 5px; font-weight: bold; }
#bloc_17 .pages { border: 0pt none ; padding: 5px; background-color: white; float: left; color: black; }
#bloc_17 .pages strong { border: 1px solid rgb(249, 94, 0); margin: 2px; background: rgb(249, 94, 0) none repeat scroll 0% 0%; float: left; font-family: Arial; font-weight: bold; height: 16px; width: 16px; text-align: center; color: white; }
#bloc_17 .pages a { border: 1px solid rgb(203, 203, 203); margin: 2px; float: left; font-family: Arial; height: 16px; width: 16px; text-align: center; color: rgb(119, 119, 119); }
#bloc_17 .pages a:hover, #bloc_17 .pages a:focus { border: 1px solid rgb(249, 94, 0); background: rgb(249, 94, 0) none repeat scroll 0% 0%; color: white; }
#bloc_19 { margin: 5px 0pt 0pt; padding: 5px 0pt 5px 5px; background: transparent url('back2.png') no-repeat scroll left top; float: left; height: 42px; color: rgb(42, 46, 53); }
#bloc_19 table { width: 675px; }
#bloc_19 .list_rech { border: 1px solid rgb(134, 148, 175); margin: 0pt 0pt 0pt 5px; padding: 1px; width: 180px; font-size: 12px; color: rgb(46, 51, 60); background-color: rgb(234, 241, 255); }
#bloc_19 .mots_cle { border: 1px solid rgb(134, 148, 175); padding: 1px 0pt 2px; width: 180px; font-size: 12px; color: rgb(46, 51, 60); background-color: rgb(234, 241, 255); margin-left: 5px; }
#bloc_19 input.radio { margin: 0pt 0pt 0pt 5px; vertical-align: middle; }
#bloc_19 input.search { margin: 0pt; padding: 0pt; }
#bloc_forum_actions { margin: 5px 0pt 0pt 6px; overflow: hidden; float: left; width: 673px; color: rgb(42, 46, 53); }
#bloc_forum_actions.hide { display: none; }
#bloc_forum_actions.show { display: block; }
#bloc_forum_actions table { background-color: rgb(177, 199, 240); width: 673px; }
#bloc_forum_actions table { width: 100%; }
#bloc_forum_actions table .b1 { background: transparent url('b1.png') no-repeat scroll left top; width: 7px; height: 8px; }
#bloc_forum_actions table .b2 { background: transparent url('b2.png') no-repeat scroll right top; width: 7px; height: 8px; }
#bloc_forum_actions table .b3 { background: transparent url('b3.png') no-repeat scroll right bottom; width: 7px; height: 8px; }
#bloc_forum_actions table .b4 { background: transparent url('b4.png') no-repeat scroll left bottom; width: 7px; height: 8px; }
#bloc_forum_actions .list_rech { border: 1px solid rgb(134, 148, 175); margin: 0pt 0pt 0pt 5px; padding: 1px; width: 180px; font-size: 12px; color: rgb(46, 51, 60); background-color: rgb(234, 241, 255); }
#bloc_forum_actions .mots_cle { border: 1px solid rgb(134, 148, 175); padding: 1px 0pt 2px; width: 180px; font-size: 12px; color: rgb(46, 51, 60); background-color: rgb(234, 241, 255); margin-left: 5px; }
#bloc_forum_actions tr.hidden { display: none; }
#bloc_forum_actions input.radio { margin: 0pt 0pt 0pt 5px; vertical-align: middle; }
#bloc_forum_actions input.search { margin: 0pt; padding: 0pt; }
#bloc_forum_actions #imageField { margin: 0pt; padding: 2px; }
.bloc_forum_actions2 { margin: 25px 0pt 0pt 6px; overflow: hidden; float: left; clear: both; width: 673px; }
.bloc_forum_actions2 .navig { float: right; }
.bloc_forum_actions2 b { margin: 3px 5px 3px 6px; overflow: hidden; float: left; color: rgb(119, 119, 119); height: 16px; }
.bloc_forum_actions2 .navig .page { border: 1px solid rgb(203, 203, 203); margin: 2px; background: white none repeat scroll 0% 0%; font-weight: bold; text-decoration: none; float: left; font-family: Arial; height: 16px; width: 16px; text-align: center; color: rgb(119, 119, 119); }
.bloc_forum_actions2 .navig span.page { border: 1px solid rgb(249, 94, 0); background: rgb(249, 94, 0) none repeat scroll 0% 0%; color: white; }
.bloc_forum_actions2 .navig a.page:hover, #bloc_forum_actions2 .navig a.page:focus { text-decoration: underline; }
.bloc_forum_actions2 a.nextpage { border: 0pt none ; margin: 1px 1px 1px 6px; background: transparent url('nextblue.png') no-repeat scroll right 3px; float: right; font-family: Arial; font-size: 15px; display: block; height: 16px; width: auto; text-align: center; padding-right: 15px; font-weight: bold; text-decoration: underline; color: rgb(0, 0, 255); }
.bloc_forum_actions2 a.button .button { border: 0pt none ; margin: 0pt; padding: 4px 4px 0px 24px; background: white url('replybtn.png') no-repeat scroll 0pt 0pt; float: left; height: 20px; font-size: 13px; }
.bloc_forum_actions2 a.button { border: 0pt none ; margin: 0pt; padding: 0pt 4px 0pt 0pt; background: white url('replybtn.png') no-repeat scroll right bottom; float: right; display: block; height: 24px; font-family: Arial; color: white; font-weight: bold; }
.bloc_forum_actions2 a.button2 .button2 { border: 0pt none ; margin: 0pt; padding: 4px 4px 0px 24px; background: white url('postbtn.png') no-repeat scroll 0pt 0pt; float: left; height: 20px; font-size: 13px; }
.bloc_forum_actions2 a.button2 { border: 0pt none ; margin: 0pt; padding: 0pt 4px 0pt 0pt; background: white url('postbtn.png') no-repeat scroll right bottom; float: left; clear: left; display: block; height: 24px; font-family: Arial; color: white; font-weight: bold; }
#bloc_21 { border-bottom: 1px solid rgb(204, 204, 204); margin: 0pt 0pt 0pt 6px; overflow: hidden; float: left; width: 673px; padding-bottom: 6px; }
#bloc_21 a.search { padding: 0pt 2px 0pt 16px; float: right; color: rgb(2, 73, 180); }
#bloc_21 a.sans-reponses { padding: 0pt 2px 0pt 20px; float: right; color: rgb(2, 73, 180); }
#bloc_21 a.charte { padding: 0pt 2px 0pt 22px; float: right; color: rgb(2, 73, 180); }
#bloc_21 a.stats { padding: 0pt 2px 0pt 20px; float: right; color: rgb(2, 73, 180); }
#bloc_21 .showtoc { padding: 0pt 2px 0pt 22px; float: right; color: rgb(2, 73, 180); }
#bloc_21.show { display: block; }
#bloc_21.hide { display: none; }
#bloc_21 p { margin: 0pt; padding: 7px; }
#bloc_21 .titre { margin: 6px 0pt 2px; padding: 0pt; display: block; font-weight: bold; text-align: left; font-variant: small-caps; color: rgb(153, 153, 153); text-decoration: underline; background-color: white; }
#bloc_21 td { padding-top: 1px; vertical-align: top; }
#bloc_21 .themes td { height: 14px; }
#bloc_21 .rss { padding-top: 2px; }
#bloc_21 a { color: black; font-size: 12px; }
#bloc_21 a:hover, #bloc_21 a:focus { color: rgb(50, 124, 197); text-decoration: underline; }
#bloc_21 a.discopi { padding: 2px; display: block; float: left; color: rgb(20, 91, 201); height: 14px; }
#bloc_21 a.forum { padding: 2px; display: block; float: left; color: rgb(20, 91, 201); height: 14px; }
#bloc_21 a.forum.on, #bloc_21 a.discopi.on { font-weight: bold; text-decoration: underline; }
#charte { margin: 0pt 0pt 0pt 6px; float: left; width: 673px; clear: both; }
#charte .titre { border-bottom: 4px solid rgb(38, 107, 185); display: block; margin-bottom: 4px; color: black; font-size: 16px; font-weight: bold; }
#charte a { padding: 0pt 0pt 0pt 55px; background: transparent url('sprite_charte.png') no-repeat scroll 0pt 0pt; float: left; width: 280px; color: rgb(94, 130, 216); font-weight: bold; height: 55px; }
#charte a#charte_02 { background-position: 0pt -55px; }
#charte a#charte_03 { background-position: 0pt -110px; }
#charte a#charte_04 { background-position: 0pt -165px; }
#charte a#charte_05 { background-position: 0pt -220px; }
#charte a#charte_06 { background-position: 0pt -275px; }
#charte a#charte_07 { background-position: 0pt -330px; }
#charte a.more { margin: 10px 0pt 0pt; padding: 0pt; background: transparent none repeat scroll 0% 0%; width: auto; color: rgb(254, 146, 20); float: right; font-size: 16px; font-family: Arial; }
#bloc_22 { border: 1px solid rgb(78, 100, 144); margin: 10px 0pt 0pt 6px; overflow: hidden; float: left; clear: both; width: 670px; color: rgb(53, 68, 98); background-color: rgb(230, 236, 249); }
#bloc_22 .hide { display: none; }
#bloc_22 #message-avert { border: 1px solid red; margin: -1px 0pt 0pt; padding: 0pt; overflow: auto; clear: both; float: left; background-color: rgb(255, 216, 218); width: 662px; height: 306px; }
#bloc_22 #message-alert { border: 1px solid red; padding: 20px; width: 422px; height: 66px; left: 99px; top: 99px; position: relative; text-align: justify; background-color: white; }
#bloc_22 .agree { text-decoration: none; }
#bloc_22 td { vertical-align: middle; }
#bloc_22 div.form_fake { border: 1px solid rgb(136, 137, 159); margin: 0pt; padding: 3px; float: left; width: 300px; font-size: 12px; font-weight: bold; color: rgb(98, 99, 90); background-color: rgb(251, 251, 251); }
#bloc_22 input.options { margin: 2px; vertical-align: middle; }
#bloc_22 img.captcha { border: 1px solid red; margin: 0pt; padding: 0pt; overflow: auto; display: block; width: 120px; height: 60px; background-color: black; color: white; white-space: pre-wrap; }
#bloc_22 .list_rech { border: 1px solid rgb(134, 148, 175); margin: 0pt; padding: 2px; float: left; width: auto; font-size: 12px; color: rgb(46, 51, 60); background-color: rgb(234, 241, 255); }
#bloc_22 a { text-decoration: underline; }
#bloc_22 .hide { display: none; }
#bloc_22 #message-avert { border: 1px solid red; margin: -1px 0pt 0pt; padding: 0pt; overflow: auto; clear: both; float: left; background-color: rgb(255, 216, 218); width: 662px; height: 306px; }
#bloc_22 #message-alert { border: 1px solid red; padding: 20px; width: 422px; height: 66px; left: 99px; top: 99px; position: relative; text-align: justify; background-color: white; }
#bloc_22 .agree { text-decoration: none; }
#bloc_22 a.fonc_01 { margin: 0pt; padding: 0pt; background: transparent url('sprite_btn.png') no-repeat scroll -6px 0pt; display: block; float: left; width: 22px; height: 21px; text-decoration: none; }
#bloc_22 a.fonc_01:hover, #bloc_22 a.fonc_01:focus { background: transparent url('sprite_btn.png') no-repeat scroll -6px -21px; }
#bloc_22 a.fonc_02 { margin: 0pt; padding: 0pt; background: transparent url('sprite_btn.png') no-repeat scroll -28px 0pt; display: block; float: left; width: 21px; height: 21px; text-decoration: none; }
#bloc_22 a.fonc_02:hover, #bloc_22 a.fonc_02:focus { background: transparent url('sprite_btn.png') no-repeat scroll -28px -21px; }
#bloc_22 a.fonc_03 { margin: 0pt; padding: 0pt; background: transparent url('sprite_btn.png') no-repeat scroll -49px 0pt; display: block; float: left; width: 22px; height: 21px; text-decoration: none; }
#bloc_22 a.fonc_03:hover, #bloc_22 a.fonc_03:focus { background: transparent url('sprite_btn.png') no-repeat scroll -49px -21px; }
#bloc_22 a.fonc_04 { margin: 0pt; padding: 0pt; background: transparent url('sprite_btn.png') no-repeat scroll -71px 0pt; display: block; float: left; width: 28px; height: 21px; text-decoration: none; }
#bloc_22 a.fonc_04:hover, #bloc_22 a.fonc_04:focus { background: transparent url('sprite_btn.png') no-repeat scroll -71px -21px; }
#bloc_22 a.fonc_05 { margin: 0pt; padding: 0pt; background: transparent url('sprite_btn.png') no-repeat scroll -99px 0pt; display: block; float: left; width: 28px; height: 21px; text-decoration: none; }
#bloc_22 a.fonc_05:hover, #bloc_22 a.fonc_05:focus { background: transparent url('sprite_btn.png') no-repeat scroll -99px -21px; }
#bloc_22 a.fonc_06 { margin: 0pt; padding: 0pt; background: transparent url('sprite_btn.png') no-repeat scroll -155px 0pt; display: block; float: left; width: 28px; height: 21px; text-decoration: none; }
#bloc_22 a.fonc_06:hover, #bloc_22 a.fonc_06:focus { background: transparent url('sprite_btn.png') no-repeat scroll -155px -21px; }
#bloc_22 a.fonc_07 { margin: 0pt; padding: 0pt; background: transparent url('sprite_btn.png') no-repeat scroll -183px 0pt; display: block; float: left; width: 28px; height: 21px; text-decoration: none; }
#bloc_22 a.fonc_07:hover, #bloc_22 a.fonc_07:focus { background: transparent url('sprite_btn.png') no-repeat scroll -183px -21px; }
#bloc_22 a.fonc_08 { margin: 0pt; padding: 0pt; background: transparent url('sprite_btn.png') no-repeat scroll -211px 0pt; display: block; float: left; width: 29px; height: 21px; text-decoration: none; }
#bloc_22 a.fonc_08:hover, #bloc_22 a.fonc_08:focus { background: transparent url('sprite_btn.png') no-repeat scroll -211px -21px; }
#bloc_22 a.fonc_09 { margin: 0pt; padding: 0pt; background: transparent url('sprite_btn.png') no-repeat scroll -127px 0pt; display: block; float: left; width: 29px; height: 21px; text-decoration: none; }
#bloc_22 a.fonc_09:hover, #bloc_22 a.fonc_09:focus { background: transparent url('sprite_btn.png') no-repeat scroll -127px -21px; }
#bloc_22 p.submit { margin: 10px 0pt; float: left; display: block; }
#bloc_22 input.submit { border: 1px solid rgb(49, 63, 91); margin: 0pt 0pt 0pt 2px; padding: 0pt 4px; background: rgb(49, 63, 91) url('sprite_back.png') repeat-x scroll 0pt -454px; height: 20px; float: left; font-family: Tahoma,Arial,Helvetica,sans-serif; font-size: 12px; color: white; font-weight: bold; }
#bloc_22 a.submit { border: 1px solid rgb(49, 63, 91); margin: 0pt 0pt 0pt 2px; padding: 2px 4px 0pt; background: rgb(49, 63, 91) url('sprite_back.png') repeat-x scroll 0pt -454px; height: 16px; float: left; font-family: Tahoma,Arial,Helvetica,sans-serif; font-size: 12px; color: white; font-weight: bold; text-decoration: none; }
#bloc_22 a.submit:hover { text-decoration: none; }
#bloc_22 input.sujet { border: 1px solid rgb(136, 137, 159); margin: 0pt; padding: 3px; float: left; width: 300px; font-size: 12px; color: rgb(79, 101, 145); background-color: rgb(255, 255, 255); }
#bloc_22 input.upload { border: 1px solid rgb(136, 137, 159); margin: 0pt 5px 1px 0pt; color: rgb(79, 101, 145); font-size: 12px; }
#bloc_22 select.themes { border: 1px solid rgb(136, 137, 159); margin: 0pt; padding: 0pt; width: 237px; font-size: 12px; color: rgb(79, 101, 145); background-color: rgb(255, 255, 255); }
#bloc_22 .options { display: block; padding-top: 10px; }
#bloc_22 .sub_tit { margin: 5px; padding: 5px 15px; background: transparent url('sprite_btn.png') no-repeat scroll -240px -21px; font-weight: bold; display: block; white-space: nowrap; }
#bloc_22 .titre { border-bottom: 1px solid rgb(78, 100, 144); padding: 4px; background: transparent url('back_titre.jpg') repeat-x scroll 0pt 100%; display: block; font-size: 12px; color: white; font-weight: bold; text-align: left; }
#bloc_22 td.value { padding: 3px; }
#bloc_22 textarea#message { border: 1px solid rgb(136, 137, 159); margin: -1px 0pt 0pt; padding: 3px; overflow: auto; color: rgb(79, 101, 145); font-size: 12px; width: 656px; height: 300px; clear: both; float: left; }
#bloc_22 textarea#configuration { border: 1px solid rgb(136, 137, 159); margin: -1px 0pt 0pt; padding: 3px; overflow: auto; color: rgb(79, 101, 145); font-size: 12px; width: 650px; height: 30px; float: left; }
#bloc_22 textarea.motif { margin: 5px 0pt; width: 475px; height: 50px; }
#bloc_22 ul#fonctions { margin: 0pt; padding: 0pt; list-style-type: none; }
#bloc_22 ul#fonctions li { margin: 0pt; padding: 0pt; display: inline; list-style-type: none; list-style-image: none; list-style-position: outside; line-height: 21px; }
#bloc_22 ul#fonctions li.sep_01 { background: transparent url('sprite_btn.png') no-repeat scroll left top; width: 6px; display: block; float: left; }
#bloc_22 ul#fonctions li.sep_02 { background: transparent url('sprite_btn.png') no-repeat scroll right top; width: 6px; display: block; float: left; }
#repondre_ph { border-top: 1px solid rgb(174, 191, 226); padding: 4px; display: none; float: left; background-color: rgb(239, 242, 251); width: 100%; margin-bottom: 4px; }
#repondre_ph #repondre_close { float: right; font-weight: bold; }
#bloc_24 { margin: 12px 0pt 0pt 6px; float: left; clear: both; width: 673px; color: black; }
#bloc_24 a:hover { text-decoration: none; }
#bloc_24 .actions { float: left; width: 100%; }
#bloc_24 .actions a { margin-right: 10px; }
#bloc_24 .actions .action_01 { background: transparent url('lastmsg.png') no-repeat scroll 0pt 0px; display: block; float: left; width: 33px; height: 20px; }
#bloc_24 .actions .action_03 { background: transparent url('sprite_forum2.png') no-repeat scroll 0pt -175px; display: block; float: left; width: 21px; height: 20px; }
#bloc_24 .actions .action_05 { background: transparent url('sprite_forum2.png') no-repeat scroll 0pt -125px; display: block; float: left; width: 21px; height: 20px; }
#bloc_24 .actions .action_06 { background: transparent url('sprite_forum2.png') no-repeat scroll 3px -75px; display: block; float: left; width: 21px; height: 20px; }
#bloc_24 .actions a.action_07 { background: transparent url('sprite_forum2.png') no-repeat scroll 0pt -225px; display: block; float: left; width: 21px; height: 20px; }
#bloc_24 .actions a.action_10 { background: transparent url('sprite_forum2.png') no-repeat scroll 0pt -200px; display: block; float: left; width: 21px; height: 20px; }
#bloc_24 .actions .action_back { background: transparent url('action_05.png') no-repeat scroll -20px -2px; display: block; float: left; width: 21px; height: 20px; }
#bloc_24 .actions span { display: none; }
#bloc_24 .actions a.button .button { border: 0pt none ; margin: 0pt; padding: 4px 4px 0px 24px; background: white url('replybtn.png') no-repeat scroll 0pt 0pt; float: left; display: block; height: 20px; font-size: 12px; }
#bloc_24 .actions a.button { margin: 0pt; padding: 0pt 4px 0pt 0pt; background: white url('replybtn.png') no-repeat scroll right bottom; float: right; display: block; height: 24px; font-family: Arial; color: white; font-weight: bold; }
#bloc_24 .bcontent { border-top: 0pt none; padding: 4px; overflow: auto; display: block; font-size: 12px; background-color: rgb(227, 233, 249); min-height: 30px; letter-spacing: 0.02em; line-height: 1.5em; font-family: verdana; color: black; }
#bloc_24 .bcontentsuppr { border-bottom: 1px solid rgb(203, 203, 203); padding: 4px; overflow: auto; display: block; background-color: rgb(204, 202, 196); font-size: 12px; min-height: 30px; letter-spacing: 0.01em; line-height: 1.3em; font-family: verdana; color: black; }
#bloc_24 pre { overflow: auto; white-space: pre-wrap; }
#bloc_24 .bcontent a { color: rgb(51, 95, 184); text-decoration: underline; }
#bloc_24 .bcontent a:hover, #bloc_24 .bcontent a:focus { color: rgb(149, 176, 229); text-decoration: none; }
#bloc_24 .bcontent p { margin: 0.5em 0pt; }
#bloc_24 .bcontent .signature { border-top: 1px solid rgb(204, 204, 204); display: block; font-size: 12px; color: rgb(134, 134, 134); max-width: 400px; white-space: pre-wrap; margin-top: 15px; padding-top: 5px; padding-bottom: 5px; }
#bloc_24 .stats { display: none; }
#bloc_24 .bfoot { margin-top: 10px; display: block; }
#bloc_24 .bhead { border-bottom: 1px solid rgb(203, 203, 203); margin: 0pt; display: block; }
#bloc_24 a.next { background: transparent url('sprite_forum2.png') no-repeat scroll 3px -370px; float: right; height: 15px; width: 15px; text-decoration: none; }
#bloc_24 .vide { float: right; height: 15px; width: 15px; }
#bloc_24 .bhead .parip, #bloc_24 .bhead .ip { overflow: hidden; float: right; color: rgb(102, 102, 102); font-family: Arial; font-size: 9px; margin-top: 3px; }
#bloc_24 .bhead .par { color: rgb(102, 102, 102); font-size: 14px; display: block; }
#bloc_24 .bhead .action_03 { background: transparent url('sprite_picto.png') no-repeat scroll -9px -687px; float: left; height: 16px; width: 16px; }
#bloc_24 .bhead .action_anonyme, #bloc_24 .bhead .anonyme { background: transparent url('sprite_picto.png') no-repeat scroll -10px -648px; display: block; float: left; width: 16px; height: 16px; }
#bloc_24 .bhead a.pseudo { color: rgb(94, 130, 216); font-weight: bold; }
#bloc_24 .bhead .close { color: rgb(255, 153, 153); }
#bloc_24 .bhead .info_msg { color: rgb(167, 180, 194); font-size: 13px; font-variant: small-caps; float: right; }
#bloc_24 .bhead .info_msg strong { float: left; }
#bloc_24 .bhead .info_msg input.submit { margin: 0pt 0pt 0pt 3px; padding: 0pt; background: rgb(170, 170, 170) none repeat scroll 0% 0%; float: left; font-family: Verdana; font-size: 10px; color: white; font-weight: bold; }
#bloc_24 .bhead .ok { color: rgb(34, 170, 34); }
#bloc_24 .bhead h1.titre { margin: 0pt 0pt 12px; padding: 0pt; display: block; line-height: 18px; width: 675px; font-size: 18px; font-family: arial; }
.bloc_25 { margin: 10px 0pt 0pt; background: transparent none repeat scroll 0% 0%; overflow: visible; float: left; clear: both; width: 679px; color: black; height: auto; padding-bottom: 0pt; }
.bloc_25bis { overflow: visible; margin-top: 15px; float: left; clear: both; width: 100%; }
.bloc_on { overflow: visible; float: left; height: auto; }
.bloc_25 b { font-weight: bold; }
.bloc_25 i { font-style: italic; }
.bloc_25 .ip { overflow: hidden; float: right; color: rgb(102, 102, 102); font-family: Arial; font-size: 9px; margin-top: 3px; }
.bloc_25 p.num, .bloc_25 p.numlast { border-bottom: 1px solid rgb(221, 221, 221); margin: 0pt; padding: 0pt; width: 23px; height: 18px; font-size: 14px; text-align: center; }
.bloc_25 p.num a, .bloc_25 p.num a:link { color: rgb(153, 153, 153); }
.bloc_25 p.numlast a, .bloc_25 p.numlast a:link { color: red; }
.bloc_25 .bfoot table { border-bottom: 0pt none; }
.bloc_25 td.answer_1 { border: 0pt none ; padding-bottom: 0pt; margin-bottom: 0pt; }
.bloc_25 .answer_1 .bcontent { border-top: medium none; background-color: rgb(227, 233, 249); }
.bloc_25 td.answer_g { border: 0pt none ; padding-bottom: 0pt; margin-bottom: 0pt; }
.bloc_25 td.answer_g .bcontent, .bloc_25 td.answer_g .bcontent_on, .bloc_25 td.answer_g .action_repondre, .bloc_25 td.answer_g .action_repondre_on { background-color: rgb(204, 202, 196); }
.bloc_25bis table { border-bottom: 0pt none; }
.bloc_25bis td.answer_1 { border: 0pt none ; }
.bloc_25bis td.answer_2 { border: 0pt none ; }
.bloc_25bis td.answer_g { border: 0pt none ; }
.bloc_25 td.actions { width: 23px; }
.bloc_25 ul.v_actions { margin: 0pt; padding: 0pt; width: 21px; list-style-type: none; display: block; }
.bloc_25 ul.v_actions li span { display: none; }
.bloc_25 ul.v_actions li { margin: 0pt; padding: 0pt; width: 21px; list-style-type: none; list-style-image: none; list-style-position: outside; }
.bloc_25 ul.v_actions li a { margin: 6px 0pt 0pt; padding: 0pt; text-decoration: none; display: block; height: 20px; }
.bloc_25 ul.v_actions li a.action_02 { background: transparent url('sprite_forum2.png') no-repeat scroll 0pt 0pt; }
.bloc_25 ul.v_actions li a.action_02:hover { background: transparent url('sprite_forum2.png') no-repeat scroll 0pt -25px; }
.bloc_25 ul.v_actions li a.action_02_off { background: transparent url('sprite_forum2.png') no-repeat scroll 0pt 0pt; }
.bloc_25 ul.v_actions li a.action_02_on { background: transparent url('sprite_forum2.png') no-repeat scroll 0pt -25px; padding-top: 5px; height: 30px; font-weight: bold; color: rgb(237, 55, 22); text-align: center; }
.bloc_25 ul.v_actions li a.action_02_on:hover { background: transparent url('sprite_forum2.png') no-repeat scroll 0pt -25px; }
.bloc_25 ul.v_actions li a.action_02_off_on { background: transparent url('sprite_forum2.png') no-repeat scroll 0pt 0pt; padding-top: 5px; height: 30px; font-weight: bold; color: rgb(237, 55, 22); text-align: center; }
.bloc_25 ul.v_actions li a.action_04 { background: transparent url('sprite_forum2.png') no-repeat scroll 0pt -175px; }
.bloc_25 ul.v_actions li a.action_06 { background: transparent url('sprite_forum2.png') no-repeat scroll 3px -100px; }
.bloc_25 ul.v_actions li a.action_09 { background: transparent url('sprite_forum2.png') no-repeat scroll 0pt -75px; }
.bloc_25 .bhead { border-bottom: 1px solid rgb(221, 221, 221); overflow: hidden; display: block; height: 18px; font-size: 14px; color: rgb(102, 102, 102); vertical-align: middle; }
.bloc_25 .stats { display: none; }
.bloc_25 .bhead .titre { font-size: 12px; font-weight: bold; }
.bloc_25 .bhead .action_03 { background: transparent url('membre.png') no-repeat scroll 3px 1px; display: block; float: left; width: 16px; height: 16px; padding-right: 1px; padding-left: 3px; }
.bloc_25 .bhead .action_anonyme { background: transparent url('sprite_picto.png') no-repeat scroll -8px -646px; display: block; float: left; width: 16px; height: 16px; padding-right: 1px; padding-left: 3px; }
.bloc_25 .bhead a.pseudo { color: rgb(94, 130, 216); }
.bloc_25 .bhead a.pseudo:hover { color: rgb(94, 130, 216); text-decoration: none; }
.bloc_25 .bhead .info_msg { float: right; width: 200px; }
.bloc_25 pre { overflow: auto; max-width: 600px; white-space: pre-wrap; }
.bloc_25 .thumbs { display: block; float: right; height: 80px; padding-left: 4px; }
.bloc_25 .bcontent .thumbs { visibility: hidden; }
.bloc_25 .bcontent { border: 1px solid rgb(221, 221, 221); padding: 4px; overflow: auto; display: block; font-size: 12px; min-height: 30px; letter-spacing: 0.02em; line-height: 1.5em; font-family: verdana; color: black; }
.bloc_25 .bcontent_on { border: 1px solid rgb(186, 219, 181); padding: 4px; overflow: auto; display: block; background-color: rgb(226, 255, 228); font-size: 12px; min-height: 80px; letter-spacing: 0.02em; line-height: 1.5em; font-family: verdana; color: black; }
.bloc_25 .bcontent_on .thumbs { background: transparent url('thumb-up.png') no-repeat scroll 0pt 0pt; display: block; height: 32px; width: 32px; }
.bloc_25 .bcontent a, .bloc_25 .bcontent_on a { color: rgb(51, 95, 184); text-decoration: underline; }
.bloc_25 .bcontent a:hover, .bloc_25 .bcontent a:focus, .bloc_25 .bcontent_on a:hover, .bloc_25 .bcontent_on a:focus { color: rgb(149, 176, 229); text-decoration: none; }
.bloc_25 .bcontent p, .bloc_25 .bcontent_on p { margin: 0.5em 0pt; }
.bloc_25 .signature { border-top: 1px solid rgb(204, 204, 204); display: block; font-size: 12px; color: rgb(134, 134, 134); max-width: 400px; white-space: pre-wrap; margin-top: 15px; padding-top: 5px; padding-bottom: 5px; }
.bloc_25 .bfoot { display: block; }
.bloc_25 .actions a { text-decoration: none; }
.bloc_25 .actions span { display: none; }
.bloc_25 a.action_repondre, .bloc_25 a.action_repondre_on { padding: 6px 0pt; float: left; position: relative; color: rgb(94, 130, 216); width: auto; }
.bloc_25 a.action_07 { background: transparent url('sprite_forum2.png') no-repeat scroll 0pt -328px; display: block; float: right; color: rgb(85, 85, 85); margin-top: 4px; padding-left: 11px; line-height: 20px; }
.bloc_25 div.actions a.action_07:hover { background: transparent url('sprite_forum2.png') no-repeat scroll 0pt -302px; }
.bloc_25 div.actions a.action_09 { background: transparent url('sprite_forum2.png') no-repeat scroll 0pt -282px; display: block; float: right; color: rgb(85, 85, 85); margin-top: 4px; padding-left: 11px; height: 9px; line-height: 20px; }
.bloc_25 div.actions a.action_09:hover { background: transparent url('sprite_forum2.png') no-repeat scroll 0pt -257px; }
.bloc_25 a.back { background: transparent url('sprite_forum2.png') no-repeat scroll 3px -347px; float: right; height: 15px; width: 15px; text-decoration: none; }
.bloc_25 a.next { background: transparent url('sprite_forum2.png') no-repeat scroll 3px -370px; float: right; height: 15px; width: 15px; text-decoration: none; }
.bloc_25 .vide { float: right; height: 15px; width: 15px; }
#menuList2 { border: 0pt none ; margin: 0pt; padding: 0pt; display: block; float: left; position: static; }
#menuList2 li { margin: 0pt; padding: 0pt; display: inline; list-style-type: none; list-style-image: none; list-style-position: outside; }
#menuList2 li a { border: 0pt none ; margin: 0pt; padding: 0pt 2px; background: transparent url('fonc_bg.png') repeat-x scroll -21px 0pt; color: black; font-weight: bold; display: block; text-decoration: none; }
#menuList2 li a:hover, #menuList2 li a:focus { background: transparent url('fonc_bg.png') repeat-x scroll 0pt 100%; text-decoration: underline; }
#menuList2 .menux { border: 1px solid rgb(134, 148, 175); margin: 0pt; padding: 0pt; background-color: white; color: black; position: absolute; visibility: hidden; }
#menuList2 .menux li a { border: 0pt none ; margin: 0pt; padding: 2px; background: white none repeat scroll 0% 0%; display: block; color: rgb(31, 96, 178); font-family: Verdana,Arial,sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 11px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
#menuList2 .menux li a:hover, #menuList2 .menux li a:focus { background: rgb(177, 199, 240) none repeat scroll 0% 0%; color: rgb(31, 96, 178); text-decoration: none; }

/* ::::: http://en.kioskea.net/styles/css.php?200901282024 ::::: */

* { margin: 0pt; padding: 0pt; }
body, #global { font-family: Arial,Tahoma,Helvetica,sans-serif; font-size: 12px; background-repeat: repeat-y; background-position: 50% 1px; }
#Bulle { border: 1px solid ; padding: 3px; position: absolute; visibility: hidden; left: auto; top: auto; width: auto; height: auto; z-index: 100; font-size: 9px; font-family: Verdana; }
#Bulle img { padding-right: 2px; }
#Bulle hr { clear: both; width: auto; }
img { border: 0pt none ; }
ul { list-style-type: none; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
table { font-family: Tahoma,Arial,Helvetica,sans-serif; font-size: 12px; }
textarea { font-family: Tahoma,Arial,Helvetica,sans-serif; }
.red { color: rgb(188, 0, 0); }
.green { color: Green; }
.grey { color: grey; }
pre { overflow: auto; font-family: "Courier New",Courier,mono; color: rgb(82, 105, 130); min-height: 30px; white-space: pre-wrap; }
#global { display: block; }
#preglobal { display: block; background-repeat: no-repeat; background-position: 50% 17px; height: 30px; }
#ccm { border-bottom: 1px solid; margin: 0pt auto; overflow: hidden; width: 996px; height: 29px; background-color: transparent; }
#printme { padding: 0pt; width: 690px; background-color: white; }
#ccm ul { float: right; }
#ccm ul li { display: inline; list-style-type: none; list-style-image: none; list-style-position: outside; }
#ccm li a { margin: 5px 0pt 0pt; padding: 0px 8px 0pt 0pt; display: block; float: left; color: rgb(45, 45, 45); text-align: center; font-weight: bold; background-position: right -13px; }
#ccm li a span { margin: 0pt; padding: 6px 0pt 5px 9px; display: block; float: left; background-position: -870px -13px; }
#ccm li.active a { background-position: right -38px; color: rgb(255, 255, 255); }
#ccm li.active a span { background-position: -870px -38px; }
#ccm a.rss { margin: 8px 6px 3px; width: 18px; height: 18px; background-position: -14px -11px; display: block; float: right; }
#ccm a.rss span { display: none; }
#ccm a.rss:hover { background-position: -32px -11px; }
#container { display: block; position: relative; width: 996px; margin-left: auto; margin-right: auto; }
#col_left { display: block; background-color: white; margin-right: 303px; }
#col_right { display: block; float: right; padding-top: 3px; width: 303px; }
#contenu { padding: 0pt 0pt 8px; overflow: hidden; background-color: white; display: block; float: left; width: 685px; }
#footer { padding: 10px 0pt 0pt; overflow: hidden; display: block; clear: both; width: 996px; }
#footer a, #footer a:link { text-decoration: none; }
#footer a:hover, #footer a:focus { text-decoration: none; }
#footer span.glossaire { display: block; font-family: Verdana; text-transform: uppercase; font-size: 10px; margin-left: 10px; }
#footer span.glossaire a { padding: 0pt 0pt 0pt 10px; }
#footer span.glossaire a:hover, #footer span.glossaire a:focus { text-decoration: underline; }
#footer .network { padding-right: 10px; width: 240px; float: right; }
#footer .network .name { border-bottom: 2px solid; float: right; clear: both; padding-bottom: 4px; margin-bottom: 4px; }
#footer .network b { float: right; display: block; font-size: 14px; font-weight: bold; font-family: Arial; }
#footer .network a { margin: 0pt; padding: 0pt 20px 0pt 0pt; float: right; clear: both; white-space: nowrap; font-family: Arial; color: rgb(94, 130, 216); }
#footer .network a.de { background: transparent url('sprite_flags.png') no-repeat scroll 100% -108px; }
#footer .network a.en { background: transparent url('sprite_flags.png') no-repeat scroll 100% -20px; }
#footer .network a.es { background: transparent url('sprite_flags.png') no-repeat scroll 100% -42px; }
#footer .network a.fr { background: transparent url('sprite_flags.png') no-repeat scroll 100% 2px; }
#footer .network a.it { background: transparent url('sprite_flags.png') no-repeat scroll 100% -86px; }
#footer .network a.pt { background: transparent url('sprite_flags.png') no-repeat scroll 100% -64px; }
#footer .about { float: left; font-family: Verdana; font-size: 10px; margin-left: 10px; margin-bottom: 10px; width: 996px; }
#footer .sub_nav .about a { padding: 0pt 4px 0pt 0pt; text-transform: uppercase; margin-bottom: 8px; }
#footer .sub_nav .about a:hover { text-decoration: underline; }
#head { display: block; height: 112px; }
#head #connexion { font-size: 9px; font-weight: bold; margin-top: 24px; text-align: right; float: right; height: 64px; width: 84px; padding-right: 7px; }
#head #connexion .btn_cnx { border: medium none ; padding: 0pt 5px 5px; float: right; clear: right; font-family: Verdana; font-style: normal; font-variant: normal; font-size: 10px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; width: 84px; height: 21px; background-position: -856px -63px; background-color: transparent; font-weight: bold; }
#head #connexion .champs { border: 1px solid ; padding: 5px 5px 5px 20px; height: 12px; width: 57px; float: right; clear: right; font-size: 10px; font-family: Verdana; font-weight: normal; margin-bottom: 2px; }
#head #connexion .login { background-position: -856px -307px; }
#head #connexion .pass { background-position: -941px -307px; }
#head #deconnexion { float: right; width: 160px; font-size: 10px; text-align: left; margin-top: 30px; padding-right: 7px; }
#head #deconnexion a { font-size: 14px; }
#head #deconnexion .pseudo { font-weight: bold; margin-left: 24px; }
#head #deconnexion .btn_decnx { border: medium none ; padding-bottom: 4px; margin-top: 4px; float: right; font-family: Verdana; font-style: normal; font-variant: normal; font-size: 10px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; width: 84px; height: 21px; background-position: -940px -63px; background-color: transparent; font-weight: bold; }
#head #deconnexion a:hover, #head #deconnexion a:focus { text-decoration: underline; }
#head #deconnexion img { margin-right: 5px; }
#deconnexion strong { font-size: 14px; }
.courrier { margin: 4px; display: block; height: 11px; float: left; width: 16px; background-position: -96px 0pt; }
.facteur { background: transparent url('courrier.gif') repeat scroll 0% 0%; }
#head .logo { margin: 8px 0pt 8px 12px; display: block; float: left; height: 97px; background-position: -752px -13px; width: 95px; }
#head .logo span { display: none; }
#head .mascotte { margin: 22px 0pt 0pt 100px; background-position: 0pt -127px; display: block; float: left; height: 73px; width: 553px; }
#bloc_top { border: medium none ; margin: 6px auto 0pt 30px; padding: 0pt; float: left; display: block; height: 90px; text-align: center; width: 728px; }
#bloc_top.adbottom, .adbottom { border-top: 1px solid rgb(204, 204, 204); border-bottom: 1px solid rgb(204, 204, 204); margin: 0pt; padding: 6px 0pt; display: block; width: 996px; }
#bloc_top.adbottom #ad_top, .adbottom #ad_top { margin: 0pt auto; float: none; width: 728px; }
#bloc_top #promo_left { margin: 0pt 0pt 0pt 7px; overflow: hidden; display: block; float: left; height: 90px; cursor: pointer; text-decoration: none; width: 244px; }
#bloc_top #promo_left span { color: white; cursor: pointer; display: block; font-family: verdana; width: 60px; text-align: left; }
#bloc_top #promo_left:hover { text-decoration: underline; color: white; }
.adbottom { margin: 0pt 0pt 0pt 125px; float: left; }
#bloc_bottom { margin: 2px 2px 2px 10px; display: block; width: 728px; height: 90px; }
#bloc_bottom * { background-color: black; }
#bloc_btm { border-style: solid none none; border-color: rgb(204, 204, 204) -moz-use-text-color -moz-use-text-color; border-width: 1px medium medium; margin: 0pt; float: left; display: block; text-align: center; background-color: white; width: 996px; }
#bloc_btm #ad_top { margin: 6px 0pt; background-color: white; }
#bloc_top_loading { background: transparent url('progress_bar.gif') no-repeat scroll 50% 50%; display: block; width: 100%; height: 90px; }
#bloc_middle_loading { background: transparent url('progress_bar.gif') no-repeat scroll 50% 50%; display: block; width: 300px; height: 250px; }
#head #mainsearchform { margin: 20px 0pt 0pt 109px; display: block; float: left; height: 60px; width: 523px; }
#head #mainsearchform .searchinto { padding: 1px 0pt; list-style-type: none; }
#head #mainsearchform .searchinto li { margin-left: 12px; margin-bottom: 4px; list-style-type: none; float: left; }
#head #mainsearchform .searchinto li.first { margin-left: 0pt; }
#head #mainsearchform .searchinto li a { text-decoration: underline; color: rgb(203, 203, 203); }
#head #mainsearchform .searchinto .selected { font-weight: bold; text-decoration: none; color: white; }
#head #mainsearchform .searchform { margin: auto; display: block; width: 500px; padding-top: 10px; }
#head #mainsearchform input { border: 1px solid rgb(119, 119, 119); height: 20px; }
#head #mainsearchform #searchinput { float: left; height: 18px; width: 380px; }
#head #mainsearchform #searchsubmit { float: left; clear: none; margin-left: 4px; }
#header { width: 996px; height: 160px; }
#tit_nav, .tit_nav, #foot_nav { border: 0pt none ; margin: 0pt; padding: 6px 0pt 6px 6px; overflow: hidden; float: left; width: 98%; background-color: white; }
#foot_nav { border: 0pt none ; padding-bottom: 10px; }
.home #tit_nav a, .home .tit_nav a, .home #foot_nav a { color: rgb(119, 119, 119); }
#tit_nav a, .tit_nav a, #foot_nav a { background: transparent url('slash.png') no-repeat scroll 0pt 3px; color: rgb(94, 130, 216); font-size: 16px; font-weight: bold; font-family: Arial; padding-left: 12px; text-decoration: none; }
#foot_nav a.prev, #foot_nav a.next { color: rgb(0, 0, 255); }
#tit_nav a.first, .tit_nav a.first, #foot_nav a.first { background: transparent none repeat scroll 0% 0%; padding-left: 0pt; }
#tit_nav a:hover, #tit_nav a:focus, .tit_nav a:hover, .tit_nav a:focus, #foot_nav a:hover, #foot_nav a:focus { text-decoration: underline; color: rgb(239, 137, 0); }
#tit_nav b, .tit_nav b, #foot_nav b { background: transparent url('ico_01.png') no-repeat scroll 3px 8px; font-size: 16px; padding-left: 12px; color: black; }
#tit_nav h1, .tit_nav h1 { margin: 0pt; padding: 5px 0pt 0pt; z-index: 0; font-size: 14px; font-weight: bold; color: rgb(2, 12, 24); display: block; text-align: center; }
#tit_nav a.prev, .tit_nav a.prev, #foot_nav a.prev { margin: 0pt; padding: 0pt 0pt 0pt 15px; background: transparent url('prev.png') no-repeat scroll 0pt 4px; display: block; text-decoration: underline; }
.listing { clear: left; }
.listing li { margin: 0pt; padding: 3px 1%; float: left; width: 18%; list-style-type: none; }
#foot_nav .prevtitle, #foot_nav .prevtitle:hover, #foot_nav .prevtitle:focus { margin: 6px 0pt 0pt; padding: 0pt 0pt 0pt 15px; background: transparent none repeat scroll 0% 0%; display: block; font-weight: bold; color: rgb(94, 130, 216); font-size: 12px; max-width: 250px; }
#foot_nav .nexttitle, #foot_nav .nexttitle:hover, #foot_nav .nexttitle:focus { margin: 6px 0pt 0pt; padding: 0pt 15px 0pt 0pt; background: transparent none repeat scroll 0% 0%; display: block; font-weight: bold; text-align: right; color: rgb(94, 130, 216); font-size: 12px; max-width: 250px; }
#foot_nav .img { border: 1px solid rgb(204, 204, 204); display: block; width: 158px; margin-top: 6px; height: 115px; }
#foot_nav .img span { padding: 1px 3px 3px; color: white; background-color: rgb(52, 174, 32); }
#foot_nav .prevtitle .img { float: left; }
#foot_nav .nexttitle .img { float: right; }
#tit_nav a.next, .tit_nav a.next, #foot_nav a.next { margin: 0pt; padding: 0pt 15px 0pt 0pt; background: transparent url('next.png') no-repeat scroll right 4px; display: block; text-decoration: underline; }
#tit_nav a.do, .tit_nav a.do { margin: 0pt 0pt 0pt 10px; padding: 0pt; background: transparent none repeat scroll 0% 0%; float: right; color: rgb(204, 116, 4); font-size: 12px; line-height: 20px; }
#tit_nav a.do:hover, .tit_nav a.do:hover { text-decoration: underline; }
#tit_nav .noprevnext, .tit_nav .noprevnext { display: block; width: 100px; }
#top_head { overflow: hidden; display: block; height: 19px; vertical-align: bottom; }
#top_head #status { float: left; margin-top: 1px; }
#top_head ul { padding: 2px 2px 2px 0pt; margin-left: 6px; float: left; }
#top_head li { margin: 2px; padding: 0pt 3px 0pt 7px; display: inline; list-style-type: none; list-style-image: none; list-style-position: outside; font-size: 11px; cursor: default; }
#top_head .datetime { padding: 0pt 3px 0pt 0pt; }
#top_head table { height: 19px; }
#top_head .pic_01 { vertical-align: bottom; }
#top_head .coul_01 { font-size: 9px; }
#top_head .coul_02 { font-size: 9px; }
#top_head .date { padding: 0pt 0pt 0pt 10px; }
#top_head .pic_01 img { margin: 0pt 3px 0pt 10px; }
#top_head span.membership { width: 248px; font-size: 11px; margin-top: 2px; text-align: center; float: left; }
#top_head span.membership a { text-decoration: underline; }
a.forgot span { display: none; }
#version { display: none; }
.showflags .membership { display: none; }
.showflags #version { display: block; }
.flags { padding: 3px 6px 6px; overflow: hidden; float: right; height: 11px; }
.flags:hover #version { float: left; display: block; }
.flag, a.flag { margin: 1px; overflow: hidden; background-image: url('sprite200811171637.gif'); float: left; display: block; text-indent: -9000px; width: 16px; height: 11px; }
a.flag span, a.flag span:hover, a.flag:hover span { display: none; }
.flag.en { background-position: -16px 0pt; }
.flag.es { background-position: -32px 0pt; }
.flag.pt { background-position: -48px 0pt; }
.flag.it { background-position: -64px 0pt; }
.flag.de { background-position: -80px 0pt; }
.bloc_tab { border: 0pt none ; margin: 0pt; padding: 0pt; background: transparent url('onglets4.png') repeat-x scroll left -59px; float: left; display: block; list-style-type: none; }
.bloc_tab li { margin: 0pt 6px 0pt 0pt; overflow: hidden; float: left; height: 23px; }
.bloc_tab a { padding: 5px 8px 6px 6px; background: transparent url('onglets4.png') repeat-x scroll left 0pt; float: left; display: block; color: rgb(255, 255, 255); text-decoration: none; font-weight: bold; }
.bloc_tab a:hover { text-decoration: underline; }
.bloc_tab li { background: transparent url('onglets4.png') repeat-x scroll left 0pt; padding-left: 4px; }
.bloc_tab li a { background: transparent url('onglets4.png') repeat-x scroll right 0pt; color: blue; font-size: 11px; font-weight: normal; }
.bloc_tab li a:hover { color: blue; text-decoration: underline; }
.bloc_tab li.active { background: transparent url('onglets4.png') repeat-x scroll left -29px; }
.bloc_tab li.active a { background: transparent url('onglets4.png') repeat-x scroll right -29px; color: white; }
.bloc .hide { display: none; }
.bloc .selected { display: block; }
#liste { background-color: rgb(249, 249, 249); }
#liste .info ul li a { width: 167px; display: block; padding-left: 4px; background-color: rgb(249, 249, 249); }
#liste .titre, #liste .info ul li a:hover { background-color: rgb(255, 255, 255); }
.bloc, .bloc .edit { margin: 10px 0pt 0pt 6px; overflow: hidden; float: left; width: 330px; clear: none; display: block; font-size: 14px; }
.bloc span.titre { display: block; font-weight: bold; font-size: 16px; }
.bloc .info ul li { padding: 2px 0pt 2px 19px; background-repeat: no-repeat; background-position: 0pt 3px; white-space: nowrap; line-height: 1.5em; }
.bloc .info ul li a { font-size: 14px; }
.bloc .info ul li a span { text-decoration: none; float: left; line-height: 19px; margin-right: 4px; }
.bloc .info ul li a:hover span, .bloc .info ul li a:focus span { text-decoration: none; float: left; }
.bloc .info ul li a span { font-size: 12px; font-weight: bold; margin-top: 2px; }
.bloc .titre a.editer { font-size: 10px; margin-top: 4px; opacity: 0; float: right; clear: right; }
.bloc:hover .titre a.editer { opacity: 1; }
.bloc.logiciel .pic { border: 1px solid ; margin: 3px 5px 2px 0pt; padding: 0pt; width: 80px; height: 40px; float: left; }
.bloc.logiciel img { margin: auto; vertical-align: middle; }
.bloc.logiciel div.desc { margin: 3px 0pt; width: 240px; float: right; }
.bloc.logiciel div.info { display: block; float: left; font-size: 14px; }
#liste, .bloc.large { width: 670px; clear: left; }
.bloc.tribune { height: 311px; }
#DF #bloc_lastfaq ul li { white-space: nowrap; }
#metriweblogo { float: left; clear: left; }
.chg, .chd, .cbg, .cbd { width: 7px; height: 7px; display: block; position: relative; }
.chg, .chd { top: 0pt; }
.cbg, .cbd { bottom: 0pt; margin-top: -5px; }
.chg, .cbg { left: 0pt; float: left; }
.chd, .cbd { right: 0pt; float: right; }
.chg { background-position: left top; }
.chd { background-position: right top; }
.cbg { background-position: left bottom; }
.cbd { background-position: right bottom; }
.widget .titre { border: 0pt none ; margin: 0pt 0pt 0pt 6px; padding: 0pt 3px; bottom: -8px; display: inline; position: relative; font-variant: small-caps; background-color: white; width: 300px; color: rgb(167, 180, 194); font-family: Arial; font-size: 14px; font-weight: bold; }
.widget:hover .titre, .widget ul li a { color: rgb(2, 73, 180); }
.widget ul, .widget .info { border: 1px solid rgb(202, 210, 219); margin: 0pt; padding: 0pt; background: transparent none repeat scroll 0% 0%; overflow: hidden; width: 298px; }
.widget:hover ul { border-color: rgb(2, 73, 180); }
.widget ul li { border: medium none ; margin: 0pt 2px; overflow: hidden; display: block; list-style-type: none; line-height: 1em; padding-bottom: 5px; padding-top: 5px; white-space: nowrap; }
.widget ul li span { color: rgb(110, 110, 110); }
.widget ul li span.green { color: green; }
.widget ul li span.red { color: rgb(188, 0, 0); }
.widget ul li.options { border: 0pt none ; margin: 0pt; padding: 0pt; height: 16px; }
.widget ul li.options a { float: right; }
.widget ul li.options a.prefs { display: none; }
.widget:hover ul li.options a.prefs { padding: 1px; display: inline; font-size: 11px; }
.widget ul li.options a.rss, .widget ul li.more a { margin: 1px; background: transparent url('sprite200811171637.gif') repeat scroll -78px -11px; display: block; float: right; height: 14px; width: 14px; }
.widget li span { padding: 0pt 4px 0pt 0pt; }
.widget li a.del img { width: 11px; height: 12px; visibility: hidden; }
.widget li a.del { padding: 0pt; background: transparent url('sprite_picto.png') no-repeat scroll 0pt -450px; margin-right: 3px; }
.widget li a.del:hover { background: transparent url('sprite_picto.png') no-repeat scroll -11px -450px; }
.widget ul li.options a.rss:hover { background-position: -50px -11px; }
.widget ul li.more { border: 0pt none ; margin: 0pt; padding: 0pt; height: auto; }
.widget li.more a { margin: 1px 1px 0pt 0pt; padding: 0pt; background: transparent url('sprite200811171637.gif') repeat scroll -78px -11px; display: block; float: right; height: 14px; width: 14px; }
.widget ul li.more a { background-position: -92px -11px; }
.widget ul li.more a:hover { background-position: -66px -57px; }
.widget ul li.more a span { display: none; }
.widget .shadow { background: transparent url('shadow.png') no-repeat scroll 0pt 0pt; height: 13px; display: block; }
#mainMenu1 { overflow: hidden; font-size: 11px; font-family: Verdana; z-index: 98; width: 100%; position: static; float: left; }
#menuList1 { position: static; z-index: 98; height: 27px; }
#menuList1 li { display: inline; list-style-type: none; list-style-image: none; list-style-position: outside; }
#menuList1 li a { border-right: 1px solid; padding: 7px 6px; background-repeat: repeat-x; background-position: 0pt 0pt; font-weight: bold; display: inline; font-size: 11px; line-height: 27px; text-decoration: none; }
#menuList1 li a:hover, #menuList1 li a:focus { text-decoration: underline; }
#menuList1 li a.actuator { width: auto; padding-right: 12px; }
#menuList1 li a.selected { background-repeat: repeat-x; background-position: 0pt -29px; }
#menuList1 .menux { border: 1px solid ; background-color: white; color: black; position: absolute; visibility: hidden; margin-top: -2px; z-index: 1000; }
#menuList1 .menux .menux { margin: 0pt; }
#menuList1 .menux li a { border-bottom: 1px solid; background: white none repeat scroll 0% 0%; display: block; font-weight: normal; line-height: 1em; }
#menuList1 .menux li a:hover, #menuList1 .menux li a:focus { text-decoration: none; }
a.rss { margin: 1px 5px 0pt 0pt; background: transparent url('sprite200811171637.gif') repeat scroll -50px -11px; float: left; width: 14px; height: 14px; display: block; }
a.rss:hover { background-position: -64px -11px; }
a.rss span { display: none; }
a.n { text-align: left; width: 100%; text-decoration: none; cursor: default; display: block; }
a.n:hover { text-align: left; text-decoration: none; }
a.automenu { margin: 0pt; padding: 0pt; text-align: left; width: 100%; text-decoration: none; cursor: default; display: block; }
a.automenu:hover { text-align: left; text-decoration: none; }
a.prefs:hover { text-decoration: underline; }
a.prefs, a.admin { margin: 2px 0pt; visibility: visible; float: right; font-size: 10px; }
.chg, .chd, .cbg, .cbd { width: 10px; height: 10px; display: block; font-size: 1px; line-height: 1px; position: relative; }
.ch { width: 181px; height: 10px; font-size: 1px; line-height: 1px; display: block; position: relative; }
.chg, .chd { top: 0pt; }
.cbg, .cbd { bottom: 0pt; margin-top: -10px; }
.chg, .cbg { left: 0pt; float: left; }
.chd, .cbd { right: 0pt; float: right; }
.chg { background-position: -183px -37px; }
.chd { background-position: -192px -37px; }
.cbg { background-position: -183px -46px; }
.cbd { background-position: -192px -46px; }
.bloc span.titre a.admin, .widget span.titre a.admin { color: rgb(255, 255, 255); }
.bloc span.titre a.admin:hover, .widget span.titre a.admin:hover { color: black; }
#searchbox { margin-top: 1px; width: 302px; white-space: nowrap; float: right; }
#searchwith { border: 0pt none ; }
#searchbox #btn_search { border: 0pt none ; margin: 2px 0pt 0pt 2px; padding: 0pt 0pt 3px; float: left; width: 84px; height: 21px; font-weight: bold; font-size: 10px; font-family: Verdana; background-color: transparent; background-position: -940px -84px; }
#searchwith .mots_cle { border: medium none ; margin: 2px 0pt 0pt; padding: 4px 0pt 0pt 90px; float: left; background-color: transparent; background-position: -816px -129px; font-size: 12px; height: 17px; width: 118px; }
#options_rech { border-bottom: 1px solid; padding: 1px 0pt 0pt; display: none; width: 100%; clear: both; min-height: 27px; }
#options_rech span { font-weight: bold; }
#options_rech .options { width: auto; padding-right: 1px; float: right; }
#options_rech .close { margin: 6px 8px 0pt 5px; background: transparent url('sprite200811171637.gif') repeat scroll 0pt -11px; float: right; height: 14px; width: 14px; }
#options_rech .close:hover { background-position: 0pt -25px; }
#options_rech .list_rech { border: 1px solid ; margin: 2px 0pt 2px 2px; padding: 1px; font-size: 13px; }
#options_rech #list_rech { border: 1px solid ; margin: 2px; padding: 1px; font-size: 13px; }
.widget li span.green { color: green; }
.widget li span.red { color: red; }
.bloc .info ul li a:link span.red { font-weight: bold; }
.bloc .info ul li a:visited span.red { font-weight: normal; }
.bloc .info ul li a:hover span.date { text-decoration: none; }
#bloc_middle { width: 300px; }
.bloc_10 { padding: 2px 4px 0pt; overflow: hidden; display: block; background-color: transparent; color: rgb(110, 110, 110); }
.bloc_10 .bdb { margin: 0pt; background: rgb(255, 255, 255) url('sprite_back.png') repeat-x scroll 0pt -576px; display: block; clear: both; height: 24px; padding-right: 8px; }
.bloc_10 .btn { border: 0pt none ; margin: 0pt; padding: 0pt; background: transparent url('sprite_blocks.png') no-repeat scroll right -78px; float: right; height: 24px; }
.bloc_10 .shadow { margin: 0pt; padding: 0pt; overflow: hidden; display: block; clear: both; height: 8px; }
.bloc_10 .subtitre { border-top: 1px solid rgb(79, 79, 129); border-bottom: 1px solid rgb(24, 24, 76); padding: 3px 4px 4px; display: block; background-color: rgb(47, 47, 76); color: rgb(217, 217, 255); font-weight: bold; }
.bloc_10 .titre { border-bottom: 1px solid rgb(206, 206, 255); margin: 1px; padding: 5px; background: rgb(99, 99, 149) url('sprite_back.png') repeat-x scroll 0pt -373px; display: block; color: rgb(255, 255, 255); font-weight: bold; font-size: 14px; letter-spacing: 1px; }
.bloc_10 .titre a { background: transparent url('rssico.png') no-repeat scroll 0% 0%; float: left; width: 14px; height: 14px; margin-right: 4px; margin-top: 2px; }
.bloc_10 a { color: rgb(47, 47, 76); font-size: 12px; }
.bloc_10 a.more { padding: 2px 6px 0pt 22px; background: transparent url('sprite_blocks.png') no-repeat scroll left -78px; display: block; font-weight: bold; color: rgb(255, 255, 255); margin-right: 6px; line-height: 21px; height: 22px; }
.bloc_10 a.more:hover, .bloc_10 a.more:focus { color: rgb(232, 232, 255); text-decoration: none; }
.bloc_10 a:hover, .bloc_10 a:focus { color: rgb(158, 158, 255); text-decoration: none; }
.bloc_10 li { border-bottom: 1px solid rgb(219, 219, 219); margin: 0pt; display: block; line-height: 1.2em; padding-top: 2px; padding-bottom: 3px; }
.bloc_10 li span { padding: 0pt 5px 0pt 0pt; display: block; float: left; font-size: 12px; }
.bloc_10 .cadre { border: 1px solid white; padding: 0pt; overflow: hidden; width: 291px; display: block; background-color: white; }
.bloc_10 ul { margin: 0pt; padding: 5px 7px; list-style-type: none; }
.bloc_11 { padding: 8px 0pt; overflow: visible; display: block; color: rgb(110, 110, 110); width: 300px; }
.bloc_11 .cadre { overflow: visible; }
.bloc_11 a { overflow: hidden; display: block; width: 296px; font-family: Arial; margin-left: 2px; line-height: 1.6em; white-space: nowrap; color: rgb(20, 91, 201); }
.bloc_11 a strong { font-weight: normal; }
.bloc_11 .hide a.last { display: none; }
.bloc_11 .titre { border: 0pt none ; margin: 0pt 0pt 0pt 6px; padding: 0pt 3px; background-color: white; top: -9px; color: rgb(167, 180, 194); display: inline; font-family: Arial; font-size: 14px; font-variant: small-caps; font-weight: bold; position: relative; width: 300px; }
.bloc_11:hover .titre { color: rgb(2, 73, 180); }
.bloc_11 .shadow { background: transparent url('shadow.png') no-repeat scroll 0pt 0pt; height: 9px; display: block; top: 17px; position: relative; }
.bloc_11 #similishowhide { border: 1px solid rgb(202, 210, 219); width: 300px; padding-bottom: 7px; }
.bloc_11 #similishowhide .searchbox { background: transparent url('search.png') no-repeat scroll 0% 0%; display: block; height: 50px; padding-left: 50px; }
.bloc_11 #similishowhide .results { background: transparent url('ticked.png') repeat-y scroll 0% 0%; overflow: hidden; width: 246px; padding-left: 54px; }
.bloc_11 #similishowhide .results a { border-top: 1px dotted rgb(204, 204, 204); padding: 3px 0pt; height: 20px; }
.bloc_11:hover #similishowhide { border-color: rgb(2, 73, 180); }
.bloc_11 #similishowhidelink span { display: none; }
.bloc_11 #similishowhidelink { margin: 1px; padding: 0pt; width: 14px; height: 14px; background-image: url('sprite.gif'); float: right; display: block; }
.bloc_11 .hide #similishowhidelink { background-position: 0pt -69px; }
.bloc_11 .hide #similishowhidelink:hover { background-position: -27px -69px; }
.bloc_11 .show #similishowhidelink { background-position: -13px -69px; }
.bloc_11 .show #similishowhidelink:hover { background-position: -40px -69px; }
#MS .bloc_11 a { color: rgb(161, 49, 121); }
#MS .bloc_11:hover .titre { color: rgb(161, 49, 121); }
#DF .bloc_11:hover .titre { color: rgb(119, 119, 119); }
#MS .bloc_11:hover #similishowhide { border-color: rgb(161, 49, 121); }
#DF .bloc_11:hover #similishowhide { border-color: rgb(119, 119, 119); }
.bloc_12 { margin: 10px 0pt 0pt; color: rgb(113, 119, 108); float: left; width: 300px; }
.bloc_12 .cadre { text-align: left; font-family: Arial; font-size: 1.2em; }
.bloc_12 .titre { border-bottom: 2px solid rgb(203, 203, 203); padding: 5px 5px 0pt; color: black; display: block; font-size: 16px; font-family: Arial; text-align: left; font-weight: bold; }
.bloc_12 a { font-weight: normal; text-decoration: none; }
.bloc_12 a:hover { color: rgb(239, 137, 0); text-decoration: underline; }
.bloc_12 .logo { margin: 0pt 4px 0pt 0pt; padding: 4px 12px 0pt; display: block; float: left; }
.bloc_12 .btn { margin: 10px 0pt 0pt; float: right; }
.bloc_12 a.more { margin: 0pt 6px 0pt 0pt; padding: 0pt; display: block; color: rgb(94, 130, 216); font-weight: bold; font-size: 14px; font-family: Arial; }
#bloc_14 { border-style: solid none none; border-color: white -moz-use-text-color -moz-use-text-color; border-width: 1px 0pt 0pt; margin: 0pt auto; padding: 0pt; background: rgb(222, 232, 249) none repeat scroll 0% 0%; display: block; width: 996px; height: 90px; text-align: center; }
#bloc_18 { margin: 10px 0pt 0pt 6px; overflow: hidden; float: left; width: 673px; background-color: rgb(223, 234, 255); color: rgb(0, 0, 0); }
#bloc_18 a { color: rgb(6, 80, 155); font-weight: bold; text-decoration: none; }
#bloc_18 a:hover, #bloc_18 a:focus { color: rgb(50, 124, 197); }
#bloc_18 img { margin-right: 3px; line-height: 1.4em; vertical-align: 7%; }
#bloc_18 p { margin: 0pt; padding: 7px; }
#bloc_18 .submit { border: 1px solid rgb(49, 63, 91); margin: 5px; padding: 1px 4px; background: rgb(49, 63, 91) url('sprite_back.png') repeat-x scroll 0pt -456px; font-size: 12px; color: white; font-weight: bold; display: block; }
#bloc_18 span.titre { border-bottom: 1px solid rgb(63, 110, 255); padding: 4px; background: rgb(52, 124, 195) url('sprite_back.png') repeat-x scroll 0pt -73px; display: block; color: rgb(255, 255, 255); font-weight: bold; }
#bloc_18 span.sub_tit { margin: 10px 0pt; padding: 0pt 15px; background: transparent url('pus_01.png') no-repeat scroll 0pt 2px; font-weight: bold; display: block; }
#bloc_alert_info { margin: 10px 0pt 0pt 6px; overflow: hidden; float: left; width: 673px; background-color: rgb(255, 245, 139); color: black; }
#bloc_alert_info a { color: rgb(23, 139, 48); font-weight: bold; text-decoration: underline; }
#bloc_alert_info strong { color: red; font-weight: bold; }
#bloc_alert_info a:hover, #bloc_alert_info a:focus { color: rgb(35, 211, 72); }
#bloc_alert_info img { margin-right: 3px; line-height: 1.4em; vertical-align: 7%; }
#bloc_alert_info div.content { margin: 2px 0pt 0pt 2px; padding: 2px 0pt 0pt 70px; background: transparent url('puzzle-sign.png') no-repeat scroll 0pt 0pt; display: block; min-height: 70px; }
#bloc_alert_info input.submit { border: 1px solid rgb(49, 63, 91); margin: 5px; padding: 1px 4px; background: rgb(49, 63, 91) url('sprite_back.png') repeat-x scroll 0pt -456px; font-size: 12px; color: white; font-weight: bold; display: block; }
#bloc_alert_info span.titre { border-bottom: 1px solid rgb(215, 135, 0); padding: 4px; background: rgb(215, 135, 0) url('sprite_back.png') repeat-x scroll 0pt -400px; display: block; color: white; font-weight: bold; }
#bloc_alert_err { margin: 10px 0pt 0pt 6px; overflow: hidden; float: left; width: 673px; text-align: center; background-color: rgb(251, 227, 227); color: rgb(161, 27, 27); }
#bloc_alert_err a { color: rgb(161, 27, 27); font-weight: bold; text-decoration: underline; }
#bloc_alert_err a:hover, #bloc_alert_err a:focus { color: rgb(208, 38, 38); }
#bloc_alert_err img { margin-right: 3px; line-height: 1.4em; vertical-align: 7%; }
#bloc_alert_err p { margin: 0pt; padding: 7px; }
#bloc_alert_err .submit { border: 1px solid rgb(49, 63, 91); margin: 5px; padding: 1px 4px; background: rgb(49, 63, 91) url('sprite_back.png') repeat-x scroll 0pt -456px; font-size: 12px; color: white; font-weight: bold; display: block; }
#bloc_alert_err span.titre { border-bottom: 1px solid rgb(148, 24, 24); padding: 4px; background: rgb(173, 29, 29) url('sprite_back.png') repeat-x scroll 0pt -173px; display: block; color: rgb(255, 255, 255); text-align: left; font-weight: bold; }
#bloc_alert_ok { margin: 10px 0pt 0pt 6px; overflow: hidden; float: left; width: 673px; background-color: rgb(227, 251, 232); color: black; }
#bloc_alert_ok a { color: rgb(23, 139, 48); font-weight: bold; text-decoration: underline; }
#bloc_alert_ok strong { color: red; font-weight: bold; }
#bloc_alert_ok a:hover, #bloc_alert_ok a:focus { color: rgb(35, 211, 72); }
#bloc_alert_ok img { margin-right: 3px; line-height: 1.4em; vertical-align: 7%; }
#bloc_alert_ok p { margin: 0pt; padding: 7px; }
#bloc_alert_ok .submit { border: 1px solid rgb(49, 63, 91); margin: 5px; padding: 1px 4px; background: rgb(49, 63, 91) url('sprite_back.png') repeat-x scroll 0pt -456px; font-size: 12px; color: white; font-weight: bold; display: block; }
#bloc_alert_ok span.titre { border-bottom: 1px solid rgb(29, 173, 59); padding: 4px; background: rgb(29, 173, 59) url('sprite_back.png') repeat-x scroll 0pt -126px; display: block; color: white; font-weight: bold; }
#bloc_alert_ok p.tit_02 { margin: 0pt; padding: 30px 0pt 18px 50px; background: transparent url('pic_02.png') no-repeat scroll 0pt 0pt; clear: left; }
#bloc_simili { margin-left: 6px; margin-top: 30px; width: 673px; float: left; }
#bloc_simili .bloc_tabs, #bloc_simili .bloc_tabs.hide { display: none; }
#bloc_simili .bloc_tabs.selected { width: 100%; float: left; display: block; }
#bloc_simili .bloc_tab { margin: 0pt; display: block; float: right; list-style-type: none; }
#bloc_simili .bloc_tab li { background: transparent url('onglets3.png') repeat-x scroll left 0pt; display: block; float: left; margin-left: 4px; padding-left: 4px; }
#bloc_simili .bloc_tab li.active { background: transparent url('onglets3.png') repeat-x scroll left -30px; }
#bloc_simili .bloc_tab a { padding: 5px 12px 5px 8px; background: transparent url('onglets3.png') repeat-x scroll right 0pt; display: block; float: left; color: rgb(2, 94, 179); font-size: 12px; font-weight: normal; }
#bloc_simili .bloc_tab a:hover, #bloc_simili .bloc_tab a:focus { text-decoration: underline; }
#bloc_simili .bloc_tab li.active a { background: transparent url('onglets3.png') repeat-x scroll right -30px; color: white; text-decoration: none; }
#bloc_simili .result { border-width: 1px; width: 100%; float: left; display: block; }
#bloc_simili .result .resulthead { border-top: 1px solid rgb(107, 144, 218); width: 100%; float: left; display: block; color: black; background-color: rgb(235, 239, 249); height: 25px; }
#bloc_simili .result .resulthead p { margin: 4px 4px 4px 10px; padding: 0pt; font-size: 14px; }
#bloc_simili .result a:hover, #bloc_simili .result a:focus { text-decoration: none; }
#bloc_simili .result a:hover span, #bloc_simili .result a:focus span { border-color: rgb(94, 130, 216); color: rgb(94, 130, 216); }
#bloc_simili .similiitem { display: block; float: left; width: 100%; }
#bloc_simili .similiitem .img { border: 1px solid rgb(203, 203, 203); margin: 0pt; background: transparent url('nopicsmall.png') no-repeat scroll 50% 50%; float: left; display: none; width: 120px; height: 90px; }
#bloc_simili .similiitem .img span { overflow: hidden; display: block; color: rgb(153, 153, 153); width: 120px; text-decoration: none; height: 90px; }
#bloc_simili .similiitem .img span span { border: 0pt none ; display: block; float: right; height: auto; width: auto; font-size: 9px; font-family: Verdana; margin-right: 3px; margin-top: 75px; }
#bloc_simili .similiitem .resitem { padding: 8px; float: left; }
#bloc_simili .similiitem .resitem a.title { display: block; width: 100%; color: rgb(0, 0, 204); text-decoration: underline; font-size: 16px; float: left; }
#bloc_simili .similiitem .resitem span.description { display: block; font-family: Arial; font-size: 13px; margin-top: 2px; margin-bottom: 2px; letter-spacing: 0.02em; line-height: 1.4em; width: 100%; clear: both; max-width: 42em; text-align: justify; float: left; }
#bloc_simili .similiitem .resitem a.url { display: block; width: 100%; clear: left; color: rgb(0, 128, 0); float: left; }
.seemoreresults { padding: 0pt; float: left; display: block; width: 100%; background-color: rgb(236, 236, 236); }
.seemoreresults span.other { margin: 1px; padding: 5px; float: left; color: rgb(68, 68, 68); font-size: 12px; letter-spacing: 0pt; line-height: 20px; display: block; }
.seemoreresults span.other a { margin: 2px; color: rgb(0, 0, 204); text-decoration: underline; font-weight: bold; }
.seemoreresults span.pages { margin: 1px; padding: 5px; float: right; color: rgb(0, 0, 0); }
.seemoreresults span.pages strong { border: 1px solid rgb(249, 94, 0); margin: 2px; background: rgb(249, 94, 0) none repeat scroll 0% 0%; float: left; font-family: Arial; font-weight: bold; height: 16px; width: 16px; text-align: center; color: white; }
.seemoreresults span.pages a { margin: 2px; float: left; font-family: Arial; height: 16px; width: 16px; text-align: center; text-decoration: underline; color: black; }
.seemoreresults span.pages a:hover, span.pages a:focus { border: 1px solid rgb(249, 94, 0); background: rgb(249, 94, 0) none repeat scroll 0% 0%; color: white; }
.seemoreresults span.pages a.nxt { border: 0pt none ; margin: 1px 1px 1px 6px; background: transparent url('nextblue.png') no-repeat scroll right 3px; float: right; font-family: Arial; font-size: 15px; display: block; height: 16px; width: auto; text-align: center; padding-right: 15px; font-weight: bold; text-decoration: underline; color: rgb(0, 0, 255); }
#seemoreanswers { border-style: none solid solid; border-color: -moz-use-text-color rgb(203, 203, 203) rgb(203, 203, 203); border-width: 0pt 1px 1px; padding: 4px 0pt; float: left; display: block; width: 675px; background-color: rgb(236, 236, 236); margin-bottom: 6px; clear: both; }
#seemoreanswers span { display: block; clear: both; color: rgb(68, 68, 68); font-size: 14px; letter-spacing: 0pt; line-height: 20px; margin-top: 0pt; padding-left: 22px; float: right; }
#seemoreanswers a { color: rgb(0, 0, 204); text-decoration: underline; font-weight: bold; }
.adsense { margin: 20px 0pt; padding: 0pt; float: left; width: 100%; }
.adsense div { width: 49%; float: left; }
.gaBlock { margin: 0pt; display: block; float: left; width: 600px; padding-top: 10px; }
.gaBlock_afs { border: 1px solid rgb(208, 208, 208); margin: 0px; padding: 10px; float: left; width: 600px; background-color: rgb(251, 252, 255); }
.gaTitle { text-decoration: underline; color: rgb(0, 0, 204); font-size: 16px; font-family: Arial,Helvetica,sans-serif; }
.gaText { color: rgb(0, 0, 0); }
.gaUrl { color: rgb(0, 128, 0); }
.gaBigTitle { text-decoration: underline; color: rgb(94, 130, 216); font-size: 20pt; font-weight: bolder; }
.gaBigText { color: rgb(0, 0, 0); font-size: 12pt; }
.gaBigUrl { color: rgb(0, 0, 0); font-size: 12pt; }
.grad { text-decoration: underline; color: rgb(255, 0, 0); font-size: 17px; font-weight: bolder; font-family: Arial,Helvetica,sans-serif; }
.gh1 { margin: 0pt; padding: 6px 0pt 0pt; float: left; display: block; width: 100%; text-align: left; clear: both; font-size: 12px; color: rgb(96, 96, 96); font-weight: normal; text-decoration: none; }
.gg1 { margin: 0pt; padding: 6px 0pt 0pt; float: left; display: block; width: 100%; text-align: left; clear: both; font-size: 12px; color: rgb(96, 96, 96); font-weight: normal; text-decoration: none; }
.ad_header { color: rgb(0, 0, 0); font-weight: bold; padding-bottom: 7px; font-size: 13px; }
.ad_line1 { color: rgb(0, 0, 255); font-size: 15px; text-decoration: underline; }
.ad_text { color: rgb(0, 0, 0); font-size: 13px; text-decoration: none; }
.ad_url { color: rgb(0, 128, 0); font-size: 13px; margin-bottom: 12px; text-decoration: none; }
.search_header { padding: 4px; background: rgb(238, 238, 238) none repeat scroll 0% 0%; font-size: 15px; font-weight: bold; }
.wide_ads { padding: 10px; background: rgb(221, 248, 204) none repeat scroll 0% 0%; }
.narrow_ads { padding: 10px; background: rgb(229, 236, 249) none repeat scroll 0% 0%; }
#wide_ad_unit { float: left; width: 600px; margin-left: 12px; }
#narrow_ad_unit { margin-left: 12px; }
#narrow_ad_unit h1 { border-bottom: 1px solid rgb(170, 170, 170); margin: 0pt; padding: 0pt; float: left; width: 600px; }
.omber { float: left; width: 600px; background-image: url('s280.gif'); height: 20px; display: block; background-repeat: no-repeat; }
#Bulle { background-color: rgb(227, 236, 255); }
#header, .widget .cadre, #tit_nav, a.n, #options_rech .list_rech, #options_rech #list_rech, .bloc.about .titre { background-color: rgb(255, 255, 255); }
.widget, .widget a.prefs { background-color: transparent; }
.bloc.logiciel .pic { background-color: rgb(204, 204, 204); }
#header, #options_rech, .bloc.about { background-color: rgb(0, 0, 0); }
#footer { background-color: rgb(0, 0, 0); }
#global, #preglobal { background-color: rgb(138, 138, 138); }
.courrier, #footer .network a span { background-image: url('sprite_001.gif'); }
.facteur { background: transparent url('courrier.gif') repeat scroll 0% 0%; }
.newmail { background: transparent url('newmail.gif') repeat scroll 0% 0%; }
.bloc.dossiers .info ul li { background-image: none; }
.bloc.dossiers ul li.collapsible a.collapse { background-image: url('collapsed.png'); }
.bloc.dossiers ul li.collapsible a.expand { background-image: url('expanded.png'); }
.chg, .chd, .cbg, .cbd { background-image: url('sprite_002.gif'); }
.widget li a.del { background-image: url('sprite_picto.png'); }
#global { background-image: url('sprite_hrzt.png'); }
#head { background-position: 0pt -59px; background-image: url('sprite_vert.png'); }
#tit_nav b { background-image: url('ico_01.png'); }
#tit_nav a.prev { background-image: url('prev.png'); }
#tit_nav a.next { background-image: url('next.png'); }
.bloc.logiciel .pic, .bloc.new .title, .bloc.news h2, .bloc.news img, #options_rech, #tit_nav { border-color: rgb(203, 203, 203); }
.widget li { border-color: rgb(219, 219, 219); }
#Bulle { border-color: rgb(6, 42, 81); }
.bloc.new:hover img, #about:focus .img, .bloc.new:focus .img, .bloc.news .item:hover img, .bloc.news .item:focus img { border-color: rgb(94, 130, 216); }
#ccm { border-bottom: 1px solid rgb(0, 0, 0); }
#top_head { border-bottom: 1px solid rgb(68, 68, 68); }
#footer .network .name { border-color: rgb(85, 85, 85); }
.widget .titre { border-color: rgb(203, 203, 203); }
.bloc span.titre { border-color: rgb(200, 200, 200); }
#options_rech .list_rech, #options_rech #list_rech { border-color: rgb(134, 148, 175); }
#searchbox #btn_search, #options_rech span, #options_rech .options, .bloc .info ul li.more a, .bloc div.info span.more { color: white; }
.widget .titre { color: rgb(0, 0, 0); }
#Bulle { color: rgb(0, 0, 0); }
#tit_nav a { color: rgb(94, 130, 216); }
#tit_nav a:hover, #tit_nav a:focus { color: rgb(239, 137, 0); }
#tit_nav h1 { color: rgb(2, 12, 24); }
a { color: rgb(2, 73, 180); }
#top_head { color: rgb(85, 85, 85); }
#top_head b, #top_head #status:hover { color: rgb(153, 153, 153); }
#top_head a, #top_head b { color: rgb(153, 153, 153); }
#top_head #status:hover b { color: rgb(255, 255, 255); }
#top_head .inscription a { color: rgb(228, 228, 228); }
.bloc div.info span { color: rgb(110, 110, 110); }
#tit_nav b, .bloc .info ul li a, .bloc .info ul li a:hover, .bloc.new a.desc, .bloc.logiciel div.desc, .bloc.about .info a, .widget .bdb, a.n, a.n:hover, a.automenu, a.automenu:hover { color: rgb(0, 0, 0); }
.bloc.dossiers a, .bloc.dossiers .info ul li li a, .bloc.dossiers a:link { color: rgb(32, 108, 174); }
.bloc.dossiers .info ul li li a:hover, .bloc.dossiers .info ul li li a:focus { color: rgb(47, 158, 255); }
.bloc.dossiers a, .bloc.dossiers a:link { color: rgb(0, 0, 0); }
.bloc .info ul li a.red:hover span, .bloc .info ul li a.red:focus span, .bloc .info ul:hover li.more a:hover, .bloc .info ul:hover li.more a:focus, .bloc:hover div.info span.more:hover, .bloc:hover div.info span.more:focus { color: rgb(0, 0, 0); }
.bloc.new .title, .bloc.news .title, .bloc.about strong { color: rgb(94, 130, 216); }
.bloc.news h2, .widget a.date, .widget a.anon, .bloc .info ul:hover li.more a, .bloc:hover div.info span.more { color: rgb(119, 119, 119); }
.widget li a { color: rgb(10, 99, 182); }
.widget li a:hover, .widget li a:focus { color: rgb(50, 124, 197); }
.widget a.more, #liste a { color: rgb(94, 130, 216); }
.widget a.more:hover, .widget a.more:focus, #liste a:hover, #liste a:focus { color: rgb(50, 124, 197); }
.bloc span.titre, .bloc span.titre a, .bloc.guide .info ul li a { color: rgb(119, 119, 119); }
.widget .subtitre { color: rgb(215, 228, 255); }
#menuList1 .menux li a { color: rgb(45, 45, 45); }
#footer { color: rgb(86, 86, 86); }
#footer span.glossaire a { color: rgb(136, 136, 136); }
#footer span.glossaire a:hover, #footer span.glossaire a:focus { color: rgb(255, 152, 1); }
#footer a, #footer a:link { color: rgb(95, 95, 95); }
#footer a:hover, #footer a:focus { color: rgb(243, 247, 252); }
#footer .network a { color: rgb(94, 130, 216); }
#footer span.sub_nav .about a { color: rgb(95, 95, 95); }
#footer .sub_nav .about a:hover { color: rgb(47, 47, 47); }
#footer .network b { color: rgb(255, 255, 255); }
#head #connexion { color: rgb(222, 233, 244); }
#head #connexion .champs { color: rgb(170, 170, 170); }
#head #connexion .champs:hover, #head #connexion .champs:focus { color: rgb(0, 0, 0); }
#head #connexion .btn_cnx, #head #deconnexion .btn_decnx, #top_head .coul_01 { color: rgb(255, 255, 255); }
#head #deconnexion, #head #deconnexion a, #head #deconnexion a:link, #top_head a:hover, #top_head span.membership:hover, #head #deconnexion a:hover, #head #deconnexion a:focus { color: rgb(255, 255, 255); }
#head #deconnexion .newmp, #head #deconnexion .newmp a { color: rgb(255, 193, 5); }
.widget .subtitre { border-top: medium none rgb(31, 96, 178); border-bottom: medium none rgb(4, 43, 83); }
#searchwith .mots_cle, #options_rech .list_rech, #options_rech #list_rech { color: rgb(46, 51, 60); }
#mainMenu1 { background-image: url('sprite_vert.png'); }
#menuList1 li a { border-color: rgb(59, 59, 59); color: white; background-image: url('sprite_vert.png'); }
#menuList1 li a:hover, #menuList1 li a:focus { color: white; }
#menuList1 li a.selected { color: black; background-image: url('sprite_vert.png'); }
#menuList1 li a.selected:hover { color: black; }
#menuList1 .menux { border-color: white rgb(170, 170, 170) rgb(170, 170, 170); background-color: white; color: black; }
#menuList1 .menux li a { border-color: rgb(203, 203, 203); background: white none repeat scroll 0% 0%; color: rgb(45, 45, 45); }
#menuList1 .menux li a:hover, #menuList1 .menux li a:focus { color: rgb(15, 15, 15); background-color: rgb(238, 238, 238); }
#head .mascotte { margin: 17px 0pt 0pt 82px; background-position: 0pt -127px; height: 75px; width: 612px; }
#menuList1 li a.selected { border-bottom-color: white; }
#head #connexion { margin-top: 22px; }
#head #connexion .champs { border: 1px solid rgb(191, 191, 191); padding: 5px 5px 5px 20px; width: 57px; }
#menuList1 li a.selected { background-position: 0pt -29px; }
#footer .network a.supinfo { background: transparent url('logosupinfo.jpg') no-repeat scroll 100% 0pt; line-height: 16px; padding-right: 20px; font-size: 10px; }
#preglobal, #ccm li a, #ccm li a span, #head #connexion input, #head #deconnexion input, #head .logo, #head .mascotte, #searchbox #btn_search, #searchwith .mots_cle { background-image: url('sprite_en.jpg'); }
#head .mascotte { margin: 17px 0pt 0pt 259px; background-position: 0pt -127px; height: 67px; width: 254px; }
