
/* ::::: http://www.neowin.net/forum/style_images/css_64.css ::::: */

* { outline-color: -moz-use-text-color; outline-style: none; outline-width: medium; }
body { margin: 5px 10px 15px; background: rgb(72, 101, 131) url('body_bg.png') repeat-x scroll 0% 0%; color: rgb(68, 68, 68); font-family: Verdana,Helvetica,Arial,sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 62.5%; line-height: 150%; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
a, a:link, a:active, a:visited { color: rgb(51, 102, 153); cursor: pointer; text-decoration: none; }
a:hover { text-decoration: underline; }
table, tr, td { font-size: 8.5pt; line-height: 160%; }
form { margin: 0pt; padding: 0pt; display: inline; }
img { border: 0pt none ; vertical-align: middle; }
label { cursor: pointer; }
ul { margin: 5px 5px 15px 30px; padding: 0px; list-style-type: disc; }
ul li { margin: 0pt; padding: 0pt; }
textarea, .bginput { border: 1px solid rgb(193, 213, 233); padding: 3px 2px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(34, 34, 34); font-family: Verdana,Tahoma,Arial,Sans-Serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; vertical-align: middle; }
select, input { padding: 1px; color: rgb(34, 34, 34); font-family: Verdana,Tahoma,Arial,Sans-Serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 11px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; vertical-align: middle; }
optgroup { font-family: Verdana,Tahoma,Arial,Sans-Serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 11px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
.register input { padding: 2px; }
.register fieldset { border: 1px solid rgb(160, 164, 168); padding: 4px 8px 8px; }
.button { border: 1px solid rgb(193, 213, 233); padding: 2px; background: rgb(223, 230, 239) none repeat scroll 0% 0%; color: rgb(0, 0, 0); font-family: Verdana,"Lucida Grande",Tahoma,Arial,"Trebuchet MS",Sans-Serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 11px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; vertical-align: middle; }
.clear { clear: both; }
.ball { border: 1px solid rgb(193, 213, 233); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.bleft { border-left: 1px solid rgb(193, 213, 233); }
.bright { border-right: 1px solid rgb(193, 213, 233); }
.btop { border-top: 1px solid rgb(193, 213, 233); }
.bbot { border-bottom: 1px solid rgb(193, 213, 233); }
.ball2 { border: 1px solid rgb(30, 88, 146); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.bleft2 { border-left: 1px solid rgb(30, 88, 146); }
.bright2 { border-right: 1px solid rgb(30, 88, 146); }
.btop2 { border-top: 1px solid rgb(30, 88, 146); }
.bbot2 { border-bottom: 1px solid rgb(30, 88, 146); }
.box1alt { margin: 0pt; padding: 0pt 5px 3px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.box2 { border-top: 1px solid rgb(226, 227, 230); border-bottom: 1px solid rgb(226, 227, 230); padding: 5px; background: rgb(233, 238, 247) url('box2_bg.gif') repeat-x scroll 0% 0%; }
#container { margin: 0pt auto; font-size: 120%; min-width: 970px; width: 90%; }
#header { background: rgb(20, 82, 133) url('header_bg.png') repeat-x scroll 0pt -240px; color: rgb(255, 255, 255); height: 120px; margin-bottom: 5px; }
#header-l { background: transparent url('header_bg.png') no-repeat scroll left 0pt; }
#header-r { background: transparent url('header_bg.png') no-repeat scroll right -120px; }
#header-top { padding: 0pt 10px; height: 89px; }
#header-logo { padding: 8px 0pt; float: left; width: 220px; }
#header-logo h1 { margin: 0pt; padding: 0pt; }
#header-logo h1 a { background: transparent url('header_logo.png') no-repeat scroll 0% 0%; display: block; height: 73px; width: 215px; }
#header-logo h1 a span { display: none; }
#header-search { padding: 35px 0pt 0pt; float: right; text-align: center; width: 220px; }
#header-search-box { margin: 0pt auto; padding: 1px 1px 1px 25px; background: transparent url('header_search.png') no-repeat scroll 0% 0%; height: 21px; width: 124px; }
#header-search-box input { border: 0pt none ; margin: 4px 0pt 0pt; padding: 0pt; background: rgb(246, 251, 255) none repeat scroll 0% 0%; color: rgb(82, 82, 82); cursor: text; float: left; font-size: 11px; height: 14px; line-height: 11px; outline-color: -moz-use-text-color; outline-style: none; outline-width: medium; text-align: left; width: 120px; }
#header-search-sub { padding: 5px 0pt 0pt 1px; font-size: 11px; }
#header-banner { margin: 0pt 230px; padding: 15px 0pt 14px; height: 60px; text-align: center; }
#rev-fullbanner { margin: 0pt auto; background: rgb(209, 224, 239) none repeat scroll 0% 0%; height: 60px; width: 468px; }
#header-bot { padding: 0pt 10px 1px; clear: both; height: 30px; }
#header-userbar { float: left; font-size: 90%; line-height: 30px; }
#header-userbar a { color: rgb(174, 213, 255); }
#header-nav { float: right; height: 30px; }
#nav { margin: 0pt; padding: 0pt 2px 0pt 0pt; list-style-type: none; list-style-image: none; list-style-position: outside; }
#nav li { float: left; }
#nav li a.navitem { padding: 0pt 14px; background: transparent url('header_nav.png') no-repeat scroll 0pt 0pt; color: rgb(149, 187, 223); display: block; font-family: Tahoma,Arial,Sans-Serif; font-style: normal; font-variant: normal; font-weight: bold; font-size: 100%; line-height: 30px; font-size-adjust: none; font-stretch: normal; -x-system-font: none; text-decoration: none; text-shadow: 1px 1px 1px rgb(4, 25, 51); }
#nav li:hover a.navitem, #nav li:hover a.navitem-dd, #nav li a.navitem:hover, #nav li a.navitem-dd:hover, #nav li.active a.navitem, #nav li.active a.navitem-dd { background: rgb(30, 93, 151) url('header_nav.png') no-repeat scroll 0pt -30px; color: rgb(255, 255, 255); }
#nav li a.navitem-dd { padding: 0pt 7px 0pt 14px; background: transparent url('header_nav.png') no-repeat scroll 0pt 0pt; color: rgb(149, 187, 223); display: block; font-family: Tahoma,Arial,Sans-Serif; font-style: normal; font-variant: normal; font-weight: bold; font-size: 100%; line-height: 30px; font-size-adjust: none; font-stretch: normal; -x-system-font: none; text-decoration: none; text-shadow: 1px 1px 1px rgb(4, 25, 51); }
#nav li a.navitem-dd span { padding: 0pt 21px 0pt 0pt; background: transparent url('header_nav.png') no-repeat scroll right -90px; display: block; line-height: 30px; }
#nav li:hover a.navitem-dd span, #nav li a.navitem-dd:hover span, #nav li.active a.navitem-dd span { background: transparent url('header_nav.png') no-repeat scroll right -120px; }
#nav li a span var { margin: 5px 5px 4px -5px; padding: 4px 0pt 5px; background: transparent url('header_nav_badge.png') no-repeat scroll 0% 0%; color: rgb(255, 255, 255); display: block; float: left; font-size: 11px; font-style: normal; height: 11px; line-height: 11px; text-align: center; text-shadow: 1px 1px 1px rgb(153, 102, 0); width: 19px; }
#nav li#nav-ncp a span var { background: transparent url('header_nav_ncp_badge.png') no-repeat scroll 0% 0%; }
#nav .dropdown { border-style: none solid solid; border-color: -moz-use-text-color rgb(11, 45, 91) rgb(11, 45, 91); border-width: 0pt 1px 1px; background: rgb(24, 76, 134) none repeat scroll 0% 0%; float: none; display: none; position: absolute; width: 150px; z-index: 9999; }
#nav li:hover .dropdown, #nav li.sfhover .dropdown { display: block; }
#nav .dropdown ul, #nav .dropdown dl { border-left: 1px solid rgb(45, 93, 145); margin: 0pt; padding: 5px 0pt; list-style-type: none; list-style-image: none; list-style-position: outside; }
#nav .dropdown ul li, #nav .dropdown dl dd { margin: 0pt; padding: 0pt; float: none; }
#nav .dropdown ul li a, #nav .dropdown dl dd a { padding: 0pt 10px 0pt 12px; background: transparent none repeat scroll 0% 0%; color: rgb(149, 187, 223); display: block; float: none; font-family: Tahoma,Arial,Sans-Serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 11px; line-height: 20px; font-size-adjust: none; font-stretch: normal; -x-system-font: none; text-decoration: none; text-shadow: none; }
#nav .dropdown ul li a:hover, #nav .dropdown dl dd a:hover { background: rgb(45, 93, 145) url('header_nav_dropdown.png') repeat-x scroll 0% 0%; color: rgb(255, 255, 255); }
#nav .dropdown ul li.dropdown-sep, #nav .dropdown dl dd.dropdown-sep { border-top: 1px solid rgb(11, 45, 91); border-bottom: 1px solid rgb(45, 93, 145); margin: 5px 0pt; font-size: 0pt; height: 0pt; line-height: 0pt; }
#nav li#nav-rss a { padding: 0pt; background: transparent url('header_nav.png') no-repeat scroll -120px -60px; display: block; height: 30px; width: 30px; }
#nav li#nav-rss a:hover { background: transparent url('header_nav.png') no-repeat scroll -150px -60px; }
#nav li#nav-rss a span { display: none; }
#nav li#nav-toggle { padding: 0pt; background: transparent url('header_nav.png') no-repeat scroll 0pt -60px; cursor: pointer; display: block; height: 30px; width: 30px; }
#nav li#nav-toggle:hover { background: transparent url('header_nav.png') no-repeat scroll -30px -60px; }
#nav li#nav-toggle.active { background: transparent url('header_nav.png') no-repeat scroll -60px -60px; }
#nav li#nav-toggle.active:hover { background: transparent url('header_nav.png') no-repeat scroll -90px -60px; }
#footer { background: rgb(20, 82, 133) url('footer_bg.png') repeat-x scroll 0pt -140px; clear: both; color: rgb(255, 255, 255); font-size: 90%; height: 70px; margin-bottom: 5px; }
#footer-l { padding: 10px 10px 0pt; background: transparent url('footer_bg.png') no-repeat scroll left 0pt; height: 60px; }
#footer-r { background: transparent url('footer_bg.png') no-repeat scroll right -70px; }
#footer a { color: rgb(175, 214, 255); }
#footer-misc { float: left; }
#footer-misc img { margin-top: 5px; }
#footer-copyright { float: right; text-align: right; }
.footer-info { color: rgb(186, 201, 216); font-size: 90%; text-align: center; }
.content-box-t { background: transparent url('content_box.png') repeat-x scroll 0pt -10px; }
.content-box-t-l { background: transparent url('content_box.png') no-repeat scroll left 0pt; font-size: 0pt; height: 5px; }
.content-box-t-r { background: transparent url('content_box.png') no-repeat scroll right -5px; }
.content-box-b { background: rgb(255, 255, 255) url('content_box.png') repeat-x scroll 0pt -25px; margin-bottom: 5px; }
.content-box-b-l { background: transparent url('content_box.png') no-repeat scroll left -15px; font-size: 0pt; height: 5px; }
.content-box-b-r { background: transparent url('content_box.png') no-repeat scroll right -20px; }
#content-leaderboard { border-left: 1px solid rgb(42, 70, 98); border-right: 1px solid rgb(42, 70, 98); padding: 5px 10px; background: rgb(255, 255, 255) url('content_border.png') repeat-x scroll center top; text-align: center; }
#content-leaderboard dfn { color: rgb(128, 128, 128); display: block; font-size: 10px; font-style: normal; margin-bottom: 5px; }
#rev-leaderboard { margin: 0pt auto; background: rgb(209, 224, 239) none repeat scroll 0% 0%; height: 90px; width: 728px; }
#content { border-left: 1px solid rgb(42, 70, 98); border-right: 1px solid rgb(42, 70, 98); padding: 10px; background: rgb(255, 255, 255) url('comments_bg.png') repeat-x scroll center top; }
#breadcrumb { margin: 0pt 0pt 5px; background: rgb(210, 225, 239) url('breadcrumb_bg.png') repeat-x scroll 0pt -90px; color: rgb(141, 171, 200); }
#breadcrumb-l { padding: 5px 6px 5px 11px; background: transparent url('breadcrumb_bg.png') no-repeat scroll left 0px; height: 35px; }
#breadcrumb-l td { height: 35px; vertical-align: middle; }
.tree { background: transparent url('breadcrumb_tree.png') no-repeat scroll 6px 2px; padding-left: 19px; font-size: 12px; color: rgb(51, 102, 153); }
#breadcrumb-r { background: transparent url('breadcrumb_bg.png') no-repeat scroll right -45px; padding-right: 5px; }
a.breadbutton { background: transparent url('breadcrumb_button.png') no-repeat scroll left 0pt; display: inline-block; padding-left: 5px; text-decoration: none; height: 22px; }
a.breadbutton span { padding: 0pt 10px 0pt 5px; background: transparent url('breadcrumb_button.png') no-repeat scroll right -22px; display: inline-block; line-height: 22px; height: 22px; color: rgb(51, 102, 153); text-decoration: none; }
a.breadbutton:hover { text-decoration: none; }
a.breadbutton:active { background: transparent url('breadcrumb_button.png') no-repeat scroll left -44px; }
a.breadbutton:active span { background: transparent url('breadcrumb_button.png') no-repeat scroll right -66px; }
#spywrapper { margin: 0pt; padding: 0pt; overflow: hidden; display: none; font-size: 90%; }
.spysides { border-left: 1px solid rgb(42, 70, 98); border-right: 1px solid rgb(42, 70, 98); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.spytablediv { display: table; border-collapse: separate; width: 100%; }
.spycelldiv { float: left; display: table-cell; }
.spyrowdiv { display: table-row; width: auto; line-height: 22px; clear: both; }
.alternate { background: rgb(126, 164, 212) none repeat scroll 0% 0%; }
.toggle:hover, #morelessspy:hover, #startstop:hover { cursor: pointer; }
.copyright { margin: 0pt; padding: 0pt; display: none; }
.cat-top { background: rgb(221, 231, 242) url('cat_top.gif') repeat-x scroll 0px -50px; }
.cat-top-left { padding: 6px 4px 5px 10px; background: transparent url('cat_top.gif') no-repeat scroll 0px 0px; line-height: 14px; font-size: 11px; height: 14px; }
.cat-top-right { background: transparent url('cat_top.gif') no-repeat scroll right center; padding-right: 6px; }
.spy-top { background: rgb(221, 231, 242) url('spy_top.png') repeat-x scroll 0px -50px; }
.spy-top-left { padding: 6px 4px 5px 10px; background: transparent url('spy_top.png') no-repeat scroll 0px 0px; line-height: 14px; font-size: 11px; height: 14px; }
.spy-top-right { background: transparent url('spy_top.png') no-repeat scroll right center; padding-right: 6px; }
.table-header { background: transparent url('table_header_top.gif') repeat-x scroll 0px -90px; }
.table-header-right { background: transparent url('table_header_top.gif') no-repeat scroll right -45px; padding-right: 8px; }
.table-header-left { background: transparent url('table_header_top.gif') no-repeat scroll 0% 0%; padding-left: 8px; padding-top: 4px; line-height: 26px; height: 26px; }
.forum-sort { border-left: 1px solid rgb(30, 88, 146); border-right: 1px solid rgb(30, 88, 146); border-bottom: 1px solid rgb(30, 88, 146); padding: 4px; background: rgb(30, 88, 146) url('tile_sub.gif') repeat-x scroll 0% 0%; color: rgb(255, 255, 255); }
.forum-desc { padding: 0pt; margin-top: 0pt; color: rgb(102, 102, 102); font-size: 11px; line-height: 135%; }
.forum-desc a { color: rgb(102, 102, 102); }
.user-info { font-size: 10px; line-height: 140%; }
.post { font-size: 12px; line-height: 140%; }
.post-edit-reason { padding-top: 5px; font-size: 11px; font-style: italic; }
.signature { font-size: 11px; }
.guidelines-top { background: rgb(223, 232, 242) url('table_header_top.gif') repeat-x scroll 0px -92px; }
.guidelines-top-right { background: transparent url('table_header_top.gif') no-repeat scroll right -47px; padding-right: 8px; }
.guidelines-top-left { background: transparent url('table_header_top.gif') no-repeat scroll 0px -2px; padding-left: 8px; line-height: 26px; height: 26px; }
.guidelines-bit { border-style: none solid solid; border-color: -moz-use-text-color rgb(190, 203, 220) rgb(190, 203, 220); border-width: 0pt 1px 1px; padding: 5px; background: rgb(253, 253, 254) none repeat scroll 0% 0%; }
.guidelines-bit .tfoot { border-top: 1px solid rgb(190, 203, 220); }
.guestwelcome-title { font-weight: bold; }
.guestwelcome-content { padding: 10px 10px 10px 90px; background: transparent url('nw_reader.gif') no-repeat scroll 10px 10px; color: rgb(51, 0, 0); }
.guestwelcome-title a, .alertbox-title a { color: rgb(255, 255, 255); }
.alertbox, .guestwelcome { border: 1px solid rgb(222, 182, 183); background: rgb(240, 223, 223) url('alertbox_bg.gif') repeat-x scroll 0% 0%; }
.alertbox-title, .guestwelcome-title { padding: 4px; background: rgb(180, 91, 93) url('tile_warn.gif') repeat-x scroll 0% 0%; color: rgb(255, 255, 255); }
.alertbox-title .alertclose { background: transparent url('alert_close.gif') no-repeat scroll 0% 0%; display: block; float: right; width: 14px; height: 14px; cursor: pointer; }
.alertbox-title .alertclose:hover { background: transparent url('alert_close.gif') no-repeat scroll 0px -14px; }
.alertbox-content { padding: 4px; }
.alertbox .tfoot, .alertbox-tfoot { padding: 4px; background: rgb(248, 230, 230) url('tile_tfoot_red.gif') repeat-x scroll 0% 0%; }
.alertbox .tfoot a, .alertbox-tfoot a { color: rgb(102, 0, 0); }
.alertrow { margin: 10px 0pt 0pt; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#redirect { border: 1px solid rgb(194, 207, 223); background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 550px; text-align: center; }
#redirect p { margin: 0pt; padding: 5px; }
.tborder { background: rgb(193, 213, 233) none repeat scroll 0% 0%; }
.tborder-alertbox { background: rgb(222, 182, 183) none repeat scroll 0% 0%; }
.tcat { padding: 4px 6px; background: rgb(213, 228, 240) url('tile_cat.gif') repeat-x scroll 0% 0%; font-weight: bold; color: rgb(0, 0, 102); line-height: 140%; }
.tcat a, .tcat a:link, .tcat a:visited, .tsub a, .tsub a:link, .tsub a:visited { text-decoration: none; }
.tcat a:hover, .tcat a:active, .tsub a:hover, .tsub a:active { text-decoration: underline; }
.tsub { background: rgb(213, 228, 240) url('tile_cat.gif') repeat-x scroll 0% 0%; color: rgb(34, 34, 34); }
.thead { background: rgb(30, 88, 146) url('tile_sub.gif') repeat-x scroll 0% 0%; color: rgb(255, 255, 255); font-weight: bold; }
.thead a, .thead a:link, .thead a:visited { color: rgb(255, 255, 255); }
.thead a:hover, .thead a:active { color: rgb(255, 255, 255); text-decoration: underline; }
.thead .theadclose { background: transparent url('thead_close.gif') no-repeat scroll 0% 0%; display: block; float: right; width: 14px; height: 14px; cursor: pointer; }
.thead .theadclose:hover { background: transparent url('thead_close.gif') no-repeat scroll 0px -14px; }
.thead td, .thead th, td.thead, th.thead { margin: 0pt; padding: 3px 6px; font-weight: bold; }
.tfoot { background: rgb(228, 237, 246) url('tile_tfoot.gif') repeat-x scroll 0% 0%; }
.tfoot2 { background: rgb(211, 226, 239) url('tile_tfoot2.gif') repeat-x scroll 0% 0%; }
.alt1, .row1, .post2 { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.alt2, .row2, .post1 { background: rgb(244, 248, 253) none repeat scroll 0% 0%; }
.alt3 { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.pinned {  }
.announcement { background: rgb(229, 238, 247) none repeat scroll 0% 0%; }
.row2shaded, .row4shaded, .post2shaded, .post4shaded, .post1shaded, .post3shaded { background: rgb(251, 225, 225) none repeat scroll 0% 0%; }
.forumdesc { margin: 0pt; padding: 0pt; color: rgb(102, 102, 102); font-size: 11px; line-height: 135%; }
.forumdesc a, .forumdesc a:link, .forumdesc a:hover, .forumdesc a:visited, .forumdesc a:active { color: rgb(0, 51, 102); }
.desc { color: rgb(67, 73, 81); }
.smallfont { font-size: 10px; }
.userdetails { font-size: 10px; line-height: 140%; }
.onlineusers { margin: 2px 0pt; padding: 6px 0pt; line-height: 150%; }
hr.sig { border-top: 1px solid rgb(255, 255, 255); border-bottom: 1px solid rgb(144, 160, 176); margin: 0pt 0pt 10px; padding: 0pt; background: transparent none repeat scroll 0% 0%; width: 70%; }
.resized-linked-image { padding: 2px; background: rgb(250, 253, 254) url('tile_tfoot.gif') repeat-x scroll 0% 0%; }
.inlinebutton { border: 1px solid rgb(160, 178, 204); margin: 0pt; padding: 2px; background: rgb(196, 215, 232) url('button_tile.gif') repeat-x scroll 0px 0px; display: inline-block; color: rgb(0, 0, 102); }
.inlinebuttonarrow { border: 1px solid rgb(160, 178, 204); margin: 0pt; padding: 2px; background: rgb(196, 215, 232) url('button_tile.gif') repeat-x scroll 0px 0px; display: inline-block; color: rgb(0, 0, 102); }
.inlinebuttonarrow a { background-image: url('menu_action_down_span.gif'); background-position: right 4px; background-repeat: no-repeat; padding-right: 14px; display: inline-block; }
.inlinebutton a, .inlinebutton a:link, .inlinebutton a:visited, .inlinebutton a:active, .inlinebutton a:hover, .inlinebuttonarrow a, .inlinebuttonarrow a:link, .inlinebuttonarrow a:visited, .inlinebuttonarrow a:active, .inlinebuttonarrow a:hover, .inlinebuttonred a, .inlinebuttonred a:link, .inlinebuttonred a:visited, .inlinebuttonred a:active, .inlinebuttonred a:hover { font-weight: normal; text-decoration: none; }
.fauxbutton, .button { border: 1px solid rgb(160, 178, 204); padding: 2px; background: rgb(196, 215, 232) url('button_tile.gif') repeat-x scroll 0px 0px; color: rgb(0, 0, 102); font-size: 11px; vertical-align: middle; outline-color: -moz-use-text-color; outline-style: none; outline-width: medium; }
.fauxbutton:active, .button:active { background: rgb(230, 241, 251) url('button_tile.gif') repeat-x scroll 0px -50px; outline-color: -moz-use-text-color; outline-style: none; outline-width: medium; }
.redfauxbutton { border: 1px solid rgb(204, 170, 170); padding: 2px; background: rgb(236, 200, 200) url('button_tile_red.gif') repeat-x scroll 0px 0px; color: rgb(104, 69, 69); font-size: 11px; vertical-align: middle; outline-color: -moz-use-text-color; outline-style: none; outline-width: medium; }
.redfauxbutton a { text-decoration: none; color: rgb(104, 69, 69); }
.redfauxbutton:active { background: rgb(254, 233, 233) url('button_tile_red.gif') repeat-x scroll 0px -50px; outline-color: -moz-use-text-color; outline-style: none; outline-width: medium; }
.inlinebuttonred { border: 1px solid rgb(170, 0, 0); margin: 0pt; padding: 2px; background-color: rgb(239, 223, 223); display: inline-block; color: rgb(0, 0, 0); }
.quotetop { border-style: dotted dotted none solid; border-color: rgb(193, 213, 233) rgb(193, 213, 233) -moz-use-text-color; border-width: 1px 1px 0pt 4px; margin: 8px auto 0pt; padding: 3px; background: rgb(216, 222, 235) url('css_img_quote.gif') no-repeat scroll right center; color: rgb(34, 34, 34); font-weight: bold; font-size: 10px; }
.quotemain { border-style: none dotted dotted solid; border-color: -moz-use-text-color rgb(193, 213, 233) rgb(193, 213, 233); border-width: 0pt 1px 1px 4px; margin: 0pt auto; padding: 3px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(67, 73, 81); }
.codetop, .sqltop, .htmltop { border-style: dotted dotted none solid; border-color: rgb(160, 160, 160) rgb(160, 160, 160) -moz-use-text-color; border-width: 1px 1px 0pt 4px; margin: 8px auto 0pt; padding: 3px; background: rgb(225, 225, 225) url('css_img_code.gif') no-repeat scroll right center; color: rgb(34, 34, 34); font-weight: bold; font-size: 10px; }
.codemain, .sqlmain, .htmlmain { border-style: none dotted dotted solid; border-color: -moz-use-text-color rgb(160, 160, 160) rgb(160, 160, 160); border-width: 0pt 1px 1px 4px; margin: 0pt auto 10px; padding: 3px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; font-family: Courier,"Courier New",Verdana,Arial,monospace; }
#ipd-msg-wrapper { width: 220px; display: none; }
.pp-tabwrap { padding: 0pt 4px; background: transparent url('myass_border.gif') repeat-x scroll center bottom; line-height: 0pt; }
.pp-tabwrap ul { margin: 0pt; padding: 2px 0pt 0pt; list-style-type: none; list-style-image: none; list-style-position: outside; line-height: 0pt; height: 21px; }
.pp-tabon, .pp-taboff { margin: 0pt 1px 0pt 0pt; padding: 0pt 7px; float: left; display: block; font-size: 11px; line-height: 19px; }
.pp-tabon { border-style: solid; border-color: rgb(165, 193, 218) rgb(165, 193, 218) rgb(255, 255, 255); border-width: 1px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.pp-taboff { border-top: 1px solid rgb(165, 193, 218); border-left: 1px solid rgb(165, 193, 218); border-right: 1px solid rgb(165, 193, 218); background: transparent none repeat scroll 0% 0%; }
.pp-contentbox-back { padding: 8px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; clear: both; }
.attachment-thumb { border: 1px solid rgb(193, 213, 233); padding: 0pt; background: rgb(213, 228, 240) url('tile_cat.gif') repeat-x scroll 0% 0%; color: rgb(34, 34, 34); text-align: center; }
.bb_spoiler, .bb_spoiler a { background: rgb(0, 0, 0) none repeat scroll 0% 0%; color: rgb(0, 0, 0); }
.bb_spoiler:hover { color: rgb(255, 255, 255); }
.bb_spoiler:hover a, .bb_spoiler a:hover { color: rgb(0, 102, 153); }
.searchlite { background-color: rgb(255, 255, 0); }
.blog-top { background: rgb(220, 231, 241) url('comments_top.gif') repeat-x scroll 0px -72px; height: 36px; }
.blog-top-right { background: transparent url('comments_top.gif') no-repeat scroll right center; padding-right: 5px; }
.blog-top-left { padding: 4px 0pt 4px 10px; background: transparent url('comments_top.gif') no-repeat scroll 0% 0%; }
.blog-top a { background: transparent none repeat scroll 0% 0%; color: rgb(30, 62, 100); text-decoration: none; }
.blog-top a:hover { background: transparent none repeat scroll 0% 0%; text-decoration: underline; color: rgb(34, 34, 34); }
.blog-top-title { background: transparent none repeat scroll 0% 0%; color: rgb(0, 0, 102); font-weight: bold; font-size: 110%; line-height: 110%; }
.blog-top-postedby { background: transparent none repeat scroll 0% 0%; color: rgb(119, 140, 164); line-height: 130%; }
a.blog-top-button, a.blog-top-button:link, a.blog-top-button:visited { padding: 8px 15px 7px 5px; background: transparent url('comments_button.gif') no-repeat scroll 0px 0px; width: 69px; float: right; display: block; color: rgb(58, 96, 158); line-height: 12px; text-decoration: none; text-align: center; }
a.blog-top-button:hover, a.blog-top-button:active { background: transparent url('comments_button.gif') no-repeat scroll 0px -27px; text-decoration: none; }
.blog-post { border-style: none solid solid; border-color: -moz-use-text-color rgb(204, 218, 235) rgb(204, 218, 235); border-width: 0pt 1px 1px; padding: 7px; background: rgb(233, 238, 247) url('comments_bg.gif') repeat-x scroll 0% 0%; font-size: 12px; line-height: 140%; text-align: left; color: rgb(51, 51, 51); }
.blog-comment { border: 1px solid rgb(226, 227, 230); background: rgb(255, 255, 255) none repeat scroll 0% 0%; margin-bottom: 4px; }
.blog-comment .blog-comment-top { padding: 4px; background: rgb(227, 236, 245) url('tile_comments.gif') repeat-x scroll 0% 0%; color: rgb(0, 0, 102); line-height: 140%; }
.blog-comment-bot { padding: 5px; background: transparent none repeat scroll 0% 0%; color: rgb(0, 0, 102); line-height: 140%; }
.popupmenu-new { border: 1px solid rgb(193, 213, 233); padding: 4px; background: rgb(239, 239, 239) none repeat scroll 0% 0%; white-space: nowrap; font-size: 10px; text-align: left; }
.popupmenu { border: 1px solid rgb(193, 213, 233); margin: 0pt; background: rgb(233, 240, 247) url('popupmenu_dl_bg.gif') repeat-x scroll 0% 0%; white-space: nowrap; font-size: 10px; text-align: left; }
.popupmenu-item { border-bottom: 1px solid rgb(193, 213, 233); padding: 4px 5px; white-space: nowrap; }
.popupmenu-item-last { padding: 4px 5px; white-space: nowrap; }
.popmenubutton { padding: 0px; }
.popupmenu-category { border-top: 1px solid rgb(193, 213, 233); border-bottom: 1px solid rgb(193, 213, 233); margin: 0pt; padding: 4px; background: rgb(30, 88, 146) url('tile_sub.gif') repeat-x scroll 0% 0%; color: rgb(255, 255, 255); font-weight: bold; }
.popmenubutton-new { background: rgb(213, 228, 240) url('menu_action_down-padded.gif') no-repeat scroll right center; }
.popmenubutton-new-out { background: inherit inherit inherit inherit inherit; -moz-background-clip: inherit; -moz-background-origin: inherit; -moz-background-inline-policy: inherit; }
.pp-image-thumb-wrap, .pp-image-thumb-wrap-floatright, .pp-image-mini-wrap, .pp-image-mini-wrap-floatright { border: 1px solid rgb(193, 213, 233); padding: 3px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 52px; height: 52px; text-align: center; margin-top: auto; margin-bottom: auto; }
.pp-image-mini-wrap, .pp-image-mini-wrap-floatright { width: 27px; height: 27px; margin-top: auto; margin-bottom: auto; }
.pp-image-thumb-wrap-floatright, .pp-image-mini-wrap-floatright { float: right; }
.popupmenu dl { margin: 0pt; padding: 0pt; list-style-type: none; list-style-image: none; list-style-position: outside; font-size: 11px; }
.popupmenu dl dt { border-bottom: 1px solid rgb(193, 213, 233); padding: 3px 6px; background: rgb(30, 88, 146) url('tile_sub.gif') repeat-x scroll 0% 0%; color: rgb(255, 255, 255); font-weight: bold; line-height: 140%; cursor: default; }
.popupmenu dl dd { margin: 0pt; padding: 0pt; }
.popupmenu .btop { border-top: 1px solid rgb(193, 213, 233); }
.popupmenu .bbot { border-bottom: 1px solid rgb(193, 213, 233); }
.popupmenu .nolink { padding: 4px; background: rgb(233, 240, 247) url('popupmenu_dl_bg.gif') repeat-x scroll 0% 0%; color: rgb(27, 60, 119); }
.popupmenu .nolink input, .popupmenu .nolink label, .nolink span { margin: 0pt; vertical-align: middle; }
.popupmenu .nolink label { padding-left: 3px; cursor: pointer; }
.popupmenu .nolink input { margin: 2px 0pt 0pt; }
.popupmenu dl.noarrow dd a { padding: 4px; background-color: rgb(233, 240, 247); background-image: url('popupmenu_dd.gif'); background-repeat: no-repeat; background-position: -16px 0px; text-decoration: none; cursor: pointer; }
.popupmenu dl.noarrow dd a:hover { padding: 4px; background-color: rgb(240, 245, 250); background-image: url('popupmenu_dd.gif'); background-repeat: no-repeat; background-position: -16px -23px; text-decoration: none; }
.popupmenu dl dd a { padding: 4px 4px 4px 18px; display: block; background-color: rgb(233, 240, 247); background-image: url('popupmenu_dd.gif'); background-repeat: no-repeat; background-position: -2px 0px; text-decoration: none; outline-color: -moz-use-text-color; outline-style: none; outline-width: medium; color: rgb(51, 102, 153); }
.popupmenu dl dd a:hover { background-color: rgb(240, 245, 250); background-image: url('popupmenu_dd.gif'); background-repeat: no-repeat; background-position: -2px -23px; color: rgb(30, 71, 122); text-decoration: none; }
.popupmenu dl dd.popupmenu-item { border-bottom: 1px solid rgb(221, 226, 233); white-space: nowrap; }
.popupmenu dl dd.popupmenu-item-last { border-bottom: 0pt none; white-space: nowrap; }
.neowinlive { background: transparent url('neolive-cent.png') repeat-x scroll 0% 0%; margin-bottom: 7px; margin-top: 0px; color: rgb(102, 102, 102); }
.neowinlive a, .neowinlive a:hover { color: rgb(102, 102, 102); text-decoration: none; }
.neowinlive-right { padding: 0pt 10px 0pt 0pt; background: transparent url('neolive-right.png') no-repeat scroll right center; }
.neowinlive-left { padding: 6px 0pt 0pt 150px; background: transparent url('neolive-left.png') no-repeat scroll 0% 0%; line-height: 24px; text-align: left; }
.neomodal { font-size: 120%; }
.contact-us-t-l { background: transparent url('contact_box.png') no-repeat scroll left 0pt; padding-left: 5px; }
.contact-us-t-r { background: transparent url('contact_box.png') no-repeat scroll right -45px; padding-right: 5px; }
.contact-us-t { padding: 5px 6px; background: transparent url('contact_box.png') repeat-x scroll 0pt -90px; color: rgb(197, 207, 217); height: 35px; }
.contact-us-t h3 { margin: 2px 0pt 0pt; color: rgb(255, 255, 255); }
.contact-us-t p { margin: 0pt; padding: 0pt; }
.contact-us-t .right-links { color: rgb(255, 255, 255); cursor: pointer; float: right; font-size: 90%; font-weight: bold; margin-top: 6px; }
.contact-us-main { border-left: 1px solid rgb(42, 70, 98); border-right: 1px solid rgb(42, 70, 98); padding: 10px; background: rgb(117, 141, 166) url('contact_box.png') repeat-x scroll 0pt -150px; color: rgb(197, 207, 217); }
.contact-us-main a, .contact-us-main a:link, .contact-us-main a:visited, .contact-us-main a:hover, .contact-us-main a:visited { color: rgb(255, 255, 255); }
.contact-us-b-l { background: transparent url('contact_box.png') no-repeat scroll left -135px; padding-left: 5px; }
.contact-us-b-r { background: transparent url('contact_box.png') no-repeat scroll right -140px; padding-right: 5px; }
.contact-us-b { background: transparent url('contact_box.png') repeat-x scroll 0pt -145px; font-size: 0pt; height: 5px; }
.latest-menu { border: 1px solid rgb(199, 209, 223); margin: 0pt; background: rgb(233, 240, 247) url('popupmenu_dl_bg.gif') repeat-x scroll 0% 0%; white-space: nowrap; font-size: 11px; text-align: left; position: absolute; top: 22px; right: 0pt; }
.latest-menu dl { margin: 0pt; padding: 0pt; list-style-type: none; list-style-image: none; list-style-position: outside; }
.latest-menu dl dt { padding: 3px 6px; background: rgb(97, 141, 185) url('tile_sub.gif') repeat-x scroll 0% 0%; color: rgb(255, 255, 255); font-weight: bold; line-height: 140%; cursor: default; }
.latest-menu dl dd { margin: 0pt; padding: 0pt; background: rgb(233, 240, 247) none repeat scroll 0% 0%; }
.latest-menu dl dd a { padding: 3px 4px 3px 18px; display: block; background-color: rgb(233, 240, 247); background-image: url('popupmenu_dd.gif'); background-repeat: no-repeat; background-position: -2px 0px; text-decoration: none; outline-color: -moz-use-text-color; outline-style: none; outline-width: medium; color: rgb(51, 102, 153); cursor: pointer; }
.latest-menu dl dd a:hover { background-color: rgb(240, 245, 250); background-image: url('popupmenu_dd.gif'); background-repeat: no-repeat; background-position: -2px -23px; color: rgb(30, 71, 122); text-decoration: none; }

/* ::::: http://www.neowin.net/themes/css/neowin5_block.css ::::: */

#TB_overlay { position: fixed; z-index: 100; top: 0px; left: 0px; height: 100%; width: 100%; }
.TB_overlayMacFFBGHack { background: transparent url('macffbghack.png') repeat scroll 0% 0%; }
.TB_overlayBG { background-color: rgb(0, 0, 0); opacity: 0.75; }
* html #TB_overlay { position: absolute; }
#TB_window { position: fixed; z-index: 102; display: none; top: 50%; left: 50%; }
* html #TB_window { position: absolute; }
#TB_window img#TB_Image { display: block; }
#TB_closeWindow { display: none; }
#TB_closeAjaxWindow { display: none; }
#TB_ajaxWindowTitle { display: none; }
#TB_title { display: none; }
#TB_ajaxContent { padding: 0pt; overflow: auto; clear: both; }
#TB_ajaxContent.TB_modal { padding: 15px; }
#TB_load { margin: -6px 0pt 0pt -104px; position: fixed; display: none; height: 13px; width: 208px; z-index: 103; top: 50%; left: 50%; }
* html #TB_load { position: absolute; }
#TB_HideSelect { border: medium none ; z-index: 99; position: fixed; top: 0pt; left: 0pt; background-color: rgb(255, 255, 255); opacity: 0; height: 100%; width: 100%; }
* html #TB_HideSelect { position: absolute; }
#TB_iframeContent { border: medium none ; clear: both; margin-bottom: -1px; margin-top: 1px; }

/* ::::: http://www.neowin.net/forum/style_images/finity/folder_editor_images/css_rte.css ::::: */

.rte-cb-bg { border-bottom: 1px solid rgb(144, 160, 176); margin: 0px; padding: 0px; background: rgb(229, 230, 241) url('rte-cb-top-bg.gif') repeat-x scroll 0% 0%; letter-spacing: 0pt; text-align: left; height: 11px; }
.rte-buttonbar { border: 1px solid rgb(144, 160, 176); background: rgb(230, 238, 247) url('tile_cat.gif') repeat-x scroll 0% 0%; letter-spacing: 0pt; }
.rte-option-panel { float: left; margin-bottom: 5px; display: none; text-align: center; }
.rte-option-emo-box { border: 1px solid rgb(144, 160, 176); margin: 0pt 0pt 10px; background: rgb(251, 251, 251) none repeat scroll 0% 0%; }
.rte-buttonbar tbody tr td, .rte-buttonbar tr td, .rteback tbody tr td, .rteback tr td { padding: 0pt; }
.rte-iframe { background: rgb(255, 255, 255) none repeat scroll 0% 0%; margin-top: 4px; }
.rte-menu-button, .rte-selected-menubutton, .rte-hover-menubutton, .rte-normal-menubutton { border: 1px solid rgb(117, 133, 184); margin: 0px; padding: 2px 1px 2px 4px; background: rgb(255, 255, 255) url('rte-dd-bg.gif') no-repeat scroll 0% 0%; overflow: hidden; width: auto; font-size: 11px; -moz-border-radius-topleft: 3px; -moz-border-radius-topright: 3px; -moz-border-radius-bottomright: 3px; -moz-border-radius-bottomleft: 3px; }
.rte-selected-menubutton, .rte-hover-menubutton { border: 1px solid rgb(149, 196, 247); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.rte-menu-face, .rte-menu-size, .rte-selected-menu, .rte-hover-menu, .rte-normal-menu { border-bottom: 1px dotted rgb(153, 153, 153); padding: 1px 1px 4px; background: rgb(239, 243, 247) none repeat scroll 0% 0%; width: 100%; clear: both; cursor: pointer; }
.rte-menu-size { padding-top: 12px; padding-bottom: 12px; }
.rte-selected-menu-color, .rte-hover-menu-color, .rte-normal-menu-color, .rte-menu-color { border: 1px solid rgb(255, 255, 255); width: 10px; cursor: pointer; }
.rte-selected-menu-emo, .rte-hover-menu-emo, .rte-normal-menu-emo, .rte-menu-emo, .rte-menu-emo-box { border: 1px solid rgb(239, 243, 247); width: auto; cursor: pointer; }
.rte-selected-menu-emo div, .rte-hover-menu-emo div, .rte-normal-menu-emo div, .rte-menu-emo div { padding: 4px; }
.rte-menu-emo-box div { padding: 1px; }
.rte-menu-emo-box {  }
.rte-menu-emo-header { margin: 0px; padding: 3px; background: rgb(230, 238, 247) url('tile_cat.gif') repeat-x scroll 0% 0%; color: rgb(34, 34, 34); font-weight: bold; text-align: center; }
.rte-menu-emo-header a, .rte-menu-emo-header a:link, .rte-menu-emo-header a:visited { color: rgb(34, 34, 34); text-decoration: none; }
.rte-menu-emo-header a:hover, .rte-menu-emo-header a:active { color: rgb(0, 0, 0); text-decoration: underline; }
.rte-hover-menu-color { border: 1px solid rgb(0, 0, 0); }
.rte-hover-menu-emo { border: 1px solid rgb(0, 0, 0); }
.rte-popupmenu { border: 1px solid rgb(153, 153, 153); padding: 3px 5px 3px 3px; background: rgb(239, 243, 247) none repeat scroll 0% 0%; font-size: 11px; text-align: left; }
.rte-selected, .rte-hover, .rte-normal { padding: 1px; cursor: pointer; }
.rte-selected-menu, .rte-hover-menu { background: rgb(211, 211, 211) none repeat scroll 0% 0%; }
.rte-selected { border: 1px outset ; padding: 0px; }
.rte-hover { background: rgb(235, 235, 235) none repeat scroll 0% 0%; }
.attach-menubutton { border: 1px solid rgb(117, 133, 184); margin: 0px; padding: 2px 1px 2px 4px; background: rgb(255, 255, 255) url('rte-dd-bg.gif') no-repeat scroll 0% 0%; overflow: hidden; width: auto; font-size: 11px; -moz-border-radius-topleft: 3px; -moz-border-radius-topright: 3px; -moz-border-radius-bottomright: 3px; -moz-border-radius-bottomleft: 3px; }
.attachfiles-dropdown { border: 1px solid rgb(117, 133, 184); margin: 0px; padding: 2px 1px 2px 4px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; overflow: hidden; width: auto; font-size: 11px; -moz-border-radius-topleft: 3px; -moz-border-radius-topright: 3px; -moz-border-radius-bottomright: 3px; -moz-border-radius-bottomleft: 3px; }
.attach-parentdiv { border: 1px solid rgb(144, 160, 176); padding: 6px; background: rgb(230, 238, 247) url('tile_cat.gif') repeat-x scroll 0% 0%; letter-spacing: 0pt; text-align: left; }
.attach-messagediv { border: 1px solid rgb(144, 160, 176); background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(0, 0, 0); text-align: center; }
.attach-msg-span { padding-top: 3px; font-size: 20px; font-weight: bold; }
.attach-iframe { border: 0px none ; background: transparent none repeat scroll 0% 0%; }
.attach-popupmenu { border: 1px solid rgb(153, 153, 153); padding: 3px 5px 3px 3px; background: rgb(239, 243, 247) url('articles-menu-icon-bg.gif') repeat-y scroll 0% 0%; font-size: 11px; text-align: left; }
.attach-menu-row-over, .attach-menu-row { padding: 1px 1px 4px; width: 100%; cursor: pointer; }
.attach-menu-row-over { background: rgb(211, 211, 211) none repeat scroll 0% 0%; }

/* ::::: http://www.neowin.net/forum/style_images/finity/folder_editor_images/css_rte.css ::::: */

.rte-cb-bg { border-bottom: 1px solid rgb(144, 160, 176); margin: 0px; padding: 0px; background: rgb(229, 230, 241) url('rte-cb-top-bg.gif') repeat-x scroll 0% 0%; letter-spacing: 0pt; text-align: left; height: 11px; }
.rte-buttonbar { border: 1px solid rgb(144, 160, 176); background: rgb(230, 238, 247) url('tile_cat.gif') repeat-x scroll 0% 0%; letter-spacing: 0pt; }
.rte-option-panel { float: left; margin-bottom: 5px; display: none; text-align: center; }
.rte-option-emo-box { border: 1px solid rgb(144, 160, 176); margin: 0pt 0pt 10px; background: rgb(251, 251, 251) none repeat scroll 0% 0%; }
.rte-buttonbar tbody tr td, .rte-buttonbar tr td, .rteback tbody tr td, .rteback tr td { padding: 0pt; }
.rte-iframe { background: rgb(255, 255, 255) none repeat scroll 0% 0%; margin-top: 4px; }
.rte-menu-button, .rte-selected-menubutton, .rte-hover-menubutton, .rte-normal-menubutton { border: 1px solid rgb(117, 133, 184); margin: 0px; padding: 2px 1px 2px 4px; background: rgb(255, 255, 255) url('rte-dd-bg.gif') no-repeat scroll 0% 0%; overflow: hidden; width: auto; font-size: 11px; -moz-border-radius-topleft: 3px; -moz-border-radius-topright: 3px; -moz-border-radius-bottomright: 3px; -moz-border-radius-bottomleft: 3px; }
.rte-selected-menubutton, .rte-hover-menubutton { border: 1px solid rgb(149, 196, 247); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.rte-menu-face, .rte-menu-size, .rte-selected-menu, .rte-hover-menu, .rte-normal-menu { border-bottom: 1px dotted rgb(153, 153, 153); padding: 1px 1px 4px; background: rgb(239, 243, 247) none repeat scroll 0% 0%; width: 100%; clear: both; cursor: pointer; }
.rte-menu-size { padding-top: 12px; padding-bottom: 12px; }
.rte-selected-menu-color, .rte-hover-menu-color, .rte-normal-menu-color, .rte-menu-color { border: 1px solid rgb(255, 255, 255); width: 10px; cursor: pointer; }
.rte-selected-menu-emo, .rte-hover-menu-emo, .rte-normal-menu-emo, .rte-menu-emo, .rte-menu-emo-box { border: 1px solid rgb(239, 243, 247); width: auto; cursor: pointer; }
.rte-selected-menu-emo div, .rte-hover-menu-emo div, .rte-normal-menu-emo div, .rte-menu-emo div { padding: 4px; }
.rte-menu-emo-box div { padding: 1px; }
.rte-menu-emo-box {  }
.rte-menu-emo-header { margin: 0px; padding: 3px; background: rgb(230, 238, 247) url('tile_cat.gif') repeat-x scroll 0% 0%; color: rgb(34, 34, 34); font-weight: bold; text-align: center; }
.rte-menu-emo-header a, .rte-menu-emo-header a:link, .rte-menu-emo-header a:visited { color: rgb(34, 34, 34); text-decoration: none; }
.rte-menu-emo-header a:hover, .rte-menu-emo-header a:active { color: rgb(0, 0, 0); text-decoration: underline; }
.rte-hover-menu-color { border: 1px solid rgb(0, 0, 0); }
.rte-hover-menu-emo { border: 1px solid rgb(0, 0, 0); }
.rte-popupmenu { border: 1px solid rgb(153, 153, 153); padding: 3px 5px 3px 3px; background: rgb(239, 243, 247) none repeat scroll 0% 0%; font-size: 11px; text-align: left; }
.rte-selected, .rte-hover, .rte-normal { padding: 1px; cursor: pointer; }
.rte-selected-menu, .rte-hover-menu { background: rgb(211, 211, 211) none repeat scroll 0% 0%; }
.rte-selected { border: 1px outset ; padding: 0px; }
.rte-hover { background: rgb(235, 235, 235) none repeat scroll 0% 0%; }
.attach-menubutton { border: 1px solid rgb(117, 133, 184); margin: 0px; padding: 2px 1px 2px 4px; background: rgb(255, 255, 255) url('rte-dd-bg.gif') no-repeat scroll 0% 0%; overflow: hidden; width: auto; font-size: 11px; -moz-border-radius-topleft: 3px; -moz-border-radius-topright: 3px; -moz-border-radius-bottomright: 3px; -moz-border-radius-bottomleft: 3px; }
.attachfiles-dropdown { border: 1px solid rgb(117, 133, 184); margin: 0px; padding: 2px 1px 2px 4px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; overflow: hidden; width: auto; font-size: 11px; -moz-border-radius-topleft: 3px; -moz-border-radius-topright: 3px; -moz-border-radius-bottomright: 3px; -moz-border-radius-bottomleft: 3px; }
.attach-parentdiv { border: 1px solid rgb(144, 160, 176); padding: 6px; background: rgb(230, 238, 247) url('tile_cat.gif') repeat-x scroll 0% 0%; letter-spacing: 0pt; text-align: left; }
.attach-messagediv { border: 1px solid rgb(144, 160, 176); background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(0, 0, 0); text-align: center; }
.attach-msg-span { padding-top: 3px; font-size: 20px; font-weight: bold; }
.attach-iframe { border: 0px none ; background: transparent none repeat scroll 0% 0%; }
.attach-popupmenu { border: 1px solid rgb(153, 153, 153); padding: 3px 5px 3px 3px; background: rgb(239, 243, 247) url('articles-menu-icon-bg.gif') repeat-y scroll 0% 0%; font-size: 11px; text-align: left; }
.attach-menu-row-over, .attach-menu-row { padding: 1px 1px 4px; width: 100%; cursor: pointer; }
.attach-menu-row-over { background: rgb(211, 211, 211) none repeat scroll 0% 0%; }
