/* ::::: http://s.pixfs.net/f.pixnet.net/css/lang-css.css?v=2613086053 ::::: */

#lang-list { font-size: 12px; font-family: arial; width: 60px; overflow: hidden; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(170, 170, 170); margin: 0pt ! important; }
#lang-list li { margin: 0pt; }
#lang-list li a { display: block; width: 60px; padding: 2px 5px; color: rgb(102, 102, 102); text-decoration: none; }
#lang-list li a:hover { background: none repeat scroll 0% 0% rgb(238, 238, 238); }
#tipLang { position: fixed; z-index: 10000; background-color: rgb(238, 238, 238); border: 1px solid rgb(51, 51, 51); padding: 6px; font-size: 11px; line-height: 1.3; }
/* ::::: http://s.pixfs.net/f.pixnet.net/css/iframe-popup.css?v=2613086053 ::::: */

#popup-frame { position: fixed; top: 0pt; left: 0pt; right: 0pt; bottom: 35px; z-index: 2147483647; }
#frame-box { position: absolute; top: 10%; left: 50%; margin-left: -325px; }
#frame-border { position: absolute; top: 0pt; left: 0pt; right: 0pt; bottom: 0pt; background: none repeat scroll 0% 0% black; opacity: 0.5; margin: -10px; border-radius: 10px 10px 10px 10px; }
#frame-content { background: none repeat scroll 0% 0% white; position: relative; width: 650px; border: 5px solid rgb(64, 110, 207); height: 70%; }
#frame-header h3 { position: relative; margin: 0pt; padding: 7px 10px 2px; background: none repeat scroll 0% 0% rgb(64, 110, 207); font-size: 15px; color: white; }
#frame-header .frame-close { background: url('iframe-close.gif') no-repeat scroll 0% 0% transparent; display: block; height: 20px; position: absolute; right: 0px; top: 0px; width: 20px; }
#frame-header .frame-close span { display: none; }
/* ::::: http://s.pixfs.net/blog/plugins/plugins.min.css?v=2613086053 ::::: */

body div.qrcode { border: 1px solid rgb(119, 119, 119); width: 165px; margin: 10px auto; }
body div.qrcode img { width: 165px; }
/* ::::: http://s.pixfs.net/f.pixnet.net/comment/openid-comment.css?v=2613086053 ::::: */

#container #main #content #user-post #comment-area * { letter-spacing: 0px; height: auto; width: auto; padding: 0pt; margin: 0pt; text-decoration: none; border: 0pt none; font-weight: normal; list-style: none outside none; text-align: left; font-size: 12px; line-height: 18px; color: rgb(0, 0, 0); background: none repeat scroll 0% 0% transparent; }
#container #main #content #user-post #comment-box #comment-area { margin: 20px auto; color: rgb(85, 85, 85); padding: 5px; border-radius: 5px 5px 5px 5px; font-size: 12px; line-height: 25px; font-family: "Tahoma"; text-decoration: none; width: 470px; position: relative; clear: both; background: url('40.png') repeat scroll 0% 0% transparent; }
#container #main #content #user-post #comment-box #comment-area a { text-decoration: none; }
#container #main #content #user-post #comment-box #comment-area-2 { background: none repeat scroll 0% 0% rgb(245, 245, 245); width: 470px; border-top: 1px solid rgb(221, 221, 221); }
#container #main #content #user-post #comment-box .comment-identity { background: none repeat scroll 0% 0% rgb(230, 230, 230); border-right: 1px solid rgb(221, 221, 221); border-width: 1px; border-style: solid; border-color: rgb(243, 243, 243) rgb(221, 221, 221) rgb(221, 221, 221); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; padding: 6px 0px 0px 10px; height: 44px; }
#container #main #content #user-post #comment-box .choose-identity { width: 362px; height: 28px; background: url('choose-identity.jpg') no-repeat scroll left top transparent; margin-top: 4px; }
#container #main #content #user-post #comment-box .choose-identity a { display: block; float: left; height: 28px; }
#container #main #content #user-post #comment-box .choose-identity a.openid-pixnet { width: 69px; }
#container #main #content #user-post #comment-box .choose-identity a.openid-facebook { width: 76px; }
#container #main #content #user-post #comment-box .choose-identity a.openid-yahoo { width: 69px; }
#container #main #content #user-post #comment-box .choose-identity a.openid-google { width: 69px; }
#container #main #content #user-post #comment-box .choose-identity a.openid-msn { width: 79px; }
#container #main #content #user-post #comment-box .choose-identity a:hover { background-image: url('choose-identity-hover.jpg'); }
#container #main #content #user-post #comment-box .choose-identity a.openid-pixnet:hover { background-position: 0px 0px; }
#container #main #content #user-post #comment-box .choose-identity a.openid-facebook:hover { background-position: -69px 0px; }
#container #main #content #user-post #comment-box .choose-identity a.openid-yahoo:hover { background-position: -145px 0px; }
#container #main #content #user-post #comment-box .choose-identity a.openid-google:hover { background-position: -214px 0px; }
#container #main #content #user-post #comment-box .choose-identity a.openid-msn:hover { background-position: -283px 0px; }
#container #main #content #user-post #comment-box #comment-area iframe { overflow: hidden; position: absolute; top: 17px; right: 10px; width: 86px; height: 32px; border: 0pt none ! important; }
#container #main #content #user-post #comment-box .comment-body { border-right: 1px solid rgb(230, 230, 230); border-width: 1px; border-style: solid; border-color: rgb(255, 255, 255) rgb(230, 230, 230) rgb(230, 230, 230); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; padding: 7px 10px 0px; }
#container #main #content #user-post #comment-box .comment-body p { margin: 0pt 0pt 8px; line-height: 18px; }
#container #main #content #user-post #comment-box .comment-body p b { font-weight: bold; }
#container #main #content #user-post #comment-box .comment-textarea { border: 1px solid rgb(232, 232, 232); background: none repeat scroll 0% 0% rgb(255, 255, 255); width: 445px; border-radius: 5px 5px 5px 5px; margin: 5px 0px 0px; }
#container #main #content #user-post #comment-box .comment-textarea textarea { margin: 0px; width: 435px; border-radius: 5px 5px 5px 5px; padding: 5px 0px 0px 10px; font-size: 12px; color: rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 0pt none; height: 100px; font-family: "Tahoma"; line-height: 16px; }
#container #main #content #user-post #comment-box .private-message { text-align: right; margin: 0px 10px 8px 0px; line-height: 12px; }
#container #main #content #user-post #comment-box .private-message input { margin-right: 5px; position: relative; bottom: -2px; }
#container #main #content #user-post #comment-box .private-notice { background: none repeat scroll 0% 0% rgb(255, 253, 234); border-top: 1px solid rgb(247, 230, 179); color: rgb(179, 151, 91); text-align: center; padding: 3px 0px 5px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }
#container #main #content #user-post #comment-box .captcha { overflow: hidden; margin-top: 5px; line-height: 16px; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(232, 232, 232); padding: 7px; position: relative; }
#container #main #content #user-post #comment-box .captcha img { border: 0px none; float: left; margin-right: 18px; }
#container #main #content #user-post #comment-box .captcha input { margin-top: 5px; }
#container #main #content #user-post #comment-box .captcha input, #container #main #content #user-post #comment-box .extra input { width: 190px; height: 19px; background: url('input-text.jpg') repeat-x scroll left top rgb(255, 255, 255); border: 1px solid rgb(232, 232, 232); border-radius: 5px 5px 5px 5px; }
#container #main #content #user-post #comment-box a.reload-captcha { display: block; height: 22px; width: 80px; padding-right: 15px; font-size: 12px; position: absolute; top: 7px; right: 10px; color: rgb(170, 170, 170); background: url('reload-captcha.jpg') no-repeat scroll right 4px transparent; }
#container #main #content #user-post #comment-box a.reload-captcha:hover { background: url('reload-captcha.jpg') no-repeat scroll right -16px transparent; }
#container #main #content #user-post #comment-box #comment-area button { text-align: center; border: 1px solid rgb(204, 204, 204); border-radius: 5px 5px 5px 5px; background: url('button.jpg') repeat-x scroll left bottom rgb(255, 255, 255); padding: 0px 6px; height: 25px; font-weight: bold ! important; }
#container #main #content #user-post #comment-box input { font-family: "Tahoma"; color: rgb(0, 0, 0); padding: 3px 10px; font-size: 12px; }
#container #main #content #user-post #comment-box .comment-extra { overflow: hidden; padding: 5px 0px; cursor: default; }
#container #main #content #user-post #comment-box .comment-extra div { float: left; margin-top: 3px; }
#container #main #content #user-post #comment-box .comment-extra button { float: right; }
#container #main #content #user-post #comment-box .extra { border: 1px solid rgb(232, 232, 232); background: none repeat scroll 0% 0% rgb(255, 255, 255); padding: 7px 0px 7px 7px; margin-bottom: 10px; }
#container #main #content #user-post #comment-box .extra input { margin-right: 7px; }
#container #main #content #user-post #comment-box span.invisible { display: none; }
#container #main #content #user-post #comment-box input.comment-name { width: 425px; height: 19px; background: url('input-text.jpg') repeat-x scroll left top rgb(255, 255, 255); border: 1px solid rgb(232, 232, 232); border-radius: 5px 5px 5px 5px; }
/* ::::: http://css.pixnet.in/blog/yimi/normal.css?v=1263907976 ::::: */

#banner { background: url('xxxxxx') no-repeat scroll left top transparent; }
body { font-size: 0.8em; font-family: "Verdana"; color: rgb(85, 85, 85); background: none repeat scroll 0% 0% rgb(255, 253, 228); line-height: 140%; }
a { text-decoration: none; color: rgb(166, 125, 36); }
a:hover { color: rgb(0, 0, 0) ! important; }
#container { background: url('493666e59d704.jpg') repeat-x scroll left top transparent; }
#container2 { width: 900px; margin: 0pt auto; position: relative; }
#header { height: 120px; margin-bottom: 10px; }
#banner { margin: 0px 0px 0px 10px; position: absolute; top: 11px; left: 5px; width: 220px; height: 190px; z-index: 50000; }
#header a { color: rgb(255, 255, 255); }
#header h1 a { font-size: 2em; font-family: "Simhei"; color: rgb(193, 105, 40); font-weight: normal; position: absolute; top: 31px; left: 255px; display: block; width: 390px; letter-spacing: -1px; }
#header h2 { position: absolute; top: 59px; left: 257px; display: block; width: 390px; color: rgb(116, 74, 0); line-height: 160%; }
#login-bar { color: rgb(154, 141, 94); position: absolute; top: 12px; left: 270px; font-size: 0.9em; }
#login-bar a { color: rgb(154, 141, 94); }
#header .skiplink { display: none; }
#header .skiplink a { color: rgb(153, 153, 153); }
#blog-category { position: absolute; right: -650px; top: 30px; }
#blog-category a { color: rgb(193, 161, 74); }
#navigation { position: absolute; top: -5px; right: 0px; }
#navigation li { padding-top: 5px; width: 56px; text-align: center; float: left; margin-right: 3px; }
#navigation li#link-blog { width: 74px; }
#navigation li a { color: rgb(255, 255, 255); font-size: 1.4em; font-family: "Simhei"; display: block; background: none repeat scroll 0% 0% rgb(184, 169, 97); padding: 8px 0px; }
#main {  }
#content { width: 635px; float: right; overflow: hidden; }
#content a {  }
.article { margin-bottom: 40px; }
.article-head { background: url('493666e648ee0.jpg') no-repeat scroll 0px 17px transparent; padding: 0px 10px 10px; }
.publish { font-size: 0.8em; color: rgb(146, 174, 77); margin-bottom: 8px; text-align: right; }
.title {  }
#content .title a { font-size: 1.4em; font-family: "Simhei"; color: rgb(255, 255, 255); }
.article-body { margin: 0px 5px; }
.article-content { line-height: 180%; }
.article-content a:hover { text-decoration: underline; }
.author {  }
.article-footer { margin: 0px 10px 0px 30px; }
.article-footer a {  }
.bookmark, .more, .author, .back-to-top, .fans-club, .forward { margin: 4px 0px; text-align: right; }
.refer { width: 240px; float: left; }
.refer li { margin: 2px 0px; }
.back-to-top { clear: both; }
#links { width: 250px; float: left; overflow: hidden; color: rgb(119, 119, 119); background: url('493666e6049d4.jpg') no-repeat scroll 0px 0px rgb(221, 221, 221); padding-top: 230px; margin-top: -130px; z-index: 5000; }
.box { overflow: hidden; margin: 0px 0px 15px; }
.box-title { color: rgb(132, 99, 0); font-weight: bold; background: none repeat scroll 0% 0% rgb(208, 192, 153); padding: 5px 15px 7px; border-top: 2px solid rgb(255, 255, 255); border-bottom: 2px solid rgb(255, 255, 255); }
.box-text { padding: 5px 15px 0px; }
.box-text a { display: block; padding: 3px 0px; color: rgb(51, 51, 51); }
.box-more { text-align: right; }
.box-more a { display: inline; }
#archive .box-more { margin-top: 3px; }
#broadcast ul, .inner-box, #latest-comment li, #latest-trackback li, #subscription li { padding: 4px 0px; border-bottom: 1px dashed rgb(136, 136, 136); }
.folder .box-text a { display: inline; }
.user-post-box { margin: 15px 50px; }
.user-post-title { font-size: 1.6em; color: rgb(255, 255, 255); font-family: "Simhei"; padding: 6px 20px; background: none repeat scroll 0% 0% rgb(171, 201, 101); margin-bottom: 5px; }
.user-post-title img {  }
.user-post-text {  }
#trackback-url { text-align: right; }
.post-photo img { border: 3px solid rgb(255, 255, 255); }
.single-post { padding: 15px 0px; border-bottom: 1px dashed rgb(170, 170, 170); }
.post-comment { text-align: center; padding: 5px 0px; }
.post-comment a { color: rgb(255, 255, 255) ! important; font-size: 1.2em; background: none repeat scroll 0% 0% rgb(127, 169, 28); padding: 5px 7px; }
.post-comment a:focus { outline: medium none; }
.post-comment a:hover { color: rgb(255, 120, 0); }
.post-info { margin-bottom: 5px; color: rgb(136, 136, 136); font-size: 0.9em; }
.post-info a { color: rgb(136, 136, 136); }
#comment-box .post-info { width: 385px; float: right; }
#comment-box .post-text { margin-bottom: 10px; width: 410px; line-height: 140%; float: right; }
.reply-text { background: none repeat scroll 0% 0% rgb(240, 232, 182); width: 395px; color: rgb(159, 108, 0); float: right; padding: 7px; line-height: 140%; }
.reply-text p { text-align: right; font-size: 0.9em; }
#footer { clear: both; line-height: 140%; text-align: center; padding: 30px 50px 20px; background: none repeat scroll 0% 0% rgb(240, 237, 196); }
#footer p { margin-bottom: 7px; }
input, select { font-family: "Verdana"; }
.single-post { overflow: hidden; }
.post-photo { width: 120px; float: left; text-align: center; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { margin: 0pt; padding: 0pt; }
table { border-collapse: collapse; border-spacing: 0pt; }
fieldset, img { border: 0pt none; }
ol, ul { list-style: none outside none; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
.article-content { overflow: hidden; }
.article-content p { margin-bottom: 20px; }
/* ::::: http://s.pixfs.net/f.pixnet.net/css/iframe-popup.css?v=2613086053 ::::: */

#popup-frame { position: fixed; top: 0pt; left: 0pt; right: 0pt; bottom: 35px; z-index: 2147483647; }
#frame-box { position: absolute; top: 10%; left: 50%; margin-left: -325px; }
#frame-border { position: absolute; top: 0pt; left: 0pt; right: 0pt; bottom: 0pt; background: none repeat scroll 0% 0% black; opacity: 0.5; margin: -10px; border-radius: 10px 10px 10px 10px; }
#frame-content { background: none repeat scroll 0% 0% white; position: relative; width: 650px; border: 5px solid rgb(64, 110, 207); height: 70%; }
#frame-header h3 { position: relative; margin: 0pt; padding: 7px 10px 2px; background: none repeat scroll 0% 0% rgb(64, 110, 207); font-size: 15px; color: white; }
#frame-header .frame-close { background: url('iframe-close.gif') no-repeat scroll 0% 0% transparent; display: block; height: 20px; position: absolute; right: 0px; top: 0px; width: 20px; }
#frame-header .frame-close span { display: none; }
/* ::::: http://s.pixfs.net/common/toolbar/toolbar.css?v=2613086053 ::::: */

html { padding-bottom: 35px; }
#toolbar-box { position: fixed; bottom: 0px; left: 0px; min-width: 700px; right: 0px; height: 35px; z-index: 1000000; }
#toolbar-box #toolbar-toggle { position: fixed; bottom: 0px; right: 0px; height: 34px; width: 23px; border-top: 1px solid rgb(204, 204, 204); border-left: 1px solid rgb(204, 204, 204); z-index: 10000; background: url('bg.png') repeat-x scroll center bottom transparent; text-indent: 100px; white-space: nowrap; }
#toolbar-box #toolbar-toggle span:hover { background-color: rgb(239, 239, 239); }
#toolbar-box #toolbar-toggle span { display: block; cursor: default; height: 34px; width: 22px; border-left: 1px solid white; background: url('hide.png') no-repeat scroll center center transparent; }
#toolbar { position: absolute; bottom: 0pt; height: 34px; border-top: 1px solid rgb(204, 204, 204); width: 100%; background: url('bg.png') repeat-x scroll center top transparent; }
.toolbar-content { font-family: Verdana,Arial,Helvetica,sans-serif; color: rgb(119, 119, 119); white-space: nowrap; font-size: 12px; background: url('bg.png') repeat-x scroll center top transparent; }
.toolbar-content ul { margin: 0pt; padding: 0pt; list-style: none outside none; }
.toolbar-content ul li { height: 30px; padding: 2px 6px; line-height: 30px; float: left; vertical-align: middle; border-right: 1px solid rgb(212, 212, 212); border-left: 1px solid white; }
.toolbar-content ul li.drop:hover, .toolbar-content ul li.link:hover { cursor: default; background-color: rgb(239, 239, 239); }
ul li.link { background: none repeat scroll 0% 0% transparent; }
#toolbar-left { position: absolute; left: -1px; border-right: 1px solid white; z-index: 2000; }
#toolbar-iframe { position: absolute; top: 0pt; left: 0px; right: 0px; background: url('bg.png') repeat-x scroll center top transparent; z-index: 1000; }
.toolbar-content li.toolbar-useravatar img { border: 1px solid rgb(187, 187, 187) ! important; vertical-align: middle; float: left; margin-top: 4px; }
.toolbar-content li > div { padding: 0pt 3px; }
.toolbar-content ul li.drop { padding-right: 20px; background: url('arrow.png') no-repeat scroll right center transparent; }
.toolbar-content ul li.toolbar-actions { white-space: nowrap; }
.toolbar-content ul li.toolbar-actions .action-label, .toolbar-content ul li.toolbar-actions .num-span { float: left; }
.toolbar-content ul li.toolbar-actions .action-label { margin-right: 7px; }
.toolbar-content ul li.toolbar-actions .action-label .button { background: url('button.png') no-repeat scroll right -50px transparent; display: block; height: 25px; line-height: 24px; margin: 3px 0pt 0pt; padding: 0pt; }
.toolbar-content ul li.toolbar-actions .action-label .button span { background: url('button.png') no-repeat scroll left top transparent; display: block; height: 25px; padding-left: 10px; margin-right: 10px; color: rgb(153, 153, 153); vertical-align: middle; }
.toolbar-content ul li.toolbar-actions .action-label .button:hover { background: url('button.png') no-repeat scroll right bottom transparent; cursor: default; }
.toolbar-content ul li.toolbar-actions .action-label .button:hover span { background: url('button.png') no-repeat scroll left -25px transparent; }
.toolbar-content ul li.toolbar-actions .num-span { background: url('bubble-person.png') no-repeat scroll left top transparent; display: block; height: 17px; margin-top: 8px; padding: 0pt; font-size: 10px; font-weight: bold; }
.toolbar-content ul li.toolbar-actions .num-span a { background: url('bubble-person.png') no-repeat scroll right -17px transparent; display: block; color: white; height: 17px; padding: 0pt; margin: 0pt; }
.toolbar-content ul li.toolbar-actions .num-span a:hover { color: rgb(221, 221, 221); }
.toolbar-content ul li.toolbar-actions .num-span a span { display: block; height: 17px; margin: 0pt 7px 0pt 20px; line-height: 16px; background: none repeat scroll 0% 0% rgb(116, 116, 116); cursor: pointer; }
button::-moz-focus-inner { border: 0pt none; padding: 0pt; }
.toolbar-userinfo div { width: 110px; overflow: hidden; white-space: nowrap; }
.toolbar-search { white-space: nowrap; overflow: hidden; }
.toolbar-search img { float: left; }
.toolbar-search .search-box { display: none; padding: 0pt; border: 1px solid rgb(187, 187, 187); border-radius: 10px 10px 10px 10px; background: none repeat scroll 0% 0% white; margin: 4px 4px 4px 26px; line-height: 14px; }
.toolbar-search .search-box input { height: 14px; padding: 3px 5px; border: medium none; background: none repeat scroll 0% 0% transparent; color: rgb(102, 102, 102); font-size: 12px; line-height: 14px; }
.toolbar-search .search-box input:focus { outline: medium none; }
/* ::::: http://s.pixfs.net/common/toolbar/userinfo.css?v=2613086053 ::::: */

/* ::::: http://s.pixfs.net/common/toolbar/popupsetting.css?v=2613086053 ::::: */

/* ::::: http://s.pixfs.net/blog/plugins/related/new.css ::::: */

