body { margin: 0px; padding: 0px; }
img { border: medium none; }
.linkBack { display: none; }
.push { background: url('push-pixnet.gif') no-repeat scroll 0% 0% transparent; width: 70px; height: 18px; }
.pCount { display: block; width: 23px; height: 18px; position: absolute; top: 0px; left: 40px; text-align: center; font: 12px/16px verdana,arial; color: rgb(26, 117, 186); }
.pCount a { text-decoration: none; color: rgb(26, 117, 186); }
.button { display: block; position: absolute; left: 2px; width: 36px; height: 18px; }
.button img { border: 0px none; height: 18px; width: 36px; vertical-align: middle; }
