/* ::::: http://statics.plurk.com/e005c30aff63557a867ceb517f1be276.css.cgz? ::::: */

body { margin: 0pt; padding: 0pt; font: 11px 'Lucida Grande','Lucida Sans Unicode','Lucida Sans Regular',Tahoma,Verdana,sans-serif; background-color: rgb(207, 104, 47); color: white; }
.user_info { padding: 3px 2px; }
.user_info .karma { float: right; font-size: 9px; }
.user_info .cnt { padding-top: 2px; overflow: hidden; }
#profile_pic { float: left; margin-right: 5px; }
.user_info img { border: 1px solid white; }
.info { padding: 0pt 0pt 1px; }
.plurk-plurks { width: auto; position: relative; text-align: left; padding-bottom: 0pt; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
.plurk-timeline { clear: both; overflow-x: hidden; overflow-y: auto; background: none repeat scroll 0% 0% rgb(202, 231, 253); word-wrap: break-word; padding: 1px; }
.plurk-message { padding: 8px 3px; position: relative; }
.action { padding: 5px 2px 8px; text-align: center; background-color: rgb(239, 20, 77) ! important; }
.action a { text-decoration: underline; color: rgb(255, 255, 255); font-size: 10px; }
.big { font-size: 13px ! important; font-weight: bold; padding-right: 3px; }
body { background-color: rgb(143, 207, 48); color: rgb(233, 245, 214) ! important; }
.user_info { border-bottom: 1px solid rgb(188, 226, 131); }
.plurk-timeline { background-color: rgb(252, 236, 202); border-bottom: 1px solid rgb(188, 226, 131); }
a { color: rgb(255, 255, 255); }
.plurk-plurks, .plurk-plurks a { color: rgb(17, 17, 17) ! important; }
.plurk-message { border-bottom: 1px solid rgb(250, 224, 168); }
.action { background-color: rgb(109, 157, 36); }
