
/* ::::: http://www.javaworld.com.tw/confluence/styles/main-action.css?spaceKey=designpattern ::::: */

body, p, td, table, tr, .bodytext, .stepfield { font-family: Verdana,arial,sans-serif; font-size: 13px; line-height: 16px; color: rgb(0, 0, 0); font-weight: normal; }
#PageContent { margin: 0px; padding: 0px 0px 20px; text-align: left; background-color: rgb(255, 255, 255); }
body { margin: 0px; padding: 0px; text-align: center; background-color: rgb(240, 240, 240); }
.monospaceInput { font-family: monospace; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
.wiki-content p, .commentblock p { margin: 16px 0px; padding: 0px; }
.wiki-content-preview { border-left: 1px solid rgb(60, 120, 181); border-right: 1px solid rgb(60, 120, 181); padding: 5px; }
ul, ol { margin-top: 2px; margin-bottom: 2px; padding-top: 0px; padding-bottom: 0px; }
pre { margin: 5px 5px 5px 15px; padding: 0px; text-align: left; }
.helpheading { border-bottom: 1px solid rgb(60, 120, 181); margin: 10px 0px 0px; padding: 4px; font-weight: bold; background-color: rgb(208, 217, 189); }
.helpcontent { padding: 4px 4px 20px; background-color: rgb(245, 247, 241); }
.code { border: 1px dashed rgb(60, 120, 181); margin: 10px; font-size: 11px; font-family: Courier; line-height: 13px; }
.focusedComment { background: rgb(255, 255, 206) none repeat scroll 0% 0%; }
.commentBox, .focusedComment { border: 1px solid rgb(187, 187, 187); margin: 5px 0pt; padding: 10px; }
.codeHeader { border-bottom: 1px dashed rgb(60, 120, 181); padding: 3px; background-color: rgb(240, 240, 240); text-align: center; }
.codeContent { padding: 3px; text-align: left; background-color: rgb(240, 240, 240); }
.preformatted { border: 1px dashed rgb(60, 120, 181); margin: 10px; font-size: 11px; font-family: Courier; line-height: 13px; }
.preformattedHeader { border-bottom: 1px dashed rgb(60, 120, 181); padding: 3px; background-color: rgb(240, 240, 240); text-align: center; }
.preformattedContent { padding: 3px; background-color: rgb(240, 240, 240); }
.panel { border: 1px dashed rgb(60, 120, 181); margin: 0px 10px 10px; }
.panelHeader { border-bottom: 1px dashed rgb(60, 120, 181); padding: 3px; background-color: rgb(240, 240, 240); text-align: center; }
.panelContent { padding: 5px; background-color: rgb(240, 240, 240); }
.anonymousAlert { border: 1px dashed red; margin: 4px; padding: 10px 5px; background-color: rgb(240, 240, 240); font-size: 11px; line-height: 13px; }
.lockAlert { border: 1px dashed red; margin: 4px; padding: 10px 5px; background-color: rgb(240, 240, 240); width: 50%; font-size: 11px; line-height: 13px; }
.code-keyword { color: rgb(0, 0, 145); background-color: inherit; }
.code-object { color: rgb(145, 0, 145); background-color: inherit; }
.code-quote { color: rgb(0, 145, 0); background-color: inherit; }
.code-comment { color: rgb(128, 128, 128); background-color: inherit; }
.code-xml .code-keyword { color: inherit; font-weight: bold; }
.code-tag { color: rgb(0, 0, 145); background-color: inherit; }
.breadcrumbs { border-style: solid; border-color: rgb(60, 120, 181); border-width: 1px 0px; padding: 3px 0px; background-color: rgb(240, 240, 240); font-size: 11px; }
.navmenu { border: 1px solid rgb(204, 204, 204); }
.menuheading { border-bottom: 1px solid rgb(60, 120, 181); padding: 4px 4px 2px; font-weight: bold; background-color: rgb(240, 240, 240); }
.menuitems { padding: 4px 4px 20px; }
.rightpanel { border-left: 1px solid rgb(204, 204, 204); border-bottom: 1px solid rgb(204, 204, 204); }
#helpheading { border-bottom: 1px solid rgb(60, 120, 181); margin: 0px; padding: 4px; text-align: left; font-weight: bold; background-color: rgb(208, 217, 189); }
#helpcontent { padding: 4px; background-color: rgb(245, 247, 241); }
.helptab-unselected { padding: 5px; font-weight: bold; background-color: rgb(245, 247, 241); }
.helptab-selected { padding: 5px; font-weight: bold; background-color: rgb(208, 217, 189); }
.helptabs { margin: 0px; padding: 5px; background-color: rgb(245, 247, 241); }
.infopanel-heading { padding: 4px 0px 2px; font-weight: bold; }
.pagebody {  }
.pageheader { border-bottom: 1px solid rgb(60, 120, 181); padding: 5px 5px 5px 0px; }
.pagetitle { font-size: 22px; font-weight: bold; font-family: Arial,sans-serif; color: rgb(0, 51, 102); }
.steptitle { font-size: 18px; font-weight: bold; font-family: Arial,sans-serif; color: rgb(0, 51, 102); margin-bottom: 7px; }
.substeptitle { margin: 2px 4px 4px; padding: 2px 4px 1px; font-size: 12px; font-weight: bold; font-family: Arial,sans-serif; color: rgb(0, 51, 102); }
.stepdesc { font-family: Verdana,arial,sans-serif; font-size: 11px; line-height: 16px; font-weight: normal; color: rgb(102, 102, 102); margin-top: 7px; margin-bottom: 7px; }
.steplabel { font-weight: bold; margin-right: 4px; color: black; float: left; width: 15%; text-align: right; }
.stepfield { padding: 5px; background: rgb(240, 240, 240) none repeat scroll 0% 0%; }
.submitButtons { margin-top: 5px; text-align: right; }
.formtitle { font-size: 12px; font-weight: bold; font-family: Arial,sans-serif; color: rgb(0, 51, 102); }
.sectionbottom { border-bottom: 1px solid rgb(60, 120, 181); }
.topRow { border-top: 2px solid rgb(60, 120, 181); }
.tabletitle { border-bottom: 2px solid rgb(60, 120, 181); margin: 8px 4px 2px 0px; padding: 3px 0px 2px; font-size: 14px; font-weight: bold; font-family: Arial,sans-serif; color: rgb(0, 51, 102); }
.pagesubheading { padding: 0px 0px 5px; color: rgb(102, 102, 102); font-size: 10px; }
hr { color: rgb(60, 120, 181); height: 1px; }
a:link, a:visited, a:active, a:hover { color: rgb(0, 51, 102); }
h1 a:link, h1 a:visited, h1 a:active { text-decoration: none; }
h1 a:hover { border-bottom: 1px dotted rgb(0, 51, 102); }
.wiki-content > :first-child, .commentblock > :first-child { margin-top: 3px; }
.logocell { padding: 10px; }
input { font-family: verdana,geneva,arial,sans-serif; font-size: 11px; color: rgb(0, 0, 0); }
textarea, textarea.editor { font-family: verdana,geneva,arial,sans-serif; font-size: 11px; color: rgb(51, 51, 51); }
.spacenametitle-printable { margin: 0px; font-family: Impact,Arial,Helvetica; font-style: normal; font-variant: normal; font-size: 20px; line-height: 25px; font-size-adjust: none; font-stretch: normal; -x-system-font: none; font-weight: 100; color: rgb(153, 153, 153); }
.spacenametitle-printable a { text-decoration: none; color: rgb(153, 153, 153); }
.spacenametitle-printable a:visited { text-decoration: none; color: rgb(153, 153, 153); }
.blogDate { font-weight: bold; text-decoration: none; color: black; }
.blogSurtitle { border: 1px solid rgb(221, 221, 221); margin: 1px 1px 10px; padding: 3px; background: rgb(240, 240, 240) none repeat scroll 0% 0%; }
.blogHeading { margin: 0px; padding: 0px; font-size: 20px; line-height: normal; font-weight: bold; }
.blogHeading a { text-decoration: none; color: black; }
.endsection { color: rgb(102, 102, 102); margin-top: 10px; }
.endsectionleftnav { color: rgb(102, 102, 102); margin-top: 10px; }
h1 { border-bottom: 1px solid rgb(60, 120, 181); margin: 36px 0px 4px; padding: 2px; font-size: 24px; line-height: normal; font-weight: bold; background-color: rgb(240, 240, 240); color: rgb(0, 51, 102); }
h2 { border-bottom: 1px solid rgb(60, 120, 181); margin: 27px 0px 4px; padding: 2px; font-size: 18px; line-height: normal; font-weight: bold; background-color: rgb(240, 240, 240); }
h3 { margin: 21px 0px 4px; padding: 2px; font-size: 14px; line-height: normal; font-weight: bold; background-color: rgb(240, 240, 240); }
h4 { margin: 18px 0px 4px; padding: 2px; font-size: 12px; line-height: normal; font-weight: bold; background-color: rgb(240, 240, 240); }
h4.search { margin: 18px 0px 4px; padding: 4px; font-size: 12px; line-height: normal; font-weight: normal; background-color: rgb(240, 240, 240); }
h5 { margin: 14px 0px 4px; padding: 2px; font-size: 10px; line-height: normal; font-weight: bold; background-color: rgb(240, 240, 240); }
h6 { margin: 14px 0px 4px; padding: 2px; font-size: 8px; line-height: normal; font-weight: bold; background-color: rgb(240, 240, 240); }
.smallfont { font-size: 10px; }
.descfont { font-size: 10px; color: rgb(102, 102, 102); }
.smallerfont { font-size: 9px; }
.smalltext { color: rgb(102, 102, 102); font-size: 10px; }
.smalltext a { color: rgb(102, 102, 102); }
.smalltext-blue { color: rgb(60, 120, 181); font-size: 10px; }
.surtitle { margin-left: 1px; margin-bottom: 5px; font-size: 14px; color: rgb(102, 102, 102); }
.navItemOver { font-size: 10px; font-weight: bold; color: rgb(255, 255, 255); background-color: rgb(0, 51, 102); voice-family: inherit; cursor: pointer; }
.navItemOver a { color: rgb(255, 255, 255); background-color: rgb(0, 51, 102); text-decoration: none; }
.navItemOver a:visited { color: rgb(255, 255, 255); background-color: rgb(0, 51, 102); text-decoration: none; }
.navItemOver a:hover { color: rgb(255, 255, 255); background-color: rgb(0, 51, 102); text-decoration: none; }
.navItem { font-size: 10px; font-weight: bold; color: rgb(255, 255, 255); background-color: rgb(60, 120, 181); }
.navItem a { color: rgb(255, 255, 255); text-decoration: none; }
.navItem a:hover { color: rgb(255, 255, 255); text-decoration: none; }
.navItem a:visited { color: rgb(255, 255, 255); text-decoration: none; }
div.padded { padding: 4px; }
div.thickPadded { padding: 10px; }
h3.macrolibrariestitle { margin: 0px; }
div.centered { margin: 10px; text-align: center; }
div.centered table { margin: 0px auto; text-align: left; }
.tableview table { margin: 0pt; }
.tableview th { border-bottom: 2px solid rgb(60, 120, 181); padding: 5px 0px 0px 5px; text-align: left; color: rgb(0, 51, 102); font-size: 12px; }
.tableview td { border-style: solid; border-color: rgb(204, 204, 204); border-width: 0px 0px 1px; margin: 0pt; padding: 4px 10px 4px 5px; text-align: left; }
.grid { margin: 2px 0px 5px; border-collapse: collapse; }
.grid th { border: 1px solid rgb(204, 204, 204); padding: 2px 4px; background: rgb(240, 240, 240) none repeat scroll 0% 0%; text-align: center; }
.grid td { border: 1px solid rgb(204, 204, 204); padding: 3px 4px; }
.gridHover { background-color: rgb(249, 249, 249); }
td.infocell { background-color: rgb(240, 240, 240); }
.label { font-weight: bold; color: rgb(0, 51, 102); }
.error { background-color: rgb(255, 204, 204); }
.errorBox { border: 1px solid rgb(204, 0, 0); margin: 5px; padding: 5px; background-color: rgb(255, 204, 204); }
.errorMessage { color: rgb(204, 0, 0); }
.success { background-color: rgb(221, 255, 221); }
.successBox { border: 1px solid rgb(0, 153, 0); padding: 5px; background-color: rgb(221, 255, 221); margin-top: 5px; margin-bottom: 5px; }
blockquote { border-left: 1px solid rgb(60, 120, 181); padding-left: 10px; padding-right: 10px; margin-left: 5px; margin-right: 0px; }
table.confluenceTable { margin: 5px; border-collapse: collapse; }
table.confluenceTable td.confluenceTd { border: 1px solid rgb(204, 204, 204); padding: 3px 4px; }
table.confluenceTable th.confluenceTh { border: 1px solid rgb(204, 204, 204); padding: 3px 4px; background-color: rgb(240, 240, 240); text-align: center; }
td.confluenceTd { border: 1px solid rgb(204, 204, 204); padding: 3px 4px; }
th.confluenceTh { border: 1px solid rgb(204, 204, 204); padding: 3px 4px; background-color: rgb(240, 240, 240); text-align: center; }
div.small { font-size: 9px; }
h1.pagename { margin-top: 0px; }
img.inline {  }
.loginform { border: 1px solid rgb(204, 204, 204); margin: 5px; }
.previewnote { text-align: center; font-size: 11px; color: red; }
.previewcontent { background: rgb(224, 224, 224) none repeat scroll 0% 0%; }
.messagecontent { background: rgb(224, 224, 224) none repeat scroll 0% 0%; }
.conflictnote {  }
.createlink { color: maroon; }
a.createlink { color: maroon; }
.templateparameter { font-size: 9px; color: darkblue; }
.diffadded { border-left: 4px solid darkgreen; padding: 1px 1px 1px 4px; background: rgb(221, 255, 221) none repeat scroll 0% 0%; }
.diffdeleted { border-left: 4px solid darkred; padding: 1px 1px 1px 4px; background: rgb(255, 221, 221) none repeat scroll 0% 0%; color: rgb(153, 153, 153); }
.diffnochange { border-left: 4px solid lightgrey; padding: 1px 1px 1px 4px; }
.differror { background: brown none repeat scroll 0% 0%; }
.diff { font-family: lucida console,courier new,fixed-width; font-size: 12px; line-height: 14px; }
.diffaddedchars { background-color: rgb(153, 255, 153); font-weight: bolder; }
.diffremovedchars { background-color: rgb(255, 153, 153); text-decoration: line-through; font-weight: bolder; }
.greybackground { background: rgb(240, 240, 240) none repeat scroll 0% 0%; }
.greybox { border: 1px solid rgb(221, 221, 221); margin: 1px 1px 10px; padding: 3px; }
.borderedGreyBox { border: 1px solid rgb(204, 204, 204); padding: 10px; background-color: rgb(240, 240, 240); }
.greyboxfilled { border: 1px solid rgb(221, 221, 221); margin: 10px 1px; padding: 5px; background: rgb(240, 240, 240) none repeat scroll 0% 0%; }
.navBackgroundBox { padding: 5px; background: rgb(60, 120, 181) none repeat scroll 0% 0%; font-size: 22px; font-weight: bold; font-family: Arial,sans-serif; color: white; text-decoration: none; }
.previewBoxTop { border-style: solid; border-color: rgb(60, 120, 181); border-width: 1px 1px 0px; margin: 5px 0px 0px; padding: 5px; background-color: rgb(240, 240, 240); text-align: center; }
.previewContent { border-style: solid; border-color: rgb(60, 120, 181); border-width: 0px 1px; margin: 0px; padding: 10px; background-color: rgb(255, 255, 255); }
.previewBoxBottom { border-style: solid; border-color: rgb(60, 120, 181); border-width: 0px 1px 1px; margin: 0px 0px 5px; padding: 5px; background-color: rgb(240, 240, 240); text-align: center; }
.functionbox { border: 1px solid rgb(60, 120, 181); margin: 1px 1px 10px; padding: 3px; background-color: rgb(240, 240, 240); }
.functionbox-greyborder { border: 1px solid rgb(221, 221, 221); margin: 1px 1px 10px; padding: 3px; background-color: rgb(240, 240, 240); }
.search-highlight { background-color: rgb(255, 255, 204); }
.rowNormal { background-color: rgb(255, 255, 255); }
.rowAlternate { background-color: rgb(247, 247, 247); }
.rowAlternateNoBottomColor { background-color: rgb(247, 247, 247); }
.rowAlternateNoBottomNoColor {  }
.rowAlternateNoBottomColor td { border-bottom: 0px none; }
.rowAlternateNoBottomNoColor td { border-bottom: 0px none; }
.rowHighlight { background-color: rgb(240, 240, 240); }
td.greenbar { border: 1px solid rgb(156, 156, 156); padding: 0px; background: rgb(0, 223, 0) none repeat scroll 0% 0%; font-size: 2px; }
td.redbar { border: 1px solid rgb(156, 156, 156); padding: 0px; background: rgb(223, 0, 0) none repeat scroll 0% 0%; font-size: 2px; }
td.darkredbar { border: 1px solid rgb(156, 156, 156); padding: 0px; background: rgb(175, 0, 0) none repeat scroll 0% 0%; font-size: 2px; }
tr.testpassed { padding: 0px; background: rgb(221, 255, 221) none repeat scroll 0% 0%; font-size: 2px; }
tr.testfailed { padding: 0px; background: rgb(255, 221, 221) none repeat scroll 0% 0%; font-size: 2px; }
.toolbar { margin: 0px; border-collapse: collapse; }
.toolbar td { border: 1px solid rgb(204, 204, 204); padding: 2px; color: rgb(204, 204, 204); }
td.noformatting { border-style: none; border-width: 0px; padding: 0px; text-align: center; }
.commentblock { margin: 12px 0pt; }
.license-eval, .license-none, .license-nonprofit { border-top: 1px solid rgb(187, 187, 187); text-align: center; font-size: 10px; font-family: Verdana,Arial,Helvetica,sans-serif; }
.license-eval, .license-none { background-color: rgb(255, 204, 204); }
.license-eval b, .license-none b { color: rgb(153, 0, 0); }
.license-nonprofit { background-color: rgb(255, 255, 255); }
.bottomshadow { height: 12px; background-image: url('border_bottom.gif'); background-repeat: repeat-x; }
.navmenu .operations li, .navmenu .operations ul { list-style-type: none; list-style-image: none; list-style-position: outside; margin-left: 0pt; padding-left: 0pt; }
.navmenu .operations ul { margin-bottom: 9px; }
.navmenu .label { font-weight: inherit; }
.toolbar div { display: none; }
.toolbar .label { display: none; }
.toolbar .operations { display: block; }
.toolbar .operations ul { display: inline; list-style-type: none; list-style-image: none; list-style-position: outside; margin-left: 10px; padding-left: 0pt; }
.toolbar .operations li { list-style-type: none; list-style-image: none; list-style-position: outside; display: inline; }
#foldertab { border-bottom: 1px solid rgb(60, 120, 181); padding: 3px 0px 3px 8px; margin-left: 0pt; font-family: Verdana,sans-serif; font-style: normal; font-variant: normal; font-weight: bold; font-size: 11px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
#foldertab li { margin: 0pt; list-style-type: none; list-style-image: none; list-style-position: outside; display: inline; }
#foldertab li a { border-style: solid solid none; border-color: rgb(60, 120, 181) rgb(60, 120, 181) -moz-use-text-color; border-width: 1px 1px medium; padding: 3px 0.5em; background: rgb(60, 120, 181) none repeat scroll 0% 0%; margin-left: 3px; text-decoration: none; }
#foldertab li a:link { color: rgb(255, 255, 255); }
#foldertab li a:visited { color: rgb(255, 255, 255); }
#foldertab li a:hover { border-color: rgb(0, 51, 102); background: rgb(0, 51, 102) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
#foldertab li a.current { border-bottom: 1px solid white; background: white none repeat scroll 0% 0%; color: black; }
#foldertab li a.current:link { color: black; }
#foldertab li a.current:visited { color: black; }
#foldertab li a.current:hover { border-bottom: 1px solid white; background: white none repeat scroll 0% 0%; color: black; }
ul#squaretab { margin-left: 0pt; padding-left: 0pt; white-space: nowrap; font-family: Verdana,sans-serif; font-style: normal; font-variant: normal; font-weight: bold; font-size: 8px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
#squaretab li { display: inline; list-style-type: none; }
#squaretab a { border: 1px solid rgb(60, 120, 181); padding: 2px 6px; }
#squaretab a:link, #squaretab a:visited { color: rgb(255, 255, 255); background-color: rgb(60, 120, 181); text-decoration: none; }
#squaretab a:hover { border-color: rgb(0, 51, 102); color: rgb(255, 255, 255); background-color: rgb(0, 51, 102); text-decoration: none; }
#squaretab li a#current { background: white none repeat scroll 0% 0%; color: black; }
.blogcalendar * { padding: 2px; font-family: verdana,arial,sans-serif; font-size: x-small; font-weight: normal; line-height: 140%; }
table.blogcalendar { border: 1px solid rgb(60, 120, 181); }
.blogcalendar th.calendarhead, a.calendarhead { padding: 2px; font-size: x-small; font-weight: bold; background-color: rgb(60, 120, 181); color: rgb(255, 255, 255); letter-spacing: 0.3em; text-transform: uppercase; }
.calendarhead:visited { color: white; }
.calendarhead:active { color: white; }
.calendarhead:hover { color: white; }
.blogcalendar th { padding: 2px; font-size: x-small; font-weight: bold; background-color: rgb(240, 240, 240); }
.blogcalendar td { font-size: x-small; font-weight: normal; }
.searchGroup { padding: 0pt 0pt 10px; background: rgb(240, 240, 240) none repeat scroll 0% 0%; }
.searchGroupHeading { padding: 2px 4px 1px; font-size: 10px; font-weight: bold; color: rgb(255, 255, 255); background-color: rgb(60, 120, 181); }
.searchItem { padding: 1px 4px; }
.searchItemSelected { padding: 1px 4px; background: rgb(221, 221, 221) none repeat scroll 0% 0%; font-weight: bold; }
.permissionHeading { border-style: solid; border-width: 0pt 0pt 1px; border-bottom: 1px solid rgb(187, 187, 187); font-size: 16px; text-align: left; }
.permissionTab { border-style: solid; border-width: 0pt 0pt 0pt 1px; background: rgb(60, 120, 181) none repeat scroll 0% 0%; color: rgb(255, 255, 255); font-size: 10px; }
.permissionSuperTab { border-style: solid; border-width: 0pt 0pt 0pt 1px; background: rgb(0, 51, 102) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.permissionCell { border-style: solid; border-width: 0pt 0pt 0pt 1px; border-left: 1px solid rgb(187, 187, 187); }
.warningPanel { border: 1px solid rgb(240, 192, 0); margin: 10px; padding: 8px; background: rgb(255, 255, 206) none repeat scroll 0% 0%; }
.alertPanel { border: 1px solid rgb(204, 0, 0); margin: 10px; padding: 8px; background: rgb(255, 204, 204) none repeat scroll 0% 0%; }
.optionPadded { padding: 2px; }
.optionSelected { border: 1px solid rgb(221, 221, 221); margin: -1px; padding: 2px; background-color: rgb(255, 255, 204); }
.optionSelected a { font-weight: bold; text-decoration: none; color: black; }
.noteMacro { border: 1px solid rgb(240, 192, 0); background-color: rgb(255, 255, 206); text-align: left; margin-top: 5px; margin-bottom: 5px; }
.warningMacro { border: 1px solid rgb(204, 0, 0); background-color: rgb(255, 204, 204); text-align: left; margin-top: 5px; margin-bottom: 5px; }
.infoMacro { border: 1px solid rgb(60, 120, 181); background-color: rgb(216, 228, 241); text-align: left; margin-top: 5px; margin-bottom: 5px; }
.tipMacro { border: 1px solid rgb(0, 153, 0); background-color: rgb(221, 255, 221); text-align: left; margin-top: 5px; margin-bottom: 5px; }
.informationMacroPadding { padding: 5px 0pt 0pt 5px; }
table.infoMacro td, table.warningMacro td, table.tipMacro td, table.noteMacro td, table.sectionMacro td { border: medium none ; }
table.sectionMacroWithBorder td.columnMacro { border: 1px dashed rgb(204, 204, 204); }
.pagecontent { padding: 10px; text-align: left; }
.topBarDiv a:link { color: rgb(255, 255, 255); }
.topBarDiv a:visited { color: rgb(255, 255, 255); }
.topBarDiv a:active { color: rgb(255, 255, 255); }
.topBarDiv a:hover { color: rgb(255, 255, 255); }
.topBarDiv { color: rgb(255, 255, 255); }
.topBar { background-color: rgb(0, 51, 102); }
.greyLinks a:link { color: rgb(102, 102, 102); text-decoration: underline; }
.greyLinks a:visited { color: rgb(102, 102, 102); text-decoration: underline; }
.greyLinks a:active { color: rgb(102, 102, 102); text-decoration: underline; }
.greyLinks a:hover { color: rgb(102, 102, 102); text-decoration: underline; }
.greyLinks { padding: 10px; color: rgb(102, 102, 102); display: block; }
.logoSpaceLink { color: rgb(153, 153, 153); text-decoration: none; }
.logoSpaceLink a:link { color: rgb(153, 153, 153); text-decoration: none; }
.logoSpaceLink a:visited { color: rgb(153, 153, 153); text-decoration: none; }
.logoSpaceLink a:active { color: rgb(153, 153, 153); text-decoration: none; }
.logoSpaceLink a:hover { color: rgb(0, 51, 102); text-decoration: none; }
.basicPanelContainer { border: 1px solid rgb(60, 120, 181); margin-top: 2px; margin-bottom: 8px; width: 100%; }
.basicPanelTitle { margin: 0px; padding: 5px; background-color: rgb(240, 240, 240); color: black; font-weight: bold; }
.basicPanelBody { margin: 0px; padding: 5px; }
.separatorLinks a:link { color: white; }
.separatorLinks a:visited { color: white; }
.separatorLinks a:active { color: white; }
.greynavbar { border-top: 1px solid rgb(60, 120, 181); background-color: rgb(240, 240, 240); margin-top: 2px; }
div.headerField { float: left; width: auto; height: 100%; }
.headerFloat { margin-left: auto; width: 50%; }
.headerFloatLeft { float: left; margin-right: 20px; margin-bottom: 10px; }
#headerRow { padding: 10px; }
div.license-personal { background-color: rgb(0, 51, 102); color: rgb(255, 255, 255); }
div.license-personal a { color: rgb(255, 255, 255); }
.greyFormBox { border: 1px solid rgb(204, 204, 204); padding: 5px; }
.marginlessForm { margin: 0px; }
.openPageHighlight { border: 1px solid rgb(221, 221, 221); padding: 2px; background-color: rgb(255, 255, 204); }
.editPageInsertLinks, .editPageInsertLinks a { color: rgb(102, 102, 102); font-weight: bold; font-size: 10px; }
.top10 a { font-weight: bold; font-size: 2em; color: rgb(0, 51, 102); }
.top25 a { font-weight: bold; font-size: 1.6em; color: rgb(0, 51, 102); }
.top50 a { font-size: 1.4em; color: rgb(0, 51, 102); }
.top100 a { font-size: 1.2em; color: rgb(0, 51, 102); }
.heatmap { margin: 0px auto; list-style-type: none; list-style-image: none; list-style-position: outside; width: 95%; }
.heatmap a { text-decoration: none; }
.heatmap a:hover { text-decoration: underline; }
.heatmap li { display: inline; }
.minitab { border-bottom: 1px solid rgb(60, 120, 181); padding: 3px 0px 3px 8px; margin-left: 0pt; margin-top: 1px; margin-bottom: 0px; font-family: Verdana,sans-serif; font-style: normal; font-variant: normal; font-weight: bold; font-size: 9px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; text-decoration: none; float: none; }
.selectedminitab { border-style: solid; border-color: rgb(60, 120, 181) rgb(60, 120, 181) white; border-width: 1px; padding: 3px 0.5em; background: white none repeat scroll 0% 0%; margin-left: 3px; margin-top: 1px; color: rgb(0, 0, 0); text-decoration: none; }
.unselectedminitab { border-style: solid solid none; border-color: rgb(60, 120, 181) rgb(60, 120, 181) -moz-use-text-color; border-width: 1px 1px medium; padding: 3px 0.5em; background: rgb(60, 120, 181) none repeat scroll 0% 0%; margin-left: 3px; margin-top: 1px; color: rgb(255, 255, 255); text-decoration: none; }
a.unselectedminitab:hover { border-color: rgb(0, 51, 102); background: rgb(0, 51, 102) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
a.unselectedminitab:link { color: white; }
a.unselectedminitab:visited { color: white; }
a.selectedminitab:link { color: black; }
a.selectedminitab:visited { color: black; }
.linkerror { background-color: rgb(255, 204, 204); }
a.labelOperationLink:link { text-decoration: underline; }
a.labelOperationLink:active { text-decoration: underline; }
a.labelOperationLink:visited { text-decoration: underline; }
a.labelOperationLink:hover { text-decoration: underline; }
a.newLabel:link { background-color: rgb(221, 255, 221); }
a.newLabel:active { background-color: rgb(221, 255, 221); }
a.newLabel:visited { background-color: rgb(221, 255, 221); }
a.newLabel:hover { background-color: rgb(221, 255, 221); }
ul.square { list-style-type: square; }
.inline-control-link { padding: 2px; background: rgb(255, 255, 204) none repeat scroll 0% 0%; font-size: 9px; color: rgb(102, 102, 102); text-transform: uppercase; text-decoration: none; }
.inline-control-link a:link { text-decoration: none; }
.inline-control-link a:active { text-decoration: none; }
.inline-control-link a:visited { text-decoration: none; }
.inline-control-link a:hover { text-decoration: none; }
.inline-control-link { padding: 2px; background: rgb(255, 255, 204) none repeat scroll 0% 0%; font-size: 9px; color: rgb(102, 102, 102); text-transform: uppercase; text-decoration: none; cursor: pointer; }
div.auto_complete { background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 350px; }
div.auto_complete ul { border: 1px solid rgb(136, 136, 136); margin: 0pt; padding: 0pt; width: 100%; list-style-type: none; }
div.auto_complete ul li { margin: 0pt; padding: 3px; }
div.auto_complete ul li.selected { background-color: rgb(255, 255, 187); }
div.auto_complete ul strong.highlight { margin: 0pt; padding: 0pt; color: rgb(136, 0, 0); }
.toogleFormDiv { border: 1px solid rgb(167, 166, 170); padding: 5px; background-color: white; margin-top: 5px; }
.toogleInfoDiv { border: 1px solid rgb(167, 166, 170); padding: 5px; background-color: white; display: none; margin-top: 10px; }
.inputSection { margin-bottom: 20px; }
#editBox { border: 1px solid lightgray; background-color: rgb(240, 240, 240); }
.leftnav li a { border-top: 1px solid rgb(60, 120, 181); margin: 0px; padding: 2px 2px 2px 5px; text-decoration: none; color: white; display: block; background-color: rgb(60, 120, 181); }
.leftnav li a:active { color: white; }
.leftnav li a:visited { color: white; }
.leftnav li a:hover { background-color: rgb(0, 51, 102); color: white; }

/* ::::: null ::::: */

div.auto_complete { background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 350px; }
div.auto_complete ul { border: 1px solid rgb(136, 136, 136); margin: 0pt; padding: 0pt; width: 100%; list-style-type: none; }
div.auto_complete ul li { margin: 0pt; padding: 3px; }
div.auto_complete ul li.selected { background-color: rgb(255, 255, 187); }
div.auto_complete ul strong.highlight { margin: 0pt; padding: 0pt; color: rgb(136, 0, 0); }
