/* ::::: http://fqrw.com/bbs/forumdata/cache/style_1_common.css?6qN ::::: */

* { word-wrap: break-word; }
body { background: rgb(13, 35, 69) url('bodybg.gif') repeat-x scroll 0pt 90px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; text-align: center; }
body, td, input, textarea, select, button { color: rgb(68, 68, 68); font-family: Verdana,Helvetica,Arial,sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: 1.6em; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
input, select, button { vertical-align: middle; }
body, ul, li, dl, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset { margin: 0pt; padding: 0pt; }
h1, h2, h3, h4, h5, h6 { font-size: 1em; }
ul li { list-style-type: none; list-style-image: none; list-style-position: outside; }
a { text-decoration: none; color: rgb(0, 0, 0); }
a:hover { text-decoration: underline; }
a img { border: medium none ; }
em, cite, strong, th { text-align: left; font-style: normal; }
table { empty-cells: show; border-collapse: collapse; }
.txt, .txtarea { border-style: solid; border-color: rgb(153, 153, 153) rgb(204, 204, 204) rgb(204, 204, 204) rgb(153, 153, 153); border-width: 1px; padding: 2px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; height: 16px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.txtarea { height: auto; }
.pipe { margin: 0pt 5px; }
.lighttxt, .lighttxt a, .pipe { color: rgb(153, 153, 153); }
.smalltext { font-size: 0.83em; font-family: Verdana,Helvetica,Arial,sans-serif; }
.noborder, .noborder td { border: medium none  ! important; }
.right { float: right; }
.left { float: left; }
#ajaxwaitid { background: rgb(221, 0, 0) none repeat scroll 0% 0%; overflow: hidden; display: none; position: absolute; z-index: 100; top: 0pt; right: 0pt; width: 100px; height: 1.6em; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; line-height: 1.6em; color: rgb(255, 255, 255); }
#checksecanswer img, #checksecanswer3 img, #checkseccodeverify img, #checkseccodeverify3 img, .warning img { vertical-align: middle; }
.s_clear:after { content: "."; display: block; height: 0pt; clear: both; visibility: hidden; }
.s_clear {  }
.wrap { margin: 0pt auto; text-align: left; }
#wrap { border: 0pt solid ; padding-bottom: 10px; min-height: 450px; background-color: rgb(255, 255, 255); clear: both; }
.wrap, #nav { width: 960px; }
#header { border-bottom: 1px solid rgb(0, 178, 232); background: rgb(0, 162, 210) url('header.gif') repeat-x scroll 0pt 100%; margin-bottom: 8px; min-width: 960px; width: 100%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#header .wrap { padding: 24px 0pt 22px; position: relative; }
#header h2 { float: left; }
#umenu { position: absolute; right: 0pt; top: 0pt; line-height: 20px; }
#umenu a { margin: 0pt 6px; }
#umenu, #umenu a, #umenu .pipe { color: rgb(151, 242, 255); }
#footer { padding: 1em 0pt; }
#rightinfo { float: left; }
#footlink { float: right; text-align: right; }
#footer, #footer a { color: rgb(134, 145, 162); }
#menu { position: absolute; right: 0pt; bottom: 0pt; height: 26px; }
#menu li { background: rgb(235, 244, 253) url('mtabbg.gif') repeat-x scroll 0pt 100%; display: inline; float: left; margin-left: 5px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#menu a { border-style: solid; border-color: rgb(176, 228, 239); border-width: 1px 1px 0pt; padding: 0pt 14px; background: transparent none repeat scroll 0% 0%; overflow: hidden; float: left; height: 25px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; line-height: 25px; color: rgb(102, 102, 102); text-decoration: none; }
#menu a:hover { border-color: rgb(0, 178, 232); background-color: rgb(30, 75, 126); color: rgb(195, 211, 228); }
#menu li.current a { border-color: rgb(0, 178, 232); height: 26px; background-color: rgb(30, 75, 126); color: rgb(195, 211, 228); }
#nav { margin: -8px auto 0pt; background: transparent url('icon_nav.gif') no-repeat scroll 0pt 50%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; text-align: left; text-indent: 25px; line-height: 3em; }
#nav, #nav a { color: rgb(195, 211, 228); }
.mainbox table { width: 100%; }
.postbtn, .replybtn, #modopt, #modopttmp { float: left; margin-right: 10px; color: rgb(0, 153, 204); cursor: pointer; }
.postbtn, .replybtn { background: transparent url('newtopic.gif') no-repeat scroll 0pt 0pt; overflow: hidden; width: 67px; height: 30px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; font-size: 14px; font-weight: 700; line-height: 28px; text-align: center; }
.replybtn { background-image: url('reply.gif'); }
.postbtn a, .replybtn a { display: block; padding-left: 5px; color: rgb(255, 255, 255); letter-spacing: 5px; }
.postbtn a:hover, .replybtn a:hover { text-decoration: none; }
.pages, .pageback { padding: 2px 0pt; float: right; }
.pages a, .pages strong, .pageback a { border: 1px solid ; padding: 0pt 6px; overflow: hidden; float: left; margin-right: 2px; height: 20px; line-height: 20px; }
.pages a, .pageback a { border-color: rgb(230, 231, 225); background-color: rgb(255, 255, 255); color: rgb(0, 153, 204); }
.pages a:hover, .pageback a:hover { text-decoration: none; }
.pageback a { background: rgb(255, 255, 255) url('arrow_left.gif') no-repeat scroll 0pt 50%; padding-left: 16px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.pages a:hover, .pageback a, .pages a.next { border-color: rgb(0, 153, 204); }
.float_typeid { float: left; margin-right: 6px; }
.dropmenu { background: transparent url('arrow_down.gif') no-repeat scroll 100% 50%; padding-right: 15px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; cursor: pointer; }
.popupmenu_popup { border: 1px solid rgb(127, 202, 226); padding: 10px; background: rgb(254, 254, 254) none repeat scroll 0% 0%; overflow: hidden; text-align: left; line-height: 1.4em; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.postmenu { width: 100px; }
.postmenu li, #visitedforums_menu li { background: transparent url('folder_s.gif') no-repeat scroll 3px 50%; float: left; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.postmenu li.poll { background-image: url('pollsmall.gif'); }
.postmenu li.trade { background-image: url('tradesmall.gif'); }
.postmenu li.reward { background-image: url('rewardsmall.gif'); }
.postmenu li.activity { background-image: url('activitysmall.gif'); }
.postmenu li.debate { background-image: url('debatesmall.gif'); }
.postmenu li.video { background-image: url('videosmall.gif'); }
.postmenu a, #visitedforums_menu a { border-bottom: 1px solid rgb(230, 231, 225); padding: 5px 0pt 5px 25px; display: block; width: 75px; }
.postmenu a:hover, #visitedforums_menu a:hover { text-decoration: none; color: rgb(0, 153, 204); border-bottom-color: rgb(227, 237, 245); }
#fjump_menu { padding: 10px 30px 10px 20px; }
#fjump_menu dl { padding: 5px 0pt; }
#fjump_menu dt a { font-weight: 700; color: rgb(102, 102, 102); }
#fjump_menu dd { padding-left: 1em; }
#fjump_menu li.sub { padding-left: 1em; }
#fjump_menu li.current a { font-weight: 700; }
#fjump_menu li a { font-weight: 400; color: rgb(0, 153, 204); }
#style_switch { position: absolute; right: 0px; bottom: -25px; }
#style_switch li { float: left; padding-left: 5px; }
#style_switch a { border: 1px solid rgb(221, 221, 221); background: rgb(255, 255, 255) none repeat scroll 0% 0%; overflow: hidden; float: left; width: 8px; height: 8px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; line-height: 100px; }
#style_switch a:hover, #style_switch .current a { border-color: rgb(255, 255, 255); }
#style_switch .current a { border-width: 2px; margin-top: -1px; }
#ad_headerbanner { margin: 5px 0pt 10px; float: right; }
.ad_footerbanner { margin: 5px; text-align: center; clear: both; }
.seccodecontent { border: 1px solid rgb(127, 202, 226); background: rgb(254, 254, 254) none repeat scroll 0% 0%; position: absolute; z-index: 11; top: 80px; left: 50px; width: 224px; height: 52px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.smilieslist { border: 1px solid rgb(127, 202, 226); padding: 10px; background: rgb(254, 254, 254) none repeat scroll 0% 0%; text-align: center; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.smilieslist td { border: medium none ; padding: 8px; cursor: pointer; }
.smilieslist_page { text-align: right; }
.smilieslist_table { border: 1px solid rgb(230, 231, 225); background: rgb(255, 255, 255) none repeat scroll 0% 0%; position: absolute; left: -100px; top: 0pt; width: 100px ! important; height: 100px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.smilieslist_preview { text-align: center; vertical-align: middle; }
.smiliesgroup { overflow: hidden; height: 33px; }
.smiliesgroup ul, .imguptype { border-bottom: 1px solid rgb(211, 232, 242); margin: 6px 0pt; padding: 0pt 0pt 26px 8px; }
.smiliesgroup li, .imguptype li { display: inline; }
.smiliesgroup li a, .imguptype li a { border: 1px solid rgb(211, 232, 242); margin: 2px 6px 0pt 0pt; padding: 2px 10px; float: left; height: 19px; color: rgb(0, 153, 204); }
.smiliesgroup li a:focus, .imguptype li a:focus { outline-color: -moz-use-text-color; outline-style: none; outline-width: medium; }
.smiliesgroup li a.current, .imguptype li a.current { border-bottom-color: rgb(254, 254, 254); font-weight: 700; color: rgb(68, 68, 68); }
/* ::::: http://fqrw.com/bbs/forumdata/cache/style_1_viewthread.css?6qN ::::: */

.forumcontrol {  }
.forumcontrol table { background: rgb(235, 242, 248) none repeat scroll 0% 0%; width: 100%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.forumcontrol td { padding: 15px; }
.forumcontrol .narrow td { padding: 0pt 15px 5px; }
.forumcontrol .modaction { background: rgb(211, 232, 242) none repeat scroll 0% 0%; width: 140px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.userinfopanel { border: 1px solid rgb(127, 202, 226); margin: -1px 0pt 0pt 9px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; position: absolute; z-index: 9999; width: 500px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; opacity: 0.99; }
.popavatar { float: left; width: 150px; }
.popuserinfo { padding: 5px 0pt; float: left; width: 350px; }
.imicons img { margin: 0pt 8px 0pt 0pt; vertical-align: middle; }
.userinfopanel p { margin: 0pt ! important; padding: 0pt ! important; text-align: left; }
.userinfopanel p a { color: rgb(0, 153, 204); }
.userinfopanel dl { margin: 5px 0pt; padding: 5px 0pt; }
.profile_side li { margin: 5px 0pt; background-position: 0pt 50%; background-repeat: no-repeat; text-indent: 22px; }
.profile_side li.pm { background-image: url('pmto.gif'); }
.profile_side li.buddy { background-image: url('addbuddy.gif'); }
.viewthread {  }
.threadfix { padding-bottom: 0pt ! important; min-height: 300px ! important; }
.viewthread table, #pmprompt table, #forumlinks, #pmlist, #specialpost, #newpost, #editpost { table-layout: fixed; }
.viewthread td.postcontent, .viewthread td.postauthor { border: medium none ; padding: 0pt 1px; overflow: hidden; vertical-align: top; }
.viewthread td.postcontent { padding: 0pt 15px; }
.mainbox td.postauthor { padding: 0pt; background: rgb(235, 242, 248) none repeat scroll 0% 0%; overflow: hidden; width: 170px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.postauthor .avatar { margin: 10px 20px; }
.postauthor p, .postauthor dl.profile { margin: 5px 10px 5px 20px; }
.postauthor p em, .postauthor dt em { color: rgb(255, 102, 0); }
.postauthor dd, .postauthor dt { overflow: hidden; height: 1.6em; line-height: 1.6em; float: left; }
.postauthor dt { margin-right: 5px; width: 50px; }
.postauthor dd { width: 80px; }
.posterinfo, .postmessage, .postact { max-width: 600px; }
.postinfo { border-bottom: 1px dashed rgb(230, 231, 225); overflow: hidden; color: rgb(102, 102, 102); margin-bottom: 10px; line-height: 36px; height: 36px; }
.postinfo strong a { border: 1px solid rgb(255, 255, 255); padding: 0pt 6px; float: right; height: 24px; font-weight: 100; color: rgb(68, 68, 68); line-height: 24px; margin-top: 4px; }
.postinfo strong a:hover { border: 1px solid rgb(0, 153, 204); text-decoration: none; }
.postinfo em { color: rgb(0, 153, 204); margin-right: 4px; }
.posterinfo { color: rgb(153, 153, 153); margin-right: auto; }
.authicon { margin-bottom: -4px; cursor: pointer; }
.posterinfo a, .posterinfo em { margin: 0pt 4px; color: rgb(68, 68, 68); }
.postmessage { clear: left; }
.postmessage * { line-height: normal; }
.postmessage h1, .postmessage h2 { margin: 8px 0pt; font-size: 1.17em; }
#threadtitle { border-bottom: 1px dashed rgb(230, 231, 225); margin-bottom: 8px; }
.defaultpost { padding-bottom: 1em; }
.t_msgfont, .t_msgfont td { font-size: 14px; line-height: 1.6em; }
.t_msgfont *, .t_bigfont .t_msgfont * { line-height: normal; }
.postactions { border-top: 1px dashed rgb(230, 231, 225); padding: 0pt 10px 0pt 0pt; }
.postactions p { float: right; }
.postactions p a { margin-right: 6px; }
.postact { line-height: 36px; }
.postact em { float: left; }
.postact em a { padding: 5px 10px 5px 25px; }
.fastreply { background: transparent url('fastreply.gif') no-repeat scroll 0pt 50%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.repquote { background: transparent url('repquote.gif') no-repeat scroll 0pt 50%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.threadad {  }
.threadad td.postauthor { padding: 0pt; background: rgb(211, 232, 242) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; height: 6px; }
.adcontent { background: rgb(235, 242, 248) none repeat scroll 0% 0%; overflow: hidden; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.pstatus, .modact { display: block; height: 32px; text-align: center; font-style: normal; color: rgb(153, 153, 153); font-size: 12px; }
.pstatus, .modact, .modact a { line-height: 32px ! important; color: rgb(153, 153, 153); }
.useraction { margin: 20px auto; height: 50px; width: 165px; clear: both; display: block; }
.useraction a { padding: 30px 0pt 0pt; background: transparent url('ajaxaction.gif') no-repeat scroll 0pt 0pt; float: left; margin-right: 10px; text-align: center; height: 20px; width: 45px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#emailfriend { background-position: 0pt -50px; }
#ratelink { background-position: 0pt -100px; }
.pagecontrol { float: right; width: 160px; }
.print { background: transparent url('printpost.gif') no-repeat scroll 0pt 10px; padding-left: 20px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.msgfsize * { float: left; }
.msgfsize small, .msgfsize big { width: 20px; text-indent: -9999px; cursor: pointer; }
.msgfsize small { background: transparent url('text_common.gif') no-repeat scroll 7px 8px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.msgfsize big { background: transparent url('text_zoom.gif') no-repeat scroll 0pt 8px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.postmessage strong { font-weight: bold; }
.postmessage span.t_tag { border-bottom: 1px solid rgb(255, 0, 0); cursor: pointer; white-space: nowrap; }
.postmessage span.t_tag:hover { border-bottom: 1px solid; }
.t_msgfontfix table, .specialmsg table { margin-left: 1px; }
#f_post td { padding-top: 15px; padding-bottom: 20px; vertical-align: top; }
#f_post p, .fastcheck { margin: 5px 0pt; }
#f_post .txtarea { border-color: -moz-use-text-color rgb(204, 204, 204) rgb(204, 204, 204) rgb(153, 153, 153); border-top: medium none; margin: -1px 0pt 0pt; overflow: auto; width: 596px; height: 120px; }
.defaultpost { height: auto ! important; min-height: 280px ! important; }
.t_msgfontfix { min-height: 100px; }
/* ::::: http://fqrw.com/bbs/forumdata/cache/style_1_seditor.css?6qN ::::: */

.editor_tb { border-style: solid solid none; border-color: rgb(153, 153, 153) rgb(204, 204, 204) -moz-use-text-color rgb(153, 153, 153); border-width: 1px 1px medium; margin: 5px 0pt 0pt; background: rgb(247, 247, 247) none repeat scroll 0% 0%; width: 600px; height: 26px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.editor_tb .right a { color: rgb(0, 153, 204); }
.editor_tb .right { padding-right: 10px; line-height: 26px; }
.editor_tb div a { margin: 5px 3px 0pt; background: transparent url('editor.gif') no-repeat scroll 0% 0%; overflow: hidden; float: left; width: 16px; height: 16px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; text-indent: -9999px; line-height: 16px; }
.editor_tb div a.tb_bold { background-position: -3px -1px; }
.editor_tb div a.tb_color { background-position: -3px -81px; }
.editor_tb div a.tb_img { background-position: -3px -161px; }
.editor_tb div a.tb_link { background-position: -3px -121px; }
.editor_tb div a.tb_quote { background-position: -3px -441px; }
.editor_tb div a.tb_code { background-position: -3px -461px; }
.editor_tb div a.tb_smilies { background-position: -2px -102px; }
.editor_tb .tb_color input { border: 0pt none ; margin: 2px; padding: 0px; float: left; cursor: pointer; width: 10px; height: 10px; }
