/* ::::: http://s7.addthis.com/static/r07/widgetbig044.css ::::: */

.addthis_32x32_style .at15nc.at300bs, .addthis_32x32_style .at15nc.at15t { background: url('widget044_32x32.png') no-repeat scroll 0px 0px transparent ! important; }
.addthis_32x32_style .at15nc.at15t_compact { background-position: 0px -2016px ! important; }
.addthis_32x32_style .at15nc.at15t_facebook { background-position: 0px -3264px ! important; }
.addthis_32x32_style .at15nc.at15t_favorites { background-position: 0px -3584px ! important; }
.addthis_32x32_style .at15nc.at15t_google { background-position: 0px -4256px ! important; }
.addthis_32x32_style .at15nc.at15t_compact { background-position: 0px -6816px ! important; }
/* ::::: http://s7.addthis.com/static/r07/counter000.css ::::: */

.addthis_counter { font-weight: bold; display: block; border: 0px none; cursor: pointer; color: rgb(255, 255, 255); }
.addthis_counter a { display: block; font-family: arial,helvetica,sans-serif ! important; text-decoration: none ! important; border: 0px none; }
.addthis_counter { text-decoration: none ! important; text-align: left; }
.addthis_counter .atc_s, .addthis_counter .addthis_button_expanded { background: url('undefined') no-repeat scroll 0% 0% transparent; }
.addthis_counter a.atc_s { display: block; background-repeat: no-repeat; background-position: 0px 0px; width: 50px; height: 20px; line-height: 20px; overflow: hidden; cursor: pointer; }
.addthis_counter a.atc_s:hover { background-position: 0px -20px; height: 20px; }
.addthis_counter.addthis_pill_style a.addthis_button_expanded:hover, .addthis_counter.addthis_pill_style a.atc_s:hover, .addthis_counter a.addthis_button_expanded:hover, .addthis_counter a.atc_s:hover { text-decoration: none; color: rgb(0, 0, 0); }
.addthis_counter .addthis_button_expanded { display: block; background-repeat: no-repeat; background-position: 0px -40px; width: 50px; height: 33px; line-height: 33px; padding-bottom: 4px; margin-bottom: 3px; text-align: center; text-decoration: none; font-size: 16px; font-weight: bold; color: rgb(51, 51, 51); }
.addthis_counter .addthis_button_expanded:hover { background-position: 0px -77px; cursor: pointer; color: rgb(0, 0, 0); }
.addthis_counter.addthis_pill_style { display: inline-block; height: 20px; overflow: hidden; }
.addthis_counter.addthis_pill_style a.atc_s { float: left; }
.addthis_counter.addthis_pill_style a.addthis_button_expanded { display: none; background-repeat: no-repeat; background-position: 0px -114px; width: 34px ! important; height: 20px; line-height: 20px; margin: 0px 0px 0px 3px; padding: 0px 0px 0px 4px; float: left; text-align: center; text-decoration: none; font-family: arial,helvetica,sans-serif; font-weight: bold; font-size: 11px; color: rgb(51, 51, 51); }
.addthis_counter.addthis_pill_style.addthis_nonzero a.addthis_button_expanded { display: block ! important; }
.addthis_counter.addthis_pill_style a.addthis_button_expanded:hover { background-position: 0px -134px ! important; }
.addthis_default_style .addthis_counter { display: block; float: left; }
/* ::::: http://s7.addthis.com/static/r07/widget082.css ::::: */

.addthis_toolbox.addthis_default_style span { line-height: 16px; }
.addthis_toolbox.addthis_32x32_style span { line-height: 32px; }
div.atclear { clear: both; }
.addthis_default_style .addthis_separator, .addthis_default_style .at300b, .addthis_default_style .at300bo, .addthis_default_style .at300m, .addthis_default_style .at300bs { float: left; }
.addthis_default_style .at300b, .addthis_default_style .at300bo, .addthis_default_style .at300m { padding: 0px 2px; }
.at300b, .at300bo, .at300m, .at300bs { cursor: pointer; }
.at300b:hover { opacity: 0.8; }
.at300bs:hover { opacity: 0.8; }
.addthis_32x32_style .dummy .at300bs, .addthis_32x32_style .at300bs, .addthis_32x32_style .at15t { background: url('widget005_32x32_top.png') no-repeat scroll left center transparent; overflow: hidden; display: block; height: 32px ! important; width: 32px ! important; line-height: 32px ! important; }
.addthis_32x32_style .at15t_facebook { background-position: 0px -160px ! important; }
.addthis_32x32_style .at15t_favorites { background-position: 0px -192px ! important; }
.addthis_32x32_style .at15t_google { background-position: 0px -256px ! important; }
.addthis_32x32_style .at15t_compact { background-position: 0px -416px ! important; }
.at300bs { background: url('widget044.png') no-repeat scroll 0px 0px transparent; overflow: hidden; display: block; height: 16px; width: 16px; line-height: 16px ! important; }
.at15t_facebook { background-position: 0px -1584px; }
.at15t_favorites { background-position: 0px -1760px; }
.at15t_google { background-position: 0px -2096px; }
.at15t_compact { background-position: 0px -3376px; }
.addthis_default_style .at15t_expanded, .addthis_default_style .at15t_compact { margin-right: 4px; }
:first-child + html #at_email textarea { height: 42px ! important; }
* html #at16psf input, :first-child + html #at16psf input { padding: 0px; }
:first-child + html #at_email #at16eatdr { top: 115px ! important; width: 272px ! important; }
#_atssh { width: 1px ! important; height: 1px ! important; border: 0px none ! important; }
@media print {
  #at20mc { display: none; }
}
.at_a11y { position: absolute ! important; left: -10000px ! important; top: auto ! important; width: 1px ! important; height: 1px ! important; overflow: hidden ! important; }
/* ::::: http://ntest.zobyhost.com/wp-content/themes/arjuna-x/style.css ::::: */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td { margin: 0px; padding: 0px; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
ol, ul { list-style: none outside none; }
address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal; }
table { border-collapse: collapse; border-spacing: 0px; }
fieldset, img { border: 0px none; }
abbr { border: 0px none; }
blockquote { background: url('blockquote.png') no-repeat scroll 3px 3px transparent; padding: 4px 12px 0px 40px; margin: 5px 0px; overflow: hidden; font-style: italic; }
body { font-family: Arial,Helvetica,Verdana,sans-serif; font-size: 13px; line-height: normal; }
a, a:visited { text-decoration: none; color: rgb(92, 122, 153); }
a:hover { text-decoration: underline; }
a.btn, a.btn:hover { display: inline-block; height: 18px; background: url('icons.png') no-repeat scroll 0px -450px transparent; color: rgb(92, 122, 153); text-decoration: none; margin: 0px 0px 0px 10px; }
.btn span { display: block; height: 18px; margin-left: 21px; background: url('icons.png') no-repeat scroll 100% -60px transparent; line-height: 18px; font-size: 11px; padding: 0px 15px 0px 8px; }
a.btn:hover span { background-position: 100% -80px; }
.clear { display: block; clear: both; }
a#skipToPosts { position: absolute; top: 0px; left: -999em; }
.pageContainer { text-align: left; width: 980px; margin: 0px auto; position: relative; z-index: 1; }
.headerBG { width: 1000px; height: 80px; position: absolute; top: 0px; left: -20px; background: url('headerbg.png') no-repeat scroll 0px 0px transparent; }
.header { position: relative; z-index: 2; margin: 0px 10px; }
.headerMain { position: relative; }
.headerMain h1 { position: absolute; left: 50px; top: 10px; color: rgb(54, 65, 77); font-size: 40px; font-family: "Times New Roman",Times,serif; }
.headerMain h1 a, .headerMain h1 a:visited, .headerMain h1 a:hover { color: rgb(54, 65, 77); font-size: 40px; font-family: "Times New Roman",Times,serif; text-decoration: none; }
.headerMain span { position: absolute; left: 52px; top: 53px; color: rgb(102, 102, 102); font-size: 14px; font-family: "Times New Roman",Times,serif; }
.header_lightBlue { height: 300px; background: url('lightblue.jpg') no-repeat scroll 0px 0px transparent; }
.headerSearch { width: 200px; height: 25px; position: absolute; }
.headerSearchBottom { bottom: 0px; right: 1px; background: url('searchbottom.png') no-repeat scroll 0px 0px transparent; }
.headerSearch .searchQuery { display: block; float: left; padding: 6px 5px 5px 10px; width: 157px; height: 14px; font-size: 11px; border: 0px none; color: rgb(51, 51, 51); background: none repeat scroll 0% 0% transparent; }
.headerSearch .searchQueryIA { color: rgb(102, 102, 102); font-style: italic; text-shadow: 1px 1px 1px rgb(255, 255, 255); }
.headerSearch .searchButton { display: block; float: left; margin-left: 3px; width: 25px; height: 25px; padding: 0px; border: 0px none; background: none repeat scroll 0% 0% transparent; text-indent: -1000px; cursor: pointer; }
.contentWrapper { min-height: 350px; padding: 20px; }
.headerMenu2 { position: relative; z-index: 2; background: url('menu-2.png') no-repeat scroll 0px 100% transparent; }
.headerMenu2 .helper { height: 1px; background: url('menu-2.png') no-repeat scroll 0px 0px transparent; }
.headerMenu2 ul { margin: 0px 20px; min-height: 26px; }
.headerMenu2DS ul { padding-left: 2px; background: url('menu-2.png') no-repeat scroll -2498px 0px transparent; }
.headerMenu2 li { float: left; height: 26px; position: relative; z-index: 1; }
.headerMenu2DS li { background: url('menu-2.png') no-repeat scroll right 0px transparent; padding-right: 2px; }
.headerMenu2 li a, .headerMenu2 li a:visited { display: block; line-height: 26px; height: 26px; color: rgb(255, 255, 255); font-size: 12px; text-decoration: none; padding: 0px 8px; }
.headerMenu2 li a:hover, .headerMenu2 li a.active { background: url('menu-2.png') no-repeat scroll -1050px 0px transparent; color: rgb(221, 221, 221); text-decoration: none; }
.headerMenu2 li a:not([href]) { cursor: default; }
.headerMenu2 li a.homeIcon, .headerMenu2 li a.homeIcon:visited { background: url('menu-2.png') no-repeat scroll -2000px 0px transparent; padding-left: 26px; }
.headerMenu2 li a.homeIcon:hover, .headerMenu2 li a.homeIcon.active { background: url('menu-2.png') no-repeat scroll -1000px 0px transparent; }
.postHeader {  }
.postTitle { font-weight: bold; font-size: 16px; font-family: Verdana,Geneva,sans-serif; text-decoration: none; color: rgb(0, 0, 0); }
.postHeader .postTitle { background: url('heading.png') no-repeat scroll 0px 0px transparent; padding-left: 15px; margin-right: 15px; }
.postHeader .postTitle a, .postHeader .postTitle a:visited { color: rgb(0, 0, 0); }
.postHeader .postTitle span { display: block; background: url('heading.png') no-repeat scroll right 0px transparent; padding: 6px 15px 5px; margin-right: -15px; }
.postHeader a:hover { text-decoration: none; }
.postHeader .bottom { background: url('heading.png') no-repeat scroll 0px -60px transparent; padding-left: 15px; margin-right: 15px; }
.postHeader .bottom div { background: url('heading.png') no-repeat scroll right -60px transparent; padding: 0px 15px; margin-right: -15px; height: 22px; position: relative; }
.postDate { display: block; float: left; font-size: 11px; color: rgb(85, 85, 85); line-height: 22px; background: url('heading.png') no-repeat scroll 0px -86px transparent; padding-left: 20px; }
.postAuthor { display: block; float: left; font-size: 11px; color: rgb(85, 85, 85); line-height: 22px; background: url('heading.png') no-repeat scroll -200px -86px transparent; padding-left: 15px; margin-left: 15px; }
.postAuthor a { color: rgb(85, 85, 85); }
.postCommentLabel { display: block; height: 16px; position: absolute; right: 20px; top: 3px; background: url('icons.png') no-repeat scroll 0px 0px transparent; }
.postCommentLabel span { display: block; height: 16px; margin-left: 21px; background: url('icons.png') no-repeat scroll 100% -20px transparent; line-height: 16px; font-size: 11px; padding: 0px 15px 0px 8px; color: rgb(85, 85, 85); }
a.postCommentLabel span { color: rgb(92, 122, 153); }
a.postCommentLabel:hover span { background-position: 100% -40px; }
a.postCommentLabel:hover { text-decoration: none; }
.postContent { color: rgb(34, 34, 34); font-family: Verdana,Geneva,sans-serif; font-size: 12px; line-height: 20px; margin: 20px 15px; overflow: hidden; }
.postContent p, .comment .message p { margin: 0px 0px 15px; }
.postContent strong, .comment .message strong { font-weight: bold; }
.postContent h3, .comment .message h3 { font-size: 14px; font-weight: bold; margin-bottom: 10px; }
.postContent h4, .comment .message h4 { font-size: 13px; font-weight: bold; margin-bottom: 10px; }
.postFooter { background: url('postfooter.png') no-repeat scroll 0px 0px transparent; margin: 0px 40px 20px 0px; padding-left: 40px; position: relative; min-height: 33px; }
.postFooter .r { height: 33px; background: url('postfooter.png') no-repeat scroll 100% 0px transparent; width: 40px; position: absolute; right: -40px; top: 0px; }
.postFooter .left { margin-left: -20px; margin-right: 130px; overflow: hidden; padding-top: 8px; }
.postCategories { background: url('icons.png') no-repeat scroll 0px -99px transparent; padding-left: 25px; font-size: 11px; margin-right: 20px; float: left; }
.postTags { background: url('icons.png') no-repeat scroll 0px -250px transparent; padding-left: 25px; font-size: 11px; float: left; }
.noComments { margin: 0px 0px 40px; text-align: center; color: rgb(51, 51, 51); }
.postComments { margin-top: 30px; }
.commentHeader { min-height: 27px; background: url('icons.png') repeat-x scroll 0px -375px transparent; margin-bottom: 20px; overflow: hidden; }
.commentHeader .tabs { overflow: hidden; float: left; font-size: 13px; font-family: Verdana,Geneva,sans-serif; margin: 0px 0px 0px 15px; }
.commentHeader .tabs li { float: left; display: block; margin-right: 5px; }
.commentHeader .tabs li a { display: block; margin-right: 5px; height: 25px; color: rgb(51, 51, 51); text-decoration: none; outline: medium none; }
.commentHeader .tabs li a span { display: block; margin: 0px -5px 0px 10px; height: 25px; line-height: 25px; }
.commentHeader .tabs li a.active { background: url('commenttabs.png') no-repeat scroll 0px 0px transparent; }
.commentHeader .tabs li a.active span { background: url('commenttabs.png') no-repeat scroll right 0px transparent; }
.commentHeader .tabs a.comments i { background: url('commenttabs.png') no-repeat scroll 0px -47px transparent; padding: 0px 10px 0px 20px; }
.commentHeader .tabs a.trackbacks i { background: url('commenttabs.png') no-repeat scroll 0px -98px transparent; padding: 0px 10px 0px 20px; }
.commentHeader .buttons { float: right; margin-right: 20px; }
.commentBody .contentBox { display: none; }
.commentBody .active { display: block; }
a.btnTrackback, a.btnTrackback:hover { background-position: 0px -490px; margin-top: 5px; }
a.btnReply, a.btnReply:hover { background-position: 0px -470px; margin-top: 5px; }
li.comment, li.pingback { overflow: hidden; margin-bottom: 20px; list-style: none outside none ! important; }
.comment .avatar, .pingback .avatar { border: 1px solid rgb(166, 166, 166); background-color: rgb(217, 217, 217); padding: 1px; float: left; margin-top: 8px; }
.comment .message, .pingback .message { margin-left: 50px; }
.comment .message .t, .pingback .message .t { height: 40px; background: url('comment.png') no-repeat scroll 0px 0px transparent; margin-right: 10px; }
.comment .message .t div, .pingback .message .t div { height: 40px; width: 10px; background: url('comment.png') no-repeat scroll -990px 0px transparent; float: right; margin-right: -10px; }
.comment .message .i, .pingback .message .i { border-style: solid; border-color: rgb(191, 191, 191); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none 100% 100% 100% 100% / 1 1 1 1 / 0 0 0 0 stretch stretch; border-width: 0px 1px; background-color: rgb(242, 242, 242); margin: 0px 0px 0px 17px; padding: 1px 0px; }
.comment .message .i .i2, .pingback .message .i .i2 { margin: -37px 15px 0px; position: relative; padding-top: 14px; }
.comment .message .i span, .pingback .message .i span { font-size: 11px; }
.comment .message .i .title, .pingback .message .i .title { display: block; position: absolute; top: 0px; left: 5px; }
.comment .message .i .links, .pingback .message .i .links { display: block; position: absolute; top: 0px; right: 5px; }
.comment .message .b, .pingback .message .b { height: 11px; background: url('comment.png') no-repeat scroll 0px -40px transparent; margin-right: 10px; }
.comment .message .b div, .pingback .message .b div { height: 11px; width: 10px; background: url('comment.png') no-repeat scroll -990px -40px transparent; float: right; margin-right: -10px; }
.comment .message p, .comment .message ul, .pingback .message p, .pingback .message ul { margin-top: 10px; font-size: 12px; line-height: 150%; }
.postLinkPages { font-size: 11px; margin: 0px 20px 10px; }
.commentReply { padding-top: 20px; }
.replyHeader { overflow: hidden; height: 30px; background: url('icons.png') repeat-x scroll 0px -372px transparent; margin-bottom: 20px; }
.replyHeader h4 { font-size: 16px; font-family: Verdana,Geneva,sans-serif; line-height: 30px; margin: 0px 20px 0px 15px; float: left; }
.cancelReply { display: inline; }
a.btnCancel, a.btnCancel:hover { margin-top: 5px; background-position: 0px -550px; }
.commentReply .replyRow { margin-bottom: 2px; }
.commentReply .inputText { background: url('inputtext.png') no-repeat scroll 0px 0px rgb(242, 242, 242); border: 1px solid rgb(153, 153, 153); padding: 3px 8px; font-size: 13px; width: 184px; font-family: Verdana,Geneva,sans-serif; }
.commentReply textarea { font-family: Verdana,Geneva,sans-serif; background: url('inputtext.png') no-repeat scroll 0px 0px rgb(242, 242, 242); border: 1px solid rgb(153, 153, 153); padding: 3px 8px; font-size: 13px; width: 98%; height: 120px; }
.commentReply .inputIA { color: rgb(153, 153, 153); font-style: italic; }
.replySubmitArea { overflow: hidden; margin-top: 10px; }
.inputBtn { float: right; background: url('button.png') no-repeat scroll 0px 0px transparent; border: 0px none; height: 23px; width: 160px; margin-right: 20px; padding: 0px; position: relative; overflow: visible; cursor: pointer; text-align: center; line-height: 20px; color: rgb(179, 179, 179); }
.inputBtn::-moz-focus-inner { padding: 0px; border: 0px none; }
a.btnSubscribe, a.btnSubscribe:hover { background-position: 0px -510px; }
.pagination, .pagination div, .pagination .info, .pagination a span { background: url('default.png') no-repeat scroll 0px 100px transparent; }
.pagination { height: 24px; background-position: 0px -30px; margin: 30px 10px 0px 0px; }
.pagination div { height: 24px; background-position: right -30px; margin: 0px -10px 0px 10px; padding: 0px 20px 0px 10px; }
.pagination a { display: block; float: left; height: 20px; border: 1px solid rgb(154, 154, 154); background: none repeat scroll 0% 0% rgb(255, 255, 255); border-radius: 3px 3px 3px 3px; }
.pagination a span { display: block; margin: 1px; height: 18px; color: rgb(92, 122, 153); font-size: 11px; line-height: 18px; padding: 0px 7px; background-position: -15px -100px; }
.pagination a:hover { text-decoration: none; border-color: rgb(128, 128, 128); }
.pagination a:hover span { background-position: -15px -125px; }
.pagination .newer { display: block; margin-top: 1px; }
.pagination .newer span { background-position: 0px -100px; padding-left: 20px; }
.pagination a.newer:hover span { background-position: 0px -125px; }
.pagination .older { display: block; float: right; margin-top: 1px; }
.pagination .older span { background-position: right -100px; padding-right: 20px; }
.pagination a.older:hover span { background-position: right -125px; }
.footer { height: 90px; width: 960px; margin: 10px auto 0px; background: url('footer.png') no-repeat scroll 0px 0px transparent; position: relative; }
.footer .icon1 { position: absolute; top: 20px; left: 80px; }
.footer .icon2 { position: absolute; top: 21px; left: 110px; }
.footer .copyright { position: absolute; top: 15px; left: 150px; color: rgb(153, 153, 153); font-size: 11px; }
.footer .design { position: absolute; top: 30px; left: 150px; color: rgb(153, 153, 153); font-size: 11px; }
.footer .design a { color: rgb(153, 153, 153); text-decoration: none; }
.footer .design a em { color: rgb(82, 92, 102); }
.contentArea { float: left; }
.sidebarIcons { margin-bottom: 10px; }
.RS .sidebarsRight { float: right; margin-left: 10px; }
.sidebars .t { height: 170px; background: url('sidebars.png') no-repeat scroll -500px 0px transparent; margin-right: 15px; }
.sidebars .t div { height: 170px; width: 15px; background: url('sidebars.png') no-repeat scroll -985px 0px transparent; float: right; margin-right: -15px; }
.sidebars .i { background: url('sidebars.png') repeat-y scroll -1000px 0px transparent; margin-right: 15px; }
.sidebars .i .i2 { background: url('sidebars.png') repeat-y scroll right 0px transparent; margin: 0px -15px 0px 15px; padding: 1px 0px; }
.sidebars .i .c { margin: -155px 15px 0px 0px; position: relative; }
.sidebars h4 { border-style: solid; border-color: rgb(204, 204, 204); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none 100% 100% 100% 100% / 1 1 1 1 / 0 0 0 0 stretch stretch; border-width: 1px 0px; background-color: rgb(251, 251, 251); margin: 10px -14px; }
.sidebars h4 span { display: block; margin: 1px 0px; background-color: rgb(235, 235, 235); font-family: Verdana,Geneva,sans-serif; font-size: 16px; padding: 6px 15px; }
.sidebars ul {  }
.sidebars li { background: url('sidebars.png') no-repeat scroll -500px -195px transparent; padding: 0px 0px 0px 20px; margin-bottom: 1px; line-height: 18px; font-size: 12px; font-family: Verdana,Geneva,sans-serif; }
.sidebarIcons a, .rssBtnExtended { display: inline-block; height: 26px; padding: 0px 0px 0px 32px; margin-right: 5px; line-height: 26px; font-size: 12px; font-weight: bold; vertical-align: middle; }
.sidebars .rssBtnExtended { padding: 0px; color: rgb(102, 39, 0); }
.sidebars .rssBtnExtended a { float: none; }
.sidebars .rssBtnExtended .primary { vertical-align: middle; display: inline-block; width: 26px; background: url('sidebars.png') no-repeat scroll 0px -200px transparent; padding: 0px; margin: 0px; float: none; }
#rss-extended { vertical-align: middle; display: inline-block; width: 9px; height: 26px; background: url('sidebars.png') no-repeat scroll -26px -200px transparent; position: relative; padding-right: 8px; }
#rss-extended ul { position: absolute; top: 0px; left: 7px; display: none; background: none repeat scroll 0% 0% rgb(255, 243, 229); border: 1px solid rgb(229, 188, 160); margin: 0px; z-index: 1; height: auto; padding: 0px; }
#rss-extended li { float: none; width: 180px; height: auto; background: none repeat scroll 0% 0% transparent; padding: 0px; }
#rss-extended li.separator { border-bottom: 1px solid rgb(242, 213, 194); margin: 5px 5px 4px; width: 170px; }
#rss-extended li a, #rss-extended li a:visited { height: auto; line-height: 20px; padding: 0px 8px; width: 164px; position: relative; color: rgb(128, 89, 51); float: none; font-size: 11px; display: block; font-weight: normal; margin: 0px; }
#rss-extended li a:hover, #rss-extended li a.active { background: none repeat scroll 0% 0% rgb(255, 230, 204); color: rgb(128, 89, 51); text-decoration: none; }
#rss-extended li a em { font-style: italic; }
.sidebars .b { height: 15px; background: url('sidebars.png') no-repeat scroll -500px -170px transparent; margin-right: 15px; }
.sidebars .b div { height: 15px; width: 15px; background: url('sidebars.png') no-repeat scroll -985px -170px transparent; float: right; margin-right: -15px; }
.contentWrapper .contentArea { width: 700px; }
.contentWrapper .sidebarsRight { width: 220px; }
/* ::::: http://ntest.zobyhost.com/wp-content/plugins/fancybox-for-wordpress/css/fancybox.css ::::: */

div#fancy_overlay { position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; display: none; z-index: 300; }
div#fancy_loading { position: absolute; height: 40px; width: 40px; cursor: pointer; display: none; overflow: hidden; background: none repeat scroll 0% 0% transparent; z-index: 1000; }
div#fancy_loading div { position: absolute; top: 0px; left: 0px; width: 40px; height: 480px; background: url('fancy_progress.png') no-repeat scroll 0% 0% transparent; }
div#fancy_outer { position: absolute; top: 0px; left: 0px; z-index: 900; padding: 20px 20px 40px; margin: 0px; background: none repeat scroll 0% 0% transparent; display: none; }
div#fancy_inner { position: relative; width: 100%; height: 100%; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
div#fancy_content { margin: 0px; z-index: 1000; position: absolute; }
div#fancy_close { position: absolute; height: 30px; width: 30px; background: url('fancy_closebox.png') no-repeat scroll left top transparent; cursor: pointer; z-index: 1810; display: none; }
a#fancy_left, a#fancy_right { position: absolute; bottom: 0px; height: 100%; width: 35%; cursor: pointer; z-index: 1110; display: none; background-image: url('undefined'); outline: medium none; overflow: hidden; }
a#fancy_left { left: 0px; }
a#fancy_right { right: 0px; }
span.fancy_ico { position: absolute; top: 50%; margin-top: -15px; width: 30px; height: 30px; z-index: 1120; cursor: pointer; display: block; }
span#fancy_left_ico { left: -9999px; background: url('fancy_left.png') no-repeat scroll 0% 0% transparent; }
span#fancy_right_ico { right: -9999px; background: url('fancy_right.png') no-repeat scroll 0% 0% transparent; }
a#fancy_left:hover, a#fancy_right:hover { visibility: visible; background-color: transparent; }
a#fancy_left:hover span { left: 20px; }
a#fancy_right:hover span { right: 20px; }
div#fancy_bg { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 700; border: 0px none; padding: 0px; margin: 0px; }
div.fancy_bg { position: absolute; display: block; z-index: 700; border: 0px none; padding: 0px; margin: 0px; }
div#fancy_bg_n { top: -20px; left: 0px; width: 100%; height: 20px; background: url('fancy_shadow_n.png') repeat-x scroll 0% 0% transparent; }
div#fancy_bg_ne { top: -20px; right: -20px; width: 20px; height: 20px; background: url('fancy_shadow_ne.png') no-repeat scroll 0% 0% transparent; }
div#fancy_bg_e { right: -20px; height: 100%; width: 20px; background: url('fancy_shadow_e.png') repeat-y scroll 0% 0% transparent; }
div#fancy_bg_se { bottom: -20px; right: -20px; width: 20px; height: 20px; background: url('fancy_shadow_se.png') no-repeat scroll 0% 0% transparent; }
div#fancy_bg_s { bottom: -20px; left: 0px; width: 100%; height: 20px; background: url('fancy_shadow_s.png') repeat-x scroll 0% 0% transparent; }
div#fancy_bg_sw { bottom: -20px; left: -20px; width: 20px; height: 20px; background: url('fancy_shadow_sw.png') no-repeat scroll 0% 0% transparent; }
div#fancy_bg_w { left: -20px; height: 100%; width: 20px; background: url('fancy_shadow_w.png') repeat-y scroll 0% 0% transparent; }
div#fancy_bg_nw { top: -20px; left: -20px; width: 20px; height: 20px; background: url('fancy_shadow_nw.png') no-repeat scroll 0% 0% transparent; }
div#fancy_title { position: absolute; z-index: 1000; display: none; }
div#fancy_title div { color: rgb(255, 255, 255); font: bold 12px Arial; padding-bottom: 3px; white-space: nowrap; }
div#fancy_title table { margin: 0px auto; }
div#fancy_title table td { padding: 0px; vertical-align: middle; }
td#fancy_title_left { height: 32px; width: 15px; background: url('fancy_title_left.png') repeat-x scroll 0% 0% transparent; }
td#fancy_title_main { height: 32px; background: url('fancy_title_main.png') repeat-x scroll 0% 0% transparent; }
td#fancy_title_right { height: 32px; width: 15px; background: url('fancy_title_right.png') repeat-x scroll 0% 0% transparent; }
div#fancy_inner { border-color: rgb(187, 187, 187); }
div#fancy_close { right: -15px; top: -12px; }
div#fancy_bg { background-color: rgb(255, 255, 255); }
/* ::::: http://ntest.zobyhost.com/wp-content/plugins/advanced-spoiler/css/advanced-spoiler.css?ver=2.02 ::::: */

/* ::::: http://ntest.zobyhost.com/wp-content/plugins/wp-page-numbers/classic/wp-page-numbers.css ::::: */

/* ::::: http://ntest.zobyhost.com/wp-content/plugins/wp-table-reloaded/css/plugin.css?ver=1.9.1 ::::: */

/* ::::: http://ntest.zobyhost.com/wp-content/plugins/wp-table-reloaded/css/datatables.css?ver=1.9.1 ::::: */

.recentcomments a { display: inline ! important; padding: 0px ! important; margin: 0px ! important; }
#zobyad { background-color: rgb(153, 0, 0); width: 100%; height: 40px; text-align: center; color: rgb(204, 204, 204); font-weight: bold; position: fixed; bottom: 0px; right: 0px; padding: 5px 0px; }
