/* ::::: https://plusone.google.com/_/apps-static/_/ss/plusone/ver=-rkwk5x4ov63f/am=!utGXoaV9iW6A5hH1yQ/bf=wgE/r=O/rs=AItRSTPG8285N1JZrXsKb5U3ssoVL41XzQ ::::: */

* html .c-wa-Da, :first-child + html .c-wa-Da { display: inline; }
.SM { float: left; white-space: nowrap; }
.k-bl-bg-SH { margin: 0px; padding: 0px; }
.LM { outline: 0px none; text-decoration: none; display: block; }
.Rg { width: 32px; height: 20px; }
.gf .Rg { background: url('sprite4-a67f741843ffc4220554c34bd01bb0bb.png') no-repeat scroll 0px -720px transparent; }
.gf a.Rg:hover { background: url('sprite4-a67f741843ffc4220554c34bd01bb0bb.png') no-repeat scroll 0px -766px transparent; }
.gf a.Rg:active { background: url('sprite4-a67f741843ffc4220554c34bd01bb0bb.png') no-repeat scroll -25px -463px transparent; }
.jk, .ik, .hk { float: left; }
.jn, .kn { background: url('sprite4-a67f741843ffc4220554c34bd01bb0bb.png') no-repeat scroll 0% 0% transparent; float: left; }
.hn { background: none repeat scroll 0% 0% rgb(255, 255, 255); border-width: 1px; border-style: solid none; border-color: rgb(204, 204, 204); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none 100% 100% 100% 100% / 1 1 1 1 / 0 0 0 0 stretch stretch; float: left; }
.in { color: rgb(102, 102, 102); font-family: arial,sans-serif; overflow: hidden; white-space: nowrap; }
.ik { padding-left: 1px; padding-right: 1px; }
.ik .jn { background-position: 0px -191px; height: 20px; width: 6px; }
.ik .kn { background-position: -45px -191px; height: 20px; width: 2px; }
.ik .hn { max-width: 47px; min-width: 10px; }
.ik .in { font-size: 11px; margin: 1px 6px; height: 16px; line-height: 17px; }
.LM { position: relative; }
