
/* ::::: http://blog.roodo.com/yml/site.css ::::: */

body { margin: 0px auto; background: rgb(215, 242, 255) url('bg.gif') repeat-y scroll 50% 0px; font-family: Arial,Helvetica,sans-serif; width: 100%; color: rgb(130, 130, 130); height: 100%; text-align: center; font-size: 12px; }
a { color: rgb(0, 102, 153); text-decoration: underline; }
a:link { color: rgb(0, 102, 153); text-decoration: underline; }
a:visited { color: rgb(0, 102, 153); text-decoration: underline; }
a:active {  }
a:hover { color: rgb(255, 255, 255); text-decoration: none; }
a.acalendar { color: rgb(0, 102, 153); text-decoration: underline; }
a.acalendar:link { color: rgb(0, 102, 153); text-decoration: underline; }
a.acalendar:visited { color: rgb(0, 102, 153); text-decoration: underline; }
a.acalendar:active {  }
a.acalendar:hover { color: rgb(255, 255, 255); text-decoration: none; }
a.acontinues { color: rgb(0, 102, 153); text-decoration: underline; }
a.acontinues:link { color: rgb(0, 102, 153); text-decoration: underline; }
a.acontinues:visited { color: rgb(0, 102, 153); text-decoration: underline; }
a.acontinues:active {  }
a.acontinues:hover { color: rgb(186, 186, 186); text-decoration: none; }
a.amenu { color: rgb(0, 102, 153); text-decoration: underline; }
a.amenu:link { color: rgb(0, 102, 153); text-decoration: underline; }
a.amenu:visited { color: rgb(0, 102, 153); text-decoration: underline; }
a.amenu:active {  }
a.amenu:hover { color: rgb(186, 186, 186); text-decoration: none; }
#container { margin: 0px auto; width: 740px; text-align: center; }
#banner { margin: 3px auto 0px; width: 734px; height: 100px; background-color: rgb(102, 204, 204); text-align: center; }
#subbanner {  }
#banner a { color: rgb(255, 255, 255); text-decoration: none; }
#banner a:link { color: rgb(255, 255, 255); text-decoration: none; }
#banner a:visited { text-decoration: none; }
#banner a:active {  }
#banner a:hover { color: rgb(0, 102, 153); text-decoration: underline; }
#subbanner a { color: rgb(204, 204, 204); text-decoration: none; }
#subbanner a:link { color: rgb(204, 204, 204); text-decoration: none; }
#subbanner a:visited { text-decoration: none; }
#subbanner a:active {  }
#subbanner a:hover { color: rgb(204, 204, 204); text-decoration: underline; }
h1 { margin: 0px; padding: 0px; }
h2 { margin: 0px; padding: 0px; font-size: 12px; font-style: normal; font-family: Verdana,Arial,Helvetica,sans-serif; }
h3 { margin: 0px; padding: 0px; }
.blogtitle { padding-right: 10px; font-weight: bold; font-size: 22px; padding-top: 30px; letter-spacing: 1px; text-align: right; }
.description { padding-right: 10px; font-weight: bold; font-size: 15px; color: rgb(255, 255, 255); letter-spacing: 2px; text-align: right; }
#content { border-right: 3px solid rgb(255, 255, 255); float: right; width: 550px; padding-bottom: 0px; text-align: center; }
.blog { margin: 0px 25px; }
.date { font-size: 13.5px; color: rgb(0, 102, 153); font-weight: bold; height: 20px; margin-top: 20px; text-align: left; }
.blogbody { border-bottom: 3px solid rgb(204, 204, 204); padding: 10px; text-align: left; margin-bottom: 10px; }
.title { background-image: url('c4535a66.jpg'); background-repeat: no-repeat; padding-left: 20px; font-weight: bold; font-size: 17px; color: rgb(0, 0, 0); height: 20px; padding-top: 5px; }
.main { margin: 15px 0px; padding-left: 10px; font-size: 16px; color: rgb(47, 47, 47); line-height: 145%; letter-spacing: 1.5px; font-family: Arial,Helvetica,sans-serif; }
.main-continues { font-size: 13px; }
.posted { margin: 0px 0px 5px; font-size: 13.5px; color: rgb(0, 102, 153); text-align: right; }
a.aposted { color: rgb(0, 102, 153); text-decoration: underline; }
a.aposted:link { color: rgb(0, 102, 153); text-decoration: underline; }
a.aposted:visited { color: rgb(0, 102, 153); text-decoration: underline; }
a.aposted:active { color: rgb(0, 102, 153); }
a.aposted:hover { color: rgb(130, 130, 130); text-decoration: none; }
.menu { font-size: 13.5px; color: rgb(102, 102, 102); text-align: right; }
.comments-head { border-top: 1px dashed rgb(102, 102, 102); padding: 12px 5px 2px 55px; font-size: 15px; color: rgb(102, 102, 102); font-weight: bold; background-repeat: no-repeat; }
.comments-body { border-style: solid; border-color: rgb(204, 204, 204); margin: 10px 0px 0px 40px; padding: 10px; font-size: 16px; line-height: 150%; color: rgb(0, 0, 85); }
.comments-post { margin: 0px 0px 25px 60px; font-size: 15px; color: rgb(130, 130, 130); text-align: right; }
.trackback-url { margin: 0px; padding: 10px; font-size: 15px; color: rgb(0, 102, 153); background-color: rgb(255, 255, 255); line-height: 200%; }
.trackback-body { margin: 0px; padding: 10px; font-size: 13px; line-height: 200%; background-color: rgb(255, 255, 255); color: rgb(130, 130, 130); }
.trackback-post { margin: 0px 0px 5px; padding: 5px; font-size: 12px; color: rgb(130, 130, 130); text-align: right; background-color: rgb(238, 238, 238); }
a.atrackback-post { font-weight: bold; color: rgb(0, 102, 153); text-decoration: underline; }
a.atrackback-post:link { font-weight: bold; color: rgb(0, 102, 153); text-decoration: underline; }
a.atrackback-post:visited { font-weight: bold; color: rgb(0, 102, 153); text-decoration: underline; }
a.atrackback-post:active { font-weight: bold; }
a.atrackback-post:hover { font-weight: bold; color: rgb(186, 186, 186); text-decoration: none; }
table.form { margin: 25px 0px 0px 13px; }
label { font-weight: bold; font-size: 13px; }
#author { border: 1px solid rgb(130, 130, 130); width: 200px; }
#email { border: 1px solid rgb(130, 130, 130); width: 200px; }
#url { border: 1px solid rgb(130, 130, 130); width: 200px; }
#text { border: 1px solid rgb(130, 130, 130); width: 500px; height: 200px; }
.pagetop { margin: 5px 0px 25px; font-size: 12px; text-align: right; padding-bottom: 15px; }
#links { margin-top: 2px; float: left; width: 186px; margin-right: -186px; }
.calendartable { border-bottom: 2px solid rgb(255, 255, 255); width: 100%; text-align: center; background-color: rgb(123, 176, 216); }
.calendarweek { font-weight: bold; font-size: 12px; color: rgb(255, 255, 255); text-align: left; }
.calendarwd { background-color: rgb(123, 176, 216); }
.calendard { empty-cells: show; }
.calendardbg { background-color: rgb(71, 146, 201); }
.calendar { font-size: 12px; color: rgb(255, 255, 255); text-align: center; }
.sidetitle { padding-left: 5px; font-weight: bold; font-size: 15px; padding-bottom: 0px; color: rgb(255, 255, 255); padding-top: 15px; letter-spacing: 2px; text-align: left; background-color: rgb(0, 102, 153); }
.side { border-bottom: 2px solid rgb(255, 255, 255); margin: 0px; padding: 5px 1px 15px 3px; color: rgb(255, 255, 255); font-size: 15px; line-height: 175%; text-align: left; background-color: rgb(0, 102, 153); }
a.aside { color: rgb(255, 206, 255); text-decoration: underline; }
a.aside:link { color: rgb(255, 255, 255); text-decoration: underline; }
a.aside:visited { color: rgb(255, 255, 255); text-decoration: underline; }
a.aside:hover { color: rgb(255, 255, 255); text-decoration: none; }
a.asidebody { color: rgb(255, 255, 255); text-decoration: underline; }
a.asidebody:link { color: rgb(255, 255, 255); text-decoration: underline; }
a.asidebodye:visited { color: rgb(255, 255, 255); text-decoration: underline; }
a.asidebody:hover { color: rgb(255, 255, 255); text-decoration: none; }
a.arss { color: rgb(221, 221, 221); text-decoration: underline; }
a.arss:link { color: rgb(45, 141, 95); text-decoration: underline; }
a.arss:visited { color: rgb(128, 181, 156); text-decoration: underline; }
a.arss:active {  }
a.arss:hover { color: rgb(186, 186, 186); text-decoration: none; }
img { border: 0px none ; }
.pict { margin: 5px; }
.photo { text-align: center; }
.nickname { margin: 10px 0px; font-weight: bold; font-size: 12px; color: rgb(255, 255, 255); }
.message { font-size: 12px; color: rgb(255, 255, 255); }
.quotetable {  }
.quote { padding: 1px; font-size: 12px; color: rgb(130, 130, 130); }
.blogtimes { margin: 0px 0px 15px; text-align: center; }
.powered { margin: 0px 0px 10px; text-align: center; }
.syndicate { margin: 5px 0px; text-align: center; }
.checkers { margin-top: 10px; font-size: 12px; }

/* ::::: http://static.roodo.com/blog/output090318.css ::::: */

.pic1 { border: 1px solid rgb(225, 225, 225); margin: 2px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; text-align: center; }
.pic2 { border: 1px solid rgb(225, 225, 225); margin: 2px; padding: 2px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; text-align: center; }
.space1 { margin-bottom: 1px; }
.space3 { margin-bottom: 3px; }
.space5 { margin-bottom: 5px; }
.space10 { margin-bottom: 10px; }
.space15 { margin-bottom: 15px; }
.space20 { margin-bottom: 20px; }
.space25 { margin-bottom: 25px; }
.space30 { margin: 60px; }
.dir { padding: 5px 0px; font-size: 13px; color: rgb(225, 225, 225); text-align: center; }
.tools { margin: 5px 0px; }
.adbox { padding: 15px 0px; line-height: 130%; }
.adtext { font-size: 12px; }
table.form {  }
label {  }
#ccode_ans { border: 1px solid rgb(102, 102, 102); width: 50px; }
#text { border: 1px solid rgb(102, 102, 102); width: 370px; height: 150px; }
.ccode_info { padding-left: 5px; font-size: 12px; font-weight: normal; }
.myicon {  }
.myicon img { border: 1px solid rgb(255, 255, 255); }
.myicon-c {  }
.myicon-c img { border: 1px solid rgb(255, 255, 255); margin: 0px 0px 7px; }
.myicon-info { padding: 0px 0px 5px 5px; float: left; font-size: 12px; font-weight: normal; }
a.myicon:link { text-decoration: none; }
a.myicon:visited { text-decoration: none; }
body { margin: 0px; }
#roodo_logo { float: left; }
#topnav { margin: 4px 0px 0px; padding: 0px; color: rgb(214, 214, 214); float: right; text-align: right; font-size: 12px; }
#topnav ul { margin: 0px; padding: 0px; list-style-type: none; list-style-image: none; list-style-position: outside; }
#topnav li { padding: 0px 1px; display: inline; }
#topnav li.first { border-left: medium none; padding: 0px 5px 0px 0px; color: rgb(62, 62, 62); }
#topBody { border-bottom: 1px solid rgb(220, 220, 220); padding: 0px 2px 26px 5px; font-family: Arial,Sans-serif; text-align: left; background-color: rgb(255, 255, 255); }
a.topside { font-size: 13px; font-family: arial,sans-serif; color: rgb(130, 130, 130); text-decoration: none; }
a.topside:link { color: rgb(130, 130, 130); text-decoration: none; }
a.topside:visited { color: rgb(130, 130, 130); text-decoration: none; }
a.topside:hover { color: rgb(223, 0, 36); text-decoration: underline; }
