/* ::::: http://www.linux-sxs.org/legal/steps.css ::::: */

body { background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-family: Tahoma,Helvetica,Arial,sans-serif; font-size: 100%; text-align: center; }
img { border: 0pt none; vertical-align: middle; }
h1 { font-size: 140%; font-weight: bold; }
pre { background-color: rgb(187, 187, 187); width: 80ex; color: black; padding: 0.5em; }
a:link { background-color: rgb(255, 255, 255); color: rgb(6, 108, 204); }
a:hover { background-color: rgb(6, 108, 204); color: rgb(255, 255, 255); }
ul li { list-style-image: url('bdot.png'); }
#container { margin-right: auto; margin-left: auto; text-align: left; }
#banner { background-image: url('hdr_line_sm.png'); background-repeat: repeat-x; background-color: inherit; height: 50px; }
#banner img { float: right; }
#footer { background-image: url('hdr_line_sm.png'); background-repeat: repeat-x; height: 50px; }
#credits { font-size: 90%; }
#preamble { font-style: italic; border-top: thin solid rgb(0, 0, 0); border-bottom: thin solid rgb(0, 0, 0); margin: 0pt 2em; }
