
/* ::::: http://windowsxp.mvps.org/2cNew.css ::::: */

@media screen, print {
  #mbarExtraNav form input { border-width: 1px; }
}
html { background-color: rgb(102, 102, 119); }
a.img:hover { background-color: transparent; }
#image { position: absolute; top: 5px; }
body { margin: 10px auto; padding: 0pt; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); text-align: left; font-family: Verdana; font-size: 10pt; width: 760px; }
p { color: rgb(0, 0, 0); line-height: 135%; }
a:link { color: rgb(0, 51, 102); }
a:visited { color: rgb(0, 102, 102); }
a:hover, a:active { border-bottom: 1px solid rgb(0, 102, 102); color: rgb(255, 255, 255); background-color: rgb(51, 102, 153); text-decoration: none; }
div#example { border: 2px solid rgb(51, 102, 153); padding: 2px; font-family: Verdana; font-size: 8pt; background-color: rgb(238, 238, 238); margin-left: 10px; }
div#spons { border: 0pt solid rgb(0, 0, 0); }
div#banner { color: rgb(0, 106, 150); clear: both; }
#banner ul li a { text-decoration: none; }
div#adbanner { border-top: 0px solid rgb(51, 102, 153); clear: both; }
div#container2 { clear: both; background-position: right center; }
div#more { float: right; width: 170px; padding-top: 3px; margin-right: 3px; font-family: Verdana; font-size: 8pt; }
div#more h3 { padding: 0.2em 0.2em 0.2em 5px; color: rgb(255, 255, 255); background-color: rgb(51, 102, 153); font-weight: 700; }
div#more p { line-height: 1em; margin-top: 10px; padding-left: 10px; }
div#content { border-top: 0pt dotted rgb(204, 204, 204); border-right: 0pt dotted rgb(204, 204, 204); margin-right: 180px; padding-right: 5px; padding-top: 3px; background-color: rgb(255, 255, 255); line-height: 150%; }
#more ul { margin: 0px 0px 10px; padding: 0px; list-style-type: none; list-style-image: none; list-style-position: outside; }
#more li { display: inline; font-family: Arial; font-size: 9pt; }
#more a:visited, #more a:active, #more a:link { border: 1px solid rgb(255, 255, 255); padding: 2px; display: block; color: rgb(0, 51, 102); text-decoration: underline; margin-right: 2px; }
#more a:hover { border: 1px solid rgb(153, 153, 153); background-color: rgb(204, 238, 238); color: rgb(0, 0, 0); text-decoration: none; }
div#content h3, div#content p, div#content h4, div#content table { margin-left: 10px; }
h2 { padding: 0pt 0.2em 0.2em 5px; margin-top: 0pt; color: rgb(255, 255, 255); background-color: rgb(51, 102, 153); font-family: Verdana; font-size: 10pt; margin-left: 5px; }
#cleardiv { clear: both; height: 1em; }
div#footer { border-top: 1px solid rgb(170, 170, 170); margin: 0pt auto; clear: both; text-align: center; font-family: Verdana; color: red; font-size: 8pt; padding-bottom: 1px; }
h1 { font-family: Arial; font-size: 12pt; color: rgb(255, 255, 255); font-weight: 700; text-align: left; }
h3 { border-bottom: 1px solid; margin: 1em 0pt 0pt; padding: 0pt; text-align: left; font-size: 125%; letter-spacing: 1px; color: rgb(102, 153, 0); font-weight: 400; font-family: Arial; }
h4 { margin: 1em 0pt 0pt; text-align: left; font-family: Verdana; font-size: 10pt; }
.Err { font-family: Verdana; color: red; font-size: 8pt; text-align: center; }
.sideBox { border: 1px solid rgb(102, 153, 112); padding: 0.5em; background-color: rgb(204, 238, 252); float: right; margin-top: 3px; margin-left: 5px; margin-bottom: 5px; font-family: Verdana; font-size: 8pt; }
#mbar { border-width: 0pt 0pt 1px; margin: 0pt; background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(0, 0, 0); font-family: arial,helvetica,sans-serif; font-size: 80%; z-index: 1; }
#mbarLogo { float: left; z-index: 2; }
#mbarLogo a:hover, #mbarLogo a:active { border: 0px none ; background-color: rgb(255, 255, 255); text-decoration: none; }
#mbarExtraNav { text-align: right; padding-top: 25px; }
.mbarClear { clear: both; float: left; }
#mbarExtraNav a { white-space: nowrap; }
span.divider { display: none; }
#mbarExtraNav a, #mbarExtraNav form { border-style: solid; border-color: rgb(153, 153, 153); border-width: 0pt 1px 0pt 0pt; margin: 0pt; padding: 0pt 0.5em; color: rgb(85, 85, 85); display: block; float: right; width: auto; vertical-align: middle; z-index: 4; }
#mbarExtraNav form input { font-size: 80%; font-family: verdana; }
#mbarExtraNav .extraBorder { border-width: 0pt 1px; }
#mbarExtraNav a:link, #mbarExtraNav a:visited { text-decoration: underline; }
#mbarExtraNav a:hover { color: rgb(255, 255, 255); text-decoration: none; }
div#announcement { border: 3px dotted rgb(204, 204, 204); margin: 10px; padding: 10px; font-family: Verdana; font-size: 8pt; background-color: rgb(255, 255, 224); }
.registry { padding: 4px; font-family: Arial; color: rgb(52, 52, 52); background-color: rgb(238, 238, 238); font-size: 9pt; font-weight: bold; text-align: left; }
.tiny { font-family: Verdana; font-size: 8pt; color: rgb(0, 0, 0); text-align: left; }
#content li { font-family: Verdana; font-size: 8pt; color: rgb(0, 0, 0); text-align: left; margin-left: 20px; margin-top: 5px; }
#slantedmenu { font-weight: bold; font-size: 90%; padding-bottom: 5px; clear: both; }
#slantedmenu:after { content: "."; display: block; height: 0pt; clear: both; visibility: hidden; }
#slantedmenu ul { border: 1px solid rgb(190, 190, 190); margin: 0pt; padding: 3px 0pt; text-indent: 10px; background-color: rgb(224, 224, 224); text-align: left; }
#slantedmenu ul li { display: inline; }
#slantedmenu ul li a { border-bottom: 0px none; margin: 0pt; padding: 3px 25px 3px 0pt; background: transparent url('slantdivider.gif') no-repeat scroll right top; color: rgb(73, 73, 73); text-decoration: none; }
#slantedmenu ul li a:visited { color: rgb(73, 73, 73); }
#slantedmenu ul li a:hover { color: black; }

/* ::::: null ::::: */

li { font-family: verdana,sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 11px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
