/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

p.MsoNormal120 { margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: "Times New Roman"; }
/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

p.MsoCaption123 { margin: 6pt 0cm; font-size: 10pt; font-family: "Times New Roman"; }
p.MsoNormal125 { margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: "Times New Roman"; }
/* ::::: http://www.taiwanus.net/history/history.css ::::: */

a:link { color: rgb(64, 57, 36); text-decoration: none; font-size: 16px; }
a:visited { color: rgb(78, 69, 44); text-decoration: none; font-size: 16px; }
a:hover { color: rgb(255, 204, 0); text-decoration: none; font-size: 16px; }
