/* ::::: [internal] ::::: */

p.MsoNormal1 { margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: "Times New Roman"; }
/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

p.MsoNormal14 { margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: "Times New Roman"; }
/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

p.MsoBodyTextIndent21 { margin: 0cm 0cm 0.0001pt; text-align: justify; text-indent: 24pt; font-size: 12pt; font-family: 新細明體; color: red; }
p.MsoCaption15 { margin: 6pt 0cm; font-size: 10pt; font-family: "Times New Roman"; }
p.MsoNormal16 { margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: "Times New Roman"; }
p.MsoPlainText11 { margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 細明體; }
span.MsoFootnoteReference13 { vertical-align: super; }
span.gphoto-photocaption-caption1 {  }
span.mw-headline1 {  }
/* ::::: http://www.taiwanus.net/history/history.css ::::: */

a:link { color: rgb(64, 57, 36); text-decoration: none; font-size: 16px; }
a:visited { color: rgb(78, 69, 44); text-decoration: none; font-size: 16px; }
a:hover { color: rgb(255, 204, 0); text-decoration: none; font-size: 16px; }
