/* ::::: [internal] ::::: */

.style1 { color: rgb(204, 102, 0); font-weight: bold; }
/* ::::: [internal] ::::: */

.style2 { color: rgb(153, 102, 0); }
/* ::::: http://www.taiwanus.net/history/history.css ::::: */

a:link { color: rgb(64, 57, 36); text-decoration: none; font-size: 16px; }
a:visited { color: rgb(78, 69, 44); text-decoration: none; font-size: 16px; }
a:hover { color: rgb(255, 204, 0); text-decoration: none; font-size: 16px; }
.jim {  }
