/* ::::: [internal] ::::: */

p.MsoCaption { margin: 6pt 0pt; font-size: 10pt; font-family: "Times New Roman"; }
p.MsoNormal { margin: 0pt 0pt 0.0001pt; font-size: 12pt; font-family: "Times New Roman"; }
/* ::::: http://www.taiwanus.net/history/history.css ::::: */

a:link { color: rgb(64, 57, 36); text-decoration: none; font-size: 16px; }
a:visited { color: rgb(78, 69, 44); text-decoration: none; font-size: 16px; }
a:hover { color: rgb(255, 204, 0); text-decoration: none; font-size: 16px; }
.jim {  }
