/* ::::: [internal] ::::: */

p.MsoToc11 { margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: "Times New Roman"; }
p.MsoToc21 { margin: 0cm 0cm 0.0001pt 24pt; font-size: 12pt; font-family: "Times New Roman"; }
p.MsoToc31 { margin: 0cm 0cm 0.0001pt 48pt; font-size: 12pt; font-family: "Times New Roman"; }
p.MsoToc41 { margin: 0cm 0cm 0.0001pt 72pt; font-size: 12pt; font-family: "Times New Roman"; }
/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

p.MsoToc211 { margin: 0cm 0cm 0.0001pt 24pt; font-size: 12pt; font-family: "Times New Roman"; }
/* ::::: [internal] ::::: */

/* ::::: http://www.taiwanus.net/history/history.css ::::: */

a:link { color: rgb(64, 57, 36); text-decoration: none; font-size: 16px; }
a:visited { color: rgb(78, 69, 44); text-decoration: none; font-size: 16px; }
a:hover { color: rgb(255, 204, 0); text-decoration: none; font-size: 16px; }
