/* ::::: http://www.taiwanus.net/history/history.css ::::: */

a:link { color: rgb(64, 57, 36); text-decoration: none; font-size: 16px; }
a:visited { color: rgb(78, 69, 44); text-decoration: none; font-size: 16px; }
a:hover { color: rgb(255, 204, 0); text-decoration: none; font-size: 16px; }
.jim {  }
.glow {  }
/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

#HUABAN_WIDGETS { font-family: "helvetica neue",arial,sans-serif; color: rgb(68, 68, 68); font-size: 14px; }
#HUABAN_WIDGETS * { box-sizing: content-box; }
#HUABAN_WIDGETS .HUABAN-f-button { position: absolute; display: none; z-index: 2147483647; box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.2); background: rgba(0, 0, 0, 0.3) none repeat scroll 0% 0%; color: white; cursor: pointer; padding: 0px 12px; height: 30px; line-height: 30px; border-radius: 2px; font-size: 14px; }
#HUABAN_WIDGETS .HUABAN-f-button:hover { background-color: rgba(0, 0, 0, 0.5); }
#HUABAN_WIDGETS .HUABAN-f-button:active { background-color: rgba(0, 0, 0, 0.6); }
