
/* ::::: http://forum.palmislife.com/forumdata/cache/style_1_common.css?fmK ::::: */

* {  }
body { background: rgb(21, 37, 91) url('bodybg_pil.gif') repeat-x scroll 0pt 90px; text-align: center; }
body, td, input, textarea, select, button { color: rgb(68, 68, 68); font-family: Verdana,Helvetica,Arial,sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: 1.6em; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
input, select, button { vertical-align: middle; }
body, ul, li, dl, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset { margin: 0pt; padding: 0pt; }
h1, h2, h3, h4, h5, h6 { font-size: 1em; }
ul li { list-style-type: none; list-style-image: none; list-style-position: outside; }
a { text-decoration: none; color: rgb(0, 0, 0); }
a:hover { text-decoration: underline; }
.lightlink, .lightlink a { color: rgb(0, 153, 204); }
a img { border: medium none ; }
em, cite, strong, th { text-align: left; font-style: normal; }
.emfont { color: rgb(255, 102, 0); }
table { empty-cells: show; border-collapse: collapse; }
th { font-weight: 400; }
.txt, .txtarea { border-style: solid; border-color: rgb(153, 153, 153) rgb(204, 204, 204) rgb(204, 204, 204) rgb(153, 153, 153); border-width: 1px; padding: 2px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; height: 16px; }
.txtarea { height: auto; }
.checkbox, .radio { margin: 0pt; width: 15px; }
.pipe { margin: 0pt 5px; }
.lighttxt, .lighttxt a, .pipe { color: rgb(153, 153, 153); }
.smalltext { font-size: 0.83em; font-family: Verdana,Helvetica,Arial,sans-serif; }
.noborder, .noborder td { border: medium none  ! important; }
.nobg { background: transparent none repeat scroll 0% 0% ! important; }
.right { float: right; }
.left { float: left; }
.onerror, .onright { padding: 2px 2px 2px 22px; background: transparent url('check_error.gif') no-repeat scroll 2px 2px; clear: both; }
.onright { background: transparent url('check_right.gif') no-repeat scroll 2px 2px; }
.notice { margin: 5px 0pt; padding: 3px 5px 3px 20px; background: transparent url('notice.gif') no-repeat scroll 2px 6px; clear: both; }
.nodata { margin: 99px auto; text-align: center; color: rgb(153, 153, 153); font-size: 16px; font-weight: 700; }
#ajaxwaitid { background: rgb(221, 0, 0) none repeat scroll 0% 0%; overflow: hidden; display: none; position: absolute; z-index: 100; top: 0pt; right: 0pt; width: 100px; height: 1.6em; line-height: 1.6em; color: rgb(255, 255, 255); }
#checksecanswer img, #checksecanswer3 img, #checkseccodeverify img, #checkseccodeverify3 img, .warning img { vertical-align: middle; }
.autosave {  }
.s_clear:after { content: "."; display: block; height: 0pt; clear: both; visibility: hidden; }
.s_clear {  }
hr { border: 0pt solid rgb(230, 231, 225); margin: 1em 0pt; background: transparent none repeat scroll 0% 0%; clear: both; }
.solidline { border-top: 1px solid rgb(255, 255, 255); border-bottom-width: 1px; }
.dashline { border-style: dashed; height: 0px; border-bottom-width: 1px; }
.shadowline { border-width: 1px 0pt; border-top-color: rgb(200, 220, 236); border-bottom-color: rgb(255, 255, 255); }
.side .shadowline { margin: 5px 0pt; }
.cornerlayger { border: 1px solid rgb(0, 153, 204); padding: 6px 8px; background: rgb(235, 242, 248) none repeat scroll 0% 0%; line-height: 1.6em; }
.minicorner { background: transparent url('attachinfobg.gif') no-repeat scroll 50% 0pt; margin-top: -1px; height: 6px; }
.wrap { margin: 0pt auto; text-align: left; }
#wrap { border: 0pt solid rgb(0, 178, 232); padding-bottom: 10px; min-height: 450px; background-color: rgb(255, 255, 255); clear: both; }
* html #wrap { height: 450px; }
.wrap, #nav { width: 960px; }
#header { border-bottom: 1px solid rgb(0, 178, 232); background: rgb(0, 185, 255) url('header_pil.gif') repeat-x scroll 0pt 100%; margin-bottom: 8px; min-width: 960px; width: 100%; }
#header .wrap { padding: 24px 0pt 22px; position: relative; }
#header h2 { float: left; }
#umenu { position: absolute; right: 0pt; top: 0pt; line-height: 20px; }
#umenu a { margin: 0pt 6px; }
#umenu cite { font-weight: 700; }
#umenu cite span a { margin: 0pt; font-weight: 400; }
#pm_ntc.new, #task_ntc.new { background: transparent url('notice_newpm.gif') no-repeat scroll 0pt 50%; padding-left: 22px; }
#task_ntc.new { padding-left: 15px; background-image: url('icon_task.gif'); }
#pm_ntc_menu { background: transparent url('pm_ntc.gif') no-repeat scroll 0pt 0pt; margin-left: -27px; padding-top: 10px; width: 250px; text-align: left; opacity: 0.98; }
#pm_ntc_view { background: transparent url('pm_ntc.gif') no-repeat scroll -250px 100%; padding-bottom: 10px; }
#pm_ntc_menu ul { border-style: solid; border-color: rgb(145, 200, 226); border-width: 0pt 2px; padding: 0pt 10px; background: rgb(254, 254, 254) none repeat scroll 0% 0%; }
#pm_ntc_menu li { border-bottom: 1px solid rgb(244, 244, 244); height: 29px; line-height: 29px; }
#pm_ntc_menu a { overflow: hidden; display: block; width: 100%; color: rgb(153, 153, 153); white-space: nowrap; }
#pm_ntc_menu a em { padding-right: 8px; color: rgb(51, 51, 51); }
#pm_ntc_menu a:hover { text-decoration: none; color: rgb(0, 153, 204); }
#uchome_ntc { padding: 1px 10px 3px 15px; background: transparent url('notify_bg_m.gif') no-repeat scroll 0pt 50%; color: rgb(255, 255, 255) ! important; }
#uchome_ntc a { margin: 0pt; }
#umenu, #umenu a, #umenu .pipe { color: rgb(255, 255, 255); }
#footer { padding: 1em 0pt; }
#rightinfo { float: left; }
#footlink { float: right; text-align: right; }
#footer, #footer a { color: rgb(134, 145, 162); }
.content { padding: 20px 25px; }
.content h1 { margin-bottom: 10px; font-size: 16px; font-weight: 400; }
#menu { position: absolute; right: 0pt; bottom: 0pt; height: 26px; }
#menu li { background: rgb(235, 244, 253) url('mtabbg.gif') repeat-x scroll 0pt 100%; display: inline; float: left; margin-left: 5px; }
#menu a { border-style: solid; border-color: rgb(176, 228, 239); border-width: 1px 1px 0pt; padding: 0pt 14px; background: transparent none repeat scroll 0% 0%; overflow: hidden; float: left; height: 25px; line-height: 25px; color: rgb(102, 102, 102); text-decoration: none; }
#menu a.dropmenu { padding-right: 20px; background-image: url('arrow_down.gif'); background-repeat: no-repeat; background-position: 95% 50%; }
#menu a:hover { border-color: rgb(0, 178, 232); background-color: rgb(39, 68, 138); color: rgb(195, 211, 228); }
#menu li.current a { border-color: rgb(0, 178, 232); height: 26px; background-color: rgb(39, 68, 138); color: rgb(195, 211, 228); }
#nav { margin: -8px auto 0pt; background: transparent url('icon_nav.gif') no-repeat scroll 0pt 50%; text-align: left; text-indent: 25px; line-height: 3em; }
#nav, #nav a { color: rgb(195, 211, 228); }
#ahuiwrap { margin: 0pt auto; width: 960px; }
.mainbox table { width: 100%; }
.foruminfo { margin-top: 5px; line-height: 30px; }
#ann dt { background: transparent url('ann_icon.gif') no-repeat scroll 0pt 50%; float: left; width: 5em; text-indent: 2em; font-weight: 700; }
#ann dd { margin-left: 30px; }
#ann li { padding-left: 10px; white-space: nowrap; }
#ann em { margin-left: 5px; color: rgb(102, 102, 102); font-size: 0.83em; }
#annbody { overflow: hidden; height: 30px; padding-right: 16px; }
.forumcount { margin-left: 16px; }
.blocktitle { margin-bottom: 0.5em; font-size: 16px; font-weight: 700; }
.channelinfo { margin: 5px 0pt; clear: both; color: rgb(102, 102, 102); }
.channelinfo img { vertical-align: middle; }
.channelinfo .onerror {  }
.pages_btns { padding: 5px 0pt 1em; line-height: 30px; }
.postbtn, .replybtn, #modopt, #modopttmp { float: left; margin-right: 10px; color: rgb(0, 153, 204); cursor: pointer; }
#modopt, #modopttmp, .threadlist tfoot a { border-style: solid; border-color: rgb(153, 153, 153) rgb(204, 204, 204) rgb(204, 204, 204) rgb(153, 153, 153); border-width: 1px; padding: 0pt 16px 0pt 6px; background-color: rgb(255, 255, 255); line-height: 20px; }
.threadlist tfoot a { padding: 3px 16px 3px 3px; margin-right: 5px; }
#modopt:hover, #modopttmp:hover, .threadlist tfoot a:hover { text-decoration: none; color: rgb(0, 153, 204); }
.postbtn, .replybtn { background: transparent url('newtopic.gif') no-repeat scroll 0pt 0pt; overflow: hidden; width: 67px; height: 30px; font-size: 14px; font-weight: 700; line-height: 28px; text-align: center; }
.replybtn { background-image: url('reply.gif'); }
.postbtn a, .replybtn a { display: block; padding-left: 5px; color: rgb(255, 255, 255); letter-spacing: 5px; }
.postbtn a:hover, .replybtn a:hover { text-decoration: none; }
.pages, .pageback { padding: 2px 0pt; float: right; }
.pages a, .pages strong, .pageback a { border: 1px solid ; padding: 0pt 6px; overflow: hidden; float: left; margin-right: 2px; height: 20px; line-height: 20px; }
.pages a, .pageback a { border-color: rgb(230, 231, 225); background-color: rgb(255, 255, 255); color: rgb(0, 153, 204); }
.pages a:hover, .pageback a:hover { text-decoration: none; }
.pages strong { border-color: rgb(0, 153, 204); background-color: rgb(0, 153, 204); color: rgb(255, 255, 255); font-weight: 700; }
.pages a.prev, .pages a.next { background-repeat: no-repeat; }
.pages a.prev { padding: 0pt; overflow: hidden; background-image: url('arrow_left.gif'); background-position: 30% 50%; width: 22px; text-indent: -9999px; }
.pages a.next { padding-right: 16px; background-image: url('arrow_right.gif'); background-position: 90% 50%; }
.pageback a { background: rgb(255, 255, 255) url('arrow_left.gif') no-repeat scroll 0pt 50%; padding-left: 16px; }
.pages a:hover, .pageback a, .pages a.next { border-color: rgb(0, 153, 204); }
.taglist { margin: 20px 10px; }
.taglist a { height: 30px; line-height: 30px; margin-right: 20px; }
#infoside .taglist a { margin-right: 10px; height: 22px; line-height: 22px; }
a.tagl1, a.tagl2 { font-size: 12px; color: rgb(102, 102, 102) ! important; }
a.tagl2 { color: rgb(153, 153, 153) ! important; }
a.tagl3 { font-size: 14px; color: rgb(0, 153, 0) ! important; }
a.tagl4 { font-size: 16px; color: rgb(0, 153, 204) ! important; }
a.tagl5 { font-size: 18px; color: rgb(255, 102, 0) ! important; }
.formtable { width: 100%; }
.formtable th { padding: 5px 2px; width: 100px; }
.formtable th a { font-weight: 400; color: rgb(0, 153, 204); text-decoration: underline; }
.formtable td { padding: 5px 2px; }
.formtable .sep_space th { height: 40px; }
.formtable .txt { width: 270px; }
.formtable .txtarea { margin: -1px 8px 0pt 0pt; float: left; width: 270px; height: 60px; border-top-color: rgb(204, 204, 204); }
.float_typeid { float: left; margin-right: 6px; }
.float_typeid select { float: left; height: 20px; }
.float_typeid a { border-style: solid; border-color: rgb(153, 153, 153) rgb(204, 204, 204) rgb(204, 204, 204) rgb(153, 153, 153); border-width: 1px; background: rgb(255, 255, 255) url('newarow.gif') no-repeat scroll 100% 0pt; overflow: hidden; display: block; text-indent: 4px; padding-right: 17px; width: 77px; height: 20px; text-decoration: none ! important; color: rgb(68, 68, 68) ! important; }
.float_typeid a:hover { border: 1px solid rgb(0, 153, 204); text-decoration: none; background-position: 100% -20px; }
.float_postinfo .float_typeid a { line-height: 20px; }
.float_typeid ul { border: 1px solid rgb(0, 153, 204); margin: -22px 0pt 0pt; background: rgb(255, 255, 255) url('newarow.gif') no-repeat scroll 100% -20px; }
* html .float_typeid ul { margin-top: -23px; }
.float_typeid ul li { margin: 0pt 4px; color: rgb(68, 68, 68); cursor: pointer; }
.float_typeid ul li:hover { color: rgb(0, 153, 204); }
.newselect .current { font-weight: 700; }
.float_typeid select { width: 94px; }
.short_select a { width: 43px; }
.short_select select { width: 60px; }
.commonlist li { margin: 4px 0pt; }
.inlinelist li { float: left; width: 33%; }
.inlinelist li.wide { width: 49.5%; }
.titlelist li { margin: 3px 0pt; background: transparent url('dot.gif') no-repeat scroll 8px 9px; overflow: hidden; height: 1.6em; }
.titlelist li a { padding-left: 1.5em; }
.titlelist li cite { padding: 0pt 0pt 0pt 5px; }
.titlelist li cite a { padding: 0pt 0pt 0pt 5px; color: rgb(102, 102, 102); }
.datalist {  }
.datalist table { border: 1px solid rgb(230, 231, 225); margin-bottom: 30px; width: 100%; }
.datalist th, .datalist td { border: 1px solid rgb(230, 231, 225); padding: 4px 5px; font-weight: 400; }
.datalist th img { vertical-align: top; }
.datalist table .stat_subject { border-right: medium none; }
.datalist table .stat_num { border-left: medium none; padding-right: 15px; text-align: right; }
.datalist .datatable { margin-bottom: 10px; }
.datalist .datatable, .datalist .datatable th, .datalist .datatable td { border-width: 1px 0pt; }
.filterform { border: 1px solid rgb(227, 237, 245); padding: 10px; margin-bottom: 15px; background-color: rgb(235, 242, 248); }
.filterform table, .filterform table th, .filterform table td { border: medium none ; margin-bottom: 0pt; }
.colplural, .colplural th, .colplural td { background-color: rgb(245, 245, 245); }
.avt_list li { float: left; margin-right: 9px; width: 64px; height: 54px; text-align: center; }
.side .avt_list li { margin: 0pt; width: 33.3%; }
.postmessage .avt_list li { height: 70px; }
.avt_uname li { height: 80px; }
.avt_list img { margin: 0pt auto; display: block; }
.avt_list p { overflow: hidden; width: 96%; white-space: nowrap; }
.avt_list .cornerlayger p { white-space: normal; text-align: left; }
.avt_list .minicorner { background: transparent url('attachinfobg.gif') no-repeat scroll -30px 0pt; }
.avt_title { margin: 8px; }
.rateopt { overflow: auto; margin-bottom: 10px; height: 100px; }
.ratelist { margin-bottom: 3px; }
.ratelist .dropdownbtn { margin-right: 5px; }
.ratelist .txt { width: 45px; }
.ratelist label { overflow: hidden; float: left; white-space: nowrap; width: 120px; }
.list { border-top: 3px solid rgb(230, 231, 225); }
.content .list h3 { padding-left: 6px; color: rgb(102, 102, 102); line-height: 35px; }
.list td, .list th { border-top: 1px dashed rgb(230, 231, 225); padding: 6px 0pt; height: 50px; color: rgb(102, 102, 102); }
.list th { padding-left: 10px ! important; }
.narrowlist th { vertical-align: top; }
.list th h2 em { font-weight: 400; }
.list th h2 em strong { color: rgb(255, 102, 0); }
#forumheader { line-height: 24px; }
#forumheader h1 { float: left; margin-right: 1em; font-weight: 700; }
#forumheader .forumstats { float: left; margin-right: 1em; }
#forumheader .forumstats strong { color: rgb(255, 102, 0); }
.forumaction { float: left; }
.forumaction a { background: transparent url('icon_fav.gif') no-repeat scroll 0pt 50%; padding-left: 20px; padding-right: 1em; }
.forumaction .feed { background-image: url('icon_feed.gif'); }
.forumaction .digest { background-image: url('digest_3.gif'); }
.forumaction .recyclebin { background-image: url('recyclebin.gif'); }
#forumheader #modedby { clear: both; }
#forumheader #modedby a { color: rgb(0, 153, 204); }
.threadtype { border-top: 3px solid rgb(230, 231, 225); padding: 8px 6px; line-height: 2em; }
.threadtype a, .threadtype strong { border-right: 1px solid rgb(230, 231, 225); margin-right: 6px; padding-right: 6px; white-space: nowrap; }
.threadtype .popupmenu_popup a { border: medium none ; margin-right: 0pt; padding-right: 0pt; }
.threadtype strong { font-weight: 700; color: rgb(0, 153, 204); white-space: nowrap; }
.folder { width: 25px; text-align: center; }
td.icon { width: 28px; text-align: center; }
.icon .solved { opacity: 0.3; }
.subject label { float: right; }
.threadlist th a:hover, .subject a:hover { color: rgb(0, 153, 204); }
.datatable .subject { padding: 7px 5px; }
.threadpages { white-space: nowrap; }
.threadpages a { color: rgb(68, 68, 68); }
.forum, .author, .lastpost { width: 100px; }
.lastpost, .lastpost cite, .lastpost em { text-align: right; }
.author cite, .lastpost cite { overflow: hidden; display: block; margin-bottom: -5px; width: 95px; height: 1.6em; }
thead .lastpost cite { margin-bottom: 0pt; }
.author em, .lastpost em, .lastpost em a { font-size: 9px; font-family: Arial,sans-serif; color: rgb(153, 153, 153); }
.lastpost cite, .lastpost em { display: block; margin-right: 5px; }
.nums { width: 80px; color: rgb(153, 153, 153); text-align: right; }
thead .nums { color: rgb(68, 68, 68); }
.nums strong { padding-right: 2px; color: rgb(0, 153, 204); font-weight: 400; }
.nums em { padding-left: 2px; color: rgb(68, 68, 68); }
.forumnums { width: 90px; padding-right: 10px ! important; color: rgb(153, 153, 153); text-align: center; }
.forumnums em { color: rgb(0, 153, 204); }
.forumlast { width: 225px; text-align: left; }
.num { width: 120px; text-align: center; color: red; }
.threadlist td { padding: 0pt ! important; }
.threadlist .colplural th, .threadlist .colplural td { padding: 3px 0pt ! important; background: rgb(235, 242, 248) none repeat scroll 0% 0%; }
.threadlist th em { margin-right: 4px; }
.threadlist th em, .threadlist th em a { color: rgb(0, 153, 204); }
.threadlist th .new { color: rgb(0, 153, 204); font-size: 9px; text-transform: uppercase; white-space: nowrap; }
.threadlist th .attach { vertical-align: middle; }
* html .threadlist th .attach { vertical-align: baseline; }
.threadlist th a { text-decoration: none; }
.rule { margin: 0pt 8px; }
#modarea, #subforum { margin: 1em 0pt; }
#modarea .list h3 { border-bottom: 1px dashed rgb(230, 231, 225); margin-bottom: 6px; font-weight: 400; }
#modarea .list h3 .current { font-weight: 700; color: rgb(0, 153, 204); }
.dropmenu { background: transparent url('arrow_down.gif') no-repeat scroll 100% 50%; padding-right: 15px; cursor: pointer; }
.popupmenu_popup { border: 1px solid rgb(127, 202, 226); padding: 10px; background: rgb(254, 254, 254) none repeat scroll 0% 0%; overflow: hidden; text-align: left; line-height: 1.4em; }
.headermenu_popup { width: 100px; }
.headermenu_popup li { border-bottom: 1px solid rgb(230, 231, 225); width: 100px; line-height: 24px; }
.headermenu_popup .active { font-weight: 700; }
.filter_popup { width: 5em; }
.filter_popup li { width: 60px; }
.postmenu { width: 100px; }
#visitedforums_menu { width: 140px; }
.postmenu li, #visitedforums_menu li { background: transparent url('folder_s.gif') no-repeat scroll 3px 50%; float: left; }
.postmenu li.poll { background-image: url('pollsmall.gif'); }
.postmenu li.trade { background-image: url('tradesmall.gif'); }
.postmenu li.reward { background-image: url('rewardsmall.gif'); }
.postmenu li.activity { background-image: url('activitysmall.gif'); }
.postmenu li.debate { background-image: url('debatesmall.gif'); }
.postmenu li.video { background-image: url('videosmall.gif'); }
.postmenu a, #visitedforums_menu a { border-bottom: 1px solid rgb(230, 231, 225); padding: 5px 0pt 5px 25px; display: block; width: 75px; }
.postmenu a:hover, #visitedforums_menu a:hover { text-decoration: none; color: rgb(0, 153, 204); border-bottom-color: rgb(227, 237, 245); }
#visitedforums_menu li { background: transparent none repeat scroll 0% 0%; }
#visitedforums_menu li a { padding: 5px 0pt; width: 140px; }
#fjump_menu { padding: 10px 30px 10px 20px; }
#fjump_menu dl { padding: 5px 0pt; }
#fjump_menu dt a { font-weight: 700; color: rgb(102, 102, 102); }
#fjump_menu dd { padding-left: 1em; }
#fjump_menu li.sub { padding-left: 1em; }
#fjump_menu li.current a { font-weight: 700; }
#fjump_menu li a { font-weight: 400; color: rgb(0, 153, 204); }
.showselect_menu { border: 1px solid rgb(127, 202, 226); padding: 5px; background: rgb(254, 254, 254) none repeat scroll 0% 0%; margin-bottom: 0.8em; text-align: left; }
.tagthread { width: 360px; }
.tagthread .close { float: right; }
.tagthread h4 { border-bottom: 1px solid rgb(230, 231, 225); line-height: 26px; }
.tagthread ul { padding: 5px; }
.tagthread li { line-height: 1.8em; }
.tagthread li.more { background: transparent url('arrow_right.gif') no-repeat scroll 100% 50%; padding-right: 10px; text-align: right; }
.headactions .popupmenu_popup a, .headactions .popupmenu_popup strong { background: transparent none repeat scroll 0% 0%; color: rgb(102, 102, 102); white-space: nowrap; }
.headactions .popupmenu_popup { overflow: visible; }
.moderators { width: 115px; }
#threadtypesmenu_menu ul li { height: 1.4em; width: 100px; }
.hasdropdownbtn {  }
.hasdropdownbtn input { float: left; width: 129px; }
.hasdropdownbtn .spmediuminput { width: 115px; }
.dropdownbtn { border-style: solid; border-color: rgb(153, 153, 153) rgb(204, 204, 204) rgb(204, 204, 204) rgb(153, 153, 153); border-width: 1px 1px 1px 0pt; background: rgb(255, 255, 255) url('newarow.gif') no-repeat scroll 0pt 0pt; overflow: hidden; float: left; text-indent: -9999px; width: 20px; height: 20px; }
.dropdownbtn:hover { background-position: 0pt -20px; }
#style_switch { position: absolute; right: 0px; bottom: -25px; }
#style_switch li { float: left; padding-left: 5px; }
#style_switch a { border: 1px solid rgb(221, 221, 221); background: rgb(255, 255, 255) none repeat scroll 0% 0%; overflow: hidden; float: left; width: 8px; height: 8px; line-height: 100px; }
#style_switch a:hover, #style_switch .current a { border-color: rgb(255, 255, 255); }
#style_switch .current a { border-width: 2px; margin-top: -1px; }
#ad_headerbanner { margin: 5px 0pt 10px; float: right; }
.ad_text { margin: 0pt auto 5px; padding: 10px 0pt; background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 960px; }
.ad_text table { width: 100%; }
.ad_text td { padding: 3px 20px; text-align: left; }
.ad_textlink1, .ad_textlink2 { margin: 10px 0pt; background: transparent url('icon_ad.gif') no-repeat scroll 0pt 50%; padding-left: 57px; }
.ad_pip { padding: 10px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; clear: right; float: right; color: rgb(153, 153, 153); line-height: 130%; }
.ad_pip li { margin-bottom: 1em; }
.ad_pip a { color: rgb(0, 153, 204); }
.ad_topicrelated { border: 1px solid rgb(120, 167, 61); margin: 0pt 10px 10px; padding: 10px 10px 10px 30px; background: rgb(202, 238, 192) none repeat scroll 0% 0%; clear: both; float: right; display: inline; }
.ad_column { text-align: center; }
.ad_footerbanner { margin: 5px; text-align: center; clear: both; }
.headactions { padding: 12px 0pt 0pt; float: right; line-height: 1em; }
.headactions img { padding: 0pt 5px; vertical-align: middle; cursor: pointer; }
.headactions a { margin-left: 4px; }
.mainbox .headactions { color: rgb(153, 153, 153); }
.mainbox .headactions strong { font-weight: 700; }
.msgfix { overflow: hidden; }
.showmessage { margin: 5px; padding: 80px 260px; background: rgb(235, 242, 248) none repeat scroll 0% 0%; position: relative; height: 290px; }
.showmessage h1 { height: 30px; line-height: 30px; font-size: 18px; color: rgb(0, 153, 204); }
.showmessage p { line-height: 24px; font-size: 14px; }
.showmessage a { color: rgb(0, 153, 204); text-decoration: underline; font-weight: 700; }
#sidebar_img { margin: 0pt 6px; padding: 6px 25px 6px 6px; background: transparent url('sidebar_toggle.gif') no-repeat scroll 100% 5px; float: right; display: inline; color: rgb(0, 153, 204); position: relative; z-index: 998; }
.collapsed_no:hover { background-position: 100% -35px ! important; text-decoration: none; }
.collapsed_yes { background-position: 100% -75px ! important; }
.collapsed_yes:hover { background-position: 100% -115px ! important; text-decoration: none; }
.side { width: 170px; }
.sideinner .txt { margin: 6px 0pt; }
.with_side { background: rgb(255, 255, 255) url('sidebg.gif') repeat-y scroll 100% 0pt; }
.with_side .main { overflow: hidden; float: left; margin-left: -180px; width: 100%; }
.with_side .content { margin-left: 180px; width: auto; }
.with_side .side { float: right; padding-bottom: 20px; width: 180px; }
.with_side .side h2 { margin: 20px 25px 10px; color: rgb(153, 153, 153); font-size: 14px; }
.with_side .side a { color: rgb(0, 153, 204); text-decoration: underline; }
.sideinner { padding: 0pt 25px; }
.sideinner .tabs { margin: 5px 0pt; }
.sideinner .tabs li { line-height: 2em; }
.numbg { background: transparent url('numbg.gif') no-repeat scroll 0pt 50%; float: right; text-align: center; width: 35px; height: 2em; color: rgb(255, 255, 255); font-weight: 700; }
.special { background: transparent none repeat scroll 0% 0%; }
.special .main { float: right; }
.special .side { float: left; }
.sidebox { margin: 5px 10px 10px; }
.sidebox h4 { margin-bottom: 4px; color: rgb(0, 153, 204); }
.textinfolist li { margin-bottom: 2px; }
.side .textinfolist li a { text-decoration: none; color: rgb(68, 68, 68); }
.side .textinfolist li a:hover { text-decoration: underline; }
.forumlinks, .forumimglink, .forumtxtlink { border-top: 1px solid rgb(230, 231, 225); padding: 6px; }
.forumlinks ul li { float: left; width: 49%; height: 50px; line-height: 1.4em; }
.forumimglink a { margin-right: 8px; }
.forumimglink img { margin: 2px 0pt; }
.forumlogo { float: left; padding-top: 2px; width: 100px; }
.forumcontent { padding-right: 18px; height: 50px; }
.forumcontent p { overflow: hidden; height: 17px; color: rgb(102, 102, 102); }
.forumtxtlink li { overflow: hidden; float: left; margin-right: 5px; width: 8em; white-space: nowrap; }
#headsearch em { font-size: 20px; margin-right: 10px; color: rgb(0, 153, 204); }
#qihoosearch input, #gform input#q { margin: 6px 0pt; }
#online h3 { font-weight: 400; }
#online h3 a, #online h3 em, #online h3 strong { font-weight: 700; }
#onlinelist {  }
#onlinelist dt, #onlinelist dd { border-top: 1px solid rgb(230, 231, 225); padding: 1em; }
#onlinelist dd ul li { margin: 4px 0pt; float: left; width: 20%; height: 14px; line-height: 14px; }
#onlinelist dt img, #onlinelist dd img { vertical-align: middle; }
.c_header { overflow: hidden; margin-bottom: 10px; }
* html .c_header {  }
.c_header h2, .c_header h3 { background: rgb(255, 255, 255) none repeat scroll 0% 0%; float: left; padding-right: 15px; font-size: 14px; cursor: pointer; }
.c_header h3 { background: rgb(255, 255, 255) url('arrow_down_big.gif') no-repeat scroll 100% 5px; color: rgb(0, 153, 204); }
.searchfaq h3 { background: transparent none repeat scroll 0% 0%; cursor: auto; }
.c_header .noarrow { background: transparent none repeat scroll 0% 0%; cursor: auto; }
.c_header h3 a { color: rgb(0, 153, 204); }
.c_header h3 span { font-size: 12px; font-weight: 400; color: rgb(102, 102, 102); }
.c_header h2 em, .c_header h3 em { margin-left: 8px; font-size: 12px; color: rgb(153, 153, 153); font-weight: 400; }
.c_header_action { float: right; }
.c_header .c_header_ctrlbtn { display: none; }
.c_header .c_header_ext { display: block; }
.closenode { background: transparent url('dashline.gif') repeat-x scroll 0pt 10px; }
.closenode h3 { background-image: url('arrow_right_big.gif'); }
.closenode .c_header_ctrlbtn { display: block; background-color: rgb(255, 255, 255); color: rgb(102, 102, 102); cursor: pointer; }
.closenode .c_header_ext { display: none; }
.itemtitle { overflow: hidden; clear: both; margin-bottom: 10px; line-height: 23px; }
.itemtitle h1 { margin: 0pt 20px 0pt 0pt; float: left; }
.itemtitle ul { float: left; }
.itemtitle li { float: left; margin-right: 5px; }
.itemtitle li.pipe { margin-left: 0pt; }
.itemtitle ul a { overflow: hidden; display: block; height: 23px; cursor: pointer; }
* html .itemtitle ul a { float: left; }
.itemtitle ul a span { padding: 0pt 7px; display: block; }
.itemtitle ul a:hover { background: rgb(245, 245, 245) url('btn_block.gif') no-repeat scroll 0pt -46px; text-decoration: none; }
.itemtitle ul a:hover span { background: transparent url('btn_block.gif') no-repeat scroll 100% -69px; }
.itemtitle ul a.dropmenu { padding-right: 0pt; background-position: 0pt -161px; }
.itemtitle ul a.dropmenu span { background: transparent url('btn_block.gif') no-repeat scroll 100% -138px; padding-right: 12px; }
.itemtitle ul a.dropmenu:hover { background-position: 0pt -46px; }
.itemtitle ul a.dropmenu:hover span { background-position: 100% -115px; }
.itemtitle ul .current a, .itemtitle ul .current a:hover, .itemtitle ul .current a.dropmenu:hover { background: rgb(0, 153, 204) url('btn_block.gif') no-repeat scroll 0pt 0pt; }
.itemtitle ul .current a span, .itemtitle ul .current a:hover span { background: transparent url('btn_block.gif') no-repeat scroll 100% -23px; color: rgb(255, 255, 255); }
.itemtitle ul .current a.dropmenu span, .itemtitle ul .current a.dropmenu:hover span { background-position: 100% -92px; }
.titlemenu_popup { padding: 0pt; }
.titlemenu_popup a { padding: 3px 8px; display: block; }
* html .titlemenu_popup a { display: inline-block; }
.titlemenu_popup .current a { background: rgb(241, 245, 250) none repeat scroll 0% 0%; }
.seccode { margin-top: 5px; }
.seccodecontent { border: 1px solid rgb(127, 202, 226); background: rgb(254, 254, 254) none repeat scroll 0% 0%; position: absolute; z-index: 11; top: 80px; left: 50px; width: 224px; height: 52px; }
* html .seccodecontent { top: 81px; height: 56px; }
* + html .seccodecontent { top: 81px; height: 54px; }
.popupcredit {  }
.pc_l, .pc_c, .pc_inner, .pc_r { background: transparent url('popupcredit_bg.gif') no-repeat scroll 0pt 0pt; width: 29px; height: 56px; line-height: 56px; }
.pc_c { width: 200px; background-position: 0pt -56px; background-repeat: repeat-x; }
.pc_inner { white-space: nowrap; text-align: center; width: auto; background-position: 50% -112px; }
.pc_inner span { margin-right: 15px; color: rgb(255, 234, 151); font-size: 14px; font-weight: 700; }
* html .pc_inner span { display: inline-block; }
.pc_inner span em { color: rgb(255, 255, 255); font-size: 18px; font-weight: 400; }
.pc_inner span em.desc { color: rgb(153, 51, 0); }
.pc_btn img { opacity: 0.5; }
.pc_btn:hover img { opacity: 1; }
.pc_r { background-position: -30px 0pt; }
.optionbar { margin: 3px 4px 0pt -6px; background: rgb(0, 153, 204) url('header.gif') repeat-x scroll 0% 0%; overflow: hidden; float: left; height: 14px; }
.taskbar { border: 1px solid rgb(90, 175, 74); margin: 5px 0pt; background: rgb(255, 255, 255) none repeat scroll 0% 0%; position: relative; width: 200px; height: 14px; }
.taskbar_text { position: absolute; top: -3px; right: 5px; z-index: 7; font-size: 10px; }
.taskbar .optionbar { margin: 0pt; background: rgb(90, 175, 74) none repeat scroll 0% 0%; float: none; position: absolute; }
.nojs { position: absolute; left: 50%; }
.nojs .float { overflow: hidden; margin-left: -300px; }
.nojs .moreconf { left: -94.5%; width: 194.5%; }
#floatwinnojs { position: absolute; }
* html .nojs { left: 25%; }
* html .nojs .float { margin-left: 0pt; }
* html .nojs .moreconf { left: 0pt; }
.side_poll li { line-height: 1.8em; }
.side_trade li { padding-bottom: 5px; }
.side_trade li strong { float: left; width: 80px; height: auto; text-align: center; }
.side_type { border-bottom: 1px solid rgb(176, 228, 239); margin: 0pt 4px; height: 23px; }
.side_type h4 { border: 1px solid rgb(176, 228, 239); margin: 0pt 0pt -1px 4px; padding: 0pt 4px; float: left; cursor: pointer; height: 22px; line-height: 22px; font-weight: 300; color: rgb(153, 153, 153); }
.side_type h4.ontype { border-bottom: 1px none rgb(235, 242, 248); background: rgb(235, 242, 248) none repeat scroll 0% 0%; margin-bottom: 1px; height: 23px; font-weight: 700; color: rgb(0, 153, 204); }
.combine h4 { display: none; }
h3.requesttabs { padding: 4px 6px; height: 22px; line-height: 22px; color: rgb(0, 153, 204); font-weight: 700; }
.requesttabs span { float: right; font-weight: 300; color: rgb(153, 153, 153); }
.with_side .side h3.requesttabs a { margin: 0pt 4px; font-weight: 300; color: rgb(153, 153, 153); text-decoration: none; }
.with_side .side h3.requesttabs a:hover { text-decoration: underline; }
.with_side .side h3.requesttabs a.ontype { font-weight: 700; color: rgb(68, 68, 68); }
.deloption { margin: 4px; background: transparent url('close.gif') no-repeat scroll 0pt 0pt; overflow: hidden; float: left; width: 12px; height: 12px; text-indent: -9999px; }
.deloption:hover { background-position: 0pt -12px; }
.color_menu { overflow: hidden; position: absolute; z-index: 9999; left: 96px; top: 109px; width: 63px; }
.color_menu a { margin: 0pt ! important; overflow: hidden; display: block; width: 20px ! important; height: 20px ! important; }
.chosemagic { margin-bottom: 9px; width: 220px; }
.topicadminhigh { height: 200px; }
.topicadminhigh .tah_body { margin: 5px 0pt 15px; }
.topicadminhigh .tah_body select { width: 217px; }
.topicadminlow { height: 50px; }
.topicadminlow table { width: 100%; }
.topicadminlow td { padding: 0pt 5px; }
.topicadminlow .txt { width: 100px; }
.topicadminlow .wide .txt { width: 50px; }
.topicadminlog {  }
.topicadminlog h4 { font-weight: 400; }
.topicadminlog .dropdownbtn { border-left-width: 1px; }
.topicadminlog .txtarea { margin: 5px 0pt; width: 212px; height: 40px; }
.smilieslist { border: 1px solid rgb(127, 202, 226); padding: 10px; background: rgb(254, 254, 254) none repeat scroll 0% 0%; text-align: center; }
.smilieslist td { border: medium none ; padding: 8px; cursor: pointer; }
.smilieslist_page { text-align: right; }
.pags_act { float: left; }
.pags_act a { display: inline ! important; }
.smilieslist_page a { margin: 0pt 4px; display: inline; color: rgb(0, 153, 204); text-decoration: underline; }
.smilieslist_table { border: 1px solid rgb(230, 231, 225); background: rgb(255, 255, 255) none repeat scroll 0% 0%; position: absolute; left: -100px; top: 0pt; width: 100px ! important; height: 100px; }
.smilieslist_preview { text-align: center; vertical-align: middle; }
.smiliesgroup { overflow: hidden; height: 33px; }
.smiliesgroup ul, .imguptype { border-bottom: 1px solid rgb(211, 232, 242); margin: 6px 0pt; padding: 0pt 0pt 26px 8px; }
.smiliesgroup li, .imguptype li { display: inline; }
.smiliesgroup li a, .imguptype li a { border: 1px solid rgb(211, 232, 242); margin: 2px 6px 0pt 0pt; padding: 2px 10px; float: left; height: 19px; color: rgb(0, 153, 204); }
.smiliesgroup li a:focus, .imguptype li a:focus { outline-color: -moz-use-text-color; outline-style: none; outline-width: medium; }
.smiliesgroup li a.current, .imguptype li a.current { border-bottom-color: rgb(254, 254, 254); font-weight: 700; color: rgb(68, 68, 68); }
td.author { width: 150px; text-align: left; }
.floatboxswf { margin-left: 5px; }
.floatboxswf div { border: 1px solid rgb(204, 204, 204); margin-left: 10px; width: 570px; height: 318px; }
.float_postinfo { height: 22px; line-height: 22px; }
.float_postinfo em { border-style: solid; border-color: rgb(153, 153, 153) rgb(204, 204, 204) rgb(204, 204, 204) rgb(153, 153, 153); border-width: 1px; float: left; margin-right: 5px; padding-left: 3px; height: 20px; background-color: rgb(255, 255, 255); cursor: pointer; }
.float_postinfo em img { margin-top: 2px; }
.float_postinfo input { float: left; margin-right: 5px; }
.float_postinfo #subject { width: 255px; }
.specialpost { margin: 15px 0pt 5px; overflow: hidden; }
.specialinfo { border-right: 1px dashed rgb(204, 204, 204); float: left; overflow-x: hidden; overflow-y: auto; padding-right: 14px; width: 370px; height: 285px; }
.specialpost p { padding: 2px 0pt; height: 30px; line-height: 30px; }
.specialinfo textarea { width: 360px; height: 80px; }
.optionnum, .optioninfo { float: left; width: 16px; margin-right: 6px; }
.optioninfo { width: 300px; }
.specialinfo dl, .specialaddons dl { margin: 5px 0pt; }
.specialinfo dl dt, .specialaddons dl dt { float: left; width: 62px; font-weight: 700; clear: left; }
.specialaddons dl dt { font-weight: 400; }
.specialinfo dl dd, .specialaddons dl dd { margin: 5px 0pt 15px 65px; display: inherit; }
.specialinfo dl dd strong { padding: 0pt 8px; }
.specialaddons { overflow: hidden; float: left; margin-left: 10px; width: 170px; }
.spaoptlist p { height: 20px; line-height: 20px; }
.spaoptlist input[type="radio"] { margin: 0pt 3px 0pt 0pt; }
.spslonginput { width: 280px; }
.splonginput { width: 150px; }
.spmediuminput { width: 90px; }
.specialaddons select.spmediuminput { width: 96px; }
.spshortinput { width: 30px; }
.sppoll { overflow: auto; height: 247px; }
.sppoll p { clear: both; height: auto; }
.goodsimg { border: 1px solid rgb(170, 170, 170); margin: 0pt 10px 0pt 0pt; width: 120px; height: 120px; }
.classifieds { margin: 10px 0pt; height: 275px; overflow-x: hidden; overflow-y: auto; }
.classifieds .formtable th { vertical-align: top; width: 70px; }
.classifieds .txt { width: 600px; }
.classifieds .txtarea { width: 600px; height: 58px; }
.classifieds .inlinelist { float: left; width: 610px; }
.classifieds .inlinelist li { float: left; margin-bottom: 5px; width: 33%; }
.classifieds_narrow { margin: 0pt; height: auto; }
.classifieds_narrow .formtable th { width: 60px; }
.classifieds_narrow .txt, .classifieds_narrow .txtarea { width: 150px; }
.classifieds_narrow .inlinelist { width: 160px; }
.classifieds_narrow .inlinelist li { float: left; width: 50%; }
.post_tablelist {  }
.post_tablelist table {  }
.post_tablelist table td { border-bottom: 1px solid rgb(204, 204, 204); height: 28px; line-height: 28px; }
.attachnum { width: 16px; }
.attachctrl { width: 40px; }
.attachname {  }
.attachname input { margin-top: 2px; }
* html .attachname p { margin-top: 6px; }
* html .attachname p input { margin-top: -4px; }
.attachname .txt, .attachname_swf .txt { width: 300px; }
.attachname p img, .attachname_swf p img { vertical-align: middle; height: 16px; }
.attachview, .attachpr { width: 60px; text-align: center; }
.attachview .txt, .attachpr .txt { width: 40px; }
.attachdel { width: 40px; }
.upfilelist { height: 140px; overflow-y: auto; overflow-x: hidden; }
.sim_upfile { overflow: hidden; margin-left: 10px; }
.sim_upfile input { position: absolute; margin-left: -19px; width: 70px; height: 20px; opacity: 0; cursor: pointer; }
.sim_upfile .sitenote { z-index: 15; bottom: 29px ! important; left: 1px; }
.sim_upfile .sitenote .minicorner { background-position: 70px 0pt; }
.extcreditbox { overflow: auto; height: 350px; width: 100%; }
.extname { width: 100px; }
.extcredits { width: 80px; }
.columntype { margin-top: 15px; }
.posttags strong, .columntype strong { font-weight: 700; }
.posttags p, .columntype p { margin-bottom: 5px; }
.posttags .txt { margin-right: 8px; width: 280px; }
.columntype .txt { vertical-align: baseline; width: 40px; }
.columntype table { margin: 5px 0pt 0pt -12px; width: 85%; }
.columntype td { border-left: 1px dashed rgb(204, 204, 204); padding: 0pt 10px; vertical-align: top; }
.firstlist { border: medium none  ! important; }
.editor_cell { vertical-align: top; }
#editor { border-style: solid; border-color: rgb(227, 237, 245); border-width: 1px 1px 0pt; background: rgb(247, 247, 247) none repeat scroll 0% 0%; }
#editor td { border: medium none ; padding: 2px; }
.editortoolbar table { width: auto; }
.editortoolbar a, .editortoolbar .a { display: block; cursor: pointer; }
.editortoolbar a.hover, .editortoolbar a:hover, .editortoolbar .a1 { text-decoration: none; }
.editor_switcher_bar { position: relative; }
.editor_switcher_bar a { padding: 0pt 3px; float: right; margin-right: 5px; }
.editor_switcher_bar button { border-style: solid; border-color: rgb(227, 237, 245) rgb(227, 237, 245) rgb(255, 255, 255); border-width: 1px; margin: 0pt 2px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; font-weight: bold; height: 28px; line-height: 28px; position: relative; cursor: pointer; }
* + html .editor_switcher_bar button { top: 1px; }
* html .editor_switcher_bar button { top: 1px; }
.editor_switcher_bar .editor_switcher { border-bottom-color: rgb(227, 237, 245); font-weight: normal; }
.editor_text { border: 1px solid rgb(227, 237, 245); }
.editor_text textarea { border: medium none ; width: 99%; font-family: Verdana,Helvetica,Arial,sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: 1.6em; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
.editor_button { border-style: solid; border-color: rgb(227, 237, 245); border-width: 0pt 1px; background: rgb(247, 247, 247) none repeat scroll 0% 0%; }
.editor_button button { border-width: 0pt 0pt 0pt 1px; background: transparent none repeat scroll 0% 0%; color: rgb(0, 153, 204); }
.editor_attach { border: 1px solid rgb(227, 237, 245); }
#wysiwyg { background: rgb(255, 255, 255) none repeat scroll 0% 0% ! important; font-family: Verdana,Helvetica,Arial,sans-serif ! important; font-style: normal ! important; font-variant: normal ! important; font-weight: normal ! important; font-size: 12px ! important; line-height: 1.6em ! important; font-size-adjust: none ! important; font-stretch: normal ! important; -x-system-font: none ! important; }
#wysiwyg * { line-height: normal; }
#wysiwyg a { text-decoration: underline; color: rgb(0, 153, 204) ! important; }
#wysiwyg li { margin-left: 2em; }
#wysiwyg ul li { list-style-type: disc; }
#wysiwyg ul.litype_1 li { list-style-type: decimal; }
#wysiwyg ul.litype_2 li { list-style-type: lower-alpha; }
#wysiwyg ul.litype_3 li { list-style-type: upper-alpha; }
#wysiwyg strong, #wysiwyg b { font-weight: bold; }
#wysiwyg em, #wysiwyg i { font-style: italic; }
#wysiwyg p { margin: 0pt ! important; }
#wysiwyg table td { border: 1px solid ; padding: 4px; }
.fontname_menu { width: 97px; }
.fontsize_menu { width: 27px; line-height: normal; }
.fontsize_menu ul li { line-height: normal; }
#e_popup_table_menu { width: 220px; }
.fontname_menu li, .fontsize_menu li { cursor: pointer; }
.editor_colornormal, .editor_colorhover { border: medium none  ! important; padding: 2px ! important; }
.editor_colornormal div { border: 1px solid rgb(255, 255, 255); overflow: hidden; width: 10px; height: 10px; cursor: pointer; }
.editor_colorhover div { border: 1px solid rgb(68, 68, 68); overflow: hidden; width: 10px; height: 10px; cursor: pointer; }
.swfwin { border: 3px solid rgb(127, 202, 226); }
#e_iframe { border: medium none ; margin: 0pt; padding: 0pt; width: 100%; }
#e_textarea { padding: 0pt; width: 100%; }
.editorrow { border-style: solid; border-color: rgb(153, 153, 153) rgb(204, 204, 204) rgb(204, 204, 204) rgb(153, 153, 153); border-width: 1px; padding: 3px; background: rgb(247, 247, 247) none repeat scroll 0% 0%; overflow: hidden; margin-top: 5px; height: 21px; line-height: 18px; clear: both; }
.editor { text-align: left; }
.editorbtn { margin-right: 50px; }
.editor em { border: 1px solid rgb(247, 247, 247); margin: 0pt 5px; background: transparent url('editor.gif') no-repeat scroll 0pt -701px; float: left; display: block; height: 20px; width: 3px; }
.editor a { border: 1px solid rgb(247, 247, 247); margin: 1px 0pt; background: transparent url('editor.gif') no-repeat scroll 0pt 30px; overflow: hidden; float: left; text-align: left; text-decoration: none; display: block; height: 21px; width: 20px; text-indent: -9999px; }
a.oneditor, .editor a:hover { border: 1px solid rgb(127, 202, 226); background: rgb(254, 254, 254) url('editor.gif') no-repeat scroll 0pt 21px; }
#e_cmd_bold { background-position: 0pt 0pt; }
#e_popup_simple { background: transparent url('newarow.gif') repeat scroll -7px -2px; width: 8px; }
#e_popup_fontname { background-position: 0pt -21px; }
#e_popup_fontsize { background-position: 0pt -41px; }
#e_popup_forecolor { background-position: 0pt -81px; }
#e_popup_justify { background-position: 0pt -61px; }
#e_cmd_createlink { background-position: 0pt -121px; }
#e_cmd_email { background-position: 0pt -141px; }
#e_cmd_insertimage { background-position: 0pt -161px; }
#e_popup_media { background-position: 0pt -541px; }
#e_cmd_quote { background-position: 0pt -441px; }
#e_cmd_code { background-position: 0pt -461px; }
#e_popup_list { background-position: 0pt -261px; }
#e_popup_dent { background-position: 0pt -301px; }
#e_popup_float { background-position: 0pt -341px; }
#e_cmd_table { background-position: 0pt -381px; }
#e_cmd_free { background-position: 0pt -401px; }
#e_cmd_hide { background-position: 0pt -421px; }
#e_popup_smilies { background-position: 0pt -101px; }
#e_popup_tools { background-position: 0pt -181px; }
a.editormode { background: rgb(247, 247, 247) none repeat scroll 0% 0%; float: right; right: 20px; width: 50px; text-align: right; text-decoration: none ! important; }
a.plugeditor { text-indent: 0pt; background-position: 0pt 40px; }
a.editormode:hover { border-color: rgb(127, 202, 226); background: rgb(254, 254, 254) none repeat scroll 0% 0%; }
a.upmedia { width: 68px; }
#e_cmd_bold { font-weight: 700; text-decoration: none; }
#e_cmd_italic { font-style: italic; text-decoration: none; }
#e_cmd_underline { text-decoration: underline; }
.newediter { border-style: solid; border-color: rgb(153, 153, 153) rgb(204, 204, 204) rgb(204, 204, 204) rgb(153, 153, 153); border-width: 0px 1px 1px; padding: 0px 0px 0px 4px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.newediter .autosave { border: medium none ; padding: 0pt 2px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 562px; height: 87px; }
.newediter .max { height: 257px; }
a.customedit { text-indent: 0pt ! important; }
.popupfix { min-width: 330px; white-space: nowrap; }
* + html .popupfix { min-width: 280px; }
#e_cmd_table_menu { width: 220px ! important; min-width: 220px ! important; }
#e_cmd_insertimage_menu {  }
#e_cmd_insertimage_menu li { clear: none; }
#uch_photoes { margin: 5px; }
#uch_photoes table { border-collapse: separate; }
#uch_photoes table td { border: 1px solid rgb(211, 232, 242); padding: 2px; width: 82px; height: 82px; vertical-align: middle; text-align: center; }
#uch_photoes table td img { padding: 3px; max-width: 80px; max-height: 80px; }
* html #uch_photoes table td img {  }

/* ::::: http://forum.palmislife.com/forumdata/cache/style_1_viewthread.css?fmK ::::: */

.forumcontrol {  }
.forumcontrol table { background: rgb(235, 242, 248) none repeat scroll 0% 0%; width: 100%; }
.forumcontrol td { padding: 15px; }
.forumcontrol .narrow td { padding: 0pt 15px 5px; }
.forumcontrol .modaction { background: rgb(211, 232, 242) none repeat scroll 0% 0%; width: 140px; }
.userinfopanel { border: 1px solid rgb(127, 202, 226); margin: -1px 0pt 0pt 9px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; position: absolute; z-index: 9999; width: 500px; opacity: 0.99; }
.popavatar { float: left; width: 150px; }
.popavatar p { padding: 0pt 10px; }
.popuserinfo { padding: 5px 0pt; float: left; width: 350px; }
.imicons img { margin: 0pt 8px 0pt 0pt; vertical-align: middle; }
.userinfopanel p { margin: 0pt ! important; padding: 0pt ! important; text-align: left; }
.userinfopanel p a { color: rgb(0, 153, 204); }
.userinfopanel dl { margin: 5px 0pt; padding: 5px 0pt; }
.postauthor .userinfopanel dt { width: 70px; }
.postauthor .userinfopanel dd { width: 100px; }
.popupmenu_popup .postauthor { width: 180px; }
.popupmenu_popup .postauthor a { color: rgb(0, 153, 204); }
.userinfopanel .avatar { margin: 0pt 0pt 10px ! important; }
.profile_side ul { margin: 5px 30px; overflow: hidden; line-height: 1.6em; }
.profile_side li { margin: 5px 0pt; background-position: 0pt 50%; background-repeat: no-repeat; text-indent: 22px; }
.profile_side li.pm { background-image: url('pmto.gif'); }
.profile_side li.buddy { background-image: url('addbuddy.gif'); }
.viewthread {  }
.threadfix { padding-bottom: 0pt ! important; min-height: 300px ! important; }
* html .threadfix { height: 300px ! important; }
.viewthread table, #pmprompt table, #forumlinks, #pmlist, #specialpost, #newpost, #editpost { table-layout: fixed; }
.viewthread td.postcontent, .viewthread td.postauthor { border: medium none ; padding: 0pt 1px; overflow: hidden; vertical-align: top; }
.viewthread td.postcontent { padding: 0pt 15px; }
.mainbox td.postauthor { padding: 0pt; background: rgb(235, 242, 248) none repeat scroll 0% 0%; overflow: hidden; width: 170px; }
.postauthor .avatar { margin: 10px 20px; }
.postauthor p, .postauthor dl.profile { margin: 5px 10px 5px 20px; }
.postauthor p.customstatus { color: rgb(102, 102, 102); }
.postauthor p em, .postauthor dt em { color: rgb(255, 102, 0); }
.postauthor dd, .postauthor dt { overflow: hidden; height: 1.6em; line-height: 1.6em; float: left; }
.postauthor dt { margin-right: 5px; width: 50px; }
.postauthor dd { width: 80px; }
.postauthor .shadowline { margin: 9px 20px 4px; }
.posterinfo, .postmessage, .postact { max-width: 700px; }
.postinfo { border-bottom: 1px dashed rgb(230, 231, 225); overflow: hidden; color: rgb(102, 102, 102); margin-bottom: 10px; line-height: 36px; height: 36px; }
.postinfo strong a { border: 1px solid rgb(255, 255, 255); padding: 0pt 6px; float: right; height: 24px; font-weight: 100; color: rgb(68, 68, 68); line-height: 24px; margin-top: 4px; }
.posterinfo a.posterlink { color: rgb(0, 153, 204); }
.postinfo strong a:hover { border: 1px solid rgb(0, 153, 204); text-decoration: none; }
.msgfontsize img { vertical-align: middle; }
* html .msgfontsize { margin-top: 8px; }
.postinfo em { color: rgb(0, 153, 204); margin-right: 4px; }
.posterinfo { color: rgb(153, 153, 153); margin-right: auto; }
* html .authorinfo { padding-top: 8px; }
.authicon { margin-bottom: -4px; cursor: pointer; }
.posterinfo a, .posterinfo em { margin: 0pt 4px; color: rgb(68, 68, 68); }
.posterinfo cite { float: right; }
.posterinfo cite img { margin: 0pt 8px 6px 0pt; vertical-align: middle; }
.postmessage { clear: left; }
.postmessage * { line-height: normal; }
.postmessage h1, .postmessage h2 { margin: 8px 0pt; font-size: 1.17em; }
.postmessage h1 a { font-weight: 400; color: rgb(68, 68, 68); }
#threadtitle { border-bottom: 1px dashed rgb(230, 231, 225); margin-bottom: 8px; }
#threadtitle h2 { font-size: 1.33em; }
.postmessage h2 em { float: right; font-size: 12px; font-weight: 400; }
.defaultpost { padding-bottom: 1em; }
.t_msgfont, .t_msgfont td { font-size: 12px; line-height: 1.6em; }
.t_msgfont a { color: rgb(0, 153, 204); }
.t_bigfont .t_msgfont, .t_bigfont .t_msgfont td { font-size: 16px; line-height: 1.6em; }
.recordinfo { height: 32px; }
.t_msgfont *, .t_bigfont .t_msgfont * { line-height: normal; }
.postratings { float: right; }
.signatures { padding: 20px 0pt 10px; background: transparent url('sigline.gif') no-repeat scroll 0pt 0pt; overflow: hidden; color: rgb(102, 102, 102); line-height: 1.6em; }
.signatures * { line-height: normal; }
.signatures strong { font-weight: 700; }
.postactions { border-top: 1px dashed rgb(230, 231, 225); padding: 0pt 10px 0pt 0pt; }
.postactions strong { cursor: pointer; }
.postactions .right { margin: 8px 0pt 0pt 5px; }
.postactions p { float: right; }
.postactions p a { margin-right: 6px; }
.postact { line-height: 36px; }
.postact em { float: left; }
.postact em a { padding: 5px 10px 5px 25px; }
.fastreply { background: transparent url('fastreply.gif') no-repeat scroll 0pt 50%; }
.repquote { background: transparent url('repquote.gif') no-repeat scroll 0pt 50%; }
.editpost { background: transparent url('edit.gif') no-repeat scroll 0pt 50%; }
.postmessage .typeoption { margin-bottom: 1em; }
.typeoption h4 { border-bottom: 1px solid rgb(230, 231, 225); padding: 10px 2px; font-size: 14px; font-weight: bold; }
.typeoption table { width: 600px; }
.typeoption th, .typeoption td { border-bottom: 1px solid rgb(230, 231, 225); padding: 4px; }
.postmessage .box tbody th, .postmessage .box tbody td { border-top-color: rgb(230, 231, 225); }
.t_msgfont li { margin-left: 2em; }
.t_msgfont ul li { list-style-type: disc; }
ul.litype_1 li { list-style-type: decimal; }
ul.litype_2 li { list-style-type: lower-alpha; }
ul.litype_3 li { list-style-type: upper-alpha; }
.postattach { margin: 10px 0pt; width: 500px; }
.zoominner { padding: 5px 10px 10px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; text-align: left; }
.zoominner p { padding: 8px 0pt; color: rgb(153, 153, 153); }
.zoominner p a { background: transparent url('imgzoom_tb.gif') no-repeat scroll 0pt 0pt; overflow: hidden; float: left; margin-left: 10px; width: 17px; height: 17px; line-height: 100px; }
.zoominner p a:hover { background-position: 0pt -39px; }
.zoominner p a.imgadjust { background-position: -40px 0pt; }
.zoominner p a.imgadjust:hover { background-position: -40px -39px; }
.zoominner p a.imgclose { background-position: -80px 0pt; }
.zoominner p a.imgclose:hover { background-position: -80px -39px; }
.zoominner #zoomimgbox { text-align: center; }
.tagrelated { border-top: 1px dashed rgb(230, 231, 225); margin: 10px 0pt; }
.tagrelated h3 { padding: 6px 0pt; color: rgb(0, 153, 204); }
.tagrelated h3 em { float: right; }
.taghelated h3 em a { color: rgb(102, 102, 102); font-weight: 300; }
.tagrelated li { padding-bottom: 6px; }
.zoomctl { overflow: hidden; float: right; text-indent: -999px; }
.t_attach, .t_attach_img { border: 1px solid rgb(230, 231, 225); padding: 5px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; font-size: 12px; }
.t_attach { width: 130px; }
.t_attach em { color: rgb(153, 153, 153); }
.t_attachinsert { margin: 1em 0pt; font-size: 12px; }
.t_attachinsert p img { margin-bottom: -4px; }
.t_table { border: 1px solid rgb(227, 237, 245); empty-cells: show; border-collapse: collapse; }
.t_table td { border: 1px solid rgb(227, 237, 245); padding: 4px; overflow: hidden; }
.threadad {  }
.threadad td.postauthor { padding: 0pt; background: rgb(211, 232, 242) none repeat scroll 0% 0%; height: 6px; }
.adcontent { background: rgb(235, 242, 248) none repeat scroll 0% 0%; overflow: hidden; }
.locked { border: 1px dashed rgb(255, 154, 154); margin: 10px 0pt; padding: 8px 8px 8px 24px; background: rgb(255, 255, 255) url('locked.gif') no-repeat scroll 6px 50%; width: 560px; font-size: 12px; }
.locked strong { color: rgb(255, 102, 0); }
.viewpay { margin: 0pt 6px; padding: 1px 0pt 1px 24px; background: transparent url('viewpay.gif') no-repeat scroll 6px 60%; color: rgb(0, 153, 204); font-weight: 700; }
.showhide { border: 1px dashed rgb(255, 154, 154); margin: 8px 0pt; padding: 10px; }
.showhide h4 { margin-bottom: 10px; color: rgb(255, 102, 102); font-size: 12px; text-align: center; }
.pstatus, .modact { display: block; height: 32px; text-align: center; font-style: normal; color: rgb(153, 153, 153); font-size: 12px; }
.pstatus, .modact, .modact a { line-height: 32px ! important; color: rgb(153, 153, 153); }
.useraction { margin: 20px auto; height: 50px; width: 165px; clear: both; display: block; }
.useraction a { padding: 30px 0pt 0pt; background: transparent url('ajaxaction.gif') no-repeat scroll 0pt 0pt; float: left; margin-right: 10px; text-align: center; height: 20px; width: 45px; }
#emailfriend { background-position: 0pt -50px; }
#ratelink { background-position: 0pt -100px; }
.newrate .cornerlayger { border: 1px solid rgb(204, 204, 204); background: rgb(247, 249, 248) none repeat scroll 0% 0%; color: rgb(153, 153, 153); white-space: nowrap; }
.newrate .cornerlayger em { color: rgb(255, 102, 0); }
.newrate .attach_popup { width: auto; }
.newrate .minicorner { background: transparent url('ratesrcorebg.gif') no-repeat scroll 5px 0pt; }
.re_unsolved, .re_solved { font-size: 14px; float: right; height: 21px; width: 48px; padding-left: 10px; line-height: 21px; color: rgb(204, 51, 0); font-weight: 700; }
.re_solved { color: rgb(0, 102, 0); }
.votemsg { width: 486px; height: 80px; }
.userlist { margin: 4px 0pt; overflow: auto; height: 220px; }
.userlist li { list-style-type: none; list-style-image: none; list-style-position: outside; float: left; width: 20%; height: 1.8em; line-height: 1.8em; }
.buyinfo { margin: 5px 10px; }
.buyinfo table td, .buyinfo table th { border-bottom: 1px solid rgb(221, 221, 221); padding: 6px; }
.buyinfo table th { width: 100px; }
.buyinfo p { padding: 6px; }
.quote, .blockcode { margin: 10px 0pt; padding: 10px 10px 10px 65px; }
.quote { background: rgb(249, 249, 249) url('icon_quote_s.gif') no-repeat scroll 20px 6px; padding-bottom: 5px; }
.quote blockquote { margin: 0pt; padding: 0pt 65px 5px 0pt; background: transparent url('icon_quote_e.gif') no-repeat scroll 100% 100%; line-height: 1.6em; }
.blockcode { border: 1px solid rgb(204, 204, 204); padding: 10px 0pt 5px 10px; background: rgb(247, 247, 247) url('codebg.gif') repeat-y scroll 0pt 0pt; overflow: hidden; width: 586px; }
.blockcode ol { margin: 0pt 0pt 0pt 10px; padding: 0pt; }
.blockcode ol li { padding-left: 10px; list-style-type: decimal-leading-zero; font-family: Monaco,Consolas,"Lucida Console","Courier New",serif; font-size: 12px; line-height: 1.8em; }
.blockcode ol li:hover { background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(0, 153, 204); }
* html .blockcode ol li { font-family: "Courier New",serif; }
.blockcode em { margin-left: 43px; color: rgb(0, 153, 204) ! important; font-size: 12px; cursor: pointer; }
.threadtags { background: transparent url('tag.gif') no-repeat scroll 0pt 50%; margin-top: -8px; padding-left: 20px; color: rgb(153, 153, 153); }
.threadtags a, .footoperation span.threadtags a { margin-right: 6px; color: rgb(51, 51, 51); line-height: 30px; }
.threadtags .postkeywords a { color: rgb(255, 102, 0); }
.pagecontrol { float: right; width: 160px; }
.print { background: transparent url('printpost.gif') no-repeat scroll 0pt 10px; padding-left: 20px; }
.msgfsize * { float: left; }
.msgfsize small, .msgfsize big { width: 20px; text-indent: -9999px; cursor: pointer; }
.msgfsize small { background: transparent url('text_common.gif') no-repeat scroll 7px 8px; }
.msgfsize big { background: transparent url('text_zoom.gif') no-repeat scroll 0pt 8px; }
.postmessage strong { font-weight: bold; }
.postmessage em { color: rgb(102, 102, 102); }
.postmessage span.t_tag { border-bottom: 1px solid rgb(204, 204, 204); cursor: pointer; white-space: nowrap; }
.postmessage span.t_tag:hover { border-bottom: 1px solid; }
.t_msgfontfix table, .specialmsg table { margin-left: 1px; }
.taglinks { border-top: 1px dashed rgb(227, 237, 245); margin: 10px; overflow: hidden; }
.taglinks div { float: left; width: 33%; }
.taglinks div h4 { height: 30px; line-height: 30px; text-indent: 14px; }
.taglinks div h4 a { color: rgb(0, 153, 204); }
.taglinks div ul { border-right: 1px dashed rgb(227, 237, 245); margin: 0pt 10px 0pt 20px; }
.taglinks div.noborder ul { border-right: medium none; }
.taglinks div ul li { overflow: hidden; list-style-type: none; list-style-image: none; list-style-position: outside; height: 20px; line-height: 20px; color: rgb(153, 153, 153); white-space: nowrap; }
.taglinks div li a:hover { color: rgb(0, 153, 204); }
.taglinks div dl dt { float: left; width: 100px; text-align: center; }
.taglinks div dl dt img { width: 76px; height: 58px; }
.taglinks div dl dt p { margin: 10px; overflow: hidden; color: rgb(153, 153, 153); }
.taglinks div dl dd { margin-left: 80px; }
#relatedthreads td { height: 30px; }
.pollchart {  }
.pollchart h4 a { color: rgb(0, 153, 204); text-decoration: underline; }
.pollchart table { table-layout: fixed; }
.pollchart table td { padding: 4px 2px; vertical-align: middle; }
.selector { width: 20px; }
td.optionvessel { padding-left: 22px ! important; }
.polloption { width: auto; }
.polloption.vote label { cursor: pointer; }
.optionvotes { width: 100px; }
.optionbg { background: rgb(250, 250, 250) none repeat scroll 0% 0%; height: 16px; }
.polloptionbar { height: 16px; }
.pollcolor1 { background: rgb(233, 39, 37) none repeat scroll 0% 0%; }
.pollcolor2 { background: rgb(242, 123, 33) none repeat scroll 0% 0%; }
.pollcolor3 { background: rgb(242, 166, 31) none repeat scroll 0% 0%; }
.pollcolor4 { background: rgb(90, 175, 74) none repeat scroll 0% 0%; }
.pollcolor5 { background: rgb(66, 196, 245) none repeat scroll 0% 0%; }
.pollcolor6 { background: rgb(0, 153, 204) none repeat scroll 0% 0%; }
.pollcolor7 { background: rgb(51, 101, 174) none repeat scroll 0% 0%; }
.pollcolor8 { background: rgb(42, 53, 145) none repeat scroll 0% 0%; }
.pollcolor9 { background: rgb(89, 45, 142) none repeat scroll 0% 0%; }
.pollcolor0 { background: rgb(219, 49, 145) none repeat scroll 0% 0%; }
.pollvote1 { color: rgb(233, 39, 37); }
.pollvote2 { color: rgb(242, 123, 33); }
.pollvote3 { color: rgb(242, 166, 31); }
.pollvote4 { color: rgb(90, 175, 74); }
.pollvote5 { color: rgb(66, 196, 245); }
.pollvote6 { color: rgb(0, 153, 204); }
.pollvote7 { color: rgb(51, 101, 174); }
.pollvote8 { color: rgb(42, 53, 145); }
.pollvote9 { color: rgb(89, 45, 142); }
.pollvote0 { color: rgb(219, 49, 145); }
.pollchart #pollsubmit { margin-left: 18px; }
.pollchart { width: 600px; }
.pollchart .solidline { margin: 0pt; padding: 0pt; }
.pollinfo { margin: 15px 0pt; color: rgb(102, 102, 102); }
.pollinfo strong { color: rgb(68, 68, 68); }
.pollinfo a { color: rgb(0, 153, 204); }
.polltimer { margin: -10px 0pt 15px; }
.postmessage h2.tradename, h2.videoname { font-size: 14px; }
.tradethread .postmessage { min-height: 160px; }
* html .tradethread .postmessage { height: 360px ! important; }
.tradethread .postauthor dt, .tradethread .postauthor dd { overflow: hidden; height: 20px; }
.tradectrl { background: rgb(0, 153, 204) none repeat scroll 0% 0%; margin-top: 20px; height: 30px; line-height: 30px; color: rgb(255, 255, 255); }
.tradectrl a { margin: 0pt 6px; height: 30px; line-height: 30px; color: rgb(255, 255, 255); }
.tradectrl em { float: right; line-height: 30px; color: rgb(255, 255, 255); padding-right: 6px; }
.tradethumblist {  }
.tradethumblist dl { padding: 10px; text-align: left; height: 104px; }
.thumblist { border: 1px solid rgb(239, 239, 239); overflow: hidden; width: 104px; text-align: center; float: left; }
.thumblist img { margin: 4px; vertical-align: middle; cursor: pointer; }
.tradethumblist dd { margin-left: 120px; }
.tradethumblist dl p { overflow: hidden; height: 1.6em; }
.tradethumblist p.tradename { line-height: 18px; margin-top: 5px; }
.tradethumblist del { color: rgb(153, 153, 153); }
.tradethumblist strong.price { font-size: 18px; color: rgb(255, 102, 0); }
.infoview { background: transparent url('arrow_down_big.gif') no-repeat scroll 0pt 50%; float: right; padding-left: 16px; }
.treadbox { border-bottom: 1px dashed rgb(230, 231, 225); min-height: 110px; }
* html treadbox { height: 110px; }
.tradeinfo { border-bottom: 1px dashed rgb(230, 231, 225); padding: 15px 0pt 0pt; }
.tradeinfo h2 { padding: 5px; font-size: 16px; margin-bottom: 1em; }
.tradethumb { float: left; }
.tradethumb { width: 260px; text-align: center; }
.tradeattribute { margin-left: 280px; }
.tradeattribute h4 { padding: 2px; font-size: 14px; font-weight: 700; color: rgb(0, 153, 204); }
.tradeattribute img { vertical-align: middle; }
.tradeattribute dl { overflow: hidden; height: auto; width: 300px; padding-top: 0pt; padding-right: 0pt; padding-left: 0pt; padding-bottom: 2em ! important; margin-bottom: 10px; }
.tradeattribute dt { padding: 2px; float: left; width: 5em; line-height: 14px; clear: left; }
.tradeattribute dd { padding: 2px; line-height: 14px; }
.tradeattribute em, .tradeattribute del { color: rgb(153, 153, 153); }
.tradeattribute strong { font-size: 14px; font-weight: 700; color: rgb(255, 102, 0); }
.sellerinfo { float: right; display: inline; margin-right: 1em; width: 180px; }
.sellerinfo h4 { border-bottom: 1px dotted rgb(230, 231, 225); }
.sellerinfo dl { margin: 1em; }
.tradeinfo .postmessage { padding: 10px; }
.specialtable { border-bottom: 1px dashed rgb(153, 153, 153); padding: 10px 0pt; }
.specialtable table { table-layout: fixed; }
.specialtable table th { width: 80px; font-weight: 700; }
.specialtable table th, .specialtable table td { padding: 4px; height: 14px; }
.actnum { width: 60px; }
.actctrl { width: 120px; }
.actctrl a { color: rgb(0, 153, 204); }
.actnotice { border: 1px solid rgb(255, 153, 153); padding: 6px; background: rgb(255, 247, 247) none repeat scroll 0% 0%; color: rgb(204, 0, 0); }
.postattachlist { border-bottom: 1px dashed rgb(230, 231, 225) ! important; overflow: hidden; width: 100%; margin-top: 2em; font-size: 12px; }
.t_attachlist { padding: 10px; overflow: hidden; float: left; width: 45%; height: 50px; }
.t_attachlist a { color: rgb(0, 153, 204); text-decoration: underline; }
.t_attachlist dt { width: 40px; float: left; font-weight: 700; }
.t_attachlist strong { color: rgb(255, 102, 0); margin-right: 6px; }
.t_attachlist dt img { width: 32px; height: 32px; }
.t_attachlist dd { margin-left: 40px; color: rgb(153, 153, 153); }
.attachname { overflow: hidden; height: 16px; margin-bottom: 3px; white-space: nowrap; }
.attachimg { overflow: visible; width: 580px; height: auto; }
.attachimg dt { width: 0pt; }
.attachimg dd { margin-left: 0pt; }
.imgtitle { margin-bottom: 10px; }
.attach_popup { border-style: solid; border-color: rgb(255, 255, 255); border-width: 5px 5px 0pt; width: 180px; }
.newrate { margin: 20px 0pt; }
.newrate dt { float: left; width: 80px; padding-top: 7px; text-align: center; }
.newrate dt strong { padding: 12px 8px; background: rgb(255, 244, 221) none repeat scroll 0% 0%; height: 46px; font-size: 24px; }
.newrate dt p { padding-top: 10px; }
.newrate dt strong a, .newrate dt strong a em { line-height: 48px; height: 48px; color: rgb(255, 102, 0); }
.newrate dd { margin-left: 80px; }
.newrate dd ul li { margin: 0pt 4px; overflow: hidden; float: left; list-style-type: none; list-style-image: none; list-style-position: outside; width: 67px; height: 84px; text-align: center; }
.rateavatar { padding: 8px 0pt; }
.rateavatar img { margin: auto; }
#umpirepoint { border-bottom: 1px dashed rgb(230, 231, 225); margin: 10px 0pt; padding: 10px 0pt; }
#umpirepoint .dbresult * { line-height: 23px; }
.dbresult label { padding: 0pt 50px 0pt 10px; background: transparent url('winner_flag.gif') no-repeat scroll 100% 50%; float: left; margin-right: 20px; color: rgb(255, 255, 255); line-height: 23px; }
.dbresult .winner_1 { background-color: rgb(0, 153, 204); }
.dbresult .winner_2 { background-color: rgb(255, 102, 0); }
.dbresult .winner_0 { background-color: rgb(248, 248, 248); color: rgb(68, 68, 68); }
.dbresult label strong { margin-right: 5px; font-size: 16px; }
#umpirepoint .umpirepoint { padding-top: 10px; line-height: 1.6em; }
.bestdebater { padding-top: 8px; font-size: 1.17em; color: rgb(255, 102, 0); }
.debatesquare { margin-top: 1em; }
.debatesquare table, .debater table { width: 600px; }
.debatesquare td { vertical-align: bottom; }
.debatesquare .stand_1, .debatesquare .stand_2 { width: 60px; }
.point_chart { background: rgb(245, 245, 245) none repeat scroll 0% 0%; position: relative; width: 48px; height: 150px; text-align: center; color: rgb(0, 153, 204); }
.stand_2 .point_chart { color: rgb(255, 102, 0); }
.point_chart * { position: absolute; left: 0pt; bottom: 0pt; width: 48px; }
.point_chart label { bottom: 5px; font-weight: bold; }
.point_chart div label { color: rgb(255, 255, 255); }
.debatesquare .point { width: 48px; line-height: 30px; text-align: center; font-size: 14px; font-weight: bold; }
.stand_1 .point { background: rgb(206, 243, 255) none repeat scroll 0% 0%; color: rgb(0, 153, 204); }
.stand_2 .point { background: rgb(255, 237, 225) none repeat scroll 0% 0%; color: rgb(255, 102, 0); }
.point_chart .chart { overflow: hidden; }
.stand_1 .chart { background: rgb(0, 153, 204) none repeat scroll 0% 0%; }
.stand_2 .chart { background: rgb(255, 102, 0) none repeat scroll 0% 0%; }
.piont_info * { line-height: 1.6em; }
.piont_info p { margin: 5px 0pt; }
.debater { margin: 15px 0pt; }
.debater td { border-top: 1px solid rgb(206, 243, 255); padding-top: 10px; vertical-align: top; }
.debater td.stand_2 { border-color: rgb(255, 237, 225); }
.debater h5 { margin-bottom: 10px; }
.debater h5 a { float: right; color: rgb(0, 153, 204); font-weight: 400; }
.debater .stand_2 h5 a { color: rgb(255, 102, 0); }
.debateuser a img { margin: 0pt 8px 6px 0pt; }
.debatesquare th, .debater th { width: 26px; }
.debatevote { background: rgb(0, 102, 204) url('stand_label.gif') no-repeat scroll 0pt 0pt; float: right; margin-top: 7px; width: 115px; height: 22px; line-height: 22px; text-align: center; }
.poststand_2 { background-color: rgb(255, 102, 0); }
.poststand_0 { background-color: rgb(245, 245, 245); background-position: 0pt -30px; }
.debatevote label { float: left; width: 40px; }
.debatevote label a { color: rgb(255, 255, 255); }
.poststand_0 label { width: 115px; }
.poststand_0 label a { color: rgb(68, 68, 68); }
.debatevote span { float: left; width: 75px; color: rgb(0, 102, 204); }
.poststand_2 span { color: rgb(255, 102, 0); }
.debatevote span a { margin-right: 3px; }
.activity_info { margin-bottom: 15px; }
.special_reward { background: transparent url('legend_reward.gif') no-repeat scroll 0pt 5px; padding-left: 70px; }
.reward_price { padding: 10px 0pt; font-weight: 700; font-size: 14px; }
.reward_price strong { color: rgb(255, 102, 0); }
.reward_button { margin: 10px 0pt; }
.reward_bestpost { width: 530px; }
.reward_bestpost td, .reward_bestpost th { padding: 5px; vertical-align: top; }
.reward_bestpost thead td, .reward_bestpost thead th { border-top: 1px solid rgb(255, 102, 0); }
.reward_bestpost th { width: 60px; }
.videolist {  }
.videolist h4 { border-bottom: 1px dashed rgb(230, 231, 225); height: 30px; line-height: 30px; }
.onplay { padding: 10px 0pt; }
.videoaddr, #video_Player_wrap { margin: 10px auto; width: 500px; }
#authornewfeed { padding: 2px 12px 2px 23px; background: transparent url('notify_bg_m.gif') no-repeat scroll 0pt 50%; color: rgb(255, 255, 255); cursor: pointer; }
#authornewfeed_menu { background: transparent url('pm_ntc.gif') no-repeat scroll 0pt 0pt; padding-top: 10px; width: 250px; }
#authornewfeed_menu div { background: transparent url('pm_ntc.gif') no-repeat scroll -250px 100%; padding-bottom: 10px; }
#authornewfeed_menu ul { border-style: solid; border-color: rgb(145, 200, 226); border-width: 0pt 2px; background: rgb(254, 254, 254) none repeat scroll 0% 0%; }
#authornewfeed_menu li { border-bottom: 1px solid rgb(244, 244, 244); margin: 0pt 5px; padding: 4px 0pt 4px 20px; color: rgb(68, 68, 68); }
#authornewfeed_menu a { color: rgb(0, 153, 204); text-decoration: underline; }
#authornewfeed_menu img.appicon { position: absolute; float: left; margin-top: 3px; margin-left: -20px; width: 16px; height: 16px; }

/* ::::: null ::::: */

#f_post td { padding-top: 15px; padding-bottom: 20px; vertical-align: top; }
#f_post p, .fastcheck { margin: 5px 0pt; }
#f_post .txtarea { border-color: -moz-use-text-color rgb(204, 204, 204) rgb(204, 204, 204) rgb(153, 153, 153); border-top: medium none; margin: -1px 0pt 0pt; overflow: auto; width: 596px; height: 120px; }
.defaultpost { height: auto ! important; min-height: 120px ! important; }
.signatures { max-height: 300px; }
* html .signatures {  }
.t_msgfontfix { min-height: 100px; }
* html .t_msgfontfix { overflow: visible; height: 100px; }
