/* ::::: http://ez2learn.com/plugins/content/joomler_syntaxhighlighter//Styles/SyntaxHighlighter.css ::::: */

.dp-highlighter { font-family: "Consolas","Courier New",Courier,mono,serif; font-size: 12px; background-color: rgb(231, 229, 220); width: 99%; overflow: auto; margin: 18px 0pt ! important; padding-top: 1px; }
.dp-highlighter ol, .dp-highlighter ol li, .dp-highlighter ol li span { margin: 0pt; padding: 0pt; border: medium none; }
.dp-highlighter .bar { padding-left: 45px; }
.dp-highlighter.collapsed .bar, .dp-highlighter.nogutter .bar { padding-left: 0px; }
.dp-highlighter ol { list-style: decimal outside none; background-color: rgb(255, 255, 255); margin: 0px 0px 1px 45px ! important; padding: 0px; color: rgb(92, 92, 92); }
.dp-highlighter.nogutter ol, .dp-highlighter.nogutter ol li { list-style: none outside none ! important; margin-left: 0px ! important; }
.dp-highlighter ol li, .dp-highlighter .columns div { list-style-type: decimal-leading-zero; list-style-image: none; list-style-position: outside ! important; border-left: 3px solid rgb(108, 226, 108); background-color: rgb(248, 248, 248); color: rgb(92, 92, 92); padding: 0pt 3px 0pt 10px ! important; margin: 0pt ! important; line-height: 14px; }
.dp-highlighter.nogutter ol li, .dp-highlighter.nogutter .columns div { border: 0pt none; }
.dp-highlighter ol li.alt { background-color: rgb(255, 255, 255); color: inherit; }
.dp-highlighter ol li span { color: black; background-color: inherit; }
.dp-highlighter .string { color: blue; background-color: inherit; }
.dp-highlighter .keyword { color: rgb(0, 102, 153); font-weight: bold; background-color: inherit; }
.dp-highlighter .preprocessor { color: gray; background-color: inherit; }
/* ::::: http://ez2learn.com/templates/system/css/system.css ::::: */

/* ::::: http://ez2learn.com/templates/system/css/general.css ::::: */

/* ::::: http://ez2learn.com/templates/themza_j15_11/css/template.css ::::: */

html { height: 100%; margin-bottom: 1px; }
form { display: inline; }
body { margin: 0px; }
body, td { font-family: "Trebuchet MS"; font-size: 13px; color: rgb(51, 51, 51); line-height: 1.3em; }
a:link, a:visited { text-decoration: none; font-weight: normal; }
a:hover { text-decoration: underline; font-weight: normal; }
p { margin-top: 0pt; margin-bottom: 5px; }
img { border: 0pt none; }
#page_bg { padding: 0px; margin-bottom: 1px; }
div.main_bg_center { margin: 0px auto; }
div#main_bg { width: 988px; text-align: left; }
div#logo_bg { height: 85px; margin-left: 4px; margin-right: 4px; width: auto; }
.logo { display: block; float: left; padding-top: 15px; }
a.logo, a.logo:link, a.logo:hover, a.logo:visited { font-size: 26px; line-height: 28px; color: rgb(0, 0, 0); text-decoration: none; font-weight: bold; font-family: "Trebuchet MS",Arial; }
div#user4 { float: right; width: 229px; text-align: left; }
.search { text-align: left; height: 45px; padding: 10px 0px 0px 10px; }
.search .inputbox { background: none repeat scroll 0% 0% rgb(255, 255, 255); width: 156px; height: 17px; font-size: 11px; color: rgb(69, 69, 69); padding: 5px 2px 2px; border: 1px solid rgb(211, 211, 211); }
#user3 { margin-left: 4px; margin-right: 4px; width: auto; border: 0px none; height: 44px; }
#pillmenu { text-align: left; margin: 0pt; }
#pillmenu ul { margin: 0pt; padding: 0pt 0pt 0pt 8px; list-style: none outside none; }
#pillmenu li { float: left; margin: 0pt; padding: 0pt; }
#pillmenu li a, #pillmenu li a:hover { font-family: "Trebuchet MS",Tahoma; font-size: 13px; float: left; display: block; line-height: 44px; padding: 0pt 17px; color: rgb(255, 255, 255); text-decoration: none; font-weight: bold; }
#date { text-align: right; margin-right: 10px; float: right; line-height: 40px; color: rgb(255, 255, 255); font-family: Georgia,Tahoma; font-size: 11px; }
#leftcolumn { margin: 0px; padding: 0px; width: 206px; float: left; }
#rightcolumn { margin: 0px; padding: 0px; width: 206px; float: right; }
#maincolumn_middle { width: 761px; float: left; margin: 0px 10px; padding: 0px; }
.maincolumn_white {  }
div.path { margin: 10px 0pt 0pt 0px; padding: 5px; background-color: rgb(255, 255, 255); border: 1px solid rgb(243, 243, 243); }
div.nopad { float: left; padding: 0pt 0px 15px; width: 100%; }
.article_separator { height: 35px; line-height: 35px; }
#leftcolumn div.module_menu, #leftcolumn div.module { margin: 10px 0px 0px; padding: 0px; width: 206px; }
div.bannergroup_text { margin: 10px 13px; }
.bannerheader { font-weight: bold; margin-bottom: 10px; }
.bannerfooter_text { margin-bottom: 10px; }
#leftcolumn div.module_menu div div div, #leftcolumn div.module div div div, #rightcolumn div.moduletable_menu, #rightcolumn div.moduletable, #rightcolumn div.moduletable_text { background: url('rub_bottom.png') no-repeat scroll 0px 46px transparent; }
#leftcolumn div.module_menu div div div, #leftcolumn div.module div div { margin: 0px; padding: 0px 0px 5px; width: 206px; height: auto; }
#leftcolumn h3, #rightcolumn h3 { text-align: left; padding-left: 15px; height: 46px; width: 191px; line-height: 45px; color: rgb(54, 54, 54); font-size: 19px; margin: 0px; font-weight: normal; }
#leftcolumn ul.menu li ul { list-style: none outside none; }
ul.menu { padding: 10px 10px 10px 15px; margin: 0px; }
ul.menu li { padding: 7px 0px 7px 5px; margin: 0px; border-bottom: 1px dotted rgb(159, 159, 159); }
ul.menu li#current { background: none repeat scroll 0% 0% rgb(247, 247, 247); }
ul.menu li#current a { text-decoration: none; color: rgb(54, 54, 54); background: none repeat scroll 0% 0% rgb(247, 247, 247); }
ul.menu li ul { padding: 0px 0px 5px; margin: 0px; }
ul.menu li ul li { padding: 0px 0px 0px 15px; border: medium none; }
td.contentheading { font-weight: normal; vertical-align: top; font-size: 19px; height: 40px; color: rgb(54, 54, 54); background: url('contentheading_ico.png') no-repeat scroll left top transparent; }
table.contentpaneopen td.contentheading { padding-left: 34px; }
table.contentpaneopen { border-collapse: collapse; margin-left: 5px; }
td.buttonheading { padding: 0px 2px; }
table.contentpaneopen td { padding: 0px; }
.contentpaneopen p { line-height: 22px; }
span.small, td.createdate, td.modifydate { font-size: 11px; color: rgb(153, 153, 153); }
/* ::::: http://ez2learn.com/templates/themza_j15_11/css/green.css ::::: */

a:link, a:visited { color: rgb(35, 144, 17); text-decoration: underline; }
a:hover { color: rgb(35, 144, 17); text-decoration: none; }
#page_bg { background: url('bg_page.png') repeat-x scroll center top rgb(255, 255, 255); }
.search { background: url('search_ico.png') no-repeat scroll right top transparent; }
#pillmenu li a:hover, #active_menu-nav { background: url('menu_hover.png') repeat-x scroll center top transparent; }
div.module_menu h3, div.module h3, #rightcolumn h3 { background: url('bg_h3.png') no-repeat scroll left top transparent; }
#power_by, #power_by a, #power_by a:visited { color: rgb(185, 185, 185); text-decoration: none; font-size: 11px; }
ul.menu li { list-style: none outside none; }
.dp-cpp .datatypes { color: rgb(46, 139, 87); font-weight: bold; }
