a:link { color: rgb(0, 0, 0); }
a:visited { color: rgb(0, 0, 0); }
a:hover { color: rgb(0, 0, 0); }
a:active { color: rgb(0, 0, 0); }
#abgt .curve div { background-color: rgb(102, 102, 102); }
div, ul, li { margin: 0px; padding: 0px; }
#att { position: absolute; z-index: 9020; }
#att ul { height: 18px; list-style: none outside none; width: 130px; }
#att ul li { float: left; }
#abgf { background-color: rgb(102, 102, 102); height: 18px; width: 112px; }
#abgt { height: 18px; position: relative; width: 18px; }
#abgc { opacity: 0.8; height: 18px; left: 94px; overflow: hidden; position: absolute; top: 582px; width: 130px; z-index: 9010; }
#abgi { left: 12px; overflow: hidden; position: absolute; width: 118px; z-index: 9030; }
#abgb { float: left; margin: 2px 1px; }
#abgs { margin: 1px; overflow: hidden; }
