
/* ::::: http://www.ltg.ed.ac.uk/NITE/nxt/apidoc/stylesheet.css ::::: */

body { background-color: rgb(255, 255, 255); }
h1 { font-size: 145%; }
.TableHeadingColor { background: rgb(204, 204, 255) none repeat scroll 0% 0%; }
.TableSubHeadingColor { background: rgb(238, 238, 255) none repeat scroll 0% 0%; }
.TableRowColor { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.FrameTitleFont { font-size: 100%; font-family: Helvetica,Arial,sans-serif; }
.FrameHeadingFont { font-size: 90%; font-family: Helvetica,Arial,sans-serif; }
.FrameItemFont { font-size: 90%; font-family: Helvetica,Arial,sans-serif; }
.NavBarCell1 { background-color: rgb(238, 238, 255); }
.NavBarCell1Rev { background-color: rgb(0, 0, 139); }
.NavBarFont1 { font-family: Arial,Helvetica,sans-serif; color: rgb(0, 0, 0); }
.NavBarFont1Rev { font-family: Arial,Helvetica,sans-serif; color: rgb(255, 255, 255); }
.NavBarCell2 { font-family: Arial,Helvetica,sans-serif; background-color: rgb(255, 255, 255); }
.NavBarCell3 { font-family: Arial,Helvetica,sans-serif; background-color: rgb(255, 255, 255); }
