/* ::::: http://blog.roodo.com/yml/site.css ::::: */

.satom, .srss12, .sbblog, .scopyurl, .sblog, .sfb, .smagz, .splurk, .sroodo, .srss, .stwitter, .sbrss, .scc { background: url('bsprite.v1.1.png') repeat scroll 0% 0% transparent; }
.scopyurl { background-position: 0px -91px; width: 55px; height: 18px; }
.sblog { background-position: 0px -119px; width: 45px; height: 26px; }
.sfb { background-position: 0px -155px; width: 15px; height: 15px; }
.smagz { background-position: 0px -180px; width: 62px; height: 26px; }
.splurk { background-position: 0px -216px; width: 15px; height: 15px; }
.sroodo { background-position: 0px -241px; width: 46px; height: 26px; }
.stwitter { background-position: 0px -302px; width: 15px; height: 15px; }
.dir { font-size: 13px; padding: 5px 0px; color: rgb(225, 225, 225); text-align: center; }
.tools { margin: 5px 0px; }
.adbox { padding: 15px 0px; line-height: 130%; }
.adtext { font-size: 12px; }
BODY { margin: 0px; }
#roodo_logo { float: left; }
#topnav { color: rgb(214, 214, 214); float: right; text-align: right; font-size: 12px; margin: 4px 0px 0px; padding: 0px; }
#topnav ul { list-style: none outside none; margin: 0px; padding: 0px; }
#topnav li { display: inline; padding: 0px 1px; }
#topBody { border-bottom: 1px solid rgb(220, 220, 220); font-family: Arial,Sans-serif; text-align: left; padding: 0px 2px 26px 5px; background-color: rgb(255, 255, 255); }
A.topside { font-size: 13px; font-family: arial,sans-serif; color: rgb(130, 130, 130); text-decoration: none; }
A.topside:link { color: rgb(130, 130, 130); text-decoration: none; }
A.topside:visited { color: rgb(130, 130, 130); text-decoration: none; }
A.topside:hover { color: rgb(223, 0, 36); text-decoration: underline; }
BODY { font-family: Arial,Helvetica,sans-serif; background: url('bg.gif') repeat-y scroll 50% 0pt rgb(215, 242, 255); width: 100%; color: rgb(130, 130, 130); height: 100%; text-align: center; font-size: 12px; margin: 0pt auto; }
#container { width: 740px; text-align: center; margin: 0pt auto; }
#banner { width: 734px; height: 100px; background-color: rgb(102, 204, 204); text-align: center; margin: 3px auto 0pt; }
H2 { font-size: 12px; font-style: normal; font-family: Verdana,Arial,Helvetica,sans-serif; margin: 0pt; padding: 0pt; }
.blogtitle { padding-right: 10px; font-weight: 700; font-size: 22px; padding-top: 30px; letter-spacing: 1px; text-align: right; }
.description { padding-right: 10px; font-weight: 700; font-size: 15px; color: rgb(255, 255, 255); letter-spacing: 2px; text-align: right; }
.blog { margin: 0pt 25px; }
.date { font-size: 13.5px; color: rgb(0, 102, 153); font-weight: 700; height: 20px; margin-top: 20px; text-align: left; }
.blogbody { text-align: left; margin-bottom: 10px; border-bottom: 3px solid rgb(204, 204, 204); padding: 10px; }
.title { background-image: url('c4535a66.jpg'); background-repeat: no-repeat; padding-left: 20px; font-weight: 700; font-size: 17px; color: rgb(0, 0, 0); height: 20px; padding-top: 5px; }
.main { padding-left: 10px; font-size: 16px; color: rgb(47, 47, 47); line-height: 145%; letter-spacing: 1.5px; font-family: Arial,Helvetica,sans-serif; margin: 15px 0pt; }
.posted { font-size: 13.5px; color: rgb(0, 102, 153); text-align: right; margin: 0pt 0pt 5px; }
A.aposted:active { color: rgb(0, 102, 153); }
A.aposted:hover { color: rgb(130, 130, 130); text-decoration: none; }
.trackback-url { font-size: 15px; color: rgb(0, 102, 153); background-color: rgb(255, 255, 255); line-height: 200%; margin: 0pt; padding: 10px; }
.pagetop { font-size: 12px; text-align: right; padding-bottom: 15px; margin: 5px 0pt 25px; }
img { border: 0pt none; }
A, A:link, A:visited, A.acalendar, A.acalendar:link, A.acalendar:visited, A.acontinues, A.acontinues:link, A.acontinues:visited, A.amenu, A.amenu:link, A.amenu:visited, #banner A:hover, A.aposted, A.aposted:link, A.aposted:visited { color: rgb(0, 102, 153); text-decoration: underline; }
A:hover, A.acalendar:hover { color: rgb(255, 255, 255); text-decoration: none; }
A.acontinues:hover, A.amenu:hover, A.arss:hover { color: rgb(186, 186, 186); text-decoration: none; }
#banner A, #banner A:link, A.aside:hover, A.asidebody:hover { color: rgb(255, 255, 255); text-decoration: none; }
#banner A:visited, #subbanner A:visited { text-decoration: none; }
H1, H3 { margin: 0pt; padding: 0pt; }
.fb_reset { background: none repeat scroll 0% 0% transparent; border-spacing: 0pt; border: 0pt none; color: rgb(0, 0, 0); cursor: auto; direction: ltr; font-family: "lucida grande",tahoma,verdana,arial,sans-serif; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 1; margin: 0pt; overflow: visible; padding: 0pt; text-align: left; text-decoration: none; text-indent: 0pt; text-shadow: none; text-transform: none; visibility: visible; white-space: normal; word-spacing: normal; }
.fb_iframe_widget { position: relative; display: inline-block; }
.fb_iframe_widget iframe { position: relative; vertical-align: text-bottom; }
.fb_iframe_widget span { position: relative; }
.fb_edge_widget_with_comment { position: relative; }
