/* ::::: http://dr-computer.idv.tw/nick/index/plugins/system/cdscriptegrator/libraries/highslide/css/cssloader.php?compress=1 ::::: */

.highslide-container div { font-family: Verdana,Helvetica; font-size: 10pt; }
.highslide-wrapper, .highslide-outline { background: none repeat scroll 0% 0% white; }
.highslide-loading { display: block; color: black; font-size: 9px; font-weight: bold; text-transform: uppercase; text-decoration: none; padding: 3px 3px 3px 22px; border: 1px solid white; background-color: white; background-image: url('loader.white.gif'); background-repeat: no-repeat; background-position: 3px 1px; }
/* ::::: http://dr-computer.idv.tw/nick/index/components/com_jcomments/tpl/default/style.css ::::: */

#jc a:link, #jc a:visited, #jc a:hover { outline: medium none; }
#jc h4 { color: rgb(85, 85, 85); background-color: inherit; font-weight: bolder; text-align: left; border-bottom: 1px solid rgb(210, 218, 219); padding: 0pt 0pt 2px; margin-bottom: 10px; }
#comments { margin: 0pt; padding: 0pt; width: 100%; text-align: left; text-decoration: none; text-transform: none; text-indent: 0pt; }
#comments div.comments-list { margin-left: 20px; height: 1%; clear: both; }
#comments-form, #comments-form p, #comments-form div.comments-policy, #comments-form span, #comments-form .counter { text-align: left; text-decoration: none; text-transform: none; text-indent: 0pt; }
#comments-form p, #comments-form span, #comments-form .counter { color: rgb(119, 119, 119); background-color: inherit; font: 1em Verdana,Arial,Sans-Serif; }
#comments-form p, #comments-form #comments-form-buttons, #comments-form #comments-form-error { font: 1em Verdana,Arial,Sans-Serif; margin-left: 20px ! important; margin-top: 10px; margin-bottom: 8px; padding: 0pt; clear: both; }
#comments-form img.smile { margin: 0pt 3px 3px 0pt; padding: 0pt; border: medium none; cursor: pointer; }
#comments-form img.captcha { padding: 0pt; margin: 0pt 0pt 3px; border: 1px solid rgb(204, 204, 204); }
#comments-form span.captcha { padding: 0pt 0pt 0pt 12px; color: rgb(119, 119, 119); background: url('jc_refreshg.gif') no-repeat scroll 0pt 2px transparent; cursor: pointer; }
#comments-form label { color: rgb(119, 119, 119); background-color: inherit; line-height: 1.2em; vertical-align: baseline; }
#comments-form input, #comments-form textarea { color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); padding: 0pt; border: 1px solid rgb(204, 204, 204); }
#comments-form input { width: 170px; margin-bottom: 2px; height: 1.5em; }
#comments-form input.captcha { width: 116px; margin: 3px 0pt 5px; }
#comments-form textarea { max-width: 400px ! important; width: 350px; margin: 0pt; }
#comments-form .grippie { height: 13px; display: block; overflow: hidden; color: rgb(204, 204, 204); padding: 0pt; margin: 0pt; border-right: 1px solid rgb(221, 221, 221); border-width: 0pt 1px 1px; border-style: solid; border-color: rgb(221, 221, 221); max-width: 400px ! important; width: 350px; cursor: s-resize; background: url('resize.gif') no-repeat scroll right center rgb(238, 238, 238); }
#comments-form .grippie .counter { font-size: 10px; padding: 0pt; margin: 0pt; }
#comments-form .grippie span { display: block; float: left; }
#comments-form .grippie span span { display: inline; float: none; }
#comments-form .btn { float: left; }
#comments-form .btn { background: url('jc_btnl.gif') no-repeat scroll 0% 0% transparent; margin-right: 5px; }
#comments-form .btn div { margin: 0px; float: left; background: url('jc_btnr.gif') no-repeat scroll 100% 0pt transparent; }
#comments-form .btn a { height: 22px; line-height: 22px; font-size: 12px; font-weight: bold; color: rgb(119, 119, 119); padding: 0px 5px; border: medium none; }
#comments-form .btn a:hover { text-decoration: none; color: rgb(11, 85, 196); }
#comments-form .smilespanel { display: none; cursor: pointer; padding: 2px; width: 200px; height: 50px; background-color: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); overflow: auto; left: 0px; top: 0px; }
#comments-footer, #comments-footer a { color: rgb(204, 204, 204); background-color: inherit; font: 9px Verdana,Arial,Sans-Serif; }
#comments-footer { clear: both; display: block; height: 14px; border-top: 1px solid rgb(204, 204, 204); padding-top: 1px; margin-top: 4px; text-align: right; }
#comments-footer a { text-decoration: none; text-transform: none; padding: 0pt; margin: 0pt; border: medium none; float: right; }
#jc span.bbcode { width: auto; height: 23px; clear: both; display: block; margin-bottom: 5px; }
#jc .bbcode a, #jc .bbcode a:focus, #jc .bbcode a:active, #jc .bbcode a:hover { width: 23px; height: 23px; float: left; margin: 0pt 2px 0pt 0pt; display: block; background-repeat: no-repeat; background-image: url('jc_bbcode.gif'); text-decoration: none; }
#jc a.bbcode-b { background-position: 0pt 0pt; }
#jc a.bbcode-i { background-position: -30px 0pt; }
#jc a.bbcode-u { background-position: -60px 0pt; }
#jc a.bbcode-s { background-position: -90px 0pt; }
#jc a.bbcode-url { background-position: -120px 0pt; }
#jc a.bbcode-img { background-position: -150px 0pt; }
#jc a.bbcode-list { background-position: -180px 0pt; }
#jc a.bbcode-quote { background-position: -240px 0pt; }
#jc a.bbcode-smile { background-position: -270px 0pt; }
/* ::::: http://dr-computer.idv.tw/nick/index/templates/yoo_waybeyond/css/template.css ::::: */

/* ::::: http://dr-computer.idv.tw/nick/index/templates/yoo_waybeyond/css/reset.css ::::: */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { margin: 0pt; padding: 0pt; }
fieldset, img { border: 0pt none; }
a:focus { outline: medium none; }
html { height: 100%; margin-bottom: 1px; }
p { margin: 10px 0px 15px; }
ul, ol, dl { margin: 1em 0pt; padding-left: 30px; }
td, th { padding: 1px; }
textarea, input[type="text"], input[type="password"], select { border: 1px solid rgb(200, 200, 200); background: none repeat scroll 0% 0% rgb(255, 255, 255); }
textarea:hover, input[type="text"]:hover, input[type="password"]:hover, select:hover { border-color: rgb(170, 170, 170); }
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, select:focus { border-color: rgb(140, 140, 140); outline: 2px solid rgb(220, 220, 220); }
input[type="button"], input[type="submit"], input[type="checkbox"], input[type="image"], input[type="radio"], input[type="reset"], select, button { cursor: pointer; }
input[type="hidden"] { display: none; }
textarea, input[type="text"], input[type="password"] { padding: 0.1em 0pt 0.1em 0.4em; }
form div { margin: 0.8em 0pt; }
button, input[type="button"] { padding: 0.2em 0.3em 0.2em 0.1em; line-height: 100%; }
a:link, a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; margin-bottom: 5px; line-height: 100%; }
h1 { font-size: 300%; }
h3 { font-size: 200%; }
h4 { font-size: 175%; }
/* ::::: http://dr-computer.idv.tw/nick/index/templates/yoo_waybeyond/css/layout.css ::::: */

body { font-family: Arial,Helvetica,sans-serif; font-size: 12px; line-height: 150%; color: rgb(100, 100, 100); }
body.yoopage { background: url('page_bg.png') repeat-x scroll 50% 0pt rgb(200, 205, 210); }
div.wrapper { margin: auto; }
div#absolute { position: absolute; z-index: 15; top: 0px; left: 0px; width: 100%; }
div#page-body { background: url('page_bg_img.jpg') no-repeat scroll 50% 0pt transparent; }
div#header { width: auto; height: 160px; padding: 0px; position: relative; z-index: 10; clear: both; }
div#toolbar { width: auto; height: 25px; padding: 0px 5px; clear: both; overflow: hidden; font-size: 85%; line-height: 250%; }
div#headerbar { width: auto; height: 80px; padding: 0px 5px; clear: both; overflow: hidden; }
div#menubar { width: auto; margin: 0px; padding: 0px; clear: both; background: url('menubar_l.png') no-repeat scroll 0pt 0pt transparent; }
div#menubar div.menubar-2 { padding: 0px 25px; background: url('menubar_r.png') no-repeat scroll 100% 0pt transparent; }
div#menubar div.menubar-3 { height: 55px; background: url('menubar_m.png') repeat-x scroll 0pt 0pt transparent; }
div#menu { position: absolute; top: 114px; left: 12px; z-index: 11; height: 35px; }
div#logo { position: absolute; top: 20px; left: 0px; }
div#search { position: absolute; top: 115px; right: 12px; z-index: 12; width: 134px; height: 26px; padding: 7px 0px 0px 26px; background: url('searchbox_bg.png') no-repeat scroll 0pt 0pt transparent; }
div#middle { width: auto; margin: 0px; padding: 15px 5px; clear: both; }
div#middle .background { min-height: 200px; }
div#middle .background { background: none repeat scroll 0% 0% transparent; }
div#main { width: auto; }
div#main { margin: 0px; padding: 0px; }
div#main div.main-tl { background: url('main_tl.png') no-repeat scroll 0pt 0pt transparent; }
div#main div.main-tr { padding: 0px 10px; background: url('main_tr.png') no-repeat scroll 100% 0pt transparent; }
div#main div.main-t { height: 10px; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
div#main div.main-m { padding: 5px 15px; min-height: 300px; overflow: hidden; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
div#main div.main-bl { background: url('main_bl.png') no-repeat scroll 0pt 0pt transparent; }
div#main div.main-br { padding: 0px 10px; background: url('main_br.png') no-repeat scroll 100% 0pt transparent; }
div#main div.main-b { height: 10px; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
div#maintop { padding: 0px 0px 15px; }
div#mainmiddle { margin: 0px 0px 15px; }
.showright div#mainmiddle { background: url('right_bg.png') repeat-y scroll 100% 0pt transparent; }
div#right { width: 180px; margin: 0px; padding: 0px; float: right; }
div#content { width: auto; }
div#content { margin: 0px; }
.showright div#content { margin: 0px 210px 0px 0px; }
div#mainbottom { padding: 0px; }
div#bottom { width: auto; margin: 0px; padding: 0px 5px 15px; clear: both; }
div#footer { width: auto; min-height: 50px; margin: 0px; padding: 0px 5px; clear: both; text-align: center; color: rgb(50, 50, 50); }
div#footer a:link, div#footer a:visited { color: rgb(50, 50, 50); }
div#footer a:hover { color: rgb(50, 50, 50); }
div#footer a.anchor { margin: 0px; width: 30px; height: 5px; background: url('footer_anchor.png') no-repeat scroll 0pt 0pt transparent; display: block; float: right; text-decoration: none; }
.clearfix:after { content: "."; display: block; height: 0pt; clear: both; visibility: hidden; }
.clearfix { display: block; }
.floatbox { overflow: hidden; }
.float-left { float: left; overflow: hidden; }
.width100 { width: 100%; }
/* ::::: http://dr-computer.idv.tw/nick/index/templates/yoo_waybeyond/css/typography.css ::::: */

h1, h2, h3, h4, h5, h6 { font-family: Arial,Helvetica,sans-serif; }
h1 { font-weight: normal; color: rgb(200, 0, 30); }
#page h1 a { color: rgb(200, 0, 30); text-decoration: none; }
h3 { color: rgb(80, 85, 90); }
h4 { font-weight: normal; color: rgb(200, 0, 30); }
a:link, a:visited { color: rgb(200, 0, 30); }
a:hover { color: rgb(255, 0, 0); }
/* ::::: http://dr-computer.idv.tw/nick/index/templates/yoo_waybeyond/css/menus.css ::::: */

div#menu ul { margin: 0px; padding: 0px; list-style: none outside none; float: left; }
div#menu li { position: relative; margin: 0px; padding: 0px; display: block; float: left; z-index: 5; }
div#menu li a, #menu li span.separator { height: 39px; display: block; float: left; line-height: 32px; text-decoration: none; color: rgb(255, 255, 255); }
div#menu li span { display: block; cursor: pointer; background-repeat: no-repeat; background-position: 95% 0px; }
div#menu li a.current { font-weight: bold; }
div#menu a:hover, div#menu span.separator:hover, div#menu span.sfhover {  }
div#menu a.active, div#menu span.active { color: rgb(255, 255, 255); }
div#menu ul.menu {  }
div#menu li.level1 {  }
div#menu a.level1, div#menu span.level1 { padding: 0px 25px 0px 23px; background: url('menu_level1_item.png') no-repeat scroll 100% 0pt transparent; font-size: 110%; line-height: 250%; }
div#menu li.last a.level1, div#menu li.last span.level1 { background: none repeat scroll 0% 0% transparent; }
div#menu li.active { margin: 0px -7px 0px -2px; background: url('menu_level1_item_active_l.png') no-repeat scroll 0pt 0pt transparent; }
div#menu li.first.active { margin: 0px -7px 0px 0px; background: url('menu_level1_item_active_l.png') no-repeat scroll 0pt 0pt transparent; }
div#menu li.level1 li.active { margin: 0px; background: none repeat scroll 0% 0% transparent; }
div#menu li.active a.level1 { padding: 0px 30px 0px 20px; background: url('menu_level1_item_active_r.png') no-repeat scroll 100% 0pt transparent; }
div#menu a.level1 span, div#menu span.level1 span {  }
div#menu ul.menu ul { position: absolute; top: 39px; left: -999em; width: 165px; padding: 2px 0px 3px; background: url('menu_dropdown_bg.png') no-repeat scroll 0pt 100% transparent; }
div#menu li:hover ul, div#menu li.sfhover ul { left: 0px; z-index: 100; }
div#menu li.level1 li { width: 100%; text-indent: 15px; }
div#menu li.level1 li a, div#menu li.level1 li span.separator { height: 25px; padding: 0px; margin: 0px 1px; background: none repeat scroll 0% 0% transparent; float: none; display: block; line-height: 25px; }
div#menu li.level2 a.active, div#menu li.level2 span.active {  }
div#menu li.level2 a:hover, div#menu li.level2 span.separator:hover, div#menu li.level2 span.sfhover {  }
div#menu li ul ul { margin: -42px 0pt 0pt 164px; }
div#menu li:hover ul ul, div#menu li.sfhover ul ul { border-top: 1px solid rgb(0, 0, 0); }
div#menu li:hover ul ul, div#menu li.sfhover ul ul, div#menu li:hover ul ul ul, div#menu li.sfhover ul ul ul, div#menu li:hover ul ul ul ul, div#menu li.sfhover ul ul ul ul { left: -999em; }
div#menu li li:hover ul, div#menu li li.sfhover ul, div#menu li li li:hover ul, div#menu li li li.sfhover ul, div#menu li li li li:hover ul, div#menu li li li li.sfhover ul { left: 0pt; z-index: 100; }
/* ::::: http://dr-computer.idv.tw/nick/index/templates/yoo_waybeyond/css/modules.css ::::: */

div.module h3.header { margin: 0px; padding: 0px; font-size: 120%; color: rgb(100, 100, 100); font-weight: normal; }
div.module span.header-2, div.module span.header-3 { display: block; }
#left div.module, #right div.module { margin: 0px 0px 15px; }
div.module { position: relative; }
div.mod-rounded div.box-t1 { background: url('module_rounded_tl.png') no-repeat scroll 0pt 0pt transparent; }
div.mod-rounded div.box-t2 { padding: 0px 10px; background: url('module_rounded_tr.png') no-repeat scroll 100% 0pt transparent; }
div.mod-rounded div.box-t3 { height: 9px; border-top: 1px solid rgb(220, 220, 220); background: none repeat scroll 0% 0% rgb(255, 255, 255); }
div.mod-rounded div.box-1 { padding: 0px 14px; border-left: 1px solid rgb(220, 220, 220); border-right: 1px solid rgb(220, 220, 220); background: url('module_rounded_bg.png') repeat-x scroll 0pt 0pt rgb(240, 240, 240); overflow: hidden; }
div.mod-rounded div.box-b1 { background: url('module_rounded_bl.png') no-repeat scroll 0pt 0pt transparent; }
div.mod-rounded div.box-b2 { padding: 0px 10px; background: url('module_rounded_br.png') no-repeat scroll 100% 0pt transparent; }
div.mod-rounded div.box-b3 { height: 9px; border-bottom: 1px solid rgb(220, 220, 220); background: none repeat scroll 0% 0% rgb(240, 240, 240); }
div.mod-rounded h3.header { margin: 0px 0px 5px; font-size: 150%; letter-spacing: -1px; }
div.mod-border div.box-t1 { background: url('module_border_tl.png') no-repeat scroll 0pt 0pt transparent; }
div.mod-border div.box-t2 { padding: 0px 10px; background: url('module_border_tr.png') no-repeat scroll 100% 0pt transparent; }
div.mod-border div.box-t3 { height: 9px; border-top: 1px solid rgb(220, 220, 220); background: none repeat scroll 0% 0% rgb(255, 255, 255); }
div.mod-border div.box-1 { padding: 0px 14px; border-left: 1px solid rgb(220, 220, 220); border-right: 1px solid rgb(220, 220, 220); background: none repeat scroll 0% 0% rgb(255, 255, 255); overflow: hidden; }
div.mod-border div.box-b1 { background: url('module_border_bl.png') no-repeat scroll 0pt 0pt transparent; }
div.mod-border div.box-b2 { padding: 0px 10px; background: url('module_border_br.png') no-repeat scroll 100% 0pt transparent; }
div.mod-border div.box-b3 { height: 9px; border-bottom: 1px solid rgb(220, 220, 220); background: none repeat scroll 0% 0% rgb(255, 255, 255); }
div.mod-dotted div.module { padding: 0px 0px 15px; }
div.mod-dotted div.box-1 { overflow: hidden; }
div.mod-dotted h3.header { margin: 0px 0px 3px; padding: 0px 0px 6px; background: url('module_dotted_header.png') repeat-x scroll 0pt 100% transparent; font-size: 150%; letter-spacing: -1px; }
div.mod-dotted h3.header span.color { color: rgb(20, 20, 20); }
/* ::::: http://dr-computer.idv.tw/nick/index/templates/yoo_waybeyond/css/joomla.css ::::: */

div.joomla h1 { letter-spacing: -2px; }
div.joomla div.headline { overflow: hidden; }
div.joomla h1.title { float: left; }
div.joomla span.icon { display: block; margin-top: 10px; float: right; }
div.joomla span.pdf { margin-right: 5px; }
div.joomla span.print { margin-right: 5px; }
div.joomla span.email {  }
div.joomla p.articleinfo {  }
div.joomla p.articleinfo span.modified, div.joomla p.articleinfo span.author, div.joomla p.articleinfo span.created, div.joomla p.articleinfo span.url { display: block; font-size: 95%; }
div.joomla p.articleinfo span.author { color: rgb(150, 150, 150); font-style: italic; }
div.module-search { width: 120px; height: 18px; padding: 0px; margin: 0px; background: url('search_bg.png') no-repeat scroll 0pt 0pt transparent; }
div.module-search input { width: 93px; height: 14px; padding: 2px 2px 2px 7px; border: medium none; outline: medium none; background: none repeat scroll 0% 0% transparent; float: left; color: rgb(100, 100, 100); font-size: 80%; }
div.module-search input:focus { outline: medium none; }
div.module-search button { width: 18px; height: 18px; padding: 0px; border: medium none; background: url('search_button.png') no-repeat scroll 0pt 0pt transparent; cursor: pointer; text-indent: 100px; line-height: 0px; }
div.module-search:hover { background: url('search_bg.png') no-repeat scroll 0pt -18px transparent; }
div.module-search:hover input { color: rgb(0, 0, 0); }
div.module-search input:focus { color: rgb(0, 0, 0); }
/* ::::: http://dr-computer.idv.tw/nick/index/templates/yoo_waybeyond/css/extensions.css ::::: */

/* ::::: http://dr-computer.idv.tw/nick/index/templates/yoo_waybeyond/css/stripes/stripes-layout.css ::::: */

body.yoopage { background: url('page_bg_001.png') repeat scroll 50% 0pt rgb(190, 195, 200); }
div#page-body { background: url('page_bg_t.png') repeat-x scroll 50% 0pt transparent; }
div.wrapper { width: 1000px; }
/* ::::: http://dr-computer.idv.tw/nick/index/plugins/content/calendar_stamp/classic_red_light.css ::::: */

.article-content, .pageinfo, .articleinfo { clear: both; }
td.stamp { width: 40px; }
div.datetime { height: 40px; float: left; background: url('classic_red_light.png') no-repeat scroll 0% 0% transparent; margin: 5px 5px 5px 0pt; position: relative; }
div.datetime, div.datetime div { width: 36px; line-height: 100%; }
div.month { position: absolute; top: 4px; font-size: 8px; font-family: "Trebuchet MS",Arial,Helvetica,sans-serif; text-transform: uppercase; color: rgb(255, 255, 255); text-indent: 3px; }
div.day { position: absolute; top: 15px; font-size: 14px; font-family: "Trebuchet MS",Arial,Helvetica,sans-serif; text-align: center ! important; }
div.year { position: absolute; bottom: 3px; font-size: 7px; color: rgb(174, 0, 5); text-align: center ! important; }
