/* ::::: http://l.yimg.com/e/serv/blog/css/top.css ::::: */

.cmt_floor_hide { color: blue; margin-bottom: 0.5em; display: none; }
.cmt_floor { float: right; }
/* ::::: http://f6.wretch.yimg.com/barnabas/files/blog.css?1231588577 ::::: */

#pageheader { background-image: url('pageheader.jpg'); }
#links2 { padding-top: 140px; }
body { margin: 0px; background: rgb(238, 238, 238) url('body.gif') repeat-y scroll 50% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; font-family: Arial; font-style: normal; font-variant: normal; font-weight: normal; font-size: 0.8em; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; color: rgb(85, 85, 85); }
a { color: rgb(86, 120, 160); }
a:hover { color: rgb(136, 136, 136); text-decoration: none; }
#container1 { margin: 0px auto; width: 770px; }
#container2 { position: relative; }
#banner { border-top: 1px solid rgb(255, 255, 255); background: transparent url('banner.jpg') no-repeat scroll left top; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; height: 320px; }
#pageheader { background-repeat: no-repeat; background-position: 0px 0px; height: 250px; width: 770px; margin-top: 50px; }
#description2 { position: absolute; top: 350px; left: 650px; height: 120px; width: 100px; z-index: 12; }
#banner h1 { margin-top: 0px; padding-left: 36px; padding-top: 7px; font-family: simhei; font-size: 30px; position: absolute; top: 0px; left: 0px; }
#banner h1 a { font-weight: normal; font-family: Arial; text-decoration: none; color: rgb(69, 104, 169); letter-spacing: -3px; font-variant: small-caps; }
#banner h1 a:hover { color: rgb(18, 52, 86); }
#content { padding-left: 5px; }
.date { background: transparent url('date.gif') no-repeat scroll left top; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; font-size: 20px; letter-spacing: -2px; padding-top: 10px; height: 25px; text-align: right; padding-right: 250px; }
.datediv {  }
.blogbody { border-bottom: 1px solid rgb(255, 255, 255); background: transparent url('blogbody.gif') repeat-y scroll left top; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; margin-bottom: 20px; }
.blogbody2 { background: transparent url('blogbody2.gif') no-repeat scroll left bottom; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; padding-right: 250px; padding-left: 20px; padding-bottom: 20px; }
.blogbody .title { border-top: 1px solid rgb(170, 170, 170); margin: 0px; padding-top: 3px; }
.innertext img { max-width: 505px; }
.extended { text-align: right; }
.posted { text-align: right; }
.total-comments-div { border-top: 1px solid rgb(119, 119, 119); margin-top: 10px; padding-top: 10px; width: 350px; margin-left: 145px; }
.comments-head { background: transparent url('comments-head.gif') no-repeat scroll 0px 0px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; padding-top: 2px; height: 14px; padding-left: 24px; font-weight: bold; margin-top: 10px; }
.comments-body { margin-left: 24px; }
.comments-body .comments-post { border-bottom: 1px solid rgb(170, 170, 170); font-size: 10px; text-align: right; }
#text { width: 300px; }
#links { border: 0px solid red; background: rgb(204, 204, 204) none repeat scroll 0% 0%; position: absolute; top: 320px; left: 550px; width: 200px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#links a { color: rgb(119, 119, 119); text-decoration: none; }
#links a:hover { color: rgb(0, 0, 0); }
#links br { display: none; }
#links .side br { display: block; }
.sidetitle { background: transparent url('sidetitle.gif') no-repeat scroll 4px 0px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; height: 14px; font-weight: bold; padding-left: 24px; padding-top: 2px; }
.side { padding: 10px 5px 20px 10px; }
.calendar { font-size: 0.9em; }
#links #boxNewComment .side br { display: none; }
#boxNewComment .side { text-align: right; font-size: 11px; }
#links #boxNewComment .side a { background: rgb(217, 217, 217) none repeat scroll 0% 0%; font-size: 13px; display: block; text-align: left; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#links #boxNewComment .side a:hover { background: rgb(238, 238, 238) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#links #boxNewTrackback .side br { display: none; }
#links #boxNewTrackback .side { font-size: 10px; text-align: right; }
#links #boxNewTrackback .side a { background: rgb(217, 217, 217) none repeat scroll 0% 0%; font-size: 13px; display: block; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; text-align: left; }
#links #boxNewTrackback .side a:hover { background: rgb(238, 238, 238) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#links #boxNewTrackback .side span a { background: transparent none repeat scroll 0% 0%; font-size: 10px; display: inline; color: rgb(102, 102, 102); -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#links #boxNewTrackback .side span a:hover { background: transparent none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#boxFolder .side a { border-left: 2px solid rgb(204, 204, 204); padding-left: 3px; }
#boxFolder .side a:hover { border-left-color: rgb(136, 136, 136); }
#links .syndicate { text-align: center; }
/* ::::: http://l.yimg.com/e/serv/blog/css/font.css ::::: */

input { display: inline ! important; }
.boxNewTrackback1 { word-wrap: break-word; }
#boxMySpace ul { margin: 0px; padding: 0px; list-style-type: none; list-style-image: none; list-style-position: outside; }
#boxWho div#whowrapper * { margin: 0pt; padding: 0pt; }
#boxWho div#whowrapper img { border: 0px none ; height: 50px; width: 50px; }
#boxWho div#whowrapper { overflow: hidden; margin-bottom: 1em; width: 166px; }
#boxWho div#whowrapper li { overflow: hidden; height: 50px; width: 50px; display: inline; float: left; margin-top: 4px; margin-left: 4px; }
ul { margin: 0pt; padding: 0pt; list-style-type: none; }
.comments-body ul li {  }
.comments-body ul .comments-post {  }
.total-comments-div img { border: 0pt none ; }
.comments-body ul li p { margin-top: 0pt; margin-bottom: 0pt; }
.comments-body { border-bottom: 1px dashed rgb(102, 102, 102); padding: 6px; margin-bottom: 12px; }
.trackbacks-post, .comments-post { display: block; clear: both; padding-top: 3px; }
.comments-body {  }
.comments-body a * { vertical-align: middle; }
#content #push { border: 1px solid rgb(153, 153, 153); background: transparent url('border.png') no-repeat scroll 0pt 0pt; float: right; text-align: center; width: 81px; height: 59px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; margin-bottom: 3px; margin-left: 3px; line-height: 18px; font-size: 12px; font-family: georgia; color: rgb(75, 75, 75); }
#content #push span { display: block; font-weight: bold; font-size: 16px; }
html #push a { border: 1px solid rgb(170, 170, 170); margin: 0pt 0pt 0pt 1px; padding: 0pt 0pt 0pt 12px; display: block; width: 24px; height: 19px; float: left; text-decoration: none; color: rgb(119, 119, 119); font-size: 13px; }
html #push a.push:hover { border-color: rgb(26, 132, 183); color: rgb(0, 153, 204); }
html #push a.pull:hover { border-color: rgb(226, 102, 158); color: rgb(255, 0, 153); }
html #push a.push { background: transparent url('push.gif') no-repeat scroll center center; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
html > body #push a.push { margin: 0pt 0pt 0pt 2px; }
html #push a.pull { background: transparent url('pull.gif') no-repeat scroll center center; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.clearfix:after { content: "."; display: block; height: 0pt; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
.clearfix { display: block; }
#bigcontainer #container1 .extended span { padding-left: 15px; }
#bigcontainer #container1 .extended span a { display: inline; }
/* ::::: http://l.yimg.com/e/serv/blog/css/friend_picker.css ::::: */

#collection_comments { border: 5px solid rgb(223, 232, 246); padding: 1em; position: absolute; top: 0pt; background-color: rgb(255, 255, 255); z-index: 500; color: rgb(68, 68, 68); }
#collection_comments .icon { position: absolute; top: 5px; right: 5px; cursor: pointer; }
#friend-picker { border: 1px solid rgb(223, 232, 246); background: rgb(255, 255, 255) none repeat scroll 0% 0%; font-size: 11px; font-family: arial,sans-serif; color: rgb(102, 102, 102); width: 405px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; position: absolute; top: 0pt; z-index: 100; visibility: hidden; }
#friend-picker-container { border: 5px solid rgb(223, 232, 246); }
#friend-picker a { color: rgb(26, 132, 183); text-decoration: none; }
#friend-picker img { border: medium none ; }
#friend-picker-bd { padding-left: 7px; }
#friend-picker-bd:after, #friend-picker-pagination:after { content: "."; display: block; height: 0pt; clear: both; visibility: hidden; }
#friend-picker #friend-picker-pagination { margin: 7px 0pt 7px -9px; text-align: center; clear: both; font-size: 13px; }
#friend-picker #friend-picker-closebtn { text-decoration: none; cursor: pointer; position: absolute; top: 5px; right: 5px; }
#loading { position: absolute; top: 4px; right: 25px; display: none; }
#friend-picker #friend-picker-hd { background-color: rgb(248, 251, 252); height: 18px; }
#friend-picker #friend-picker-hd { text-indent: 7px; }
#Wretch-haha, #Wretch-haha-spacer, #Wretch-haha table, #Wretch-haha table tbody, #Wretch-haha table tbody tr, #Wretch-haha table tbody tr td, #Wretch-haha table tbody tr td a, #Wretch-haha table tbody tr td div, #Wretch-haha table tbody tr td div span, #Wretch-haha table tbody tr td div span a, #Wretch-haha table tbody tr td input { margin: 0pt; padding: 0pt; visibility: visible ! important; opacity: 1 ! important; clip: inherit ! important; line-height: 20px ! important; font-size: 12px ! important; width: auto ! important; text-align: left ! important; }
#Wretch-haha-spacer { height: 20px; }
#Wretch-haha { background: rgb(238, 237, 221) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; height: 20px; position: absolute; top: 0pt ! important; right: 0pt ! important; z-index: 50000; padding-right: 5px; font-family: arial; font-size: 12px; width: 200% ! important; }
#Wretch-haha table { background: rgb(238, 237, 221) none repeat scroll 0% 0% ! important; display: table ! important; -moz-background-clip: border ! important; -moz-background-origin: padding ! important; -moz-background-inline-policy: continuous ! important; }
#Wretch-haha table tbody { display: table-row-group; }
#Wretch-haha table tbody tr { display: table-row ! important; }
#Wretch-haha table tbody tr td { display: table-cell ! important; }
#Wretch-haha-spacer, #Wretch-haha table tbody tr td div, #Wretch-haha table tbody tr td div span a { display: block ! important; }
#Wretch-haha table tbody tr td a, #Wretch-haha table tbody tr td span a, #Wretch-haha table tbody tr td input { display: inline; }
#Wretch-haha table tr td div { color: rgb(204, 204, 204); }
#Wretch-haha a { background: transparent none repeat scroll 0% 0%; text-decoration: none; color: rgb(0, 0, 0); -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; cursor: pointer; font-weight: normal; }
#Wretch-haha a:hover { text-decoration: underline; }
#Wretch-haha table { height: 20px; }
#Wretch-haha td { color: rgb(204, 204, 204); }
#Wretch-haha input { border: medium none ; height: 16px; }
#Wretch-haha .Wretch-haha-text { padding: 0pt 5px 0pt 2px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 100px ! important; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; color: rgb(102, 102, 102); font-size: 11px; }
#Wretch-haha .Wretch-haha-submit { background: transparent url('zoom.gif') no-repeat scroll 0% 0%; width: 16px ! important; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; cursor: pointer; }
#Wretch-haha-menubar { position: relative; z-index: 50001; }
#Wretch-haha-menubar span { border: 1px solid rgb(204, 204, 204); position: absolute; top: 16px; left: 2px; width: 93px; background-color: rgb(238, 237, 221); display: none; }
#Wretch-haha table #Wretch-haha-menubar a { margin: 0pt 5px; white-space: nowrap; }
