/* ::::: http://s.pixfs.net/f.pixnet.net/css/lang-css.css?v=86b1866a81e4490f5178e77f4247d836 ::::: */

#lang-list { border: 1px solid rgb(170, 170, 170); margin: 0pt ! important; background: rgb(255, 255, 255) none repeat scroll 0% 0%; overflow: hidden; font-size: 12px; font-family: arial; width: 60px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#lang-list li { margin: 0pt; }
#lang-list li a { padding: 2px 5px; display: block; width: 60px; color: rgb(102, 102, 102); text-decoration: none; }
#lang-list li a:hover { background: rgb(238, 238, 238) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#lang-list li a.current { background: rgb(238, 238, 238) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#tipLang { border: 1px solid rgb(51, 51, 51); padding: 6px; position: fixed; z-index: 10000; background-color: rgb(238, 238, 238); font-size: 11px; line-height: 1.3; }
/* ::::: http://static.adm.pixnet.net/userdata/styles/blog/css/choc/1769466.css?v=e3f4b111c7f838070702abcfc1804ce9 ::::: */

.box-text ul li a:hover { background-color: rgb(210, 235, 255); }
#visitor .box-text ul li a:hover { background-color: transparent; }
#link-album { display: none; }
img[alt="Baidu"] { display: none; }
pre, .pre { border: 1px dashed rgb(47, 111, 171); margin: 0pt; padding: 1em; background-color: rgb(249, 249, 249); color: rgb(204, 0, 51); line-height: 1.4em; font-family: verdana,helvetica,sans-serif; }
pre.dos { border: 0pt none ; background-color: rgb(0, 0, 0); color: rgb(192, 192, 192); font-weight: bold; }
.newsad { margin: 10px 0pt 20px; }
.text, .button { border: 1px solid rgb(144, 166, 160); margin: 5px; padding: 2px; background: rgb(244, 231, 234) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; vertical-align: middle; font-size: 12px; font-family: verdana,helvetica,sans-serif; }
.text { padding: 3px; }
.button { padding-left: 3px; }
.google-img { vertical-align: middle; }
#login-bar, #bottom { display: none; }
#banner { background: transparent url('220x190.jpg') no-repeat scroll left top; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
body { background: rgb(255, 253, 228) none repeat scroll 0% 0%; font-size: 0.8em; font-family: "Verdana"; color: rgb(85, 85, 85); -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; line-height: 140%; }
a { text-decoration: none; color: rgb(166, 125, 36); }
a:hover { color: rgb(0, 0, 0) ! important; }
#container { background: transparent url('493666e59d704.jpg') repeat-x scroll left top; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#container2 { margin: 0pt auto; width: 995px; position: relative; }
#header { height: 120px; margin-bottom: 10px; }
#banner { margin: 0px 0px 0px 10px; position: absolute; top: 11px; left: 5px; width: 220px; height: 190px; z-index: 50000; }
#header a { color: rgb(255, 255, 255); }
#header h1 a { font-size: 2em; font-family: "Simhei"; color: rgb(193, 105, 40); font-weight: normal; position: absolute; top: 31px; left: 255px; display: block; width: 390px; letter-spacing: -1px; }
#header h2 { position: absolute; top: 59px; left: 257px; display: block; width: 390px; color: rgb(116, 74, 0); line-height: 160%; }
#login-bar { color: rgb(154, 141, 94); position: absolute; top: 12px; left: 270px; font-size: 0.9em; }
#login-bar a { color: rgb(154, 141, 94); }
#header .skiplink { display: none; }
#header .skiplink a { color: rgb(153, 153, 153); }
#blog-category { display: none; }
#navigation { position: absolute; top: -5px; right: 0px; }
#navigation li { padding-top: 5px; width: 56px; text-align: center; float: left; margin-right: 3px; }
#navigation li#link-blog { width: 74px; }
#navigation li a { padding: 8px 0px; background: rgb(184, 169, 97) none repeat scroll 0% 0%; color: rgb(255, 255, 255); font-size: 1.4em; font-family: "Simhei"; display: block; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#spotlight { border: 1px solid rgb(255, 253, 228); margin: 0px; padding: 4px 0px 0px; background: rgb(255, 253, 228) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; line-height: 160%; }
#spotlight h5 { color: rgb(193, 168, 51); letter-spacing: 1px; font-size: 1.4em; font-family: "Simhei"; }
#spotlight-text {  }
#content { overflow: hidden; width: 730px; float: right; }
#content a {  }
.article { margin-bottom: 40px; }
.article-head { padding: 0px 10px 10px; background: transparent url('730x36.jpg') no-repeat scroll 0px 17px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.publish { font-size: 0.8em; color: rgb(146, 174, 77); margin-bottom: 8px; text-align: right; }
.title {  }
#content .title a { font-size: 1.4em; font-family: "Simhei"; color: rgb(255, 255, 255); }
.article-body { margin: 0px 5px; }
.article-content { line-height: 180%; }
.article-content a:hover { text-decoration: underline; }
.author {  }
.article-footer { margin: 0px 10px 0px 30px; }
.article-footer a {  }
.bookmark, .more, .author, .back-to-top, .fans-club, .forward { margin: 4px 0px; text-align: right; }
.refer { width: 240px; float: left; }
.refer li { margin: 2px 0px; }
.history { width: 240px; float: right; }
.history li { margin: 2px 0px; }
.back-to-top { clear: both; }
#links { background: rgb(221, 221, 221) url('493666e6049d4.jpg') no-repeat scroll 0px 0px; overflow: hidden; width: 250px; float: left; color: rgb(119, 119, 119); -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; padding-top: 230px; margin-top: -130px; z-index: 5000; }
.box { margin: 0px 0px 15px; overflow: hidden; }
.box-title { border-top: 2px solid rgb(255, 255, 255); border-bottom: 2px solid rgb(255, 255, 255); padding: 5px 15px 7px; background: rgb(208, 192, 153) none repeat scroll 0% 0%; color: rgb(132, 99, 0); font-weight: bold; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.box-text { padding: 5px 15px 0px; }
.box-text a { padding: 3px 0px; display: block; color: rgb(51, 51, 51); }
.box-more { text-align: right; }
.box-more a { display: inline; }
#visitor li img, #crumb li img { width: 44px; height: 44px; }
#headshot .box-text { overflow: hidden; }
#headshot-img { width: 120px; text-align: center; float: left; }
#headshot-img img { border: 3px solid rgb(255, 255, 255); }
#archive .box-more { margin-top: 3px; }
#recent-article li, #broadcast ul, .inner-box, #latest-comment li, #latest-trackback li, #subscription li { border-bottom: 1px dashed rgb(136, 136, 136); padding: 4px 0px; }
.inner-box { padding-bottom: 5px; margin-bottom: 5px; }
.folder .box-text a { display: inline; }
#powered .box-title { letter-spacing: -1px; }
#powered .box-text { text-align: center; }
.user-post-box { margin: 15px 50px; }
.user-post-title { padding: 6px 20px; background: rgb(171, 201, 101) none repeat scroll 0% 0%; font-size: 1.6em; color: rgb(255, 255, 255); font-family: "Simhei"; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; margin-bottom: 5px; }
.user-post-title img {  }
.user-post-text {  }
#trackback-url { text-align: right; }
.post-photo img { border: 3px solid rgb(255, 255, 255); }
.single-post { border-bottom: 1px dashed rgb(170, 170, 170); padding: 15px 0px; }
.post-comment { padding: 5px 0px; text-align: center; }
.post-comment a { padding: 5px 7px; background: rgb(127, 169, 28) none repeat scroll 0% 0%; color: rgb(255, 255, 255) ! important; font-size: 1.2em; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.post-comment a:focus { outline-color: -moz-use-text-color; outline-style: none; outline-width: medium; }
.post-comment a:hover { color: rgb(255, 120, 0); }
.post-info { margin-bottom: 5px; color: rgb(136, 136, 136); font-size: 0.9em; }
.post-info a { color: rgb(136, 136, 136); }
#comment-box .post-info { width: 385px; float: right; }
#comment-box .post-text { margin-bottom: 10px; width: 410px; line-height: 140%; float: right; }
.reply-text { padding: 7px; background: rgb(240, 232, 182) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; width: 395px; color: rgb(159, 108, 0); float: right; line-height: 140%; }
.reply-text p { text-align: right; font-size: 0.9em; }
#footer { padding: 30px 50px 20px; clear: both; line-height: 140%; text-align: center; }
#footer p { margin-bottom: 7px; }
input, select { font-family: "Verdana"; }
#crumb ul, #visitor ul { overflow: hidden; }
#crumb li, #visitor li { float: left; }
.single-post { overflow: hidden; }
.post-photo { width: 120px; float: left; text-align: center; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, input, textarea, p, blockquote, th, td { margin: 0pt; padding: 0pt; }
table { border-collapse: collapse; border-spacing: 0pt; }
fieldset, img { border: 0pt none ; }
address, caption, cite, code, dfn, em, th, var { font-style: normal; font-weight: normal; }
ol, ul { list-style-type: none; list-style-image: none; list-style-position: outside; }
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
.article-content { overflow: hidden; }
#comment-form { margin: 0px 10px; padding: 7px 10px; background: rgb(238, 238, 238) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; color: rgb(119, 119, 119); }
#comment-form table { margin: 0pt auto; width: 98%; }
#comment-form h4 { font-weight: bold; text-align: left; }
#comment-form p { text-align: right; }
#comment-form th { text-align: right; padding-right: 20px; width: 6em; }
#comment-form td { padding: 2px 5px; }
#comment-form input { border-style: none none solid; border-color: -moz-use-text-color -moz-use-text-color rgb(204, 204, 204); border-width: 0px 0px 1px; padding: 2px; background: rgb(238, 238, 238) none repeat scroll 0% 0%; width: 90%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; color: rgb(0, 0, 0); font-family: "Verdana"; font-size: 1em; }
#comment-form input.radio { border: 0px none ; width: auto; }
#comment-form input#send-comment { border: 1px solid rgb(204, 204, 204); background: rgb(255, 255, 255) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; width: 5em; }
#comment-form textarea { border: 1px solid rgb(204, 204, 204); padding: 5px; background: rgb(221, 221, 221) none repeat scroll 0% 0%; width: 90%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; height: 5em; color: rgb(0, 0, 0); font-family: "Verdana"; font-size: 1em; }
#content, .article-content { overflow: visible; }
ol { margin-left: 4em; list-style-type: square; list-style-image: url('bullet.gif'); }
