body { margin: 0px; padding: 0px; }
.linkBack { display: block; position: absolute; width: 100px; top: 20px; height: 14px; }
.postLink { background: transparent url('push-100x34.gif') no-repeat scroll 0pt -100px; display: block; position: absolute; width: 100px; height: 20px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.push { background: transparent url('push-100x34.gif') no-repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; width: 100px; height: 34px; }
