
/* ::::: http://www.osxcn.com/wp-content/themes/shining/style.css ::::: */

* { margin: 0pt; padding: 0pt; }
hr { display: none; }
img { border: medium none ; }
ul, li { list-style-type: none; list-style-image: none; list-style-position: outside; }
blockquote { padding: 0pt 0pt 0pt 25px; background: transparent url('quote.png') no-repeat scroll 0% 0%; color: rgb(136, 136, 136); }
code { color: rgb(136, 136, 136); font-family: Verdana,sans-serif; }
code.small { font-size: 9px; }
strong { font-weight: 700; }
body { margin: 0pt; padding: 0pt; background: rgb(193, 193, 193) url('bg.png') repeat-y scroll center center; font-family: "Lucida Grande",Arial,Verdana,sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 60.5%; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; color: rgb(51, 51, 51); text-align: center; }
fieldset { border: medium none ; margin: 0pt; padding: 0pt; }
fieldset input { padding: 3px; }
#page { margin: 0pt auto; background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 881px; text-align: left; }
#header { background: rgb(255, 255, 255) url('nav.gif') repeat-x scroll 0% 0%; height: 100px; }
#menu { background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 130px; float: left; }
#content { padding: 0pt 15px 0pt 25px ! important; background: rgb(255, 255, 255) none repeat scroll 0% 0%; overflow: hidden; width: 500px; float: left; }
#sidebar { border: 1px solid rgb(241, 241, 241); padding: 10px 13px 20px; background: rgb(248, 248, 248) none repeat scroll 0% 0%; overflow: hidden; float: left; width: 172px; }
.navigation { margin-bottom: 25px; }
#footer { margin: 0pt auto; background: rgb(1, 1, 1) url('powered_by_wordpress.png') no-repeat scroll 35px 18px; clear: both; height: 53px; width: 881px; }
#header h1 { display: none; }
#header h2 { display: none; }
#header p#logo { margin: 25px 38px 20px 29px ! important; height: 41px; float: left; width: 145px; }
#header p#logo img { background: transparent url('logo.gif') no-repeat scroll 0% 0%; }
#header form { background: transparent none repeat scroll 0% 0%; float: left; margin-top: 32px; }
#header .text { border: medium none ; margin: 2px 0pt 0pt 10px; padding: 4px 5px 0pt; background: rgb(231, 245, 255) none repeat scroll 0% 0%; width: 288px; height: 19px; font-family: "Lucida Grande",Arial,Verdana,sans-serif; font-size: 12px; color: rgb(51, 51, 51); }
#header .submit { display: none; }
#header .submit:hover { background-position: 0pt -13px; }
#header p.random { margin: 39px 0pt 0pt; float: left; }
#header p.random a { border-bottom: 1px dotted rgb(217, 241, 255); padding: 0pt 0pt 1px; font-size: 12px; color: rgb(255, 255, 255); font-weight: 700; text-decoration: none; line-height: 20px; }
#header p.random a:hover { border-bottom: 1px solid rgb(0, 204, 255); background-color: rgb(0, 166, 231); }
.post { margin: 0pt 0pt 30px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; font-family: Verdana,sans-serif; }
.post h1, .search h1 { margin: 5px 0pt; padding: 0pt 0pt 15px; background: transparent url('posttitle.png') no-repeat scroll 0pt 35px; font-family: "Lucida Grande","Trebuchet MS",Arial,Verdana,sans-serif; letter-spacing: -1px; }
.post h1 a, .search h1 a { color: rgb(34, 34, 34); font-size: 22px; text-decoration: none; font-weight: 400; }
.post h1 a:hover, .search h1 a:hover { color: rgb(88, 187, 235); text-decoration: underline; }
h2.pagetitle { margin: 0pt 0pt 10px; color: rgb(204, 204, 204); }
h2.pagetitle a { color: rgb(204, 204, 204); text-decoration: none; }
h2.pagetitle a:hover { color: rgb(204, 204, 204); }
.post h3 { padding: 0pt 0pt 0pt 2px; font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif; font-weight: 400; color: rgb(111, 111, 111); font-size: 1.8em; letter-spacing: -1px; }
.post small { padding: 1px 0pt 10px; font-family: "Lucida Grande",Arial,Verdana,sans-serif; font-size: 1.1em; color: rgb(102, 102, 102); }
.post small a { color: rgb(51, 51, 51); text-decoration: none; }
.post small a:hover { text-decoration: underline; }
.post abbr { color: rgb(51, 51, 51); cursor: help; }
.post small.comment { padding: 0pt 0pt 2px 20px; background: transparent url('comment.gif') no-repeat scroll 0pt -1px; }
.post .entry { margin: 20px 0pt 8px; font-size: 12px; color: rgb(34, 34, 34); line-height: 21px; }
.post .entry a { border-bottom: 1px dotted rgb(0, 153, 204); color: rgb(0, 119, 204); text-decoration: none; }
.post .entry a:hover { border-bottom: 1px solid rgb(51, 51, 51); color: rgb(0, 0, 0); }
.post .entry a:visited:hover { border-bottom: 1px solid rgb(51, 51, 51); background: rgb(255, 239, 220) none repeat scroll 0% 0%; color: rgb(187, 68, 17); }
.post .entry img { margin: 10px 0pt; }
.post .entry p { margin: 15px 0pt; }
.post .entry p.google { margin: 5px 0pt 0pt; }
.post .tags, .list .tags { color: rgb(51, 51, 51); font-weight: 700; font-style: italic; font-size: 12px; margin-top: 8px; }
.post .tags a, .list .tags a { color: rgb(51, 51, 51); font-size: 11px; font-weight: 400; text-decoration: none; }
.post .tags a:hover, .list .tags a:hover { background: rgb(242, 249, 255) none repeat scroll 0% 0%; text-decoration: underline; }
.post ul li { background: transparent url('li.png') no-repeat scroll 2px 6px; text-indent: 2em; clear: both; }
.post p.left img, .post p.right img { margin: 5px 0pt; vertical-align: middle; padding-right: 5px; }
.post p.left { float: left; }
.post p.right { float: right; padding-right: 30px; }
.post .addons { padding: 10px 0pt 0pt; font-weight: 700; }
#menu ul { padding: 6px 0pt; }
#menu h3 { margin: 0pt; text-align: left; font-family: "Times New Roman",Times,serif; font-size: 12px; }
#menu ul li ul li { padding: 3px 0pt 2px 20px; background: transparent url('menu_list.png') no-repeat scroll 0pt 5px; line-height: 20px; }
#menu ul li ul li a { font-size: 1.1em; text-decoration: none; color: rgb(51, 51, 51); }
#menu ul li ul li a:hover { color: rgb(0, 0, 0); text-decoration: underline; }
#sidebar ul { margin: 0pt; font-size: 12px; color: rgb(102, 102, 102); font-family: Tahoma,Arial,Verdana,sans-serif; }
#sidebar h3 { color: rgb(34, 34, 34); font-size: 12px; line-height: 38px; display: inline; }
#sidebar ul li ul li { border-bottom: 1px dotted rgb(221, 221, 221); margin: 2px 0pt; padding: 2px 0pt; }
#sidebar ul li ul li:hover { border-bottom: 1px dotted rgb(153, 153, 153); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#sidebar a { color: rgb(51, 51, 51); line-height: 18px; text-decoration: none; }
#sidebar a:hover { color: rgb(0, 0, 0); }
#sidebar .rssfeed p { margin: 6px 0pt; background: transparent url('rss.png') no-repeat scroll 0% 0%; line-height: 18px; text-indent: 22px; }
#sidebar .rssfeed img { margin: 5px 0pt; }
#sidebar .rssfeed p a { border-bottom: 1px dotted rgb(188, 79, 12); font-size: 0.9em; font-weight: 700; color: rgb(188, 79, 12); text-decoration: none; }
#sidebar .rssfeed p a:hover { border-bottom: 1px solid rgb(188, 79, 12); text-decoration: none; }
#sidebar ul.about { padding: 10px; width: 175px; background-color: rgb(217, 242, 255); font-size: 1em; margin-top: 10px; }
#sidebar ul.about h3 { margin: 2px 0pt; font-weight: 400; }
#sidebar ul.about li a { line-height: 13px; }
#sidebar .archives { font-size: 1em; color: rgb(85, 85, 85); }
#sidebar .archives a { font-size: 1.3em; }
#sidebar .gravatar img { border: 1px solid rgb(221, 221, 221); margin: 0pt 1px; padding: 1px; height: 22px; width: 22px; }
#sidebar #ads_tla { padding-top: 10px; position: relative; right: 3px; }
#sidebar #ads_tla a { font-size: 12px; text-decoration: underline; }
h3#comments, h3#respond { font-family: "Times New Roman",Times,serif; font-size: 2.5em; color: rgb(155, 189, 233); font-style: italic; font-variant: small-caps; }
h3#respond { margin: 20px 0pt 10px; }
h3#comments span, h3#respond span, h3#trackpings span { color: rgb(0, 51, 51); font-weight: 400; }
p.comments { font-size: 1em; color: rgb(0, 51, 51); font-weight: 700; }
p.comments a { color: rgb(0, 51, 51); font-style: italic; font-weight: 400; }
.commentlist li { padding: 0pt 0pt 9px; background: transparent url('commentlist_bottom.png') no-repeat scroll center bottom; }
.commentlist li .list { margin: 5px 0pt 0pt; padding: 32px 20px 20px 80px; overflow: hidden; color: rgb(6, 62, 80); background-color: rgb(238, 243, 251); background-image: url('commentlist.png'); background-repeat: no-repeat; font-size: 12px; line-height: 18px; }
.commentlist li .list a { color: rgb(0, 0, 0); }
.commentlist li img.gravatar { padding: 6px 7px 7px; position: relative; top: 80px; left: 16px; background-image: url('gravatar_bg.png'); background-repeat: no-repeat; height: 32px; width: 32px; }
.commentlist li img.wp-smiley { position: relative; top: 3px; }
.commentlist li cite { font-weight: 700; position: relative; right: 20px; font-size: 1.2em; color: rgb(120, 156, 202); }
.commentlist li cite a { color: rgb(13, 22, 49); text-decoration: none; }
.commentlist li cite a:hover { text-decoration: underline; }
.commentlist li small { position: relative; right: 10px; }
.commentlist li small a { text-decoration: none; color: rgb(94, 137, 191); font-size: 1.1em; }
.commentlist li .commentcount { font-family: Verdana,Arial,Helvetica,sans-serif; font-variant: normal; font-size: 2.5em; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; font-style: italic; font-weight: 700; color: rgb(187, 225, 240); float: right; position: relative; top: 27px; right: 10px; }
.commentlist .list p { margin: 0pt 0pt 10px; }
h3#trackpings { margin: 20px 0pt 0pt; font-family: "Times New Roman",Times,serif; font-size: 2.5em; color: rgb(155, 189, 233); font-style: italic; font-variant: small-caps; }
.trackpings li { margin: 10px 0pt 0pt; padding: 15px 20px; overflow: hidden; color: rgb(6, 62, 80); background-color: rgb(248, 248, 248); font-size: 11px; line-height: 18px; }
.trackpings li span { font-size: 10px; line-height: 23px; }
.trackpings li span a { padding: 0pt 0pt 0pt 20px; background: transparent url('menu_list.png') no-repeat scroll 0% 0%; font-size: 12px; font-weight: 700; color: rgb(51, 51, 51); text-decoration: none; }
.trackpings li span a:hover { text-decoration: underline; }
.reply { padding-bottom: 30px; }
.reply input.text { border: 1px solid rgb(204, 204, 204); background: rgb(255, 255, 255) url('reply.png') repeat-x scroll 0% 0%; width: 300px; color: rgb(102, 102, 102); }
.reply input.text:focus { border: 1px solid rgb(153, 153, 153); background: rgb(255, 255, 255) url('replyfocus.png') repeat-x scroll 0% 0%; }
.reply input, .reply textarea { margin: 3px 0pt; padding: 3px; font-family: "Lucida Grande",Arial,Verdana,sans-serif; font-size: 1.2em; }
.reply textarea:focus { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.reply small { font-size: 1em; position: relative; bottom: 5px; }
.reply textarea { border: 1px solid rgb(204, 204, 204); width: 490px; }
.reply p { font-size: 1em; color: rgb(102, 102, 102); }
.reply p a { font-weight: 700; color: rgb(0, 0, 0); }
.linktextarea { padding: 3px; overflow: hidden; font-family: "Lucida Grande",Verdana,sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; width: 490px; }
.search .list { margin: 0pt 0pt 35px; }
.search .list h3 { margin: 10px 0pt; background: transparent url('list.gif') no-repeat scroll 0pt 2px; font-size: 1.3em; text-indent: 2em; }
.search .list h3 a { color: rgb(51, 51, 51); text-decoration: none; }
.search .list h3 a:hover { text-decoration: underline; }
.search .list abbr { cursor: help; }
.search .list small a { color: rgb(102, 102, 102); font-size: 1.1em; }
.searchform { margin: 20px 0pt; }
#linkpage { margin: 0pt; padding: 0pt; clear: both; }
#linkpage h2 { margin: 5px 0pt; padding: 0pt 0pt 15px; background: transparent url('posttitle.png') no-repeat scroll 0pt 35px; font-size: 15px; font-family: "Lucida Grande","Trebuchet MS",Arial,Verdana,sans-serif; letter-spacing: -1px; }
#linkpage ul li { margin: 0pt 0pt 10px; padding: 0pt; list-style-type: none; display: block; width: 100%; float: left; }
#linkpage ul li ul li { margin: 0pt; width: 25%; float: left; list-style-type: none; list-style-image: none; list-style-position: outside; line-height: 23px; }
#linkpage ul li ul li:hover { background-color: rgb(203, 242, 255); color: rgb(0, 0, 0); }
#linkpage ul li ul li a { padding-left: 5px; color: rgb(34, 34, 34); font-size: 12px; text-decoration: none; }
#linkpage ul li ul li a:hover { color: rgb(0, 0, 0); }
#footer p { padding: 13px 0pt 0pt 195px; color: rgb(119, 119, 119); line-height: 15px; font-weight: 700; text-align: left; float: left; }
#footer p a { color: rgb(153, 153, 153); text-decoration: none; }
#footer p a:hover { text-decoration: underline; }
#footer p img { margin: 0pt 5px; position: relative; top: 4px; }
.mt { float: right; position: relative; top: 11px; right: 15px; }
.car { margin: 13px 0pt; color: rgb(102, 102, 102); }
.car ul { margin: 5px 0pt; }
.car ul li { background: transparent url('li.png') no-repeat scroll 23px 6px; text-indent: 3.5em; line-height: 1.8em; clear: both; font-size: 12px; }
.car .car_switcher { margin: 20px 0pt; }
.car .monthtitle { margin: 3px 0pt; padding: 0pt 22px; background: transparent url('folder.gif') no-repeat scroll 0pt -2px; font-size: 1.2em; }
.car a { border-bottom: 1px dotted rgb(106, 218, 255); color: rgb(0, 153, 204); text-decoration: none; }
.car a:hover { border-bottom: 1px solid rgb(106, 218, 255); color: rgb(0, 0, 0); background-color: rgb(217, 245, 255); }
.car a:visited { border-bottom: 1px dotted rgb(255, 211, 192); color: rgb(187, 68, 17); }
.car a:visited:hover { border-bottom: 1px solid rgb(255, 211, 192); background: rgb(255, 238, 230) none repeat scroll 0% 0%; color: rgb(0, 0, 0); }
#tags { padding: 0pt 0pt 20px; line-height: 1.8em; }
#tags a { text-decoration: none; }
.notfound ul { margin: 10px 0pt; }
.notfound li { text-indent: 2em; background-image: url('exclamation.png'); background-repeat: no-repeat; background-position: 2px 6px; font-size: 1.2em; line-height: 2.2em; }
.sidebarad { margin: 0pt; overflow: hidden; width: 180px; position: relative; right: 5px; }
.aka_half h3 { padding: 10px 0pt; font-weight: 700; color: rgb(111, 111, 111); font-size: 1.2em; letter-spacing: -1px; }
#fanfou { border: 1px solid rgb(238, 238, 238); padding: 6px; background: rgb(248, 248, 248) none repeat scroll 0% 0%; font-size: 12px; margin-bottom: 15px; }
#fanfou span { font-size: 10px; color: rgb(153, 153, 153); }

/* ::::: null ::::: */

div.aka_half { overflow: auto; float: left; width: 49%; }
div.aka_clear { clear: both; float: none; }

/* ::::: http://www.osxcn.com/wp-content/plugins/coolcode/coolcode.css ::::: */

.hl-title { border-left: 2px solid rgb(195, 206, 217); border-bottom: 0pt none; margin: 0pt; padding: 2px 10px; overflow: auto; background-color: rgb(255, 255, 255); width: auto; text-align: left; font-size: 11px; font-weight: bold; }
.hl-surround { margin: 0pt 0pt 10px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; overflow: auto; width: auto; height: auto; text-align: left; color: rgb(136, 136, 136); line-height: 20px; }
ol.hl-main { margin: 0pt; padding: 0pt; background-color: transparent; background-image: url('hide.gif'); background-repeat: no-repeat; background-position: 5px 5px; }
div.hl-main { margin: 0pt; padding: 0pt; background-color: transparent; }
.ln-show { padding-left: 20px ! important; background-image: url('hide.gif') ! important; list-style-type: decimal ! important; list-style-image: none ! important; list-style-position: outside ! important; }
.ln-show li { list-style-type: decimal ! important; list-style-image: none ! important; list-style-position: outside ! important; }
.ln-hide { padding-left: 24px ! important; background-image: url('show.gif') ! important; list-style-type: none ! important; }
.ln-hide li { list-style-type: none ! important; }
ol.hl-main li { border-left: 1px solid rgb(195, 206, 217); margin: 0pt ! important; padding: 0pt 0pt 0pt 12px ! important; display: list-item ! important; font-size: 12px ! important; line-height: 20px ! important; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(227, 238, 249) ! important; background-color: rgb(249, 251, 252) ! important; }
li.hl-firstline { border-top: 0pt none ! important; }

/* ::::: http://www.osxcn.com/wp-content/plugins/wp-pagenavi/pagenavi-css.css ::::: */

.wp-pagenavi a, .wp-pagenavi a:link, .wp-pagenavi a:active { border: 1px solid rgb(221, 221, 221); margin: 0pt 1px; padding: 2px 6px; text-decoration: none; color: rgb(153, 153, 153); font-weight: 700; }
.wp-pagenavi a:hover { border: 1px solid rgb(153, 153, 153); color: rgb(0, 0, 0); background-color: rgb(242, 242, 242); }
.wp-pagenavi span.pages { border: 1px solid rgb(153, 153, 153); margin: 0pt 1px; padding: 2px 6px; color: rgb(0, 0, 0); background-color: rgb(242, 242, 242); font-weight: 700; }
.wp-pagenavi span.current { border: 1px solid rgb(153, 153, 153); padding: 2px 6px; color: rgb(0, 0, 0); background-color: rgb(242, 242, 242); font-weight: 700; }
.wp-pagenavi span.extend { border: 0pt none ; padding: 2px 6px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); }
