
/* ::::: http://www.fhl.net/stylesheets/main.css ::::: */

body { margin: 0pt; padding: 0pt; background: rgb(215, 215, 215) none repeat scroll 0% 0%; font-family: luxi sans,trebuchet ms,bitstream vera sans,sans-serif; font-size: 13px; color: rgb(85, 85, 85); }
table { background: white none repeat scroll 0% 0%; font-size: 100%; color: black; }
a:visited { color: rgb(153, 153, 153); text-decoration: none; }
a { color: rgb(0, 0, 153); text-decoration: none; font-weight: normal; }
a:hover { color: rgb(255, 102, 0); text-decoration: underline; background-color: rgb(255, 255, 204); }
a:active { color: rgb(153, 153, 153); }
img { border: medium none ; vertical-align: middle; }
p { margin: 0.4em 0pt 0.5em; line-height: 1.5em; border-top-color: rgb(255, 255, 255); }
p img { margin: 0pt; }
hr { border: 0pt none ; margin: 0.2em 0pt; height: 1px; color: rgb(170, 170, 170); background-color: rgb(170, 170, 170); }
h1, h2, h3, h4, h5, h6 { border-bottom: 1px solid rgb(170, 170, 170); margin: 0pt; background: transparent none repeat scroll 0% 0%; color: black; font-weight: normal; padding-top: 0.5em; padding-bottom: 0.17em; }
h1 { font-size: 188%; }
h2 { font-size: 150%; }
h3, h4, h5, h6 { border-bottom: medium none; font-weight: bold; }
h3 { font-size: 116%; }
h4 { font-size: 116%; }
h5 { font-size: 100%; background-color: rgb(250, 240, 240); }
h6 { font-size: 100%; background-color: rgb(232, 231, 227); }
ul { margin: 0.3em 0pt 0pt 1.5em; padding: 0pt; line-height: 1.5em; list-style-type: square; list-style-image: url('bullet.gif'); }
ol { margin: 0.3em 0pt 0pt 3.2em; padding: 0pt; line-height: 1.5em; list-style-image: none; }
li { margin-bottom: 0.1em; }
dt { font-weight: bold; margin-bottom: 0.1em; }
dl { margin-top: 0.2em; margin-bottom: 0.5em; }
dd { line-height: 1.5em; margin-left: 2em; margin-bottom: 0.1em; }
form { border: medium none ; margin: 0pt; }
fieldset { border: 1px solid rgb(47, 111, 171); margin: 1em 0pt; padding: 0pt 1em 1em; line-height: 1.5em; }
legend { padding: 0.5em; background: white none repeat scroll 0% 0%; font-size: 95%; }
select { vertical-align: top; }
input[type="text"], input[type="password"], textarea { border-style: solid; border-color: rgb(153, 153, 153) rgb(217, 217, 217) rgb(217, 217, 217) rgb(153, 153, 153); border-width: 2px; background: rgb(251, 250, 250) none repeat scroll 0% 0%; }
input[type="image"] { vertical-align: bottom; }
abbr, acronym, .explain { border-bottom: 1px dotted black; background: transparent none repeat scroll 0% 0%; color: black; cursor: help; }
q { font-family: Times,"Times New Roman",serif; font-style: italic; }
blockquote { font-family: Times,"Times New Roman",serif; font-style: italic; }
code { background-color: rgb(249, 249, 249); }
pre { border: 1px dashed rgb(47, 111, 171); padding: 1em; color: black; background-color: rgb(249, 249, 249); line-height: 1.1em; }
#navbar { border-top: 5px solid rgb(51, 51, 51); border-bottom: 1px solid rgb(51, 51, 51); margin: 0pt; padding: 0pt 0pt 0pt 55px; background: rgb(251, 250, 244) none repeat scroll 0% 0%; overflow: hidden; font-family: luxi sans,trebuchet ms,bitstream vera sans,sans-serif; height: 3em; font-size: 13px; min-width: 750px; }
#navbar li { padding: 0pt 23px 0pt 13px; background: transparent url('diamond-black.gif') no-repeat scroll 100% 66%; float: left; list-style-type: none; list-style-image: none; list-style-position: outside; margin-right: 5px; }
#navbar li a { padding: 0.75em 0pt 0.25em; display: block; color: rgb(0, 0, 0); }
#navbar #contribute { background: transparent none repeat scroll 0% 0%; }
#navbar a:hover, .articles #navbar #articles a, .topics #navbar #topics a, .about #navbar #about a, .contact #navbar #contact a, .contribute #navbar #contribute a { background: transparent url('navbarlinkbg.gif') repeat-x scroll left top; color: rgb(85, 85, 85); text-decoration: none; }
#globalWrapper { margin: 0pt 15px 0pt 20px; padding: 0pt; background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(85, 85, 85); width: 1000px; }
#columnOne { width: 256px; padding-left: 15px; background-image: url('bg-columnone.gif'); background-repeat: repeat-y; padding-bottom: 100px; line-height: 1.5em; }
#columnContent { background: rgb(255, 255, 255) url('bg-columncontent.gif') repeat-y scroll 0% 0%; margin-left: 100px; }
#content { padding: 1em 1em 5em; width: 300px; line-height: 1.5em; border-top-color: rgb(0, 255, 0); }
#contentLeaf { border-right: 1px solid rgb(204, 204, 204); padding: 1em 1em 5em; width: 570px; font-size: 11pt; line-height: 1.5em; }
#columnsList { border-top: 1px solid rgb(204, 204, 204); padding: 1em 0.5em; background: rgb(255, 255, 255) none repeat scroll 0% 0%; clear: both; }
.column { float: left; padding-top: 15px; }
#content .title { font-family: Georgia,Times,serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 1.2em; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; margin-bottom: 0.5em; }
.title { text-transform: none; letter-spacing: 1px; }
.title a:link { color: rgb(0, 0, 0); }
.title a:visited { color: rgb(21, 0, 112); }
.title a:active { color: rgb(21, 0, 112); }
.title a:hover { color: rgb(0, 0, 0); }
.byline { margin: 0pt 0pt 1.5em; font-family: Times,serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 1.1em; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; letter-spacing: 1px; }
.byline a:link, .byline a:visited { font-family: Verdana,sans-serif; font-style: normal; font-variant: normal; font-weight: bold; font-size: 0.85em; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; text-transform: uppercase; letter-spacing: 2px; margin-left: 0.25em; }
.item { padding: 0pt 10px; }
.title a:link, .title a:visited, .byline a:link, .byline a:visited { border-bottom-width: 0pt; }
.title a:hover, .byline a:hover { border-bottom: 1px solid rgb(51, 51, 51); background: rgb(232, 232, 232) none repeat scroll 0% 0%; }
#content h4 .postin { font-size: 0.8em; }
#columnOne .spotlight { padding: 0.5em; margin-right: 0.7em; }
#columnOne .side { border-top: 1px dashed rgb(204, 204, 204); padding: 0.5em; margin-top: 1.8em; margin-right: 0.7em; }
#columnOne .side ul { list-style-type: none; list-style-image: url('diamond-black.gif'); margin-left: 0pt; padding-left: 1px; }
#desert { background-image: url('desertbg.jpg'); background-position: right bottom; background-repeat: no-repeat; }
#columnsList td { background: rgb(248, 250, 252) none repeat scroll 0% 0%; line-height: 1.5em; }
#columnsList td h6 { padding: 0.2em; background: rgb(225, 225, 241) none repeat scroll 0% 0%; margin-top: 1.5em; }
#logo { overflow: visible; z-index: 3; position: absolute; top: 30px; left: 10px; height: 155px; width: 106px; }
#logo h5 { display: none; }
#logo a, #logo a:hover { display: block; height: 155px; width: 106px; background-repeat: no-repeat; background-position: 35% 50% ! important; text-decoration: none; }
#navigation { padding: 0pt 5px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; float: left; width: 280px; }
#navigation .side { border-top: 1px dashed rgb(204, 204, 204); margin-top: 1.8em; }
#navigation .side ul { list-style-type: none; list-style-image: url('diamond-black.gif'); margin-left: 0pt; padding-left: 15px; }
#altLanguage { margin: 0.5em 0pt; }
.visualClear { clear: both; }
#contentLeaf .item ul { list-style-type: none; list-style-image: none; list-style-position: outside; }
#contentLeaf .pageIndex { border-top: 1px dotted rgb(204, 204, 204); margin: 1.5em 0pt; padding: 0.5em; font-size: 0.8em; background-color: rgb(244, 243, 232); text-align: center; width: 400px; float: right; }
#footer { border-top: 1px solid rgb(204, 204, 204); margin: 1.6em 0pt 1em; padding: 0.8em 0pt 1.2em; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); text-align: center; font-size: 95%; }
#footer li { margin: 0pt 1.3em; display: inline; }
#footer li a { color: rgb(209, 62, 28); }
#f-poweredbyico { float: none; height: 1%; }
#f-copyrightico { float: none; height: 1%; }
