
/* ::::: http://static.adm.pixnet.net/userdata/styles/blog/css/choc/205046.css?v=bb010e762a11e5079c48897d615a88c9 ::::: */

#comment-form table { margin: 0pt auto; width: 96%; }
#comment-form td, #comment-form th { border: 1px solid rgb(85, 85, 85); padding: 3px 5px; }
#comment-form input#send-comment { padding: 3px 5px; }
.article-content p { margin-bottom: 1em; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { margin: 0pt; padding: 0pt; }
table { border-collapse: collapse; border-spacing: 0pt; }
fieldset, img { border: 0pt none ; }
address, caption, cite, code, dfn, em, th, var { font-style: normal; font-weight: normal; }
ol, ul { list-style-type: none; list-style-image: none; list-style-position: outside; }
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
q:before, q:after { content: ''; }
abbr, acronym { border: 0pt none ; }
pre { font-size: 1em; }
.article-content { overflow: hidden; }
body { background: transparent url('1215175543.png') repeat scroll left top; font-size: 11px; letter-spacing: 1pt; font-family: "Century Gothic"; color: rgb(85, 85, 85); }
#body-div { margin: 0pt auto; width: 1003px; position: relative; }
a { color: rgb(87, 81, 67); text-decoration: none; }
a:hover { color: rgb(85, 85, 85); }
br { letter-spacing: 0pt; }
input#search-target { border: 1px solid rgb(225, 225, 225); padding: 2px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; text-align: center; width: 160px; color: rgb(90, 90, 90); }
input#search-submit { border: 1px solid rgb(225, 225, 225); padding: 2px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 40px; color: rgb(0, 0, 0); font-size: 11px; }
#search li { display: inline; text-align: center; }
#authority { position: absolute; top: 5px; margin-left: 850px; }
#authority a { margin: 5px; }
#login-bar { position: absolute; top: 5px; margin-left: 10px; }
#login-bar a {  }
#container {  }
#container2 { margin: 0pt auto; background: transparent url('1215630312.png') repeat-y scroll 0% 0%; width: 1003px; }
#header { background: transparent url('1215703568.png') no-repeat scroll center top; }
#banner { text-align: left; height: 355px; }
#banner h1 { padding-top: 139px; padding-left: 32px; }
#banner h1 a { font-family: "微軟正黑體"; font-style: normal; font-variant: normal; font-size: 35pt; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; color: rgb(255, 255, 255); font-weight: bolder; }
#banner h2 { overflow: auto; width: 340px; height: 60px; text-align: left; padding-top: 10px; padding-left: 30px; line-height: 20px; color: rgb(255, 255, 255); font-size: 11px; }
#banner h2 a { color: rgb(255, 255, 255); text-decoration: underline; }
#navigation { position: absolute; top: 199px; margin-left: 539px; }
#navigation a { font-family: verdana; font-style: normal; font-variant: normal; font-weight: normal; font-size: 0pt; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; color: rgb(255, 255, 255); display: block; text-indent: -5000px; width: 85px; height: 39px; }
#navigation li { float: left; display: inline; }
#link-album a { background: transparent url() no-repeat scroll center top; text-indent: -5000px; margin-top: 31px; margin-right: 29px; }
#link-blog a { background: transparent url() no-repeat scroll center top; text-indent: -5000px; margin-right: 37px; }
#link-guestbook a { background: transparent url() no-repeat scroll center top; text-indent: -5000px; margin-top: 34px; margin-right: 33px; }
#link-profile a { background: transparent url() no-repeat scroll center top; text-indent: -5000px; margin-top: 58px; }
#content { overflow: hidden; width: 700px; float: left; padding-left: 10px; line-height: 20px; }
#spotlight { border-bottom: 1px dotted rgb(72, 150, 186); margin: 0px 5px 30px; }
#spotlight h5 { display: none; }
#spotlight-text { padding: 2px; line-height: 20px; font-size: 12px; }
#spotlight-text a { color: rgb(255, 0, 0); }
#article-area {  }
.article-area-title {  }
.article { border-bottom: 1px dotted rgb(72, 150, 186); margin: 0px 5px 30px; }
.article-head { height: 55px; margin-bottom: 10px; }
.publish { padding: 15px 5px 15px 30px; background: transparent url('1215634592.png') no-repeat scroll 0% 0%; float: left; width: 100px; height: 20px; text-align: left; font-family: Tahoma; font-style: normal; font-variant: normal; font-weight: normal; font-size: 9px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; color: rgb(85, 85, 85); text-transform: uppercase; }
.day, .time { display: none; }
.title h2 { padding: 13px 2px; float: right; width: 530px; height: 20px; }
.title h2 a { font-family: "微軟正黑體"; font-size: 20px; font-weight: bold; color: rgb(17, 17, 17); }
.article-body { margin: 3px 2px; }
.bookmark { margin: 25px 0px 3px; text-align: left; }
.article-content { margin: 25px 4px 15px; font-size: 12px; }
.article-content a { text-decoration: underline; }
.more { margin: 5px 0px; float: right; }
.more a { font-family: "微軟正黑體"; font-size: 13px; text-decoration: none; }
.author { padding: 1px 0px; margin-bottom: 3px; text-align: left; font-size: 11px; }
.forward, .refer li, .history { padding: 1px 0px; text-align: left; margin-bottom: 3px; font-size: 11px; }
.back-to-top { display: none; }
.article-footer { margin: 3px 4px; }
.page { font-size: 11px; text-align: center; }
.page a:hover { text-decoration: underline; }
.page span { font-size: 16px; font-weight: bolder; }
#blog-main .refer, #blog-main .history { display: none; }
#display { text-align: left; margin-bottom: 20px; }
#display span {  }
#display a {  }
#user-post { margin-bottom: 10px; }
#trackback-box { margin-bottom: 10px; }
.user-post-title { padding: 22px 0px; font-size: 0pt; text-indent: -5000px; }
#trackback-title { background: transparent url('1215630165.png') no-repeat scroll left center; }
#trackback-text { margin: 8px; }
#trackback-url { margin: 8px; }
#trackback-input { border: 1px solid rgb(255, 255, 255); padding: 2px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 140px; color: rgb(90, 90, 90); }
.input { border: 1px solid rgb(255, 255, 255); padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 40px; color: rgb(0, 0, 0); }
#comment-title { background: transparent url('1215630166.png') no-repeat scroll left center; }
#comment-text { margin: 10px; }
.user-post-text { margin: 10px; }
.single-post { overflow: hidden; margin-bottom: 30px; }
.post-info { border-bottom: 1px dashed rgb(85, 85, 85); padding-bottom: 5px; margin-bottom: 10px; font-weight: bold; }
.post-photo { padding: 5px; float: left; width: 100px; text-align: center; }
.post-text { padding: 5px; width: 520px; float: right; }
#trackback-box .post-text { width: auto; float: none; }
.reply-text { padding: 5px; background: rgb(145, 175, 220) none repeat scroll 0% 0%; clear: both; color: rgb(238, 238, 238); text-align: right; }
.reply-text p { display: none; }
.post-comment a { margin: 15px auto; background: transparent url('1215635330.png') no-repeat scroll 0px 50%; display: block; width: 250px; height: 50px; color: rgb(255, 255, 255); font-size: 0pt; text-indent: -5000px; }
.main-list { margin-top: 20px; }
.main-list table { margin: 0px auto; width: 98%; }
.main-list th { padding: 2px; }
.main-list td { padding: 2px; }
.page { font-size: 11px; text-align: center; }
.page a:hover { text-decoration: underline; }
.page span { font-size: 16px; font-weight: bolder; }
#links { overflow: hidden; width: 250px; float: right; padding-right: 10px; }
#links a { color: rgb(119, 119, 119); }
#links a:hover { color: rgb(112, 136, 194); }
.box { margin: 1px 1px 30px; }
.box-title { padding: 10px 2px 10px 28px; background: transparent url('1215630164.png') no-repeat scroll left center; text-align: left; font-family: Tahoma; font-style: normal; font-variant: normal; font-size: 14px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; font-weight: bold; color: rgb(72, 150, 186); }
.box-text { border-left: 1px solid rgb(72, 150, 186); margin: 5px; padding: 0px 10px; color: rgb(34, 34, 34); text-align: left; }
#recent-article .box-text li, #hot-article .box-text li, #latest-comment .box-text li, #mylink .box-text li, #category .box-text li, #subscription .box-text li { width: 100%; }
#recent-article .box-text a, #hot-article .box-text a, #latest-trackback .box-text a, #subscription .box-text a, #category .box-text a, #mylink .box-text a { margin: 2px 0px; padding: 1px; display: block; font-size: 11px; text-align: left; }
#latest-comment .box-text li a { font-size: 11px; text-align: left; }
#latest-comment .box-text li { margin: 2px 0px; padding: 1px; overflow: hidden; height: 18px; font-size: 10px; color: rgb(157, 30, 30); }
#latest-trackback .box-text li, #subscription .box-text li { font-size: 10px; color: rgb(157, 30, 30); text-align: right; }
#broadcast ul { padding: 2px; background: rgb(145, 175, 220) none repeat scroll 0% 0%; overflow: hidden; margin-bottom: 2px; }
#broadcast ul a { color: rgb(238, 238, 238); }
.broadcast-time span { display: none; }
#broadcast .broadcast-photo { display: inline; float: left; padding-right: 5px; }
#broadcast .broadcast-photo img { width: 36px; height: 36px; }
#broadcast .box-text li.broadcast-time a { color: rgb(75, 135, 0); font-weight: bolder; font-size: 10px; }
.broadcast-time { display: block; padding-top: 2px; margin-left: 5px; }
.broadcast-text { padding: 1px; overflow: hidden; height: 13px; color: rgb(85, 85, 85); font-size: 11px; margin-left: 5px; }
#headshot-img { border: 1px solid rgb(124, 161, 177); padding: 5px; width: 90px; float: left; text-align: center; margin-right: 10px; }
#headshot .box-text { overflow: hidden; }
#headshot a { border: 0pt none ; padding: 5px; display: block; }
#visitor ul, #crumb ul { overflow: hidden; }
#visitor li, #crumb li { float: left; }
#visitor .box-text li a img, #crumb .box-text li a img { border: 1px solid rgb(124, 161, 177); margin: 2px; height: 36px; width: 36px; }
#calendar {  }
#calendar .box-title {  }
#calendar .box-text {  }
#calendar table { margin: 0px auto; width: 95%; text-align: center; line-height: 200%; }
#calendar .Month-Nav { text-align: right; }
#calendar .current-month { text-align: center; }
#calendar .cal-forward { text-align: right; }
#calendar .weekday th, #calendar.col-abbr { text-align: center; }
#calender th, #calendar td {  }
#calendar td a { margin: 1px; background: rgb(124, 161, 177) none repeat scroll 0% 0%; display: block; color: rgb(238, 238, 238); }
#calendar td a:hover { display: block; color: rgb(0, 0, 0); }
#mylink.box h6 { margin: 1px 0px; padding: 5px 1px 5px 28px; background: transparent url('1215630168.png') no-repeat scroll left center; display: block; }
#category .box-text h6 { margin: 1px 0px; padding: 5px 1px 5px 28px; background: transparent url('1215630168.png') no-repeat scroll left center; display: block; }
#archive .box-text select { width: 200px; font-size: 8pt; }
#archive .box-more { margin-top: 10px; text-align: right; }
.murmur-time { margin: 0px 0px 10px; text-align: left; font-size: 11px; }
#murmur .box-more { margin-top: 10px; text-align: right; font-size: 11px; }
.murmur-text { line-height: 18px; }
#favorite .box-text select { width: 200px; font-size: 8pt; }
#counter .box-text li { display: inline; font-size: 11px; }
#powered .box-text, #feed .box-text { text-align: center; }
#footer { background: transparent url('1215630162.png') no-repeat scroll center bottom; clear: both; text-align: left; padding-top: 15px; padding-bottom: 5px; padding-left: 10px; color: rgb(153, 153, 153); font-size: 11px; height: 40px; }
#footer p, #bottom { padding-top: 2px; text-align: left; padding-left: 10px; color: rgb(255, 255, 255); font-size: 11px; }
#footer a { color: rgb(255, 255, 255); }
#banner .skiplink, #blog-category, .title h2 img, .post-time, #category .box-more img, #category .box-text.box-more, #visitor .box-more a, #crumb .box-more a, #category .box-text h6 img, #latest-comment .box-text span, #latest-comment .box-text img, #hot-article .box-text img, #recent-article .box-text img { display: none; }
