
/* ::::: http://www.cp-edu.com/tw/ciku/depin.css ::::: */

p, a, li { font-size: 16px; color: rgb(0, 0, 0); }
big { font-size: 16px; }
a { color: rgb(0, 0, 127); text-decoration: none; }
a:hover { color: rgb(255, 0, 0); }
.date { font-size: 9pt; color: rgb(125, 198, 34); }
.title { font-size: 11pt; color: rgb(0, 153, 0); }
.copyright { font-size: 9pt; color: rgb(238, 238, 238); }
.depin { color: rgb(255, 255, 255); font-family: "細明體"; font-size: 9pt; text-decoration: none; }
.serch { font-family: "細明體"; font-size: 9pt; }
.small { font-size: 9pt; color: rgb(51, 153, 0); }
a.mail { text-decoration: none; color: rgb(51, 153, 0); }
.ccec5 { color: rgb(255, 255, 255); font-family: "細明體"; font-size: 9pt; text-decoration: none; }
.serch { font-family: "細明體"; font-size: 9pt; }
input { font-size: 12px; background-color: rgb(222, 223, 237); color: rgb(0, 0, 255); }
select { font-size: 12px; background-color: rgb(222, 223, 237); color: rgb(0, 0, 255); }
textarea { font-size: 12px; background-color: rgb(222, 223, 237); color: rgb(0, 0, 255); }
hr { color: rgb(153, 153, 153); }
.p12 { font-size: 12px; }
.p14 { font-size: 11pt; }
.p14_line { line-height: 24px; font-size: 14px; color: rgb(255, 255, 255); }
.none { font-size: 12px; background-color: rgb(255, 255, 255); border: 0px solid; }
.shhubiao {  }
.moce {  }

/* ::::: null ::::: */

#SGSmain { position: fixed; z-index: 32767; top: 0pt; right: 0pt; padding: 0pt 0pt 0pt 20px; min-height: 20px; background: url('undefined') no-repeat scroll 2px 2px transparent; }

/* ::::: null ::::: */

#SGSmain.subscribed { background: url('undefined') no-repeat scroll 2px 2px transparent; }

/* ::::: null ::::: */

#SGSmain.subscribed:hover { background: none repeat scroll 0% 0% transparent; }

/* ::::: null ::::: */

#SGSmain.notSubscribed { background: url('undefined') no-repeat scroll 2px 2px transparent; }

/* ::::: null ::::: */

#SGSmain.subscribed:hover { background: none repeat scroll 0% 0% transparent; }

/* ::::: null ::::: */

#SGSmain:hover { padding: 0pt; }

/* ::::: null ::::: */

#SGSmain > div { display: none; }

/* ::::: null ::::: */

#SGSmain:hover > div { display: block; padding: 1px 0pt; background: none repeat scroll 0% 0% rgb(255, 255, 255); -moz-border-radius: 0pt 0pt 0pt 5px; border-style: solid; border-color: rgb(0, 0, 0); border-width: 0pt 0pt 2px 2px; }

/* ::::: null ::::: */

#SGSmain a { display: block; margin: 0pt 0pt 0pt 3px; padding: 2px 10px 2px 7px; font-family: "Verdana"; font-size: 12px; line-height: 14px; font-weight: normal; text-decoration: none; color: rgb(0, 0, 0); text-align: left; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 0pt none; }

/* ::::: null ::::: */

#SGSmain a:hover { background-color: rgb(255, 136, 0); color: rgb(0, 0, 0); }

/* ::::: null ::::: */

#SGSmain a.abonne { background-color: rgb(0, 0, 0); color: rgb(238, 238, 238); }

/* ::::: null ::::: */

#SGSmain a.abonne:hover { padding: 0px 10px 0px 6px; background-color: rgb(238, 238, 238); color: rgb(0, 0, 0); border-style: solid; border-color: rgb(255, 136, 0); border-width: 2px 0pt 2px 2px; }

/* ::::: null ::::: */

#SGSheader { margin: -2px 0pt 0pt; font-size: 9px; font-family: sans-serif; background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); }
#SGSheader a { display: inline ! important; font-size: 9px; font-family: sans-serif; text-decoration: underline; padding: 0pt; margin: 0pt; background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); }

/* ::::: null ::::: */

#SGSfooter { text-align: right; margin-right: 2px; font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0); }
#SGSfooter a { display: inline ! important; font-size: 9px; padding: 1px; margin: 0pt 2px; color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); }
#SGSfooter a:hover { color: rgb(0, 0, 0); background-color: rgb(255, 136, 0); }

/* ::::: null ::::: */

#SGSoptions { margin: 0pt 2px; font-family: sans-serif; }
#SGSoptions, #SGSoptions * { color: rgb(0, 0, 0); }
#SGSoptions div { margin: 0pt 2px; }
#SGSoptions a { display: inline; text-decoration: underline; margin: 0pt; padding: 0pt; }
#SGSoptions p { color: rgb(0, 0, 0); margin: 0pt 2px; }
#SGSoptions ul { margin: 0pt 0pt 0pt 1.25em; }
#SGSoptions li { margin-bottom: 3px; }
#SGSoptions li span { height: 9px; }
#SGSoptions p:hover, #SGSoptions p:hover a, #SGSoptions li:hover { background-color: rgb(255, 136, 0); }
#SGSoptions li.active { font-weight: bold; }
#SGSoptions li.active td { font-weight: normal; }
#SGSoptions .back, #SGSoptions .light, #SGSoptions .front, #SGSoptions .high { border: thin solid rgb(0, 0, 0); }

/* ::::: null ::::: */

#SGSinfo { text-align: center ! important; background-color: rgb(255, 136, 0); color: rgb(0, 0, 0); -moz-border-radius: 2px 2px 2px 2px; }

/* ::::: null ::::: */

#Chrome .front { background-color: rgb(66, 119, 207); }
#Chrome .back { background-color: rgb(225, 236, 254); }
#Chrome .light { background-color: rgb(255, 255, 255); }
#Chrome .high { background-color: rgb(255, 221, 34); }

/* ::::: null ::::: */

#Userscripts .front { background-color: rgb(0, 0, 0); }
#Userscripts .back { background-color: rgb(255, 255, 255); }
#Userscripts .light { background-color: rgb(238, 238, 238); }
#Userscripts .high { background-color: rgb(255, 136, 0); }

/* ::::: null ::::: */

#Flickr .front { background-color: rgb(0, 99, 220); }
#Flickr .back { background-color: rgb(255, 255, 255); }
#Flickr .light { background-color: rgb(255, 255, 255); }
#Flickr .high { background-color: rgb(255, 0, 132); }

/* ::::: null ::::: */

.hidden { display: none; }

/* ::::: null ::::: */

@media print {
  #SGSmain { display: none; }
}

/* ::::: null ::::: */

#SGSmain.noFeed { background: url('undefined') no-repeat scroll 2px 2px transparent; }

/* ::::: null ::::: */

#SGSmain.noFeed:hover { background: none repeat scroll 0% 0% transparent; }

/* ::::: null ::::: */

.GleeThemeDefault { background-color: rgb(51, 51, 51) ! important; color: rgb(255, 255, 255) ! important; font-family: Calibri,"Lucida Grande",Lucida,Arial,sans-serif ! important; }
.GleeThemeWhite { background-color: rgb(255, 255, 255) ! important; color: rgb(0, 0, 0) ! important; border: 1px solid rgb(147, 147, 147) ! important; -moz-border-radius: 10px 10px 10px 10px ! important; font-family: Calibri,"Lucida Grande",Lucida,Arial,sans-serif ! important; }
#gleeBox.GleeThemeWhite { opacity: 0.75; }
.GleeThemeRuby { background-color: rgb(83, 0, 0) ! important; color: rgb(246, 176, 171) ! important; font-family: "Lucida Grande",Lucida,Verdana,sans-serif ! important; }
.GleeThemeGreener { background-color: rgb(46, 92, 79) ! important; color: rgb(211, 255, 90) ! important; font-family: Georgia,"Times New Roman",Times,serif ! important; }
.GleeThemeConsole { font-family: Monaco,Consolas,"Courier New",Courier,mono ! important; color: rgb(234, 254, 246) ! important; background-color: rgb(17, 17, 17) ! important; }
.GleeThemeGlee { background-color: rgb(235, 18, 87) ! important; color: rgb(255, 243, 0) ! important; -moz-box-shadow: 0px 0px 8px rgb(235, 18, 87) ! important; opacity: 0.8 ! important; font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif ! important; }
.GleeReaped { background-color: rgb(251, 238, 126) ! important; border: 1px dotted rgb(129, 129, 129) ! important; }
.GleeHL { background-color: rgb(215, 254, 101) ! important; -moz-box-shadow: 0px 0px 9px rgb(177, 177, 177) ! important; padding: 3px ! important; color: rgb(28, 50, 73) ! important; border: 1px solid rgb(129, 129, 129) ! important; }
.GleeHL a { color: rgb(28, 50, 73) ! important; }
#gleeBox { line-height: 20px; height: auto ! important; z-index: 100000; position: fixed; left: 5%; top: 35%; display: none; overflow: auto; width: 90%; background-color: rgb(51, 51, 51); opacity: 0.65; color: rgb(255, 255, 255); margin: 0pt; font-family: Calibri,"Lucida Grande",Lucida,Arial,sans-serif; padding: 4px 6px; text-align: left; -moz-border-radius: 7px 7px 7px 7px; }
#gleeSearchField { outline: medium none; width: 90%; background: none repeat scroll 0% 0% transparent ! important; padding: 0pt; margin: 3px 0pt; border: medium none; height: auto ! important; font-size: 100px; color: rgb(255, 255, 255); }
#gleeSub { font-size: 15px ! important; font-family: inherit ! important; font-weight: normal ! important; height: auto ! important; margin: 0pt ! important; padding: 0pt ! important; color: inherit ! important; line-height: normal ! important; }
#gleeSubText, #gleeSubURL, #gleeSubActivity { width: auto ! important; font-size: inherit ! important; color: inherit ! important; font-family: inherit ! important; line-height: 20px ! important; font-weight: normal ! important; }
#gleeSubText { float: left; }
#gleeSubURL { display: inline; float: right; }
#gleeSubActivity { height: 10px; display: inline; float: left; padding-left: 5px; }
