
/* ::::: http://www.cp-edu.com/TW/CIKU/depin.css ::::: */

p, a, li { font-size: 16px; color: rgb(0, 0, 0); }
big { font-size: 16px; }
a { color: rgb(0, 0, 127); text-decoration: none; }
a:hover { color: rgb(255, 0, 0); }
.date { font-size: 9pt; color: rgb(125, 198, 34); }
.title { font-size: 11pt; color: rgb(0, 153, 0); }
.copyright { font-size: 9pt; color: rgb(238, 238, 238); }
.depin { color: rgb(255, 255, 255); font-family: "細明體"; font-size: 9pt; text-decoration: none; }
.serch { font-family: "細明體"; font-size: 9pt; }
.small { font-size: 9pt; color: rgb(51, 153, 0); }
a.mail { text-decoration: none; color: rgb(51, 153, 0); }
.ccec5 { color: rgb(255, 255, 255); font-family: "細明體"; font-size: 9pt; text-decoration: none; }
.serch { font-family: "細明體"; font-size: 9pt; }
input { font-size: 12px; background-color: rgb(222, 223, 237); color: rgb(0, 0, 255); }
select { font-size: 12px; background-color: rgb(222, 223, 237); color: rgb(0, 0, 255); }
textarea { font-size: 12px; background-color: rgb(222, 223, 237); color: rgb(0, 0, 255); }
hr { color: rgb(153, 153, 153); }
.p12 { font-size: 12px; }
.p14 { font-size: 11pt; }
.p14_line { line-height: 24px; font-size: 14px; color: rgb(255, 255, 255); }
.none { font-size: 12px; background-color: rgb(255, 255, 255); border: 0px solid; }
.shhubiao {  }
.moce {  }
