
/* ::::: null ::::: */

.c3 { font-family: Century Gothic; font-size: 10pt; }
.c4 { font-family: Century Gothic; font-size: 10pt; text-decoration: none; }

/* ::::: http://www.programmer-club.com.tw/style.css ::::: */

body { font-size: 11px; color: rgb(105, 105, 105); line-height: 1.7; font-family: "Century Gothic"; }
td { font-size: 11px; color: rgb(105, 105, 105); line-height: 1.7; font-family: "Century Gothic"; }
form { font-size: 11px; color: rgb(105, 105, 105); line-height: 1.7; font-family: "Century Gothic"; }
input { font-size: 11px; color: rgb(105, 105, 105); line-height: 15px; font-family: "Century Gothic"; }
option { font-size: 11px; color: rgb(105, 105, 105); line-height: 1.7; font-family: "Century Gothic"; }
select { font-size: 11px; color: rgb(105, 105, 105); line-height: 1.7; font-family: "Century Gothic"; }
textarea { font-size: 11px; color: rgb(105, 105, 105); line-height: 1.7; font-family: "Century Gothic"; }
a:link { color: rgb(105, 105, 105); line-height: 1.7; text-decoration: none; }
a:visited { color: rgb(105, 105, 105); line-height: 1.7; text-decoration: none; }
a:hover { color: rgb(105, 105, 105); line-height: 1.7; text-decoration: underline; }
.link a:link { color: rgb(239, 148, 19); line-height: 1.7; text-decoration: none; }
.link a:visited { color: rgb(239, 148, 19); line-height: 1.7; text-decoration: none; }
.link a:hover { color: rgb(239, 148, 19); line-height: 1.7; text-decoration: underline; }
.soho a:link { color: rgb(120, 87, 8); line-height: 1.5; text-decoration: none; }
.soho a:visited { color: rgb(120, 87, 8); line-height: 1.5; text-decoration: none; }
.soho a:hover { color: rgb(120, 87, 8); line-height: 1.5; text-decoration: underline; }
.talk a:link { color: rgb(78, 118, 57); line-height: 1.6; padding-left: 5px; text-decoration: none; }
.talk a:visited { color: rgb(78, 118, 57); line-height: 1.6; padding-left: 5px; text-decoration: none; }
.talk a:hover { color: rgb(78, 118, 57); line-height: 1.6; padding-left: 5px; text-decoration: underline; }
.button { font-size: 11px; color: rgb(255, 255, 255); font-weight: bold; line-height: 1.6; text-decoration: none; }
.button a:link { font-size: 11px; color: rgb(255, 255, 255); font-weight: bold; line-height: 1.6; text-decoration: none; }
.button a:visited { font-size: 11px; color: rgb(255, 255, 255); font-weight: bold; line-height: 1.6; text-decoration: none; }
.button a:hover { font-size: 11px; color: rgb(14, 84, 133); font-weight: bold; line-height: 1.6; text-decoration: none; }
.button2 a:link { font-size: 10px; color: rgb(255, 255, 255); line-height: 1.5; text-decoration: none; }
.button2 a:visited { font-size: 10px; color: rgb(255, 255, 255); line-height: 1.5; text-decoration: none; }
.button2 a:hover { font-size: 10px; color: rgb(14, 84, 133); line-height: 1.5; text-decoration: none; }
.faq a:link { font-size: 12px; color: rgb(255, 255, 255); line-height: 1.5; text-decoration: none; }
.faq a:visited { font-size: 12px; color: rgb(255, 255, 255); line-height: 1.5; text-decoration: none; }
.faq a:hover { font-size: 12px; color: rgb(14, 84, 133); line-height: 1.5; text-decoration: none; }
.news a:link { color: rgb(85, 124, 144); line-height: 1.5; text-decoration: none; }
.news a:visited { color: rgb(85, 124, 144); line-height: 1.5; text-decoration: none; }
.news a:hover { left: 1px; color: rgb(85, 124, 144); position: relative; top: 1px; line-height: 1.5; text-decoration: none; }
.hero { color: rgb(23, 92, 152); line-height: 1.5; font-family: "Century Gothic"; }
.hero a:link { color: rgb(23, 92, 152); line-height: 1.5; text-decoration: none; }
.hero a:visited { color: rgb(23, 92, 152); line-height: 1.5; text-decoration: none; }
.hero a:hover { left: 1px; color: rgb(23, 92, 152); position: relative; top: 1px; line-height: 1.5; text-decoration: none; }
.ad a:link { font-size: 10px; color: rgb(120, 87, 8); line-height: 1.5; text-decoration: none; }
.ad a:visited { font-size: 10px; color: rgb(120, 87, 8); line-height: 1.5; text-decoration: none; }
.ad a:hover { font-size: 10px; color: rgb(120, 87, 8); line-height: 1.5; text-decoration: none; }
.award a:link { font-size: 11px; line-height: 1.7; text-decoration: underline; }
.award a:visited { font-size: 11px; line-height: 1.7; text-decoration: underline; }
.award a:hover { font-size: 11px; line-height: 1.7; text-decoration: none; }
.titlelist { font-size: 12px; line-height: 1.6; padding-left: 8px; font-family: "Century Gothic"; }
.titlelist a:link { font-size: 13px; color: rgb(12, 89, 166); line-height: 1.6; text-decoration: underline; }
.titlelist a:visited { font-size: 13px; color: rgb(12, 89, 166); line-height: 1.6; text-decoration: underline; }
.titlelist a:hover { font-size: 13px; color: rgb(12, 89, 166); line-height: 1.6; text-decoration: none; }
.resource a:link { font-size: 13px; color: rgb(11, 110, 154); line-height: 1.6; text-decoration: underline; }
.resource a:visited { font-size: 13px; color: rgb(11, 110, 154); line-height: 1.6; text-decoration: underline; }
.resource a:hover { font-size: 13px; color: rgb(11, 110, 154); line-height: 1.6; text-decoration: none; }
.caselist a:link { color: rgb(12, 89, 166); line-height: 1.6; padding-left: 7px; text-decoration: underline; }
.caselist a:visited { color: rgb(12, 89, 166); line-height: 1.6; padding-left: 7px; text-decoration: underline; }
.caselist a:hover { color: rgb(12, 89, 166); line-height: 1.6; padding-left: 7px; text-decoration: none; }
.case01 a:link { color: rgb(0, 102, 204); line-height: 1.5; text-decoration: underline; }
.case01 a:visited { color: rgb(0, 102, 204); line-height: 1.5; text-decoration: underline; }
.case01 a:hover { color: rgb(0, 102, 204); line-height: 1.5; text-decoration: none; }
.list a:link { font-size: 12px; line-height: 1.7; text-decoration: underline; }
.list a:visited { font-size: 12px; line-height: 1.7; text-decoration: underline; }
.list a:hover { font-size: 12px; line-height: 1.7; text-decoration: none; }
.top a:link { font-size: 10px; color: rgb(48, 109, 155); line-height: 1.7; text-decoration: none; }
.top a:visited { font-size: 10px; color: rgb(48, 109, 155); line-height: 1.7; text-decoration: none; }
.top a:hover { font-size: 10px; color: rgb(255, 101, 0); line-height: 1.7; text-decoration: none; }
.advice a:link { font-size: 11px; color: rgb(48, 109, 155); line-height: 1.7; text-decoration: none; }
.advice a:visited { font-size: 11px; color: rgb(48, 109, 155); line-height: 1.7; text-decoration: none; }
.advice a:hover { font-size: 11px; color: rgb(48, 109, 155); line-height: 1.7; text-decoration: underline; }
.gift { font-size: 10px; color: rgb(255, 255, 255); line-height: 1.7; text-decoration: none; }
.gift a:link { font-size: 10px; color: rgb(255, 255, 255); line-height: 1.7; text-decoration: none; }
.gift a:visited { font-size: 10px; color: rgb(255, 255, 255); line-height: 1.7; text-decoration: none; }
.gift a:hover { font-size: 10px; color: rgb(255, 255, 255); line-height: 1.7; text-decoration: underline; }
.ref a:link { color: rgb(12, 89, 166); line-height: 1.6; text-decoration: underline; }
.ref a:visited { color: rgb(12, 89, 166); line-height: 1.6; text-decoration: underline; }
.ref a:hover { color: rgb(12, 89, 166); line-height: 1.6; text-decoration: none; }
.case { font-size: 9px; line-height: 1.5; font-family: "Century Gothic"; }
.bold { font-size: 12px; font-weight: bold; font-family: "Century Gothic"; }
.award01 { padding: 10px 8px; line-height: 3; }
.member { font-size: 11px; line-height: 2; font-family: "Century Gothic"; }
.time { font-size: 10px; color: rgb(105, 105, 105); line-height: 1.7; font-family: "Century Gothic"; }
.pay_title { font-weight: bold; font-size: 15px; color: rgb(253, 90, 49); line-height: 19px; font-family: "Arial","新細明體"; }
.title { font-weight: bold; font-size: 15px; color: rgb(65, 124, 176); line-height: 1.7; font-family: "Century Gothic"; }
.item { font-size: 13px; color: rgb(15, 73, 123); line-height: 1.5; font-family: "Century Gothic"; }
.item a:link { font-size: 13px; color: rgb(15, 73, 123); line-height: 1.5; text-decoration: none; }
.item a:visited { font-size: 13px; color: rgb(15, 73, 123); line-height: 1.5; text-decoration: none; }
.item a:hover { font-size: 13px; color: rgb(15, 73, 123); line-height: 1.5; text-decoration: underline; }
.day { color: rgb(74, 74, 74); line-height: 1.6; font-family: "Century Gothic"; }
.day a:link { color: rgb(74, 74, 74); line-height: 1.6; text-decoration: none; }
.day a:visited { color: rgb(74, 74, 74); line-height: 1.6; text-decoration: none; }
.day a:hover { color: rgb(74, 74, 74); line-height: 1.6; text-decoration: underline; }
.space { padding-left: 5px; font-family: "Century Gothic"; }
body {  }

/* ::::: http://www.programmer-club.com.tw/pc2020v5/cx.css ::::: */

.font2 { font-size: 9pt; color: white; line-height: 22px; font-family: verdana,Arial; text-align: center; }
.font3 { font-size: 9pt; line-height: 20px; font-family: "verdana","Tahoma","Arial"; }
.font4 { padding-right: 0px; font-size: 14px; line-height: normal; font-family: "verdana","Arial"; }
a:link { color: rgb(0, 0, 128); }
a:visited { color: rgb(0, 0, 128); }
a:hover { color: red; }
.fontgetcase { font-size: 11pt; color: rgb(0, 0, 0); line-height: 16pt; font-family: verdana,Arial; }
.C1 { font-size: 10px; font-family: 'Century Gothic',Verdana; }
.C2 { font-size: 12px; font-family: 'Century Gothic',Verdana; }
.font6 { font-size: 16px; font-family: 'Century Gothic',Verdana; }
.C4 { font-size: 14px; font-family: 'Century Gothic',Verdana; }
.blueon { background-color: rgb(204, 204, 255); }
.blueoff { background-color: white; }
.cs { font-size: 7pt; font-family: Verdana,Arial; }
.cselectbar { font-size: 9pt; color: rgb(0, 0, 0); font-family: Verdana,'Century Gothic',Arial; }
