
/* ::::: http://saturn.stu.edu.tw/~ckhung//i/core.css ::::: */

em, strong { text-decoration: underline; font-style: normal; }
.vector { font-weight: bold; }
pre, code, .code { font-family: courier,monospace; }
code, .code { font-weight: bold; }
code em { text-decoration: none; }
table.center-content td { text-align: center; }
th { font-family: helvetica; font-weight: bold; text-align: left; vertical-align: top; }
.kbd { margin-left: 0.1em; margin-right: 0.1em; }
code.lit { font-weight: bold; }
code.id { text-decoration: underline; }
ul.empty { list-style-type: none; list-style-image: none; list-style-position: outside; }
h1 { font-size: 150%; text-align: center; counter-reset: sec; }
h2 { font-size: 120%; text-align: center; text-decoration: underline; }
h2.sec, h2.sec-en { counter-increment: sec; counter-reset: subsec; }
h3.sec, h3.sec-en { counter-increment: subsec; }
h2.sec:before { content: "第\" counter(sec, decimal) \"節 "; }
h2.sec-en:before { content: "Section \" counter(sec, decimal) \": "; }
h3.sec:before { content: counter(sec, decimal) "." counter(subsec, decimal) " "; }
h3.sec-en:before { content: counter(sec, decimal) "." counter(subsec, decimal) " "; }
p { margin: 1em; text-indent: 2em; }
p.publication { text-indent: 0pt; text-align: center; }
.center { text-align: center; }
.small { font-size: small; }
p.footer { font-size: small; }
p.noindent { text-indent: 0pt; }
ol.upper-latin { list-style-type: upper-alpha; }
img.left { float: left; }
img.right { float: right; }
img.alone { clear: both; }
@media screen {
  body { margin: 0%; }
  div#content { position: absolute; top: 2em; bottom: 0pt; left: 120px; right: 0pt; line-height: 140%; font-size: 14pt; }
  div#toc { font-size: 8pt; line-height: 160%; left: 0pt; width: 120px; }
  div#nav { font-size: 8pt; line-height: 160%; left: 0pt; width: 120px; }
  div#toc a:hover { font-weight: bold; margin-left: -0.5em; }
  .xstooltip { border: 1px solid ; padding: 3px; background: cyan none repeat scroll 0% 0%; visibility: hidden; position: absolute; z-index: 2; top: 0pt; left: 0pt; font-family: sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 18pt; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
}
@media print {
  body { margin-left: 0cm; margin-right: 0cm; font-size: 12pt; line-height: 140%; }
  .noprint { display: none; }
  div#toc { display: none; }
  div#content { right: 0em; position: static; }
  dfn, code { margin-left: 0.1em; margin-right: 0.6em; color: black; }
  em { margin-left: 0.2em; margin-right: 0.3em; }
  a { text-decoration: none; margin-left: 0.6em; margin-right: 1em; }
}

/* ::::: http://saturn.stu.edu.tw/~ckhung//i/light.css ::::: */

@media screen {
  body { background: rgb(255, 255, 238) none repeat scroll 0% 0%; color: rgb(0, 0, 0); }
  strong { background: rgb(255, 255, 0) none repeat scroll 0% 0%; }
  :link { color: rgb(30, 76, 67); }
  :visited { color: rgb(30, 53, 76); }
  em, strong, .em { color: rgb(76, 15, 15); }
  code, .code { color: rgb(15, 76, 15); }
  dfn { color: rgb(76, 15, 76); }
  blockquote { background: rgb(255, 255, 0) none repeat scroll 0% 0%; }
  .hilight1 { background: rgb(51, 255, 255) none repeat scroll 0% 0%; }
  .hilight2 { background: rgb(255, 51, 255) none repeat scroll 0% 0%; }
  pre.docsrc { background: rgb(179, 255, 255) none repeat scroll 0% 0%; }
  .kbd { background: rgb(255, 179, 255) none repeat scroll 0% 0%; color: rgb(15, 76, 15); }
  .magic { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
  div#toc { background: rgb(255, 240, 179) none repeat scroll 0% 0%; }
  div#nav, .nav { background: rgb(240, 179, 255) none repeat scroll 0% 0%; }
  div#nav a:hover { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
  div#nav a:hover .hovertext { color: rgb(15, 76, 15); }
  div#nav a:hover .hovertext em { background: rgb(235, 51, 255) none repeat scroll 0% 0%; }
}
