/* ::::: http://whatislinux.net/components/com_jcomments/tpl/default/style.css?v=10 ::::: */

#jc a:link, #jc a:visited, #jc a:hover { outline: medium none; }
#jc h4 { color: rgb(85, 85, 85); background-color: inherit; font-weight: bold; text-align: left; border-bottom: 1px solid rgb(210, 218, 219); padding: 0pt 0pt 2px; margin-bottom: 10px; }
#comments { margin: 0pt; padding: 0pt; width: 100%; text-align: left; text-decoration: none; text-transform: none; text-indent: 0pt; }
#comments .comments-list { margin-left: 20px; height: 1%; }
#comments-form, #comments-form p, #comments-form .comments-policy, #comments-form span, #comments-form .counter { text-align: left; text-decoration: none; text-transform: none; text-indent: 0pt; }
#comments-form p, #comments-form span, #comments-form .counter { color: rgb(119, 119, 119); font: 1em Verdana,Arial,Sans-Serif; }
#comments-form p, #comments-form #comments-form-buttons, #comments-form #comments-form-error { font: 1em Verdana,Arial,Sans-Serif; margin-left: 20px ! important; margin-top: 10px; margin-bottom: 8px; overflow: hidden; padding: 0pt; }
#comments-form img.captcha { padding: 0pt; margin: 0pt 0pt 3px; border: 1px solid rgb(204, 204, 204); }
#comments-form span.captcha { padding: 0pt 0pt 0pt 12px; color: rgb(119, 119, 119); background: url('jc_refreshg.gif') no-repeat scroll 0pt 2px transparent; cursor: pointer; }
#comments-form label { color: rgb(119, 119, 119); background-color: inherit; line-height: 1.5em; padding: 0pt; margin: 0pt; vertical-align: middle; }
#comments-form input, #comments-form textarea { color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); padding: 0pt; border: 1px solid rgb(204, 204, 204); }
#comments-form input { width: 170px; margin-bottom: 2px; height: 1.5em; }
#comments-form input.checkbox { width: 16px; line-height: 1.5em; padding: 0pt; margin: 0pt; vertical-align: middle; border: medium none; }
#comments-form input.captcha { width: 116px; margin: 3px 0pt 5px; }
#comments-form textarea { max-width: 400px ! important; width: 350px; margin: 0pt; }
#comments-form .grippie { height: 13px; display: block; overflow: hidden; color: rgb(204, 204, 204); padding: 0pt; margin: 0pt; border-right: 1px solid rgb(221, 221, 221); border-width: 0pt 1px 1px; border-style: solid; border-color: rgb(221, 221, 221); max-width: 400px ! important; width: 350px; cursor: s-resize; background: url('resize.gif') no-repeat scroll right center rgb(238, 238, 238); }
#comments-form .grippie .counter { font-size: 10px; padding: 0pt; margin: 0pt; }
#comments-form .grippie span { display: block; float: left; }
#comments-form .grippie span span { display: inline; float: none; }
#comments-form .btn { float: left; }
#comments-form .btn { background: url('jc_btnl.gif') no-repeat scroll 0% 0% transparent; margin-right: 5px; }
#comments-form .btn div { margin: 0pt -1px 0pt 0pt; float: left; background: url('jc_btnr.gif') no-repeat scroll 100% 0pt transparent; }
#comments-form .btn a { text-decoration: none; height: 22px; line-height: 22px; font-size: 12px; font-weight: bold; color: rgb(119, 119, 119); padding: 0px 5px; border: medium none; }
#comments-form .btn a:hover { text-decoration: none; color: rgb(11, 85, 196); }
/* ::::: http://whatislinux.net/components/com_tag/css/tagcloud.css ::::: */

.clearfix { height: 1%; }
.tag { margin: 0pt; padding: 0pt; color: rgb(153, 153, 153); display: inline; }
.tag ul { margin: 0pt; padding: 0pt; display: inline; list-style-type: none; }
.tag ul li { display: inline; list-style-type: none; background-image: none; padding: 0pt 0.5em; }
.tag ul li a { display: inline; text-decoration: none; margin-bottom: 0pt; }
.tagCloud a { line-height: 25px; font-weight: bold; text-decoration: none; padding: 2px; }
.tagCloud a.tag1:link { font-size: 11px; color: rgb(153, 51, 0); }
.tagCloud a.tag1:visited { font-size: 11px; color: rgb(153, 51, 0); }
.tagCloud a.tag1:hover { font-size: 11px; color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(153, 51, 0); }
.tagCloud a.tag2:link { font-size: 12px; color: rgb(153, 51, 0); }
.tagCloud a.tag2:visited { font-size: 12px; color: rgb(153, 51, 0); }
.tagCloud a.tag2:hover { font-size: 12px; color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(153, 51, 0); }
.tagCloud a.tag3:link { font-size: 13px; color: rgb(136, 34, 0); }
.tagCloud a.tag3:visited { font-size: 13px; color: rgb(136, 34, 0); }
.tagCloud a.tag3:hover { font-size: 13px; color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(153, 51, 0); }
.tagCloud a.tag4:link { font-size: 14px; color: rgb(136, 34, 0); }
.tagCloud a.tag4:visited { font-size: 14px; color: rgb(136, 34, 0); }
.tagCloud a.tag4:hover { font-size: 14px; color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(153, 51, 0); }
.tagCloud a.tag5:link { font-size: 15px; color: rgb(119, 17, 0); }
.tagCloud a.tag5:visited { font-size: 15px; color: rgb(119, 17, 0); }
.tagCloud a.tag5:hover { font-size: 15px; color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(153, 51, 0); }
.tagCloud a.tag6:link { font-size: 16px; color: rgb(119, 17, 0); }
.tagCloud a.tag6:visited { font-size: 16px; color: rgb(119, 17, 0); }
.tagCloud a.tag6:hover { font-size: 16px; color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(153, 51, 0); }
.tagCloud a.tag7:link { font-size: 17px; color: rgb(102, 0, 0); }
.tagCloud a.tag7:visited { font-size: 17px; color: rgb(102, 0, 0); }
.tagCloud a.tag7:hover { font-size: 17px; color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(153, 51, 0); }
/* ::::: http://whatislinux.net/templates/system/css/system.css ::::: */

/* ::::: http://whatislinux.net/templates/system/css/general.css ::::: */

/* ::::: http://whatislinux.net/templates/ja_labra/css/template.css ::::: */

html, body, form, fieldset { margin: 0pt; padding: 0pt; }
body { background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(0, 0, 0); font-family: Arial,sans-serif; line-height: 1.5; }
body#bd { color: rgb(204, 204, 204); background: none repeat scroll 0% 0% rgb(32, 32, 32); margin: 0pt; }
body.fs4 { font-size: 14px; }
a { color: rgb(255, 155, 20); text-decoration: none; }
a:hover, a:active, a:focus { color: rgb(255, 155, 20); text-decoration: underline; }
a img { border: medium none; }
.contentheading, .componentheading, .blog_more strong, h1, h2, h3, h4 { line-height: normal; }
.contentheading, .componentheading { color: rgb(255, 255, 255); }
small, .small, .smalldark, .createby, .createdate, .modifydate, .img_caption, p.site-slogan, a.readon, #ja-pathway, #ja-botsl, #ja-footer { font-size: 92%; }
small, .small, .smalldark, .createby, .createdate, .modifydate, .img_caption p, p.site-slogan { color: rgb(153, 153, 153); }
img { margin: 0pt; padding: 0pt; }
h1 { font-size: 200%; }
h2 { font-size: 175%; }
h3 { font-size: 150%; }
h4 { font-size: 125%; text-transform: uppercase; }
p, pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 { margin: 1em 0pt; padding: 0pt; }
ul { list-style: none outside none; }
ul li { background: url('bullet.gif') no-repeat scroll 18px 7px transparent; line-height: 160%; padding-left: 30px; }
ol li { line-height: 180%; margin-left: 35px; }
fieldset { border: medium none; padding: 10px 5px; }
fieldset.input { padding: 0pt; }
td, div { font-size: 100%; }
form { margin: 0pt; padding: 0pt; }
form label { cursor: pointer; }
input, select, textarea, .inputbox, .button { font-family: Tahoma,Arial,sans-serif; font-size: 92%; }
.inputbox { border: 1px solid rgb(102, 102, 102); padding: 2px; background: none repeat scroll 0% 0% rgb(90, 90, 90); color: rgb(255, 255, 255); }
.button { padding: 2px 8px; border: 1px solid rgb(90, 90, 90); background: none repeat scroll 0% 0% rgb(38, 38, 38); color: rgb(255, 255, 255); }
.article_separator { clear: both; display: block; height: 30px; }
h2.contentheading, .contentheading { margin: 0pt; padding: 0pt 0pt 5px; font-size: 200%; }
a.contentpagetitle, a.contentpagetitle:hover, a.contentpagetitle:active, a.contentpagetitle:focus {  }
.article-toolswrap { display: block; margin: 3px -5px 10px; padding: 0pt 0pt 0pt 10px; background: url('meta-l.gif') no-repeat scroll left top rgb(90, 90, 90); position: relative; }
.article-tools { display: block; padding: 0pt 10px 0pt 0pt; height: 24px; line-height: 24px; white-space: nowrap; }
.article-meta { width: 80%; float: left; }
.createby { padding: 3px 5px 3px 20px; background: url('icon-author.gif') no-repeat scroll left center transparent; }
#ja-wrapper {  }
#ja-header, #ja-container, #ja-topsl, #ja-footer { width: 950px; margin: 0pt auto; clear: both; }
#ja-container { position: relative; }
#ja-contentwrap { clear: both; display: block; float: left; width: 54%; }
#ja-colwrap { float: right; overflow: hidden; width: 44%; }
#ja-col2 { float: right; width: 49.9%; }
#ja-col2 div.ja-innerpad { padding-left: 10px; }
#ja-colwrap ul { list-style: none outside none; }
#ja-containerwrap, #ja-containerwrap-f, #ja-containerwrap-c { clear: both; background: none repeat scroll 0% 0% rgb(51, 51, 51); padding-bottom: 30px; }
#ja-containerwrap-c #ja-container { background: none repeat scroll 0% 0% transparent; }
#ja-containerwrap-c #ja-contentwrap { width: 75%; }
#ja-containerwrap-c #ja-colwrap { width: 23%; }
#ja-containerwrap-c #ja-col1, #ja-containerwrap-c #ja-col2 { width: 100%; }
#ja-containerwrap-c #ja-col1 div.ja-innerpad, #ja-containerwrap-c #ja-col2 div.ja-innerpad { padding: 0pt; }
div.module h3, div.module_text h3, div.module_menu h3, div.module_hilite h3 { margin: 0pt -15px 5px; padding: 0pt 0pt 0pt 15px; color: rgb(255, 255, 255); font-weight: bold; font-size: 100%; text-transform: uppercase; background: url('h3-l.gif') no-repeat scroll left top rgb(38, 38, 38); position: relative; }
div.module h3 span, div.module_text h3 span, div.module_menu h3 span, div.module_hilite h3 span { display: block; padding: 8px 10px 8px 0pt; background: url('h3-r.gif') no-repeat scroll right top transparent; }
div.module, div.module_text, div.module_menu, div.module_hilite, div.ja-box-br { margin-bottom: 20px; padding: 0pt; float: left; clear: both; width: 100%; background: url('box-br.gif') no-repeat scroll right bottom rgb(68, 68, 68); color: rgb(204, 204, 204); overflow: hidden; }
div.module div, div.module_text div, div.module_menu div, div.module_hilite div, div.ja-box-bl { padding: 0pt; background: url('box-bl.gif') no-repeat scroll left bottom transparent; }
div.module div div, div.module_text div div, div.module_menu div div, div.module_hilite div div, div.ja-box-tr { padding: 0pt; background: url('box-tr.gif') no-repeat scroll right top transparent; }
div.module div div div, div.module_text div div div, div.module_menu div div div, div.module_hilite div div div, div.ja-box-tl { padding: 0pt 15px 15px; background: url('box-tl.gif') no-repeat scroll left top transparent; }
div.module div div div div, div.module_text div div div div, div.module_menu div div div div, div.module_hilite div div div div { margin: 0pt; padding: 0pt; background: none repeat scroll 0% 0% transparent; }
div.module ul, div.module_text ul, div.module_menu ul { margin: 0pt; padding: 0pt; }
div.module li, div.module_text li, div.module_menu li, div.module_hilite li { background: url('bullet.gif') no-repeat scroll 5px 8px transparent; margin: 0pt; padding-left: 16px; }
#ja-headerwrap { height: 100px; background: none repeat scroll 0% 0% rgb(32, 32, 32); border-bottom: 3px solid rgb(255, 155, 20); z-index: 101; position: relative; }
#ja-header { height: 100px; line-height: normal; position: relative; }
h1.logo, h1.logo-text { margin: 0pt; padding: 0pt; font-size: 250%; }
h1.logo a { width: 220px; display: block; background: url('logo.gif') no-repeat scroll 0% 0% transparent; position: absolute; height: 40px; top: 20px; left: 0pt; }
h1.logo a:hover, h1.logo a:active, h1.logo a:focus {  }
h1.logo a span { position: absolute; top: -1000px; }
.h-shadow { background: url('h-shadow.gif') repeat-x scroll center top rgb(51, 51, 51); height: 21px; line-height: normal; padding-bottom: 10px; }
#ja-mainnav { height: 30px; position: absolute; bottom: 0pt; left: 0pt; }
#ja-mainnav a, #ja-subnav a { outline: medium none; }
#ja-footerwrap { clear: both; background: none repeat scroll 0% 0% rgb(32, 32, 32); padding: 20px 0pt; position: relative; }
#ja-footer { position: relative; }
#ja-footer small { color: rgb(90, 90, 90); font-size: 100%; padding: 8px 10px; }
#ja-footer a { color: rgb(90, 90, 90); text-decoration: underline; }
#ja-footer a:hover, #ja-footer a:active, #ja-footer a:focus { color: rgb(204, 204, 204); }
ul.accessibility { position: absolute; top: -100%; }
#form-login p { margin: 0pt 0pt 5px; }
#form-login ul { margin: 5px 0pt 0pt; }
#modlgn_username, #modlgn_passwd { width: 90%; }
#ja-search { top: 30px; right: 5px; position: absolute; font-size: 12px; background: url('search-bg.gif') no-repeat scroll center top transparent; width: 164px; height: 22px; }
#ja-search:hover { background: url('search-bg.gif') no-repeat scroll center bottom transparent; }
#ja-search .inputbox { padding: 5px 0pt 0pt 35px; background: none repeat scroll 0% 0% transparent; border: medium none; color: rgb(204, 204, 204); }
#ja-usertoolswrap { margin: 0pt -15px 15px; padding: 0pt; font-size: 11px; clear: both; display: block; background: url('h3-l.gif') no-repeat scroll left top rgb(38, 38, 38); }
#ja-usertools { background: url('h3-r.gif') no-repeat scroll right top transparent; padding: 8px 10px 3px 5px; display: block; }
#ja-usertools ul { margin: 0pt; padding: 2px 0pt 0pt 10px; }
#ja-usertools ul li { margin: 0pt; padding: 0pt; list-style: none outside none; background: none repeat scroll 0% 0% transparent; display: inline; }
#ja-usertools img { padding: 0pt 3px 0pt 0pt; }
.ja-usertools-font, .ja-usertools-body { float: left; }
.clearfix:after { clear: both; content: "."; display: block; height: 0pt; visibility: hidden; }
/* ::::: http://whatislinux.net/templates/ja_labra/css/ja_newsmoo.css ::::: */

div:after { content: ""; }
/* ::::: http://whatislinux.net/templates/ja_labra/css/typo.css ::::: */

.ja-movable-container { visibility: hidden; }
/* ::::: http://whatislinux.net/templates/ja_labra/ja_menus/ja_splitmenu/ja.splitmenu.css ::::: */

#ja-splitmenu { margin: 0pt; padding: 0pt; position: relative; }
#ja-splitmenu ul { margin: 0pt; padding: 0pt; }
#ja-splitmenu li { float: left; padding: 0pt; margin: 0pt 0pt 0pt 4px; background: none repeat scroll 0% 0% transparent; }
#ja-splitmenu a { display: block; float: left; text-decoration: none; background: url('tab-l.gif') no-repeat scroll left top rgb(51, 51, 51); color: rgb(204, 204, 204); text-transform: uppercase; font-weight: bold; }
#ja-splitmenu a span { display: block; padding: 0pt 20px; line-height: 30px; background: url('tab-r.gif') no-repeat scroll right top transparent; }
#ja-splitmenu a:hover, #ja-splitmenu a:active, #ja-splitmenu a:focus { color: rgb(255, 255, 255); background: url('tab-hover-l.gif') no-repeat scroll left top rgb(90, 90, 90); }
#ja-splitmenu a:hover span, #ja-splitmenu a:active span, #ja-splitmenu a:focus span { background: url('tab-hover-r.gif') no-repeat scroll right top transparent; }
#ja-splitmenu li.active a, #ja-splitmenu li.active a:hover, #ja-splitmenu li.active a:active, #ja-splitmenu li.active a:focus { color: rgb(255, 255, 255); background: url('tab-active-l.gif') no-repeat scroll left top rgb(255, 155, 20); }
#ja-splitmenu li.active a span, #ja-splitmenu li.active a:hover span, #ja-splitmenu li.active a:active span, #ja-splitmenu li.active a:focus span { background: url('tab-active-r.gif') no-repeat scroll right top transparent; }
/* ::::: http://whatislinux.net/templates/ja_labra/css/colors/default.css ::::: */

/* ::::: http://whatislinux.net/templates/ja_labra/css/themes/dark.css ::::: */

.contentheading, .componentheading { color: rgb(90, 90, 90); }
small, .small, .smalldark, .createby, .createdate, .modifydate, .img_caption p, p.site-slogan { color: rgb(153, 153, 153); }
.article-toolswrap { color: rgb(32, 32, 32); background: none repeat scroll 0% 0% rgb(230, 230, 230); }
.article-tools {  }
.createby { background: url('icon-author-l.gif') no-repeat scroll left center transparent; }
div.ja-box-br { background: url('box-white-br.gif') no-repeat scroll right bottom rgb(255, 255, 255); color: rgb(90, 90, 90); }
div.ja-box-bl { background: url('box-white-bl.gif') no-repeat scroll left bottom transparent; }
div.ja-box-tr { background: url('box-white-tr.gif') no-repeat scroll right top transparent; }
div.ja-box-tl { background: url('box-white-tl.gif') no-repeat scroll left top transparent; }
#ja-usertoolswrap { background: url('h3-l.gif') no-repeat scroll left top rgb(38, 38, 38); }
#ja-usertools { background: url('h3-r.gif') no-repeat scroll right top transparent; }
