/* ::::: https://plusone.google.com/_/apps-static/_/ss/plusone/ver=4x6d5pec1j7r/am=!sg87bdX_5LnwfGiw/bf=wg/r=O ::::: */

* html .d-q-p, :first-child + html .d-q-p { display: inline; }
.a-tc-wV { float: left; white-space: nowrap; }
.a-Fh-Ib-F7 { margin: 0pt; padding: 0pt; }
.a-tc-kg-e { outline: 0pt none; text-decoration: none; display: block; }
.a-tc-kg-nd-e { width: 24px; height: 15px; }
.a-tc-e-Zi .a-tc-kg-nd-e { background: url('sprite.png') no-repeat scroll -100px -42px transparent; }
.a-tc-e-Zi a.a-tc-kg-nd-e:hover { background: url('sprite.png') no-repeat scroll -125px -42px transparent; }
.a-tc-e-Zi a.a-tc-kg-nd-e:active { background: url('sprite.png') no-repeat scroll -75px -42px transparent; }
.mG, .lG, .kG { float: left; }
.ZM, .aN { background: url('sprite.png') no-repeat scroll 0% 0% transparent; float: left; }
.XM { background: none repeat scroll 0% 0% rgb(255, 255, 255); border-width: 1px; border-style: solid none; border-color: rgb(204, 204, 204); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; float: left; }
.YM { color: rgb(102, 102, 102); font-family: arial,sans-serif; overflow: hidden; white-space: nowrap; }
.mG { padding-left: 2px; }
.mG .ZM { background-position: -150px -42px; height: 15px; width: 5px; }
.mG .aN { background-position: -184px -42px; height: 15px; width: 2px; }
.mG .XM { max-width: 37px; min-width: 5px; }
.mG .YM { font-size: 10px; margin: 1px 5px; height: 11px; line-height: 12px; }
