
/* ::::: http://forum.icst.org.tw/phpbb/styles/subsilver2/theme/stylesheet.css ::::: */

* { margin: 0pt; padding: 0pt; }
html { font-size: 100%; }
body { margin: 0pt; font-family: "Lucida Grande",Verdana,Helvetica,Arial,sans-serif; color: rgb(50, 61, 79); background-color: rgb(255, 255, 255); font-size: 62.5%; }
#wrapheader { padding: 0pt; min-height: 120px; height: auto ! important; }
#wrapcentre { margin: 15px 25px 0pt; }
#wrapfooter { text-align: center; clear: both; }
#wrapnav { border: 1px solid rgb(169, 184, 194); margin: 0pt; width: 100%; background-color: rgb(236, 236, 236); }
#logodesc { border-bottom: 1px solid rgb(71, 135, 167); padding: 5px 25px; background: rgb(217, 223, 228) none repeat scroll 0% 0%; margin-bottom: 5px; }
#menubar { margin: 0pt 25px; }
#datebar { margin: 10px 25px 0pt; }
#findbar { border: 0pt none ; margin: 0pt; padding: 0pt; width: 100%; }
.forumrules { border: 1px solid rgb(187, 152, 96); padding: 4px; background-color: rgb(249, 204, 121); font-weight: normal; font-size: 1.1em; font-family: "Lucida Grande",Verdana,Arial,Helvetica,sans-serif; }
.forumrules h3 { color: red; }
#pageheader {  }
#pagecontent {  }
#pagefooter {  }
#poll {  }
#postrow {  }
#postdata {  }
h1 { color: black; font-family: "Lucida Grande","Trebuchet MS",Verdana,sans-serif; font-weight: bold; font-size: 1.8em; text-decoration: none; }
h2 { font-family: Arial,Helvetica,sans-serif; font-weight: bold; font-size: 1.5em; text-decoration: none; line-height: 120%; }
h3 { font-size: 1.3em; font-weight: bold; font-family: Arial,Helvetica,sans-serif; line-height: 120%; }
h4 { margin: 0pt; font-size: 1.1em; font-weight: bold; }
p { font-size: 1.1em; }
p.moderators { margin: 0pt; float: left; color: black; font-weight: bold; }
.rtl p.moderators { float: right; }
p.linkmcp { margin: 0pt; float: right; white-space: nowrap; }
.rtl p.linkmcp { float: left; }
p.breadcrumbs { margin: 0pt; float: left; color: black; font-weight: bold; white-space: normal; font-size: 1em; }
.rtl p.breadcrumbs { float: right; }
p.datetime { margin: 0pt; float: right; white-space: nowrap; font-size: 1em; }
.rtl p.datetime { float: left; }
p.searchbar { padding: 2px 0pt; white-space: nowrap; }
p.searchbarreg { margin: 0pt; float: right; white-space: nowrap; }
.rtl p.searchbarreg { float: left; }
p.forumdesc { padding-bottom: 4px; }
p.topicauthor { margin: 1px 0pt; }
p.topicdetails { margin: 1px 0pt; }
.postreported, .postreported a:visited, .postreported a:hover, .postreported a:link, .postreported a:active { margin: 1px 0pt; color: red; font-weight: bold; }
.postapprove, .postapprove a:visited, .postapprove a:hover, .postapprove a:link, .postapprove a:active { color: green; font-weight: bold; }
.postapprove img, .postreported img { vertical-align: bottom; }
.postauthor { color: rgb(0, 0, 0); }
.postdetails { color: rgb(0, 0, 0); }
.postbody { font-size: 1.3em; line-height: 1.4em; font-family: "Lucida Grande","Trebuchet MS",Helvetica,Arial,sans-serif; }
.postbody li, ol, ul { margin: 0pt 0pt 0pt 1.5em; }
.rtl .postbody li, .rtl ol, .rtl ul { margin: 0pt 1.5em 0pt 0pt; }
.posthilit { background-color: yellow; }
.nav { margin: 0pt; color: black; font-weight: bold; }
.pagination { padding: 4px; color: black; font-size: 1em; font-weight: bold; }
.cattitle {  }
.gen { margin: 1px; font-size: 1.2em; }
.genmed { margin: 1px; font-size: 1.1em; }
.gensmall { margin: 1px; font-size: 1em; }
.copyright { color: rgb(68, 68, 68); font-weight: normal; font-family: "Lucida Grande",Verdana,Arial,Helvetica,sans-serif; }
.titles { font-family: "Lucida Grande",Helvetica,Arial,sans-serif; font-weight: bold; font-size: 1.3em; text-decoration: none; }
.error { color: red; }
th { padding: 7px 5px; color: rgb(255, 163, 79); font-size: 1.1em; font-weight: bold; background-color: rgb(0, 102, 153); background-image: url('cellpic3.gif'); white-space: nowrap; }
td { padding: 2px; }
td.profile { padding: 4px; }
.tablebg { background-color: rgb(169, 184, 194); }
.catdiv { border: 0pt none ; margin: 0pt; padding: 0pt; background: white url('cellpic2.jpg') repeat-y scroll left top; height: 28px; }
.rtl .catdiv { background: white url('cellpic2_rtl.jpg') repeat-y scroll right top; }
.cat { border: 0pt none ; margin: 0pt; padding: 0pt; height: 28px; background-color: rgb(199, 208, 215); background-image: url('cellpic1.gif'); text-indent: 4px; }
.row1 { padding: 4px; background-color: rgb(236, 236, 236); }
.row2 { padding: 4px; background-color: rgb(220, 225, 229); }
.row3 { padding: 4px; background-color: rgb(192, 200, 208); }
.spacer { background-color: rgb(209, 215, 220); }
hr { border-width: 0pt; height: 1px; background-color: rgb(209, 215, 220); color: rgb(209, 215, 220); }
.legend { margin: 0pt auto; text-align: center; }
a:link { color: rgb(0, 101, 151); text-decoration: none; }
a:active, a:visited { color: rgb(0, 87, 132); text-decoration: none; }
a:hover { color: rgb(212, 100, 0); text-decoration: underline; }
a.forumlink { color: rgb(0, 102, 153); font-weight: bold; font-family: "Lucida Grande",Helvetica,Arial,sans-serif; font-size: 1.2em; }
a.topictitle { margin: 1px 0pt; font-family: "Lucida Grande",Helvetica,Arial,sans-serif; font-weight: bold; font-size: 1.2em; }
a.topictitle:visited { color: rgb(84, 147, 180); text-decoration: none; }
th a, th a:visited { color: rgb(255, 163, 79) ! important; text-decoration: none; }
th a:hover { text-decoration: underline; }
form { border: 0pt none ; margin: 0pt; padding: 0pt; }
input { border: 1px solid rgb(169, 184, 194); padding: 1px; color: rgb(51, 51, 51); font-family: "Lucida Grande",Verdana,Helvetica,sans-serif; font-size: 1.1em; font-weight: normal; background-color: rgb(250, 250, 250); }
textarea { border: 1px solid rgb(169, 184, 194); padding: 2px; background-color: rgb(250, 250, 250); color: rgb(51, 51, 51); font-family: "Lucida Grande",Verdana,Helvetica,Arial,sans-serif; font-size: 1.3em; line-height: 1.4em; font-weight: normal; }
select { border: 1px solid rgb(169, 184, 194); padding: 1px; color: rgb(51, 51, 51); background-color: rgb(250, 250, 250); font-family: "Lucida Grande",Verdana,Helvetica,sans-serif; font-size: 1.1em; font-weight: normal; }
option { padding: 0pt 1em 0pt 0pt; }
option.disabled-option { color: graytext; }
.rtl option { padding: 0pt 0pt 0pt 1em; }
input.radio { border: medium none ; background-color: transparent; }
.post { border-style: solid; border-width: 1px; background-color: white; }
.btnbbcode { border: 1px solid rgb(102, 102, 102); color: rgb(0, 0, 0); font-weight: normal; font-size: 1.1em; font-family: "Lucida Grande",Verdana,Helvetica,sans-serif; background-color: rgb(239, 239, 239); }
.btnmain { border: 1px solid rgb(169, 184, 194); padding: 1px 5px; font-weight: bold; background-color: rgb(236, 236, 236); cursor: pointer; font-size: 1.1em; }
.btnlite { border: 1px solid rgb(169, 184, 194); padding: 1px 5px; font-weight: normal; background-color: rgb(236, 236, 236); cursor: pointer; font-size: 1.1em; }
.btnfile { border: 1px solid rgb(169, 184, 194); padding: 1px 5px; font-weight: normal; background-color: rgb(236, 236, 236); font-size: 1.1em; }
.helpline { border-style: none; background-color: rgb(222, 227, 231); }
.quotetitle, .attachtitle { border-style: solid; border-color: rgb(169, 184, 194); border-width: 1px 1px 0pt; margin: 10px 5px 0pt; padding: 4px; color: rgb(51, 51, 51); background-color: rgb(169, 184, 194); font-size: 0.85em; font-weight: bold; }
.quotetitle .quotetitle { font-size: 1em; }
.quotecontent, .attachcontent { border-style: solid; border-color: rgb(169, 184, 194); border-width: 0pt 1px 1px; margin: 0pt 5px 10px; padding: 5px; font-weight: normal; font-size: 1em; line-height: 1.4em; font-family: "Lucida Grande","Trebuchet MS",Helvetica,Arial,sans-serif; background-color: rgb(250, 250, 250); color: rgb(75, 92, 119); }
.attachcontent { font-size: 0.85em; }
.codetitle { border-style: solid; border-color: rgb(169, 184, 194); border-width: 1px 1px 0pt; margin: 10px 5px 0pt; padding: 2px 4px; color: rgb(51, 51, 51); background-color: rgb(169, 184, 194); font-family: "Lucida Grande",Verdana,Helvetica,Arial,sans-serif; font-size: 0.8em; }
.codecontent { border-style: solid; border-color: rgb(169, 184, 194); border-width: 0pt 1px 1px; margin: 0pt 5px 10px; padding: 5px; direction: ltr; font-weight: normal; color: rgb(0, 102, 0); font-size: 0.85em; font-family: Monaco,'Courier New',monospace; background-color: rgb(250, 250, 250); }
.syntaxbg { color: rgb(255, 255, 255); }
.syntaxcomment { color: rgb(255, 128, 0); }
.syntaxdefault { color: rgb(0, 0, 187); }
.syntaxhtml { color: rgb(0, 0, 0); }
.syntaxkeyword { color: rgb(0, 119, 0); }
.syntaxstring { color: rgb(221, 0, 0); }
.pm_marked_colour { background-color: rgb(0, 0, 0); }
.pm_replied_colour { background-color: rgb(169, 184, 194); }
.pm_friend_colour { background-color: rgb(0, 119, 0); }
.pm_foe_colour { background-color: rgb(221, 0, 0); }
img { border: medium none ; }
.sep { color: black; background-color: rgb(255, 163, 79); }
table.colortable td { padding: 0pt; }
pre { font-size: 1.1em; font-family: Monaco,'Courier New',monospace; }
.nowrap { white-space: nowrap; }
.username-coloured { font-weight: bold; }
