/* ::::: http://l.yimg.com/e/serv/blog/css/top.css ::::: */

/* ::::: http://f6.wretch.yimg.com/wendy823/files/blog.css?1231540810 ::::: */

html {  }
body { margin: 0px; color: rgb(255, 255, 255); font-size: 13px; font-weight: normal; font-family: Georgia,arial,helvetica,sans-serif; line-height: 190%; height: 100%; background-image: url('background05.jpg'); background-position: -20px 0px; background-repeat: repeat-y; }
#blog_main, #container1, #container2, #pageheader { margin: 0px auto; padding-top: 0px; width: 100%; text-align: left; }
a { color: rgb(115, 210, 227); text-decoration: underline; }
a:link, a:hover, a:visited { text-decoration: underline; }
a:active { text-decoration: none; }
img { border: medium none rgb(204, 204, 204); }
p { font-size: 15px; line-height: 190%; color: rgb(102, 102, 102); }
h2, h3 { margin: 0px; padding: 0px; }
#banner { margin: 0px; padding: 0px; height: 290px; background-color: rgb(255, 255, 255); background-image: url('logo.gif'); background-repeat: no-repeat; background-position: -20px 0px; }
h1 { font-weight: bold; font-size: 20px; padding-left: 770px; padding-top: 70px; margin-top: 0px; letter-spacing: 4px; }
#description2 { width: 300px; padding-left: 430px; padding-top: 0px; }
.description { font-weight: normal; font-size: 13px; color: rgb(204, 204, 204); letter-spacing: 1px; }
h1 .description { display: none; }
#content { float: left; margin-right: 10px; width: 720px; }
.blog { margin-left: 50px; width: 650px; }
.blogbody { margin-bottom: 20px; font-size: 12px; color: rgb(0, 0, 0); font-family: arial,helvetica,sans-serif; line-height: 190%; }
.innertext { font-family: Georgia; font-size: 15px; line-height: 190%; color: rgb(102, 102, 102); }
.articletext { font-family: Georgia; font-size: 15px; line-height: 190%; color: rgb(102, 102, 102); }
.title { padding: 0px; width: 100%; margin-top: 15px; margin-bottom: 35px; font-weight: bold; font-size: 16px; text-align: left; color: rgb(253, 194, 150); }
.date { border-top: 1px solid rgb(204, 204, 204); padding: 5px 15px 15px; font-weight: normal; font-size: 13px; text-align: right; color: rgb(253, 194, 150); width: 98%; }
.extended { width: 100%; float: left; font-size: 13px; text-align: right; }
.posted { font-family: Georgia; text-align: right; }
.comments-head { padding-top: 20px; font-weight: bold; font-size: 16px; color: rgb(115, 210, 227); height: 10px; text-align: center; }
.comments-body { border-top: 1px dotted rgb(204, 204, 204); margin: 20px 0px 15px 13px; padding-top: 20px; font-size: 15px; line-height: 170%; }
.comments-body textarea { border: 1px solid rgb(204, 204, 204); background: rgb(240, 252, 255) url('bg-bw5.gif') repeat scroll 0% 0%; width: 600px; height: 300px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.comments-body input { border: 1px solid rgb(204, 204, 204); background: rgb(255, 255, 255) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.comments-body textarea { border: 1px dotted rgb(230, 227, 255); }
.comments-body input { border-style: none none dotted; border-color: -moz-use-text-color -moz-use-text-color rgb(204, 204, 204); border-width: 0px 0px 1px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.trackback-url { padding: 50px 0px 50px 10px; color: rgb(255, 255, 255); font-size: 15px; text-align: right; }
.trackback-url input { border: 0px none ; margin: 3px; background: rgb(224, 250, 255) none repeat scroll 0% 0%; font-size: 15px; color: rgb(115, 210, 227); -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; height: 20px; width: 75%; }
#links { width: 220px; padding-top: 0px; margin-left: 760px; }
.sidetitle { padding: 0px 0px 10px 10px; font-weight: bold; font-size: 15px; color: rgb(255, 255, 255); letter-spacing: 2px; text-align: left; }
.side { padding: 5px 5px 5px 10px; font-size: 13px; line-height: 180%; text-align: left; }
#links .side a { text-decoration: none; line-height: 210%; font-size: 13px; color: rgb(238, 238, 238); }
#links .side a:hover { background: rgb(224, 250, 255) none repeat scroll 0% 0%; color: rgb(84, 153, 166); -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#links #boxCategory .side br { display: none; }
#links #boxCategory .side a { font-size: 13px; display: block; line-height: 210%; text-decoration: none; }
#links #boxCategory .side a:hover { background: rgb(224, 250, 255) none repeat scroll 0% 0%; color: rgb(84, 153, 166); -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#links #boxCategory .boxCategory1 .side br { display: none; }
#links #boxCategory .boxCategory1 .side a { font-size: 13px; display: block; line-height: 210%; text-decoration: none; }
#links #boxCategory .boxCategory1 .side a:hover { background: rgb(224, 250, 255) none repeat scroll 0% 0%; color: rgb(84, 153, 166); -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#boxNewArticle .side br { display: none; }
#boxNewArticle .side a { font-size: 13px; display: block; line-height: 210%; text-decoration: none; }
#boxNewArticle .side a:hover { background: rgb(224, 250, 255) none repeat scroll 0% 0%; color: rgb(84, 153, 166); -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#boxNewComment .side { font-size: 11px; line-height: 210%; color: rgb(255, 255, 255); }
#boxNewTrackback { word-wrap: break-word; }
#boxNewTrackback .side { font-size: 13px; line-height: 230%; color: rgb(255, 255, 255); }
#boxDate { display: none; }
#boxSearch { display: none; }
.syndicate { display: none; }
.boxAddFriendLink, .boxGiftLink { display: none; }
/* ::::: http://l.yimg.com/e/serv/blog/css/font.css ::::: */

input { display: inline ! important; }
.boxNewTrackback1 { word-wrap: break-word; }
#boxMySpace ul { margin: 0px; padding: 0px; list-style-type: none; list-style-image: none; list-style-position: outside; }
ul { margin: 0pt; padding: 0pt; list-style-type: none; }
.total-comments-div img { border: 0pt none ; }
.comments-body { border-bottom: 1px dashed rgb(102, 102, 102); padding: 6px; margin-bottom: 12px; }
.comments-body {  }
.comments-body a * { vertical-align: middle; }
#content #push { border: 1px solid rgb(153, 153, 153); background: transparent url('border.png') no-repeat scroll 0pt 0pt; float: right; text-align: center; width: 81px; height: 59px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; margin-bottom: 3px; margin-left: 3px; line-height: 18px; font-size: 12px; font-family: georgia; color: rgb(75, 75, 75); }
#content #push span { display: block; font-weight: bold; font-size: 16px; }
html #push a { border: 1px solid rgb(170, 170, 170); margin: 0pt 0pt 0pt 1px; padding: 0pt 0pt 0pt 12px; display: block; width: 24px; height: 19px; float: left; text-decoration: none; color: rgb(119, 119, 119); font-size: 13px; }
html #push a.push:hover { border-color: rgb(26, 132, 183); color: rgb(0, 153, 204); }
html #push a.pull:hover { border-color: rgb(226, 102, 158); color: rgb(255, 0, 153); }
html #push a.push { background: transparent url('push.gif') no-repeat scroll center center; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
html > body #push a.push { margin: 0pt 0pt 0pt 2px; }
html #push a.pull { background: transparent url('pull.gif') no-repeat scroll center center; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.clearfix:after { content: "."; display: block; height: 0pt; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
.clearfix { display: block; }
#bigcontainer #container1 .extended span { padding-left: 15px; }
#bigcontainer #container1 .extended span a { display: inline; }
/* ::::: http://l.yimg.com/e/serv/blog/css/friend_picker.css ::::: */

#collection_comments { border: 5px solid rgb(223, 232, 246); padding: 1em; position: absolute; top: 0pt; background-color: rgb(255, 255, 255); z-index: 500; color: rgb(68, 68, 68); }
#collection_comments .icon { position: absolute; top: 5px; right: 5px; cursor: pointer; }
#friend-picker { border: 1px solid rgb(223, 232, 246); background: rgb(255, 255, 255) none repeat scroll 0% 0%; font-size: 11px; font-family: arial,sans-serif; color: rgb(102, 102, 102); width: 405px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; position: absolute; top: 0pt; z-index: 100; visibility: hidden; }
#friend-picker-container { border: 5px solid rgb(223, 232, 246); }
#friend-picker a { color: rgb(26, 132, 183); text-decoration: none; }
#friend-picker img { border: medium none ; }
#friend-picker-bd { padding-left: 7px; }
#friend-picker-bd:after, #friend-picker-pagination:after { content: "."; display: block; height: 0pt; clear: both; visibility: hidden; }
#friend-picker #friend-picker-pagination { margin: 7px 0pt 7px -9px; text-align: center; clear: both; font-size: 13px; }
#friend-picker #friend-picker-closebtn { text-decoration: none; cursor: pointer; position: absolute; top: 5px; right: 5px; }
#loading { position: absolute; top: 4px; right: 25px; display: none; }
#friend-picker #friend-picker-hd { background-color: rgb(248, 251, 252); height: 18px; }
#friend-picker #friend-picker-hd { text-indent: 7px; }
#Wretch-haha, #Wretch-haha-spacer, #Wretch-haha table, #Wretch-haha table tbody, #Wretch-haha table tbody tr, #Wretch-haha table tbody tr td, #Wretch-haha table tbody tr td a, #Wretch-haha table tbody tr td div, #Wretch-haha table tbody tr td div span, #Wretch-haha table tbody tr td div span a, #Wretch-haha table tbody tr td input { margin: 0pt; padding: 0pt; visibility: visible ! important; opacity: 1 ! important; clip: inherit ! important; line-height: 20px ! important; font-size: 12px ! important; width: auto ! important; text-align: left ! important; }
#Wretch-haha-spacer { height: 20px; }
#Wretch-haha { background: rgb(238, 237, 221) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; height: 20px; position: absolute; top: 0pt ! important; right: 0pt ! important; z-index: 50000; padding-right: 5px; font-family: arial; font-size: 12px; width: 200% ! important; }
#Wretch-haha table { background: rgb(238, 237, 221) none repeat scroll 0% 0% ! important; display: table ! important; -moz-background-clip: border ! important; -moz-background-origin: padding ! important; -moz-background-inline-policy: continuous ! important; }
#Wretch-haha table tbody { display: table-row-group; }
#Wretch-haha table tbody tr { display: table-row ! important; }
#Wretch-haha table tbody tr td { display: table-cell ! important; }
#Wretch-haha-spacer, #Wretch-haha table tbody tr td div, #Wretch-haha table tbody tr td div span a { display: block ! important; }
#Wretch-haha table tbody tr td a, #Wretch-haha table tbody tr td span a, #Wretch-haha table tbody tr td input { display: inline; }
#Wretch-haha table tr td div { color: rgb(204, 204, 204); }
#Wretch-haha a { background: transparent none repeat scroll 0% 0%; text-decoration: none; color: rgb(0, 0, 0); -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; cursor: pointer; font-weight: normal; }
#Wretch-haha a:hover { text-decoration: underline; }
#Wretch-haha table { height: 20px; }
#Wretch-haha td { color: rgb(204, 204, 204); }
#Wretch-haha input { border: medium none ; height: 16px; }
#Wretch-haha .Wretch-haha-text { padding: 0pt 5px 0pt 2px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 100px ! important; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; color: rgb(102, 102, 102); font-size: 11px; }
#Wretch-haha .Wretch-haha-submit { background: transparent url('zoom.gif') no-repeat scroll 0% 0%; width: 16px ! important; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; cursor: pointer; }
#Wretch-haha-menubar { position: relative; z-index: 50001; }
#Wretch-haha-menubar span { border: 1px solid rgb(204, 204, 204); position: absolute; top: 16px; left: 2px; width: 93px; background-color: rgb(238, 237, 221); display: none; }
#Wretch-haha table #Wretch-haha-menubar a { margin: 0pt 5px; white-space: nowrap; }
