
/* ::::: null ::::: */

body, th, input, select, textarea, select, checkbox { font-family: 宋體; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12pt; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
a:link { text-decoration: underline; color: rgb(230, 163, 6); }
a:visited { text-decoration: underline; color: rgb(230, 163, 6); }
a:hover { text-decoration: underline; color: rgb(255, 255, 0); }
body { font-family: "宋體","serif"; font-size: 12pt; }
td { font-family: "宋體","serif"; font-size: 12pt; }
p { font-size: 9pt; line-height: 150%; }
