@font-face {
  font-family: "新細明體";}
@font-face {
  font-family: "@新細明體";}
@font-face {
  font-family: "CityBlueprint";}
p.MsoNormal, li.MsoNormal, div.MsoNormal { margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: 新細明體; color: rgb(0, 51, 153); }
h1 { margin: 0cm 0cm 0.0001pt; text-align: center; page-break-after: avoid; font-size: 24pt; font-family: 新細明體; color: rgb(102, 0, 102); font-weight: normal; }
a:link, span.MsoHyperlink { color: rgb(51, 102, 255); text-decoration: underline; }
a:visited, span.MsoHyperlinkFollowed { color: rgb(153, 0, 255); text-decoration: underline; }
div.Section1 { page: Section1; }
