@font-face {
  font-family: "新細明體";}
@font-face {
  font-family: "新細明體";}
@font-face {
  font-family: "標楷體";}
@font-face {
  font-family: "@標楷體";}
@font-face {
  font-family: "@新細明體";}
p.MsoNormal, li.MsoNormal, div.MsoNormal { margin: 0cm 0cm 0.0001pt; font-size: 12pt; font-family: "Times New Roman","serif"; }
a:link, span.MsoHyperlink { color: blue; text-decoration: underline; }
a:visited, span.MsoHyperlinkFollowed { color: purple; text-decoration: underline; }
span.SpellE {  }
span.GramE {  }
div.WordSection1 { page: WordSection1; }
