@font-face {
  font-family: "新細明體";}
@font-face {
  font-family: "細明體";}
@font-face {
  font-family: "@細明體";}
@font-face {
  font-family: "@新細明體";}
p.MsoNormal, li.MsoNormal, div.MsoNormal { font-size: 12pt; font-family: Times New Roman; margin: 0cm 0cm 0.0001pt; }
div.Section1 { page: Section1; }
