@font-face {
  font-family: "Wingdings";}
@font-face {
  font-family: "新細明體";}
@font-face {
  font-family: "細明體";}
@font-face {
  font-family: "@新細明體";}
@font-face {
  font-family: "@細明體";}
p.MsoNormal, li.MsoNormal, div.MsoNormal { font-size: 12pt; font-family: Times New Roman; margin: 0cm 0cm 0.0001pt; }
h1 { font-size: 24pt; font-family: 新細明體; margin-left: 0cm; margin-right: 0cm; }
h2 { line-height: 300%; page-break-after: avoid; font-size: 24pt; font-family: Arial; color: blue; margin: 0cm 0cm 0.0001pt; }
div.Section1 { page: Section1; }
ul { margin-bottom: 0cm; }
