
/* ::::: http://en.wikipedia.org/skins-1.5/common/shared.css?203xx ::::: */

.mw-plusminus-null { color: rgb(170, 170, 170); }
.texvc { direction: ltr; unicode-bidi: embed; }
img.tex { vertical-align: middle; }
span.texhtml { font-family: serif; }
#wikiPreview.ontop { margin-bottom: 1em; }
#toolbar, #wpTextbox1 { clear: both; }
div#mw-js-message { border: 1px solid rgb(221, 221, 221); margin: 1em 5%; padding: 0.5em 2.5%; background-color: rgb(252, 252, 252); }
.editsection { float: right; margin-left: 5px; }
table.filehistory { border: 1px solid rgb(204, 204, 204); border-collapse: collapse; }
table.filehistory th, table.filehistory td { border: 1px solid rgb(204, 204, 204); padding: 0pt 0.2em; vertical-align: top; }
table.filehistory th { text-align: left; }
table.filehistory td.mw-imagepage-filesize, table.filehistory th.mw-imagepage-filesize { white-space: nowrap; }
table.filehistory td.filehistory-selected { font-weight: bold; }
li span.deleted, span.history-deleted { text-decoration: line-through; color: rgb(136, 136, 136); font-style: italic; }
body.ltr td.mw-label { text-align: right; }
body.ltr td.mw-input { text-align: left; }
body.ltr td.mw-submit { text-align: left; }
body.rtl td.mw-label { text-align: left; }
body.rtl td.mw-input { text-align: right; }
body.rtl td.mw-submit { text-align: right; }
td.mw-label { vertical-align: top; }
td.mw-submit { white-space: nowrap; }
body.rtl .thumbcaption { text-align: right; }
body.rtl .magnify { float: left; }
body.ltr .thumbcaption { text-align: left; }
body.ltr .magnify { float: right; }
.mw-hidden-cats-hidden { display: none; }
.catlinks-allhidden { display: none; }
p.mw-ipb-conveniencelinks, p.mw-protect-editreasons, p.mw-filedelete-editreasons, p.mw-delete-editreasons { font-size: 90%; float: right; }
div.searchresult { font-size: 95%; width: 38em; }
.mw-search-results li { padding-bottom: 1em; list-style-type: none; list-style-image: none; list-style-position: outside; }
.mw-search-result-data { color: green; font-size: 97%; }
td#mw-search-menu { padding-left: 6em; font-size: 85%; }
div#mw-search-interwiki { border: 1px solid rgb(170, 170, 170); float: right; width: 18em; margin-top: 2ex; }
div#mw-search-interwiki li { font-size: 95%; }
.mw-search-interwiki-more { float: right; font-size: 90%; }
span.searchalttitle { font-size: 95%; }
div.searchdidyoumean { font-size: 127%; margin-bottom: 1ex; margin-top: 1ex; color: rgb(204, 0, 0); }
div.searchdidyoumean em { font-weight: bold; }
.searchmatch { font-weight: bold; }
div.searchresults { border: 1px solid darkblue; padding: 10px 20px; }
.mw-userrights-disabled { color: rgb(136, 136, 136); }
table.mw-userrights-groups * td, table.mw-userrights-groups * th { padding-right: 1.5em; }
.os-suggest { border: 1px solid rgb(170, 170, 170); overflow-y: auto; overflow-x: hidden; position: absolute; top: 0px; left: 0px; width: 0px; background-color: window; z-index: 99; visibility: hidden; font-size: 95%; }
table.os-suggest-results { border: 0pt none ; font-size: 95%; cursor: pointer; border-collapse: collapse; width: 100%; }
td.os-suggest-result, td.os-suggest-result-hl { padding: 2px; white-space: nowrap; background-color: window; color: windowtext; }
td.os-suggest-result-hl, td.os-suggest-result-hl-webkit { background-color: rgb(76, 89, 166); color: white; }
td.os-suggest-result-hl { background-color: highlight; color: highlighttext; }
.os-suggest-toggle { position: relative; left: 1ex; font-size: 65%; }
.os-suggest-toggle-def { position: absolute; top: 0px; left: 0px; font-size: 65%; visibility: hidden; }
.autocomment { color: gray; }
#pagehistory .history-user { margin-left: 0.4em; margin-right: 0.2em; }
#pagehistory span.minor { font-weight: bold; }
#pagehistory li { border: 1px solid white; }
#pagehistory li.selected { border: 1px dashed rgb(170, 170, 170); background-color: rgb(249, 249, 249); }
table.mw-listgrouprights-table, table.mw-statistics-table { border: 1px solid rgb(204, 204, 204); border-collapse: collapse; }
table.mw-listgrouprights-table tr { vertical-align: top; }
table.mw-listgrouprights-table td, table.mw-listgrouprights-table th, table.mw-statistics-table td, table.mw-statistics-table th { border: 1px solid rgb(204, 204, 204); padding: 0.5em 0.2em; }
td.mw-statistics-numbers { text-align: right; }
h4.mw-specialpagesgroup { margin: 0.3em 0em 0em; padding: 2px; background-color: rgb(220, 220, 220); }
.mw-specialpagerestricted { font-weight: bold; }
#shared-image-dup, #shared-image-conflict { font-style: italic; }
table.mw-emailuser-table { width: 98%; }
td#mw-emailuser-sender, td#mw-emailuser-recipient { font-weight: bold; }
div.mw-warning-with-logexcerpt { border: 2px solid rgb(47, 111, 171); padding: 3px; margin-bottom: 3px; }
div.mw-warning-with-logexcerpt ul li { font-size: 90%; }
span.mw-revdelundel-link, strong.mw-revdelundel-link { font-family: monospace; font-size: smaller; }
a.feedlink { background: transparent url('feed-icon.png') no-repeat scroll left center; padding-left: 16px; }

/* ::::: http://en.wikipedia.org/skins-1.5/monobook/main.css?203xx ::::: */

#column-content { margin: 0pt 0pt 0.6em -12.2em; padding: 0pt; width: 100%; float: right; }
#content { margin: 2.8em 0pt 0pt 12.2em; padding: 0pt 1em 1em; position: relative; z-index: 2; }
#column-one { padding-top: 160px; }
#content { border-style: solid none solid solid; border-color: rgb(170, 170, 170) -moz-use-text-color rgb(170, 170, 170) rgb(170, 170, 170); border-width: 1px medium 1px 1px; background: white none repeat scroll 0% 0%; color: black; line-height: 1.5em; }
body { margin: 0pt; padding: 0pt; background: rgb(249, 249, 249) url('headbg.jpg') no-repeat scroll 0pt 0pt; font-family: sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: x-small; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; color: black; }
#globalWrapper { margin: 0pt; padding: 0pt; font-size: 127%; width: 100%; }
.visualClear { clear: both; }
table { font-size: 100%; color: black; background-color: white; }
fieldset table { background: transparent none repeat scroll 0% 0%; }
a { background: transparent none repeat scroll 0% 0%; text-decoration: none; color: rgb(0, 43, 184); }
a:visited { color: rgb(90, 54, 150); }
a:active { color: rgb(250, 167, 0); }
a:hover { text-decoration: underline; }
a.stub { color: rgb(119, 34, 51); }
a.new, #p-personal a.new { color: rgb(186, 0, 0); }
a.new:visited, #p-personal a.new:visited { color: rgb(165, 88, 88); }
img { border: medium none ; vertical-align: middle; }
p { margin: 0.4em 0pt 0.5em; line-height: 1.5em; }
p img { margin: 0pt; }
hr { border: 0pt none ; margin: 0.2em 0pt; height: 1px; color: rgb(170, 170, 170); background-color: rgb(170, 170, 170); }
h1, h2, h3, h4, h5, h6 { border-bottom: 1px solid rgb(170, 170, 170); margin: 0pt; background: transparent none repeat scroll 0% 0%; color: black; font-weight: normal; padding-top: 0.5em; padding-bottom: 0.17em; }
h1 { font-size: 188%; }
h1 .editsection { font-size: 53%; }
h2 { font-size: 150%; }
h2 .editsection { font-size: 67%; }
h3, h4, h5, h6 { border-bottom: medium none; font-weight: bold; }
h3 { font-size: 132%; }
h3 .editsection { font-size: 76%; font-weight: normal; }
h4 { font-size: 116%; }
h4 .editsection { font-size: 86%; font-weight: normal; }
h5 { font-size: 100%; }
h5 .editsection { font-weight: normal; }
h6 { font-size: 80%; }
h6 .editsection { font-size: 125%; font-weight: normal; }
ul { margin: 0.3em 0pt 0pt 1.5em; padding: 0pt; line-height: 1.5em; list-style-type: square; list-style-image: url('bullet.gif'); }
ol { margin: 0.3em 0pt 0pt 3.2em; padding: 0pt; line-height: 1.5em; list-style-image: none; }
li { margin-bottom: 0.1em; }
dt { font-weight: bold; margin-bottom: 0.1em; }
dl { margin-top: 0.2em; margin-bottom: 0.5em; }
dd { line-height: 1.5em; margin-left: 2em; margin-bottom: 0.1em; }
fieldset { border: 1px solid rgb(47, 111, 171); margin: 1em 0pt; padding: 0pt 1em 1em; line-height: 1.5em; }
fieldset.nested { margin: 0pt 0pt 0.5em; padding: 0pt 0.5em 0.5em; }
legend { padding: 0.5em; font-size: 95%; }
form { border: medium none ; margin: 0pt; }
textarea { padding: 0.1em; width: 100%; }
input.historysubmit { padding: 0pt 0.3em 0.3em ! important; font-size: 94%; cursor: pointer; height: 1.7em ! important; margin-left: 1.6em; }
select { vertical-align: top; }
abbr, acronym, .explain { border-bottom: 1px dotted black; background: transparent none repeat scroll 0% 0%; color: black; cursor: help; }
q { font-family: Times,"Times New Roman",serif; font-style: italic; }
code { background-color: rgb(249, 249, 249); }
pre { border: 1px dashed rgb(47, 111, 171); padding: 1em; color: black; background-color: rgb(249, 249, 249); line-height: 1.1em; }
#siteSub { display: none; }
#jump-to-nav { display: none; }
#contentSub, #contentSub2 { margin: 0pt 0pt 1.4em 1em; font-size: 84%; line-height: 1.2em; color: rgb(125, 125, 125); width: auto; }
span.subpages { display: block; }
#bodyContent h1, #bodyContent h2 { margin-bottom: 0.6em; }
#bodyContent h3, #bodyContent h4, #bodyContent h5 { margin-bottom: 0.3em; }
#firstHeading { margin-bottom: 0.1em; line-height: 1.2em; padding-bottom: 0pt; }
.usermessage { border: 1px solid rgb(255, 165, 0); margin: 2em 0pt 1em; padding: 0.5em 1em; background-color: rgb(255, 206, 123); color: black; font-weight: bold; vertical-align: middle; }
#siteNotice { padding: 0pt 0.9em; text-align: center; font-size: 95%; }
#siteNotice p { margin: 0pt; padding: 0pt; }
.success { color: green; font-size: larger; }
.error { color: red; font-size: larger; }
.errorbox, .successbox { border: 2px solid ; padding: 0.5em 1em; font-size: larger; float: left; margin-bottom: 2em; color: rgb(0, 0, 0); }
.errorbox { border-color: red; background-color: rgb(255, 242, 242); }
.successbox { border-color: green; background-color: rgb(221, 255, 221); }
.errorbox h2, .successbox h2 { border: medium none ; margin: 0pt 0.5em 0pt 0pt; font-size: 1em; font-weight: bold; display: inline; }
.catlinks { border: 1px solid rgb(170, 170, 170); padding: 5px; background-color: rgb(249, 249, 249); margin-top: 1em; clear: both; }
.documentDescription { margin: 1em 0pt; font-weight: bold; display: block; line-height: 1.5em; }
.documentByLine { text-align: right; font-size: 90%; clear: both; font-weight: normal; color: rgb(118, 121, 124); }
.center { width: 100%; text-align: center; }
.center * { margin-left: auto; margin-right: auto; }
.small, .small * { font-size: 94%; }
table.small { font-size: 100%; }
#toc, .toc, .mw-warning { border: 1px solid rgb(170, 170, 170); padding: 5px; background-color: rgb(249, 249, 249); font-size: 95%; }
#toc h2, .toc h2 { border: medium none ; padding: 0pt; display: inline; font-size: 100%; font-weight: bold; }
#toc #toctitle, .toc #toctitle, #toc .toctitle, .toc .toctitle { text-align: center; }
#toc ul, .toc ul { list-style-type: none; list-style-image: none; margin-left: 0pt; padding-left: 0pt; text-align: left; }
#toc ul ul, .toc ul ul { margin: 0pt 0pt 0pt 2em; }
#toc .toctoggle, .toc .toctoggle { font-size: 94%; }
.mw-warning { margin-left: 50px; margin-right: 50px; text-align: center; }
div.floatright, table.floatright { border: 0pt none ; margin: 0pt 0pt 0.5em 0.5em; clear: right; float: right; position: relative; }
div.floatright p { font-style: italic; }
div.floatleft, table.floatleft { border: 0pt none ; margin: 0pt 0.5em 0.5em 0pt; float: left; clear: left; position: relative; }
div.floatleft p { font-style: italic; }
div.thumb { border-style: solid; border-color: white; margin-bottom: 0.5em; width: auto; }
div.thumbinner { border: 1px solid rgb(204, 204, 204); padding: 3px ! important; overflow: hidden; background-color: rgb(249, 249, 249); font-size: 94%; text-align: center; }
html .thumbimage { border: 1px solid rgb(204, 204, 204); }
html .thumbcaption { border: medium none ; padding: 3px ! important; text-align: left; line-height: 1.4em; font-size: 94%; }
div.magnify { border: medium none  ! important; background: transparent none repeat scroll 0% 0% ! important; float: right; }
div.magnify a, div.magnify img { border: medium none  ! important; background: transparent none repeat scroll 0% 0% ! important; display: block; }
div.tright { border-width: 0.5em 0pt 0.8em 1.4em; clear: right; float: right; }
div.tleft { border-width: 0.5em 1.4em 0.8em 0pt; float: left; clear: left; margin-right: 0.5em; }
img.thumbborder { border: 1px solid rgb(221, 221, 221); }
.hiddenStructure { display: none; }
table.rimage { float: right; position: relative; margin-left: 1em; margin-bottom: 1em; text-align: center; }
.toccolours { border: 1px solid rgb(170, 170, 170); padding: 5px; background-color: rgb(249, 249, 249); font-size: 95%; }
.special li { margin: 0pt; padding: 0pt; line-height: 1.4em; }
#bodyContent a.external, #bodyContent a[href^="gopher://"] { background: transparent url('external.png') no-repeat scroll right center; padding-right: 13px; }
#bodyContent a[href^="https://"], .link-https { background: transparent url('lock_icon.gif') no-repeat scroll right center; padding-right: 16px; }
#bodyContent a[href^="mailto:"], .link-mailto { background: transparent url('mail_icon.gif') no-repeat scroll right center; padding-right: 18px; }
#bodyContent a[href^="news://"] { background: transparent url('news_icon.png') no-repeat scroll right center; padding-right: 18px; }
#bodyContent a[href^="ftp://"], .link-ftp { background: transparent url('file_icon.gif') no-repeat scroll right center; padding-right: 18px; }
#bodyContent a[href^="irc://"], #bodyContent a.extiw[href^="irc://"], .link-irc { background: transparent url('discussionitem_icon.gif') no-repeat scroll right center; padding-right: 18px; }
#bodyContent a.external[href$=".ogg"], #bodyContent a.external[href$=".OGG"], #bodyContent a.external[href$=".mid"], #bodyContent a.external[href$=".MID"], #bodyContent a.external[href$=".midi"], #bodyContent a.external[href$=".MIDI"], #bodyContent a.external[href$=".mp3"], #bodyContent a.external[href$=".MP3"], #bodyContent a.external[href$=".wav"], #bodyContent a.external[href$=".WAV"], #bodyContent a.external[href$=".wma"], #bodyContent a.external[href$=".WMA"], .link-audio { background: transparent url('audio.png') no-repeat scroll right center; padding-right: 13px; }
#bodyContent a.external[href$=".ogm"], #bodyContent a.external[href$=".OGM"], #bodyContent a.external[href$=".avi"], #bodyContent a.external[href$=".AVI"], #bodyContent a.external[href$=".mpeg"], #bodyContent a.external[href$=".MPEG"], #bodyContent a.external[href$=".mpg"], #bodyContent a.external[href$=".MPG"], .link-video { background: transparent url('video.png') no-repeat scroll right center; padding-right: 13px; }
#bodyContent a.external[href$=".pdf"], #bodyContent a.external[href$=".PDF"], #bodyContent a.external[href*=".pdf#"], #bodyContent a.external[href*=".PDF#"], #bodyContent a.external[href*=".pdf?"], #bodyContent a.external[href*=".PDF?"], .link-document { background: transparent url('document.png') no-repeat scroll right center; padding-right: 12px; }
#bodyContent a.extiw, #bodyContent a.extiw:active { padding: 0pt; background: transparent none repeat scroll 0% 0%; color: rgb(51, 102, 187); }
#bodyContent a.external { color: rgb(51, 102, 187); }
#bodyContent .plainlinks a { padding: 0pt ! important; background: transparent none repeat scroll 0% 0% ! important; }
.portlet { border: medium none ; margin: 0pt 0pt 0.5em; padding: 0pt; overflow: hidden; float: none; width: 11.6em; }
.portlet h4 { font-size: 95%; font-weight: normal; white-space: nowrap; }
.portlet h5 { padding: 0pt 1em 0pt 0.5em; background: transparent none repeat scroll 0% 0%; display: inline; height: 1em; text-transform: lowercase; font-size: 91%; font-weight: normal; white-space: nowrap; }
.portlet h6 { border-style: solid solid none; border-color: rgb(47, 111, 171); border-width: 1px; padding: 0pt 1em; background: rgb(255, 174, 46) none repeat scroll 0% 0%; text-transform: lowercase; display: block; font-size: 1em; height: 1.2em; font-weight: normal; white-space: nowrap; }
.pBody { border: 1px solid rgb(170, 170, 170); padding: 0pt 0.8em 0.3em 0.5em; font-size: 95%; background-color: white; color: black; border-collapse: collapse; }
.portlet h1, .portlet h2, .portlet h3, .portlet h4 { margin: 0pt; padding: 0pt; }
.portlet ul { line-height: 1.5em; list-style-type: square; list-style-image: url('bullet.gif'); font-size: 95%; }
.portlet li { margin: 0pt; padding: 0pt; }
#p-logo { overflow: visible; top: 0pt; left: 0pt; position: absolute; z-index: 3; height: 155px; width: 12em; }
#p-logo h5 { display: none; }
#p-logo a, #p-logo a:hover { display: block; height: 155px; width: 12.2em; background-repeat: no-repeat; background-position: 35% 50% ! important; text-decoration: none; }
#p-search { position: relative; z-index: 3; }
input.searchButton { margin-top: 1px; font-size: 95%; }
#searchGoButton { padding-left: 0.5em; padding-right: 0.5em; font-weight: bold; }
#searchInput { margin: 0pt; width: 10.9em; font-size: 95%; }
#p-search .pBody { padding: 0.5em 0.4em 0.4em; text-align: center; }
#p-search #searchform div div { margin-top: 0.4em; font-size: 95%; }
#p-personal { position: absolute; left: 0pt; top: 0pt; z-index: 0; }
#p-personal { border: medium none ; margin: 0pt; padding: 0pt; background: transparent none repeat scroll 0% 0%; overflow: visible; width: 100%; white-space: nowrap; line-height: 1.2em; }
#p-personal h5 { display: none; }
#p-personal .portlet, #p-personal .pBody { border: medium none ; margin: 0pt; padding: 0pt; background: transparent none repeat scroll 0% 0%; overflow: visible; z-index: 0; }
#p-personal ul { border: medium none ; margin: 0pt; padding: 0pt 2em 0pt 3em; background: transparent none repeat scroll 0% 0%; line-height: 1.4em; color: rgb(47, 111, 171); text-align: right; list-style-type: none; list-style-image: none; list-style-position: outside; z-index: 0; cursor: default; }
#p-personal li { border: medium none ; padding: 0pt; background: transparent none repeat scroll 0% 0%; z-index: 0; display: inline; color: rgb(47, 111, 171); margin-left: 1em; line-height: 1.2em; }
#p-personal li a { background: transparent none repeat scroll 0% 0%; text-decoration: none; color: rgb(0, 88, 150); padding-bottom: 0.2em; }
#p-personal li a:hover { background-color: white; padding-bottom: 0.2em; text-decoration: none; }
#p-personal li.active a:hover { background-color: transparent; }
li#pt-userpage, li#pt-anonuserpage, li#pt-login { background: transparent url('user.gif') no-repeat scroll left top; padding-left: 20px; text-transform: none; }
#p-personal ul { text-transform: lowercase; }
#p-personal li.active { font-weight: bold; }
#p-cactions { margin: 0pt; background: transparent none repeat scroll 0% 0%; overflow: visible; position: absolute; top: 1.3em; left: 11.5em; white-space: nowrap; width: 76%; line-height: 1.1em; border-collapse: collapse; padding-left: 1em; list-style-type: none; list-style-image: none; list-style-position: outside; font-size: 95%; }
#p-cactions ul { list-style-type: none; list-style-image: none; list-style-position: outside; }
#p-cactions li { border-style: solid solid none; border-color: rgb(170, 170, 170) rgb(170, 170, 170) -moz-use-text-color; border-width: 1px 1px medium; margin: 0pt 0.3em 0pt 0pt; padding: 0pt 0pt 0.1em; background: white none repeat scroll 0% 0%; overflow: visible; display: inline; }
#p-cactions li.selected { border-color: rgb(250, 189, 35); padding: 0pt 0pt 0.2em; font-weight: bold; }
#p-cactions li a { border: medium none ; margin: 0pt; padding: 0pt 0.8em 0.3em; background-color: rgb(251, 251, 251); color: rgb(0, 43, 184); position: relative; z-index: 0; text-decoration: none; }
#p-cactions li.selected a { padding: 0pt 1em 0.2em ! important; z-index: 3; background-color: white; }
#p-cactions .new a { color: rgb(186, 0, 0); }
#p-cactions li a:hover { z-index: 3; text-decoration: none; background-color: white; }
#p-cactions h5 { display: none; }
#p-cactions li.istalk { margin-right: 0pt; }
#p-cactions li.istalk a { padding-right: 0.5em; }
#p-cactions #ca-addsection a { padding-left: 0.4em; padding-right: 0.4em; }
li#ca-talk { margin-right: 1.6em; }
li#ca-watch, li#ca-unwatch, li#ca-varlang-0, li#ca-print { margin-left: 1.6em; }
#p-cactions .pBody { border: 0pt none ; padding: 0pt; font-size: 1em; background-color: transparent; color: inherit; border-collapse: inherit; }
#p-cactions .hiddenStructure { display: none; }
#p-cactions li a { text-transform: lowercase; }
#p-lang { position: relative; z-index: 3; }
#t-ispermalink, #t-iscite { color: rgb(153, 153, 153); }
#footer { border-top: 1px solid rgb(250, 189, 35); border-bottom: 1px solid rgb(250, 189, 35); margin: 0.6em 0pt 1em; padding: 0.4em 0pt 1.2em; background-color: white; text-align: center; font-size: 90%; }
#footer li { margin: 0pt 1.3em; display: inline; }
#f-poweredbyico, #f-copyrightico { margin: 0pt 8px; position: relative; top: -2px; }
#f-poweredbyico { float: right; height: 1%; }
#f-copyrightico { float: left; height: 1%; }
#preftoc { margin: 0pt; padding: 0pt; width: 100%; clear: both; }
#preftoc li { background-color: rgb(240, 240, 240); color: rgb(0, 0, 0); }
#preftoc li { border-style: solid solid none; border-color: rgb(255, 255, 255) rgb(113, 111, 100) -moz-use-text-color rgb(255, 255, 255); border-width: 1px 1px 0pt; margin: 1px -2px 1px 2px; padding: 2px 0pt 3px; float: left; position: relative; white-space: nowrap; list-style-type: none; list-style-image: none; z-index: 3; }
#preftoc li.selected { border-style: solid solid none; border-color: rgb(170, 170, 170) rgb(170, 170, 170) -moz-use-text-color; border-width: 1px 1px medium; font-weight: bold; background-color: rgb(249, 249, 249); cursor: default; top: 1px; padding-top: 2px; margin-right: -3px; }
#preftoc > li.selected { top: 2px; }
#preftoc a, #preftoc a:active { padding: 0pt 0.7em; display: block; color: rgb(0, 0, 0); position: relative; text-decoration: none; }
#preftoc li.selected a { cursor: default; text-decoration: none; }
#prefcontrol { padding-top: 2em; clear: both; }
#preferences { border: 1px solid rgb(170, 170, 170); margin: 0pt; padding: 1.5em; clear: both; background-color: rgb(249, 249, 249); }
.prefsection { border: medium none ; margin: 0pt; padding: 0pt; }
.prefsection fieldset { border: 1px solid rgb(170, 170, 170); float: left; margin-right: 2em; }
.prefsection legend { font-weight: bold; }
.prefsection table, .prefsection legend { background-color: rgb(249, 249, 249); }
.mainLegend { display: none; }
div.prefsectiontip { padding: 0.2em 2em; font-size: x-small; color: rgb(102, 102, 102); }
.btnSavePrefs { font-weight: bold; padding-left: 0.3em; padding-right: 0.3em; }
.preferences-login { clear: both; margin-bottom: 1.5em; }
.prefcache { font-size: 90%; margin-top: 2em; }
div#userloginForm form, div#userlogin form#userlogin2 { border: 1px solid rgb(170, 170, 170); margin: 0pt 3em 1em 0pt; padding: 1.5em 2em; clear: both; background-color: rgb(249, 249, 249); float: left; }
.rtl div#userloginForm form, .rtl div#userlogin form#userlogin2 { float: right; }
div#userloginForm table, div#userlogin form#userlogin2 table { background-color: rgb(249, 249, 249); }
div#userloginForm h2, div#userlogin form#userlogin2 h2 { padding-top: 0pt; }
div#userlogin .captcha, div#userloginForm .captcha { border: 1px solid rgb(187, 187, 187); padding: 1.5em 2em; background-color: white; }
#loginend, #signupend { clear: both; }
#userloginprompt, #languagelinks { font-size: 85%; }
#login-sectiontip { font-size: 85%; line-height: 1.2; padding-top: 2em; }
#userlogin .loginText, #userlogin .loginPassword { width: 12em; }
#userloginlink a, #wpLoginattempt, #wpCreateaccount { font-weight: bold; }
* > html #p-cactions li { border: medium none ; }
* > html #p-cactions li a { border-style: solid solid none; border-color: rgb(170, 170, 170) rgb(170, 170, 170) -moz-use-text-color; border-width: 1px 1px medium; }
* > html #p-cactions li.selected a { border-color: rgb(250, 189, 35); }
* > html #f-poweredbyico, * > html #f-copyrightico { width: 88px; }
* > html #bodyContent, * > html #bodyContent pre { overflow-x: auto; width: 100%; padding-bottom: 25px; }
* html #footer { margin-top: 0pt; }
* html #column-content { display: inline; margin-bottom: 0pt; }
* html div.editsection { font-size: smaller; }
#pagehistory li.selected { position: relative; }
* > html #column-content { float: none; }
* > html #column-one { position: absolute; left: 0pt; top: 0pt; }
* > html #footer { margin-left: 13.2em; }
.redirectText { margin: 5px; font-size: 150%; }
.printfooter { display: none; }
.not-patrolled { background-color: rgb(255, 255, 170); }
div.patrollink { clear: both; font-size: 75%; text-align: right; }
span.newpage, span.minor, span.bot { font-weight: bold; }
span.unpatrolled { font-weight: bold; color: red; }
.sharedUploadNotice { font-style: italic; }
span.updatedmarker { color: black; background-color: rgb(0, 255, 0); }
table.gallery { border: 1px solid rgb(204, 204, 204); margin: 2px; padding: 2px; background-color: white; }
table.gallery tr { vertical-align: top; }
table.gallery td { border: 2px solid white; vertical-align: top; background-color: rgb(249, 249, 249); }
table.gallery td.galleryheader { text-align: center; font-weight: bold; }
table.gallery caption { font-weight: bold; }
div.gallerybox { margin: 2px; }
div.gallerybox div.thumb { border: 1px solid rgb(204, 204, 204); margin: 2px; text-align: center; }
div.gallerytext { padding: 2px 4px; overflow: hidden; font-size: 94%; }
span.comment { font-style: italic; }
span.changedby { font-size: 95%; }
.previewnote { border-bottom: 1px solid rgb(170, 170, 170); text-indent: 3em; color: rgb(204, 0, 0); padding-bottom: 1em; margin-bottom: 1em; }
.previewnote p { margin: 0pt; padding: 0pt; }
.editExternally { border: 1px solid gray; padding: 3px; background-color: rgb(255, 255, 255); margin-top: 0.5em; float: left; font-size: small; text-align: center; }
.editExternallyHelp { font-style: italic; color: gray; }
.toggle { margin-left: 2em; text-indent: -2em; }
table.mw_metadata { font-size: 0.8em; margin-left: 0.5em; margin-bottom: 0.5em; width: 300px; }
table.mw_metadata caption { font-weight: bold; }
table.mw_metadata th { font-weight: normal; }
table.mw_metadata td { padding: 0.1em; }
table.mw_metadata { border: medium none ; border-collapse: collapse; }
table.mw_metadata td, table.mw_metadata th { border: 1px solid rgb(170, 170, 170); text-align: center; padding-left: 0.1em; padding-right: 0.1em; }
table.mw_metadata th { background-color: rgb(249, 249, 249); }
table.mw_metadata td { background-color: rgb(252, 252, 252); }
table.collapsed tr.collapsable { display: none; }
ul#filetoc { border: 1px solid rgb(170, 170, 170); padding: 5px; text-align: center; background-color: rgb(249, 249, 249); font-size: 95%; margin-bottom: 0.5em; margin-left: 0pt; margin-right: 0pt; }
#filetoc li { display: inline; list-style-type: none; padding-right: 2em; }
input#wpSummary { width: 80%; }
input#wpSave, input#wpDiff { margin-right: 0.33em; }
#wpSave { font-weight: bold; }
table.revisionform_default { border: 1px solid rgb(0, 0, 0); }
table.revisionform_focus { border: 1px solid rgb(0, 0, 0); background-color: rgb(0, 187, 255); }
tr.revision_tr_default { background-color: rgb(238, 238, 238); }
tr.revision_tr_first { background-color: rgb(221, 221, 221); }
p.revision_saved { color: green; font-weight: bold; }
#mw_trackbacks { border: 1px solid rgb(187, 187, 255); padding: 0.2em; background-color: rgb(238, 238, 255); }
#allmessagestable th { background-color: rgb(178, 178, 255); }
#allmessagestable tr.orig { background-color: rgb(255, 226, 226); }
#allmessagestable tr.new { background-color: rgb(226, 255, 226); }
#allmessagestable tr.def { background-color: rgb(240, 240, 255); }
div.noarticletext { border: 1px solid rgb(204, 204, 204); padding: 0.2em 1em; background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(0, 0, 0); }
div#searchTargetContainer { background: white none repeat scroll 0% 0%; left: 10px; top: 10px; width: 90%; }
div#searchTarget { border: 1px solid blue; margin: 5px; padding: 3px; background: rgb(240, 240, 240) none repeat scroll 0% 0%; }
div#searchTarget ul li { list-style-type: none; list-style-image: none; list-style-position: outside; }
div#searchTarget ul li:before { color: orange; content: "» "; }
div#searchTargetHide { border: 1px solid black; padding: 2px; background: rgb(220, 220, 220) none repeat scroll 0% 0%; float: right; }
#powersearch p { margin-top: 0px; }
div.multipageimagenavbox { border: 1px solid silver; margin: 1em; padding: 4px; background: rgb(240, 240, 240) none repeat scroll 0% 0%; }
div.multipageimagenavbox div.thumb { border: medium none ; margin-left: 2em; margin-right: 2em; }
div.multipageimagenavbox hr { margin: 6px; }
table.multipageimage td { text-align: center; }
table#sv-ext, table#sv-hooks, table#sv-software { margin: 1em; padding: 0em; }
#sv-ext td, #sv-hooks td, #sv-software td, #sv-ext th, #sv-hooks th, #sv-software th { border: 1px solid rgb(160, 160, 160); padding: 0pt 0.15em; }
#sv-ext th, #sv-hooks th, #sv-software th { padding: 0pt 0.15em; background-color: rgb(240, 240, 240); color: black; }
tr.sv-space { border: medium none ; height: 0.8em; }
tr.sv-space td { display: none; }
.TablePager { min-width: 80%; }
.TablePager_nav a { text-decoration: none; }
.TablePager { border-collapse: collapse; }
.TablePager, .TablePager td, .TablePager th { border: 1px solid rgb(170, 170, 170); padding: 0pt 0.15em; }
.TablePager th { background-color: rgb(238, 238, 255); }
.TablePager td { background-color: rgb(255, 255, 255); }
.TablePager tr:hover td { background-color: rgb(238, 238, 255); }
.imagelist td, .imagelist th { white-space: nowrap; }
.imagelist .TablePager_col_links { background-color: rgb(238, 238, 255); }
.imagelist .TablePager_col_img_description { white-space: normal; }
.imagelist th.TablePager_sort { background-color: rgb(204, 204, 255); }
.templatesUsed { margin-top: 1.5em; }
.mw-summary-preview { margin: 0.1em 0pt; }
div.mw-lag-warn-normal, div.mw-lag-warn-high { margin: 3px auto; padding: 3px; text-align: center; }
div.mw-lag-warn-normal { border: 1px solid rgb(255, 204, 102); background-color: rgb(255, 255, 204); }
div.mw-lag-warn-high { border: 2px solid rgb(255, 0, 51); font-weight: bold; background-color: rgb(255, 204, 204); }
.MediaTransformError { padding: 0.1em; background-color: rgb(204, 204, 204); }
.MediaTransformError td { text-align: center; vertical-align: middle; font-size: 90%; }
div#mw-search-interwiki-caption { text-align: center; font-weight: bold; font-size: 95%; }
.mw-search-interwiki-project { padding: 0.15em 0.15em 0.2em 0.2em; background: rgb(202, 232, 255) none repeat scroll 0% 0%; font-size: 97%; text-align: left; }
.os-suggest { font-size: 127%; }

/* ::::: http://en.wikipedia.org/w/index.php?title=MediaWiki:Common.css&usemsgcache=yes&ctype=text%2Fcss&smaxage=2678400&action=raw&maxage=2678400 ::::: */

#interwiki-completelist { font-weight: bold; }
body.page-Main_Page #ca-delete { display: none ! important; }
body.page-Main_Page #mp-topbanner { clear: both; }
#toolbar { height: 22px; margin-bottom: 6px; }
ol.references { font-size: 100%; }
.references-small { font-size: 90%; }
.references-2column { font-size: 90%; -moz-column-count: 2; }
ol.references > li:target { background-color: rgb(221, 238, 255); }
sup.reference:target { background-color: rgb(221, 238, 255); }
cite { font-style: normal; }
cite:target { background-color: rgb(221, 238, 255); }
@media screen, handheld, projection {
  cite .printonly { display: none; }
}
table.wikitable, table.prettytable { border: 1px solid rgb(170, 170, 170); margin: 1em 1em 1em 0pt; background: rgb(249, 249, 249) none repeat scroll 0% 0%; border-collapse: collapse; }
.wikitable th, .wikitable td, .prettytable th, .prettytable td { border: 1px solid rgb(170, 170, 170); padding: 0.2em; }
.wikitable th, .prettytable th { background: rgb(242, 242, 242) none repeat scroll 0% 0%; text-align: center; }
.wikitable caption, .prettytable caption { font-weight: bold; }
table.navbox { border: 1px solid rgb(170, 170, 170); margin: auto; padding: 1px; width: 100%; clear: both; font-size: 88%; text-align: center; }
table.navbox + table.navbox { margin-top: -1px; }
.navbox-title, .navbox-abovebelow, table.navbox th { text-align: center; padding-left: 1em; padding-right: 1em; }
.navbox-group { white-space: nowrap; text-align: right; font-weight: bold; padding-left: 1em; padding-right: 1em; }
.navbox, .navbox-subgroup { background: rgb(253, 253, 253) none repeat scroll 0% 0%; }
.navbox-list { border-color: rgb(253, 253, 253); }
.navbox-title, table.navbox th { background: rgb(204, 204, 255) none repeat scroll 0% 0%; }
.navbox-abovebelow, .navbox-group, .navbox-subgroup .navbox-title { background: rgb(221, 221, 255) none repeat scroll 0% 0%; }
.navbox-subgroup .navbox-group, .navbox-subgroup .navbox-abovebelow { background: rgb(230, 230, 255) none repeat scroll 0% 0%; }
.navbox-even { background: rgb(247, 247, 247) none repeat scroll 0% 0%; }
.navbox-odd { background: transparent none repeat scroll 0% 0%; }
.collapseButton { float: right; font-weight: normal; text-align: right; width: auto; }
.navbox .collapseButton { width: 6em; }
.infobox { border: 1px solid rgb(170, 170, 170); margin: 0.5em 0pt 0.5em 1em; padding: 0.2em; background-color: rgb(249, 249, 249); color: black; float: right; clear: right; }
.infobox td, .infobox th { vertical-align: top; }
.infobox caption { font-size: larger; }
.infobox.bordered { border-collapse: collapse; }
.infobox.bordered td, .infobox.bordered th { border: 1px solid rgb(170, 170, 170); }
.infobox.bordered .borderless td, .infobox.bordered .borderless th { border: 0pt none ; }
.infobox.sisterproject { width: 20em; font-size: 90%; }
.infobox.standard-talk { border: 1px solid rgb(192, 192, 144); background-color: rgb(248, 234, 186); }
.infobox.standard-talk.bordered td, .infobox.standard-talk.bordered th { border: 1px solid rgb(192, 192, 144); }
.infobox.bordered .mergedtoprow td, .infobox.bordered .mergedtoprow th { border-style: solid solid none none; border-color: rgb(170, 170, 170) rgb(170, 170, 170) -moz-use-text-color -moz-use-text-color; border-width: 1px 1px 0pt 0pt; }
.infobox.bordered .mergedrow td, .infobox.bordered .mergedrow th { border-style: none solid none none; border-color: -moz-use-text-color rgb(170, 170, 170) -moz-use-text-color -moz-use-text-color; border-width: 0pt 1px 0pt 0pt; }
.infobox.geography { text-align: left; border-collapse: collapse; line-height: 1.2em; font-size: 90%; }
.infobox.geography td, .infobox.geography th { border-top: 1px solid rgb(170, 170, 170); padding: 0.4em 0.6em; }
.infobox.geography .mergedtoprow td, .infobox.geography .mergedtoprow th { border-top: 1px solid rgb(170, 170, 170); padding: 0.4em 0.6em 0.2em; }
.infobox.geography .mergedrow td, .infobox.geography .mergedrow th { border: 0pt none ; padding: 0pt 0.6em 0.2em; }
.infobox.geography .mergedbottomrow td, .infobox.geography .mergedbottomrow th { border-top: 0pt none; border-bottom: 1px solid rgb(170, 170, 170); padding: 0pt 0.6em 0.4em; }
.infobox.geography .maptable td, .infobox.geography .maptable th { border: 0pt none ; padding: 0pt; }
.notice { margin: 1em; padding: 0.2em; }
#disambig { border-top: 1px solid rgb(204, 204, 204); border-bottom: 1px solid rgb(204, 204, 204); }
table.InChI, table.persondata { border: 1px solid rgb(170, 170, 170); display: none; speak: none; }
.InChI-label, .persondata-label { color: rgb(170, 170, 170); }
.redirect-in-category, .allpagesredirect { font-style: italic; }
.audiolink a { background: transparent url('11px-loudspeaker.svg.png') no-repeat scroll left center ! important; padding-left: 16px ! important; padding-right: 0pt ! important; }
div.listenlist { background: transparent url('30px-gnome-speakernotes.png') repeat scroll 0% 0%; padding-left: 40px; }
div.videolist, div.multivideolist { background: transparent url('40px-tango-video-x-generic.png') repeat scroll 0% 0%; padding-left: 50px; }
div.medialist { margin: 1em; min-height: 50px; background-position: left top; background-repeat: no-repeat; }
div.medialist ul { margin: 0pt; list-style-type: none; list-style-image: none; }
div.medialist ul li { padding-bottom: 0.5em; }
div.medialist ul li li { font-size: 91%; padding-bottom: 0pt; }
#bodyContent a.external[href$=".pdf"], #bodyContent a.external[href*=".pdf?"], #bodyContent a.external[href*=".pdf#"], #bodyContent a.external[href$=".PDF"], #bodyContent a.external[href*=".PDF?"], #bodyContent a.external[href*=".PDF#"], #mw_content a.external[href$=".pdf"], #mw_content a.external[href*=".pdf?"], #mw_content a.external[href*=".pdf#"], #mw_content a.external[href$=".PDF"], #mw_content a.external[href*=".PDF?"], #mw_content a.external[href*=".PDF#"] { background: transparent url('15px-icons-mini-file_acrobat.gif') no-repeat scroll right center; padding-right: 16px; }
span.PDFlink a { background: transparent url('15px-icons-mini-file_acrobat.gif') no-repeat scroll right center ! important; padding-right: 17px ! important; }
span.geolink a { background: transparent url('monobook-globe.png') no-repeat scroll right center ! important; padding-right: 11px ! important; }
div.columns-2 div.column { float: left; width: 50%; min-width: 300px; }
div.columns-3 div.column { float: left; width: 33.3%; min-width: 200px; }
div.columns-4 div.column { float: left; width: 25%; min-width: 150px; }
div.columns-5 div.column { float: left; width: 20%; min-width: 120px; }
.plainlinksneverexpand { padding: 0pt ! important; background: transparent none repeat scroll 0% 0% ! important; }
.plainlinksneverexpand .urlexpansion { display: none ! important; }
.plainlinksneverexpand a { padding: 0pt ! important; background: transparent none repeat scroll 0% 0% ! important; }
.plainlinksneverexpand a.external.text:after { display: none ! important; }
.plainlinksneverexpand a.external.autonumber:after { display: none ! important; }
.messagebox { border: 1px solid rgb(170, 170, 170); margin: 0pt auto 1em; padding: 0.2em; background-color: rgb(249, 249, 249); width: 80%; }
.messagebox.merge { border: 1px solid rgb(192, 184, 204); background-color: rgb(240, 229, 255); text-align: center; }
.messagebox.cleanup { border: 1px solid rgb(159, 159, 255); background-color: rgb(239, 239, 255); text-align: center; }
.messagebox.standard-talk { border: 1px solid rgb(192, 192, 144); margin: 4px auto; background-color: rgb(248, 234, 186); }
.mbox-inside .standard-talk, .messagebox.nested-talk { border: 1px solid rgb(192, 192, 144); margin: 2px 0pt; padding: 2px; background-color: rgb(248, 234, 186); width: 100%; }
.messagebox.small { margin: 0pt 0pt 1em 1em; width: 238px; font-size: 85%; float: right; clear: both; line-height: 1.25em; }
.messagebox.small-talk { margin: 0pt 0pt 1em 1em; background: rgb(248, 234, 186) none repeat scroll 0% 0%; width: 238px; font-size: 85%; float: right; clear: both; line-height: 1.25em; }
th.mbox-text, td.mbox-text { border: medium none ; padding: 0.25em 0.9em; width: 100%; }
td.mbox-image { border: medium none ; padding: 2px 0pt 2px 0.9em; text-align: center; }
td.mbox-imageright { border: medium none ; padding: 2px 0.9em 2px 0pt; text-align: center; }
.mediawiki table.mbox-small { margin: 4px 0pt 4px 1em; clear: right; float: right; width: 238px; font-size: 88%; line-height: 1.25em; }
table.ambox { border-style: solid; border-color: rgb(170, 170, 170) rgb(170, 170, 170) rgb(170, 170, 170) rgb(30, 144, 255); border-width: 1px 1px 1px 10px; margin: -1px 10% 0px; background: rgb(251, 251, 251) none repeat scroll 0% 0%; }
.ambox th.mbox-text, .ambox td.mbox-text { padding: 0.25em 0.5em; }
.ambox td.mbox-image { padding: 2px 0pt 2px 0.5em; }
.ambox td.mbox-imageright { padding: 2px 0.5em 2px 0pt; }
table.ambox-notice { border-left: 10px solid rgb(30, 144, 255); }
table.ambox-speedy { border-left: 10px solid rgb(178, 34, 34); background: rgb(255, 238, 238) none repeat scroll 0% 0%; }
table.ambox-delete { border-left: 10px solid rgb(178, 34, 34); }
table.ambox-content { border-left: 10px solid rgb(242, 133, 0); }
table.ambox-style { border-left: 10px solid rgb(244, 196, 48); }
table.ambox-move { border-left: 10px solid rgb(153, 50, 204); }
table.ambox-protection { border-left: 10px solid rgb(187, 187, 170); }
table.imbox { border: 3px solid rgb(30, 144, 255); margin: 4px 10%; background: rgb(251, 251, 251) none repeat scroll 0% 0%; border-collapse: collapse; }
.imbox .mbox-text .imbox { margin: 0pt -0.5em; }
.mbox-inside .imbox { margin: 4px; }
table.imbox-notice { border: 3px solid rgb(30, 144, 255); }
table.imbox-speedy { border: 3px solid rgb(178, 34, 34); background: rgb(255, 238, 238) none repeat scroll 0% 0%; }
table.imbox-delete { border: 3px solid rgb(178, 34, 34); }
table.imbox-content { border: 3px solid rgb(242, 133, 0); }
table.imbox-style { border: 3px solid rgb(244, 196, 48); }
table.imbox-move { border: 3px solid rgb(153, 50, 204); }
table.imbox-protection { border: 3px solid rgb(187, 187, 170); }
table.imbox-license { border: 3px solid rgb(136, 136, 170); background: rgb(247, 248, 255) none repeat scroll 0% 0%; }
table.imbox-featured { border: 3px solid rgb(203, 161, 53); }
table.cmbox { border: 1px solid rgb(170, 170, 170); margin: 3px 10%; background: rgb(223, 232, 255) none repeat scroll 0% 0%; border-collapse: collapse; }
table.cmbox-notice { background: rgb(216, 232, 255) none repeat scroll 0% 0%; }
table.cmbox-speedy { border: 4px solid rgb(178, 34, 34); background: rgb(255, 219, 219) none repeat scroll 0% 0%; margin-top: 4px; margin-bottom: 4px; }
table.cmbox-delete { background: rgb(255, 219, 219) none repeat scroll 0% 0%; }
table.cmbox-content { background: rgb(255, 231, 206) none repeat scroll 0% 0%; }
table.cmbox-style { background: rgb(255, 249, 219) none repeat scroll 0% 0%; }
table.cmbox-move { background: rgb(228, 216, 255) none repeat scroll 0% 0%; }
table.cmbox-protection { background: rgb(239, 239, 225) none repeat scroll 0% 0%; }
table.ombox { border: 1px solid rgb(170, 170, 170); margin: 4px 10%; background: rgb(249, 249, 249) none repeat scroll 0% 0%; border-collapse: collapse; }
table.ombox-notice { border: 1px solid rgb(170, 170, 170); }
table.ombox-speedy { border: 2px solid rgb(178, 34, 34); background: rgb(255, 238, 238) none repeat scroll 0% 0%; }
table.ombox-delete { border: 2px solid rgb(178, 34, 34); }
table.ombox-content { border: 1px solid rgb(242, 133, 0); }
table.ombox-style { border: 1px solid rgb(244, 196, 48); }
table.ombox-move { border: 1px solid rgb(153, 50, 204); }
table.ombox-protection { border: 2px solid rgb(187, 187, 170); }
table.tmbox { border: 1px solid rgb(192, 192, 144); margin: 4px 10%; background: rgb(248, 234, 186) none repeat scroll 0% 0%; border-collapse: collapse; }
.mediawiki .mbox-inside .tmbox { margin: 2px 0pt; width: 100%; }
.mbox-inside .tmbox.mbox-small { line-height: 1.5em; font-size: 100%; }
table.tmbox-speedy { border: 2px solid rgb(178, 34, 34); background: rgb(255, 238, 238) none repeat scroll 0% 0%; }
table.tmbox-delete { border: 2px solid rgb(178, 34, 34); }
table.tmbox-content { border: 2px solid rgb(242, 133, 0); }
table.tmbox-style { border: 2px solid rgb(244, 196, 48); }
table.tmbox-move { border: 2px solid rgb(153, 50, 204); }
table.tmbox-protection, table.tmbox-notice { border: 1px solid rgb(192, 192, 144); }
div.fmbox-warning, div.mw-warning-with-logexcerpt { border: 1px solid rgb(187, 112, 112); margin: 0.2em 0pt; padding: 0.25em 0.9em; background: rgb(255, 219, 219) none repeat scroll 0% 0%; clear: both; }
#file img { background: transparent url('checker-16x16.png') repeat scroll 0% 0%; }
.IPA { font-family: inherit; }
.Unicode { font-family: inherit; }
.latinx { font-family: inherit; }
.polytonic { font-family: inherit; }
.mufi { font-family: Alphabetum,Cardo,LeedsUni,Junicode,"TITUS Cyberbit Basic",ALPHA-Demo; }
:lang(he) { font-family: inherit; }
:lang(fa) { font-family: inherit; }
:lang(ps) { font-family: inherit; }
:lang(ur) { font-family: inherit; }
:lang(sux-Xsux) { font-family: inherit; }
:lang(ja) { font-family: inherit; }
:lang(ko) { font-family: inherit; }
:lang(zh-Hans) { font-family: inherit; }
:lang(zh-Hant) { font-family: inherit; }
:lang(grc) { font-family: inherit; }
#wpSave { font-weight: bold; }
.hiddenStructure { display: inline ! important; color: rgb(255, 0, 0); background-color: rgb(0, 255, 0); }
.check-icon a.new { display: none; speak: none; }
.nounderlines a { text-decoration: none; }
.IPA a:link, .IPA a:visited { text-decoration: none; }
#EnWpMpBook { background-image: url('mp-open-book.png'); }
#EnWpMpSearch { background: transparent url('mp-magnifying-glass.png') no-repeat scroll right top; }
#EnWpMpSearchInner { float: right; width: 20em; text-align: center; }
#EnWpMpBook2 { background-image: url('mp-open-book2.png'); }
div.NavFrame { border: 1px solid rgb(170, 170, 170); margin: 0pt; padding: 4px; text-align: center; border-collapse: collapse; font-size: 95%; }
div.NavFrame + div.NavFrame { border-top-style: hidden; }
div.NavPic { margin: 0pt; padding: 2px; background-color: rgb(255, 255, 255); float: left; }
div.NavFrame div.NavHead { height: 1.6em; font-weight: bold; background-color: rgb(204, 204, 255); position: relative; }
div.NavFrame p { font-size: 100%; }
div.NavFrame div.NavContent { font-size: 100%; }
div.NavFrame div.NavContent p { font-size: 100%; }
div.NavEnd { margin: 0pt; padding: 0pt; line-height: 1px; clear: both; }
a.NavToggle { position: absolute; top: 0pt; right: 3px; font-weight: normal; font-size: 90%; }
.mw-plusminus-pos { color: rgb(0, 100, 0); }
.mw-plusminus-neg { color: rgb(139, 0, 0); }
.dablink { font-style: italic; padding-left: 2em; }
.dablink i { font-style: normal; }
.horizontal ul { margin: 0pt; padding: 0pt; }
.horizontal li { border-right: 1px solid; padding: 0pt 0.6em 0pt 0.4em; display: inline; }
.horizontal li:last-child { border-right: medium none; padding-right: 0pt; }
.geo-default, .geo-dms, .geo-dec { display: inline; }
.geo-nondefault, .geo-multi-punct { display: none; }
.longitude, .latitude { white-space: nowrap; }
.nonumtoc .tocnumber { display: none; }
.nonumtoc #toc ul, .nonumtoc .toc ul { margin: 0.3em 0pt 0pt; padding: 0pt; line-height: 1.5em; list-style-type: none; list-style-image: none; list-style-position: outside; }
.nonumtoc #toc ul ul, .nonumtoc .toc ul ul { margin: 0pt 0pt 0pt 2em; }
.toclimit-2 .toclevel-2 { display: none; }
.toclimit-3 .toclevel-3 { display: none; }
.toclimit-4 .toclevel-4 { display: none; }
.toclimit-5 .toclevel-5 { display: none; }
.toclimit-6 .toclevel-6 { display: none; }
.toclimit-7 .toclevel-7 { display: none; }
.listify td { display: list-item; }
.listify tr { display: block; }
.listify table { display: block; }
blockquote.templatequote { margin-top: 0pt; }
blockquote.templatequote div.templatequotecite { line-height: 1em; text-align: left; padding-left: 2em; margin-top: 0pt; }
blockquote.templatequote div.templatequotecite cite { font-size: 85%; }
div.user-block { border: 1px solid rgb(169, 169, 169); padding: 5px; background-color: rgb(255, 239, 213); }
.nowraplinks a { white-space: nowrap; }
.template-documentation { border: 1px solid rgb(170, 170, 170); margin: 1em 0pt 0pt; padding: 5px; clear: both; background-color: rgb(236, 252, 244); }
.thumbinner { min-width: 100px; }
.imagemap-inline div { display: inline; }
#wpUploadDescription { height: 13em; }
sup, sub { line-height: 1em; }
#content .gallerybox div.thumb { background-color: rgb(249, 249, 249); }
.gallerybox .thumb img { background: white url('checker-16x16.png') repeat scroll 0% 0%; }
.ns-0 .gallerybox .thumb img, .ns-2 .gallerybox .thumb img, .ns-100 .gallerybox .thumb img { background: white none repeat scroll 0% 0%; }
#mw-subcategories, #mw-pages, #mw-category-media { clear: both; }
.wpb .wpb-header { display: none; }
.wpbs-inner .wpb .wpb-header { display: block; }
.wpbs-inner .wpb .wpb-header { display: table-row; }
.wpbs-inner .wpb-outside { display: none; }
span.texhtml { white-space: nowrap; }
sup.reference a { white-space: nowrap; }
#pretzelsmainpageproposal-head { background: white url('faded_globe.png') no-repeat scroll 0% 0%; }
.mediawiki .assess-fa { background: rgb(102, 153, 255) none repeat scroll 0% 0%; }
.mediawiki .assess-fl { background: rgb(102, 153, 255) none repeat scroll 0% 0%; }
.mediawiki .assess-a { background: rgb(102, 255, 255) none repeat scroll 0% 0%; }
.mediawiki .assess-ga { background: rgb(102, 255, 102) none repeat scroll 0% 0%; }
.mediawiki .assess-b { background: rgb(178, 255, 102) none repeat scroll 0% 0%; }
.mediawiki .assess-c { background: rgb(255, 255, 102) none repeat scroll 0% 0%; }
.mediawiki .assess-start { background: rgb(255, 170, 102) none repeat scroll 0% 0%; }
.mediawiki .assess-stub { background: rgb(255, 102, 102) none repeat scroll 0% 0%; }
.mediawiki .assess-list { background: rgb(170, 136, 255) none repeat scroll 0% 0%; }
.mediawiki .assess-na { background: rgb(245, 245, 245) none repeat scroll 0% 0%; }
.mediawiki .assess- { background: transparent none repeat scroll 0% 0%; }
.mediawiki .assess-category { background: rgb(255, 165, 0) none repeat scroll 0% 0%; }
.mediawiki .assess-disambig { background: rgb(0, 250, 154) none repeat scroll 0% 0%; }
.mediawiki .assess-image, .mediawiki .assess-file { background: rgb(221, 204, 255) none repeat scroll 0% 0%; }
.mediawiki .assess-portal { background: rgb(128, 128, 128) none repeat scroll 0% 0%; }
.mediawiki .assess-project { background: rgb(192, 192, 144) none repeat scroll 0% 0%; }
.mediawiki .assess-redirect { background: rgb(192, 192, 192) none repeat scroll 0% 0%; }
.mediawiki .assess-template { background: rgb(255, 204, 255) none repeat scroll 0% 0%; }
.mediawiki .import-top { background: rgb(255, 0, 255) none repeat scroll 0% 0%; }
.mediawiki .import-high { background: rgb(255, 136, 255) none repeat scroll 0% 0%; }
.mediawiki .import-mid { background: rgb(255, 204, 255) none repeat scroll 0% 0%; }
.mediawiki .import-low { background: rgb(255, 238, 255) none repeat scroll 0% 0%; }
.mediawiki .import-na { background: rgb(245, 245, 245) none repeat scroll 0% 0%; }
.mediawiki .import- { background: transparent none repeat scroll 0% 0%; }

/* ::::: http://en.wikipedia.org/w/index.php?title=MediaWiki:Monobook.css&usemsgcache=yes&ctype=text%2Fcss&smaxage=2678400&action=raw&maxage=2678400 ::::: */

body.page-Main_Page #deleteconfirm, body.page-Portal_Wikipedia #deleteconfirm, body.page-Main_Page #t-cite, body.page-Main_Page #lastmod, body.page-Portal_Wikipedia #lastmod, body.page-Main_Page #siteSub, body.page-Portal_Wikipedia #siteSub, body.page-Main_Page #contentSub, body.page-Portal_Wikipedia #contentSub, body.page-Main_Page h1.firstHeading, body.page-Portal_Wikipedia h1.firstHeading { display: none ! important; }
#siteNotice { margin-top: 5px; margin-bottom: -0.5em; }
#mw-dismissable-notice { background: transparent none repeat scroll 0% 0%; }
#content, #p-cactions li a:hover, #p-cactions li.selected a, #content div.thumb { background-color: rgb(248, 252, 255); }
#p-cactions li a { background-color: rgb(247, 249, 251); }
.ns-0 #content, .ns-0 #p-cactions li a:hover, .ns-0 #p-cactions li.selected a, .ns-0 #content div.thumb { background-color: white; }
.ns-0 #p-cactions li a { background-color: rgb(251, 251, 251); }
@media print {
  #content { background: white none repeat scroll 0% 0%; }
}
#mw-subcategories table, #mw-pages table, table.diff, td.diff-otitle, td.diff-ntitle { background-color: transparent; }
#p-cactions #ca-addsection a { padding-left: 0.8em; padding-right: 0.8em; }
#content blockquote { margin: 1em 1.6em; font-size: 93.75%; }
#content blockquote p { line-height: inherit; }
#siteSub { display: inline; font-size: 92%; font-weight: normal; }
#ca-edit a { font-weight: bold ! important; }
.diffchange { font-weight: bold; background-color: inherit; }
td.diff-addedline, td.diff-deletedline, td.diff-context { vertical-align: top; font-size: 85%; color: inherit; }
#pt-login { font-weight: bold; font-size: 110%; }
p.error { font-weight: bold; }
.ns-0 #wikiPreview > table#toc, .ns-0 #bodyContent > table#toc { margin-top: 0.5em; }
.toccolours { border: 1px solid rgb(170, 170, 170); padding: 5px; background-color: rgb(249, 249, 249); font-size: 95%; }
.portlet a, #editpage-specialchars a { text-decoration: none; }
.portlet a:hover, #editpage-specialchars a:hover { text-decoration: underline; }
div.topicon { position: absolute; z-index: 100; top: 10px; display: block ! important; }
#coordinates { border: medium none ; margin: 0em; padding: 0em; background: transparent none repeat scroll 0% 0%; position: absolute; z-index: 1; right: 30px; top: 3.7em; float: right; line-height: 1.5em; text-align: right; text-indent: 0pt; font-size: 85%; text-transform: none; white-space: nowrap; }
.portlet li { list-style-image: url('monobook-bullet.png'); }
li.FA { list-style-image: url('monobook-bullet-star.png'); }
.infobox { border: 1px solid rgb(170, 170, 170); background-color: rgb(249, 249, 249); color: black; }
.infobox.bordered td, .infobox.bordered th { border: 1px solid rgb(170, 170, 170); }
.infobox.bordered .mergedtoprow td, .infobox.bordered .mergedtoprow th { border-top: 1px solid rgb(170, 170, 170); border-right: 1px solid rgb(170, 170, 170); }
.infobox.bordered .mergedrow td, .infobox.bordered .mergedrow th { border-right: 1px solid rgb(170, 170, 170); }
div.thumb div a img { background-color: rgb(255, 255, 255); }
div.thumb { border: medium none ; }
div.tright { border: medium none ; margin: 0.5em 0pt 0.8em 1.4em; }
div.tleft { border: medium none ; margin: 0.5em 1.4em 0.8em 0pt; }
#bodyContent .plainlinks2 a.external[href^="http://en.wikipedia.org"] { color: rgb(0, 43, 184) ! important; }
ul.permissions-errors > li { list-style-type: none; list-style-image: none; list-style-position: outside; }
ul.permissions-errors { margin: 0pt; }

/* ::::: http://en.wikipedia.org/w/index.php?title=-&action=raw&maxage=2678400&gen=css ::::: */

a.new, #quickbar a.new { color: rgb(204, 34, 0); }
