
/* ::::: http://k-review.com.tw/wp-content/themes/Carrots/style.css ::::: */

body { margin: 10px; padding: 0pt; background: transparent url('bg.gif') repeat scroll 0% 0%; color: rgb(0, 0, 0); font-family: verdana,helvetica,sans-serif; letter-spacing: 0.1em; text-align: center; font-size: 75%; }
#rap { margin: 0pt auto; padding: 0pt; width: 750px; text-align: left; position: relative; }
#outer_wrapper { background: rgb(255, 255, 255) url('background_3.gif') repeat-y scroll left center; }
#wrapper { background: transparent url('background_2.gif') repeat-y scroll right center; }
#container { background: transparent url('background_2.gif') repeat-y scroll right center; float: left; width: 100%; margin-right: -180px; }
#outer_content { background: transparent url('background_3.gif') repeat-y scroll left center; margin-right: 180px; }
.clearing { height: 0pt; clear: both; }
a { color: rgb(136, 85, 34); text-decoration: none; }
a:link { color: rgb(136, 85, 34); }
a:visited { color: rgb(153, 153, 153); }
a:hover { color: rgb(68, 68, 0); }
a:active { color: rgb(68, 68, 0); }
a img { border: medium none ; }
acronym, abbr { border-bottom: 1px dotted rgb(179, 129, 71); }
acronym, abbr, span.caps { cursor: help; letter-spacing: 0.07em; }
code { font-size: 1.1em; }
blockquote { border-left: 5px solid rgb(231, 118, 140); margin-left: 1.5em; padding-left: 5px; }
cite { font-size: 0.9em; font-style: normal; }
h2 { margin: 0pt; font-size: 0.74em; letter-spacing: 0.2em; }
h3 { margin: 0pt; padding: 0pt; font-size: 1.3em; font-family: verdana,helvetica,sans-serif; font-weight: normal; }
p { margin: 0pt 0pt 1em; padding: 0pt; line-height: 1.5em; font-size: 1em; }
#header { margin: 0pt; padding: 0px; background: rgb(51, 51, 51) url('logoknowledge_001.gif') no-repeat scroll 0px 0px; height: 54px; text-align: left; font-family: arial,helvetica,sans-serif; }
html > body #header { right: 20px; }
#header h1 { margin: 0pt auto; padding: 0pt; font-size: 160%; font-weight: bold; letter-spacing: 0.3em; text-transform: uppercase; }
#header p { margin: 0pt; color: rgb(179, 129, 71); font-size: 1em; }
#header a { border: medium none ; color: rgb(238, 238, 238); text-decoration: none; font-weight: bold; }
#header a:hover { text-decoration: none; font-weight: bold; }
#content { padding: 15px 0px 15px 0pt; margin-left: 130px; font-size: 1.2em; line-height: 150%; }
.content a { border-bottom: 1px dotted rgb(136, 136, 0); color: rgb(136, 136, 0); text-decoration: none; }
.content a:hover { border-bottom: 1px dotted rgb(0, 102, 102); color: rgb(0, 102, 102); text-decoration: none; }
.content a:visited { border-bottom: 1px dotted rgb(128, 128, 128); color: rgb(128, 128, 128); text-decoration: none; }
.post { margin: 0pt; padding: 0pt; }
.archivepost { margin: 0pt; padding: 0pt; font-size: 0.7em; }
ul.post-meta { list-style-type: none; list-style-image: none; list-style-position: outside; }
ul.post-meta span.post-meta-key { font-weight: bold; }
.fulltext { margin: 5px 0pt 0pt; padding: 0pt 0pt 2px 10px; background: transparent url('full.gif') no-repeat scroll 2px 1px; font-size: 1em; color: rgb(128, 128, 128); font-family: verdana,helvetica,sans-serif; }
.fulltext a { border-bottom: 1px dotted rgb(136, 136, 0); color: rgb(136, 136, 0); text-decoration: none; }
.fulltext a:hover { border-bottom: 1px dotted rgb(0, 102, 102); color: rgb(0, 102, 102); text-decoration: none; }
.fulltext a:visited { border-bottom: 1px dotted rgb(128, 128, 128); color: rgb(128, 128, 128); text-decoration: none; }
.meta { margin: 5px; padding: 0pt 0pt 0pt 16px; background: transparent url('cat.gif') no-repeat scroll 2px 1px; font-size: 0.85em; color: rgb(128, 128, 128); font-family: verdana,helvetica,sans-serif; }
.meta span { margin: 0pt 0pt 0pt 10px; }
.meta li, ul.post-meta li { display: inline; }
.meta ul { margin: 0pt; padding: 0pt; display: inline; list-style-type: none; list-style-image: none; list-style-position: outside; }
.meta a { border-bottom: 1px dotted rgb(136, 136, 0); color: rgb(136, 136, 0); text-decoration: none; }
.meta a:hover { border-bottom: 1px dotted rgb(0, 102, 102); color: rgb(0, 102, 102); text-decoration: none; }
.meta a:visited { border-bottom: 1px dotted rgb(128, 128, 128); color: rgb(128, 128, 128); text-decoration: none; }
.storytitle { margin: 0pt; background: rgb(238, 238, 238) none repeat scroll 0% 0%; font-size: 1.4em; text-transform: uppercase; font-weight: bold; color: rgb(102, 102, 102); }
.storytitle span { text-transform: none; font-size: 0.7em; letter-spacing: 0pt; }
.storytitle a { border: medium none ; color: rgb(17, 51, 68); text-decoration: none; font-weight: bold; }
.storytitle a:hover { color: rgb(136, 153, 187); font-weight: bold; }
.storytitle a:visited { color: rgb(17, 51, 68); font-weight: bold; }
.storycontent { margin: 10px; padding: 0pt; font-size: 0.93em; text-align: justify; }
.feedcontent { border-bottom: 1px solid rgb(238, 238, 238); margin: 10px; padding: 0pt; width: 90%; font-size: 0.93em; text-align: justify; letter-spacing: 0pt; }
.email { display: none; }
#menu { padding: 12px 10px 0pt 0pt; float: right; width: 160px; font-family: verdana,helvetica,sans-serif; }
html > body #menu { width: 164px; }
#menu a { border: medium none ; color: rgb(97, 32, 0); text-decoration: none; }
#menu form { margin: 0pt 0pt 1.5em; }
#menu input#s { border: 1px solid rgb(102, 102, 102); margin: 0.5em 0pt; background: rgb(245, 245, 245) none repeat scroll 0% 0%; width: 70%; color: rgb(0, 0, 0); }
#menu ul { margin: 0pt; padding: 0pt; list-style-type: none; list-style-image: none; list-style-position: outside; }
#menu ul li { margin: 0pt; padding: 0pt; color: rgb(179, 129, 71); text-transform: uppercase; font-size: 1em; font-weight: bold; letter-spacing: 0.2em; }
#menu ul ul { margin: 1em 0pt; padding: 0pt; list-style-type: none; list-style-image: none; list-style-position: outside; text-align: left; font-weight: normal; font-size: 0.9em; color: rgb(163, 163, 163); }
#menu ul ul li { margin: 0pt 0pt 0.5em; padding: 0pt; letter-spacing: 0.1em; text-transform: none; font-weight: normal; }
#menu ul ul li a { background: transparent url('date.gif') no-repeat scroll left top; color: rgb(0, 0, 0); text-decoration: none; padding-left: 8px; }
#menu ul ul li a:visited { background: transparent url('date.gif') no-repeat scroll left top; color: rgb(105, 105, 105); padding-left: 8px; }
#menu ul ul li a:hover { background: transparent url('date.gif') no-repeat scroll left top; color: rgb(179, 129, 71); padding-left: 8px; }
#menu ul ul ul.children { font-size: 130%; padding-left: 4px; }
#left { margin: 0pt; padding: 10px; background: transparent url('book.gif') no-repeat scroll 10px 10px; float: left; width: 120px; font-family: verdana,helvetica,sans-serif; }
#left a { border: medium none ; color: rgb(0, 0, 0); text-decoration: none; }
#left ul { margin: 0pt; padding: 3px 8px 3px 0pt; list-style-type: none; list-style-image: none; list-style-position: outside; }
#left ul li { margin: 0pt 0pt 2em; padding: 0pt; color: rgb(179, 129, 71); text-transform: uppercase; font-size: 0.9em; font-weight: bold; letter-spacing: 0.2em; }
#left ul ul { margin: 1em 0pt; padding: 0pt; list-style-type: none; list-style-image: none; list-style-position: outside; text-align: left; font-weight: normal; font-size: 1.1em; color: rgb(163, 163, 163); }
#left ul ul li { margin: 0pt 0pt 0.5em; padding: 0pt; letter-spacing: 0.1em; text-transform: none; font-weight: normal; }
#left ul ul li a { color: rgb(0, 0, 0); text-decoration: none; }
#left ul ul li a:visited { color: rgb(105, 105, 105); }
#left ul ul li a:hover { color: rgb(179, 129, 71); }
#left ul ul ul.children { font-size: 142%; padding-left: 4px; }
#footer { margin: 0pt; padding: 0pt 0pt 0pt 90px; background: transparent url('background_4.gif') no-repeat scroll 0% 0%; text-align: left; font-size: 1em; clear: both; }
#footer cite { color: rgb(128, 128, 128); font-weight: normal; }
#footer a, a:hover, a:visited { border: medium none ; color: rgb(179, 129, 71); font-weight: normal; }
#commentlist { color: rgb(204, 204, 204); }
#commentlist li { padding: 10px; color: rgb(0, 0, 0); }
#commentlist cite { margin: 0pt; padding: 0pt; font-size: 0.8em; color: rgb(128, 128, 128); }
#commentlist cite a { color: rgb(128, 128, 128); text-decoration: none; }
#commentlist p { margin: 0pt; }
#commentlist cite a:visited, a:hover { border-bottom: medium none; color: rgb(128, 128, 128); }
#commentform #author, #commentform #email, #commentform #url, #commentform textarea { border: 1px solid rgb(179, 129, 71); padding: 0.2em; background: rgb(245, 245, 245) none repeat scroll 0% 0%; }
#commentform textarea { width: 80%; }
#commentform p { margin: 0pt 0pt 1em; }
#commentlist li ul { border-left: 1px solid rgb(221, 221, 221); font-size: 110%; list-style-type: none; }
#comments { margin: 3em 0pt 1em; padding: 0pt 0pt 0.3em; text-transform: uppercase; color: rgb(179, 129, 71); font-size: 1em; letter-spacing: 0.5em; }
#postcomment { margin: 0.9em 0pt 1em; padding: 0pt 0pt 0.3em; text-transform: uppercase; color: rgb(179, 129, 71); font-size: 1em; letter-spacing: 0.5em; }
#navcontainer { width: 100%; float: left; background-color: rgb(136, 0, 17); }
#navcontainer ul { padding: 0pt; }
#navcontainer ul li { display: inline; }
#navcontainer ul { margin: 0pt; padding: 0pt 0pt 0pt 7%; color: rgb(255, 255, 255); font-family: tahoma,verdana,geneva,arial,helvetica,sans-serif; font-size: 1em; letter-spacing: 2px; font-weight: normal; }
#navcontainer ul li a { border-top: 1px solid rgb(136, 0, 17); border-right: 1px solid rgb(170, 0, 0); padding: 0.2em 12px; background-color: rgb(136, 0, 17); color: rgb(255, 255, 255); text-decoration: none; float: left; }
#navcontainer ul li a:hover { background-color: rgb(136, 0, 17); color: rgb(255, 255, 255); }
#navlist li a:hover, #navlist li a:active { background: rgb(170, 0, 0) none repeat scroll 0% 0%; color: rgb(255, 255, 255); text-decoration: none; text-align: left; text-transform: uppercase; font-size: 1em; font-weight: normal; }
#navcontainer li#active a { border: 2px inset rgb(136, 0, 17); background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(136, 0, 17); }
#navcontainerleft ul { list-style-type: none; text-align: left; padding-top: 86px; }
#navcontainerleft ul li a { background: transparent url('arrows2.gif') no-repeat scroll left top; padding-left: 15px; text-align: left; font-family: "Lucida Grande","Lucida Sans Unicode",verdana,lucida,sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 11px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; text-decoration: none; color: rgb(153, 153, 153); }
#navcontainerleft ul li a:hover { background: transparent url('arrows2.gif') no-repeat scroll left top; color: black; }
#navcontainerleft ul li a#current { background: transparent url('arrows2.gif') no-repeat scroll left top; color: rgb(102, 102, 102); }
.adhesive_post { border: 1px solid rgb(153, 153, 153); padding-top: 10px; margin-bottom: 10px; }
.adhesive_post h3 { font-size: 1.8em; }
.adhesive_post .storycontent { font-weight: normal; padding-left: 5px; padding-right: 5px; padding-bottom: 5px; }
.adhesive_post h3 a { color: rgb(153, 0, 0); text-decoration: none; }
.adhesive_post h3 a:hover { color: rgb(153, 153, 153); text-decoration: none; }
.adhesive_post h3 a:visited { color: rgb(153, 0, 0); text-decoration: none; }

/* ::::: null ::::: */

#fp:first-letter { border: 0pt none ; padding: 0pt 0pt 3px; font-size: 2.6em; font-weight: bold; color: rgb(153, 17, 17); float: left; margin-right: 3px; }
