/* ::::: http://www.dongkai.me/components/com_jomcomment/style.css ::::: */

#jc_commentFormDiv { margin: 0pt auto; }
#jc_comment_bbcode {  }
#jc_comment_bbcode a:link, #jc_comment_bbcode a:visited { width: 24px; height: 24px; margin-right: 3px; text-align: center; float: left; background: url('buttons.gif') no-repeat scroll 0pt -231px transparent; border: 0pt none; }
#jc_comment_bbcode a:hover { background: url('buttons.gif') no-repeat scroll 0pt -257px transparent; border: 0pt none; }
#jc_comment_bbcode a img { margin-top: -2px; border: 0pt none; }
#jc_comment_bbcode .jc_bb_bold { background: url('buttons.gif') no-repeat scroll 0pt 4px transparent; }
#jc_comment_bbcode .jc_bb_italic { background: url('buttons.gif') no-repeat scroll 0pt -17px transparent; }
#jc_comment_bbcode .jc_bb_underline { background: url('buttons.gif') no-repeat scroll 0pt -38px transparent; }
#jc_comment_bbcode .jc_bb_strike { background: url('buttons.gif') no-repeat scroll 0pt -59px transparent; }
#jc_comment_bbcode .jc_bb_url { background: url('buttons.gif') no-repeat scroll 0pt -80px transparent; }
#jc_comment_bbcode .jc_bb_image { background: url('buttons.gif') no-repeat scroll -1px -103px transparent; }
#jc_comment_bbcode .jc_bb_quote { background: url('buttons.gif') no-repeat scroll 0pt -122px transparent; }
#jc_comment_bbcode .jc_bb_smile { background: url('buttons.gif') no-repeat scroll -23px 4px transparent; }
#jc_comment_bbcode .jc_bb_wink { background: url('buttons.gif') no-repeat scroll -23px -17px transparent; }
#jc_comment_bbcode .jc_bb_laugh { background: url('buttons.gif') no-repeat scroll -23px -38px transparent; }
#jc_comment_bbcode .jc_bb_grin { background: url('buttons.gif') no-repeat scroll -23px -59px transparent; }
#jc_comment_bbcode .jc_bb_angry { background: url('buttons.gif') no-repeat scroll -23px -80px transparent; }
#jc_comment_bbcode .jc_bb_sad { background: url('buttons.gif') no-repeat scroll -23px -101px transparent; }
#jc_comment_bbcode .jc_bb_shocked { background: url('buttons.gif') no-repeat scroll -23px -122px transparent; }
#jc_comment_bbcode .jc_bb_cool { background: url('buttons.gif') no-repeat scroll -23px -143px transparent; }
#jc_comment_bbcode .jc_bb_tongue { background: url('buttons.gif') no-repeat scroll -23px -164px transparent; }
#jc_comment_bbcode .jc_bb_kiss { background: url('buttons.gif') no-repeat scroll -23px -185px transparent; }
#jc_comment_bbcode .jc_bb_cry { background: url('buttons.gif') no-repeat scroll -23px -206px transparent; }
div#jc_commentsDiv { z-index: -1; }
span.jcerr { font-weight: bold; color: rgb(255, 0, 0); }
/* ::::: http://www.dongkai.me/components/com_jomcomment/templates/chatter/comment_style.css ::::: */

.show-comment, .show-linkmore, .show-hit, .jctools, .show-feed, .show-report, .show-voteup, .show-votedown { display: inline; float: right; height: 18px; text-indent: 24px; margin-left: 4px; margin-right: 4px; background-repeat: no-repeat; background-position: 0pt 50%; }
div.commentBlogView > div.show-comment, div.commentBlogView > div.show-linkmore, div.commentBlogView > div.show-hit, div.jctools, div.show-feed, div.show-report, div.show-voteup, div.show-votedown { display: inline; float: right; height: 18px; text-indent: 24px; margin-left: 4px; margin-right: 4px; background-repeat: no-repeat; background-position: 0pt 50%; }
div.show-hit { background: url('toolbar.gif') no-repeat scroll 0pt -35px transparent; }
div.commentBlogView > div.show-hit { background: url('toolbar.gif') no-repeat scroll 0pt -35px transparent; }
div.jcfav { background: url('toolbar.gif') no-repeat scroll 0pt -54px transparent; }
div.jcshare { background: url('toolbar.gif') no-repeat scroll 0pt 1px transparent; }
div.jcemail { background: url('toolbar.gif') no-repeat scroll 0pt -16px transparent; }
div.commentBlogView { display: block; text-align: right; padding-top: 6px; padding-bottom: 6px; margin-top: 4px; margin-bottom: 4px; clear: both; }
div.commentTools { border-bottom: 1px solid rgb(188, 188, 188); height: 18px; }
.avatarImg { display: block; padding: 6px; }
.avatarImg img { border: 1px solid rgb(221, 221, 221); }
#jc_name, #jc_website, #jc_email, #jc_title, #jc_comment, #jc_password { width: 98%; padding: 4px; margin: 0ex; }
#jc_name, #jc_website, #jc_email, #jc_password { width: 50%; }
#jc_commentForm { padding-top: 2px; padding-bottom: 6px; }
#jc_commentForm label { font-weight: bold; padding-top: 6px; padding-bottom: 4px; display: block; }
#jc_commentForm button, #jc_captchaImg { margin-top: 6px; margin-bottom: 4px; }
.CommentArea { margin: 8px 4px 8px 0px; width: 100%; display: block; position: relative; }
.CommentTitle { margin-bottom: 6px; font-size: 1em; font-weight: normal; padding-bottom: 0pt; }
.jomentry1 .CommentArrow, .jomentry2 .CommentArrow { background: url('comment-arrow.gif') no-repeat scroll 0pt 0pt transparent; width: 14px; height: 14px; margin-bottom: -7px; }
.CommentText2 { border: 1px solid rgb(188, 188, 188); padding: 3px; }
.CommentText3 { padding: 5px; font-size: 0.9em; position: relative; }
.CommentFooter { margin-top: 4px; font-size: 80%; color: rgb(102, 102, 102); padding-left: 16px; }
#written_comments_title { margin-top: 14px; }
#jc_commentForm label.subscribe, #jc_commentForm label.agree { font-style: normal; font-weight: normal; }
#jc_commentsDiv .jc_comment_panel { margin: 0pt; padding: 0pt; width: 100%; height: 25px; }
#jc_commentsDiv .jc_comment_panel li { list-style: none outside none; float: right; background: none repeat scroll 0% 0% transparent; padding: 0pt 0pt 0pt 10px; margin: 0pt; display: inline; }
#jc_commentsDiv .jc_comment_panel li a { padding: 0pt 0pt 0pt 20px; }
#jc_commentsDiv .jc_comment_panel .jc_comment_panel_up { width: 56px; }
#jc_commentsDiv .jc_comment_panel .jc_comment_panel_down { width: 72px; }
#jc_commentsDiv .jomentry1 .jc_comment_panel .jc_comment_panel_up a:link, #jc_commentsDiv .jomentry1 .jc_comment_panel .jc_comment_panel_up a:visited, #jc_commentsDiv .jomentry2 .jc_comment_panel .jc_comment_panel_up a:link, #jc_commentsDiv .jomentry2 .jc_comment_panel .jc_comment_panel_up a:visited { height: 18px; display: block; cursor: pointer; background: url('votings.gif') no-repeat scroll 0pt 2px transparent; }
#jc_commentsDiv .jomentry1 .jc_comment_panel .jc_comment_panel_up a:hover, #jc_commentsDiv .jomentry2 .jc_comment_panel .jc_comment_panel_up a:hover { background: url('votings.gif') no-repeat scroll 0pt -16px transparent; }
#jc_commentsDiv .jomentry1 .jc_comment_panel .jc_comment_panel_down a:link, #jc_commentsDiv .jomentry1 .jc_comment_panel .jc_comment_panel_down a:visited, #jc_commentsDiv .jomentry2 .jc_comment_panel .jc_comment_panel_down a:link, #jc_commentsDiv .jomentry2 .jc_comment_panel .jc_comment_panel_down a:visited { height: 18px; display: block; cursor: pointer; background: url('votings.gif') no-repeat scroll 0pt -34px transparent; }
#jc_commentsDiv .jomentry1 .jc_comment_panel .jc_comment_panel_down a:hover, #jc_commentsDiv .jomentry2 .jc_comment_panel .jc_comment_panel_down a:hover { background: url('votings.gif') no-repeat scroll 0pt -52px transparent; }
#jc_commentsDiv .jc_comment_panel .jc_comment_panel_report { width: 82px; }
#jc_commentsDiv .jomentry1 .jc_comment_panel .jc_comment_panel_report a:link, #jc_commentsDiv .jomentry1 .jc_comment_panel .jc_comment_panel_report a:visited, #jc_commentsDiv .jomentry2 .jc_comment_panel .jc_comment_panel_report a:link, #jc_commentsDiv .jomentry2 .jc_comment_panel .jc_comment_panel_report a:visited { height: 18px; display: block; cursor: pointer; background: url('votings.gif') no-repeat scroll 0pt -71px transparent; }
#jc_commentsDiv .jomentry1 .jc_comment_panel .jc_comment_panel_report a:hover, #jc_commentsDiv .jomentry2 .jc_comment_panel .jc_comment_panel_report a:hover { background: url('votings.gif') no-repeat scroll 0px -89px transparent; }
/* ::::: http://www.dongkai.me/templates/rt_replicant2_j15/css/template_css.css ::::: */

html { height: 100%; margin-bottom: 1px; }
body { margin: 0pt; font-family: Arial; font-size: 80%; line-height: 135%; }
body#ff-default, body#ff-default td { font-family: Helvetica,Arial,FreeSans,sans-serif; }
body#ff-default #horiz-menu li, body#ff-default #bottom-menu, body#ff-default a.mainlevel, body#ff-default a.sublevel, body#ff-default ul#rokslide-toolbar li, #topmenu-mod ul#mainlevel-top { font-family: Trebuchet MS,Geneva,Tahoma; }
body#ff-default .module h3, body#ff-default .moduletable h3, body#ff-default .contentheading, #topmenu-mod .banner-small, body#ff-default .submenu-block h3 { font-family: "Palatino Linotype","Book Antiqua",Palatino,"Times New Roman",Times,serif; }
form { margin: 0pt; padding: 0pt; }
body, body.f-default { font-size: 12px; }
p { margin-top: 10px; margin-bottom: 15px; }
h1, h2, h3, h4, h5 { padding-bottom: 5px; margin: 25px 0pt 10px; font-weight: normal; line-height: 120%; }
h3 { font-size: 150%; }
h4 { font-size: 120%; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
.clr { clear: both; }
.contentheading { font-size: 180%; font-weight: normal; border: 0pt none; padding: 0pt 0pt 15px; line-height: 130%; letter-spacing: -1px; }
span.small, td.createdate, td.modifydate { font-size: 90%; }
td.buttonheading, .contentpaneopen td.buttonheading { padding: 0pt 1px; border: 0pt none; }
.contentpane, .contentpaneopen { width: 100%; }
#top-bar .wrapper { position: relative; z-index: 500; }
#top-bar { height: 26px; padding-top: 6px; }
#header-bar { height: 80px; padding-top: 12px; margin-bottom: 5px; padding-bottom: 8px; overflow: hidden; }
img#logo { width: 315px; height: 78px; float: left; }
#topmenu-mod { float: right; width: 67%; visibility: hidden; }
#showcase-top { width: 25px; height: 55px; float: left; }
#showcase-top2 { width: 25px; height: 55px; float: right; }
#showcase-top3 { height: 55px; margin: 0pt 25px; }
#date-block { width: 250px; height: 28px; float: right; padding-top: 12px; }
#date-block .date-left { text-align: right; margin-right: 25px; }
#date-block .date-right { float: right; text-align: center; }
.date1 { text-transform: uppercase; text-align: right; font-size: 180%; padding-right: 10px; margin-right: 10px; }
.date2 { text-transform: uppercase; font-weight: bold; font-size: 90%; letter-spacing: 0.1em; line-height: 70%; }
.date3 { display: block; padding: 0pt; }
#showcase-main { margin-left: 13px; margin-right: 13px; }
#showcase-main2 { margin-left: -13px; }
#showcase-main3 { margin-right: -13px; }
#showcase-main .padding { padding: 0pt 13px; }
#showcase-bottom { width: 25px; height: 25px; float: left; margin-bottom: 6px; overflow: hidden; }
#showcase-bottom2 { width: 25px; height: 25px; float: right; margin-bottom: 6px; }
#showcase-bottom3 { height: 25px; margin-left: 25px; margin-right: 25px; margin-bottom: 6px; }
#main-top { width: 13px; float: left; height: 17px; }
#main-top2 { width: 13px; height: 17px; float: right; }
#main-top3 { height: 17px; margin-right: 13px; margin-left: 13px; }
#main-bar { margin-bottom: 10px; padding: 12px; overflow: hidden; }
#searchmod { width: 253px; height: 23px; float: right; }
#searchmod .inputbox { background: none repeat scroll 0% 0% transparent; width: 218px; height: 20px; margin-left: 30px; border: 0pt none; }
#main { margin-left: 13px; margin-right: 13px; }
#main2 { margin-left: -13px; }
#main3 { margin-right: -13px; }
#main .main-padding { padding: 0pt 13px; }
#main-bottom { width: 25px; height: 20px; float: left; }
#main-bottom2 { width: 25px; height: 20px; float: right; }
#main-bottom3 { margin-left: 25px; margin-right: 25px; height: 20px; }
#rightcol { float: right; }
#rightcol .padding { padding: 0pt 0pt 0pt 10px; }
#rightcol .inner .padding { padding: 20px 20px 0pt; }
#maincol .inner .padding { padding: 20px; }
.col-bottom { width: 8px; float: left; height: 10px; }
.col-bottom2 { width: 8px; float: right; height: 10px; }
.col-bottom3 { height: 10px; margin: 0pt 8px; padding-bottom: 10px; }
#bottom-shadow { height: 25px; position: relative; z-index: 2; }
#bottom-menu { height: 53px; }
#footer { padding: 20px 0pt 110px; }
#copyright { height: 22px; line-height: 22px; }
.spacer .block { float: left; }
.spacer.w99 .block { width: 99.8%; }
.module h3, .moduletable h3, .submenu-block h3 { margin-top: 0pt; font-size: 180%; letter-spacing: -1px; }
#banner-mod .moduletable, #topmenu-mod .moduletable { float: right; margin: 0pt; padding: 0pt; }
#leftcol .moduletable, #rightcol .moduletable { padding-bottom: 25px; }
#bottom .module, #maincol .module, #extendedmodules .module { padding: 20px; }
#showcasemodules, #mainmodules, #mainmodules2, #bottommodules, #extendedmodules, .rotator-module { overflow: hidden; }
#horiz-menu { display: block; text-transform: uppercase; z-index: 100; height: 25px; line-height: 24px; position: relative; padding: 0pt; }
ul#horiznav.menutop, #horiz-menu ul.menutop { padding: 0pt; margin: 0pt; position: relative; }
#horiz-menu ul { list-style: none outside none; padding: 0pt; margin: 0pt; }
#horiz-menu li { display: block; float: left; margin: 0pt 12px 0pt 0pt; padding: 0pt 6px; text-transform: uppercase; font-weight: bold; letter-spacing: 0.1em; }
#horiz-menu a, #horiz-menu .separator { white-space: nowrap; display: block; float: left; height: 25px; line-height: 20px; font-weight: normal; font-size: 110%; overflow: hidden; text-decoration: none; text-transform: uppercase; z-index: 100; cursor: pointer; }
#horiz-menu li a span, #horiz-menu li .separator span { display: block; padding: 0pt; }
#horiz-menu ul ul { margin: 0pt; padding: 0pt; }
#horiz-menu ul ul li a, #horiz-menu ul li.active.parent ul a, #horiz-menu ul li.active.parent ul a span, #horiz-menu ul ul li .separator, #horiz-menu ul li.active.parent ul .separator, #horiz-menu ul li.active.parent ul .separator span { text-transform: none; background: none repeat scroll 0% 0% transparent; }
.menutop .animated-bg { padding: 0pt; left: 6px; }
.menutop .submenu-animation-left { margin-right: 9px; }
.menutop .submenu-animation-right { height: 100%; width: 9px; position: absolute; right: 0pt; margin-right: -9px; }
#horiz-menu li li.active, #horiz-menu li.active li a, #horiz-menu li.active li a:hover, #horiz-menu li li a:hover, #horiz-menu ul li.active.parent ul a, #horiz-menu li.active li .separator, #horiz-menu li.active li .separator:hover, #horiz-menu li li .separator:hover, #horiz-menu ul li.active.parent ul .separator { background: none repeat scroll 0% 0% transparent; border: 0pt none; padding: 0pt; margin: 0pt; }
#horiz-menu li li a, #horiz-menu li li .separator { font-size: 100%; font-weight: normal; background: none repeat scroll 0% 0% transparent; padding: 0pt; margin: 0pt; }
#horiz-menu li li, #horiz-menu li li a span, #horiz-menu li li .separator span { background: none repeat scroll 0% 0% transparent; padding: 0pt; margin: 0pt; }
#horiz-menu li li a span, #horiz-menu li li .separator span { padding: 0pt; }
#horiz-menu li.sfHover li a, #horiz-menu li:hover li a, #horiz-menu ul li.active ul li.active li a, #horiz-menu ul li.active.parent ul li a, #horiz-menu li.sfHover li .separator, #horiz-menu li:hover li .separator, #horiz-menu ul li.active.parent ul li .separator, #horiz-menu ul li.active.parent ul li .seperator { text-indent: 15px; }
#horiz-menu ul ul { padding-bottom: 5px; }
a.mainlevel:hover, a.sublevel:hover { text-decoration: none; }
a.mainlevel { line-height: 32px; height: 32px; font-size: 130%; padding: 2px 0pt 2px 15px; }
ul.menu { margin: 0pt; padding: 0pt 0pt 35px; }
ul.menu li { list-style: none outside none; margin: 0pt; padding: 0pt; float: none; }
ul.menu span { display: block; height: 34px; line-height: 34px; }
ul.menu li a, ul.menu li .separator { text-indent: 5px; }
ul.menu a, ul.menu .separator { display: block; line-height: 32px; text-indent: 0px; height: 32px; overflow: hidden; font-size: 120%; float: none; }
ul.menu li.active a, ul.menu li.active li.active a, a#active_menu.mainlevel, a#active_menu.sublevel, ul.menu li.active .separator, ul.menu li.active li.active .separator { font-weight: bold; }
ul.menu li a:hover, ul.menu li .separator:hover { text-decoration: none; }
.pathway-block.top { float: left; width: 70%; }
.pathway-block.top span.pathway { padding-left: 0pt; }
.pathway-block { width: 100%; display: block; }
span.pathway { display: block; font-weight: normal; line-height: 140%; overflow: hidden; text-transform: uppercase; padding-top: 14px; padding-bottom: 6px; padding-left: 8px; }
span.pathway img { padding-right: 1px; width: 5px; height: 9px; }
span.pathway a { float: none; padding: 0pt 2px 0pt 0pt; }
#accessibility { width: 55px; height: 12px; position: absolute; right: 0pt; top: 4px; z-index: 5000; }
#accessibility span { background-repeat: no-repeat; }
#accessibility a { text-decoration: none; cursor: pointer; }
#accessibility #buttons { float: right; padding-right: 8px; }
#accessibility .button { display: block; float: right; width: 11px; height: 11px; margin-right: 4px; }
.fontbutton-text { position: absolute; right: 50px; top: 2px; text-transform: uppercase; font-size: 90%; font-weight: bold; }
a.nounder { text-decoration: none; border: 0pt none; cursor: pointer; }
a.nounder:hover { text-decoration: none; }
.clr { clear: both; }
fieldset.input, a img, body .pollstableborder { border: 0pt none; }
.module input.button, .moduletable input.button { border: 0pt none; width: 54px; height: 18px; cursor: pointer; text-align: center; text-transform: uppercase; margin-top: 10px; margin-bottom: 10px; line-height: 18px; padding: 0pt; font-size: 10px; }
.module input.button:hover, .moduletable input.button:hover { background-position: 0pt -18px; }
#sl_vert #sl_username, #sl_vert #sl_pass { height: 24px; display: block; margin-bottom: 8px; }
#sl_vert #sl_username input, #sl_vert #sl_pass input { background: none repeat scroll 0% 0% transparent; border: 0pt none; width: 160px; height: 14px; padding: 5px; line-height: 100%; }
#sl_vert .button { border: 0pt none; width: 54px; height: 18px; cursor: pointer; text-align: center; text-transform: uppercase; margin-top: 10px; margin-bottom: 10px; line-height: 100%; padding: 0pt; }
#sl_vert .button:hover { background-position: 0pt -18px; }
.rotator-module { padding: 0pt; margin: 0pt; position: relative; z-index: 5; overflow: hidden; }
.rotator-module .module { padding: 10px; margin: 0pt; overflow: hidden; }
/* ::::: http://www.dongkai.me/templates/rt_replicant2_j15/css/bodystyle1.css ::::: */

#header-bar { background: url('header-bar.png') repeat-x scroll 0pt 0pt transparent; }
img#logo { background: url('logo.png') no-repeat scroll 0pt 0pt transparent; float: left; }
#showcase-top { background: url('showcase-tl.png') no-repeat scroll 0pt 0pt transparent; }
#showcase-top2 { background: url('showcase-tr.png') no-repeat scroll 100% 0pt transparent; }
#showcase-top3 { background: url('showcase-tm.png') repeat-x scroll 0pt 0pt transparent; }
#showcase-main { background: url('showcase-middle.png') repeat scroll 0pt 0pt transparent; }
#showcase-main2 { background: url('showcase-l.png') repeat-y scroll 0pt 0pt transparent; }
#showcase-main3 { background: url('showcase-r.png') repeat-y scroll 100% 0pt transparent; }
#showcase-bottom { background: url('showcase-bl.png') no-repeat scroll 0pt 0pt transparent; }
#showcase-bottom2 { background: url('showcase-br.png') no-repeat scroll 100% 0pt transparent; }
#showcase-bottom3 { background: url('showcase-bm.png') repeat-x scroll 0pt 0pt transparent; }
#main-top { background: url('main-tl.png') no-repeat scroll 0pt 0pt transparent; }
#main-top2 { background: url('main-tr.png') no-repeat scroll 100% 0pt transparent; }
#main-top3 { background: url('main-tm.png') repeat-x scroll 0pt 0pt transparent; }
#main { background: url('main-m.png') repeat scroll 0pt 0pt transparent; }
#main2 { background: url('main-l.png') repeat-y scroll 0pt 0pt transparent; }
#main3 { background: url('main-r.png') repeat-y scroll 100% 0pt transparent; }
#main-bottom { background: url('main-bl.png') no-repeat scroll 0pt 0pt transparent; }
#main-bottom2 { background: url('main-br.png') no-repeat scroll 100% 0pt transparent; }
#main-bottom3 { background: url('main-bm.png') repeat-x scroll 0pt 0pt transparent; }
#bottom-shadow { background: url('bottom-shadow.png') no-repeat scroll 50% 0pt transparent; }
span.pathway img { background: url('path-div.png') no-repeat scroll 0pt 50% transparent; }
a.large .button { background: url('font-lg.png') no-repeat scroll 0pt 0pt transparent; }
a.small .button { background: url('font-sm.png') no-repeat scroll 0pt 0pt transparent; }
/* ::::: http://www.dongkai.me/templates/rt_replicant2_j15/css/colorstyle3.css ::::: */

body { color: rgb(153, 153, 153); background: none repeat scroll 0% 0% rgb(0, 0, 0); }
a { color: rgb(255, 255, 255); }
a:hover { color: rgb(86, 124, 116); }
.contentheading, .componentheading { color: rgb(255, 255, 255); }
h4 { color: rgb(86, 124, 116); }
span.small, td.createdate, td.modifydate { color: rgb(102, 102, 102); }
#body-bg { background: url('bg.jpg') no-repeat scroll 50% 0pt rgb(0, 23, 24); }
#bg-panel2 { background: url('bg2.png') repeat-x scroll 0pt 100% transparent; }
#top-bar { background: url('top-bar.png') repeat-x scroll 0pt 0pt transparent; }
#topmenu-mod { color: rgb(204, 204, 204); }
#date-block { color: rgb(255, 255, 255); }
.date1 { border-right: 1px dotted rgb(191, 188, 194); }
.date2 { color: rgb(221, 221, 221); }
.date3 { color: rgb(221, 221, 221); }
#showcasemodules, .rotator-module { color: rgb(255, 255, 255); }
#main-bar { background: url('col-bgtop.png') repeat-x scroll 0pt 0pt rgb(0, 23, 24); border: 1px solid rgb(27, 68, 63); }
#searchmod { background: url('search-bg.png') no-repeat scroll 0pt 0pt transparent; }
.inner { background: url('col-bgtop.png') repeat-x scroll 0pt 0pt rgb(0, 23, 24); border-top: 1px solid rgb(27, 68, 63); border-left: 1px solid rgb(27, 68, 63); border-right: 1px solid rgb(27, 68, 63); }
.col-bottom { background: url('col-bl.png') repeat-x scroll 0pt 0pt transparent; }
.col-bottom2 { background: url('col-br.png') no-repeat scroll 100% 0pt transparent; }
.col-bottom3 { background: url('col-bm.png') repeat-x scroll 0pt 0pt transparent; }
#bottom-menu { background: url('bottom-menu.png') repeat-x scroll 50% 0pt transparent; }
#footer { background: url('bottom-bg.png') repeat-x scroll 50% 0pt rgb(0, 0, 0); }
#copyright { color: rgb(62, 87, 84); }
.module h3, .moduletable h3, .submenu-block h3 { color: rgb(255, 255, 255); }
.module h3 span, .moduletable h3 span, .submenu-block h3 span { color: rgb(212, 60, 55); }
#horiz-menu li { color: rgb(255, 255, 255); }
#horiz-menu a, #horiz-menu .separator { color: rgb(255, 255, 255); }
#horiz-menu li a, #horiz-menu li .separator { color: rgb(187, 187, 187); }
#horiz-menu li a:hover, #horiz-menu li .separator:hover { color: rgb(255, 255, 255); }
.menutop .animated-bg { border-bottom: 1px solid rgb(255, 255, 255); }
.menutop .submenu-animation-left { background: url('sub-hover-l.png') no-repeat scroll 0pt 0pt transparent; }
.menutop .submenu-animation-right { background: url('sub-hover-r.png') no-repeat scroll 100% 0pt transparent; }
#horiz-menu ul ul li a, #horiz-menu ul li.active.parent ul a, #horiz-menu ul ul li .separator, #horiz-menu ul li.active.parent ul .separator { color: rgb(187, 187, 187); }
#horiz-menu li.sfHover li a, #horiz-menu li:hover li a, #horiz-menu ul li.active ul li.active li a, #horiz-menu ul li.active.parent ul li a, #horiz-menu li.sfHover li .separator, #horiz-menu li:hover li .separator, #horiz-menu ul li.active.parent ul li .separator, #horiz-menu ul li.active.parent ul li .seperator { color: rgb(255, 255, 255); }
#horiz-menu ul ul { background: url('col-bgtop.png') repeat-x scroll 0pt 0pt rgb(0, 23, 24); border: 1px solid rgb(27, 68, 63); }
#horiz-menu ul ul li a.daddy, #horiz-menu ul ul li a.daddy:hover, #horiz-menu ul li.active.parent ul li a.daddy, #horiz-menu ul ul li .separator.daddy, #horiz-menu ul ul li .separator.daddy:hover, #horiz-menu ul li.active.parent ul li .separator.daddy { background: url('submenu-arrow.png') no-repeat scroll 95% 60% transparent; }
a.mainlevel { color: rgb(204, 204, 204); background: url('submenu-arrow.png') no-repeat scroll 0pt 8px transparent; }
a.mainlevel:hover, a.sublevel:hover { color: rgb(86, 124, 116); }
ul.menu li { border-bottom: 1px dotted rgb(102, 102, 102); }
ul.menu li span { background: url('submenu-arrow.png') no-repeat scroll 95% 50% transparent; }
ul.menu a, ul.menu .separator { color: rgb(204, 204, 204); }
ul.menu a:hover, ul.menu .separator:hover { color: rgb(255, 255, 255); }
ul.menu li.active a, ul.menu li.active li.active a, a#active_menu.mainlevel, a#active_menu.sublevel, a.mainlevel:hover, a.sublevel:hover, ul.menu li.active .separator, ul.menu li.active li.active .separator { color: rgb(86, 124, 116); }
.pathway-block.top span.pathway { color: rgb(255, 255, 255); }
.pathway-block.top span.pathway a { color: rgb(153, 153, 153); }
span.pathway { color: rgb(112, 154, 144); }
.fontbutton-text { color: rgb(204, 204, 204); }
.module input.button, .moduletable input.button { background: url('readon.png') no-repeat scroll 0pt 0pt transparent; color: rgb(204, 204, 204); }
#sl_vert .button { background: url('readon.png') no-repeat scroll 0pt 0pt transparent; color: rgb(204, 204, 204); }
#sl_vert .button:hover { color: rgb(255, 255, 255); }
#sl_vert #sl_username, #sl_vert #sl_pass { background: url('input-bg.png') no-repeat scroll 0pt 0pt transparent; }
/* ::::: http://www.dongkai.me/templates/rt_replicant2_j15/css/typography.css ::::: */

/* ::::: http://www.dongkai.me/templates/system/css/system.css ::::: */

/* ::::: http://www.dongkai.me/templates/system/css/general.css ::::: */

/* ::::: http://www.dongkai.me/templates/rt_replicant2_j15/css/rokslidestrip.css ::::: */

/* ::::: http://www.dongkai.me/templates/rt_replicant2_j15/css/rokmoomenu.css ::::: */

.menutop, .menutop * { margin: 0pt; padding: 0pt; }
#horiz-menu { z-index: 50; }
#horiz-menu li li { margin: 0pt; }
.menutop { line-height: 1; float: left; margin-bottom: 1.5em; position: relative; }
.menutop ul { background: none repeat scroll 0% 0% rgb(255, 255, 255); padding: 0pt; }
.menutop li { float: left; list-style: none outside none; position: relative; }
#horiz-menu li li a, #horiz-menu li.active li a, #horiz-menu li li .separator, #horiz-menu li.active li .separator { display: block; padding: 0pt; margin: 0pt; text-decoration: none; float: none; height: 30px; line-height: 32px; text-indent: 8px; width: 98%; }
.menutop li ul { float: none; left: -999em; position: absolute; width: 177px; z-index: 5; }
.menutop li:hover ul, .menutop li.sfHover ul { left: 0pt; top: 24px; }
.menutop li:hover li ul, .menutop li.sfHover li ul, .menutop li li:hover li ul, .menutop li li.sfHover li ul, .menutop li li li:hover li ul, .menutop li li li.sfHover li ul { top: -999em; }
.menutop li li:hover ul, .menutop li li.sfHover ul, .menutop li li li:hover ul, .menutop li li li.sfHover ul, .menutop li li li li:hover ul, .menutop li li li li.sfHover ul { left: 177px; top: 0pt; }
.menutop li li { position: relative; float: none; width: 100%; }
div.wrapper { margin: 0pt auto; width: 962px; padding: 0pt; }
#rightcol { width: 225px; padding: 0pt; }
#maincol { margin-left: 0px; margin-right: 225px; padding: 0pt; }
#mainblock { margin-left: 0px; margin-right: 0px; padding: 0pt; }
