
/* ::::: null ::::: */

body, td, th { font-size: 13px; line-height: 140%; }
a:link { color: rgb(17, 68, 85); text-decoration: none; }
a:visited { color: rgb(17, 68, 85); text-decoration: none; }
a:hover { color: rgb(0, 153, 255); text-decoration: underline; }
a:active { color: rgb(0, 153, 255); text-decoration: none; }
.style12 { color: rgb(255, 255, 255); font-size: 12px; }
.style12 a { color: rgb(255, 255, 255); text-decoration: none; }
.style12 a:visited { color: rgb(255, 255, 255); text-decoration: none; }
.style12 a:hover { color: rgb(255, 255, 255); text-decoration: underline; }
.style14 { font-size: 10pt; }

/* ::::: http://www.gospelherald.com.tw/b5.css ::::: */

body, td, th { font-size: 13px; line-height: 140%; }
a:link { color: rgb(17, 68, 85); text-decoration: none; }
a:visited { color: rgb(17, 68, 85); text-decoration: none; }
a:hover { color: rgb(0, 153, 255); text-decoration: underline; }
a:active { color: rgb(0, 153, 255); text-decoration: none; }
.title { font-family: "新細明體, mingliu, taipei"; font-size: 18px; font-weight: bold; color: rgb(17, 96, 215); }
