
/* ::::: http://caterpillar.onlyfun.net/Gossip/CGossip/css/stdlayout.css ::::: */

ul, ol, dl { margin-top: 3px; margin-bottom: 3px; }
.indent { margin-left: 2em; }
.pagetitle { font-weight: bold; voice-family: inherit; font-size: large; }
.pagetitle a { text-decoration: none; color: rgb(47, 79, 79); }
.pagetitle a:active { text-decoration: none; color: rgb(47, 79, 79); }
.pagetitle a:link { text-decoration: none; color: rgb(47, 79, 79); }
.pagetitle a:visited { text-decoration: none; color: rgb(47, 79, 79); }
.pagetitle a:hover { text-decoration: none; color: rgb(95, 158, 160); }
.diffbox { border: 1px solid rgb(153, 153, 153); }
.diffauthor { font-weight: bold; }
.difftime { font-family: Verdana,Helvetica,Arial,sans-serif; background-color: rgb(221, 221, 221); voice-family: inherit; font-size: x-small; }
.difftype { clear: both; font-family: Verdana,Helvetica,Arial,sans-serif; font-weight: bold; voice-family: inherit; font-size: x-small; }
.diffadd { border-left: 5px solid rgb(153, 255, 153); padding-left: 5px; }
.diffdel { border-left: 5px solid rgb(255, 255, 153); padding-left: 5px; }
.diffrestore { margin: 1.5em 0px; clear: both; font-family: Verdana,Helvetica,Arial,sans-serif; voice-family: inherit; font-size: x-small; }
td#wikileft { vertical-align: top; }
td#wikibody { vertical-align: top; }
td#wikiright { vertical-align: top; }
a.varlink { text-decoration: none; }

/* ::::: http://caterpillar.onlyfun.net/Gossip/CGossip/css/print.css ::::: */

body { width: auto; background-color: white; color: black; font-family: serif; font-size: smaller; }
#printhead { border-top: 3px solid rgb(160, 160, 160); border-bottom: 5px solid rgb(160, 160, 160); font-family: sans-serif; margin-bottom: 1em; }
#printhead h3 { margin-top: 0px; }
#printhead h1 { margin-bottom: 0px; }
#printtitle {  }
#printfoot { border-top: 5px solid rgb(160, 160, 160); margin-top: 1em; font-size: smaller; }
pre { border: 1px solid rgb(119, 119, 119); margin: 20px 25px; padding: 0px 10px; color: rgb(102, 102, 102); background-color: rgb(238, 238, 238); font-size: small; font-weight: normal; line-height: 150%; width: auto; }
pre { margin-top: 3px; margin-bottom: 3px; color: rgb(51, 51, 51); font-family: "Courier New",Courier,monospace; line-height: 135%; voice-family: inherit; font-size: small; }
dt { border-left: 5px solid rgb(32, 178, 170); padding-left: 0.5em; font-weight: bold; }
dd { margin-left: 2em; }
h1, h2, h3, h4, h5, h6 { padding: 0.25em 0pt 0.25em 10px; font-weight: bold; }
h1, h2, h3, h4 { border-left: 10px solid; border-bottom: 1px solid; }
h1 { border-color: rgb(183, 132, 31); margin: 1.25em 5% 0.5em 0pt; color: rgb(183, 132, 31); voice-family: inherit; font-size: large; }
h2 { border-color: rgb(0, 102, 0); margin: 1.25em 15% 0.5em 0pt; color: rgb(0, 102, 0); voice-family: inherit; font-size: medium; }
h3 { border-color: rgb(72, 61, 139); margin: 1.5em 25% 0.5em 0pt; color: rgb(72, 61, 139); voice-family: inherit; font-size: medium; }
h4 { border-color: rgb(105, 105, 105); margin: 1.5em 35% 0.5em 0pt; color: rgb(105, 105, 105); voice-family: inherit; font-size: small; }
h5 { border-color: rgb(0, 102, 0); margin: 0.5em 0pt 0pt; color: rgb(0, 102, 0); voice-family: inherit; font-size: small; }
h6 { border-color: rgb(72, 61, 139); margin: 0.5em 0pt 0pt; color: rgb(72, 61, 139); voice-family: inherit; font-size: small; }
a:link { color: rgb(68, 68, 68); font-weight: bold; text-decoration: none; }
a:visited { color: rgb(68, 68, 68); font-weight: bold; text-decoration: none; }
a.wikilink:hover { color: rgb(68, 68, 68); text-decoration: underline; }
a.createlink { color: rgb(68, 68, 68); }
a.createlink:visited { color: rgb(68, 68, 68); }
a.createlink:hover { color: rgb(255, 34, 34); }
