
/* ::::: null ::::: */

.trackback_a {  }
.mapwidth { width: 100%; height: 400px; }
.calendar2 { height: 240px; }
.history {  }
.history:after { content: "."; display: block; height: 0pt; clear: both; visibility: hidden; }
.history_title { float: left; }
.history_articles { float: left; }
.cmt_floor_hide { color: blue; margin-bottom: 0.5em; display: none; }
.cmt_floor { float: right; }

/* ::::: http://f7.wretch.yimg.com/billypan101/files/blog.css?1232192179 ::::: */

html {  }
#text {  }
body { margin: 0px; background: transparent url('body.jpg') repeat scroll 0% 0%; font-size: 0.9em; color: rgb(68, 68, 68); font-family: "VERDANA"; }
a { color: rgb(18, 52, 86); }
a:hover { color: rgb(0, 0, 0); text-decoration: none; }
#container1 { margin: 0px auto; background: transparent url('container.jpg') repeat-y scroll 50% 0%; width: 1010px; position: relative; }
#container2 {  }
#banner { background: transparent url('o1125849545.jpg') no-repeat scroll 50% 100%; height: 118px; position: relative; left: 0px; }
#pageheader { text-align: left; position: absolute; left: 16px; top: 0px; width: 1000px; height: 118px; }
#pageheader h1 a { font-size: 22px; font-weight: bolder; text-decoration: none; color: rgb(255, 255, 255); }
#pageheader .description { display: block; text-align: left; position: relative; left: 4px; height: 10px; font-size: 12px; color: rgb(255, 255, 255); }
#pageheader h1 .description { display: none; font-size: 22px; font-weight: bolder; color: rgb(255, 255, 255); text-align: center; position: absolute; left: 280px; top: 10px; width: 600px; }
#main2 { position: relative; top: 0px; }
#content { margin-top: 5px; float: right; width: 697px; margin-right: 20px; }
.date { background: transparent url('date.jpg') no-repeat scroll 0% 0%; padding-right: 5px; height: 23px; text-align: right; }
.datediv { padding-top: 3px; color: rgb(255, 255, 255); }
.blogbody { background: transparent url('blog.jpg') no-repeat scroll 50% 100%; margin-bottom: 15px; }
.blogbody2 {  }
.articletext { padding: 10px; background: transparent url('blogbody.jpg') repeat-y scroll 50% 0%; }
.articletext .title {  }
.articletext .innertext {  }
.articletext .extended {  }
.posted { padding-left: 10px; color: rgb(159, 175, 200); }
.posted a { color: rgb(159, 175, 200); }
.posted a:hover { color: rgb(102, 153, 204); }
.total-comments-div { border-top: 1px dotted rgb(153, 153, 153); margin-top: 10px; padding-top: 10px; }
.trackback-url {  }
.total-comments-div .trackbacks-head {  }
.total-comments-div .trackbacks-head .comments-head { border: 1px solid rgb(170, 170, 170); padding: 7px; margin-bottom: 10px; }
.total-comments-div .comments-head { border: 1px solid rgb(170, 170, 170); padding: 7px; }
.total-comments-div .comments-bottom .comments-head { border: 1px solid rgb(170, 170, 170); padding: 7px; margin-top: 10px; }
.total-comments-div .comments-body { border-bottom: 1px dotted rgb(136, 136, 136); }
.total-comments-div .comments-body .comments-post { color: rgb(170, 170, 170); text-align: right; }
.total-comments-div .comments-body form {  }
.postuser {  }
.postemail {  }
.postweb {  }
#nameid {  }
#email {  }
#url {  }
#text { width: 300px; }
#divThird {  }
#divThird2 {  }
#links { width: 250px; padding-left: 15px; }
#links2 {  }
.sidetitle { padding-left: 10px; height: 18px; margin-top: 10px; }
.side { padding-left: 25px; }
#boxProfile { margin-top: 0px; }
#boxProfile .boxProfile0 {  }
#boxProfile .boxProfile0 .sidetitle {  }
#boxProfile .boxProfile1 {  }
#boxProfile .boxProfile1 .side {  }
#boxProfile .boxProfile1 .side .boxProfileImg {  }
#boxProfile .boxProfile1 .side .boxProfileLink {  }
#boxProfile .boxProfile1 .side select {  }
#boxSlideShow { background: transparent url('slideshow.jpg') no-repeat scroll 0% 0%; display: block; left: -4px; top: 5px; width: 258px; height: 200px; position: relative; }
#boxSlideShow .boxSlideShow0 {  }
#boxSlideShow .boxSlideShow0 .sidetitle { display: block; position: absolute; left: 6px; font-size: 0.8em; }
#boxSlideShow .boxSlideShow1 { overflow: hidden; display: block; padding-top: 30px; }
#boxSlideShow .boxSlideShow1 .side {  }
#boxMusic {  }
#boxNewArticle {  }
#boxNewArticle .boxNewArticle0 {  }
#boxNewArticle .boxNewArticle0 .sidetitle { background: transparent url('sidetitle01.jpg') no-repeat scroll 0% 0%; text-indent: -5000px; font-size: inherit; }
#boxNewArticle .boxNewArticle1 { margin: 5px; display: block; }
#boxNewArticle .boxNewArticle1 .side {  }
#boxNewArticle .boxNewArticle1 .side a { display: block; }
#boxCategory {  }
#boxCategory .boxCategory0 {  }
#boxCategory .boxCategory0 .sidetitle { background: transparent url('sidetitle02.jpg') no-repeat scroll 0% 0%; text-indent: -5000px; font-size: inherit; }
#boxCategory .boxCategory1 {  }
#boxCategory .boxCategory1 .side {  }
#boxCategory .boxCategory1 .side a {  }
#boxDate {  }
#boxDate .boxDate0 {  }
#boxDate .boxDate0 .sidetitle { background: transparent url('sidetitle03.jpg') no-repeat scroll 0% 0%; text-indent: -5000px; font-size: inherit; }
#boxDate .boxDate1 {  }
#boxDate .boxDate1 .side {  }
.calendar { font-size: 11px; }
#boxSearch {  }
#boxSearch .boxSearch0 {  }
#boxSearch .boxSearch0 .sidetitle {  }
#boxSearch .boxSearch1 {  }
#boxSearch .boxSearch1 .side #search {  }
#scupioSearch { overflow: hidden; height: 0pt; }
#scupioSearch .scupioSearch0 {  }
#scupioSearch .scupioSearch0 .sidetitle { display: none; }
#scupioSearch .scupioSearch1 {  }
#scupioSearch .scupioSearch1 .side #keyword { border: 0px none ; display: none; position: absolute; left: 781px; width: 127px; height: 15px; }
#scupioSearch .scupioSearch1 .side { overflow: hidden; display: none; height: 1px; }
#boxNewComment {  }
#boxNewComment .boxNewComment0 {  }
#boxNewComment .boxNewComment0 .sidetitle { background: transparent url('sidetitle04.jpg') no-repeat scroll 0% 0%; text-indent: -5000px; font-size: inherit; }
#boxNewComment .boxNewComment1 {  }
#boxNewComment .boxNewComment1 .side {  }
#boxFolder a img { border: 0px none ; }
#boxFolder .boxFolder0 {  }
#boxFolder .boxFolder0 .sidetitle { background: transparent url('sidetitle07.jpg') no-repeat scroll 0% 0%; padding-left: 20px; }
#boxFolder .boxFolder1 {  }
#boxFolder .boxFolder1 .side {  }
#boxCounter {  }
#boxCounter .boxCounter0 {  }
#boxCounter .boxCounter0 .sidetitle { background: transparent url('sidetitle08.jpg') no-repeat scroll 0% 0%; text-indent: -5000px; font-size: inherit; }
#boxCounter .boxCounter1 {  }
#boxCounter .boxCounter1 .side {  }
#boxRssList .boxRssList0 .sidetitle { background: transparent url('sidetitle05.jpg') no-repeat scroll 0% 0%; text-indent: -5000px; font-size: inherit; }
#boxNewTrackback .boxNewTrackback0 .sidetitle { background: transparent url('sidetitle06.jpg') no-repeat scroll 0% 0%; text-indent: -5000px; font-size: inherit; }
.syndicate { padding: 10px; }
.powered { padding: 10px; }
.total-comments-div .powered {  }
#footer { background: transparent url('footer.jpg') no-repeat scroll 0% 0%; clear: both; height: 45px; }
#links .powered br { display: none; }
#links .powered {  }
#links .powered .powerlogo img { display: none; }
#links .powered .powerlogo { background: transparent url('logo.jpg') no-repeat scroll 0% 0%; width: 233px; height: 158px; margin-top: 5px; }
.total-comments-div .powered { color: rgb(68, 68, 68); text-align: right; padding-right: 30px; }
#boxDate, #scupioSearch, #boxNewTrackback { display: none; }
.rss_box { display: none; width: 240px; position: relative; left: -40px; }
.rss_title, rss_title a { padding: 0pt; font-size: small; font-weight: bold; text-decoration: none; margin-left: 15px; }
.rss_items { margin: 0pt; padding: 0pt; list-style-type: none; list-style-image: none; list-style-position: outside; }
.rss_item { font-size: small; text-align: left; margin-bottom: 1em; }
.rss_item a:link, .rss_item a:visited, .rss_item a:active {  }
.rss_item a:hover {  }
.rss_date { font-size: xx-small; }
#boxMySpace { display: block; }
#iframe4664127 { position: absolute; top: 28px; left: 883px; }
#iframe4665947 { position: absolute; top: 100px; left: 920px; }

/* ::::: http://l.yimg.com/e/css/blog/font.css ::::: */

input { display: inline ! important; }
.normal-c { font-size: 16px; font-family: "新細明體"; }
.big-c { font-family: "新細明體"; font-size: 32px; }
.small-c { font-family: "新細明體"; font-size: 12px; }
.big-e { font-family: "Verdana","Arial","Helvetica","sans-serif"; font-size: 32px; }
.normal-e { font-size: 20px; font-family: "Verdana","Arial","Helvetica","sans-serif"; }
.small-e { font-family: "Verdana","Arial","Helvetica","sans-serif"; font-size: 11px; }
.boxNewTrackback1 {  }
#boxMySpace ul { margin: 0px; padding: 0px; list-style-type: none; list-style-image: none; list-style-position: outside; }
#boxWho div#whowrapper * { margin: 0pt; padding: 0pt; }
#boxWho div#whowrapper img { border: 0px none ; height: 50px; width: 50px; }
#boxWho div#whowrapper { overflow: hidden; margin-bottom: 1em; width: 166px; }
#boxWho div#whowrapper li { overflow: hidden; height: 50px; width: 50px; display: inline; float: left; margin-top: 4px; margin-left: 4px; }
ul { margin: 0pt; padding: 0pt; list-style-type: none; }
.comments-body ul li {  }
.comments-body ul .comments-post {  }
.total-comments-div img { border: 0pt none ; }
.comments-body ul li p { margin-top: 0pt; margin-bottom: 0pt; }
.comments-body { border-bottom: 1px dashed rgb(102, 102, 102); padding: 6px; margin-bottom: 12px; }
.trackbacks-post, .comments-post { display: block; clear: both; padding-top: 3px; }
.comments-author .comments-post { color: rgb(136, 136, 136); }
.comments-author .comments-post a { color: rgb(0, 0, 0); text-decoration: underline; }
.comments-author .comments-post a:hover { color: rgb(153, 153, 153); text-decoration: underline; }
.comments-author { margin: 0px; padding: 6px 6px 6px 24px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; opacity: 0.8; color: rgb(85, 85, 85); }
.comments-body {  }
.comments-body span { margin-right: 6px; float: left; text-align: center; }
.comments-body span a { display: block; width: 90px; height: 90px; vertical-align: middle; }
.comments-body a * { vertical-align: middle; }
.comments-body span > a { display: table-cell; }
.comments-body span cite { display: inline-block; height: 100%; }
#sort { text-align: right; }
#sort li { display: inline; margin-left: 20px; }
#sort img { border: 0pt none ; }
#collection p, #collection h3 { margin: 0pt; }
#collection li { border-bottom: 1px dotted; padding-bottom: 10px; }
#collection li.more { border: 0pt none ; text-align: right; }
#collection .title { position: static ! important; }
p.collect_date { text-align: right; opacity: 0.7; }
.collect_cate { border-left: 10px solid; font-size: 1.3em; font-weight: bold; padding-left: 0.5em; }
.collect_cate a { text-decoration: none; }
#links #boxCollection p { margin: 0px; padding: 0px; }
#links #boxCollection #collect_description { border-bottom: 1px dashed rgb(102, 102, 102); margin: 0px 0px 5px; }
.bookmark { padding-top: 42px; }
.bookmark a img { vertical-align: middle; }
#content #push { border: 1px solid rgb(153, 153, 153); background: transparent url('border.png') no-repeat scroll 0pt 0pt; float: right; text-align: center; width: 81px; height: 59px; margin-bottom: 3px; margin-left: 3px; line-height: 18px; font-size: 12px; font-family: georgia; color: rgb(75, 75, 75); }
#content #push span { display: block; font-weight: bold; font-size: 16px; }
html #push a { border: 1px solid rgb(170, 170, 170); margin: 0pt 0pt 0pt 1px; padding: 0pt 0pt 0pt 12px; display: block; width: 24px; height: 19px; float: left; text-decoration: none; color: rgb(119, 119, 119); font-size: 13px; }
html #push a.push:hover { border-color: rgb(26, 132, 183); color: rgb(0, 153, 204); }
html #push a.pull:hover { border-color: rgb(226, 102, 158); color: rgb(255, 0, 153); }
html #push a.push { background: transparent url('push.gif') no-repeat scroll center center; }
html > body #push a.push { margin: 0pt 0pt 0pt 2px; }
html #push a.pull { background: transparent url('pull.gif') no-repeat scroll center center; }
#reading { margin: 0pt 7px 5px 0pt; text-align: right; }
.clearfix:after { content: "."; display: block; height: 0pt; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
#bigcontainer #container1 .extended span { padding-left: 15px; }
#bigcontainer #container1 .extended span a { display: inline; }
.digu .profile { float: left; }
.digu .content { margin-left: 70px; }
.digu .profile img { border: medium none ; }
h3 > a img { vertical-align: middle; }
h3 a img { border: 0pt none ; padding-left: 5px; }

/* ::::: null ::::: */

#collection_comments { border: 5px solid rgb(223, 232, 246); padding: 1em; position: absolute; top: 0pt; background-color: rgb(255, 255, 255); z-index: 500; color: rgb(68, 68, 68); }
#collection_comments .icon { position: absolute; top: 5px; right: 5px; cursor: pointer; }
#friend-picker { border: 1px solid rgb(223, 232, 246); background: rgb(255, 255, 255) none repeat scroll 0% 0%; font-size: 11px; font-family: arial,sans-serif; color: rgb(102, 102, 102); width: 405px; position: absolute; top: 0pt; z-index: 100; visibility: hidden; }
#friend-picker-container { border: 5px solid rgb(223, 232, 246); }
#friend-picker a { color: rgb(26, 132, 183); text-decoration: none; }
#friend-picker img { border: medium none ; }
#friend-picker-bd { padding-left: 7px; }
#friend-picker-bd:after, #friend-picker-pagination:after { content: "."; display: block; height: 0pt; clear: both; visibility: hidden; }
.friend-picker-cell { border: 2px solid rgb(255, 255, 255); margin: 0pt 3px 7px 0pt; overflow: hidden; float: left; width: 70px; height: 80px; text-align: center; cursor: pointer; }
#friend-picker #friend-picker-bd div.friend-picker-cell:hover { border: 2px solid rgb(176, 204, 239); -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; -moz-border-radius-bottomright: 5px; -moz-border-radius-bottomleft: 5px; }
.friend-picker-cell p { margin: 5px auto 0pt; width: 60px; height: 60px; }
#label { cursor: pointer; display: table-cell; text-align: center; vertical-align: middle; height: 60px; width: 60px; }
#label * { vertical-align: middle; }
#label span {  }
#friend-picker #friend-picker-pagination { margin: 7px 0pt 7px -9px; text-align: center; clear: both; font-size: 13px; }
#friend-picker #friend-picker-pagination a { border: 1px solid rgb(204, 204, 204); padding: 2px 7px; background-color: rgb(255, 255, 255); margin-right: 4px; outline-style: none; outline-width: medium; text-align: center; cursor: pointer; }
#friend-picker #friend-picker-pagination a.more { border: medium none ; }
#friend-picker #friend-picker-pagination a.on { border-color: rgb(255, 255, 255); background-color: rgb(255, 255, 255); }
#friend-picker #friend-picker-closebtn { text-decoration: none; cursor: pointer; position: absolute; top: 5px; right: 5px; }
#loading { position: absolute; top: 4px; right: 25px; display: none; }
#friend-picker #friend-picker-hd { background-color: rgb(248, 251, 252); height: 18px; }
#friend-picker #friend-picker-hd { text-indent: 7px; }
#friend-picker #friend-picker-hd .on { background-color: rgb(102, 102, 102) ! important; color: rgb(239, 239, 239) ! important; }

/* ::::: null ::::: */

a.smaplink img { padding: 0pt 4px 0pt 2px; width: 31px; height: 13px; }

/* ::::: null ::::: */

#Wretch-haha, #Wretch-haha-spacer, #Wretch-haha table, #Wretch-haha table tbody, #Wretch-haha table tbody tr, #Wretch-haha table tbody tr td, #Wretch-haha table tbody tr td a, #Wretch-haha table tbody tr td div, #Wretch-haha table tbody tr td div span, #Wretch-haha table tbody tr td div span a, #Wretch-haha table tbody tr td input { margin: 0pt; padding: 0pt; visibility: visible ! important; opacity: 1 ! important; clip: rect(auto, auto, auto, auto) ! important; line-height: 20px ! important; font-size: 12px ! important; width: auto ! important; text-align: left ! important; }
#Wretch-haha-spacer { height: 20px; }
#Wretch-haha { background: rgb(16, 128, 162) none repeat scroll 0% 0%; height: 20px; position: absolute; top: 0pt ! important; right: 0pt ! important; z-index: 50000; padding-right: 5px; font-family: arial; font-size: 12px; width: 200% ! important; }
#Wretch-haha img { border: medium none ; position: static ! important; }
#Wretch-haha table { background: rgb(16, 128, 162) none repeat scroll 0% 0% ! important; display: table ! important; }
#Wretch-haha table tbody { display: table-row-group; }
#Wretch-haha table tbody tr { display: table-row ! important; }
#Wretch-haha table tbody tr td { display: table-cell ! important; }
#Wretch-haha-spacer, #Wretch-haha table tbody tr td div, #Wretch-haha table tbody tr td div span a { display: block ! important; }
#Wretch-haha table tbody tr td a, #Wretch-haha table tbody tr td span a, #Wretch-haha table tbody tr td input { display: inline; }
#Wretch-haha table tr td div { color: rgb(204, 204, 204); }
#Wretch-haha a { background: transparent none repeat scroll 0% 0%; text-decoration: none; color: rgb(255, 255, 255); cursor: pointer; font-weight: normal; }
#Wretch-haha a:hover { text-decoration: underline; }
#Wretch-haha table { height: 20px; }
#Wretch-haha td { color: rgb(204, 204, 204); }
#Wretch-haha input { border: medium none ; height: 16px; }
#Wretch-haha .Wretch-haha-text { padding: 0pt 5px 0pt 2px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 100px ! important; color: rgb(102, 102, 102); font-size: 11px; }
#Wretch-haha .Wretch-haha-submit { background: transparent url('zoom.gif') no-repeat scroll 0% 0%; width: 16px ! important; cursor: pointer; }
#Wretch-haha-menubar { position: relative; z-index: 50001; }
#Wretch-haha-menubar span { border: 1px solid rgb(204, 204, 204); position: absolute; top: 16px; left: 2px; width: 93px; background-color: rgb(16, 128, 162); display: none; }
#Wretch-haha table #Wretch-haha-menubar a { margin: 0pt 5px; white-space: nowrap; }
