
/* ::::: http://web1.nsc.gov.tw/xslgip/style1/css/internal.css ::::: */

.header { text-align: right; margin-right: auto; margin-left: auto; font-size: 80%; height: 100px; width: auto; }
.header .accesskey { font-size: 10px; float: left; }
.header .accesskey a { color: rgb(125, 212, 221); }
.header .left { float: left; }
.header ul { margin: 0pt 10px 8px 0pt; padding-top: 16px; }
.header li { display: inline; background-image: url('bullet01.gif'); background-repeat: no-repeat; background-position: left 1px; padding-left: 13px; padding-right: 1px; letter-spacing: 0.05em; }
.header li a { color: rgb(0, 94, 74); }
.header li a:hover { color: rgb(204, 51, 0); }
.header .listimg { margin: 0px; padding: 0px; list-style-type: none; list-style-image: none; list-style-position: outside; vertical-align: middle; }
.header .listimg img { border-style: none; }
.header form { margin-right: 12px; margin-bottom: 0px; margin-top: 6px; }
.header input { vertical-align: middle; margin-bottom: 3px; margin-top: 3px; }
.header .advanced { border-style: none; vertical-align: middle; margin-top: -3px; }
.header p { padding: 2px 10px 3px 15px; margin-top: 0px; margin-bottom: 2px; clear: both; text-align: left; margin-left: 73px; }
.side { line-height: 145%; }
.side .accesskey { font-size: 10px; position: absolute; top: 90px; }
.side .accesskey a { color: rgb(255, 255, 255); }
.side .menu { border-top: 1px solid rgb(191, 191, 191); margin: 0pt 10px 12px; width: 148px; }
html > body .side .menu { width: 180px; }
.side .menu ul { margin: 0px; list-style-type: none; }
html > body .side .menu ul { margin-left: -40px; }
* + html > body .side .menu ul { margin-left: 0px; }
.side .menu ul ul { border-top-style: none; }
.side .menu li a { border-left: 1px solid rgb(191, 191, 191); border-right: 1px solid rgb(191, 191, 191); border-bottom: 1px solid rgb(191, 191, 191); margin: 0px; padding: 6px 5px 2px 25px; font-size: 95%; line-height: 150%; font-weight: normal; letter-spacing: 0.15em; background-image: url('nav1.gif'); background-repeat: no-repeat; background-position: left top; background-color: rgb(255, 255, 255); display: block; width: 148px; color: rgb(51, 51, 51); text-align: left; }
html > body .side .menu li a { width: 148px; }
.side .menu li a:hover { text-decoration: none; color: rgb(204, 51, 0); background-color: rgb(255, 255, 255); }
.side .menu li li a { border-left: 1px solid rgb(191, 191, 191); border-right: 1px solid rgb(191, 191, 191); border-bottom: 1px solid rgb(205, 235, 216); padding: 4px 5px 0px 25px; font-size: 80%; line-height: 150%; letter-spacing: 0.05em; background-image: url('nav2.gif'); background-repeat: no-repeat; background-position: 12px 8px; display: block; width: 148px; background-color: rgb(240, 253, 245); text-align: left; color: rgb(0, 108, 87); }
html > body .side .menu li li a { width: 148px; }
.side .menu li li a:hover { text-decoration: none; background-color: rgb(255, 255, 255); color: rgb(204, 51, 0); }
.side .menu .here { text-decoration: none; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); }
.side .banner { margin: 0px 5px 10px; text-align: center; clear: both; }
.side .banner img { border: 1px solid rgb(153, 153, 153); margin-bottom: 6px; width: 170px; }
.side .block { border: 1px solid rgb(191, 191, 191); margin: 0px 10px 10px; text-align: left; background-image: url('01infobox.gif'); background-repeat: no-repeat; background-position: right top; font-size: 75%; line-height: 140%; }
.side .block .textimg { border: 1px solid rgb(153, 153, 153); float: left; margin-top: 0px; width: 150px; margin-left: 12px; margin-bottom: 7px; }
.side .block .community { text-align: center; margin-top: 8px; margin-bottom: 10px; }
.side .block .community img { border: medium none ; }
.side .block ul { margin: 0px; }
html > body .side .block ul { margin-left: -35px; padding-left: 35px; }
.side .block li { border-bottom: 1px dotted rgb(160, 176, 132); padding: 3px 5px 3px 25px; line-height: 145%; background-position: 12px 8px; background-image: url('02bullet2.gif'); background-repeat: no-repeat; list-style-type: none; margin-top: 2px; }
.side h4 { border: medium none ; margin: 0px 10px; font-size: 95%; font-weight: normal; clear: left; }
html > body .side h4 {  }
.side .login { padding: 10px 6px 3px 44px; background-image: url('headlogin.gif'); background-repeat: no-repeat; background-position: left top; }
.side .text { padding: 10px 6px 3px 40px; background-image: url('headtext.gif'); background-repeat: no-repeat; background-position: left top; }
.side .block h5 { margin-left: 10px; margin-bottom: 3px; margin-top: 8px; font-size: 125%; }
.side .block p { margin: 2px 10px 5px; }
.side .block p a { margin-left: 2px; }
.side .block form { margin: 10px 5px 0px 10px; }
.side .blockform { margin: 10px 5px 0px 10px; }
.side .more { margin: 0pt 0pt 4px 5px; padding: 0pt 10px 0pt 0px; background-image: url('more.gif'); background-repeat: no-repeat; background-position: 103px 3px; float: none; display: block; text-align: right; }
.center { font-size: 80%; line-height: 160%; text-align: left; padding-right: 35px; padding-left: 11px; width: 100%; }
.center .accesskey { font-size: 10px; position: absolute; top: 90px; }
.center .accesskey a { color: rgb(255, 255, 255); font-size: 10px; }
.center .banner div { display: inline; }
.center .banner img { border: 1px solid rgb(191, 191, 191); margin: 0pt 4px 5px 0pt; }
html > body .center .banner img { margin-right: 1px; }
* + html > body .center .banner img { margin-right: 4px; }
.center p { margin-top: 5px; margin-bottom: 20px; }
.center ul { margin-top: 10px; margin-bottom: 20px; margin-left: 7px; clear: both; }
html > body .center ul { margin-left: -32px; padding-left: 32px; }
.center ul li { line-height: 145%; background-image: url('dot.gif'); background-repeat: no-repeat; background-position: left 4px; padding-left: 12px; list-style-type: none; margin-top: 2px; margin-bottom: 3px; }
.center ol li { margin-bottom: 10px; }
.headline { padding-top: 23px; padding-bottom: 5px; }
.headline .tab { margin: 0px; list-style-type: none; }
html > body .headline .tab { margin: 0px 0px 0px -20px; }
* + html > body .headline .tab { margin: 0px 0px 0px -32px; }
.headline .tab li { padding: 0px; display: inline; background-image: none; }
.headline .tab li a { border: 1px solid rgb(191, 191, 191); color: rgb(51, 51, 51); padding-top: 8px; padding-right: 12px; padding-bottom: 4px; letter-spacing: 0.05em; }
.headline .tab li a:hover { text-decoration: none; color: rgb(0, 94, 74); }
.headline .icon01 { background-image: url('icon01grey.gif'); background-repeat: no-repeat; background-position: left top; padding-left: 35px; }
.headline .icon01_here { background-image: url('icon01green.gif'); background-repeat: no-repeat; background-position: left top; padding-right: 10px; padding-left: 35px; color: rgb(255, 255, 255) ! important; }
.headline .icon02 { background-image: url('icon02grey.gif'); background-repeat: no-repeat; background-position: left top; padding-left: 35px; }
.headline .icon02_here { background-image: url('icon02green.gif'); background-repeat: no-repeat; background-position: left top; padding-right: 10px; padding-left: 35px; color: rgb(255, 255, 255) ! important; }
.headline .icon03 { background-image: url('icon03grey.gif'); background-repeat: no-repeat; background-position: left top; padding-left: 35px; }
.headline .icon03_here { background-image: url('icon03green.gif'); background-repeat: no-repeat; background-position: left top; padding-right: 10px; padding-left: 35px; color: rgb(255, 255, 255) ! important; }
.headline .icon04 { background-image: url('icon04grey.gif'); background-repeat: no-repeat; background-position: left top; padding-left: 37px; }
.headline .icon04_here { background-image: url('icon04green.gif'); background-repeat: no-repeat; background-position: left top; padding-right: 10px; padding-left: 37px; color: rgb(255, 255, 255) ! important; }
.headline .icon05 { background-image: url('icon05grey.gif'); background-repeat: no-repeat; background-position: left top; padding-left: 35px; }
.headline .icon05_here { background-image: url('icon05green.gif'); background-repeat: no-repeat; background-position: left top; padding-right: 10px; padding-left: 35px; color: rgb(255, 255, 255) ! important; }
.headline .icon06 { background-image: url('icon06grey.gif'); background-repeat: no-repeat; background-position: left top; padding-left: 36px; }
.headline .icon06_here { background-image: url('icon06green.gif'); background-repeat: no-repeat; background-position: left top; padding-right: 10px; padding-left: 36px; color: rgb(255, 255, 255) ! important; }
.headline .icon07 { background-image: url('icon07grey.gif'); background-repeat: no-repeat; background-position: left top; padding-left: 35px; }
.headline .icon07_here { background-image: url('icon07green.gif'); background-repeat: no-repeat; background-position: left top; padding-right: 10px; padding-left: 35px; color: rgb(255, 255, 255) ! important; }
.headline .icon08 { background-image: url('icon08grey.gif'); background-repeat: no-repeat; background-position: left top; padding-left: 35px; }
.headline .icon08_here { background-image: url('icon08green.gif'); background-repeat: no-repeat; background-position: left top; padding-right: 10px; padding-left: 35px; color: rgb(255, 255, 255) ! important; }
.headline .icon09 { background-image: url('icon09grey.gif'); background-repeat: no-repeat; background-position: left top; padding-left: 36px; }
.headline .icon09_here { background-image: url('icon09green.gif'); background-repeat: no-repeat; background-position: left top; padding-right: 10px; padding-left: 36px; color: rgb(255, 255, 255) ! important; }
.headline .icon10 { background-image: url('icon10grey.gif'); background-repeat: no-repeat; background-position: left top; padding-left: 35px; }
.headline .icon10_here { background-image: url('icon10green.gif'); background-repeat: no-repeat; background-position: left top; padding-right: 10px; padding-left: 35px; color: rgb(255, 255, 255) ! important; }
.headline .box { border: 1px solid rgb(191, 191, 191); padding: 10px 12px 15px 15px; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); background-image: url('centerbox.gif'); background-repeat: repeat-x; background-position: left top; margin-top: 4px; }
html > body .headline .box { margin-top: 2px; }
* + html > body .headline .box { margin-top: 4px; }
.headline .scroll { overflow: auto; height: 200px; }
.headline img { border: 1px solid rgb(153, 153, 153); float: left; margin-top: 12px; margin-right: 10px; width: 150px; }
.headline embed { float: left; margin-top: 8px; margin-right: 10px; width: 200px; }
.headline p { margin-bottom: 5px; margin-right: 11px; }
.headline ul { margin-top: 7px; margin-bottom: 5px; margin-right: 11px; clear: both; }
.headline .more { margin-right: 16px; }
.col3 { width: 176px; float: left; }
.col3 img { margin: 4px 0px 9px; width: 160px; clear: both; }
.col3 h5 { margin: 3px 0px 0px; background-image: url('bullet02.gif'); background-repeat: no-repeat; background-position: left 4px; padding-left: 15px; }
.col3 p { line-height: 145%; }
.footerbg { background-image: url('footerbg.gif'); background-repeat: repeat-x; background-position: left top; background-color: rgb(255, 255, 255); }
.footer { font-size: 75%; line-height: 150%; text-align: center; margin-top: 5px; margin-right: auto; margin-left: auto; padding-top: 15px; padding-bottom: 15px; }
.footer p { margin: 0px 200px; }
.footer a { margin-right: 4px; margin-left: 5px; }
.footer .aplus { float: right; margin-right: 15px; margin-top: -78px; margin-bottom: 0px; }
.footer .aplus img { border: medium none ; display: block; margin-bottom: 5px; }
.footer .egov { float: left; background-color: rgb(255, 255, 255); margin-left: 15px; }
.footer .egov img { border-style: none; }
.body { margin: 0pt; padding: 0pt; background-color: rgb(255, 255, 255); background-image: url('internalbg.jpg'); background-repeat: no-repeat; background-position: left top; color: rgb(51, 51, 51); text-align: center; }
form { margin: 0pt; padding: 0pt; }
a { color: rgb(0, 108, 87); text-decoration: none; }
a:hover { text-decoration: underline; color: rgb(204, 51, 0); }
h4 { border-bottom: 2px dotted rgb(153, 153, 153); font-size: 125%; font-weight: normal; letter-spacing: 0.05em; line-height: 130%; padding-bottom: 5px; padding-left: 35px; background-image: url('title.gif'); background-repeat: no-repeat; background-position: left top; margin-top: 10px; margin-bottom: 15px; clear: both; padding-top: 2px; }
h4 a:hover { color: rgb(204, 102, 0); }
h5 { font-size: 120%; line-height: 130%; font-weight: normal; letter-spacing: 0.05em; margin-top: 10px; margin-bottom: 0px; }
strong { color: rgb(85, 85, 85); font-size: 100%; letter-spacing: 0.05em; font-weight: bold; line-height: 150%; margin-bottom: 3px; }
em { color: rgb(204, 102, 51); font-style: normal; font-weight: normal; }
hr { border: medium none ; margin: 0px; clear: both; background-color: rgb(165, 165, 165); color: rgb(165, 165, 165); height: 1px; }
.input { border: 1px solid rgb(153, 153, 153); margin: 2px 3px 2px 0pt; padding: 4px 2px 2px; font-size: 12px; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); line-height: 110%; vertical-align: middle; }
.button { margin: 5px 3px 0px 0px; }
.more { padding-left: 12px; background-image: url('more.gif'); background-repeat: no-repeat; background-position: left 4px; float: right; }
.source { margin: 0pt 0pt 0pt 10px; color: rgb(204, 102, 51); padding-top: 5px; }
.leftimg { border: 1px solid rgb(153, 153, 153); float: left; margin-right: 10px; margin-bottom: 5px; }
.visitor { margin: 5px 0px 0px; text-align: center; font-size: 80%; letter-spacing: 0.05em; }
.top { background-image: url('top.gif'); background-repeat: no-repeat; background-position: right 3px; margin-top: 8px; clear: both; text-align: right; padding-right: 15px; }
.centernav { border-bottom: 1px dashed rgb(167, 205, 168); margin: 10px 0px; width: 100%; border-collapse: collapse; }
.centernav td { font-size: 80%; line-height: 135%; padding-bottom: 5px; width: 33%; }
html > body .centernav td { font-size: 100%; }
.centernav p { margin: 0pt; }
.centernav a { letter-spacing: 0.05em; background-image: url('bullet03.gif'); background-repeat: no-repeat; background-position: left 2px; padding-left: 14px; display: list-item; list-style-type: none; list-style-image: none; list-style-position: outside; }
.category { margin-top: 12px; margin-bottom: 10px; vertical-align: middle; }
.category a { margin-left: 4px; margin-right: 6px; }
.page { border: 1px dotted rgb(204, 204, 204); margin: 25px auto 15px; padding: 5px 10px; vertical-align: middle; clear: both; text-align: center; background-color: rgb(238, 238, 238); }
.page a { margin-left: 4px; margin-right: 6px; }
.search { background-image: url('search.gif'); background-repeat: no-repeat; background-position: 0px 3px; padding-left: 16px; padding-top: 5px; margin-left: 10px; display: inline; }
.term { padding: 4px 5px 2px; margin-bottom: 13px; }
.previous { background-image: url('previous.gif'); background-repeat: no-repeat; background-position: left 2px; padding-left: 8px; margin-left: 8px; }
.next { background-image: url('next.gif'); background-repeat: no-repeat; background-position: right 2px; padding-right: 8px; }
.lptable caption { font-weight: normal; padding-bottom: 3px; font-size: 120%; letter-spacing: 0.05em; margin-top: 20px; }
.lptable { border-top: 3px double rgb(213, 213, 213); border-bottom: 3px double rgb(213, 213, 213); border-collapse: collapse; margin-top: 20px; width: 100%; font-size: 100%; margin-bottom: 20px; }
.lptable img { border: medium none ; }
.lptable th { border-top: 1px solid rgb(213, 213, 213); border-bottom: 1px solid rgb(213, 213, 213); padding: 6px 5px 4px 10px; vertical-align: top; text-align: left; font-weight: normal; background-color: rgb(245, 245, 245); }
.lptable td { border-top: 1px solid rgb(227, 227, 227); border-bottom: 1px solid rgb(227, 227, 227); padding: 6px 5px 5px 10px; vertical-align: top; line-height: 145%; }
.lptable .bg { border-bottom: 1px solid rgb(204, 204, 204); background-color: rgb(248, 248, 245); }
.lpheader { border-bottom: 1px dashed rgb(167, 205, 168); }
.lpheader p, .lpfooter p { margin: 0pt 0pt 10px; }
.lpfooter { border-bottom: 1px dashed rgb(167, 205, 168); margin-bottom: 10px; margin-top: 10px; }
.ollist { border-bottom: 1px dashed rgb(167, 205, 168); margin-top: 15px; margin-bottom: 17px; padding-bottom: 5px; }
.ollist ul li { background-image: none; margin-top: 2px; margin-bottom: 2px; }
.np { margin-top: 15px; margin-bottom: 20px; width: 95%; margin-left: 35px; }
.np dt { padding: 11px 5px 13px 35px; background-image: url('np.gif'); background-repeat: no-repeat; background-position: left 5px; width: 500px; font-size: 125%; letter-spacing: 0.05em; }
.np dd { margin-top: 10px; margin-bottom: 10px; }
.np img { border: medium none ; margin-left: 1px; margin-right: 5px; }
.datatable { border: 3px double rgb(213, 213, 213); border-collapse: collapse; font-size: 100%; width: 96%; margin-top: 15px; margin-bottom: 20px; margin-left: 10px; color: rgb(51, 51, 51); clear: both; }
.datatable caption { font-weight: normal; padding-bottom: 3px; font-size: 120%; letter-spacing: 0.1em; }
.datatable th { border: 1px solid rgb(213, 213, 213); padding: 5px 10px; font-weight: normal; background-color: rgb(239, 252, 224); text-align: left; vertical-align: top; width: 25%; }
.datatable td { border: 1px solid rgb(213, 213, 213); padding: 5px 10px; font-weight: normal; line-height: 150%; }
.qp { border: 3px double rgb(191, 191, 191); border-collapse: collapse; font-size: 100%; width: 96%; margin-top: 15px; margin-bottom: 20px; margin-left: 10px; }
.qp caption { font-weight: normal; color: rgb(51, 51, 51); padding-bottom: 5px; font-size: 120%; letter-spacing: 0.1em; }
.qp th { border: 1px solid rgb(191, 191, 191); padding: 5px 10px 5px 5px; font-weight: normal; background-color: rgb(240, 253, 245); text-align: center; vertical-align: top; }
.qp td { border: 1px solid rgb(191, 191, 191); padding: 5px 5px 5px 10px; font-weight: normal; line-height: 150%; }
.qp .input { margin: 3px; font-size: 100%; color: rgb(51, 51, 51); }
.friendly p { margin: 0px; }
.friendly ul { margin: -5px 0px; float: right; }
.friendly .print { background-image: url('print.gif'); background-repeat: no-repeat; background-position: left top; padding-left: 18px; display: inline; margin-left: 5px; }
.friendly .mail { background-image: url('email.gif'); background-repeat: no-repeat; background-position: left 2px; padding-left: 19px; display: inline; margin-left: 7px; }
.friendly .doc { background-image: url('doc.gif'); background-repeat: no-repeat; background-position: left top; padding-left: 16px; display: inline; margin-left: 5px; }
.friendly .path { background-image: url('path.gif'); background-repeat: no-repeat; background-position: left 5px; padding-top: 5px; margin-bottom: 5px; width: auto; }
.sitemap li { border-bottom: 1px dashed rgb(168, 168, 168); line-height: 150%; margin-left: 23px; list-style-type: none; margin-top: 10px; }
.sitemap li li { border: medium none ; line-height: 150%; list-style-type: none; margin-top: 2px; margin-bottom: 2px; }
.sitemap li li li, .sitemap li li li li, .sitemap li li li li li { border: medium none ; line-height: 150%; list-style-type: none; margin-top: 2px; margin-bottom: 2px; }
.result span { color: rgb(204, 51, 51); }
.result p { margin-top: 0px; margin-bottom: 25px; line-height: 145%; }
.InputBtn { border: 1px solid rgb(187, 187, 187); padding: 5px 3px 1px; background: transparent url('buttonbg.gif') repeat-x scroll left top; font-size: 12px; color: rgb(51, 51, 51); line-height: 100%; margin-bottom: 10px; vertical-align: -40%; }
.publish { vertical-align: middle; margin-left: 15px; }
.layout { border-collapse: collapse; font-size: 100%; line-height: 150%; margin-right: auto; margin-left: auto; clear: both; width: auto; margin-bottom: 15px; }
.layout td { vertical-align: top; text-align: left; }
.layout .leftbg { width: 200px; }
.layout .rightbg { width: 200px; }

/* ::::: http://web1.nsc.gov.tw/xslgip/style1/css/WebResource.css ::::: */

.ajax__tab_default .ajax__tab_header { white-space: nowrap; }
.ajax__tab_default .ajax__tab_outer { display: inline-block; }
.ajax__tab_default .ajax__tab_inner { display: inline-block; }
.ajax__tab_default .ajax__tab_tab { overflow: hidden; margin-right: 4px; text-align: center; cursor: pointer; display: inline-block; }
.ajax__tab_xp .ajax__tab_header { background: transparent none repeat scroll 0% 0%; font-family: Verdana,Arial,Helvetica,sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 90%; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
.ajax__tab_xp .ajax__tab_outer { background: transparent none repeat scroll 0% 0%; padding-right: 3px; height: 25px; }
.ajax__tab_xp .ajax__tab_inner { background: transparent none repeat scroll 0% 0%; padding-left: 0pt; }
.ajax__tab_xp .ajax__tab_tab { border: 1px solid rgb(191, 191, 191); margin: 0pt; padding: 6px 10px 4px; height: 25px; background-image: url('tabgrey.gif'); background-repeat: no-repeat; background-position: left top; }
.ajax__tab_xp .ajax__tab_hover .ajax__tab_outer { background: transparent none repeat scroll 0% 0%; }
.ajax__tab_xp .ajax__tab_hover .ajax__tab_inner { background: transparent none repeat scroll 0% 0%; }
.ajax__tab_xp .ajax__tab_hover .ajax__tab_tab { border: 1px solid rgb(191, 191, 191); margin: 0pt; padding: 6px 10px 4px; height: 25px; background-image: url('tabgrey.gif'); background-repeat: no-repeat; background-position: left top; color: rgb(0, 94, 74); text-decoration: underline; }
.ajax__tab_xp .ajax__tab_active .ajax__tab_outer { background: transparent none repeat scroll 0% 0%; }
.ajax__tab_xp .ajax__tab_active .ajax__tab_inner { background: transparent none repeat scroll 0% 0%; }
.ajax__tab_xp .ajax__tab_active .ajax__tab_tab { border: 1px solid rgb(191, 191, 191); margin: 0pt; padding: 6px 10px 4px; height: 25px; background-image: url('tabgreen.gif'); background-repeat: no-repeat; background-position: left top; color: rgb(255, 255, 255); text-decoration: none; }
.ajax__tab_xp .ajax__tab_body { border: 1px solid rgb(191, 191, 191); padding: 10px 12px 12px 15px; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); background-image: url('centerbox.gif'); background-repeat: repeat-x; background-position: left top; margin-top: -9px; }
html > body .ajax__tab_xp .ajax__tab_body { margin-top: 5px; }
* + html > body .ajax__tab_xp .ajax__tab_body { margin-top: 3px; }
.ajax__scroll_horiz { overflow-x: scroll; }
.ajax__scroll_vert { overflow-y: scroll; }
.ajax__scroll_both { overflow: scroll; }
.ajax__scroll_auto { overflow: auto; }
