
/* ::::: http://www.cplusplus.com/main.css ::::: */

body, table, input, select, textarea { font-family: verdana,arial,helvetica,sans-serif; font-size: 12px; color: black; }
body, form, pre { margin: 0pt; padding: 0pt; }
dt { font-weight: bold; }
dd, ul { margin-bottom: 12px; }
ul { margin-top: 4px; }
li { margin-bottom: 4px; }
a:link, a:visited, a:active { text-decoration: none; color: rgb(0, 0, 112); }
a:hover { text-decoration: underline; color: rgb(0, 0, 160); }
.imgbox { line-height: 1px; }
.bar { background: transparent url('headbg.gif') repeat scroll 0% 0%; color: white; line-height: 20px; vertical-align: top; }
.bar table { color: white; font-size: 9px; line-height: 16px; }
.bar a:link, .bar a:visited, .bar a:active { color: white; }
.bar a:hover { text-decoration: none; color: yellow; }
.bar .txt { border: 1px inset ; height: 14px; background-color: rgb(192, 192, 255); }
.bar .btn { border: 1px outset ; height: 18px; background-color: rgb(192, 192, 255); font-size: 9px; }
.left { border-right: 1px solid black; }
.left table { border: 1px solid rgb(0, 0, 127); background: white none repeat scroll 0% 0%; margin-top: 5px; width: 160px; border-collapse: collapse; }
.left td { color: rgb(0, 0, 112); text-align: left; font-family: verdana,arial,helvetica,sans-serif; font-size: x-small; }
.left th { background: blue url('blue.gif') repeat scroll 0% 0%; height: 14px; color: rgb(255, 255, 255); font-family: verdana,arial,helvetica,sans-serif; font-size: xx-small; }
.left th a:link, .left th a:visited, .left th a:active { text-decoration: none; color: rgb(255, 255, 255); }
.left th a:hover { text-decoration: none; color: yellow; }
.content { padding: 5px; }
.list { width: 98%; }
.list td { border: 1px solid silver; position: relative; left: 2%; }
.list .tit { width: 160px; }
.boxed { border-collapse: collapse; }
.boxed th { border: 1px solid black; background: rgb(224, 224, 224) none repeat scroll 0% 0%; }
.boxed td { border: 1px solid black; }
.code { border: 1px solid rgb(192, 192, 208); background: rgb(239, 239, 255) none repeat scroll 0% 0%; vertical-align: top; }
.code a:link, .code a:visited, .code a:active { text-decoration: none; color: black; }
.code a:hover { background: yellow none repeat scroll 0% 0%; text-decoration: none; color: black; }
.codebox { border: medium none ; margin: 0px; padding: 0px; width: 100%; }
.kw, a.kw:hover, a.kw:link, a.kw:visited, a.kw:active { color: rgb(0, 0, 176); }
.prep { color: rgb(80, 0, 112); }
.comm { color: rgb(0, 112, 0); }
.str { color: rgb(96, 0, 48); }
.quote { border: 1px dotted rgb(192, 192, 192); background: rgb(239, 239, 239) none repeat scroll 0% 0%; }
.snippet { margin-left: 20px; }
.rownum { border: 1px solid rgb(255, 255, 255); color: rgb(160, 160, 160); vertical-align: top; }
.result { border: 1px solid rgb(192, 192, 192); background: rgb(231, 231, 231) none repeat scroll 0% 0%; width: 50%; vertical-align: top; }
.warning { border: 2px solid red; background: rgb(255, 192, 0) none repeat scroll 0% 0%; }
.selected { background: rgb(224, 224, 224) none repeat scroll 0% 0%; }
.stdform, .stdform th { border: 1px solid rgb(0, 0, 127); }
.stdform td { border: 1px solid rgb(112, 112, 128); text-align: left; }
.stdform th { background: blue url('blue.gif') repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.stdform th a:link, .stdform th a:visited, .stdform th a:active { color: white; }
.stdform th a:hover { color: yellow; }
.stdform tr td { background: rgb(240, 240, 255) none repeat scroll 0% 0%; }
.stdform tr.odd td { background: rgb(224, 224, 255) none repeat scroll 0% 0%; }
.stdform textarea, .stdform .value { font-family: courier,monospace; }
.stdform .field { text-align: right; font-weight: bold; }
.stdform .description { font-size: 80%; }
.stdform .number { text-align: center; }
.stdform .txt, .stdform select, .stdform textarea { border: 1px solid black; background-color: rgb(255, 255, 240); }
.stdform .buttons { padding: 5px; text-align: center; }
.stdform tr.separator td { background: white none repeat scroll 0% 0%; font-weight: bold; }
.errors, .errors th { border: 1px solid rgb(127, 0, 0); }
.errors th { background: red none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.errors td { border: 1px solid rgb(128, 112, 112); background: rgb(255, 224, 224) none repeat scroll 0% 0%; text-align: left; }
.forls { border: 1px solid rgb(128, 128, 128); margin: 2px; border-collapse: collapse; }
.forls .top img { padding-left: 2px; padding-right: 3px; }
.forls .cont { padding-left: 5px; font-size: xx-small; }
.cont img { padding: 1px; vertical-align: middle; }
.cont tt { white-space: pre; }
.rownum tt { white-space: normal; }
.forls .bot { padding: 0px; color: rgb(112, 112, 112); background-color: rgb(247, 247, 255); font-size: xx-small; }
.forls .bot a { color: rgb(112, 112, 112); }
.forsh { border: 1px solid rgb(128, 128, 128); margin: 3px; border-collapse: collapse; }
.forsh .top { border-bottom: 1px dashed rgb(192, 192, 192); padding: 0px; background-color: rgb(240, 240, 255); font-size: xx-small; }
.forsh .cont { padding: 5px; }
.forsh .bot { font-size: xx-small; }

/* ::::: null ::::: */

.hierarchy div { border: 1px solid black; width: 100px; height: 24px; text-align: center; padding-top: 8px; }
