
/* ::::: http://i3.msdn.microsoft.com/Global/Global-bn20090225.css ::::: */

body { font-family: Verdana,Arial,Helvetica,sans-serif; color: rgb(0, 0, 0); font-size: 68.75%; }
a { text-decoration: none; color: rgb(0, 51, 204); }
a:link { color: rgb(0, 51, 204); }
a:visited { color: rgb(128, 0, 128); }
a:hover { color: rgb(255, 102, 0); }
a:active { color: rgb(128, 0, 128); }
a img { border: medium none ; }
h1 { font-size: 210%; font-weight: 400; }
h1.heading { font-size: 120%; font-family: Verdana,Arial,Helvetica,sans-serif; font-weight: bold; line-height: 120%; }
h2 { font-size: 115%; font-weight: 700; }
h2.subtitle { font-size: 180%; font-weight: 400; margin-bottom: 0.6em; }
h3 { font-size: 110%; font-weight: 700; }
h4, h5, h6 { font-size: 100%; font-weight: 700; }
h4.subHeading { font-size: 100%; }
dl { margin: 0pt 0pt 10px; padding: 0pt 0pt 0pt 1px; }
dt { margin: 0pt; font-style: normal; }
li { margin-bottom: 3px; margin-left: 0pt; }
ol { line-height: 140%; list-style-type: decimal; margin-bottom: 15px; }
ol ol { line-height: 140%; list-style-type: lower-alpha; margin-bottom: 4px; margin-top: 3px; }
ol ol ol { line-height: 140%; list-style-type: lower-roman; margin-bottom: 4px; margin-top: 3px; }
ol ul, ul ol { line-height: 140%; margin-bottom: 15px; margin-top: 15px; }
p { margin: 0pt 0pt 10px; padding: 0pt; }
div.section p { margin-bottom: 15px; margin-top: 0pt; }
ul { line-height: 140%; list-style-position: outside; list-style-type: disc; margin-bottom: 15px; }
ul ul { line-height: 140%; list-style-type: disc; margin-bottom: 4px; margin-left: 17px; margin-top: 3px; }
.heading { font-weight: 700; margin-bottom: 8px; margin-top: 18px; }
.subHeading { margin: 0pt; font-size: 100%; font-weight: 700; }
div.hr1 { margin: 0pt; padding: 0pt; background: rgb(200, 205, 222) none repeat scroll 0% 0%; font-size: 1px; height: 1px; width: 100%; }
div.hr2 { margin: 0pt; padding: 0pt; background: rgb(212, 223, 255) none repeat scroll 0% 0%; font-size: 1px; height: 1px; width: 100%; }
div.hr3 { margin: 0pt; padding: 0pt; background: rgb(238, 238, 255) none repeat scroll 0% 0%; font-size: 1px; height: 1px; width: 100%; }
div#header { padding: 0pt; background-color: rgb(212, 223, 255); width: 100%; }
div#header table td { color: rgb(0, 0, 255); margin-bottom: 0pt; margin-top: 0pt; padding-right: 20px; }
div#header table tr#headerTableRow3 td { padding-bottom: 2px; padding-top: 5px; }
div#header table#bottomTable { border-top: 1px solid rgb(255, 255, 255); text-align: left; }
div#footer { margin: 0pt; padding: 2px 2px 6px 5px; font-size: 90%; width: 100%; }
div#mainSection table { border: 1px solid rgb(221, 221, 221); margin: 5px 10px 5px 5px; font-size: 100%; width: 97%; }
div#mainSection table tr { vertical-align: top; }
div#mainSection table th { border-bottom: 1px solid rgb(200, 205, 222); color: rgb(0, 0, 102); padding-left: 5px; padding-right: 5px; text-align: left; }
div#mainSection table td { border-right: 1px solid rgb(213, 213, 211); margin: 1px; overflow: auto; padding-left: 5px; padding-right: 5px; }
div#mainSection table td.imageCell { white-space: nowrap; }
div#mainSection table.MtpsTableLayout { border: 0pt none ; }
div#mainSection table.MtpsTableLayout td { border: 0pt none ; margin: 1px; padding-right: 5px; padding-left: 5px; }
div.ContentArea table th, div.ContentArea table td { border: 0pt solid rgb(204, 204, 204); padding: 5px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; font-family: Verdana; text-align: left; vertical-align: top; }
.ContentArea .topic table td { border: 1px solid rgb(204, 204, 204); margin: 1px; padding-left: 5px; padding-right: 5px; }
div.ContentArea table th { background: rgb(204, 204, 204) none repeat scroll 0% 50%; vertical-align: bottom; }
div.ContentArea table { border-collapse: collapse; width: auto; }
.ContentArea .topic table { border-style: solid; border-width: 1px; }
.media img { vertical-align: top; }
.HeaderCaptionText, .title { margin: 0pt 0pt 10px; color: rgb(0, 0, 0); font-family: Arial,Helvetica,sans-serif; font-size: 190%; font-style: normal; font-variant: normal; font-weight: bold; line-height: normal; }
div#mainBody div.alert, div#mainBody div.code { width: 98.9%; }
div#mainBody div.alert { padding-bottom: 0.82em; }
span.selflink { font-weight: 700; }
span.code { font-family: Monospace,Courier New,Courier; font-size: 105%; color: rgb(0, 0, 102); }
span.label { font-weight: bold; }
span.code { font-family: Monospace,Courier New,Courier; font-size: 105%; color: rgb(0, 0, 102); }
div.caption { font-weight: bold; font-size: 100%; color: rgb(0, 51, 153); }
.procedureSubHeading { font-size: 110%; font-weight: bold; }
span.sub { vertical-align: sub; }
span.sup { vertical-align: super; }
span.big { font-size: larger; }
span.small { font-size: smaller; }
span.tt { font-family: Courier,"Courier New",Consolas,monospace; }
.ContentArea .topic table#topTable { border-width: 0pt; width: 100%; }
.ContentArea .topic table #runningHeaderText { color: rgb(0, 0, 0); }
.parameter { margin: 0pt; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 100%; font-style: italic; }
div.clsNote { padding: 2px; background-color: rgb(238, 238, 238); margin-bottom: 4px; }

/* ::::: http://i3.msdn.microsoft.com/Platform/MasterPages/Library/Library-bn20090225.css ::::: */

html { margin: 0pt; padding: 0pt; overflow: visible; height: 100%; }
body { margin: 0pt; padding: 0pt; overflow: visible; background-color: rgb(255, 255, 255); background-position: left top; background-repeat: repeat-x; height: 100%; }
* html form { height: 100%; }
* html #contents { height: 100%; padding-top: 163px; width: 100%; }
#rheader { background: transparent none repeat scroll 0% 0%; height: 160px; position: absolute; top: 0pt; width: 100%; z-index: 5; }
#contents { background: transparent none repeat scroll 0% 0%; bottom: 0pt; left: 0pt; position: fixed; right: 0pt; top: 163px; z-index: 1; }
.resizableArea { border: medium none ; background: transparent none repeat scroll 0% 0%; bottom: 0pt; display: block; height: auto; position: absolute; top: 0pt; width: 100%; }
* html .resizableArea { border: medium none ; background: transparent none repeat scroll 0% 0%; bottom: 0pt; display: block; height: auto; position: relative; top: 0pt; width: 100%; }
.RightPanel { margin: 0pt; padding: 0pt; vertical-align: top; width: auto; }
.ContentBar { padding-bottom: 20px; padding-left: 7px; padding-top: 7px; }
div.ContentArea { margin: 20px; line-height: 140%; }
.ContentArea .topic ul li { list-style-image: url('b.gif'); }
.ContentArea .topic ul ol li { list-style-type: decimal; list-style-image: none; }
div.alert table { border: 0pt none ; font-size: 100%; width: 100%; }
div.alert table th { background: rgb(239, 239, 247) none repeat scroll 0% 0%; border-bottom-width: 0pt; color: rgb(0, 0, 102); padding-left: 5px; padding-right: 5px; }
div.alert table td { border-top: 1px solid rgb(255, 255, 255); background: rgb(247, 247, 255) none repeat scroll 0% 0%; padding-left: 5px; padding-right: 5px; }
table.clsStd th { border-width: 1px ! important; }
table.clsStd tbody tr td { border-style: solid; border-color: rgb(224, 223, 227) rgb(224, 223, 227) rgb(213, 213, 211); border-width: 1px; background-color: rgb(238, 238, 238); }
.ContentArea .topic div.clsRegTree ul, .ContentArea .topic div.clsRegTree ul ul, .ContentArea .topic div.clsRegTree ul ul ul { margin-left: 0pt; padding-left: 25px; }
.ContentArea .topic div.clsRegTree ul li { margin: 0pt; list-style-image: url('b.gif'); line-height: normal; text-indent: -2.5em; }
.input { font-weight: 700; }
.sentence {  }
.alternates { background-color: rgb(204, 255, 204); }
.sentenceEditing { background-color: rgb(255, 243, 116); }
.sentenceChanged { color: rgb(0, 102, 0); background-color: rgb(255, 255, 255); }
.sentenceHighlight { color: rgb(0, 0, 0); background-color: rgb(255, 204, 153); }
* html #MtContentArea, * html #EnContentArea { height: 1%; }
#MtContentArea pre.code, #EnContentArea pre.code, #MtContentArea .tableSection, #EnContentArea .tableSection, #MtContentArea .MTPS_CollapsibleSection, #EnContentArea .MTPS_CollapsibleSection { overflow: visible; }
#EnContentArea, #MtContentArea { width: 100%; }
div.ContentArea table p { margin: 0pt 0pt 10px; padding: 0pt; }
div.ContentArea table table p { margin: 0pt; padding: 0pt; }
.RightPanel { margin: 0pt; padding: 0pt; vertical-align: top; font-family: Verdana,Arial,Helvetica,sans-serif; width: auto; }
.ContentBar { padding-bottom: 20px; padding-left: 7px; padding-top: 7px; }
div.ContentArea { margin: 0pt; padding: 5px; line-height: normal; }
div.ContentArea .topic { line-height: 140%; }
.ContentArea .topic table { width: auto; }
.ContentArea .topic table td { margin: 0pt; padding: 5px; }
.ContentArea .topic table td p { margin: 0pt; padding: 5px; }
.ContentArea .topic table td ul { margin: 5px 10px 5px 20px; }
div.ContentArea table { width: auto; border-collapse: collapse; }
div.ContentArea table p { margin: 0pt; padding: 0pt; }
div.ContentArea table th, div.ContentArea table td { padding: 5px; text-align: left; font-size: 3mm; font-family: Verdana; }
div.ContentArea table th { background: rgb(204, 204, 204) none repeat scroll 0% 0%; vertical-align: bottom; }
div.ContentArea table th p { font-weight: bold; }
div.ContentArea table td { border: 0pt solid rgb(204, 204, 204); background: rgb(255, 255, 255) none repeat scroll 0% 0%; vertical-align: top; }
.ContentArea .section table td ul li, .ContentArea .subSection ul li, .ContentArea .topic ul li { list-style-image: url('b.gif'); }
div.alert table { border: 0pt none ; font-size: 100%; width: 100%; }
div.alert table th { background: rgb(239, 239, 247) none repeat scroll 0% 0%; border-bottom-width: 0pt; color: rgb(0, 0, 102); padding-left: 5px; padding-right: 5px; }
div.alert table td { border-top: 1px solid rgb(255, 255, 255); background: rgb(247, 247, 255) none repeat scroll 0% 0%; padding-left: 5px; padding-right: 5px; }

/* ::::: http://i3.msdn.microsoft.com/zh-tw/library/mtps-bn20090225.css?l=zh-tw&i=library&ct=AlternateSelector;CCEditor;CCSection;CCTagEditor;CodeSnippet;ContentFallback;DropDownFilter;ExpandCollapseAll;Eyebrow;Footer;InteractiveToolbar;iRootBrand;LocaleManagementFlyout;Masthead;MemberlistFrameworksFilter;MemberlistMembersFilter;MtDisclaimer;MtpsLoginStatus;MtViewDropDown;QuickLinksFlyout;RelatedPages;ResizableArea;Search;SurveyLauncher;TabStrip;TagCloud;TemplatedFlyout;Toc;TransWikiPopupEditor;UserRecognition;WebMetrix;WebTrends&clustimg=1 ::::: */

.LibC_o { background: transparent url('libc.gif') repeat scroll 0pt 0pt; width: 16px; height: 16px; }
.LibC_e { background: transparent url('libc.gif') repeat scroll -16px 0pt; width: 16px; height: 16px; }
.LibC_c { background: transparent url('libc.gif') repeat scroll -32px 0pt; width: 16px; height: 16px; }
.LibC_s { background: transparent url('libc.gif') repeat scroll -48px 0pt; width: 16px; height: 16px; }
.LibC_b { background: transparent url('libc.gif') repeat scroll -64px 0pt; width: 4px; height: 13px; }
.LibC_arrow-off { background: transparent url('libc.gif') repeat scroll -68px 0pt; width: 15px; height: 17px; vertical-align: middle; }
.LibC_arrow-on { background: transparent url('libc.gif') repeat scroll -83px 0pt; width: 15px; height: 17px; vertical-align: middle; }
.LibC_rtg_comCon { background: transparent url('libc.gif') repeat scroll -98px 0pt; width: 16px; height: 16px; }
.LibC_rtg_email { background: transparent url('libc.gif') repeat scroll -114px 0pt; width: 16px; height: 16px; }
.LibC_rtg_print { background: transparent url('libc.gif') repeat scroll -130px 0pt; width: 16px; height: 16px; }
.LibC_rtg_save { background: transparent url('libc.gif') repeat scroll -146px 0pt; width: 16px; height: 16px; }
.LibC_help { background: transparent url('libc.gif') repeat scroll -162px 0pt; width: 16px; height: 16px; }
.LibC_lib_grippy { background: transparent url('libc.gif') repeat scroll -178px 0pt; width: 5px; height: 20px; }
.LibC_rss_button { background: transparent url('libc.gif') repeat scroll -183px 0pt; width: 16px; height: 16px; }
.LibC_spinner { background: transparent url('libc.gif') repeat scroll -199px 0pt; width: 31px; height: 29px; }
.LibC_wiki { background: transparent url('libc.gif') repeat scroll -230px 0pt; width: 42px; height: 42px; }
.LibC_starBlue { background: transparent url('libc.gif') repeat scroll -272px 0pt; width: 16px; height: 16px; }
.LibC_starGold { background: transparent url('libc.gif') repeat scroll -288px 0pt; width: 16px; height: 16px; }
.LibC_starWhite { background: transparent url('libc.gif') repeat scroll -304px 0pt; width: 16px; height: 16px; }
.LibC_copy_off { background: transparent url('libc.gif') repeat scroll -320px 0pt; width: 15px; height: 13px; }
.LibC_space { background: transparent url('libc.gif') repeat scroll -335px 0pt; width: 1px; height: 1px; }
.LibC_popdownarrow { background: transparent url('libc.gif') repeat scroll -345px 0pt; width: 7px; height: 4px; }
.LibC_search { background: transparent url('libc.gif') repeat scroll -352px 0pt; width: 20px; height: 20px; }
.LibC_websearch { background: transparent url('libc.gif') repeat scroll -372px 0pt; width: 1px; height: 20px; }
.LibC_arrowdwn { background: transparent url('libc.gif') repeat scroll -373px 0pt; width: 13px; height: 7px; }
.LibC_arrowrgt { background: transparent url('libc.gif') repeat scroll -386px 0pt; width: 13px; height: 7px; }
.LibC_panel_corner_botleft { background: transparent url('libc.gif') repeat scroll -399px 0pt; width: 5px; height: 5px; }
.LibC_panel_corner_botright { background: transparent url('libc.gif') repeat scroll -404px 0pt; width: 5px; height: 5px; }
.LibC_panel_corner_upleft { background: transparent url('libc.gif') repeat scroll -409px 0pt; width: 5px; height: 5px; }
.LibC_panel_corner_upright { background: transparent url('libc.gif') repeat scroll -414px 0pt; width: 5px; height: 5px; }
.LibC_panel_header { background: transparent url('libc.gif') repeat scroll -419px 0pt; width: 1px; height: 24px; }
.LibC_panel_header_left { background: transparent url('libc.gif') repeat scroll -420px 0pt; width: 5px; height: 25px; }
.LibC_panel_header_right { background: transparent url('libc.gif') repeat scroll -425px 0pt; width: 5px; height: 25px; }
.msdn_TabC_mslogo { background: transparent url('msdn.tabc.png') repeat scroll 0pt 0pt; width: 132px; height: 29px; }
.msdn_TabC_msdn_SiteNavTabOff1Left { background: transparent url('msdn.tabc.png') repeat scroll -132px 0pt; width: 2px; height: 22px; }
.msdn_TabC_msdn_SiteNavTabOff1Right { background: transparent url('msdn.tabc.png') repeat scroll -134px 0pt; width: 2px; height: 22px; }
.msdn_TabC_msdn_SiteNavTabOnLeft { background: transparent url('msdn.tabc.png') repeat scroll -136px 0pt; width: 2px; height: 24px; }
.msdn_TabC_msdn_SiteNavTabOnRight { background: transparent url('msdn.tabc.png') repeat scroll -138px 0pt; width: 2px; height: 24px; }
.msdn_TabC_more_corner_MSDN_botleft { background: transparent url('msdn.tabc.png') repeat scroll -140px 0pt; width: 5px; height: 5px; }
.msdn_TabC_more_corner_MSDN_botright { background: transparent url('msdn.tabc.png') repeat scroll -145px 0pt; width: 5px; height: 5px; }
.msdn_TabC_more_corner_MSDN_upleft { background: transparent url('msdn.tabc.png') repeat scroll -150px 0pt; width: 5px; height: 5px; }
.msdn_TabC_more_corner_MSDN_upright { background: transparent url('msdn.tabc.png') repeat scroll -155px 0pt; width: 5px; height: 5px; }
.technet_TabC_mslogo { background: transparent url('technet.tabc.png') repeat scroll 0pt 0pt; width: 132px; height: 29px; }
.technet_TabC_technet_SiteNavTabOff1Left { background: transparent url('technet.tabc.png') repeat scroll -132px 0pt; width: 2px; height: 22px; }
.technet_TabC_technet_SiteNavTabOff1Right { background: transparent url('technet.tabc.png') repeat scroll -134px 0pt; width: 2px; height: 22px; }
.technet_TabC_technet_SiteNavTabOnLeft { background: transparent url('technet.tabc.png') repeat scroll -136px 0pt; width: 2px; height: 24px; }
.technet_TabC_technet_SiteNavTabOnRight { background: transparent url('technet.tabc.png') repeat scroll -138px 0pt; width: 2px; height: 24px; }
.technet_TabC_more_corner_TN_botleft { background: transparent url('technet.tabc.png') repeat scroll -140px 0pt; width: 5px; height: 5px; }
.technet_TabC_more_corner_TN_botright { background: transparent url('technet.tabc.png') repeat scroll -145px 0pt; width: 5px; height: 5px; }
.technet_TabC_more_corner_TN_upleft { background: transparent url('technet.tabc.png') repeat scroll -150px 0pt; width: 5px; height: 5px; }
.technet_TabC_more_corner_TN_upright { background: transparent url('technet.tabc.png') repeat scroll -155px 0pt; width: 5px; height: 5px; }
.expression_TabC_blkmslogo { background: transparent url('expression.tabc.png') repeat scroll 0pt 0pt; width: 110px; height: 18px; }
.expression_TabC_expression_border { background: transparent url('expression.tabc.png') repeat scroll -110px 0pt; width: 1px; height: 1px; }
.expression_TabC_expression_SiteNavTabOff1Left { background: transparent url('expression.tabc.png') repeat scroll -111px 0pt; width: 2px; height: 35px; }
.expression_TabC_expression_SiteNavTabOff1Right { background: transparent url('expression.tabc.png') repeat scroll -113px 0pt; width: 2px; height: 35px; }
.expression_TabC_expression_SiteNavTabOnLeft { background: transparent url('expression.tabc.png') repeat scroll -115px 0pt; width: 2px; height: 35px; }
.expression_TabC_expression_SiteNavTabOnRight { background: transparent url('expression.tabc.png') repeat scroll -117px 0pt; width: 2px; height: 35px; }
.answers_TabC_blkmslogo { background: transparent url('answers.tabc.png') no-repeat scroll 0pt 0pt; overflow: hidden; width: 110px; height: 18px; }
.answers_TabC_answers_SiteNavTabOff1Left { background: transparent url('answers.tabc.png') no-repeat scroll -110px 0pt; overflow: hidden; width: 2px; height: 22px; }
.answers_TabC_answers_SiteNavTabOff1Right { background: transparent url('answers.tabc.png') no-repeat scroll -112px 0pt; overflow: hidden; width: 2px; height: 22px; }
.answers_TabC_answers_SiteNavTabOnLeft { background: transparent url('answers.tabc.png') no-repeat scroll -114px 0pt; overflow: hidden; width: 2px; height: 24px; }
.answers_TabC_answers_SiteNavTabOnRight { background: transparent url('answers.tabc.png') no-repeat scroll -116px 0pt; overflow: hidden; width: 2px; height: 24px; }
.AlterPart { border: 1px solid rgb(204, 204, 204); margin: 8px; padding: 8px; background-color: rgb(240, 240, 240); float: right; display: inline; width: 200px; color: rgb(0, 0, 0); }
.AlterPart span { font-weight: 700; }
.AlterPart ul { margin: 0pt; padding: 0pt; }
.AlterPart li { margin: 0pt 0pt 8px 20px; padding: 0pt; }
.AlterPart a { color: rgb(0, 51, 204); }
.CCE_Title_Edit { border: 1px solid rgb(135, 169, 209); padding: 0pt; width: 100%; font-size: 13pt; font-weight: bold; }
.CCE_TitlePanel { padding: 12px; background-color: rgb(238, 246, 240); }
.CCE_TagEditorPanel { text-align: left; }
.CCE_Message { color: Red; font-size: 10pt; }
.CCE_Button { margin-top: 8px; margin-bottom: 8px; }
.CCE_ButtonsPanel { text-align: right; height: 40px; padding-left: 12px; padding-right: 12px; }
.CCE_TagAutoComplete { border: 1px solid gray; margin: 0pt; padding: 0pt; text-align: left; list-style-type: none; list-style-image: none; cursor: default; background-color: white; color: Black; z-index: 100; }
.CCE_License { text-align: center; margin-bottom: 3px; }
.CCE_LicenseTooltip { font-family: Verdana; }
.CCE_Editor_Disabled { margin-left: 0pt; }
.CCE_Editor_Disabled pre { margin: 0pt; background-color: rgb(222, 222, 222); }
.CCE_Editor_Disabled p { margin: 0pt; min-height: 1em; }
.CC_CodeSnippetTitleBar { border-bottom: 1px dashed black; padding: 3px; background-color: rgb(238, 238, 238); white-space: nowrap; height: 15px; word-spacing: normal; letter-spacing: normal; }
.CC_CodeDisplayLanguage { float: left; text-align: left; }
.CC_CopyCodeButton { float: right; text-align: right; }
a.CC_copyCode { cursor: pointer; color: blue; text-decoration: none; text-align: right; }
pre.CC_code { margin: 0pt; padding: 3px; background-color: rgb(221, 221, 221); }
div.CC_code { margin: 0pt; padding: 0pt; background-color: rgb(221, 221, 221); }
div.CC_code { border: 1px dotted black; }
div.rade_toolbar ul { line-height: normal; }
div.rade_dropDownBody { overflow: visible; height: auto ! important; }
div.rade_dropDownBody pre { margin-left: 0pt; }
div.radeditor { height: auto ! important; width: auto ! important; }
td.rade_tlbVertical { display: none; }
td.rade_wrapper_corner, td.rade_wrapper_center { display: none; }
td.rade_toolZone { background-color: rgb(238, 246, 240) ! important; }
div.radtooltip_Vista { border: 1px solid red; }
td.ToolTipContent { font-family: Verdana ! important; font-size: 10pt ! important; font-weight: normal ! important; }
.CCS_Container { font-family: Verdana; font-size: 9pt; width: 98%; position: relative; line-height: normal; }
.CCS_TopicTagEditor { margin: 0pt 12px; }
.CCS_ContentContainer { margin: 0pt 12px 12px; }
.CCS_WikiLogo { margin: 0pt; padding: 0pt; position: relative; width: 40px; top: 36px; left: 12px; }
.CCS_HeaderContainer { margin: 0pt; }
.CCS_Header { border-bottom: 1px solid black; background-color: rgb(91, 168, 111); height: 40px; }
.CCS_HeaderTitle { padding: 5px 5px 5px 15px; color: white; font-family: Verdana; font-size: 12pt; font-weight: bold; margin-left: 30px; vertical-align: middle; white-space: nowrap; }
.CCS_HelpImage { border: 0pt none ; vertical-align: middle; }
.CCS_Toolbar { margin: 0pt; height: 20px; background-color: white; color: rgb(0, 51, 204); padding-top: 12px; table-layout: fixed; }
a.CCS_Link, a.CCS_Link:active, a.CCS_Link:hover, a.CCS_Link:visited { color: rgb(0, 51, 204); font-family: Verdana; font-size: 9pt; cursor: pointer; }
a.CCS_Link, a.CCS_Link:active, a.CCS_Link:visited { text-decoration: none; }
a.CCS_Link:hover { text-decoration: underline; }
.CCS_Add { font-family: Verdana; font-size: 9pt; color: rgb(0, 51, 204); text-align: left; vertical-align: middle; white-space: nowrap; }
.CCS_AddLinkDisabled, .CCS_AddLinkDisabled:hover, .CCS_AddLinkDisabled:visited, .CCS_AddLinkDisabled:active { color: Gray; cursor: default; }
.CCS_RecentChanges { color: rgb(0, 51, 204); font-family: Verdana; font-size: 9pt; text-align: center; white-space: nowrap; }
.CCS_RecentChangesText { vertical-align: middle; }
.CCS_RecentChanges a, .CCS_RecentChanges a:visited, .CCS_RecentChanges a:hover { vertical-align: middle; color: rgb(0, 51, 204); }
.CCS_RSSImage { vertical-align: middle; }
.CCS_Profile { white-space: nowrap; vertical-align: middle; }
.CCS_ItemsContainer { margin: 0pt 12px 12px; width: auto; }
.CCS_Progress { display: none; position: absolute; top: 0pt; left: 0pt; background-color: transparent; z-index: 10; }
.CCS_Footer { height: 8px; width: 100%; font-size: 0pt; background-color: rgb(91, 168, 111); margin-top: 24px; }
.CCS_Message { color: Red; font-size: 10pt; text-align: center; }
.CCT_Panel, .CCT_Panel_Block { margin: 0pt; background-color: rgb(255, 255, 255); font-size: 9pt; min-height: 26px; line-height: 12pt; }
.CCT_Panel { border: 1px solid rgb(204, 204, 204); padding: 3px; }
.CCT_Panel_Block { border-top: 1px solid rgb(204, 204, 204); padding: 3px 12px; white-space: normal; }
.CCT_Title { padding: 3px 0pt; font-weight: bold; font-size: 10pt; vertical-align: middle; height: 1px; }
.CCT_Text { padding: 0pt; color: rgb(0, 51, 204); font-size: 9pt; }
.CCT_View { margin: 0pt 4px; padding: 0pt; font-size: 9pt; top: 0pt; left: 0pt; vertical-align: middle; }
.CCT_Edit { margin: 0pt 4px; white-space: nowrap; }
.CCT_TextBox { font-size: 10pt; vertical-align: middle; z-index: 100; }
.CCT_TagPair { white-space: nowrap; vertical-align: middle; }
a.CCT_Link, a.CCT_Link:active, a.CCT_Link:hover, a.CCT_Link:visited { color: rgb(0, 51, 204); font-size: 9pt; }
a.CCT_Link, a.CCT_Link:active, a.CCT_Link:visited { text-decoration: none; }
a.CCT_Link:hover { text-decoration: underline; }
a.CCT_LinkButton, a.CCT_LinkButton:active, a.CCT_LinkButton:hover, a.CCT_LinkButton:visited { color: rgb(0, 51, 204); font-size: 9pt; white-space: nowrap; }
a.CCT_LinkButton, a.CCT_LinkButton:active, a.CCT_LinkButton:visited { text-decoration: none; }
a.CCT_LinkButton:hover { text-decoration: underline; }
.CCT_Message { color: red; }
.CCT_HelpLink {  }
.CCT_HelpImage { border: 0pt solid black; margin: 3px; vertical-align: middle; }
.CCT_TagAutoComplete { border: 1px solid gray; margin: 0pt; padding: 0pt; text-align: left; list-style-type: none; list-style-image: none; cursor: default; background-color: white; color: Black; width: auto ! important; z-index: 100; }
.CCT_TagsPanel { float: left; width: 75%; }
.CCT_FlagAsPanel { float: right; white-space: nowrap; vertical-align: middle; }
.CodeSnippetTitleBar { border-bottom: 1px solid rgb(170, 170, 170); padding: 3px; background-color: rgb(221, 221, 221); white-space: nowrap; height: 15px; word-spacing: normal; letter-spacing: normal; }
.CodeDisplayLanguage { float: left; text-align: left; }
.CopyCodeButton { float: right; text-align: right; }
span.copyCode { color: rgb(0, 0, 255); font-size: 90%; font-weight: normal; float: right; display: inline; text-align: right; }
a.copyCode { cursor: pointer; color: blue; text-decoration: none; text-align: right; }
div.libCScode { border-top: 5px solid rgb(255, 255, 255); width: 98.9%; padding-bottom: 20px; display: block; }
div.libCScode table { border: 0pt none ; font-size: 95%; margin-bottom: 5px; width: 100%; }
div.libCScode table th { border-bottom: 1px solid rgb(200, 205, 222); background: rgb(221, 221, 221) none repeat scroll 0% 0%; color: rgb(0, 0, 102); font-weight: bold; }
div.libCScode table td, pre.libCScode { border-top: 1px solid rgb(200, 205, 222); margin: 0pt 0pt 10px; background: rgb(221, 221, 221) none repeat scroll 0% 0%; padding-left: 5px; padding-right: 5px; padding-top: 5px; display: block; font-family: Verdana,Arial,Helvetica,sans-serif; }
div.libCScode pre { overflow: hidden; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 105%; color: rgb(0, 0, 102); white-space: pre-wrap; }
pre.ideCScode { border-top: 1px solid rgb(255, 255, 255); border-bottom: 5px solid rgb(255, 255, 255); margin: 0pt 0pt 10px; padding: 5px 5px 0pt; background: rgb(247, 247, 255) none repeat scroll 0% 0%; font-size: 105%; font-family: Verdana,Arial,Helvetica,sans-serif; white-space: pre; display: block; }
.FallbackContainer { border: 1px solid rgb(204, 204, 204); margin: 8px; padding: 8px; float: right; font-size: 100%; width: 200px; background-color: rgb(241, 241, 241); }
.FallbackHeaderLabel { font-weight: bolder; }
.DropDownFilterStyle { position: relative; width: auto; float: left; }
.MTPS_DropDownImage { cursor: pointer; text-align: center; float: left; }
.DropDownFilterOff { cursor: pointer; color: rgb(0, 0, 0) ! important; text-decoration: none; padding-left: 3px; padding-top: 10px; }
.MTPS_PopupDivPanel { border: 1px solid rgb(204, 204, 204); margin: 0pt; padding: 1px 5px 1px 1px; background-color: rgb(221, 221, 221); position: absolute; left: 0pt; width: 200px; vertical-align: middle; text-align: left; top: 17px; }
.codeHide { display: none; }
.DivCbxLabelLanguage { margin: 0pt; padding: 0pt; background-color: transparent; width: auto; }
.DivCbxLabelLanguage input { vertical-align: middle; }
.ECPanel { float: left; padding-right: 10px; }
.ECLink { cursor: pointer; text-decoration: none; color: rgb(0, 0, 0) ! important; vertical-align: middle; padding-left: 3px; padding-right: 10px; }
.ECImg { cursor: pointer; text-decoration: none; color: rgb(0, 0, 0); vertical-align: middle; }
div.eyebrowmenubar { margin: 3px 0pt; padding: 3px; font-family: Tahoma,Verdana,Arial,Helvetica,Sans-serif; width: auto; }
div.eyebrowmenubar a { margin: 0pt; padding: 0pt; width: auto; }
div.eyebrowmenubar a:visited { color: purple; }
div.stat, div.statHover { border: 1px solid transparent ! important; margin: 0pt; padding: 3px 21px 3px 5px; display: inline; float: left; height: auto ! important; line-height: 16px; vertical-align: bottom; white-space: nowrap; }
* html div.stat, * html div.statHover { border-color: rgb(255, 255, 255) ! important; }
div.nochildstat { margin: 0pt; padding: 4px 21px 3px 5px; display: inline; float: left; height: auto ! important; line-height: 16px; vertical-align: bottom; white-space: nowrap; }
div.stat { background: transparent url('botharrow.gif') no-repeat scroll right -20px; }
div.statHover { border: 1px solid rgb(161, 198, 235) ! important; background: rgb(227, 235, 242) url('botharrow.gif') no-repeat scroll right 0pt; }
div.stat a, div.statHover a { border: 0pt none ; margin: 0pt; padding: 0pt; background-color: transparent; text-decoration: none; }
div.statHover a { background-color: rgb(227, 235, 242); color: rgb(0, 0, 0); }
div.stat a:visited, div.stat a:link, div.stat a:active { color: rgb(0, 0, 238); }
div.popup { border: 1px solid rgb(184, 184, 184); overflow: auto; background-color: rgb(255, 255, 255); z-index: 1; }
div.popup a:visited, div.popup a:link, div.popup a:active, div.popup a:hover { border: 1px solid rgb(255, 255, 255); margin: 0pt 2px; padding: 3px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); display: block; text-decoration: none; }
div.popup ul.toc li a:hover { border: 1px solid rgb(173, 219, 239); overflow: visible; background-color: rgb(240, 247, 253); color: rgb(0, 0, 0); display: block; }
div.popup ul.toc { margin: 0pt; padding: 3px 6px; line-height: 125%; list-style-type: none; list-style-image: none; list-style-position: outside; width: auto; position: absolute; }
div.popup ul.toc li { margin-left: 3px; }
div.eyebrowmenubar a:hover, div.eyebrowmenubar a:active { color: rgb(255, 51, 0); }
div.popup ul.toc li img { display: none; visibility: hidden; }
td.MTPS_FooterFade { margin: 0pt; padding: 2px 2px 6px 12px; font-weight: bold; width: 100%; height: 57px; }
td.MTPS_FooterLogo { background-color: rgb(255, 255, 255); width: 150px; }
div.MTPS_FooterLinks { margin-bottom: 10px; }
a.MTPS_FooterLinks, div.MTPS_FooterLinks a { color: rgb(0, 51, 204); font-weight: normal; }
a.MTPS_FooterLinks:hover, div.MTPS_FooterLinks a:hover { color: rgb(255, 102, 0); }
.MTPS_FooterCopyright { font-size: 7pt; font-weight: normal; color: rgb(0, 0, 0); }
.MTPS_FooterLinks { font-size: 7pt; }
.itPrint { font-size: 100% ! important; }
.itFav { font-size: 100% ! important; }
.itSend { font-size: 100% ! important; }
.itComCon { font-size: 100% ! important; }
div.miniRatings { border-bottom: 1px solid rgb(192, 192, 192); margin: 0pt; padding: 0pt; background-color: rgb(240, 240, 240); text-align: left; vertical-align: bottom; line-height: normal; height: 28px; width: 100%; }
div.miniRatings_left { padding-top: 5px; padding-bottom: 4px; padding-left: 2px; float: left; position: absolute; background-color: rgb(240, 240, 240); z-index: 150; }
div.miniRatings_left a { border: 1px solid rgb(240, 240, 240); padding: 2px 5px 3px 2px; text-decoration: none; color: rgb(0, 51, 204); }
head div.miniRatings_left a { padding-right: 5px; padding-left: 2px; line-height: normal; }
div.miniRatings_left a:hover, head div.miniRatings_left a:hover { border: 1px solid rgb(161, 198, 235); background-color: rgb(227, 235, 242); color: rgb(0, 51, 204); }
div.miniRatings_left a:visited, head div.miniRatings_left a:visited { color: rgb(0, 51, 204); }
div.miniRatings_left a img { vertical-align: text-bottom; margin-left: 3px; }
head div.miniRatings_left a img { vertical-align: top; }
div.miniRatings_right { min-width: 400px; float: right; z-index: 99; }
div.miniRatings_right #ratingTable { float: right; }
div.miniRatings_right td { border: 1px solid rgb(240, 240, 240); padding: 3px 0pt 0pt; text-decoration: none; color: rgb(0, 51, 204); }
div.miniRatings_right a:hover { border: 1px solid rgb(161, 198, 235); background-color: rgb(227, 235, 242); }
div.miniRatings_right a:visited { color: rgb(0, 51, 204); }
div.miniRatings_right a img { vertical-align: text-bottom; }
.ratingStar { margin: 0pt; padding: 0pt; font-size: 0pt; width: 16px; height: 16px; cursor: pointer; display: block; background-repeat: no-repeat; }
.filledRatingStar { background: transparent url('libc.gif') repeat scroll -288px 0pt; }
.emptyRatingStar { background: transparent url('libc.gif') repeat scroll -304px 0pt; }
.savedRatingStar { background: transparent url('libc.gif') repeat scroll -272px 0pt; }
.ratingFlyoutStatic { white-space: nowrap; width: 400px; }
.ratingFlyoutStatic table { font-size: 100%; }
.tbFont { white-space: nowrap; }
* html .tbfont, * + html .tbfont { font-size: 70%; }
.ratingFlyoutPopup { border: 1px solid rgb(122, 122, 122); margin: 0pt; vertical-align: middle; background-color: white; height: 220px; width: 450px; }
.ratingFlyoutPopup .OptionalText, .ratingFlyoutPopup .WarningMessage { float: left; margin-left: 25px; font-size: 10pt; margin-top: 10px; margin-bottom: 10px; }
.ratingFlyoutPopup .WarningMessage { color: Red; }
.ratingFlyoutPopup .Comment { margin-left: 25px; width: 396px; height: 132px; display: block; clear: both; margin-bottom: 10px; }
.ratingFlyoutPopup .Button { float: right; margin-right: 25px; padding-top: 0.2em; }
.LocaleManagementFlyoutPopup { border: 1px solid rgb(184, 184, 184); padding: 3px; text-align: left; background-color: rgb(255, 255, 255); z-index: 10; }
.LocaleManagementFlyoutPopup a, .LocaleManagementFlyoutPopup a:visited { border: 1px solid rgb(255, 255, 255); padding: 1px 3px; font-size: 10px; color: rgb(0, 0, 0); height: 15px; text-align: left; text-decoration: none; white-space: nowrap; display: block; }
.LocaleManagementFlyoutPopup a:hover, .LocaleManagementFlyoutPopup a:active { border: 1px solid rgb(173, 219, 239); padding: 1px 3px; background-color: rgb(240, 247, 253); color: rgb(0, 0, 0); height: 15px; text-decoration: none; white-space: nowrap; display: block; }
.LocaleManagementFlyoutPopupHr { margin: 0pt 11px 21px; background: rgb(208, 224, 240) none repeat scroll 0% 0%; height: 1px; }
.LocaleManagementFlyoutPopArrow { margin: 4px 0pt 0pt; }
.LocaleManagementFlyoutStatic, .LocaleManagementFlyoutStaticHover { border: 1px solid rgb(255, 255, 255); margin: 1px; padding: 1px 3px; font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif; color: rgb(0, 0, 0); white-space: nowrap; text-decoration: none; cursor: default; display: inline; }
.LocaleManagementFlyoutStaticHover { border: 1px solid rgb(161, 198, 235); }
a.LocaleManagementFlyoutStaticLink, a.LocaleManagementFlyoutStaticLink:visited, a.LocaleManagementFlyoutStaticLink:hover, a.LocaleManagementFlyoutStaticLink:active { font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif; color: rgb(0, 0, 0); white-space: nowrap; text-decoration: none; cursor: default; display: inline; }
.mastheadfontbase { font-size: 62.5%; }
.GlobalBar { float: left; font-size: 10px; padding-bottom: 6px; width: 100%; background-color: rgb(255, 255, 255); }
.GlobalBarRight { border: 0pt none ; margin: 0pt; padding: 0pt; float: right; }
.GlobalBar .Teaser { float: left; padding-top: 4px; padding-left: 4px; }
img.DropDownArrow { margin-bottom: 2px; padding-left: 3px; }
.GlobalBar .PassportScarab { border-left: 1px solid rgb(8, 8, 8); padding: 2px 2px 2px 12px; float: left; font-weight: bold; font-family: Verdana; }
.GlobalBar .LocaleFlyout { padding: 2px 4px 2px 12px; float: left; font-weight: normal; margin-right: 8px; }
.GlobalBar .SiteMap { border-left: 1px solid rgb(8, 8, 8); padding: 2px 4px 2px 12px; float: left; color: rgb(8, 8, 8); margin-right: 8px; cursor: pointer; }
.ThinNavBox { border-left: 1px solid rgb(128, 30, 43); border-right: 1px solid rgb(128, 30, 43); overflow: hidden; width: 100%; background-color: rgb(128, 30, 43); background-image: url('msdn.bg1.jpg'); background-repeat: no-repeat; height: 58px; float: left; white-space: nowrap; }
.BrandLogo { float: left; cursor: pointer; background-image: url('msdn.logo.jpg'); background-repeat: no-repeat; height: 42px; width: 17%; margin-top: 10px; margin-left: 16px; padding-bottom: 4px; }
* html .BrandLogo { margin-left: 10px; }
.evergreenLinks { float: right; width: 31%; }
.ThinNavTarget { margin-top: 19px; }
.ThinNavTarget a { padding: 2px 12px; font-size: 11px; font-family: Tahoma; position: relative; top: 1px; text-decoration: none; white-space: nowrap; color: white; }
* html .ThinNavTarget a { border-top: 1px solid rgb(200, 114, 112); border-bottom: 1px solid rgb(200, 114, 112); font-size: 11px; top: 2px; background-color: rgb(122, 19, 18); }
.ThinNavTarget a:hover { text-decoration: none; color: white; }
* html .ThinNavTarget a:hover { border-top: 1px solid rgb(200, 114, 112); border-bottom: 1px solid rgb(200, 114, 112); background-color: rgb(165, 53, 50); }
.ThinNavTarget a:visited { text-decoration: none; color: white; }
.thinnavtableft { border-left: 1px solid rgb(200, 114, 112); float: right; margin-top: 1px; padding-top: 2px; padding-bottom: 2px; height: 12px; }
.thinnavtabright { border-right: 1px solid rgb(200, 114, 112); float: right; margin-top: 1px; margin-right: 5px; padding-top: 2px; padding-bottom: 2px; height: 12px; }
.BrowseCenter { border-top: 1px solid rgb(200, 114, 112); border-bottom: 1px solid rgb(200, 114, 112); float: right; height: 16px; background-color: rgb(122, 19, 18); }
.BrowseCenter:hover { background-color: rgb(165, 53, 50); }
.BrowseSite { border-top: 1px solid rgb(200, 114, 112); border-bottom: 1px solid rgb(200, 114, 112); float: right; height: 16px; background-color: rgb(122, 19, 18); }
.BrowseSite:hover { background-color: rgb(165, 53, 50); }
.ClearLeft { clear: left; }
.ClearRight { clear: right; }
.Clear { clear: both; }
.FrameworkFilterOff { padding-left: 3px; cursor: pointer; color: black ! important; padding-top: 10px; text-decoration: none; }
.frameworkFilterStyle { float: left; width: auto; position: relative; }
.display { display: block; }
.MemberFilterStyle { position: relative; width: auto; float: left; margin-right: 5px; margin-left: 5px; }
.MTPS_DropDownImage { cursor: pointer; text-align: center; float: left; }
.MemberFilterOff { cursor: pointer; color: Black ! important; text-decoration: none; padding-left: 3px; padding-top: 10px; }
.MTPS_PopupDivPanel { border: 1px solid rgb(204, 204, 204); margin: 0pt; padding: 1px 5px 1px 1px; background-color: rgb(221, 221, 221); position: absolute; left: 0pt; width: 300px; vertical-align: middle; text-align: left; top: 17px; }
.hide { display: none; }
.display { display: block; }
.DivCbxLabelMember { margin: 0pt; padding: 0pt; background-color: transparent; width: auto; }
.DivCbxLabelMember input { vertical-align: middle; }
.MtDisclaimer_Area { border: 3px solid rgb(255, 204, 153); padding: 5px; margin-left: 5px; }
.MtDisclaimer_Text {  }
.MTPS_GlobalToolbarLinks_msdn { border-left: 1px solid rgb(8, 8, 8); padding: 2px 4px 2px 8px; font-weight: bold; color: rgb(52, 52, 52); text-decoration: none; }
div#idPPMWOverlay { margin: 0pt; background-color: rgb(255, 255, 255); position: absolute; bottom: 0pt; top: 0pt; left: -25px; right: -25px; z-index: 1024; width: 103%; height: 101%; opacity: 0.75; }
.MtViewDropDown { position: relative; width: auto; float: left; padding-left: 20px; }
.MtViewDropDownImage { cursor: pointer; text-align: center; float: left; }
a.MtViewDropDownOff, a.MtViewDropDownOff:hover, a.MtViewDropDownOff:active, a.MtViewDropDownOff:visited { cursor: pointer; color: Black; text-decoration: none; padding-left: 3px; padding-top: 10px; }
.MtViewDropDownPopup { border: 1px solid rgb(204, 204, 204); margin: 0pt 0pt 0pt 20px; padding: 1px 5px 1px 1px; background-color: rgb(221, 221, 221); position: absolute; left: 0pt; width: 200px; vertical-align: middle; text-align: left; top: 17px; }
.MtViewDropDownOption { border: 1px solid rgb(221, 221, 221); margin: 2px 0pt 2px 15px; padding: 2px; display: block; text-decoration: none; color: Black; }
a.MtViewDropDownOption:hover { border-color: rgb(221, 124, 59); background: rgb(238, 238, 238) none repeat scroll 0% 0%; }
a.MtViewDropDownOption:active { border-color: rgb(180, 101, 48); }
.QuickLinksFlyoutPopup { border: 1px solid rgb(184, 184, 184); padding: 3px; font-family: Verdana,Tahoma,Arial,Helvetica,sans-serif; text-align: left; background-color: rgb(255, 255, 255); z-index: 10; }
.QuickLinksFlyoutPopup a, .QuickLinksFlyoutPopup a:visited { border: 1px solid rgb(255, 255, 255); margin: 0pt; padding: 1px 3px; font-size: 10px; background-color: transparent; color: rgb(0, 0, 0); display: block; text-align: left; text-decoration: none; white-space: nowrap; }
.QuickLinksFlyoutPopup a:hover, .QuickLinksFlyoutPopup a:active { border: 1px solid rgb(173, 219, 239); background-color: rgb(240, 247, 253); }
.QuickLinksFlyoutPopup h4 { margin: 4px 0pt 5px; font-size: 10px; line-height: 110%; color: rgb(0, 51, 153); font-weight: bold; }
.QuickLinksFlyoutPopup table { vertical-align: top; z-index: 10; }
.QuickLinksFlyoutPopup td { vertical-align: top; }
.QuickLinksFlyoutPopup .list { margin: 0pt 0pt 10px; padding: 0pt; }
.QuickLinksFlyoutPopup .listitem { margin: 3px 0pt; padding: 0pt; }
.QuickLinksFlyoutPopupHr { background: rgb(208, 224, 240) none repeat scroll 0% 0%; height: 1px; }
.QuickLinksPopArrow { margin: 4px 0pt 0pt; }
.QuickLinksFlyoutStatic_msdn, .QuickLinksFlyoutStaticHover_msdn { border: 1px solid rgb(255, 255, 255); margin: 1px; padding: 1px 3px 1px 2px; font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif; color: rgb(0, 0, 0); white-space: nowrap; text-decoration: none; cursor: default; display: inline; }
.QuickLinksFlyoutStaticHover_msdn { border: 1px solid rgb(161, 198, 235); }
a.QuickLinksFlyoutStaticLink_msdn, a.QuickLinksFlyoutStaticLink_msdn:visited, a.QuickLinksFlyoutStaticLink_msdn:hover, a.QuickLinksFlyoutStaticLink_msdn:active { font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif; white-space: nowrap; color: rgb(0, 0, 0); text-decoration: none; cursor: default; display: inline; }
.MTPSPart { border: 1px solid rgb(204, 204, 204); margin: 5px; padding: 8px; background: rgb(255, 255, 255) url('gradient.gif') repeat-x scroll 0pt bottom; float: right; display: inline; width: 160px; color: rgb(0, 0, 0); }
.MTPSPart p { font-weight: 700; }
.MTPSPart ul { margin: 0pt; padding: 0pt; }
.MTPSPart ul li { margin: 0pt 0pt 5px 17px; padding: 0pt; color: rgb(204, 204, 204); font-size: smaller; list-style-image: url('b_001.gif'); line-height: 140%; }
.MTPSPart ul li a { color: rgb(0, 51, 204); }
.resizableArea .leftSection { margin: 0pt 4px 0pt 0pt; padding: 0pt; background: rgb(249, 249, 249) none repeat scroll 0% 0%; overflow: auto; display: block; float: left; position: relative; width: 300px; height: 100%; z-index: 1; }
.resizableArea .splitter { margin: 0pt; padding: 0pt; width: 4px; position: absolute; display: block; cursor: e-resize; left: 250px; height: 100%; z-index: 11; background-position: center center; background-repeat: no-repeat; background-color: rgb(187, 187, 187); vertical-align: middle; }
.resizableArea .rightSection { border: 0pt none ; margin: 0pt; padding: 0pt; background: rgb(255, 255, 255) none repeat scroll 0% 0%; overflow: auto; height: 100%; position: relative; z-index: 10; }
.SearchBox { margin-top: 18px; width: 49.5%; float: left; text-align: right; }
* html .SearchBox { margin-right: 6px; }
.SearchBox ul { z-index: 999; display: block; font-size: 9pt; font-family: 'Segoe UI',Tahoma; list-style-type: none; list-style-position: outside; list-style-image: none; }
div#TextBoxSearchDiv input[type="text"] { height: 16px; }
.TextBoxSearch { border: 1px solid rgb(132, 156, 177); background-color: white; height: 16px; width: 304px; color: graytext; margin-right: -2px; padding-left: 5px; font-family: 'Segoe UI',Tahoma; font-style: italic; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
.TextBoxSearchActive { border: 1px solid rgb(132, 156, 177); height: 16px; width: 304px; margin-right: -2px; padding-left: 5px; font-family: 'Segoe UI',Tahoma; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
.SearchButton { border: 0pt none ; padding: 0pt; margin-bottom: -4px; margin-top: 2px; white-space: nowrap; height: 20px; }
.SearchButtonFF { margin-bottom: -6px; }
.SearchButtonIE8 { margin-bottom: -6px; }
.SearchButtonSafari { margin-bottom: -5px; }
.WebButton { border-style: none; border-color: rgb(171, 195, 216); background-color: rgb(171, 195, 216); margin-left: 3px; color: rgb(65, 89, 110); cursor: pointer; font-family: 'Segoe UI',Tahoma; font-style: normal; font-variant: normal; font-weight: normal; font-size: 11px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; background-image: url('websearch.gif'); background-position: center top; background-repeat: repeat; height: 20px; }
.WebButtonFF { margin-bottom: -1px; }
.WebButtonFF3 { padding-bottom: 2px; }
.WebButtonIE8 { padding-top: 3px; }
.NavigationBox { border-style: solid; border-color: rgb(208, 146, 145) rgb(0, 0, 0) rgb(37, 62, 83); border-width: 1px; float: left; height: 47px; width: 100%; background-color: rgb(155, 67, 66); background-image: url('msdn.glassbg1.jpg'); background-repeat: no-repeat; }
.HeaderTitle { float: left; height: 24px; font-family: 'Segoe UI',Tahoma,Verdana,Arial,Helvetica; font-size: 16px; padding-top: 2px; margin-left: 20px; color: white; }
* html .HeaderTitle { margin-left: 10px; }
.Sponsor { float: right; height: 19px; width: 114px; margin-top: 6px; margin-right: 35px; }
* html .Sponsor { margin-right: 10px; }
.SiteNavigation { overflow: hidden; margin-left: 20px; height: 22px; width: inherit; }
* html .SiteNavigation { height: 21px; }
.SiteNavigation a { font-size: 12px; padding-top: 2px; padding-right: 26px; padding-left: 26px; text-decoration: none; white-space: nowrap; color: white; height: 17px; }
* html .SiteNavigation a { padding-bottom: 1px; }
.SiteNavigation a:hover { text-decoration: none; color: white; }
.SiteNavigation a:visited { color: white; }
.SiteNavTabOffLeft { float: left; height: 22px; width: 2px; }
* html .SiteNavTabOffLeft { height: 21px; }
.SiteNavTabOffRight { float: left; height: 22px; width: 2px; margin-right: 2px; }
* html .SiteNavTabOffRight { height: 21px; }
.SiteNavTabOnLeft { float: left; height: 22px; width: 2px; }
* html .SiteNavTabOnLeft { height: 21px; }
.SiteNavTabOnRight { float: left; height: 22px; width: 2px; margin-right: 2px; }
* html .SiteNavTabOnRight { height: 21px; }
.SiteNavigation .TabOff { float: left; font-family: 'Segoe UI',Tahoma; font-size: 13px; height: 17px; padding-top: 2px; padding-bottom: 1px; cursor: pointer; }
.SiteNavigation .TabOn { float: left; font-family: 'Segoe UI',Tahoma; font-size: 13px; height: 18px; padding-top: 2px; padding-bottom: 1px; }
* html .SiteNavigation .TabOn { height: 17px; }
.SiteNavigation .TabOn a { cursor: pointer; color: black; }
.SiteNavigation .TabOn a:hover { color: black; }
.SiteNavigation .TabOn a:visited { color: black; }
.SiteNavigation .TabOff { border-top: 1px solid rgb(122, 19, 18); background-color: rgb(122, 19, 18); }
.SiteNavigation .TabOff a:hover { background-color: rgb(144, 36, 35); }
.SiteNavigation .TabOff:hover { background-color: rgb(144, 36, 35); }
.SiteNavTabOffLeft { background-repeat: no-repeat; }
.SiteNavTabOffRight { background-repeat: no-repeat; }
.SiteNavigation .TabOn { border-top: 1px solid rgb(61, 9, 9); background-color: rgb(238, 238, 238); }
.SiteNavTabOnLeft { background-repeat: no-repeat; }
.SiteNavTabOnRight { background-repeat: no-repeat; }
.LocalNavigation { border-left: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); float: left; width: 100%; padding-bottom: 3px; background-color: rgb(238, 238, 238); }
.HeaderTabs { margin-left: 3px; }
.LocalNavigation .Pipe { float: left; margin-top: 7px; color: rgb(142, 142, 142); }
.LocalNavigation a { font-size: 10px; text-decoration: none; color: rgb(51, 51, 51); }
.LocalNavigation a:hover { text-decoration: none; color: rgb(0, 0, 0); }
.LocalNavigation a:visited { color: rgb(51, 51, 51); }
.LocalNavigation .TabOff a { padding: 4px 10px; float: left; margin-top: 3px; cursor: pointer; color: rgb(51, 51, 51); }
.LocalNavigation .TabOff a:hover { border: 1px solid rgb(166, 143, 143); padding: 3px 9px; float: left; margin-top: 3px; cursor: pointer; background-color: rgb(208, 208, 208); }
.LocalNavigation .TabOn { border: 1px solid rgb(78, 31, 31); padding: 3px 9px; float: left; font-weight: bold; margin-top: 3px; white-space: nowrap; background-color: rgb(161, 161, 161); }
.LocalNavigation .TabOn a { color: rgb(255, 255, 255); text-decoration: none; cursor: default; }
.LocalNavigation .TabOn a:hover { color: rgb(255, 255, 255); text-decoration: none; cursor: default; }
.LocalNavigation .TabOn a:visited { color: rgb(255, 255, 255); text-decoration: none; cursor: default; }
.LocalNavBottom { display: none; }
.cleartabstrip { clear: both; height: 0pt; }
* html .cleartabstrip { display: none; }
.TFlyPopupAnimate { border: 1px solid gray; margin: 0pt; padding: 0pt; overflow: hidden; position: absolute; display: block; visibility: hidden; z-index: 1; }
.toc li { margin: 3px 0pt; overflow: visible; font-family: Verdana,Arial,Helvetica,sans-serif; list-style-image: none; list-style-position: inside; list-style-type: none; white-space: nowrap; }
.toc li a:hover { background-color: rgb(204, 204, 204); color: rgb(0, 0, 0); text-decoration: none; }
div.rootToc ul.toc, ul.toc li ul.toc { list-style-type: none; list-style-image: none; list-style-position: outside; margin-bottom: 0pt; margin-left: 0pt; margin-top: 0pt; padding-left: 2em; padding-top: 0pt; text-indent: -2em; }
.toc img { height: 16px; margin-right: 7px; vertical-align: middle; width: 16px; }
.hidden { display: none; visibility: hidden; }
.toc li a.tocSelected { background-color: rgb(142, 144, 156); color: rgb(255, 255, 255); }
.toc li a, .toc li a:visited { border: 1px solid rgb(249, 249, 249); color: rgb(0, 0, 0); text-decoration: none; }
.twPopup { border: 1px solid rgb(170, 170, 170); background: rgb(255, 255, 255) none repeat scroll 0% 0%; overflow: auto; position: absolute; z-index: 100; top: 100px; left: 200px; width: 450px; visibility: hidden; }
.twPopupHandle { border-bottom: 1px solid rgb(187, 187, 187); overflow: hidden; background-color: rgb(236, 238, 252); font-family: Verdana,Arial,Helvetica,sans-serif; font-style: normal; font-variant: normal; font-weight: bold; font-size: 120%; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; cursor: move; height: 24px; }
.twPopupTitle { margin: 3px 0pt 0pt 5px; display: block; float: left; cursor: move; }
.twPopupHandle .twButton { padding: 0pt; display: block; float: right; text-decoration: none; vertical-align: bottom; }
.twClearBoth { clear: both; }
.twPopupCommands { border-bottom: 1px solid rgb(187, 187, 187); padding: 5px; background-color: rgb(236, 238, 252); background-repeat: repeat-x; font-family: Verdana,Arial,Helvetica,sans-serif; font-style: normal; font-variant: normal; font-weight: bold; font-size: 120%; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; height: 24px; text-align: right; }
#twPopupSuggestions { padding: 0pt; height: 150px; overflow-x: hidden; overflow-y: auto; }
#twPopupSuggestions td { border-bottom: 1px solid rgb(187, 187, 187); vertical-align: top; }
.twPopupControlColumn { padding: 0pt; background-color: rgb(204, 204, 204); width: 120px; }
.twPopupSentenceColumn { width: 300px; padding-top: 3px; padding-left: 3px; padding-right: 10px; }
.twPopupControlButton { display: block; float: left; }
#twPopupSuggestionsTitle { padding: 3px 5px; margin-top: 2px; background-color: rgb(204, 204, 204); font-weight: 700; }
#twPopupNoSuggestions { margin-top: 25px; text-align: center; font-style: italic; font-weight: 700; }
#twPopupProgress { text-align: center; padding-top: 10px; padding-bottom: 10px; line-height: 200%; }
.twPopupInfo { border-bottom: 1px solid rgb(204, 204, 204); padding: 3px; background: rgb(204, 255, 204) none repeat scroll 0% 0%; }
.twPopupError { border-bottom: 1px solid rgb(204, 204, 204); padding: 3px; background: rgb(255, 204, 153) none repeat scroll 0% 0%; }
.InlineEditor_Editor_Off { border: 0pt solid rgb(135, 169, 209); padding: 3px; background: transparent none repeat scroll 0% 0%; height: auto; font-family: Verdana; }
.InlineEditor_Editor_On { border: 1px solid rgb(135, 169, 209); padding: 3px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; font-family: Verdana; cursor: text; height: 100%; min-height: 120px; }
* html .InlineEditor_Editor_On, * + html .InlineEditor_Editor_On { height: 120px; }
.InlineEditor_Toolbar { border: 1px solid gray; background: rgb(211, 211, 211) none repeat scroll 0% 0%; height: 24px; width: 100%; }
.InlineEditor_ImageButton { margin: 0pt; cursor: pointer; height: 24px; float: left; }
.InlineEditor_Separator { margin: 0pt; cursor: default; height: 24px; float: left; }
.InlineEditor_Title_Edit { border: 1px solid rgb(135, 169, 209); padding: 0pt; width: 100%; }
.InlineEditor_TagEditorPanel { text-align: left; }
td.rade_toolZone, td.rade_leftVerticalSide, td.rade_rightVerticalSide { background-color: rgb(207, 215, 235) ! important; }
div.radeditor table { background-color: rgb(207, 215, 235) ! important; }
.UserRecognitionStaticText { margin: 1px 0pt 1px 1px; padding: 1px; font-weight: 700; color: rgb(0, 0, 0); font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif; white-space: nowrap; }
.UserRecognitionFlyoutPopup { border: 1px solid rgb(102, 102, 102); font-family: Verdana,Tahoma,Arial,Helvetica,sans-serif; text-align: left; background-color: rgb(255, 255, 255); z-index: 10; opacity: 0.95; }
.UserRecognitionFlyoutPopup a, .UserRecognitionFlyoutPopup a:visited { border: 1px solid rgb(255, 255, 255); padding: 1px 3px; font-size: 10px; font-weight: 400; color: rgb(0, 0, 0); margin-left: 0pt; height: 15px; text-align: left; text-decoration: none; white-space: nowrap; display: block; }
.UserRecognitionFlyoutPopup a:hover, .UserRecognitionFlyoutPopup a:active { border: 1px solid rgb(173, 219, 239); padding: 1px 3px; background-color: rgb(240, 247, 253); color: rgb(0, 0, 0); font-weight: 400; margin-left: 0pt; height: 15px; text-align: left; text-decoration: none; white-space: nowrap; display: block; }
a.UserRecognitionFlyoutIndented, a.UserRecognitionFlyoutIndented:visited, a.UserRecognitionFlyoutIndented:hover, a.UserRecognitionFlyoutIndented:active { margin-left: 6px; }
a.UserRecognitionFlyoutIndentedExpired, a.UserRecognitionFlyoutIndentedExpired:visited, a.UserRecognitionFlyoutIndentedExpired:hover, a.UserRecognitionFlyoutIndentedExpired:active { color: gray; cursor: default; margin-left: 6px; }
.UserRecognitionFlyoutPopupHeading { font-size: 10px; font-weight: 700; padding-left: 5px; color: rgb(0, 51, 153); text-align: left; }
.UserRecognitionFlyoutPopupHr { margin: 0pt 11px 21px; background: rgb(208, 224, 240) none repeat scroll 0% 0%; height: 1px; }
.UserRecognitionFlyoutPopArrow { margin: 4px 0pt 0pt; padding-left: 6px; }
.UserRecognitionFlyoutStatic, .UserRecognitionFlyoutStaticHover { border: 1px solid rgb(255, 255, 255); margin: 1px 0pt 1px 1px; padding: 1px 3px 1px 0pt; font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif; color: rgb(91, 91, 91); text-decoration: none; cursor: default; display: inline; }
.UserRecognitionFlyoutStaticHover { border: 1px solid rgb(161, 198, 235); margin: 1px 0pt 1px 1px; padding: 1px 3px 1px 0pt; }

/* ::::: null ::::: */

.vb, .cs, .cpp, .nu { display: none; }

/* ::::: null ::::: */

.nu { display: inline; }
