
/* ::::: http://hi.images.csdn.net/css/Cogitation/Cogitation_1.css ::::: */

body { height: 100%; min-width: 760px; }
a { text-decoration: none; color: rgb(51, 102, 153); }
a:hover { text-decoration: none; color: rgb(213, 145, 57); }
.spadding { margin: 0pt; padding: 0pt; }
.middle { text-align: center; }
.small { font-size: 9px; }
.left { text-align: left; }
.right { text-align: right; }
#csdnblog_sidebar div.gutter { margin: 0pt 5px; background: rgb(245, 245, 245) none repeat scroll 0% 0%; overflow: hidden; float: left; width: 95%; display: inline; font-family: "Microsoft yahei",verdana,sans-serif; }
.aboutauthor { padding: 1em; float: left; height: 100%; }
.aboutauthor dl { overflow: hidden; }
.aboutauthor dt { border-bottom: 1px solid rgb(204, 204, 204); margin: 20px 0pt 5px; background: transparent url('csdnblog_titlebg2.gif') no-repeat scroll right center; clear: both; font-family: "Microsoft yahei",verdana,sans-serif; font-style: normal; font-variant: normal; font-weight: bold; font-size: 14px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; color: rgb(0, 0, 0); }
.aboutauthor dt span { margin: 0pt 0pt 0pt 6px; font-family: verdana,sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 9px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; color: rgb(191, 123, 5); }
.aboutauthor dd { margin: 8px 0pt; }
.aboutauthor dd img { border: 1px solid rgb(204, 204, 204); padding: 2px; }
.aboutauthor dd em { margin: 0pt 2px; color: rgb(147, 179, 0); }
.readingbook { float: left; width: 100%; }
.readingbook ul { float: left; }
.readingbook li { margin: 5px 10px 0pt 4px; float: left; display: inline; }
.readingbook li span { overflow: hidden; display: block; width: 70px; white-space: nowrap; }
.readingbook li.viewallfriends { clear: both; display: block; width: 90%; }
.readingbook ul.spacefriend li { height: 75px; }
.publiclist_sidebar ul li { background: transparent url('csdnblog_listico.gif') no-repeat scroll 3px 8px; line-height: 24px; }
.publiclist_sidebar ul li a { padding: 0pt 0pt 0pt 15px; }
.friendslist_sidebar ul li { background: transparent url('iconi01.gif') no-repeat scroll 3px 7px; line-height: 24px; }
.friendslist_sidebar ul li a { padding: 0pt 0pt 0pt 15px; }
#csdnblog_content div.gutter { margin: 0pt 0.5em; float: left; width: 98%; display: inline; }
.writeblog { margin: 5px 0pt; float: left; width: 95%; }
.writeblog ul { float: left; width: 100%; }
.writeblog li { margin: 0pt 0pt 0pt 6px; float: right; }
.writeblog li a { border: 1px solid rgb(204, 204, 204); padding: 0.2em 2em; background: rgb(204, 204, 204) none repeat scroll 0% 0%; float: left; font-weight: bold; color: rgb(85, 85, 85); }
.default_contents { border: 1px solid rgb(204, 204, 204); margin: 0pt 0pt 20px; overflow: hidden; text-align: left; float: left; display: inline; width: 97%; }
.default_contents h1 { padding: 0pt 0pt 0.5em 1.5em; background: transparent url('authorship_001.gif') no-repeat scroll left top; font-size: 15px; font-family: "Microsoft yahei","heiti",verdana,sans-serif; }
.default_contents h4.notice { padding: 0.5em 2em; background: rgb(255, 255, 221) url('blog_noticedefault.gif') no-repeat scroll 4px 5px; font-size: 12px; color: rgb(187, 34, 52); }
.default_contents h4.notice span { margin: 1px 0pt 0pt; font-family: verdana,sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; float: right; }
.default_contents h4.notice span a { text-decoration: underline; }
.default_contents h4.notice a { color: rgb(0, 0, 0); }
.default_contents h4.notice a:hover { color: rgb(187, 34, 52); text-decoration: underline; }
.default_contents h3.pagego { border: 1px solid rgb(225, 225, 225); margin: 3px 0pt; padding: 5px 6px; font-size: 12px; font-weight: normal; }
.default_contents h6.pubtime { border-bottom: 1px solid rgb(220, 220, 220); padding: 0pt 0pt 0pt 10px; background: rgb(245, 245, 245) none repeat scroll 0% 0%; font-family: "Georgia",sans-serif; font-style: normal; font-variant: normal; font-weight: bold; font-size: 12px; font-size-adjust: none; font-stretch: normal; -x-system-font: none; text-align: left; line-height: 24px; color: rgb(0, 0, 0); }
.user_article { margin: 0pt 0pt 10px; padding: 1em; overflow: hidden; }
.user_article h1.title_txt { border-bottom: 2px solid rgb(220, 220, 220); padding: 0pt 0pt 0.5em 1.5em; font-size: 15px; font-family: "Microsoft yahei",verdana,sans-serif; }
.user_article h1.title_txt img { margin: 0pt 5px 0pt -20px; }
.user_article h1.title_txt img.dingpic { margin: 0pt 25px 0pt -25px; }
.user_article p { margin: 0pt; padding: 0.9em 0pt; text-indent: 2em; }
.user_article p cite { margin: 0pt 6px 0pt 0pt; font-size: 15px; font-weight: bold; color: rgb(213, 145, 57); font-family: "Microsoft yahei",verdana,sans-serif; }
.user_article p code a { margin: 0pt 0pt 0pt 6px; color: rgb(213, 145, 57); text-decoration: underline; }
.user_article p code a:hover { text-decoration: none; }
.user_article p.articalinfo { margin: 0pt; padding: 3px 0pt; background: rgb(245, 245, 245) none repeat scroll 0% 0%; font-size: 12px; }
.user_article p.articalinfo a { margin: 0pt 3px; text-decoration: underline; }
.pagelist { padding: 0pt 0.5em; float: left; width: 90%; }
.pagelist a { margin: 0pt 5px 0pt 0pt; padding: 3px 5px; background: rgb(51, 102, 153) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.pagelist a:hover { background: rgb(255, 102, 0) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.pagelist a.on { background: rgb(255, 102, 0) none repeat scroll 0% 0%; }
.blogstory { float: left; width: 100%; }
.blogstory p { margin: 1em 0pt 0.5em; padding: 0pt; text-indent: 2em; line-height: 22px; font-size: 14px; }
.blogstory h5 { margin: 1.5em 0pt 0pt; font-family: verdana,sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
.blogstory h5 a { padding: 0pt 0.4em; text-decoration: underline; }
.blogstory ul { margin: 5px 0pt 5px 35px; }
.blogstory ul li { padding: 2px 0pt; list-style-type: disc; }
.blogstory ol { margin: 5px 0pt 5px 35px; }
.blogstory ol li { padding: 2px 0pt; list-style-type: decimal; }
.blogstory dl.aboutartical { border: 1px solid rgb(225, 225, 225); margin: 5px 10px 0pt 0pt; padding: 1em 0.5em; float: left; width: 45%; display: inline; }
.blogstory dl.aboutartical dt { border-bottom: 1px solid rgb(204, 204, 204); margin: 0pt 0pt 8px; font-weight: bold; }
.blogstory dl.authorart { border: 1px solid rgb(225, 225, 225); margin: 5px 0pt 0pt 10px; padding: 1em 0.5em; float: right; width: 45%; display: inline; }
.blogstory dl.authorart dt { border-bottom: 1px solid rgb(204, 204, 204); margin: 0pt 0pt 8px; font-weight: bold; }
.blogstory dl.aboutartical dd, .blogstory dl.authorart dd { background: transparent url('newcsdn_pic4.gif') no-repeat scroll 0pt 6px; overflow: hidden; width: 90%; white-space: nowrap; }
.blogstory dl.aboutartical dd a, .blogstory dl.authorart dd a { margin: 0pt 0pt 0pt 9px; }
.blogstory dl.csdntagad { border: 1px solid rgb(225, 225, 225); margin: 0.6em 0pt; }
.blogstory dl.csdntagad dt { padding: 0.5em 1em 0pt; }
.blogstory dl.csdntagad dt cite { margin: 0pt 0pt 0pt 8px; vertical-align: bottom; }
.blogstory dl.csdntagad dt.tagadtit { font-weight: bold; }
.blogstory dl.csdntagad dd { padding: 1em; display: inline; }
.blogstory dl.csdntagad dd a { margin: 0pt 5px 0pt 0pt; text-decoration: underline; }
.csdnblogalbum { float: left; width: 100%; }
.csdnblogalbum h3 { padding: 1em; font-size: 16px; }
.csdnblogalbum ul { margin: 1em 1.5em; width: 95%; float: left; display: inline; }
.csdnblogalbum li { margin: 1em 1.5em 0pt 0pt; display: inline; float: left; }
.csdnblogalbum li img { border: 1px solid rgb(51, 51, 51); padding: 2px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.csdnblogalbum li code { padding: 5px 0pt 0pt; display: block; text-align: center; }
.csdnblogalbum p { text-align: center; }
.csdnblogalbum p em { margin: 0pt 10px; }
.csdnblogalbum p em a { padding: 0pt 6px; text-decoration: underline; }
.csdnblogalbum p.csdnptodesc { border: 1px dotted rgb(225, 225, 225); margin: 0pt 2em; padding: 1em; text-align: left; }
#pubfooter { border-top: 1px solid rgb(204, 204, 204); margin: 5px 0pt 0pt; float: left; width: 100%; }
#pubfooter dl dd { padding: 3px 0pt; }
#pubfooter dl dd a { padding: 0pt 5px; }
.solidline { border-bottom: 1px solid rgb(204, 204, 204); }
.dottedline { border-bottom: 1px dotted rgb(204, 204, 204); }
input, textarea { border: 1px solid rgb(204, 204, 204); margin: 6px 3px 0pt; padding: 2px 4px; }
input:hover, textarea:hover { border: 1px solid rgb(204, 204, 204); padding: 2px 4px; background: rgb(254, 252, 226) none repeat scroll 0% 0%; }
input:focus, textarea:focus { border: 1px solid rgb(204, 204, 204); padding: 2px 4px; background: rgb(254, 252, 226) none repeat scroll 0% 0%; }
.noborder { border: 0pt none ; margin: 6px 0pt 0pt; padding: 2px 4px; }
.noborder:hover { border: 0pt none ; padding: 2px 4px; background: rgb(254, 252, 226) none repeat scroll 0% 0%; }
.noborder:focus { border: 0pt none ; padding: 2px 4px; background: rgb(254, 252, 226) none repeat scroll 0% 0%; }
#csdnblog_content div.gutter { margin: 0pt 0.5em; float: left; width: 98%; display: inline; }
.default_contents ul.spacetab { margin: 20px 10px; background: transparent url('csdntabbg_bottom.gif') repeat-x scroll center bottom; line-height: 2.2em; }
.default_contents ul.spacetab li { margin: 0pt 0pt 0pt 10px; display: inline; }
.default_contents ul.spacetab li a { border-style: solid solid none; border-color: rgb(170, 170, 170) rgb(170, 170, 170) -moz-use-text-color; border-width: 1px 1px 0pt; padding: 4px 15px; background: rgb(225, 225, 225) none repeat scroll 0% 0%; }
.default_contents ul.spacetab li a span { margin: 0pt 5px; font-weight: bold; }
.default_contents ul.spacetab li a.on { padding: 4px 15px 5px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.user_article dl.myspacelist { border-bottom: 1px dotted rgb(204, 204, 204); margin: -20px 0pt 0pt; padding: 0pt 0pt 30px; background: transparent url('csdnblog_databg.gif') no-repeat scroll right top; position: relative; }
.user_article dl.myspacelist dt { position: absolute; top: 5px; right: 7px; font-family: "Georgia",sans-serif; font-style: normal; font-variant: normal; font-weight: bold; font-size: 12px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; color: rgb(254, 0, 0); text-align: center; z-index: 100; }
.user_article dl.myspacelist dt span { display: block; font-size: 24px; }
.user_article dl.myspacelist dt dfn { padding: 15px 0pt 0pt; display: block; font-size: 14px; }
.user_article dl.myspacelist dd { margin: 10px 0pt; overflow: hidden; width: 87%; }
.user_article dl.myspacelist dd a { padding: 0pt 6px; }
.user_article dl.myspacelist dd span { margin: 0pt 0pt 0pt 6px; font-family: "Georgia",sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; color: rgb(142, 142, 142); }
.user_article dl.userinformation { border-bottom: 1px dotted rgb(204, 204, 204); margin: 5px 0pt; padding: 5px 0pt; float: left; width: 98%; }
.user_article dl.userinformation dt img { border: 1px solid rgb(204, 204, 204); margin: 0pt 15px 0pt 0pt; padding: 2px; float: left; }
.user_article dl.userinformation dd { padding: 3px 0pt 0pt; }
.user_article dl.userinformation dd span { margin: 0pt 10px 0pt 0pt; font-family: "Microsoft Yahei",sans-serif; font-style: normal; font-variant: normal; font-weight: bold; font-size: 14px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
.user_article dl.userinformation dd img { margin: 0pt 5px 0pt 20px; }
.user_article dl.userinformation dd em { font-size: 12px; font-weight: normal; }
.user_article dl.userinformation dd cite { font-family: verdana,sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; color: rgb(204, 204, 204); }
.user_article dl.userinformation dd dfn { font-family: verdana,sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; color: rgb(0, 153, 0); }
.user_article dl.userinformation dd code { font-family: "Microsoft Yahei",sans-serif; font-style: normal; font-variant: normal; font-weight: bold; font-size: 14px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
.user_article dl.userinformation dd a { text-decoration: underline; }
.spacecommment { margin: 0pt 20px 15px; float: left; display: inline; position: relative; }
.spacecommment fieldset { border: 1px solid rgb(204, 204, 204); padding: 10px; width: 500px; }
.spacecommment legend { padding: 10px 25px; font-family: "Microsoft Yahei",sans-serif; font-style: normal; font-variant: normal; font-weight: bold; font-size: 12px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; color: rgb(26, 102, 179); }
.spacecommment legend dfn { margin: 0pt 0pt 0pt 10px; font-family: sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; color: rgb(255, 0, 0); }
.spacecommment legend dfn a { padding: 0pt 2px; text-decoration: underline; color: rgb(0, 51, 204); }
.spacecommment input.submitbtn { display: block; }
.spacecommment em { position: absolute; top: 45px; left: 7px; }
html > body .spacecommment em { top: 50px; }
.commentslist { margin: 10px 20px 0pt; text-align: left; float: left; width: 98%; display: inline; }
.commentslist dl.question { float: left; width: 98%; display: inline; }
.commentslist dl.question dt { border-top: 1px solid rgb(51, 102, 153); margin: 5px 0pt 6px; padding: 3px 10px; background: rgb(251, 249, 249) none repeat scroll 0% 0%; }
.commentslist dl.question dt a { padding: 0pt 6px; text-decoration: underline; }
.commentslist dl.question dt span { padding: 0pt 50px 0pt 10px; background: transparent url('csdnblog_sidebartitbg.gif') repeat-x scroll 0% 0%; }
.commentslist dl.question dd { padding: 0pt 0pt 5px; }
.commentslist dl.question dd.quesauthor img { margin: 0pt 10px 0pt 0pt; float: left; }
.commentslist dl.ask { border: 1px solid rgb(186, 209, 233); margin: 10px 50px 0pt; padding: 0.2em 0.5em 0.9em; background: rgb(245, 250, 255) none repeat scroll 0% 0%; clear: both; }
.commentslist dl.ask dt { margin: 0pt; padding: 0pt 0pt 0pt 50px; }
.commentslist dl.ask dt a { padding: 0pt 6px; text-decoration: underline; }
.commentslist dl.ask dd.askauthor img { margin: -15px 5px 0pt; float: left; }
.commentslist dl.ask dd { color: rgb(210, 137, 0); }
.commentslist dl.ask dd.hiddeninput { clear: left; }
#csdnblog_allwrap { margin: 0pt auto; width: 100%; min-width: 760px; }
#csdnblog_midwrap { padding: 0pt 0pt 0.5em; background: rgb(255, 255, 255) none repeat scroll 0% 0%; float: left; width: 100%; height: 100%; }
#csdnblog_header { background: rgb(1, 78, 130) none repeat scroll 0% 0%; position: relative; float: left; height: 125px; width: 100%; text-align: left; font-family: "Microsoft Yahei",verdana,sans-serif; }
#csdnblog_sidebar { margin: 5px 0pt 0pt; float: left; width: 20%; text-align: left; display: inline; }
#csdnblog_content { margin: 5px 0pt 0pt; float: left; width: 79%; display: inline; }
#csdnblog_header h1 { padding: 0.8em 1em; font-size: 22px; color: rgb(255, 255, 255); }
#csdnblog_header h1 a { color: rgb(255, 255, 255); }
#csdnblog_header h1 a:hover { color: rgb(255, 255, 255); }
#csdnblog_header h2 { padding: 0.2em 1.6em; font-size: 15px; color: rgb(255, 255, 255); }
#csdnblog_header ul#personalnav { margin: 0pt 1em; float: right; position: absolute; top: 10px; right: 2%; }
#csdnblog_header ul#personalnav li { margin: 0pt 1px; float: left; }
#csdnblog_header ul#personalnav li a em { margin: 0pt 0pt 0pt 5px; color: rgb(246, 255, 0); }
#csdnblog_header ul#personalnav li a { padding: 2px 10px; float: left; color: rgb(255, 255, 255); text-decoration: none; }
#csdnblog_header ul#personalnav li a:hover { color: rgb(255, 0, 0); }
#csdnblog_header p { float: right; position: absolute; right: 2%; }
#csdnblog_header ul#blogsearchsty { margin: 0pt 1em; position: absolute; top: 45px; right: 2%; float: right; }
#csdnblog_header ul#blogsearchsty li { float: left; }
#csdnblog_header ul#blogsearchsty li input { padding: 2px; }
#csdnblog_header ul#blogsearchsty li.selectsty { margin: 6px 0pt 0pt; }
* + html #csdnblog_header ul#blogsearchsty li.selectsty { margin: 7px 0pt 0pt; }
#csdnblog_header ul#blogsearchsty li input.bolggobtn { padding: 1px 3px; }
* + html #csdnblog_header ul#blogsearchsty li input.bolggobtn { margin: 7px 0pt 0pt 3px; padding: 0pt 3px; }
#csdnblog_header ul#menu { border-bottom: 3px solid rgb(0, 0, 0); background: transparent url('bluetabbtm.gif') repeat-x scroll center bottom; height: 26px; float: left; top: 96px; position: absolute; width: 100%; font-size: 12px; }
#csdnblog_header ul#menu li { background: transparent url('bluetabface.jpg') repeat-x scroll 0% 0%; float: left; line-height: 25px; }
#csdnblog_header ul#menu li a { padding: 2px 40px 0pt; float: left; color: rgb(255, 255, 255); }
#csdnblog_header ul#menu li a:hover { color: rgb(255, 255, 255); }
#csdnblog_header ul#menu li a.last { background: transparent url('bluetabright.jpg') no-repeat scroll right center; width: 87px; }
body { margin: 0pt; padding: 0pt; text-align: center; font-family: verdana,sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 75%; font-size-adjust: none; font-stretch: normal; -x-system-font: none; color: rgb(0, 0, 0); line-height: 150%; }
.clear { clear: both; }
img { border: 0pt none ; }
h1, h2, h3, h4, h5, h6, dl, dt, dd, ol, ul, li, form { margin: 0pt; padding: 0pt; }
ol, ul { list-style-type: none; }
input, textarea, select { font-size: 12px; font-family: verdana,sans-serif; }
code, samp, cite, em, dfn { font-style: normal; }

/* ::::: http://www.csdn.net/css/csdn_favbykimi.css ::::: */

cite.fav_csdnstylebykimi { margin: 0pt 0pt 0pt 5px; padding: 0pt; font-style: normal; display: inline; text-decoration: none; }
cite.fav_csdnstylebykimi a { padding: 0pt 25px 1px 10px; background: transparent url('share-add.gif') no-repeat scroll 0pt 0pt; font-family: Tahoma,sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
* + html cite.fav_csdnstylebykimi a { padding: 2px 25px 0pt 10px ! important; }
cite.fav_csdnstylebykimi a:hover { background: transparent url('share-add.gif') no-repeat scroll 0pt 100%; color: rgb(255, 255, 255); text-decoration: none; clear: both; }

/* ::::: null ::::: */

.STYLE2 { font-family: "宋体"; font-size: 18px; font-weight: bold; }
