
/* ::::: http://home.educities.edu.tw/wanker742126/asm/asm.css ::::: */

body.asm { background: black none repeat scroll 0% 0%; font-family: 'Times New Roman','新細明體'; font-size: 10pt; color: lime; }
h1 { color: rgb(255, 255, 102); font-size: 22pt; }
h2 { color: rgb(255, 204, 102); font-size: 18pt; }
h3 { color: rgb(255, 153, 153); font-size: 14pt; }
pre.prog { border: 2px solid rgb(0, 54, 0); background-color: rgb(0, 54, 0); color: yellow; padding-left: 20pt; font-family: "Courier New"; }
pre { font-family: "Courier New",Courier,monospace; }
pre.note { font-size: 10pt; color: lime; }
pre.code { padding-left: 20pt; font-family: "Courier New",Courier,monospace; }
pre.dos { padding-left: 30px; font-family: "Courier New",Courier,monospace; color: rgb(119, 204, 34); }
pre.debug { padding-left: 10pt; font-family: "Courier New",Courier; }
pre.structure { padding-left: 20pt; color: rgb(102, 255, 255); background-color: rgb(0, 51, 51); font-family: "Courier New",Courier,monospace; }
pre.api { padding-left: 15pt; font-family: "Courier New",Courier,monospace; }
pre.exp { padding-left: 15pt; font-family: "Times New Roman",細明體; }
span.note { color: rgb(255, 204, 255); font-weight: bold; }
span.em { color: white; font-weight: bold; }
span.em2 { color: rgb(255, 102, 204); }
span.input { color: yellow; }
span.new { color: red; }
span.n { color: aqua; font-size: 9pt; }
span.n1 { color: rgb(255, 204, 0); }
a { text-decoration: none; font-weight: 800; }
a:link { color: rgb(204, 255, 51); }
a:active { color: rgb(204, 255, 51); }
a:visited { color: rgb(204, 255, 51); }
table.gen { border-style: solid; border-color: rgb(51, 136, 0); font-size: 10pt; }
td.field { border-color: rgb(51, 153, 136); padding: 1pt; background-color: rgb(51, 153, 136); text-align: center; font-size: 10pt; color: white; }
td.cellgen { border-color: rgb(51, 136, 0); padding: 1pt; font-size: 10pt; }
th.cellgen { border-color: rgb(51, 136, 0); font-size: 10pt; }
td.list_f0 { padding: 5px 0px; text-align: right; vertical-align: top; color: rgb(153, 255, 0); font-weight: bold; }
td.list_0 { padding: 5px 0px; }
td.list_f1 { text-align: right; vertical-align: top; }
td.list_1 { font-size: 10pt; }
td { font-size: 10pt; }
hr { color: blue; width: 100%; height: 4px; }

/* ::::: null ::::: */

td.bk { border-color: rgb(0, 0, 0) rgb(51, 136, 0); text-align: center; }
