/* ::::: http://forum.moztw.org/styles/Moztw-2009-1.0.6/theme/stylesheet.css ::::: */

* { margin: 0pt; padding: 0pt; }
html { font-size: 100%; }
body { font-family: "Lucida Grande",Verdana,Helvetica,Arial,sans-serif; color: rgb(50, 61, 79); font-size: 82.5%; margin: 25px; background: url('body_back.gif') repeat-x scroll 0pt 0pt rgb(255, 255, 255); }
#header { margin-left: 2em; margin-right: 2em; }
#header { -moz-background-inline-policy: continuous; background: url('header_bl.png') repeat-x scroll left bottom rgb(69, 83, 114); font-size: small; height: 3em; min-height: 39px; padding: 15px 0pt; position: relative; margin-bottom: 1em; }
#header h1 { top: 0px; -moz-background-inline-policy: continuous; background: url('header_tl.gif') no-repeat scroll 0pt 0pt transparent; font-size: 2px; height: 8px; left: 0pt; margin: 0pt; position: absolute; z-index: 100; border: 0pt none; }
#header h1 a { -moz-background-inline-policy: continuous; background: url('header_logo2.png') no-repeat scroll 0pt 0pt transparent; display: block; height: 65px; text-decoration: none; text-indent: -700em; width: 354px; }
#header ul { -moz-background-inline-policy: continuous; background: url('header_br.gif') no-repeat scroll right bottom transparent; bottom: 0pt; list-style: none outside none; margin: 0pt; padding: 0pt 15px 0pt 0pt; position: absolute; right: 0pt; width: auto; z-index: 90; line-height: 1.5em; }
#header ul a { -moz-background-inline-policy: continuous; background: url('header_tab.gif') no-repeat scroll 0pt -600px transparent; color: rgb(255, 255, 255); display: block; float: left; font-weight: bold; padding: 4px 4px 4px 10px; text-decoration: none; }
#header li { -moz-background-inline-policy: continuous; background: url('header_tab.gif') no-repeat scroll 100% -600px transparent; border-bottom: 1px solid rgb(81, 83, 88); float: right; margin: 0pt 1px 0pt 0pt; padding: 0pt 6px 0pt 0pt; display: inline; white-space: nowrap; }
#header ul li:hover a { background-position: 0% -400px; }
#header ul li:hover { background-position: 100% -400px; }
body#sectionAbout li#menu_aboutus a, body#sectionProducts li#menu_products a, body#sectionForum li#menu_forum a, body#sectionWiki li#menu_wiki a, body#sectionLinks li#menu_links a, body#sectionDocs li#menu_docs a { background-position: 0% -200px; color: rgb(0, 51, 153); }
body#sectionAbout li#menu_aboutus, body#sectionProducts li#menu_products, body#sectionForum li#menu_forum, body#sectionWiki li#menu_wiki, body#sectionLinks li#menu_links, body#sectionDocs li#menu_docs { background-position: 100% -200px; border-bottom: 1px solid rgb(255, 255, 255); }
body#sectionAbout li#menu_aboutus:hover, body#sectionProducts li#menu_products:hover, body#sectionForum li#menu_forum:hover, body#sectionWiki li#menu_wiki:hover, body#sectionLinks li#menu_links:hover, body#sectionDocs li#menu_docs:hover { background-position: 100% 0%; }
body#sectionAbout li#menu_aboutus:hover a, body#sectionProducts li#menu_products:hover a, body#sectionForum li#menu_forum:hover a, body#sectionWiki li#menu_wiki:hover a, body#sectionLinks li#menu_links:hover a, body#sectionDocs li#menu_docs:hover a { background-position: 0% 0%; color: rgb(51, 51, 51); }
#footer { border-top: 1px solid rgb(153, 153, 153); margin: 2em 0pt; padding: 1em 0pt; text-align: center; }
#footer ul { margin: 0pt; padding: 0pt; list-style: none outside none; }
#footer li { display: inline; }
#footer span, #footer a { white-space: nowrap; padding: 0pt 0pt 0pt 1em; }
#footer p { margin: 0.6em 0pt; font-size: 1em; }
#footer p span, #footer p a { white-space: nowrap; padding: 0pt 0.3em; }
#footer p, #footer p a { color: rgb(102, 102, 102); }
#footer p a:hover { color: rgb(0, 0, 0); }
#header form { position: absolute; top: 0pt; right: 0pt; padding: 12px 15px 0pt 0pt; background: url('header_tr.gif') no-repeat scroll right top transparent; margin: 0pt; text-align: right; white-space: nowrap; }
#header form #submit { font-size: 85%; background: none repeat scroll 0% 0% rgb(106, 115, 137); color: rgb(255, 255, 255); padding: 1px 4px; border-right: 1px solid rgb(40, 48, 67); border-width: 1px; border-style: solid; border-color: rgb(144, 151, 162) rgb(40, 48, 67) rgb(40, 48, 67) rgb(144, 151, 162); }
#header form #q, #header form #key, #header form #search_keywords { width: 130px; font-size: 85%; border: 1px solid rgb(144, 151, 162); background: none repeat scroll 0% 0% rgb(217, 219, 225) ! important; padding: 2px; }
#header form #q:hover, #header form #q:focus, #header form #key:hover, #header form #key:focus, #header form #search_keywords:hover, #header form #search_keywords:focus { background: none repeat scroll 0% 0% rgb(255, 255, 255) ! important; }
#wrapheader { height: auto ! important; padding: 0pt; }
#wrapcentre { margin: 15px 25px 0pt; }
#logodesc { display: none; margin-bottom: 5px; padding: 100px 25px; background: none repeat scroll 0% 0% rgb(217, 223, 228); border-bottom: 1px solid rgb(71, 135, 167); }
#menubar { margin: 0pt 25px; }
#pageheader h2 { text-shadow: 0px 1px 1px rgb(85, 85, 85); }
#pagecontent {  }
#pagefooter {  }
h1 { color: black; font-family: "Lucida Grande","Trebuchet MS",Verdana,sans-serif; font-weight: bold; font-size: 1.8em; text-decoration: none; }
h2 { font-family: Arial,Helvetica,sans-serif; font-weight: bold; font-size: 1.5em; text-decoration: none; line-height: 120%; }
h4 { margin: 0pt; font-size: 1.1em; font-weight: bold; }
p { font-size: 1.1em; }
p.moderators { margin: 8px 0pt 0pt; float: left; color: black; font-weight: bold; }
p.breadcrumbs { margin: 0pt; float: left; color: black; font-weight: bold; white-space: normal; font-size: 1em; }
p.datetime { margin: 0pt; float: right; white-space: nowrap; font-size: 0.9em; }
p.searchbar { padding: 2px 0pt; white-space: nowrap; }
p.searchbar span { float: right; font-size: 0.9em; }
.postauthor { color: rgb(0, 0, 0); }
.postdetails { color: rgb(0, 0, 0); }
.postbody { font-size: 1.2em; line-height: 1.4em; font-family: "Lucida Grande","Trebuchet MS",Helvetica,Arial,sans-serif; }
.postbody li, ol, ul { margin: 0pt 0pt 0pt 1.5em; }
.nav { margin: 0pt; color: black; font-weight: bold; }
.gen { margin: 1px; font-size: 1.2em; }
.genmed { margin: 1px; font-size: 1.1em; }
.gensmall { margin: 1px; font-size: 1em; }
.titles { font-family: "Lucida Grande",Helvetica,Arial,sans-serif; font-weight: bold; font-size: 1.3em; text-decoration: none; }
th { color: rgb(255, 255, 255); font-size: 1.1em; font-weight: bold; background-color: rgb(0, 102, 153); background-image: url('cellpic3.png'); white-space: nowrap; padding: 7px 5px; }
td { padding: 2px; }
td.profile { padding: 4px; }
.tablebg { background-color: rgb(169, 184, 194); padding: 3px; border-radius: 7px 7px 7px 7px; box-shadow: 0px 1px 2px rgb(51, 51, 51); }
.tablebg td {  }
.cat { border-right: 0pt none ! important; height: 28px; margin: 0pt; padding: 0pt; background-color: rgb(199, 208, 215); background-image: url('cellpic1.gif'); text-indent: 4px; }
.row1 { background-color: rgb(236, 236, 236); padding: 4px; border: 1px solid rgb(169, 184, 194); }
.row2 { background-color: rgb(220, 225, 229); padding: 4px; border: 1px solid rgb(169, 184, 194); }
.spacer { background-color: rgb(209, 215, 220); }
a:link { color: rgb(0, 101, 151); text-decoration: none; }
a:active, a:visited { color: rgb(0, 87, 132); text-decoration: none; }
a:hover { color: rgb(212, 100, 0); text-decoration: underline; }
form { margin: 0pt; padding: 0pt; border: 0pt none; }
input { color: rgb(51, 51, 51); font-family: "Lucida Grande",Verdana,Helvetica,sans-serif; font-size: 1.1em; font-weight: normal; padding: 1px; border: 1px solid rgb(169, 184, 194); background-color: rgb(250, 250, 250); }
select { color: rgb(51, 51, 51); background-color: rgb(250, 250, 250); font-family: "Lucida Grande",Verdana,Helvetica,sans-serif; font-size: 1.1em; font-weight: normal; border: 1px solid rgb(169, 184, 194); padding: 1px; }
option { padding: 0pt 1em 0pt 0pt; }
.post { background-color: white; border-style: solid; border-width: 1px; }
.btnlite { font-weight: normal; background-color: rgb(236, 236, 236); border: 1px solid rgb(169, 184, 194); cursor: pointer; padding: 1px 5px; font-size: 1.1em; }
.quotetitle, .attachtitle { margin: 10px 5px 0pt; padding: 4px; border-width: 1px 1px 0pt; border-style: solid; border-color: rgb(169, 184, 194); color: rgb(51, 51, 51); background-color: rgb(169, 184, 194); font-size: 0.85em; font-weight: bold; }
.quotecontent, .attachcontent { margin: 0pt 5px 10px; padding: 5px; border-color: rgb(169, 184, 194); border-width: 0pt 1px 1px; border-style: solid; font-weight: normal; font-size: 1em; line-height: 1.4em; font-family: "Lucida Grande","Trebuchet MS",Helvetica,Arial,sans-serif; background-color: rgb(250, 250, 250); color: rgb(75, 92, 119); }
img { border: medium none; }
.username-coloured { font-weight: bold; }
/* ::::: http://www.google.com/uds/api/elements/1.0/a62f38f75c19e58d88ce4ef32aadadb2/transliteration.css ::::: */

:first-child + html .inputapi-inline-block { display: inline; }
:first-child + html .inputapi-custom-button-inner-box { left: -1px; }
:first-child + html .inputapi-custom-button-rtl .inputapi-custom-button-inner-box { left: 1px; }
:first-child + html .inputapi-custom-button-disabled { margin: 2px 1px ! important; padding: 0pt 1px ! important; }
:first-child + html .inputapi-custom-button-collapse-left .inputapi-custom-button-inner-box { left: 0pt; }
:first-child + html .inputapi-menu-button-inner-box { left: -1px; }
:first-child + html .inputapi-menu-button-rtl .inputapi-menu-button-inner-box { left: 1px; right: auto; }
:first-child + html .inputapi-menu-button-disabled { margin: 2px 1px ! important; padding: 0pt 1px ! important; }
:first-child + html .inputapi-inline-block { display: inline; }
:first-child + html .inputapi-transliterate-button-inner-box { left: -1px; }
:first-child + html .inputapi-transliterate-button-rtl .inputapi-transliterate-button-inner-box { left: 1px; }
:first-child + html .inputapi-transliterate-button-disabled { margin: 2px 1px ! important; padding: 0pt 1px ! important; }
:first-child + html .inputapi-transliterate-button-collapse-left .inputapi-transliterate-button-inner-box { left: 0pt; }
