
/* ::::: null ::::: */

body { margin: 5px; padding: 0pt; background: rgb(255, 255, 255) none repeat scroll 0% 0%; font-family: Georgia; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
