/* ::::: http://www.blogger.com/static/v1/widgets/1839888021-widget_css_bundle.css ::::: */

body { margin: 0pt; padding: 0pt; }
a img { border: medium none ; }
#ArchiveList .toggle { cursor: pointer; font-family: Arial,sans-serif; }
#ArchiveList .toggle-open { line-height: 0.6em; }
#ArchiveList { text-align: left; }
#ArchiveList a.post-count-link, #ArchiveList a.post-count-link:link, #ArchiveList a.post-count-link:visited { text-decoration: none; }
#ArchiveList a.toggle, #ArchiveList a.toggle:link, #ArchiveList a.toggle:visited, #ArchiveList a.toggle:hover { color: inherit; text-decoration: none; }
.BlogArchive #ArchiveList ul li { border-width: 0pt; background: transparent none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; list-style-type: none; list-style-image: none; list-style-position: outside; padding-left: 15px; text-indent: -15px; margin-left: 0pt; }
.BlogArchive #ArchiveList ul ul li { padding-left: 1.2em; }
.BlogArchive #ArchiveList ul { border-width: 0pt; margin: 0pt; padding: 0pt; list-style-type: none; list-style-position: outside; list-style-image: none; }
.BlogArchive #ArchiveList ul ul { margin-top: 5px; }
.BlogArchive #ArchiveList ul.posts li { padding-left: 1.3em; }
#ArchiveList .collapsed ul { display: none; }
#comments .blogger-comment-icon, .blogger-comment-icon { background: transparent url('b16-rounded.gif') no-repeat scroll left center; line-height: 16px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; padding-left: 20px; }
.clear { clear: both; }
.subscribe { cursor: pointer; color: rgb(153, 153, 153); }
.subscribe a { color: rgb(153, 153, 153); }
.subscribe-wrapper { margin: 0.5em; padding: 0pt; position: relative; }
div.subscribe { margin: 0pt; padding: 0pt; text-align: left; cursor: pointer; width: 144px; z-index: 20; }
.subscribe-type-POST { z-index: 10; }
div.subscribe div.top { padding: 4px 5px 1px; font-size: 1em; width: 144px; }
html > body div.subscribe div.top { background: transparent url('s_top.png') no-repeat scroll left top; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
span.inner { margin: 0pt; padding: 0pt; }
.feed-icon { vertical-align: baseline; display: inline; }
div.subscribe div.bottom { height: 3px; font-size: 3px; line-height: 0pt; }
.subscribe-wrapper .expanded { position: absolute; top: 0pt; }
html > body div.subscribe div.bottom { background: transparent url('s_bottom.png') no-repeat scroll left bottom; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; width: 144px; margin-bottom: 0pt; padding-bottom: 0pt; }
.feed-reader-links { margin: 10px 20px; padding: 0pt; list-style-type: none; list-style-image: none; list-style-position: outside; position: relative; }
.subscribe-dropdown-arrow { float: right; margin-top: 4px; margin-right: 14px; }
ul.feed-reader-links { margin: 0pt; padding: 0pt; list-style-type: none; list-style-image: none; list-style-position: outside; }
a.feed-reader-link { margin: 0.5em; display: block; text-decoration: none; font-weight: normal; z-index: 1000; }
.feed-reader-link img { border: 0pt none ; display: inline; }
.quickedit { cursor: pointer; }
/* ::::: http://www.blogger.com/static/v1/v-css/3727950723-blog_controls.css ::::: */

.item-control { display: none; }
.item-control a, .item-action a { text-decoration: none ! important; }
.widget-item-control { float: right; }
.icon-action { border-style: none ! important; margin: 0pt 0pt -5px 0.5em ! important; }
@media all {
}
/* ::::: http://www.blogger.com/dyn-css/authorization.css?targetBlogID=4389461234607418203&zx=5ec14004-413e-4cc5-af9f-be6a8433ce21 ::::: */

#navbar-iframe { display: block; }
body { margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; color: rgb(0, 0, 0); font-family: 'Trebuchet MS',Trebuchet,Verdana,Sans-Serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 80%; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
a { color: rgb(0, 102, 204); text-decoration: none; }
a:hover { color: rgb(102, 102, 102); text-decoration: underline; }
a:visited { color: rgb(102, 102, 102); }
a img { border: 0pt none ; }
@media all {
	div#main-wrapper { overflow: hidden; float: left; width: 63%; padding-top: 0pt; padding-bottom: 0px; padding-left: 1em; word-wrap: break-word; }
	div#sidebar-wrapper { margin: 0px; padding: 0px; text-align: left; }
	div#sidebar { overflow: hidden; width: 30%; float: left; word-wrap: break-word; }
}
#content-wrapper { margin-left: 1em; }
#header { border-top: 2px solid rgb(41, 41, 41); border-bottom: 1px solid rgb(238, 238, 238); background: rgb(41, 41, 41) none repeat scroll 0% 0%; padding-top: 5px; padding-bottom: 8px; padding-left: 0px; margin-top: 0px; margin-bottom: 20px; margin-left: 0px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; color: rgb(102, 102, 102); }
h1 a:link { color: rgb(179, 179, 179); }
h1 a:visited { color: rgb(179, 179, 179); }
h1 { border-top: 9px solid rgb(76, 76, 76); border-bottom: 1px solid rgb(102, 102, 102); background: rgb(51, 51, 51) none repeat scroll 0% 0%; padding-top: 18px; padding-bottom: 10px; padding-left: 5%; margin-top: 0px; margin-bottom: 8px; margin-left: 0px; color: rgb(179, 179, 179); -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; font-family: Trebuchet,Trebuchet MS,Arial,sans-serif; font-style: italic; font-variant: normal; font-weight: bold; font-size: 266%; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
.description { margin: 0px; background: transparent none repeat scroll 0% 0%; padding-top: 0px; padding-bottom: 0px; padding-left: 10%; color: rgb(102, 102, 102); -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; font-family: Verdana,Sans-Serif; font-style: normal; font-variant: normal; font-weight: bold; font-size: 85%; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
h3 { background: rgb(238, 238, 238) none repeat scroll 0% 0%; margin-top: 0px; margin-bottom: 10px; margin-left: 0px; padding-top: 2px; padding-bottom: 2px; padding-left: 2px; color: rgb(0, 0, 0); -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; font-family: Trebuchet,Trebuchet MS,Arial,sans-serif; font-style: normal; font-variant: normal; font-weight: bold; font-size: 161%; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
h3.post-title a, h3.post-title a:visited { color: rgb(0, 0, 0); }
h2.date-header { margin-top: 10px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-bottom: 0px; padding-left: 2%; color: rgb(128, 128, 128); font-size: 90%; text-align: left; font-weight: normal; }
#sidebar { border-left: 1px dashed rgb(170, 170, 170); padding: 10px; margin-left: 10px; }
#sidebar h2 { border: medium none ; margin: 0px; padding: 10px; background: rgb(222, 222, 222) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; color: rgb(76, 76, 76); font-family: Verdana,Sans-Serif; font-style: normal; font-variant: normal; font-weight: bold; font-size: 125%; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
#sidebar .widget { padding: 0px; margin-top: 0px; margin-bottom: 33px; margin-left: 0px; }
#sidebar ul { list-style-type: none; font-size: 95%; margin-top: 0pt; }
#sidebar li { margin: 0px; padding: 0px; list-style-type: none; font-size: 105%; }
.Blog { margin-top: 20px; }
.blog-posts, .feed-links { margin-left: 2%; }
.feed-links { clear: both; line-height: 2.5em; }
.post { border-bottom: 1px solid rgb(170, 170, 170); margin-top: 0pt; margin-bottom: 30px; margin-left: 0pt; font-size: 100%; line-height: 200%; }
.post-body { margin-top: 0pt; margin-bottom: 0pt; margin-left: 5px; }
#sidebar a { text-decoration: none; }
#sidebar a:link, #sidebar a:visited { color: rgb(0, 102, 153); }
#sidebar a:active, #sidebar a:hover { color: rgb(76, 76, 76); }
pre, code, strike { border: 1px dashed rgb(170, 170, 170); padding: 10px; background: rgb(221, 221, 221) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; color: rgb(17, 17, 17); line-height: 140%; }
.post-footer { margin: 0px; padding-top: 0pt; padding-bottom: 0pt; padding-left: 5px; color: rgb(68, 68, 68); font-size: 90%; }
#comments { padding-top: 2px; padding-bottom: 2px; padding-left: 5px; font-size: 110%; font-weight: bold; font-family: Verdana,Sans-Serif; }
.comment-author { margin-top: 20px; }
.comment-body { margin-top: 10px; font-size: 100%; font-weight: normal; color: black; }
.comment-footer { padding: 0px; margin-bottom: 20px; color: rgb(68, 68, 68); font-size: 80%; font-weight: normal; display: inline; margin-left: 10px; }
.profile-textblock { clear: both; margin-left: 0pt; }
.profile-img { margin-top: 0pt; margin-bottom: 5px; margin-left: 5px; float: left; }
.BlogArchive #ArchiveList { float: left; }
.widget-content { margin-top: 0.5em; }
#sidebar .widget { clear: both; }
#blog-pager-newer-link { float: left; }
.blog-pager-older-link { float: left; }
.blog-pager { text-align: center; }
.clear { clear: both; }
