/* ::::: http://www.blogger.com/static/v1/v-css/navbar/629094158-navbar3_bundle.css ::::: */

body { margin: 0pt; padding: 0pt; font-family: "Trebuchet MS",Verdana,Arial,Sans-serif; font-size: 100%; white-space: nowrap; }
a { text-decoration: none; }
#b-navbar { border-bottom: 1px solid rgb(0, 34, 68); height: 29px; font-size: 0.85em; line-height: 0.85em; }
#b-navbar #b-logo { position: absolute; top: 0.15em; left: 5px; }
#b-navbar #b-logo #navbar-logo { width: 24px; height: 24px; }
#b-navbar #b-logo span { display: block; position: absolute; left: -9000px; }
#b-search { margin: 0pt 0pt 0pt 34px; padding: 4px 1em 3px 0pt; }
#b-search-img { float: left; width: 3px; height: 3px; }
#b-search table { margin-left: 0.5em; }
#b-search td { vertical-align: middle; }
#b-query { margin: 0pt 0.5em 0pt 0pt; }
.btn { border-top: 1px solid; border-bottom: 1px solid; margin: 0pt 0.5em 0pt 1px; padding: 0pt; font-size: 0.8em; line-height: 0.85em; text-transform: uppercase; white-space: nowrap; cursor: pointer; }
.btn div { border-left: 1px solid; border-right: 1px solid; margin: 0pt -1px; padding: 0.21em 0.3em; height: 0.85em; position: relative; }
.btn div img {  }
#bt-unflag-body { display: none; }
#flagi, #unflagi { border: 1px solid rgb(51, 51, 51); padding: 4px; display: none; top: 3px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 153); z-index: 300; font-size: 0.7em; line-height: 0.8em; }
#flagi a, #unflagi a { color: rgb(51, 102, 204); text-decoration: underline; }
.b-mobile { display: none; }
#b-sms { margin: 0pt 0pt 0pt 100px; padding: 4px 7px; line-height: 1em; font-size: 100%; text-align: left; }
#b-sms a { margin-right: 0.5em; line-height: 1em; }
#b-sms a:hover { text-decoration: underline; }
.btn .flag-text {  }
.btn .flag { margin: 0pt 1px 0pt 0pt; padding: 0pt; width: 6px; height: 8px; }
body { color: rgb(255, 255, 255); }
a, .btn div { color: rgb(204, 204, 204); }
a:hover { color: rgb(255, 255, 255); }
#navbar-logo { background: transparent url('navbar_sprite.png') no-repeat scroll 0pt 0pt; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#b-navbar { border-bottom: 1px solid rgb(34, 34, 34); background-color: rgb(17, 17, 17); }
#b-search { background: rgb(51, 51, 51) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#b-search-img { background: rgb(51, 51, 51) url('navbar_sprite.png') no-repeat scroll -80px -8px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#b-query { border: 1px solid rgb(85, 85, 85); }
.btn, .btn div { border-color: rgb(85, 85, 85); }
.btn div:hover { background-color: rgb(85, 85, 85); }
.btn #bt-flag-body .flag { background: transparent url('navbar_sprite.png') no-repeat scroll -80px 0pt; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.btn #bt-unflag-body .flag { background: transparent url('navbar_sprite.png') no-repeat scroll -80px -11px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
