html, body, ul, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img { margin: 0pt; padding: 0pt; border: 0pt none; }
ul { list-style-type: none; }
body { background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(51, 51, 51); font-family: "宋体"; font-size: 12px; padding: 0px 0pt; }
td, p, li, select, input, textarea { font-size: 12px; }
a { text-decoration: none; }
a:link { color: rgb(51, 51, 51); }
a:visited { color: rgb(51, 51, 51); }
a:hover, a:active, a:focus { color: rgb(255, 0, 0); text-decoration: underline; }
.blogrecommend { width: 248px; overflow: hidden; margin-left: 0px; }
.BR_conts { margin-left: 0px; padding-left: 0px; width: 248px; }
.BR_ImgTxt { width: 248px; margin: 0pt auto; overflow: auto; padding: 2px 0pt; }
.BR_ImgTxt img { float: left; border: 1px solid rgb(0, 0, 0); }
.BR_ImgTxt ul { line-height: 20px; padding-left: 90px; }
.BR_ImgTxt li { padding-left: 5px; background: url('blogrecommend_hz_002.gif') no-repeat scroll left center transparent; }
.blogrecommend p { line-height: 20px; padding-left: 0px; }
