/* ::::: file:///D:/0a.%E8%BB%9F%E9%AB%94/3.%E7%B6%B2%E8%B7%AF/6.%E7%80%8F%E8%A6%BD%E5%B7%A5%E5%85%B7%20(telnet%20ssh%E9%80%A3%E7%B7%9A%20%E9%81%A0%E7%AB%AF%E6%A1%8C%E9%9D%A2%20ftp)/FirefoxPortable/Data/profile/zotero/storage/AM9TQGSQ/blog_56831c490100063t.css ::::: */

body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, label, dl, dt, dd, fieldset, img { margin: 0pt; padding: 0pt; border: 0pt none; list-style: none outside none; }
table, th, td { margin: 0pt; padding: 0pt; }
body, fieldset, th, td, select, input, textarea { font-size: 12px; font-family: Verdana,"宋体",sans-serif; }
select, input { vertical-align: middle; }
cite, em { font-style: normal; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] { cursor: pointer; }
label { cursor: pointer; }
.clearit { clear: both; height: 0px; overflow: hidden; }
a.CP_a_fuc { margin: 0pt 0pt 0pt 3px; font-family: "宋体"; font-size: 12px; font-weight: normal; white-space: nowrap; }
a.CP_a_fuc cite { cursor: pointer ! important; font-family: Verdana; }
a.CP_a_fuc:link, a.CP_a_fuc:visited, a.CP_a_fuc:hover, a.CP_a_fuc:active { text-decoration: none; }
a.CP_a_fuc:link cite, a.CP_a_fuc:visited cite { text-decoration: none; }
a.CP_a_fuc:hover cite, a.CP_a_fuc:active cite { text-decoration: underline; }
.SG_colW21 { width: 210px; }
.SG_colW73 { width: 730px; }
.SG_colW1, .SG_colW21, .SG_colW51, .SG_colW73, .SG_colW95 { margin-left: 10px; display: inline; float: left; overflow: hidden; }
.SG_colFirst { margin-left: 0pt; }
.SG_conn { clear: both; margin: 0pt 0pt 10px; text-align: left; overflow: hidden; width: auto; height: 100%; }
.SG_floatL { float: left; display: inline; }
.SG_floatR { float: right; display: inline; }
.SG_clearB { clear: both; }
body { color: rgb(85, 85, 85); background-color: rgb(255, 255, 255); }
textarea, input, option { color: rgb(102, 102, 102); }
a, a:link, a:visited, a:hover, .SG_more { color: rgb(109, 88, 135); }
.SG_txta { color: rgb(109, 88, 135); }
.SG_txtb { color: rgb(144, 144, 144); }
.SG_txtc { color: rgb(144, 144, 144); }
.SG_linka a:link, .SG_linka a:visited, .SG_linka a:hover, a.SG_linka:link, a.SG_linka:visited, a.SG_linka:hover { color: rgb(85, 85, 85); }
.borderc { border: 1px solid rgb(208, 208, 208); }
.sinabloga { background-image: none; background-repeat: no-repeat; background-position: center bottom; width: 100%; clear: both; }
.sinablogb { background-image: none; background-repeat: no-repeat; background-position: center top; width: 100%; clear: both; }
.sinabloghead { width: 950px; height: 265px; clear: both; margin: 0pt auto; position: relative; z-index: 100; }
.sinabloghead .headflash { width: 950px; height: 265px; overflow: hidden; position: absolute; left: 0pt; top: 0pt; }
.sinabloghead .headarea { position: relative; width: 100%; height: 100%; }
.sinabloghead .blogtoparea { position: absolute; top: 35%; left: 115px; }
.sinabloghead .blogtitle { font-family: "微软雅黑","黑体"; font-size: 24px; color: rgb(0, 0, 0); font-weight: 300; }
.sinabloghead .bloglink { color: rgb(51, 51, 51); padding-top: 5px; }
.sinabloghead .bloglink .CP_a_fuc { color: rgb(0, 0, 0); margin-left: 5px; }
.sinabloghead .blognav { position: absolute; top: 80%; left: 20px; width: 250px; height: 38px; }
.sinabloghead .blognav .blognavInfo { position: absolute; top: 11px; left: 0px; height: 16px; }
.sinabloghead .blognav .blognavBg { width: 100%; height: 100%; background-image: none; background-repeat: no-repeat; background-position: left top; }
.sinabloghead .blognav span { float: left; font-size: 14px; overflow: hidden; padding: 0pt 9px; background-image: url('sg_newsp.png@22'); background-repeat: no-repeat; background-position: right -240px; }
.sinabloghead .blognav .last { background-image: none; padding-right: 0pt; }
.sinabloghead .blognav a, .sinabloghead .blognav a:link, .sinabloghead .blognav a:visited, .sinabloghead .blognav a:hover { color: rgb(110, 99, 91); }
.sinabloghead .blognav a.on { font-weight: 700; }
.sinabloghead .blognav a.on, .sinabloghead .blognav a.on:link, .sinabloghead .blognav a.on:visited, .sinabloghead .blognav a.on:hover { color: rgb(59, 59, 59); }
.sinabloghead .adsarea { position: absolute; right: 0pt; bottom: 50px; display: none; }
.sinabloghead .adsarea .pic {  }
.sinabloghead .adsarea .link { color: rgb(255, 255, 255); font-size: 12px; padding-top: 5px; }
.sinablogbody { width: 950px; clear: both; margin: 0pt auto; z-index: 10; }
.sinablogfooter { width: 950px; height: 100px; clear: both; margin: 0pt auto; text-align: center; padding-top: 65px; background-position: center bottom; }
.sinablogfooter p { line-height: 22px; }
.sinablogfooter .copyright { padding-top: 10px; }
.wrtBlog_sub { width: 87px; position: absolute; left: 0px; top: 22px; overflow: hidden; z-index: 10; }
.wrtBlog_sub2 { width: 67px; background-color: rgb(255, 255, 255); border: 1px solid rgb(172, 172, 172); padding: 4px 6px 0pt; }
.wrtBlog_sub2 p { height: 20px; padding-top: 7px; }
.wrtBlog_sub2 p img { float: left; margin-right: 4px; }
.wrtBlog_sub2 p a { float: left; line-height: 17px; }
.wrtBlog_sub2 p a, .wrtBlog_sub2 p a:link, .wrtBlog_sub2 p a:visited { color: rgb(101, 101, 101); }
.wrtBlog_sub2 p a:hover { color: rgb(105, 119, 162); text-decoration: none; }
.SG_colWnone { width: 0pt; overflow: hidden; }
.SG_colW73 .SG_connHead { background-image: url('modelhead.png@22'); background-position: 1450px 0pt; height: 26px; overflow: hidden; }
.SG_colW73 .SG_connBody { background-image: url('modelbody.png@22'); background-position: 1450px 0pt; }
.SG_colW73 .SG_connFoot { background-image: url('modelfoot.png@22'); background-position: 1450px 0pt; height: 1px; overflow: hidden; }
.SG_colW21 .SG_connHead { background-image: url('modelhead.png@22'); background-position: 210px 0pt; height: 26px; overflow: hidden; }
.SG_colW21 .SG_connBody { background-image: url('modelbody.png@22'); background-position: 210px 0pt; }
.SG_colW21 .SG_connFoot { background-image: url('modelfoot.png@22'); background-position: 210px 0pt; height: 1px; overflow: hidden; }
.SG_j_linedot { height: 1px; overflow: hidden; background: url('sg_linedot.gif@22') repeat-x scroll 0% 0% transparent; clear: both; }
.SG_j_linedot1 { background-image: url('sg_linedot.gif@22'); background-repeat: repeat-x; }
.SG_connHead { font-family: "宋体",sans-serif; }
.SG_connHead .title { float: left; padding-left: 10px; padding-top: 8px; font-weight: 700; color: rgb(51, 51, 51); }
.SG_connHead .edit { float: right; padding-right: 10px; padding-top: 8px; }
.SG_connHead .edit a, .SG_connHead .edit a:link, .SG_connHead .edit a:visited, .SG_connHead .edit a:hover { color: rgb(51, 51, 51); }
.SG_connHead .edit a { float: left; }
.SG_connHead .fontSize { float: left; }
.SG_connHead .fontSize a { float: none; }
.SG_connHead .fontSize a, .SG_connHead .fontSize a:link, .SG_connHead .fontSize a:visited, .SG_connHead .fontSize a:hover { text-decoration: underline; }
.SG_icon { background-image: url('sg_icon.png@22'); }
.SG_icon1 { background-position: 765px top; }
.SG_icon11 { background-position: 465px top; }
.SG_icon15 { background-position: 345px top; }
.SG_icon16 { background-position: 315px top; }
.SG_icon18 { background-position: 255px top; }
.SG_icon34 { background-position: 585px -30px; }
.SG_icon41 { background-position: 375px -30px; }
.SG_icon51 { background-position: 75px -30px; }
.SG_icon110 { background-position: 525px -60px; }
.SG_icon111 { background-position: 495px -60px; }
.SG_icon113 { background-position: 315px -60px; }
.SG_icon116 { background-position: 405px -60px; }
.SG_icon117 { background-position: 375px -60px; }
.SG_dot { background-image: url('sg_dot.gif@22'); background-repeat: no-repeat; }
a.SG_aBtn, a.SG_aBtn:link, a.SG_aBtn:visited { color: rgb(51, 51, 51); cursor: pointer; }
a.SG_aBtn, a.SG_aBtn:link, a.SG_aBtn:visited { text-decoration: none; font-size: 12px ! important; padding: 4px 0pt 6px 3px; overflow: hidden; white-space: nowrap; background-repeat: no-repeat; background-position: 0pt 0pt; margin-right: 6px; }
a.SG_aBtn cite { font-size: 12px ! important; line-height: 23px; padding: 4px 10px 6px 8px; height: 23px; background-repeat: no-repeat; background-position: right -28px; min-width: 48px; overflow-x: visible; white-space: nowrap; text-align: center; }
a.SG_aBtn, x:-moz-any-link, x:default { display: inline-block; padding: 0pt 0pt 0pt 3px; }
a.SG_aBtn:link, x:-moz-any-link, x:default { display: inline-block; padding: 0pt 0pt 0pt 3px; }
a.SG_aBtn:visited, x:-moz-any-link, x:default { display: inline-block; padding: 0pt 0pt 0pt 3px; }
a.SG_aBtn cite, x:-moz-any-link, x:default { display: inline-block; padding: 0pt 10px 0pt 8px; }
a.SG_aBtn, a.SG_aBtn cite { background-image: url('sg_newsp.png@22'); }
a.SG_aBtn_ico { position: relative; }
a.SG_aBtn_ico cite { padding-left: 26px; padding-right: 12px; text-align: left; min-width: 1px; }
a.SG_aBtn img { position: absolute; left: 9px; top: 4px; }
.SG_more { font-family: "宋体"; color: rgb(51, 102, 153); }
.SG_page { width: 100%; height: 21px; line-height: 21px; clear: both; overflow: hidden; }
.SG_pages { float: right; height: 100%; }
.SG_cmp_revert { overflow: hidden; width: 100%; }
.SG_cmp_revert li { width: 100%; overflow: hidden; background-position: center top; padding: 20px 0px; }
.SG_cmp_revert li .SG_revert_Left { float: left; }
.SG_cmp_revert li .SG_revert_Cont { float: left; margin-left: 10px; width: 620px; font-family: "宋体"; padding-top: 2px; }
.SG_cmp_revert li .SG_revert_Cont p { width: 100%; clear: both; overflow: hidden; font-size: 12px; }
.SG_cmp_revert li .SG_revert_Cont .SG_revert_Tit { float: left; font-weight: bold; }
.SG_cmp_revert li .SG_revert_Cont .SG_revert_Time { float: right; }
.SG_cmp_revert li .SG_revert_Inner { line-height: 22px; clear: both; width: 100%; font-size: 14px; margin-top: 9px; }
.SG_revert_Time em { padding-right: 5px; }
.allComm {  }
.allComm .allCommTit { background: url('sg_newsp_002.png@22') repeat-x scroll left -400px transparent; height: 25px; line-height: 25px; }
.allComm .allCommTit .SG_floatL { padding-left: 10px; }
.allComm .allCommTit .SG_floatL strong { margin-right: 25px; }
.allComm .allCommTit .SG_floatR { padding-right: 10px; }
.allComm .myCommPages { margin: 0pt 0pt 10px; padding: 10px 0pt; }
.writeComm { padding: 15px 0px; width: 684px; margin: 0px auto; }
.writeComm .wrCommTit { clear: both; width: 684px; overflow: hidden; margin-top: 18px; }
.writeComm .wrCommTit .SG_floatL { line-height: 28px; overflow: hidden; }
.writeComm .formTextarea { padding-bottom: 10px; }
.writeComm .formTextarea textarea { width: 447px; height: 156px; float: left; font-size: 14px; line-height: 22px; }
.writeComm .formTextarea .faceblk { width: 230px; height: 158px; border-width: 1px 1px 1px medium; border-style: solid solid solid none; border-color: rgb(199, 199, 199) rgb(199, 199, 199) rgb(199, 199, 199) -moz-use-text-color; background-color: rgb(245, 245, 245); margin-top: 1px; float: left; }
.writeComm .formTextarea .faceline1 { clear: both; padding: 8px 0px 6px 7px; height: 27px; overflow: hidden; }
.writeComm .formTextarea .faceline1 .facestyle { float: left; }
.writeComm .formTextarea .faceline1 .facestyle a { width: 27px; height: 27px; float: left; margin-right: 3px; outline: medium none; }
.writeComm .formTextarea .faceline1 .facestyle img { width: 25px; height: 25px; border: 1px solid rgb(182, 182, 182); }
.writeComm .formTextarea .faceline1 .facestyle a:hover img { border: 1px solid rgb(81, 189, 47); }
.writeComm .formTextarea .faceline1 span { line-height: 27px; float: left; }
.writeComm .formTextarea .faceline2 { clear: both; padding: 0pt 0pt 0pt 7px; }
.writeComm .formTextarea .faceline2 a { width: 52px; height: 52px; overflow: hidden; float: left; margin-right: 3px; margin-bottom: 3px; outline: medium none; }
.writeComm .formTextarea .faceline2 img { border: 1px solid rgb(182, 182, 182); }
.writeComm .formTextarea .faceline2 a:hover img { border: 1px solid rgb(81, 189, 47); }
.writeComm .formLogin { width: 100%; clear: both; }
.writeComm .formLogin .SG_floatL p { margin-bottom: 8px; }
.writeComm .formLogin .SG_floatR input { vertical-align: -2px; }
.writeComm .formBtn { text-align: center; padding: 25px 0pt 0pt; width: 100%; clear: both; }
.writeComm .formBtn p { padding: 15px 0pt 25px; }
.SG_nodata { font-size: 14px; clear: both; padding-top: 65px; padding-bottom: 130px; text-align: center; }
.SG_colW21 .SG_nodata { font-size: 12px; clear: both; padding-top: 30px; padding-bottom: 30px; text-align: center; }
.blogads { position: absolute; width: 730px; overflow: hidden; clear: both; }
.blogads .ad_head { background-image: url('modelhead.png@22'); background-position: 1450px 0pt; height: 1px; overflow: hidden; }
.blogads .ad_body { background-image: url('modelbody.png@22'); background-position: 1450px 0pt; padding: 10px; height: 90px; clear: both; }
.blogads .ad_foot { background-image: url('modelfoot.png@22'); background-position: 1450px 0pt; height: 1px; overflow: hidden; }
.clearfix:after { content: "."; clear: both; display: block; height: 0pt; visibility: hidden; overflow: hidden; }
.clearfix { display: inline-table; }
.clearfix { display: block; }
.sinatopbar { min-width: 950px; height: 30px; overflow: hidden; font-size: 12px; font-family: "宋体"; background: url('topbar.gif@22') repeat-x scroll 0px 0px transparent; }
.sinatopbar a, .sinatopbar a:link, .sinatopbar a:visited { color: rgb(46, 48, 146); text-decoration: none; }
.sinatopbar a:hover { color: rgb(46, 48, 146); text-decoration: underline; }
.topbar_main { width: 950px; height: 30px; margin: 0pt auto; }
.topbar_logo { float: left; }
.topbar_menu { float: left; padding-top: 4px; margin-left: 10px; }
.topbar_menu span { float: left; }
.topbar_menu span.link { height: 18px; padding: 5px 8px 0pt; cursor: pointer; }
.topbar_menu span.line_s { width: 2px; height: 17px; overflow: hidden; background: url('topbar.gif@22') no-repeat scroll 0px -50px transparent; }
.topbar_menu span.link a { float: left; }
.topbar_ad { float: left; padding-top: 9px; margin-left: 10px; }
.topbar_login { float: left; margin-left: 30px; }
.topbar_login a.login { display: block; float: left; font-weight: bold; line-height: 23px; width: 53px; height: 23px; overflow: hidden; text-align: center; margin-top: 4px; }
.topbar_login a.login:link, .topbar_login a.login:visited { background: url('topbar.gif@22') no-repeat scroll 0px -140px transparent; }
.topbar_login a.login:hover { background: url('topbar.gif@22') no-repeat scroll -60px -140px transparent; text-decoration: none; }
.topbar_login a.register { float: left; padding-top: 9px; margin-left: 10px; }
.topbar_floatR { float: right; position: relative; }
.topbar_search { padding-top: 5px; float: left; }
.topbar_searchBtn { float: left; width: 49px; height: 21px; overflow: hidden; text-align: center; line-height: 21px; background: url('topbar.gif@22') no-repeat scroll 0px -170px transparent; font-weight: bold; color: rgb(255, 255, 255); border: medium none; cursor: pointer; }
.topbar_input { float: left; background: url('topbar.gif@22') no-repeat scroll 0px -260px transparent; width: 80px; height: 18px; overflow: hidden; padding-left: 3px; padding-top: 3px; padding-right: 3px; }
.topbar_input .topbar_txt { border-width: 0pt; height: 14px; width: 77px; background: none repeat scroll 0% 0% transparent; }
.topbar_list { float: left; width: 51px; height: 18px; overflow: hidden; padding: 0px 3px 5px 2px; position: relative; }
.topbar_list .anainp { width: 45px; height: 17px; overflow: hidden; text-align: left; color: rgb(102, 102, 102); cursor: pointer; float: left; background: url('topbar.gif@22') no-repeat scroll 0px -290px transparent; border: medium none; padding-left: 5px; padding-top: 4px; position: absolute; }
.topbar_list .arrow { width: 16px; height: 17px; overflow: hidden; background: url('topbar.gif@22') no-repeat scroll right -290px transparent; cursor: pointer; position: absolute; right: 4px; top: 2px; }
.tb_layerBox { width: 48px; background-color: rgb(242, 241, 241); border: 1px solid rgb(153, 153, 153); position: absolute; }
.tb_layerBox ul { clear: both; }
.tb_layerBox ul li { clear: both; width: 48px; overflow: hidden; height: 25px; line-height: 25px; }
.tb_layerBox ul li a { float: left; width: 46px; height: 23px; margin: 1px; background-color: rgb(242, 241, 241); text-indent: 5px; }
.tb_layerBox ul li a:link, .tb_layerBox ul li a:visited { color: rgb(46, 48, 146); text-decoration: none; }
.tb_layerBox ul li a:hover { background-color: rgb(232, 238, 246); overflow: hidden; color: rgb(46, 48, 146); text-decoration: underline; }
.tb_layerBox ul li.bottomline { padding-bottom: 2px; background: url('tb_layer.gif@22') no-repeat scroll 0px 25px transparent; }
.tb_layer_w3 { width: 111px; }
.tb_layer_Y { position: absolute; }
.tb_layer_Y a, .tb_layer_Y a:link, .tb_layer_Y a:visited, .tb_layer_Y a:hover { color: rgb(46, 48, 146); }
.tb_layer_Y .tb_layer_arrow { width: 9px; height: 6px; overflow: hidden; position: relative; background: url('tb_layer.gif@22') no-repeat scroll 0px -20px transparent; margin: 0pt auto; }
.tb_layer_Y .tb_layer_Y_main { background-color: rgb(251, 247, 225); border: 1px solid rgb(153, 153, 153); margin-top: -1px; }
.tb_wrtBlog * { cursor: pointer; }
.tb_wrtBlog { width: 81px; float: left; height: 21px; line-height: 21px; overflow: hidden; background: url('topbar.gif@22') no-repeat scroll left -320px transparent; text-align: center; margin-right: 5px; margin-top: 5px; }
.tb_wrtBlog img { float: left; margin: 3px 5px 0pt 6px; }
.tb_wrtBlog a { float: left; }
.tb_wrtBlog .wrtblog_arrow { float: right; width: 16px; height: 21px; background: url('topbar.gif@22') no-repeat scroll -90px -320px transparent; }
.tb_wrtBlog a:hover { text-decoration: none; }
.articalTag { width: 100%; clear: both; line-height: 20px; }
.articalTag td { vertical-align: top; }
.articalTag .blog_tag { padding-right: 10px; }
.articalTag .blog_class { width: 220px; white-space: nowrap; }
.articalTag .blog_tag, .articalTag .blog_tag span, .articalTag .blog_tag a, .articalTag .blog_class, .articalTag .blog_class span, .articalTag .blog_class a { font-family: "宋体"; }
a.CP_a_fuc { margin: 0pt; }
.info { padding: 20px 0pt 20px 21px; }
.info .info_img { float: left; margin-right: 10px; width: 182px; height: 182px; overflow: hidden; position: relative; }
.info .info_img img { border: 1px solid rgb(204, 204, 204); }
.info .info_txt { float: left; }
.info_nm { font-size: 14px; font-family: "宋体"; white-space: nowrap; }
.info_nm .SG_icon { margin-right: 3px; margin-left: -3px; }
.info_nm .info_into { margin-left: 16px; font-size: 12px; }
.info_nm .info_into img { vertical-align: -2px; }
.info_btn1 { clear: both; margin-top: 8px; height: 23px; }
.info_btn1 a.SG_aBtn_ico cite { padding-right: 16px; }
.info_btn2 { width: 190px; clear: both; }
.info_btn2 p { clear: both; padding-top: 8px; }
.info_btn2 a.SG_aBtn, .info_btn2 a.SG_aBtn:link, .info_btn2 a.SG_aBtn:visited { margin-right: 10px; }
.info_list { clear: both; margin-left: -16px; float: left; margin-top: 12px; overflow: hidden; }
.info_list ul { overflow: hidden; }
.info_list li { float: left; margin-left: 16px; display: inline; font-family: Verdana; white-space: nowrap; line-height: 20px; height: 20px; }
.info_list li span { white-space: nowrap; }
.SG_colW21 .info { padding: 10px 14px 15px; overflow: hidden; width: 180px; }
.SG_colW21 .info_img { float: none; margin-right: 0pt; margin-bottom: 10px; }
.SG_colW21 .info_txt { width: 182px; float: none; }
.SG_colW21 .info_nm { text-align: center; }
.SG_colW21 .info_btn1 { margin-top: 12px; text-align: center; margin-bottom: 33px; height: 23px; }
.SG_colW21 .info_btn1 a { float: none; margin: 0pt 5px; }
.SG_colW21 .info_txt { position: relative; }
.SG_colW21 .info_into { width: 182px; text-align: center; margin-left: 0pt; display: block; position: absolute; left: 0px; top: 60px; }
.SG_colW21 .info_btn2 { padding-left: 17px; margin-top: 7px; margin-bottom: 15px; width: 170px; }
.SG_colW21 .info_list { float: none; margin: 0pt; padding-top: 15px; clear: both; }
.SG_colW21 .info_list li { float: none; margin: 0pt; clear: both; display: block; }
.autoskin { display: none; }
.autoTime1 { display: none; }
.autoTime2 { display: none; }
.autoTimeBck { display: none; }
.sinabloghead .adsarea .wdc_HInf { display: none; }
.tb_layer_w5 { width: 240px; }
.tb_layer_Y .tip_arrow { background-position: 0pt -340px; margin-top: -1px; }
.tb_layer_Y .tip_layer_main { margin-top: 0pt; }
.tb_layer_Y .tip_ps { width: 220px; padding: 8px 10px 6px; overflow: hidden; }
.tb_layer_Y .tip_ps .tb_friend_inputDel { display: block; float: right; width: 5px; height: 5px; overflow: hidden; background: url('tb_layer.gif@22') no-repeat scroll -39px -341px transparent; position: absolute; right: 5px; top: 5px; }
.tb_layer_Y .tip_ps .tb_friend_inputDel:hover { background-position: -58px -341px; }
.shareUp { clear: both; }
.shareUp .share { float: left; padding-top: 30px; }
.shareUp .up { float: right; }
.upBox { width: 60px; height: 49px; overflow: hidden; background: url('upbg.gif@22') no-repeat scroll left top transparent; }
.upBox .count { height: 23px; line-height: 23px; font-size: 12px; font-family: Arial; text-align: center; }
.upBox .link { height: 25px; line-height: 25px; text-align: center; font-size: 14px; font-weight: bold; color: rgb(51, 51, 51); cursor: pointer; }
.atcTitList { clear: both; width: 188px; overflow: hidden; padding: 5px 11px 13px; }
.atcTitList li { clear: both; background-position: left bottom; padding: 8px 0pt 9px; }
.atcTitList li .atcTitCell_tit { clear: both; font-family: "宋体"; font-size: 12px; white-space: nowrap; overflow: hidden; padding-left: 7px; background-position: left 5px; }
.atcTitList li .atcTitCell_nm { clear: both; font-family: "宋体"; font-size: 12px; white-space: nowrap; overflow: hidden; padding-left: 7px; padding-top: 4px; }
.atcTit_more { clear: both; padding-top: 10px; text-align: right; }
.clearfix:after { content: "."; clear: both; display: block; height: 0pt; visibility: hidden; overflow: hidden; }
.clearfix { display: inline-table; }
.clearfix { display: block; }
.artical { padding: 24px 20px 0pt; clear: both; }
.articalTitle { clear: both; line-height: 20px; padding-bottom: 10px; }
.articalTitle span { white-space: nowrap; }
.articalTitle .titName { font-size: 18px; font-family: "微软雅黑","黑体"; font-weight: 300; display: inline; }
.articalTitle .img1 { margin-right: 2px; vertical-align: 2px; }
.articalTitle .img2 { padding-top: 4px; }
.articalTitle .time { font-family: Arial; font-size: 10px; margin-left: 5px; margin-right: 13px; }
.articalTag { width: 100%; clear: both; line-height: 20px; }
.articalTag td { vertical-align: top; }
.articalTag .blog_tag { padding-right: 10px; }
.articalTag .blog_class { width: 220px; white-space: nowrap; }
.articalTag .blog_tag, .articalTag .blog_tag span, .articalTag .blog_tag a, .articalTag .blog_class, .articalTag .blog_class span, .articalTag .blog_class a { font-family: "宋体"; }
.articalContent { clear: both; padding-top: 18px; font-size: 14px; line-height: 150%; padding-bottom: 30px; word-wrap: break-word; overflow: hidden; font-family: simsun; }
.articalContent ul li { margin-left: 30px; list-style-type: disc; }
.articalContent, .articalContent p, .articalContent span, .articalContent font { word-wrap: normal; }
.articalContent a { text-decoration: underline; }
.articalContent, .articalContent p, .articalContent p font, .articalContent font, .articalContent span, .articalContent table td { line-height: 150%; }
.articalContent strong { font-weight: bold; }
.articalContent p { margin-bottom: 5px; }
.articalContent table { line-height: normal; }
.articalInfo { clear: both; padding-top: 10px; }
.articalInfo .IL { float: left; width: 65%; padding-top: 2px; }
.articalInfo .IL span.SG_txtb { font-family: "宋体"; }
.articalInfo .IL em { margin: 0pt 2px; }
.articalInfo .IL b { font-family: Verdana,Helvetica; font-size: 9px; }
.articalInfo .IR { float: right; width: 35%; }
.articalInfo .IR table { float: right; }
.articalInfo .IR td, .articalInfo .IR th { vertical-align: top; font-weight: normal; }
.articalInfo .IR .IR_list { float: left; }
.articalfrontback { clear: both; margin: 20px 0pt 0pt; padding: 24px 0pt; font-size: 14px; }
.articalfrontback div { padding: 0pt 0pt 3px; line-height: 24px; height: 24px; }
.blogreco { overflow: hidden; }
.blogreco .TB { position: absolute; width: 100%; }
.blogreco .TB a { float: right; display: block; width: 15px; height: 14px; margin: 5px 5px 5px 0pt; }
.blogreco .TB .btnClose { background: url('blogrecommend_hz_003.gif@22') repeat scroll 0% 0% transparent; }
.blogreco .TB .btnMax { background: url('yzq_001.gif@22') repeat scroll 0% 0% transparent; }
.blogreco .IF { width: 260px; height: 190px; border: 0pt none; }
.blogzz_zzlist { padding: 10px 10px 0pt; margin-bottom: 20px; }
.blogzz_zzlist h3 { margin: 0pt 5px; font-size: 12px; height: 24px; line-height: 24px; background: url('sg_linedot.gif@22') repeat-x scroll left bottom transparent; }
.blogzz_zzlist ul.ul_zzlist { margin: 0pt 5px; }
.blogzz_paged { float: right; height: 40px; line-height: 40px; }
.blogzz_closepic { width: 10px; height: 10px; background: url('tb_layer.gif@22') no-repeat scroll -5px -293px transparent; display: block; }
.turnBoxzz { float: right; }
.blogzz_btn { position: relative; height: 1px; }
.blogzz_btn .SG_turn { position: relative; left: 46%; top: 8px; text-align: center; }
.blogzz_btn a:link, .blogzz_btn a:visited, .blogzz_btn a:active { text-decoration: none; }
.articalContent a:link, .articalContent a:visited { text-decoration: none; }
.articalContent a:hover { text-decoration: underline; }
.popBox { width: 293px; height: 232px; overflow: hidden; position: relative; font-family: "宋体"; font-size: 12px; color: rgb(51, 51, 51); }
.popBox .popBox_bg { width: 293px; height: 232px; background-repeat: no-repeat; background-position: left top; }
.popBox .popMain_bg { width: 253px; height: 178px; overflow: hidden; position: absolute; left: 20px; top: 42px; background-repeat: no-repeat; background-position: left top; }
.popBox .popFlash { width: 293px; height: 60px; position: absolute; left: 0pt; top: 0pt; }
.popBox .popMain { width: 250px; height: 150px; position: absolute; left: 24px; top: 68px; }
.popBox .popBox_btn { width: 45px; height: 14px; overflow: hidden; position: absolute; right: 0pt; top: 0pt; }
.popBox .popBox_btn a { float: left; display: block; width: 15px; height: 14px; margin-left: 5px; }
.popBox .popBox_btn a.mini { background-repeat: no-repeat; background-position: left top; }
.popBox .popBox_btn a.close { background-repeat: no-repeat; background-position: -20px top; }
.popBox a:link, .popBox a:visited { color: rgb(51, 51, 51); text-decoration: none; }
.popBox a:hover { color: rgb(255, 0, 0); text-decoration: underline; }
body { color: rgb(70, 70, 70); }
a, a:link, a:visited, a:hover, .SG_more { color: rgb(106, 63, 48); }
.SG_txta { color: rgb(106, 63, 48); }
.SG_txtb { color: rgb(124, 124, 124); }
.SG_txtc { color: rgb(124, 124, 124); }
.SG_linka a:link, .SG_linka a:visited, .SG_linka a:hover, a.SG_linka:link, a.SG_linka:visited, a.SG_linka:hover { color: rgb(73, 73, 97); }
.borderc { border-color: rgb(223, 223, 223); }
.sinabloghead .blogtitle, .sinabloghead .blogtitle a, .sinabloghead .blogtitle a:link, .sinabloghead .blogtitle a:visited, .sinabloghead .blogtitle a:hover, .sinabloghead .blogtitle .CP_a_fuc { color: rgb(89, 89, 89); }
.sinabloghead .bloglink, .sinabloghead .bloglink a, .sinabloghead .bloglink a:link, .sinabloghead .bloglink a:visited, .sinabloghead .bloglink a:hover { color: rgb(89, 89, 89); }
.sinabloghead .bloglink .CP_a_fuc { color: rgb(89, 89, 89); }
.sinabloghead .blognav a, .sinabloghead .blognav a:link, .sinabloghead .blognav a:visited, .sinabloghead .blognav a:hover { color: rgb(106, 63, 48); }
.sinabloghead .blognav a.on, .sinabloghead .blognav a.on:link, .sinabloghead .blognav a.on:visited, .sinabloghead .blognav a.on:hover { color: rgb(106, 63, 48); }
.SG_connHead .title, .SG_connHead .title a, .SG_connHead .title a:link, .SG_connHead .title a:visited, .SG_connHead .title a:hover, .SG_connHead .tip, .SG_connHead .tip a, .SG_connHead .tip a:link, .SG_connHead .tip a:visited, .SG_connHead .tip a:hover, .SG_connHead .edit, .SG_connHead .edit a, .SG_connHead .edit a:link, .SG_connHead .edit a:visited, .SG_connHead .edit a:hover, .SG_connHead .tip_r, .SG_connHead .tip_r a, .SG_connHead .tip_r a:link, .SG_connHead .tip_r a:visited, .SG_connHead .tip_r a:hover, .SG_connHead .fontSize, .SG_connHead .fontSize a, .SG_connHead .fontSize a:link, .SG_connHead .fontSize a:visited, .SG_connHead .fontSize a:hover, .menuList ul li.current, .menuList ul li.current a, .menuList ul li.current a:link, .menuList ul li.current a:visited, .menuList ul li.current a:hover, .menuList ul li.current em.SG_txtc { color: rgb(102, 102, 102); }
.sinablogfooter, .sinablogfooter a:link, .sinablogfooter a:visited, .sinablogfooter a:hover { color: rgb(114, 114, 114); }
a.SG_aBtn, a.SG_aBtn:link, a.SG_aBtn:visited { color: rgb(106, 63, 48); }
body { background-color: rgb(248, 248, 248); }
.sinablogb { background-image: url('sinablogb.jpg@22'); }
.sinabloghead { height: 265px; }
.sinabloga { background-image: url('sinabloga.jpg@22'); }
.sinablogfooter { height: 150px; }
.sinabloghead .blogtoparea { top: 43%; left: 165px; }
.sinabloghead .blognav { top: 69%; left: 120px; width: 337px; height: 34px; }
.sinabloghead .blognav .blognavInfo { top: 9px; left: 32px; }
.sinabloghead .blognav .blognavBg { background-image: url('blognavbg.png@22'); }
.sinabloghead .blognav span { padding: 0pt 10px; background-image: url('sg_newsp_003.png@22'); }
.SG_colW95 .SG_connHead, .SG_colW73 .SG_connHead, .SG_colW51 .SG_connHead, .SG_colW21 .SG_connHead, .blogads .ad_head { background-image: url('modelhead_002.png@22'); }
.SG_colW95 .SG_connHead, .SG_colW73 .SG_connHead, .SG_colW51 .SG_connHead, .SG_colW21 .SG_connHead { height: 26px; }
.SG_colW95 .SG_connBody, .SG_colW73 .SG_connBody, .SG_colW51 .SG_connBody, .SG_colW21 .SG_connBody, .blogads .ad_body { background-image: url('modelbody_002.png@22'); }
.SG_colW95 .SG_connFoot, .SG_colW73 .SG_connFoot, .SG_colW51 .SG_connFoot, .SG_colW21 .SG_connFoot, .blogads .ad_foot { background-image: url('modelfoot_002.png@22'); }
.SG_colW95 .SG_connFoot, .SG_colW73 .SG_connFoot, .SG_colW51 .SG_connFoot, .SG_colW21 .SG_connFoot { height: 1px; }
.SG_j_linedot, .SG_j_linedot1 { background-image: url('sg_linedot_002.gif@22'); }
.SG_dot { background-image: url('sg_dot_003.gif@22'); }
.allComm .allCommTit { background-image: url('sg_newsp_003.png@22'); }
a.SG_aBtn, a.SG_aBtn cite { background-image: url('sg_newsp_003.png@22'); }
.sinabloghead .adsarea { display: none; right: 0pt; bottom: 50px; }
.sinabloghead .adsarea .pic { display: none; }
.sinabloghead .adsarea .link { color: rgb(255, 255, 255); }
.sinabloghead .adsarea .other { display: none; }
.sinabloghead .headflash { width: 950px; height: 265px; }
#SGSmain { position: fixed; z-index: 32767; top: 0pt; right: 0pt; padding: 0pt 0pt 0pt 20px; min-height: 20px; background: url('dkkhgkh4zctcyzgo6f6iyypaqfgyy02xksalemv34telyrynescqyhlvwkgczspgmceay7cg04uk48lasdhra8mvqpef0gagqyywsrlycncwskckapiyeaowaaaaaaaaaaaa==@22') no-repeat scroll 2px 2px transparent; }
#SGSmain.notSubscribed { background: url('') no-repeat scroll 2px 2px transparent; }
#SGSmain:hover { padding: 0pt; }
#SGSmain > div { display: none; }
#SGSmain:hover > div { display: block; padding: 1px 0pt; background: none repeat scroll 0% 0% rgb(255, 255, 255); border-radius: 0pt 0pt 0pt 5px; border-style: solid; border-color: rgb(0, 0, 0); border-width: 0pt 0pt 2px 2px; }
#SGSmain a { display: block; margin: 0pt 0pt 0pt 3px; padding: 2px 10px 2px 7px; font-family: "Verdana"; font-size: 12px; line-height: 14px; font-weight: normal; text-decoration: none; color: rgb(0, 0, 0); text-align: left; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 0pt none; }
#SGSmain a:hover { background-color: rgb(255, 136, 0); color: rgb(0, 0, 0); }
#SGSheader { margin: -2px 0pt 0pt; font-size: 9px; font-family: sans-serif; background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); }
#SGSheader a { display: inline ! important; font-size: 9px; font-family: sans-serif; text-decoration: underline; padding: 0pt; margin: 0pt; background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); }
@media print {
  #SGSmain { display: none; }
}
