/* ::::: file:///D:/0a.%E8%BB%9F%E9%AB%94/3.%E7%B6%B2%E8%B7%AF/6.%E7%80%8F%E8%A6%BD%E5%B7%A5%E5%85%B7%20(telnet%20ssh%E9%80%A3%E7%B7%9A%20%E9%81%A0%E7%AB%AF%E6%A1%8C%E9%9D%A2%20ftp)/FirefoxPortable/Data/profile/zotero/storage/AM9TQGSQ/blog_56831c490100063t_1.css ::::: */

body { margin: 0pt; padding: 10px; word-wrap: break-word; overflow-y: scroll; overflow-x: auto; height: 90%; font-size: 14px; }
body, td, textarea, input, br, div, span { font-family: '',Verdana,Arial,Helvetica,sans-serif; line-height: 1.5; }
html { height: 100%; cursor: text; }
