
/* ::::: http://www.jollen.org/blog/styles-site.css ::::: */

html { margin: 0pt; padding: 0pt; }
body { margin: 0pt; padding: 0pt; font-family: palatino,georgia,times new roman,serif; font-size: 16px; }
form { margin: 0pt; padding: 0pt; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
h1, h2, h3, h4, h5, h6, p, ol, ul, pre, blockquote { margin-top: 10px; margin-bottom: 10px; }
.clr { border: 0pt none ; margin: 0pt -1px -1px 0pt; padding: 0pt; overflow: hidden; clear: both; width: 1px; height: 1px; font-size: 0pt; line-height: 0pt; }
.pkg:after { content: " "; display: block; visibility: hidden; clear: both; height: 0.1px; font-size: 0.1em; line-height: 0pt; }
* html .pkg { display: inline-block; }
* html .pkg { height: 1%; }
.pkg { display: block; }
body { text-align: center; }
#container-banner { margin: 0pt auto; width: 722px; }
#container { margin: 0pt auto; position: relative; width: 720px; text-align: left; }
#container-inner { position: static; width: auto; }
#banner { position: relative; }
#banner-inner { position: static; }
#pagebody { position: relative; width: 100%; }
#pagebody-inner { position: static; width: 100%; }
#alpha, #beta, #gamma, #delta { display: inline; position: relative; float: left; min-height: 1px; }
#delta { float: right; }
#alpha-inner, #beta-inner, #gamma-inner, #delta-inner { position: static; }
.banner-user { border: 0pt none ; margin: 0pt 15px 0pt 0pt; padding: 0pt; overflow: hidden; float: left; width: 64px; text-align: center; }
.banner-user-photo { border: 0pt none ; margin: 0pt 0pt 2px; padding: 0pt; display: block; background-position: center center; background-repeat: no-repeat; text-decoration: none ! important; }
.banner-user-photo img { border: 0pt none ; margin: 0pt; padding: 0pt; width: 64px; height: auto; }
.content-nav { margin: 10px; text-align: center; }
.date-header, .entry-content { position: static; clear: both; }
.entry, .trackbacks, .comments, .archive { overflow: hidden; position: static; clear: both; width: 100%; margin-bottom: 20px; }
.entry-content, .trackbacks-info, .trackback-content, .comment-content, .comments-open-content, .comments-closed { clear: both; }
.entry-excerpt, .entry-body, .entry-more-link, .entry-more { clear: both; }
.entry-footer, .trackback-footer, .comment-footer, .comments-open-footer, .archive-content { margin: 5px 10px 20px; clear: both; }
.comments-open label { display: block; }
#comment-author, #comment-email, #comment-url, #comment-text { width: 240px; }
#comment-bake-cookie { margin-left: 0pt; vertical-align: middle; }
.comments-open-header { clear: both; }
#comment-post { font-weight: bold; }
img.image-full { width: 100%; }
.image-thumbnail { margin: 0pt 10px 10px 0pt; float: left; width: 115px; }
.image-thumbnail img { margin: 0pt 0pt 2px; width: 115px; height: 115px; }
.module { overflow: hidden; position: relative; width: 100%; }
.module-content { margin: 5px 10px 20px; position: relative; }
.module-list, .archive-list { margin: 0pt; padding: 0pt; list-style-type: none; list-style-image: none; list-style-position: outside; }
.module-list-item { margin-top: 5px; margin-bottom: 5px; }
.module-presence img { vertical-align: middle; }
.module-powered .module-content { margin-bottom: 10px; }
.module-photo .module-content { text-align: center; }
.module-wishlist .module-content { text-align: center; }
.module-calendar .module-content table { border-collapse: collapse; }
.module-calendar .module-content th, .module-calendar .module-content td { width: 14%; text-align: center; }
.typelist-thumbnailed { margin: 0pt 0pt 20px; }
.typelist-thumbnailed .module-list-item { margin: 0pt; display: block; clear: both; }
.typelist-thumbnailed .module-list-item:after { content: " "; display: block; visibility: hidden; clear: both; height: 0.1px; font-size: 0.1em; line-height: 0pt; }
* html .typelist-thumbnailed .module-list-item { display: inline-block; }
* html .typelist-thumbnailed .module-list-item { height: 1%; }
.typelist-thumbnailed .module-list-item { display: block; }
.typelist-thumbnail { margin: 0pt 5px 0pt 0pt; float: left; min-width: 60px; width: auto; text-align: center; vertical-align: middle; }
.typelist-thumbnail img { margin: 5px; }
.module-galleries .typelist-thumbnail img { width: 50px; }
.typelist-description { margin: 0pt; padding: 5px; }
.module-featured-photo .module-content, .module-photo .module-content { margin: 0pt; }
.module-featured-photo img { width: 100%; }
.module-recent-photos { margin: 0pt 0pt 15px; }
.module-recent-photos .module-content { margin: 0pt; }
.module-recent-photos .module-list { border: 0pt none ; margin: 0pt; padding: 0pt; display: block; height: 1%; list-style-type: none; list-style-image: none; list-style-position: outside; }
.module-recent-photos .module-list:after { content: " "; display: block; visibility: hidden; clear: both; height: 0.1px; font-size: 0.1em; line-height: 0pt; }
* html .module-recent-photos .module-list { display: inline-block; }
* html .module-recent-photos .module-list { height: 1%; }
.module-recent-photos .module-list { display: block; }
.module-recent-photos .module-list-item { border: 0pt none ; margin: 0pt; padding: 0pt; display: block; float: left; height: 1%; }
.module-recent-photos .module-list-item a { border: 0pt none ; margin: 0pt; padding: 0pt; display: block; }
.module-recent-photos .module-list-item img { margin: 0pt; padding: 0pt; width: 60px; height: 60px; }
.module-mmt-calendar { margin-bottom: 15px; }
.module-mmt-calendar .module-content { margin: 0pt; }
.module-mmt-calendar .module-header { margin: 0pt; }
.module-mmt-calendar .module-header a { text-decoration: none; }
.module-mmt-calendar table { width: 100%; }
.module-mmt-calendar th { text-align: left; }
.module-mmt-calendar td { width: 14%; height: 75px; text-align: left; vertical-align: top; }
.day-photo { width: 54px; height: 54px; }
.day-photo a { display: block; }
.day-photo a img { width: 50px; height: 50px; }
a:link { color: blue; text-decoration: none; }
a:visited { color: blue; text-decoration: none; }
a:hover { text-decoration: underline; }
a:active { text-decoration: none; }
#banner a { color: rgb(255, 255, 255); text-decoration: none; }
#banner a:hover { color: rgb(255, 255, 255); }
.module-content a { color: rgb(54, 65, 77); }
.module-content a:hover { color: rgb(163, 184, 204); }
.module-content a:visited { color: rgb(54, 65, 77); }
h1, h2, h3, h4, h5, h6 { font-family: 'trebuchet ms',verdana,helvetica,arial,sans-serif; }
.module-header, .trackbacks-header, .comments-header, .comments-open-header, .archive-header { border-bottom: 5px solid rgb(54, 65, 77); margin: 0pt; padding: 5px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; position: relative; width: auto; color: rgb(0, 0, 0); font-size: 12px; font-weight: bold; line-height: 1; text-transform: uppercase; }
.module-header a, .module-header a:hover, .trackbacks-header a, .trackbacks-header a:hover, .comments-header a, .comments-header a:hover, .comments-open-header a, .comments-open-header a:hover .archive-header a, .archive-header a:hover { color: rgb(0, 0, 0); text-decoration: none; }
.entry-more-link, .entry-footer, .comment-footer, .trackback-footer, .typelist-thumbnailed { font-size: 11px; }
.commenter-profile img { vertical-align: middle; }
body { background: rgb(255, 255, 255) none repeat scroll 0% 0%; min-width: 720px; color: rgb(51, 51, 51); }
#container { background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 720px; margin-bottom: 20px; }
#container-inner { border: 2px solid rgb(255, 255, 255); }
#banner { background: rgb(163, 184, 204) none repeat scroll 0% 0%; width: 710px; }
#banner-inner { border-style: solid; border-color: rgb(255, 255, 255); border-width: 2px 2px 0pt; padding: 15px 13px; }
.banner-user { width: 70px; margin-top: 5px; font-size: 10px; }
.banner-user-photo { border: 1px solid rgb(255, 255, 255); }
#banner-header { margin: 0pt; color: rgb(255, 255, 255); font-size: 30px; font-weight: bold; line-height: 1; text-shadow: 0pt 2px 3px rgb(54, 65, 77); }
#banner-description { background: transparent none repeat scroll 0% 0%; margin-top: 5px; margin-bottom: 0pt; color: rgb(255, 255, 255); font-size: 12px; font-weight: bold; line-height: 1.125; text-shadow: 0pt 1px 2px rgb(54, 65, 77); }
#alpha { margin: 15px 15px 0pt; width: 480px; }
#beta { background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 200px; }
#gamma, #delta { background: rgb(230, 236, 242) none repeat scroll 0% 0%; width: 180px; }
#beta-inner, #gamma-inner, #delta-inner { border-style: solid; border-color: rgb(255, 255, 255); border-width: 2px 2px 2px 0pt; padding: 10px 10px 0pt; }
.date-header { margin-top: 0pt; font-size: 11px; font-weight: bold; text-transform: uppercase; }
.entry-header { border-left: 5px solid rgb(221, 173, 8); padding: 0pt 0pt 0pt 10px; margin-top: 0pt; color: rgb(102, 102, 102); font-size: 18px; }
.entry-content, .comment-content, .trackback-content { margin: 0pt; line-height: 1.5; }
.entry-tags { margin: 0pt 0pt 10px 10px; }
.entry-tags-header, .entry-tags-list, .entry-tag { display: inline; }
.entry-tags-list { padding: 0px; list-style-type: none; list-style-image: none; list-style-position: outside; }
.entry-footer, .comment-footer, .trackback-footer { border-top: 1px solid rgb(218, 224, 230); margin: 0pt 0pt 20px; padding-top: 3px; color: rgb(102, 102, 102); font-size: 13px; text-align: right; }
.comment-content, .trackback-content, .comment-footer, .trackback-footer { margin-left: 10px; }
.content-nav { margin-top: 0pt; }
#trackbacks-info { border: 1px dashed rgb(163, 184, 204); margin: 10px 0pt; padding: 0pt 10px; background: rgb(230, 236, 242) none repeat scroll 0% 0%; color: rgb(41, 46, 51); font-size: 11px; text-align: center; }
.comments-open-footer { margin: 10px 0pt; }
.module { margin: 0pt 0pt 10px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.module-content { border-top: 0px none; margin: 0pt 0pt 10px; padding: 10px 10px 0pt; font-size: 11px; line-height: 1.2; }
.module-title { border-top: 0px none; padding: 0pt 0pt 0pt 10px; font-size: 18px; text-decoration: none; color: rgb(0, 0, 0); }
.module-title a, .module-title a:active, .module-title a:link, .module-title a:visited { color: rgb(0, 0, 0); text-decoration: none; }
.module-title a:hover { color: rgb(128, 128, 255); text-decoration: none; }
.module-search input { font-size: 10px; }
.module-search #search { width: 100px; }
.module-mmt-calendar .module-content table, .module-calendar .module-content table { font-size: 10px; }
.module-powered { border-width: 0pt; }
.module-powered .module-content { border: 1px dashed rgb(163, 184, 204); background: rgb(255, 255, 255) none repeat scroll 0% 0%; margin-bottom: 0pt; padding-bottom: 10px; color: rgb(41, 46, 51); }
.module-photo { background: transparent none repeat scroll 0% 0%; }
.module-photo img { border: 1px solid rgb(255, 255, 255); }
.module-list { margin: 0pt 15px 10px; list-style-type: disc; list-style-image: none; list-style-position: outside; }
.module-list .module-list { margin: 5px 0pt 0pt; padding-left: 15px; list-style-type: circle; list-style-image: none; list-style-position: outside; }
.module-list-item { margin-top: 0pt; color: rgb(102, 102, 102); line-height: 1.2; }
.typelist-thumbnailed .module-list { margin: 0pt 0pt 10px; list-style-type: none; list-style-image: none; list-style-position: outside; }
.typelist-thumbnailed .module-list-item { margin: 1px 0pt; padding: 0pt; background: rgb(243, 246, 249) none repeat scroll 0% 0%; }
.typelist-thumbnail { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.module-photo img { border: 1px solid rgb(255, 255, 255); }
.module-featured-photo { width: 398px; }
.module-featured-photo .module-content { border-width: 0pt; margin: 0pt; padding: 0pt; }
.module-featured-photo img { width: 398px; }
.module-recent-photos .module-content { padding: 10px 0pt 0pt 19px; }
.module-recent-photos .module-list { margin: 0pt; }
.module-recent-photos .module-list-item { margin: 0pt 10px 10px 0pt; padding: 0pt; background: transparent none repeat scroll 0% 0%; width: 64px; }
.module-recent-photos .module-list-item a { border: 1px solid rgb(207, 212, 217); padding: 1px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.module-recent-photos .module-list-item a:hover { border-color: rgb(54, 65, 77); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.module-tagcloud .module-list { text-align: center; }
.module-tagcloud .module-list { list-style-type: none; list-style-image: none; list-style-position: outside; }
.module-tagcloud .module-list-item { display: inline; }
.module-tagcloud li.taglevel1 { font-size: 19px; }
.module-tagcloud li.taglevel2 { font-size: 17px; }
.module-tagcloud li.taglevel3 { font-size: 15px; }
.module-tagcloud li.taglevel4 { font-size: 13px; }
.module-tagcloud li.taglevel5 { font-size: 11px; }
.module-tagcloud li.taglevel6 { font-size: 9px; }
.layout-calendar #alpha { width: 260px; }
.layout-calendar #beta { width: 420px; }
.layout-calendar #gamma, .layout-calendar #delta { width: 190px; }
.layout-calendar #gamma-inner, .layout-calendar #delta-inner { border: 0pt none ; padding: 0pt; }
.module-mmt-calendar { width: 398px; }
.module-mmt-calendar .module-content { border-width: 0pt; margin: 0pt; padding: 10px; }
.module-mmt-calendar table { background: rgb(163, 184, 204) none repeat scroll 0% 0%; width: 378px; }
.module-mmt-calendar th { border-top: 1px solid rgb(255, 255, 255); border-right: 1px solid rgb(243, 246, 249); border-bottom: 1px solid rgb(207, 212, 217); padding: 2px; color: rgb(255, 255, 255); text-align: right; font-weight: bold; }
.module-mmt-calendar td { border-top: 1px solid rgb(255, 255, 255); border-right: 1px solid rgb(243, 246, 249); border-bottom: 1px solid rgb(207, 212, 217); padding: 2px; background: rgb(230, 236, 242) none repeat scroll 0% 0%; text-align: right; font-weight: normal; }
th.weekday-7, td.day-7, td.day-14, td.day-21, td.day-28, td.day-35, td.day-42 { border-right: medium none; }
.module-mmt-calendar td { height: 70px; }
.day-photo { width: 49px; height: 49px; }
.day-photo a { border: 1px solid rgb(207, 212, 217); padding: 1px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.day-photo a:hover { border-color: rgb(54, 65, 77); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.day-photo a img { width: 45px; height: 45px; }
.layout-artistic #alpha { width: 260px; }
.layout-artistic #beta { width: 420px; }
.layout-artistic #gamma, .layout-artistic #delta { width: 190px; }
.layout-artistic #gamma-inner, .layout-artistic #delta-inner { border: 0pt none ; padding: 0pt; }
.layout-moblog1 #alpha { margin: 0pt; background: rgb(230, 236, 242) none repeat scroll 0% 0%; width: 180px; }
.layout-moblog1 #alpha-inner { border-style: solid; border-color: rgb(255, 255, 255); border-width: 2px 0pt 2px 2px; padding: 10px 10px 0pt; }
.layout-moblog1 #beta { margin: 15px 15px 0pt; background: transparent none repeat scroll 0% 0%; width: 320px; }
.layout-moblog1 #beta-inner { border-width: 0pt; padding: 0pt; }
.layout-moblog1 .module-recent-photos .module-content { padding: 10px 0pt 0pt 10px; }
.layout-moblog2 #alpha { margin: 0pt; background: rgb(230, 236, 242) none repeat scroll 0% 0%; width: 86px; }
.layout-moblog2 #alpha-inner { border-style: solid; border-color: rgb(255, 255, 255); border-width: 2px 0pt 2px 2px; padding: 10px 10px 0pt; }
.layout-moblog2 #beta { margin: 15px 15px 0pt; background: transparent none repeat scroll 0% 0%; width: 260px; }
.layout-moblog2 #beta-inner { border-width: 0pt; padding: 0pt; }
.layout-moblog2 #delta { width: 154px; }
.layout-moblog2 .module-recent-photos { border: 0pt none ; background: transparent none repeat scroll 0% 0%; }
.layout-moblog2 .module-recent-photos .module-content { border: 0pt none ; padding: 0pt; }
.layout-moblog2 .module-recent-photos .module-list-item { margin: 0pt 0pt 10px; }
.layout-timeline #alpha { width: 260px; }
.layout-timeline #beta { width: 420px; }
.layout-timeline #gamma, .layout-timeline #delta { width: 190px; }
.layout-timeline #gamma-inner, .layout-timeline #delta-inner { border: 0pt none ; padding: 0pt; }
.layout-one-column body { min-width: 520px; }
.layout-one-column #container { width: 520px; }
.layout-one-column #banner { width: 510px; }
.layout-two-column-left #alpha { margin: 0pt; background: rgb(230, 236, 242) none repeat scroll 0% 0%; width: 200px; }
.layout-two-column-left #alpha-inner { border-style: solid; border-color: rgb(255, 255, 255); border-width: 2px 0pt 2px 2px; padding: 10px 10px 0pt; }
.layout-two-column-left #beta { margin: 15px 15px 0pt; background: transparent none repeat scroll 0% 0%; width: 480px; }
.layout-two-column-left #beta-inner { border-width: 0pt; padding: 0pt; }
.layout-three-column #alpha { margin: 0pt; background: rgb(230, 236, 242) none repeat scroll 0% 0%; width: 180px; }
.layout-three-column #alpha-inner { border-style: solid; border-color: rgb(255, 255, 255); border-width: 2px 0pt 2px 2px; padding: 10px 10px 0pt; }
.layout-three-column #beta { margin: 15px 15px 0pt; background: transparent none repeat scroll 0% 0%; width: 320px; }
.layout-three-column #beta-inner { border-width: 0pt; padding: 0pt; }
.entry-header a { text-decoration: none; }
.content-nav { margin: 0px; display: none; }
.mt-search-results .search-results-header { border: 2px solid rgb(102, 102, 153); padding: 5px; background-color: rgb(54, 65, 77); color: rgb(238, 238, 238); }
.mt-search-results .search-results-container { margin-left: 10px; }
.mt-search-results form#search-form { margin: 0px auto 20px; width: 400px; }
.mt-search-results form#search-form input#search { width: 80%; }
.mt-search-results form#search-form p#search-options { text-align: center; }
div.entry-tags { margin: 0pt 0pt 10px 10px; }
ul.entry-tags-list { padding: 0px; list-style-type: none; list-style-image: none; list-style-position: outside; }
h4.entry-tags-header, ul.entry-tags-list, li.entry-tag { display: inline; }
.main-index .date-header { display: none; }
form textarea#comment-text { width: 400px; }
.module-welcome p { font-size: 12px; }
.module-content p.first { margin-top: 0px; }
.master-archive-index #archive-title, .individual-entry-archive #archive-title, .date-based-archive #archive-title, .category-archive #archive-title { border-left: 10px solid rgb(163, 184, 204); margin: 0pt; padding: 5px; background: rgb(54, 65, 77) none repeat scroll 0% 0%; position: relative; width: auto; color: rgb(255, 255, 255); }
#comments-experimental .comment, #comments-experimental .comment .comment-inner { width: 36em; }
#comments-experimental .comment { border: 2px solid rgb(187, 187, 187); margin: 10px 15px; padding: 0px; background-color: rgb(238, 238, 255); }
#comments-experimental .comment .comment-inner { border: 1px solid rgb(0, 0, 51); margin: -5px 0pt 0pt -3px; background: rgb(243, 243, 255) none repeat scroll 0% 0%; position: relative; }
#comments-experimental .comment:hover .comment-inner { border: 1px solid rgb(0, 0, 0); background-color: rgb(255, 255, 255); }
#comments-experimental .comment a { border-bottom: 1px dotted rgb(54, 65, 77); text-decoration: none; }
#comments-experimental .comment:hover a { border-bottom: 1px solid rgb(102, 102, 102); color: rgb(51, 51, 51); }
#comments-experimental .comment .comment-content { margin-right: 25px; margin-left: 25px; margin-bottom: 15px; }
#comments-experimental .comment-footer-experimental { margin-right: 15px; font-size: 10px; text-align: right; }
#comments-experimental .comment .comment-header { margin: 5px auto 5px 10px; font-size: 16px; color: rgb(102, 102, 102); }
#comments .comment-header { display: none; }
#comments .comment-footer-experimental { display: none; }
#comments-experimental .comment-footer { display: none; }
.code { border: 1px dashed rgb(255, 32, 0); padding: 6px 6px 6px 9px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(41, 46, 51); text-align: left; font-size: 14px; font-family: "Arial","新細明體"; }
