
/* ::::: null ::::: */

.style1 { color: rgb(0, 153, 204); }

/* ::::: http://www.wyzxsx.com/Skin/DefaultSkin.css ::::: */

a { text-decoration: none; }
a:link { color: rgb(0, 0, 0); }
a:visited { color: rgb(51, 51, 51); }
a:hover { color: rgb(174, 9, 39); }
a:active { color: rgb(0, 0, 255); }
a.channel:link { color: rgb(234, 234, 239); }
a.channel:visited { color: rgb(234, 234, 239); }
a.channel:hover { color: rgb(255, 255, 0); }
a.channel:active { color: rgb(234, 234, 239); }
a.channel2:link { color: rgb(255, 255, 0); }
a.channel2:visited { color: rgb(255, 255, 0); }
a.channel2:hover { color: rgb(255, 102, 0); }
a.channel2:active { color: rgb(255, 255, 0); }
a.bottom:link { color: rgb(234, 234, 239); }
a.bottom:visited { color: rgb(234, 234, 239); }
a.bottom:hover { color: rgb(255, 255, 0); }
a.bottom:active { color: rgb(234, 234, 239); }
a.class:link { color: rgb(234, 234, 239); }
a.class:visited { color: rgb(234, 234, 239); }
a.class:hover { color: rgb(255, 0, 0); }
a.class:active { color: rgb(234, 234, 239); }
body { font-size: 9pt; background-image: url('bg_all.jpg'); background-color: rgb(203, 146, 116); background-repeat: repeat-x; background-position: center top; text-decoration: none; }
td { font-family: 宋体; font-size: 9pt; line-height: 180%; }
input { border: 1px solid rgb(102, 102, 102); background-color: rgb(234, 234, 239); color: rgb(102, 102, 102); height: 18px; font-size: 9pt; }
button { font-size: 9pt; height: 20px; }
select { font-size: 9pt; height: 20px; }
.top_userlogin { color: rgb(3, 127, 168); }
.channel_border { border: 1px solid rgb(204, 204, 204); }
.channel_title { background: rgb(204, 204, 204) none repeat scroll 0% 0%; color: rgb(3, 127, 168); height: 27px; text-align: center; font-weight: bold; }
.channel_tdbg { background: rgb(250, 250, 250) none repeat scroll 0% 0%; line-height: 200%; }
.channel_pager { background: rgb(250, 250, 250) none repeat scroll 0% 0%; line-height: 200%; }
　　 .comment_border { border: 1px solid rgb(68, 154, 232); }
.comment_title { background: rgb(68, 154, 232) none repeat scroll 0% 0%; color: rgb(234, 234, 239); font-weight: normal; height: 25px; }
.comment_tdbg1 { background: rgb(234, 234, 239) none repeat scroll 0% 0%; line-height: 200%; }
.comment_tdbg2 { background: rgb(250, 250, 250) none repeat scroll 0% 0%; }
　　 .s_headline1 { color: blue; }
.s_headline2 { color: rgb(255, 102, 0); }
.s_headline3 { color: green; }
.s_headline4 { color: red; }
.top_tdbgall { width: 960px; }
.top_top { background: rgb(0, 137, 247) none repeat scroll 0% 0%; height: 5px; }
.top_top2 { background: rgb(0, 137, 247) none repeat scroll 0% 0%; height: 5px; }
.top_channel { background: transparent url('dao_bg.gif') repeat scroll 0% 0%; color: rgb(234, 234, 239) ! important; text-align: center; }
.top_announce { background: transparent url('top_nav_menu.gif') repeat scroll 0% 0%; color: rgb(5, 96, 166); height: 30px; }
.top_nav_menu { background: transparent url('top_nav_menu.gif') repeat scroll 0% 0%; color: rgb(5, 96, 166); height: 30px; }
.top_path { border-left: 5px solid rgb(244, 244, 244); border-right: 5px solid rgb(244, 244, 244); background: transparent url('top_path.gif') repeat scroll 0% 0%; width: 960px; height: 30px; }
.top_userlogin { color: rgb(3, 127, 168); }
.bot_left_1 { background: transparent url('bot_left_1.gif') repeat scroll 0% 0%; width: 15px; height: 15px; }
.bot_left_2 { background: transparent url('bot_left_2.gif') repeat scroll 0% 0%; width: 15px; }
.bot_left_3 { background: transparent url('bot_left_3.gif') repeat scroll 0% 0%; width: 15px; height: 15px; }
.bot_right_1 { background: transparent url('bot_right_1.gif') repeat scroll 0% 0%; width: 15px; height: 15px; }
.bot_right_2 { background: transparent url('bot_right_2.gif') repeat scroll 0% 0%; width: 15px; }
.bot_right_3 { background: transparent url('bot_right_3.gif') repeat scroll 0% 0%; width: 15px; height: 15px; }
.bot_top_bg { background: transparent url('bot_top_bg.gif') repeat scroll 0% 0%; height: 15px; }
.bot_bottom_bg { background: transparent url('bot_bottom_bg.gif') repeat scroll 0% 0%; height: 15px; }
.center_tdbgall { background: rgb(234, 234, 239) none repeat scroll 0% 0%; width: 960px; }
.tdbg_top_bottom { border-top: 5px solid rgb(244, 244, 244); border-bottom: 5px solid rgb(244, 244, 244); background: rgb(234, 234, 239) none repeat scroll 0% 0%; }
.tdbg_left_right { border-left: 5px solid rgb(244, 244, 244); border-right: 5px solid rgb(244, 244, 244); background: rgb(234, 234, 239) none repeat scroll 0% 0%; }
.tdbg_top_left_right { border-top: 5px solid rgb(244, 244, 244); border-left: 5px solid rgb(244, 244, 244); border-right: 5px solid rgb(244, 244, 244); background: rgb(234, 234, 239) none repeat scroll 0% 0%; }
.tdbg_top_right { border-top: 5px solid rgb(244, 244, 244); border-right: 5px solid rgb(244, 244, 244); background: rgb(234, 234, 239) none repeat scroll 0% 0%; }
.tdbg_right { border-right: 5px solid rgb(244, 244, 244); background: rgb(234, 234, 239) none repeat scroll 0% 0%; }
　　 .left_tdbgall { background: rgb(244, 244, 244) none repeat scroll 0% 0%; width: 200px; }
.left_tb_top { background: transparent url('left_01.gif') repeat scroll 0% 0%; height: 5px; }
.left_title { background: transparent url('left_02.gif') repeat scroll 0% 0%; color: rgb(173, 128, 108); height: 31px; width: 200px; padding-left: 10px; }
.left_tdbg0 { background: transparent url('left_02.gif') repeat scroll 0% 0%; height: 5px; }
.left_tdbg1 { background: transparent url('left_02.gif') repeat scroll 0% 0%; line-height: 200%; padding-left: 5px; padding-right: 5px; }
.left_tdbg2 { background: transparent url('left_03.gif') repeat scroll 0% 0%; height: 5px; }
.right_title { background: transparent url('right_title.gif') repeat scroll 0% 0%; font-weight: bold; color: rgb(234, 234, 239); height: 28px; width: 180px; padding-left: 40px; text-align: left; }
.menu_title1 { background: transparent url('7025_bg1.gif') no-repeat scroll 1% 100%; color: rgb(226, 226, 226); }
.menu_title2 { background: transparent url('7025_bg2.gif') no-repeat scroll 1% 100%; color: rgb(255, 102, 0); }
.menu_tdbg { line-height: 200%; padding-left: 5px; padding-right: 5px; }
.border { border: 1px solid rgb(210, 211, 217); padding: 5px; }
.border0 { border: 1px solid rgb(210, 211, 217); }
　　 　　 .main_menu_title1 { background: transparent url('11325_bg1.gif') no-repeat scroll 1% 100%; color: rgb(187, 187, 187); }
.main_menu_title2 { background: transparent url('11325_bg2.gif') no-repeat scroll 1% 100%; color: rgb(234, 234, 239); }
.main_tdbgall { background: rgb(234, 234, 239) none repeat scroll 0% 0%; width: 572px; }
.main_shadow { height: 4px; }
.main_announce { border: 1px solid rgb(210, 211, 217); background: rgb(249, 249, 249) none repeat scroll 0% 0%; color: rgb(3, 127, 168); height: 25px; }
.main_search { border: 1px solid rgb(210, 211, 217); background: rgb(249, 249, 249) none repeat scroll 0% 0%; color: rgb(3, 127, 168); height: 25px; }
.main_top { background: transparent url('main_top.gif') repeat scroll 0% 0%; height: 187px; }
.main_title_760i { border-top: 1px solid rgb(210, 211, 217); border-left: 1px solid rgb(210, 211, 217); border-right: 1px solid rgb(210, 211, 217); background: transparent url('main_title_760i.gif') repeat scroll 0% 0%; color: rgb(234, 234, 239); text-align: left; padding-left: 40px; height: 29px; }
.main_tdbg_760i { border: 1px solid rgb(210, 211, 217); line-height: 200%; text-align: left; padding-left: 5px; padding-right: 5px; }
.main_title_575 { border-top: 1px solid rgb(210, 211, 217); border-left: 1px solid rgb(210, 211, 217); border-right: 1px solid rgb(210, 211, 217); background: rgb(244, 244, 244) none repeat scroll 0% 0%; color: rgb(255, 102, 0); text-align: left; padding-left: 5px; height: 29px; }
.main_tdbg_575 { border: 1px solid rgb(210, 211, 217); line-height: 200%; text-align: left; padding-left: 5px; padding-right: 5px; }
.main_title_282i { border-top: 1px solid rgb(210, 211, 217); border-left: 1px solid rgb(210, 211, 217); border-right: 1px solid rgb(210, 211, 217); background: transparent url('main_title_282i.gif') repeat scroll 0% 0%; color: rgb(234, 234, 239); height: 29px; padding-left: 40px; }
.main_tdbg_282i { border: 1px solid rgb(210, 211, 217); line-height: 150%; text-align: left; padding-left: 5px; padding-right: 5px; }
.main_title_282 { border-top: 1px solid rgb(210, 211, 217); border-left: 1px solid rgb(210, 211, 217); border-right: 1px solid rgb(210, 211, 217); background: transparent url('main_title_282.gif') repeat scroll 0% 0%; color: rgb(234, 234, 239); height: 29px; padding-left: 40px; }
.main_tdbg_282 { padding: 5px; line-height: 200%; text-align: left; }
.listbg { background: rgb(234, 234, 239) none repeat scroll 0% 0%; }
.listbg2 { background: rgb(247, 247, 247) none repeat scroll 0% 0%; }
　　 　　 .main_articletitle { background: transparent url('articlebg1.gif') repeat scroll 0% 0%; color: rgb(255, 0, 0); font-size: 18px; line-height: 200%; }
.main_articlesubheading { color: rgb(3, 127, 168); font-weight: bold; line-height: 200%; }
.main_title_760 { border: 1px solid rgb(210, 211, 217); background: rgb(247, 247, 247) none repeat scroll 0% 0%; height: 28px; color: rgb(255, 102, 0); }
.main_tdbg_760 { border: 1px solid rgb(210, 211, 217); padding: 8px; line-height: 200%; font-size: 15pt; }
.article_tdbgall { background: rgb(245, 245, 245) none repeat scroll 0% 0%; }
.bottom_tdbgall { background: rgb(234, 234, 239) none repeat scroll 0% 0%; width: 960px; }
.bottom_adminlogo { background: transparent url('dao_bg.gif') repeat scroll 0% 0%; color: rgb(234, 234, 239); }
.bottom_copyright { background: rgb(234, 234, 239) none repeat scroll 0% 0%; color: rgb(0, 0, 0); line-height: 250%; padding-left: 5px; padding-right: 5px; }
.menu { border: 1px none ; background-color: rgb(204, 204, 204); width: 97%; }
.menubody { background-color: rgb(234, 234, 239); }
.channel_font { color: red; }
.guest_font { color: green; }
a.guest:link { color: rgb(0, 0, 0); }
a.guest:visited { color: rgb(0, 0, 0); }
a.guest:hover { color: rgb(255, 102, 0); }
a.guest:active { color: rgb(0, 0, 0); }
a.channel_keylink { text-decoration: underline; }
a.channel_keylink:link { color: blue; }
a.channel_keylink:visited { color: blue; }
a.channel_keylink:hover { color: rgb(255, 0, 0); }
a.channel_keylink:active { color: blue; }
.header { font-family: tahoma,verdana; font-size: 12px; color: rgb(255, 255, 0); font-weight: normal; background-color: rgb(111, 0, 9); }
.selet_bg { background-color: rgb(234, 234, 239); }
.f_one { background-color: rgb(246, 246, 246); }
.pic1 { border: 5px double rgb(17, 17, 17); }
.pic2 { border: 3px double rgb(204, 204, 204); }
.pic3 { border: 3px double rgb(204, 204, 204); }
.pic4 { border: 3px double rgb(204, 204, 204); }
.user_border { border-top: 5px solid rgb(244, 244, 244); border-left: 5px solid rgb(244, 244, 244); border-right: 5px solid rgb(244, 244, 244); background: rgb(234, 234, 239) none repeat scroll 0% 0%; width: 960px; }
.articleequal { display: table; height: 350px; border-collapse: separate; }
