
/* ::::: null ::::: */

a:link { color: rgb(153, 51, 51); text-decoration: none; }
a:active { color: rgb(255, 102, 0); text-decoration: none; }
a:visited { color: rgb(153, 51, 51); text-decoration: none; }
a:hover { color: rgb(255, 204, 255); text-decoration: none; }

/* ::::: http://www.ccmlit.org/chinesetoday/ChineseToday_547/CT.css ::::: */

.topDate { font-family: Arial,PMingLiU,DFLiHeiLight-B5,DFLiHeiMedium-B5,DFLiHeiBold-B5,Helvetica,sans-serif; font-size: 10pt; color: rgb(192, 192, 192); text-align: right; }
.ct_topMenu { font-family: Arial,PMingLiU,Helvetica,sans-serif; font-size: 9pt; color: rgb(255, 153, 204); text-align: left; vertical-align: top; }
.ct_Head { font-family: PMingLiU,Arial,Helvetica,sans-serif; font-size: 28pt; font-weight: bold; color: rgb(0, 102, 0); text-align: center; }
.ct_Head2 { font-family: PMingLiU,Arial,Helvetica,sans-serif; font-size: 18pt; color: rgb(51, 102, 51); font-weight: bold; }
p { font-family: PMingLiU,Arial,Helvetica,sans-serif; font-size: 11pt; line-height: 1.5; font-weight: normal; color: rgb(0, 0, 0); }
.p_li { font-family: PMingLiU,Arial,Helvetica,sans-serif; font-size: 11pt; line-height: 1.5; font-weight: normal; color: rgb(0, 0, 0); }
.ct_bottomAuthor { font-family: PMingLiU,Arial,Helvetica,sans-serif; font-size: 11pt; font-weight: normal; color: rgb(153, 153, 153); text-align: right; }
.ct_textHead { font-family: PMingLiU,Arial,Helvetica,sans-serif; font-size: 13pt; color: rgb(153, 51, 153); font-weight: bold; }
.ct_textHead2 { font-family: PMingLiU,Arial,Helvetica,sans-serif; font-size: 11pt; color: rgb(153, 51, 153); font-weight: bold; }
.topDate_index { font-family: Arial,PMingLiU,Helvetica,sans-serif; font-size: 10pt; color: rgb(0, 102, 102); }
.listText { font-family: PMingLiU,Arial,Helvetica,sans-serif; font-size: 11pt; line-height: 1.5; font-weight: normal; color: rgb(0, 0, 0); }
.ct_footer { font-family: Arial,PMingLiU,Helvetica,sans-serif; font-size: 8pt; color: rgb(204, 204, 204); text-align: right; }
.ct_footnote { font-family: Arial,PMingLiU,Helvetica,sans-serif; font-size: 10pt; color: rgb(153, 153, 153); text-align: left; }
.ct_author { border-left: 11pt solid rgb(161, 21, 116); font-family: PMingLiU,Arial,Helvetica,sans-serif; font-size: 11pt; color: rgb(0, 0, 0); vertical-align: middle; margin-top: 0px; margin-bottom: 12px; padding-left: 4pt; }
.topDate_index { font-family: Arial,PMingLiU,Helvetica,sans-serif; font-size: 10pt; color: rgb(204, 204, 204); vertical-align: top; }
.topMenu_index { font-family: Arial,PMingLiU,Helvetica,sans-serif; font-size: 9pt; color: rgb(51, 102, 102); text-align: right; vertical-align: top; }
.ct_title_index { font-family: PMingLiU,Arial,Helvetica,sans-serif; font-size: 11pt; color: rgb(153, 51, 153); font-weight: normal; }
.ct_author_index { font-family: Arial,Helvetica,sans-serif; font-size: 11pt; color: rgb(0, 0, 0); }
.text_index { font-family: Arial,Helvetica,sans-serif; font-size: 10pt; line-height: 1.25; color: rgb(153, 153, 153); }
