
/* ::::: null ::::: */

body { margin: 0pt; background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(51, 51, 51); font-family: Georgia Serif; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; font-size: small; text-align: center; }
a:link { color: rgb(85, 136, 170); text-decoration: none; }
a:visited { color: rgb(153, 153, 153); text-decoration: none; }
a:hover { color: rgb(204, 102, 0); text-decoration: underline; }
a img { border-width: 0pt; }
#header-wrapper { border: 1px solid rgb(204, 204, 204); margin: 0pt auto 10px; width: 660px; }
#header-inner { background-position: center center; margin-left: auto; margin-right: auto; }
#header { border: 1px solid rgb(204, 204, 204); margin: 5px; text-align: center; color: rgb(102, 102, 102); }
#header h1 { margin: 5px 5px 0pt; padding: 15px 20px 0.25em; text-transform: uppercase; letter-spacing: 0.2em; font-family: Georgia,Serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 200%; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
#header a { color: rgb(102, 102, 102); text-decoration: none; }
#header a:hover { color: rgb(102, 102, 102); }
#header .description { margin: 0pt 5px 5px; padding: 0pt 20px 15px; max-width: 700px; text-transform: uppercase; letter-spacing: 0.2em; font-family: 'Trebuchet MS',Trebuchet,Arial,Verdana,Sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 78%; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; color: rgb(153, 153, 153); }
#header img { margin-left: auto; margin-right: auto; }
#outer-wrapper { margin: 0pt auto; padding: 10px; width: 760px; text-align: left; font-family: Georgia,Serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 100%; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
#main-wrapper { overflow: hidden; width: 510px; float: left; }
#sidebar-wrapper { overflow: hidden; width: 220px; float: right; }
h2 { margin: 1.5em 0pt 0.75em; font-family: 'Trebuchet MS',Trebuchet,Arial,Verdana,Sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 78%; font-size-adjust: none; font-stretch: normal; -x-system-font: none; line-height: 1.4em; text-transform: uppercase; letter-spacing: 0.2em; color: rgb(153, 153, 153); }
h2.date-header { margin: 1.5em 0pt 0.5em; }
.post { border-bottom: 1px dotted rgb(204, 204, 204); margin: 0.5em 0pt 1.5em; padding-bottom: 1.5em; }
.post h3 { margin: 0.25em 0pt 0pt; padding: 0pt 0pt 4px; font-size: 140%; font-weight: normal; line-height: 1.4em; color: rgb(204, 102, 0); }
.post h3 a, .post h3 a:visited, .post h3 strong { display: block; text-decoration: none; color: rgb(204, 102, 0); font-weight: normal; }
.post h3 strong, .post h3 a:hover { color: rgb(51, 51, 51); }
.post-body { margin: 0pt 0pt 0.75em; line-height: 1.6em; }
.post-body blockquote { line-height: 1.3em; }
.post-footer { margin: 0.75em 0pt; color: rgb(153, 153, 153); text-transform: uppercase; letter-spacing: 0.1em; font-family: 'Trebuchet MS',Trebuchet,Arial,Verdana,Sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 78%; font-size-adjust: none; font-stretch: normal; -x-system-font: none; line-height: 1.4em; }
.comment-link { margin-left: 0.6em; }
.post img { border: 1px solid rgb(204, 204, 204); padding: 4px; }
.post blockquote { margin: 1em 20px; }
.post blockquote p { margin: 0.75em 0pt; }
#comments h4 { margin: 1em 0pt; font-weight: bold; line-height: 1.4em; text-transform: uppercase; letter-spacing: 0.2em; color: rgb(153, 153, 153); }
#comments-block { margin: 1em 0pt 1.5em; line-height: 1.6em; }
#comments-block .comment-author { margin: 0.5em 0pt; }
#comments-block .comment-body { margin: 0.25em 0pt 0pt; }
#comments-block .comment-footer { margin: -0.25em 0pt 2em; line-height: 1.4em; text-transform: uppercase; letter-spacing: 0.1em; }
#comments-block .comment-body p { margin: 0pt 0pt 0.75em; }
.deleted-comment { font-style: italic; color: gray; }
#blog-pager-newer-link { float: left; }
#blog-pager-older-link { float: right; }
#blog-pager { text-align: center; }
.feed-links { clear: both; line-height: 2.5em; }
.sidebar { color: rgb(102, 102, 102); line-height: 1.5em; }
.sidebar ul { margin: 0pt; padding: 0pt; list-style-type: none; list-style-image: none; list-style-position: outside; }
.sidebar li { margin: 0pt; padding: 0pt 0pt 0.25em 15px; text-indent: -15px; line-height: 1.5em; }
.sidebar .widget, .main .widget { border-bottom: 1px dotted rgb(204, 204, 204); margin: 0pt 0pt 1.5em; padding: 0pt 0pt 1.5em; }
.main .Blog { border-bottom-width: 0pt; }
.profile-img { border: 1px solid rgb(204, 204, 204); margin: 0pt 5px 5px 0pt; padding: 4px; float: left; }
.profile-data { margin: 0pt; text-transform: uppercase; letter-spacing: 0.1em; font-family: 'Trebuchet MS',Trebuchet,Arial,Verdana,Sans-serif; font-style: normal; font-variant: normal; font-size: 78%; font-size-adjust: none; font-stretch: normal; -x-system-font: none; color: rgb(153, 153, 153); font-weight: bold; line-height: 1.6em; }
.profile-datablock { margin: 0.5em 0pt; }
.profile-textblock { margin: 0.5em 0pt; line-height: 1.6em; }
.profile-link { font-family: 'Trebuchet MS',Trebuchet,Arial,Verdana,Sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 78%; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; text-transform: uppercase; letter-spacing: 0.1em; }
#footer { margin: 0pt auto; width: 660px; clear: both; padding-top: 15px; line-height: 1.6em; text-transform: uppercase; letter-spacing: 0.1em; text-align: center; }

/* ::::: http://www.blogger.com/widgets/2300090209-widget_css_bundle.css ::::: */

#ArchiveList .toggle { cursor: pointer; font-family: Arial,sans-serif; }
#ArchiveList .toggle-open { line-height: 0.6em; }
#ArchiveList { text-align: left; }
#ArchiveList a.post-count-link, #ArchiveList a.post-count-link:link, #ArchiveList a.post-count-link:visited { text-decoration: none; }
#ArchiveList a.toggle, #ArchiveList a.toggle:link, #ArchiveList a.toggle:visited, #ArchiveList a.toggle:hover { color: inherit; text-decoration: none; }
.BlogArchive #ArchiveList ul li { border-width: 0pt; background: transparent none repeat scroll 0% 0%; list-style-type: none; list-style-image: none; list-style-position: outside; padding-left: 15px; text-indent: -15px; margin-left: 0pt; }
.BlogArchive #ArchiveList ul ul li { padding-left: 1.2em; }
.BlogArchive #ArchiveList ul { border-width: 0pt; margin: 0pt; padding: 0pt; list-style-type: none; list-style-position: outside; list-style-image: none; }
.BlogArchive #ArchiveList ul ul { margin-top: 5px; }
.BlogArchive #ArchiveList ul.posts li { padding-left: 1.3em; }
#ArchiveList .collapsed ul { display: none; }
.backlink-toggle-zippy { background: transparent url('triangle_ltr.gif') no-repeat scroll left center; padding-right: 11px; margin-right: 0.1em; cursor: pointer; }
.expanded-backlink .backlink-toggle-zippy { background-image: url('triangle_open.gif'); }
.collapsed-backlink .collapseable { display: none; }
.status-msg-wrap { margin: 10px auto; font-size: 110%; width: 90%; position: relative; }
.status-msg-border { border: 1px solid rgb(0, 0, 0); opacity: 0.4; width: 100%; position: relative; }
.status-msg-bg { background-color: rgb(204, 204, 204); opacity: 0.8; width: 100%; position: relative; z-index: 1; }
.status-msg-body { padding: 0.3em 0pt; text-align: center; width: 100%; position: absolute; z-index: 4; }
.status-msg-hidden { padding: 0.3em 0pt; visibility: hidden; }
.status-msg-wrap a { padding-left: 0.4em; text-decoration: underline; }
.reactions-label { margin: 3px 0pt 0pt; }
.reactions-label-cell { line-height: 2.3em; }
.reactions-iframe { border: 0pt none ; background: transparent none repeat scroll 0% 0%; height: 2.3em; width: 100%; }
#comments .blogger-comment-icon, .blogger-comment-icon { background: transparent url('b16-rounded.gif') no-repeat scroll left center; line-height: 16px; padding-left: 20px; }
#comments .openid-comment-icon, .openid-comment-icon { background: transparent url('openid16-rounded.gif') no-repeat scroll left center; line-height: 16px; padding-left: 20px; }
#comments .anon-comment-icon, .anon-comment-icon { background: transparent url('anon16-rounded.gif') no-repeat scroll left center; line-height: 16px; padding-left: 20px; }
.comment-form { max-width: 425px; }
.paging-control-container { margin: 0pt 6px 0pt 0pt; float: right; font-size: 80%; }
.unneeded-paging-control { visibility: hidden; }
.follower-grid { width: 150px; }
.follower { margin: 2px; width: 32px; height: 32px; float: left; }
.follower-img { margin: 2px; float: left; }
.follow-this { margin: 0.5em 0.5em 0.5em 0pt; font-weight: bold; }
.followers-canvas { margin: 0.5em 0.5em 0.5em 0pt; font-weight: bold; }
.clear { clear: both; }
.subscribe-feed-title { float: left; }
.subscribe { cursor: pointer; color: rgb(153, 153, 153); }
.subscribe a { color: rgb(153, 153, 153); }
.subscribe-wrapper { margin: 0.5em; padding: 0pt; position: relative; }
div.subscribe { margin: 0pt; padding: 0pt; text-align: left; cursor: pointer; width: 144px; z-index: 20; }
.subscribe-type-POST { z-index: 10; }
div.subscribe div.top { padding: 4px 5px 1px; font-size: 1em; width: 144px; }
html > body div.subscribe div.top { background: transparent url('s_top.png') no-repeat scroll left top; }
span.inner { margin: 0pt; padding: 0pt; }
.feed-icon { vertical-align: baseline; display: inline; }
div.subscribe div.bottom { height: 3px; font-size: 3px; line-height: 0pt; }
.subscribe-wrapper .expanded { position: absolute; top: 0pt; }
html > body div.subscribe div.bottom { background: transparent url('s_bottom.png') no-repeat scroll left bottom; width: 144px; margin-bottom: 0pt; padding-bottom: 0pt; }
.feed-reader-links { margin: 10px 20px; padding: 0pt; list-style-type: none; list-style-image: none; list-style-position: outside; position: relative; }
.feed-reader-links li { margin-top: 5px; }
.subscribe-dropdown-arrow { float: right; margin-top: 4px; margin-right: 14px; }
ul.feed-reader-links { margin: 0pt; padding: 0pt; list-style-type: none; list-style-image: none; list-style-position: outside; }
ul.feed-reader-links li { margin-top: 5px; }
a.feed-reader-link { margin: 0.5em; display: block; text-decoration: none; font-weight: normal; z-index: 1000; }
.feed-reader-link img { border: 0pt none ; display: inline; }
.blog-list-container ul { padding-left: 0pt; }
.blog-list-container ul li { padding-left: 0pt; list-style-type: none; list-style-position: outside; list-style-image: none; clear: left; }
.blog-list-container a { text-decoration: none; }
.blog-list-container a:hover { text-decoration: underline; }
.blog-list-container .blog-content { margin: 0pt 0pt 5px 5px; float: left; text-indent: 0pt; width: 85%; }
.blog-list-container .blog-title { margin: 2px 0pt 0pt; font-weight: bold; line-height: 16px; }
.blog-list-container .blog-icon { float: left; margin-top: 2px; vertical-align: top; text-indent: 0pt; width: 16px; }
.blog-list-container .item-content { font-size: 95%; line-height: 1.3em; }
.blog-list-container .item-thumbnail { margin: 2px 5px 5px 0pt; float: left; }
.blog-list-container .item-time { font-size: 95%; font-style: italic; clear: left; }
.blog-list-title { font-weight: bold; }
.blog-list-container .show-option { font-size: 75%; text-align: right; }
div.gsc-control { width: 100%; }
.cse-status { margin: 10px; padding: 4px; color: rgb(103, 103, 103); font-size: 11px; }
#uds-searchControl { margin: 1em; position: relative; }
#uds-searchClearResults { border-style: solid; border-width: 1px; padding: 0pt; position: absolute; top: 15px; right: -3px; display: none; height: 9px; width: 9px; }
#uds-searchControl .gsc-results { border-style: solid; border-width: 1px; padding: 1em 1em 0pt; width: auto; }
#uds-searchControl .gsc-resultsHeader { display: none; }
#uds-searchControl .gsc-tabsArea { float: left; position: relative; top: 1px; padding-right: 10px; }
#uds-searchControl .gsc-tabHeader { float: left; line-height: 1.7; }
#uds-searchControl .gsc-tabHeader.gsc-tabhActive { border-style: solid; border-width: 2px 1px 0pt; font-weight: bold; }
#uds-searchControl .gsc-tabHeader.gsc-tabhInactive { border-style: solid; border-width: 0pt; padding-top: 2px; }
#uds-searchControl .gsc-resultsbox-visible { clear: left; }
#uds-searchControl .gs-result .gs-title, #uds-searchControl .gsc-results .gsc-trailing-more-results { line-height: 1.5em; }
#uds-searchControl .gs-relativePublishedDate, #uds-searchControl .gs-publishedDate { line-height: 1.3em; }
#uds-searchControl .gs-result a.gs-visibleUrl, #uds-searchControl .gs-result .gs-visibleUrl { line-height: 1.3em; font-size: 95%; }
#uds-searchControl .gs-result .gs-snippet { margin: 0.25em 0pt; line-height: 1.2em; }
#uds-searchControl .gs-no-results-result .gs-snippet, #uds-searchControl .gs-error-result .gs-snippet { border: medium none ; background-color: transparent; font-style: italic; }
.quickedit { cursor: pointer; }
.newsBar-status { margin: 10px; padding: 4px; color: rgb(103, 103, 103); font-size: 11px; }
img.gsc-branding-img-noclear { display: inline; }
.slideshow-status { margin: 10px; padding: 4px; color: rgb(103, 103, 103); font-size: 11px; }
.slideshow-container { margin: auto; text-transform: none; font-family: Arial,sans-serif; letter-spacing: normal; word-spacing: normal; width: 150px; height: 150px; clear: both; }
img.gsc-branding-img-noclear { display: inline; }
.slideshow-container img { display: inline; }
div.floatingPlayer_gsvb div.playerInnerBox_gsvb .player_gsvb { width: 320px; height: 260px; }
.videoBar-status { margin: 10px; padding: 4px; color: rgb(103, 103, 103); font-size: 11px; }
.videoBar-container { margin: auto; text-transform: none; font-family: Arial,sans-serif; letter-spacing: normal; word-spacing: normal; clear: both; }

/* ::::: http://www.blogger.com/static/v1/v-css/3727950723-blog_controls.css ::::: */

.item-control { display: none; }
.item-control a, .item-action a { text-decoration: none ! important; }
.widget-item-control { float: right; }
.icon-action { border-style: none ! important; margin: 0pt 0pt -5px 0.5em ! important; }
.delete-comment-icon { padding: 7px; background: transparent url('icon_delete13.gif') no-repeat scroll left center; }
@media all {
  .BLOG_mobile_video_class { display: none; }
}
@media handheld {
  .BLOG_mobile_video_class { display: inline; }
  .BLOG_video_class { display: none; }
}

/* ::::: null ::::: */

#navbar-iframe { display: block; }
