
/* ::::: http://www.shoutmix.com/style.php?s=compact_alt&v=Tahoma/Geneva/8pt/7pt/333333/999999/000000/80BC00/FFFFFF/F6F6F6/FCFCA0/CCCCCC/000000/666666/EAEAEA/CCCCCC ::::: */

body { background-color: rgb(255, 255, 255); }
body, div, input, select { font-family: Tahoma,Geneva,sans-serif; font-size: 8pt; color: rgb(51, 51, 51); }
a:link, a:visited, a:active { color: rgb(0, 0, 0); text-decoration: none; }
a:hover { color: rgb(128, 188, 0); }
form, fieldset, p, ul, ol { border: 0pt none ; margin: 0pt; padding: 0pt; }
dt, legend, #footer { display: none; }
img { border: 0pt none ; margin: 1px; padding: 0pt; vertical-align: middle; }
abbr { border: 0pt none ; }
.highlight { background-color: rgb(252, 252, 160); }
.default #preview, .default #smileys, .default #navigation, .extra #messages, .extra #paging { display: none; }
.extra #preview, .extra #smileys, .extra #navigation, .default #messages, .default #paging { display: block; }
.idle { opacity: 0.5; }
body { border: 0pt none ; margin: 0pt; padding: 0pt; overflow: hidden; text-align: center; width: 100%; height: 100%; }
* html body { padding: 11em 0pt 3px; }
#shoutbox { width: 100%; height: 100%; }
#info { padding: 3px 5px; text-align: left; position: absolute; top: 0pt; right: 0pt; left: 0pt; }
#control { margin: 0pt; padding: 0pt; position: absolute; top: 1.8em; right: 0pt; left: 0pt; height: 9.4em; }
#contents { margin: 0pt; padding: 0pt; overflow: auto; position: fixed; top: 11em; right: 3px; bottom: 3px; left: 3px; }
* html #contents { margin: 0pt auto; width: 96%; height: 100%; }
#info li { display: inline; }
#info .icon a:link, #info .icon a:visited, #info .icon a:active { color: rgb(128, 188, 0); }
#info li.icon { float: right; }
#info li.text { overflow: hidden; display: block; height: 1.2em; }
#control h2 { margin: 0pt 3px 2px; padding: 2px; font-size: 7pt; font-weight: normal; line-height: 7pt; color: rgb(153, 153, 153); background-color: rgb(246, 246, 246); }
#control h2 a { text-decoration: underline; }
#control ul { line-height: 8pt; }
#form ol { margin: 0pt; padding: 0pt 5px; }
#form ol li { display: inline; }
label { margin: 1px 0pt 0pt 1px; padding: 2px 0pt; text-align: left; clear: both; float: left; width: auto; }
label:after { content: ':'; }
input, select { border: 0pt none ; color: rgb(0, 0, 0); background-color: rgb(234, 234, 234); }
.input { text-align: right; }
.input input, .input select { border: 1px solid rgb(204, 204, 204); margin: 1px 0pt 0pt 2px; float: right; width: 60%; }
input[disabled] { color: rgb(102, 102, 102); }
.control { margin: 3px; padding: 0pt 0pt 0pt 2px; text-align: right; }
.load .control { background-image: url('normal.gif'); background-position: left center; background-repeat: no-repeat; }
.active .control { background-image: url('load.gif'); }
#refresh { padding: 1px; color: rgb(153, 153, 153); float: left; }
.load #refresh { padding-left: 13px; }
#options { padding: 0pt; width: 1.6em; }
#contents { border: 1px solid rgb(204, 204, 204); }
#preview { border: 1px solid rgb(204, 204, 204); margin: 5px; padding: 2px; text-align: left; background-color: rgb(246, 246, 246); display: block; cursor: text; }
#preview:before, #preview:after { content: ''; }
#messages li { margin: 0pt 0pt 2px; padding: 5px; text-align: left; background-color: rgb(246, 246, 246); list-style-type: none; }
#messages cite { font-style: normal; font-weight: bold; text-align: left; }
#messages cite:after { content: ':'; }
#messages cite a { text-decoration: underline; }
#messages q { padding: 0pt; text-align: left; }
#messages q:before, #messages q:after { content: ''; }
#messages q a { text-decoration: underline; }
#messages q a:before { content: '['; }
#messages q a:after { content: ']'; }
#messages .option { font-size: 7pt; text-transform: capitalize; color: rgb(153, 153, 153); }
#messages dl { margin: 2px 0pt 0pt; font-size: 7pt; text-align: right; color: rgb(153, 153, 153); }
#messages dd { margin: 0pt; padding: 0pt; display: inline; }
#messages dd.status { cursor: help; }
#messages .online dd.status, #messages .ip dd.status { font-weight: bold; color: rgb(128, 188, 0); }
#messages .admin cite { border-bottom: 1px dotted rgb(128, 188, 0); }
#messages li.admin dl { border-left: 3px solid rgb(128, 188, 0); }
#smileys { margin: 5px 0pt 0pt; padding: 0pt 3px; }
#smileys li { padding: 3px; display: inline; }
#smileys img { cursor: pointer; }
#smileys code { display: none; }
#smileys.full li { margin: 0pt; padding: 2px 0pt; overflow: hidden; text-align: center; list-style-type: none; float: left; width: 40px; height: 40px; }
#smileys.full code { margin: 0pt; font-size: 7pt; display: block; }
#navigation, #paging { margin: 0pt; padding: 5px; overflow: hidden; font-size: 7pt; clear: both; }
#navigation dd, #paging dd { margin: 0pt; padding: 0pt; }
#navigation dd { margin: 2px 0pt; padding: 3px 0pt; background-color: rgb(246, 246, 246); }
#navigation strong, #paging strong { background-color: rgb(246, 246, 246); }
#notice { padding: 5px; text-align: left; }
#notice p { margin-bottom: 10px; }
#notice p a { text-decoration: underline; }
#online { padding: 5px; text-align: left; }
#online ul { margin: 5px 0pt 10px; }
#online ul li { list-style-type: square; list-style-position: inside; }
#online p { padding: 3px; font-size: 7pt; background-color: rgb(246, 246, 246); }
#online span { cursor: help; }
html {  }
