body { background-color: rgb(153, 102, 153); }
font, th, td, p { font-family: Verdana,Arial,Helvetica,sans-serif; }
a:link, a:active, a:visited { color: rgb(0, 102, 153); }
a:hover { text-decoration: underline; color: rgb(221, 105, 0); }
hr { border-style: solid; border-color: rgb(209, 215, 220); border-width: 1px 0px 0px; height: 0px; }
.bodyline { border: 1px solid rgb(152, 170, 177); background-color: rgb(255, 255, 255); }
.forumline { border: 2px solid rgb(0, 102, 153); background-color: rgb(255, 255, 255); }
td.row1 { background-color: rgb(239, 239, 239); }
td.row2 { background-color: rgb(222, 227, 231); }
th { color: rgb(255, 163, 79); font-size: 11px; font-weight: bold; background-color: rgb(0, 102, 153); height: 25px; background-image: url('cellpic3.gif'); }
td.cat, td.catHead, td.catSides, td.catLeft, td.catRight, td.catBottom { border: medium solid rgb(255, 255, 255); background-image: url('cellpic1.gif'); background-color: rgb(209, 215, 220); height: 28px; }
td.cat, td.catHead, td.catBottom { border-width: 0px; height: 29px; }
th.thHead, th.thSides, th.thTop, th.thLeft, th.thRight, th.thBottom, th.thCornerL, th.thCornerR { border: medium solid rgb(255, 255, 255); font-weight: bold; height: 28px; }
td.row3Right, td.spaceRow { border: medium solid rgb(255, 255, 255); background-color: rgb(209, 215, 220); }
th.thHead, td.catHead { border-width: 1px 1px 0px; font-size: 12px; }
th.thSides, td.catSides, td.spaceRow { border-width: 0px 1px; }
th.thRight, td.catRight, td.row3Right { border-width: 0px 1px 0px 0px; }
th.thLeft, td.catLeft { border-width: 0px 0px 0px 1px; }
th.thBottom, td.catBottom { border-width: 0px 1px 1px; }
.maintitle { font-weight: bold; font-size: 22px; font-family: "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif; text-decoration: none; line-height: 120%; color: rgb(0, 0, 0); }
.gen { font-size: 12px; }
.genmed { font-size: 11px; }
.gensmall { font-size: 10px; }
.gen, .genmed, .gensmall { color: rgb(0, 0, 0); }
.mainmenu { font-size: 11px; color: rgb(0, 0, 0); }
a.mainmenu { text-decoration: none; color: rgb(0, 102, 153); }
a.mainmenu:hover { text-decoration: underline; color: rgb(221, 105, 0); }
.nav { font-weight: bold; font-size: 11px; color: rgb(0, 0, 0); }
a.nav { text-decoration: none; color: rgb(0, 102, 153); }
a.nav:hover { text-decoration: underline; }
.name { font-size: 11px; color: rgb(0, 0, 0); }
.postdetails { font-size: 10px; color: rgb(0, 0, 0); }
.postbody { font-size: 12px; line-height: 18px; }
.quote { border: 1px solid rgb(209, 215, 220); font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(68, 68, 68); line-height: 125%; background-color: rgb(250, 250, 250); }
.copyright { font-size: 10px; font-family: Verdana,Arial,Helvetica,sans-serif; color: rgb(68, 68, 68); letter-spacing: -1px; }
a.copyright { color: rgb(68, 68, 68); text-decoration: none; }
a.copyright:hover { color: rgb(0, 0, 0); text-decoration: underline; }
input, textarea, select { border-color: rgb(0, 0, 0); color: rgb(0, 0, 0); font-family: Verdana,Arial,Helvetica,sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 11px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
input.post, textarea.post, select { background-color: rgb(255, 255, 255); }
input { text-indent: 2px; }
input.liteoption { background-color: rgb(250, 250, 250); font-weight: normal; }
