
/* ::::: http://dreamland.blog.51cto.com/css/skin/2.css ::::: */

html { border: 0pt none ; overflow-y: scroll; }
body { margin: 0pt; padding: 0pt; font-family: Verdana,Arial,Helvetica,"宋体",sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
body > table, body > div { margin-left: auto; margin-right: auto; clear: both; }
form, div, img, td, dl, dt, dd, h1, h2, h3, h4 { border: 0pt none ; margin: 0pt auto; padding: 0pt; }
b, strong { font-weight: bold; }
table, input, textarea, select { color: rgb(51, 51, 51); font-family: Verdana,Arial,Helvetica,"宋体",sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
h1 { font-size: 18px; }
h1.subject { text-align: center; }
.act_div { background: rgb(221, 221, 221) none repeat scroll 0% 0%; width: 150px; }
a { text-decoration: none; }
a:hover { color: red; text-decoration: underline; }
a:focus { outline-style: none; }
textarea { border: 1px solid rgb(204, 204, 204); padding: 2px; background-color: white; }
select { border: 1px solid rgb(204, 204, 204); background-color: white; }
input.text { border: 1px solid rgb(204, 204, 204); height: 18px; line-height: 16px; background-color: white; }
input.button { border: 1px solid rgb(204, 204, 204); padding: 0px 5px; height: 20px; line-height: 18px; background-color: white; cursor: pointer; }
input.button-submit { border: 1px solid rgb(204, 204, 204); padding: 0px 5px; height: 20px; line-height: 18px; background-color: white; cursor: pointer; color: red; }
.targeter { border: 1px dashed red; padding: 2px; background: transparent none repeat scroll 0% 0%; }
.clear { border-top: 1px solid transparent ! important; margin-top: -1px ! important; clear: both; visibility: hidden; }
.clearfix:after { content: "."; display: block; height: 0pt; clear: both; visibility: hidden; }
* html > body .clearfix { display: inline-block; width: 100%; }
* html .clearfix { height: 1%; }
* + html .clearfix { min-height: 1%; }
#innerWrapper { width: 1000px; }
a { color: rgb(0, 0, 0); line-height: 1.5em; }
a:hover { color: red; text-decoration: underline; }
#topPadding { height: 5px; line-height: 1px; display: none; }
#wrapper { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#innerWrapper { background: rgb(229, 229, 229) none repeat scroll 0% 0%; }
#header { margin: 0px; padding: 0px; height: 150px; background-image: url('top_bg.jpg'); }
#innerHeader { padding: 0px; background-repeat: no-repeat; background-position: center center; height: 150px; }
#blogTitle { padding-top: 20px; height: 50px; padding-left: 30px; }
#blogTitle a, #blogTitle input { color: rgb(0, 0, 0); font-size: 20px; font-weight: bold; line-height: 1.6em; text-decoration: none; padding-top: 30px; }
#blogDesc { margin: 10px 0px 0px 40px; padding: 0px; color: rgb(0, 0, 0); font-size: 14px; }
#blogDesc a { color: rgb(0, 0, 0); }
#head_right { width: 30%; float: right; font-size: 12px; text-align: right; font-weight: normal; margin-top: 20px; margin-right: 50px; padding-top: 20px; }
#head_right a {  }
#head_right .sign { color: rgb(0, 0, 0); float: right; height: 17px ! important; width: 61px; padding-top: 3px; margin-right: 10px; text-align: center; }
.top_bottom_left { margin-top: 28px ! important; margin-left: 20px; float: left; width: 8%; }
.top_bottom_right { margin-top: 28px ! important; margin-right: 20px; float: right; width: 83%; text-align: right; }
.top_message { padding-top: 4px; width: 120px; color: rgb(255, 0, 0); float: right; }
.top_message a { color: rgb(255, 0, 0); }
.top_link { width: 70px; height: 18px ! important; padding-top: 4px; margin-left: 6px; text-align: center; color: rgb(0, 0, 0); float: right; background-image: url('top_button.gif'); }
.top_link a { color: rgb(0, 0, 0); }
#navBar a:link { color: rgb(255, 255, 255); font-size: 12px; text-decoration: none; }
#navBar { border: medium none ; margin: 0px; padding: 0px; background: rgb(0, 0, 0) none repeat scroll 0% 0%; height: 36px; }
#innerNavBar { border: medium none ; padding: 10px 20px 0px; background: rgb(0, 0, 0) none repeat scroll 0% 0%; }
#neckWrapper { background: transparent none repeat scroll 0% 0%; display: none; }
#innerNeckWrapper { background: transparent none repeat scroll 0% 0%; display: none; }
#mainWrapper { border: medium none ; padding: 0px; background: rgb(229, 229, 229) none repeat scroll 0% 0%; }
#innerMainWrapper { border: medium none ; margin: 0px; padding: 0px 10px 0px 0px; }
.uservisit { border: 1px solid rgb(204, 204, 204); margin: 3px; float: left; width: 82px; height: 82px; text-align: center; vertical-align: bottom; background-color: rgb(238, 238, 238); }
.userdir { color: rgb(255, 255, 255); float: left; width: 100%; vertical-align: bottom; }
.userdir a { color: rgb(255, 255, 255); }
.tempDIV { position: absolute; cursor: move; z-index: 10; }
.mod { margin: 5px 6px 10px 5px; float: right; }
.modgroup { margin: 5px 6px 5px 5px; }
#content img { max-width: 650px ! important; }
#contentlist img { max-width: 450px ! important; }
#content a { text-decoration: underline; }
.lastvisit { max-width: 72px ! important; max-height: 58px ! important; }
#userface { max-width: 160px ! important; }
.mod1 { width: 0px; height: 0px; }
.sidebar { margin: 5px 5px 5px 6px; }
.sidebar1 { margin: 5px 10px 5px 5px; }
.modFrame { border: medium none ; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.modTable { margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; height: 24px; }
#col_2 .modTable { margin: 0px; padding: 0px; }
.mod tbody {  }
#tooltip { border: 3px solid rgb(238, 238, 238); background: white none repeat scroll 0% 0%; position: absolute; z-index: 2000; }
#tooltip .mod { background: transparent none repeat scroll 0% 0%; }
#tooltip .modFrame { border: 1px solid rgb(204, 204, 204); padding: 5px; background: transparent none repeat scroll 0% 0%; overflow: hidden; }
#tooltip .modFrame, #tooltip .modFrame div { background: transparent none repeat scroll 0% 0%; color: rgb(51, 51, 51); }
.mod .mheader { border: medium none ; padding-top: 0px; height: 30px; }
.nouse { border: 1px solid rgb(204, 204, 204); margin-bottom: 6px; }
.nouse li { list-style-type: none; list-style-image: none; list-style-position: outside; }
.lt { float: left; background-image: url('left_bg.jpg'); background-repeat: no-repeat; background-position: left top; width: 14px; height: 30px; }
.t { border: medium none ; padding: 0px; height: 30px; background-image: url('bg.jpg'); }
.modHeader { padding-top: 8px; height: 20px; }
.rt { float: right; background-image: url('right_bg.jpg'); background-repeat: no-repeat; background-position: right top; width: 14px; height: 30px; }
.mod .mneck {  }
.mod .ec {  }
.mod .modEditCon { border: medium none ; background-color: rgb(233, 232, 217); background-image: none; }
.mod .mbody { border: medium none ; background: transparent none repeat scroll 0% 0%; }
.l { background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 100%; }
.c { background-color: rgb(255, 255, 255); }
.mod .modCon { overflow: hidden; }
.r { background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 100%; }
.mod .mfooter {  }
.mod .lb { background: transparent none repeat scroll 0% 0%; height: 16px; width: 5px; }
.mod .b { background: transparent none repeat scroll 0% 0%; }
.mod .rb { background: transparent none repeat scroll 0% 0%; }
#footer { border: medium none ; clear: both; }
#innerFooter { color: rgb(0, 0, 0); margin-top: 10px; }
#contact { margin: 20px 0px 0px; color: rgb(0, 0, 0); padding-top: 6px; padding-bottom: 6px; }
#contact a { color: rgb(0, 0, 0); }
#powered { margin: 0px; padding-top: 6px; padding-bottom: 6px; }
#copyright { margin: 0px; color: rgb(0, 0, 0); padding-top: 6px; padding-bottom: 6px; }
.addarticle { float: right; text-align: right; width: 10%; }
#banner51cto { padding: 2px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 990px; height: 36px ! important; }
#blogtopart { margin-top: 3px; margin-left: 10px; }
.user_login { border: 0px none ; background: transparent url('user_login.gif') repeat scroll 0% 0%; width: 135px; height: 26px; }
.user_login { border: 0px none ; background: transparent url('user_login.gif') repeat scroll 0% 0%; width: 135px; height: 26px; }
ul, li { margin: 0px; padding: 0px; list-style-type: none; list-style-image: none; list-style-position: outside; }
.wd { padding: 5px; background: transparent url('wd_bg.gif') no-repeat scroll 0% 0%; width: 285px; height: 166px; top: 32px; left: 12%; position: absolute; }
.wd1 { border: 1px solid rgb(199, 199, 199); width: 279px; height: 160px; background-color: rgb(255, 255, 255); }
.wd_tit { margin: 7px auto; background: transparent url('wd_bg1.gif') no-repeat scroll 0% 0%; width: 265px; height: 28px; }
.wd_l { margin: 10px 0pt 0pt 10px; background: transparent url('wd_go.gif') no-repeat scroll 0% 0%; width: 190px; height: 12px; float: left; padding-left: 28px; }
* html .wd_l { margin: 10px 0pt 0pt 5px; }
* + html .wd_l { margin: 10px 0pt 0pt 10px; }
.wd_l span { font-weight: bold; }
.wd_r { padding: 8px 8px 0pt 0pt; width: 15px; height: 14px; float: right; }
.wd_list { margin: 6px auto 0pt; width: 265px; height: 116px; }
.wd_list_l { width: 84px; float: left; }
.wd_list_t { padding: 12px 0pt 0pt 15px; background: transparent url('wd_list_bg1.gif') no-repeat scroll 0% 0%; width: 69px; height: 14px; font-weight: bold; margin-bottom: 1px; }
.wd_list_t a { color: rgb(76, 122, 176); text-decoration: none; }
.wd_list_t a:visited { color: rgb(76, 122, 176); text-decoration: none; }
.wd_list_t a:hover { text-decoration: underline; color: rgb(204, 0, 0); }
.wd_list_t1 { padding: 12px 0pt 0pt 15px; background: transparent url('wd_list_bg2.gif') no-repeat scroll 0% 0%; width: 69px; height: 14px; font-weight: bold; margin-bottom: 1px; }
.wd_list_t1 a { color: rgb(76, 122, 176); text-decoration: none; }
.wd_list_t1 a:visited { color: rgb(76, 122, 176); text-decoration: none; }
.wd_list_t1 a:hover { text-decoration: underline; color: rgb(204, 0, 0); }
.wd_list_li { padding: 8px 7px 0pt; background: transparent url('wd_list_bg3.gif') no-repeat scroll 0% 0%; width: 70px; height: 76px; line-height: 24px; }
.wd_list_li a { margin: 1px 0pt; padding: 6px 16px 5px 6px; color: rgb(116, 116, 116); text-decoration: none; }
.wd_list_li a:visited { margin: 1px 0pt; padding: 6px 16px 5px 6px; color: rgb(116, 116, 116); text-decoration: none; }
.wd_list_li a:hover { background: transparent url('wd_list_bg4.gif') no-repeat scroll 0% 0%; text-decoration: underline; color: rgb(204, 0, 0); }
.wd_list_m { width: 84px; float: left; margin-left: 6px; }
.wd_list_r { width: 84px; float: right; }
.hot_art { height: 18px; color: rgb(238, 17, 0); padding-top: 3px; padding-left: 4px; padding-right: 4px; }
#keyword { border: 1px solid rgb(255, 0, 0); width: 90px; height: 14px; }
#blogtopart a { color: rgb(0, 0, 0); }
#blogtopart a:hover { color: rgb(53, 56, 64); }
#blogso { margin-top: 0px ! important; margin-left: 2px; width: 44px ! important; float: right; }
#blogsotext { width: 94px ! important; float: right; }
#blogword { margin-top: 2px; width: 145px; float: right; }
#head a { color: rgb(0, 0, 0); }
#domain { width: 50%; float: left; text-align: left; font-size: 20px; }
#head_demain { width: 38%; float: left; text-align: left; font-size: 12px; }
#head_left { width: 100%; float: left; text-align: left; font-weight: bold; }
#head_right_link { width: 60%; float: right; font-size: 11px; text-align: right; font-weight: normal; }
#headlogo { margin: auto; width: 100%; height: 100px; }
#dir { margin: auto; padding: 3px; background: rgb(77, 77, 77) url('untitled') repeat scroll 0% 0%; width: 97%; text-align: left; color: rgb(255, 255, 255); }
#dir a { color: rgb(255, 255, 255); }
#body { margin: auto; background: transparent url() repeat scroll 0% 0%; width: 96%; color: rgb(0, 0, 0); text-align: left; }
#list { padding-top: 10px; float: left; font-weight: normal; color: rgb(255, 255, 255); text-align: left; }
#title { border-bottom: 1px solid rgb(204, 204, 204); padding: 6px; width: 92%; height: 28px; color: rgb(255, 255, 255); text-align: left; vertical-align: middle; }
#title a { color: rgb(255, 255, 255); }
#title .subject { color: rgb(0, 0, 0); font-size: 14px; font-weight: bold; }
.title { border-bottom: 1px dotted rgb(204, 204, 204); padding: 3px; height: 20px; color: rgb(0, 0, 0); text-align: left; vertical-align: middle; table-layout: fixed; }
.posttime { width: 94%; margin-left: 10px; margin-right: 10px; text-align: right; }
#content { width: 94%; line-height: 1.8; margin-left: 10px; margin-right: 10px; color: rgb(0, 0, 0); text-align: left; }
#contentlist { width: 94%; line-height: 1.8; margin-left: 10px; margin-right: 10px; color: rgb(0, 0, 0); text-align: left; }
.side_head { font-size: 12px; color: rgb(0, 0, 0); font-weight: bold; height: 21px; }
.side_left { font-size: 12px; text-align: left; color: rgb(255, 255, 255); }
.side_center { overflow: hidden; font-size: 12px; text-align: center; color: rgb(255, 255, 255); }
.side_sinfo { padding: 10px; overflow: hidden; text-align: left; font-size: 12px; line-height: 1.8; width: 90%; }
.side_sinfo li { margin: 0px; padding: 0px; }
.related { width: 48%; float: left; }
.side_cal { font-size: 12px; text-align: center; color: rgb(255, 255, 255); }
.side_user { overflow: hidden; text-align: left; width: 100%; padding-top: 1px; padding-bottom: 1px; font-size: 12px; color: rgb(255, 255, 255); }
#side .xml { border: 1px solid rgb(140, 142, 123); background: rgb(255, 255, 255) none repeat scroll 0% 0%; font-family: Tahoma,Verdana; }
#side .xml a { color: rgb(255, 255, 255); }
#side .xml_1 { background: rgb(255, 101, 0) none repeat scroll 0% 0%; font-size: 7pt; color: rgb(255, 255, 255); }
#side .xml_2 { background: rgb(140, 142, 123) none repeat scroll 0% 0%; font-size: 7pt; color: rgb(255, 255, 255); }
.side_content { overflow: hidden; }
#article .subject { margin-top: 10px; font-size: 18px; font-weight: bold; text-align: center; }
.content { overflow: hidden; font-size: 12px; width: 96%; color: rgb(0, 0, 0); line-height: 1.8; }
#tool { border-bottom: 1px dashed rgb(204, 204, 204); padding: 3px; width: 94%; color: rgb(0, 0, 0); height: 20px; }
#tool a {  }
.itcomment { padding: 10px; line-height: 1.6; color: rgb(64, 64, 61); }
.commentcontent { margin: 10px; }
#gbook { border: 1px solid rgb(255, 255, 255); padding: 5px; background: rgb(94, 94, 94) none repeat scroll 0% 0%; width: 73%; float: left; font-weight: normal; }
#g_content { border-bottom: 1px dashed rgb(255, 255, 255); padding: 3px; background: rgb(94, 94, 94) none repeat scroll 0% 0%; }
#g_content .subject { color: rgb(255, 255, 255); }
#g_content .content { color: rgb(255, 255, 255); }
#g_reply { border: 1px dashed rgb(255, 255, 255); padding: 3px; margin-left: 20px; width: 90%; }
#g_reply .subject { color: rgb(255, 255, 255); }
#g_reply .content { color: rgb(255, 255, 255); }
#reply_box { border: 1px dashed rgb(204, 204, 204); margin: 10px; }
#footer { border-top: 3px solid rgb(0, 0, 0); height: 84px; text-align: center; background-image: url('foot.jpg'); color: rgb(0, 0, 0); }
#footer a { color: rgb(0, 0, 0); }
.line { background: transparent url('dot.gif') repeat-x scroll 0% 0%; height: 1px; }
.plusfile { border: 1px dashed rgb(153, 153, 153); margin: 10px; padding: 10px; }
.copy { border: 1px dashed rgb(188, 188, 188); margin: 10px; padding: 4px; letter-spacing: 1px; line-height: 20px; font-size: 12px; color: rgb(136, 136, 136); }
a.hidden:link { display: none; }
a.hidden:visited { display: none; }
a.hidden:hover { display: none; }
a.hidden:active { display: none; }
.hidden { display: none; }
.sun_div { cursor: pointer; }
a.editorlink { color: rgb(43, 88, 163); text-decoration: underline; }
a.operlink:link { color: rgb(0, 160, 255); text-decoration: underline; }
a.operlink:visited { color: rgb(0, 160, 255); text-decoration: underline; }
a.operlink:hover { color: rgb(96, 192, 255); text-decoration: underline; }
a.operlink:active { color: rgb(96, 192, 255); text-decoration: underline; }
a.ffa { color: rgb(0, 0, 0); text-decoration: underline; }
a.ffb { color: rgb(217, 92, 0); text-decoration: underline; }
a.ffc { color: rgb(0, 0, 0); font-size: 14px; text-decoration: none; }

/* ::::: http://dreamland.blog.51cto.com/css/group/group.css ::::: */

h5 { border-bottom: 1px solid rgb(170, 170, 170); }
.gjoin { color: rgb(153, 153, 153); }
.group_wd { color: rgb(119, 119, 119); }
.group_or { color: rgb(240, 96, 0); }
a.gname:link { font-size: 14px; color: rgb(16, 64, 160); text-decoration: none; }
a.gname:visited { font-size: 14px; text-decoration: none; color: rgb(16, 64, 160); }
a.gname:hover { font-size: 14px; text-decoration: underline; color: rgb(16, 80, 176); }
a.gname:active { font-size: 14px; text-decoration: none; color: rgb(16, 64, 160); }
a.group_op:link { color: rgb(240, 0, 0); text-decoration: none; }
a.group_op:visited { text-decoration: none; color: rgb(240, 0, 0); }
a.group_op:hover { text-decoration: underline; color: rgb(222, 0, 0); }
a.group_op:active { text-decoration: none; color: rgb(222, 0, 0); }
a.font_addmod:link { color: rgb(255, 255, 255); text-decoration: none; }
a.font_addmod:visited { text-decoration: none; color: rgb(255, 255, 255); }
a.font_addmod:hover { text-decoration: underline; color: rgb(255, 255, 255); }
a.font_addmod:active { text-decoration: none; color: rgb(255, 255, 255); }
a.grouplink:link { color: rgb(0, 0, 0); text-decoration: none; }
a.grouplink:visited { text-decoration: none; color: rgb(0, 0, 0); }
a.grouplink:hover { text-decoration: underline; color: rgb(255, 0, 0); }
a.grouplink:active { text-decoration: none; color: rgb(0, 0, 0); }

/* ::::: null ::::: */

#layout_0 { float: left; }
#layout_1 { float: left; }
#layout_3 { float: left; }
.albumalert { border: 1px solid rgb(119, 119, 119); background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 250px; height: 150px; }
.alerttitle { padding: 6px; text-align: left; color: rgb(0, 0, 0); background-image: url('quickwindow.jpg'); background-repeat: repeat-x; font-size: 14px; height: 22px; }
.alertcentent { line-height: 30px; }
.alertcentent p { color: rgb(0, 0, 0); }
#fixed { position: fixed; top: 120px; right: 180px; }
