/* ::::: http://mirlab.org/jang/books/common/my.css ::::: */

BODY { margin: 1em 15px 1em 20px; background: rgb(240, 240, 240) none repeat scroll 0% 0%; color: black; }
BODY { font: 12pt/140% Tahoma,Arial; }
A { color: rgb(0, 128, 255); text-decoration: none; }
A:hover { color: blue; text-decoration: underline; }
.code { background-color: rgb(216, 216, 216); font: 10pt/120% 細明體; }
.txtH1 { font: bold 16pt Tahoma; background-color: rgb(192, 0, 0); color: white; border-width: 2px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: rgb(255, 128, 128) rgb(128, 0, 0) rgb(128, 0, 0) rgb(255, 128, 128); padding: 1px; }
