
/* ::::: http://blog.udn.com/community/img/css/layout_grey.css ::::: */

div, table { color: rgb(51, 51, 51); font-size: 12px; }
#header { height: 140px; margin-bottom: 10px; }
#header_top { background: rgb(23, 23, 23) none repeat scroll 0% 0%; position: absolute; height: 2px; }
#header_top, #header_common_left, #header_common_main, #header_common_main_bg, #header_common_line, #header_common_right { visibility: visible; }
#header_common a { color: rgb(255, 255, 255); text-decoration: none; }
.chapter { border: 1px solid rgb(179, 179, 179); width: 100%; background-color: rgb(250, 250, 250); }
.chapter-point { color: rgb(102, 102, 102); }
.chapter-line { background-color: rgb(204, 204, 204); }
.chapter-text, a.chapter-text:link, a.chapter-text:hover, a.chapter-text:visited { color: rgb(77, 77, 77); }
#header a:link, #header a:visited { text-decoration: none; }
#header a:hover { text-decoration: underline; }
#header_logo { position: absolute; left: 10px; top: 59px; }
#header_name { position: absolute; left: 10px; top: 32px; color: rgb(0, 0, 0); font-size: 18px; font-weight: bold; }
#header_name a { color: rgb(0, 0, 0); }
#header_url { position: absolute; left: 40px; top: 59px; }
#header_url a:link, a:visited { color: rgb(153, 153, 153); }
#header_url a:hover { color: rgb(102, 102, 102); }
#header_items { position: absolute; left: 60px; top: 76px; }
#header_items a { color: rgb(102, 102, 102); }
#header_items a:hover { color: rgb(51, 51, 51); }
#header_search { position: absolute; left: 560px; top: 70px; }
.inputbox { border: 1px solid rgb(128, 128, 128); }
#header_menus_line { border-top: 1px solid rgb(153, 153, 153); position: absolute; left: 0px; top: 100px; width: 100%; }
#header_menus { position: absolute; left: 0px; top: 100px; margin-top: 10px; }
#header_menus ul { margin: 0px; list-style-type: none; list-style-image: none; list-style-position: outside; padding-left: 35px; }
#header_menus li { display: inline; height: 30px; padding-top: 3px; padding-right: 50px; }
#home { background: transparent url('menu_article_h.gif') no-repeat scroll left top; }
#article { background: transparent url('menu_article_h.gif') no-repeat scroll left top; }
#photo { background: transparent url('menu_photo_h.gif') no-repeat scroll left top; }
#gbook { background: transparent url('menu_guestbook_h.gif') no-repeat scroll left top; }
#profile { background: transparent url('menu_detail_h.gif') no-repeat scroll left top; }
#manage { background: transparent url('menu_manage_h.gif') no-repeat scroll left top; }
#header_menus li a { color: rgb(51, 51, 51); font-size: 13px; padding-left: 18px; }
#header_menus a:hover { color: rgb(0, 0, 0); }
#sidebar { float: left; }
#sidebar table { margin: auto ! important; position: relative ! important; }
.sidebar-bg { background-color: rgb(153, 153, 153); }
.sidebar-panel-bg { background-color: rgb(229, 229, 229); }
#content { float: left; }
#content .main-topic { color: rgb(0, 0, 0); font-weight: bold; }
#content a.main-topic:link { color: rgb(0, 0, 0); text-decoration: none; font-weight: bold; }
#content a.main-topic:visited { color: rgb(0, 0, 0); text-decoration: none; font-weight: bold; }
#content .main-title { color: rgb(51, 51, 51); }
#content a.main-title:link, #content a.main-title:visited { text-decoration: none; }
#content a.main-title:hover { color: rgb(0, 0, 0); }
#content .main-text { color: rgb(77, 77, 77); }
#content a.main-text:link, #content a.main-text:visited { color: rgb(77, 77, 77); text-decoration: none; }
#content a.main-text:hover { color: rgb(26, 26, 26); }
.photo_album { background: transparent url('photo_album.gif') no-repeat scroll 0% 0%; width: 140px; height: 140px; text-align: center; vertical-align: middle; }
#photo_album_list { margin: 0px; padding: 0px; list-style-type: none; list-style-image: none; list-style-position: outside; }
#photo_album_list li { margin: auto; padding: 5px 20px; display: inline; float: left; width: 140px; height: 280px; table-layout: fixed; }
.photo_picture { background: transparent url('photo_picture.gif') no-repeat scroll 0% 0%; width: 140px; height: 144px; text-align: center; vertical-align: middle; }
#photo_picture_list { margin: 0px; padding: 0px; list-style-type: none; list-style-image: none; list-style-position: outside; }
#photo_picture_list li { margin: auto; padding: 5px 3px; display: inline; float: left; width: 140px; height: 240px; table-layout: fixed; }
.gbook-title { padding: 10px 10px 0px; color: rgb(255, 255, 255); background-color: rgb(179, 179, 179); }
.gbook-content { margin: 10px; padding: 5px 10px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); }
.gbook-bg { background-color: rgb(179, 179, 179); }

/* ::::: http://blog.udn.com/community/img/css/grey.css ::::: */

body { margin: 0px; padding: 0px; background-color: rgb(242, 242, 242); }
hr { border: 1px dotted rgb(77, 77, 77); height: 1px; }
.font-size10 { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 10px; line-height: 150%; text-decoration: none; }
.font-size11 { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 11px; line-height: 150%; text-decoration: none; }
.font-size12 { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 12px; line-height: 150%; text-decoration: none; }
.font-size13 { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 13px; line-height: 150%; text-decoration: none; }
.font-size15 { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 15px; line-height: 150%; text-decoration: none; }
.font-size19 { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 19px; line-height: 150%; text-decoration: none; }
.no-nl { table-layout: fixed; }
.nav { color: rgb(77, 77, 77); }
.nav-01, .nav-02, .nav-03, .nav-04 { color: rgb(255, 255, 255); padding-right: 5px; padding-left: 5px; }
.nav-01 { background-color: rgb(153, 153, 153); }
.nav-02 { background-color: rgb(128, 128, 128); }
.nav-03 { background-color: rgb(102, 102, 102); }
.nav-04 { background-color: rgb(77, 77, 77); }
.city-name { color: rgb(0, 0, 0); font-weight: bold; }
.city-text { color: rgb(128, 128, 128); }
.menus-bg { background-image: url('menus_bg.gif'); color: rgb(51, 51, 51); }
.menus-bg-over { background-image: url('menus_bg_over.gif'); color: rgb(255, 255, 255); }
.menus-bg-na { background-image: url('menus_bg_na.gif'); color: rgb(128, 128, 128); }
.menus-top { background-color: rgb(102, 102, 102); }
.menus-top-left { background-color: rgb(102, 102, 102); width: 5px; height: 23px; }
.menus-line { background-color: rgb(128, 128, 128); }
.panel-bg { background-color: rgb(229, 229, 229); }
.panel-bg1 { background-color: rgb(242, 242, 242); }
.panel-line { background-color: rgb(128, 128, 128); }
.panel-topic { font-weight: bold; color: rgb(51, 51, 51); }
.panel-text { color: rgb(102, 102, 102); table-layout: fixed; }
.main-topic { color: rgb(0, 0, 0); font-weight: bold; }
.news-title { background-color: rgb(204, 204, 204); }
.bar { background-color: rgb(128, 128, 128); }
.bar-title { font-weight: bold; color: rgb(255, 255, 255); }
.table-bar-over { background-color: rgb(241, 241, 241); }
.table-bar-out { background-color: rgb(255, 255, 255); }
.main-data { color: rgb(128, 128, 128); }
.main-text { color: rgb(77, 77, 77); }
.main-title { color: rgb(51, 51, 51); }
.main-more { font-weight: bold; color: rgb(255, 255, 255); position: relative; top: 2px; left: 78px; }
.font-size { padding: 3px; color: rgb(26, 26, 26); }
.font-size-over { padding: 3px; color: rgb(255, 255, 255); background-color: rgb(128, 128, 128); text-decoration: none; }
.inputs { border: 1px solid rgb(102, 102, 102); color: rgb(26, 26, 26); font-size: 12px; }
.inputs-manage { border: 1px solid rgb(102, 102, 102); color: rgb(255, 0, 0); font-size: 12px; }
.forums-menus { background-color: rgb(255, 255, 255); }
.forums-menus-on { background-color: rgb(153, 153, 153); }
.forums-msnus-text { color: rgb(255, 255, 255); font-weight: bold; }
.forums-msnus-desc { color: rgb(255, 255, 255); text-decoration: none; }
.calendar-date { font-weight: bold; color: rgb(51, 51, 51); }
.calendar-date-w { font-weight: bold; color: rgb(255, 255, 255); }
.calendar-date-h { font-weight: bold; color: rgb(229, 23, 23); }
.calendar-h { color: rgb(229, 23, 23); }
.calendar-w { color: rgb(255, 255, 255); }
.block-top-city { background-image: url('block_top.gif'); background-repeat: no-repeat; }
.block-top-user { background-image: url('block_top_001.gif'); background-repeat: no-repeat; }
.manage { color: rgb(255, 0, 0); text-decoration: underline; }
.chapter { border: 1px solid rgb(179, 179, 179); width: 100%; background-color: rgb(241, 241, 241); }
.desc { border: 1px solid rgb(77, 77, 77); width: 100%; background-color: rgb(255, 255, 236); }
.img-border { border: 1px solid rgb(0, 0, 0); }
.time { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 11px; text-decoration: none; color: rgb(102, 102, 102); table-layout: fixed; }
.header-top { background-color: rgb(77, 77, 77); }
.msg-bar { border: medium none ; background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); text-decoration: none; }
.ch { border: 1px solid rgb(179, 179, 179); background-color: rgb(248, 248, 248); }
a.city-text1:hover { color: rgb(0, 0, 0); }
a.city-text2:hover { color: rgb(77, 77, 77); }
a.panel-text:hover { color: rgb(51, 51, 51); }
a.main-text:hover { color: rgb(26, 26, 26); }
a.main-title:hover { color: rgb(0, 0, 0); }
a.nav:link, a.nav:visited { color: rgb(255, 255, 255); text-decoration: none; }
a.city-text2:link, a.city-text2:visited { color: rgb(128, 128, 128); text-decoration: none; }
a.city-text1:link, a.city-text1:visited { color: rgb(128, 128, 128); text-decoration: none; }
a.panel-text:link, a.panel-text:visited { color: rgb(102, 102, 102); text-decoration: none; }
a.main-text:link, a.main-text:visited { color: rgb(77, 77, 77); text-decoration: none; }
a.main-title:link, a.main-title:visited { color: rgb(77, 77, 77); text-decoration: none; }
a.main-more:link, a.main-more:visited { color: rgb(255, 255, 255); text-decoration: none; }
a.font-size:link, a.font-size:visited { padding: 3px; color: rgb(26, 26, 26); text-decoration: none; }
a.forums-msnus-text:link, a.forums-msnus-text:visited { color: rgb(255, 255, 255); text-decoration: none; font-weight: bold; }
a.main-topic:link, a.main-topic:visited { color: rgb(0, 0, 0); text-decoration: none; font-weight: bold; }
a.panel-topic:link, a.panel-topic:visited { text-decoration: none; font-weight: bold; color: rgb(51, 51, 51); }
a.font-size:hover { padding: 3px; color: rgb(255, 255, 255); background-color: rgb(128, 128, 128); text-decoration: none; }
a.manage:link, a.manage:hover { color: rgb(255, 0, 0); text-decoration: underline; }
a.forums-msnus-desc:link, a.forums-msnus-desc:hover { color: rgb(255, 255, 255); text-decoration: none; }
a.city-name:link, a.city-name:visited { text-decoration: none; }
a.nav:hover, a.city-text1:hover, a.city-text2:hover, a.panel-text:hover, a.main-text:hover, a.main-title:hover, a.main-more:hover, a.font-size-over:hover, a.forums-msnus-text:hover, a.main-topic:hover, a.panel-topic:hover, a.manage:hover, a.forums-msnus-desc:hover, a.city-name:hover { position: relative; top: 1px; bottom: 1px; }
#header { width: auto ! important; position: relative ! important; visibility: visible ! important; }
#header_common_left { background: transparent url('header_01.gif') no-repeat scroll left top; }
#header_common_main { visibility: visible ! important; }
#header_common_main_bg { background: transparent url('header_02.gif') repeat-x scroll left top; }
#header_common_line { background: transparent url('header_03.gif') no-repeat scroll left top; position: relative; height: 30px; vertical-align: middle; }
#header_common_right { background: transparent url('header_02.gif') no-repeat scroll left top; }
#container { width: 770px ! important; visibility: visible ! important; }
#main { padding: 0px ! important; height: auto ! important; visibility: visible ! important; }
#ingredients { clear: both; }
#sidebar { width: 200px ! important; text-align: center; visibility: visible ! important; }
#content { width: 570px ! important; text-align: center; visibility: visible ! important; clear: right ! important; }
.photo_guide { color: rgb(102, 102, 102); font-family: Arial,Helvetica,sans-serif; }
a.photo_guide { border: 2px solid rgb(255, 255, 255); position: relative; display: block; }
a.photo_guide:hover { border: 2px solid rgb(77, 77, 77); left: 1px; bottom: 5px; }
.photo_guide1 { color: rgb(102, 102, 102); font-family: Arial,Helvetica,sans-serif; }
a.photo_guide1 { border: 2px solid rgb(77, 77, 77); position: relative; display: block; bottom: 5px; left: 1px; }
a.photo_guide1:hover { border: 2px solid rgb(77, 77, 77); bottom: 5px; left: 1px; }
.photo_tablebg_1 { background-position: left top; background-image: url('phototable_1.gif'); width: 730px; background-repeat: no-repeat; height: 7px; }
.photo_tablebg_2 { background-position: left top; background-image: url('phototable_2.gif'); width: 730px; background-repeat: repeat-y; text-align: center; }
.photo_tablebg_3 { background-position: left top; background-image: url('phototable_3.gif'); width: 730px; background-repeat: no-repeat; height: 7px; }
#footer { border-top: 2px solid rgb(153, 153, 153); clear: both; position: relative; top: 30px; width: 770px; height: 45px; font-size: 12px; }
#copyright, #go_top a, #footer_link a { color: rgb(51, 51, 51); }
#footer a { text-decoration: none; }
#footer a:hover { text-decoration: underline; }
#copyright { position: absolute; right: 10px; top: 5px; }
#footer_info { position: absolute; left: 10px; top: -23px; color: rgb(153, 153, 153); font-size: 11px; }
#footer_link { position: absolute; left: 10px; top: 5px; }
#go_top { position: absolute; right: 10px; top: -25px; }
#footer a { color: rgb(102, 102, 102); }
#top_bg { position: absolute ! important; width: 100% ! important; visibility: visible ! important; opacity: 0.4; height: 26px; top: 0px; left: 0px; }
#container { position: relative ! important; z-index: 1; }
#top { position: absolute ! important; z-index: 9999 ! important; width: 770px; }
#top_bar { margin: auto; padding: 4px 10px 0px 0px; position: relative ! important; visibility: visible ! important; text-align: right; z-index: 9999; display: inline; float: right; }
#top_bar table { font-family: Verdana,Arial,Helvetica,sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: 160%; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
#ad_link { position: absolute; left: 0px; top: 0px; width: 400px; margin-right: 15px; }
#common_sub table { font-family: Verdana,Arial,Helvetica,sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 13px; line-height: 160%; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
#common_sub { border: 1px solid rgb(0, 0, 0); position: absolute; right: 0pt; top: 25px; }
#common_sub a { padding: 3px 10px 0pt; display: block; text-align: center; white-space: nowrap; }
#top_bar a:hover { text-decoration: underline; }
#top_bar a, #common_sub a:hover { text-decoration: none; }
#common_sub th a, #common_sub a:hover { background: rgb(229, 229, 229) none repeat scroll 0% 0%; color: rgb(0, 0, 0); }
#common_sub a { color: rgb(102, 102, 102); text-decoration: none; }
#common_sub { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#common a { color: rgb(102, 102, 102); text-decoration: none; font-size: 13px; }
.left_table2_1 { background-image: url('left_tablebg4.gif'); background-repeat: no-repeat; height: 6px; width: 152px; }
.left_table2_2 { background-image: url('left_tablebg5.gif'); background-repeat: repeat-y; width: 152px; }
.left_table2_4 { background-image: url('left_tablebg7.gif'); background-repeat: no-repeat; width: 152px; height: 7px; }
.left_table2_3 { background-image: url('left_tablebg6.gif'); background-repeat: no-repeat; height: 25px; width: 152px; }
.t12 { font-family: Arial,Helvetica,sans-serif; font-size: 12px; }
.t12 a { color: rgb(65, 65, 65); text-decoration: none; }
.t12 a:visited { color: rgb(65, 65, 65); }
.t12 a:hover { color: rgb(255, 153, 0); }
.t15 { font-family: Arial,Helvetica,sans-serif; font-size: 15px; font-weight: bold; color: rgb(65, 65, 65); }
.cloud_16 { font-size: 16px; line-height: 23px; }
a.cloud_16:hover { color: rgb(102, 102, 102); text-decoration: underline; }
a.cloud_16:link { color: rgb(102, 102, 102); text-decoration: none; }
a.cloud_16:visited { color: rgb(102, 102, 102); text-decoration: none; }
.cloud_20 { font-size: 20px; line-height: 28px; font-weight: bold; }
a.cloud_20:hover { color: rgb(102, 102, 102); text-decoration: underline; }
a.cloud_20:link { color: rgb(102, 102, 102); text-decoration: none; }
a.cloud_20:visited { color: rgb(102, 102, 102); text-decoration: none; }
.cloud_13 { font-size: 13px; line-height: 23px; }
a.cloud_13:hover { color: rgb(102, 102, 102); text-decoration: underline; }
a.cloud_13:link { color: rgb(102, 102, 102); text-decoration: none; }
a.cloud_13:visited { color: rgb(102, 102, 102); text-decoration: none; }
.cloud_11 { font-size: 11px; line-height: 23px; }
a.cloud_11:hover { color: rgb(102, 102, 102); text-decoration: underline; }
a.cloud_11:link { color: rgb(102, 102, 102); text-decoration: none; }
a.cloud_11:visited { color: rgb(102, 102, 102); text-decoration: none; }
.cloud_12 { font-size: 12px; line-height: 23px; }
a.cloud_12:hover { color: rgb(102, 102, 102); text-decoration: underline; }
a.cloud_12:link { color: rgb(102, 102, 102); text-decoration: none; }
a.cloud_12:visited { color: rgb(102, 102, 102); text-decoration: none; }
.photo_album a { margin: auto; position: relative; display: block; width: 120px; height: 120px; }
.photo_picture a { overflow: hidden; width: 120px; }
#map_photo { background: transparent url('map_photo.gif') no-repeat scroll right bottom; position: absolute; width: 16px; height: 18px; right: 2px; bottom: 2px; }
#google_map { margin: auto; position: relative; display: block; width: 120px; height: 120px; }
.map_point { background: transparent url('map_point.gif') no-repeat scroll left top; position: absolute; width: 16px; height: 18px; }
