
/* ::::: http://www.mobile01.com/style/normal.css ::::: */

* { font-family: Verdana,Arial,Helvetica,sans-serif; }
body { margin: 0px; font-size: 12px; color: rgb(0, 0, 0); }
a:hover { text-decoration: underline; color: rgb(153, 0, 0); }
.t { background: transparent url('dot.gif') repeat-x scroll 0pt 0pt; width: 100%; }
.b { background: transparent url('dot.gif') repeat-x scroll 0pt 100%; }
.l { background: transparent url('dot.gif') repeat-y scroll 0pt 0pt; }
.r { background: transparent url('dot.gif') repeat-y scroll 100% 0pt; }
.bl { background: transparent url('tbl.gif') no-repeat scroll 0pt 100%; }
.br { background: transparent url('tbr.gif') no-repeat scroll 100% 100%; }
.tl { background: transparent url('ttl.gif') no-repeat scroll 0pt 0pt; }
.tr { padding: 10px; background: transparent url('ttr.gif') no-repeat scroll 100% 0pt; }
.at { background: transparent url('tbb.gif') repeat-x scroll 0pt 0pt; width: 100%; }
.atl { height: 35px; }
.atr_tab { margin-right: 4px; float: left; cursor: pointer; }
.atr_tab_rc { float: right; }
.footer-rc { display: block; clear: both; }
.footer-rc * { background: rgb(223, 236, 222) none repeat scroll 0% 0%; overflow: hidden; display: block; height: 1px; }
.footer-rc1 { border-left: 1px solid rgb(241, 246, 240); border-right: 1px solid rgb(241, 246, 240); background: rgb(231, 240, 230) none repeat scroll 0% 0%; padding-right: 1px; margin-right: 3px; padding-left: 1px; margin-left: 3px; }
.footer-rc2 { border-left: 1px solid rgb(251, 253, 251); border-right: 1px solid rgb(251, 253, 251); margin: 0px 1px; padding: 0px 1px; background: rgb(229, 239, 228) none repeat scroll 0% 0%; }
.footer-rc3 { border-left: 1px solid rgb(229, 239, 228); border-right: 1px solid rgb(229, 239, 228); margin: 0px 1px; }
.footer-rc4 { border-left: 1px solid rgb(241, 246, 240); border-right: 1px solid rgb(241, 246, 240); }
.footer-rc5 { border-left: 1px solid rgb(231, 240, 230); border-right: 1px solid rgb(231, 240, 230); }
.footer-rc_content { padding: 4px; background: rgb(223, 236, 222) none repeat scroll 0% 0%; overflow: hidden; text-align: center; color: rgb(102, 102, 102); font-size: 11px; line-height: 16px; }
.block_rc { display: block; }
.block_rc * { background: rgb(223, 236, 222) none repeat scroll 0% 0%; overflow: hidden; display: block; height: 1px; }
.block_rc1 { border-left: 1px solid rgb(241, 246, 240); border-right: 1px solid rgb(241, 246, 240); background: rgb(231, 240, 230) none repeat scroll 0% 0%; padding-right: 1px; margin-right: 3px; padding-left: 1px; margin-left: 3px; }
.block_rc2 { border-left: 1px solid rgb(251, 253, 251); border-right: 1px solid rgb(251, 253, 251); margin: 0px 1px; padding: 0px 1px; background: rgb(229, 239, 228) none repeat scroll 0% 0%; }
.block_rc3 { border-left: 1px solid rgb(229, 239, 228); border-right: 1px solid rgb(229, 239, 228); margin: 0px 1px; }
.block_rc4 { border-left: 1px solid rgb(241, 246, 240); border-right: 1px solid rgb(241, 246, 240); }
.block_rc5 { border-left: 1px solid rgb(231, 240, 230); border-right: 1px solid rgb(231, 240, 230); }
.block_rc_content { background: rgb(223, 236, 222) none repeat scroll 0% 0%; overflow: hidden; height: 20px; padding-top: 4px; line-height: 24px; }
.block_usermenu { background: rgb(223, 236, 222) none repeat scroll 0% 0%; height: 20px; padding-top: 2px; text-align: center; color: rgb(153, 153, 153); }
.block_nav_content { background: rgb(223, 236, 222) none repeat scroll 0% 0%; padding-top: 4px; line-height: 24px; }
.page_layout { margin: auto; width: 1000px; }
.header_layout { background: transparent url('hdrb.gif') repeat-x scroll 0pt 0pt; width: 100%; }
.header_bg { margin: auto; height: 80px; width: 1000px; }
.header_logo { padding-left: 0px; padding-right: 4px; float: left; }
.header_navi { float: left; }
.header_lang { float: right; padding-top: 16px; }
.header_bar { overflow: auto; width: 100%; }
.header_func { width: 33%; text-align: center; height: 24px; line-height: 24px; float: left; vertical-align: baseline; }
.header_title { float: left; margin-top: 52px; font-weight: bold; color: rgb(0, 102, 0); }
.normal_lang { text-align: right; padding-top: 2px; padding-bottom: 2px; font-size: 13px; word-spacing: 2px; color: rgb(0, 102, 0); font-weight: bold; }
.normal_lang a { text-decoration: none; color: rgb(0, 102, 0); word-spacing: 2px; }
.pda_lang { text-align: right; padding-top: 2px; padding-bottom: 2px; font-size: 11px; word-spacing: 1px; color: rgb(102, 102, 102); }
.pda_lang a { text-decoration: none; color: rgb(102, 102, 102); word-spacing: 1px; }
.text_ad_area { overflow: hidden; width: 100%; height: 20px; }
.text_ad { width: 25%; height: 20px; text-align: center; float: left; font-size: 15px; }
.text_ad a { text-decoration: none; color: rgb(0, 102, 0); }
.form_input { border: 1px solid rgb(204, 204, 204); font-size: 12px; color: rgb(204, 0, 0); height: 14px; }
.index_login_form { margin-bottom: 0px; font-size: 11px; }
.news { width: 100%; margin-top: 16px; }
.news_area { float: left; }
.news_image { width: 100%; }
.news_block { width: 100%; }
.news_left { width: 392px; margin-right: 4px; }
.news_right { width: 300px; margin-left: 4px; }
.news_title { color: rgb(204, 0, 0); font-size: 15px; margin-bottom: 4px; font-weight: bold; }
.news_content { padding: 8px; overflow: hidden; color: rgb(51, 51, 51); font-size: 12px; background-color: rgb(238, 238, 238); height: 134px; }
.news_content a { color: rgb(51, 51, 51); text-decoration: none; line-height: 20px; }
.news_mid { width: 300px; }
.article_tabs { width: 100%; }
.article_tabs_content { margin: 0px; padding: 4px; overflow: hidden; height: 297px; }
.tab_list { overflow: hidden; }
.tab_list ul { list-style-type: square; list-style-image: none; list-style-position: outside; color: rgb(51, 51, 51); }
.tab_list li { line-height: 18px; margin-left: -12px; }
.tab_list li a { color: rgb(51, 51, 51); text-decoration: none; }
.tab_ad { margin-top: 4px; clear: both; }
.more_btn { text-align: right; margin-right: 4px; }
.login { overflow: hidden; line-height: 24px; margin-bottom: 0px; height: 86px; }
.login_form { line-height: 20px; float: left; }
.login_form a { text-decoration: none; color: rgb(51, 51, 51); }
.login_form a:hover { text-decoration: underline; color: rgb(153, 0, 0); }
.login_form_btn { margin-left: 4px; text-align: right; }
.login_title { overflow: hidden; line-height: 18px; text-align: left; width: 300px; }
.login_anonymous { line-height: 20px; text-align: right; float: right; margin-top: 2px; }
.login_anonymous a { color: rgb(153, 0, 0); }
.login_func { background: rgb(238, 238, 238) none repeat scroll 0% 0%; float: left; margin-right: 4px; }
.login_func_tab { width: 300px; }
.login_rc_content { background: rgb(223, 236, 222) none repeat scroll 0% 0%; padding-left: 6px; padding-right: 6px; height: 58px; line-height: 18px; color: rgb(153, 153, 153); }
.login_func_title { border-bottom: 1px dotted rgb(0, 102, 0); padding-bottom: 1px; font-size: 13px; word-spacing: 2px; }
.login_func_content { margin-top: 1px; }
.waypoint_area { margin-top: 4px; clear: both; width: 100%; }
.waypoint { overflow: auto; text-align: center; width: 100%; }
.waypoint_image { height: 100%; width: 120px; float: left; text-align: center; margin-right: 1px; }
.waypoint_desc a { font-size: 11px; color: rgb(102, 102, 102); text-decoration: none; }
.index_content { width: 100%; margin-top: 4px; }
.index_content_main { width: 806px; float: left; }
.index_ad_block { float: left; width: 190px; }
.index_content_main_block { overflow: auto; width: 100%; }
.index_content_main_left { width: 48%; float: left; margin-left: 4px; }
.index_content_main_right { width: 48%; float: right; margin-right: 4px; }
.index_content_block { width: 100%; clear: both; }
.index_content_block_title { float: left; font-weight: bold; margin-top: 8px; font-size: 13px; }
.index_content_block_title a { text-decoration: none; color: rgb(0, 0, 0); }
.index_content_block_more { float: right; margin-top: 8px; font-weight: bold; font-size: 11px; color: rgb(153, 0, 0); }
.index_content_block_more a { text-decoration: none; font-size: 11px; color: rgb(153, 0, 0); }
.index_content_block_item { overflow: hidden; clear: both; width: 100%; }
.index_content_block_item_image { float: left; }
.index_content_block_item_desc { float: right; width: 265px; height: 84px; }
.index_content_block_item_desc b { color: rgb(51, 51, 51); }
.index_content_block_item_desc a { line-height: 18px; text-decoration: none; color: rgb(102, 102, 102); }
.index_content_block_main { border-bottom: 1px solid rgb(204, 204, 204); padding-top: 4px; margin-bottom: 4px; }
.index_content_block_main_nl { padding-top: 4px; margin-bottom: 4px; }
.ad_right { width: 100%; margin-bottom: 6px; }
.hrline { height: 1px; color: rgb(221, 221, 221); }
.hr { line-height: 24px; clear: both; }
.links { color: rgb(0, 102, 0); font-size: 10px; text-align: center; }
.links a { color: rgb(0, 102, 0); font-size: 12px; text-decoration: none; }
.footer { width: 100%; margin-top: 8px; }
.footer_area { width: 100%; margin-top: 8px; margin-bottom: 4px; }
.clear { clear: both; }
.click { cursor: pointer; }
.category_menu { float: right; margin-left: 4px; width: 190px; }
.category { clear: both; width: 100%; margin-top: 4px; margin-bottom: 4px; }
.category_name { width: 42%; float: left; height: 24px; font-weight: bold; }
.category_topic { width: 8%; float: left; text-align: center; font-weight: bold; }
.category_reply { width: 8%; float: left; text-align: center; font-weight: bold; }
.category_last { width: 40%; float: left; font-weight: bold; }
.forum_info { border-top: 1px dotted rgb(153, 204, 153); clear: both; height: 48px; }
.forum_cate { border-top: 1px dotted rgb(153, 204, 153); clear: both; height: 48px; }
.forum_cate a { color: rgb(51, 51, 51); }
.cate_name { width: 42%; float: left; font-size: 15px; color: rgb(51, 51, 51); margin-top: 14px; margin-bottom: 14px; }
.cate_name a { text-decoration: none; }
.forum_name { width: 42%; float: left; font-size: 15px; color: rgb(51, 51, 51); margin-top: 14px; }
.forum_name a { color: rgb(51, 51, 51); text-decoration: none; }
.forum_topic { width: 8%; float: left; text-align: center; margin-top: 16px; color: rgb(51, 51, 51); font-size: 11px; }
.forum_reply { width: 8%; float: left; text-align: center; margin-top: 16px; color: rgb(51, 51, 51); font-size: 11px; }
.forum_last { overflow: hidden; width: 40%; float: left; font-size: 11px; color: rgb(51, 51, 51); line-height: 16px; margin-top: 6px; }
.forum_last a { font-size: 11px; color: rgb(51, 51, 51); }
.forum_last a:hover { color: rgb(153, 0, 0); }
.forum_list { margin-bottom: 4px; }
.forum_nav_bar { overflow: auto; width: 100%; margin-bottom: 4px; }
.forum_nav { width: 96%; padding-left: 12px; color: rgb(153, 153, 153); }
.digestcategory_last { width: 38%; float: left; font-weight: bold; }
.digestforum_last { overflow: hidden; width: 38%; float: left; font-size: 11px; color: rgb(51, 51, 51); line-height: 16px; margin-top: 6px; }
.digestforum_last a { font-size: 11px; color: rgb(51, 51, 51); }
.digestforum_last a:hover { color: rgb(153, 0, 0); }
.forum { width: 100%; margin-top: 4px; }
.forum_content { width: 806px; float: left; }
.forum_content_main { width: 100%; margin-bottom: 4px; }
.forum_content_main_block { width: 100%; display: block; }
.forum_ad { float: right; width: 300px; }
.forum_header { overflow: auto; margin-top: 8px; }
.page_nav { float: left; color: rgb(0, 0, 0); line-height: 24px; width: 680px; }
.page_nav a { text-decoration: none; color: rgb(0, 0, 0); }
.page_nav a:hover { text-decoration: underline; color: rgb(153, 0, 0); }
.forum_articles { overflow: hidden; float: left; width: 190px; margin-bottom: 4px; white-space: normal; }
.forum_sidemenu { float: right; width: 190px; }
.forum_articles_header { font-weight: bold; margin-bottom: 8px; }
.forum_articles_content { border-top: 1px dotted rgb(153, 204, 153); margin-bottom: 4px; margin-top: 8px; padding-top: 4px; }
.forum_articles_title { overflow: hidden; font-weight: bold; margin-top: 4px; margin-bottom: 4px; color: rgb(0, 102, 0); width: 170px; white-space: normal; }
.forum_articles_title a { text-decoration: none; color: rgb(0, 102, 0); }
.forum_articles_title a:hover { text-decoration: underline; color: rgb(153, 0, 0); }
.forum_articles_title a:visited { text-decoration: none; color: rgb(0, 102, 0); }
.forum_articles_image { float: right; margin-right: 4px; margin-bottom: 4px; }
.forum_articles_item { overflow: hidden; margin-top: 4px; color: rgb(102, 102, 102); height: 100%; width: 170px; white-space: normal; }
.bk12 { font-size: 12px; color: rgb(51, 51, 51); text-decoration: none; }
.bk12b { font-size: 12px; color: rgb(51, 51, 51); text-decoration: none; font-weight: bold; }
.bk12u { font-size: 12px; color: rgb(51, 51, 51); text-decoration: underline; }
.bk12u:hover { font-size: 12px; color: rgb(153, 0, 0); text-decoration: underline; }
.bk11 { font-size: 11px; color: rgb(51, 51, 51); text-decoration: none; }
.bk11u { font-size: 11px; color: rgb(51, 51, 51); }
.bk9 { font-size: 9px; color: rgb(51, 51, 51); text-decoration: none; }
.btnStyle { border-color: rgb(112, 148, 76); border-width: 1px; padding: 2px; background-color: rgb(208, 220, 196); color: rgb(51, 102, 0); cursor: pointer; font-size: 12px; }
.selStyle { border: 1px solid rgb(102, 102, 102); background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); cursor: pointer; font-size: 12px; }
.inpStyle { border: 1px solid rgb(102, 102, 102); background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 12px; }
.loginpage { width: 100%; margin-top: 4px; }
.loginpage_content { width: 806px; float: left; }
.table_block { width: 100%; margin-bottom: 4px; }
.table_block_main { overflow: auto; width: 100%; }
.table_block_header { clear: both; width: 100%; margin-top: 4px; margin-bottom: 4px; }
.table_block_header_title { border-bottom: 1px dotted rgb(153, 204, 153); width: 100%; float: left; height: 24px; font-weight: bold; }
.table_block_row { overflow: auto; clear: both; }
.table_block_col_l { width: 20%; float: left; font-size: 12px; color: rgb(51, 51, 51); padding-top: 10px; text-align: right; line-height: 16px; height: 24px; }
.table_block_col_r { width: 78%; float: left; font-size: 12px; color: rgb(51, 51, 51); padding-top: 10px; padding-left: 4px; line-height: 16px; clear: right; }
.table_block_footer { border-top: 1px dotted rgb(153, 204, 153); width: 100%; clear: both; text-align: center; padding-top: 12px; margin-top: 8px; }
.post_block_col_l { width: 10%; float: left; font-size: 12px; color: rgb(51, 51, 51); padding-top: 10px; text-align: right; line-height: 16px; height: 24px; }
.post_block_col_r { width: 88%; float: left; font-size: 12px; color: rgb(51, 51, 51); padding-top: 10px; padding-left: 4px; line-height: 16px; clear: right; }
.msgbox_block_header { clear: both; width: 100%; margin-top: 4px; margin-bottom: 4px; }
.msgbox_block_header_title { border-bottom: 1px dotted rgb(153, 204, 153); width: 100%; float: left; height: 24px; font-weight: bold; }
.msgbox_block_row { overflow: auto; clear: both; }
.msgbox_block_col_l { width: 20%; float: left; font-size: 12px; color: rgb(51, 51, 51); padding-top: 8px; text-align: right; line-height: 16px; }
.msgbox_block_col_r { width: 78%; float: left; font-size: 12px; color: rgb(51, 51, 51); padding-top: 8px; padding-left: 4px; line-height: 16px; }
.msgbox_block { width: 100%; margin-bottom: 4px; }
.help_block { float: left; width: 190px; margin-bottom: 4px; }
.help_block_main { margin-bottom: 4px; }
.help_block_header { font-weight: bold; margin-bottom: 8px; }
.help_block_content { border-top: 1px dotted rgb(153, 204, 153); margin-bottom: 4px; margin-top: 8px; line-height: 20px; padding-top: 4px; }
.register_select { width: 100%; }
.register_select_block_left { width: 266px; float: left; }
.register_select_block_mid { width: 266px; float: left; margin-left: 4px; margin-right: 4px; height: 240px; }
.register_select_block_right { width: 266px; float: right; }
.register_select_block_title { border-bottom: 1px dotted rgb(153, 204, 153); height: 24px; font-weight: bold; }
.register_select_block_content { height: 240px; line-height: 20px; margin-left: -16px; margin-top: 8px; }
.register_select_block_content a { border-bottom: 1px dotted rgb(153, 0, 0); color: rgb(153, 0, 0); font-size: 15px; text-decoration: none; }
.register_select_block_content a:hover { border-bottom: 1px solid rgb(153, 0, 0); }
.topiclist_nav { clear: both; }
.page_link_t { float: left; width: 50%; text-align: left; height: 32px; line-height: 32px; }
.page_link_b { float: right; width: 50%; text-align: right; height: 24px; }
.forum_post { float: right; width: 50%; text-align: right; height: 32px; }
.page_info { float: left; width: 50%; text-align: left; height: 24px; }
.page_info a { text-decoration: none; color: rgb(0, 0, 0); }
.page_info a:hover { text-decoration: underline; color: rgb(153, 0, 0); }
.forum_rss { float: left; width: 50%; text-align: left; height: 24px; }
.forum_menu { float: right; width: 50%; text-align: right; }
.topic_header { clear: both; width: 100%; margin-top: 4px; margin-bottom: 4px; }
.topic_header_name { width: 57%; float: left; height: 24px; font-weight: bold; }
.topic_header_topic { width: 7%; float: left; text-align: center; font-weight: bold; }
.topic_header_reply { width: 17%; float: left; text-align: center; font-weight: bold; }
.topic_header_last { width: 17%; float: left; text-align: center; font-weight: bold; }
.topic_header_date { width: 24%; float: left; text-align: center; font-weight: bold; }
.topic_header_fav { width: 7%; float: left; text-align: center; font-weight: bold; }
.topic_info { border-top: 1px dotted rgb(153, 204, 153); clear: both; height: 40px; }
.topic_name { overflow: hidden; width: 57%; float: left; font-size: 12px; color: rgb(51, 51, 51); padding-top: 12px; }
.topic_name a:visited { color: rgb(51, 51, 51); }
.topic_topic { width: 7%; float: left; text-align: center; padding-top: 14px; color: rgb(51, 51, 51); font-size: 11px; }
.topic_reply { width: 17%; float: left; text-align: center; color: rgb(51, 51, 51); font-size: 11px; padding-top: 6px; }
.topic_reply a { font-size: 11px; color: rgb(51, 51, 51); }
.topic_reply a:hover { color: rgb(153, 0, 0); }
.topic_last { width: 17%; float: left; text-align: center; color: rgb(51, 51, 51); font-size: 11px; padding-top: 6px; }
.topic_last a { font-size: 11px; color: rgb(51, 51, 51); }
.topic_last a:hover { color: rgb(153, 0, 0); }
.topic_date { width: 24%; float: left; text-align: center; color: rgb(51, 51, 51); font-size: 11px; padding-top: 6px; }
.topic_fav { width: 7%; float: left; text-align: center; color: rgb(51, 51, 51); font-size: 11px; padding-top: 12px; }
.page { font-size: 12px; color: rgb(51, 102, 0); text-decoration: none; word-spacing: 2px; }
.page:active { color: rgb(255, 0, 0); text-decoration: none; }
.page:hover { color: rgb(0, 102, 0); text-decoration: underline; }
.post_detail { clear: both; padding-top: 8px; width: 780px; }
.user_icon { overflow: hidden; width: 120px; height: 120px; float: left; margin-right: 8px; }
.user_func { float: right; }
.user_info { text-align: left; float: left; color: rgb(0, 102, 0); line-height: 18px; font-size: 11px; }
.user_info a { text-decoration: none; color: rgb(0, 102, 0); font-weight: bold; font-size: 15px; }
.user_info a:hover { text-decoration: underline; color: rgb(255, 0, 0); }
.post_info { text-align: right; font-size: 11px; color: rgb(102, 102, 102); }
.post_sig { overflow: hidden; text-align: right; font-size: 12px; color: rgb(153, 153, 153); margin-top: 12px; height: 20px; }
.post_func { text-align: right; height: 24px; }
.post_content { border-bottom: 1px dotted rgb(153, 204, 153); overflow: hidden; clear: both; font-size: 15px; padding-top: 8px; padding-bottom: 24px; padding-left: 24px; color: rgb(0, 0, 0); text-decoration: none; line-height: 1.8; width: 760px; display: block; }
.anon_icon { border: 1px solid rgb(204, 204, 204); width: 118px; height: 118px; background-color: rgb(238, 238, 238); color: rgb(102, 102, 102); font-size: 11px; line-height: 120px; margin-right: 8px; text-align: center; float: left; }
blockquote { border: 1px dotted rgb(153, 178, 127); margin: 15px; padding: 4px; background-color: rgb(240, 244, 237); font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 12px; line-height: 15px; }
.rb16 { font-size: 16px; font-weight: bold; color: rgb(153, 0, 0); text-decoration: none; }
.article_header { clear: both; width: 100%; margin-top: 4px; margin-bottom: 4px; }
.article_header_name { width: 60%; float: left; height: 24px; font-weight: bold; }
.article_header_date { width: 18%; float: left; text-align: center; font-weight: bold; }
.article_header_poster { width: 10%; float: left; text-align: center; font-weight: bold; }
.article_header_publish { width: 10%; text-align: center; float: left; font-weight: bold; }
.article_info { border-top: 1px dotted rgb(153, 204, 153); clear: both; height: 40px; }
.article_name { width: 60%; float: left; font-size: 12px; color: rgb(51, 51, 51); padding-top: 12px; }
.article_name a { color: rgb(51, 51, 51); text-decoration: none; }
.article_name a:hover { color: rgb(153, 0, 0); text-decoration: underline; }
.article_date { width: 18%; float: left; text-align: center; color: rgb(51, 51, 51); font-size: 11px; padding-top: 12px; }
.article_poster { width: 10%; float: left; text-align: center; color: rgb(51, 51, 51); padding-top: 12px; }
.article_poster a { color: rgb(51, 51, 51); }
.article_poster a:hover { color: rgb(153, 0, 0); }
.article_publish { width: 10%; float: left; text-align: center; color: rgb(51, 51, 51); padding-top: 12px; }
.article_publish a { color: rgb(51, 51, 51); }
.article_publish a:hover { color: rgb(153, 0, 0); }
.blacklist_header { clear: both; width: 100%; margin-top: 4px; margin-bottom: 4px; }
.blacklist_header_name { width: 20%; float: left; height: 24px; font-weight: bold; }
.blacklist_header_desc { width: 40%; float: left; font-weight: bold; }
.blacklist_header_date { width: 17%; float: left; font-weight: bold; text-align: center; }
.blacklist_header_func { width: 10%; text-align: center; float: left; font-weight: bold; }
.blacklist_list { border-top: 1px dotted rgb(153, 204, 153); clear: both; height: 40px; }
.blacklist_list_name { width: 20%; float: left; font-size: 12px; color: rgb(51, 51, 51); padding-top: 12px; }
.blacklist_list_name a { color: rgb(51, 51, 51); text-decoration: none; }
.blacklist_list_name a:hover { color: rgb(153, 0, 0); text-decoration: underline; }
.blacklist_list_desc { width: 40%; float: left; color: rgb(51, 51, 51); padding-top: 12px; }
.blacklist_list_date { width: 17%; float: left; text-align: center; padding-top: 14px; color: rgb(51, 51, 51); font-size: 11px; }
.blacklist_list_func { width: 10%; text-align: center; float: left; padding-top: 12px; }
.friendlist_header { clear: both; width: 100%; margin-top: 4px; margin-bottom: 4px; }
.friendlist_header_name { width: 20%; float: left; height: 24px; font-weight: bold; }
.friendlist_header_desc { width: 40%; float: left; font-weight: bold; }
.friendlist_header_date { width: 17%; float: left; font-weight: bold; text-align: center; }
.friendlist_header_func { width: 7%; text-align: center; float: left; font-weight: bold; }
.friendlist_list { border-top: 1px dotted rgb(153, 204, 153); clear: both; height: 40px; }
.friendlist_list_name { width: 20%; float: left; font-size: 12px; color: rgb(51, 51, 51); padding-top: 12px; }
.friendlist_list_name a { color: rgb(51, 51, 51); text-decoration: none; }
.friendlist_list_name a:hover { color: rgb(153, 0, 0); text-decoration: underline; }
.friendlist_list_desc { width: 40%; float: left; color: rgb(51, 51, 51); padding-top: 12px; }
.friendlist_list_date { width: 17%; float: left; text-align: center; padding-top: 14px; color: rgb(51, 51, 51); font-size: 11px; }
.friendlist_list_func { width: 7%; text-align: center; float: left; padding-top: 12px; }
.search_header { clear: both; width: 100%; margin-top: 4px; margin-bottom: 4px; }
.search_header_name { width: 73%; float: left; height: 24px; font-weight: bold; }
.search_header_topic { width: 7%; float: left; text-align: center; font-weight: bold; }
.search_header_reply { width: 18%; float: left; text-align: center; font-weight: bold; }
.search_info { border-top: 1px dotted rgb(153, 204, 153); clear: both; height: 44px; }
.search_name { width: 73%; float: left; font-size: 12px; color: rgb(51, 51, 51); padding-top: 6px; line-height: 16px; }
.search_name a { color: rgb(51, 51, 51); text-decoration: none; }
.search_name a:hover { color: rgb(153, 0, 0); text-decoration: underline; }
.search_topic { width: 7%; float: left; text-align: center; padding-top: 16px; color: rgb(51, 51, 51); font-size: 11px; }
.search_reply { width: 18%; float: left; text-align: center; color: rgb(51, 51, 51); font-size: 11px; padding-top: 8px; }
.search_reply a { font-size: 11px; color: rgb(51, 51, 51); }
.search_reply a:hover { color: rgb(153, 0, 0); }
.gy11 { font-size: 11px ! important; color: rgb(91, 91, 91) ! important; text-decoration: none; }
.gy12 { font-size: 12px; color: rgb(91, 91, 91); text-decoration: none; }
.favorite_header { clear: both; width: 100%; margin-top: 4px; margin-bottom: 4px; }
.favorite_header_func { width: 5%; float: left; height: 24px; font-weight: bold; text-align: center; }
.favorite_header_name { width: 56%; float: left; font-weight: bold; }
.favorite_header_repl { width: 5%; float: left; font-weight: bold; text-align: center; }
.favorite_header_user { width: 16%; float: left; font-weight: bold; text-align: center; }
.favorite_header_last { width: 16%; text-align: center; float: left; font-weight: bold; }
.favorite_list { border-top: 1px dotted rgb(153, 204, 153); clear: both; height: 44px; }
.favorite_list_func { width: 5%; text-align: center; float: left; padding-top: 12px; }
.favorite_list_name { width: 56%; float: left; font-size: 12px; color: rgb(51, 51, 51); padding-top: 6px; line-height: 16px; }
.favorite_list_name a { font-size: 12px; color: rgb(51, 51, 51); }
.favorite_list_name a:hover { color: rgb(153, 0, 0); }
.favorite_list_repl { width: 5%; float: left; font-size: 11px; color: rgb(51, 51, 51); padding-top: 14px; text-align: center; }
.favorite_list_user { width: 16%; float: left; text-align: center; padding-top: 8px; color: rgb(51, 51, 51); font-size: 11px; }
.favorite_list_user a { font-size: 11px; color: rgb(51, 51, 51); }
.favorite_list_user a:hover { color: rgb(153, 0, 0); }
.favorite_list_last { width: 16%; float: left; text-align: center; padding-top: 8px; color: rgb(51, 51, 51); font-size: 11px; }
.favorite_list_last a { font-size: 11px; color: rgb(51, 51, 51); }
.favorite_list_last a:hover { color: rgb(153, 0, 0); }
.topic_not { font-size: 13px; color: rgb(153, 102, 0); text-decoration: none; font-weight: bold; }
a.topic_not:visited { font-size: 13px; color: rgb(153, 102, 0); text-decoration: none; font-weight: bold; }
a.topic_not:hover { text-decoration: underline; }
.topic_top { font-size: 13px; color: rgb(153, 0, 0); text-decoration: none; font-weight: bold; }
a.topic_top:visited { font-size: 13px; color: rgb(153, 0, 0); text-decoration: none; font-weight: bold; }
a.topic_top:hover { text-decoration: underline; }
.topic_gen { font-size: 13px; color: rgb(0, 0, 0); text-decoration: none; }
a.topic_gen:visited { font-size: 13px; color: rgb(102, 102, 102); text-decoration: none; }
a.topic_gen:hover { text-decoration: underline; }
.rb12 { font-size: 12px; color: rgb(153, 0, 0); text-decoration: none; }
.rb12u { font-size: 12px; color: rgb(153, 0, 0); text-decoration: underline; }
.gotop { clear: both; text-align: right; text-decoration: none; margin-top: 4px; }
.gotop a { text-decoration: none; }
.gotop a:hover { text-decoration: underline; color: rgb(153, 0, 0); }
.note_header { clear: both; width: 100%; margin-top: 4px; margin-bottom: 4px; }
.note_header_name { width: 57%; float: left; height: 24px; font-weight: bold; }
.note_header_date { width: 18%; float: left; text-align: center; font-weight: bold; }
.note_header_forum { width: 7%; float: left; text-align: center; font-weight: bold; }
.note_header_wp { width: 7%; float: left; text-align: center; font-weight: bold; }
.note_header_del { width: 7%; float: left; text-align: center; font-weight: bold; }
.note_info { border-top: 1px dotted rgb(153, 204, 153); clear: both; height: 40px; }
.note_name { width: 57%; float: left; font-size: 12px; color: rgb(51, 51, 51); padding-top: 12px; }
.note_date { width: 18%; float: left; text-align: center; padding-top: 14px; color: rgb(51, 51, 51); font-size: 11px; }
.note_forum { width: 7%; float: left; text-align: center; color: rgb(51, 51, 51); font-size: 11px; padding-top: 12px; }
.note_wp { width: 7%; float: left; text-align: center; color: rgb(51, 51, 51); font-size: 11px; padding-top: 12px; }
.note_del { width: 7%; float: left; text-align: center; color: rgb(51, 51, 51); font-size: 11px; padding-top: 12px; }
.post_text_field { float: left; margin-right: 8px; }
.post_text_smile { float: left; }
.reply_block_header { clear: both; width: 100%; margin-top: 4px; margin-bottom: 4px; }
.reply_block_header_title { border-bottom: 1px dotted rgb(153, 204, 153); width: 100%; float: left; height: 24px; font-weight: bold; }
.reply_block_row { overflow: auto; clear: both; }
.reply_block_col_t { font-size: 12px; color: rgb(51, 51, 51); }
.reply_block_col_b { font-size: 12px; color: rgb(51, 51, 51); line-height: 16px; }
.reply_block { width: 100%; margin-bottom: 4px; }
.pm_header { clear: both; width: 100%; margin-top: 4px; margin-bottom: 4px; }
.pm_header_select { width: 5%; float: left; text-align: center; font-weight: bold; }
.pm_header_name { width: 70%; float: left; height: 24px; font-weight: bold; }
.pm_header_reply { width: 5%; float: left; text-align: center; font-weight: bold; }
.pm_header_date { width: 18%; float: left; text-align: center; font-weight: bold; }
.pm_info { border-top: 1px dotted rgb(153, 204, 153); clear: both; height: 40px; }
.pm_select { width: 5%; float: left; text-align: center; color: rgb(51, 51, 51); font-size: 11px; padding-top: 10px; }
.pm_name { width: 70%; float: left; font-size: 12px; color: rgb(51, 51, 51); padding-top: 12px; }
.pm_reply { width: 5%; float: left; text-align: center; color: rgb(51, 51, 51); font-size: 11px; padding-top: 12px; }
.pm_date { width: 18%; float: left; text-align: center; padding-top: 6px; color: rgb(51, 51, 51); font-size: 11px; }
.userinfo_block { width: 100%; }
.userinfo_title { border-top: 1px dotted rgb(153, 204, 153); clear: both; font-size: 15px; color: rgb(153, 0, 0); font-weight: bold; padding-top: 8px; }
.userinfo_content { font-size: 12px; color: rgb(51, 51, 51); margin-top: 4px; margin-bottom: 4px; }
.userinfo_date { float: right; font-size: 11px; margin-left: 8px; }
.userinfo_reply { float: right; font-size: 11px; margin-left: 8px; }
.userinfo_link { float: right; font-size: 11px; margin-left: 8px; margin-bottom: 4px; }
.userinfo_header { width: 100%; margin-bottom: 4px; }
.reply_header { width: 100%; }
.reply_header_name { font-weight: bold; font-size: 12px; float: left; height: 20px; }
.reply_header_info { font-weight: bold; font-size: 12px; text-align: right; float: right; }
.reply_info { border-top: 1px dotted rgb(153, 204, 153); }
.reply_name { font-size: 12px; font-weight: bold; margin-top: 8px; }
.reply_content { font-size: 13px; margin-top: 4px; margin-bottom: 4px; }
.signup_list { font-size: 12px; }
.signup_list_item { float: left; width: 19%; height: 24px; }
.week_event { border-top: 1px dotted rgb(153, 204, 153); float: left; width: 14%; font-size: 12px; height: 120px; }
.week_event li { list-style-position: inside; }
.week_non_event { border-top: 1px dotted rgb(153, 204, 153); float: left; width: 14%; font-size: 12px; height: 120px; }
.today { font-size: 24px; color: rgb(153, 0, 0); text-align: right; margin-right: 4px; }
.holoday { font-size: 24px; color: rgb(255, 102, 51); text-align: right; margin-right: 4px; }
.weekday { font-size: 24px; color: rgb(102, 102, 102); text-align: right; margin-right: 4px; }
.calenar_week { float: left; width: 14%; height: 24px; text-align: center; line-height: 16px; margin-top: 8px; }
.msgbox_block_main { overflow: auto; height: 100%; }
.shop_sidemenu { width: 194px; float: left; }
.shop_content { overflow: auto; float: left; width: 806px; }
.shop_block { float: left; width: 190px; margin-bottom: 4px; }
.shop_block_main { margin-bottom: 4px; }
.shop_block_header { font-weight: bold; margin-bottom: 8px; }
.shop_block_content { border-top: 1px dotted rgb(153, 204, 153); margin-bottom: 4px; margin-top: 8px; line-height: 20px; padding-top: 4px; }
.product_new_header { width: 100%; }
.product_new_left { margin: 3px; width: 48%; float: left; }
.product_new_right { margin: 3px; width: 48%; float: right; }
.product_new_textonly { background: rgb(223, 236, 222) none repeat scroll 0% 0%; text-align: center; color: rgb(255, 0, 0); line-height: 16px; }
.product_new_block { width: 100%; }
.product_new_block_main { margin: 3px; width: 24%; float: left; height: 240px; }
.product_new_detail { text-align: center; }
.product_text_area { margin: 8px 6px; }
.product_info { width: 100%; margin-top: 8px; }
.product_image { width: 400px; float: left; }
.product_price { float: left; }
.product_price_main { line-height: 24px; margin-top: 8px; margin-bottom: 8px; height: 30px; }
.product_buy_top { overflow: auto; clear: both; width: 100%; margin-top: 8px; padding-top: 8px; }
.product_buy_btm { border-top: 1px dotted rgb(153, 204, 153); clear: both; width: 100%; margin-top: 8px; padding-top: 8px; }
.product_buy_btn { float: right; text-align: center; width: 24%; margin-bottom: 12px; }
.product_desc { border-top: 1px dotted rgb(153, 204, 153); overflow: auto; line-height: 16px; color: rgb(51, 51, 51); margin-top: 8px; padding-top: 8px; width: 100%; }
.product_desc li { text-align: left; line-height: 16px; }
.product_desc td { text-align: left; line-height: 16px; }
.shopping_help_block { float: left; width: 360px; margin-left: 4px; margin-bottom: 4px; }
.category_list_item { float: left; width: 24%; height: 24px; }
.cart_header { clear: both; width: 100%; margin-top: 4px; margin-bottom: 4px; }
.cart_header_name { width: 57%; float: left; height: 24px; font-weight: bold; }
.cart_header_qty { width: 7%; float: left; text-align: center; font-weight: bold; }
.cart_header_price { width: 17%; float: left; text-align: right; font-weight: bold; }
.cart_header_func { width: 17%; float: left; text-align: right; font-weight: bold; }
.cart_info { border-top: 1px dotted rgb(153, 204, 153); clear: both; height: 40px; }
.cart_name { width: 57%; float: left; font-size: 12px; color: rgb(51, 51, 51); padding-top: 12px; }
.cart_qty { width: 7%; float: left; text-align: center; padding-top: 14px; color: rgb(51, 51, 51); font-size: 12px; }
.cart_price { width: 17%; float: left; text-align: right; color: rgb(51, 51, 51); font-size: 12px; padding-top: 14px; }
.cart_func { width: 17%; float: left; text-align: right; color: rgb(51, 51, 51); font-size: 12px; padding-top: 14px; }
.cart_func a { font-size: 12px; color: rgb(51, 51, 51); }
.cart_func a:hover { color: rgb(153, 0, 0); }
.cartbox_block { width: 100%; margin-top: 4px; }
.cart_total_price { border-top: 1px dotted rgb(153, 204, 153); text-align: right; padding-top: 8px; padding-right: 16px; }
.address_header { clear: both; width: 100%; margin-top: 4px; margin-bottom: 4px; }
.address_header_name { width: 81%; float: left; height: 24px; font-weight: bold; }
.address_header_func { width: 17%; float: left; text-align: right; font-weight: bold; }
.address_info { border-top: 1px dotted rgb(153, 204, 153); clear: both; height: 40px; }
.address_name { width: 81%; float: left; font-size: 12px; color: rgb(51, 51, 51); padding-top: 12px; }
.address_func { width: 17%; float: left; text-align: right; color: rgb(51, 51, 51); font-size: 12px; padding-top: 14px; }
.address_func a { font-size: 12px; color: rgb(51, 51, 51); }
.address_func a:hover { color: rgb(153, 0, 0); }
.orderlist_header { clear: both; width: 100%; margin-top: 4px; margin-bottom: 4px; }
.orderlist_header_name { width: 38%; float: left; height: 24px; font-weight: bold; }
.orderlist_header_price { width: 10%; float: left; text-align: right; font-weight: bold; }
.orderlist_header_date { width: 20%; float: left; text-align: center; font-weight: bold; }
.orderlist_header_stat { width: 10%; float: left; text-align: center; font-weight: bold; }
.orderlist_header_ques { width: 10%; float: left; text-align: center; font-weight: bold; }
.orderlist_header_func { width: 10%; float: left; text-align: right; font-weight: bold; }
.orderlist_info { border-top: 1px dotted rgb(153, 204, 153); clear: both; height: 40px; }
.orderlist_name { width: 38%; float: left; font-size: 12px; color: rgb(51, 51, 51); padding-top: 12px; }
.orderlist_price { width: 10%; float: left; font-size: 12px; color: rgb(51, 51, 51); padding-top: 12px; text-align: right; }
.orderlist_date { width: 20%; float: left; font-size: 12px; color: rgb(51, 51, 51); padding-top: 12px; text-align: center; }
.orderlist_stat { width: 10%; float: left; font-size: 12px; color: rgb(51, 51, 51); padding-top: 12px; text-align: center; }
.orderlist_ques { width: 10%; float: left; font-size: 12px; color: rgb(51, 51, 51); padding-top: 12px; text-align: center; }
.orderlist_func { width: 10%; float: left; text-align: right; color: rgb(51, 51, 51); font-size: 12px; padding-top: 14px; }
.orderlist_func a { font-size: 12px; color: rgb(51, 51, 51); }
.orderlist_func a:hover { color: rgb(153, 0, 0); }
.re12 { font-size: 12px; color: rgb(255, 0, 0); text-decoration: none; }
.prd_no_icon { border: 1px solid rgb(204, 204, 204); width: 148px; height: 148px; background-color: rgb(238, 238, 238); color: rgb(102, 102, 102); font-size: 11px; line-height: 150px; margin-bottom: 2px; text-align: center; }
.smilepreview { width: 24%; text-align: center; float: left; }
.smilepreview_icon { text-align: center; margin-top: 4px; height: 60px; }
.smilepreview_text { margin: 4px; text-align: center; }
.download_item { border-bottom: 1px dotted rgb(153, 204, 153); overflow: auto; clear: both; }
.download_title { margin-bottom: 8px; margin-top: 8px; }
.download_icon { float: left; margin-right: 8px; }
.download_desc { float: left; }
.download_info { clear: both; font-size: 11px; color: rgb(102, 102, 102); }
.download_link { text-align: right; margin-bottom: 8px; }
.smile_preview { height: 60px; }
.sline { letter-spacing: 1px; }
.wp_list { border-bottom: 1px dotted rgb(153, 204, 153); width: 100%; clear: both; margin-bottom: 12px; margin-top: 12px; }
.wp_icon { overflow: hidden; width: 200px; height: 160px; float: left; margin-right: 8px; }
.wp_name { margin-bottom: 8px; }
.wp_desc { font-size: 13px; color: rgb(102, 102, 102); line-height: 16px; }
.wp_info { margin-top: 8px; }
.subindex_content_main { width: 100%; margin-top: 4px; }
.faq_list { border-bottom: 1px dotted rgb(153, 204, 153); width: 100%; clear: both; margin-top: 8px; }
.faq_ques { font-size: 15px; margin-bottom: 4px; color: rgb(153, 0, 0); }
.faq_ans { font-size: 13px; color: rgb(51, 51, 51); margin-bottom: 8px; }
.shopping_hline { border-top: 1px dotted rgb(153, 204, 153); height: 1px; margin-bottom: 8px; }
.flist { font-size: 12px; list-style-type: none; list-style-image: none; list-style-position: outside; }
.flist_item { float: left; width: 23%; list-style-type: none; list-style-image: none; list-style-position: outside; line-height: 20px; }
.double_ad_l { position: relative; left: 10%; margin-top: 4px; float: left; }
.double_ad_r { position: relative; right: 10%; margin-top: 4px; float: right; }
.textimg_block { display: block; }
.textimg_block * { background: rgb(239, 245, 238) none repeat scroll 0% 0%; overflow: hidden; display: block; height: 1px; font-size: 0.01em; }
.textimg_block1 { border-left: 1px solid rgb(248, 250, 247); border-right: 1px solid rgb(248, 250, 247); background: rgb(243, 247, 242) none repeat scroll 0% 0%; margin-left: 3px; margin-right: 3px; padding-left: 1px; padding-right: 1px; }
.textimg_block2 { border-left: 1px solid rgb(253, 254, 253); border-right: 1px solid rgb(253, 254, 253); background: rgb(242, 246, 241) none repeat scroll 0% 0%; margin-left: 1px; margin-right: 1px; padding-right: 1px; padding-left: 1px; }
.textimg_block3 { border-left: 1px solid rgb(242, 246, 241); border-right: 1px solid rgb(242, 246, 241); margin-left: 1px; margin-right: 1px; }
.textimg_block4 { border-left: 1px solid rgb(248, 250, 247); border-right: 1px solid rgb(248, 250, 247); }
.textimg_block5 { border-left: 1px solid rgb(243, 247, 242); border-right: 1px solid rgb(243, 247, 242); }
.textimg { width: 190px; margin-bottom: 4px; }
.textimg_header { font-weight: bold; padding-left: 10px; padding-bottom: 4px; background-color: rgb(223, 236, 222); }
.textimg_content { background-color: rgb(239, 245, 238); }
.textimg_item { border-top: 1px dotted rgb(153, 204, 153); padding-top: 8px; padding-bottom: 8px; background-color: rgb(239, 245, 238); font-size: 12px; line-height: 1.7em; clear: both; }
.textimg_item a { color: rgb(0, 102, 0); text-decoration: none; }
.textimg_item a:hover { color: rgb(255, 0, 0); text-decoration: underline; }
.textimg_image { margin-left: 6px; margin-right: 6px; }

/* ::::: null ::::: */

.loadimage { margin: 4px; color: rgb(0, 102, 0); cursor: pointer; }
img { border: 0px none ; }

/* ::::: null ::::: */

.textimg_block { display: block; }
.textimg_block * { background: rgb(239, 245, 238) none repeat scroll 0% 0%; overflow: hidden; display: block; height: 1px; font-size: 0.01em; }
.textimg_block1 { border-left: 1px solid rgb(248, 250, 247); border-right: 1px solid rgb(248, 250, 247); background: rgb(243, 247, 242) none repeat scroll 0% 0%; margin-left: 3px; margin-right: 3px; padding-left: 1px; padding-right: 1px; }
.textimg_block2 { border-left: 1px solid rgb(253, 254, 253); border-right: 1px solid rgb(253, 254, 253); background: rgb(242, 246, 241) none repeat scroll 0% 0%; margin-left: 1px; margin-right: 1px; padding-right: 1px; padding-left: 1px; }
.textimg_block3 { border-left: 1px solid rgb(242, 246, 241); border-right: 1px solid rgb(242, 246, 241); margin-left: 1px; margin-right: 1px; }
.textimg_block4 { border-left: 1px solid rgb(248, 250, 247); border-right: 1px solid rgb(248, 250, 247); }
.textimg_block5 { border-left: 1px solid rgb(243, 247, 242); border-right: 1px solid rgb(243, 247, 242); }
.textimg { width: 190px; margin-bottom: 4px; }
.textimg_header { font-weight: bold; padding-left: 10px; padding-bottom: 4px; background-color: rgb(223, 236, 222); }
.textimg_content { background-color: rgb(239, 245, 238); }
.textimg_item { border-top: 1px dotted rgb(153, 204, 153); padding-top: 8px; padding-bottom: 8px; background-color: rgb(239, 245, 238); font-size: 12px; line-height: 1.7em; clear: both; }
.textimg_item a { color: rgb(0, 102, 0); text-decoration: none; }
.textimg_item a:hover { color: rgb(255, 0, 0); text-decoration: underline; }
.textimg_image { margin-left: 6px; margin-right: 6px; }
