
/* ::::: http://dasu88.twbbs.org/wp-content/themes/scruffy/style.css ::::: */

body, html { height: 100%; }
body, html, p, ul, ol { border: medium none ; margin: 0pt; padding: 0pt; }
body { background: rgb(188, 209, 220) url('bg.jpg') no-repeat scroll center top; font-family: Arial,Helvetica,Sans-serif; font-size: 90%; line-height: 1.5; color: rgb(102, 102, 102); text-align: center; }
h1, h2, h3, h4, h5, h6 { margin: 5px 0pt; font-family: Georgia,Helvetica,Sans-serif; font-weight: normal; color: rgb(102, 102, 102); }
h1 { font-size: 30pt; }
h2 { font-size: 20pt; }
h3 { font-size: 20pt; }
h4 { font-size: 18pt; }
h5 { font-size: 14pt; }
h6 { font-size: 12pt; }
p { margin: 18pt 0pt; }
ul, ol { margin: 10px 0pt; padding: 0pt 0pt 0pt 30px; }
img { border: medium none ; }
a:link, a:visited { color: rgb(134, 151, 160); }
#nav ul { margin: 3px 0pt 0pt; padding: 0pt 0pt 0pt 18px; }
#nav ul li { background: transparent url('navdivider.jpg') no-repeat scroll left center; list-style-type: none; list-style-image: none; list-style-position: outside; display: inline; font-size: 1.2em; margin-right: 10px; padding-left: 15px; }
#nav ul li.first { background: transparent none repeat scroll 0% 0%; }
#nav ul li a:link, #nav ul li a:visited { font-weight: bold; color: rgb(119, 119, 119); text-decoration: none; padding-top: 13px; }
#nav ul li a:hover { background: transparent url('navhover.gif') no-repeat scroll center top; color: rgb(0, 0, 0); }
#nav ul li.current_page_item a:link, #nav ul li.current_page_item a:visited { background: transparent url('navhover.gif') no-repeat scroll center top; color: rgb(0, 0, 0); }
#container { margin: 0pt auto; position: relative; width: 830px; text-align: left; }
#head { background: rgb(188, 209, 220) url('header.jpg') no-repeat scroll center top; height: 137px; width: 830px; }
#head h1 { margin: 0pt 15px; font-family: Georgia,Times,serif; font-size: 4em; }
#head h1 a { color: rgb(89, 89, 89); text-decoration: none; }
#nav {  }
#main { background: rgb(244, 245, 222) url('main.jpg') no-repeat scroll left top; float: left; width: 830px; margin-top: -1px; clear: both; }
#content { float: left; width: 560px; }
#postnav { position: relative; z-index: 4; }
#sidebar { float: left; width: 270px; margin-bottom: 20px; }
#sidebar .subscribe { background: transparent url('subscribe.jpg') no-repeat scroll left top; overflow: hidden; display: block; height: 0pt; margin-left: 17px; text-indent: -9999px; padding-top: 73px; width: 247px; }
#searchform { margin-top: 15px; margin-left: 10px; margin-bottom: 20px; }
#sidebar #searchform .text { border: 1px solid rgb(235, 236, 213); padding: 8px 0pt 0pt 5px; height: 22px; width: 195px; color: rgb(119, 119, 119); }
#sidebar #searchform .submit { margin-bottom: -9px; }
#footer { margin: -50px auto 0pt -80px; padding: 0pt 80px; background: transparent url('footer.jpg') no-repeat scroll center bottom; position: relative; z-index: 0; float: left; height: 186px; width: 830px; }
#footer p { position: absolute; bottom: 0pt; left: 100px; color: rgb(153, 153, 153); }
h3.cathead { position: absolute; top: 140px; left: 35px; font-size: 16px; font-weight: bold; }
.post { border-bottom: 1px solid rgb(223, 224, 195); padding: 18px 10px 30px 35px; background: transparent url('posttop.jpg') no-repeat scroll left top; position: relative; float: left; z-index: 5; }
.entry p { line-height: 24px; }
.entry { position: relative; z-index: 1; }
.first { padding-top: 40px ! important; background-image: none; }
.postbottom { background: transparent url('postbottom.jpg') no-repeat scroll 0% 100%; position: absolute; bottom: 0pt; left: 0pt; height: 200px; width: 400px; z-index: -5; margin-top: -170px; }
.post .comments { padding: 1px 21px 9px; background: transparent url('comments.jpg') no-repeat scroll center center; position: absolute; top: 27px; left: -22px; color: rgb(0, 0, 0); text-decoration: none; display: block; font-family: Georgia,Times,serif; font-size: 36px; }
.post .comments a:link, .post .comments a:visited { text-decoration: none; color: rgb(0, 0, 0) ! important; }
.first .comments { top: 53px; }
.post .postmetadata { margin: 0pt 0pt 0pt 10px; color: rgb(134, 151, 160); }
.post .postmetadata a:link, .post .postmetadata a:visited { color: rgb(134, 151, 160); text-decoration: none; }
.post .postmetadata .date { padding: 0pt 0pt 0pt 24px; background: transparent url('clock.png') no-repeat scroll left center; margin-right: 10px; }
.post .postmetadata .author { padding: 0pt 0pt 0pt 24px; background: transparent url('cog.png') no-repeat scroll left center; margin-right: 10px; }
.post .postmetadata .category { padding: 0pt 0pt 0pt 24px; background: transparent url('folder.png') no-repeat scroll left center; margin-right: 10px; }
.post .postmetadata .edit { padding: 0pt 0pt 0pt 24px; background: transparent url('edit.png') no-repeat scroll left center; margin-right: 10px; margin-top: 10px; }
.post .postmetadata .edit a:link, .post .postmetadata .edit a:visited { color: red; text-decoration: none; }
.first h2.title { width: 428px; }
.post h2.title { margin: 12px 0pt 7px 10px; color: rgb(90, 90, 90); line-height: 42px; }
.post h2.title a:link, .post h2.title a:visited { color: rgb(90, 90, 90); text-decoration: none; }
.post h1, .post h2, .post h3, .post h4, .post h5, .post h6 {  }
.post p.more { padding: 0pt 25px 0pt 0pt; background: transparent url('image_next.png') no-repeat scroll right center; }
.post p.more a:link, .post p.more a:visited { text-decoration: none; }
.post p.tags { padding: 0pt 0pt 0pt 25px; background: transparent url('tag.png') no-repeat scroll left center; }
.post p.tags a:link, .post p.tags a:visited { text-decoration: none; }
.entry {  }
.entry p { margin: 25px 0pt; }
.entry .pagelinks {  }
.entry .pagelinks a {  }
.entry blockquote { color: rgb(102, 102, 102); }
.entry blockquote p { margin: 0pt; }
.entry blockquote.pullquote_left { float: left; width: 150px; font-size: 18px; font-family: Georgia,serif; }
.entry blockquote.pullquote_right { float: right; width: 150px; font-size: 18px; font-family: Georgia,serif; }
.entry ul { padding: 0pt 0pt 0pt 30px; }
.entry ol { padding: 0pt 0pt 0pt 30px; }
.entry ol li ol li { list-style-type: lower-alpha; }
.entry .download { padding: 20px 0pt 20px 80px; background: transparent url('download.jpg') no-repeat scroll 4% center; }
.entry .info { padding: 20px 0pt 20px 80px; background: transparent url('info.jpg') no-repeat scroll 4% center; }
.entry .update { padding: 20px 0pt 20px 80px; background: transparent url('update.jpg') no-repeat scroll 4% center; }
.entry .warning { padding: 20px 0pt 20px 80px; background: transparent url('warning.jpg') no-repeat scroll 4% center; }
#navigation { margin: 0pt 0pt 0pt 30px; }
#navigation .prev a:link, #navigation .prev a:visited { text-decoration: none; }
#navigation .prev a:hover {  }
#navigation .next a:link, #navigation .next a:visited { text-decoration: none; }
#navigation .next a:hover {  }
#paginate a:link, #paginate a:visited { border: 1px solid rgb(158, 158, 158); padding: 2px 7px; background-color: rgb(237, 237, 237); text-decoration: none; }
#image_nav { float: left; width: 100%; }
#image_nav img {  }
#image_nav a:link, #image_nav a:visited { display: block; }
#image_nav .prev a:link, #image_nav .prev a:visited { padding: 0pt 0pt 0pt 30px; background: transparent url('image_prev.png') no-repeat scroll left center; }
#image_nav .next a:link, #image_nav .next a:visited { padding: 0pt 30px 0pt 0pt; background: transparent url('image_next.png') no-repeat scroll right center; }
.gallery { margin-top: 20px ! important; }
.gallery-item { border: medium none  ! important; margin: 0pt; padding: 0pt; float: left; }
.gallery-icon {  }
.attachment-thumbnail { border: medium none  ! important; }
#widgets { padding-left: 20px; }
.widget a:link, .widget a:visited { color: rgb(102, 102, 102); }
.widget { border: 1px solid rgb(223, 224, 195); background: transparent url('cattopleft.jpg') no-repeat scroll left top; width: 225px; margin-bottom: 30px; margin-left: 5px; }
.widget .widgetbottom { background: transparent url('catbotright.jpg') no-repeat scroll right bottom; height: 29px; width: 225px; margin-top: -20px; }
.widget h3 { background: transparent url('widgettitle.jpg') no-repeat scroll center bottom; font-family: Georgia,Times,serif; font-size: 24px; color: rgb(138, 140, 107); padding-left: 20px; }
.widget ul { margin: 10px 10px 0pt 25px; padding: 0pt; }
.widget ul li { list-style-type: none; list-style-image: none; list-style-position: outside; font-size: 12px; color: rgb(106, 106, 106); margin-bottom: 7px; }
.widget ul li { margin: 7px 0pt; list-style-type: none; list-style-image: none; list-style-position: outside; }
.widget ul li ul { margin: 0pt 0pt 0pt 15px; }
.widget ul li ul li { margin: 5px 0pt; padding: 0pt 0pt 0pt 0px; list-style-type: none; list-style-image: none; list-style-position: outside; }
.widget ul li a:link, #sidebar .widget ul li a:visited { color: rgb(106, 106, 106); text-decoration: none; }
.widget ul li a:hover {  }
.widget .textwidget { margin: 0pt 10px 0pt 25px; padding: 0pt 0pt 10px; }
.widget #recentcomments li { padding: 0pt; }
.widget #recentcomments li a:link, .widget #recentcomments li a:visited { border-bottom: medium none; color: rgb(0, 0, 0); }
.widget #recentcomments li a:hover {  }
.widget h3 a.rsswidget { font-weight: normal ! important; margin-left: 0pt; text-decoration: none; color: rgb(138, 140, 107); }
.widget h3 a.rsswidget img { display: none; }
.widget a.rsswidget {  }
.widget .rss-date { display: block; }
.widget div.rssSummary { margin: 10px 0pt 5px; }
#wp-calendar { margin: 0pt 10px; width: 200px; text-align: center; }
#wp-calendar caption { padding: 0pt 0pt 7px; font-weight: bold; text-align: right; }
#wp-calendar a:link, #wp-calendar a:visited { padding: 3px 5px; text-decoration: none; background-color: rgb(220, 220, 220); }
#wp-calendar #next { text-align: right; }
#wp-calendar #prev { text-align: left; }
#wp-calendar #next a:link, #wp-calendar #next a:visited, #wp-calendar #prev a:link, #wp-calendar #prev a:visited { background: transparent none repeat scroll 0% 0%; color: rgb(102, 102, 102); }
.democracy { margin: 0pt 0pt 0pt 20px ! important; padding: 5px 20px 40px 5px ! important; width: 75% ! important; }
.dem-vote-button { border: medium none ; float: left; background-color: rgb(223, 224, 195); height: 25px; }
.democracy ul { margin: 10px 0pt ! important; padding: 0pt; }
.democracy ul li { margin: 0pt 0pt 5px; padding-left: 0pt ! important; text-transform: uppercase; font-size: 11px; list-style-type: none; list-style-image: none; list-style-position: outside; }
.democracy ul li a { background-image: none ! important; }
.dem-graph { width: 100%; }
.dem-graph a { padding: 0pt ! important; width: 100%; border-bottom-color: rgb(153, 153, 153) ! important; border-right-color: rgb(153, 153, 153) ! important; }
.dem-graph b { color: rgb(0, 0, 0) ! important; font-size: 10px; }
.dem-graph i { color: rgb(0, 0, 0) ! important; font-size: 10px; }
.democracy ul li input { margin: 0pt 2px 0pt 5px ! important; }
.dem-vote-link { float: right; display: block; margin-top: 8px; color: rgb(102, 102, 102); }
p.flickrrss { display: inline; }
p.flickrrss img { padding: 5px; margin-left: 20px; margin-right: -5px; }
p.flickrrss img:hover { background-color: rgb(223, 224, 195); }
#themeswitcher {  }
#themswitcher li { margin: 0pt; }
#themeswitcher select { width: 93% ! important; }
#comments { border-bottom: 1px solid rgb(223, 224, 195); margin: 0pt 0pt 0pt 30px; padding: 10px 0pt 0pt; }
#comments h3 { margin: 15px 0pt; font-size: 16px; }
#formsblock { padding: 0pt 0pt 20px; }
#formsblock .hi { margin: 0pt 0pt -10px; }
#formsblock .hi small { font-size: 11px; margin-top: -16px; }
#formsblock .comments { padding: 6px 30px 6px 0pt; background: transparent url('rss_comments.png') no-repeat scroll right center; text-decoration: none; line-height: 20px; }
#comments ol { border-top: 1px solid rgb(223, 224, 195); border-bottom: 1px solid rgb(223, 224, 195); margin: 5px 0pt 30px; padding: 0pt; list-style-type: none; list-style-image: none; list-style-position: outside; }
#comments ol li { margin: 5px 0pt; padding: 10px; list-style-type: none; list-style-image: none; list-style-position: outside; }
#comments ol li.alt { background-color: rgb(229, 230, 198); }
#comments ol li.authorcomment { background-color: rgb(215, 216, 191); }
.commententry p.moderate { padding: 4px 0pt 4px 10px; background-color: rgb(238, 238, 238); font-style: italic; font-weight: bold; }
.commentmeta { font-size: 11px; }
.commentmeta .gravatar {  }
.commentmeta .gravatar img { border: 1px solid rgb(237, 237, 237); margin: 0pt 10px 0pt 0pt; float: left; }
.commentmeta .commentauthor { font-size: 14px; font-weight: bold; }
.commentmeta .commentdate {  }
.commentmeta .commentpermalink {  }
#comments #tagbox { margin: 0pt 0pt 25px; color: rgb(158, 158, 158); }
#comments #tagbox:hover { color: rgb(0, 0, 0); }
#comments #tagbox p { margin: 0pt; font-size: 12px; }
#comments #tagbox strong { font-size: 12px; }
#comments p.nocomments { padding: 0pt; }
#comments textarea { margin: 0pt; font-family: Arial,Helvetica,Georgia,Sans-serif; width: 100%; line-height: 20px; font-size: 15px; }
#commentform #submit { border: 1px solid rgb(158, 158, 158); padding: 5px; background-color: rgb(237, 237, 237); }
.entry img { padding: 5px; background-color: rgb(221, 223, 192); }
img.wp-smiley { border: medium none ; padding: 0pt; background-color: transparent; }
.entry .alignleft { margin: 10px 15px 10px 0pt; float: left; }
.entry .alignright { margin: 10px 0pt 10px 15px; float: right; }
.entry .aligncenter { text-align: center; }
.post table { border-top: 1px solid rgb(180, 182, 156); border-left: 1px solid rgb(180, 182, 156); margin: 10px 0pt; width: 100%; border-spacing: 0pt; }
:first-child + html .post table { border-collapse: collapse; }
.post table th { font-size: 15px; background-color: rgb(222, 224, 194); color: rgb(102, 102, 102); }
.post table th, .post table td { border-right: 1px solid rgb(180, 182, 156); border-bottom: 1px solid rgb(180, 182, 156); padding: 3px 0pt 3px 5px; }
.post .altrow { background-color: rgb(255, 255, 249); }
.floatl { float: left; }
.floatr { float: right; }
.alignl { text-align: left; }
.alignr { text-align: right; }
.alignc { text-align: center; }
.hide { display: none; }
.clearfix:after { clear: both; content: '.'; display: block; visibility: hidden; height: 0pt; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

/* ::::: null ::::: */

.recentcomments a { margin: 0pt ! important; padding: 0pt ! important; display: inline ! important; }
