a { color: rgb(153, 153, 153); }
body, table, div, ul, li { margin: 0pt; padding: 0pt; }
#ads { height: 582px; left: 0px; position: absolute; top: 18px; width: 120px; }
#ads ul { list-style: none outside none; }
#ads ul li { clear: both; float: left; height: 143px; line-height: 0; padding: 1px 4px; overflow: hidden; width: 112px; }
.adc { height: 143px; overflow: hidden; table-layout: fixed; width: 100%; }
.adt { font-size: 15px; line-height: 17px; }
.adb { color: rgb(102, 102, 102); font-size: 14px; line-height: 16px; }
.adu { color: rgb(85, 136, 170); font-size: 10px; line-height: 12px; overflow: hidden; text-decoration: underline; white-space: nowrap; }
.adus { cursor: pointer; }
