/* ::::: https://plusone.google.com/_/apps-static/_/ss/plusone/ver=4x6d5pec1j7r/am=!sg87bdX_5LnwfGiw/bf=wg/r=O ::::: */

* html .d-q-p, :first-child + html .d-q-p { display: inline; }
.a-tc-wV { float: left; white-space: nowrap; }
.a-Fh-Ib-F7 { margin: 0pt; padding: 0pt; }
.a-tc-kg-e { outline: 0pt none; text-decoration: none; display: block; }
.a-tc-e-Ik-Ot-ff { vertical-align: top; color: rgb(102, 102, 102); font-family: arial,sans-serif; }
.a-tc-kg-s-e { width: 50px; height: 20px; }
.a-tc-e-Zi .a-tc-kg-s-e { background: url('sprite.png') no-repeat scroll -204px 0pt transparent; }
.a-tc-e-Zi a.a-tc-kg-s-e:hover { background: url('sprite.png') no-repeat scroll -255px 0pt transparent; }
.a-tc-e-Zi a.a-tc-kg-s-e:active { background: url('sprite.png') no-repeat scroll -153px 0pt transparent; }
.a-tc-kg-s-Ik-ff { background: url('sprite.png') no-repeat scroll -255px -21px transparent; height: 35px; width: 50px; text-align: center; margin-bottom: 5px; overflow: hidden; }
.a-tc-kg-s-Ik-ff .a-tc-e-Ik-yz { padding-top: 6px; }
.a-tc-kg-s-Ik-ff { font-size: 15px; }
