/* ::::: http://www.blogger.com/static/v1/v-css/4124270156-cmtfp.css ::::: */

body { background: none repeat scroll 0% 0% transparent; font-family: "Trebuchet MS",Verdana,Arial,Sans-serif; font-size: 13px; margin: 0pt; }
h3 { margin: 5px 0pt; }
label { font-weight: bold; }
.postCommentButtonHolder { margin: 0.5em 0pt 0pt; }
.dialog { position: absolute; width: 373px; color: rgb(0, 0, 0); }
.dialog h3 { margin: 5px 0pt 10px; }
.dialog img { margin: 2px 0pt; }
.dialog input { margin: 2px 0pt; position: relative; }
.dialogField { width: 280px; }
.dialog .group { margin: 5px 0pt; }
.dialog .top { background: url('s_top_373_550.png') no-repeat scroll left top transparent; font-size: 90%; padding: 8px 15px 5px; margin: 0px; }
.dialog .top h3 { font-size: 15px; }
#captchaHolder .top, #openIdIdentityHolder .top, #genericOpenIdIdentityHolder .top, #nameUrlIdentityHolder .top { height: 200px; }
.dialog .bottom { background: url('s_bottom_373.png') no-repeat scroll left bottom transparent; height: 8px; font-size: 8px; }
img.close { position: relative; margin: 5px 0pt; float: right; cursor: pointer; }
.shown-openid-url { color: rgb(136, 136, 136); font-style: italic; }
#openIdUriDisplayUsername { color: rgb(0, 0, 0); }
#postCommentSubmit { font-weight: bold; }
#id-error, #empty-error, #captcha-error, #openIdDialogErrorHolder, #genericOpenIdDialogErrorHolder, #nameUrlDialogErrorHolder { margin-left: 10px; color: rgb(255, 51, 0); }
#commentBodyField { margin: 5px 0pt; width: 98%; }
#LJLabel, #WPLabel, #TPLabel, #AIMLabel, #edit-profile-error, #main-status-holder, #main-error-holder, #identityHolder, #captchaHolder, #identityHolder .dialog { display: none; }
#main-status-holder, #main-error-holder { margin-top: 5px; }
#editButton, #settingsButton, #commentDash { display: none; margin-left: 5px; }
table { font-size: 100%; border-width: 0px; border-spacing: 0px; border-style: none; border-collapse: collapse; }
table.status-msg { margin: auto; width: auto; }
table.status-msg td.corner { height: 1px; width: 1px; line-height: 1px; margin: 0pt; background-color: transparent; }
table.status-msg td.stretch { height: 2px; line-height: 2px; margin: 0pt; }
.error .msgcolor { background-color: rgb(204, 0, 0); color: rgb(255, 255, 255); visibility: visible; font-weight: bold; }
.status .msgcolor { background-color: rgb(255, 241, 168); color: rgb(0, 0, 0); visibility: visible; }
table.status-msg img { display: block; }
#allHolder { width: 98%; }
#subscribeButtonHolder { float: right; margin-top: 5px; margin-right: 5px; }
#main-error, #main-status { padding: 2px 6px; }
body { color: rgb(0, 0, 0); font-family: arial; }
a:link, a:visited, a:active, a:hover { color: rgb(34, 68, 102); }
