/* ::::: http://www.blogger.com/static/v1/widgets/129348724-widget_css_bundle.css ::::: */

#ArchiveList .toggle { cursor: pointer; font-family: Arial,sans-serif; }
#ArchiveList .toggle-open { line-height: 0.6em; }
#ArchiveList { text-align: left; }
#ArchiveList a.post-count-link, #ArchiveList a.post-count-link:link, #ArchiveList a.post-count-link:visited { text-decoration: none; }
#ArchiveList a.toggle, #ArchiveList a.toggle:link, #ArchiveList a.toggle:visited, #ArchiveList a.toggle:hover { color: inherit; text-decoration: none; }
.BlogArchive #ArchiveList ul li { background: none repeat scroll 0% 0% transparent; list-style: none outside none; border-width: 0pt; padding-left: 15px; text-indent: -15px; margin: 0.25em 0pt; }
.BlogArchive #ArchiveList ul ul li { padding-left: 1.2em; }
.BlogArchive #ArchiveList ul { margin: 0pt; padding: 0pt; list-style: none outside none; border-width: 0pt; }
.BlogArchive #ArchiveList ul.posts li { padding-left: 1.3em; }
#ArchiveList .collapsed ul { display: none; }
.post-footer abbr { border: medium none; }
#blog-pager-newer-link { float: left; }
#blog-pager-older-link { float: right; }
#blog-pager { margin: 1em 0pt; text-align: center; overflow: hidden; }
.backlink-toggle-zippy { padding-right: 11px; margin-right: 0.1em; cursor: pointer; background: url('triangle_ltr.gif') no-repeat scroll left center transparent; }
.collapsed-backlink .collapseable { display: none; }
.comment-form { max-width: 425px; clear: both; }
.comment-link { white-space: nowrap; }
#comments-block .avatar-image-container img { border: 1px solid rgb(204, 204, 204); float: right; }
#comments-block .avatar-image-container.avatar-stock img { border-width: 0pt; padding: 1px; }
#comments-block .avatar-image-container { height: 37px; left: -45px; position: absolute; width: 37px; }
#comments-block.avatar-comment-indent { margin-left: 45px; position: relative; }
#comments-block.avatar-comment-indent dd { margin-left: 0pt; }
.item-control { display: none; }
.item-control a, .item-action a { text-decoration: none ! important; }
.widget-item-control { float: right; height: 20px; margin-top: -20px; position: relative; z-index: 10; }
.widget-item-control a { opacity: 0.5; }
.widget-item-control a:hover { opacity: 1; }
.widget .widget-item-control a img { border: medium none; background: none repeat scroll 0% 0% transparent; box-shadow: none; }
.icon-action { border-style: none ! important; margin: 0pt 0pt 0pt 0.5em ! important; vertical-align: middle; }
@media all {
  .BLOG_mobile_video_class { display: none; }
}
@media handheld {
  .BLOG_mobile_video_class { display: inline; }
  .BLOG_video_class { display: none; }
}
:first-child + html .goog-inline-block { display: inline; }
:first-child + html .goog-custom-button-inner-box { left: -1px; }
:first-child + html .goog-custom-button-rtl .goog-custom-button-inner-box { left: 1px; }
.clear { clear: both; }
.quickedit { cursor: pointer; }
.Navbar iframe { display: block; }
/* ::::: http://www.blogger.com/dyn-css/authorization.css?targetBlogID=7118841039616287884&zx=fb1b7f10-206e-416f-ac54-b2bb09a6eadd ::::: */

#navbar-iframe { display: block; }
#navbar-iframe { display: none ! important; }
body { -moz-background-inline-policy: continuous; background: url('content-wrapper.gif') repeat-y scroll center top rgb(246, 246, 246); color: black; font-family: arial; font-size: small; font-size-adjust: none; font-stretch: normal; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal; margin: 0pt; text-align: center; }
a:link { color: rgb(34, 68, 102); text-decoration: none; }
a:visited { color: rgb(34, 68, 102); text-decoration: none; }
a:hover { color: rgb(85, 136, 170); text-decoration: underline; }
a img { border-width: 0pt; }
#header-wrapper { margin: 0pt auto; width: 960px; }
#header-inner { background-position: center center; margin-left: auto; margin-right: auto; }
#header { color: rgb(238, 238, 238); text-align: left; }
#header h1 { font-family: helvetica; font-size: 34px; font-size-adjust: none; font-stretch: normal; font-style: normal; font-variant: normal; font-weight: bold; letter-spacing: -2px; line-height: normal; margin: 0pt; padding: 30px 25px 2px; text-transform: none; }
#header a { color: rgb(238, 238, 238); text-decoration: none; }
#header a:hover { color: rgb(238, 238, 238); }
#header .description { color: rgb(204, 204, 204); font-family: 'Trebuchet MS',Trebuchet,Arial,Verdana,Sans-serif; font-size: 78%; font-size-adjust: none; font-stretch: normal; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: 0.2em; line-height: normal; margin: 0pt 5px 5px; max-width: 700px; padding: 0pt 23px 30px; text-transform: uppercase; }
#outer-wrapper { font-family: arial; font-size: 100%; font-size-adjust: none; font-stretch: normal; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal; margin: 0pt auto; text-align: left; width: 960px; }
#main-wrapper { border-right: 1px solid rgb(222, 222, 222); float: left; margin-left: 25px; overflow: hidden; padding-right: 30px; width: 580px; word-wrap: break-word; }
#sidebar-wrapper { float: right; margin-right: 25px; overflow: hidden; width: 272px; word-wrap: break-word; }
h2 { border-bottom: 1px solid; color: rgb(51, 51, 51); font-family: arial; font-size: 16px; font-size-adjust: none; font-stretch: normal; font-style: normal; font-variant: normal; font-weight: bold; letter-spacing: 0pt; line-height: 1.4em; margin: 1.5em 0pt 0.75em; padding-left: 3px; text-transform: none; }
h2.date-header { border: medium none; color: rgb(153, 153, 153); font-family: georgia; font-size: 12px; font-style: italic; font-weight: normal; letter-spacing: 0pt; margin: 1.5em 0pt 0.5em; text-transform: none; }
.post { margin: 0.5em 0pt 1.5em; padding-bottom: 1.5em; }
.post h3 { color: rgb(51, 51, 51); font-family: arial; font-size: 22px; font-weight: normal; line-height: 1.4em; margin: 0.25em 0pt 0pt; padding: 0pt 0pt 4px; }
.post h3 a, .post h3 a:visited, .post h3 strong { color: rgb(51, 51, 51); display: block; font-weight: bold; text-decoration: none; }
.post h3 strong, .post h3 a:hover { color: rgb(51, 51, 51); }
.post-body { font-family: arial; font-size: 14px; line-height: 1.6em; margin: 0pt 0pt 0.75em; }
.post-footer { -moz-background-inline-policy: continuous; background: none repeat scroll 0pt 0pt rgb(238, 238, 238); border-left: 2px solid rgb(204, 204, 204); border-top: 1px solid rgb(204, 204, 204); color: rgb(153, 153, 153); font-family: georgia; font-size: 12px; font-size-adjust: none; font-stretch: normal; font-style: italic; font-variant: normal; font-weight: normal; letter-spacing: 0pt; line-height: 1.4em; margin: 0.75em 0pt; padding-bottom: 6px; padding-left: 10px; padding-top: 6px; text-transform: none; }
.comment-link { margin-left: 0.6em; }
.post img { border: 1px solid rgb(204, 204, 204); padding: 1px; }
#comments h4 { color: rgb(153, 153, 153); font-weight: bold; letter-spacing: 0pt; line-height: 1.4em; margin: 1em 0pt; text-transform: none; }
#comments-block { line-height: 1.6em; margin: 1em 0pt 1.5em; }
#comments-block .comment-author { -moz-background-inline-policy: continuous; background: none repeat scroll 0pt 0pt rgb(222, 222, 222); margin: 0.5em 0pt; padding-bottom: 4px; padding-left: 8px; padding-top: 4px; }
#comments-block .comment-body { border-left: 1px solid rgb(222, 222, 222); border-right: 1px solid rgb(222, 222, 222); margin-top: -6px; padding-left: 10px; padding-top: 10px; }
#comments-block .comment-footer { border-bottom: 1px solid rgb(222, 222, 222); border-left: 1px solid rgb(222, 222, 222); border-right: 1px solid rgb(222, 222, 222); font-size: 11px; line-height: 1.4em; margin: -0.25em 0pt 2em; padding-bottom: 5px; padding-left: 10px; text-transform: none; }
#comments-block .comment-body p { margin: 0pt; padding-bottom: 15px; }
#blog-pager-newer-link { float: left; }
#blog-pager-older-link { float: right; }
#blog-pager { text-align: center; }
.sidebar { color: rgb(102, 102, 102); font-family: arial; line-height: 1.5em; }
.sidebar ul { list-style: none outside none; margin: 0pt; padding: 0pt; }
.sidebar li { -moz-background-inline-policy: continuous; background: url('bulled.png') no-repeat scroll left center transparent; line-height: 1.5em; margin: 0pt; padding: 0pt 0pt 0.25em 15px; }
.sidebar .widget, .main .widget { margin: 0pt 0pt 1.5em; padding: 0pt 0pt 1.5em; }
.main .Blog { border-bottom-width: 0pt; }
#header-bg { -moz-background-inline-policy: continuous; background: url('header.gif') repeat-x scroll left top rgb(47, 47, 47); }
#header-bgimg { -moz-background-inline-policy: continuous; background: url('header-wrapper-2.gif') repeat-y scroll center top transparent; }
ul.tabbed { display: inline; margin: 0pt; padding: 0pt; }
ul.tabbed li { float: left; list-style: none outside none; }
ul.tabbed a { text-decoration: none; }
#navigation-wrapper { -moz-background-inline-policy: continuous; background: url('navigation.gif') repeat-x scroll left top transparent; margin-top: -5px; }
#navigation-wrapper-2 { -moz-background-inline-policy: continuous; background: url('navigation-wrapper-2.gif') no-repeat scroll center top transparent; }
#navigation { -moz-background-inline-policy: continuous; background: url('navigation.gif') repeat-x scroll left top transparent; font-family: arial; margin: 0pt auto; min-height: 46px; padding: 0pt 8px; width: 943px; }
#navigation a { color: rgb(234, 230, 221); display: block; font-size: 1.3em; font-weight: bold; padding: 12px 12px 11px; }
#navigation a:hover { color: rgb(255, 255, 255); }
#navigation li.current_page_item a, #navigation li.current_page_parent a { color: rgb(255, 255, 238); }
#navigation li.current_page_item a {  }
#footer-wrapper { -moz-background-inline-policy: continuous; background: url('footer-wrapper.gif') no-repeat scroll center bottom rgb(169, 169, 169); color: rgb(255, 255, 255); margin: 0pt auto; padding-bottom: 20px; }
#footer { -moz-background-inline-policy: continuous; background: none repeat scroll 0pt 0pt rgb(128, 128, 128); font-family: arial; font-size: 12px; height: 30px; margin: 0pt auto; padding: 16px 16px 4px; text-align: left; width: 929px; }
#footer a { color: rgb(221, 221, 221); text-decoration: none; }
#footer a:hover { color: rgb(255, 255, 255); }
.left, .alignleft { float: left; }
.right, .alignright { float: right; }
.widget-content { padding-left: 3px; }
/* ::::: http://static.sitetag.us/inline_badge.css ::::: */

.sitetag-inline-badge { margin: 0pt 0pt 10px; font: 12px Arial; padding: 0pt; border: medium none; }
.sitetag-inline-badge .sitetag-list, .sitetag-inline-badge .sitetag-list .sitetag-item, .sitetag-inline-badge .sitetag-list .sitetag-item .sitetag-link { display: inline; font: 12px Arial; margin: 0pt; padding: 0pt; border: medium none; }
.sitetag-inline-badge .sitetag-list .sitetag-item { list-style-type: none; margin-right: 8px; }
.sitetag-logo { font-size: 10px; text-decoration: none; color: rgb(51, 51, 51); }
.sitetag-logo a:link, .sitetag-logo a:visited { color: rgb(51, 51, 51); font: italic bold 100% Georgia; }
/* ::::: http://piccdn.bloggerads.net/apps/CSS/BA_CSS.min.css?v=2 ::::: */

#BA_AD { width: 180px; background: none repeat scroll 0% 0% rgb(231, 229, 217); padding: 2px 0pt; }
#BA_AD, #BA_AD ins { font-family: "Verdana","Arial","Helvetica","sans-serif"; text-decoration: none; display: block; font-size: 13px; cursor: pointer; letter-spacing: 0pt; text-align: left; }
.ba_title { text-align: right ! important; font-weight: bolder; padding: 5px 5px 3px; font-size: 12px; }
.ba_title, .ba_ad_area, .ba_foot { color: rgb(102, 102, 102) ! important; border: 1px dotted rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(255, 255, 255); line-height: 130%; margin: 3px 5px 2px; }
.ba_ad_area ins { color: rgb(102, 102, 102) ! important; padding: 5px 5px 3px; background-color: transparent; }
.ba_ad_title { font-weight: bolder; font-size: 15px ! important; }
.ba_ad_picture { text-align: center ! important; }
.ba_ad_more { text-align: right ! important; font-size: 12px ! important; }
.ba_foot { background: url('bloggerads_2.gif') no-repeat scroll left top transparent; width: 168px; height: 33px; }
