/* ::::: http://www.blogger.com/static/v1/widgets/1557371536-widget_css_bundle.css ::::: */

body { margin: 0pt; padding: 0pt; }
a img { border: medium none; }
.comment-form { max-width: 425px; clear: both; }
.clear { clear: both; }
.blog-list-container ul { padding-left: 0pt; }
.blog-list-container ul li { padding-left: 0pt; list-style: none outside none; clear: left; }
.blog-list-container a { text-decoration: none; }
.blog-list-container a:hover { text-decoration: underline; }
.blog-list-container .blog-content { float: left; margin: 0pt 0pt 5px 5px; text-indent: 0pt; width: 85%; }
.blog-list-container .blog-title { font-weight: bold; line-height: 16px; margin: 2px 0pt 0pt; }
.blog-list-container .blog-icon { float: left; margin-top: 2px; vertical-align: top; text-indent: 0pt; width: 16px; }
.blog-list-container .item-content { font-size: 95%; line-height: 1.3em; }
.blog-list-container .item-time { font-size: 95%; font-style: italic; clear: left; }
.blog-list-container .show-option { font-size: 75%; text-align: right; }
.quickedit { cursor: pointer; }
/* ::::: http://www.blogger.com/static/v1/v-css/3727950723-blog_controls.css ::::: */

.item-control { display: none; }
.item-control a, .item-action a { text-decoration: none ! important; }
.widget-item-control { float: right; }
.icon-action { border-style: none ! important; margin: 0pt 0pt -5px 0.5em ! important; }
@media all {
}
/* ::::: http://www.blogger.com/dyn-css/authorization.css?targetBlogID=6317619858687230646&zx=af7fc317-4b5a-4448-9dd5-32fedefb8c37 ::::: */

#navbar-iframe { display: block; }
#content-border { padding: 10px 5px 5px; }
#outer-wrapper { width: 1020px; background: none repeat scroll 0% 0% rgb(255, 255, 255); margin: 5px auto 1px; padding: 0pt 0pt 1px; }
#wrap2 { margin: 0pt auto 0px; width: 1016px; text-align: left; }
#navbar-iframe { height: 0px; visibility: hidden; display: none; }
body, h1, h2, h3, h4, h5, h6, p, form { padding: 0pt; }
body { margin: 0pt; font-family: Arial,Helvetica,Georgia,Sans-serif; font-size: 12px; vertical-align: top; background: none repeat scroll 0% 0% rgb(0, 0, 0); color: rgb(0, 0, 0); }
h1 { font-family: Arial,Sans-serif; font-size: 30px; padding: 0pt 0pt 10px; }
a:link, a:visited { text-decoration: none; color: rgb(36, 95, 255); }
a:hover { color: rgb(0, 0, 128); background-color: rgb(136, 255, 136); }
a img { border: 0pt none; }
p { padding: 10px 0pt 0pt; }
#main-wrapper { overflow: hidden; }
.clear { clear: both; }
#blog-pager-newer-link { float: left; padding: 0pt 0pt 0pt 66px; font-size: 16px; }
#blog-pager-older-link { float: right; padding: 0pt 66px 0pt 0pt; font-size: 16px; }
#blog-pager { text-align: center; }
#header-wrapper { float: left; width: 1008px; height: 89px; margin: 1px auto; padding: 2px 0pt 2px 8px; text-decoration: none; background: url('headertb4.jpg') repeat-x scroll 0% 0% transparent; }
#header { float: left; width: 400px; height: 85px; margin-bottom: 10px; padding: 0pt; background-image: url('logo1.png'); }
#header h1, #header p { display: none; visibility: hidden; height: 0pt; }
#header_r { float: right; height: 91px; width: 506px; margin: 0pt; padding: 0pt; }
#header_r_ads { margin: 2px 0pt 0pt 39px; padding: 0pt; width: 518px; height: 62px; }
#search { height: 14px; float: right; margin: 4px 4px 0pt 0pt; }
#search #s { font-size: 8pt; padding-left: 3px; padding-bottom: 1px; width: 180px; }
input#s { color: rgb(0, 0, 0); border: 3px solid rgb(127, 203, 227); background: none repeat scroll 0% 0% rgb(252, 252, 252); }
#nav { clear: both; margin: 1px auto; width: 1016px; height: 31px; background: url('topmenu.jpg') repeat-x scroll 0% 0% transparent; overflow: hidden; }
#nav_l { float: left; width: 915px; margin: 0px; padding: 0px; overflow: hidden; height: 31px; }
.funp { float: right; margin-left: 10px; font-size: 0px; }
.menu { font-size: 11pt; float: left; margin: 5px 88px; padding: 1px; width: 660px; }
.menu li { display: inline; list-style: none outside none; margin: 0pt; padding: 0pt; }
.menu ul, .menu ol { display: inline; list-style: none outside none; margin: 0pt; padding: 0pt 6px 0pt 0pt; }
.menu a, .menu a:visited { font-family: Comic Sans MS,Monotype Corsiva; color: rgb(0, 255, 255); margin: 0pt; padding: 1px 16px 1px 6px; text-decoration: none; border: 1px solid transparent; }
.menu a:hover { background: none repeat scroll 0% 0% rgb(27, 167, 212); text-decoration: none; border: 1px solid rgb(136, 136, 255); }
#content-wrapper {  }
#main-wrapper { float: left; width: 630px; padding: 6px 10px 10px; text-align: justify; background: none repeat scroll 0% 0% rgb(255, 255, 255); margin: 0pt auto 1px; }
#main-wrapper a {  }
#main-wrapper a:hover {  }
.post { padding: 2px 6px 10px; }
.post-title, .post-title a { margin: 0pt 5px; padding: 2px 0pt 0pt; color: rgb(51, 102, 153); }
.post h2 { font-family: Arial,Georgia,Sans-serif; font-size: 16px; margin: 0pt 5px; text-align: left; text-transform: uppercase; }
.post-body { font-family: 細明體,Verdana,Arial,Georgia,Sans-serif; font-size: 16px; line-height: 1.5em; margin: 8px 0pt 5px; }
.post_header { margin: 0pt; padding: 0pt; height: 60px; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.post_headerr { margin: 0pt; padding: 0pt; }
.details { margin: 0pt; padding: 4px 0pt; border-top: 1px dashed rgb(188, 88, 28); }
.post-labels { background: url('folder.gif') no-repeat scroll 0% 0% transparent; margin: 0pt; padding: 0pt 0pt 0pt 20px; }
.details .post-comment-link { background: url('list_comments.gif') no-repeat scroll 0% 0% transparent; margin: 0pt; padding: 0pt 0pt 0pt 20px; }
.post-footer { margin: 3px 0pt 0pt 3px; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
#sidebar-wrapper { float: left; width: 360px; margin: 1px 0pt 0pt 2px; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
#sidebar-wrapper ul { list-style: none outside none; margin: 0pt; padding: 0pt; }
#sidebar-wrapper li { padding: 0pt; line-height: 24px; }
#sidebar-wrapper h2 { font-family: Georgia,Sans-serif; font-size: 14px; }
#sidebar_top { margin: 2px; padding: 3px; background: url('sidebar_top.jpg') repeat-x scroll 0% 0% transparent; width: 350px; line-height: 12px; text-align: justify; border: 0px solid rgb(145, 211, 233); font-size: 10px; font-family: verdana; float: right; }
.widget-content {  }
.sidebar .widget { padding: 10px 0pt; }
#sidebar1 { margin: 0pt; padding: 0pt 1px 0pt 0pt; float: left; width: 201px; }
#sidebar1 .widget { padding: 10px 0pt 4px; font-family: Arial,Georgia,Sans-serif; font-size: 12px; color: rgb(122, 136, 140); margin: 0pt; }
#sidebar1 .widget a:link, #sidebar1, widget a:visited { color: rgb(1, 153, 203); font-weight: 700; }
#sidebar1 h2 { font-family: Verdana,Arial,Georgia,Sans-serif; font-size: 11px; background: url('cat.jpg') no-repeat scroll left top transparent; width: 201px; margin: 0pt; padding: 7px 0pt 0pt 8px; height: 30px; color: rgb(255, 255, 255); text-transform: uppercase; }
#sidebar2 { margin: 0pt; padding: 0pt 1px 0pt 0pt; float: right; width: 150px; }
#sidebar2 ul { list-style: none outside none; }
#sidebar2 .widget { padding: 10px 0pt 4px; font-family: Arial,Georgia,Sans-serif; font-size: 12px; color: rgb(122, 136, 140); margin: 0pt; }
#sidebar2 .widget a:link, #sidebar2 .widget a:visited { color: rgb(1, 153, 203); font-weight: 700; }
#sidebar2 h2 { font-family: Verdana,Arial,Georgia,Sans-serif; font-size: 11px; background: url('cat.jpg') no-repeat scroll left top transparent; margin: 0pt; padding: 7px 0pt 0pt 8px; height: 30px; width: 139px; color: rgb(255, 255, 255); text-transform: uppercase; }
#sidebar2 ul li { padding: 0pt 0pt 0pt 22px; line-height: 18px; font-family: Arial,Georgia,Sans-serif; background: url('arrow_blue.jpg') no-repeat scroll 2px 0px transparent; }
#footer-wrapper { clear: both; width: 1016px; background: url('footer.jpg') repeat-x scroll 0% 0% transparent; padding: 10px 0pt; margin: 0pt; }
#footer-wrapper .links { line-height: 13px; text-align: center; font-weight: 700; color: rgb(255, 255, 255); padding: 2px 0pt; font-size: 10px; font-family: Verdana; }
#footer-wrapper a { color: rgb(175, 225, 243); }
#footer-wrapper a:hover { color: rgb(83, 199, 242); }
#comments h4 { text-align: justify; font-size: 14px; font-weight: bold; }
#comments-block { margin: 0pt 0pt 1px; padding: 0pt; font-size: 12px; }
