body { margin: 0pt; background: none repeat scroll 0% 0% transparent; color: black; }
.r { font-family: Arial,Helvetica,sans-serif; font-size: 12px; white-space: nowrap; overflow: hidden; }
img { border-style: none; }
.r { width: 148px; }
