body { padding: 0pt; margin: 0pt; }
#b-navbar { white-space: nowrap; color: rgb(0, 0, 0); height: 29px; border-bottom: 1px solid rgb(204, 204, 204); background: none repeat scroll 0% 0% transparent; font-size: 13px; font-family: Arial,Sans-serif; }
#b-navbar #b-navbar-bg { position: absolute; right: 0pt; top: 0pt; width: 100%; height: 30px; z-index: -1; background-color: rgb(237, 237, 237); opacity: 1; }
#b-navbar-fg { padding: 4px 1em 3px 0pt; }
#b-navbar-controls { margin-right: 0.2em; }
#b-navbar #b-navbar-logo { display: block; margin-left: 8px; margin-right: 8px; width: 20px; height: 20px; background: url('icons_orange.png') no-repeat scroll -26px 0pt transparent; cursor: pointer; }
#b-navbar #b-query-box { background-color: rgb(255, 255, 255); margin: 0pt 0.5em 0pt 0pt; border: 1px solid rgb(0, 17, 68); -moz-border-radius: 3px 3px 3px 3px; padding: 0pt 0.3em; }
#b-navbar #b-query-icon { display: block; width: 13px; height: 13px; cursor: pointer; background: url('icons_orange.png') no-repeat scroll 0pt 0pt transparent; }
#b-navbar #b-query-icon:hover { background: url('icons_orange.png') no-repeat scroll -13px 0pt transparent; }
#b-navbar #b-query { font-size: 13px; color: rgb(0, 0, 0); background-color: transparent; border: medium none; width: 10em; margin: 0pt; }
#b-navbar .b-link, #b-navbar #b-user { font-size: 13px; vertical-align: middle; padding: 0pt 0.4em; }
#b-navbar .b-link { color: rgb(51, 51, 51); text-decoration: none; white-space: nowrap; cursor: pointer; }
#b-navbar .b-link:hover { color: rgb(153, 51, 0); text-decoration: underline; }
#flagi, #unflagi { display: none; top: 3px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 153); border: 1px solid rgb(51, 51, 51); z-index: 300; padding: 4px; font-size: 0.7em; line-height: 0.8em; }
#flagi a, #unflagi a { color: rgb(51, 102, 204); text-decoration: underline; }
.b-mobile { display: none; }
#b-sms { margin: 0pt 0pt 0pt 100px; padding: 4px 7px; line-height: 1em; font-size: 100%; text-align: right; }
#b-sms a { margin-left: 0.5em; line-height: 1em; }
#b-sms a:hover { text-decoration: underline; }
