/* ::::: http://img.xuite.net/_v_1.0.59/personal/blog/fix.css ::::: */

/* ::::: http://img.xuite.net/_v_1.0.59/personal/common.css ::::: */

button.ui-button::-moz-focus-inner { border: 0px none; padding: 0px; }
.tooltip-target { cursor: pointer; }
.tooltip-target { cursor: pointer; }
.tooltip.tooltip-theme-default { visibility: hidden; left: 0px; top: 0px; position: absolute; z-index: 32767; text-align: left; padding: 10px; }
.tooltip-theme-default .tooltip-inner { position: relative; }
.tooltip-theme-default .tooltip-msgbox { border-radius: 5px; border: 1px solid gray; font-size: 12px; background: none repeat scroll 0% 0% rgb(238, 238, 238); box-shadow: 0px 0px 3px rgb(136, 136, 136); }
.tooltip-theme-default .tooltip-body { padding: 5px; color: black; }
.tooltip-theme-default .tooltip-arrow-00 { background-image: url('arrow00.png'); }
.tooltip-theme-default .tooltip-arrow { background-repeat: no-repeat; position: absolute; }
.tooltip-theme-default .tooltip-close { background-image: url('close_tooltip.png'); background-repeat: no-repeat; position: absolute; cursor: pointer; width: 24px; height: 24px; right: -8px; top: -8px; }
.footer { clear: both; font-size: 12px; margin: 10px auto; text-align: center; }
.footer-copyright { margin: 3px auto; display: inline-block; }
.footer-menu { margin-left: 2px; display: inline-block; }
.footer-menu-item { display: inline-block; }
.footer-menu-item .footer-menu-link { border-right: 1px solid rgb(103, 103, 103); padding: 0px 4px; }
.footer-menu-mobile .footer-menu-link { border-right: 0px none; }
.top-toolbar span, .top-toolbar p, .top-toolbar form, .top-toolbar ul, .top-toolbar li { margin: 0px; padding: 0px; border: 0px none; outline: 0px none; font-size: 100%; vertical-align: baseline; background: none repeat scroll 0% 0% transparent; }
.top-toolbar a { margin: 0px; padding: 0px; font-size: 100%; background: none repeat scroll 0% 0% transparent; }
.top-toolbar input { vertical-align: middle; }
.top-toolbar { background: url('bg.png') repeat-x scroll 0% 0% transparent; font-size: 12px; text-align: right; position: relative; width: 100%; z-index: 3600; height: 26px; }
.top-toolbar a, .top-toolbar a:visited, .top-toolbar a:link { color: rgb(255, 255, 255); text-decoration: none; }
.top-toolbar a:hover { color: rgb(255, 208, 46); text-decoration: none; }
.top-toolbar .top-toolbar-general-menu, .top-toolbar .top-toolbar-user-menu, .top-toolbar .top-toolbar-search-form { line-height: 26px; text-align: left; }
.top-toolbar .top-toolbar-general-menu { position: absolute; }
.top-toolbar .top-toolbar-user-menu, .top-toolbar .top-toolbar-search-form, .top-toolbar-general-menu li, .top-toolbar-user-menu li, .top-toolbar-general-menu li p, .top-toolbar-user-menu li p { margin: 0px; display: inline-block; }
.top-toolbar-general-menu ul li, .top-toolbar-user-menu ul li { display: list-item; }
.top-toolbar-general-menu li, .top-toolbar-user-menu li { position: relative; vertical-align: top; }
.top-toolbar-general-menu ul li, .top-toolbar-user-menu ul li { position: static; }
.top-toolbar-general-menu li ul, .top-toolbar-user-menu li ul { background: none repeat scroll 0% 0% rgb(27, 27, 27); display: none; left: -6px; line-height: 24px; padding: 2px 8px; position: absolute; top: 24px; border-radius: 0px 0px 8px 8px; }
.top-toolbar-general-menu li:hover ul, .top-toolbar-user-menu li:hover ul { display: block; }
.top-toolbar-general-menu .top-toolbar-general-home ul { left: 28px; top: 24px; }
.top-toolbar-general-menu li ul li, .top-toolbar-user-menu li ul li { list-style: none outside none; white-space: nowrap; }
.top-toolbar .top-toolbar-general-home { margin: 0px 16px 0px 2px; }
.top-toolbar-general-home p { height: 26px; position: relative; width: 76px; }
.top-toolbar-general-home p a { background: url('home.png') no-repeat scroll 0% 0% transparent; display: inline-block; height: 26px; overflow: hidden; padding-left: 76px; position: absolute; top: 0px; width: 0px; }
.top-toolbar .top-toolbar-search-form { margin-right: 2px; white-space: nowrap; }
.top-toolbar-search-form a { background: url('search.png') repeat scroll 0% 0% transparent; display: inline-block; height: 17px; overflow: hidden; padding-left: 18px; position: relative; top: 4px; width: 0px; }
.top-toolbar-search-form input { border: 0px solid rgb(162, 162, 162); border-radius: 6px; display: none; position: relative; top: -1px; width: 0px; padding: 0px 5px; font-family: Arial,Helvetica,sans-serif; }
.top-toolbar-general-add p:after, .top-toolbar-general-manage p:after, .top-toolbar-general-view-mode p:after, .top-toolbar-general-push p:after, .top-toolbar-general-hifree p:after, .top-toolbar-user-hello p:after, .top-toolbar-user-logout p:after, .top-toolbar-user-login p:after, .top-toolbar-user-notice p:after, .top-toolbar-user-favor p:after, .top-toolbar-user-abuse p:after, .top-toolbar-user-recommend p:after, .top-toolbar-user-short p:after, .top-toolbar-user-tool p:after { color: rgb(170, 170, 170); content: " │ "; font-size: 10px; }
.top-toolbar-general-add p, .top-toolbar-general-manage p, .top-toolbar-general-view-mode p, .top-toolbar-general-push p, .top-toolbar-general-hifree p, .top-toolbar-user-hello p, .top-toolbar-user-logout p, .top-toolbar-user-login p, .top-toolbar-user-notice p, .top-toolbar-user-favor p, .top-toolbar-user-abuse p, .top-toolbar-user-recommend p {  }
@media not all {
  .top-toolbar-user-menu li.top-toolbar-user-space p { padding: 2px 4px; height: 12px; }
}
body { margin: 0px; font-family: Arial,Helvetica,sans-serif; font-size: 9pt; }
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: underline; color: rgb(0, 51, 204); }
.tab_service { position: absolute; width: 260px; left: 25px; top: 65px; }
.tab_service li { margin: 0px 1px 0px 0px; display: block; float: left; list-style-type: none; padding: 3px; color: rgb(147, 111, 74); cursor: pointer; background-color: rgb(239, 239, 239); }
.footer-copyright { display: block; }
#footer { margin: 0px auto; }
.view-mode-dynamic .dynamic-view-container > #mid, .view-mode-dynamic #content, .view-mode-dynamic .blogbody { width: inherit; height: auto; display: block; padding-left: 0px; padding-right: 0px; margin-left: 0px; margin-right: 0px; float: none; left: 0px; right: 0px; overflow: visible; }
.view-mode-mosaic > .dynamic-view-item > .dynamic-view-title, .view-mode-brick > .dynamic-view-item > .dynamic-view-title { width: 1024px; position: absolute; bottom: 0px; margin: 0px; padding: 8px 4px 4px; display: none; overflow: hidden; border-radius: 10px 0px 0px; z-index: 20; font-size: 14px; cursor: pointer; }
.view-mode-mosaic > .dynamic-view-item > .dynamic-view-title .dynamic-view-title-link, .view-mode-brick > .dynamic-view-item > .dynamic-view-title .dynamic-view-title-link { text-decoration: none; text-overflow: clip; white-space: nowrap; color: white; font-weight: bold; }
.view-mode-mosaic > .dynamic-view-item-hover, .view-mode-brick > .dynamic-view-item-hover, .view-mode-device-normal .view-mode-mosaic > .dynamic-view-item:hover, .view-mode-device-normal .view-mode-brick > .dynamic-view-item:hover { transform: rotate(0deg) scale(1.2); z-index: 100; }
.view-mode-mosaic > .dynamic-view-item > .dynamic-view-excerpt, .view-mode-brick > .dynamic-view-item > .dynamic-view-excerpt { position: absolute; font-size: 12px; width: 100%; max-height: 30%; height: auto; left: 0px; bottom: 0px; border-radius: 10px 0px 0px; line-height: 14px; color: white; background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.6); margin: 0px; padding: 2px 2px 34px; text-align: justify; overflow: hidden; cursor: pointer; visibility: hidden; text-indent: 5px; z-index: 15; letter-spacing: 1px; }
.view-mode-mosaic > .dynamic-view-item.dynamic-view-text-only > .dynamic-view-excerpt, .view-mode-brick > .dynamic-view-item.dynamic-view-text-only > .dynamic-view-excerpt { position: relative; font-size: 12px; max-height: none; border-radius: 0px; color: rgb(51, 51, 51); background: none repeat scroll 0% 0% transparent; filter: none; width: 90%; height: 95%; left: 5%; line-height: 22px; margin: 0px; padding: 0px; text-align: justify; overflow: hidden; cursor: pointer; }
.view-mode-mosaic > .dynamic-view-item.dynamic-view-text-only > .dynamic-view-excerpt .dynamic-view-first-word, .view-mode-brick > .dynamic-view-item.dynamic-view-text-only > .dynamic-view-excerpt .dynamic-view-first-word, .view-mode-plain > .dynamic-view-item.dynamic-view-text-only > .dynamic-view-excerpt .dynamic-view-first-word { position: relative; overflow: hidden; margin: 0px 4px 0px 0px; padding: 6px; line-height: 32px; float: left; font-size: 32px; color: white; border-radius: 0px 0px 8px 8px; }
.view-mode-mosaic > .dynamic-view-item > .dynamic-view-date, .view-mode-brick > .dynamic-view-item > .dynamic-view-date, .view-mode-plain > .dynamic-view-item > .dynamic-view-date { font-size: 8px; position: absolute; bottom: 16px; right: 3%; color: white; display: none; z-index: 20; cursor: pointer; }
.dynamic-view-list { overflow: visible; left: 0px; z-index: 10; position: relative; height: auto; padding: 0px; margin: 0px; }
.dynamic-view-list:after { clear: left; content: " "; display: block; height: 0px; overflow: hidden; }
.view-mode-mosaic > .dynamic-view-item > .dynamic-view-title.dynamic-view-style1, .view-mode-brick > .dynamic-view-item > .dynamic-view-title.dynamic-view-style1 { background-color: rgb(27, 161, 226); }
.view-mode-mosaic > .dynamic-view-item > .dynamic-view-title.dynamic-view-style1 > .dynamic-view-title-link, .view-mode-brick > .dynamic-view-item > .dynamic-view-title.dynamic-view-style1 > .dynamic-view-title-link { color: white; text-decoration: none; }
.dynamic-view-item.dynamic-view-text-only > .dynamic-view-excerpt .dynamic-view-first-word.dynamic-view-style1 { background-color: rgb(27, 161, 226); color: white; }
.view-mode-mosaic > .dynamic-view-item > .dynamic-view-title.dynamic-view-style2, .view-mode-brick > .dynamic-view-item > .dynamic-view-title.dynamic-view-style2 { background-color: rgb(160, 80, 0); }
.view-mode-mosaic > .dynamic-view-item > .dynamic-view-title.dynamic-view-style2 > .dynamic-view-title-link, .view-mode-brick > .dynamic-view-item > .dynamic-view-title.dynamic-view-style2 > .dynamic-view-title-link { color: white; text-decoration: none; }
.dynamic-view-item.dynamic-view-text-only > .dynamic-view-excerpt .dynamic-view-first-word.dynamic-view-style2 { background-color: rgb(160, 80, 0); color: white; }
.view-mode-mosaic > .dynamic-view-item > .dynamic-view-title.dynamic-view-style3, .view-mode-brick > .dynamic-view-item > .dynamic-view-title.dynamic-view-style3 { background-color: rgb(51, 153, 51); }
.view-mode-mosaic > .dynamic-view-item > .dynamic-view-title.dynamic-view-style3 > .dynamic-view-title-link, .view-mode-brick > .dynamic-view-item > .dynamic-view-title.dynamic-view-style3 > .dynamic-view-title-link { color: white; text-decoration: none; }
.view-mode-mosaic > .dynamic-view-item > .dynamic-view-title.dynamic-view-style4, .view-mode-brick > .dynamic-view-item > .dynamic-view-title.dynamic-view-style4 { background-color: rgb(162, 193, 57); }
.view-mode-mosaic > .dynamic-view-item > .dynamic-view-title.dynamic-view-style4 > .dynamic-view-title-link, .view-mode-brick > .dynamic-view-item > .dynamic-view-title.dynamic-view-style4 > .dynamic-view-title-link { color: white; text-decoration: none; }
.dynamic-view-item.dynamic-view-text-only > .dynamic-view-excerpt .dynamic-view-first-word.dynamic-view-style4 { background-color: rgb(162, 193, 57); color: white; }
.view-mode-mosaic > .dynamic-view-item > .dynamic-view-title.dynamic-view-style5, .view-mode-brick > .dynamic-view-item > .dynamic-view-title.dynamic-view-style5 { background-color: rgb(216, 0, 115); }
.view-mode-mosaic > .dynamic-view-item > .dynamic-view-title.dynamic-view-style5 > .dynamic-view-title-link, .view-mode-brick > .dynamic-view-item > .dynamic-view-title.dynamic-view-style5 > .dynamic-view-title-link { color: white; text-decoration: none; }
.dynamic-view-item.dynamic-view-text-only > .dynamic-view-excerpt .dynamic-view-first-word.dynamic-view-style5 { background-color: rgb(216, 0, 115); color: white; }
.view-mode-mosaic > .dynamic-view-item > .dynamic-view-title.dynamic-view-style6, .view-mode-brick > .dynamic-view-item > .dynamic-view-title.dynamic-view-style6 { background-color: rgb(240, 150, 9); }
.view-mode-mosaic > .dynamic-view-item > .dynamic-view-title.dynamic-view-style6 > .dynamic-view-title-link, .view-mode-brick > .dynamic-view-item > .dynamic-view-title.dynamic-view-style6 > .dynamic-view-title-link { color: white; text-decoration: none; }
.dynamic-view-item.dynamic-view-text-only > .dynamic-view-excerpt .dynamic-view-first-word.dynamic-view-style6 { background-color: rgb(240, 150, 9); color: white; }
.view-mode-mosaic > .dynamic-view-item > .dynamic-view-title.dynamic-view-style7, .view-mode-brick > .dynamic-view-item > .dynamic-view-title.dynamic-view-style7 { background-color: rgb(230, 113, 184); }
.view-mode-mosaic > .dynamic-view-item > .dynamic-view-title.dynamic-view-style7 > .dynamic-view-title-link, .view-mode-brick > .dynamic-view-item > .dynamic-view-title.dynamic-view-style7 > .dynamic-view-title-link { color: white; text-decoration: none; }
.view-mode-mosaic > .dynamic-view-item > .dynamic-view-title.dynamic-view-style8, .view-mode-brick > .dynamic-view-item > .dynamic-view-title.dynamic-view-style8 { background-color: rgb(162, 0, 255); }
.view-mode-mosaic > .dynamic-view-item > .dynamic-view-title.dynamic-view-style8 > .dynamic-view-title-link, .view-mode-brick > .dynamic-view-item > .dynamic-view-title.dynamic-view-style8 > .dynamic-view-title-link { color: white; text-decoration: none; }
.dynamic-view-item.dynamic-view-text-only > .dynamic-view-excerpt .dynamic-view-first-word.dynamic-view-style8 { background-color: rgb(162, 0, 255); color: white; }
.view-mode-mosaic > .dynamic-view-item > .dynamic-view-title.dynamic-view-style9, .view-mode-brick > .dynamic-view-item > .dynamic-view-title.dynamic-view-style9 { background-color: rgb(229, 20, 0); }
.view-mode-mosaic > .dynamic-view-item > .dynamic-view-title.dynamic-view-style9 > .dynamic-view-title-link, .view-mode-brick > .dynamic-view-item > .dynamic-view-title.dynamic-view-style9 > .dynamic-view-title-link { color: white; text-decoration: none; }
.dynamic-view-item.dynamic-view-text-only > .dynamic-view-excerpt .dynamic-view-first-word.dynamic-view-style9 { background-color: rgb(229, 20, 0); color: white; }
.view-mode-mosaic > .dynamic-view-item > .dynamic-view-title.dynamic-view-style10, .view-mode-brick > .dynamic-view-item > .dynamic-view-title.dynamic-view-style10 { background-color: rgb(0, 171, 169); }
.view-mode-mosaic > .dynamic-view-item > .dynamic-view-title.dynamic-view-style10 > .dynamic-view-title-link, .view-mode-brick > .dynamic-view-item > .dynamic-view-title.dynamic-view-style10 > .dynamic-view-title-link { color: white; text-decoration: none; }
.dynamic-view-item.dynamic-view-text-only > .dynamic-view-excerpt .dynamic-view-first-word.dynamic-view-style10 { background-color: rgb(0, 171, 169); color: white; }
.view-mode-mosaic > .dynamic-view-item { position: absolute; list-style: none outside none; border: 1px solid rgb(221, 221, 221); margin: 8px; overflow: hidden; box-shadow: 2px 2px 2px rgb(170, 170, 170); background: -moz-linear-gradient(left top , rgb(255, 255, 255), rgb(238, 238, 255)) repeat scroll 0% 0% white; float: left; }
.view-mode-mosaic > .dynamic-view-item:hover > .dynamic-view-excerpt { visibility: visible; }
.view-mode-mosaic > .dynamic-view-item.dynamic-view-text-only > .dynamic-view-excerpt { visibility: visible; }
.view-mode-mosaic > .dynamic-view-item > .dynamic-view-thumb { position: relative; width: 100%; height: 100%; margin: 0%; background: none no-repeat scroll center center / cover  rgb(238, 238, 238); z-index: 10; cursor: pointer; overflow: hidden; }
.view-mode-device-normal .view-mode-mosaic > .dynamic-view-item { transition: -o-transform-origin 0.15s ease-in-out 0s, -moz-transform-origin 0.15s ease-in-out 0s, transform-origin 0.15s ease-in-out 0s, -o-transform 0.15s ease-in-out 0s, -moz-transform 0.15s ease-in-out 0s, transform 0.15s ease-in-out 0s, width 0.5s ease-in-out 0s, height 0.5s ease-in-out 0s, left 0.5s ease-in-out 0s, top 0.5s ease-in-out 0s; }
.dynamic-view-item-left:hover { transform-origin: 0% 50% 0px; }
.dynamic-view-item-right:hover { transform-origin: 100% 50% 0px; }
.dynamic-view-item-left-top:hover { transform-origin: 0% 0% 0px; }
.dynamic-view-item-right-top:hover { transform-origin: 100% 0% 0px; }
.dynamic-view-item-top:hover { transform-origin: 50% 0% 0px; }
.dynamic-view-item-inner:hover { transform-origin: 50% 50% 0px; }
#dynamic-view-loading-notification { display: none; position: fixed; width: 200px; height: 60px; margin-left: -100px; margin-top: -50px; left: 50%; top: 50%; color: white; letter-spacing: 3px; border: 1px solid rgb(85, 85, 85); font-size: 24px; line-height: 60px; text-align: center; border-radius: 10px; background: -moz-linear-gradient(center top , rgb(0, 0, 0), rgb(51, 51, 51)) repeat scroll 0px 0px transparent; cursor: wait; z-index: 10000; box-shadow: 2px 2px 2px rgb(170, 170, 170); }
#dynamic-view-loading-notification .dynamic-view-loading-notification-inside { background: url('loading_logo.png') no-repeat scroll 15px center transparent; text-indent: 48px; display: block; width: 100%; height: 100%; }
.view-mode-mosaic > .dynamic-view-item-hover > .dynamic-view-title, .view-mode-mosaic > .dynamic-view-item-hover > .dynamic-view-date, .view-mode-device-normal .view-mode-mosaic > .dynamic-view-item:hover > .dynamic-view-title, .view-mode-device-normal .view-mode-mosaic > .dynamic-view-item:hover > .dynamic-view-date, .view-mode-brick > .dynamic-view-item-hover > .dynamic-view-title, .view-mode-brick > .dynamic-view-item-hover > .dynamic-view-date, .view-mode-device-normal .view-mode-brick > .dynamic-view-item:hover > .dynamic-view-title, .view-mode-device-normal .view-mode-brick > .dynamic-view-item:hover > .dynamic-view-date { display: block; }
:first-child + html .view-mode-snapshot > .dynamic-view-item > .dynamic-view-title { padding: 0px; margin: 0px; }
:first-child + html .view-mode-snapshot > .dynamic-view-item > .dynamic-view-thumb, :first-child + html .view-mode-snapshot > .dynamic-view-text-only > .dynamic-view-excerpt { top: 3%; }
:first-child + html .view-mode-mosaic > .dynamic-view-item > .dynamic-view-date, :first-child + html .view-mode-brick > .dynamic-view-item > .dynamic-view-date { bottom: 24px; }
:first-child + html .view-mode-device-handheld .dynamic-view-container > #mid, :first-child + html .view-mode-device-handheld #content, :first-child + html .view-mode-device-handheld .blogbody, :first-child + html .view-mode-device-normal .dynamic-view-container > #mid, :first-child + html .view-mode-device-normal #content, :first-child + html .view-mode-device-normal .blogbody { width: 100%; }
/* ::::: http://s.blog.xuite.net/_theme/skin/background/1473/style.css ::::: */

html {  }
body { margin: 0px; text-align: center; background-color: rgb(231, 231, 231); color: rgb(51, 51, 51); font-family: Verdana,Geneva,sans-serif; }
ul { padding: 0px; margin: 0px; }
li { list-style-position: inside; }
h1, h2, h3 { padding: 0px; margin: 0px; font-weight: normal; }
a { color: rgb(153, 153, 153); text-decoration: none; }
a:link { color: rgb(153, 153, 153); text-decoration: none; }
a:visited { color: rgb(153, 153, 153); text-decoration: none; }
a:active { color: rgb(153, 153, 153); text-decoration: none; }
a:hover { color: rgb(255, 0, 0); text-decoration: none; }
#wrap {  }
#container { position: relative; text-align: left; width: 980px; padding: 0px; margin: 0px auto; overflow: hidden; background: none repeat scroll 0% 0% rgb(255, 255, 255); box-shadow: 2px 0px 3px rgb(170, 170, 170); }
#banner { margin: 0px; padding: 0px; height: 246px; background: url('banner.jpg') no-repeat scroll center top transparent; display: block; }
#mid { width: 750px; float: right; margin-right: 5px; margin-top: 35px; padding: 0px; display: inline; }
#mid .dynamic-view {  }
#footer { clear: both; text-align: center; font-size: 12px; font-family: "Verdana","Arial","Helvetica","sans-serif"; line-height: 16px; bottom: 0px; height: 100px; padding-top: 15px; }
.blogname { font-size: 16px; font-weight: bold; font-family: 微軟正黑體,新細明體; color: rgb(69, 82, 54); padding-left: 350px; padding-top: 104px; width: 550px; text-align: right; }
.blogname a:link { color: rgb(255, 255, 255); }
.blogname a:visited { color: rgb(255, 255, 255); }
.blogname a:hover { color: rgb(204, 204, 204); }
.description { font-size: 12px; color: rgb(238, 238, 238); padding-left: 350px; margin-top: 6px; width: 550px; text-align: right; }
.menulist {  }
.logo { display: none; }
#content { padding: 5px 0px; margin: 0px 5px; background-color: rgb(255, 255, 255); }
.ArticleShowMode { display: none; }
#service-list { position: absolute; width: 550px; left: 15px; top: 250px; padding: 0px; margin: 0px; }
#service-list .service-item { margin: 0px 1px 0px 0px; float: left; list-style-type: none; padding: 0px 6px; cursor: pointer; background: none repeat scroll 0% 0% transparent; list-style-position: inherit; display: inline-block; width: 30px; height: 16px; text-align: center; border-right: 1px solid rgb(153, 153, 153); }
#service-list .service-link { display: inline-block; }
#service-blog { border-left: 1px solid rgb(153, 153, 153); }
#service-blog .service-link { display: inline-block; }
#service-blog .service-link:hover {  }
#service-photo .service-link { display: inline-block; }
#service-photo .service-link:hover {  }
#service-vlog .service-link { display: inline-block; }
#service-vlog .service-link:hover {  }
#service-gbook .service-link { display: inline-block; }
#service-gbook .service-link:hover {  }
#service-friend .service-link { display: inline-block; }
#service-friend .service-link:hover {  }
#service-card .service-link { display: inline-block; }
#service-card .service-link:hover {  }
#service-list a { background: none repeat scroll 0% 0% transparent; }
.top-toolbar {  }
:first-child + html .view-mode-snapshot > .dynamic-view-item > .dynamic-view-title { padding: 0px; margin: 0px; }
:first-child + html .view-mode-snapshot > .dynamic-view-item > .dynamic-view-thumb, :first-child + html .view-mode-snapshot > .dynamic-view-text-only > .dynamic-view-excerpt { top: 3%; }
:first-child + html .view-mode-mosaic > .dynamic-view-item > .dynamic-view-date, :first-child + html .view-mode-brick > .dynamic-view-item > .dynamic-view-date { bottom: 24px; }
:first-child + html .view-mode-device-handheld .dynamic-view-container > #mid, :first-child + html .view-mode-device-handheld #content, :first-child + html .view-mode-device-handheld .blogbody, :first-child + html .view-mode-device-normal .dynamic-view-container > #mid, :first-child + html .view-mode-device-normal #content, :first-child + html .view-mode-device-normal .blogbody { width: 100%; }
#xuitelogo {  }
