/* ::::: http://forum.joomla.org/styles/joomla09/theme/stylesheet.css ::::: */

* { margin: 0pt; padding: 0pt; }
html { font-size: 100%; height: 100%; }
body { height: 100%; font-family: Arial,Helvetica,sans-serif; color: rgb(50, 61, 79); background-color: rgb(12, 42, 76); font-size: 10px; margin: 0pt; }
#wrapheader { padding: 9px 13px 0px; margin: 10px 24px 19px; border: 1px solid rgb(180, 199, 215); }
#wrapcentre { margin: 15px 25px 0pt; }
#wrapfooter { text-align: center; clear: both; margin-top: 15px; }
#menubar { margin: 0pt; float: left; width: 50%; font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif; }
#menubar ul { padding: 0pt; margin: 0pt; list-style: none outside none; float: left; width: 100%; }
#menubar ul li { float: left; margin-bottom: 10px; }
#menubar a { white-space: nowrap; margin-right: 15px; float: left; }
#menubar a img { margin-right: 4px; }
#datebar { margin: 0pt; text-align: right; font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif; }
#datebar p { margin-bottom: 12px; }
.forumrules { background-color: rgb(255, 255, 255); border: 1px solid rgb(252, 143, 48); padding: 4px; font-weight: normal; font-size: 1.1em; font-family: Arial,Helvetica,sans-serif; text-align: center; }
.forumrules h3 { text-align: center; color: rgb(252, 143, 48); text-transform: uppercase; font-size: 1em; }
#pageheader {  }
#pagecontent {  }
#pagefooter {  }
h1 { color: black; font-family: Helvetica,Arial,sans-serif; font-weight: bold; font-size: 1.8em; text-decoration: none; }
h2 { font-family: Helvetica,Arial,sans-serif; font-weight: bold; font-size: 1.5em; text-decoration: none; line-height: normal; }
h3 { font-size: 1.3em; font-weight: bold; font-family: Helvetica,Arial,sans-serif; line-height: 120%; }
h4 { margin: 0pt; font-size: 1.1em; font-weight: bold; }
p { font-size: 1.1em; }
p.moderators { margin: 0pt; float: left; color: rgb(41, 41, 41); font-weight: bold; padding-top: 8px; }
p.breadcrumbs { margin: 0pt; float: left; color: black; font-weight: bold; white-space: normal; font-size: 1.1em; }
p.breadcrumbs span { font-size: 1.3em; font-weight: normal; }
p.datetime { font-size: 1em; }
.postauthor { color: rgb(0, 0, 0); font-size: 1.3em; }
.postdetails { color: rgb(0, 0, 0); }
.postbody { font-size: 1.3em; line-height: 1.4em; font-family: Arial,Helvetica,sans-serif; }
.postbody li, ol, ul { margin: 0pt 0pt 0pt 1.5em; }
span.postbody, span.postbody a, span.postbody a:link, span.postbody a:visited, span.postbody a:active, span.postbody a:hover, span.postbody a.postlink, span.postbody a.postlink:link, span.postbody a.postlink:visited, span.postbody a.postlink:active, span.postbody a.postlink:hover, span.postbody span, span.postbody span a, span.postbody span a:link, span.postbody span a:visited, span.postbody span a:active, span.postbody span a:hover, span.postbody span a.postlink, span.postbody span a.postlink:link, span.postbody span a.postlink:visited, span.postbody span a.postlink:active, span.postbody span a.postlink:hover, span.postbody a.postlink span, span.postbody a.postlink:link span, span.postbody a.postlink:visited span, span.postbody a.postlink:active span, span.postbody a.postlink:hover span { font-size: 1.1em ! important; color: rgb(119, 119, 119) ! important; margin-top: 30px; }
.nav { margin: 0pt; color: black; font-weight: bold; }
.gensmall { margin: 1px; font-size: 1.1em; }
.copyright { color: rgb(68, 68, 68); font-weight: normal; font-family: "Lucida Grande",Verdana,Arial,Helvetica,sans-serif; }
.titles { font-family: Helvetica,Arial,sans-serif; font-weight: bold; font-size: 1.7em; text-decoration: none; color: rgb(0, 101, 151); }
span.page-sep { margin-right: 5px; }
th { color: rgb(255, 255, 255); font-size: 1.1em; font-weight: bold; background: url('cellpic3.gif') repeat-x scroll center top rgb(80, 124, 166); white-space: nowrap; padding: 7px 5px; }
.table-white th, .tablebg th { text-align: center; text-transform: uppercase; }
td { padding: 2px; }
td.profile { padding: 4px; }
.tablebg { background-color: rgb(185, 202, 219); }
.tablebg th { background-color: rgb(185, 202, 219); }
.cat { height: 28px; margin: 0pt; padding: 0pt; border: 0pt none; background-color: rgb(199, 208, 215); background-image: url('cellpic1.gif'); text-indent: 4px; }
.catwho { height: 28px; margin: 0pt; padding: 0pt; border: 0pt none; background: url('cellpic3.gif') repeat-x scroll center top rgb(80, 124, 166) ! important; text-indent: 4px; text-transform: uppercase; color: rgb(255, 255, 255); }
.row1 { background-color: rgb(245, 245, 245); padding: 4px; }
.row2 { background-color: rgb(231, 235, 240); padding: 4px; }
.spacer { background-color: rgb(249, 249, 249); }
a:link { color: rgb(0, 101, 151); text-decoration: none; }
a:active, a:visited { color: rgb(0, 87, 132); text-decoration: none; }
a:hover { color: rgb(212, 100, 0); text-decoration: underline; }
form { margin: 0pt; padding: 0pt; border: 0pt none; }
input { color: rgb(51, 51, 51); font-family: "Lucida Grande",Verdana,Helvetica,sans-serif; font-size: 1.1em; font-weight: normal; padding: 1px; border: 1px solid rgb(169, 184, 194); background-color: rgb(250, 250, 250); }
textarea { background-color: rgb(250, 250, 250); color: rgb(51, 51, 51); font-family: "Lucida Grande",Verdana,Helvetica,Arial,sans-serif; font-size: 1.3em; line-height: 1.4em; font-weight: normal; border: 1px solid rgb(169, 184, 194); padding: 2px; }
select { color: rgb(51, 51, 51); background-color: rgb(250, 250, 250); font-family: "Lucida Grande",Verdana,Helvetica,sans-serif; font-size: 1.1em; font-weight: normal; border: 1px solid rgb(169, 184, 194); padding: 1px; }
option { padding: 0pt 1em 0pt 0pt; }
.btnlite { font-weight: normal; background-color: rgb(236, 236, 236); border: 1px solid rgb(169, 184, 194); cursor: pointer; padding: 1px 5px; font-size: 1.1em; }
.quotetitle, .attachtitle { margin: 10px 5px 0pt; padding: 4px; border-width: 1px 1px 0pt; border-style: solid; border-color: rgb(169, 184, 194); color: rgb(51, 51, 51); background-color: rgb(169, 184, 194); font-size: 0.85em; font-weight: bold; }
.quotecontent, .attachcontent { margin: 0pt 5px 10px; padding: 5px; border-color: rgb(169, 184, 194); border-width: 0pt 1px 1px; border-style: solid; font-weight: normal; font-size: 1em; line-height: 1.4em; font-family: "Lucida Grande","Trebuchet MS",Helvetica,Arial,sans-serif; background-color: rgb(250, 250, 250); color: rgb(75, 92, 119); }
.codetitle { margin: 10px 5px 0pt; padding: 2px 4px; border-width: 1px 1px 0pt; border-style: solid; border-color: rgb(169, 184, 194); color: rgb(51, 51, 51); background-color: rgb(169, 184, 194); font-family: "Lucida Grande",Verdana,Helvetica,Arial,sans-serif; font-size: 0.8em; }
.codecontent { direction: ltr; margin: 0pt 5px 10px; padding: 5px; border-color: rgb(169, 184, 194); border-width: 0pt 1px 1px; border-style: solid; font-weight: normal; color: rgb(0, 102, 0); font-size: 0.85em; font-family: Monaco,'Courier New',monospace; background-color: rgb(250, 250, 250); }
img { border: medium none; }
.username-coloured { font-weight: bold; }
a { outline: medium none; }
.header-title { background: url('header-title.jpg') repeat-x scroll left top transparent; min-height: 41px; height: auto ! important; border-bottom: 4px solid rgb(185, 202, 219); text-align: center; }
.header-title, .header-title h1 { padding: 0pt; margin: 0pt; color: rgb(255, 255, 255); font-size: 20px; line-height: 140%; }
.header-title h1 { padding: 10px 0pt 0pt; }
.header { border-bottom: 4px solid rgb(185, 202, 219); }
.header .logo { padding: 17px 0pt 5px 26px; }
.header ul.top-nav { float: right; padding: 35px 24px 0px 0px; margin: 0px; list-style: none outside none; font-size: 1.1em; }
.header ul.top-nav li { float: left; color: rgb(69, 69, 69); padding: 0pt 11px 0pt 10px; border-right: 1px solid rgb(224, 224, 224); }
.header ul.top-nav li.last { border-right: medium none; padding-right: 0pt; }
.header ul.top-nav li a { font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif; color: rgb(11, 42, 76); }
.header ul.top-nav li a:hover { color: rgb(47, 95, 147); }
.header .search-box { border-top: 4px solid rgb(185, 202, 219); background: none repeat scroll 0% 0% rgb(235, 235, 235); text-align: right; padding: 4px 0px; float: left; width: 100%; }
.header .search-box form { margin: 0px; }
.search-box-area { float: right; color: rgb(136, 136, 136); }
.search-box-area label { font-weight: bold; font-size: 1.1em; margin-top: 6px; }
.header .search-box input.submit { background: none repeat scroll 0% 0% transparent; border: medium none; padding: 0px; margin: 2px 0px 0px 11px; }
.header .search-box input.text { margin-left: 8px; width: 154px; margin-top: 2px; padding: 3px 0px; border-color: rgb(174, 179, 184); background: none repeat scroll 0% 0% rgb(241, 242, 242); font-size: 1.1em; }
.header .search-box a { text-decoration: underline; color: rgb(79, 123, 164); font-size: 1.1em; margin-left: 18px; margin-top: 5px; margin-right: 25px; }
.header .search-box a:hover { text-decoration: none; }
.header .search-box input, .header .search-box select, .header .search-box label, .header .search-box a { float: right; }
.top-controls { float: left; margin: 0pt; padding: 0px; }
a.fontsize { background-image: url('icon_fontsize.gif'); background-repeat: no-repeat; background-position: left top; display: block; height: 20px; text-align: left; width: 20px; text-indent: -5000px; margin: 3px 0pt 0pt 10px ! important; padding: 0pt; float: left; }
a.width_adj { float: left; width: 20px; margin: 3px 0pt 0pt 30px ! important; padding: 0pt; }
#page { width: 960px; margin: auto; text-align: left; }
.page-holder { width: 100%; min-width: 1034px; padding-top: 20px; clear: left; }
.page-bg { background: url('body-bg.png') no-repeat scroll center top rgb(12, 42, 76); min-width: 1034px; width: 100%; }
.container { float: left; display: inline; width: 100%; position: relative; }
.shadow-clt, .shadow-crt, .shadow-clb, .shadow-crb { width: 77px; height: 77px; position: absolute; font-size: 0px; line-height: 0px; }
.corners-holder { position: relative; width: 100%; font-size: 0px; line-height: 0px; height: 0px; }
.shadow-clt { left: -37px; top: -30px; background: url('shadow-clt.png') no-repeat scroll left top transparent; }
.shadow-crt { right: -37px; top: -30px; background: url('shadow-crt.png') no-repeat scroll right top transparent; }
.shadow-clb { left: -37px; bottom: -44px; background: url('shadow-clb.png') no-repeat scroll left bottom transparent; }
.shadow-crb { right: -37px; bottom: -44px; background: url('shadow-crb.png') no-repeat scroll right bottom transparent; }
.shadow-holder { background: none repeat scroll 0% 0% rgb(255, 255, 255); padding: 47px 0px 33px; }
.shad-left { background: url('shadow-left.png') repeat-y scroll left center transparent; margin-left: -37px; padding-left: 37px; }
.shad-left-ie { float: left; font-size: 0px; line-height: 0px; display: none; margin-left: -37px; position: relative; width: 37px; }
.shad-right { background: url('shadow-right.png') repeat-y scroll right center transparent; margin-right: -37px; padding-right: 37px; width: 100%; }
.shad-right-ie { float: right; font-size: 0px; line-height: 0px; display: none; margin-right: -37px; position: relative; width: 37px; }
.shad-top { background: url('shadow-top.png') repeat-x scroll center top transparent; height: 30px; margin: 0px 40px; position: relative; }
.shad-bottom { background: url('shadow-bottom.png') repeat-x scroll center bottom transparent; height: 44px; margin: 0px 40px; position: relative; }
.shadow-wrapper { float: left; margin: -47px 0px -33px; position: relative; padding-bottom: 23px; width: 100%; }
.bottom-footer { text-align: center; font-size: 0.85em; padding: 0px 0pt 50px; color: rgb(255, 255, 255); float: left; width: 100%; margin-top: 0px; }
.bottom-footer a, ul#bottommenu.menu li a { text-decoration: underline; color: rgb(255, 255, 255); }
.bottom-footer a:hover, ul#bottommenu.menu li a:hover { text-decoration: none; }
.bottom-footer ul { list-style: none outside none; padding: 0pt; margin: 0pt; }
.bottom-footer ul li { display: inline; padding: 0pt 11px 0pt 10px; border-right: 1px solid rgb(59, 78, 101); }
.clear-left-li { clear: left; }
.vis-clear { clear: both; height: 0px; line-height: 0px; font-size: 0px; }
div#postingbox { padding-top: 30px; }
div#postingbox h3 { font-family: Helvetica,Arial,sans-serif; font-weight: bold; font-size: 1.4em; color: rgb(0, 101, 151); margin-bottom: 0pt; padding-bottom: 8px; }
div#message-box .inputbox {  }
