
/* ::::: http://blogimg.sinajs.cn/v5/css/v5.css?37.css ::::: */

body { margin: 0px; font-size: 12px; font-family: "宋体"; }
a { color: rgb(0, 51, 153); }
a:hover { color: rgb(204, 0, 0); }
a img { border: 0px none ; }
form { margin: 0px; }
.wrapper { margin: 0pt auto; width: 1000px; }
.time { font-size: 10px; font-family: Arial; }
.sub { font-size: 10px; font-family: Arial; }
.column_1 { overflow: hidden; width: 210px; }
.column_2 { width: 730px; }
.column_3 { overflow: hidden; width: 210px; }
.column_4 { overflow: hidden; width: 730px; }
.assortNum { padding-left: 2px; }
.space6 { margin-left: 6px; }
.space12 { margin-left: 6px; }
.floatLeft { clear: none; float: left; }
.floatRight { clear: none; float: right; }
.clear { overflow: hidden; clear: both; height: 0px; width: 0px; }
.gap { width: 10px; height: 10px; }
.bannerLayout, .menuLayout, .contentLayout, .sinaBottom { margin: 0pt auto; width: 950px; }
.sinaBottom { overflow: hidden; text-align: center; padding-top: 30px; padding-bottom: 40px; height: 98px; line-height: 21px; clear: both; }
.sinaBottom p { margin: 0pt auto; }
.sinaBottom .copyright { margin-top: 20px; }
.chinaTpl { margin: 4px 10px 0px 0px; color: rgb(255, 255, 255); }
.chinaTpl span { color: rgb(255, 252, 0); font-weight: 600; }
.chinaTpl a { color: rgb(255, 255, 255); }
.SinaAd_hide { display: none; }
.SinaAd_cnt { overflow: hidden; width: 640px; height: 90px; float: left; }
.SinaAd_margin1 { margin: 0px 20px 0px 0px; }
.SinaAd_margin2 { margin: 0px 5px 8px 0px; }
.SinaAd_link { text-decoration: underline; }
.SinaAd_linkcolor {  }
.SinaAd_manage { float: right; color: rgb(63, 117, 3); }
.SinaAd_mg1 { margin: 43px -2px 0px; float: right; }
.SinaAd_mg2 { margin: 0px -2px 0px 0px; }
.SinaAd_title { margin: -2px -1px 0px 0px; float: right; }
.SinaAd_title2 { margin: 0px; float: left; }
.but_all { border: 0px none ; background: transparent url('buts.gif') repeat scroll 0% 0%; text-align: center; color: rgb(36, 36, 36) ! important; cursor: pointer; font-size: 12px; font-family: "宋体" ! important; }
.but_all.disabled { color: rgb(187, 187, 187) ! important; }
input.but_all { padding: 1px 0px 0px; height: 20px; line-height: 20px; }
a.but_all { padding: 2px 0px 0px; display: block; float: left; text-decoration: none; height: 18px; line-height: 18px; }
.send_article { border: 0px none ; padding: 2px 0px 0px 13px; background: transparent url('send_article.gif') repeat scroll 0% 0%; height: 18px; line-height: 18px; width: 57px; text-align: center; color: rgb(36, 36, 36) ! important; cursor: pointer; float: left; display: block; }
.but_margin { margin: 3px 0px 0px 4px; }
.but_1 { width: 31px; background-position: -9px 0px; }
.but_2 { background-position: -9px -30px; width: 43px; }
.but_3 { background-position: -9px -60px; width: 54px; }
.but_4 { background-position: -9px -90px; width: 67px; }
.but_5 { background-position: -9px -120px; width: 78px; }
.but_6 { background-position: -9px -150px; width: 90px; }
.but_7 { background-position: -9px -180px; width: 102px; }
.but_8 { background-position: -9px -210px; width: 114px; }
input.but_all[disabled="true"], input.but_all[disabled=""], input.but_all[disabled="disabled"] { color: rgb(167, 166, 170) ! important; }
.sinaTop { border-bottom: 1px solid rgb(213, 213, 213); background: rgb(255, 255, 255) none repeat scroll 0% 0%; font-size: 12px; width: 100%; height: 31px; min-width: 1000px; }
.sinaTop a { color: rgb(0, 51, 153); }
.sinaTop table { margin: 0pt auto; width: 950px; }
.sinaTop a { text-decoration: none; }
.sinaTop .leftLinks { margin-top: 11px; margin-left: 6px; font-size: 12px; text-align: left; }
.sinaTop .leftLinks a {  }
.sinaTop .name a { font-weight: 600; }
.sinaTop .space { margin: 0px 4px; color: rgb(204, 204, 204); }
.sinaTop .rightMenu { margin-top: 11px; text-align: right; font-family: "宋体"; font-size: 12px; padding-right: 25px; }
.sinaTop .rightMenu strong { color: rgb(64, 120, 0); }
.sinaTop .sendArticle { background: transparent url('sanjiao.gif') no-repeat scroll right center; padding-right: 10px; position: relative; }
.sub { font-size: 10px; }
.bannerLayout { position: relative; }
.bannerLayout .bannerContent { position: absolute; }
.bannerLayout .bannerContent .blogName { padding-right: 5px; }
.bannerLayout .bannerContent .blogNameEdit { display: block; float: left; margin-left: 10px; padding-top: 14px; }
.bannerLayout .bannerContent .blogNameEdit a { text-decoration: none; }
.bannerLayout .bannerContent .blogUrl { padding-left: 15px; vertical-align: top; }
.bannerLayout .bannerContent .blogUrl div { margin-top: -2px; }
.bannerLayout .bannerContent .blogUrl .link { text-decoration: none; line-height: 22px; }
.bannerLayout .bannerContent .strong { font-size: 28px; font-family: "微软雅黑","黑体"; display: block; float: left; }
.bannerLayout .bannerContent .listItem { padding-left: 10px; }
.bannerLayout .bannerContent .rss { margin-right: 20px; }
.bannerLayout .bannerContent .rss img { margin-top: -1px; }
.bannerLayout .bannerContent .visiteNum { font-weight: 600; }
.bannerLayout .bannerContent .manage { margin-top: 5px; }
.bannerLayout .bannerContent .manage a { color: rgb(255, 255, 255); }
#dizhenCopyBtn { display: none; }
.menuLayout { margin-bottom: 10px; font-size: 14px; }
.menuLayout .mainMenu { font-size: 14px; }
.menuLayout .mainMenu a { text-decoration: none; }
.menuLayout .mainMenu .username { padding: 10px 0px 0px 20px; font-size: 12px; }
.menuLayout .mainMenu .menuItem { padding: 10px 20px 0px; }
.menuLayout .mainMenu .main { padding-left: 0px; padding-right: 0px; text-align: center; font-weight: 600; }
.menuLayout .mainMenu .line { width: 2px; height: 100%; }
.menuLayout .mainMenu .linelone { width: 2px; height: 100%; }
.menuLayout .mainMenu .search { text-align: right; }
.menuLayout .search input { border: 0px none ; margin-top: 0px; margin-right: 0px; }
.menuLayout .search #searchInput { border: 1px solid rgb(187, 187, 187); width: 135px; margin-left: 20px; }
.menuLayout .search .searchArticle { background: transparent url('searcharticle.gif') repeat scroll 0% 0%; width: 75px; height: 21px; }
.menuLayout .search .searchAll { background: transparent url('searchall.gif') repeat scroll 0% 0%; width: 51px; height: 21px; }
.menuSub { padding: 4px 8px 0px 18px; }
.menuSub .space { margin: 0px 10px; }
.menuSub .adminLinks {  }
.menuSub .memuLink { margin-top: 4px; }
.menuSub .memuLink a {  }
#blog_901 .image { border: 1px solid rgb(203, 201, 202); margin: 0pt auto; padding: 3px; width: 180px; }
#blog_901 .image img { width: 180px; height: 180px; }
#blog_901 .userInfo { border-bottom: 1px dashed rgb(203, 201, 202); padding: 8px 0px; text-align: center; font-size: 14px; }
#blog_901 .mmsBlog { margin: 0px -2px 4px 0px; vertical-align: middle; }
#blog_901 .mmsNotOpen { display: none; }
#blog_901 .userInfo .index { margin-left: 5px; }
#blog_901 .zone { margin: 0px 0px 0px 6px; padding: 10px 3px 0px 6px; overflow: auto; list-style-type: none; list-style-image: none; list-style-position: outside; height: 100%; }
#blog_901 .zone li { clear: both; }
#blog_901 .zone .leave { background: transparent url('leave.gif') no-repeat scroll 3px 2px; }
#blog_901 .zone .firend { background: transparent url('firend.gif') no-repeat scroll 3px 2px; }
#blog_901 .zone .rss { background: transparent url('rss.gif') no-repeat scroll 5px 2px; padding-left: 30px; }
#blog_901 .zone .visited { background: transparent url('visited.gif') no-repeat scroll 6px 2px; }
#blog_901 .zone .message { background: transparent url('message.gif') no-repeat scroll 3px 2px; }
#blog_901 .zone .note { background: transparent url('note.gif') no-repeat scroll 6px 2px; }
#blog_901 .zone .mail { background: transparent url('mail.gif') no-repeat scroll 3px 4px; }
#blog_901 .zone .items { padding: 0px 0px 0px 25px; width: 60px; height: 26px; }
#blog_901 .zone .button { margin: 0px 0px 0px 3px; background: transparent url('button.gif') repeat scroll 0% 0%; width: 74px; height: 22px; line-height: 22px; text-align: center; }
#blog_901 .zone .button a { text-decoration: none; }
#blog_901 .buttonOnline { padding: 2px 0px 0px 12px; background: transparent url('ico_chat_onoff.gif') no-repeat scroll 0px 50%; }
#blog_901 .buttonOffline { padding: 2px 0px 0px 12px; background: transparent url('ico_chat_onoff.gif') no-repeat scroll -100px 50%; color: rgb(185, 185, 185); }
#blog_901 .userscore { margin: 0px 5px; padding: 6px 0pt 0pt; }
#blog_901 .userscore .title { border-top: 1px dashed rgb(203, 201, 202); font-weight: 600; font-size: 14px; color: rgb(7, 67, 137); margin-top: 10px; padding-top: 10px; padding-bottom: 5px; }
#blog_901 .jifen { border-style: solid solid none; border-color: rgb(212, 229, 239) rgb(212, 229, 239) -moz-use-text-color; border-width: 1px 1px 0px; padding: 5px 10px 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; height: 17px; line-height: 1; }
#blog_901 .score { color: rgb(188, 2, 3); }
#blog_901 .end { border-bottom: 1px solid rgb(212, 229, 239); }
#blog_1 .componentContent .item p { margin: 0px; clear: both; padding-bottom: 2px; }
#blog_2 .componentContent .item p { margin: 0px; clear: both; padding-top: 2px; }
#blog_22 .sina512help { border: 1px solid rgb(188, 188, 188); background: transparent url('help512xunren.gif') no-repeat scroll 0% 0%; width: 190px; height: 129px; margin-left: 0px; }
#Sina_512help { border: 1px solid rgb(147, 128, 116); width: 124px; height: 18px; margin-right: 3px; color: rgb(97, 97, 97); padding-top: 0px; }
#blog_22 .sina512help img { cursor: pointer; }
#blog_22 .sina512help .split1 { padding: 40px 0px 21px; }
.visit { margin: 0px; padding: 0px; line-height: 18px; list-style-type: none; list-style-image: none; list-style-position: outside; }
.visit li { margin: 2px 0px 15px; }
.visit h5 { display: inline; font-size: 12px; font-weight: 300; }
.visit img { border: 1px solid rgb(203, 201, 202); padding: 1px; margin-right: 5px; width: 30px; cursor: pointer; float: left; }
.visit .visitor_new { border: 0px none ; margin: 9px 4px 0pt 0pt; height: 13px; width: 10px; }
.visit .hide { visibility: hidden; }
.visit h4 { padding: 0px; clear: none; float: right; background-image: url('delete.gif'); display: block; height: 10px; width: 10px; cursor: pointer; font-size: 1px; line-height: 1px; }
.visit p { margin: 0px; padding-top: 1px; color: rgb(89, 89, 89); font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif; }
.visit .time { font-family: "宋体"; font-size: 12px; }
.cloneComponent { padding: 5px 0px 0px; text-align: center; }
.scoreDialog { padding: 29px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; text-align: left; height: 267px; color: rgb(85, 85, 85); }
.scoreDialog table { margin-bottom: 20px; height: 70px; font-size: 14px; }
.scoreDleft { border-right: 1px solid rgb(237, 237, 237); width: 180px; }
.scoreDright { width: 400px; padding-left: 20px; }
.scoreDialog table span { line-height: 33px; }
.scoreDialog table .scoreitem { padding: 0px 10px 0px 0px; }
.scoreDialog div { line-height: 20px; }
.scoreDialog .split { border-top: 1px solid rgb(237, 237, 237); margin-bottom: 20px; }
.scoreDialog .tiptitle { color: rgb(22, 81, 137); }
.scoreDialog .telegraph { margin: 6px 0px 0px; }
.score { color: rgb(209, 54, 0); }
.myrecord { border: 1px solid rgb(208, 183, 131); background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 186px; }
.myrecord_header { background: transparent url('2008_1_03.gif') no-repeat scroll 0% 0%; width: 186px; }
.myrecord_title { padding: 8px 0px 0px; text-align: center; width: 100%; font-weight: bold; color: rgb(209, 54, 0); }
.myrecord_date { border-bottom: 1px solid rgb(249, 200, 34); margin: 3px 8px 0px; padding: 2px 10px 3px; color: rgb(102, 102, 102); text-align: center; }
.myrecord_line { font-size: 1px; }
.myrecord_week { font-size: 12px; }
.myrecord_week span { height: 20px; }
.myrecord_content { padding: 10px 7px; text-align: left; }
.myrecord td { color: rgb(102, 102, 102); }
.myrecord_type { height: 25px; }
.myrecord .recordnum { text-align: center; }
.myrecord_footer { padding: 5px 0px 0px; background: transparent url('2008_1_06.gif') no-repeat scroll 0% 0%; width: 186px; height: 23px; }
.myrecord_right { margin: 0px 12px 0px 0px; float: right; }
.myrecord_left { margin: 0px 0px 0px 12px; float: left; }
#blog_1001 .componentContent { line-height: 1.5; }
#blog_21 span.title { display: inline ! important; margin-top: 0px ! important; width: auto ! important; height: auto ! important; padding-top: 0px ! important; }
#blog_19 span.title { display: inline ! important; margin-top: 0px ! important; width: auto ! important; height: auto ! important; padding-top: 0px ! important; }
#blog_22 span.title { display: inline ! important; margin-top: 0px ! important; width: auto ! important; height: auto ! important; padding-top: 0px ! important; }
#advertise_link { display: none; }
#blog_903 .splitline { border-top: 1px dashed rgb(203, 201, 202); margin: 5px 0px 10px; }
#blog_903 .imagescnt { margin: 10px 5px 0px -5px; }
#blog_903 span.imgcnt { margin: 0px 0px 7px; display: block; text-align: center; }
#blog_903 .imgcnt a { text-decoration: none; }
#blog_903 .imgcnt img { border: 1px solid rgb(153, 153, 153); padding: 1px; width: 80px; height: 60px; margin-bottom: 5px; }
#blog_903 .imgcnt .text { padding: 0px 10px 0px 14px; width: 72px; cursor: pointer; line-height: 1.5; text-decoration: underline; }
#blog_903 .floatRight .text { padding: 0px 6px; width: 72px; cursor: pointer; line-height: 1.5; text-decoration: underline; }
#blog_903 .clear { clear: both; height: 1px; font-size: 1px; }
#blog_903 .linkMore { text-align: right; }
.components210 { overflow: hidden; width: 210px; }
.components510 { overflow: hidden; width: 510px; margin-right: 10px; }
.components730 { overflow: hidden; width: 730px; }
.component { margin-bottom: 8px; }
.componentBar { padding: 0px 8px 0px 11px; overflow: hidden; }
.componentBar input { margin: 2px 0px 0px 5px; }
.componentContent { padding: 10px 11px; line-height: 1.5; }
.componentBottom { overflow: hidden; height: 60px; }
.componentBar .title { font-weight: 600; }
.componentTop { height: 1px; font-size: 1px; line-height: 1px; }
.w3 { border: 0px none ; background: transparent url('w3.gif') repeat scroll 0% 0%; width: 51px; height: 21px; line-height: 21px; text-align: center; }
a.w3, a.w4 { display: block; float: left; margin-top: 2px; margin-right: 2px; color: rgb(57, 58, 60) ! important; text-decoration: none; }
.w4 { border: 0px none ; background: transparent url('w4.gif') repeat scroll 0% 0%; width: 63px; height: 21px; line-height: 21px; text-align: center; }
.w5 { border: 0px none ; background: transparent url('w5.gif') repeat scroll 0% 0%; width: 75px; height: 21px; line-height: 21px; text-align: center; margin-left: 10px; }
.manage a { text-decoration: none; }
.flash { text-align: center; }
.componentContent .EmptyType { padding: 20px; text-align: center; font-size: 14px; }
.componentContent .item { margin: 0px 0px 0px 2px; padding: 0px; }
.componentContent .item li { margin: 0px 0px 0px -2px; padding: 5px 0px 5px 7px; list-style-type: none; }
.componentContent .item span { font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif; display: block; float: right; }
.componentContent .item p { margin: 0px; clear: both; }
.componentContent .item div { float: left; clear: none; }
.componentContent .item .leave {  }
.list div { margin: 0px 0px 0px -3px; padding-left: 10px; line-height: 22px; }
.list div p { margin: 0px; }
.componentContent .viewall { border-top: 1px dashed rgb(203, 201, 202); margin: 8px 8px 0px; padding-top: 8px; }
.componentContent .compall { text-align: right; }
.componentContent .allarticles { text-align: right; margin-bottom: 10px; }
.componentContent .allarticles .all { font-size: 14px; font-weight: bold; }
.componentContent .pagingContent { text-align: -moz-right ! important; margin-right: 24px; margin-top: -16px; }
.contentLayout { height: auto; }
.column3empty { padding: 6px 0px; background: rgb(242, 247, 249) none repeat scroll 0% 0%; text-align: center; }
.Sina_container { min-height: 416px; height: auto; }
* html .Sina_container { height: 420px; }
.icon { padding: 8px; background-position: 0px 50%; background-repeat: no-repeat; font-size: 1px; height: 16px; text-decoration: none; vertical-align: middle; width: 16px; }
.icon.delete { background-image: url('delete.gif'); }
.icon.block { padding: 0px; display: block; }
.icon.center { background-position: center 2px; }
.components510 .prearticle {  }
.components730 .prearticle { padding: 0px 25px; width: 660px; }
#articleLists { padding-top: 26px; }
.prearticle .articleTitle { font-size: 14px; line-height: 24px; margin-bottom: 6px; }
.prearticle .articleTitle img { margin: 0px; }
.articleTag { margin-top: 0px; margin-bottom: 3px; line-height: 20px; }
.prearticle .articleContent { font-size: 14px; }
.prearticle .articleUtil { margin-top: 8px; height: 22px; line-height: 1.5; clear: both; }
.prearticle .articleUtil .floatLeft { font-weight: 600; }
.articleUtil .sub { margin-left: 4px; text-decoration: none; }
.prearticle .articleUtil .space { margin: 0px 5px; }
.prearticle .articleBottom { margin: 43px 0px 26px; }
.componentBar a { text-decoration: none; }
.componentBar .tabcurrent { width: 106px; text-align: center; }
.componentBar .tabcurrent a { font-weight: bold; }
.componentBar .tabnormal { padding-top: 1px; width: 106px; text-align: center; font-family: tohama; }
.componentBar .tabnormal a { text-decoration: underline; }
.componentContent .articlelist { margin: 0pt 0pt 8px; padding: 0px 27px 20px 21px; font-size: 14px; }
.articlelist .listtype { margin: 0px 0px 12px 7px; padding: 12px 0pt 18px; }
.articlelist .listtype select { width: 235px; font-family: "宋体","Courier New"; }
.articlelist ul { margin: 0px; padding: 5px 12px 0px; }
.articlelist .articleTitle { margin: 4px 0px 0px; padding: 1px 0px 0px 15px; }
.articleTitle .articleContent { font-size: 14px; }
.page { padding: 2px 0px 0px; text-align: -moz-right ! important; line-height: 18px; font-family: Verdana; }
.page .pageitem { border: 1px solid rgb(215, 221, 233); padding: 0px 4px 1px; text-decoration: none; }
.page .current { border: 1px solid rgb(215, 221, 233); padding: 0px 4px 1px; background: rgb(181, 190, 199) none repeat scroll 0% 0%; cursor: default; }
.page .pagearrow { border: 1px solid rgb(215, 221, 233); padding: 0px 6px 1px; text-decoration: none; }
.page .arrowleft { background: transparent url('left.gif') no-repeat scroll 1px 50%; }
.page .arrowright { background: transparent url('right.gif') no-repeat scroll 1px 50%; }
.pagenum a:link { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.pagenum a:visited { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.pagenum a:active { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.pagenum a:hover { background: rgb(181, 190, 199) none repeat scroll 0% 0%; }
.articleTitle a:visited, .articleItem a:visited { color: rgb(90, 90, 92); }
.componentContent .articlelist .manage a { font-size: 12px; }
.articleFontSize a { text-decoration: none; }
.articleFontSize a, .articleFontSize b { padding: 0px 3px; }
.article { padding: 1px 35px 10px 36px; width: 660px; overflow-x: hidden; }
.article .articleTitle { margin: 23px 0px 12px; overflow: hidden; padding-bottom: 1px; }
.articleFontSize a { text-decoration: underline; }
.article .articleTitle b { font-size: 20px; margin-right: 5px; font-family: "微软雅黑","黑体"; font-weight: 300; }
.article .articleTitle .manage { line-height: 22px; }
.articleContent { padding: 20px 0px 15px; font-size: 14px; line-height: 1.5; }
.articleContent pre { white-space: normal; }
.articleContent p {  }
.articleUtil { margin-top: 6px; height: 22px; line-height: 1.5; }
.articleUtil .space { margin: 0px 5px; }
.articleInfo { margin: 15px 0px 13px; padding: 0px 10px 0px 0px; height: 28px; line-height: 28px; clear: both; }
.articleInfo .mmsblog { background: transparent url('cell.gif') no-repeat scroll 2px 50%; padding-left: 20px; }
.articleInfo img { vertical-align: text-bottom; }
.articleInfo p { font-size: 12px; }
.article .articleInfo .sort { background: transparent url('sort.gif') no-repeat scroll 0% 0%; margin-left: 8px; padding-left: 20px; }
.article .articleInfo .bbs { background: transparent url('bbs.gif') no-repeat scroll 0% 0%; margin-left: 2px; padding-left: 20px; }
.article .articleInfo .group { background: transparent url('group.gif') no-repeat scroll 0% 0%; margin-left: 2px; padding-left: 20px; }
.article .articleInfo .olyba { background: transparent url('huoju.gif') no-repeat scroll 0% 0%; margin-left: 2px; padding-left: 20px; }
.article .articleContext { margin: 10px 0px 18px; font-size: 14px; padding-top: 10px; line-height: 22px; }
.article .big { font-size: 16px; }
.article .normal { font-size: 14px; }
.article .small { font-size: 12px; }
.article .articlesByTag { border: 1px solid rgb(221, 235, 244); padding: 20px 15px 20px 0px; overflow: auto; height: 100%; margin-bottom: 10px; }
.article .articlesByTag .line { border-right: 1px dashed rgb(230, 231, 233); }
.article .articleBox { width: 306px; padding-left: 15px; }
.article .articleBox dl { margin: 0px; }
.article .articleBox dt { font-weight: 600; color: rgb(136, 136, 138); padding-bottom: 10px; }
.article .articleBox dd { background: transparent url('listdot.gif') no-repeat scroll 3px 8px; margin-left: 10px; padding-left: 10px; line-height: 20px; }
.article .articleBox span { margin-right: 10px; }
.article .comment {  }
.comment .commentBar { padding: 0px 10px; margin-bottom: 5px; }
.comment .title { font-weight: 600; }
.comment .commentContent {  }
.comment .my2008 { padding-left: 10px; }
.comment .commentContent .citem { padding: 10px 10px 0px; overflow: auto; margin-top: 6px; height: 100%; }
.comment .commentContent .top { border: medium none ; margin-top: 4px; }
.comment .citem .num { margin: 20px 10px 0px 0px; }
.comment .citem .userInfo { overflow: hidden; text-align: center; width: 58px; }
.comment .citem .userInfo .photo { padding: 3px; margin-bottom: 2px; }
.comment .citem .leave { margin: 0px 0px 0px 8px; overflow: hidden; width: 555px; padding-bottom: 30px; line-height: 18px; }
.comment .citem .admin { font-weight: 600; }
.comment .commentContent .revert { border: medium none ; margin: 10px 10px 0px 0px; padding: 4px 10px 0px 0px; }
.comment .revert .leave { width: 480px; }
.comment .revert .leave div { text-indent: 24px; }
.comment .commentBottom { margin-top: 10px; padding-top: 5px; margin-bottom: 50px; }
.comment .commentBottom div { float: right; }
.comment .sendComment { padding: 10px; }
.comment .sendComment .info {  }
.comment .sendComment * { vertical-align: middle; }
.comment .sendComment .info .user { margin: 0px 10px; color: rgb(0, 0, 0); }
.comment .sendComment .info .username { width: 60px; margin-right: 10px; }
.comment .sendComment .info .password { width: 60px; margin-right: 10px; }
.comment .sendComment .commentArea { margin: 10px 0px; width: 638px; height: 110px; }
.comment .sendComment .checkwd { border: 1px solid rgb(204, 204, 204); background: rgb(249, 249, 249) none repeat scroll 0% 0%; width: 39px; padding-left: 1px; margin-right: 6px; }
.comment .sendComment .sendBut { text-align: center; margin-top: 10px; }
.comment .sendComment .sendBut input {  }
.comment .sendComment .sendBut b { float: right; }
.comment #reply_content {  }
.comment #reply_content #reply_comment_content { border: 1px solid rgb(204, 204, 204); background: rgb(249, 249, 249) none repeat scroll 0% 0%; width: 545px; height: 77px; }
.comment #reply_content .buttons { text-align: right; padding-top: 9px; }
.comment #reply_comment_button { margin-right: 10px; }
.comment .reply_text { color: rgb(43, 44, 48); font-weight: bold; }
.comment #emotioins { padding: 0pt; }
.comment .comment_empty { padding: 15px; text-align: center; }
#commentTip { border: 1px solid rgb(204, 204, 204); padding: 15px; margin-left: 100px; font-size: 12px; line-height: 20px; background-color: rgb(255, 253, 244); text-align: left; position: absolute; width: 510px; }
#commentTip .close { position: absolute; top: 10px; right: 10px; }
#commentTip .sinaman { color: black; font-size: 12px; text-align: center; float: right; padding-left: 20px; }
#commentTip .sinaman a { color: rgb(7, 68, 131); text-decoration: none; margin-right: 5px; margin-left: 5px; }
#commentTip .sinaman a:hover { color: rgb(7, 68, 131); text-decoration: underline; }
#commentTip span { color: rgb(204, 0, 0); }
.CP_table body, .CP_table ul, .CP_table ol, .CP_table li, .CP_table p, .CP_table form, .CP_table img, .CP_table table, .CP_table th, .CP_table td { border: 0pt none ; margin: 0pt; padding: 0pt; list-style-type: none; list-style-image: none; list-style-position: outside; }
.CP_table { font-size: 12px; font-family: Verdana,"宋体",sans-serif; }
#emotioins cite, #emotioins em { font-style: normal; }
.CP_w cite, .CP_w em { font-style: normal; }
.CP_table a, .CP_smibar a { text-decoration: none; }
.CP_table { background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 613px; height: 370px; position: absolute; }
.CP_w { border: 1px solid rgb(160, 160, 160); border-collapse: collapse; border-spacing: 0pt; width: 150px; }
.CP_w a:link, .CP_w a:visited { color: rgb(46, 48, 146); }
.CP_w a:hover { color: rgb(204, 0, 0); }
.CP_w thead th { padding: 0pt 5px 0pt 10px; background: rgb(243, 243, 243) url('cp_w_bg.gif') repeat-x scroll 0pt 0pt; height: 25px; line-height: 25px; text-align: left; font-weight: normal; }
.CP_w thead th strong { float: left; color: rgb(102, 102, 102); }
.CP_w thead th cite { float: right; }
.CP_w thead th cite a { float: left; margin-left: 8px; color: rgb(68, 68, 153); }
.CP_w thead th cite a:hover { color: rgb(204, 0, 0); }
.CP_w_shut { margin: 3px 0pt; background: transparent url('cp_w_shut.gif') no-repeat scroll center 0pt; overflow: hidden; float: right; display: block; width: 19px; height: 19px; text-indent: -1000em; }
.CP_w_shut:hover { background-position: center -25px; }
.CP_w tbody { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.CP_smilies { background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 613px; height: 371px; }
.CP_smibar { border-top: 1px solid rgb(227, 227, 227); margin: 0pt 7px 0pt 0pt; background: rgb(247, 247, 247) url('cp_vr2.gif') repeat-y scroll 0pt 0pt; overflow: hidden; float: left; width: 150px; height: 370px; }
.CP_smibar ul { margin: -1px 0pt 0pt; height: 372px; }
.CP_smibar ul li { background: transparent url('cp_hr7.gif') repeat-x scroll left bottom; height: 31px; line-height: 31px; font-family: "宋体"; }
.CP_smibar ul li em {  }
.CP_smibar ul li cite { color: rgb(102, 102, 102); }
.CP_smibar ul li img { margin: 0pt 10px; }
.CP_smibar .CP_smion { border-style: solid none; border-color: rgb(227, 227, 227) -moz-use-text-color; border-width: 1px medium; background: rgb(255, 255, 255) none repeat scroll 0% 0%; position: relative; top: -1px; margin-bottom: -1px; height: 30px; line-height: 30px; cursor: default; }
.CP_smibar a:link, .CP_smibar a:visited, .CP_smibar a:hover { color: rgb(46, 48, 146); text-decoration: none; }
.CP_smibar .CP_smion, .CP_smibar .CP_smion a:link, .CP_smibar .CP_smion a:visited, .CP_smibar .CP_smion a:hover { color: rgb(51, 51, 51); text-decoration: none; font-weight: bold; }
.CP_smibar .CP_smion cite { font-weight: normal; }
.CP_smisel { padding: 8px 10px 5px 0pt; }
.CP_smisels { position: relative; height: 357px; overflow-x: hidden; overflow-y: scroll; }
.CP_smisels .CP_chos { overflow: hidden; }
.CP_smisels .CP_chos li { float: left; }
.CP_smisels .CP_chos li a { border: medium none ; margin: 0pt 1px; padding: 0pt 0pt 3px; overflow: hidden; display: block; position: relative; text-align: center; color: rgb(153, 153, 153); width: 58px; font-family: "宋体"; cursor: pointer ! important; }
.CP_smisels .CP_chos li a cite { display: block; width: 100%; height: 74px; line-height: 74px; text-align: center; color: rgb(85, 85, 85); position: absolute; left: 0pt; top: 0pt; z-index: 1; }
.CP_smisels .CP_chos li a span { border: 2px solid rgb(255, 255, 255); display: block; }
.CP_smisels .CP_chos li a span img { border: 1px solid rgb(220, 220, 220); margin: 1px; vertical-align: top; width: 50px; height: 50px; }
.CP_smisels .CP_chos li a em { overflow: hidden; display: block; text-align: center; white-space: nowrap; color: rgb(153, 153, 153); }
.CP_smisels .CP_chos li a:hover { text-indent: 0pt; }
.CP_smisels .CP_chos li a:hover { border-color: rgb(81, 189, 47); color: rgb(153, 153, 153); text-decoration: none; }
.CP_smisels .CP_chos li a:hover span { border-color: rgb(81, 189, 47); }
.CP_smisels .CP_chos li a:hover span img { color: rgb(153, 153, 153); text-decoration: none; }
.CP_smisels .CP_chos .CP_i_ok { position: absolute; width: 18px; height: 18px; right: 2px; bottom: 2px; z-index: 2; }
.CP_cmtins { margin: 10px 0px 0px; padding-left: 0px; }
.CP_cmtins body, .CP_cmtins ul, .CP_cmtins ol { border: 0pt none ; margin: 0pt; padding: 0pt; list-style-type: none; list-style-image: none; list-style-position: outside; }
.CP_a_btn cite { padding: 5px 16px 5px 13px; background-position: right 0pt; background-repeat: no-repeat; font-size: 12px ! important; line-height: 21px; }
.CP_a_btn14 cite { padding: 6px 21px 5px 18px; font-size: 14px ! important; line-height: 25px; }
.CP_a_btnico cite { padding-left: 28px; }
.CP_a_btn14 cite { background-image: url('cp_btn14.png'); }
.CP_a_btn14:link, .CP_a_btn14:visited, .CP_a_btn14:active { background-image: url('cp_btn14.png'); }
.CP_cmtins li { margin: 0pt 5px 0pt 0pt; }
.CP_a_btnico { position: relative; }
.CP_a_btn:link, .CP_a_btn:visited, .CP_a_btn:active { padding: 5px 0pt 4px 3px; overflow: hidden; background-position: 0pt 0px; background-repeat: no-repeat; font-family: "宋体" ! important; font-size: 12px ! important; text-decoration: none; white-space: nowrap; }
.CP_a_btn14:link, .CP_a_btn14:visited, .CP_a_btn14:active { padding: 4px 0pt 6px 3px; font-size: 14px ! important; }
.CP_i, .CP_ib, .CP_im { background-position: center center; background-repeat: no-repeat; }
.CP_i { height: 15px; width: 15px; }
.CP_i_ins_smi { background-image: url('cp_i_ins_smi.gif'); }
.CP_a_btn img { left: 10px; position: absolute; top: 3px; }
.CP_a_btn14 img { top: 6px; }
.smlbut { background-image: url('smlbut.gif'); text-decoration: none; width: 73px; height: 23px; font-size: 14px; display: block; padding-left: 28px; padding-top: 2px; margin-bottom: 0px; }
.articleHot { margin-left: 10px; color: rgb(187, 2, 0); }
.sinaTop .hot { margin-left: 22px; color: rgb(192, 52, 3); }
.sinaPlan { margin: 0px 0px 9px; padding: 10px 10px 7px; height: 114px; width: 640px; }
.sinaPlan .hot { color: rgb(192, 0, 6); }
.sinaPlan .title { font-weight: 600; }
.sinaPlan .advertise { margin: 0px 8px 5px 0px; overflow: hidden; width: 640px; height: 90px; float: left; }
.sinaPlan .manage { float: right; }
#themeDiy { padding: 10px 16px 0px 8px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(85, 85, 85); font-size: 12px; }
#themeDiy a { color: rgb(85, 85, 85); text-decoration: none; outline-style: none; }
#themeDiy .maintitle { border-bottom: 1px solid rgb(204, 204, 204); height: 25px; position: relative; }
#themeDiy .maintitle div { line-height: 25px; text-align: center; position: absolute; height: 26px; }
#themeDiy .maintitle .tag4 { background: transparent url('tag4.gif') repeat scroll 0% 0%; width: 75px; left: 6px; }
#themeDiy .maintitle .tag4_s { background: transparent url('tag4_select.gif') repeat scroll 0% 0%; width: 75px; left: 6px; font-weight: 600; }
#themeDiy .maintitle .tag5 { background: transparent url('tag5.gif') repeat scroll 0% 0%; width: 86px; left: 81px; }
#themeDiy .maintitle .tag5_s { background: transparent url('tag5_select.gif') repeat scroll 0% 0%; width: 86px; left: 81px; font-weight: 600; }
#themeDiy .theme .title { position: relative; }
#themeDiy .theme .title .sanjiao { background: rgb(0, 0, 0) none repeat scroll 0% 0%; position: absolute; height: 4px; right: 8px; top: 10px; width: 10px; }
#themeDiy .theme .title .sanjiao { background: transparent url('sanjiao_s.gif') no-repeat scroll 0% 0%; }
#themeDiy .theme .diyselect .sanjiao { background: transparent url('sanjiao_x.gif') no-repeat scroll 0% 0%; }
#themeDiy .theme .title a { margin: 0px; background: transparent url('contentclose.gif') repeat scroll 0% 0%; padding-left: 15px; height: 24px; line-height: 24px; display: block; text-decoration: none; }
#themeDiy .theme .title a:hover { background: transparent url('titleover.gif') repeat scroll 0% 0%; }
#themeDiy .theme .diyselect a { background: transparent url('contentopen.gif') repeat scroll 0% 0%; font-weight: 600; }
#themeDiy .theme .diyselect a:hover { background: transparent url('contentopen.gif') repeat scroll 0% 0%; }
#themeDiy .info { margin: 8px 0px 6px 13px; height: 20px; }
#themeDiy .content { padding: 3px 0px 3px 6px; display: none; }
#themeDiy .content br { clear: both; }
.content .item { margin: 3px 6px; overflow: hidden; float: left; position: relative; width: 58px; height: 58px; display: inline; }
.content .item a { border: 2px solid rgb(255, 255, 255); padding: 2px; width: 50px; height: 50px; display: block; }
.content .borderRed a { border-color: rgb(255, 0, 0); }
.content .item a:hover { border: 2px solid rgb(81, 189, 47); }
.content .item img { border: medium none ; width: 50px; height: 50px; }
.content .item #selectImg, .content .item #ModifyBannerImg, .content .item #ModifyBgImg, .item #popSelectImg { width: 20px; height: 20px; position: absolute; right: 0px; bottom: 0px; }
#modify_banner .content, #modify_bg .content { padding: 10px 2px; }
#modifyTheme {  }
#modifyTheme #user_banner, #modifyTheme #user_bg { margin-left: 48px; }
#modifyTheme .content .item { width: 150px; height: 74px; margin-left: 30px; display: inline; }
#modifyTheme .content .item a { border: 1px solid rgb(199, 199, 199); padding: 0px; width: 148px; height: 72px; display: block; line-height: 72px; text-align: center; }
#modifyTheme .content .item a img { width: 148px; height: 72px; }
#modifyTheme .content .upload { margin: 15px 10px 10px; clear: both; display: none; }
#modifyTheme .content .upload .info { margin: 0px; }
.upload .fileUpload { border: medium none ; margin-left: 20px; height: 25px; opacity: 0; outline-style: none; position: absolute; width: 10px; }
.upload .textUpload { border: 1px solid rgb(193, 193, 187); padding: 0px 2px; color: rgb(132, 132, 132); height: 19px; position: relative; width: 190px; z-index: 100; }
.upload_but { margin-left: 5px ! important; }
#themeDiy .buttons { padding: 20px 10px; text-align: center; clear: both; }
#themeDiy .buttons input { margin: 0px 10px; }
.upload_operate {  }
.upload_operate a { text-decoration: underline; }
.upload_operate .title { font-weight: 600; margin-bottom: 8px; }
.upload_operate div { margin: 5px 0px; }
.upload_operate select { margin: 0px 20px 0px 3px; width: 40px; }
#banner_repeat, #bg_repeat { width: 68px; }
.uploadForm { display: none; }
.uploadForm #info { margin-top: 28px; height: 32px; }
.uploadForm label { height: 22px; }
#banner_height { width: 35px; }
#bannerLoading { display: none; }
.uploadMessage { margin: 10px 0px; padding: 3px 0px; background: rgb(255, 253, 205) none repeat scroll 0% 0%; font-weight: 600; text-align: center; line-height: 22px; min-height: 24px; display: none; }
* html .uploadMessage { height: 24px; }
.uploadMessage b { color: rgb(192, 52, 3); }
.reupload { cursor: pointer; text-decoration: underline; }
#banner_upload_operate, #bg_upload_operate { height: 120px; }
.form_div { line-height: 25px; height: 25px; }
#bg_cancel_upload, #banner_cancel_upload { display: none; text-align: center; }
.loading_gray { background: transparent url('img_progress_bar.gif') no-repeat scroll 0% 0%; height: 12px; width: 274px; float: left; margin-top: 6px; }
.loading_light { background: transparent url('img_progress_bar.gif') repeat scroll 0px 12px; height: 12px; width: 1%; }
#loading_but { float: left; margin-left: 20px; }
#changelayout { padding: 12px 6px 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#changelayout br { clear: both; }
.layout { width: 176px; height: 195px; float: left; position: relative; font-size: 12px; color: rgb(85, 85, 85); text-align: center; margin-right: 10px; cursor: pointer; }
.layout3l { background: transparent url('layout3l.gif') no-repeat scroll 0% 0%; }
.layout2l { background: transparent url('layout2l.gif') no-repeat scroll 0% 0%; }
.layout3l_select { background: transparent url('layout3l_s.gif') no-repeat scroll 0% 0%; cursor: auto; }
.layout2l_select { background: transparent url('layout2l_s.gif') no-repeat scroll 0% 0%; cursor: auto; }
.layout div { border: 1px solid rgb(224, 224, 224); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.layout p { margin: 0px; padding: 10px 2px 0px 0px; clear: both; }
.layout .top { height: 26px; line-height: 26px; margin-bottom: 2px; margin-right: 2px; }
.layout .content { border: 1px solid rgb(224, 224, 224); height: 120px; float: left; margin-right: 2px; line-height: 120px; }
.layout .w1 { width: 30px; }
.layout .w2 { width: 80px; }
.layout .w3 { width: 114px; }
#changelayout .buttons { padding: 10px; text-align: center; clear: both; }
#changelayout .buttons input { margin-right: 10px; }
#bannerUploadForm {  }
.loginForm { padding: 0pt 0pt 15px; background: rgb(255, 253, 244) none repeat scroll 0% 0%; text-align: left; }
.loginTitle { padding: 7px 0pt 0pt 9px; color: rgb(51, 51, 51); font-size: 12px; font-weight: bold; }
.errorMsg { padding: 0pt 0pt 0pt 108px; display: none; color: rgb(193, 52, 6); font-size: 12px; font-weight: bold; }
.inputs { padding: 3px 0pt 3px 40px; color: rgb(51, 51, 51); font-size: 12px; }
.inputs input { border: 1px solid rgb(193, 194, 188); width: 143px; height: 15px; }
.inputs a { color: rgb(0, 51, 153); font-size: 12px; text-decoration: underline; margin-left: 7px; }
#ckimg {  }
#login_remember { margin: 0px; }
#checkImg { margin-left: 5px; }
#listenImg { margin-left: 4px; }
.ckimg { margin: 0px; padding: 0pt; }
.ckimg input { border: 1px solid rgb(193, 194, 188); width: 87px; }
.cksound {  }
.relogin { padding: 0pt 0pt 0pt 84px; color: rgb(85, 85, 85); }
.login_bt { padding: 10px 0pt 0pt 88px; }
.login_bt input { border: medium none ; }
.login_help { padding: 0pt 0pt 0pt 107px; }
.login_help a { color: rgb(37, 107, 176); }
.rigest { border-top: 1px solid rgb(238, 238, 238); margin: 14px 0pt 0pt 32px; padding: 14px 0pt 0pt; color: rgb(171, 171, 171); font-size: 14px; font-weight: bold; width: 230px; }
.rigest a { font-size: 14px; font-weight: bold; color: rgb(64, 119, 0); }
#operationModule { border: 1px solid rgb(25, 112, 159); padding: 10px; position: absolute; display: none; }
#operationModule_opacity { border: 1px solid rgb(25, 112, 159); padding: 10px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; position: absolute; opacity: 0.5; display: none; }
#operationModule #m_message { height: 30px; line-height: 30px; color: rgb(85, 85, 85); }
#operationModule #m_message b { color: rgb(255, 0, 0); }
#operationModule #m_message span { color: rgb(192, 52, 3); font-weight: 600; }
#operationModule #m_title { width: 170px; }
.operation input { margin-right: 3px; vertical-align: middle; }
#otherSetDiv { padding: 10px 14px 10px 8px; }
#otherSetDiv .maintitle { border-bottom: 1px solid rgb(204, 204, 204); height: 25px; position: relative; }
#otherSetDiv .maintitle a { text-decoration: none; color: rgb(85, 85, 85); }
#otherSetDiv .maintitle div { line-height: 25px; text-align: center; position: absolute; height: 26px; }
#otherSetDiv .maintitle div span { cursor: pointer; color: rgb(85, 85, 85); }
#commentSwitch { width: 99px; left: 6px; }
#blogSizeSwitch { width: 99px; left: 105px; }
#smsSwitch { width: 74px; left: 204px; }
#relativeSwitch { width: 74px; left: 279px; }
#otherSetDiv .maintitle .tag4 { background: transparent url('tag4.gif') no-repeat scroll 0% 0%; }
#otherSetDiv .maintitle .tag4_s { background: transparent url('tag4_select.gif') no-repeat scroll 0% 0%; font-weight: 600; }
#otherSetDiv .maintitle .tag6 { background: transparent url('tag6.gif') no-repeat scroll 0% 0%; }
#otherSetDiv .maintitle .tag6_s { background: transparent url('tag6_select.gif') no-repeat scroll 0% 0%; font-weight: 600; }
#otherSetMainContent { padding: 10px; text-align: center; }
#otherSetMainContent p { margin: 8px; }
#otherSetMainContent label { color: rgb(52, 52, 52); }
.processTipBorder { position: absolute; right: 2px; }
.processTip { border: 1px solid rgb(102, 102, 102); padding: 2px 13px 2px 9px; background: rgb(255, 255, 241) none repeat scroll 0% 0%; color: rgb(7, 67, 135); font-size: 12px; }
.processTip img { margin-right: 6px; }
.compMana { background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 610px; font-size: 12px; }
.compPreview { border: 1px solid rgb(192, 194, 209); margin: 17px 8px 0px 15px; padding: 9px; float: left; }
.compPreview #introText { color: rgb(84, 84, 84); line-height: 20px; padding-top: 1px; width: 180px; }
.compList { margin: 4px 0px -8px; float: right; text-align: left; width: 372px; }
.compMana .title { margin: 11px 0pt; height: 20px; }
.compMana .title span { font-weight: bold; color: rgb(85, 85, 85); }
.compMana .title span.links { color: rgb(65, 120, 1); font-weight: normal; }
.compMana .title span.links a { color: rgb(65, 120, 1); font-weight: normal; text-decoration: underline; }
.compMana .title span.links a:hover { color: rgb(65, 120, 1); font-weight: normal; text-decoration: underline; }
.compMana .content { margin-bottom: 23px; }
.compMana .content div { color: rgb(85, 85, 85); }
.compMana .content div input { margin-top: 0px; margin-bottom: 1px; float: left; }
.compMana .content .each { margin: 10px 0px 15px; height: 18px; }
.compManaBtn { padding: 0px; margin-left: 257px; margin-top: 0px; }
.compManaBtn .save { margin-right: 17px; cursor: pointer; }
.compManaBtn .cancel { border: medium none ; width: 51px; height: 21px; cursor: pointer; }
.diyComps { display: block; height: 19px; }
.diyComps .selectSpan { overflow: hidden; display: block; float: left; width: 120px; height: 19px; }
.selectSpan label { overflow: hidden; width: auto; font-family: "宋体"; cursor: pointer; float: left; height: 19px; line-height: 19px; text-align: left; margin-right: 17px; margin-top: -2px ! important; }
.diyComps label { overflow: hidden; margin-right: 0px; width: 100px; }
.passCard { position: absolute; width: 400px; height: 400px; top: 110px; left: 110px; z-index: 1000; }
.passCard .ct_content, .passCard .ct_shadow, .passCard .ct_mask, .passCard .ct_arrow { position: absolute; top: 0px; left: 0px; display: block; width: 100%; height: 100%; }
.passCard .ct_content { border: 1px solid rgb(153, 153, 153); background: rgb(255, 253, 244) none repeat scroll 0% 0%; overflow: hidden; z-index: 1005; }
.passCard .ct_shadow { background: rgb(0, 0, 0) none repeat scroll 0% 0%; left: 5px; top: 5px; opacity: 0.1; z-index: 1002; }
.passCard .ct_mask { left: 0px; top: -5px; opacity: 0; }
.passCard .ct_arrow { background: transparent url('top_icon.gif') no-repeat scroll 0% 0%; top: -5px; width: 11px; height: 7px; z-index: 1100; }
.passCard .left { left: 10px; right: auto; }
.passCard .right { left: auto; right: 10px; }
.passCard .close_b { background: transparent url('sign_close_b.gif') no-repeat scroll center center; display: block; height: 11px; position: absolute; right: 7px ! important; top: 9px ! important; width: 11px; z-index: 1100; }
.rightMenu span.dplist { display: none; }
.rightMenu span.hasdp { position: relative; z-index: 999; }
.rightMenu span.hasdp .dplist { border: 1px solid rgb(204, 204, 204); padding: 2px 4px 1px; z-index: 999; position: absolute; top: -4px; left: -9px; width: 57px; background-color: rgb(255, 255, 255); display: block; }
.rightMenu span.hasdp .dplist ol { margin: 0pt; padding: 0pt; overflow: hidden; width: 100%; }
.rightMenu span.hasdp .dplist li { border-top: 1px solid rgb(204, 204, 204); margin: -1px 0pt 0pt; padding: 1px 0pt 2px; position: static; height: auto; line-height: normal; float: none; width: 100%; }
.rightMenu span.hasdp .dplist a { margin: 0pt; background: rgb(255, 255, 255) url('bg_arrows.gif') no-repeat scroll 45px 4px; overflow: hidden; font-family: "宋体"; width: 100%; display: block; line-height: 17px; text-indent: 4px; text-align: left; }
.rightMenu span.hasdp .dplist a:hover { background-color: rgb(76, 112, 183); background-position: 45px -46px; color: rgb(255, 255, 255); }
.ct_layer { height: 100px; }
.ct_layer * { font-size: 12px; font-family: Verdana,"宋体",sans-serif; list-style-type: none; list-style-image: none; list-style-position: outside; }
.ct_layer dt, .ct_layer dd, .ct_layer td, .ct_layer th, .ct_layer li, .ct_layer a, .ct_layer span { line-height: 23px; }
.ct_layer .close_b { position: relative; float: right; top: -5px; display: block; width: 11px; height: 11px; z-index: 1000; }
.ct_main { z-index: 3; width: 100%; height: 100%; position: relative; background-color: rgb(255, 253, 244); float: left; padding-bottom: 10px; }
.ct_main .ct_cnt { margin: 8px 0pt 0pt 18px; }
.ct_main .ct_cnt dt { font-weight: bold; position: relative; }
.ct_main .ct_cnt dt .norm { font-weight: normal; }
.ct_main .ct_cnt dt .absright { position: absolute; right: 26px; top: 4px; line-height: normal; }
.ct_main .ct_cnt dd { margin: 0pt; }
.ct_main .ct_logon { margin: 5px 0pt 0pt 10px; }
.ct_main .ct_mcube { margin: 16px 0pt 0pt 18px; }
.ct_main .ct_mcube dt { font-size: 14px; color: rgb(204, 0, 0); font-weight: normal; }
.ct_mcube .ct_mcube_area { margin: 12px 55px 12px 1.5em; height: 101px; position: relative; }
.ct_mcube .ct_mcube_sign { background: transparent url('sign_mcube.jpg') no-repeat scroll 0pt 0pt; width: 156px; height: 104px; display: block; position: absolute; left: 0pt; top: 0pt; }
.ct_mcube .ct_mcube_btns { margin: 5px 0pt; float: right; width: 130px; }
.ct_mcube .ct_mcube_down, .ct_mcube .ct_mcube_more { margin: 0pt 0pt 3px; background: transparent url('btn_mcube_down.gif') no-repeat scroll 0pt 0pt; overflow: hidden; width: 129px; height: 35px; display: block; text-indent: -1000em; }
.ct_mcube .ct_mcube_more { background-image: url('btn_mcube_more.gif'); }
.ct_tbl { margin: 0pt; padding: 0pt; }
.ct_tbl3 {  }
.ct_tbl .ct_msg3 { margin: 4px 0pt; color: rgb(102, 102, 102); line-height: 1em; }
#mySina_Host { background: rgb(255, 255, 255) none repeat scroll 0% 0%; overflow: hidden; width: 400px; height: 170px; color: rgb(85, 85, 85); line-height: 1.5; }
#mySina_Host .mytable { margin: 20px 22px 0px; width: 382px; height: 150px; }
#mySina_Host .defaultTip { width: 382px; height: 36px; text-indent: 24px; }
#mySina_Host .alertTip { background: rgb(255, 254, 205) none repeat scroll 0% 0%; width: 382px; height: 36px; font-weight: bold; text-align: center; color: rgb(192, 52, 0); }
#mySina_Host .confirmTip { width: 382px; height: 80px; text-align: center; }
#mySina_Host .inputarea { border: 1px solid rgb(193, 193, 187); padding: 3px 0px 0px; width: 154px; height: 21px; }
#mySina_Host .buttoncls { border: 0px none ; background: transparent url('apply.gif') no-repeat scroll 0% 0%; width: 51px; height: 21px; }
#mySina_Host .split { margin-right: 40px; }
#mySina_Host .succTip { width: 382px; height: 36px; vertical-align: bottom; text-align: center; }
#mySina_Host .succUhost { height: 70px; vertical-align: top; text-align: center; }
#mySina_Host .myUhostMain { height: 70px; }
#mySina_Host .buttons { text-align: center; }
.donate { width: 192px; height: 211px; line-height: 22px; }
.donate h4 { margin: 0px; }
.donate_yes { background: transparent url('donateyes.gif') no-repeat scroll 0% 0%; }
.donate_no { background: transparent url('donateno.gif') no-repeat scroll 0% 0%; }
.donate .donate_num { padding-top: 70px; font-size: 12px; text-align: center; }
.donate .donate_num span { color: rgb(255, 0, 0); }
.donate .donate_but { text-align: center; padding-top: 50px; }
.book { width: 190px; height: 40px; text-align: center; padding-top: 160px; }
.book a img { border: medium none ; }
.book_no { background: transparent url('book_no.gif') repeat scroll 0% 0%; }
.book_yes { background: transparent url('book_yes.gif') repeat scroll 0% 0%; }
.book_yes_nagetebiederen { background: transparent url('shuangseqiu.gif') repeat scroll 0% 0%; }
.regSuccChoiceTheme {  }
.regSuccChoiceTheme .Choice { margin-bottom: -8px; }
.regSuccChoiceTheme .previewCnt { padding: 20px 0px 0px 4px; background: transparent url('reg_theme_loveview.gif') no-repeat scroll 0% 0%; width: 406px; height: 162px; }
.regSuccChoiceTheme .preview { border: 0px solid rgb(255, 0, 0); width: 396px; height: 110px; cursor: pointer; margin-bottom: 4px; }
.olympic_tree { background: transparent url('tree.png') no-repeat scroll 0px 2px; padding-left: 16px; }
.floatLeft { float: left; }
.floatRight { float: right; }
.clear { clear: both; }
.saftyTop, .saftyBottom { margin: 0pt auto; width: 770px; }
.saftyContent { margin: 0pt auto; padding: 0px 12px; background: transparent url('content.gif') repeat-y scroll 0% 0%; width: 746px; }
.saftyBottom { background: transparent url('bottom.gif') no-repeat scroll 0% 0%; height: 30px; }
.saftyComponent740 { width: 742px; }
.saftyComponent520 { width: 520px; }
.saftyComponent220 { width: 220px; }
.saftyComponentTop { height: 27px; line-height: 27px; font-size: 14px; font-weight: 600; }
.saftyComponentTop span { margin-left: 20px; }
.saftyComponent220 .saftyComponentTop { background: transparent url('componenttop220.gif') repeat scroll 0% 0%; }
.saftyComponent220 .saftyComponentContent { padding: 20px 5px 0px; background: transparent url('componentcontent220.gif') repeat scroll 0% 0%; }
.saftyComponent220 .saftyComponentBottom { background: transparent url('componentbottom220.gif') repeat scroll 0% 0%; height: 18px; }
.saftyComponent520 .saftyComponentTop { background: transparent url('componenttop520.gif') repeat scroll 0% 0%; }
.saftyComponent520 .saftyComponentContent { background: transparent url('componentcontent520.gif') repeat scroll 0% 0%; }
.saftyComponent520 .saftyComponentBottom { background: transparent url('componentbottom520.gif') repeat scroll 0% 0%; height: 20px; }
.saftyComponent520 .saftyComponentContent dl { margin: 0px; padding: 20px 30px; font-size: 14px; line-height: 22px; }
.saftyComponent520 .saftyComponentContent dd { margin: 0px; }
.saftyComponent520 .saftyComponentContent dt { text-indent: 28px; }
.saftyComponent740 { margin-bottom: 10px; }
.saftyComponent740 .saftyComponentTop { background: transparent url('componenttop740.gif') repeat scroll 0% 0%; }
.saftyComponent740 .saftyComponentContent { padding: 10px 0px 0px 20px; background: transparent url('componentcontent740.gif') repeat scroll 0% 0%; overflow: auto; }
.saftyComponent740 .saftyComponentBottom { background: transparent url('componentbottom740.gif') repeat scroll 0% 0%; height: 15px; }
.square { border: 1px solid rgb(179, 220, 238); padding: 3px 3px 10px; background: rgb(244, 249, 254) none repeat scroll 0% 0%; }
.square_button { margin: 0pt auto; background: transparent url('square_button.gif') repeat scroll 0% 0%; width: 201px; height: 25px; line-height: 25px; color: rgb(0, 102, 153); text-align: center; font-weight: 600; }
.square_text { margin: 10px 0px 10px 5px; }
.saftyComponentContent .down { background: transparent url('down.gif') no-repeat scroll center center; height: 25px; }
.safty_but { margin: 30px 0px 0px 140px; }
.module1List { overflow: hidden; float: left; width: 120px; margin-right: 24px; line-height: 22px; white-space: pre; }
.module1List * { vertical-align: middle; }
.article_List { line-height: 25px; }
.article_List * { vertical-align: middle; }
.article_time { margin: 0px 15px; }
.article_List a { color: rgb(51, 51, 51); text-decoration: none; }
.saftyButs { text-align: center; margin-top: 20px; color: rgb(153, 153, 153); font-size: 16px; }
.safty_info { margin: 20px 0px 40px; }
.saftyMessage { margin: 0px; padding: 20px 30px; line-height: 24px; font-size: 14px; }
.saftyMessage dd { margin: 0px; text-indent: 28px; }
#preview_but { border: 0px none ; background: transparent url('preview_but.gif') no-repeat scroll 0% 0%; width: 117px; height: 25px; }
.page { text-align: -moz-right ! important; line-height: 18px; font-family: Verdana; margin-top: 25px; padding-top: 6px; }
.paging-line.style-default { font-family: "Seguo UI","Arial","Tahoma","Verdana"; font-style: normal; font-variant: normal; font-weight: normal; font-size: 11px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
.paging-line.style-default span { margin: 0pt 2px; height: 21px; line-height: 21px; }
.paging-line.style-default.label, .paging-line.style-default.link, .paging-line.style-default.current { margin: 0pt 2px; padding: 3px 5px 2px; text-decoration: none; }
.paging-line.style-default.current { border: medium none  ! important; background: transparent none repeat scroll 0% 0%; font-weight: bold; }
.paging-line.style-default.label { display: none; }
.paging-line.style-default.prv { margin: 0px 10px 2px 0px; width: 62px; height: 21px; float: right; display: block; }
.paging-line.style-default.next { margin: 0px 0px 2px 10px; width: 62px; height: 21px; float: right; display: block; }
.paging-line.style-default.label, .paging-line.style-default.link, .paging-line.style-default.current { border: 1px solid rgb(204, 204, 204); color: rgb(100, 110, 124); background-color: rgb(255, 255, 255); }
.paging-line.style-default.current { color: rgb(118, 118, 118); background-color: rgb(255, 255, 255); }
.paging-line.style-default.prv { background: transparent url('prv_1.gif') repeat scroll 0% 0%; }
.paging-line.style-default.prv:hover { background: transparent url('prv_1_over.gif') repeat scroll 0% 0%; }
.paging-line.style-default.next { background: transparent url('next_1.gif') repeat scroll 0% 0%; }
.paging-line.style-default.next:hover { background: transparent url('next_1_over.gif') repeat scroll 0% 0%; }
.Dialog .base { border: 0pt none ; margin: 0pt; padding: 0pt; background: transparent none repeat scroll 0% 0%; overflow: hidden; position: absolute; font-family: Arial,Verdana; font-size: 12px; color: rgb(0, 0, 0); text-decoration: none; font-weight: normal; width: auto; height: auto; display: block; }
.Dialog { position: absolute; left: 0pt; top: 0pt; }
.Dialog .shadow { position: absolute; left: 0pt; top: 0pt; width: 0pt; height: 0pt; }
.Dialog .shadow iframe, .Dialog .shadow div { width: 100%; height: 100%; opacity: 0; left: 0pt; top: 0pt; }
.Dialog .shadow.disabled div { background: rgb(136, 136, 136) none repeat scroll 0% 0%; opacity: 0.5; }
.Dialog .shadow.hidden { display: none; }
.Dialog .window { position: absolute; width: 300px; height: 300px; left: 0pt; top: 0pt; }
.Dialog .dialogwrapper { position: static; }
.Dialog .mceEventBlocker { background: transparent url('horizontal.gif') no-repeat scroll 0pt -700px; display: none; position: absolute; left: 0pt; top: 0pt; width: 100%; height: 100%; }
.Dialog .placeholder { border: 1px solid rgb(0, 0, 0); background: rgb(136, 136, 136) none repeat scroll 0% 0%; cursor: move; top: 0pt; left: 0pt; opacity: 0.5; }
.Dialog .top { left: 0pt; }
.Dialog .top, .Dialog .top div { top: 0pt; width: 100%; height: 28px; }
.Dialog .top .left { background: transparent url('corners.gif') repeat scroll 0% 0%; left: 0pt; width: 6px; }
.Dialog .top .center { background: transparent url('horizontal.gif') repeat scroll 12px 0pt; right: 6px; width: 100%; height: 28px; clip: rect(auto, auto, auto, 12px); }
.Dialog .top .right { background: transparent url('corners_001.gif') repeat scroll -12px 0pt; right: 0pt; width: 6px; height: 28px; }
.Dialog .top span { margin: 1px 0px 0px 10px; left: 0pt; width: 100%; text-align: left; vertical-align: middle; line-height: 28px; font-weight: bold; color: rgb(51, 51, 51); }
.Dialog .focus .top .left { background: transparent url('corners_001.gif') repeat scroll -6px 0pt; }
.Dialog .focus .top .center { background: transparent url('horizontal.gif') repeat scroll 0pt -28px; }
.Dialog .focus .top .right { background: transparent url('corners_001.gif') repeat scroll -18px 0pt; }
.Dialog .focus .top span {  }
.Dialog .middle { left: 0pt; }
.Dialog .middle, .Dialog .middle .left, .Dialog .middle .right { top: 0pt; }
.Dialog .middle { width: 100%; height: 100%; clip: rect(28px, auto, auto, auto); background-color: rgb(255, 255, 255); }
.Dialog .middle .left { background: transparent url('vertical.gif') repeat scroll -2px 0pt; left: 0pt; width: 2px; height: 100%; }
.Dialog .middle .center { background: transparent none no-repeat scroll center center; top: 25px; left: 3px; width: 100%; height: 100%; text-align: left; }
.Dialog .middle .right { background: transparent url('vertical.gif') repeat scroll 0% 0%; right: 0pt; width: 2px; height: 100%; }
.Dialog .bottom { left: 0pt; bottom: 0pt; width: 100%; }
.Dialog .bottom, .Dialog .bottom div { height: 2px; }
.Dialog .bottom div { top: 0pt; }
.Dialog .bottom .left { background: transparent url('corners_001.gif') repeat scroll -34px -2px; left: 0pt; width: 2px; }
.Dialog .bottom .center { background: transparent url('horizontal.gif') repeat scroll 0pt -56px; left: 2px; width: 100%; }
.Dialog .bottom .right { background: transparent url('corners_001.gif') repeat scroll -34px 0pt; right: 0pt; width: 2px; }
.Dialog .bottom span { display: none; }
.Dialog .statusbar .bottom, .Dialog .statusbar .bottom div { height: 28px; }
.Dialog .statusbar .bottom .left { background: transparent url('corners_001.gif') repeat scroll -29px 0pt; }
.Dialog .statusbar .bottom .center { background: transparent url('horizontal.gif') repeat scroll 0pt -58px; }
.Dialog .statusbar .bottom .right { background: transparent url('corners_001.gif') repeat scroll -27px 0pt; }
.Dialog .statusbar .bottom span { display: block; left: 7px; font-family: Arial,Verdana; font-size: 11px; line-height: 23px; }
.Dialog .baselink { width: 14px; height: 14px; top: 8px; }
.Dialog .baselink.close { background: transparent url('buttons.gif') repeat scroll -42px 0pt; right: 9px; }
.Dialog .baselink.help { display: none; right: 30px; width: 40px; color: rgb(51, 51, 51); }
.Dialog .baselink.min { background: transparent url('buttons.gif') repeat scroll 0pt 0pt; display: none; right: 38px; }
.Dialog .baselink.med { background: transparent url('buttons.gif') repeat scroll -14px 0pt; display: none; right: 22px; }
.Dialog .baselink.max { background: transparent url('buttons.gif') repeat scroll -27px 0pt; display: none; right: 22px; }
.Dialog .baselink.move { background: transparent url('corners_001.gif') no-repeat scroll -100px -100px; display: none; left: 0pt; width: 100%; cursor: move; }
.Dialog .movable .baselink.move { display: block; }
.Dialog .focus .baselink.close { background: transparent url('buttons.gif') repeat scroll -42px -14px; right: 9px; }
.Dialog .focus .baselink.min { background: transparent url('buttons.gif') repeat scroll 0pt -14px; right: 38px; }
.Dialog .focus .baselink.med { background: transparent url('buttons.gif') repeat scroll -14px -14px; right: 22px; }
.Dialog .focus .baselink.max { background: transparent url('buttons.gif') repeat scroll -27px -14px; right: 22px; }
.Dialog .focus .baselink.close:hover { background: transparent url('buttons.gif') repeat scroll -42px -28px; right: 9px; }
.Dialog .focus .baselink.min:hover { background: transparent url('buttons.gif') repeat scroll 0pt -28px; right: 38px; }
.Dialog .focus .baselink.med:hover { background: transparent url('buttons.gif') repeat scroll -14px -28px; right: 22px; }
.Dialog .focus .baselink.max:hover { background: transparent url('buttons.gif') repeat scroll -27px -28px; right: 22px; }
.Dialog .resize { background: transparent url('horizontal.gif') no-repeat scroll 0pt -75px; top: auto; left: auto; display: none; width: 5px; height: 5px; }
.Dialog .resizable .resize { display: block; }
.Dialog .resizable .min, .Dialog .max { display: none; }
.Dialog .minimizable .min { display: block; }
.Dialog .maximizable .max { display: block; }
.Dialog .maximized .med { display: block; }
.Dialog .maximized .max { display: none; }
.Dialog a.resize-n { top: 0pt; left: 0pt; width: 100%; cursor: n-resize; }
.Dialog a.resize-nw { top: 0pt; left: 0pt; cursor: nw-resize; }
.Dialog a.resize-ne { top: 0pt; right: 0pt; cursor: ne-resize; }
.Dialog a.resize-w { top: 0pt; left: 0pt; height: 100%; cursor: w-resize; }
.Dialog a.resize-e { top: 0pt; right: 0pt; height: 100%; cursor: e-resize; }
.Dialog a.resize-s { bottom: 0pt; left: 0pt; width: 100%; cursor: s-resize; }
.Dialog a.resize-sw { bottom: 0pt; left: 0pt; cursor: sw-resize; }
.Dialog a.resize-se { bottom: 0pt; right: 0pt; cursor: se-resize; }
.windowDialogContent { background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 100%; }
.windowDialogContent .windowDialogIcon { width: 83px; height: 65px; vertical-align: top; }
.windowDialogContent .hidden { display: none; }
.windowDialogContent .windowDialogIcon img { margin: 40px 20px 0px 30px; }
.windowDialogContent .msg { padding: 0px; }
.windowDialogContent .center { text-align: center; }
.windowDialogContent .mydialogContent { margin: 35px 30px 0px 0px; font-size: 14px; line-height: 150%; }
.windowDialogContent .mydialogContent .note { font-size: 12px; color: rgb(153, 153, 153); }
.windowDialogContent .textIndent { padding: 0px 0px 0px 30px; }
.windowDialogContent #OK_button { padding: 0px 20px; }
.windowDialogContent #Cancel_button { padding: 0px 20px; }
.windowDialogContent .windialogbutton { padding: 30px 0px 20px; text-align: center; vertical-align: middle; }
.windowDialogContent .btnCss_pad { margin: 0px 20px 0px 0px; }
.windowDialogContent .btnCss_1 { padding: 0px 10px; }

/* ::::: http://blogimg.sinajs.cn/v5/css/1_2/t.css?37.css ::::: */

body { background: rgb(250, 237, 214) url('bg.jpg') no-repeat scroll center 31px; }
.wrapper {  }
a { color: rgb(94, 72, 48); }
a:hover { color: rgb(94, 72, 48); }
.sinaBottom { background: transparent url('bottom.jpg') no-repeat scroll 0% 0%; }
.sinaBottom, .sinaBottom center a, .sinaBottom div a { color: rgb(85, 85, 85); }
.sinaBottom p a { color: rgb(6, 55, 121); }
.time { color: rgb(89, 89, 89); }
.bannerLayout { position: relative; height: 207px; }
.bannerLayout .bannerContent { left: 55px; top: 47%; }
.bannerLayout .bannerContent .blogUrl, .bannerContent .blogUrl a, .link, .bannerLayout .bannerContent, .bannerLayout .bannerContent .rss a { color: rgb(36, 116, 117); }
.menuLayout { background: transparent url('menu.gif') repeat scroll 0% 0%; height: 64px; }
.menuLayout .mainMenu { height: 33px; }
.menuLayout .mainMenu a { color: rgb(91, 76, 47); }
.menuLayout .mainMenu .username { color: rgb(58, 58, 58); }
.menuLayout .mainMenu .main, .menuLayout .mainMenu .main a { color: rgb(94, 72, 48); }
.menuLayout .mainMenu .main { background: transparent url('menu.gif') repeat scroll 0px -80px; width: 74px; height: 22px; }
.menuLayout .mainMenu .line { background: transparent url('menu.gif') repeat scroll 0px -131px; }
.menuSub { color: rgb(94, 72, 48); }
.menuSub a { color: rgb(94, 72, 48); }
.menuSub .space { color: rgb(94, 72, 48); }
.components210 .componentBar { background: transparent url('component.gif') repeat scroll 0% 0%; }
.components210 .componentContent { background: transparent url('component.gif') repeat scroll -780px 0px; }
.components210 .componentBottom { background: transparent url('component.gif') repeat scroll 0px -45px; }
.components510 .componentBar { background: transparent url('component.gif') repeat scroll 0px -67px; }
.components510 .componentContent { background: transparent url('component.gif') repeat scroll -1040px 0px; }
.components510 .componentBottom { background: transparent url('component.gif') repeat scroll 0px -112px; }
.components730 .componentBar { background: transparent url('component.gif') repeat scroll 0px -134px; }
.components730 .componentContent { background: transparent url('component.gif') repeat scroll -1600px 0px; }
.components730 .componentTop { background: transparent url('component.gif') repeat scroll 0px -180px; }
.components730 .componentBottom { background: transparent url('component.gif') repeat scroll 0px -179px; }
.componentBar, .componentBar .title, .componentBar a, .commentBar, .commentBar a { color: rgb(102, 95, 84); }
.componentBar { height: 25px; line-height: 25px; }
.componentBottom { height: 2px; }
.list div { background: transparent url('listdot_001.gif') no-repeat scroll 3px 10px; }
.componentContent .item li { background: transparent url('listdot_001.gif') no-repeat scroll 0px 10px; }
.componentContent .gray { color: rgb(88, 88, 88); }
#photo .jifen { border-style: solid solid none; border-color: rgb(211, 228, 238) rgb(211, 228, 238) -moz-use-text-color; border-width: 1px 1px 0px; color: rgb(188, 2, 3); }
#photo .end { border-bottom: 1px solid rgb(211, 228, 238); }
.list div p { color: rgb(128, 128, 128); }
.articleTitle a:visited, .articleItem a:visited { color: rgb(94, 72, 48); }
.prearticle .top { color: rgb(43, 43, 43); }
.articleTitle .manage { font-size: 12px; color: rgb(29, 55, 87); }
.prearticle .articleUtil .space { color: rgb(40, 88, 113); }
.prearticle .articleBottom { border-top: 1px dashed rgb(235, 235, 235); }
.articleUtil .sub { color: rgb(94, 72, 48); }
.prearticle .articleTag { color: rgb(89, 89, 89); }
.articleContent { color: rgb(42, 42, 42); }
.article .articleTitle { border-bottom: 1px dashed rgb(231, 232, 234); }
.article .articleTitle b { color: rgb(94, 72, 48); }
.articleFontSize a { text-decoration: underline; }
.articleInfo, .articleInfo a { color: rgb(134, 134, 134); }
.article .articleContext { border-top: 1px dashed rgb(229, 230, 232); color: rgb(88, 89, 91); }
.sinaPlan { border: 1px solid rgb(213, 214, 216); }
.comment .commentBar { background: transparent url('component.gif') repeat scroll 0px -201px; height: 25px; line-height: 25px; }
.comment .commentContent { color: rgb(42, 42, 42); }
.comment .commentContent .citem { border-top: 1px dashed rgb(230, 231, 233); }
.comment .citem .userInfo .photo { border: 1px solid rgb(222, 222, 222); }
.comment .sendComment { color: rgb(103, 103, 103); }
.comment .sendComment .info a { color: rgb(103, 103, 103); }
.comment .sendComment .info input { border: 1px solid rgb(205, 205, 205); }
.comment .sendComment .commentArea { border: 1px solid rgb(204, 204, 204); }
.componentBar .tabsplit { color: rgb(153, 153, 153); }
.componentContent .page { border-top: 1px dashed rgb(204, 204, 204); }
.componentContent .articlelist .listtype { border-bottom: 1px dashed rgb(204, 204, 204); }
.prearticle .admin a { color: rgb(43, 43, 43); }
﻿ .paging-line.style-default.label, .paging-line.style-default.link, .paging-line.style-default.current { border: 1px solid rgb(204, 204, 204); color: rgb(100, 110, 124); background-color: rgb(255, 255, 255); }
.paging-line.style-default.current { color: rgb(118, 118, 118); background-color: rgb(255, 255, 255); }
.paging-line.style-default.prv { background: transparent url('prv_1_001.gif') repeat scroll 0% 0%; }
.paging-line.style-default.prv:hover { background: transparent url('prv_1_over_001.gif') repeat scroll 0% 0%; }
.paging-line.style-default.next { background: transparent url('next_1_001.gif') repeat scroll 0% 0%; }
.paging-line.style-default.next:hover { background: transparent url('next_1_over_001.gif') repeat scroll 0% 0%; }

/* ::::: null ::::: */

.blog_bottle_msg { overflow: hidden; position: absolute; top: 0pt; left: 0pt; visibility: hidden; width: 260px; }
.blog_bottle_msg_iframe, .blog_bottle_msg_bg_top, .blog_bottle_msg_bg_middle, .blog_bottle_msg_bg_bottom, .blog_bottle_msg_content { position: absolute; top: 0pt; left: 0pt; width: 100%; height: 100%; display: block; }
.blog_bottle_msg_iframe { opacity: 0; }
.blog_bottle_msg_bg_middle { background: transparent url('dialog_bg.gif') no-repeat scroll -823px 0pt; }
.blog_bottle_msg_bg_bottom { background: transparent url('dialog_bg.gif') no-repeat scroll -1091px 0pt; height: 23px; bottom: 0pt; top: auto; }
.blog_bottle_msg_content { position: relative; color: rgb(204, 204, 204); }
.blog_bottle_msg_close { background: transparent url('dialog_bg.gif') no-repeat scroll -1089px -39px; position: absolute; right: 6px; top: 6px; width: 14px; height: 14px; cursor: pointer; }
.blog_bottle_reply_ok, .blog_bottle_send_ok { display: none; }
.blog_bottle_blank_dotted { height: 0pt; }
.blog_bottle_alpha { position: absolute; left: 0pt; top: 0pt; width: 100px; height: 100px; display: none; }
.blog_bottle_shadow { background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 100%; height: 100%; top: 0pt; left: 0pt; position: absolute; opacity: 0.8; }
.blog_bottle_load_label { position: absolute; left: 90px; }
.blog_bottle_msg_info_box { position: relative; margin-top: 30px; margin-left: 15px; }
.blog_bottle_msg_info_img { border: 1px solid rgb(203, 201, 202); background: rgb(255, 255, 255) none repeat scroll 0% 0%; display: block; width: 32px; }
.blog_bottle_msg_info_img img { margin: 1px; width: 30px; height: 30px; display: block; }
.blog_bottle_msg_info_nick { position: absolute; color: rgb(0, 0, 0); left: 45px; top: 2px; font-size: 12px; }
.blog_bottle_msg_info_nick a { color: rgb(201, 111, 39); }
.blog_bottle_msg_info_nick span { color: rgb(201, 111, 39); margin-right: 5px; font-weight: bold; }
.blog_bottle_msg_info_time { position: absolute; left: 45px; top: 22px; font-family: Arial; color: rgb(102, 102, 102); font-size: 10px; }
.blog_bottle_msg_content_box { overflow: hidden; position: relative; width: 228px; margin-left: 15px; margin-top: 8px; font-size: 12px; color: rgb(102, 102, 102); line-height: 1.5; }
.blog_bottle_msg_swf { background: rgb(204, 204, 204) none repeat scroll 0% 0%; width: 228px; height: 107px; margin-left: 15px; margin-top: 10px; }
.blog_bottle_msg_dotted, .blog_bottle_msg_dotted2 { border-bottom: 1px dashed rgb(204, 204, 204); width: 230px; height: 1px; margin-left: 15px; margin-top: 10px; margin-bottom: 10px; }
.blog_bottle_msg_reply_title, .blog_bottle_login_box, .blog_bottle_msg_box, .blog_bottle_check_box, .blog_bottle_ad_box { width: 230px; margin-left: 15px; font-size: 12px; color: rgb(102, 102, 102); }
.blog_bottle_ad_box { position: absolute; bottom: 10px; height: 16px; }
.blog_bottle_msg_reply_title { margin-top: 6px; font-weight: bold; }
.blog_bottle_login_box { margin: 4px auto; height: 22px; }
.blog_bottle_login_box input { border: 1px solid rgb(102, 102, 102); width: 70px; }
.blog_bottle_login_left { float: left; }
.blog_bottle_login_right { float: right; }
.blog_bottle_msg_box { border: 1px solid rgb(102, 102, 102); padding: 4px; margin-top: 4px; height: 92px; width: 222px; }
.blog_bottle_check_box { margin: 4px auto; height: 22px; color: rgb(102, 102, 102); }
.blog_bottle_check_box input { border: 1px solid rgb(102, 102, 102); width: 40px; }
.blog_bottle_check_box img { margin-left: 4px; }
.blog_bottle_btn_box { text-align: center; }
.blog_bottle_btn_box .blog_bottle_reply_btn, .blog_bottle_btn_box .blog_bottle_send_btn, .blog_bottle_btn_box .blog_bottle_cancel_btn, .blog_bottle_btn_box .blog_bottle_close_btn { margin-right: 10px; display: none; }
.blog_bottle_send_btn { border: 0pt none ; background: transparent url('dialog_bg.gif') no-repeat scroll -1233px -76px; width: 60px; height: 22px; cursor: pointer; }
.blog_bottle_reply_btn { border: 0pt none ; background: transparent url('dialog_bg.gif') no-repeat scroll -1091px -76px; width: 60px; height: 22px; cursor: pointer; }
.blog_bottle_cancel_btn { border: 0pt none ; background: transparent url('dialog_bg.gif') no-repeat scroll -1160px -76px; width: 60px; height: 22px; cursor: pointer; }
.blog_bottle_close_btn { border: 0pt none ; background: transparent url('dialog_bg.gif') no-repeat scroll -1305px -76px; width: 60px; height: 22px; cursor: pointer; }
.blog_bottle_ad_box .blog_bottle_add_msg { float: left; font-size: 14px; color: rgb(253, 122, 35); font-weight: bold; display: block; }
.blog_bottle_ad_box .blog_bottle_hot_msg { float: right; display: block; color: rgb(92, 144, 193); font-size: 12px; }
.blog_bottle_status_reply .blog_bottle_reply_btn, .blog_bottle_status_reply .blog_bottle_cancel_btn { display: inline; }
.blog_bottle_status_reply .blog_bottle_msg_content { margin-bottom: 34px; }
.blog_bottle_status_reply_mini .blog_bottle_msg_info_box, .blog_bottle_status_reply_mini .blog_bottle_msg_content_box, .blog_bottle_status_reply_mini .blog_bottle_msg_swf, .blog_bottle_status_reply_mini .blog_bottle_msg_dotted2 { display: none; }
.blog_bottle_status_reply_mini .blog_bottle_msg_bg_middle { background: transparent url('dialog_bg.gif') no-repeat scroll -554px 0pt; }
.blog_bottle_status_reply_mini .blog_bottle_msg_content { margin-bottom: 34px; }
.blog_bottle_status_reply_mini .blog_bottle_cancel_btn, .blog_bottle_status_reply_mini .blog_bottle_reply_btn { display: inline; }
.blog_bottle_status_reply_ok .blog_bottle_msg_bg_top { background: transparent url('dialog_bg.gif') no-repeat scroll -283px -508px; }
.blog_bottle_status_reply_ok .blog_bottle_msg_bg_middle { background: transparent url('dialog_bg.gif') no-repeat scroll -12px 0pt; }
.blog_bottle_status_reply_ok .blog_bottle_msg_info_box, .blog_bottle_status_reply_ok .blog_bottle_msg_content_box, .blog_bottle_status_reply_ok .blog_bottle_msg_swf, .blog_bottle_status_reply_ok .blog_bottle_msg_dotted2, .blog_bottle_status_reply_ok .blog_bottle_msg_reply_title, .blog_bottle_status_reply_ok .blog_bottle_login_box *, .blog_bottle_status_reply_ok .blog_bottle_msg_box, .blog_bottle_status_reply_ok .blog_bottle_check_box, .blog_bottle_status_reply_ok .blog_bottle_msg_dotted, .blog_bottle_status_reply_ok .blog_bottle_add_msg { display: none; }
.blog_bottle_status_reply_ok .blog_bottle_close_btn { display: inline; }
.blog_bottle_status_reply_ok .blog_bottle_btn_box { margin-bottom: 34px; margin-top: 220px; }
.blog_bottle_status_send_ok .blog_bottle_msg_bg_top {  }
.blog_bottle_status_send_ok .blog_bottle_msg_bg_middle { background: transparent url('dialog_bg.gif') no-repeat scroll -12px 0pt; }
.blog_bottle_status_send_ok .blog_bottle_msg_info_box, .blog_bottle_status_send_ok .blog_bottle_msg_content_box, .blog_bottle_status_send_ok .blog_bottle_msg_swf, .blog_bottle_status_send_ok .blog_bottle_msg_dotted2, .blog_bottle_status_send_ok .blog_bottle_msg_reply_title, .blog_bottle_status_send_ok .blog_bottle_login_box *, .blog_bottle_status_send_ok .blog_bottle_msg_box, .blog_bottle_status_send_ok .blog_bottle_check_box, .blog_bottle_status_send_ok .blog_bottle_msg_dotted, .blog_bottle_status_send_ok .blog_bottle_add_msg { display: none; }
.blog_bottle_status_send_ok .blog_bottle_close_btn { display: inline; }
.blog_bottle_status_send_ok .blog_bottle_btn_box { margin-bottom: 34px; margin-top: 220px; }
.blog_bottle_status_send .blog_bottle_msg_info_box, .blog_bottle_status_send .blog_bottle_msg_content_box, .blog_bottle_status_send .blog_bottle_msg_swf, .blog_bottle_status_send .blog_bottle_msg_dotted2, .blog_bottle_status_send .blog_bottle_msg_reply_title, .blog_bottle_status_send .blog_bottle_add_msg { display: none; }
.blog_bottle_status_send .blog_bottle_msg_bg_top { background: transparent url('dialog_bg.gif') no-repeat scroll -283px 0pt; }
.blog_bottle_status_send .blog_bottle_msg_bg_middle { background: transparent url('dialog_bg.gif') no-repeat scroll -823px 0pt; }
.blog_bottle_status_send .blog_bottle_send_btn, .blog_bottle_status_send .blog_bottle_cancel_btn { display: inline; }
.blog_bottle_status_send .blog_bottle_msg_content { margin-bottom: 34px; padding-top: 68px; }
.blog_bottle_status_view {  }
.blog_bottle_status_view .blog_bottle_login_box { margin: 0pt; height: 0pt; }
.blog_bottle_status_view .blog_bottle_blank_dotted { height: 10px; }
.blog_bottle_status_view .blog_bottle_msg_dotted2, .blog_bottle_status_view .blog_bottle_msg_reply_title, .blog_bottle_status_view .blog_bottle_login_left, .blog_bottle_status_view .blog_bottle_login_right, .blog_bottle_status_view .blog_bottle_msg_box, .blog_bottle_status_view .blog_bottle_check_box, .blog_bottle_status_view .blog_bottle_btn_box, .blog_bottle_status_view .blog_bottle_ad_box, .blog_bottle_status_view .blog_bottle_msg_dotted { display: none; }
